USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_LQD_DOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_LQD_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduLqdDocCod] [int] IDENTITY(1,1) NOT NULL,
	[EduLqdCod] [int] NOT NULL,
	[RefObjTyp] [nvarchar](20) NOT NULL,
	[RefObjCod001] [nvarchar](20) NOT NULL,
	[RefObjCod002] [nvarchar](20) NULL,
	[EduLqdDocCodExt] [nvarchar](20) NULL,
	[EduLqdDocTxt] [nvarchar](50) NULL,
	[EduLqdDocTot] [decimal](13, 3) NULL,
	[CurCod] [nvarchar](5) NULL,
	[EduLqdDocAtr001] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[EduLqdDocDte] [datetime] NULL,
	[EduLqdDocPrc] [decimal](18, 3) NULL,
	[EduLqdDocQty] [decimal](13, 3) NULL,
 CONSTRAINT [PK_EDU_LQD_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduLqdDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
