USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_EPS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_EPS](
	[BusCod] [nvarchar](20) NOT NULL,
	[PatEpsCod] [int] IDENTITY(1,1) NOT NULL,
	[PatCod] [int] NOT NULL,
	[CusCod] [int] NOT NULL,
	[PatInbDte] [smalldatetime] NOT NULL,
	[PatOutDte] [smalldatetime] NOT NULL,
	[CusHsp] [nvarchar](20) NULL,
	[CusDocDer] [nvarchar](30) NULL,
	[PatDiaCod] [int] NULL,
	[PatCpx] [nvarchar](50) NULL,
	[PatAflNum] [nvarchar](20) NULL,
	[PatAflPln] [nvarchar](10) NULL,
	[EvlDte] [smalldatetime] NULL,
	[EvlPlc] [nvarchar](40) NULL,
	[EvlDia] [nvarchar](4000) NULL,
	[EvlIntDayHme] [int] NULL,
	[EvlIntEstDte] [smalldatetime] NULL,
	[EvlDoc] [nvarchar](20) NULL,
	[EvlDoc001] [nvarchar](20) NULL,
	[EvlDoc002] [nvarchar](20) NULL,
	[HltDisClsCod] [int] NULL,
	[PatReqDte] [smalldatetime] NULL,
	[PatEvlDte] [smalldatetime] NULL,
	[PatCroCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PAT_EPS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PatEpsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
