USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PRS_LNS_NWS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PRS_LNS_NWS](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltLnsId] [int] NOT NULL,
	[HltNwsId] [int] NOT NULL,
	[HltLnsQtaPos] [int] NOT NULL,
	[HltLnsQtaTot] [int] NOT NULL,
 CONSTRAINT [PK_HLT_PRS_LNS_NWS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltLnsId] ASC,
	[HltNwsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
