USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[LOG_TRA]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_TRA](
	[BusCod] [nvarchar](20) NOT NULL,
	[TraCod] [int] IDENTITY(1,1) NOT NULL,
	[TraCodExt] [nvarchar](20) NULL,
	[TraDte] [smalldatetime] NOT NULL,
	[DrvCod] [int] NULL,
	[VhcCod] [int] NULL,
	[TraRouCod] [int] NULL,
	[TraCmt] [nvarchar](4000) NULL,
	[TraAtr001] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[TraDlvQty] [int] NULL,
	[TraStrDte] [datetime] NULL,
	[TraEndDte] [datetime] NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_LOG_TRA] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TraCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
