USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DOC_RMD_LOG]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DOC_RMD_LOG](
	[BusCod] [nvarchar](20) NOT NULL,
	[DocRmdLogCod] [int] IDENTITY(1,1) NOT NULL,
	[DocRmdCod] [int] NOT NULL,
	[DocRmdDte] [smalldatetime] NOT NULL,
	[DocSts] [nvarchar](20) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DOC_RMD_LOG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[DocRmdLogCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
