USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[PatCod] [int] IDENTITY(1,1) NOT NULL,
	[PatCodExt] [nvarchar](20) NULL,
	[PatTxt] [nvarchar](82) NOT NULL,
	[CusCod] [int] NOT NULL,
	[PatBrnDte] [datetime] NULL,
	[PatInbDte] [datetime] NULL,
	[PatOutDte] [datetime] NULL,
	[CusHsp] [nvarchar](20) NULL,
	[CusDocDer] [nvarchar](30) NULL,
	[PatDiaCod] [int] NULL,
	[PatCpx] [nvarchar](50) NULL,
	[PatAflNum] [nvarchar](20) NULL,
	[PatAflPln] [nvarchar](10) NULL,
	[EvlDte] [datetime] NULL,
	[EvlPlc] [nvarchar](40) NULL,
	[EvlDia] [nvarchar](400) NULL,
	[EvlIntDayHme] [int] NULL,
	[EvlIntEstDte] [datetime] NULL,
	[EvlDoc] [nvarchar](20) NULL,
	[EvlDoc001] [nvarchar](20) NULL,
	[EvlDoc002] [nvarchar](20) NULL,
	[PatCmt] [nvarchar](4000) NULL,
	[PatSex] [nvarchar](1) NULL,
	[AdrIdtTyp] [nvarchar](5) NULL,
	[AdrIdtNum] [nvarchar](10) NULL,
	[HltDisClsCod] [int] NULL,
	[PatReqDte] [datetime] NULL,
	[PatEvlDte] [datetime] NULL,
	[PatCodExt001] [nvarchar](20) NULL,
	[PatAtrVal001] [nvarchar](4000) NULL,
	[PatAtrVal002] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](1) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[PatCroCod] [int] NULL,
	[PatPro] [nvarchar](20) NULL,
	[PatWgt] [decimal](6, 3) NULL,
	[PatHgh] [decimal](6, 3) NULL,
	[HltPatClsCod] [int] NULL,
 CONSTRAINT [PK_HLT_PAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
