USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_PRC_CND_ACC_SEQ]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_PRC_CND_ACC_SEQ](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcCndAccSeqCod] [int] IDENTITY(1,1) NOT NULL,
	[PrcCndCod] [int] NOT NULL,
	[PrcCndAccSeqOrd] [int] NOT NULL,
	[PrcCndAccCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcCndAccSeqSynCod] [int] NULL,
	[PrcCndAccSeqSynPrc] [int] NULL,
 CONSTRAINT [PK_GRL_PRC_CND_ACC_SEQ] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcCndAccSeqCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
