USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_MED_AUT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_MED_AUT](
	[BusCod] [nvarchar](20) NOT NULL,
	[MedAutId] [int] IDENTITY(1,1) NOT NULL,
	[AflCod001] [nvarchar](20) NULL,
	[AflTxt001] [nvarchar](82) NULL,
	[AflCod002] [nvarchar](50) NULL,
	[AflTxt002] [nvarchar](82) NULL,
	[PrsCod] [nvarchar](20) NULL,
	[PrsTxt] [nvarchar](82) NULL,
	[MedAutCmt] [text] NULL,
	[AutDte] [datetime] NULL,
	[AutUsr] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[MedAutPrnCtr] [int] NULL,
	[SecCod] [int] NULL,
	[MedAutLog] [nvarchar](4000) NULL,
	[CrmCntCod] [int] NULL,
	[PatDia] [nvarchar](400) NULL,
 CONSTRAINT [PK_HLT_MED_AUT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MedAutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
