USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PRS_LNS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PRS_LNS](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltLnsCod] [int] IDENTITY(1,1) NOT NULL,
	[HltLnsCodExt] [nvarchar](20) NULL,
	[HltLnsTxt] [nvarchar](50) NULL,
	[PrsCod] [int] NOT NULL,
	[HltLnsDte] [datetime] NOT NULL,
	[BuyExpTypCod] [int] NOT NULL,
	[HltLnsQta] [int] NOT NULL,
	[HltLnsQtaInt] [int] NULL,
	[HltLnsQtaIntUnt] [int] NULL,
	[HltLnsQtaFrtDte] [datetime] NOT NULL,
	[HltLnsTot] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HLT_PRS_LNS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltLnsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
