USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_CSH_VAL]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_CSH_VAL](
	[BusCod] [nvarchar](20) NOT NULL,
	[CshCod] [int] NOT NULL,
	[CshValCod] [int] IDENTITY(1,1) NOT NULL,
	[PayMthCod] [nvarchar](5) NOT NULL,
	[CshValTot] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[BnkCod] [nvarchar](20) NULL,
	[BnkAccChkNum] [int] NULL,
	[BnkAccChkDte] [datetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_TSR_CSH_VAL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CshCod] ASC,
	[CshValCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
