USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_SPC_STD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_SPC_STD](
	[buscod] [nvarchar](20) NOT NULL,
	[spcstdcod] [int] IDENTITY(1,1) NOT NULL,
	[spcstdcodext] [nvarchar](20) NULL,
	[spcstdtxt] [nvarchar](50) NOT NULL,
	[spccod] [int] NOT NULL,
	[docsts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SpcStdAtr] [nvarchar](max) NULL,
	[SpcStdCmt] [nvarchar](max) NULL,
 CONSTRAINT [PK_HLT_SPC_STD] PRIMARY KEY CLUSTERED 
(
	[buscod] ASC,
	[spcstdcod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
