USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatCod] [int] IDENTITY(1,1) NOT NULL,
	[MatCodExt] [nvarchar](20) NULL,
	[MatTxt] [nvarchar](50) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[MatClsCod] [int] NULL,
	[MatUseBch] [int] NULL,
	[MatUseSer] [int] NULL,
	[MatGrsWgt] [decimal](13, 3) NULL,
	[MatNetWgt] [decimal](13, 3) NULL,
	[MatWgtUntCod] [nvarchar](5) NULL,
	[MatVol] [decimal](13, 3) NULL,
	[MatVolUntCod] [nvarchar](5) NULL,
	[MatHgt] [decimal](13, 3) NULL,
	[MatLng] [decimal](13, 3) NULL,
	[MatWdt] [decimal](13, 3) NULL,
	[MatDimUntCod] [nvarchar](5) NULL,
	[MatMinQtyDel] [decimal](13, 3) NULL,
	[MatPckDel] [decimal](13, 3) NULL,
	[MatPrc] [decimal](18, 3) NULL,
	[MatPrcCurCod] [nvarchar](5) NULL,
	[MatPrcQty] [decimal](18, 3) NULL,
	[MatPrcUntCod] [nvarchar](5) NULL,
	[MatHieCod] [int] NULL,
	[MatAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[MatStkDay] [int] NULL,
	[MatGenCod] [int] NULL,
	[MatSerDocClsCod] [int] NULL,
	[MatBchDocClsCod] [int] NULL,
 CONSTRAINT [PK_STK_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
