USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_EMP_TYP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_EMP_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[EmpTypCod] [int] IDENTITY(1,1) NOT NULL,
	[EmpTypTxt] [nvarchar](40) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
