USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_BNK_CHK]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_BNK_CHK](
	[BusCod] [nvarchar](20) NOT NULL,
	[BnkChkCod] [int] IDENTITY(1,1) NOT NULL,
	[BnkAccCod] [int] NOT NULL,
	[BnkChkFrtNum] [int] NOT NULL,
	[BnkChkQty] [int] NOT NULL,
	[BnkChkLstNum] [int] NULL,
	[BnkChkUsdNum] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_TSR_BNK_CHK] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BnkChkCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
