USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DOC_CNT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DOC_CNT](
	[BusCod] [nvarchar](20) NOT NULL,
	[GrlDocCntCod] [int] IDENTITY(1,1) NOT NULL,
	[SysDocClsCodCnt] [int] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[GrlDocCntObjTyp] [nvarchar](20) NULL,
	[GrlDocCntObjCod] [nvarchar](20) NULL,
	[GrlDocCntObjTxt] [nvarchar](82) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[GrlDocCntAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_GRL_DOC_CNT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[GrlDocCntCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
