USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_PRC_CND]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_PRC_CND](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcCndCod] [int] IDENTITY(1,1) NOT NULL,
	[PrcCndCodExt] [nvarchar](20) NULL,
	[PrcCndTxt] [nvarchar](50) NOT NULL,
	[PrcCndFrm] [nvarchar](250) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcCndCatCod] [int] NULL,
	[FinTaxTypCod] [int] NULL,
	[PrcCndAtr] [nvarchar](max) NULL,
	[PrcCndSynCod] [int] NULL,
	[PrcCndSynPrc] [int] NOT NULL,
 CONSTRAINT [PK_GRL_PRC_CND] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcCndCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
