USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_ADR]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_ADR](
	[BusCod] [nvarchar](20) NOT NULL,
	[AdrNum] [int] IDENTITY(1,1) NOT NULL,
	[AdrLstNme] [nvarchar](50) NULL,
	[AdrFrtNme] [nvarchar](50) NULL,
	[AdrNme001] [nvarchar](150) NULL,
	[AdrStrNme] [nvarchar](50) NULL,
	[AdrStrNum] [nvarchar](10) NULL,
	[AdrStrFlr] [nvarchar](5) NULL,
	[AdrStrUnt] [nvarchar](5) NULL,
	[AdrStrBld] [nvarchar](10) NULL,
	[AdrStr] [nvarchar](84) NULL,
	[AdrPstCod] [nvarchar](10) NULL,
	[AdrCty] [nvarchar](40) NULL,
	[LndTwnCod] [int] NULL,
	[AdrTwn] [nvarchar](50) NULL,
	[LndRegCod] [nvarchar](5) NULL,
	[LndCod] [nvarchar](5) NOT NULL,
	[AdrPhn001] [nvarchar](40) NULL,
	[AdrPhn002] [nvarchar](40) NULL,
	[AdrFax] [nvarchar](40) NULL,
	[AdrEml] [nvarchar](250) NULL,
	[AdrWebPge] [nvarchar](250) NULL,
	[AdrMblPhn] [nvarchar](40) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[AdrEmgPhn] [nvarchar](40) NULL,
	[LndTwnCod2] [nvarchar](5) NULL,
	[AdrZon] [nvarchar](50) NULL,
	[AdrSrcTyp] [nvarchar](20) NOT NULL,
	[AdrSrcCod] [nvarchar](20) NOT NULL,
	[AdrMapGeo] [nvarchar](50) NULL,
	[TraZonCod] [int] NULL,
	[AdrZonCod] [int] NULL,
 CONSTRAINT [PK_GRL_DAT_ADR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[AdrNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
