USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_HST_PRS_LQD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_HST_PRS_LQD](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltLqdId] [int] NOT NULL,
	[PrsCod] [int] NOT NULL,
	[PrsTxt] [nvarchar](82) NOT NULL,
	[HltLqdDte] [smalldatetime] NULL,
	[HltLqdTxt] [nvarchar](250) NULL,
	[PayTypCod] [nvarchar](20) NULL,
	[PayTypTxt] [nvarchar](40) NULL,
	[BnkCod] [int] NULL,
	[BnkTxt] [nvarchar](40) NULL,
	[BnkBch] [nvarchar](20) NULL,
	[BnkAccTyp] [nvarchar](50) NULL,
	[BnkAccNum] [nvarchar](22) NULL,
	[BnkDocTyp] [nvarchar](20) NULL,
	[BnkDocNum] [nvarchar](20) NULL,
	[BnkAccCbu] [nvarchar](22) NULL,
	[HltLqdNwsTot] [decimal](13, 3) NULL,
	[HltLqdCatPts] [int] NULL,
	[HltLqdCatPrc] [decimal](13, 3) NULL,
	[HltLqdHrsQty] [decimal](13, 2) NULL,
	[HltLqdSesQty] [decimal](13, 3) NULL,
	[HltLqdPrc] [decimal](13, 3) NULL,
	[HltLqdTot] [decimal](13, 3) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_HST_PRS_LQD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltLqdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
