USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_MED_DIA]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_MED_DIA](
	[BusCod] [nvarchar](20) NOT NULL,
	[MedDiaCod] [int] IDENTITY(1,1) NOT NULL,
	[MedDiaCodExt] [nvarchar](10) NULL,
	[MedDiaTxt] [nvarchar](40) NOT NULL,
	[MedDiaDevDay] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_MED_DIA] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MedDiaCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
