USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PLN_CTR_DTE]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PLN_CTR_DTE](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltPlnCtrCod] [int] NOT NULL,
	[HltPlnCtrDteCod] [int] IDENTITY(1,1) NOT NULL,
	[PlnId] [int] NOT NULL,
	[PlnDteId] [int] NOT NULL,
	[HltPlnCtrDte] [datetime] NULL,
	[HltPlnCtrInbDte] [datetime] NULL,
	[HltPlnCtrOutDte] [datetime] NULL,
	[HltPlnCtrTme] [decimal](5, 2) NULL,
	[HltPlnCtrQty] [int] NULL,
	[PrsCod] [int] NOT NULL,
	[HltPlnCtrCmt] [nvarchar](250) NULL,
	[HltPlnCtrInbGeo] [nvarchar](50) NULL,
	[HltPlnCtrOutGeo] [nvarchar](50) NULL,
	[HltLqdId] [int] NULL,
	[HltLqdCatPts] [int] NULL,
	[HltLqdCatPrc] [decimal](13, 3) NULL,
	[HltLqdPrc] [decimal](13, 3) NULL,
	[HltLqdSpcPrc] [decimal](13, 3) NULL,
	[HltLqdSpcPrcAdd] [decimal](13, 3) NULL,
	[SlsLqdId] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PLN_CTR_DTE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltPlnCtrCod] ASC,
	[HltPlnCtrDteCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
