USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_WMS_LOC_IND]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_WMS_LOC_IND](
	[BusCod] [nvarchar](20) NOT NULL,
	[WmsLocIndCod] [int] IDENTITY(1,1) NOT NULL,
	[WmsLocCod] [int] NOT NULL,
	[WmsIndCod] [int] NOT NULL,
	[docsts] [nvarchar](20) NOT NULL,
	[ctedte] [smalldatetime] NOT NULL,
	[cteusr] [nvarchar](20) NOT NULL,
	[upddte] [smalldatetime] NULL,
	[updusr] [nvarchar](20) NULL,
 CONSTRAINT [PK_STK_WMS_LOC_IND] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[WmsLocIndCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
