USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_BUD]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_BUD](
	[BusCod] [nvarchar](20) NOT NULL,
	[BudCod] [int] IDENTITY(1,1) NOT NULL,
	[BudTxt] [nvarchar](50) NULL,
	[SteCod] [int] NOT NULL,
	[BudVer] [int] NOT NULL,
	[BudTyp] [nvarchar](1) NULL,
	[BudDte] [smalldatetime] NOT NULL,
	[BudCmt] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_CNS_BUD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BudCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
