USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_QMS_ORD]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_QMS_ORD](
	[BusCod] [nvarchar](20) NOT NULL,
	[QmsOrdCod] [int] IDENTITY(1,1) NOT NULL,
	[QmsOrdDte] [smalldatetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[StrLocCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocTreCod] [nvarchar](2) NULL,
	[SysDocRejCod] [int] NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_STK_QMS_ORD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[QmsOrdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
