USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_TME_REG]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_TME_REG](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrTmeRegCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrTmeRegDte] [datetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod001] [nvarchar](20) NOT NULL,
	[SrcObjCod002] [nvarchar](20) NULL,
	[HhrTmeSrcTyp] [nvarchar](20) NOT NULL,
	[HhrTmeSrcCod001] [nvarchar](20) NOT NULL,
	[HhrTmeSrcCod002] [nvarchar](20) NULL,
	[HhrTmeRegQty] [decimal](13, 3) NULL,
	[HhrTmeRegAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_TME_REG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrTmeRegCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
