USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_DOC_CHG_ATR]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_CHG_ATR](
	[BusCod] [nvarchar](20) NOT NULL,
	[ChgDocCod] [int] NOT NULL,
	[ChgDocAtrCod] [int] IDENTITY(1,1) NOT NULL,
	[ChgDocAtrNme] [nvarchar](50) NOT NULL,
	[ChgDocAtrOld] [nvarchar](4000) NOT NULL,
	[ChgDocAtrNew] [nvarchar](4000) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[ChgDocAtrNew001] [nvarchar](4000) NULL,
	[ChgDocAtrNew002] [nvarchar](4000) NULL,
	[ChgDocAtrNew003] [nvarchar](4000) NULL,
	[ChgDocAtrNew004] [nvarchar](4000) NULL,
	[ChgDocAtrNew005] [nvarchar](4000) NULL,
	[ChgDocAtrNew006] [nvarchar](4000) NULL,
	[ChgDocAtrNew007] [nvarchar](4000) NULL,
	[ChgDocAtrNew008] [nvarchar](4000) NULL,
	[ChgDocAtrNew009] [nvarchar](4000) NULL,
	[ChgDocAtrOld001] [nvarchar](4000) NULL,
	[ChgDocAtrOld002] [nvarchar](4000) NULL,
	[ChgDocAtrOld003] [nvarchar](4000) NULL,
	[ChgDocAtrOld004] [nvarchar](4000) NULL,
	[ChgDocAtrOld005] [nvarchar](4000) NULL,
	[ChgDocAtrOld006] [nvarchar](4000) NULL,
	[ChgDocAtrOld007] [nvarchar](4000) NULL,
	[ChgDocAtrOld008] [nvarchar](4000) NULL,
	[ChgDocAtrOld009] [nvarchar](4000) NULL,
 CONSTRAINT [PK_SYS_DOC_CHG_ATR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[ChgDocCod] ASC,
	[ChgDocAtrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
