USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_EVL_ATR]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_EVL_ATR](
	[BusCod] [nvarchar](20) NOT NULL,
	[EvlCod] [int] NOT NULL,
	[EvlAtrCod] [int] IDENTITY(1,1) NOT NULL,
	[EvlAtrGrpCod] [int] NOT NULL,
	[MedAtrCod] [int] NOT NULL,
	[MedAtrVal001] [nvarchar](10) NULL,
	[MedAtrVal002] [nvarchar](10) NULL,
	[MedAtrVal003] [nvarchar](10) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PAT_EVL_ATR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EvlCod] ASC,
	[EvlAtrCod] ASC,
	[EvlAtrGrpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
