USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_RPT_COL]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_RPT_COL](
	[BusCod] [nvarchar](20) NOT NULL,
	[RptColCod] [int] IDENTITY(1,1) NOT NULL,
	[RptColCodExt] [nvarchar](50) NULL,
	[RptColTxt] [nvarchar](50) NOT NULL,
	[RptCod] [int] NOT NULL,
	[RptSrcColCod] [int] NOT NULL,
	[RptColAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_RPT_COL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[RptColCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
