USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_CUS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_CUS](
	[BusCod] [nvarchar](20) NOT NULL,
	[CusCod] [int] IDENTITY(1,1) NOT NULL,
	[CusCodExt] [nvarchar](20) NULL,
	[CusTxt] [nvarchar](150) NOT NULL,
	[AdrNum] [int] NULL,
	[CusCmt] [text] NULL,
	[SlsPrcLstCod] [int] NULL,
	[SlsGrpCod] [int] NULL,
	[PayTrmCod] [int] NULL,
	[CusTypCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_SLS_CUS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CusCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
