USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_LIC_CHR]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_LIC_CHR](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrLicChrCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrLicCod] [int] NOT NULL,
	[HhrChrAsgCod] [int] NOT NULL,
	[DocSts] [nvarchar](20) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HhrLicChrAtr] [nvarchar](max) NULL,
	[RelSts] [nvarchar](2) NULL,
	[RelDte] [smalldatetime] NULL,
	[RelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_LIC_CHR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrLicChrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
