USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_CNT]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_CNT](
	[BusCod] [nvarchar](20) NOT NULL,
	[CntCod] [int] IDENTITY(1,1) NOT NULL,
	[CntCodExt] [nvarchar](20) NULL,
	[CntTxt] [nvarchar](82) NOT NULL,
	[CntSrcTyp] [nvarchar](20) NOT NULL,
	[CntSrcCod] [nvarchar](20) NOT NULL,
	[CntTypCod] [nvarchar](10) NULL,
	[SysDocClsCodCnt] [int] NULL,
	[CntBrnDte] [datetime] NULL,
	[CntSec] [nvarchar](20) NULL,
	[CntRel] [nvarchar](30) NULL,
	[CntCmt] [nvarchar](255) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CntDstTyp] [nvarchar](20) NULL,
	[CntDstCod] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NULL,
 CONSTRAINT [PK_GRL_DAT_CNT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CntCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
