USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_LND_TWN]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_LND_TWN](
	[BusCod] [nvarchar](20) NOT NULL,
	[LndTwnCod] [int] IDENTITY(1,1) NOT NULL,
	[LndTwnCodExt] [nvarchar](20) NULL,
	[LndTwnTxt] [nvarchar](50) NOT NULL,
	[LndCod] [nvarchar](5) NOT NULL,
	[LndRegCod] [nvarchar](5) NOT NULL,
	[LndTwnGrpCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DAT_LND_TWN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[LndTwnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
