USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_TME_RNG]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_TME_RNG](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrTmeRngCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrTmeRngCodExt] [nvarchar](20) NULL,
	[HhrTmeRngTxt] [nvarchar](50) NOT NULL,
	[HhrTmeRngAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HhrTmeRngWekHrs] [decimal](4, 1) NULL,
	[HhrTmeRngFrq] [int] NULL,
 CONSTRAINT [PK_HHR_TME_RNG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrTmeRngCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
