USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[BUY_EXP_TYP]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_EXP_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[BuyExpTypCod] [int] IDENTITY(1,1) NOT NULL,
	[BuyExpTypCodExt] [nvarchar](20) NULL,
	[BuyExpTypTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[FinAccCod] [int] NULL,
	[BuyExpTypAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_BUY_EXP_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BuyExpTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
