USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_PRC_SCH]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_PRC_SCH](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcSchCod] [int] IDENTITY(1,1) NOT NULL,
	[PrcSchCodExt] [nvarchar](20) NULL,
	[PrcSchTxt] [nvarchar](50) NOT NULL,
	[MdlCod] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcSchSynCod] [int] NULL,
 CONSTRAINT [PK_GRL_PRC_SCH] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcSchCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
