USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[BUY_INV]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_INV](
	[BusCod] [nvarchar](20) NOT NULL,
	[BuyInvCod] [int] IDENTITY(1,1) NOT NULL,
	[BuyInvCodExt] [nvarchar](20) NULL,
	[BuyInvTxt] [nvarchar](50) NOT NULL,
	[BuyInvDte] [datetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[BuyInvTotAmt] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](9, 5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[BuyInvStrDte] [smalldatetime] NULL,
	[BuyInvEndDte] [smalldatetime] NULL,
	[RelSts] [nvarchar](2) NULL,
	[RelDte] [smalldatetime] NULL,
	[RelUsr] [nvarchar](20) NULL,
	[buyprclstcod] [int] NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
	[PayTrmCod] [int] NULL,
	[BuyInvAccDte] [smalldatetime] NULL,
 CONSTRAINT [PK_BUY_INV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BuyInvCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
