USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_STU]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_STU](
	[BusCod] [nvarchar](20) NOT NULL,
	[StuCod] [int] IDENTITY(1,1) NOT NULL,
	[StuCodExt] [nvarchar](20) NULL,
	[StuTxt] [nvarchar](82) NOT NULL,
	[CusCod] [int] NULL,
	[StuBrnDte] [datetime] NULL,
	[StuInbDte] [datetime] NULL,
	[StuOutDte] [datetime] NULL,
	[StuCmt] [nvarchar](4000) NULL,
	[StuSex] [nvarchar](1) NULL,
	[StuReqDte] [datetime] NULL,
	[StuEvlDte] [datetime] NULL,
	[StuAtrVal001] [nvarchar](4000) NULL,
	[StuAtrVal002] [nvarchar](4000) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[DocSts] [nvarchar](1) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[StuMedCovCod] [int] NULL,
	[StuMedCovNum] [nvarchar](20) NULL,
	[StuMedCovPln] [nvarchar](20) NULL,
 CONSTRAINT [PK_EDU_STU] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StuCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
