USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_QMS_PRF]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_QMS_PRF](
	[BusCod] [nvarchar](20) NOT NULL,
	[QmsPrfCod] [int] IDENTITY(1,1) NOT NULL,
	[QmsPrfCodExt] [nvarchar](20) NULL,
	[QmsPrfTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_STK_QMS_PRF] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[QmsPrfCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
