USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[ADM_BUS]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_BUS](
	[BusCod] [nvarchar](20) NOT NULL,
	[BusCodExt] [nvarchar](20) NULL,
	[BusTxt] [nvarchar](50) NOT NULL,
	[AdrNum] [int] NULL,
	[BusActStr] [datetime] NULL,
	[BusCmt] [nvarchar](max) NULL,
	[CurCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[BusAtr] [nvarchar](max) NULL,
	[LngCod] [nvarchar](20) NULL,
	[HhrOrgChtCod] [int] NULL,
 CONSTRAINT [PK_ADM_BUS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
