USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_OUT_RSN]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_OUT_RSN](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrOutRsnCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrOutRsnCodExt] [nvarchar](20) NOT NULL,
	[HhrOutRsnTxt] [nvarchar](50) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_OUT_RSN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrOutRsnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
