USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_HST_PRS_LQD_GRP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_HST_PRS_LQD_GRP](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltLqdGrpId] [int] NOT NULL,
	[HltLqdTxt] [nvarchar](250) NULL,
	[HltLqdDte] [datetime] NULL,
	[HltLqdTot] [decimal](13, 3) NOT NULL,
	[HltLqdDteFrm] [datetime] NOT NULL,
	[HltLqdDteTo] [datetime] NOT NULL,
	[PrsCodFrm] [int] NULL,
	[PrsCodTo] [int] NULL,
	[PayTypCod] [nvarchar](20) NULL,
	[BnkCod] [int] NULL,
	[BnkAccCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_HST_PRS_LQD_GRP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltLqdGrpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
