USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_PRC_SCH_CND]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_PRC_SCH_CND](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcSchCndCod] [int] IDENTITY(1,1) NOT NULL,
	[PrcSchCod] [int] NOT NULL,
	[PrcCndCod] [int] NOT NULL,
	[PrcSchCndRow] [int] NOT NULL,
	[PrcSchCndRowStr] [int] NULL,
	[PrcSchCndRowEnd] [int] NULL,
	[PrcCndForCod] [int] NULL,
	[PrcSchCndMan] [nvarchar](3) NULL,
	[FinAccCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcCndTtl] [nvarchar](50) NULL,
	[PrcSchCndStd] [nvarchar](1) NULL,
	[PrcSchCndSynCod] [int] NULL,
 CONSTRAINT [PK_GRL_PRC_SCH_CND] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcSchCndCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
