USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DOC_STS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DOC_STS](
	[BusCod] [nvarchar](20) NOT NULL,
	[GrlDocStsCod] [int] IDENTITY(1,1) NOT NULL,
	[ObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[SrcPosCod] [int] NOT NULL,
	[SrcObjQty] [decimal](13, 3) NULL,
	[SrcObjTotAmt] [decimal](13, 3) NULL,
	[SrcObjRstQty] [decimal](13, 3) NULL,
	[SrcObjRstTotAmt] [decimal](13, 3) NULL,
	[SysDocStsCod] [int] NOT NULL,
	[SysDocTreCod] [int] NOT NULL,
	[SysDocRejCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DOC_STS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[GrlDocStsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
