USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_LST_MAT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_LST_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatLstMatCod] [int] IDENTITY(1,1) NOT NULL,
	[MatLstCod] [int] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[MatQty] [decimal](13, 3) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_STK_MAT_LST_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatLstMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
