USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_STK_LVL]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_STK_LVL](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkMatLvlCod] [int] IDENTITY(1,1) NOT NULL,
	[StkObjTyp] [nvarchar](20) NOT NULL,
	[StkObjCod] [int] NOT NULL,
	[StkCntCod] [int] NULL,
	[MatCod] [int] NOT NULL,
	[StkMatLvlMax] [decimal](13, 3) NULL,
	[StkMatLvlMin] [decimal](13, 3) NULL,
	[StkMatLvlMip] [decimal](13, 3) NULL,
	[StkMatLvlRes] [decimal](13, 3) NULL,
	[StkMatLvlRep] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_STK_MAT_STK_LVL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkMatLvlCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
