USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_BNK_TJT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_BNK_TJT](
	[BusCod] [nvarchar](20) NOT NULL,
	[BnkTjtCod] [int] IDENTITY(1,1) NOT NULL,
	[BnkTjtCodExt] [nvarchar](6) NULL,
	[BnkTjtTxt] [nvarchar](50) NOT NULL,
	[BnkTjtStrDte] [smalldatetime] NOT NULL,
	[BnkTjtEndDte] [smalldatetime] NOT NULL,
	[BnkTjtTyp] [nvarchar](2) NOT NULL,
	[BnkTjtSrcCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_TSR_BNK_TJT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BnkTjtCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
