USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PLN]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PLN](
	[BusCod] [nvarchar](20) NOT NULL,
	[PlnId] [int] IDENTITY(1,1) NOT NULL,
	[CusCod] [int] NOT NULL,
	[PatCod] [nvarchar](20) NOT NULL,
	[PrsCod] [int] NOT NULL,
	[SpcCod] [int] NOT NULL,
	[PlnYth] [int] NOT NULL,
	[PlnMth] [int] NOT NULL,
	[SerId] [nvarchar](100) NULL,
	[SerCfg] [int] NULL,
	[PlnCmt] [nvarchar](250) NULL,
	[DocSts] [nvarchar](1) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[GrpSerId] [int] NULL,
	[PlnDte] [datetime] NULL,
	[PlnDteTo] [datetime] NULL,
	[DelCod] [int] NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HLT_PLN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PlnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
