USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_TAX_CAT]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_TAX_CAT](
	[LndCod] [nvarchar](5) NOT NULL,
	[TaxCatCod] [nvarchar](10) NOT NULL,
	[TaxCatTxt] [nvarchar](50) NOT NULL,
	[TaxCatDsc] [int] NOT NULL,
	[TaxCatFct001] [decimal](10, 3) NULL,
	[TaxCatFct002] [decimal](10, 3) NULL,
	[DocSts] [nvarchar](1) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_TAX_CAT] PRIMARY KEY CLUSTERED 
(
	[LndCod] ASC,
	[TaxCatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
