USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PRS_CAT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PRS_CAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrsCod] [int] NOT NULL,
	[HltPrsCatCod] [int] IDENTITY(1,1) NOT NULL,
	[HltCatCod] [int] NOT NULL,
	[HltCatValCod] [int] NOT NULL,
	[HltCatStrDte] [datetime] NOT NULL,
	[HltCatEndDte] [datetime] NOT NULL,
	[HltCatVal] [int] NULL,
	[HltCatPts] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PRS_CAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrsCod] ASC,
	[HltPrsCatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
