USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_ACC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_ACC](
	[BusCod] [nvarchar](20) NOT NULL,
	[FinAccCod] [int] IDENTITY(1,1) NOT NULL,
	[FinAccCodExt] [nvarchar](20) NULL,
	[FinAccTxt] [nvarchar](80) NOT NULL,
	[FinAccClsCod] [nvarchar](2) NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[FinAccTxtExt] [nvarchar](250) NULL,
	[FinAccTot] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[FinAccAtr] [nvarchar](4000) NULL,
 CONSTRAINT [PK_FIN_ACC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FinAccCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
