USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_MED_COV]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_MED_COV](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrMedCovCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrMedCovCodExt] [nvarchar](20) NULL,
	[HhrMedCovTxt] [nvarchar](400) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HhrMedCovTxtSht] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[HhrMedCovSynCod] [int] NULL,
 CONSTRAINT [PK_HHR_MED_COV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrMedCovCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
