USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[LOG_VHC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_VHC](
	[BusCod] [nvarchar](20) NOT NULL,
	[VhcCod] [int] IDENTITY(1,1) NOT NULL,
	[VhcCodExt] [nvarchar](10) NOT NULL,
	[VhcTxt] [nvarchar](50) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[VhcClsCod] [int] NULL,
	[VhcAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOG_VHC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[VhcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
