USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_ACC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_ACC](
	[BusCod] [nvarchar](20) NOT NULL,
	[AccNum] [int] IDENTITY(1,1) NOT NULL,
	[FinAccCod] [int] NOT NULL,
	[AccSrcTyp] [nvarchar](20) NOT NULL,
	[AccSrcCod] [nvarchar](10) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DAT_FIN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[AccNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
