USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_AGR]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_AGR](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrAgrCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrAgrCodExt] [nvarchar](20) NULL,
	[HhrAgrTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[HhrAgrSynCod] [int] NULL,
 CONSTRAINT [PK_HHR_AGR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrAgrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
