USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[ADM_CUR]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_CUR](
	[CurCodInt] [int] IDENTITY(1,1) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurTxt] [nvarchar](80) NOT NULL,
	[CurTxtMed] [nvarchar](40) NULL,
	[CurTxtSht] [nvarchar](10) NULL,
	[CurSgn] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CurDec] [int] NULL,
 CONSTRAINT [PK_ADM_CUR] PRIMARY KEY CLUSTERED 
(
	[CurCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
