USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[BUY_EXP_DOC_IMP]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_EXP_DOC_IMP](
	[BusCod] [nvarchar](20) NOT NULL,
	[BuyExpCod] [int] NOT NULL,
	[BuyExpDocCod] [int] NOT NULL,
	[BuyExpDocImpCod] [int] IDENTITY(1,1) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NULL,
	[SrcObjCod001] [nvarchar](20) NULL,
	[SrcObjCod002] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[BuyExpDocImpQty] [decimal](13, 3) NULL,
 CONSTRAINT [PK_BUY_EXP_DOC_IMP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BuyExpCod] ASC,
	[BuyExpDocCod] ASC,
	[BuyExpDocImpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
