USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_PRS_LQD]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_PRS_LQD](
	[BusCod] [nvarchar](20) NOT NULL,
	[CnsPrsLqdCod] [int] IDENTITY(1,1) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod001] [int] NOT NULL,
	[SrcObjTxt] [nvarchar](82) NOT NULL,
	[CnsPrsLqdDte] [smalldatetime] NULL,
	[CnsPrsLqdTxt] [nvarchar](50) NULL,
	[CnsPrsLqdStrDte] [smalldatetime] NOT NULL,
	[CnsPrsLqdEndDte] [smalldatetime] NOT NULL,
	[CnsPrsLqdTot] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CnsPrsLqdAtr001] [nvarchar](max) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_CNS_PRS_LQD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CnsPrsLqdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
