USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_MOD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_MOD](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltPatModCod] [int] IDENTITY(1,1) NOT NULL,
	[PatCod] [int] NOT NULL,
	[HltModCod] [int] NOT NULL,
	[HltPatModStrDte] [datetime] NULL,
	[HltPatModEndDte] [datetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HltPatModAut] [nvarchar](50) NULL,
	[HltPatModCmt] [nvarchar](4000) NULL,
 CONSTRAINT [PK_HLT_PAT_MOD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltPatModCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
