USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GAS_SLN]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAS_SLN](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlnCod] [int] IDENTITY(1,1) NOT NULL,
	[SlnCodExt] [nvarchar](20) NULL,
	[SlnTxt] [nvarchar](50) NOT NULL,
	[SlnTyp] [nvarchar](2) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[StrLocCod] [int] NULL,
	[CusCod] [int] NULL,
	[SlsPrcLstCod] [int] NULL,
	[SysDocClsCod_Ord] [int] NULL,
	[SysDocClsCod_Stk] [int] NULL,
 CONSTRAINT [PK_GAS_SLN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
