USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_DOC_CLS]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_CLS](
	[BusCod] [nvarchar](20) NOT NULL,
	[SysDocClsCod] [int] IDENTITY(1,1) NOT NULL,
	[SysDocClsCodExt] [nvarchar](10) NULL,
	[SysDocClsTxt] [nvarchar](50) NOT NULL,
	[DocRngCodInt] [int] NULL,
	[DocRngCodExt] [int] NULL,
	[AutCod] [nvarchar](5) NULL,
	[SysDocClsAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[ObjTyp] [nvarchar](20) NOT NULL,
	[SysDocClsSynCod] [int] NULL,
	[SysDocClsAtrUsr] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYS_DOC_CLS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SysDocClsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
