USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PLN_DTE]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PLN_DTE](
	[BusCod] [nvarchar](20) NOT NULL,
	[PlnId] [int] NOT NULL,
	[PlnDteId] [int] IDENTITY(1,1) NOT NULL,
	[PlnDte] [datetime] NOT NULL,
	[PlnInbDte] [datetime] NOT NULL,
	[PlnOutDte] [datetime] NOT NULL,
	[PlnQty] [int] NULL,
	[PlnTme] [decimal](5, 2) NULL,
	[PlnCnfDte] [smalldatetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[PatNtfDte] [smalldatetime] NULL,
	[PrsNtfDte] [smalldatetime] NULL,
	[PlnDteAtr] [nvarchar](4000) NULL,
 CONSTRAINT [PK_HLT_PLN_DTE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PlnId] ASC,
	[PlnDteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
