USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_CUR_PLN]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_CUR_PLN](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduCurPlnCod] [int] IDENTITY(1,1) NOT NULL,
	[EduCurCod] [int] NOT NULL,
	[EduCarCod] [int] NOT NULL,
	[EduCouCod] [int] NOT NULL,
	[EduSubCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
