USE [tmssSysPrd]
GO
/****** Objeto: UserDefinedFunction [dbo].[ConvertUnit] Fecha de script: 07/09/2026 17:02:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Dominguez, Martin
-- Create date: 20.11.2012
-- Description:	Convierte una cantidad desde una unidad de medida a otra
-- =============================================
CREATE FUNCTION [dbo].[ConvertUnit] ( 
	@lp_qty decimal(13,3),
	@lp_src as nvarchar(5),
	@lp_tgt as nvarchar(5)
)
RETURNS decimal(13,3)
AS
BEGIN
	declare @lv_tot as decimal(13,3)
	declare @lv_srcqty as decimal(13,3)
	declare @lv_tgtqty as decimal(13,3)

	if @lp_src = @lp_tgt
		begin
			set @lv_tot = @lp_qty
		end
	else
		begin
			if not (select top 1 matunttypcod from stk_mat_unt where matuntcod=@lp_src)=(select top 1 matunttypcod from stk_mat_unt where matuntcod=@lp_tgt)
				set @lv_tot = null
			else
				begin
					set @lv_srcqty = (select top 1 matuntqty from stk_mat_unt where matuntcod=@lp_src)
					set @lv_tgtqty = (select top 1 matuntqty from stk_mat_unt where matuntcod=@lp_tgt)
					set @lv_tot = @lp_qty * @lv_srcqty / @lv_tgtqty
				end
		end
				
	-- Return the result of the function
	RETURN @lv_tot

END




GO
