USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_OBJ_CLS_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_OBJ_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_sysobjclscod		as int			= null,	-- id
@lp_sysobjclscodext	as nvarchar(20)	= null,	-- codigo
@lp_sysobjclstxt		as nvarchar(50)	= null,	-- descripcion
@lp_sysobjclstyp		as nvarchar(20)	= null,	-- tipo
@lp_sysobjclspth		as nvarchar(400)= null,	-- path
@lp_sysobjclsfleext as nvarchar(20) = null,	-- extension de archivo
@lp_sysobjclssys		as int			= null,	-- sistema (indica si los objetos son de sistema -db central-)
@lp_docsts 			as nvarchar(02)	= null, -- estado

@lp_vewcfg			as nvarchar(max)= null	-- configuraciÃ³n vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
	
	
-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11','02','12')
	BEGIN

		-- valido cÃ³digo duplicado
		if not isnull(@lp_sysobjclscodext,'')=''
			IF exists(select top 1 * from SYS_OBJ_CLS where not sysobjclscod=@lp_sysobjclscod and sysobjclscodext=@lp_sysobjclscodext)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente' as errtxt
					RETURN
				END
		
	END	


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO SYS_OBJ_CLS (sysobjclscodext, sysobjclstxt, sysobjclstyp, sysobjclspth, sysobjclsfleext, sysobjclssys, docsts, cteusr, ctedte) 
		VALUES (@lp_sysobjclscodext, @lp_sysobjclstxt, @lp_sysobjclstyp, @lp_sysobjclspth, @lp_sysobjclsfleext, @lp_sysobjclssys, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod = @@ERROR
		SET @lp_sysobjclscod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysobjclscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02','12')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_OBJ_CLS 
		SET sysobjclscodext = @lp_sysobjclscodext,
			sysobjclstxt = @lp_sysobjclstxt,
			sysobjclstyp = @lp_sysobjclstyp, 
			sysobjclspth = @lp_sysobjclspth,
			sysobjclsfleext = @lp_sysobjclsfleext,
			sysobjclssys = @lp_sysobjclssys,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE sysobjclscod=@lp_sysobjclscod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysobjclscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('03','13')
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM SYS_OBJ_CLS c
		WHERE c.sysobjclscod=@lp_sysobjclscod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04','14')
	BEGIN
		SET @lv_validop = 1    

		if(exists(select top 1 * from SYS_OBJ where SysObjClsCod=@lp_sysobjclscod))
			begin
				select null, -1 as errcod, 'No se puede borrar. Existen objetos asociados.' as errtxt
				RETURN
			end

		BEGIN TRAN

		DELETE FROM SYS_OBJ_CLS WHERE sysobjclscod=@lp_sysobjclscod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysobjclscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('08','18')
	BEGIN
		SET @lv_validop = 1   

		-- 	SYS_OBJ_CLS_DEF '18','MDOMINGUEZ','','','','','<view><vewflt></vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>51</vewmax><vewpge></vewmax><extra></extra></view>'
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' c.* ', ' SYS_OBJ_CLS c ', ' 1=1 ', default, default)
		execute( @lv_sql )
		
	END
	
	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
