USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[HLT_ARG_TRZ_ATP_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[HLT_ARG_TRZ_ATP_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_AgtTypCod		as int			= null,		/* id tipo agente */
@lp_AgtTypTxt		as nvarchar(40) = null,		/* descripción */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* configuracion vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_ARG_TRZ_ATP (AgtTypcod, AgtTypTxt, docsts, ctedte, cteusr)
		VALUES (@lp_AgtTypcod, @lp_AgtTypTxt, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtTypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_ARG_TRZ_ATP
		SET AgtTypTxt = @lp_AgtTypTxt,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE AgtTypcod = @lp_AgtTypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtTypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM HLT_ARG_TRZ_ATP
		WHERE AgtTypCod = @lp_AgtTypCod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* borro chequera */
		/*
		DELETE
		FROM HLT_ARG_TRZ_AGT_TYP
		WHERE AgtTypCod=@lp_AgtTypCod
		SET @lv_errcod=@@ERROR
		  					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		*/
		SELECT @lp_AgtTypCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * FROM HLT_ARG_TRZ_ATP '
			+ ' WHERE 1=1'
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'AgtTypTxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
