USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_LOG_SQL_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_APP_LOG_SQL_DEF]
	@lp_username	as nvarchar(20),		-- id usuario
	@lp_buscod		as nvarchar(20),		-- id empresa
  @lp_data			as nvarchar(max)=null	-- datos adicionales
AS
SET NOCOUNT ON

BEGIN TRY
    -- Insert error details into the ErrorLog table
    INSERT INTO SYS_APP_LOG_SQL (ctedte, cteusr, buscod, ErrorNumber, ErrorSeverity, ErrorState, ErrorProcedure, ErrorLine, ErrorMessage, data)
    VALUES (getdate(), @lp_username, @lp_buscod,
        ERROR_NUMBER(),
        ERROR_SEVERITY(),
        ERROR_STATE(),
        ERROR_PROCEDURE(),
        ERROR_LINE(),
        ERROR_MESSAGE(),
        @lp_data 
    );
    
END TRY
BEGIN CATCH
    -- Handle any errors that occur while logging the error
    PRINT 'Error occurred while logging the error.';
END CATCH
GO
