USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SLS_CUS_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SLS_CUS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_cuscod 			as nvarchar(20)	= null,	-- codigo 
@lp_custxt			as nvarchar(150)	= null,	-- descripciÃ³n 
@lp_cuscmt			as nvarchar(4000)=null,-- comentarios 
@lp_docsts 			as nvarchar(1)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista 

@lp_cuscodext		as nvarchar(20)	= null,	-- codigo externo 
@lp_slsprclstcod	as int			= null,	-- lista precios - codigo 
@lp_slsgrpcod		as int			= null,	-- grupo de vendedores - codigo 
@lp_paytrmcod		as int			= null,	-- condiciÃ³n de venta - codigo 

@lp_sysdocclscod	as int			= null	-- ID Clase de Documento 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Codigo duplicado													
--	-2	Codigo de lista de precios inexistente.								
-- ------------------------------------------------------------------------ 



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	
		if not @lp_cuscodext=''
			if exists(select top 1 * from sls_cus where buscod=@lp_buscod and not cuscod=@lp_cuscod and cuscodext=@lp_cuscodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

		if not isnull(@lp_slsprclstcod,0)=0
			if not exists(select top 1 * from sls_prc where buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod)
				begin
					select 0, -2 as errcod, 'Codigo de lista de precios inexistente.' as errtxt
					return
				end
				
	END
	
	
	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO SLS_CUS (buscod, custxt, cuscmt, cuscodext, slsprclstcod, slsgrpcod, paytrmcod,  
		sysdocclscod, 
		docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_custxt, @lp_cuscmt, @lp_cuscodext, @lp_slsprclstcod, @lp_slsgrpcod, @lp_paytrmcod,  
		@lp_sysdocclscod, 
		@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_cuscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cuscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SLS_CUS 
		SET	custxt = @lp_custxt,
			cuscmt = @lp_cuscmt,
			cuscodext=@lp_cuscodext,
			slsprclstcod=@lp_slsprclstcod,
			slsgrpcod=@lp_slsgrpcod,
			paytrmcod=@lp_paytrmcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and cuscod = @lp_cuscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cuscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT c.* , 
		a.adrnum, a.adrstr, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon, a.adrmapgeo, a.adrtwn, 
		lt.lndtwntxt, l.lndtxt, lr.lndregtxt,
		t.TaxNum, t.taxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum,
		f.taxcattxt,
		b.BnkNum, b.BnkCod, b.BnkAccCBU, b.bnkacccbuals, b.BnkBch, b.BnkAccNum, b.BnkAccTyp, b.PayMthCod, 
		k.bnktxt,
		pl.slsprclsttxt, sg.slsgrptxt, pt.paytrmtxt,
		sd.sysdocclstxt
		FROM SLS_CUS c 
			left join grl_dat_adr a on a.buscod=c.buscod and a.adrsrctyp='SLS_CUS' and a.adrsrccod=c.cuscod
			left join grl_dat_lnd l on l.lndcod=a.lndcod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod
			left join grl_dat_tax t on t.buscod=c.buscod and t.taxsrctyp='SLS_CUS' and t.taxsrccod=c.cuscod
			left join fin_tax_cat f on f.lndcod=a.lndcod and f.taxcatcod = t.taxcatcod
			left join grl_dat_bnk b on b.buscod=c.buscod and b.bnksrctyp='SLS_CUS' and b.bnksrccod=c.cuscod
			left join tsr_bnk k on k.buscod=b.buscod and k.bnkcod=b.bnkcod
			left join sls_prc pl on pl.buscod=c.buscod and pl.slsprclstcod=c.slsprclstcod
			left join sls_grp sg on sg.buscod=c.buscod and sg.slsgrpcod=c.slsgrpcod
			left join fin_pay_trm pt on pt.buscod=c.buscod and pt.paytrmcod=c.paytrmcod
			left join sys_doc_cls sd on sd.buscod=c.buscod and sd.sysdocclscod=c.sysdocclscod
		WHERE c.buscod=@lp_buscod
		  and c.cuscod = @lp_cuscod
		
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1 

-- integraciÃ³n con HLT - verificar que no existan pacientes relacionados 
-- integraciÃ³n con STK - verificar que no existan movimientos asociados 
-- facturaciÃ³n - verificar que no existan pedidos / facturas relacionadas 

--
		IF exists(select top 1 * from hlt_pat where buscod=@lp_buscod and cuscod=@lp_cuscod)
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar el cliente. Existen pacientes asociados.' as errtxt
				RETURN
			END 
 
		BEGIN TRAN
		
		-- borro datos de impuestos 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='SLS_CUS'
				  and taxsrccod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro datos de banco 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='SLS_CUS'
				  and bnksrccod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro direcciones de contactos 
		--
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrnum in (select adrnum from grl_dat_cnt where buscod=@lp_buscod and cntsrctyp='SLS_CUS' and cntsrccod=@lp_cuscod)
				SET @lv_errcod=@@ERROR
			END
					
		-- borro contactos 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_CNT 
				WHERE buscod=@lp_buscod
				  and cntsrctyp='SLS_CUS'
				  and cntsrccod= @lp_cuscod
				SET @lv_errcod=@@ERROR
			END
							
		-- borro datos de direcciÃ³n del cliente 
		IF @lv_errcod=0	
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrsrctyp='SLS_CUS' 
				  and adrsrccod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro cliente 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_CUS 
				WHERE buscod=@lp_buscod
				  and cuscod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cuscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' c.* ', ' sls_cus c ', '1=1', ' c.custxt ', default )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
