USE [tmssSysPrd]
GO
/****** Objeto: UserDefinedFunction [dbo].[GetVewTag] Fecha de script: 07/09/2026 17:02:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dominguez, Ignacio
-- Create date: 31.03.2011
-- Description:	Obtener el valor de un tag contenido en una cadena de texto
-- =============================================
CREATE FUNCTION [dbo].[GetVewTag] 
( @lp_strval as nvarchar(4000),
  @lp_tagval as nvarchar(4000)
)
RETURNS nvarchar(4000)
AS
BEGIN

	return (case when @lp_tagval='' then '' else @lp_strval+@lp_tagval end)
	
END






GO
