USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_FNC_SUB_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_FNC_SUB_DEF]

@lp_sysoperation    as nvarchar(2),-- operaciÃ³n
@lp_username        as nvarchar(20),-- operaciÃ³n - usuario
@lp_sysfncsubcod    as int = null, -- id
@lp_sysfnccod       as int = null, -- id funcionalidad
@lp_cuscod          as int = null, -- id cliente
@lp_cuscodext       as nvarchar(20) = null, -- id cliente - codigo externo
@lp_sysfncsubstrdte as nvarchar(14) = null, -- fecha inicio
@lp_sysfncsubenddte as nvarchar(14) = null, -- fecha fin
@lp_docsts          as nvarchar(02) = null, -- estado
@lp_vewcfg                 as nvarchar(max)=null      -- config vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sysfncsubstrdte as datetime = dbo.ConvertDate( @lp_sysfncsubstrdte )
DECLARE @lv_sysfncsubenddte as datetime = dbo.ConvertDate( @lp_sysfncsubenddte )

DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
    BEGIN
	    SET @lv_validop = 1

		BEGIN TRAN

		INSERT INTO SYS_FNC_SUB (SysFncCod, cuscod, SysFncSubStrDte, SysFncSubEndDte, docsts, ctedte, cteusr)
		VALUES(@lp_sysfnccod, @lp_cuscod, @lv_sysfncsubstrdte, @lv_sysfncsubenddte, @lp_docsts, getdate(), @lp_username)
		SET @lp_sysfncsubcod=@@IDENTITY
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
		  COMMIT TRAN
		ELSE
		  ROLLBACK TRAN

		SELECT @lp_sysfncsubcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END

-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
  BEGIN
    SET @lv_validop = 1

    BEGIN TRAN

    UPDATE SYS_FNC_SUB
    SET SysFncSubStrDte = @lv_sysfncsubstrdte,
        SysFncSubEndDte = @lv_sysfncsubenddte,
        docsts = @lp_docsts,
        upddte = getdate(),
        updusr = @lp_username
    WHERE sysfncsubcod=@lp_sysfncsubcod
    SET @lv_errcod = @@ERROR

    IF @lv_errcod=0
        COMMIT TRAN
    ELSE
       ROLLBACK TRAN

    SELECT @lp_sysfncsubcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
  END

-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
  BEGIN
    SET @lv_validop = 1

    SELECT *
    FROM SYS_FNC_SUB
    WHERE sysfncsubcod = @lp_sysfncsubcod

  END

-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------

IF @lp_sysoperation = '04' or @lp_sysoperation='14'
  BEGIN
    SET @lv_validop = 1

    BEGIN TRAN

    DELETE SYS_FNC_SUB
    WHERE sysfncsubcod=@lp_sysfncsubcod
    SET @lv_errcod = @@ERROR

    IF @lv_errcod=0
        COMMIT TRAN
    ELSE
        ROLLBACK TRAN

    SELECT @lp_sysfncsubcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
  END

-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
  BEGIN
    SET @lv_validop = 1

    -- sys_fnc_sub_def '08','mdominguez'

    set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
     + ' s.*, f.mdlcod, f.sysfnccodext, f.sysfnctxt, f.sysfncttl, f.sysfncdes, c.custxt '
      + ' FROM SYS_FNC_SUB s '
      + ' inner join SYS_FNC f on f.sysfnccod=s.sysfnccod '
      + ' inner join SLS_CUS c on c.buscod='+QUOTENAME('TEMASIS','''') +' and c.cuscod=s.cuscod '
      + ' WHERE 1=1 '
      + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
      + dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
    execute( @lv_sql )

  END


-- ------------------------------------------------------------------------
--   1 9    -    L I S T A R      PROGRAMAS    S U S C R I T O S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '19'
  BEGIN
    SET @lv_validop = 1

    -- sys_fnc_sub_def '19','mdominguez',null,null,null,'TEMASIS'

    set @lv_sql = 'SELECT DISTINCT m.codmdl as mdlcod, m.desMDL as mdltxt, m.ObjOrd as mdlord, m.mdlpic, '
      + ' p.codprg as prgcod, p.desPRG as prgtxt, p.objord as prgord, p.PRGFrmDat as prgfrm, p.PRGPictName as prgpic, p.codmdl + '+QUOTENAME('.','''')+' + p.PRGMnuChl as prgmnuchl, p.codmdl + '+QUOTENAME('.','''')+' + p.PRGMnuPar as prgmnupar, p.VewCod, p.PrgTypCod, p.PrgMnuHde '
      + ' FROM sys_app_mdl m '
      + ' inner join sys_app_prg p on p.codMDL=m.codMDL '
      + ' left join sys_sec_opr o on o.codMDL=m.codMDL and o.codPRG=p.codPRG '
      + ' left join SYS_FNC_PRG fp on fp.MdlCod=o.codMDL and fp.PrgCod=o.codPRG and fp.OprCod=o.codOPR '
      + ' left join SYS_FNC_SUB fs on fs.SysFncCod=fp.SysFncCod '
      + ' WHERE m.docsts='+QUOTENAME('A','''')
      + ' and p.docsts='+QUOTENAME('A','''')
      + ' and ( (o.docsts='+QUOTENAME('A','''')
      + ' and getdate() between fs.sysfncsubstrdte and fs.sysfncsubenddte '
      + ' and fs.cuscod=(select top 1 c.CusCod from sls_cus c where c.buscod='+QUOTENAME('TEMASIS','''')+' and c.docsts='+QUOTENAME('A','''')+' and c.cuscodext='+QUOTENAME(@lp_cuscodext,'''')+' ) ) '
      + ' or p.prgtypcod=2 or p.prgtypcod=3 ) '
      + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
      + dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' m.ObjOrd, p.OBJOrd ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
    execute( @lv_sql )

  END

-- ------------------------------------------------------------------------
--   28    -    L I S T A R      PROGRAMAS/OPERACIONES      S U S C R I T O S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '28'
  BEGIN
    SET @lv_validop = 1

    -- sys_fnc_sub_def '28','mdominguez',null,null,null,'TEMASIS'

    set @lv_sql = 'SELECT DISTINCT m.codmdl as mdlcod, m.desMDL as mdltxt, m.ObjOrd as mdlord, m.mdlpic, '
      + ' p.codprg as prgcod, p.desPRG as prgtxt, p.objord as prgord, p.PRGFrmDat as prgfrm, p.PRGPictName as prgpic, p.codmdl + '+QUOTENAME('.','''')+' + p.PRGMnuChl as prgmnuchl, p.codmdl + '+QUOTENAME('.','''')+' + p.PRGMnuPar as prgmnupar, p.VewCod, p.PrgTypCod, p.PrgMnuHde, '
      + ' o.codOPR as oprcod, o.OprTxt, o.OprPctNme as oprpic, o.OprShwInGrd as oprshwgrd '
      + ' FROM sys_app_mdl m '
      + ' inner join sys_app_prg p on p.codMDL=m.codMDL '
      + ' left join sys_sec_opr o on o.codMDL=m.codMDL and o.codPRG=p.codPRG '
      + ' left join SYS_FNC_PRG fp on fp.MdlCod=o.codMDL and fp.PrgCod=o.codPRG and fp.OprCod=o.codOPR '
      + ' left join SYS_FNC_SUB fs on fs.SysFncCod=fp.SysFncCod '
	  + ' left join SYS_FNC f on f.SysFncCod=fs.SysFncCod '
      + ' WHERE m.docsts='+QUOTENAME('A','''')
      + ' and p.docsts='+QUOTENAME('A','''')
      + ' and ( (o.docsts='+QUOTENAME('A','''')
      + ' and getdate() between fs.sysfncsubstrdte and fs.sysfncsubenddte '
      + ' and fs.cuscod=(select top 1 c.CusCod from sls_cus c where c.buscod='+QUOTENAME('TEMASIS','''')+' and c.docsts='+QUOTENAME('A','''')+' and c.cuscodext='+QUOTENAME(@lp_cuscodext,'''')+' ) ) '
      + ' or p.prgtypcod=2 or p.prgtypcod=3 ) '
      + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
      + dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' m.ObjOrd, p.OBJOrd ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )    
    execute( @lv_sql )

  END

IF @lv_validop = 0      --   C O D I G O    O P E R A C I O N    I N V A L I D O  
    BEGIN           
        RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
    END

GO
