USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[HLT_ARG_TRZ_EVT_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[HLT_ARG_TRZ_EVT_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_TrzEvtCod		as int			= null,		/* id tipo agente */
@lp_TrzEvtTxt		as nvarchar(40) = null,		/* descripción */
@lp_AgtTypCodInf	as int			= null,		/* agente - informante */
@lp_AgtTypCodSrc	as int			= null,		/* agente - origen */
@lp_AgtTypCodDst	as int			= null,		/* agente - destino */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* configuracion vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_ARG_TRZ_EVT_TYP (TrzEvtCod, TrzEvtTxt, AgtTypCodInf, AgtTypCodSrc, AgtTypCodDst, docsts, ctedte, cteusr)
		VALUES (@lp_TrzEvtCod, @lp_TrzEvtTxt, @lp_AgtTypCodInf, @lp_AgtTypCodSrc, @lp_AgtTypCodDst, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_TrzEvtCod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_TrzEvtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_ARG_TRZ_EVT
		SET TrzEvtTxt = @lp_TrzEvtTxt,
			AgtTypCodInf = @lp_AgtTypCodInf,
			AgtTypCodSrc = @lp_AgtTypCodSrc,
			AgtTypCodDst = @lp_AgtTypCodDst,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE TrzEvtCod = @lp_TrzEvtCod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_TrzEvtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT e.*, 
		a1.agttypcod as agttypcodextinf, a1.agttyptxt as agttyptxtinf, 
		a2.agttypcod as agttypcodextsrc, a2.agttyptxt as agttyptxtsrc, 
		a3.agttypcod as agttypcodextdst, a3.agttyptxt as agttyptxtdst
		FROM HLT_ARG_TRZ_EVT e
		left join HLT_ARG_TRZ_ATP a1 on a1.agttypcod=e.agttypcodinf
		left join HLT_ARG_TRZ_ATP a2 on a2.agttypcod=e.agttypcodsrc
		left join HLT_ARG_TRZ_ATP a3 on a3.agttypcod=e.agttypcoddst
		WHERE TrzEvtCod = @lp_TrzEvtCod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* *********************************
		 *
		 * DESABILITADO MOMENTANEAMENTE 
		 *
		 * *********************************
		 */

		/* borro evento */
		/*
		DELETE
		FROM HLT_ARG_TRZ_EVT
		WHERE TrzEvtCod=@lp_TrzEvtCod
		SET @lv_errcod=@@ERROR
		  					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		*/

		SELECT @lp_TrzEvtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		SELECT e.*, a1.agttyptxt as agttyptxtinf, a2.agttyptxt as agttyptxtsrc, a3.agttyptxt as agttyptxtdst
		INTO #tmp_08
		FROM HLT_ARG_TRZ_EVT e
		left join HLT_ARG_TRZ_ATP a1 on a1.agttypcod=e.agttypcodinf
		left join HLT_ARG_TRZ_ATP a2 on a2.agttypcod=e.agttypcodsrc
		left join HLT_ARG_TRZ_ATP a3 on a3.agttypcod=e.agttypcoddst

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM #tmp_08 '
			+ ' WHERE 1=1'
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'e.TrzEvtTxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   1 8    -    L I S T A R   por   T E X T O								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		SELECT *
		FROM HLT_ARG_TRZ_EVT_TYP
		WHERE TrzEvtTxt like '%'+@lp_TrzEvtTxt+'%'
		  and docsts='A'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
