USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_GRL_FLD_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[SYS_GRL_FLD_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* usuario */ 
@lp_sysfld			as nvarchar(20)	= null,		/* código de campo */
@lp_sysfldinptyp	as nvarchar(20) = null,		/* Tipo de Campo */
@lp_sysfldoutsze	as Int			= null,		/* Tamaño de campo */
@lp_sysfldmaxlng	as Int			= null,		/* Tamaño maximo de caracteres*/
@lp_sysfldico		as nvarchar(50) = null,		/* icono asociado al campo */
@lp_sysfldbtnjs		as nvarchar(800)= null,		/* Funcion JS asociada al campo*/
@lp_sysfldkeyprs	as nvarchar(800)= null,		/* Funcion asociada Keypress del campo*/
@lp_sysfldkeyup		as nvarchar(800)= null,		/* Funcion asociada Keyup del campo*/
@lp_sysfldonBlur	as nvarchar(800)= null,		/* Funcion asociada OnBlur del campo*/
@lp_sysfldonFocus	as nvarchar(800)= null,		/* Funcion asociada OnFocus del campo*/
@lp_sysfldonKeydown	as nvarchar(800)= null,		/* Funcion asociada OnFocus del campo*/
@lp_docsts			as nvarchar(02)	= null,
@lp_vewcfg			as nvarchar(4000)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0


/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	La definición de Campo ya existe.									*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		IF exists(select top 1 * from SYS_GRL_FLD where sysfld=@lp_sysfld)
			BEGIN
				SELECT null, -1 as errcod, 'La definición de Campo ya existe.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		INSERT INTO SYS_GRL_FLD (sysfld, sysfldinptyp, sysfldoutsze, sysfldmaxlng, sysfldico, sysfldbtnjs, sysfldkeyprs, sysfldkeyup, sysfldonBlur, sysfldonFocus, sysfldonKeydown, docsts, ctedte, cteusr)
		VALUES	(@lp_sysfld, @lp_sysfldinptyp, @lp_sysfldoutsze, @lp_sysfldmaxlng, @lp_sysfldico, replace(isnull(@lp_sysfldbtnjs,''),"^","'"), @lp_sysfldkeyprs, @lp_sysfldkeyup, @lp_sysfldonBlur, @lp_sysfldonFocus, @lp_sysfldonKeydown, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysfld, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_GRL_FLD 
		SET	sysfldinptyp = @lp_sysfldinptyp,
			sysfldoutsze = @lp_sysfldoutsze,
			sysfldmaxlng = @lp_sysfldmaxlng,
			sysfldico = @lp_sysfldico,
			sysfldbtnjs = replace(isnull(@lp_sysfldbtnjs,''),"^","'"),
			sysfldkeyprs = @lp_sysfldkeyprs,
			sysfldkeyup = @lp_sysfldkeyup,
			sysfldonBlur = @lp_sysfldonBlur,
			sysfldonFocus = @lp_sysfldonFocus,
			sysfldonKeydown = @lp_sysfldonKeydown,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE sysfld = @lp_sysfld
		SET @lv_errcod = @@ERROR
	
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysfld, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT sysfld, sysfldinptyp, sysfldoutsze, sysfldmaxlng, sysfldico, replace(isnull(sysfldbtnjs,''),"'","^") as sysfldbtnjs, sysfldkeyprs, sysfldkeyup, sysfldonBlur, sysfldonFocus, sysfldonKeydown
		FROM SYS_GRL_FLD
		WHERE sysfld = @lp_sysfld
	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT 
			sysfld as sysfld,
			sysfldinptyp as sysfldinptyp,
			sysfldoutsze as sysfldoutsze,
			sysfldmaxlng as sysfldmaxlng,
			sysfldico as sysfldico,
			sysfldbtnjs as sysfldbtnjs
		FROM SYS_GRL_FLD
		WHERE sysfld=@lp_sysfld 
		ORDER BY sysfld

	END



/* ------------------------------------------------------------------------ */
/*   1 7    -    B U S C A R  DEFINICION DE CAMPO 							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_GRL_FLD
		WHERE sysfld like '%'+@lp_sysfld+'%'
		ORDER BY sysfld
		
	END
	
	
/* ------------------------------------------------------------------------ */
/*   1 8    -    L I S T A R    T O D O										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SELECT 
			sysfld,
			sysfldinptyp,
			sysfldoutsze,
			sysfldmaxlng,
			sysfldico,
			sysfldonkeydown,
			sysfldkeyup,
			sysfldkeyprs,
			sysfldonfocus,
			sysfldOnBlur,
			sysfldbtnjs
		FROM SYS_GRL_FLD
		ORDER BY sysfld
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
