USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[GRL_RPT_DEF] Fecha de script: 07/09/2026 17:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GRL_RPT_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario
@lp_buscod			as nvarchar(20) = null,		-- empresa
@lp_rptcod			as int			= null,		-- id
@lp_rpttxt			as nvarchar(50)	= null,		-- descripcion
@lp_rpthietxt		as nvarchar(max)=null,		-- jerarquÃ­a
@lp_rptsrccod		as int			= null,		-- Origen - ID
@lp_rptsrcsys		as int			= null,		-- Origen - Tipo (Sistema/Usuario)
@lp_rptatr			as nvarchar(max)=null,		-- atributos
@lp_rptperusr		as nvarchar(max)=null,		-- permisos - usuarios
@lp_rptperrls		as nvarchar(max)=null,		-- permisos - roles
@lp_autcod			as nvarchar(5)	= null,		-- permisos - codigo de autorizacion
@lp_docsts			as nvarchar(02)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃ³n vista

@lp_rptshwrpm		as int					= null,		-- indicador de publicacion
@lp_rptsys			as int 					= null		-- indicador de reporte de sistema

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_RPT (buscod, rpttxt, rpthietxt, rptsrccod, rptsrcsys, rptatr, rptperusr, rptperrls, autcod, docsts, ctedte, cteusr, rptshwrpm)
		VALUES (@lp_buscod, @lp_rpttxt, @lp_rpthietxt, @lp_rptsrccod, @lp_rptsrcsys, @lp_rptatr, @lp_rptperusr, @lp_rptperrls, @lp_autcod, @lp_docsts, getdate(), @lp_username, @lp_rptshwrpm)
		SET @lv_errcod=@@ERROR
		SET @lp_rptcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE GRL_RPT 
		SET	rpttxt = @lp_rpttxt,
			rpthietxt = @lp_rpthietxt,
			rptatr = @lp_rptatr,
			rptperusr = @lp_rptperusr,
			rptperrls = @lp_rptperrls,
			RptSrcCod = @lp_rptsrccod,
			RptSrcSys = @lp_rptsrcsys, 
			rptshwrpm = @lp_rptshwrpm,
			AutCod = @lp_autcod, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and rptcod = @lp_rptcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT r.*
		FROM GRL_RPT r
		WHERE r.rptcod=@lp_rptcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		DELETE
		FROM GRL_RPT
		WHERE buscod = @lp_buscod
		  and rptcod = @lp_rptcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- GRL_RPT_DEF '08','MDOMINGUEZ','TEMASIS_LOG'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' r.*, 0 as rptsys ', 
		' GRL_RPT r ',
		' 1=1 ',
		'r.rpttxt', 'rptsys;0' )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 8    -    L I S T A R	(para Gestor de Reportes)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		-- GRL_RPT_DEF '18','TEMASIS','EMASERVICIOS'
		-- exec GRL_RPT_DEF '18','TEMASIS','EMASERVICIOS','','','','','','','','','','','<view><vewflt></vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax></vewmax><vewpge></vewmax><extra></extra></view>','',''

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' r.* ',
			' GRL_RPT r ', --left join GRL_RPT_AUT ra on ra.buscod=r.buscod and ra.rptcod=r.rptcod '
			' 1=1 '

			-- falta migrar esta seccion ------
			--+ ' and ( isnull(r.rptperusr,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or '+QUOTENAME(@lp_username,'''')+' in (select replace(ltrim(rtrim(id)),char(13),'+QUOTENAME('','''')+') from dbo.StringSplit(char(10),r.rptperusr)) )'
			--+ ' and ( isnull(r.RptPerRls,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or exists(select top 1 * from sys_sec_usr_grp ug inner join dbo.StringSplit(char(10),r.RptPerRls) rg on replace(ltrim(rtrim(rg.id)),char(13),'+QUOTENAME('','''')+')=ug.usrgrpcod where ug.buscod=r.buscod and ug.usrcod='+QUOTENAME(@lp_username,'''')+'))'
			/*
			+ ' and ( '+QUOTENAME(@lp_username,'''')+' in (select replace(ltrim(rtrim(id)),char(13),'+QUOTENAME('','''')+') from dbo.StringSplit(r.rptperusr,char(10)))'
				+ '	or exists(select top 1 * from sys_sec_usr_grp ug inner join dbo.StringSplit(r.RptPerRls,char(10)) rg on replace(ltrim(rtrim(rg.id)),char(13),'+QUOTENAME('','''')+')=ug.usrgrpcod where ug.buscod=r.buscod and ug.usrcod='+QUOTENAME(@lp_username,'''')+')'
				+ ' or ( isnull(r.rptperusr,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' and isnull(r.RptPerRls,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' )'
			+ ' ) '
			+ ' and ( isnull(r.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or exists(select top 1 * from sys_sec_per_aut pa where pa.buscod=r.buscod and pa.usrcod='+QUOTENAME(@lp_username,'''')+' or pa.grpcod in (select grpcod from sys_sec_usr_grp ug2 where ug2.buscod=r.buscod and ug2.usrcod='+QUOTENAME(@lp_username,'''')+')))'
			*/
			-- falta migrar esta seccion -------

			+ ' and r.rptshwrpm=1 '
			+ ' and r.docsts='+QUOTENAME('A','''')
			, 'r.rpthietxt,r.rpttxt', default)
		execute( @lv_sql )

	END
  
  
  
-- ------------------------------------------------------------------------
--   2 1    -    S E G U R I D A D	(grabado de la Seguridad)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '21'
BEGIN
  SET @lv_validop = 1

  IF EXISTS(SELECT TOP 1 * FROM GRL_RPT_AUT WHERE buscod=@lp_buscod AND rptcod=@lp_rptcod AND rptsys=@lp_rptsys)
    BEGIN
      BEGIN TRAN

      UPDATE GRL_RPT_AUT 
      SET rptperusr = @lp_rptperusr, 
        rptperrls = @lp_rptperrls, 
        autcod = @lp_autcod,
        docsts = 'A',
        UpdDte = getdate(),
        updusr = @lp_username
      WHERE buscod = @lp_buscod
        and rptcod = @lp_rptcod
        and RptSys = @lp_rptsys
      SET @lv_errcod=@@ERROR

      IF @lv_errcod=0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN

      SELECT @lp_rptcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
    END
  ELSE 
    BEGIN
      BEGIN TRAN

      INSERT INTO GRL_RPT_AUT (buscod, rptcod, rptsys, rptperusr, rptperrls, autcod, docsts, ctedte, cteusr)
      VALUES (@lp_buscod, @lp_rptcod, @lp_rptsys, @lp_rptperusr, @lp_rptperrls, @lp_autcod, @lp_docsts, getdate(), @lp_username)
      SET @lv_errcod=@@ERROR

      IF @lv_errcod=0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN

      SELECT @lp_rptcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
    END
END
      
      
      
-- ------------------------------------------------------------------------
--   2 2    -    S E G U R I D A D	(recuperaciÃ³n de la Seguridad)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '22'
BEGIN
  SET @lv_validop = 1

  SELECT ra.*
  FROM GRL_RPT_AUT ra
  WHERE ra.buscod = @lp_buscod
    AND ra.rptcod = @lp_rptcod
    AND ra.rptsys = @lp_rptsys
    
END

      

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
