USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_IAA_ACT_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_APP_IAA_ACT_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario
@lp_sysappiaaactcod	as int			= null,		-- id
@lp_sysappiaaactcodext	as nvarchar(20) = null,	-- codigo
@lp_sysappiaaacttxt	as nvarchar(50)	= null,		-- descripcion
@lp_sysappiaaactcmt	as nvarchar(250)= null,		-- version
@lp_sysappiaaactprmppt	as nvarchar(max)= null,		-- url
@lp_sysappiaaactprmjsn	as nvarchar(max)= null,		-- atributos
@lp_sysappiaaactatr			as nvarchar(max)= null,

@lp_docsts			as nvarchar(1)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null		-- config vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
	
		-- nombre de la activaciÃ³n duplicado
		if not isnull(@lp_sysappiaaacttxt,'')=''
			IF exists(select top 1 * from SYS_APP_IAA where not sysappiaaactcod=@lp_sysappiaaactcod and sysappiaaacttxt=@lp_sysappiaaacttxt)
				BEGIN
					SELECT null, 'E' as errtyp, -1 as errcod, 'DuplicateActName' as errmsg
					RETURN
				END

		-- codigo externo duplicado
  	if not isnull(@lp_sysappiaaactcodext,'')=''
      IF exists(select top 1 * from SYS_APP_IAA where not sysappiaaactcod=@lp_sysappiaaactcod and sysappiaaactCodext=@lp_sysappiaaactcodext)
        BEGIN
          SELECT null, 'E' as errtyp, -1 as errcod, 'ActivationAlreadyExists' as errmsg
          RETURN
        END

	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRANSACTION
    	BEGIN TRY
		
        INSERT INTO SYS_APP_IAA_ACT 
            (sysappiaaactcodext, sysappiaaacttxt, sysappiaaactcmt, sysappiaaactprmppt, sysappiaaactprmjsn, sysappiaaactatr, docsts, ctedte, cteusr)
        VALUES	(@lp_sysappiaaactcodext, @lp_sysappiaaacttxt, @lp_sysappiaaactcmt, @lp_sysappiaaactprmppt, @lp_sysappiaaactprmjsn, @lp_sysappiaaactatr, @lp_docsts, getdate(), @lp_username)
        SET @lv_errcod = @@ERROR
        set @lp_sysappiaaactcod = @@IDENTITY
        
      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- registra el log de error
        exec SYS_APP_LOG_SQL_DEF @lp_username
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH

    COMMIT TRANSACTION
    SELECT @lp_sysappiaaactcod, 0 as errcod

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION;
      BEGIN TRY
		
        UPDATE SYS_APP_IAA_ACT 
        SET	sysappiaaactcodext = @lp_sysappiaaactcodext, 
          sysappiaaacttxt 	 = @lp_sysappiaaacttxt,
          sysappiaaactcmt 	 =	@lp_sysappiaaactcmt,
          sysappiaaactprmppt = @lp_sysappiaaactprmppt, 
          sysappiaaactprmjsn = @lp_sysappiaaactprmjsn,
          sysappiaaactatr 	 = @lp_sysappiaaactatr,
          docsts = @lp_docsts,
          upddte = getdate(),
          updusr = @lp_username
        WHERE sysappiaaactcod = @lp_sysappiaaactcod
        SET @lv_errcod = @@ERROR

    	END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        -- registra el log de error
        EXEC SYS_APP_LOG_SQL_DEF @lp_username
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
		
    COMMIT TRANSACTION   
 		SELECT @lp_sysappiaaactcod, 0 AS errcod;

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*
		FROM SYS_APP_IAA_ACT a
		WHERE a.sysappiaaactcodext = @lp_sysappiaaactcodext

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRANSACTION
    	BEGIN TRY
    				
        DELETE 
        FROM SYS_APP_IAA_ACT
        WHERE sysappiaaactcod = @lp_sysappiaaactcod	
        SET @lv_errcod = @@ERROR

      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        -- registra el log de error
        EXEC SYS_APP_LOG_SQL_DEF @lp_username
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
    
    COMMIT TRANSACTION
		SELECT @lp_sysappiaaactcod, 0 as errcod
        
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		-- SYS_APP_IAA_MDL_def '08','mdominguez'
		BEGIN TRY
      set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' iam.*', ' SYS_APP_IAA_ACT iam ', ' iam.docsts=''A'' ', ' iam.sysappiaaacttxt ', default)
      execute( @lv_sql )
    END TRY
    
    BEGIN CATCH
     EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lv_sql
     SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
     RETURN
   END CATCH

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
