USE [tmssSysPrd]
GO
/****** Objeto: UserDefinedFunction [dbo].[ConvertNumber] Fecha de script: 07/09/2026 17:02:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Dominguez, Martin
-- Create date: 03.01.2011
-- Description:	Convierte un valor bigint a decimal
-- =============================================
CREATE FUNCTION [dbo].[ConvertNumber] (
	@lp_num as bigint,
	@lp_dec as int
)
RETURNS decimal(18,9)
AS
BEGIN

	-- Declare the return variable here
	DECLARE @lv_num as decimal(18,9)

	-- Add the T-SQL statements to compute the return value here
	IF not @lp_num is null
		SET @lv_num = cast(@lp_num as decimal(18,9)) / cast( power(10,@lp_dec) as decimal(18,9))

	-- Return the result of the function
	RETURN @lv_num

END




GO
