USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_FNC_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SYS_FNC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_sysfnccod		as int			= null,	-- id
@lp_sysfnccodext	as nvarchar(20)	= null, -- code
@lp_sysfnctxt		as nvarchar(50)	= null,	-- descripcion
@lp_sysfncttl		as nvarchar(400)= null,	-- titulo ==> SACAR
@lp_sysfncdes		as nvarchar(max)= null,	-- explicacion ==> USAR TEXTOS
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- configuración vista

@lp_autlvl			as int			= null,	-- nivel autorización
@lp_sysfnchde		as int			= null,	-- oculto
@lp_mdlcod			as nvarchar(05)	= null,	-- id modulo
@lp_sysfncpic		as nvarchar(250)= null,	-- imagen
@lp_sysfncatrval001	as nvarchar(max)= null	-- atributos

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C  I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		-- codigo externo duplicado
		if not isnull(@lp_sysfnccodext,'')=''	
			IF exists(select top 1 * from sys_fnc where sysfnccodext=@lp_sysfnccodext and not sysfnccod=@lp_sysfnccod)
				BEGIN
					SELECT null, -1 as errcod, 'No se puede borrar. Existen suscripciones.' as errtxt
					RETURN
				END
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO SYS_FNC (sysfnccodext, sysfnctxt, sysfncttl, sysfncdes, mdlcod, sysfnchde, autlvl, docsts, cteusr, ctedte, sysfncpic, sysfncatrval001) 
		VALUES (@lp_sysfnccodext, @lp_sysfnctxt, @lp_sysfncttl, @lp_sysfncdes, @lp_mdlcod, @lp_sysfnchde, @lp_autlvl, @lp_docsts, @lp_username, getdate(), @lp_sysfncpic, @lp_sysfncatrval001 )
		SET @lv_errcod=@@ERROR
		SET @lp_sysfnccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysfnccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE SYS_FNC
		SET	sysfnccodext=@lp_sysfnccodext,
			sysfnctxt = @lp_sysfnctxt,
			sysfncttl = @lp_sysfncttl,
			sysfncdes = @lp_sysfncdes,
			sysfnchde = @lp_sysfnchde,
			sysfncpic = @lp_sysfncpic,
			sysfncatrval001 = @lp_sysfncatrval001,
			autlvl = @lp_autlvl,
			mdlcod = @lp_mdlcod, 
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE sysfnccod = @lp_sysfnccod	
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysfnccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT f.*
		FROM SYS_FNC f
		WHERE f.sysfnccod = @lp_sysfnccod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- valido que no haya suscripciones de la funcionalidad
		IF exists(select top 1 *from sys_fnc_sub where sysfnccod=@lp_sysfnccod)
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Existen suscripciones.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- borro operaciones de funcionalidad
		DELETE FROM SYS_FNC_PRG
		WHERE sysfnccod=@lp_sysfnccod
		SET @lv_errcod=@@ERROR

		-- borro funcionalidad
		IF @lv_errcod=0
			BEGIN
				DELETE FROM SYS_FNC
				WHERE sysfnccod = @lp_sysfnccod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysfnccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- sys_fnc_def '08','mdominguez'

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' f.*, m.desmdl as mdltxt, dbo.gettagvalue('+QUOTENAME('sysfncgrp','''')+',sysfncatrval001) as sysfncgrp '
			+ ' FROM SYS_FNC f '
			+ ' inner join SYS_APP_MDL m on m.codmdl=f.mdlcod '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then ' m.objord ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
