USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_LOG_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_APP_LOG_DEF]

@lp_sysoperation	as nvarchar(5),				-- operaciÃ³n 
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario 
@lp_buscod			as nvarchar(20),			-- empresa 
@lp_applogcod		as int			= null,		-- id 
@lp_applogtxt		as nvarchar(max)= null,		-- log 
@lp_srcobjtyp		as nvarchar(20)	= null,		-- tipo objeto 
@lp_srcobjcod001	as nvarchar(20)	= null,		-- id 1 
@lp_srcobjcod002	as nvarchar(20)	= null,		-- id 2 
@lp_applogtecinf	as nvarchar(max)= null,	-- informaciÃ³n tÃ©cnica 
@lp_mdlcod			as nvarchar(20)	= null,		-- id mÃ³dulo 
@lp_prgcod			as nvarchar(20)	= null,		-- id programa 
@lp_docsts			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)= null,		-- config vista 

@lp_applogerrtyp	as nvarchar(20)	= null,		-- error - tipo
@lp_applogerrcod	as nvarchar(20)	= null,		-- error - codigo
@lp_applogerrtxt	as nvarchar(250)=null		-- error - descripcion

AS
			

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod int
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('01','01_sp')
	BEGIN
		SET @lv_validop = 1
    
    BEGIN TRY
		
    	IF @lp_sysoperation = '01'
				BEGIN TRAN
    
      -- borro registros de mas de tres meses 
      DELETE FROM SYS_APP_LOG
      WHERE buscod = @lp_buscod 
        and ctedte < dateadd(month, -3, getdate())

      -- agrego log de aplicaciÃ³n 
      INSERT INTO sys_app_log (buscod, applogtxt, srcobjtyp, srcobjcod001, srcobjcod002, applogtecinf, mdlcod, prgcod, 
        applogerrtyp, applogerrcod, applogerrtxt,
        docsts, ctedte, cteusr)
      SELECT @lp_buscod, @lp_applogtxt, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_applogtecinf, @lp_mdlcod, @lp_prgcod, 
        @lp_applogerrtyp, @lp_applogerrcod, @lp_applogerrtxt,
        @lp_docsts, getdate(), @lp_username
			SET @lp_applogcod = SCOPE_IDENTITY()
    
			IF @lp_sysoperation = '01'
          COMMIT TRAN

		END TRY
		BEGIN CATCH
			IF @lp_sysoperation = '01'
				ROLLBACK TRAN
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
      IF @lp_sysoperation = '01'
				SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH

    IF @lp_sysoperation = '01'
        SELECT @lp_applogcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt  
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('08','18')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRY

      set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 'l.*',' SYS_APP_LOG l ', ' l.buscod='+QUOTENAME(@lp_buscod, ''''), '', default)
      execute( @lv_sql )

		END TRY
		BEGIN CATCH
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
