USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_FNC_PRG_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_FNC_PRG_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_sysfnccod		as int			= null,		/* id funcionalidad */
@lp_mdlcod			as nvarchar(20)	= null,		/* código de módulo */
@lp_prgcod			as nvarchar(30)	= null,		/* código de programa */
@lp_oprcod			as nvarchar(5)	= null,		/* código de operación */
@lp_docsts			as nvarchar(02)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null,		/* config vista */

@lp_sysfncprgatr001 as nvarchar(4000)=null		/* programas-operaciones */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
					
		IF not exists(select * from sys_fnc_prg where sysfnccod=@lp_sysfnccod and mdlcod=@lp_mdlcod and prgcod=@lp_prgcod and oprcod=@lp_oprcod)
			begin

				BEGIN TRAN

				INSERT INTO sys_fnc_prg (sysfnccod, mdlcod, prgcod, oprcod, docsts, ctedte, cteusr)
				VALUES (@lp_sysfnccod, @lp_mdlcod, @lp_prgcod, @lp_oprcod, @lp_docsts, getdate(), @lp_username)
				SET @lv_errcod = @@ERROR

				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

			end

		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    A C T U A L I Z A R										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    
	
		declare @lp_delimiter as nvarchar(1)
		set @lp_delimiter = char(9)

		BEGIN TRAN

		/* quitar las operaciones que no estan incluidos */
		delete
		from sys_fnc_prg
		where sysfnccod=@lp_sysfnccod
		  and mdlcod+'_'+prgcod+'_'+oprcod not in (select id from dbo.StringSplit(@lp_sysfncprgatr001,@lp_delimiter))
		SET @lv_errcod=@@ERROR

		/* agregar las operaciones que faltan */
		if @lv_errcod=0
			BEGIN
				insert into sys_fnc_prg (sysfnccod, mdlcod, prgcod, oprcod, docsts, ctedte, cteusr)
				select @lp_sysfnccod, 
					substring(x.id,1,charindex('_',x.id)-1) as mdlcod, 
					substring(x.id,  charindex('_',x.id)+1, charindex('_',x.id,charindex('_',x.id)+1)-charindex('_',x.id)-1 ) as prgcod, 
					substring(x.id,  charindex('_',x.id,charindex('_',x.id)+1)+1, len(x.id)-charindex('_',x.id,charindex('_',x.id))+1) as oprcod,
					@lp_docsts, getdate(), @lp_username
				from dbo.StringSplit( @lp_sysfncprgatr001,@lp_delimiter) x
				where x.id not in (select p.mdlcod+'_'+p.prgcod+'_'+p.oprcod 
									from sys_fnc_prg p 
									where p.sysfnccod=@lp_sysfnccod)
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT 0, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END




/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE FROM sys_fnc_prg
		WHERE sysfnccod=@lp_sysfnccod
		  and mdlcod = @lp_mdlcod
		  and prgcod = @lp_prgcod
		  and oprcod = @lp_oprcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' f.* '
			+ ' FROM sys_fnc_prg f '
			+ ' inner join sys_sec_opr o on o.codmdl=f.mdlcod and o.codprg=f.prgcod and o.codopr=f.oprcod '
			+ ' inner join sys_app_prg p on p.codmdl=f.mdlcod and p.codprg=f.prgcod '
			+ ' inner join sys_app_mdl m on m.codmdl=f.mdlcod '
			+ ' WHERE m.docsts='+QUOTENAME('A','''')
			+ '   and p.docsts='+QUOTENAME('A','''')
			+ '   and o.docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )


	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
