USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_OBJ_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_OBJ_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_sysobjcod			as int					= null,	-- id 
@lp_sysobjcodext	as nvarchar(20)	= null,	-- codigo
@lp_sysobjtxt			as nvarchar(50)	= null,	-- descripcion
@lp_sysobjclscod	as int					= null, -- id clasificcion
@lp_sysobjver			as int					= null, -- version
@lp_sysobjlck			as int					= null,	-- bloqueo
@lp_docsts 				as nvarchar(2)	= null, -- estado

@lp_vewcfg				as nvarchar(max)= null,	--  configuraciÃ³n vista
@lp_sysobjsys			as int					= null,	-- objeto del sistema
@lp_sysdevgrp			as nvarchar(max)= null -- grupos de desarrollo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
	
	
-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11','02','12')
	BEGIN

		-- valido clasificacion
		if not isnull(@lp_sysobjclscod,0)=0
			if not exists(select top 1 * from sys_obj_cls where sysobjclscod=@lp_sysobjclscod)
				begin
					SELECT null, -1 as errcod, 'ClasificaciÃ³n invÃ¡lido' as errtxt
					RETURN
				end

		-- valido cÃ³digo duplicado
		if not isnull(@lp_sysobjcodext,'')=''
			IF exists(select top 1 * from SYS_OBJ where not sysobjcod=@lp_sysobjcod and sysobjcodext=@lp_sysobjcodext and sysobjclscod=@lp_sysobjclscod)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente' as errtxt
					RETURN
				END
		
	END	


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
    	BEGIN TRY
        INSERT INTO SYS_OBJ (sysobjcodext, sysobjtxt, sysobjclscod, docsts, cteusr, ctedte, sysobjver, sysobjlck, sysobjsys, sysdevgrp) 
        VALUES (@lp_sysobjcodext, @lp_sysobjtxt, @lp_sysobjclscod, @lp_docsts, @lp_username, getdate(), @lp_sysobjver, @lp_sysobjlck, @lp_sysobjsys, @lp_sysdevgrp)
        SET @lp_sysobjcod = SCOPE_IDENTITY()
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH    
    COMMIT TRANSACTION
    
		SELECT @lp_sysobjcod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02','12')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
    	BEGIN TRY		
        UPDATE SYS_OBJ 
          SET sysobjcodext = @lp_sysobjcodext,
            sysobjtxt = @lp_sysobjtxt,
            sysobjclscod = @lp_sysobjclscod, 
            sysobjlck = @lp_sysobjlck,
            sysobjsys = @lp_sysobjsys,
            sysdevgrp = @lp_sysdevgrp,
            docsts = @lp_docsts,
            updusr = @lp_username,
            upddte = getdate()
          WHERE sysobjcod=@lp_sysobjcod
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH    
    COMMIT TRANSACTION
    
		SELECT @lp_sysobjcod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT o.*, c.sysobjclstxt, c.SysObjClsPth, c.SysObjClsFleExt, c.SysObjClsTyp, c.SysObjClsSys
		FROM SYS_OBJ o
			inner join sys_obj_cls c on c.sysobjclscod=o.sysobjclscod
		WHERE o.sysobjcod=@lp_sysobjcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04','14')
	BEGIN
		SET @lv_validop = 1    

		-- valido que el objeto no se encuentre en una OT no liberada
		if exists(select top 1 * from sys_tra_obj ot inner join sys_tra t on t.systracod=ot.systracod where ot.sysobjcod=@lp_sysobjcod and not (ot.docsts='R' or t.docsts='R') )
    	begin
        SELECT null, 'E' as errtyp, -1 as errcod, 'El objeto se encuentra en una OT no liberada.' as errtxt
        RETURN
      end
      
		BEGIN TRANSACTION
    	BEGIN TRY
      	-- los objetos de las ordenes de transporte quedan huerfanos?
      	
    		-- borro versiones del objeto
      	DELETE FROM SYS_OBJ_VER WHERE sysobjcod=@lp_sysobjcod
    		-- borro objeto
				DELETE FROM SYS_OBJ WHERE sysobjcod=@lp_sysobjcod
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH    
    COMMIT TRANSACTION
    
		SELECT @lp_sysobjcod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1   
		
		-- sys_obj_def '08','',''
		BEGIN TRY		
      set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' o.*, c.sysobjclstxt, c.sysobjclstyp, c.sysobjclspth, c.sysobjclsfleext ',
        '	SYS_OBJ o '
        + ' inner join sys_obj_cls c on c.sysobjclscod=o.sysobjclscod ',
        ' 1=1 ', default, default )
      execute( @lv_sql )
    END TRY
    BEGIN CATCH
      ROLLBACK TRANSACTION
      -- registra el log de error
      EXEC SYS_APP_LOG_SQL_DEF @lp_username
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH    
		
	END



-- ------------------------------------------------------------------------
--   1 3    -    C A R G A R	V E R S I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1   
		
		SELECT v.*
		FROM SYS_OBJ_VER v
		WHERE v.SysObjCod=@lp_sysobjcod
		  and v.SysObjVer=@lp_sysobjver
		
	END


-- ------------------------------------------------------------------------
--   1 8    -    L I S T A R	V E R S I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1   
		
		SELECT v.sysobjcod, v.sysobjvercod, v.sysobjver, v.docsts, v.ctedte, v.cteusr, v.upddte, v.updusr
		FROM SYS_OBJ_VER v
		WHERE v.SysObjCod=@lp_sysobjcod
		order by v.sysobjver desc

	END

	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		BEGIN TRY
			RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
    END TRY
    BEGIN CATCH
      ROLLBACK TRANSACTION
      -- registra el log de error
      EXEC SYS_APP_LOG_SQL_DEF @lp_username
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH      
	END
GO
