USE [tmssSysPrd]
GO
/****** Objeto: UserDefinedFunction [dbo].[GetSQLSentence] Fecha de script: 07/09/2026 17:02:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Dominguez, Martin
-- Create date: 27.10.2022
-- Description:	Convierte una cadena de comandos en una sentencia SQL
-- Ejemplo: print dbo.getSQLSentence('<vewcfg><vewmax>10</vewmax><vewpge>2</vewpge><vewgrp>c.srcobjtyp</vewgrp><vewgrpcal>count(*) as cantidad</vewgrpcal><vewgrpcalflt>count(*)>5</vewgrpcalflt><veword>count(*) desc</veword><vewcfg>','*','CRM_CNT c','c.crmcntdte','','')
--          print dbo.getSQLSentence('<vewcfg><vewmax>10</vewmax><vewpge>2</vewpge><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>count(*) desc</veword><vewcfg>','*','CRM_CNT c','c.crmcntdte','','')
--          set @lv_sql = dbo.getSQLSentence(@lp_vewcfg','','CRM_CNT c','c.crmcntdte desc','')
-- =============================================
CREATE FUNCTION [dbo].[GetSQLSentence] ( 
	@lp_vewcfg as nvarchar(max),		-- parametros de consulta
	@lp_select as nvarchar(max),		-- campos
	@lp_from as nvarchar(max),			-- tablas
	@lp_where as nvarchar(max)=null,	-- where (adicional proporcionado por SP)
	@lp_order as nvarchar(max)=null,	-- orden (default proporcionado por SP)
	@lp_replace as nvarchar(max)=null	-- campos de reemplazo campo;reemplazo chr(10) => para WHERE y ORDER
)
RETURNS nvarchar(max)
AS
BEGIN
	declare @lv_distinct as nvarchar(20) = ''
	if left(upper(trim(@lp_select)),9)='DISTINCT '
		begin
			set @lv_distinct = ' DISTINCT '
			set @lp_select = SUBSTRING(trim(@lp_select), 10, LEN(trim(@lp_select)))
		end
	
	declare @lv_max as nvarchar(20) = dbo.GetTagValue('vewmax',@lp_vewcfg)
	declare @lv_from as nvarchar(max) = dbo.GetVewTag( ' FROM ', isnull(@lp_from,'') )
	
	declare @lv_where as nvarchar(max) = dbo.GetVewTag(' WHERE ', 
		isnull(@lp_where,'')+
		(case when (substring(ltrim(dbo.GetTagValue('vewflt',@lp_vewcfg)),1,4)='AND ' or substring(ltrim(dbo.GetTagValue('vewflt',@lp_vewcfg)),1,4)='AND(') and isnull(@lp_where,'')='' then ' 1=1 ' else ' ' end)+
		dbo.GetTagValue('vewflt',@lp_vewcfg)
	)
	
	declare @lv_group as nvarchar(max) = dbo.GetTagValue('vewgrp',@lp_vewcfg)

	declare @lv_group_calc as nvarchar(max) = dbo.GetVewTag( '', dbo.GetTagValue('vewgrpcal',@lp_vewcfg) )
	declare @lv_group_calc_flt as nvarchar(max) = dbo.GetVewTag( '', (case when dbo.GetTagValue('vewgrpcalflt',@lp_vewcfg)='' then '' else ' HAVING '+dbo.GetTagValue('vewgrpcalflt',@lp_vewcfg) end) )
	
	declare @lv_order as nvarchar(max) = dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' 
																			then (case when @lv_group+@lv_group_calc='' 
																						then isnull(@lp_order,'')
																						else '' end) 
																			else dbo.GetTagValue('veword',@lp_vewcfg) end) )

	-- REEMPLAZO. se procesa el reemplazo de campos en WHERE y ORDER
	-- ejemplo: crmcntsrctxt;a.adrnme001[chr(10)]crmcntcnttxt;ac.adrnme001
	if not isnull(@lp_replace,'')=''
		begin
			declare @lv_rplvar as nvarchar(400)
			declare @lv_rpltxt as nvarchar(400)
			declare @lv_rplfld as nvarchar(400)
			declare lc_cur cursor for select id from dbo.stringsplit(@lp_replace,char(10))
			open lc_cur
			fetch next from lc_cur into @lv_rplvar
			while @@fetch_status=0
				begin
					set @lv_rpltxt = substring(@lv_rplvar, 1, charindex(';',@lv_rplvar)-1 )
					set @lv_rplfld = substring(@lv_rplvar, len(@lv_rpltxt)+2, len(@lv_rplvar)-len(@lv_rpltxt))
					set @lv_where = replace( @lv_where, @lv_rpltxt, @lv_rplfld ) 
					set @lv_order = replace( @lv_order, @lv_rpltxt, @lv_rplfld ) 
					fetch next from lc_cur into @lv_rplvar
				end
			close lc_cur
			deallocate lc_cur
		end

	-- para el paginado se debe informar Pagina y MaxReg (no se puede paginar con agrupado)
	declare @lv_pge as nvarchar(400) =  dbo.GetTagValue('vewpge',@lp_vewcfg)
	if not @lv_pge='' and not @lv_max='' and @lv_group+@lv_group_calc=''
		begin
			declare @lv_pgenum as int = cast(@lv_pge as int)
			declare @lv_maxnum as int = cast(@lv_max as int)
			--SQL 2008
			set @lp_select = @lp_select + ', ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS tmssRow#'
			set @lv_where = @lv_where + ' AND tmssRow# BETWEEN ' + cast( (@lv_maxnum*(@lv_pgenum-1))+1 as nvarchar(20)) + ' AND ' + cast( (@lv_maxnum*@lv_pgenum) as nvarchar(20))
			--SQL 2012 en adelante
			--set @lv_pge = ' OFFSET '+ cast( (@lv_maxnum*(@lv_pgenum-1))-1 as nvarchar(20)) +' ROWS FETCH NEXT '+ cast(@lv_maxnum as nvarchar(20)) +' ROWS ONLY;'
		end

	declare @lv_sql as nvarchar(max)
	set @lv_sql = 'SELECT '
				+ (case when @lv_pge='' then 
					@lv_distinct+dbo.GetVewTag(' TOP ',dbo.GetTagValue('vewmax',@lp_vewcfg)) else '' end) + ' '
				+	(case when @lv_group+@lv_group_calc='' 
						then @lp_select 
						else @lv_group + (case when not @lv_group='' and not @lv_group_calc='' then ', ' else '' end) + @lv_group_calc end) 
				+ @lv_from
				+ @lv_where
				+ (case when @lv_group='' then '' else ' GROUP BY ' + @lv_group end)
				+ @lv_group_calc_flt
				+ @lv_order
				+ @lv_pge

	return @lv_sql

END
GO
