USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_LNG_TXT_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_LNG_TXT_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_lngcod			as nvarchar(2)	= null,		/* código de idioma */
@lp_lngvar			as nvarchar(30)	= null,		/* código de variable */
@lp_lngvartxt		as nvarchar(400)= null,		/* texto de variable */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(max)= null		/* config vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		IF exists (select top 1 * from SYS_LNG_TXT where LngCod=@lp_lngcod and LngVar=@lp_lngvar)
			set @lp_sysoperation = '02'
		else
			set @lp_sysoperation = '01'
	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		INSERT INTO SYS_LNG_TXT( LngCod, LngVar, LngTxt, DocSts, CteDte, CteUsr)
		VALUES( @lp_lngcod, @lp_lngvar, @lp_lngvartxt, @lp_docsts, GETDATE(), @lp_username )
		SET @lv_errcod=@@ERROR

		SELECT @lp_lngvar, @lv_errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		UPDATE SYS_LNG_TXT
		SET LngTxt = @lp_lngvartxt,
			DocSts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE LngCod=@lp_lngcod
		  and LngVar=@lp_lngvar
		SET @lv_errcod=@@ERROR

		SELECT @lp_lngvar, @lv_errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT lt.*
		FROM SYS_LNG_TXT lt
		WHERE lngcod=@lp_lngcod
		  and LngVar=@lp_lngvar

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		DELETE FROM SYS_LNG_TXT
		WHERE LngCod=@lp_lngcod
		  and LngVar=@lp_lngvar
		SET @lv_errcod=@@ERROR

		SELECT @lp_lngvar, @lv_errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' lt.* '
			+ ' FROM SYS_LNG_TXT lt '
			+ ' inner join SYS_LNG l on l.lngcod=lt.lngcod '
			+ ' WHERE 1=1 '
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )

		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
