USE [tmssSysPrd]
GO
/****** Objeto: UserDefinedFunction [dbo].[GetTagValue] Fecha de script: 07/09/2026 17:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dominguez, Ignacio
-- Create date: 31.03.2011
-- Description:	Obtener el valor de un tag contenido en una cadena de texto
-- =============================================
CREATE FUNCTION [dbo].[GetTagValue] 
( @lp_tagnme as nvarchar(50),
  @lp_fndstr as nvarchar(4000)
)
RETURNS nvarchar(4000)
AS
BEGIN
	declare @lv_ret as nvarchar(4000)
	set @lv_ret = ''
		
	/* armo los tags de inicio y fin */
	declare @lv_strtagnme as nvarchar(50)
	set @lv_strtagnme = '<'+@lp_tagnme+'>'

	declare @lv_endtagnme as nvarchar(50)
	set @lv_endtagnme = '</'+@lp_tagnme+'>'

	declare @lv_strinx as int
	set @lv_strinx = patindex('%'+@lv_strtagnme+'%',@lp_fndstr)

	declare @lv_endinx as int
	set @lv_endinx = patindex('%'+@lv_endtagnme+'%',@lp_fndstr)

	/* si alguno de los dos tags no existe, devuelvo nada */
	if not @lv_strinx=0 and not @lv_endinx=0
		begin
			set @lv_ret = rtrim(ltrim( substring( @lp_fndstr , @lv_strinx+len(@lv_strtagnme), @lv_endinx-@lv_strinx-len(@lv_strtagnme) ) ))
			set @lv_ret = replace( @lv_ret , '^', '''' )
		end

	return @lv_ret
	
END


GO
