USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_PRG_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_APP_PRG_DEF] 

@lp_sysoperation 	as nvarchar(2),			/* operaciÃ³n */
@lp_username 		as nvarchar(20),			/* operaciÃ³n - usuario */
@lp_buscod			as nvarchar(20),			/* empresa */
@lp_mdlcod			as nvarchar(20)	= null,		/* cÃ³digo de mÃ³dulo */
@lp_prgcod			as nvarchar(20) = null,		/* cÃ³digo de programa */
@lp_prgtxt			as nvarchar(50)	= null,		/* descripciÃ³n */
@lp_prgfrmdat		as nvarchar(250)= null,		/* programa de datos */
@lp_prgpic			as nvarchar(250)= null,		/* imÃ¡gen */
@lp_vewcod			as nvarchar(250)= null,		/* cÃ³digo de vista a mostrar */
@lp_prgord			as bigint		= null,		/* orden entre los programas */
@lp_prgmnuchl		as nvarchar(250)= null,		/* cÃ³digo de carpetas dependientes */
@lp_prgmnupar		as nvarchar(250)= null,		/* cÃ³digo de carpeta superior */
@lp_prgmnuhde		as int			= null,		/* flag para NO mostrar por menÃº */
@lp_docsts			as nvarchar(1)	= null,		/* estado */
@lp_prgtypcod		as nvarchar(1)	= null,		/* tipo de programa */

@lp_vewcfg			as nvarchar(4000)=null,		/* config vista */

@lp_prggrp			as nvarchar(250)= null		/* grupo de programas (CFG=Config / blank=Normal) */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* valido cÃ³digo de programa duplicado para el mÃ³dulo */
		IF @lp_sysoperation='01'
			IF exists (select top 1 * from sys_app_prg where codmdl=@lp_mdlcod and codprg=@lp_prgcod)
				BEGIN
					SELECT null, -1 as errcod, 'El cÃ³digo de programa ya existe en el mÃ³dulo.' as errtxt
					RETURN
				END

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO sys_app_prg    
				(codmdl, codprg, desprg, prgfrmdat, prgpictname, vewcod, objord, prgmnuchl, prgmnupar, prgmnuhde, objlng, objsts, prgtypcod, docsts, ctedte, cteusr)
		VALUES	(@lp_mdlcod, @lp_prgcod, @lp_prgtxt, @lp_prgfrmdat, @lp_prgpic, @lp_vewcod, @lp_prgord, @lp_prgmnuchl, @lp_prgmnupar, @lp_prgmnuhde, 'EN', @lp_docsts, @lp_prgtypcod, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prgcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_app_prg 
		SET	desprg = @lp_prgtxt, 
			prgfrmdat = @lp_prgfrmdat, 
			prgpictname = @lp_prgpic, 
			vewcod = @lp_vewcod,
			objord = @lp_prgord, 
			prgmnuchl = @lp_prgmnuchl, 
			prgmnupar = @lp_prgmnupar, 
			prgmnuhde = @lp_prgmnuhde,
			objsts = @lp_docsts,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE codmdl = @lp_mdlcod
		  and codprg = @lp_prgcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prgcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*,
			p.codmdl AS mdlcod, 
			m.desmdl as mdltxt,
			p.codprg AS prgcod, 
			p.desprg AS prgtxt, 
			p.prgpictname as prgpic,
			p.prgfrmdat as prgfrm,
			p.objord AS prgord,
			p.objlng, p.objord, p.PrgMnuHde as prghde
		FROM sys_app_mdl m
		 inner join sys_app_prg p on p.codmdl=m.codmdl
		WHERE m.codmdl = @lp_mdlcod
		  and p.codprg = @lp_prgcod
/*
		  and (
				p.codmdl+'|'+p.codprg in (
					select sfp.mdlcod + '|' + sfp.prgcod 
					from sys_fnc sf
					inner join sys_fnc_sub sfs on sfs.sysfnccod=sf.sysfnccod
					inner join sls_cus c on c.cuscod=sfs.cuscod
					inner join sys_fnc_prg sfp on sfp.sysfnccod=sfs.sysfnccod
					where c.cuscodext=@lp_buscod
				  )
				or p.PrgTypCod='2' or p.prgtypcod='3'
			)
*/
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
				
		if exists(select top 1 * from sys_app_prg where codMDL=@lp_mdlcod and not prgmnupar='' and PRGMnuPar=(select top 1 PRGMnuChl from sys_app_prg where codmdl=@lp_mdlcod and codprg=@lp_prgcod))
			begin
				select 0, -1 as errcod, 'No se puede borrar. Existen programas dependientes.' as errtxt
				return
			end

		BEGIN TRAN
				
		/* operaciones de funcionalidades */
		DELETE
		FROM SYS_FNC_PRG
		WHERE mdlcod=@lp_mdlcod
		  and prgcod=@lp_prgcod
		SET @lv_errcod = @@ERROR

		/* operaciones del programa */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM sys_sec_opr
				WHERE codmdl=@lp_mdlcod
				  and codprg=@lp_prgcod
				SET @lv_errcod = @@ERROR
			END
					 
		/* programa */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM sys_app_prg
				WHERE	codmdl = @lp_mdlcod	
					and codprg = @lp_prgcod
				SET @lv_errcod = @@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prgcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* sys_app_prg_def '08','mdominguez','temasis' */

		set @lv_sql = 'SELECT DISTINCT m.codmdl as mdlcod, m.desMDL as mdltxt, m.ObjOrd as mdlord, m.mdlpic, '
			+ ' p.codprg as prgcod, p.desPRG as prgtxt, p.objord as prgord, p.PRGFrmDat as prgfrm, p.PRGPictName as prgpic, p.codmdl + '+QUOTENAME('.','''')+' + p.PRGMnuChl as prgmnuchl, p.codmdl + '+QUOTENAME('.','''')+' + p.PRGMnuPar as prgmnupar, p.VewCod, p.PrgTypCod, p.PrgMnuHde, '
			+ ' o.codopr as oprcod, o.oprtxt, o.oprpctnme as oprpic, o.oprshwingrd as oprshwgrd '
			+ ' FROM sys_app_mdl m '
			+ ' left join sys_app_prg p on p.codMDL=m.codMDL '
			+ ' left join sys_sec_opr o on o.codmdl=p.codmdl and o.codprg=p.codprg '
			+ ' WHERE m.docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' m.ObjOrd, p.OBJOrd ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



/* ------------------------------------------------------------------------ */
/*   0 9    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '0 9'
	BEGIN
		SET @lv_validop = 1    

		/* obtengo todos los programas del sistema */
		SELECT 
			p.codmdl as mdlcod,
			m.desmdl as mdltxt,
			p.codprg as prgcod,
			p.desprg as prgtxt,
			p.prgtypcod,
			p.prgpictname as prgpic,
			p.prgfrmdat as prgfrmdat,
			p.vewcod,
			m.objord as mdlord,
			p.objord as prgord,
			p.prgmnuchl,
			p.prgmnupar,
			isnull(p.prgmnuhde,0) as prgmnuhde,
			p.objsts as docsts,
			p.ctedte, p.cteusr, p.upddte, p.updusr, p.objord
		INTO #tmp_dat_09
		FROM sys_app_prg p 
			INNER JOIN sys_app_mdl m ON m.codmdl = p.codmdl 
		WHERE m.objsts='A' 
		  and p.objsts='A' 

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.* '
			+ ' FROM #tmp_dat_09 p '
			+ ' WHERE 1=1 '
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and p.objsts='+QUOTENAME(@lp_docsts, '''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END



GO
