USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_SEC_DRT_TYP_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_DRT_TYP_DEF]

@lp_sysoperation 		as nvarchar(2),				-- operación
@lp_username 			as nvarchar(20),			-- operación - usuario
@lp_syssecdrttypcod		as int			= null,		-- id
@lp_syssecdrttypcodext	as nvarchar(40) = null,		-- cod externo
@lp_syssecdrttyptxt		as nvarchar(150)= null,		-- descripcion
@lp_syssecdrttyptyp		as nvarchar(20)	= null,		-- tipo
@lp_syssecdrttypmin		as bigint		= null,		-- minimo
@lp_syssecdrttypmax		as bigint		= null,		-- maximo
@lp_syssecdrttypdef		as nvarchar(max)= null,		-- default
@lp_syssecdrttypreq		as nvarchar(max)= null,		-- Tipos/valor requeridos (formato json)
@lp_docsts				as nvarchar(2)	= null,		-- estado

@lp_vewcfg				as nvarchar(max)= null,		-- config vista

@lp_syssecdrttypatr		as nvarchar(max)= null		-- atributos

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)

declare @lv_syssecdrttypmin as decimal(18,2)
set @lv_syssecdrttypmin = dbo.ConvertNumber( @lp_syssecdrttypmin , 3 )

declare @lv_syssecdrttypmax as decimal(18,2)
set @lv_syssecdrttypmax = dbo.ConvertNumber( @lp_syssecdrttypmax , 3 )



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin
		if not @lp_syssecdrttypcodext=''
			if exists(select top 1 * from SYS_SEC_DRT_TYP where not SysSecDrtTypCod=@lp_syssecdrttypcod and SysSecDrtTypCodExt=@lp_syssecdrttypcodext)
				begin
					select null, -1 as errcod, 'Codigo existente.' as errtxt
					return
				end
	end



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO SYS_SEC_DRT_TYP 
				(syssecdrttypcodext, syssecdrttyptxt, syssecdrttyptyp, syssecdrttypmin, syssecdrttypmax, syssecdrttypdef, syssecdrttypreq, syssecdrttypatr, docsts, ctedte, cteusr)
		VALUES	(@lp_syssecdrttypcodext, @lp_syssecdrttyptxt, @lp_syssecdrttyptyp, @lv_syssecdrttypmin, @lv_syssecdrttypmax, @lp_syssecdrttypdef, @lp_syssecdrttypreq, @lp_syssecdrttypatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		set @lp_syssecdrttypcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_syssecdrttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_SEC_DRT_TYP 
		SET	syssecdrttypcodext = @lp_syssecdrttypcodext, 
			syssecdrttyptxt = @lp_syssecdrttyptxt, 
			syssecdrttyptyp = @lp_syssecdrttyptyp, 
			syssecdrttypmin = @lv_syssecdrttypmin,
			syssecdrttypmax = @lv_syssecdrttypmax,
			syssecdrttypdef = @lp_syssecdrttypdef,
			syssecdrttypreq = @lp_syssecdrttypreq,
			syssecdrttypatr = @lp_syssecdrttypatr,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE syssecdrttypcod = @lp_syssecdrttypcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_syssecdrttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT dt.*
		FROM SYS_SEC_DRT_TYP dt
		WHERE dt.syssecdrttypcod = @lp_syssecdrttypcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		DELETE 
		FROM SYS_SEC_DRT_TYP
		WHERE syssecdrttypcod = @lp_syssecdrttypcod	
		SET @lv_errcod = @@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_syssecdrttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- SYS_SEC_DRT_TYP_def '08','mdominguez'

		set @lv_sql = 'SELECT dt.* '
			+ ' FROM SYS_SEC_DRT_TYP dt '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' dt.syssecdrttyptxt ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



/* ------------------------------------------------------------------------ */
/*   1 0    -    C O M P L E T A R    D I R E C T I V A S					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1

		-- SYS_SEC_DRT_TYP_DEF '10','ACHAVES','','','','','','','','','','','17|18|27'

		select *
		into #tmp_data_10atr
		from dbo.StringSplit( @lp_syssecdrttypatr, '|' )

		-- obtengo las directivas según los IDs indicados
		select dt.*
		into #tmp_data_10
		from SYS_SEC_DRT_TYP dt
		inner join #tmp_data_10atr x on x.id=dt.SysSecDrtTypCod

		-- agrego las directivas dependientes de los IDs indicados
		declare @lv_SysSecDrtTypReq as nvarchar(max)
		declare lv_cur cursor for select SysSecDrtTypReq 
			from SYS_SEC_DRT_TYP dt 
			inner join #tmp_data_10atr x on x.id=dt.SysSecDrtTypCod
			where not isnull(dt.SysSecDrtTypReq,'')=''
		open lv_cur
		fetch next from lv_cur into @lv_SysSecDrtTypReq
		while @@FETCH_STATUS=0
			begin
				insert into #tmp_data_10 (syssecdrttypcod, SysSecDrtTypCodExt, SysSecDrtTypTxt, SysSecDrtTypTyp, SysSecDrtTypMin, SysSecDrtTypMax, SysSecDrtTypDef, SysSecDrtTypReq, DocSts, CteDte, CteUsr, UpdDte, UpdUsr, SysSecDrtTypAtr)
				select dt0.syssecdrttypcod, dt0.SysSecDrtTypCodExt, dt0.SysSecDrtTypTxt, dt0.SysSecDrtTypTyp, dt0.SysSecDrtTypMin, dt0.SysSecDrtTypMax, (case when dbo.GetTagValue('reqval', x.id)='' then dt0.SysSecDrtTypDef else dbo.GetTagValue('reqval', x.id) end), dt0.SysSecDrtTypReq, dt0.DocSts, dt0.CteDte, dt0.CteUsr, dt0.UpdDte, dt0.UpdUsr, dt0.SysSecDrtTypAtr
					from SYS_SEC_DRT_TYP dt0
					inner join dbo.StringSplit( @lv_SysSecDrtTypReq , char(10) ) x on dbo.GetTagValue('reqcod', x.id)=dt0.SysSecDrtTypCod
					where dt0.SysSecDrtTypCod not in (select syssecdrttypcod from #tmp_data_10)
				fetch next from lv_cur into @lv_SysSecDrtTypReq
			end 
		close lv_cur
		deallocate lv_cur

		-- agrego las directivas x default del sistema
		insert into #tmp_data_10
		select dt1.*
		from SYS_SEC_DRT_TYP dt1
		where not isnull(dt1.SysSecDrtTypDef,'')=''
		  and dt1.SysSecDrtTypCod not in (select syssecdrttypcod from #tmp_data_10)
		
		-- obtengo las dependencias de las directivas anteriores
		set @lv_sql = 'SELECT dt.* '
			+ ' FROM #tmp_data_10 dt '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' dt.syssecdrttyptxt ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
