USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_CMP_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SYS_CMP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_objkey			as nvarchar(40)=null,
@lp_objqry			as varchar(max)=null,
@lp_objkey2			as nvarchar(40)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as varchar(max)


	
/* ------------------------------------------------------------------------ */
/*   1 3    -    obtiene SYSOBJECTS											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
				
		SELECT o.* 
		FROM dbo.sysobjects o
		where o.xtype not in ('S','F','IT','PK','SQ','UQ')
		order by o.name

	END



/* ------------------------------------------------------------------------ */
/*   2 3     -    obtiene SYSCOLUMNS										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.id, c.name, c.xtype, c.typestat, c.length, c.prec, c.scale, c.colstat, c.isnullable, c.iscomputed, c.colorder
		, t.name as xtypename
		FROM dbo.sysobjects o 
		inner join dbo.syscolumns c on c.id=o.id
		inner join sys.types t on t.user_type_id=c.xtype
		where o.xtype='U'
		order by c.id, c.name

	END



/* ------------------------------------------------------------------------ */
/*   3 3    -    obtiene SYSCOMMENTS										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '33'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT o.id, o.name, c.colid, c.text, c.number
		FROM dbo.sysobjects o
		inner join dbo.syscomments c on o.id=c.id
		order by o.id, c.colid

	END



/* ------------------------------------------------------------------------ */
/*   4 3    -    obtiene SYSINDEXES											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '43'
	BEGIN
		SET @lv_validop = 1    

		select o.id, i.*
		from dbo.sysobjects o 
		inner join sys.indexes i on i.object_id=o.id
		where o.type='U'
		  and i.name is not null
		order by o.id, i.name

	END



/* ------------------------------------------------------------------------ */
/*   5 3    -    obtiene SYSINDEXES COLUMNAS								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '53'
	BEGIN
		SET @lv_validop = 1    

		select o.id, ic.*, oc.name, i.name as objnme
		from dbo.sysobjects o 
		inner join sys.indexes i on i.object_id=o.id
		inner join sys.index_columns ic on ic.object_id=i.object_id and ic.index_id=i.index_id
		inner join dbo.syscolumns oc on oc.id=ic.object_id and oc.colid=ic.column_id
		where o.type='U'
		  and i.name is not null
		order by o.id, i.index_id, ic.index_column_id

	END



/* ------------------------------------------------------------------------ */
/*   7 1    -    create TABLE												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '71'
	BEGIN
		SET @lv_validop = 1    

		if exists(select top 1 * from dbo.sysobjects where name=@lp_objkey)
			BEGIN
				SELECT null, -71 as errcod, 'Objeto existente en base de datos.' as errtxt 
				RETURN
			END
		ELSE
			BEGIN
				SET ANSI_NULLS ON
				SET QUOTED_IDENTIFIER ON
				set @lv_sql = ' CREATE TABLE [dbo].['+@lp_objkey+']'
							+ ' (' + @lp_objqry + ') '
				execute( @lv_sql )
				SELECT 1, 0 as errcod, '' as errtxt
				RETURN
			END

	END



/* ------------------------------------------------------------------------ */
/*   7 5     -    create PK / IX											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='75' or @lp_sysoperation='76'
	BEGIN
		SET @lv_validop = 1				

		if exists(select top 1 * from sys.indexes where name=@lp_objkey2)
			BEGIN
				select 0, -75 as errcod, 'Ya existe una clave/indice.' as errtxt
				RETURN
			END

		SET QUOTED_IDENTIFIER ON
		SET ARITHABORT ON
		SET NUMERIC_ROUNDABORT OFF
		SET CONCAT_NULL_YIELDS_NULL ON
		SET ANSI_NULLS ON
		SET ANSI_PADDING ON
		SET ANSI_WARNINGS ON
		if @lp_sysoperation='75'
			set @lv_sql = 'ALTER TABLE dbo.' + @lp_objkey + ' ADD CONSTRAINT '+@lp_objkey2+' PRIMARY KEY CLUSTERED ( '+@lp_objqry+' ) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
		if @lp_sysoperation='76'
			set @lv_sql = 'CREATE NONCLUSTERED INDEX '+@lp_objkey2+' ON dbo.' + @lp_objkey + ' ( '+@lp_objqry+' ) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
		execute( @lv_sql )
		execute( 'ALTER TABLE dbo.' + @lp_objkey + ' (LOCK_ESCALATION = TABLE)' )
		SELECT 1, 0 as errcod, '' as errtxt
		RETURN

	END


/* ------------------------------------------------------------------------ */
/*   8 1     -    create SP / FN											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='81' or @lp_sysoperation='91'
	BEGIN
		SET @lv_validop = 1

		if exists(select top 1 * from dbo.sysobjects where name=@lp_objkey)
			BEGIN
				SELECT null, -1 as errcod, 'Objeto existente en base de datos.' as errtxt 
				RETURN
			END
		ELSE if (  CHARINDEX('</Temasis'+'Sentence/>',@lp_objqry)=0 )
			BEGIN
				SELECT null, -81 as errcod, 'Cadena de comandos inválida.' as errtxt 
				RETURN
			END
		ELSE
			BEGIN
				SET ANSI_NULLS ON
				SET QUOTED_IDENTIFIER ON
				if @lp_sysoperation='81'
					set @lv_sql = replace(@lp_objqry,'</Temasis'+'Sentence/>','CREATE PROCEDURE [dbo].[' + @lp_objkey + ']')
				if @lp_sysoperation='91'
					set @lv_sql = replace(@lp_objqry,'</Temasis'+'Sentence/>','CREATE FUNCTION [dbo].[' + @lp_objkey + ']')
				execute( @lv_sql )
				SELECT 1, 0 as errcod, '' as errtxt
				RETURN
			END

	END



/* ------------------------------------------------------------------------ */
/*   8 2     -    update SP / FN											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='82' or @lp_sysoperation='92'
	BEGIN
		SET @lv_validop = 1    

		if not exists(select top 1 * from dbo.sysobjects where name=@lp_objkey)
			BEGIN
				SELECT null, -1 as errcod, 'Objeto inexistente en base de datos.' as errtxt 
				RETURN
			END
		ELSE if (  CHARINDEX('</Temasis'+'Sentence/>',@lp_objqry)=0 )
			BEGIN
				SELECT null, -82 as errcod, 'Cadena de comandos inválida.' as errtxt 
				RETURN
			END
		ELSE
			BEGIN
				SET ANSI_NULLS ON
				SET QUOTED_IDENTIFIER ON
				if @lp_sysoperation='82'
					set @lv_sql = replace(@lp_objqry,'</Temasis'+'Sentence/>','ALTER PROCEDURE [dbo].[' + @lp_objkey + ']')
				if @lp_sysoperation='92'
					set @lv_sql = replace(@lp_objqry,'</Temasis'+'Sentence/>','ALTER FUNCTION [dbo].[' + @lp_objkey + ']')
				execute( @lv_sql )
				SELECT 1, 0 as errcod, '' as errtxt
				RETURN
			END

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
