USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_API_DEF] Fecha de script: 07/09/2026 17:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_APP_API_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operación
@lp_username 		as nvarchar(20),			-- operación - usuario
@lp_sysappapicod	as int			= null,		-- id
@lp_sysappapicodext	as nvarchar(50) = null,		-- cod externo
@lp_sysappapitxt	as nvarchar(50)	= null,		-- descripcion
@lp_sysappapiver	as int			= null,		-- version
@lp_sysappapiurl	as nvarchar(max)= null,		-- url
@lp_docsts			as nvarchar(1)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null,		-- config vista

@lp_sysappapicmt	as nvarchar(max)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if exists( select top 1 * from SYS_APP_API where not sysappapicod=@lp_sysappapicod and sysappapicodext=@lp_sysappapicodext and not isnull(@lp_sysappapicodext,'')='' )
			begin
				select null, -1 as errcod, 'Codigo externo duplicado.' as errtxt
				return 
			end
			
	end


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO sys_app_api 
				(sysappapicodext, sysappapitxt, sysappapiver, sysappapiurl, docsts, ctedte, cteusr, sysappapicmt)
		VALUES	(@lp_sysappapicodext, @lp_sysappapitxt, @lp_sysappapiver, @lp_sysappapiurl, @lp_docsts, getdate(), @lp_username, @lp_sysappapicmt)
		SET @lv_errcod = @@ERROR
		set @lp_sysappapicod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappapicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_app_api 
		SET	sysappapicodext = @lp_sysappapicodext, 
			sysappapitxt = @lp_sysappapitxt, 
			sysappapiver = @lp_sysappapiver, 
			sysappapiurl = @lp_sysappapiurl,
			sysappapicmt = @lp_sysappapicmt,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE sysappapicod = @lp_sysappapicod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappapicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*
		FROM sys_app_api a
		WHERE a.sysappapicod = @lp_sysappapicod

	END


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		DELETE 
		FROM sys_app_api
		WHERE sysappapicod = @lp_sysappapicod	
		SET @lv_errcod = @@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappapicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- sys_app_api_def '08','mdominguez'

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' a.* ', ' sys_app_api a ', ' 1=1 ', ' a.sysappapitxt ', default)
		execute( @lv_sql )
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
