USE [tmssSysPrd]
GO
/****** Objeto: UserDefinedFunction [dbo].[GetErrorDescription] Fecha de script: 07/09/2026 17:02:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dominguez, Ignacio
-- Create date: 05.10.2010
-- Description:	Obtener descripción desde un código de error
-- =============================================
CREATE FUNCTION [dbo].[GetErrorDescription] 
( @lp_errnumber as int
)
RETURNS nvarchar(400)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @lv_errtxt as nvarchar(400)

	-- Add the T-SQL statements to compute the return value here
	set @lv_errtxt = (SELECT TOP 1 description FROM master.dbo.sysmessages WHERE error=@lp_errnumber)

	-- Return the result of the function
	RETURN @lv_errtxt

END



GO
