USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_TRA_OBJ_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SYS_TRA_OBJ_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_systraobjcod	as int			= null,	-- id 
@lp_systracod		as int			= null,	-- id OT 
@lp_sysobjcod		as int			= null,	-- id objeto 
@lp_usrcod			as nvarchar(20)	= null,	-- usuario 
@lp_docsts 			as nvarchar(2)	= null, -- estado 

@lp_vewcfg			as nvarchar(max)= null, -- configuración vista 

@lp_sysobjcnt		as nvarchar(max)= null	-- contenido original de objeto 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
	


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- asigno el objeto a la OT
		INSERT INTO SYS_TRA_OBJ (systracod, sysobjcod, UsrCod, docsts, cteusr, ctedte) 
		VALUES (@lp_systracod, @lp_sysobjcod, @lp_usrcod, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod = @@ERROR
		SET @lp_systraobjcod = @@IDENTITY

		-- agrego el codigo original a las versiones del objeto
		IF @lv_errcod=0
			BEGIN
				INSERT INTO SYS_OBJ_VER(sysobjcod,SysObjVer,SysObjCnt,DocSts,CteDte,CteUsr)
				SELECT sysobjcod,sysobjver,@lp_sysobjcnt,docsts,GETDATE(),@lp_username
				FROM SYS_OBJ
				WHERE SysObjCod=@lp_sysobjcod
				SET @lv_errcod=@@ERROR
			END

		-- fijo el indicador de bloqueo en el objeto y actualizo el nro de version
		IF @lv_errcod=0
			BEGIN
				UPDATE SYS_OBJ
				SET SysObjLck = 1,
					SysObjVer = ISNULL(SysObjVer,0) + 1
				WHERE SysObjCod=@lp_sysobjcod
				SET @lv_errcod = @@ERROR
			END


		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_systraobjcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_TRA_OBJ 
		SET usrcod = @lp_usrcod,
			SysTraCod=@lp_systracod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE systraobjcod=@lp_systraobjcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_systraobjcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ot.*
		FROM SYS_TRA_OBJ ot
		WHERE ot.systracod=@lp_systraobjcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM SYS_TRA_OBJ 
		WHERE systracod=@lp_systracod 
		  and sysobjcod=@lp_sysobjcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_systraobjcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 5    -    L I B E R A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_TRA_OBJ 
		SET reldte=getdate(),
			relusr=@lp_username,
			docsts='R'
		WHERE systraobjcod=@lp_systraobjcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_systraobjcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1   
		
		-- sys_tra_obj_def '08','temasis'
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ot.*, o.sysobjtxt, oc.sysobjclstxt, oc.sysobjclstyp, oc.sysobjclspth, oc.sysobjclsfleext, o.sysobjsys, o.sysdevgrp '
			+ '	FROM SYS_TRA_OBJ ot '
			+ ' inner join SYS_TRA t on t.systracod=ot.systracod '
			+ ' inner join SYS_OBJ o on o.sysobjcod=ot.sysobjcod '
			+ ' inner join SYS_OBJ_CLS oc on oc.sysobjclscod=o.sysobjclscod '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END
	
	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
