USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_PRG_VEW_COL_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_APP_PRG_VEW_COL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_vewfldcod		as int					= null,		-- id
@lp_VewCod			as nvarchar(30) = null,		-- id vista
@lp_VewFld			as nvarchar(40)	= null,		-- campo
@lp_VewFldOrd		as int					= null,		-- Orden en que los campos aparecen en la vista
@lp_VewFldTtl		as nvarchar(40)	= null,		-- titulo del campo
@lp_VewFldWth		as int					= null,		-- ancho de la columna
@lp_VewFldAlg		as nvarchar(50)	= null,		-- alineacion (left / middle / right)
@lp_VewFldDatPas	as int				= null,		-- Booleano (1-el campo pasa como dato / 0-no pasa)
@lp_VewFldFlt		as int					= null,		-- Filtro (1-aplica filtro / 0-no filtrable)
@lp_sysappfld		as nvarchar(40)	= null,		-- definición de campo
@lp_docsts			as nvarchar(2)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null		-- config vista

AS

SET NOCOUNT ON

declare @lv_sql as nvarchar(max)

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- valido que el nombre de la vista exista en la cabecera
		if not exists(select top 1 * from SYS_APP_PRG_VEW where VewCod=@lp_VewCod)
			BEGIN
				select null, -1 as errcod, 'El nombre de la vista no existe.' as errtxt
				RETURN
			END

		BEGIN TRAN

		INSERT INTO SYS_APP_PRG_VEW_COL (VewCod,VewFld,VewFldOrd,VewFldTtl,VewFldWth,VewFldAlg,VewFldDatPas,VewFldFlt,SysAppFld,DocSts, ctedte, cteusr)
		VALUES (@lp_VewCod,@lp_VewFld,@lp_VewFldOrd,@lp_VewFldTtl,@lp_VewFldWth,@lp_VewFldAlg,@lp_VewFldDatPas,@lp_VewFldFlt,@lp_SysAppFld,@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SET @lp_vewfldcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_VewFldCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_APP_PRG_VEW_COL 
		SET	VewFldOrd	=@lp_VewFldOrd,
			VewFld = @lp_vewfld, 
			VewFldTtl	=@lp_VewFldTtl,
			VewFldWth	=@lp_VewFldWth,
			VewFldAlg	=@lp_VewFldAlg,
			VewFldDatPas=@lp_VewFldDatPas,
			VewFldFlt	=@lp_VewFldFlt,
			SysAppFld	=@lp_SysAppFld,
			docsts		= @lp_docsts,
			upddte		= getdate(),
			updusr		= @lp_username
		WHERE VewCod=@lp_VewCod
		  and VewFldCod=@lp_VewFldCod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_VewFldCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*, f.sysfldinptyp, f.sysfldoutsze, f.sysfldmaxlng
		FROM SYS_APP_PRG_VEW_COL c
		  left join SYS_GRL_FLD f on f.sysfld=c.sysappfld
		WHERE c.VewFldCod=@lp_VewFldCod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM SYS_APP_PRG_VEW_COL
		WHERE VewFldCod = @lp_VewFldCod

		SET @lv_errcod = @@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_VewCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' vc.*, f.sysfldinptyp, f.sysfldoutsze, f.sysfldmaxlng ',
			' SYS_APP_PRG_VEW_COL vc '
			+ ' inner join SYS_APP_PRG_VEW v on v.vewcod=vc.vewcod '
			+ ' left join SYS_GRL_FLD f on f.sysfld=vc.sysappfld ',
			' v.docsts='+QUOTENAME('A','''') + ' and vc.docsts='+QUOTENAME('A',''''),
 			' vc.vewcod, vc.VewFldOrd ', default )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
