USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[GRL_DAT_TSK_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_TSK_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_tskcod 			as int			= null,	-- id 
@lp_tskcodext		as nvarchar(20)	= null,	-- codigo 
@lp_tsktxt	 		as nvarchar(50) = null,	-- texto 
@lp_tskfrqatr		as nvarchar(max)=null,	-- frecuencia - atributos programaciÃ³n
@lp_tskurl			as nvarchar(max)=null,	-- url de la tarea
@lp_tsklstruntme		as nvarchar(14)=null,	-- ultima ejecucion  - fecha
@lp_tsknxtruntme		as nvarchar(14)=null,	-- prÃ³xima ejecucion  - fecha 
@lp_tsklstrunsts		as nvarchar(2)=null,	-- ultima ejecucion - estado 
@lp_tsklstrunatr		as nvarchar(max)=null,	-- ultima ejecucion - atributos  
@lp_srcobjtyp		as nvarchar(20)	= null,	-- origen - tipo 
@lp_srcobjcod001	as nvarchar(20) = null,	-- origen - id 
@lp_tskprg			as nvarchar(max)=null, -- controlador
@lp_tskatr			as nvarchar(max)=null, -- atributos - POST 
@lp_docsts 			as nvarchar(2)	= null,	-- estado
@lp_tsklst 			as nvarchar(max)	= null,	-- lista de tareas (para actualizar estados)

-- resultado de ejecuciÃ³n que recibe la Op 17, para armar el registro de cada tarea.
@lp_tskexeerrtyp	as nvarchar(2)	= null,	-- S/E - tipo de error de ejecuciÃ³n
@lp_tskexeerrcod	as int			= null,	-- cÃ³digo de error de ejecuciÃ³n
@lp_tskexeerrmsg	as nvarchar(max)= null,	-- mensaje de error de ejecuciÃ³n
@lp_tskexeres		as nvarchar(max)= null,	-- resultado crudo (data) devuelto por la tarea, tal cual lo reportÃ³ la ejecuciÃ³n

@lp_vewcfg			as nvarchar(max)=null,	-- config vista

@lp_applog			as bit			= 1		-- 1=registra log interno / 0=no registra

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)

declare @lv_tsklstruntme	as datetime = dbo.ConvertDate( @lp_tsklstruntme )


declare @lv_TskCod 			as int					= null	-- id 
declare @lv_TskFrqTyp	as nvarchar(10)=null	-- Tipo de frecuencia 
declare @lv_TskFrqAtr		as nvarchar(MAX) = null	-- frecuencia - tipo (U-unica / PD-Programada Diaria / PW-programada semanal / PM-programada mensual / PA-programada anual)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------

-- No se controla autorizaciÃ³n: las tareas se guardan en la base central y los permisos estÃ¡n en otra base.

/*if @lp_sysoperation in ('01','02','03','04','08','09')
	BEGIN
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TSK'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			BEGIN
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			END
	END*/

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11','02','12')
	BEGIN
	
		-- codigo externo duplicado
		if not isnull(@lp_tskcodext,'')=''
			IF exists(select top 1 * from GRL_DAT_TSK where not tskcod=@lp_tskcod and tskcodext=@lp_tskcodext)
				BEGIN
					SELECT null, 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END

	END
  

-- ------------------------------------------------------------------------
-- PREPARACION. prepara los datos antes de procesar la peticion
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('01', '11', '02', '12', '17')
  BEGIN
    BEGIN TRY
      -- 1. limpieza de tablas temporales
      IF OBJECT_ID('tempdb..#tmpTskFrqAtr') IS NOT NULL
          DROP TABLE #tmpTskFrqAtr

      /* ==========================================================
         2. CARGA DE DATOS (HÃ­brida: Lote o Individual)
         ========================================================== */

      -- 2. crea la tabla temporal. La columna rn sirve para recorrerla en la Op 17.
      CREATE TABLE #tmpTskFrqAtr (
          rn          INT IDENTITY(1,1) PRIMARY KEY,
          tskcod      INT,
          frqtyp      NVARCHAR(2),
          frqqty      INT,
          frqtmeqty   INT,
          strdte      NVARCHAR(10),
          enddte      NVARCHAR(10),
          strtme      NVARCHAR(5),
          endtme      NVARCHAR(5),
          frqstrtme   NVARCHAR(8),
          frqendtme   NVARCHAR(8),
          daynum      INT,
          weknum      INT,
          wekday      NVARCHAR(7),
          strdteful   DATETIME,
          enddteful   DATETIME
      )

      -- 3. carga los datos de la tarea en la tabla temporal.
      -- CASO A: Op 17 con un solo tskcod.
      IF @lp_sysoperation = '17' AND @lp_tskcod IS NOT NULL
      BEGIN
          INSERT INTO #tmpTskFrqAtr (tskcod, frqtyp, frqqty, frqtmeqty, strdte, enddte, strtme, endtme, frqstrtme, frqendtme, daynum, weknum, wekday)
          SELECT 
              t.tskcod, 
              j.frqtyp, j.frqqty, j.frqtmeqty, j.strdte, j.enddte, j.strtme, j.endtme, 
              j.frqstrtme, j.frqendtme, j.daynum, j.weknum, j.wekday
          FROM GRL_DAT_TSK t
          CROSS APPLY OPENJSON(
              REPLACE(REPLACE(REPLACE(
                  CASE WHEN ISNULL(t.tskfrqatr,'')='' THEN '[]' ELSE t.tskfrqatr END, 
              '\"', '"'), '\\', ''), '"#', '#')
          ) WITH (
              frqtyp nvarchar(2) '$.frqtyp', frqqty int '$.frqqty', frqtmeqty int '$.frqtmeqty',
              strdte nvarchar(10) '$.strdte', enddte nvarchar(10) '$.enddte', 
              strtme nvarchar(5) '$.strtme', endtme nvarchar(5) '$.endtme',
              frqstrtme nvarchar(8) '$.frqstrtme', frqendtme nvarchar(8) '$.frqendtme',
              daynum int '$.daynum', weknum int '$.weknum', wekday nvarchar(7) '$.wekday'
          ) j
          WHERE t.tskcod = @lp_tskcod;
      END
      -- CASO B: operaciones 01, 11, 02 y 12, que traen los atributos en @lp_tskfrqatr.
      ELSE
      BEGIN
          IF ISNULL(@lp_tskfrqatr,'')='' SET @lp_tskfrqatr = '[]'
          SET @lp_tskfrqatr = REPLACE(REPLACE(REPLACE(@lp_tskfrqatr, '\"', '"'), '\\', ''), '"#', '#');

          INSERT INTO #tmpTskFrqAtr (tskcod, frqtyp, frqqty, frqtmeqty, strdte, enddte, strtme, endtme, frqstrtme, frqendtme, daynum, weknum, wekday)
          SELECT 
              @lp_tskcod,
              frqtyp, frqqty, frqtmeqty, strdte, enddte, strtme, endtme, frqstrtme, frqendtme, daynum, weknum, wekday
          FROM OPENJSON(@lp_tskfrqatr) WITH (
              frqtyp nvarchar(2) '$.frqtyp', frqqty int '$.frqqty', frqtmeqty int '$.frqtmeqty',
              strdte nvarchar(10) '$.strdte', enddte nvarchar(10) '$.enddte', 
              strtme nvarchar(5) '$.strtme', endtme nvarchar(5) '$.endtme',
              frqstrtme nvarchar(8) '$.frqstrtme', frqendtme nvarchar(8) '$.frqendtme',
              daynum int '$.daynum', weknum int '$.weknum', wekday nvarchar(7) '$.wekday'
          );
      END

      /* ==========================================================
         3. FORMATEO DE FECHAS Y MÃSCARA SEMANAL
         ========================================================== */
      UPDATE #tmpTskFrqAtr
      SET strdteful = TRY_CONVERT( DATETIME, strdte + ' ' + CASE WHEN LEN(strtme)=5 THEN strtme+':00' ELSE strtme END, 103 ),
          enddteful = TRY_CONVERT( DATETIME, enddte + ' ' + CASE WHEN LEN(endtme)=5 THEN endtme+':00' ELSE endtme END, 103 ),
          frqstrtme = CONVERT(NVARCHAR(8), TRY_CONVERT(TIME, frqstrtme), 108),
          frqendtme = CONVERT(NVARCHAR(8), TRY_CONVERT(TIME, frqendtme), 108);

      -- dÃ­as de la semana
      ALTER TABLE #tmpTskFrqAtr ADD wek_sun BIT, wek_mon BIT, wek_tue BIT, wek_wed BIT, wek_thu BIT, wek_fri BIT, wek_sat BIT;

      UPDATE #tmpTskFrqAtr
      SET wek_sun = CASE SUBSTRING(wekday,1,1) WHEN '1' THEN 1 ELSE 0 END,
          wek_mon = CASE SUBSTRING(wekday,2,1) WHEN '1' THEN 1 ELSE 0 END,
          wek_tue = CASE SUBSTRING(wekday,3,1) WHEN '1' THEN 1 ELSE 0 END,
          wek_wed = CASE SUBSTRING(wekday,4,1) WHEN '1' THEN 1 ELSE 0 END,
          wek_thu = CASE SUBSTRING(wekday,5,1) WHEN '1' THEN 1 ELSE 0 END,
          wek_fri = CASE SUBSTRING(wekday,6,1) WHEN '1' THEN 1 ELSE 0 END,
          wek_sat = CASE SUBSTRING(wekday,7,1) WHEN '1' THEN 1 ELSE 0 END;

      /* ==========================================================
         4. ASIGNACIÃ“N DE VARIABLES (Para compatibilidad con 01, 02, 11, 12)
         ========================================================== */
      DECLARE
          @lv_now        DATETIME = GETDATE(),
          @lv_nxtexe     DATETIME = NULL,
          @lv_frqtyp     NVARCHAR(2),
          @lv_frqqty     INT,
          @lv_frqtmeqty  INT,
          @lv_strdteful  DATETIME,
          @lv_enddteful  DATETIME,
          @lv_wekday     NVARCHAR(7),
          @lv_daynum     INT,
          @lv_weknum     INT,
          @lv_frqstrtme  TIME,
          @lv_frqendtme  TIME;

      -- si no es la Op 17, carga las variables para el resto del procedimiento
      IF @lp_sysoperation <> '17'
      BEGIN
        SELECT TOP 1
            @lv_frqtyp    = frqtyp,
            @lv_frqqty    = frqqty,
            @lv_frqtmeqty = frqtmeqty,
            @lv_strdteful = strdteful,
            @lv_enddteful = enddteful,
            @lv_wekday    = wekday,
            @lv_daynum    = daynum,
            @lv_weknum    = weknum,
            @lv_frqstrtme = TRY_CONVERT(TIME, frqstrtme),
            @lv_frqendtme = TRY_CONVERT(TIME, frqendtme)
        FROM #tmpTskFrqAtr;
      END

    END TRY
    BEGIN CATCH
        exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
    END CATCH
  END


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('01','11')
  BEGIN
    SET @lv_validop = 1;
    BEGIN TRY
      BEGIN TRAN

        INSERT INTO GRL_DAT_TSK
          (buscod, tskcodext, tsktxt, tskfrqatr, tskurl, tskatr, srcobjtyp, srcobjcod001, docsts, cteusr, ctedte)
        VALUES
          (@lp_buscod, @lp_tskcodext, @lp_tsktxt, @lp_tskfrqatr, @lp_tskurl, @lp_tskatr, @lp_srcobjtyp, @lp_srcobjcod001, @lp_docsts, @lp_username, GETDATE());

        SET @lp_tskcod=SCOPE_IDENTITY()

        EXEC GRL_DAT_TSK_DEF
            @lp_sysoperation = '17', @lp_username = @lp_username, @lp_buscod = @lp_buscod, @lp_tskcod = @lp_tskcod, @lp_tskfrqatr = @lp_tskfrqatr, @lp_docsts = @lp_docsts, @lp_applog = 0;
			COMMIT TRAN
    END TRY
    BEGIN CATCH
      ROLLBACK TRAN
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
      SELECT NULL, 'E' AS errtyp, ERROR_NUMBER() AS errcod, ERROR_MESSAGE() AS errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() AS NVARCHAR(20)) AS errtch;
      RETURN
    END CATCH

    SELECT @lp_tskcod as tskcod, 'S' as errtyp, 0 as errcod, '' as errtxt	
  END


-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('02','12')
	BEGIN
		SET @lv_validop = 1
    BEGIN TRY
			BEGIN TRAN
      
        UPDATE GRL_DAT_TSK
        SET	tskcodext  = @lp_tskcodext,
          tsktxt  = @lp_tsktxt,
          tskfrqatr = @lp_tskfrqatr,
          tskurl = @lp_tskurl,
          tskatr = @lp_tskatr,
          docsts = @lp_docsts,
          updusr = @lp_username,
          upddte = getdate()
        WHERE tskcod = @lp_tskcod

        EXEC GRL_DAT_TSK_DEF @lp_sysoperation = '17', @lp_username = @lp_username, @lp_buscod = @lp_buscod, @lp_tskcod = @lp_tskcod, @lp_tskfrqatr = @lp_tskfrqatr, @lp_docsts = @lp_docsts, @lp_applog = 0;
      COMMIT TRAN
		END TRY
		BEGIN CATCH
      ROLLBACK TRAN
      -- registra el log de error
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
		 
 		SELECT @lp_tskcod as tskcod, 'S' as errtyp, 0 as errcod, '' as errtxt		
	END


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('03','13')
	BEGIN
		SET @lv_validop=1
		BEGIN TRY
    
      SELECT t.*
      FROM GRL_DAT_TSK t 
      WHERE t.tskcod=@lp_tskcod
		
    END TRY
    BEGIN CATCH
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
      SELECT null,'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch
      RETURN
  	END CATCH
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('04','14')
	BEGIN
		SET @lv_validop = 1
    BEGIN TRY
			BEGIN TRAN

        -- borro la tarea
        DELETE FROM GRL_DAT_TSK
        WHERE tskcod = @lp_tskcod

        -- borro logs asociados (misma clave srcobjtyp/srcobjcod001 que usa afterLoad para listarlos)
        DELETE FROM SYS_APP_LOG
        WHERE srcobjtyp = 'GRL_TSK'
          AND srcobjcod001 = CAST(@lp_tskcod AS NVARCHAR(20))

      COMMIT TRAN
		END TRY
		BEGIN CATCH
      ROLLBACK TRAN
      -- registra el log de error
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT @lp_tskcod as tskcod, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH

 		SELECT @lp_tskcod as tskcod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END
	


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('08','18')
	BEGIN
		SET @lv_validop=1
		BEGIN TRY
      -- GRL_DAT_TSK_def '08','temasis','temasis_log' 
      set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' T.* ', ' GRL_DAT_TSK T ','', ' T.tskcod ', default)
      execute( @lv_sql )

		END TRY
		BEGIN CATCH
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SELECT null,'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch
			RETURN
		END CATCH
	END
  


-- ------------------------------------------------------------------------ 
--   1 7    -    C A L C U L A R  P R O X I M A  E J E C U C I O N 																	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1

    -- guarda el resultado de cada tarea para registrarlo despuÃ©s de confirmar los cambios.
    DECLARE @tv_tsklog TABLE (tskcod INT, errtyp NVARCHAR(2), errcod INT, errmsg NVARCHAR(MAX));

    -- reintento ante deadlock (error 1205), que es el caso que SQL Server pide reintentar.
    -- SÃ³lo se reintenta cuando la Op 17 es la transacciÃ³n mÃ¡s externa: si la llamaron las
    -- Op 01/02 desde adentro de su propia transacciÃ³n, el ROLLBACK alcanzarÃ­a tambiÃ©n a la
    -- del llamador, asÃ­ que el error se propaga y lo maneja el CATCH de ellas.
    DECLARE @lv_trnout BIT = CASE WHEN @@TRANCOUNT = 0 THEN 1 ELSE 0 END;
    DECLARE @lv_atmpt INT = 0, @lv_maxatmpt INT = 3, @lv_done BIT = 0;

    WHILE @lv_done = 0
    BEGIN
      SET @lv_atmpt = @lv_atmpt + 1;
      -- el reintento vuelve a armar el registro desde cero: ROLLBACK no limpia las variables tipo tabla.
      DELETE FROM @tv_tsklog;

    BEGIN TRY
    	BEGIN TRANSACTION
        -- declaraciÃ³n de variables para el cÃ¡lculo
        DECLARE @cur_tskcod INT, @cur_frqtyp NVARCHAR(2), @cur_frqqty INT, @cur_strdteful DATETIME,
                @cur_enddteful DATETIME, @cur_wekday NVARCHAR(7), @cur_daynum INT, @cur_weknum INT,
                @cur_frqstrtme TIME, @cur_frqendtme TIME, @cur_frqtmeqty INT;

        -- lÃ­mite mÃ¡ximo de 2 aÃ±os, por si la tarea no tiene fecha de fin.
        DECLARE @lv_horizcap DATE = DATEADD(YEAR, 2, GETDATE());
        DECLARE @lv_horiz DATE;
        DECLARE @lv_start DATE;

        -- docsts con el que se actualizarÃ¡ la tarea: si vino indicado se respeta;
        -- si no, se libera a 'A'.
        DECLARE @lv_nxtdocsts NVARCHAR(2) = ISNULL(NULLIF(@lp_docsts, ''), 'A');

        -- docsts final de cada tarea: si no le quedÃ³ prÃ³xima ejecuciÃ³n se inactiva ('I')
        -- para que no vuelva a listarse; si le quedÃ³, se usa @lv_nxtdocsts.
        DECLARE @lv_curdocsts NVARCHAR(2);

        -- 1. recorre #tmpTskFrqAtr usando la columna rn.
        DECLARE @cur_rn INT, @cur_maxrn INT;
        SET @cur_rn = 0; -- explÃ­cito: el reintento vuelve a recorrer la lista desde el principio.
        SELECT @cur_maxrn = ISNULL(MAX(rn), 0) FROM #tmpTskFrqAtr;

        -- en cada vuelta lleva el tskcod actual a la Op 25 como lista JSON.
        DECLARE @lv_tsklstjsn NVARCHAR(MAX);

        WHILE @cur_rn < @cur_maxrn
        BEGIN
          SET @cur_rn = @cur_rn + 1;

          SELECT @cur_tskcod = tskcod, @cur_frqtyp = frqtyp, @cur_frqqty = frqqty, @cur_strdteful = strdteful, @cur_enddteful = enddteful, @cur_wekday = wekday, @cur_daynum = daynum, @cur_weknum = weknum, @cur_frqstrtme = TRY_CONVERT(TIME, frqstrtme), @cur_frqendtme = TRY_CONVERT(TIME, frqendtme), @cur_frqtmeqty = frqtmeqty
          FROM #tmpTskFrqAtr WHERE rn = @cur_rn;

          -- valores por defecto por si la frecuencia no trae horario.
          IF @cur_frqstrtme IS NULL SET @cur_frqstrtme = '00:00:00';
          IF @cur_frqendtme IS NULL SET @cur_frqendtme = '23:59:59';
          IF @cur_frqtmeqty IS NULL SET @cur_frqtmeqty = 0;

          -- horizonte de cÃ¡lculo: si la tarea tiene fecha de fin, se acota a esa fecha (mÃ¡ximo 2 aÃ±os).
          SET @lv_horiz = @lv_horizcap;
          IF @cur_enddteful IS NOT NULL AND CAST(@cur_enddteful AS DATE) < @lv_horiz
            SET @lv_horiz = CAST(@cur_enddteful AS DATE);

          SET @lv_nxtexe = NULL;
          SET @lv_start = CAST(@cur_strdteful AS DATE);

          -- Si la fecha de inicio todavÃ­a no llegÃ³, esa misma es la prÃ³xima ejecuciÃ³n.
          IF @cur_strdteful IS NOT NULL AND @cur_strdteful >= @lv_now
          BEGIN
            SET @lv_nxtexe = @cur_strdteful;
          END
          ELSE
          BEGIN
            -- 2. calcula el prÃ³ximo horario: busca la prÃ³xima fecha que cumple la frecuencia y,
            --    dentro del dÃ­a, avanza de a @cur_frqtmeqty minutos entre la hora de inicio y la de fin.
            --    Si @cur_frqtmeqty = 0, hay un solo horario por dÃ­a.
            ;WITH Calendar AS (
                SELECT @lv_start AS Fecha -- punto de partida (ancla del ciclo)
                UNION ALL
                SELECT DATEADD(DAY, 1, Fecha)
                FROM Calendar
                WHERE DATEADD(DAY, 1, Fecha) <= @lv_horiz
            ),
            ValidDates AS (
                -- Fechas que cumplen la regla de frecuencia y aÃºn estÃ¡n vigentes (>= hoy).
                -- El Ã­ndice sobre @cur_wekday (D-L-M-M-J-V-S) se cuenta desde el domingo 2000-01-02,
                -- asÃ­ no depende de SET DATEFIRST ni del idioma del login.
                SELECT Fecha
                FROM Calendar
                WHERE Fecha >= CAST(@lv_now AS DATE)
                  AND (
                       (@cur_frqtyp = 'U' AND Fecha = @lv_start)
                    OR (@cur_frqtyp = 'D' AND DATEDIFF(DAY,  @lv_start, Fecha) % @cur_frqqty = 0)
                    OR (@cur_frqtyp = 'W' AND DATEDIFF(WEEK, @lv_start, Fecha) % @cur_frqqty = 0
                          AND SUBSTRING(@cur_wekday, (DATEDIFF(DAY, '20000102', Fecha) % 7) + 1, 1) = '1')
                    OR (@cur_frqtyp = 'M' AND DATEDIFF(MONTH, @lv_start, Fecha) % @cur_frqqty = 0 AND (
                          (@cur_daynum IS NOT NULL AND DAY(Fecha) = IIF(@cur_daynum > DAY(EOMONTH(Fecha)), DAY(EOMONTH(Fecha)), @cur_daynum))
                          OR (@cur_weknum IS NOT NULL AND SUBSTRING(@cur_wekday, (DATEDIFF(DAY, '20000102', Fecha) % 7) + 1, 1) = '1' AND (DAY(Fecha)-1)/7 + 1 = @cur_weknum)
                       ))
                  )
            )
            SELECT TOP 1 @lv_nxtexe = S.Slot
            FROM (
                -- alcanza con las dos primeras fechas vÃ¡lidas: si la primera ya no tiene horario libre, se usa la segunda.
                SELECT TOP 2 Fecha FROM ValidDates ORDER BY Fecha
            ) D
            CROSS APPLY (
                -- ancla horaria del dÃ­a: sin repeticiÃ³n (frqtmeqty <= 0) la tarea corre siempre a la hora
                -- de inicio configurada, porque la franja no aplica. Con repeticiÃ³n, el dÃ­a de inicio
                -- arranca en strdteful y los siguientes en la hora de inicio de la franja.
                SELECT CASE WHEN @cur_frqtmeqty <= 0 OR D.Fecha = CAST(@cur_strdteful AS DATE)
                            THEN CAST(@cur_strdteful AS TIME)
                            ELSE @cur_frqstrtme
                       END AS AnchorTme
            ) A
            CROSS APPLY (
                SELECT CAST(D.Fecha AS DATETIME) + CAST(A.AnchorTme    AS DATETIME) AS DayStart,
                       CAST(D.Fecha AS DATETIME) + CAST(@cur_frqendtme AS DATETIME) AS DayEnd
            ) DT
            CROSS APPLY (
                -- primer horario del dÃ­a posterior a la hora actual:
                --   - sin repeticiÃ³n: sirve si todavÃ­a no pasÃ³.
                --   - con repeticiÃ³n: usa la hora de inicio, o avanza de a frqtmeqty hasta pasar la hora actual.
                SELECT CASE
                         WHEN @cur_frqtmeqty <= 0
                              THEN CASE WHEN DT.DayStart > @lv_now THEN DT.DayStart ELSE NULL END
                         WHEN DT.DayStart > @lv_now
                              THEN DT.DayStart
                         ELSE DATEADD(MINUTE,
                                      @cur_frqtmeqty * (FLOOR(DATEDIFF(SECOND, DT.DayStart, @lv_now) / (@cur_frqtmeqty * 60.0)) + 1),
                                      DT.DayStart)
                       END AS RawSlot
            ) R
            CROSS APPLY (
                -- descarta el horario si se pasÃ³ del horario de fin.
                SELECT CASE
                         WHEN R.RawSlot IS NULL THEN NULL
                         WHEN @cur_frqtmeqty <= 0 THEN R.RawSlot
                         WHEN R.RawSlot <= DT.DayEnd THEN R.RawSlot
                         ELSE NULL
                       END AS Slot
            ) S
            WHERE S.Slot IS NOT NULL
              -- si la tarea tiene fin definido, no se programa nada despuÃ©s de enddteful.
              AND (@cur_enddteful IS NULL OR S.Slot <= @cur_enddteful)
            ORDER BY S.Slot
            OPTION (MAXRECURSION 0);
          END

          -- 3. guarda la prÃ³xima fecha calculada en la tarea.
          UPDATE GRL_DAT_TSK
          SET tsknxtruntme = @lv_nxtexe,
              tsklstruntme = @lv_now -- guarda tambiÃ©n la fecha de esta Ãºltima ejecuciÃ³n.
          WHERE tskcod = @cur_tskcod;

          -- 4. actualiza el estado llamando a la Op 25. Si no quedÃ³ prÃ³xima ejecuciÃ³n, se inactiva ('I');
          -- si quedÃ³, se usa @lv_nxtdocsts. El SAVE TRAN y el TRY/CATCH permiten registrar el
          -- resultado de cada tarea sin abortar toda la transacciÃ³n. Se pasa @lp_applog = 0
          -- porque el registro de cada tarea lo deja la Op 17 al final.
          SET @lv_curdocsts = CASE WHEN @lv_nxtexe IS NULL THEN 'I' ELSE @lv_nxtdocsts END;
          SET @lv_tsklstjsn = '[' + CAST(@cur_tskcod AS NVARCHAR(10)) + ']';

          SAVE TRANSACTION sv_op25;
          BEGIN TRY
            EXEC GRL_DAT_TSK_DEF @lp_sysoperation = '25', @lp_username = @lp_username, @lp_buscod = @lp_buscod, @lp_tsklst = @lv_tsklstjsn, @lp_docsts = @lv_curdocsts, @lp_applog = 0;

            -- Op 25 OK: si la ejecuciÃ³n tambiÃ©n saliÃ³ bien, registra Ã©xito.
            -- Si la ejecuciÃ³n fallÃ³, registra ese error (el estado igual se actualizÃ³).
            IF ISNULL(@lp_tskexeerrtyp, 'S') = 'S'
              INSERT INTO @tv_tsklog (tskcod, errtyp, errcod, errmsg)
              VALUES (@cur_tskcod, 'S', 0, 'Tarea ejecutada correctamente. Estado actualizado a ''' + @lv_curdocsts + '''.');
            ELSE
              INSERT INTO @tv_tsklog (tskcod, errtyp, errcod, errmsg)
              VALUES (@cur_tskcod, 'E', ISNULL(@lp_tskexeerrcod, -1), ISNULL(@lp_tskexeerrmsg, 'Error en la ejecuciÃ³n de la tarea.'));
          END TRY
          BEGIN CATCH
            -- si la transacciÃ³n ya no se puede confirmar, se relanza el error al CATCH externo.
            IF XACT_STATE() = -1
              THROW;
            ROLLBACK TRANSACTION sv_op25;

            -- Op 25 fallÃ³ (la prÃ³xima fecha ya quedÃ³ guardada). Si la ejecuciÃ³n habÃ­a salido bien
            -- se reporta -11; si tambiÃ©n habÃ­a fallado, prevalece el error de ejecuciÃ³n.
            IF ISNULL(@lp_tskexeerrtyp, 'S') = 'S'
              INSERT INTO @tv_tsklog (tskcod, errtyp, errcod, errmsg)
              VALUES (@cur_tskcod, 'E', -11, 'Tarea ejecutada correctamente. Error al actualizar el estado.');
            ELSE
              INSERT INTO @tv_tsklog (tskcod, errtyp, errcod, errmsg)
              VALUES (@cur_tskcod, 'E', ISNULL(@lp_tskexeerrcod, -1), ISNULL(@lp_tskexeerrmsg, 'Error en la ejecuciÃ³n de la tarea.') + ' Error al actualizar el estado.');
          END CATCH
        END

				COMMIT TRANSACTION

        -- confirmado: a partir de acÃ¡ no se reintenta, aunque falle el registro de abajo.
        SET @lv_done = 1;

        -- registro de cada tarea, fuera de la transacciÃ³n. Se omite si @lp_applog = 0.
        -- El log se graba con el buscod de la tarea (no el del scheduler), para que la
        -- vista de la tarea lo encuentre al filtrar por la empresa del usuario.
        IF ISNULL(@lp_applog, 1) = 1
        BEGIN
          DECLARE @log_tskcod INT, @log_buscod NVARCHAR(20), @log_errtyp NVARCHAR(2), @log_errcod INT, @log_errmsg NVARCHAR(MAX), @log_tecinf NVARCHAR(MAX);
          DECLARE cur_tsklog CURSOR LOCAL FAST_FORWARD FOR
            SELECT l.tskcod, ISNULL(t.buscod, @lp_buscod), l.errtyp, l.errcod, l.errmsg
            FROM @tv_tsklog l
            LEFT JOIN GRL_DAT_TSK t ON t.tskcod = l.tskcod;
          OPEN cur_tsklog;
          FETCH NEXT FROM cur_tsklog INTO @log_tskcod, @log_buscod, @log_errtyp, @log_errcod, @log_errmsg;
          WHILE @@FETCH_STATUS = 0
          BEGIN
            -- applogtecinf: JSON con errtyp, errcod, errmsg y rawres.
            -- rawres es el dato que devolviÃ³ la tarea, guardado como texto.
            SET @log_tecinf = '{"errtyp":"' + @log_errtyp
                            + '","errcod":' + CAST(@log_errcod AS NVARCHAR(20))
                            + ',"errmsg":"' + REPLACE(REPLACE(ISNULL(@log_errmsg,''), '\', '\\'), '"', '\"')
                            + '","rawres":"' + REPLACE(REPLACE(ISNULL(@lp_tskexeres,''), '\', '\\'), '"', '\"') + '"}';
            BEGIN TRY
              EXEC SYS_APP_LOG_DEF @lp_sysoperation = '01_sp', @lp_username = @lp_username, @lp_buscod = @log_buscod, @lp_applogtxt = 'EjecuciÃ³n de tarea programada', @lp_srcobjtyp = 'GRL_TSK', @lp_srcobjcod001 = @log_tskcod, @lp_applogtecinf = @log_tecinf, @lp_mdlcod = 'SYS', @lp_prgcod = 'TSK', @lp_docsts = 'A';
            END TRY
            BEGIN CATCH
              -- un fallo al registrar no debe afectar el resultado de la Op 17.
            END CATCH
            FETCH NEXT FROM cur_tsklog INTO @log_tskcod, @log_buscod, @log_errtyp, @log_errcod, @log_errmsg;
          END
          CLOSE cur_tsklog;
          DEALLOCATE cur_tsklog;
        END
      END TRY
      BEGIN CATCH
        -- el deadlock ya dejÃ³ la transacciÃ³n condenada (XACT_STATE = -1), pero sigue abierta.
        IF @@TRANCOUNT > 0
          ROLLBACK TRANSACTION;

        -- 1205 = elegida vÃ­ctima de deadlock. Se reintenta la transacciÃ³n completa;
        -- cualquier otro error, o agotados los intentos, se reporta como hasta ahora.
        IF ERROR_NUMBER() = 1205 AND @lv_trnout = 1 AND @lv_done = 0 AND @lv_atmpt < @lv_maxatmpt
          WAITFOR DELAY '00:00:00.500';
        ELSE
        BEGIN
          EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;

          SELECT NULL, 'E' AS errtyp, ERROR_NUMBER() AS errcod,
                 ERROR_MESSAGE() AS errtxt,
                 ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() AS NVARCHAR(20)) AS errtch;
          RETURN;
        END
      END CATCH
    END
    END


-- ------------------------------------------------------------------------
--   2 0		-		L I S T A  T A R E A S  A  E J E C U T A R
-- ------------------------------------------------------------------------
-- Devuelve la lista de tareas pendientes y reactiva las que quedaron trabadas.
IF @lp_sysoperation = '20'
	BEGIN
		SET @lv_validop = 1
    DECLARE @lv_resjson NVARCHAR(MAX)
    -- las tareas en 'R' por mÃ¡s de @lv_runtmoutmin minutos se consideran trabadas y se liberan a 'A'.
    DECLARE @lv_runtmoutmin INT = 30

    BEGIN TRANSACTION
      BEGIN TRY
        -- 0. red de seguridad: vuelve a 'A' las tareas trabadas en 'R' por demasiado tiempo.
        -- tsklstrunatr guarda el momento en que la tarea pasÃ³ a 'R'.
        UPDATE GRL_DAT_TSK
        SET DocSts = 'A', tsklstrunatr = NULL
        WHERE DocSts = 'R'
          AND TRY_CONVERT(DATETIME, tsklstrunatr) IS NOT NULL
          AND TRY_CONVERT(DATETIME, tsklstrunatr) < DATEADD(MINUTE, -@lv_runtmoutmin, GETDATE())

        -- 1. devuelve las tareas pendientes en JSON, sin cambiar su estado.
        -- Se excluyen las que no tienen prÃ³xima ejecuciÃ³n (tsknxtruntme NULL), para que no se vuelvan a listar.
        SET @lv_resjson = (SELECT buscod as buscod, tskurl as url, tskcod as tskcod, tskatr as tskatr
                           FROM GRL_DAT_TSK
                           WHERE DocSts = 'A' AND tsknxtruntme IS NOT NULL AND tsknxtruntme <= GETDATE()
                           FOR JSON PATH)

        SELECT ISNULL(@lv_resjson, '[]') as tsklst

        COMMIT TRANSACTION
      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
        SELECT NULL, 'E' AS errtyp, ERROR_NUMBER() AS errcod, ERROR_MESSAGE() AS errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() AS NVARCHAR(20)) AS errtch;
      END CATCH
	END
  
  
-- -----------------------------------------------------------------------------------------
--   2 5		-		A C T U A L I Z A  E S T A D O  D E  L A S  T A R E A S
-- -----------------------------------------------------------------------------------------
-- Recibe una lista JSON de tskcods en @lp_tsklst y actualiza el docsts de todas de una vez.
-- Al pasar a 'R' guarda la hora actual en tsklstrunatr, para que la Op 20 pueda detectar
-- tareas trabadas. Al pasar a otro estado, limpia tsklstrunatr.
IF @lp_sysoperation = '25'
  BEGIN
    SET @lv_validop = 1;

    BEGIN TRANSACTION
      BEGIN TRY

        IF ISNULL(@lp_tsklst, '') <> ''
        BEGIN
          UPDATE GRL_DAT_TSK
          SET DocSts = @lp_docsts,
              -- al pasar a 'R': guarda la hora actual.
              -- al pasar a 'A' o cualquier otro estado: la limpia.
              tsklstrunatr = CASE
                               WHEN @lp_docsts = 'R' THEN CONVERT(NVARCHAR(30), GETDATE(), 121)
                               ELSE NULL
                             END
          WHERE TskCod IN (SELECT CAST(value AS INT) FROM OPENJSON(@lp_tsklst));

          -- registra el cambio de estado en un solo log con la lista de tskcods afectados.
          -- El TRY/CATCH evita que un fallo al registrar afecte el cambio ya hecho.
          -- Se omite si @lp_applog = 0.
          IF ISNULL(@lp_applog, 1) = 1
          BEGIN
            DECLARE @lv_logtecinf NVARCHAR(MAX) =
                    '{"errtyp":"S","errcod":0,"errmsg":"Estado actualizado a ''' + ISNULL(@lp_docsts, '') + '''.","tskcods":' + @lp_tsklst + '}';

            BEGIN TRY
              EXEC SYS_APP_LOG_DEF @lp_sysoperation = '01_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, @lp_applogtxt = 'ActualizaciÃ³n de estado de tareas', @lp_srcobjtyp = 'GRL_TSK', @lp_applogtecinf = @lv_logtecinf, @lp_mdlcod = 'SYS', @lp_prgcod = 'TSK', @lp_docsts = 'A';
            END TRY
            BEGIN CATCH
              -- se descarta cualquier fallo al registrar, para no afectar el cambio ya hecho.
            END CATCH
          END
        END

        COMMIT TRANSACTION;

        -- devuelve un tskcod en la primera posiciÃ³n, por compatibilidad con chkError.
        DECLARE @lv_rettskcod INT = NULL;
        IF ISNULL(@lp_tsklst, '') <> ''
          SELECT TOP 1 @lv_rettskcod = TRY_CAST(value AS INT) FROM OPENJSON(@lp_tsklst);

        SELECT @lv_rettskcod AS tskcod, 'S' AS errtyp, 0 AS errcod, '' AS errtxt;
      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION;

        EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;

        SELECT NULL AS tskcod, 'E' AS errtyp, ERROR_NUMBER() AS errcod,
           ERROR_MESSAGE() AS errtxt,
           ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() AS NVARCHAR(20)) AS errtch;
        RETURN;
      END CATCH

  END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		BEGIN TRY
			RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
		END TRY
		BEGIN CATCH
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SELECT null,'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH
	END
GO
