USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_LNG_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_LNG_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_lngcod			as nvarchar(20)	= null,		/* código de idioma */
@lp_lngtxt			as nvarchar(50) = null,		/* descripción */
--@lp_lngvar			as nvarchar(30)	= null,		/* código de variable */
--@lp_lngvartxt		as nvarchar(400)= null,		/* texto de variable */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(max)= null		/* config vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO SYS_LNG (lngcod, lngtxt, docsts, ctedte, cteusr)
		VALUES(@lp_lngcod, @lp_lngtxt, @lp_docsts, getdate(), @lp_username)
		set @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lngcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE SYS_LNG
		SET lngtxt=@lp_lngtxt,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE lngcod=@lp_lngcod
		set @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lngcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_LNG
		WHERE lngcod=@lp_lngcod
		  and docsts = 'A'

	END


/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM SYS_LNG
		WHERE lngcod=@lp_lngcod
		set @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lngcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_LNG
		WHERE docsts = 'A'

	END



/* ------------------------------------------------------------------------ * /
/ *   1 1    -    C R E A R		T R A D U C C I O N							* /
/ * ------------------------------------------------------------------------ * /
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		IF ( (select count(*) from sys_lng_txt where lngcod=@lp_lngcod and lngvar=@lp_lngvar)=0 )
			BEGIN
				INSERT INTO sys_lng_txt (lngcod, lngvar, lngtxt, docsts, ctedte, cteusr)
				VALUES (@lp_lngcod, @lp_lngvar, @lp_lngtxt, @lp_docsts, getdate(), @lp_username)
				SET @lv_errcod=@@ERROR
			END
		ELSE
			BEGIN
				UPDATE sys_lng_txt
				SET lngtxt = @lp_lngtxt,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE lngcod = @lp_lngcod
				  and lngvar = @lp_lngvar
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_lngvar, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



/ * ------------------------------------------------------------------------ * /
/ *   1 7    -    B U S C A R    T R A D U C C I O N						* /
/ * ------------------------------------------------------------------------ * /
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*
		FROM SYS_LNG l
			inner join SYS_LNG_TXT t on t.lngcod=l.lngcod
		WHERE l.lngcod=@lp_lngcod
		  and l.docsts='A'
		  and t.lngtxt like '%'+@lp_lngtxt+'%'
		ORDER BY t.lngtxt
		
	END



/ * ------------------------------------------------------------------------ * /
/ *   1 8    -    L I S T A R	T E X T O S									* /
/ * ------------------------------------------------------------------------ * /
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.lngvar, t.lngtxt
		FROM SYS_LNG l
			inner join SYS_LNG_TXT t on t.lngcod = l.lngcod
		WHERE l.lngcod = @lp_lngcod
		  and l.docsts = 'A'
		ORDER BY t.lngtxt

	END
*/


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
