USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_GRL_RPT_SRC_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_GRL_RPT_SRC_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20),			/* empresa */

@lp_rptsrccod		as int			= null,		/* id */
@lp_rptsrctxt		as nvarchar(50) = null,		/* descripcion */
@lp_rptsrcsrc		as nvarchar(4000)=null,		/* origen */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null,		/* config vista */

@lp_rptsrctyp		as nvarchar(10)	= null		/* tipo de origen */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO sys_grl_rpt_src  (rptsrctxt, rptsrcsrc, rptsrctyp, docsts, ctedte, cteusr)
		VALUES	(@lp_rptsrctxt, @lp_rptsrcsrc, @lp_rptsrctyp, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SET @lp_rptsrccod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptsrccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_grl_rpt_src
		SET	rptsrctxt = @lp_rptsrctxt, 
			rptsrcsrc = @lp_rptsrcsrc, 
			rptsrctyp = @lp_rptsrctyp,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE rptsrccod = @lp_rptsrccod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptsrccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT r.*
		FROM sys_grl_rpt_src r
		WHERE r.rptsrccod = @lp_rptsrccod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		/* columnas */
		DELETE
		FROM SYS_GRL_RPT_SRC_COL
		WHERE rptsrccod=@lp_rptsrccod
		SET @lv_errcod = @@ERROR

		/* cabecera */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM sys_grl_rpt_src
				WHERE rptsrccod=@lp_rptsrccod
				SET @lv_errcod = @@ERROR
			END
					 
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptsrccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* sys_app_prg_def '08','mdominguez','temasis' */

		set @lv_sql = 'SELECT '
			+ ' cast('+QUOTENAME('_SYS','''')+' as nvarchar(20)) as buscod, r.*, cast(0 as int) as rptsrcsys '
			+ ' FROM sys_grl_rpt_src r '
			+ ' WHERE 1=1'
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' r.rptsrccod ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
