USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_WEB_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_WEB_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_webprm001		as nvarchar(40)	= null,		/* parámetro 1 */
@lp_webprm002		as nvarchar(40) = null		/* parámetro 2 */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_cod as int


/* ------------------------------------------------------------------------ */
/*   H 3    -    V E R		A Y U D A										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='H3' or @lp_sysoperation='H8'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='H3'
			set @lv_cod = @lp_webprm001
		else
			set @lv_cod = (select top 1 apphlpcod from sys_app_hlp where mdlcod=@lp_webprm001 and prgcod=@lp_webprm002)
				
		declare @lv_inc as int
		declare @lv_inctxt as nvarchar(4000)
		set @lv_inc = (select top 1 apphlpinc from sys_app_hlp where apphlpcod=@lv_cod)
		while @lv_inc is not null
			begin
				set @lv_inctxt = (select top 1 cast(apphlpcod as nvarchar(10)) + CHAR(9)+apphlpttl+CHAR(13)+CHAR(10) from sys_app_hlp where apphlpcod=@lv_inc) + isnull(@lv_inctxt,'')
				set @lv_inc = (select top 1 apphlpinc from sys_app_hlp where apphlpcod=@lv_inc)
			end

		SELECT h.*, @lv_inctxt as apphlppth
		FROM SYS_APP_HLP h
		left join SYS_APP_PRG p on p.codmdl=h.mdlcod and p.codprg=h.prgcod
		left join SYS_APP_MDL m on m.codmdl=h.mdlcod
		WHERE h.apphlpcod=@lv_cod
		  and h.docsts = 'A'		  
		  and isnull(p.docsts,'')=(case when h.prgcod='**' then '' else 'A' end)
		  and isnull(m.objsts,'')=(case when h.mdlcod='**' then '' else 'A' end)
		order by m.objord, p.objord

		/*
		SELECT h.*, p.*
		FROM SYS_APP_HLP h
		left join SYS_APP_PRG p on p.codmdl=h.mdlcod and p.codprg=h.prgcod
		left join SYS_APP_MDL m on m.codmdl=h.mdlcod
		WHERE h.docsts = 'A'		  
		  and p.docsts = 'A'
		  and m.objsts = 'A'
		*/

	END


/* ------------------------------------------------------------------------ */
/*   H 9    -    V E R		A Y U D A	-	D E P E N D E N C I A			*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='H9'
	BEGIN
		SET @lv_validop = 1    

		if isnull(@lp_webprm002,'')=''
			set @lv_cod = @lp_webprm001
		else
			set @lv_cod = (select top 1 apphlpcod from sys_app_hlp where mdlcod=@lp_webprm001 and prgcod=@lp_webprm002)

		SELECT h.*
		FROM SYS_APP_HLP h
		left join SYS_APP_PRG p on p.codmdl=h.mdlcod and p.codprg=h.prgcod
		left join SYS_APP_MDL m on m.codmdl=h.mdlcod
		WHERE h.apphlpinc=@lv_cod
		  and h.docsts = 'A'
		  and isnull(p.docsts,'')=(case when h.prgcod='**' then '' else 'A' end)
		  and isnull(m.objsts,'')=(case when h.mdlcod='**' then '' else 'A' end)
		order by m.objord, p.objord
		  	  
	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
