USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_PRG_VEW_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_APP_PRG_VEW_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operación
@lp_username 		as nvarchar(20),				-- operación - usuario
@lp_VewCod			as nvarchar(30)	= null,	-- id
@lp_VewTtl			as nvarchar(40)	= null,	-- titulo
@lp_VewSrc			as nvarchar(4000)=null,	-- select (SIN USO)
@lp_VewSrcSys		as int					= null,	-- vista de sistema (1-de sistema / 0-de usuario)
@lp_VewPic			as nvarchar(255)= null,	-- icono asociado (SIN USO)
@lp_VewDefMaxRec	as int				= null,	-- Cantidad maxima de registro que muesta la vista
@lp_VewAlwSrt		as int					= null,	-- permite ordenamiento
@lp_VewAlwFlt		as int          = null,	-- permite filtrado
@lp_VewSelMod		as nvarchar(1)  = null,	-- modo de seleccion (0/1/n)
@lp_VewSlc			as int					= null,	-- Tipo (0-Query / 1-SP) (SIN USO)
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- config vista

@lp_vewatr			as nvarchar(max)=null		-- atributos

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_srcfleimg as nvarchar(max)

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)
declare @lv_vewcod as nvarchar(30)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		-- verifico si el codigo de definicion de typeahead existe
		if not dbo.GetTagValue(@lp_vewatr,'typcod')=''
			begin
				set @lv_vewcod = (select top 1 vewcod from SYS_APP_PRG_VEW where not vewcod=@lp_VewCod and dbo.GetTagValue(vewatr,'typcod')=dbo.GetTagValue(@lp_vewatr,'typcod') )
				if not isnull(@lv_vewcod,'')=''
					begin
						SELECT null, -2 as errcod, 'La vista ['+@lv_vewcod+'] ya tiene definido el codigo de typeahead ['+dbo.GetTagValue(@lp_vewatr,'typcod')+']. No se puede duplicar.' as errtxt
						RETURN
					end
			end
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		-- valido que el nombre de la vista no exista
		IF exists(select top 1 * from SYS_APP_PRG_VEW where VewCod=@lp_VewCod)
			BEGIN
				SELECT null, -1 as errcod, 'La vista de programa ya existe en el módulo.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		INSERT INTO SYS_APP_PRG_VEW (VewCod,VewTtl,VewSrc,VewSrcSys,VewPic,VewDefMaxRec,VewAlwSrt,VewAlwFlt,VewSelMod,VewSlc,vewatr, DocSts,CteDte,CteUsr)
		VALUES	(@lp_VewCod,@lp_VewTtl,@lp_VewSrc,@lp_VewSrcSys,@lp_VewPic,@lp_VewDefMaxRec,@lp_VewAlwSrt,@lp_VewAlwFlt,@lp_VewSelMod,@lp_VewSlc,@lp_vewatr,@lp_docsts,getdate(),@lp_username)
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_VewCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_APP_PRG_VEW 
		SET	VewCod		= @lp_VewCod, 
			VewTtl		= @lp_VewTtl, 
			VewSrc		= @lp_VewSrc, 
			VewSrcSys	= @lp_VewSrcSys,
			VewPic		= @lp_VewPic,
			VewDefMaxRec= @lp_VewDefMaxRec, 
			VewAlwSrt	= @lp_VewAlwSrt, 
			VewAlwFlt	= @lp_VewAlwFlt, 
			VewSelMod	= @lp_VewSelMod,
			VewSlc		= @lp_VewSlc,
			VewAtr		= @lp_vewatr, 
			docsts		= @lp_docsts,
			upddte		= getdate(),
			updusr		= @lp_username
		WHERE VewCod = @lp_VewCod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_VewCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT v.*, vewpic as vewpicttl
		FROM SYS_APP_PRG_VEW v
		WHERE v.VewCod = @lp_VewCod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- valido que la vista no se encuentre asignada a un programa
		IF exists(select top 1 * from SYS_APP_PRG where VewCod=@lp_VewCod)
			BEGIN
				SELECT null, -2 as errcod, 'La vista se encuentra asignada a un programa. No se puede Borrar' as errtxt
				RETURN
			END
			
		BEGIN TRAN		

		-- borro las columnas
		DELETE 
		FROM SYS_APP_PRG_VEW_COL
		WHERE VewCod = @lp_VewCod
		SET @lv_errcod = @@ERROR
	
		-- borro la vista
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SYS_APP_PRG_VEW
				WHERE VewCod =@lp_VewCod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_VewCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- sys_app_prg_vew_def '08','mdominguez'

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' v.*, v.vewcod as vewid '
			+ ' FROM SYS_APP_PRG_VEW v '
			+ ' WHERE 1=1'
		
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'vewid','v.vewcod')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' VewCod, VewTtl ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		set @lv_ord = REPLACE(@lv_ord,'vewid','v.vewcod')

		execute( @lv_sql + @lv_flt + @lv_ord )
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
