USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[GRL_DAT_TXT_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_TXT_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_txtcod 			as int					= null,	-- id */
@lp_txtcodext		as nvarchar(20)	= null,	-- codigo
@lp_txtdes			as nvarchar(50)	= null,	-- descripcion
@lp_txttxt	 		as nvarchar(max)=null,	-- texto
@lp_lngcod			as nvarchar(02) = null,	-- id idioma
@lp_txtsrctyp		as nvarchar(20)	= null,	-- origen - tipo
@lp_txtsrccod		as nvarchar(20) = null,	-- origen - id
@lp_txttypcod		as int					= null,	-- ID tipo texto
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- config vista

@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(4000)=null OUTPUT

AS 

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)

set @lp_buscod = 'TEMASIS'

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
--	-1	CÃ³digo externo existente
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11','02','12')
	BEGIN

		if not isnull(@lp_txtcodext,'')=''
			IF exists(select top 1 * from GRL_DAT_TXT where buscod=@lp_buscod and not txtcod=@lp_txtcod and txtcodext=@lp_txtcodext)
				begin
					select null, -1 as errcod, 'CÃ³digo externo existente.' as errtxt
					return
				end

	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11')
	BEGIN
		SET @lv_validop = 1
		
    BEGIN TRY
			BEGIN TRAN
		
        INSERT INTO GRL_DAT_TXT (buscod, txtcodext, txtdes, lngcod, txttxt, txttypcod, txtsrctyp, txtsrccod, docsts, cteusr, ctedte) 
        VALUES (@lp_buscod, @lp_txtcodext, @lp_txtdes, @lp_lngcod, @lp_txttxt, @lp_txttypcod, @lp_txtsrctyp, @lp_txtsrccod, @lp_docsts, @lp_username, getdate())
				SET @lp_txtcod=SCOPE_IDENTITY()
		
			COMMIT TRAN
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH

		SELECT @lp_txtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02','12')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRY
			BEGIN TRAN
		
        UPDATE GRL_DAT_TXT
        SET	txtcodext=@lp_txtcodext,
		  txtdes = @lp_txtdes,
          txttxt  = @lp_txttxt,
          lngcod = @lp_lngcod, 
          docsts = @lp_docsts,
          updusr = @lp_username,
          upddte = getdate()
        WHERE buscod=@lp_buscod
          and txtcod = @lp_txtcod
		
			COMMIT TRAN
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH

		SELECT @lp_txtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('03','13')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRY
			
      set @lv_sql = ' SELECT t.*, tt.txttypcodext, tt.txttyptxt, tt.txttypatr, 0 as txtsys '
        					+ '	FROM grl_dat_txt t '
        					+ ' left join grl_dat_txt_typ tt on tt.buscod=t.buscod and tt.txttypcod=t.txttypcod '
        					+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
        					+ (case when not isnull(@lp_txtcod,0)=0 then ' and t.txtcod='+cast(@lp_txtcod as nvarchar(20))
                					when not isnull(@lp_txtcodext,'')='' then ' and t.txtcodext='+QUOTENAME(@lp_txtcodext,'''')
          					else ' and 1=2 ' end)
      execute( @lv_sql )
    
		END TRY
		BEGIN CATCH
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04','14')
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRY
			BEGIN TRAN
		
        DELETE 
        FROM GRL_DAT_TXT
        WHERE buscod=@lp_buscod
          and txtcod=@lp_txtcod
      
			COMMIT TRAN
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH

		SELECT @lp_txtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END
	


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('08','18')
	BEGIN
		SET @lv_validop=1
		BEGIN TRY
			
      -- grl_dat_txt_def '08','temasis','temasis',null,'pwdrecmsg','es',null,'sys_usr','**'
      set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' t.*, tt.txttypcodext, tt.txttyptxt, tt.txttypatr, 0 as txtsys ',
        '	grl_dat_txt t '
        + ' left join grl_dat_txt_typ tt on tt.buscod=t.buscod and tt.txttypcod=t.txttypcod ',
        ' t.buscod='+QUOTENAME(@lp_buscod, '''')
        + (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end), 
        default, default )
      execute( @lv_sql )
    
		END TRY
		BEGIN CATCH
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH
        
	END



-- ------------------------------------------------------------------------
--   2 4    -    B O R R A R   x   R E F E R E N C I A
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '24'
	BEGIN
		SET @lv_validop = 1 
		
    BEGIN TRY
    	BEGIN TRAN
    
        DELETE 
        FROM GRL_DAT_TXT
        WHERE buscod=@lp_buscod
          and TxtSrcTyp = @lp_txtsrctyp
          and TxtSrcCod = @lp_txtsrccod

			COMMIT TRAN
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
			SET @lp_errcod = ERROR_NUMBER()
			SET @lp_errtxt = ERROR_MESSAGE()
			--SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
			RETURN
		END CATCH

		SET @lp_errcod = 0
		SET @lp_errtxt = ''
	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
