USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_TRA_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_TRA_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_systracod		as int			= null,	-- id
@lp_systracodext	as nvarchar(20)	= null,	-- codigo
@lp_systratxt		as nvarchar(50)	= null,	-- descripcion
@lp_srcbuscod		as nvarchar(20) = null, -- origen - empresa
@lp_srcobjtyp		as nvarchar(20)	= null, -- origen - tipo
@lp_srcobjcod001	as nvarchar(20)	= null,	-- origen - codigo 1
@lp_srcobjcod002	as nvarchar(20)	= null,	-- origen - codigo 2
@lp_docsts 			as nvarchar(2)	= null, -- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_sysdevgrpcod	as int	= null	-- id grupo desarrollo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
	


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
    	BEGIN TRY
				INSERT INTO SYS_TRA (systracodext, systratxt, srcbuscod, srcobjtyp, srcobjcod001, srcobjcod002, sysdevgrpcod, docsts, cteusr, ctedte) 
				VALUES (@lp_systracodext, @lp_systratxt, @lp_srcbuscod, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_sysdevgrpcod, @lp_docsts, @lp_username, getdate() )
        SET @lp_systracod = SCOPE_IDENTITY()
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH    
    COMMIT TRANSACTION
    
		SELECT @lp_systracod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02','12')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
    	BEGIN TRY		
				UPDATE SYS_TRA 
				SET systracodext = @lp_systracodext,
            systratxt = @lp_systratxt,
            srcobjtyp = @lp_srcobjtyp, 
            srcobjcod001 = @lp_srcobjcod001, 
            srcobjcod002 = @lp_srcobjcod002,
            sysdevgrpcod = @lp_sysdevgrpcod,
            docsts = @lp_docsts,
            updusr = @lp_username,
            upddte = getdate()
        WHERE systracod=@lp_systracod
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH    
    COMMIT TRANSACTION
    
		SELECT @lp_systracod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('03','13')
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*, d.sysdevgrptxt
		FROM SYS_TRA t
    left join SYS_DEV_GRP d on d.sysdevgrpcod=t.sysdevgrpcod
		WHERE t.systracod=@lp_systracod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04','14')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
    	BEGIN TRY
				DELETE FROM SYS_TRA WHERE systracod=@lp_systracod
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH    
    COMMIT TRANSACTION
    
		SELECT @lp_systracod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('08','18')
	BEGIN
		SET @lv_validop = 1   
		
    	BEGIN TRY
        set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' t.*, d.sysdevgrptxt ', 
          ' SYS_TRA t left join SYS_DEV_GRP d on d.sysdevgrpcod=t.sysdevgrpcod ', 
          ' 1=1 ', default, default )
        execute( @lv_sql )
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH
		
	END


-- ------------------------------------------------------------------------
--   0 5    -    L I B E R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
    	BEGIN TRY						
				-- libero orden
				UPDATE SYS_TRA 
				SET docsts = 'R',
						updusr = @lp_username,
						upddte = getdate()
				WHERE systracod=@lp_systracod

				-- libero objeto de la orden
				UPDATE SYS_TRA_OBJ
				SET docsts = 'R',
						relusr = @lp_username,
						reldte = getdate()
				WHERE systracod=@lp_systracod
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH    
    COMMIT TRANSACTION
    
		SELECT @lp_systracod, 'S' as errtyp, 0 as errcod, '' as errtxt
	END


IF @lv_validop = 0		--  C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
  	BEGIN TRY
			RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
		END TRY
    BEGIN CATCH
      -- registra el log de error
      EXEC SYS_APP_LOG_SQL_DEF @lp_username
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
	END
GO
