USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_SEC_OPR_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[SYS_SEC_OPR_DEF]

@lp_sysoperation 	as nvarchar(2),			-- operación
@lp_username 		as nvarchar(20),			-- operación - usuario
@lp_buscod			as nvarchar(20),			-- empresa
@lp_mdlcod			as nvarchar(20)	= null,	-- código de módulo
@lp_prgcod			as nvarchar(30)	= null,	-- código de programa
@lp_oprcod			as nvarchar(5)	= null,	-- código de operación
@lp_oprtxt			as nvarchar(20)	= null,	-- descripción de operación
@lp_oprpic			as nvarchar(50)	= null,	-- imágen de operación
@lp_oprshwgrd		as int			= null,	-- flag - mostrar en grilla
@lp_docsts			as nvarchar(1)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- config. vista

@lp_oprnavurl		as nvarchar(250)= null	-- url navegable


AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_srcfleimg as nvarchar(4000)

DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S	
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		SET @lv_validop = 1

		if exists(select top 1 * from sys_sec_opr where codmdl=@lp_mdlcod and codprg=@lp_prgcod and codopr=@lp_oprcod)
			set @lp_sysoperation = '02'
		else
			set @lp_sysoperation = '01'

	END


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		INSERT INTO sys_sec_opr (codmdl, codprg, codopr, oprtxt, oprpctnme, oprshwingrd, docsts, ctedte, cteusr, oprnavurl)
		VALUES (@lp_mdlcod, @lp_prgcod, @lp_oprcod, @lp_oprtxt, @lp_oprpic, @lp_oprshwgrd, @lp_docsts, getdate(), @lp_username, @lp_oprnavurl)
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		UPDATE sys_sec_opr 
		SET	codopr = @lp_oprcod,
			oprtxt = @lp_oprtxt,
			oprpctnme = @lp_oprpic,
			oprshwingrd = @lp_oprshwgrd, 
			oprnavurl = @lp_oprnavurl,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE codmdl = @lp_mdlcod
		  and codprg = @lp_prgcod
		  and codopr  = @lp_oprcod
		  
		IF @@ERROR = 0
			SELECT @lp_oprcod
		ELSE
			SELECT '' WHERE 1=2		

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R	
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		-- borro la operacion de las funcionalidades
		DELETE
		FROM SYS_FNC_PRG
		WHERE MdlCod=@lp_mdlcod
		  and prgcod=@lp_prgcod
		  and oprcod=@lp_oprcod
		SET @lv_errcod = @@ERROR

		-- borro la operación
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM sys_sec_opr
				WHERE codmdl = @lp_mdlcod
				  and codprg = @lp_prgcod
				  and codopr = @lp_oprcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R	
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- sys_sec_opr_def '08','mdominguez','temasis_hlt'
/*
		set @lv_sql = 'SELECT '
			+ ' m.codmdl as mdlcod, m.desmdl as mdltxt, m.objord as mdlord, '
			+ ' p.codprg as prgcod, p.desprg as prgtxt, p.objord as prgord, '
			+ ' p.prgpictname as prgpic, p.prgmnuchl, p.prgmnupar, p.prgtypcod, p.prgfrmdat, '
			+ ' o.codopr as oprcod, o.oprtxt, o.oprpctnme as oprpic, o.oprshwingrd as oprshwgrd '
			+ ' FROM sys_app_mdl m '
			+ ' INNER JOIN sys_app_prg p ON p.codmdl=m.codmdl '
			+ ' LEFT JOIN sys_sec_opr o ON o.codmdl=p.codmdl and o.codprg=p.codprg '
			+ ' WHERE m.objsts='+QUOTENAME('A','''')
			+   ' and p.objsts='+QUOTENAME('A','''')
			+   ' and not p.prgtypcod='+QUOTENAME('2','''')
			+   (case when isnull(@lp_mdlcod,'')='' then '' else ' and m.codmdl='+QUOTENAME(@lp_mdlcod,'''') end)
			+   (case when isnull(@lp_prgcod,'')='' then '' else ' and p.codprg='+QUOTENAME(@lp_prgcod,'''') end)
			+   (case when isnull(@lp_oprshwgrd,'')='' then '' else ' and o.oprshwingrd='+QUOTENAME(@lp_oprshwgrd,'''') end)
			+	(case when @lp_buscod='TEMASIS' then '' else 
					' and (p.prgtypcod=3 or 
						o.codmdl+'+QUOTENAME('|','''')+'+o.codprg+'+QUOTENAME('|','''')+'+o.codopr IN ( '
			+		' select sfp.mdlcod+'+QUOTENAME('|','''')+'+sfp.prgcod+'+QUOTENAME('|','''')+'+sfp.oprcod '
			+		' from sys_fnc sf '
			+		' inner join sys_fnc_sub sfs on sfs.sysfnccod=sf.sysfnccod '
			+		' inner join sls_cus c on c.cuscod=sfs.cuscod '
			+		' inner join sys_fnc_prg sfp on sfp.sysfnccod=sfs.sysfnccod '
			+		' where c.cuscodext='+QUOTENAME(@lp_buscod,'''')
			+		  ' and getdate() between sfs.sysfncsubstrdte and sfs.sysfncsubenddte '
			+		' ) ) '
					end)
			+	' ORDER BY m.objord, m.codmdl, p.objord, o.codopr '
		exec( @lv_sql )
*/
		set @lv_sql = 'SELECT '
			+ ' o.*, o.codopr as oprcod, o.oprpctnme as oprpic, o.oprshwingrd as oprshwgrd '
			+ ' FROM sys_sec_opr o '
			+ ' WHERE 1=1 '
			+ (case when isnull(@lp_mdlcod,'')='' then '' else ' and m.codmdl='+QUOTENAME(@lp_mdlcod,'''') end)
			+ (case when isnull(@lp_prgcod,'')='' then '' else ' and p.codprg='+QUOTENAME(@lp_prgcod,'''') end)
			+ (case when isnull(@lp_oprshwgrd,'')='' then '' else ' and o.oprshwingrd='+QUOTENAME(@lp_oprshwgrd,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' ORDER BY o.codopr '
		exec( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 9    -    L I S T A R	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1

		SELECT	o.codopr as oprcod, 
				o.oprtxt, 
				o.oprpctnme as oprpic,
				o.oprshwingrd as oprshwgrd
		FROM sys_sec_opr o
		WHERE o.codmdl = @lp_mdlcod
		  and o.codprg = @lp_prgcod

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
