USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_CNX_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_CNX_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_syscnxcod		as int			= null,		-- id conexion 
@lp_syscnxcodext	as nvarchar(50) = null,		-- cod externo 
@lp_syscnxtxt		as nvarchar(50) = null,		-- descripción 
@lp_001					as int=null,
@lp_002					as int=null,
@lp_003					as int=null,
@lp_004					as int=null,
@lp_005					as int=null,
@lp_docsts 			as nvarchar(2)	= null,		-- estado 
@lp_vewcfg			as nvarchar(max)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errcod int = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM SYS_CNX c
		WHERE c.syscnxcod = @lp_syscnxcod

	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' c.* ', ' sys_cnx c ', '1=1', '', default )
		execute( @lv_sql )
		
	END


-- ------------------------------------------------------------------------ 
--   0 9    -    L I S T A R		(x codigo externo)						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 1 c.*
		FROM SYS_CNX c
		WHERE c.syscnxcodext = @lp_syscnxcodext
		  and c.docsts = 'A'
	 
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END



GO
