USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_DEV_GRP_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DEV_GRP_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_sysdevgrpcod		as int 					= null,	-- id
@lp_sysdevgrpcodext	as nvarchar(05) = null,	-- codigo
@lp_sysdevgrptxt		as nvarchar(50)	= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado
@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n ede la vista
@lp_sysdevgrpusr		as nvarchar(max)= null	-- usuarios del grupo

AS
 
SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)

DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
DECLARE @lv_autprgcod as nvarchar(3) = 'DVG'


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
/*
if @lp_sysoperation in ('01','02','03','04','08')
	begin
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
	*/


-- ------------------------------------------------------------------------
--   V A L I D A C I O N
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('01','11','02','12')
	begin
		-- validacion. codigo existente
		if not isnull(@lp_sysdevgrpcodext,'')=''
			if exists(select top 1 * from sys_dev_grp where sysdevgrpcodext=@lp_sysdevgrpcodext and not sysdevgrpcod = @lp_sysdevgrpcod)
				BEGIN
				select null, 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
				RETURN
				END
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01', '11')
	BEGIN
		SET @lv_validop = 1

		BEGIN TRANSACTION
	    	BEGIN TRY
			INSERT INTO SYS_DEV_GRP (sysdevgrpcodext, sysdevgrptxt, sysdevgrpusr, docsts, cteusr, ctedte)
			VALUES (@lp_sysdevgrpcodext,@lp_sysdevgrptxt, @lp_sysdevgrpusr, @lp_docsts, @lp_username, getdate() )
			set @lp_sysdevgrpcod = SCOPE_IDENTITY()
		END TRY
		BEGIN CATCH
      	ROLLBACK TRANSACTION
	        -- registra el log de error
      		EXEC SYS_APP_LOG_SQL_DEF @lp_username
      		SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH 
    
    COMMIT TRANSACTION
	SELECT @lp_sysdevgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02', '12')
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRANSACTION
		BEGIN TRY
        UPDATE SYS_DEV_GRP 
        SET sysdevgrpcodext=@lp_sysdevgrpcodext,
					sysdevgrpTxt=@lp_sysdevgrptxt, 
          sysdevgrpusr=@lp_sysdevgrpusr,
	        docsts=@lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
        WHERE sysdevgrpcod = @lp_sysdevgrpcod
		END TRY
		BEGIN CATCH
      	ROLLBACK TRANSACTION
			-- registra el log de error
      		EXEC SYS_APP_LOG_SQL_DEF @lp_username
      		SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      		RETURN
		END CATCH
		
		COMMIT TRANSACTION
		SELECT @lp_sysdevgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('03', '13')
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_DEV_GRP
		WHERE SysDevGrpCod = @lp_sysdevgrpcod
		  
	END

	

-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04', '14')
	BEGIN
		SET @lv_validop = 1    

		-- valida que no se utilice este campo en ningun lugar
		/*
		declare @lv_result as nvarchar(max)=''
		EXEC sys_app_fnc_def 'checkFieldUsage','mdominguez','temasis_log', 'ADM_CUR', 'curcod', @lp_curcod, 'ADM_CUR', null, @lv_result OUTPUT
    if @lv_result=''
    	begin
      	select null, 'E' as errtyp, -1 as errcod, 'No se puede borrar. El documento esta siendo utilizado ['+@lv_result+']' as errtxt
        RETURN
      end*/
    
		BEGIN TRANSACTION
    		BEGIN TRY
			DELETE
			FROM SYS_DEV_GRP
			WHERE sysdevgrpcod = @lp_sysdevgrpcod
		END TRY
		BEGIN CATCH
      		ROLLBACK TRANSACTION
			-- registra el log de error
      		EXEC SYS_APP_LOG_SQL_DEF @lp_username
      		SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      		RETURN
		END CATCH
		COMMIT TRANSACTION
		SELECT @lp_sysdevgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('08', '18')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRY
			set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' d.* ', ' SYS_DEV_GRP d ', ' 1=1 ', ' d.sysdevgrptxt ', default )
			execute( @lv_sql )
	    END TRY
		BEGIN CATCH
			EXEC SYS_APP_LOG_SQL_DEF @lp_username, null, @lv_sql
			SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
			RETURN
		END CATCH
	
  END	



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
