USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_MDL_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_APP_MDL_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operación 
@lp_username 		as nvarchar(20),			-- operación - usuario 
@lp_mdlcod			as nvarchar(20)	= null,		-- código de módulo 
@lp_mdltxt			as nvarchar(50)	= null,		-- descripción 
@lp_mdlord			as bigint		= null,		-- orden entre los módulos 
@lp_docsts			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)=null,		-- configuración vista 

@lp_syslngcod		as nvarchar(05)	= null,		-- id idioma 
@lp_mdlpic			as nvarchar(250)= null		-- icono-clase 

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--	 E R R O R E S 															
-- ------------------------------------------------------------------------ 
--	-1	Código existente													
--	-2	No se puede borrar el módulo. Existen programas asociados.			
--	-3	Código de idioma inexistente.										
-- ------------------------------------------------------------------------ 


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		IF @lp_sysoperation='01' and exists(select top 1 * from sys_app_mdl where codmdl=@lp_mdlcod)
			BEGIN
				SELECT null, -1 as errcod, 'Codigo existente.' as errtxt
				RETURN
			END

		if not exists(select top 1 * from SYS_LNG where lngcod=@lp_syslngcod)
			begin
				select null, -3 as errcod, 'Código de idioma inexistente.' as errtxt
				return
			end

	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO sys_app_mdl (codmdl, desmdl, objord, objlng, objsts, keymdl, docsts, ctedte, cteusr, mdlpic)
		VALUES (@lp_mdlcod, @lp_mdltxt, @lp_mdlord, @lp_syslngcod, @lp_docsts, '-', @lp_docsts, getdate(), @lp_username, @lp_mdlpic)
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			BEGIN
				INSERT INTO sys_sec_opr (codmdl, codprg, codopr, oprtxt, oprpctnme, oprshwingrd, docsts, ctedte, cteusr)
				VALUES (@lp_mdlcod, '**', '**', 'general', null, null, @lp_docsts, getdate(), @lp_username)
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_mdlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_app_mdl 
		SET	desmdl = @lp_mdltxt,
			objord = @lp_mdlord,
			objsts = @lp_docsts,
			OBJLng = @lp_syslngcod,
			mdlpic = @lp_mdlpic,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE codmdl = @lp_mdlcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_mdlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *, codmdl AS mdlcod, desmdl as mdltxt, objord as mdlord, objsts as docsts 
		FROM sys_app_mdl
		WHERE codmdl = @lp_mdlcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		IF exists(select top 1 * from sys_app_prg where codmdl=@lp_mdlcod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar el módulo. Existen programas asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		DELETE 
		FROM sys_app_mdl
		WHERE codmdl = @lp_mdlcod	
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_mdlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END

 

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- sys_app_mdl_def '08','temasis'
		-- SYS_APP_MDL_DEF '08','ROCHOA','SYS','','','','<view><vewflt> AND (mdlcod LIKE ^%zcu%^)</vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>51</vewmax><vewpge></vewmax><extra></extra></view>','',''

		/*
		SELECT
		m.codmdl as mdlcod, m.desmdl as mdltxt, m.objord as mdlord, m.objsts as docsts, m.ctedte, m.cteusr, m.upddte, m.updusr
		INTO #tmp_dat_08
		FROM sys_app_mdl m
		*/
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' m.*, l.lngtxt, m.codmdl as mdlcod, m.desmdl as mdltxt, m.objord as mdlord, m.objsts as docsts, m.objlng as lngcod ', 
			' sys_app_mdl m left join sys_lng_txt l on l.lngcod='+QUOTENAME('ES','''')+' and l.lngvar=m.desmdl', 
			' 1=1 ', ' m.objord ', 
			'mdlcod;m.codmdl'+char(10)+'mdltxt;m.desmdl'+char(10)+'mdlord;m.objord'+char(20)+'docsts;m.objsts'+char(10)+'lngcod;m.objlng' )
		execute( @lv_sql )
		print @lv_sql
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
