USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_IAA_MDL_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_APP_IAA_MDL_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operación
@lp_username 		as nvarchar(20),			-- operación - usuario
@lp_sysappiaamdlcod	as int			= null,		-- id
@lp_sysappiaamdlcodext	as nvarchar(20) = null,	-- codigo
@lp_sysappiaamdltxt	as nvarchar(50)	= null,		-- descripcion
@lp_sysappiaamdlver	as nvarchar(250)= null,		-- version
@lp_sysappiaamdlurl	as nvarchar(max)= null,		-- url
@lp_sysappiaamdlatr	as nvarchar(max)= null,		-- atributos
@lp_docsts			as nvarchar(1)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null		-- config vista


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	begin

		if exists( select top 1 * from SYS_APP_IAA_MDL where not sysappiaamdlcod=@lp_sysappiaamdlcod and sysappiaamdlcodext=@lp_sysappiaamdlcodext and not isnull(@lp_sysappiaamdlcodext,'')='' )
			begin
				select null, -1 as errcod, 'Codigo externo duplicado.' as errtxt
				return 
			end
			
	end


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO SYS_APP_IAA_MDL 
				(sysappiaamdlcodext, sysappiaamdltxt, sysappiaamdlver, sysappiaamdlurl, docsts, ctedte, cteusr, sysappiaamdlatr)
		VALUES	(@lp_sysappiaamdlcodext, @lp_sysappiaamdltxt, @lp_sysappiaamdlver, @lp_sysappiaamdlurl, @lp_docsts, getdate(), @lp_username, @lp_sysappiaamdlatr)
		SET @lv_errcod = @@ERROR
		set @lp_sysappiaamdlcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappiaamdlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_APP_IAA_MDL 
		SET	sysappiaamdlcodext = @lp_sysappiaamdlcodext, 
			sysappiaamdltxt = @lp_sysappiaamdltxt, 
			sysappiaamdlver = @lp_sysappiaamdlver, 
			sysappiaamdlurl = @lp_sysappiaamdlurl,
			sysappiaamdlatr = @lp_sysappiaamdlatr,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE sysappiaamdlcod = @lp_sysappiaamdlcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappiaamdlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*
		FROM SYS_APP_IAA_MDL a
		WHERE a.sysappiaamdlcod = @lp_sysappiaamdlcod

	END


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		DELETE 
		FROM SYS_APP_IAA_MDL
		WHERE sysappiaamdlcod = @lp_sysappiaamdlcod	
		SET @lv_errcod = @@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappiaamdlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		-- SYS_APP_IAA_MDL_def '08','mdominguez'

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' iam.*, iam.sysappiaamdltxt+'+QUOTENAME('-','''')+'+iam.sysappiaamdlver as sysappiaamdltxtver ', ' SYS_APP_IAA_MDL iam ', ' 1=1 ', ' iam.sysappiaamdltxt ', default)
		execute( @lv_sql )
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
