USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_DOC_FRM_FLD_ATR_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_DOC_FRM_FLD_ATR_DEF]

@lp_sysoperation 			as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_SysDocFrmFldAtrcod		as int			= null,	-- id
@lp_SysDocFrmFldAtrcodext	as nvarchar(20)	= null,	-- codigo
@lp_SysDocFrmFldAtrtxt		as nvarchar(50)	= null,	-- descripcion
@lp_SysDocFrmFldAtrElm		as nvarchar(400)= null,	-- elementos (DATE/TIME/TEXT/COMBO/CHECKBOX)
@lp_SysDocFrmFldAtrObj		as nvarchar(20) = null,	-- atributo objetivo (INPUT/LABEL)
@lp_SysDocFrmFldAtrTgt		as nvarchar(50) = null,	-- atributo - destino
@lp_SysDocFrmFldAtrDef		as nvarchar(50) = null,	-- atributo - valor x default
@lp_SysDocFrmFldAtrRpl		as int			= null,	-- atributo - reemplaza valor
@lp_sysfld					as nvarchar(20)	= null,	-- definicion de campo
@lp_docsts 					as nvarchar(2)	= null, -- estado

@lp_vewcfg					as nvarchar(max)= null -- configuración vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)
	


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO SYS_DOC_FRM_FLD_ATR (SysDocFrmFldAtrcodext,SysDocFrmFldAtrtxt,
										SysDocFrmFldAtrElm,SysDocFrmFldAtrObj,SysDocFrmFldAtrTgt,SysDocFrmFldAtrDef,SysDocFrmFldAtrRpl,sysfld, 
										docsts, cteusr, ctedte) 
		VALUES (@lp_SysDocFrmFldAtrcodext,@lp_SysDocFrmFldAtrtxt,
				@lp_SysDocFrmFldAtrElm,@lp_SysDocFrmFldAtrObj,@lp_SysDocFrmFldAtrTgt,@lp_SysDocFrmFldAtrDef,@lp_SysDocFrmFldAtrRpl,@lp_sysfld, 
				@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod = @@ERROR
		SET @lp_SysDocFrmFldAtrcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_SysDocFrmFldAtrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SYS_DOC_FRM_FLD_ATR 
		SET SysDocFrmFldAtrcodext=@lp_SysDocFrmFldAtrcodext,
			SysDocFrmFldAtrtxt=@lp_SysDocFrmFldAtrtxt,
			SysDocFrmFldAtrElm=@lp_SysDocFrmFldAtrElm,
			SysDocFrmFldAtrObj=@lp_SysDocFrmFldAtrObj,
			SysDocFrmFldAtrTgt=@lp_SysDocFrmFldAtrTgt,
			SysDocFrmFldAtrDef=@lp_SysDocFrmFldAtrDef,
			SysDocFrmFldAtrRpl=@lp_SysDocFrmFldAtrRpl,
			sysfld = @lp_sysfld, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE SysDocFrmFldAtrcod=@lp_SysDocFrmFldAtrcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_SysDocFrmFldAtrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*
		FROM SYS_DOC_FRM_FLD_ATR a
		WHERE a.SysDocFrmFldAtrcod=@lp_SysDocFrmFldAtrcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN

		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM SYS_DOC_FRM_FLD_ATR WHERE SysDocFrmFldAtrcod=@lp_SysDocFrmFldAtrcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_SysDocFrmFldAtrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1   
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.* '
			+ '	FROM SYS_DOC_FRM_FLD_ATR a '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END
	


	
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
