USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_DOC_CLS_ATR_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SYS_DOC_CLS_ATR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_sysdocclsatrcod	as int			= null,	/* id */
@lp_objtyp   		as nvarchar(10) = null,	/* Tipo de objeto */
@lp_sysdocclsatrcodext	as nvarchar(20)=null, /* Codigo del Atrubuto */
@lp_sysdocclsatrtxt	as nvarchar(20)	= null,	/* Descripcion del atributo  */
@lp_docsts			as nvarchar(02)	= null,	/* estado */ 
@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)




/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation = '02'
	BEGIN
		
		/*valido código de atributo duplicado */
		IF exists(select top 1 * from SYS_DOC_CLS_ATR where not sysdocclsatrcod=@lp_sysdocclsatrcod and ObjTyp=@lp_objtyp and SysDocClsAtrCodExt=@lp_sysdocclsatrcodext )
			BEGIN
				SELECT null, -2 as errcod, 'El codigo de tributo ya existe para el tipo de documento.' as errtxt
				RETURN
			END

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO SYS_DOC_CLS_ATR(ObjTyp,SysDocClsAtrCodExt,SysDocClsAtrTxt,DocSts,CteDte,CteUsr)
		VALUES(@lp_objtyp,@lp_sysdocclsatrcodext,@lp_sysdocclsatrtxt,@lp_docsts,getdate(),@lp_username)
		SET @lv_errcod = @@ERROR
		set @lp_sysdocclsatrcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysdocclsatrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE SYS_DOC_CLS_ATR
		   SET ObjTyp = @lp_objtyp
			  ,SysDocClsAtrCodExt = @lp_sysdocclsatrcodext
			  ,SysDocClsAtrTxt = @lp_sysdocclsatrtxt
			  ,DocSts = @lp_docsts
			  ,UpdDte = getdate()
			  ,UpdUsr = @lp_username
		 WHERE SysDocClsAtrCod = @lp_sysdocclsatrcod
		 SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysdocclsatrcod , @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*
		FROM SYS_DOC_CLS_ATR a
		WHERE a.SysDocClsAtrCod = @lp_sysdocclsatrcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		
		BEGIN TRAN
		
		DELETE FROM SYS_DOC_CLS_ATR
		WHERE SysDocClsAtrCod = @lp_sysdocclsatrcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysdocclsatrcod , @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.* '
			+ ' FROM SYS_DOC_CLS_ATR a '
			+ ' WHERE 1=1 '
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and a.docsts='+QUOTENAME('A','''')  end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	
    

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
