USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[GRL_DAT_LND_REG_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_DAT_LND_REG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_lndcod			as nvarchar(05) = null,	/* cod país */
@lp_lndregcod		as nvarchar(05) = null,	/* cod region */
@lp_lndregtxt		as nvarchar(40)	= null,	/* nombre */
@lp_docsts			as nvarchar(02)	= null,	/* estado */ 

@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*	E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/* -1	Código de país inválido.											*/
/* -2	Código de región existente.											*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation = '02'
	BEGIN

		/* valido país */
		IF (select count(*) from grl_dat_lnd where lndcod=@lp_lndcod)=0
			BEGIN
				SELECT null, -1 as errcod, 'Código de país inválido.' as errtxt
				RETURN
			END
		
		/* valido código de region duplicado */
		IF @lp_sysoperation='01'
			IF (select count(*) from grl_dat_lnd_reg where lndcod=@lp_lndcod and lndregcod=@lp_lndregcod)>0
				BEGIN
					SELECT null, -2 as errcod, 'Código de región existente.' as errtxt
					RETURN
				END

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO GRL_DAT_LND_REG (lndcod, lndregcod, lndregtxt, docsts, cteusr, ctedte)
		VALUES (@lp_lndcod, @lp_lndregcod, @lp_lndregtxt, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lndregcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_DAT_LND_REG 
		SET	lndregtxt = @lp_lndregtxt,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE lndcod = @lp_lndcod
		  and lndregcod = @lp_lndregcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lndregcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT r.*
		FROM GRL_DAT_LND_REG r
		WHERE lndcod = @lp_lndcod
		  and lndregcod = @lp_lndregcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
/* borrar códigos postales */
/* borrar localidades */
/*			
		BEGIN TRAN
				
		DELETE 
		FROM GRL_DAT_DOC_RNG
		WHERE buscod = @lp_buscod
		  and rngtypcod = @lp_rngtypcod
		  and rngcod = @lp_rngcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
*/		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' r.*, l.lndtxt '
			+ ' FROM GRL_DAT_LND l '
			+ ' inner join GRL_DAT_LND_REG r on r.lndcod=l.lndcod '
			+ ' WHERE 1=1 '
			+ (case when isnull(@lp_lndcod,'')='' then '' else ' and l.lndcod='+QUOTENAME(@lp_lndcod,'''') end)
			+ (case when isnull(@lp_lndregcod,'')='' then '' else ' and r.lndregcod='+QUOTENAME(@lp_lndregcod,'''') end)
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and r.docsts='+QUOTENAME(@lp_docsts,'''')  end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	
    

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END



GO
