USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[HLT_ARG_TRZ_AGT_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[HLT_ARG_TRZ_AGT_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_AgtCod			as int			= null,		/* id agente */
@lp_AgtTxt			as nvarchar(250)= null,		/* razon social */
@lp_AgtComNme		as nvarchar(250)= null,		/* nombre comercial */
@lp_AgtTypCod		as int			= null,		/* id tipo agente */
@lp_AgtGln			as nvarchar(15)	= null,		/* GLN */
@lp_AgtPplGln		as nvarchar(15)	= null,		/* GLN principal*/
@lp_AgtPplTxt		as nvarchar(250)= null,		/* razon social principal */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* configuracion vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_ARG_TRZ_AGT ( AgtTxt, AgtComNme, AgtTypCod, AgtGln, AgtPplGln, AgtPplTxt, docsts, ctedte, cteusr)
		VALUES (@lp_agttxt, @lp_agtcomnme, @lp_agttypcod, @lp_agtgln, @lp_agtpplgln, @lp_agtppltxt, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_AgtCod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_ARG_TRZ_AGT
		SET AgtTxt = @lp_agttxt,
			AgtComnme = @lp_agtcomnme,
			AgtTypCod=@lp_AgtTypCod,
			agtgln = @lp_agtgln,
			agtpplgln=@lp_agtpplgln,
			agtppltxt=@lp_agtppltxt,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE AgtCod = @lp_AgtCod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, t.agttyptxt
		FROM HLT_ARG_TRZ_AGT a
		  left join HLT_ARG_TRZ_ATP t on t.agttypcod=a.agttypcod
		WHERE a.AgtCod = @lp_AgtCod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* borro asignacion */
		/*
		DELETE
		FROM HLT_ARG_TRZ_AGT_ASG
		WHERE buscod=@lp_buscod
		  and AgtasgCod=@lp_AgtAsgCod
		SET @lv_errcod=@@ERROR
		  					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		*/
		SELECT @lp_AgtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.*, t.agttyptxt '
			+ ' FROM HLT_ARG_TRZ_AGT a '
			+ ' left join HLT_ARG_TRZ_ATP t on t.agttypcod=a.agttypcod '
			+ ' WHERE 1=1'
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'a.AgtTxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
