USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_GRL_RPT_SRC_COL_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_GRL_RPT_SRC_COL_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n 
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario 
@lp_buscod			as nvarchar(20),			-- empresa 

@lp_rptsrccolcod	as int			= null,		-- id columna 
@lp_rptsrccolcodext	as nvarchar(400) = null,		-- codigo externo
@lp_rptsrccolcodint	as nvarchar(50) = null,		-- codigo interno
@lp_rptsrccoltxt	as nvarchar(50) = null,		-- descripcion 
@lp_rptsrccod		as int			= null,		-- id reporte 
@lp_rptsrccolatr	as nvarchar(max)=null,		-- atributos 
@lp_docsts			as nvarchar(2)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)=null		-- config vista 

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO sys_grl_rpt_src_col    
				(rptsrccolcodext, rptsrccolcodint, rptsrccoltxt, rptsrccod, rptsrccolatr, docsts, ctedte, cteusr)
		VALUES	(@lp_rptsrccolcodext, @lp_rptsrccolcodint, @lp_rptsrccoltxt, @lp_rptsrccod, @lp_rptsrccolatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SET @lp_rptsrccolcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptsrccolcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_grl_rpt_src_col
		SET	rptsrccolcodext = @lp_rptsrccolcodext,
    	rptsrccolcodint = @lp_rptsrccolcodint,
			rptsrccoltxt = @lp_rptsrccoltxt, 
			rptsrccod = @lp_rptsrccod,
			rptsrccolatr = @lp_rptsrccolatr,  
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE rptsrccolcod = @lp_rptsrccolcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptsrccolcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT rc.*
		FROM sys_grl_rpt_src_col rc
		WHERE rc.rptsrccod = @lp_rptsrccod
		  and rc.rptsrccolcod = @lp_rptsrccolcod 

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		-- columnas 
		DELETE
		FROM SYS_GRL_RPT_SRC_COL
		WHERE rptsrccolcod=@lp_rptsrccolcod
		SET @lv_errcod = @@ERROR
					 
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptsrccolcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- SYS_GRL_RPT_SRC_COL_DEF '08','mdominguez','temasis_LOG'
		-- SYS_GRL_RPT_SRC_COL_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','<view><vewflt> AND (rc.rptsrccod=^54^)</vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax></vewmax><vewpge></vewmax><extra></extra></view>'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' rc.*, f.sysfldinptyp, f.sysfldoutsze ',
			' sys_grl_rpt_src_col rc '
			+ ' left join sys_grl_fld f on f.sysfld=dbo.gettagvalue('+QUOTENAME('def','''')+',rc.rptsrccolatr) ',
			' 1=1 ', --' rc.buscod='+QUOTENAME(@lp_buscod,''''),
			' rc.rptsrccod ', default )

		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END




GO
