USE [tmssSysPrd]
GO
/****** Objeto: StoredProcedure [dbo].[SYS_APP_API_MAP_DEF] Fecha de script: 07/09/2026 17:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_APP_API_MAP_DEF]

@lp_sysoperation 		as nvarchar(2),				-- operación
@lp_username 			as nvarchar(20),			-- operación - usuario
@lp_SysAppApiMapCod		as int			= null,		-- ID
@lp_SysAppApiCod		as int			= null,		-- ID api
@lp_SysAppApiMapMth		as nvarchar(20)	= null,		-- metoddo (GET/POST/DELETE)
@lp_SysAppApiMapVar		as nvarchar(20)	= null,		-- variante
@lp_SysAppApiMapFldCod	as nvarchar(20) = null,		-- ID campo principal
@lp_SysAppApiMapMdl		as nvarchar(20) = null,		-- modelo
@lp_SysAppApiMapMdlMth	as nvarchar(20) = null,		-- metodo del modelo
@lp_SysAppApiMapFldMap	as nvarchar(max) = null,	-- mapeo de campos (JSON)
@lp_docsts			as nvarchar(1)	= null,			-- estado

@lp_vewcfg			as nvarchar(max)=null			-- config vista

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO sys_app_api_map (SysAppApiCod,SysAppApiMapMth,SysAppApiMapVar,SysAppApiMapFldCod,SysAppApiMapMdl,SysAppApiMapMdlMth,SysAppApiMapFldMap,
				docsts, ctedte, cteusr)
		VALUES	(@lp_SysAppApiCod,@lp_SysAppApiMapMth,@lp_SysAppApiMapVar,@lp_SysAppApiMapFldCod,@lp_SysAppApiMapMdl,@lp_SysAppApiMapMdlMth,@lp_SysAppApiMapFldMap,
				@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		set @lp_SysAppApiMapCod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_SysAppApiMapCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_app_api_map
		SET	SysAppApiCod=@lp_SysAppApiCod,
			SysAppApiMapMth=@lp_SysAppApiMapMth,
			SysAppApiMapVar=@lp_SysAppApiMapVar,
			SysAppApiMapFldCod=@lp_SysAppApiMapFldCod,
			SysAppApiMapMdl=@lp_SysAppApiMapMdl,
			SysAppApiMapMdlMth=@lp_SysAppApiMapMdlMth,
			SysAppApiMapFldMap=@lp_SysAppApiMapFldMap,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE sysappapimapcod = @lp_sysappapimapcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappapimapcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*
		FROM sys_app_api_map m
		WHERE m.sysappapimapcod = @lp_sysappapimapcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		DELETE 
		FROM sys_app_api_map
		WHERE sysappapimapcod = @lp_sysappapimapcod	
		SET @lv_errcod = @@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysappapimapcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- sys_app_api_def '08','mdominguez'

		set @lv_sql = 'SELECT m.* '
			+ ' FROM sys_app_api_map m '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' m.sysappapimapcod ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
