USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[GetVewTag]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dominguez, Ignacio
-- Create date: 31.03.2011
-- Description:	Obtener el valor de un tag contenido en una cadena de texto
-- =============================================
CREATE FUNCTION [dbo].[GetVewTag] 
( @lp_strval as nvarchar(max),
  @lp_tagval as nvarchar(max)
)
RETURNS nvarchar(max)
AS
BEGIN

	return (case when @lp_tagval='' then '' else @lp_strval+@lp_tagval end)
	
END


GO
