USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckAuthorizationObject]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[CheckAuthorizationObject] (
	@lp_usrcod as nvarchar(20),
	@lp_buscod as nvarchar(20),
	@lp_objtypcod as nvarchar(20),
	@lp_autcod as nvarchar(20)
)
RETURNS int
AS
BEGIN
	declare @lv_ret as int = 0

	if isnull(@lp_autcod,'')=''
		set @lv_ret = 1
	else	if exists(select top 1 * from sys_sec_per_aut where buscod=@lp_buscod 
			and (	usrcod=@lp_usrcod or grpcod in (select distinct usrgrpcod from sys_sec_usr_grp where buscod=@lp_buscod and usrcod=@lp_usrcod) )
			and objtypcod=@lp_objtypcod
			and autcod=@lp_autcod)
		set @lv_ret = 1

	return @lv_ret

END
GO
