USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertNumber]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dominguez, Martin
-- Create date: 03.01.2011
-- Description:	Convierte un valor bigint a decimal
-- =============================================
CREATE FUNCTION [dbo].[ConvertNumber] (
	@lp_num as bigint,
	@lp_dec as int
)
RETURNS decimal(21,9)
AS
BEGIN

	-- Declare the return variable here
	DECLARE @lv_num as decimal(21,9)

	-- Add the T-SQL statements to compute the return value here
	IF not @lp_num is null
		SET @lv_num = cast(@lp_num as decimal(21,9)) / cast( power(10,@lp_dec) as decimal(21,9))

	-- Return the result of the function
	RETURN @lv_num

END


GO
