USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserRestrictions]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetUserRestrictions] 
( @lp_buscod as nvarchar(20),
	@lp_usrcod as nvarchar(20),
  @lp_prmfld as nvarchar(max)
)
RETURNS nvarchar(max)
AS
BEGIN
	DECLARE @lv_sql VARCHAR(max) 
	
	if not dbo.getTagValue('objref',@lp_prmfld)=''
		begin
			-- select dbo.GetUserRestrictions('TEMASIS_LOG','BUY_SUP_5','<objref>x.srcobjtyp, x.srcobjcod</objref>')

			set @lp_prmfld = replace(@lp_prmfld,' ','')
			declare @lv_objref as nvarchar(400)= dbo.getTagValue('objref',@lp_prmfld)
			declare @lv_objtyp as varchar(400) = (select substring( @lv_objref, 1, CHARINDEX(',', @lv_objref )-1))
			declare @lv_objcod as varchar(400) = (select substring( @lv_objref, len(@lv_objtyp)+2, len(@lv_objref)-len(@lv_objtyp)))

			SELECT @lv_sql = COALESCE(@lv_sql + ' or ', '') + '('+@lv_objtyp+'='+QUOTENAME(prmobjtyp,'''') + ' and '+@lv_objcod+' in ('+prmval+'))'
			FROM sys_sec_usr_prm
			WHERE buscod=@lp_buscod
				and usrcod=@lp_usrcod 
				and prmval IS NOT NULL
			
		end
	else
		begin
			-- select dbo.GetUserRestrictions('TEMASIS_LOG','BUY_SUP_5','c.cuscod, b.supcod')
			/*
			SELECT @lv_sql = COALESCE(@lv_sql + ' and ', '') + 
				(select top 1 id from dbo.stringsplit(@lp_prmfld,',') where id like '%.'+prmfld)
				+ ' in ('+prmval+')'
			*/
			SELECT @lv_sql = COALESCE(@lv_sql, '') + 
				isnull(
					(case when isnull(@lv_sql,'')='' then '' else ' and ' end) +
					(select top 1 id from dbo.stringsplit(@lp_prmfld,',') where id like '%.'+prmfld)+' in ('+prmval+')'
				, '' )
			FROM sys_sec_usr_prm
			WHERE buscod=@lp_buscod
				and usrcod=@lp_usrcod 
				and prmval IS NOT NULL
		end

	if not isnull(@lv_sql,'')=''
		set @lv_sql = ' AND ('+@lv_sql+') '
	
	return isnull(@lv_sql,'')
	
END

GO
