USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_FRM_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_DOC_FRM_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysdocfrmcod	as int			= null,	-- id
@lp_sysdocfrmcodext	as nvarchar(20)	= null,	-- codigo externo
@lp_sysdocfrmtxt	as nvarchar(50) = null,	-- descripcion
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- config vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Código externo existente.													*/
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='22'
	BEGIN

		if not isnull(@lp_sysdocfrmcodext,'')=''
			if exists(select top 1 * from SYS_DOC_FRM where buscod=@lp_buscod and not sysdocfrmcod=@lp_sysdocfrmcod and sysdocfrmcodext=@lp_sysdocfrmcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end
	END


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		INSERT INTO SYS_DOC_FRM (buscod, sysdocfrmcodext, sysdocfrmtxt, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_sysdocfrmcodext, @lp_sysdocfrmtxt, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_sysdocfrmcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysdocfrmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE SYS_DOC_FRM
		SET	sysdocfrmcodext = @lp_sysdocfrmcodext,
			sysdocfrmtxt = @lp_sysdocfrmtxt,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocfrmcod=@lp_sysdocfrmcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysdocfrmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_DOC_FRM
		WHERE buscod = @lp_buscod and sysdocfrmcod = @lp_sysdocfrmcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- borro el formulario
		DELETE 
		FROM SYS_DOC_FRM
		WHERE buscod = @lp_buscod
			and sysdocfrmcod = @lp_sysdocfrmcod
		SET @lv_errcod=@@ERROR

		--borro los elementos del formulario
		IF @lv_errcod = 0
			BEGIN
				DELETE 
				FROM SYS_DOC_FRM_FLD
				WHERE buscod = @lp_buscod
					and sysdocfrmcod = @lp_sysdocfrmcod
				SET @lv_errcod=@@ERROR
			END

		-- borra los elementos de los formularios de vista
		IF @lv_errcod = 0
			BEGIN
				DELETE 
				FROM GRL_DAT_FRM_FLD
				WHERE buscod = @lp_buscod
					and frmdatcod in (select frmdatcod from GRL_DAT_FRM where buscod = @lp_buscod and sysdocfrmcod = @lp_sysdocfrmcod)
				SET @lv_errcod=@@ERROR
			END

		-- borra los formularios de vista
		IF @lv_errcod = 0
			BEGIN
				DELETE 
				FROM GRL_DAT_FRM
				WHERE buscod = @lp_buscod
					and sysdocfrmcod = @lp_sysdocfrmcod
				SET @lv_errcod=@@ERROR
			END

		-- borra la asignacin a una clase de documento
		IF @lv_errcod = 0
			BEGIN
				DELETE 
				FROM SYS_DOC_CLS_FRM
				WHERE buscod = @lp_buscod
					and sysdocfrmcod = @lp_sysdocfrmcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysdocfrmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- grl_doc_frm_def '08','mdominguez','temasis_log'
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' f.* '
			+ ' FROM sys_doc_frm f '
			+ ' WHERE f.buscod='+QUOTENAME(@lp_buscod, '''')
			+  dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+  dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' f.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		execute( @lv_sql  )
		
	END
	
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
