USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_EVL_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_EVL_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrevltypcod	 as int			= null,	-- id
@lp_hhrevltypcodext	as nvarchar(20)	= null,	-- codigo
@lp_hhrevltyptxt	as nvarchar(50)	= null,	-- descripcion
@lp_hhrevltypcmt	as nvarchar(max)= null, -- comentarios
@lp_hhrevltypatr	as nvarchar(max)= null,	-- atributos
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EVT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	begin

		if not @lp_hhrevltypcodext=''
			if exists(select top 1 * from HHR_EVL_TYP where buscod=@lp_buscod and not hhrevltypcod=@lp_hhrevltypcod and hhrevltypcodext=@lp_hhrevltypcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_EVL_TYP (buscod, hhrevltypcodext, hhrevltyptxt, hhrevltypcmt, hhrevltypatr, docsts, ctedte, cteusr)
		VALUES( @lp_buscod, @lp_hhrevltypcodext, @lp_hhrevltyptxt, @lp_hhrevltypcmt, @lp_hhrevltypatr, @lp_docsts, getdate(), @lp_username )
		set @lp_hhrevltypcod = @@IDENTITY
		set @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrevltypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_EVL_TYP 
		SET	hhrevltypcodext = @lp_hhrevltypcodext,
			hhrevltyptxt = @lp_hhrevltyptxt,
			hhrevltypCmt = @lp_hhrevltypcmt,
			hhrevltypatr = @lp_hhrevltypatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and hhrevltypcod=@lp_hhrevltypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrevltypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*
		FROM HHR_EVL_TYP t
		WHERE t.buscod=@lp_buscod
		  and t.hhrevltypcod=@lp_hhrevltypcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		/*
		IF exists(select top 1 * from HHR_LIC where (buscod=@lp_buscod and hhrevltypCod=@lp_hhrevltypcod)
				or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_SysAppMdlPrm('HHR_DAT_SYN', @lp_buscod))
			  and (hhrevltypCod in (select hhrevltypCod from HHR_EVL_TYP where hhrevltypSynCod=@lp_hhrevltypcod)) ))
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Se encuentra asignado.' as errtxt
				RETURN
			END
		*/
		BEGIN TRAN

		DELETE
		FROM HHR_EVL_TYP
		WHERE buscod=@lp_buscod
		  and hhrevltypcod=@lp_hhrevltypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrevltypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		 
  		set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, ' t.* ', 'HHR_EVL_TYP t ', ' t.buscod='+QUOTENAME(@lp_buscod, ''''), default , default)
		execute( @lv_sql )
	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
