USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_DBT_RPT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_DBT_RPT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_ptncod			as int			= null,	/* id de socio */
@lp_rptstrdte		as nvarchar(14) = null, /* fecha inicio */
@lp_rptenddte		as nvarchar(14) = null, /* fecha fin */

@lp_vewcfg			as nvarchar(4000)=null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_rptstrdte as datetime
set @lv_rptstrdte = dbo.ConvertDate( @lp_rptstrdte )

declare @lv_rptenddte as datetime
set @lv_rptenddte = dbo.ConvertDate( @lp_rptenddte )

/* obtengo información de socios */
SELECT p.*, a.lndcod, a.lndregcod 
INTO #tmp_data 
FROM spt_ptn p 
left join grl_dat_adr a on a.buscod=p.buscod and a.adrnum=p.adrnum 
WHERE p.buscod=@lp_buscod 
  and p.docsts='A' 
  and p.ptnregdte is not null 
  and p.ptnbrndte is not null
  and p.ptnregdte between @lv_rptstrdte and @lv_rptenddte
  and p.deldte is null


	
/* ------------------------------------------------------------------------ */
/*   0 1    -    E V O L U C I O N    D E U D A								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		/* 7.1. obtengo socios distintos con deuda */
		select datepart(year,d.sptdbtexpdte) as ptndbtyth, datepart(month,d.sptdbtexpdte) as ptndbtmth, p.ptncodext, sum(d.sptdbtamtrst) as sptdbtamtrst
		into #tmp_data_dbt
		from #tmp_data p
		inner join spt_dbt_ptn d on d.buscod=p.buscod and d.ptncod=p.ptncod
		where not d.sptdbtamtrst=0
		  and datepart(year,d.sptdbtexpdte)=datepart(year,@lv_rptstrdte)
		group by datepart(year,d.sptdbtexpdte), datepart(month,d.sptdbtexpdte), p.ptncodext

		/* 7.2. listo cantidades agrupadas */
		select ptndbtyth, ptndbtmth, count(*) as ptndbtqty, sum(sptdbtamtrst) as ptndbttot
		from #tmp_data_dbt
		group by ptndbtyth, ptndbtmth
		order by ptndbtyth, ptndbtmth

	END

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
