USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_PLN_DTE_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[EDU_PLN_DTE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20),
@lp_eduplndtecod	as int			= null,	/* ID planificación fecha */
@lp_eduplncod		as int			= null,	/* ID planificación */
@lp_eduplndte		as nvarchar(14)	= null,	/* fecha planificación */
@lp_eduplninbdte	as nvarchar(14) = null,	/* hora entrada */
@lp_eduplnoutdte	as nvarchar(14) = null,	/* hora salida */
@lp_stdloccod		as int			= null,	/* id lugar de estudio */
@lp_tchcod			as int			= null,	/* id profesor */

@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración de vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod  INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_eduplndte as datetime
set @lv_eduplndte = dbo.ConvertDate( @lp_eduplndte )

declare @lv_eduplninbdte as datetime
set @lv_eduplninbdte = dbo.ConvertDate( @lp_eduplninbdte )

declare @lv_eduplnoutdte as datetime
set @lv_eduplnoutdte = dbo.ConvertDate( @lp_eduplnoutdte )



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		INSERT INTO EDU_PLN_DTE (buscod, eduplncod, eduplndte, eduplninbdte, eduplnoutdte, stdloccod, tchcod, docsts, ctedte, cteusr)
		SELECT @lp_buscod, @lp_eduplncod, @lv_eduplndte, @lv_eduplninbdte, @lv_eduplnoutdte, @lp_stdloccod, @lp_tchcod, @lp_docsts, getdate(), @lp_username
		SET @lv_errcod=@@ERROR
		SET @lp_eduplndtecod=@@IDENTITY
	
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eduplndtecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* actualizo fechas no controladas */
		UPDATE EDU_PLN_DTE
		SET eduplndte = @lv_eduplndte,
			eduplninbdte = @lv_eduplninbdte,
			eduplnoutdte = @lv_eduplnoutdte,
			stdloccod = @lp_stdloccod,
			tchcod = @lp_tchcod,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		FROM EDU_PLN_DTE
		WHERE buscod=@lp_buscod
		  and eduplndtecod=@lp_eduplndtecod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_eduplndtecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		/* EDU_PLN_DTE_DEF '03','MDOMINGUEZ','TEMASIS_EDU','323','1013','','','','','00000000000000','00000000000000','00000000000000','00000000000000','','','','','','','','000000000' */
		
		SELECT pd.*, p.eduplndtestr, p.eduplndteend, p.sysdocclscod, 
				p.EduCurCod,p.EduCarCod,p.EduCouCod,p.EduSubCod,p.eduplncmt,
				eu.educurtxt,ea.educartxt,eo.educoutxt,es.edusubtxt,
				l.stdloctxt, t.tchtxt, s.EduSubTxt, ta.adreml as tcheml, 
				(case when exists(select top 1 * from edu_stu_ass where buscod=pd.buscod and eduplncod=pd.eduplncod and eduplndtecod=pd.eduplndtecod) then 1 else 0 end) as edustuass,
				(case when exists(select top 1 * from edu_stu_evl where buscod=pd.buscod and eduplncod=pd.eduplncod and eduplndtecod=pd.eduplndtecod) then 1 else 0 end) as edustuevl
		FROM EDU_PLN_DTE pd
		 inner join EDU_PLN p on p.buscod=pd.buscod and p.eduplncod=pd.eduplncod
		 left join edu_cur eu on eu.buscod=p.buscod and eu.educurcod=p.educurcod 
		 left join edu_car ea on ea.buscod=p.buscod and ea.educarcod=p.educarcod
		 left join edu_cou eo on eo.buscod=p.buscod and eo.educoucod=p.educoucod
		 left join edu_sub es on es.buscod=p.buscod and es.edusubcod=p.edusubcod
		 left join EDU_STD_LOC l on l.buscod=pd.buscod and l.stdloccod=pd.stdloccod
		 left join EDU_TCH t on t.buscod=pd.buscod and t.tchcod=pd.tchcod
		 left join GRL_DAT_ADR ta on ta.buscod=t.buscod and ta.adrsrctyp='EDU_TCH' and ta.adrsrccod=t.tchcod 
		 left join EDU_SUB  s on s.buscod=pd.buscod and s.EduSubCod=p.EduSubCod
		WHERE pd.buscod=@lp_buscod
		  and pd.eduplncod=@lp_eduplncod 
		  and pd.eduplndtecod=@lp_eduplndtecod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF exists(select top 1 * from edu_stu_ass where buscod=@lp_buscod and eduplndtecod=@lp_eduplndtecod and deldte is null)
			BEGIN
				SELECT null, -41 as errcod, 'No se puede borrar. Existen registros de asistencia asociados.' as errtxt
				RETURN
			END
		
		IF exists(select top 1 * from edu_pln_ins where buscod=@lp_buscod and eduplndtecod=@lp_eduplndtecod and deldte is null)
			BEGIN
				SELECT null, -42 as errcod, 'No se puede borrar. Existen registros de inscripción asociados.' as errtxt
				RETURN
			END

		IF exists(select top 1 * from edu_stu_evl where buscod=@lp_buscod and eduplndtecod=@lp_eduplndtecod and deldte is null)
			BEGIN
				SELECT null, -43 as errcod, 'No se puede borrar. Existen registros de evaluación asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN

		DELETE FROM EDU_PLN_DTE
		WHERE buscod=@lp_buscod
		  and eduplndtecod=@lp_eduplndtecod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_eduplndtecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		/* EDU_PLN_DTE_DEF '08','mdominguez','temasis_edu' */
		declare @lv_flt as nvarchar(4000)
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		/*
		if (select count(*) from @lv_flt where @lv_flt like '%[stutxt]%')>0
			begin
				set @lv_flt = replace(@lv_flt,'[stutxt]',' and exists (select top 1 * from edu_pln_ins xi inner join edu_stu xs on xs.buscod=xi.buscod and xs.stucod=xi.stucod where xs.buscod='
			end
		*/

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' pd.*, p.educurcod, p.sysdocclscod, ec.educurtxt, p.educarcod, ea.educartxt, p.educoucod, eo.educoutxt, p.edusubcod, es.edusubtxt, s.stdloctxt, t.tchtxt, '
			+ ' (case when exists(select top 1 * from edu_stu_ass where buscod=pd.buscod and eduplncod=pd.eduplncod and eduplndtecod=pd.eduplndtecod) then 1 else 0 end) as edustuass, '
			+ ' (case when exists(select top 1 * from edu_stu_evl where buscod=pd.buscod and eduplncod=pd.eduplncod and eduplndtecod=pd.eduplndtecod) then 1 else 0 end) as edustuevl, '
			+ ' (select top 1 s.stutxt from edu_pln_ins pi inner join edu_stu s on s.buscod=pi.buscod and s.stucod=pi.stucod where pi.buscod=pd.buscod and pi.eduplncod=pd.eduplncod and pi.eduplndtecod=pd.eduplndtecod ) as stutxt '
			+ ' FROM EDU_PLN p '
			+ ' inner join EDU_PLN_DTE pd on pd.buscod=p.buscod and p.eduplncod=pd.eduplncod '
			+ '  left join EDU_CUR ec on ec.buscod=p.buscod and ec.educurcod=p.educurcod '
			+ '  left join EDU_CAR ea on ea.buscod=p.buscod and ea.educarcod=p.educarcod '
			+ '  left join EDU_COU eo on eo.buscod=p.buscod and eo.educoucod=p.educoucod '
			+ '  left join EDU_SUB es on es.buscod=p.buscod and es.edusubcod=p.edusubcod '
			+ '  left join EDU_STD_LOC s on s.buscod=pd.buscod and s.stdloccod=pd.stdloccod '
			+ '  left join EDU_TCH t on t.buscod=pd.buscod and t.tchcod=pd.tchcod '
			+ ' WHERE pd.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ @lv_flt
			+ dbo.GetVewTag( ' ORDER BY ', (case dbo.GetTagValue('veword',@lp_vewcfg) when '' then ' pd.eduplndte, pd.eduplninbdte, pd.eduplnoutdte ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
