USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MOV_ELB_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MOV_ELB_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),

@lp_stkmovelbcod	as int			= null,	-- id documento 
@lp_stkmovelbcodext	as nvarchar(20) = null,	-- nro documento 
@lp_stkmovelbdte	as nvarchar(14)	= null,	-- fecha documento 
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- objeto origen 
@lp_srcobjcod		as int			= null,	-- id origen 
@lp_matcod			as int			= null, -- id material 
@lp_matqty			as bigint		= null, -- cantidad 
@lp_matuntcod		as nvarchar(05)	= null,	-- unidad de medida 
@lp_matbchcod		as int			= null, -- id lote 
@lp_matbchcodext	as nvarchar(20)	= null,	-- cod lote externo 
@lp_MatSerCodExtLst	as nvarchar(4000)=null,	-- ids nÃºmeros de serie externos 
@lp_StkMovElbAtr	as nvarchar(max)=null,	-- atributos elaboracion 
@lp_stkmovelbcmt 	as nvarchar(4000)=null,	-- comentarios 
@lp_StkMovElbStrDte as nvarchar(14)	= null, -- fecha inicio 
@lp_StkMovElbEndDte as nvarchar(14) = null,	-- fecha fin 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null, -- configuraciÃ³n vista 

@lp_sysdocclscod	as int			 = null,-- ID clase de documento 
@lp_stkmovdoccod	as int			= null	-- id documento inventario 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_errtxt as nvarchar(4000)
declare @lv_errmat as nvarchar(4000)
declare @lv_sql as nvarchar(max)

declare @lv_matqty as decimal(18,3) = dbo.ConvertNumber( @lp_matqty, 3 )
declare @lv_stkmovelbdte as datetime = dbo.ConvertDate( @lp_stkmovelbdte )
declare @lv_stkmovelbstrdte as datetime = dbo.ConvertDate( @lp_stkmovelbstrdte )
declare @lv_stkmovelbenddte as datetime = dbo.ConvertDate( @lp_stkmovelbenddte )

declare @lv_mattxt as nvarchar(50)
declare @lv_objtyp as nvarchar(20)
declare @lv_srcobjtxt as nvarchar(500)
declare @lv_srcobjdattxt as nvarchar(500)
declare @lv_stkmovelbdtecnv as nvarchar(50)
declare @lv_srcobjtyptxt as nvarchar(500)
declare @lv_cteusr as nvarchar(20)
declare @lp_excrteclscod as int;


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
		DECLARE @lv_autprgcod as nvarchar(3) = 'ELB'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01', '11', '02', '12')
	BEGIN

		set @lv_mattxt = (select top 1 mattxt from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		INSERT INTO STK_MOV_ELB (buscod, stkmovelbcodext, stkmovelbdte, srcobjtyp, srcobjcod, 
			matcod, mattxt, matqty, matuntcod, matbchcod, matbchcodext, matsercodextlst, 
			stkmovelbatr, stkmovelbcmt, stkmovelbstrdte, stkmovelbenddte, 
			sysdocclscod,  
			docsts, cteusr, ctedte ) 
		VALUES (@lp_buscod, @lp_stkmovelbcodext, @lv_stkmovelbdte, @lp_srcobjtyp, @lp_srcobjcod,
			@lp_matcod, @lv_mattxt, @lv_matqty, @lp_matuntcod, @lp_matbchcod, @lp_matbchcodext, @lp_matsercodextlst,
			@lp_stkmovelbatr, @lp_stkmovelbcmt, @lv_stkmovelbstrdte, @lv_stkmovelbenddte, 
			@lp_sysdocclscod, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_stkmovelbcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmovelbcod as stkmovelbcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    MODIFICAR													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		-- si el documento no estÃ¡ contabilizado, se puede actualizar 
		IF (select top 1 docsts from stk_MOV_ELB where buscod=@lp_buscod and stkmovelbcod=@lp_stkmovelbcod)='C'
			BEGIN
				SELECT null, -9 as errcod, 'No se puede actualizar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		UPDATE STK_MOV_ELB
		SET	stkmovelbcodext= @lp_stkmovelbcodext,
			stkmovelbdte=@lv_stkmovelbdte,
			srcobjtyp	= @lp_srcobjtyp, 
			srcobjcod	= @lp_srcobjcod, 
			matcod		= @lp_matcod,
			mattxt		= @lv_mattxt, 
			matqty		= @lv_matqty,
			matuntcod	= @lp_matuntcod,
			matbchcod	= @lp_matbchcod,
			matbchcodext = @lp_matbchcodext,
			matsercodextlst = @lp_MatSerCodExtLst,
			stkmovelbatr = @lp_StkMovElbAtr,
			stkmovelbcmt = @lp_stkmovelbcmt, 
			stkmovelbstrdte = @lv_StkMovElbStrDte,
			stkmovelbenddte = @lv_StkMovElbEndDte,
			stkmovdoccod = @lp_stkmovdoccod,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmovelbcod=@lp_stkmovelbcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovelbcod as stkmovelbcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, convert(varchar,d.stkmovelbdte,103) as stkmovelbdtecnv, st4.strloctxt as srcobjtxt, dbo.getTagValue('+QUOTENAME('matstkrel','''')+',mdc.sysdocclsatr) as matstkrel, m.matusebch, m.matuseser, mb.matbchduedte, mb.matbchcod as stkmatbchcod '
			+ ' FROM stk_MOV_ELB d '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join stk_str_loc st4 on st4.buscod=d.buscod and st4.strloccod=d.srcobjcod '
			+ ' left join stk_mat m on m.buscod=d.buscod and m.matcod=d.matcod '
			+ ' left join stk_mat_bch mb on mb.buscod=d.buscod and mb.matcod=d.matcod and mb.matbchcodext=d.matbchcodext '
			+ ' left join sys_doc_cls mdc on mdc.buscod=m.buscod and mdc.sysdocclscod=m.sysdocclscod '
			+ ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and d.stkmovelbcod='+QUOTENAME(@lp_stkmovelbcod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' d.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from stk_MOV_ELB where buscod=@lp_buscod and stkmovelbcod=@lp_stkmovelbcod)='C'
			BEGIN
				SELECT null, -10 as errcod, 'No se puede borrar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		-- obtengo el objeto de la clase de documento 
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_MOV_ELB d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovelbcod=@lp_stkmovelbcod)

		BEGIN TRAN

		-- borro materiales del documento 
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM stk_MOV_ELB_mat 
				WHERE buscod = @lp_buscod
				  and stkmovelbcod = @lp_stkmovelbcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro textos 
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'STK_ELB', @lp_stkmovelbcod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro documento 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM stk_MOV_ELB 
				WHERE buscod = @lp_buscod
				  and stkmovelbcod = @lp_stkmovelbcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovelbcod as stkmovelbcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		-- stk_MOV_ELB_def '08','mdominguez','temasis_log' 
		-- STK_MOV_ELB_DEF '08','GRUSSO','TEMASIS_HLT','','','','','','','','','','','0','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT> AND (STKmovelbDTECNV BETWEEN ^01/12/2018^ AND ^20/01/2018^) AND (DC.OBJTYP=^STK_SIN^) AND (D.STKmovelbLCK=^0^) AND (DC.OBJTYP=^STK_SIN^) AND (D.STKmovelbLCK=^0^)</VEWFLT></VIEW>','' 

		set @lv_srcobjtxt = ' st4.strloctxt '
		set @lv_srcobjdattxt = ' st4.strloctxt '
		set @lv_stkmovelbdtecnv = 'convert(varchar,d.stkmovelbdte,103)'
		set @lv_srcobjtyptxt = 'so.objtyptxt'
		set @lv_cteusr = 'd.cteusr'
		
		declare @lv_ord as nvarchar(4000)
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' d.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		set @lv_ord = replace(@lv_ord, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_ord = replace(@lv_ord, 'srcobjdattxt', @lv_srcobjdattxt)
		set @lv_ord = replace(@lv_ord, 'srccnttxt', 'scnt.cnttxt')
		set @lv_ord = replace(@lv_ord, 'stkmovelbdtecnv', 'd.stkmovelbdte')
		set @lv_ord = replace(@lv_ord, 'CTEUSR', @lv_cteusr)

		declare @lv_flt as nvarchar(4000)
		set @lv_flt = ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''') + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_flt = replace(@lv_flt, 'srcobjdattxt', @lv_srcobjdattxt)
		set @lv_flt = replace(@lv_flt, 'srccnttxt', 'scnt.cnttxt')
		set @lv_flt = replace(@lv_flt, 'stkmovelbdtecnv', 'd.stkmovelbdte')
		set @lv_flt = replace(@lv_flt, 'srcobjtyptxt', @lv_srcobjtyptxt)
		set @lv_flt = replace(@lv_flt, 'CTEUSR', @lv_cteusr)


		--ARMAMOS LA CONSULTA
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, convert(varchar, d.stkmovelbdte, 103) as stkmovelbdtecnv, '
			+ @lv_srcobjtxt+' as srcobjtxt, '
			+ @lv_srcobjdattxt+' as srcobjdattxt '
			+ ' FROM stk_MOV_ELB d '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join stk_str_loc st4 on st4.buscod=d.buscod and st4.strloccod=d.srcobjcod '

		execute( @lv_sql + @lv_flt + @lv_ord )
	END	
	


-- ------------------------------------------------------------------------ 
--   0 9    -    C O N T A B I L I Z A R									
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '09' or @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1    

		-- valido estado del documento de elaboraciÃ³n 
		IF (select top 1 docsts from stk_MOV_ELB where buscod=@lp_buscod and stkmovelbcod=@lp_stkmovelbcod)='C'
			BEGIN
				SELECT null, -901 as errcod, 'El documento ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		-- valido estado del documento de elaboraciÃ³n 
		IF not exists(select top 1 * from stk_mov_doc mi inner join stk_MOV_ELB me on me.buscod=mi.buscod and me.stkmovdoccod=mi.stkmovdoccod where me.buscod=@lp_buscod and me.stkmovelbcod=@lp_stkmovelbcod and mi.docsts='C')
			BEGIN
				SELECT null, -902 as errcod, 'Proceso de contabilizacion de documento de inventario incompleto.' as errtxt
				RETURN
			END
		
		-- obtengo datos del documento 
		declare @lv_supcod as int
		declare @lv_docrngcodint as int
		declare @lv_docrngcodext as int
		declare @lv_sysdocclsatr as nvarchar(4000)
		select @lp_srcobjcod=md.srcobjcod, @lv_objtyp=dc.objtyp, @lv_docrngcodint=dc.docrngcodint, @lv_docrngcodext=dc.docrngcodext, @lv_sysdocclsatr=dc.sysdocclsatr
		from stk_MOV_ELB md
		 inner join sys_doc_cls dc on dc.buscod=md.buscod and dc.SysDocClsCod=md.SysDocClsCod
		where md.buscod=@lp_buscod
		  and md.stkmovelbcod=@lp_stkmovelbcod

		-- valido origen 
		if dbo.GetTagValue('srcobjtyp',@lv_sysdocclsatr)='stk_stl'
			if not exists(select top 1 * from STK_STR_LOC where buscod=@lp_buscod and strloccod=@lp_srcobjcod)
				begin
					select null, -93 as errcod, 'CÃ³digo de origen invÃ¡lido.' as errtxt
					return
				end

		-- valido que existan materiales para el documento 
		IF not exists (select top 1 * from stk_MOV_ELB_mat where buscod=@lp_buscod and stkmovelbcod=@lp_stkmovelbcod)
			BEGIN
				SELECT null, -101 as errcod, 'El documento debe contener al menos un item.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- asignaciÃ³n/validaciÃ³n de nÃºmero 
		declare @lv_docrngcod as int
		set @lv_docrngcod = (case when not isnull(@lv_docrngcodint,0)=0 then @lv_docrngcodint when not isnull(@lv_docrngcodext,0)=0 then @lv_docrngcodext else 0 end)
		declare @lv_docnum as nvarchar(20)
		set @lv_docnum = (select top 1 stkmovelbcodext from stk_MOV_ELB where buscod=@lp_buscod and stkmovelbcod=@lp_stkmovelbcod)
		declare @lv_docrngatr as nvarchar(4000)
		set @lv_docrngatr =	(case	when not isnull(@lv_docrngcodint,0)=0 then '<docrngcodint>X</docrngcodint>'
									when not isnull(@lv_docrngcodext,0)=0 then '<docrngcodext>X</docrngcodext>'
							else '' end)
 		if not @lv_docrngcod=0
			BEGIN
				declare @lv_docnumint as int
				set @lv_docnumint = convert(int, @lv_docnum)
				EXECUTE GRL_DAT_DOC_RNG_DEF '11', @lp_username, @lp_buscod,
				@lv_docrngcod,null,null,null,null,null,null,@lv_docrngatr,null,null,@lv_docnumint OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
				set @lv_docnum = @lv_docnumint
			END

		-- obtengo costos de los insumos utilizados en la entrega		
		declare @lv_matcstins as decimal(18,3)
		declare @lv_curcodins as nvarchar(5)
		declare @lv_tot as decimal(18,3)

		declare @lv_matcod as int
		declare @lv_matcst as decimal(13,3)
		declare @lv_matcstcurcod as nvarchar(5)
		declare @lv_matcstqty as decimal(13,3)
		declare @lv_matcstuntcod as nvarchar(5)

		-- obtengo config de costos del material elaborado
		select top 1 @lv_matqty=me.MatQty, @lv_stkmovelbdte=me.StkMovElbDte, @lv_matcod=me.matcod, @lv_matcst=null, @lv_matcstcurcod=mc.matcstcurcod, @lv_matcstqty=mc.matcstqty, @lv_matcstuntcod=mc.matcstuntcod 
			from stk_mov_elb me
			inner join stk_mat_cst mc on mc.buscod=me.buscod and mc.matcod=me.matcod
			where me.buscod=@lp_buscod and me.stkmovelbcod=@lp_stkmovelbcod

		-- obtengo costos del documento de inventario
		set @lv_tot = 0
		declare lv_cur cursor for 
				select sum( abs(isnull(im.matcst,0)) ), im.matcstcurcod 
				from stk_mov_doc_mat im 
				where im.buscod=@lp_buscod
				and im.stkmovdoccod = (select top 1 stkmovdoccod from stk_mov_elb where buscod=@lp_buscod and stkmovelbcod=@lp_stkmovelbcod)
				and im.matqty < 0
				and im.matcstcurcod is not null
				group by im.matcstcurcod
		open lv_cur
		fetch next from lv_cur into @lv_matcstins, @lv_curcodins
		while @@FETCH_STATUS=0
			begin
				set @lp_excrteclscod = (select top 1 excrteclscod from fin_exc_rte_cls where buscod=@lp_buscod and excrteclscodext='VTA')
				set @lv_tot = @lv_tot + dbo.ConvertCurrency(@lp_buscod, @lv_stkmovelbdte, @lp_excrteclscod, abs(@lv_matcstins), @lv_curcodins, @lv_matcstcurcod )
				fetch next from lv_cur into @lv_matcstins, @lv_curcodins
			end
		close lv_cur
		deallocate lv_cur

		-- actualizo costos en el material elaborado
		set @lv_matcstqty = @lv_matcstqty * 1000
		set @lv_matcst = ( @lv_tot * @lv_matcstqty / @lv_matqty )
		EXECUTE STK_MAT_CST_DEF '02_sp',@lp_username,@lp_buscod,
			@lv_matcod,@lv_matcst,@lv_matcstcurcod,@lv_matcstqty,@lv_matcstuntcod,
			'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT, null

		-- actualizo cabecera
		-- status = contabilizado / status tratamiento = completo
		IF @lv_errcod=0
			BEGIN
				UPDATE stk_MOV_ELB 
				SET stkmovelbcodext = @lv_docnum,
					docsts='C',
					upddte=getdate(),
					updusr=@lp_username
				WHERE buscod=@lp_buscod 
				  and stkmovelbcod=@lp_stkmovelbcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovelbcod as stkmovelbcod, @lv_errcod as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription( @lv_errcod ) else @lv_errtxt end) as errtxt, @lv_errmat
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
