USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TCH_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_TCH_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		-- empresa 
@lp_tchcod 			as int			= null,	-- id 
@lp_tchcodext		as nvarchar(20) = null,	-- cÃ³digo 
@lp_tchtxt			as nvarchar(82) = null,	-- nombre de prestador 
@lp_tchcmt			as text			= null, -- comentarios 
@lp_tchinbdte		as nvarchar(14)	= null,	-- fecha ingreso 
@lp_tchoutdte		as nvarchar(14)	= null,	-- fecha egreso 
@lp_tchoutcmt		as nvarchar(10)	= null,	-- motivo egreso 
@lp_docsts			as nvarchar(02) = null, -- estado 

@lp_vewcfg			as nvarchar(4000)= null,	-- vista 

@lp_sysdocclscod	as int			= null	-- Codigo de clase de documeto 


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(4000)

declare @lv_tchinbdte as datetime = dbo.ConvertDate( @lp_tchinbdte )
declare @lv_tchoutdte as datetime = dbo.ConvertDate( @lp_tchoutdte )

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SPT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TCH'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
if @lp_sysoperation IN('01','11','02','12')
	begin
		if not @lp_tchcodext=''
			if exists(select top 1 * from SPT_TCH where buscod=@lp_buscod and not tchcod=@lp_tchcod and tchcodext=@lp_tchcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end
	end



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego el prestador 
		INSERT INTO SPT_TCH (buscod, tchcodext, tchtxt, tchcmt, tchinbdte, tchoutdte, tchoutcmt, docsts, cteusr, ctedte, sysdocclscod)
		VALUES (@lp_buscod, @lp_tchcodext, @lp_tchtxt, @lp_tchcmt, @lv_tchinbdte, @lv_tchoutdte, @lp_tchoutcmt, @lp_docsts, @lp_username, getdate(), @lp_sysdocclscod)
		SET @lv_errcod=@@ERROR
		SET @lp_tchcod=@@IDENTITY
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE SPT_TCH 
		SET tchcodext	= @lp_tchcodext,
			tchtxt		= @lp_tchtxt,		-- nombre 
			tchinbdte	= @lv_tchinbdte,	-- ingreso 
			tchoutdte	= @lv_tchoutdte,	-- egreso 
			tchoutcmt	= @lp_tchoutcmt,		-- motivo egreso 
			tchcmt		= @lp_tchcmt,		-- comentarios 
			docsts		= @lp_docsts,
			updusr		= @lp_username,
			upddte		= getdate()
		WHERE buscod = @lp_buscod
		  and tchcod = @lp_tchcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, 
			cd.SysDocClsTxt
		FROM SPT_TCH p
		left join SYS_DOC_CLS cd on cd.BusCod = p.BusCod and cd.objtyp ='SPT_TCH' and cd.SysDocClsCod = p.SysDocClsCod
		WHERE p.buscod = @lp_buscod
		  and p.tchcod = @lp_tchcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- borro los datos de impuestos del prestador 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='SPT_TCH'
				  and taxsrccod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		-- borro los datos de banco 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='SPT_TCH'
				  and bnksrccod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro las actividades asignadas al prestador 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TCH_ACT 
				WHERE buscod=@lp_buscod 
				  and tchcod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		-- borro direcciones de contactos de prestador 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrnum in (SELECT adrnum FROM GRL_DAT_CNT	WHERE buscod=@lp_buscod and cntsrctyp='SPT_TCH' and cntsrccod=@lp_tchcod)
				SET @lv_errcod=@@ERROR
			END
					
		-- borro contactos de prestador 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_CNT
				WHERE buscod=@lp_buscod
				  and cntsrctyp='SPT_TCH'
				  and cntsrccod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		-- borro los datos de direcciÃ³n del prestador 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR 
				WHERE buscod=@lp_buscod 
				  and adrsrctyp='SPT_TCH'
				  and adrsrccod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro los datos del prestador 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TCH 
				WHERE buscod=@lp_buscod 
				  and tchcod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END




-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, '
			+ ' a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrzon, a.adrstr, a.adreml, a.adrmapgeo, '
			+ ' l.lndtxt, r.lndregtxt, dc.sysdocclstxt, '
			+ ' x.taxcod, '
			+ ' b.paymthcod '
			+ ' FROM SPT_TCH t '
			+ ' left join GRL_DAT_ADR a on a.buscod=t.buscod and a.adrsrctyp='+QUOTENAME('SPT_TCH','''')+' and a.adrsrccod=t.tchcod'
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod '
			+ ' left join GRL_DAT_TAX x on x.buscod=t.buscod and x.taxsrctyp='+QUOTENAME('SPT_TCH','''')+' and x.taxsrccod=t.tchcod'
			+ ' left join GRL_DAT_BNK b on b.buscod=t.buscod and b.bnksrctyp='+QUOTENAME('SPT_TCH','''')+' and b.bnksrccod=t.tchcod'
			+ ' left join sys_doc_cls dc on dc.buscod=t.buscod and dc.sysdocclscod=t.sysdocclscod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and t.deldte is null '
			+ '   and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('SPT_TCH','''')+'))) '
			+ (case when  isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 't.tchtxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
