USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_SUM_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_SUM_DOC_DEF]

@lp_sysoperation 		as nvarchar(5),						-- operaciÃ³n
@lp_username 				as nvarchar(20),					-- usuario
@lp_buscod					as nvarchar(20)		= null,	-- empresa
@lp_finsumcod				as int						= null, -- ID cuenta corriente
@lp_finsumdoccod		as int						= null,	-- ID posiciÃ³n
@lp_docobjtyp				as nvarchar(20)		= null,	-- documento - tipo			-- comprobante que se registra en la cuenta corriente
@lp_docobjcod				as int						= null,	-- documento - codigo
@lp_docobjcodext		as nvarchar(20)		= null,	-- documento - codigo externo
@lp_docobjdte				as nvarchar(14)		= null,	-- documento - fecha
@lp_docobjduedte		as nvarchar(14)		= null,	-- documento - fecha vencimiento

@lp_refobjtyp				as nvarchar(20)		= null,	-- referencia - tipo		-- indica el nombre del destino de referencia
@lp_refobjcod				as int						= null,	-- referencia - codigo  -- el pagador puede ser A, la referencia B
@lp_refobjtxt				as nvarchar(82)		= null,	-- referencia - texto

@lp_impobjtyp				as nvarchar(20)		= null,	-- imputaciÃ³n - tipo		-- indica el objeto al que se imputa el documento
@lp_impobjcod				as nvarchar(20)		= null,	-- imputaciÃ³n - codigo	-- el pago puede estar imputado a una factura
@lp_finsumdoctot		as bigint					= null,	-- importe
@lp_finsumdoctotrst	as bigint					= null,	-- importe restante
@lp_curcod					as nvarchar(5)		= null,	-- moneda
@lp_curexcrte				as bigint					= null,	-- tipo de cambio
@lp_docsts					as nvarchar(2)		= null,	-- estado

@lp_vewcfg					as nvarchar(max)	= null,	-- configuraciÃ³n de la vista

@lp_errtyp					as nvarchar(10)		= null OUTPUT,
@lp_errcod					as int						= null OUTPUT,
@lp_errtxt					as nvarchar(max)	= null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)

declare @lv_curexcrte as decimal(9,5) = dbo.ConvertNumber( @lp_curexcrte , 5 )
declare @lv_finsumdoctotrst as decimal(13,3) = dbo.ConvertNumber( @lp_finsumdoctotrst , 3 )
declare @lv_finsumdoctot as decimal(13,3) = dbo.ConvertNumber( @lp_finsumdoctot , 3 )
declare @lv_finsumdocppl as int
declare @lv_doctrecod  as nvarchar(20)
declare @lv_totdoc as decimal(13,3)
declare @lv_totrst as decimal(13,3)
declare @lv_docobjdte as datetime = dbo.ConvertDate( @lp_docobjdte )
declare @lv_docobjduedte as datetime = dbo.ConvertDate( @lp_docobjduedte )
declare @lv_finsumcod as int
declare @lv_finsumdoccod as int




-- ------------------------------------------------------------------------
--   0 1    -    N U E V O
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1

		-- FIN_SUM_DOC_DEF '01','MDOMINGUEZ','TEMASIS',null,null,'SLS_INV','801','SLS_CUS','11',50820000,50820000,'ARS',100000,'A',null
		-- ,@lv_errtyp OUTPUT,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		if exists(select top 1 * from fin_sum_doc where buscod=@lp_buscod and docobjtyp=@lp_docobjtyp and docobjcod=@lp_docobjcod and impobjtyp=@lp_impobjtyp and impobjcod=@lp_impobjcod)
			begin
				set @lp_errtyp='W'
				set @lp_errcod=-1
				set @lp_errtxt='Documento existente en cuenta corriente.'
			end
    
		if @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp'

		-- si no se informo ID de cuenta corriente se obtiene
		if isnull(@lp_finsumcod,0)=0
			set @lp_finsumcod = (select top 1 finsumcod from FIN_SUM where buscod=@lp_buscod and srcobjtyp=@lp_impobjtyp and srcobjcod=@lp_impobjcod)
		
		-- si aun asi no se pudo encontrar, entonces genero error
		if isnull(@lp_finsumcod,0)=0 and @lp_errcod=0
			begin
				set @lp_errtyp='E'
				set @lp_errcod=-1
				set @lp_errtxt='No se pudo crear la cabecera de cuenta corriente.'
			end

		-- COMPROBANTE. agrego el comprobante imputado
		if @lp_errcod=0
			begin
				INSERT INTO FIN_SUM_DOC (BusCod,FinSumCod,
																	DocObjTyp,DocObjCod,DocObjCodExt,DocObjDte,DocObjDueDte,
																	refobjtyp,refobjcod,refobjtxt,
																	ImpObjTyp,ImpObjCod,FinSumDocTot,FinSumDocTotRst,CurCod,CurExcRte,
																	finsumdocsta,DocSts,CteDte,CteUsr)
				VALUES(@lp_buscod,@lp_finsumcod,
								@lp_docobjtyp,@lp_docobjcod,@lp_docobjcodext,@lv_docobjdte,@lv_docobjduedte,
								@lp_refobjtyp,@lp_refobjcod,@lp_refobjtxt,
								@lp_impobjtyp,@lp_impobjcod,@lv_finsumdoctot,@lv_finsumdoctotrst,@lp_curcod,@lv_curexcrte,
								0,@lp_docsts,GETDATE(),@lp_username)
				set @lp_errcod=@@error
			end

		-- TOTAL DE PARTIDA. actualizo el saldo total de la partida
		if @lp_errcod=0
			begin
				-- si es un comprobate principal (origen de partida)
				if @lp_docobjtyp=@lp_impobjtyp and @lp_docobjcod=@lp_impobjcod
					begin
						set @lv_totdoc=@lv_finsumdoctot
						set @lv_totrst=@lv_finsumdoctot
					end
				else
					begin
          	-- total de la factura
						set @lv_totdoc = (select top 1 isnull(finsumdoctot,0) from fin_sum_doc where buscod=@lp_buscod and finsumcod=@lp_finsumcod and docobjtyp=@lp_impobjtyp and docobjcod=@lp_impobjcod)
						-- total de pagos asociados (TSR_TIN y TSR_TOU)
            set @lv_totrst = @lv_totdoc - isnull((select sum(isnull(finsumdoctot,0)) from fin_sum_doc where buscod=@lp_buscod and finsumcod=@lp_finsumcod and docobjtyp in ('TSR_TIN','TSR_TOU') and impobjtyp=@lp_impobjtyp and impobjcod=@lp_impobjcod),0)
					end

				update fin_sum_doc
				set finsumdoctotrst=@lv_totrst
				where buscod=@lp_buscod
				  and finsumcod=@lp_finsumcod
				  and docobjtyp=@lp_impobjtyp
				  and docobjcod=@lp_impobjcod
				  --and docobjtyp=impobjtyp and docobjcod=impobjcod
				set @lp_errcod=@@ERROR
			end

		-- determino status de tratamiento comparando importe original vs saldo
		set @lv_doctrecod = (case when @lv_totdoc=@lv_totrst then 'N' when @lv_totrst>0 then 'P' when @lv_totrst=0 then 'C' else '' end)
		-- TRATAMIENTO. se actualiza el status de tratamiento de CABECERA del documento principal
		if @lp_errcod=0
			begin
				if @lp_docobjtyp='SLS_INV' or @lp_docobjtyp='SLS_CRE' or @lp_docobjtyp='SLS_DEB'
					UPDATE SLS_INV SET sysdoctrecod=@lv_doctrecod WHERE BusCod=@lp_buscod and SlsInvCod=@lp_docobjcod
				if @lp_docobjtyp='BUY_INV' or @lp_docobjtyp='BUY_CRE' or @lp_docobjtyp='BUY_DEB'
					UPDATE BUY_INV SET sysdoctrecod=@lv_doctrecod WHERE BusCod=@lp_buscod and BuyInvCod=@lp_docobjcod
				if @lp_docobjtyp='HLT_LQD'
					UPDATE HLT_PRS_LQD SET sysdoctrecod=@lv_doctrecod WHERE BusCod=@lp_buscod and HltPrsLqdCod=@lp_docobjcod
				set @lp_errcod=@@ERROR
			end
      
		-- TRATAMIENTO. se actualiza el status de tratamiento de POSICION del documento principal
		if @lp_errcod=0
			begin
				if @lp_docobjtyp='SLS_INV' or @lp_docobjtyp='SLS_CRE' or @lp_docobjtyp='SLS_DEB'
					UPDATE SLS_INV_MAT SET sysdoctrecod=@lv_doctrecod WHERE BusCod=@lp_buscod and SlsInvCod=@lp_docobjcod
				if @lp_docobjtyp='BUY_INV' or @lp_docobjtyp='BUY_CRE' or @lp_docobjtyp='BUY_DEB'
					UPDATE BUY_INV_MAT SET sysdoctrecod=@lv_doctrecod WHERE BusCod=@lp_buscod and BuyInvCod=@lp_docobjcod
				set @lp_errcod=@@ERROR
			end

		-- CABECERA. TOTAL. actualizo saldo de cuenta corriente
		if @lp_errcod=0
			exec FIN_SUM_DEF '12',@lp_username,@lp_buscod,@lp_finsumcod,null,null,null,null,'A',null,@lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT

		if @lp_sysoperation='01' or @lp_sysoperation='11' --or @lp_sysoperation='01_sp'
			begin
				SELECT @lp_finsumdoccod, @lp_errcod as errcod, @lp_errtxt as errtxt
				RETURN
			end
    else
			return
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT fd.*
		FROM FIN_SUM_DOC fd
		WHERE fd.buscod=@lp_buscod
		  and fd.FinSumDocCod = @lp_finsumdoccod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
    
		if @lp_sysoperation='04'
			BEGIN TRAN
    
		-- DOCUMENTO. borro documento
		DELETE FROM FIN_SUM_DOC
		WHERE buscod=@lp_buscod
		  and finsumcod=@lp_finsumcod
			and finsumdoccod=@lp_finsumdoccod
		SET @lp_errcod=@@ERROR
    
    IF @lp_docobjtyp IS NOT null AND @lp_docobjcod <> ''
    begin
      select top 1 @lv_finsumcod=finsumcod, @lv_finsumdoccod=finsumdoccod from FIN_SUM_DOC where buscod=@lp_buscod and docobjtyp=@lp_docobjtyp and docobjcod=@lp_docobjcod
      -- Busco el total de los pagos restantes
      select @lv_totrst = ISNULL(SUM(finsumdoctot),0) from FIN_SUM_DOC where buscod=@lp_buscod and docobjtyp in ('TSR_TIN','TSR_TOU') and impobjtyp=@lp_docobjtyp and impobjcod=@lp_docobjcod
      -- Actualizo el documento principal con el total de pagos restantes
      update FIN_SUM_DOC
      set finsumdoctotrst = finsumdoctot - @lv_totrst
      where buscod=@lp_buscod
        and finsumdoccod=@lv_finsumdoccod
        and finsumcod=@lv_finsumcod
    end

		-- CABECERA. TOTAL. actualizo saldo de cuenta corriente
		--if @lp_errcod=0
			--exec FIN_SUM_DEF '12',@lp_username,@lp_buscod,@lp_finsumcod,null,null,null,null,'A',null,@lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT

		if @lp_sysoperation='04' and @lp_errcod=0
			COMMIT TRAN
		else if @lp_sysoperation='04' and not @lp_errcod=0
			ROLLBACK TRAN

		if @lp_sysoperation='04'
			begin
				SELECT @lp_finsumdoccod, @lp_errcod as errcod, @lp_errtxt as errtxt
				RETURN
			end

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- fin_sum_doc_def '08','temasis','temasis'
		-- FIN_SUM_DOC_DEF '08','MDOMINGUEZ','TEMASIS','','','','','','00000000000000','00000000000000','','','','','','0','0','','0','','<view><vewflt> AND (fd.finsumcod=^367^)</vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>101</vewmax></view>'

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, 
			' fd.*, a.adrnme001',
			' FIN_SUM_DOC fd left join GRL_DAT_ADR a on a.buscod=fd.buscod and a.adrsrctyp=fd.impobjtyp and cast(a.adrsrccod as nvarchar(20))=cast(fd.impobjcod as nvarchar(20))',
			' fd.buscod='+QUOTENAME(@lp_buscod, ''''),
			' fd.docobjduedte ', default )
		execute( @lv_sql )
		print @lv_sql
    END	



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
