USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_ACC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GRL_DAT_ACC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_accnum 			as int			= null,	/* id */
@lp_finacccod	 	as int			= null,	/* id cuenta */
@lp_accsrctyp		as nvarchar(20)	= null,	/* origen - tipo */
@lp_accsrccod		as nvarchar(10) = null,	/* origen - id */
@lp_docsts 			as nvarchar(2)	= null	/* estado */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* valido categoría impositiva */
		if not isnull(@lp_finacccod,0)=0
			IF not exists(select top 1 * from fin_acc where buscod=@lp_buscod and finacccod=@lp_finacccod)
				BEGIN
					SELECT null, -1 as errcod, 'Cuenta inválida.' as errtxt
					RETURN
				END
		ELSE
			SET @lp_sysoperation = '04'

		if exists(select top 1 * from GRL_DAT_ACC where buscod=@lp_buscod and accsrctyp=@lp_accsrctyp and accsrccod=@lp_accsrccod)
			begin
				SET @lp_accnum=(select top 1 accnum from GRL_DAT_ACC where buscod=@lp_buscod and accsrctyp=@lp_accsrctyp and accsrccod=@lp_accsrccod)
				set @lp_sysoperation='02'
			end
		else
			set @lp_sysoperation='01'

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO GRL_DAT_ACC (buscod, finacccod, 
			accsrctyp, accsrccod,
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod,	@lp_finacccod, 
			@lp_accsrctyp, @lp_accsrccod,
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_accnum=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_accnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_ACC
		SET	finacccod = @lp_finacccod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and accnum = @lp_accnum
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_accnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END





/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1
		
		SELECT a.*, f.finacctxt
		FROM GRL_DAT_ACC a 
			left join FIN_ACC f on f.buscod=a.buscod and f.finacccod=a.finacccod
		WHERE a.buscod=@lp_buscod
		  and a.accnum=@lp_accnum
		
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		if not isnull(@lp_accnum,0)=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ACC
				WHERE buscod=@lp_buscod
				  and accnum=@lp_accnum
				  and accsrctyp=@lp_accsrctyp
				  and accsrccod=@lp_accsrccod
				SET @lv_errcod=@@ERROR
			END
		else if not isnull(@lp_finacccod,0)=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ACC
				WHERE buscod=@lp_buscod
				  and finacccod=@lp_finacccod
				  and accsrctyp=@lp_accsrctyp
				  and accsrccod=@lp_accsrccod
				SET @lv_errcod=@@ERROR
			END
		ELSE
			BEGIN
				DELETE 
				FROM GRL_DAT_ACC
				WHERE buscod=@lp_buscod
				  and accsrctyp=@lp_accsrctyp
				  and accsrccod=@lp_accsrccod
				SET @lv_errcod=@@ERROR
			END

					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_accnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END
	

	
/* ------------------------------------------------------------------------ */
/*   0 5    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT a.*, f.finacctxt
		FROM GRL_DAT_ACC a 
			left join FIN_ACC f on f.buscod=a.buscod and f.finacccod=a.finacccod
		WHERE a.buscod=@lp_buscod
		  and a.accsrctyp=@lp_accsrctyp
		  and a.accsrccod=@lp_accsrccod
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
