USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_PRC_CND_CAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_PRC_CND_CAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_prccndcatcod	as int			= null,	-- id
@lp_prccndcatcodext	as nvarchar(20) = null,	-- codigo
@lp_prccndcattxt	as nvarchar(50)	= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- config vista

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not isnull(@lp_prccndcatcodext,'')=''
			if exists(select top 1 * from GRL_PRC_CND_CAT where buscod=@lp_buscod and not prccndcatcod=@lp_prccndcatcod and prccndcatcodext=@lp_prccndcatcodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DUPLICATEEXTCODE' as errmsg
					RETURN
				end

	end

IF @lp_sysoperation = '04'
	BEGIN
		IF exists(select top 1 * from GRL_PRC_CND where buscod=@lp_buscod and prccndcatcod=@lp_prccndcatcod)
			begin
				select 'E' as errtyp, -41 as errcod, 'CANNOTDELETEUSEDINCONDITION' as errmsg
				return
			end
  END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		-- crea el documento padre
		INSERT INTO GRL_PRC_CND_CAT	(buscod, prccndcatcodext, prccndcattxt, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_prccndcatcodext, @lp_prccndcattxt, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_prccndcatcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndcatcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_PRC_CND_CAT 
		SET	prccndcatcodext = @lp_prccndcatcodext,
			prccndcattxt= @lp_prccndcattxt,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and prccndcatcod = @lp_prccndcatcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndcatcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pcc.*
		FROM GRL_PRC_CND_CAT pcc
		WHERE pcc.buscod = @lp_buscod
		  and pcc.prccndcatcod = @lp_prccndcatcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM GRL_PRC_CND_CAT
		WHERE buscod = @lp_buscod
		  and prccndcatcod = @lp_prccndcatcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prccndcatcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' pcc.* ',
			' GRL_PRC_CND_CAT pcc ',
			' pcc.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and pcc.docsts='+QUOTENAME(@lp_docsts,'''') end) ,
 			' pcc.prccndcattxt ', default)
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
