USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_TXT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_DAT_TXT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_txtcod 			as int					= null,	-- id */
@lp_txtcodext		as nvarchar(20)	= null,	-- codigo
@lp_txttxt	 		as nvarchar(max)=null,	-- texto
@lp_lngcod			as nvarchar(02) = null,	-- id idioma
@lp_txtsrctyp		as nvarchar(20)	= null,	-- origen - tipo
@lp_txtsrccod		as nvarchar(20) = null,	-- origen - id
@lp_txttypcod		as int					= null,	-- ID tipo texto
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- config vista

@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(4000)=null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
--	-1	CÃ³digo externo existente
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		if not isnull(@lp_txtcodext,'')=''
			IF exists(select top 1 * from GRL_DAT_TXT where buscod=@lp_buscod and not txtcod=@lp_txtcod and txtcodext=@lp_txtcodext)
				begin
					select null, -1 as errcod, 'CÃ³digo externo existente.' as errtxt
					return
				end

	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO GRL_DAT_TXT (buscod, txtcodext, lngcod, txttxt, txttypcod, txtsrctyp, txtsrccod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_txtcodext, @lp_lngcod, @lp_txttxt, @lp_txttypcod, @lp_txtsrctyp, @lp_txtsrccod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_txtcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_txtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_TXT
		SET	txttxt  = @lp_txttxt,
			lngcod = @lp_lngcod, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and txtcod = @lp_txtcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_txtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT t.*
		FROM GRL_DAT_TXT t 
		WHERE t.buscod=@lp_buscod
		  and t.txtcod=@lp_txtcod
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		DELETE 
		FROM GRL_DAT_TXT
		WHERE buscod=@lp_buscod
		  and txtcod=@lp_txtcod
		SET @lv_errcod=@@ERROR				
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_txtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END
	


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1 

		-- grl_dat_txt_def '08','temasis','temasis',null,'pwdrecmsg','es',null,'sys_usr','**'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' t.*, tt.txttypcodext, tt.txttyptxt, tt.txttypatr ',
			'	grl_dat_txt t '
			+ ' left join grl_dat_txt_typ tt on tt.buscod=t.buscod and tt.txttypcod=t.txttypcod ',
			' t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end), 
      default, default )
		execute( @lv_sql )
    
	END

-- ------------------------------------------------------------------------
--   1 4    -    B O R R A R	P O R	R E F E R E N C I A
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1 
		
		DELETE 
		FROM GRL_DAT_TXT
		WHERE buscod=@lp_buscod
			and TxtSrcTyp = @lp_txtsrctyp
			and TxtSrcCod = @lp_txtsrccod
		SET @lp_errcod = @@ERROR		
		SET @lp_errtxt = dbo.GetErrorDescription( @lv_errcod )
			
	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
