USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_UNT_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAT_UNT_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_matunttypcod	as int			= null,	/* codigo */
@lp_matunttyptxt	as nvarchar(40)	= null,	/* descripcion */
@lp_matunttypstk	as int			= null,	/* flag lleva stock (0-no/1-si) */
@lp_docsts 			as nvarchar(1)	= null,	/* estado */

@lp_vewcfg			as nvarchar(400)= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*	V A L I D A C I O N E S													*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' and @lp_sysoperation='02'
	BEGIN

		/* codigo duplicado */
		IF exists(select top 1 * from stk_mat_unt_typ where matunttypcod=@lp_matunttypcod)
			BEGIN
				SELECT null, -1 as errcod, 'Codigo existente.' as errtxt
				RETURN
			END
	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
						
		BEGIN TRAN

		INSERT INTO STK_MAT_UNT_TYP
			(matunttypcod, matunttyptxt, matunttypstk, 
			docsts, cteusr, ctedte)
		VALUES (@lp_matunttypcod, @lp_matunttyptxt, @lp_matunttypstk, 
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matunttypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE STK_MAT_UNT_TYP
		SET	matunttyptxt = @lp_matunttyptxt,
			matunttypstk = @lp_matunttypstk,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE matunttypcod = @lp_matunttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matunttypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM STK_MAT_UNT_TYP
		WHERE matunttypcod=@lp_matunttypcod
				
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
				
		IF exists(select top 1 * from stk_mat_unt where matunttypcod=@lp_matunttypcod)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar unidad de medida. Existen unidades de medida asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN
					
		DELETE 
		FROM STK_MAT_UNT_TYP
		WHERE matunttypcod=@lp_matunttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matunttypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END

	

/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT '	+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.* '
			+ ' FROM STK_MAT_UNT_TYP t '
			+ ' WHERE 1=1'
			+ (case when isnull(@lp_matunttypstk,-1)=-1 then '' else ' and t.matunttypstk='+QUOTENAME(@lp_matunttypstk,'''') end)
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END

	
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
