USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_LQD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_LQD_DEF]

@lp_sysoperation 	as nvarchar(2),	
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hltlqdcod		as int			= null,	-- id
@lp_hltlqdtxt		as nvarchar(50) = null,	-- texto
@lp_hltlqddte		as nvarchar(14)	= null,	-- fecha liquidacion
@lp_hltlqdstrdte	as nvarchar(14) = null,	-- fecha desde
@lp_hltlqdenddte	as nvarchar(14) = null,	-- fecha hasta
@lp_cuscod			as int			= null,	-- id cliente
@lp_hltlqdopnsrvids	as nvarchar(max)= null,	-- IDs de planificacion
@lp_hltlqdopnexpids	as nvarchar(max)= null,	-- IDs de novedades
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuracion vista

@lp_sysdocclscod	as int			= null,	-- ID clase de documento
@lp_hltlqdatr001	as nvarchar(max)= null,	-- atributos
@lp_sysdocrejcod	as int			= null	-- id motivo rechazo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)

DECLARE @lv_hltlqddte as datetime = dbo.ConvertDate( @lp_hltlqddte )
declare @lv_hltlqdstrdte as datetime = dbo.ConvertDate( @lp_hltlqdstrdte )
declare @lv_hltlqdenddte  as datetime = dbo.ConvertDate( @lp_hltlqdenddte )

declare @lv_srcobjtyp as nvarchar(50) = ''
declare @lv_reqhltplnctr as nvarchar(1) = ''
declare @lv_custxt as nvarchar(50)


declare @lv_hltlqddoccod	as int 	= null			-- id liquidaciÃ³n-documento  
declare @lv_refobjtyp		as nvarchar(20)	= null	-- objeto referencia 
declare @lv_refobjcod001	as nvarchar(20)	= null	-- id ref 001 
declare @lv_refobjcod002	as nvarchar(20)	= null	-- id ref 002 
declare @lv_refobjcod003 as nvarchar(20) = null --id ref 003 (ID de imp en especifico)
declare @lv_hltlqddoccodext	as int	= null	-- cod externo 
declare @lv_hltlqddoctxt	as nvarchar(50) = null	-- descripcion 
declare @lv_hltlqddocdte	as nvarchar(20)	= null	-- fecha 
declare @lv_hltlqddocprc2	as bigint		= null	-- precio unitario 
declare @lv_hltlqddocqty2	as bigint		= null	-- cantidad 
declare @lv_hltlqddoctot2	as bigint		= null	-- total 
declare @lv_hltlqddocprc	as decimal(13,3)= null	-- precio unitario 
declare @lv_hltlqddocqty	as decimal(13,3)= null	-- cantidad 
declare @lv_hltlqddoctot	as decimal(13,3)= null	-- total 
declare @lv_curcod			as nvarchar(5)	= null	-- moneda 
declare @lv_hltlqddocatr001	as nvarchar(max)= null	-- atributos 
declare @lv_errtxt as nvarchar(400)=null
declare @lv_delete as nvarchar(2)=null
declare @lv_i as int = null



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQC' --Revisar si este SP no lo utilizan distintos modelos y es necesario pasarle que tipo es en el momento especifico.
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S    /    A S I G N A C I O N E S
-- ------------------------------------------------------------------------
IF (@lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11'or @lp_sysoperation='12')
	BEGIN
		set @lv_custxt = (select top 1 custxt from SLS_CUS where buscod=@lp_buscod and cuscod=@lp_cuscod)
		if isnull(@lp_hltlqdopnsrvids,'')=''
			set @lp_hltlqdopnsrvids = '[]'
		if isnull(@lp_hltlqdopnexpids,'')=''
			set @lp_hltlqdopnexpids = '[]'
	
		-- cargo JSON como tabla
		---- cargo servicios
		select * into #tmpSrv
		from OPENJSON(@lp_hltlqdopnsrvids) WITH (
			hltlqddoccod int '$.hltlqddoccod',
			hltlqddocprc decimal(13,3) '$.hltlqddocprc',
			hltlqddocqty decimal(13,3) '$.hltlqddocqty',
			hltlqddoctot decimal(13,3) '$.hltlqddoctot',
			hltlqddoccodext int '$.hltlqddoccodext',
			hltlqddoctxt nvarchar(20) '$.hltlqddoctxt',
			hltlqddocdte nvarchar(20) '$.hltlqddocdte',
			refobjtyp nvarchar(20) '$.refobjtyp',
			refobjtyptxt nvarchar(50) '$.refobjtyptxt',
			refobjcod001 nvarchar(20) '$.refobjcod001',
			refobjcod002 nvarchar(20) '$.refobjcod002',
			hltlqddocatr001 nvarchar(MAX) '$.hltlqddocatr001' as json,
			[delete] nvarchar(2) '$.delete'
			)

		---- cargo gastos
		insert into #tmpSrv select *
		from OPENJSON(@lp_hltlqdopnexpids) WITH (
			hltlqddoccod int '$.hltlqddoccod',
			hltlqddocprc decimal(13,3) '$.hltlqddocprc',
			hltlqddocqty decimal(13,3) '$.hltlqddocqty',
			hltlqddoctot decimal(13,3) '$.hltlqddoctot',
		  hltlqddoccodext int '$.hltlqddoccodext',
			hltlqddoctxt nvarchar(20) '$.hltlqddoctxt',
			hltlqddocdte nvarchar(20) '$.hltlqddocdte',
			refobjtyp nvarchar(20) '$.refobjtyp',
			refobjtyptxt nvarchar(50) '$.refobjtyptxt',
			refobjcod001 nvarchar(20) '$.refobjcod001',
			refobjcod002 nvarchar(20) '$.refobjcod002',
			hltlqddocatr001 nvarchar(MAX) '$.hltlqddocatr001' as json,
			[delete] nvarchar(2) '$.delete'
			)
   
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'

	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- 1. agrego cabecera de liquidacion
		INSERT INTO HLT_LQD (buscod, cuscod, custxt, hltlqddte, HltLqdStrDte, HltLqdEndDte, hltlqdtxt, 
								sysdocclscod, hltlqdatr001,  
								docsts, ctedte, cteusr)
		VALUES( @lp_buscod, @lp_cuscod, @lv_custxt, @lv_hltlqddte, @lv_hltlqdstrdte, @lv_hltlqdenddte, @lp_hltlqdtxt, 
				@lp_sysdocclscod, @lp_hltlqdatr001,  
				@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_hltlqdcod = @@IDENTITY

		-- 2. actualizo posiciones
		declare lc_cur cursor for select x.hltlqddoccod, x.hltlqddocprc, x.hltlqddocqty, x.hltlqddoctot, x.hltlqddoccodext, x.hltlqddoctxt,
      x.refobjtyp, x.refobjcod001, x.refobjcod002, x.hltlqddocatr001, x.[delete]
		from #tmpSrv x 
		open lc_cur
	
		fetch next from lc_cur into 
			@lv_hltlqddoccod, @lv_hltlqddocprc, @lv_hltlqddocqty, @lv_hltlqddoctot, @lv_hltlqddoccodext, @lv_hltlqddoctxt,
			@lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002, @lv_hltlqddocatr001, @lv_delete
			
		set @lv_i = 0
		while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito
			begin
				set @lv_hltlqddocprc2 = round(@lv_hltlqddocprc * 1000,0)
				set @lv_hltlqddocqty2 = round(@lv_hltlqddocqty * 1000,0)
				set @lv_hltlqddoctot2 = round(@lv_hltlqddoctot * 1000,0)
        
				exec HLT_LQD_DOC_DEF '01_sp', @lp_username, @lp_buscod, @lv_hltlqddoccod, @lp_hltlqdcod,
					@lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002,
					@lv_hltlqddoccodext, @lv_hltlqddoctxt, @lv_hltlqddocdte,
					@lv_hltlqddocprc2, @lv_hltlqddocqty2, @lv_hltlqddoctot2, @lv_curcod,
					@lv_hltlqddocatr001, 'A',null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT

				fetch next from lc_cur into 
          @lv_hltlqddoccod, @lv_hltlqddocprc, @lv_hltlqddocqty, @lv_hltlqddoctot, @lv_hltlqddoccodext, @lv_hltlqddoctxt,
          @lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002, @lv_hltlqddocatr001, @lv_delete

				set @lv_i = @lv_i + 1
			end
		close lc_cur
		deallocate lc_cur

		-- 3. actualizo totales de cabecera
		if @lv_errcod=0
			begin
				UPDATE HLT_LQD
				SET hltlqdtot = isnull( (select sum(isnull(d.hltlqddoctot,0)) FROM HLT_LQD_DOC d where d.buscod=@lp_buscod and d.hltlqdcod=@lp_hltlqdcod), 0 )
				WHERE buscod=@lp_buscod 
				  and hltlqdcod=@lp_hltlqdcod
				SET @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from HLT_LQD where buscod=@lp_buscod and hltlqdcod=@lp_hltlqdcod)='C'
			BEGIN
				SELECT null, -2 as errcod, 'No se puede modificar. Documento contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- 1. borro documentos que fueron quitados de la liquidacion - SERVICIOS/GASTOS
		IF @lv_errcod=0 and not isnull(@lp_hltlqdopnsrvids,'')=''
			BEGIN
				DELETE d
				FROM HLT_LQD_DOC d
				left join #tmpSrv x on @lp_buscod=d.buscod and x.refobjtyp=d.refobjtyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002
				WHERE d.buscod=@lp_buscod
				  and d.hltLqdCod=@lp_hltlqdcod
				  and ( isnull(x.hltlqddoccod,0)=0 or not isnull(x.[delete],'')='' )
				SET @lv_errcod=@@ERROR
			END

		-- 3. agrego documentos de liquidacion - SERVICIOS/GASTOS
		declare lc_cur cursor for 
			select x.hltlqddoccod, x.hltlqddocprc, x.hltlqddocqty, x.hltlqddoctot, x.hltlqddoccodext, x.hltlqddoctxt, x.hltlqddocdte,
      x.refobjtyp, x.refobjcod001, x.refobjcod002, x.hltlqddocatr001, x.[delete]
			from #tmpSrv x 
			left join hlt_lqd_doc d on d.buscod=@lp_buscod and d.refobjtyp=x.refobjtyp and d.refobjcod001=x.RefObjCod001 and d.refobjcod002=x.RefObjCod002
			where d.HltLqdDocCod is null
			  and isnull(x.[delete],'')=''
		
		open lc_cur
		fetch next from lc_cur into 
			@lv_hltlqddoccod, @lv_hltlqddocprc, @lv_hltlqddocqty, @lv_hltlqddoctot, @lv_hltlqddoccodext, @lv_hltlqddoctxt, @lv_hltlqddocdte,
			@lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002, @lv_hltlqddocatr001, @lv_delete

		set @lv_i = 0
		while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito
			begin
				set @lv_hltlqddocprc2 = round(@lv_hltlqddocprc * 1000,0)
				set @lv_hltlqddocqty2 = round(@lv_hltlqddocqty * 1000,0)
				set @lv_hltlqddoctot2 = round(@lv_hltlqddoctot * 1000,0)

				exec HLT_LQD_DOC_DEF '01_sp', @lp_username, @lp_buscod, @lv_hltlqddoccod, @lp_hltlqdcod,
					@lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002,
					@lv_hltlqddoccodext, @lv_hltlqddoctxt, @lv_hltlqddocdte,
					@lv_hltlqddocprc2, @lv_hltlqddocqty2, @lv_hltlqddoctot2, @lv_curcod,
					@lv_hltlqddocatr001, 'A',null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT

				fetch next from lc_cur into 
          @lv_hltlqddoccod, @lv_hltlqddocprc, @lv_hltlqddocqty, @lv_hltlqddoctot, @lv_hltlqddoccodext, @lv_hltlqddoctxt, @lv_hltlqddocdte,
          @lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002, @lv_hltlqddocatr001, @lv_delete

				set @lv_i = @lv_i + 1
			end
		close lc_cur
		deallocate lc_cur

		-- 5. actualizo cabecera
		IF @lv_errcod=0
			BEGIN
				UPDATE hlt_lqd
				SET hltlqdtxt = @lp_hltlqdtxt,
					hltlqdtot = isnull( (select sum(isnull(d.hltlqddoctot,0)) FROM hlt_lqd_doc d where d.buscod=@lp_buscod and d.hltlqdcod=@lp_hltlqdcod), 0),
					cuscod = @lp_cuscod,
					custxt = @lv_custxt,
					sysdocrejcod = @lp_sysdocrejcod,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and hltlqdcod=@lp_hltlqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlqdcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		-- hlt_lqd_def '03','mdominguez','temasis_hlt','10'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg,
			' l.*, dc.sysdocclstxt, tc.taxcattxt, c.cuscodext, dr.sysdocrejtxt, dt.sysdoctretxt ',
			' hlt_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join SLS_CUS c on c.buscod=l.buscod and c.cuscod=l.cuscod '
			+ ' left join grl_dat_tax t on t.buscod=l.buscod and t.taxsrctyp='+QUOTENAME('HLT','''')+' and t.taxsrccod=l.cuscod '
			+ ' left join grl_dat_adr a on a.buscod=l.buscod and a.adrsrctyp='+QUOTENAME('HLT','''')+' and a.adrsrccod=l.cuscod '
			+ ' left join fin_tax_cat tc on tc.lndcod=a.lndcod and tc.taxcatcod=t.taxcatcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=l.buscod and dr.sysdocrejcod=l.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=l.buscod and dt.sysdoctrecod=l.sysdoctrecod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and l.hltlqdcod='+QUOTENAME(@lp_hltlqdcod,''''),
			'', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		set @lp_docsts = (select top 1 docsts from hlt_lqd where buscod=@lp_buscod and hltlqdcod=@lp_hltlqdcod)
		
		BEGIN TRAN
		
		-- borro los documento liquidados
		DELETE
		FROM hlt_lqd_doc
		WHERE buscod=@lp_buscod
		  and hltlqdcod=@lp_hltlqdcod
		SET @lv_errcod=@@ERROR

		-- borro liquidacion - cabecera
		IF @lv_errcod=0 and not @lp_docsts='C'
			BEGIN
				DELETE 
				FROM hlt_lqd
				WHERE buscod=@lp_buscod
				  and hltlqdcod=@lp_hltlqdcod
				SET @lv_errcod=@@ERROR
			END

		-- marco la liquidacion como borrado - cabecera
		IF @lv_errcod=0 and @lp_docsts='C'
			BEGIN
				UPDATE hlt_lqd
				SET deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and hltlqdcod=@lp_hltlqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		-- HLT_LQD_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>',''
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' l.*, dc.sysdocclstxt, dr.sysdocrejtxt, dt.sysdoctretxt ',
			' hlt_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=l.buscod and dr.sysdocrejcod=l.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=l.buscod and dt.sysdoctrecod=l.sysdoctrecod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and l.deldte is null ',
 			' l.hltlqddte DESC, l.hltlqdcod DESC ', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='09' or @lp_sysoperation='19'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from hlt_lqd where buscod=@lp_buscod and hltlqdcod=@lp_hltlqdcod)='C'
			BEGIN
				SELECT null, -4 as errcod, 'No se puede contabilizar. Documento ya contabilizado.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		-- 1. actualizo cabecera
		UPDATE HLT_LQD
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and hltlqdcod=@lp_hltlqdcod
		SET @lv_errcod=@@ERROR

		-- 2. actualizo posiciones
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and hltlqdcod=@lp_hltlqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   5 3    -    L I S T A R    P R E S T A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='53' 
	BEGIN
		SET @lv_validop = 1
		
		-- hlt_lqd_def '53','mdominguez','temasis_hlt','','','','20170106000000','20170731000000','59'
		-- hlt_lqd_def '53','mdominguez','temasis_hlt','','','','20170106000000','20210731000000','1','','','A','','180','',''
		-- HLT_LQD_DEF '53','FDINARDO','TEMASIS_HLT','','','','20210901000000','20210930000000','24','','','','<VIEW><VEWFLT></VEWFLT><VEWGRP></VEWGRP><VEWGRPCAL></VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD></VEWORD><VEWMAX></VEWMAX></VIEW>','180',''
		
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				select top 1 
					@lv_srcobjtyp=isnull(dbo.getTagValue('srcobjtyp',sysdocclsatr),'HLT_PCR')
					,@lv_reqhltplnctr=isnull(dbo.getTagValue('reqhltplnctr',sysdocclsatr),'')
				from sys_doc_cls 
				where buscod=@lp_buscod 
					and sysdocclscod=@lp_sysdocclscod
			end
			
		if @lv_srcobjtyp = 'HLT_PCR'
			BEGIN
      
        set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
        ' pd.plndteid, pd.plndte as srcdte, pd.plnid, '
          + ' p.patcod, p.SpcCod, '
          + ' a.HltDisClsCod, a.patpro, a.pattxt, a.patcodext, '
          + ' s.spcfrm, '
          + ' prs.prstxt, prs.prscodext, '
          + ' c.hltplnctrcod, c.hltplnctrdte, c.hltplnctrdtecod, c.hltplnctrcmt, '
          + ' dc.hltdisclstxt, '
          + ' aa.adrzoncod, aa.adrzon, '
          + ' ld.HltLqdCod, ld.HltLqdDocCod ',
        ' HLT_PLN_DTE pd '
            + 'inner join HLT_PLN p on p.BusCod=pd.BusCod and p.PlnId=pd.plnid '
            + 'inner join HLT_PAT a on a.BusCod=p.BusCod and a.PatCod=p.PatCod '
            + 'inner join HLT_DIS_CLS dc on dc.BusCod=a.BusCod and dc.HltDisClsCod=a.HltDisClsCod '
            + 'inner join GRL_DAT_ADR aa on aa.BusCod=a.BusCod and aa.AdrSrcTyp='+QUOTENAME('HLT_PAT','''')+' and aa.AdrSrcCod=a.PatCod '
            + 'inner join hlt_prs prs on prs.buscod=aa.buscod and prs.prscod=p.prscod '
            + 'left join hlt_spc s on s.buscod=p.buscod and s.spccod=p.spccod '
            + 'left join HLT_PLN_CTR_DTE c on c.BusCod=pd.buscod and c.plnid = pd.plnid and c.plndteid = pd.plndteid '
            + 'left join HLT_LQD_DOC ld on ld.BusCod=pd.buscod and ld.RefObjTyp='+QUOTENAME('HLT_PCR','''')+' and ld.RefObjCod001=c.hltplnctrcod and ld.RefObjCod002=c.hltplnctrdtecod ',
        ' pd.BusCod='+QUOTENAME(@lp_buscod,'''')
            + 'and pd.DelDte is null '
            + 'and c.DelDte is null '
            + 'and pd.PlnInbDte between '+QUOTENAME(@lv_hltlqdstrdte,'''')+' and '+ QUOTENAME(@lv_hltlqdenddte,'''')
            + 'and p.CusCod='+QUOTENAME(@lp_cuscod,'''')
            + 'and exists(select top 1 * from HLT_PLN_CTR_DTE where BusCod=pd.BusCod and PlnId=pd.PlnId and PlnDteId=pd.PlnDteId and DelDte is null) ',
        default, default )
        
			END


		ELSE if @lv_srcobjtyp = 'HLT_EVL'
			BEGIN
      
        set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
        ' pd.plndteid, pd.plndte, pd.plnid, '
          + ' s.spcfrm, '
          + ' prs.prscod, prs.prscodext, prs.prstxt, '
          + ' e.evlcod, e.evlcmt, e.evlnum, e.evldte as srcdte, '
          + ' p.patcod, p.SpcCod, '
          + ' a.HltDisClsCod, a.patpro, a.pattxt, a.patcodext, '
          + ' dc.hltdisclstxt, '
          + ' aa.adrzoncod, aa.adrzon, '
          + ' ld.HltLqdCod, ld.HltLqdDocCod ',
        ' HLT_PLN_DTE pd '
					+ 'inner join HLT_PLN p on p.BusCod=pd.BusCod and p.PlnId=pd.plnid '
					+ 'inner join HLT_PAT a on a.BusCod=p.BusCod and a.PatCod=p.PatCod '
					+ 'inner join HLT_DIS_CLS dc on dc.BusCod=a.BusCod and dc.HltDisClsCod=a.HltDisClsCod '
					+ 'inner join GRL_DAT_ADR aa on aa.BusCod=a.BusCod and aa.AdrSrcTyp='+QUOTENAME('HLT_PAT','''')+' and aa.AdrSrcCod=a.PatCod '
					+ 'inner join hlt_prs prs on prs.buscod=aa.buscod and prs.prscod=p.prscod '
					+ 'left join hlt_spc s on s.buscod=p.buscod and s.spccod=p.spccod '
					+ 'left join HLT_PAT_EVL e on e.BusCod=pd.BusCod and e.PlnId=pd.PlnId and e.PlnDteId=pd.PlnDteId '
					+ 'left join HLT_LQD_DOC ld on ld.BusCod=pd.buscod and ld.RefObjTyp='+QUOTENAME('HLT_EVL','''')+' and ld.RefObjCod001=e.evlcod and ld.RefObjCod002=e.evlnum ',
        ' pd.BusCod='+QUOTENAME(@lp_buscod,'''')
					+ 'and pd.DelDte is null '
					+ 'and e.DocSts='+QUOTENAME('A','''')
					+ 'and e.DelDte is null '
					+ 'and e.buscod is not null '
					+ 'and e.evldte between '+QUOTENAME(@lv_hltlqdstrdte,'''')+' and '+ QUOTENAME(@lv_hltlqdenddte,'''')
					+ (case when @lv_reqhltplnctr='X' then 'and exists(select hltplnctrcod from HLT_PLN_CTR_DTE where buscod=e.buscod and PlnId=e.PlnId and PlnDteId=e.PlnDteId and deldte is null)' else '' end)
					+ 'and p.CusCod='+QUOTENAME(@lp_cuscod,'''')
					+ 'and exists(select top 1 * from HLT_PAT_EVL where BusCod=pd.BusCod and PlnId=pd.PlnId and PlnDteId=pd.PlnDteId and DelDte is null) ',
        default, default)
        
			END
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------
--   5 4    -    L I S T A R    G A S T O S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '54'
	BEGIN
		SET @lv_validop = 1
		
    set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
        ' b.buscod, '+QUOTENAME('BUY_EXP','''')+' as refobjtyp,'
					  + 'b.buyexpcod as refobjcod001, bd.BuyExpDocCod as refobjcod002, bd.BuyExpCod as hltlqddoccodext,  '
					  +	'bt.BuyExpTypTxt as hltlqddoctxt, bd.buyexpdocdte as hltlqddocdte, convert(varchar,bd.buyexpdocdte,103) as hltlqddocdtecnv,'
					  + 'bd.buyexpdoctot * (bi.buyexpdocimpqty/100)  as hltlqddoctot,'
        	+ QUOTENAME('ARS','''')+' as refobjcurcod, ld.HltLqdCod, ld.HltLqdDocCod ',
        ' BUY_EXP b '
					+ 'inner join buy_exp_doc bd on bd.buscod=b.buscod and bd.buyexpcod=b.buyexpcod '
					+ 'inner join buy_exp_typ bt on bt.buscod=bd.buscod and bt.buyexptypcod=bd.buyexptypcod '
          + 'inner join buy_exp_doc_imp bi on bi.buscod = bt.buscod and bi.buyexpcod = bd.buyexpcod and bi.buyexpdoccod=bd.buyexpdoccod '
					+ 'inner join fin_acc f on f.buscod=bi.buscod and f.finacccod=bt.finacccod '
					+ 'left join HLT_LQD_DOC ld on  ld.BusCod=f.buscod and ld.RefObjTyp='+QUOTENAME('BUY_EXP','''')+' and ld.RefObjCod001=b.buyexpcod and ld.RefObjCod002=bd.buyexpdoccod '
        	+ 'left join HLT_LQD l on l.BusCod = f.buscod and l.hltlqdcod = ld.hltlqdcod ',
        ' bd.BusCod='+QUOTENAME(@lp_buscod,'''')
					+ 'and b.srcobjtyp='+QUOTENAME('HLT_PRS','''')
					+ 'and b.docsts='+QUOTENAME('C','''')
					+ 'and bt.docsts='+QUOTENAME('A','''')
					+ 'and f.finaccclscod='+QUOTENAME('A','''')
					+ 'and bd.buyexpdocdte between '+QUOTENAME(@lv_hltlqdstrdte,'''')+' and '+ QUOTENAME(@lv_hltlqdenddte,'''')
         -- + 'and (l.hltlqdcod IS NULL OR l.cuscod !='+QUOTENAME(@lp_cuscod,'''')+')'
          + 'and ((bi.srcobjtyp='+QUOTENAME('HLT_PAT','''')
          +	'and EXISTS (select 1 from hlt_pat p where p.buscod = bi.buscod and p.patcod = bi.srcobjcod001 and bi.srcobjcod002='+QUOTENAME(@lp_cuscod,'''')+'))'
          + 'OR (bi.srcobjtyp = '+QUOTENAME('SLS_CUS','''')+' and bi.srcobjcod001 = '+QUOTENAME(@lp_cuscod,'''')+'))',
        default, default)
    execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   4 3    -    L I S T A R    P R E S T A C I O N E S		(liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='43'
	BEGIN
		SET @lv_validop = 1
		
		-- hlt_lqd_def '23','mdominguez','temasis_hlt','15'

		-- obtengo origen de datos para liquidacion
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				SET @lv_srcobjtyp = isnull( (select top 1 dbo.getTagValue('srcobjtyp',sysdocclsatr) 
									from sys_doc_cls 
									where buscod=@lp_buscod 
									 and sysdocclscod=@lp_sysdocclscod),'')
				set @lv_srcobjtyp=(case when @lv_srcobjtyp='' then 'HLT_PCR' else @lv_srcobjtyp end) 
			end

    set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
        ' ld.*, convert(varchar, ld.hltlqddocdte, 103) as hltlqddocdtecnv ',
        ' hlt_LQD_DOC ld ',
        ' ld.buscod='+QUOTENAME(@lp_buscod,'''')
          + ' and ld.hltlqdcod='+QUOTENAME(@lp_hltlqdcod,'''')
          + ' and ld.refobjtyp='+QUOTENAME(@lv_srcobjtyp,''''),
        ' ld.refobjtyp, ld.hltlqddoccodext, ld.hltlqddocdte ', default)
        
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------
--   4 4    -    L I S T A R    G A S T O S					(liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='44'
	BEGIN
		SET @lv_validop = 1
		
		-- hlt_lqd_def '24','mdominguez','temasis_hlt','12'
		
    set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
        ' ld.*, convert(varchar, ld.hltlqddocdte, 103) as hltlqddocdtecnv ',
        ' hlt_LQD_DOC ld ',
        ' ld.buscod='+QUOTENAME(@lp_buscod,'''')
          + ' and ld.hltlqdcod='+QUOTENAME(@lp_hltlqdcod,'''')
          + ' and ld.refobjtyp='+QUOTENAME('BUY_EXP',''''),
        default, default)
        
			execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------
--   3 2    -    A C T U A L I Z A R    T R A T A M I E N T O
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '32'
	BEGIN
		SET @lv_validop = 1

		set @lp_sysdocrejcod = (select top 1 sysdocrejcod from hlt_lqd where buscod=@lp_buscod and hltlqdcod=@lp_hltlqdcod)

		BEGIN TRAN

		update l
		set l.sysdoctrecod = (case when not isnull(@lp_sysdocrejcod,'')='' then 'C' when fp.buscod is null then 'N' when fp.refposqty=0 then 'C' else 'P' end)
		FROM hlt_lqd l 
		left join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.SysDocClsCod
		left join grl_doc_flw_pos fp on fp.buscod=l.buscod and fp.srcobjtyp=dc.ObjTyp and fp.srcobjcod=l.hltlqdcod and isnull(fp.refobjtyp,'')=''
		WHERE l.buscod=@lp_buscod
		  and l.hltlqdcod=@lp_hltlqdcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
