USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_PRC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_PRS_PRC_DEF]

@lp_sysoperation 	as nvarchar(2),			-- operación 
@lp_username 		as nvarchar(20),		-- operación - usuario 
@lp_buscod			as nvarchar(20) = null,	-- empresa 
@lp_prsprccod		as int			= null,	-- id 
@lp_prscod			as int			= null,	-- id prestador 
@lp_patcod			as nvarchar(20) = null,	-- id paciente 
@lp_spccod			as int			= null,	-- id especialidad 
@lp_prsprctyp		as int			= null,	-- tipo precio 
@lp_prsprcval		as bigint		= null,	-- valor	
@lp_curcod			as nvarchar(05)	= null,	-- id moneda 
@lp_prsprcdtestr	as nvarchar(14)	= null,	-- fecha desde 
@lp_prsprcdteend	as nvarchar(14) = null,	-- fecha hasta 
@lp_docsts			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null,	-- configuración vista 

@lp_hltdisclscod as int	= null	-- id clasificacion enfermedad

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_prsprcdtestr as datetime = dbo.ConvertDate( @lp_prsprcdtestr )
declare @lv_prsprcdteend  as datetime = dbo.ConvertDate( @lp_prsprcdteend )
declare @lv_prsprcval as decimal(13,3) = dbo.ConvertNumber( @lp_prsprcval , 3 )



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Las fechas ingresadas se solapan con otras fechas exitentes.		
--	-2	El código de especialidad no es válido.								
-- ------------------------------------------------------------------------ 



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- valido que no se solapen las fechas 
		if exists(select top 1 * from hlt_prs_prc where buscod=@lp_buscod and docsts='A' and prsprctyp=@lp_prsprctyp and prscod=isnull(@lp_prscod,0) and patcod=isnull(@lp_patcod,0) and spccod=isnull(@lp_spccod,0) and hltdisclscod=isnull(@lp_hltdisclscod,0) and ((@lv_prsprcdtestr between prsprcdtestr and prsprcdteend) or (@lv_prsprcdteend between prsprcdtestr and prsprcdteend)) and not prsprccod=@lp_prsprccod )
			BEGIN
				SELECT null, -1 as errcod, 'Las fechas ingresadas se solapan con otras fechas exitentes.' as errtxt
				RETURN
			END

		if not isnull(@lp_spccod,-1)<0
			if not exists(select top 1 * from hlt_spc where buscod=@lp_buscod and spccod=@lp_spccod)
				begin
					select null, -2 as errcod, 'El código de especialidad no es válido.' as errtxt
					return
				end

	END
	
	

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		INSERT INTO hlt_prs_prc (buscod, prscod, patcod, spccod, hltdisclscod, prsprctyp, prsprcval, curcod, 
		prsprcdtestr, prsprcdteend,
		docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_prscod, @lp_patcod, @lp_spccod, @lp_hltdisclscod, 
		@lp_prsprctyp, @lv_prsprcval, @lp_curcod, 
		@lv_prsprcdtestr, @lv_prsprcdteend,
		'A', getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_prsprccod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_prsprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE hlt_prs_prc
		SET patcod	= @lp_patcod,
			prscod	= @lp_prscod,
			spccod  = @lp_spccod,
			hltdisclscod = @lp_hltdisclscod, 
			prsprctyp	= @lp_prsprctyp,
			prsprcval  = @lv_prsprcval,
			curcod = @lp_curcod, 
			prsprcdtestr= @lv_prsprcdtestr,
			prsprcdteend= @lv_prsprcdteend,
			docsts = @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and prsprccod  = @lp_prsprccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_prsprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		select p.*,	c.custxt, r.prstxt, a.pattxt, s.spctxt, ad.hltdisclstxt
		from hlt_prs_prc p
		left join hlt_pat a on a.buscod=p.buscod and a.patcod=p.patcod
		left join sls_cus c on c.buscod=a.buscod and c.cuscod=a.cuscod
		left join hlt_prs r on r.buscod=p.buscod and r.prscod=p.prscod
		left join hlt_spc s on s.buscod=p.buscod and s.spccod=p.spccod
		left join hlt_dis_cls ad on ad.buscod=p.buscod and ad.hltdisclscod=p.hltdisclscod 
		where p.buscod=@lp_buscod
		  and p.prsprccod=@lp_prsprccod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- debo verificar que no se haya liquidado con este precio especial 
		-- o bien marcarlo para que no se pueda borrar 

		DELETE 
		FROM hlt_prs_prc
		WHERE buscod   = @lp_buscod 
		  and prsprccod = @lp_prsprccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prsprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- hlt_prs_prc_def '08','temasis','temasis_hlt'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' p.*, r.prstxt, a.pattxt, c.custxt, s.spctxt, ad.hltdisclstxt ',
			' hlt_prs_prc p '
			+ ' left join hlt_pat a on a.buscod=p.buscod and a.patcod=p.patcod '
			+ ' left join sls_cus c on c.buscod=a.buscod and c.cuscod=a.cuscod '
			+ ' left join hlt_prs r on r.buscod=p.buscod and r.prscod=p.prscod '
			+ ' left join hlt_spc s on s.buscod=p.buscod and s.spccod=p.spccod '
			+ ' left join hlt_dis_cls ad on ad.buscod=p.buscod and ad.hltdisclscod=p.hltdisclscod ',
			' p.buscod='+QUOTENAME(@lp_buscod,''''), 
			' p.ctedte desc ', 
			default )
			
		execute( @lv_sql )

	END
	
	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
