USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_STU_ASS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[EDU_STU_ASS_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_edustuasscod	as int			= null,	/* id asistencia */
@lp_eduplncod		as int			= null,	/* id planificación */
@lp_eduplndtecod	as int			= null,	/* id planificación fecha */
@lp_stucod			as int			= null,	/* id alumno */
@lp_edustuass		as int			= null,	/* flag asistencia (1-asistió / 0-no asistió) */
@lp_edustuassdte	as nvarchar(14)	= null,	/* fecha de asistencia/inasistencia */
@lp_edustuassatr001 as nvarchar(4000)=null,	/* atributos */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int
SET @lv_errcod=0

declare @lv_sql as nvarchar(4000)

declare @lv_edustuassdte as smalldatetime
set @lv_edustuassdte = dbo.ConvertDate( @lp_edustuassdte )

/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* prevengo doble evaluación (múltiples post) */
		if exists(select top 1 * from edu_stu_ass where buscod=@lp_buscod and eduplncod=@lp_eduplncod and eduplndtecod=@lp_eduplndtecod and stucod=@lp_stucod and DelDte is null)
			begin
				set @lp_edustuasscod = (select top 1 edustuasscod from edu_stu_ass where buscod=@lp_buscod and eduplncod=@lp_eduplncod and eduplndtecod=@lp_eduplndtecod and stucod=@lp_stucod and DelDte is null)
				SET @lp_sysoperation = '02'
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO EDU_STU_ASS (buscod, eduplncod, eduplndtecod, stucod, edustuass, edustuassatr001, edustuassdte, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_eduplncod, @lp_eduplndtecod, @lp_stucod, @lp_edustuass, @lp_edustuassatr001, @lv_edustuassdte, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_edustuasscod=@@IDENTITY
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edustuasscod as edustuasscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* actualizo inasistencia */
		UPDATE edu_stu_ass
		SET edustuass=@lp_edustuass,
			edustuassatr001=@lp_edustuassatr001,
			edustuassdte = @lv_edustuassdte,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and edustuassCod=@lp_edustuasscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edustuasscod as edustuasscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		SElECT a.*, s.stutxt
		FROM edu_stu_ass a
		inner join edu_stu s on s.buscod=a.buscod and s.stucod=a.stucod
		WHERE a.buscod=@lp_buscod
		  and a.edustuasscod=@lp_edustuasscod

	END





/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R                                                 */
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE EDU_STU_ASS 
		SET docsts = 'I',
			deldte = getdate(),
			delusr = @lp_username
		WHERE buscod=@lp_buscod
		  and edustuasscod=@lp_edustuasscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			  COMMIT TRAN
		ELSE
			  ROLLBACK TRAN

		SELECT @lp_edustuasscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.*, s.stutxt, ec.educurtxt, ea.educartxt, eo.educoutxt, es.edusubcod, es.edusubtxt, convert(nvarchar, a.edustuassdte, 103) as edustuassdtecnv '
			+ ' FROM edu_stu_ass a '
			+ ' inner join edu_stu s on s.buscod=a.buscod and s.stucod=a.stucod '
			+ ' inner join edu_pln_dte pd on pd.buscod=a.buscod and pd.eduplncod=a.eduplncod and pd.eduplndtecod=a.eduplndtecod '
			+ ' inner join edu_pln p on p.buscod=pd.buscod and p.eduplncod=pd.eduplncod '
			+ ' left join edu_cur ec on ec.buscod=p.buscod and ec.educurcod=p.educurcod '
			+ ' left join edu_car ea on ea.buscod=p.buscod and ea.educarcod=p.educarcod '
			+ ' left join edu_cou eo on eo.buscod=p.buscod and eo.educoucod=p.educoucod '
			+ ' left join edu_sub es on es.buscod=p.buscod and es.edusubcod=p.edusubcod '
			+ ' left join edu_lqd_doc ld on ld.buscod=a.buscod and ld.refobjtyp='+QUOTENAME('EDU_ASS','''')+' and ld.refobjcod001=a.edustuasscod '
			+ ' WHERE a.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and a.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
