USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GAS_SLN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GAS_SLN_DEF] 

@lp_sysoperation 		as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),			-- empresa
@lp_slncod				as int			= null,		-- id
@lp_slncodext			as nvarchar(20)	= null,		-- codigo
@lp_slntblcodext	as nvarchar(20)		= null,		-- mesa
@lp_slntblqty		as int				= null,		-- cantidad
@lp_slntxt				as nvarchar(50)	= null,		-- descripcion
@lp_slntyp				as nvarchar(02) = null,		-- tipo 'D' 'Delivery' / 'S' 'Salon'
@lp_docsts				as nvarchar(02)	= null,		-- estado

@lp_vewcfg				as nvarchar(max)= null,		-- config vista

@lp_cuscod				as int			= null,		-- ID Cliente
@lp_strloccod			as int			= null,		-- ID Almacen
@lp_sysdocclscod_ord	as int			= null,		-- ID Clase de Pedido
@lp_sysdocclscod_stk	as int			= null,		-- ID Clase de Mov.Stock
@lp_slsprclstcod		as int			= null		-- ID lista de precios

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO GAS_SLN (buscod, slncodext ,slntxt, slntyp,
			CusCod, strloccod, SysDocClsCod_Ord, SysDocClsCod_Stk, slsprclstcod, 
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_slncodext,@lp_slntxt,@lp_slntyp,
			@lp_cuscod,@lp_strloccod,@lp_sysdocclscod_ord,@lp_sysdocclscod_stk, @lp_slsprclstcod,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_slncod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		UPDATE GAS_SLN
		SET slncodext=@lp_slncodext,
			slntxt=@lp_slntxt,
			slntyp=@lp_slntyp,
			CusCod=@lp_cuscod,
			strloccod=@lp_strloccod,
			sysdocclscod_ord=@lp_sysdocclscod_ord,
			SysDocClsCod_Stk=@lp_sysdocclscod_stk,
			slsprclstcod=@lp_slsprclstcod,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and slncod=@lp_slncod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R	(grupa)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*, c.CusTxt, sl.StrLocTxt, dco.SysDocClsTxt as sysdocclstxt_ord, dcs.SysDocClsCod as sysdocclstxt_stk, pl.slsprclsttxt
		FROM GAS_SLN s 
		left join SLS_CUS c on c.BusCod=s.BusCod and c.CusCod=s.CusCod
		LEFT join STK_STR_LOC sl on sl.BusCod=s.BusCod and sl.StrLocCod=s.strloccod 
		left join SYS_DOC_CLS dco on dco.BusCod=s.BusCod and dco.SysDocClsCod=s.SysDocClsCod_Ord
		left join SYS_DOC_CLS dcs on dcs.BusCod=s.BusCod and dcs.SysDocClsCod=s.SysDocClsCod_Stk
		left join SLS_PRC pl on pl.BusCod=s.BusCod and pl.SlsPrcLstCod=s.SlsPrcLstCod
		WHERE s.buscod=@lp_buscod
		  and s.slncod=@lp_slncod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- borro las mesas
		DELETE
		FROM GAS_SLN_TBL
		Where BusCod=@lp_buscod 
		  and SlnCod=@lp_slncod
		SET @lv_errcod=@@ERROR
		
		-- borro el salon
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GAS_SLN
				WHERE buscod = @lp_buscod
				  and slncod = @lp_slncod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.*, c.CusTxt, sl.StrLocTxt, dco.SysDocClsTxt as sysdocclstxt_ord, dcs.SysDocClsCod as sysdocclstxt_stk, pl.slsprclsttxt '
			+ ' FROM GAS_SLN s '
			+ ' left join SLS_CUS c on c.BusCod=s.BusCod and c.CusCod=s.CusCod '
			+ ' LEFT join STK_STR_LOC sl on sl.BusCod=s.BusCod and sl.StrLocCod=s.strloccod '
			+ ' left join SYS_DOC_CLS dco on dco.BusCod=s.BusCod and dco.SysDocClsCod=s.SysDocClsCod_Ord '
			+ ' left join SYS_DOC_CLS dcs on dcs.BusCod=s.BusCod and dcs.SysDocClsCod=s.SysDocClsCod_Stk '
			+ ' left join SLS_PRC pl on pl.BusCod=s.BusCod and pl.SlsPrcLstCod=s.SlsPrcLstCod '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
