USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_SPC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_SPC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_spccod 			as int			= null,	-- id
@lp_spccodext		as nvarchar(20)	= null, -- codigo
@lp_spctxt			as nvarchar(50)	= null,	-- descripciÃ³n
@lp_spctyp			as int			= null,	-- tipo
@lp_docsts			as nvarchar(05) = null,	-- estado

@lp_vewcfg			as nvarchar(4000)=null,	-- vista

@lp_spcctrtyp		as int			= null,	-- tipo de control
@lp_spcclr			as nvarchar(10)	= null,	-- color
@lp_spcfrm			as nvarchar(250)= null,	-- formulario
@lp_spcord			as int			= null,	-- Ubicacion 
@lp_spcgrpcod		as int			= null,	-- grupo     
@lp_spcplntyp		as int			= null,	-- tipo planificaciÃ³n
@lp_spcatrval001	as nvarchar(4000)=null	-- atributos

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	La especialidad no se puede borrar. Esta asignada a prestador/es
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		if not isnull(@lp_spccodext,'')=''
			IF exists(select top 1 * from hlt_spc where buscod=@lp_buscod and not spccod=@lp_spccod and spccodext=@lp_spccodext)
				begin
					select null, -2 as errcod, 'CÃ³digo externo de especialidad duplicado.' as errtxt
					return
				end

	END


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_SPC (buscod, spccodext, spctxt, spctyp, spcctrtyp, spcplntyp, spcclr, spcfrm,spcord,spcgrpcod, spcatrval001, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_spccodext, @lp_spctxt, @lp_spctyp, @lp_spcctrtyp, @lp_spcplntyp, @lp_spcclr, @lp_spcfrm,@lp_spcord,@lp_spcgrpcod, @lp_spcatrval001, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_spccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_SPC 
		SET	spccodext = @lp_spccodext,
			spctxt = @lp_spctxt,
			spctyp = @lp_spctyp,
			spcctrtyp=@lp_spcctrtyp,
			spcplntyp=@lp_spcplntyp,
			spcclr = @lp_spcclr,
			spcfrm = @lp_spcfrm,
			spcord= @lp_spcord,
			spcgrpcod= @lp_spcgrpcod,
			spcatrval001=@lp_spcatrval001,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and spccod = @lp_spccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*
		FROM HLT_SPC s
		WHERE s.buscod=@lp_buscod
		  and s.spccod=@lp_spccod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		IF exists(select top 1 * from hlt_prs_spc where buscod=@lp_buscod and spccod=@lp_spccod)
			BEGIN
				SELECT null, -1 as errcod, 'La especialidad no se puede borrar. Se encuentra asociada a prestador/es.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		DELETE
		FROM HLT_SPC
		WHERE buscod = @lp_buscod
		  and spccod = @lp_spccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM HLT_SPC s'
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
      + dbo.GetUserRestrictions(@lp_buscod,@lp_username,'s.spccod')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'spctxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   2 3    -    L I S T A R    x    D E S C R I P C I O N				
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM HLT_SPC
		WHERE buscod = @lp_buscod
		  and docsts = 'A'
		  and spctxt like '%' + @lp_spctxt + '%'
		ORDER BY spctxt

	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
