USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_PRM_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_USR_PRM_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20) = null,	-- empresa 
@lp_usrprmcod		as int					= null,	-- ip
@lp_usrcod			as nvarchar(20)	= null,	-- id usuario 
@lp_prmcod			as int					= null,	-- id parametro 
@lp_prmfld			as nvarchar(50)	= null,	-- campo referencia 
@lp_prmval			as nvarchar(max)=null,	-- valor 
@lp_Prmvaldef		as nvarchar(250)= null,	-- valor x default 
@lp_prmobjtyp		as nvarchar(50)	= null,	-- tipo objeto
@lp_docsts			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null,	-- configuración vista 

@lp_UsrPrmFltKey	as nvarchar(400)= null,	-- clave (clave nodo) 
@lp_UsrPrmFltInc	as nvarchar(400)= null,	-- include (clave nodo sup) 
@lp_UsrPrmFltTyp	as nvarchar(5)	= null	-- tipo (and/or) 

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)
DECLARE @lv_objtyp as nvarchar(20)
DECLARE @lv_objcod as nvarchar(20)
DECLARE @lv_errtxt as nvarchar(400)


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		if @lp_sysoperation='01'
			IF exists(select top 1 * from sys_sec_usr_prm where buscod=@lp_buscod and usrcod=@lp_usrcod and prmcod=@lp_prmcod and PrmVal=@lp_prmval)
				begin
					set @lp_usrprmcod = (select top 1 usrprmcod from sys_sec_usr_prm where buscod=@lp_buscod and usrcod=@lp_usrcod and prmcod=@lp_prmcod and PrmVal=@lp_prmval)
					SET @lp_sysoperation='02'
				end

	END


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		-- obtengo la clave del nodo superior 
		DECLARE @lv_tmpkey as nvarchar(400)
		SET @lv_tmpkey = (select top 1 usrprmfltkey from sys_sec_usr_prm where buscod=@lp_buscod and usrprmfltkey=@lp_usrprmfltinc)

		BEGIN TRAN

		INSERT INTO sys_sec_usr_prm (buscod, usrcod, prmcod, prmfld, prmval, prmvaldef, prmobjtyp, docsts, ctedte, cteusr, UsrPrmFltKey, UsrPrmFltInc, UsrPrmFltTyp, UsrPrmFltGrp)
		VALUES (@lp_buscod, @lp_usrcod, @lp_prmcod, @lp_prmfld, @lp_prmval, @lp_prmvaldef, @lp_prmobjtyp, @lp_docsts, getdate(), @lp_username, @lp_UsrPrmFltKey, @lp_UsrPrmFltInc, @lp_UsrPrmFltTyp, 0)
		SET @lv_errcod=@@ERROR
		SET @lp_usrprmcod=@@IDENTITY
		
		-- cambio el nodo superior a carpeta 
		IF @lv_errcod=0
			BEGIN
				UPDATE sys_sec_usr_prm
				SET UsrPrmFltGrp=1
				WHERE buscod=@lp_buscod
				  and usrprmfltkey=@lp_UsrPrmFltInc
				  and usrprmfltgrp=0
				SET @lv_errcod=@@ERROR
			END
	
		-- actualizo la clave del nodo actual 
		IF @lv_errcod=0
			BEGIN
				UPDATE sys_sec_usr_prm
				SET UsrPrmFltKey = isnull( @lv_tmpkey+';', '')+cast(@lp_usrprmcod as nvarchar(10))
				WHERE buscod=@lp_buscod
				  and usrprmcod=@lp_usrprmcod
				SET @lv_errcod=@@ERROR
			END		
	
		-- vinculo usuario
		IF @lv_errcod = 0
			BEGIN
				-- compruebo que exista enlace
				IF exists(SELECT ObjTyp FROM SYS_SEC_LNK WHERE buscod = @lp_buscod and UsrPrmCod=@lp_prmcod)
					BEGIN
						SELECT TOP 1 @lv_objtyp = ObjTyp FROM SYS_SEC_LNK WHERE UsrPrmCod=@lp_prmcod
						EXEC SYS_SEC_USR_LNK_DEF '11', @lp_username, @lp_buscod, @lp_usrcod, 
							@lv_objtyp, @lp_prmval, 'A', '', @lv_errcod, @lv_errtxt
					END
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_usrprmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- si cambió el valor del parámetro
		IF not exists(select prmval from SYS_SEC_USR_PRM where buscod = @lp_buscod and UsrPrmCod=@lp_usrprmcod and PrmVal=@lp_prmval)
			BEGIN
				-- elimino vínculo
				SELECT TOP 1 @lv_objtyp = ObjTyp FROM SYS_SEC_LNK WHERE UsrPrmCod=@lp_prmcod
				EXEC SYS_SEC_USR_LNK_DEF '14', @lp_username, @lp_buscod, @lp_usrcod, 
					@lv_objtyp, @lp_prmval, '', '', @lv_errcod, @lv_errtxt
			END

		UPDATE sys_sec_usr_prm
		SET prmcod = @lp_prmcod,
			prmfld = @lp_prmfld, 
			prmval = @lp_prmval,
			prmvaldef = @lp_prmvaldef,
			prmobjtyp = @lp_prmobjtyp, 
			UsrPrmFltTyp = @lp_UsrPrmFltTyp,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and usrprmcod = @lp_usrprmcod
		SET @lv_errcod=@@ERROR
		
		-- vinculo usuario
		IF @lv_errcod = 0
			BEGIN
				-- compruebo que exista enlace
				IF exists(SELECT ObjTyp FROM SYS_SEC_LNK WHERE buscod = @lp_buscod and UsrPrmCod=@lp_prmcod)
					BEGIN
						SELECT TOP 1 @lv_objtyp = ObjTyp FROM SYS_SEC_LNK WHERE UsrPrmCod=@lp_prmcod
						EXEC SYS_SEC_USR_LNK_DEF '11', @lp_username, @lp_buscod, @lp_usrcod, 
							@lv_objtyp, @lp_prmval, 'A', '', @lv_errcod, @lv_errtxt
					END
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_usrprmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*
		FROM sys_sec_usr_prm p
		WHERE p.buscod = @lp_buscod
		  and p.usrprmcod = @lp_usrprmcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		/*
		-- verifico si el nodo contiene otros nodos
		IF (select usrprmfltgrp from sys_sec_usr_prm where buscod=@lp_buscod and usrprmcod=@lp_usrprmcod)=1
			BEGIN
				SELECT @lp_usrprmcod, -3 as errcod, 'No se puede borrar. Nodos dependientes.' as errtxt
				RETURN
			END

		-- obtengo cantidad de nodos de la carpeta superior (sin incluir el actual)
		DECLARE @lv_inc as nvarchar(400)
		set @lv_inc = (select usrprmfltinc from sys_sec_usr_prm where buscod=@lp_buscod and usrprmcod=@lp_usrprmcod)
		DECLARE @lv_grp AS INT
		SET @lv_grp = (select count(*) from sys_sec_usr_prm where buscod=@lp_buscod and usrprmfltinc=@lv_inc and not usrprmcod=@lp_usrprmcod)
		*/

		BEGIN TRAN
		
		/*
		-- actualizo la carpeta superior como nodo simple si no tiene mas nodos dependientes
		IF @lv_grp=0
			BEGIN
				UPDATE sys_sec_usr_prm
				SET usrprmfltgrp=0
				WHERE buscod=@lp_buscod
				  and usrprmfltkey=@lv_inc
				SET @lv_errcod=@@ERROR
			END
		*/

		-- elimino vínculo
		SELECT TOP 1 @lv_objtyp = l.ObjTyp, @lv_objcod = ul.PrmVal FROM SYS_SEC_LNK l inner join SYS_SEC_USR_PRM ul on l.UsrPrmCod = ul.PrmCod WHERE l.buscod = @lp_buscod and ul.UsrPrmCod=@lp_usrprmcod
		EXEC SYS_SEC_USR_LNK_DEF '14', @lp_username, @lp_buscod, @lp_usrcod, 
			@lv_objtyp, @lv_objcod, '', '', @lv_errcod, @lv_errtxt

		-- borro el nodo 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM sys_sec_usr_prm
				WHERE buscod = @lp_buscod
				  and usrprmcod = @lp_usrprmcod
				SET @lv_errcod=@@ERROR
			END		

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_usrprmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' p.*, a.adreml ',
			' sys_sec_usr_prm p '
			+ ' inner join grl_dat_adr a on a.buscod='+QUOTENAME('_SYS','''')+' and a.adrsrctyp='+QUOTENAME('SYS_USR','''')+' and adrsrccod=p.usrcod ',
			' p.buscod='+QUOTENAME(@lp_buscod,''''),
			' p.usrprmcod ', default )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
