USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_WRK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GRL_DAT_WRK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa*/
@lp_wrkflwdatcod	as int			= null,	/* ID */
@lp_wrkflwcod		as int			= null,	/* ID workflow */
@lp_srcobjtyp		as nvarchar(20)	= null,	/* objeto origen - tipo */
@lp_srcobjcod001	as nvarchar(20)	= null,	/* objeto origen - codigo */	
@lp_srcobjcod002	as nvarchar(20)	= null,	/* objeto origen - codigo2 */	

@lp_relsts			as nvarchar(20)	= null,	/* estado liberacion */

@lp_docsts 			as nvarchar(02)	= null,	/* estado */
@lp_vewcfg			as nvarchar(MAX)=null,	/* config vista */
@lp_errcod			as int			=null OUTPUT,	/* errcod */
@lp_errtxt			as nvarchar(max)=null OUTPUT	/* errtxt */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

declare @lv_errcod int
set @lv_errcod = 0

declare @lv_sql as nvarchar(MAX)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_DAT_WRK (BusCod, WrkFlwCod, SrcObjTyp, SrcObjCod001, SrcObjCod002, relsts, relusr, reldte, DocSts, CteUsr, CteDte) 
		VALUES (@lp_buscod, @lp_wrkflwcod, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_relsts, @lp_username, getdate(), @lp_docsts, @lp_username, getdate())
		SET @lv_errcod = @@ERROR
		SET @lp_wrkflwdatcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_wrkflwdatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END		



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R                      					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '02'
			BEGIN TRAN
		
		IF @lp_relsts in ('A', 'R') and not @lp_relsts = (select relsts from grl_Dat_wrk where BusCod=@lp_buscod and WrkFlwDatCod=@lp_wrkflwdatcod)
			BEGIN
				declare @lv_oldrelsts nvarchar(20) = (select relsts from grl_Dat_wrk where BusCod=@lp_buscod and WrkFlwDatCod=@lp_wrkflwdatcod)

				-- actualizar workflow
				UPDATE GRL_DAT_WRK 
				SET RelSts = @lp_relsts,
					RelUsr = @lp_username,
					RelDte = GETDATE(),
					DocSts = @lp_docsts,
					UpdUsr = @lp_username,
					UpdDte = getdate()
				where BusCod = @lp_buscod
					and WrkFlwDatCod = @lp_wrkflwdatcod
				SET @lv_errcod = @@ERROR

				-- actualizar pasos del workflow
				IF @lv_errcod = 0
					BEGIN
						UPDATE GRL_DAT_WRK_STP
						SET RelSts = @lp_relsts,
							RelUsr = @lp_username,
							RelDte = GETDATE(),
							DocSts = @lp_docsts,
							UpdUsr = @lp_username,
							UpdDte = getdate()
						where BusCod = @lp_buscod
							and WrkFlwDatCod = @lp_wrkflwdatcod
							and RelSts='S'
						SET @lv_errcod = @@ERROR
					END

				-- grabar cambio de estado del workflow
				IF @lv_errcod = 0
					BEGIN
						INSERT INTO SYS_DOC_CHG_ATR (BusCod, ChgDocCod, ChgDocAtrNme, ChgDocAtrOld, ChgDocAtrNew, DocSts, CteDte, CteUsr)
						SELECT top 1 @lp_buscod, chgdoccod, 'Estado', @lv_oldrelsts, @lp_relsts, 'A', GETDATE(), @lp_username
						FROM SYS_DOC_CHG
						where buscod = @lp_buscod
							and ChgDocSrcTyp='DAT_WRK'
							and ChgDocSrcCod = @lp_wrkflwdatcod
						order by CteDte desc
						SET @lv_errcod = @@ERROR
					END
			END	
		
		
		IF @lp_sysoperation = '02'
			BEGIN
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_wrkflwdatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	
			END
		else
			set @lp_errcod = @lv_errcod
			set @lp_errtxt = dbo.GetErrorDescription( @lv_errcod )

	END		



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R				                      					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		IF @lp_wrkflwdatcod != '' 
    BEGIN
      SELECT dw.*, w.wrkflwcnd, w.wrkflwtxt
      FROM GRL_DAT_WRK dw
        inner join SYS_DOC_WRK w on w.buscod=dw.buscod and w.wrkflwcod=dw.wrkflwcod
      where dw.buscod = @lp_buscod
        and wrkflwdatcod = @lp_wrkflwdatcod
    END
		ELSE
    /*CASO ESTES INTENTANDO VER UN WRKFLW SIN SABER SU DATCOD, talvez es mejor idea obtener el datcod de alguna forma*/
    BEGIN
     SELECT dw.*, w.wrkflwcnd, w.wrkflwtxt
      FROM GRL_DAT_WRK dw
        inner join SYS_DOC_WRK w on w.buscod=dw.buscod and w.wrkflwcod=dw.wrkflwcod
      where dw.buscod = @lp_buscod
        and dw.wrkflwcod = @lp_wrkflwcod
        and dw.srcobjcod001 = @lp_srcobjcod001
    END
    
	END		



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R		                      					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- elimino relaciones pasos-documento
		DELETE from GRL_DAT_WRK_STP 
		where BusCod = @lp_buscod
			and wrkflwdatcod = @lp_wrkflwdatcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			BEGIN
				DELETE from GRL_DAT_WRK 
				where BusCod = @lp_buscod
					and WrkFlwDatCod = @lp_wrkflwdatcod
				SET @lv_errcod = @@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_wrkflwdatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END		



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' dw.*, w.wrkflwcnd, w.wrkflwtxt ',
			' GRL_DAT_WRK dw inner join SYS_DOC_WRK w on w.buscod=dw.buscod and w.wrkflwcod=dw.wrkflwcod ',
			' dw.buscod='+QUOTENAME(@lp_buscod,''''),
 			' dw.upddte ', default )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
