USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRN_ZNE_EQM_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_TRN_ZNE_EQM_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_trncod			as int			= null,	/* id torneo */
@lp_znecod			as int			= null,	/* id zona */
@lp_eqmcod			as int			= null,	/* id equipo */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */
@lp_eqmtxt			as nvarchar(40)	= null,	/* nombre equipo (para búsqueda) */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	E R R O R E S																	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-2	No se puede quitar el equipo de la zona. Existe en al menos un partido.		*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SPT_TRN_ZNE_EQM 
			(buscod, trncod, znecod, eqmcod, 			
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_trncod, @lp_znecod, @lp_eqmcod,  			
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eqmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_TRN_ZNE_EQM 
		SET	docsts = @lp_docsts, 
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		  and eqmcod = @lp_eqmcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eqmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_TRN_ZNE_EQM
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		  and eqmcod = @lp_eqmcod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF (select count(*) from spt_trn_zne_mch where buscod=@lp_buscod and trncod=@lp_trncod and znecod=@lp_znecod and ( eqmcod001=@lp_eqmcod or eqmcod002=@lp_eqmcod ))>0
			BEGIN
				SELECT null, -2 as errcod, 'No se puede quitar el equipo de la zona. Existe en al menos un partido.' as errtxt
				RETURN
			END

		BEGIN TRAN
					
		DELETE 
		FROM SPT_TRN_ZNE_EQM
		WHERE buscod	= @lp_buscod
		  and trncod	= @lp_trncod
		  and znecod	= @lp_znecod
		  and eqmcod = @lp_eqmcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eqmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' z.*, e.eqmtxt '
			+ ' FROM SPT_TRN_ZNE_EQM z '
			+ '  left join SPT_TRN_EQM e on e.buscod=z.buscod and e.trncod=z.trncod and e.eqmcod=z.eqmcod ' 
			+ ' WHERE z.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and z.trncod='+QUOTENAME(@lp_trncod, '''')
			+ '   and z.znecod='+QUOTENAME(@lp_znecod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 9    -    V E R		Z O N A S		A C T I V A S		D E		U N		E Q U I P O  	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1    

		SELECT z.*, t.docsts 
		FROM SPT_TRN_ZNE_EQM z 
		inner join SPT_TRN_ZNE t on t.buscod=z.buscod and t.trncod=z.trncod and t.znecod=z.znecod
		WHERE z.buscod = @lp_buscod
		and	  z.trncod = @lp_trncod
		and	  z.eqmcod = @lp_eqmcod
		and	  t.docsts = 'A'  
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 8    -    L I S T A R	(segun parte del nombre)		*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1    

		SELECT ze.*, e.eqmtxt
		FROM SPT_TRN_ZNE_EQM ze
			inner join SPT_TRN_EQM e on e.buscod=ze.buscod and e.trncod=ze.trncod and e.eqmcod=ze.eqmcod 
		WHERE ze.buscod=@lp_buscod
		  and ze.trncod=@lp_trncod
		  and ze.znecod=@lp_znecod
		  and e.eqmtxt like '%'+@lp_eqmtxt+'%'

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 9    -    L I S T A R	(segun parte del nombre que no esten en zonas activas)		*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '29'
	BEGIN
		SET @lv_validop = 1    

		SELECT e.eqmcod, e.eqmtxt, e.trncod, t.trntxt
		FROM SPT_TRN t 
			INNER JOIN SPT_TRN_EQM e on e.buscod=t.buscod and e.trncod=t.trncod 
			LEFT JOIN  SPT_TRN_ZNE_EQM ze on ze.buscod=e.buscod and ze.trncod=e.trncod and ze.eqmcod=e.eqmcod 
			LEFT JOIN  SPT_TRN_ZNE z on z.buscod=ze.buscod and z.trncod=ze.trncod and z.znecod=ze.znecod
		WHERE t.buscod=@lp_buscod
		  and e.trncod=@lp_trncod
		  and e.eqmtxt like '%'+@lp_eqmtxt+'%'
		GROUP BY e.eqmcod, e.eqmtxt, e.trncod, t.trntxt
		HAVING sum((case when ze.eqmcod is not null and z.docsts='A' then 1 else 0 end))=0

	END
	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END










GO
