USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_INV_MAT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUY_INV_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_buyinvcod		as int			= null,	-- id documento
@lp_buyinvmatcod	as int			= null,	-- id
@lp_matcod			as int			= null,	-- id material
@lp_mattxt			as nvarchar(50)	= null,	-- descripcion
@lp_matqty			as bigint		= null,	-- cantidad
@lp_matuntcod		as nvarchar(20)	= null,	-- id unidad medida
@lp_matprc			as bigint		= null,	-- precio unitario
@lp_mattot			as bigint		= null,	-- total
@lp_curcod			as nvarchar(5)	= null,	-- id moneda
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- configuracion vista
@lp_buyinvmatatr	as nvarchar(max)=null,	-- atributos

@lp_docreftyp		as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod		as int			= null,	-- doc referencia - id documento
@lp_docrefposcod	as int			= null,	-- doc referencia - id posicion
@lp_sysdocrejcod	as int			= null	-- id motivo de rechazo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty , 3 )
declare @lv_matprc as decimal(13,3) = dbo.ConvertNumber( @lp_matprc , 3 )
declare @lv_mattot as decimal(13,3) = dbo.ConvertNumber( @lp_mattot , 3 )
declare @lv_errtxt as nvarchar(max) = ''
declare @lv_objtyp as nvarchar(20)
declare @lv_buyinvtotamt as decimal(13,3)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
		
		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_inv d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyinvcod=@lp_buyinvcod)

		BEGIN TRAN

		INSERT INTO BUY_INV_MAT (buscod, buyinvcod, matcod, mattxt, matqty, matuntcod, matprc, mattot, curcod, buyinvmatatr, 
			docreftyp, docrefcod, docrefposcod, sysdoctrecod, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_buyinvcod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matprc, @lv_mattot, @lp_curcod, @lp_buyinvmatatr,   
			@lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, 'N', 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_buyinvmatcod = @@IDENTITY

		-- agrego la referencia (documento como posicion)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_buyinvcod,@lp_buyinvmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- actualizo total de cabecera
		if @lv_errcod=0
			begin			
				set @lv_buyinvtotamt = (select sum(isnull(mattot,0)) from buy_inv_mat where buscod=@lp_buscod and buyinvcod=@lp_buyinvcod)
				update buy_inv
				set buyinvtotamt = @lv_buyinvtotamt
				where buscod=@lp_buscod
				  and buyinvcod=@lp_buyinvcod
				set @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyinvmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_inv d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyinvcod=@lp_buyinvcod)

		BEGIN TRAN

		UPDATE BUY_INV_MAT 
		SET matcod	= @lp_matcod,
			mattxt	= @lp_mattxt, 
			matqty	= @lv_matqty, 
			matuntcod	= @lp_matuntcod,
			matprc	= @lv_matprc,
			mattot	= @lv_mattot,
			CurCod	= @lp_curcod, 
			buyinvmatatr = @lp_buyinvmatatr, 
			sysdocrejcod = @lp_sysdocrejcod, 
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and buyinvcod = @lp_buyinvcod 
		  and buyinvmatcod = @lp_buyinvmatcod
		SET @lv_errcod=@@ERROR

		-- actualizo total de cabecera
		if @lv_errcod=0
			begin			
				set @lv_buyinvtotamt = (select sum(isnull(mattot,0)) from buy_inv_mat where buscod=@lp_buscod and buyinvcod=@lp_buyinvcod)
				update buy_inv
				set buyinvtotamt = @lv_buyinvtotamt
				where buscod=@lp_buscod
				  and buyinvcod=@lp_buyinvcod
				set @lv_errcod = @@ERROR
			end

		-- actualizo referencia (documento como posicion)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_buyinvcod,@lp_buyinvmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyinvmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END	


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT om.*
		FROM buy_inv_mat om 
		WHERE om.buscod=@lp_buscod
		  and om.buyinvcod = @lp_buyinvcod
		  and om.buyinvmatcod = @lp_buyinvmatcod
		
	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from buy_inv_mat where buscod=@lp_buscod and buyinvcod=@lp_buyinvcod and buyinvmatcod=@lp_buyinvmatcod

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_inv d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyinvcod=@lp_buyinvcod)

		BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_buyinvcod,@lp_buyinvmatcod,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- actualizo total de cabecera
		if @lv_errcod=0
			begin			
				set @lv_buyinvtotamt = (select sum(isnull(mattot,0)) from buy_inv_mat where buscod=@lp_buscod and buyinvcod=@lp_buyinvcod)
				update buy_inv
				set buyinvtotamt = @lv_buyinvtotamt
				where buscod=@lp_buscod
				  and buyinvcod=@lp_buyinvcod
				set @lv_errcod = @@ERROR
			end

		-- borro la posicion del documento
		IF @lv_errcod=0
			BEGIN		
				DELETE
				FROM BUY_INV_MAT 
				WHERE buscod=@lp_buscod
				  and buyinvcod = @lp_buyinvcod
				  and buyinvmatcod = @lp_buyinvmatcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyinvmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- buy_inv_mat_def '08','temasis','temasis_log'

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace( @lv_flt , 'buyinvdtecnv', 'o.buyinvdte' )
		set @lv_flt = replace( @lv_flt , 'sysdocclstxt_mat', 'mdc.sysdocclstxt' )
		
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = replace( @lv_ord , 'buyinvdtecnv', 'o.buyinvdte' )
		set @lv_ord = replace( @lv_ord , 'sysdocclstxt_mat', 'mdc.sysdocclstxt' )

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' im.*, convert(varchar,o.buyinvdte,103) as buyinvdtecnv, o.buyinvcodext, fp.refposqty as refposqty, '
			+ ' m.matcodext, m.docsts as matdocsts, m.matusebch, m.matuseser, dt.sysdoctretxt, dr.sysdocrejtxt, '
			+ ' mdc.sysdocclstxt as sysdocclstxt_mat, a.adrnme001 '
			+ ' FROM buy_inv_mat im '
			+ ' left join buy_inv o on o.buscod=im.buscod and o.buyinvcod=im.buyinvcod '
			+ ' left join grl_dat_adr a on a.buscod=o.buscod and a.adrsrctyp=o.srcobjtyp and a.adrsrccod=o.srcobjcod '
			+ ' left join stk_mat m on m.buscod=im.buscod and m.matcod=im.matcod '
			+ ' left join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join grl_doc_flw_pos fp on fp.buscod=im.buscod and fp.srcobjtyp=dc.objtyp and fp.srcobjcod=im.buyinvcod and fp.srcposcod=im.buyinvmatcod and isnull(fp.refobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
			+ ' left join sys_doc_rej dr on dr.buscod=im.buscod and dr.sysdocrejcod=im.sysdocrejcod '
			+ ' left join sys_doc_tre dt on dt.buscod=im.buscod and dt.sysdoctrecod=im.sysdoctrecod '
			+ ' left join sys_doc_cls mdc on mdc.buscod=m.buscod and mdc.sysdocclscod=m.sysdocclscod '
			+ ' WHERE im.buscod='+QUOTENAME(@lp_buscod, '''')
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
