USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GAS_ATN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GAS_ATN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_atncod			as int			= null,	-- id
@lp_atncodext		as nvarchar(20)	= null,	-- codigo externo
@lp_atntxt			as nvarchar(82)	= null,	-- descripción
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT  = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_atncodext=''
			if exists(select top 1 * from GAS_ATN where buscod=@lp_buscod and not AtnCod=@lp_atncod and AtnCodExt=@lp_atncodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GAS_ATN (buscod, AtnCodExt, AtnTxt, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_atncodext, @lp_atntxt, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_atncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_atncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE GAS_ATN 
		SET	AtnCodExt = @lp_atncodext,
			AtnTxt = @lp_atntxt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and AtnCod = @lp_atncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_atncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*
		FROM GAS_ATN a
		WHERE a.buscod=@lp_buscod
		  and a.AtnCod=@lp_atncod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		DELETE
		FROM GAS_ATN
		WHERE BusCod = @lp_buscod
		  and AtnCod = @lp_atncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_atncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.* '
			+ ' FROM GAS_ATN a '
			+ ' WHERE a.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
