USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LQD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HHR_LQD_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario
@lp_buscod			as nvarchar(20) = null,		-- empresa
@lp_hhrlqdcod		as int			= null,		-- id
@lp_hhrlqdtxt		as nvarchar(50) = null,		-- descripcion
@lp_hhrlqddte		as nvarchar(14) = null,		-- fecha
@lp_hhrlqdstrdte	as nvarchar(14) = null,		-- fecha - inicio
@lp_hhrlqdenddte	as nvarchar(14) = null,		-- fecha - fin
@lp_srcobjtyp		as nvarchar(20)	= null,		-- origen - tipo
@lp_srcobjcod001	as nvarchar(20)	= null,		-- origen - codigo 1
@lp_srcobjcod002	as nvarchar(20)	= null,		-- origen - codigo 2
@lp_hhrchrasgcod	as int			= null,		-- ID asgnaciÃ³n cargo
@lp_prcschcod		as int			= null,		-- esquema de precios - id
@lp_hhrlqdatr001	as nvarchar(max)= null,		-- atributos
@lp_docsts			as nvarchar(02)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null,		-- vista
												
@lp_sysdocclscod	as int			= null,		-- clase de documento - ID
@lp_hhrlqdprccnd	as nvarchar(max)= null,		-- condiciones de precios
@lp_hhrlqdgrpcod	as int			= null,		-- id grupo liquidacion

@lp_errcod			as int			= null OUTPUT,	-- id error
@lp_errtxt			as nvarchar(400)= null OUTPUT	-- txt error

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt as nvarchar(4000) = ''
declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)
declare @lv_hhrlqddte as datetime = dbo.ConvertDate( @lp_hhrlqddte )
declare @lv_hhrlqdstrdte as datetime = dbo.ConvertDate( @lp_hhrlqdstrdte )
declare @lv_hhrlqdenddte as datetime = dbo.ConvertDate( @lp_hhrlqdenddte )
declare @lv_srcobjtyp as nvarchar(50) = ''

DECLARE @lv_hhrchrasgatr as nvarchar(max)
declare @lv_hhrchrclscod as int
declare @lv_hhrchrtypcod as int
DECLARE @lv_chrsrcobjcod as nvarchar(20)
DECLARE @lv_chrsrcobjtyp as nvarchar(20)
declare @lv_hhroldasg as nvarchar(20)
DECLARE @lv_yth as int
DECLARE @lv_actold as int = 0
DECLARE @lv_mth as int
DECLARE @lv_chrasgatr as nvarchar(max)
DECLARE @lv_rowcount as int = 1
DECLARE @lv_hhrchrasgcod as int

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQD'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R 													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- agrego cabecera de liquidaciÃ³n
		INSERT INTO HHR_LQD (buscod, hhrlqdtxt, hhrlqddte, hhrlqdstrdte, hhrlqdenddte, srcobjtyp, srcobjcod001, srcobjcod002, hhrchrasgcod, prcschcod, hhrlqdatr001, docsts, ctedte, cteusr, sysdocclscod)
		VALUES( @lp_buscod, @lp_hhrlqdtxt, @lv_hhrlqddte, @lv_hhrlqdstrdte, @lv_hhrlqdenddte, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_hhrchrasgcod, @lp_prcschcod, @lp_hhrlqdatr001, @lp_docsts, getdate(), @lp_username, @lp_sysdocclscod )
		SET @lv_errcod=@@ERROR
		SET @lp_hhrlqdcod = @@IDENTITY

		IF @lv_errcod=0
			BEGIN
				INSERT INTO HHR_LQD_GRP_LQD (BusCod, HhrLqdGrpCod, HhrLqdCod, DocSts, CteDte, CteUsr)
				SELECT @lp_buscod, @lp_hhrlqdgrpcod, @lp_hhrlqdcod, @lp_docsts, GETDATE(), @lp_username
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from HHR_LQD where buscod=@lp_buscod and hhrlqdcod=@lp_hhrlqdcod)='C'
			BEGIN
				SELECT null, -2 as errcod, 'No se puede modificar. Documento contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- actualizo cabecera
		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD
				SET hhrlqdtxt = @lp_hhrlqdtxt,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and hhrlqdcod=@lp_hhrlqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		-- HHR_LQD_def '03','mdominguez','temasis_edu','10'

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, dc.sysdocclstxt '
			+ ' FROM HHR_LQD l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and l.hhrlqdcod='+QUOTENAME(@lp_hhrlqdcod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		set @lp_docsts = (select top 1 docsts from HHR_LQD where buscod=@lp_buscod and hhrlqdcod=@lp_hhrlqdcod)
		
		BEGIN TRAN
		
		-- si esta contabilizado, marco el documento como borrado
		IF @lp_docsts='C'
			begin
				UPDATE HHR_LQD
				SET DelDte = GETDATE(),
					DelUsr = @lp_username
				WHERE buscod=@lp_buscod
				  and hhrlqdcod=@lp_hhrlqdcod
				SET @lv_errcod=@@ERROR
			end

		-- si no esta contabilizado borro todos los registros
		else
			begin
				-- precios
				DELETE FROM GRL_DAT_PRC
				WHERE BusCod=@lp_buscod
				  and SrcObjTyp='HHR_LQD'
				  and SrcObjCod001=@lp_hhrlqdcod
				SET @lv_errcod=@@ERROR

				-- documentos relacionados
				IF @lv_errcod=0
					BEGIN
						DELETE
						FROM HHR_LQD_doc
						WHERE buscod=@lp_buscod
						  and hhrlqdcod=@lp_hhrlqdcod
						SET @lv_errcod=@@ERROR
					END

				-- referencia a grupos
				IF @lv_errcod=0
					BEGIN
						DELETE
						FROM HHR_LQD_GRP_LQD
						WHERE buscod=@lp_buscod
						  and hhrlqdcod=@lp_hhrlqdcod
						SET @lv_errcod=@@ERROR
					END

				-- cabecera
				IF @lv_errcod=0
					BEGIN
						DELETE
						FROM HHR_LQD
						WHERE buscod=@lp_buscod
						  and hhrlqdcod=@lp_hhrlqdcod
						SET @lv_errcod=@@ERROR
					END
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END




-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18' 
	BEGIN
		SET @lv_validop = 1

		-- HHR_LQD_DEF '08','MDOMINGUEZ','TEMASIS'
		-- HHR_LQD_DEF '08','MDOMINGUEZ','INSTITUTOALMAFUERTE','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>',''

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE( @lv_flt , 'hhrlqddtecnv' , 'convert(varchar,l.hhrlqddte,103)' )
		set @lv_flt = REPLACE( @lv_flt , 'hhrlqdstrdtecnv' , 'convert(varchar,l.hhrlqdstrdte,103)' )
		set @lv_flt = REPLACE( @lv_flt , 'hhrlqdenddtecnv' , 'convert(varchar,l.hhrlqdenddte,103)' )
    set @lv_flt = REPLACE( @lv_flt , 'srcobjtxt' , '(case when l.docsts='+QUOTENAME('C','''')+' then dbo.getTagValue('+QUOTENAME('SRCOBJTXT','''')+', l.hhrlqdatr001) else a.adrnme001 end)' )
		--set @lv_flt = REPLACE( @lv_flt , 'srcobjcod' , 'dbo.getTagValue('+QUOTENAME('SRCOBJCOD','''')+', l.hhrlqdatr001)' )
		set @lv_flt = REPLACE( @lv_flt , 'hhrchrtyptxt' , 'dbo.getTagValue('+QUOTENAME('CHRTYPTXT','''')+', l.hhrlqdatr001)' )

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'l.hhrlqddte DESC, l.hhrlqdcod DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		set @lv_ord = REPLACE( @lv_ord , 'hhrlqddtecnv' , 'convert(varchar,l.hhrlqddte,103)' )
		set @lv_ord = REPLACE( @lv_ord , 'hhrlqdstrdtecnv' , 'convert(varchar,l.hhrlqdstrdte,103)' )
		set @lv_ord = REPLACE( @lv_ord , 'hhrlqdenddtecnv' , 'convert(varchar,l.hhrlqdenddte,103)' )
		set @lv_ord = REPLACE( @lv_ord , 'srcobjtxt' , '(case when l.docsts='+QUOTENAME('C','''')+' then dbo.getTagValue('+QUOTENAME('SRCOBJTXT','''')+', l.hhrlqdatr001) else a.adrnme001 end)' )
		--set @lv_ord = REPLACE( @lv_ord , 'srcobjcod' , 'dbo.getTagValue('+QUOTENAME('SRCOBJCOD','''')+', l.hhrlqdatr001)' )
		set @lv_ord = REPLACE( @lv_ord , 'hhrchrtyptxt' , 'dbo.getTagValue('+QUOTENAME('CHRTYPTXT','''')+', l.hhrlqdatr001)' )
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, dt.taxcod, dt.taxiibb, ag.hhragrcodext, '
			+ ' convert(varchar,l.hhrlqddte,103) as hhrlqddtecnv, '
			+ ' convert(varchar,l.hhrlqdstrdte,103) as hhrlqdstrdtecnv, '
			+ ' convert(varchar,l.hhrlqdenddte,103) as hhrlqdenddtecnv, '
			+ ' (case when l.docsts='+QUOTENAME('C','''')+' then dbo.getTagValue('+QUOTENAME('SRCOBJTXT','''')+', l.hhrlqdatr001) else a.adrnme001 end) as srcobjtxt, '
			--+ ' dbo.getTagValue('+QUOTENAME('SRCOBJCOD','''')+', l.hhrlqdatr001) as srcobjcod, '
			+ ' dbo.getTagValue('+QUOTENAME('CHRTYPTXT','''')+', l.hhrlqdatr001) as hhrchrtyptxt, '
			+ ' dc.sysdocclstxt, db.bnkacccbu '
			+ ' FROM HHR_LQD l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join HHR_LQD_GRP_LQD lgl on lgl.buscod=l.buscod and lgl.hhrlqdcod=l.hhrlqdcod '
			+ ' inner join GRL_DAT_ADR a on a.BusCod=l.BusCod and a.AdrSrcTyp=l.srcobjtyp and a.adrsrccod=l.srcobjcod001 '
			+ ' inner join HHR_CHR_ASG ca on ca.BusCod=l.BusCod and ca.hhrchrasgcod=l.hhrchrasgcod '
			+ ' inner join HHR_CHR_TYP ct on ct.BusCod=ca.BusCod and ct.HhrChrTypCod=ca.HhrChrTypCod '
			+ ' left join HHR_AGR ag on ag.buscod=ca.buscod and ag.hhragrcod=ca.hhragrcod '
			+ ' left join HHR_LAB_UNI lu on lu.buscod=ca.buscod and lu.hhrlabunicod=ca.hhrlabunicod '
			+ ' left join HHR_CHR_CLS cc on cc.BusCod=ct.BusCod and cc.HhrChrClsCod=ct.HhrChrClsCod '
			+ ' left join GRL_DAT_TAX dt on dt.BusCod=a.BusCod and dt.TaxSrcTyp=a.adrsrctyp and dt.TaxSrcCod=a.AdrSrcCod '
			+ ' left join GRL_DAT_BNK db on db.buscod=a.buscod and db.BnkSrcTyp=a.adrsrctyp and db.BnkSrcCod=a.adrsrccod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and l.deldte is null '
		execute( @lv_sql + @lv_flt + @lv_ord )
		 --print @lv_sql + @lv_flt + @lv_ord
	END

	

-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
--HHR_LQD_DEF '09','FDINARDO','TEMASIS_EDU','59','TEST SEPTIEMBRE','20210910000000','20210901000000','20210930000000','','','','23','6','','A','','172','',''
IF @lp_sysoperation='09' 
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from HHR_LQD where buscod=@lp_buscod and hhrlqdcod=@lp_hhrlqdcod)='C'
			BEGIN
				SELECT null, -4 as errcod, 'No se puede contabilizar. Documento ya contabilizado.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		-- 1. actualizo cabecera
		UPDATE HHR_LQD
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and hhrlqdcod=@lp_hhrlqdcod
		SET @lv_errcod=@@ERROR

		-- 2. actualizo posiciones
		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and hhrlqdcod=@lp_hhrlqdcod
				SET @lv_errcod=@@ERROR
			END


		-- 3. busco que no exista histÃ³rico y lo actualizo. Si exite, recupero sus datos
		IF @lv_errcod=0
			BEGIN
				SELECT TOP 1 @lv_hhrchrasgatr=HhrChrAsgAtr from HHR_CHR_ASG where BusCod=@lp_buscod and HhrChrAsgCod=@lp_hhrchrasgcod
				SET @lv_chrasgatr = '<OLDYTH>' + dbo.getTagValue('OLDYTH', @lv_hhrchrasgatr) +'</OLDYTH>'+'<OLDMTH>'+dbo.getTagValue('OLDMTH', @lv_hhrchrasgatr)+'</OLDMTH>'
				IF (SELECT HhrLqdChrAsgCod FROM HHR_LQD_CHR_ASG_ATR WHERE BusCod = @lp_buscod AND HhrLqdStrDte = @lv_hhrlqdstrdte AND HhrChrAsgCod = @lp_hhrchrasgcod) IS NOT NULL
					BEGIN
						SELECT @lv_chrasgatr = HhrLqdChrAsgAtr FROM HHR_LQD_CHR_ASG_ATR
						WHERE BusCod = @lp_buscod AND HhrLqdStrDte = @lv_hhrlqdstrdte AND HhrChrAsgCod = @lp_hhrchrasgcod

					END
				ELSE
					BEGIN
						-- recupero todos los cargos afectados segÃºn la clase de cargo
						select top 1 @lv_hhrchrtypcod=HhrChrTypCod, @lv_chrsrcobjtyp=SrcObjTyp, @lv_chrsrcobjcod=SrcObjCod from HHR_CHR_ASG where BusCod=@lp_buscod and HhrChrAsgCod=@lp_hhrchrasgcod
						select top 1 @lv_hhrchrclscod=ct.hhrchrclscod, @lv_hhroldasg=dbo.getTagValue('oldasg',cc.hhrchrclsatr) from HHR_CHR_TYP ct inner join HHR_CHR_CLS cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod where ct.BusCod=@lp_buscod and ct.HhrChrTypCod=@lv_hhrchrtypcod

						-- recupero los id de la clase y los pongo en una tabla temporal
						IF OBJECT_ID('tempdb..#tmp_hhr_chr_asg') IS NOT NULL
							DROP TABLE #tmp_hhr_chr_asg

						CREATE TABLE #tmp_hhr_chr_asg (hhrchrasgcod int, rownumber int)

						if @lv_hhroldasg='C' -- clase
							INSERT INTO #tmp_hhr_chr_asg
							SELECT hhrchrasgcod, ROW_NUMBER() OVER (ORDER BY hhrchrasgcod) as rownumber
							FROM HHR_CHR_ASG
							WHERE BusCod = @lp_buscod
							and SrcObjTyp = @lv_chrsrcobjtyp
							and SrcObjCod = @lv_chrsrcobjcod
							and DocSts = 'A'
							and HhrChrTypCod in (select x.HhrChrTypCod from HHR_CHR_TYP x where x.BusCod=@lp_buscod and HhrChrClsCod=@lv_hhrchrclscod) 	-- misma clase
							and HhrChrAsgDteEnd is null  		-- sin fecha de baja

						else if @lv_hhroldasg='H' -- cargo
							INSERT INTO #tmp_hhr_chr_asg
							SELECT hhrchrasgcod, ROW_NUMBER() OVER (ORDER BY hhrchrasgcod) as rownumber
							FROM HHR_CHR_ASG
							WHERE BusCod = @lp_buscod
							and SrcObjTyp = @lv_chrsrcobjtyp
							and SrcObjCod = @lv_chrsrcobjcod
							and DocSts = 'A'
							and HhrChrTypCod=@lv_hhrchrtypcod -- mismo cargo
							and HhrChrAsgDteEnd is null  -- sin fecha de baja

						else if @lv_hhroldasg='P' -- persona
							INSERT INTO #tmp_hhr_chr_asg
							SELECT hhrchrasgcod, ROW_NUMBER() OVER (ORDER BY hhrchrasgcod) as rownumber
							FROM HHR_CHR_ASG
							WHERE BusCod = @lp_buscod
							and SrcObjTyp = @lv_chrsrcobjtyp
							and SrcObjCod = @lv_chrsrcobjcod
							and DocSts = 'A'
							and HhrChrAsgDteEnd is null  -- sin fecha de baja
						


						-- por cada registro de la tabla temporal se graba un nuevo histÃ³rico
						while (@lv_rowcount <= (select count(rownumber) from #tmp_hhr_chr_asg)) and @lv_errcod=0
							BEGIN
								SELECT @lv_hhrchrasgcod=hhrchrasgcod FROM #tmp_hhr_chr_asg WHERE rownumber = @lv_rowcount
								INSERT INTO HHR_LQD_CHR_ASG_ATR (BusCod, HhrChrAsgCod, HhrLqdStrDte, HhrLqdChrAsgAtr, DocSts, CteDte, CteUsr)
								VALUES (@lp_buscod, @lv_hhrchrasgcod, @lv_hhrlqdstrdte, @lv_chrasgatr, @lp_docsts, getdate(), @lp_username)

								SET @lv_errcod=@@ERROR
								SET @lv_rowcount = @lv_rowcount + 1
							END

						-- aumento la antigÃ¼edad
						SET @lv_yth = dbo.getTagValue('OLDYTH', @lv_chrasgatr)
						SET @lv_mth = dbo.getTagValue('OLDMTH', @lv_chrasgatr)

						IF @lv_mth = 11
							BEGIN
								SET @lv_yth = @lv_yth + 1
								SET @lv_mth = 0
							END
						ELSE
							SET @lv_mth = @lv_mth + 1


						-- actualizo todas las antigÃ¼edades de todos los cargos que estÃ¡n en la tabla temporal
						UPDATE h
						SET h.HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+CAST(@lv_yth AS nvarchar(3))+'</OLDYTH>'),
										   '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+CAST(@lv_mth AS nvarchar(3))+'</OLDMTH>')
						FROM HHR_CHR_ASG AS h
						INNER JOIN #tmp_hhr_chr_asg AS x ON h.HhrChrAsgCod = x.HhrChrAsgCod
						SET @lv_errcod = @@ERROR

					END

			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   1 9    -    C O N T A B I L I Z A R   S I N   T R A N S A C C I Ã“ N
-- ------------------------------------------------------------------------
IF @lp_sysoperation='19'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from HHR_LQD where buscod=@lp_buscod and hhrlqdcod=@lp_hhrlqdcod)='C'
			BEGIN
				RETURN
			END

		-- 1. actualizo cabecera	
		UPDATE HHR_LQD
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and hhrlqdcod=@lp_hhrlqdcod
		SET @lv_errcod=@@ERROR

		-- 2. actualizo posiciones
		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and hhrlqdcod=@lp_hhrlqdcod
				SET @lv_errcod=@@ERROR
			END


		-- 3. busco que no exista histÃ³rico y lo actualizo. Si exite, recupero sus datos
		IF @lv_errcod=0
			BEGIN
				SELECT TOP 1 @lv_hhrchrasgatr=HhrChrAsgAtr from HHR_CHR_ASG where BusCod=@lp_buscod and HhrChrAsgCod=@lp_hhrchrasgcod
				SET @lv_chrasgatr = '<OLDYTH>' + dbo.getTagValue('OLDYTH', @lv_hhrchrasgatr) +'</OLDYTH>'+'<OLDMTH>'+dbo.getTagValue('OLDMTH', @lv_hhrchrasgatr)+'</OLDMTH>'
				IF (SELECT TOP 1 HhrLqdChrAsgCod FROM HHR_LQD_CHR_ASG_ATR WHERE BusCod = @lp_buscod AND HhrLqdStrDte = @lv_hhrlqdstrdte AND HhrChrAsgCod = @lp_hhrchrasgcod) IS NOT NULL
					BEGIN
						SELECT @lv_chrasgatr = HhrLqdChrAsgAtr FROM HHR_LQD_CHR_ASG_ATR
						WHERE BusCod = @lp_buscod AND HhrLqdStrDte = @lv_hhrlqdstrdte AND HhrChrAsgCod = @lp_hhrchrasgcod

					END
				ELSE
					BEGIN
						-- recupero todos los cargos afectados segÃºn la clase de cargo
						select top 1 @lv_hhrchrtypcod=HhrChrTypCod, @lv_chrsrcobjtyp=SrcObjTyp, @lv_chrsrcobjcod=SrcObjCod from HHR_CHR_ASG where BusCod=@lp_buscod and HhrChrAsgCod=@lp_hhrchrasgcod
						select top 1 @lv_hhrchrclscod=ct.hhrchrclscod, @lv_hhroldasg=dbo.getTagValue('oldasg',cc.hhrchrclsatr) from HHR_CHR_TYP ct inner join HHR_CHR_CLS cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod where ct.BusCod=@lp_buscod and ct.HhrChrTypCod=@lv_hhrchrtypcod

						-- recupero los id de la clase y los pongo en una tabla temporal
						IF OBJECT_ID('tempdb..#tmp_hhr_chr_asg1') IS NOT NULL
							DROP TABLE #tmp_hhr_chr_asg1

						CREATE TABLE #tmp_hhr_chr_asg1 (hhrchrasgcod int, rownumber int)

						if @lv_hhroldasg='C' -- clase
							INSERT INTO #tmp_hhr_chr_asg1
							SELECT hhrchrasgcod, ROW_NUMBER() OVER (ORDER BY hhrchrasgcod) as rownumber
							FROM HHR_CHR_ASG
							WHERE BusCod = @lp_buscod
							and SrcObjTyp = @lv_chrsrcobjtyp
							and SrcObjCod = @lv_chrsrcobjcod
							and DocSts = 'A'
							and HhrChrTypCod in (select x.HhrChrTypCod from HHR_CHR_TYP x where x.BusCod=@lp_buscod and HhrChrClsCod=@lv_hhrchrclscod) 	-- misma clase
							and HhrChrAsgDteEnd is null  		-- sin fecha de baja

						else if @lv_hhroldasg='H' -- cargo
							INSERT INTO #tmp_hhr_chr_asg1
							SELECT hhrchrasgcod, ROW_NUMBER() OVER (ORDER BY hhrchrasgcod) as rownumber
							FROM HHR_CHR_ASG
							WHERE BusCod = @lp_buscod
							and SrcObjTyp = @lv_chrsrcobjtyp
							and SrcObjCod = @lv_chrsrcobjcod
							and DocSts = 'A'
							and HhrChrTypCod=@lv_hhrchrtypcod -- mismo cargo
							and HhrChrAsgDteEnd is null  -- sin fecha de baja

						else if @lv_hhroldasg='P' -- persona
							INSERT INTO #tmp_hhr_chr_asg1
							SELECT hhrchrasgcod, ROW_NUMBER() OVER (ORDER BY hhrchrasgcod) as rownumber
							FROM HHR_CHR_ASG
							WHERE BusCod = @lp_buscod
							and SrcObjTyp = @lv_chrsrcobjtyp
							and SrcObjCod = @lv_chrsrcobjcod
							and DocSts = 'A'
							and HhrChrAsgDteEnd is null  -- sin fecha de baja
						


						-- por cada registro de la tabla temporal se graba un nuevo histÃ³rico
						while (@lv_rowcount <= (select count(rownumber) from #tmp_hhr_chr_asg1)) and @lv_errcod=0
							BEGIN
								SELECT @lv_hhrchrasgcod=hhrchrasgcod FROM #tmp_hhr_chr_asg1 WHERE rownumber = @lv_rowcount
								INSERT INTO HHR_LQD_CHR_ASG_ATR (BusCod, HhrChrAsgCod, HhrLqdStrDte, HhrLqdChrAsgAtr, DocSts, CteDte, CteUsr)
								VALUES (@lp_buscod, @lv_hhrchrasgcod, @lv_hhrlqdstrdte, @lv_chrasgatr, @lp_docsts, getdate(), @lp_username)

								SET @lv_errcod=@@ERROR
								SET @lv_rowcount = @lv_rowcount + 1
							END

						-- aumento la antigÃ¼edad
						SET @lv_yth = dbo.getTagValue('OLDYTH', @lv_chrasgatr)
						SET @lv_mth = dbo.getTagValue('OLDMTH', @lv_chrasgatr)

						IF @lv_mth = 11
							BEGIN
								SET @lv_yth = @lv_yth + 1
								SET @lv_mth = 0
							END
						ELSE
							SET @lv_mth = @lv_mth + 1


						-- actualizo todas las antigÃ¼edades de todos los cargos que estÃ¡n en la tabla temporal
						UPDATE h
						SET h.HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+CAST(@lv_yth AS nvarchar(3))+'</OLDYTH>'),
										   '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+CAST(@lv_mth AS nvarchar(3))+'</OLDMTH>')
						FROM HHR_CHR_ASG AS h
						INNER JOIN #tmp_hhr_chr_asg1 AS x ON h.HhrChrAsgCod = x.HhrChrAsgCod
						SET @lv_errcod = @@ERROR

					END

			END

		set @lp_errcod=@lv_errcod
		IF not @lp_errcod=0
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
			
	END



-- ------------------------------------------------------------------------
--   5 3    -    L I S T A R    P R E S T A C I O N E S		(no liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='53'
	BEGIN
		SET @lv_validop = 1
		
		-- HHR_LQD_def '13','mdominguez','temasis_hlt','','','','20170106000000','20170731000000','59'
		
		if @lv_srcobjtyp = 'HLT_PLR'

			BEGIN
				set @lv_sql = 'SELECT  '
					+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
					+ ' x.*, ld.hhrlqdcod, ld.hhrlqddoccod, '
 					+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltlqdprc, '
 					+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hhrlqddoctot '
					+ ' FROM #tmp_38_2_plr x '
					+ ' left join HHR_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 '
					+ ' WHERE ( ld.hhrlqddoccod is null ' + (case when isnull(@lp_hhrlqdcod,0)=0 then '' else ' OR ld.hhrlqdcod='+QUOTENAME(@lp_hhrlqdcod,'''') end) + ')'
 					+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
					+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'hltplnctrdte, hltplnctrinbdte, hltplnctroutdte' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
			END

		ELSE if @lv_srcobjtyp = 'HLT_EVL'

			BEGIN
				set @lv_sql = 'SELECT  '
					+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
					+ ' x.*, ld.hhrlqdcod, ld.hhrlqddoccod, '
 					+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltlqdprc, '
 					+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hhrlqddoctot '
					+ ' FROM #tmp_38_2_evl x '
					+ ' left join HHR_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 '
					+ ' WHERE ( ld.hhrlqddoccod is null ' + (case when isnull(@lp_hhrlqdcod,0)=0 then '' else ' OR ld.hhrlqdcod='+QUOTENAME(@lp_hhrlqdcod,'''') end) + ')'
 					+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
					+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'hltplnctrdte, hltplnctrinbdte, hltplnctroutdte' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
			END

		execute( @lv_sql )
		
	END




-- ------------------------------------------------------------------------
--   4 3    -    L I S T A R    P R E S T A C I O N E S		(liquidadas)	
-- ------------------------------------------------------------------------
IF @lp_sysoperation='43'
	BEGIN
		SET @lv_validop = 1
		
		-- HHR_LQD_def '23','mdominguez','temasis_hlt','15'

		-- obtengo origen de datos para liquidaciÃ³n
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				SET @lv_srcobjtyp = isnull( (select top 1 dbo.getTagValue('srcobjtyp',sysdocclsatr) 
									from sys_doc_cls 
									where buscod=@lp_buscod 
									 and sysdocclscod=@lp_sysdocclscod),'')
				set @lv_srcobjtyp=(case when @lv_srcobjtyp='' then 'HLT_PLR' else @lv_srcobjtyp end) 
			end

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(varchar, ld.hhrlqddocdte, 103) as hhrlqddocdtecnv '
			+ ' FROM HHR_LQD_DOC ld '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.hhrlqdcod='+QUOTENAME(@lp_hhrlqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME(@lv_srcobjtyp,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' ld.refobjtyp, ld.hhrlqddoccodext, ld.hhrlqddocdte ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END
  
-- ------------------------------------------------------------------------
-- 5 4 - L I S T A R    G A S T O S (No liquidados)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '54'
	BEGIN
		SET @lv_validop = 1
		
    set @lv_sql = 'SELECT  '
					+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
					+ 'b.buscod, '+QUOTENAME('BUY_EXP','''')+' as refobjtyp, b.buyexpcod as refobjcod001, bd.BuyExpDocCod as refobjcod002, bd.BuyExpCod as hhrlqddoccodext, bt.BuyExpTypTxt as hhrlqddoctxt, bd.buyexpdocdte as hhrlqddocdte, convert(varchar,bd.buyexpdocdte,103) as hhrlqddocdtecnv, bd.buyexpdoctot as hhrlqddoctot, '+QUOTENAME('ARS','''')+' as refobjcurcod, ld.HhrLqdCod, ld.HhrLqdDocCod '
					+ 'FROM BUY_EXP b '
					+ 'inner join buy_exp_doc bd on bd.buscod=b.buscod and bd.buyexpcod=b.buyexpcod '
					+ 'inner join buy_exp_typ bt on bt.buscod=bd.buscod and bt.buyexptypcod=bd.buyexptypcod '
					+ 'inner join fin_acc f on f.buscod=bt.buscod and f.finacccod=bt.finacccod '
					+ 'left join HHR_LQD_DOC ld on ld.BusCod=f.buscod and ld.RefObjTyp='+QUOTENAME('BUY_EXP','''')+' and ld.RefObjCod001=b.buyexpcod and ld.RefObjCod002=bd.buyexpdoccod '
					+ 'WHERE bd.BusCod='+QUOTENAME(@lp_buscod,'''')
					+ 'and b.srcobjtyp='+QUOTENAME('HHR_LQD','''')
					+ 'and b.docsts='+QUOTENAME('C','''')
					+ 'and bt.docsts='+QUOTENAME('A','''')
					+ 'and f.finaccclscod='+QUOTENAME('A','''')
					+ 'and bd.buyexpdocdte between '+QUOTENAME(@lp_hhrlqdstrdte,'''')+' and '+ QUOTENAME(@lp_hhrlqdenddte,'''')
					+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
					+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then '' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
					--select @lv_sql
		execute( @lv_sql )
	END
  
-- ------------------------------------------------------------------------
-- 4 4 - L I S T A R    G A S T O S (Liquidados)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='44'
	BEGIN
		SET @lv_validop = 1
		
		/* HHR_lqd_def '24','mdominguez','temasis_hlt','12' */
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(varchar, ld.hhrlqddocdte, 103) as hhrlqddocdtecnv '
			+ ' FROM HHR_LQD_DOC ld '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.hhrlqdcod='+QUOTENAME(@lp_hhrlqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME('BUY_EXP','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END

-- ------------------------------------------------------------------------
--   3 3    -    O B T E N E R    O R I G E N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='33'
	BEGIN
		SET @lv_validop = 1
		
		-- HHR_LQD_DEF '33','MDOMINGUEZ','INSTITUTOALMAFUERTE','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>',''
		
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'srcobjtxt','a.adrnme001')
		set @lv_flt = REPLACE(@lv_flt,'stdloctxt','dbo.getTagValue('+QUOTENAME('stdloctxt','''')+',ca.hhrchrasgatr)')
		set @lv_flt = REPLACE(@lv_flt,'persub','dbo.getTagValue('+QUOTENAME('persub','''')+',ca.hhrchrasgatr)')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then ' a.adrnme001, ct.HhrChrTypTxt ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		set @lv_ord = REPLACE(@lv_ord,'srcobjtxt','a.adrnme001')
		set @lv_ord = REPLACE(@lv_ord,'stdloctxt','dbo.getTagValue('+QUOTENAME('stdloctxt','''')+',ca.hhrchrasgatr)')
		set @lv_ord = REPLACE(@lv_ord,'persub','dbo.getTagValue('+QUOTENAME('persub','''')+',ca.hhrchrasgatr)')

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.adrsrccod as srcobjcod, a.adrnme001 as srcobjtxt, ct.hhrchrtypcod, ct.HhrChrTypTxt, convert(nvarchar,ca.hhrchrasgdtestr,103) as hhrchrasgdtestrcnv, convert(nvarchar,ca.hhrchrasgdteend,103) as hhrchrasgdteendcnv, ca.hhrchrasgcod '
			+ ' FROM SYS_DOC_CLS dc '
			+ ' inner join GRL_DAT_ADR a on a.BusCod=dc.BusCod and a.AdrSrcTyp=dbo.getTagValue('+QUOTENAME('srcobjtyp','''')+',dc.SysDocClsAtr) '
			+ ' inner join HHR_CHR_ASG ca on ca.BusCod=a.BusCod and ca.SrcObjTyp=a.AdrSrcTyp and ca.SrcObjCod=a.AdrSrcCod '
			+ ' inner join HHR_CHR_TYP ct on ct.BusCod=ca.BusCod and ct.HhrChrTypCod=ca.HhrChrTypCod '
			+ ' left join HHR_AGR ag on ag.buscod=ca.buscod and ag.hhragrcod=ca.hhragrcod '
			+ ' left join HHR_LAB_UNI lu on lu.buscod=ca.buscod and lu.hhrlabunicod=ca.hhrlabunicod '
			+ ' left join HHR_CHR_CLS cc on cc.BusCod=ct.BusCod and cc.HhrChrClsCod=ct.HhrChrClsCod '
			+ ' left join GRL_DAT_TAX dt on dt.BusCod=a.BusCod and dt.TaxSrcTyp=a.adrsrctyp and dt.TaxSrcCod=a.AdrSrcCod '
			+ ' WHERE a.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dc.objtyp='+QUOTENAME('HHR_LQD','''')
			+ ' and a.DocSts='+QUOTENAME('A','''')
			+ ' and dc.DocSts='+QUOTENAME('A','''')
			+ ' and ca.DocSts='+QUOTENAME('A','''')
			+ ' and ct.DocSts='+QUOTENAME('A','''')
		execute( @lv_sql + @lv_flt + @lv_ord )

	END
	


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
