USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_INT_CNV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_INT_CNV_DEF]

@lp_sysoperation	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20),			/* empresa */
@lp_sysintcnvcod	as int			= null,		/* id */
@lp_sysintcod		as int			= null,		/* id interfaz */
@lp_sysintcnvkey	as nvarchar(50)	= null,		/* clave */
@lp_sysintcnvinb001	as nvarchar(20)	= null,		/* valor entrada 1 */
@lp_sysintcnvinb002	as nvarchar(20)	= null,		/* valor entrada 2 */
@lp_sysintcnvout001	as nvarchar(20)	= null,		/* valor salida 1 */
@lp_sysintcnvout002	as nvarchar(20)	= null,		/* valor salida 2 */
@lp_docsts			as nvarchar(02)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)= null		/* config vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod int

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO sys_int_cnv (buscod, sysintcod, sysintcnvkey, sysintcnvinb001, sysintcnvinb002, sysintcnvout001, sysintcnvout002, docsts, ctedte, cteusr)
		SELECT @lp_buscod, @lp_sysintcod, @lp_sysintcnvkey, @lp_sysintcnvinb001, @lp_sysintcnvinb002, @lp_sysintcnvout001, @lp_sysintcnvout002, @lp_docsts, getdate(), @lp_username
		SET @lv_errcod = @@ERROR
		SET @lp_sysintcnvcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysintcnvcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt 

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE sys_int_cnv
		SET sysintcnvkey=@lp_sysintcnvkey,
			sysintcnvinb001=@lp_sysintcnvinb001,
			sysintcnvinb002=@lp_sysintcnvinb002,
			SysIntCnvOut001=@lp_sysintcnvout001,
			SysIntCnvOut002=@lp_sysintcnvout002,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and sysintcnvcod=@lp_sysintcnvcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysintcnvcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt 

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ic.*
		FROM sys_int_cnv ic
		where ic.buscod=@lp_buscod
		  and ic.sysintcnvcod=@lp_sysintcnvcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM sys_int_cnv
		WHERE buscod=@lp_buscod
		  and sysintcnvcod=@lp_sysintcnvcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysintcnvcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt 

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ic.* '
			+ ' FROM SYS_INT_CNV ic '
			+ ' WHERE ic.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
