USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_LST_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAT_LST_DEF]

@lp_sysoperation   	as nvarchar(2),
@lp_username 		    as nvarchar(20),
@lp_buscod			    as nvarchar(20),
@lp_matlstcod 		  as int				    = null,	--codigo 
@lp_matlstcodext	  as nvarchar(20)		= null,	--codigo externo 
@lp_matlsttxt		    as nvarchar(50)		= null,	--descripcion 
@lp_matcod			    as nvarchar(20)		= null,	--id material 
@lp_matqty			    as bigint			    = null,	--cantidad 
@lp_matuntcod		    as nvarchar(05)		= null,	--unidad de medida 
@lp_docsts 			    as nvarchar(02)		= null,	--estado 

@lp_vewcfg			    as nvarchar(400)	= null,	--configuraciÃ³n vista  

@lp_stkmatlstmat    as nvarchar(max)  = null	-- tabla de materiales de la lista (JSON) 

AS

SET NOCOUNT ON
DECLARE
  @lv_validop   INT              = 0,
  @lv_errcod    INT              = 0,
  @lv_sql       NVARCHAR(MAX),
  @lv_matcod    NVARCHAR(20),
  @lv_matqty    DECIMAL(13,3)    = dbo.ConvertNumber(@lp_matqty, 3),
  @lv_autmdlcod NVARCHAR(3)      = 'STK',
  @lv_autprgcod NVARCHAR(3)      = 'MTL';

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('01','02','03','04','08')
	begin		
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
 -----------------------------------------------------------------------
--	-2	Codigo de material invÃ¡lido.										
--	-3	Unidad de medida invÃ¡lida.											
------------------------------------------------------------------------ 

IF @lp_sysoperation in ('01','02','11','12')
	BEGIN
		
		IF not isnull(@lp_matcod,'')=''
			IF not exists(select top 1 * from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)
				BEGIN
					SELECT null, -2 as errcod, 'CÃ³digo de material invÃ¡lido.' as errtxt
					RETURN
				END

		if not isnull(@lp_matuntcod,'')=''
			IF not exists(select top 1 * from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matuntcod)
				BEGIN
					SELECT null, -3 as errcod, 'Unidad de medida invÃ¡lida.' as errtxt
					RETURN
				END

    if exists (select 1 from STK_MAT_LST where buscod = @lp_buscod and matlstcodext = @lp_matlstcodext and matlstcod <> isnull(@lp_matlstcod, 0))
      BEGIN
        SELECT null, -5 as errcod, 'CÃ³digo externo duplicado.' as errtxt;
        RETURN
      END

	END
-- ------------------------------------------------------------------------
-- PREPARACION. prepara los datos antes de procesar la peticion
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('01', '11', '02', '12')
	BEGIN
  
    BEGIN TRY
      -- preparo variable de datos json para evitar string vacio
      if isnull(@lp_stkmatlstmat,'')=''
        set @lp_stkmatlstmat = '[]'

      -- verifico que la tabla temporal no exista
      IF OBJECT_ID('tempdb..#tmpStkMatLstMat') IS NOT NULL
        DROP TABLE #tmpStkMatLstMat

      -- Desescapa las comillas y backslashes
      set @lp_stkmatlstmat = REPLACE(REPLACE(REPLACE(@lp_stkmatlstmat, '\"', '"'), '\\', ''), '"#', '#');
      
			-- cargo JSON como tabla
      select * into #tmpStkMatLstMat from OPENJSON(@lp_stkmatlstmat) WITH (
        matlstmatcod int           '$.matlstmatcod',
        matcod       int           '$.matcod',
        matqty       decimal(13,3) '$.matqty',
        matuntcod    nvarchar(5)   '$.matuntcod'
      );
     -- validaciÃ³n de detalle
      IF EXISTS (SELECT 1 FROM #tmpStkMatLstMat WHERE matqty is null)
      BEGIN
          -- registra el log 
          SELECT null, -4 as errcod, 'Hay Ã­tems con cantidad invÃ¡lida.' as errtxt;
          RETURN;
      END         
		END TRY
    BEGIN CATCH
      -- registra el log de error
      exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
    
  END

-------------------------------------------------------------------------- 
--   0 1    -    C R E A R													
--------------------------------------------------------------------------
IF @lp_sysoperation in ('01', '11')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
      BEGIN TRY
        -- creo cabecera de list de materiales
				INSERT INTO STK_MAT_LST(buscod, matlstcodext, matlsttxt, matcod, matqty, matuntcod, docsts, cteusr, ctedte)
        VALUES(@lp_buscod, @lp_matlstcodext, @lp_matlsttxt, @lp_matcod, @lv_matqty, @lp_matuntcod, @lp_docsts, @lp_username, getdate());
        SET @lp_matlstcod = SCOPE_IDENTITY();

        -- asigno detalle de la lista de materiales de la tabla temporal
        INSERT INTO STK_MAT_LST_MAT(buscod, matlstcod, srcobjtyp, srcobjcod, matqty, matuntcod, docsts, cteusr, ctedte)
        SELECT @lp_buscod, @lp_matlstcod, 'STK_MAT', t.matcod, t.matqty, t.matuntcod, @lp_docsts, @lp_username, getdate()
        FROM #tmpStkMatLstMat t;

      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION;
				-- registra el log de error
        exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
    
    COMMIT TRANSACTION
    SELECT @lp_matlstcod, 0 as errcod
       
	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation in ('02','12')
 BEGIN
  SET @lv_validop = 1;
    
    BEGIN TRANSACTION;
      BEGIN TRY
          -- actualizo cabecera
          UPDATE STK_MAT_LST
             SET matlstcodext = @lp_matlstcodext,
                 matlsttxt=@lp_matlsttxt,
                 matcod= @lp_matcod,
                 matqty= @lv_matqty,
                 matuntcod= @lp_matuntcod, 
                 docsts= @lp_docsts, 
                 updusr= @lp_username, 
                 upddte= getdate()
           WHERE buscod= @lp_buscod 
             and matlstcod= @lp_matlstcod;
        
          -- borro lÃ­neas que no vinieron en el json            
            DELETE FROM STK_MAT_LST_MAT
            WHERE buscod = @lp_buscod 
              and matlstcod = @lp_matlstcod 
              and matlstmatcod not in (
            SELECT t.matlstmatcod
            FROM  #tmpStkMatLstMat t
            WHERE isnull(t.matlstmatcod, 0) <> 0);

          -- actualizo lÃ­neas con id en comÃºn
          UPDATE d
             SET d.srcobjcod = t.matcod,
                 d.matqty    = t.matqty,
                 d.matuntcod = t.matuntcod,
                 d.docsts    = @lp_docsts,
                 d.updusr    = @lp_username,
                 d.upddte    = getdate()
          FROM STK_MAT_LST_MAT d
            inner join #tmpStkMatLstMat t ON t.matlstmatcod = d.matlstmatcod
          WHERE d.buscod = @lp_buscod and d.matlstcod = @lp_matlstcod;

          -- inserto nuevas (sin id)
          INSERT INTO STK_MAT_LST_MAT(buscod, matlstcod, srcobjtyp, srcobjcod, matqty, matuntcod, docsts, cteusr, ctedte)
          SELECT @lp_buscod, @lp_matlstcod, 'STK_MAT', t.matcod,t.matqty, t.matuntcod, @lp_docsts, @lp_username, getdate()
          FROM #tmpStkMatLstMat t
          WHERE isnull(t.matlstmatcod,0) = 0
        
      END TRY
      
      BEGIN CATCH
        ROLLBACK TRANSACTION
        -- registra el log de error
        EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
		
    COMMIT TRANSACTION   
  SELECT @lp_matlstcod, 0 AS errcod;
 END

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-------------------------------------------------------------------------- 
IF @lp_sysoperation in ('03', '13')
	begin
  	set @lv_validop = 1;

  	-- JSON del DETALLE 
    set @lp_stkmatlstmat = (select mlm.matlstmatcod, mlm.srcobjcod,m.mattxt as srcobjtxt,mlm.matqty,mlm.matuntcod
                            from stk_mat_lst_mat mlm
                            left join stk_mat m 
                              on m.buscod = mlm.buscod 
                             and m.matcod = mlm.srcobjcod
                            where mlm.buscod    = @lp_buscod 
                              and mlm.matlstcod = @lp_matlstcod
                            for json path
    );

    if @lp_stkmatlstmat is null set @lp_stkmatlstmat = N'[]';

  	-- JSON cabecera + detalle de la lista de materiales
     select h.*, m.mattxt, @lp_stkmatlstmat as stkmatlstmat 
     from stk_mat_lst h 
      	left join stk_mat m on m.buscod = h.buscod and m.matcod = h.matcod
     where h.buscod = @lp_buscod 
     		and h.matlstcod = @lp_matlstcod;
 end

------------------------------------------------------------------------ 
--  0 4    -    B O R R A R												
------------------------------------------------------------------------
IF @lp_sysoperation in ('04', '14')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION

			BEGIN TRY
        -- borro los desplazamientos de la lista de materiales
        DELETE FROM STK_MAT_LST_MAT
        WHERE buscod=@lp_buscod
          and matlstcod=@lp_matlstcod
				  
				-- borro los datos de la lista de materiales
				DELETE FROM STK_MAT_LST 
				WHERE buscod = @lp_buscod
				  and matlstcod = @lp_matlstcod
			END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        -- registra el log de error
        EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
    
    COMMIT TRANSACTION
		SELECT @lp_matlstcod, 0 as errcod

 END

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A													
-- ------------------------------------------------------------------------ 
 
IF @lp_sysoperation in ('08','18')
  BEGIN
      SET @lv_validop = 1;
      
      BEGIN TRY
        SET @lv_sql = dbo.getSQLSentence(@lp_vewcfg,
            'ml.matlstcod, ml.matlstcodext, ml.matlsttxt, ml.matcod, ml.matqty, ml.matuntcod, ml.docsts, m.mattxt',   
            'STK_MAT_LST ml left join STK_MAT m ON m.buscod=ml.buscod and m.matcod=ml.matcod',
            'ml.buscod='+QUOTENAME(@lp_buscod,'''') 
            +(case when isnull(@lp_docsts,'')='' then '' else ' and ml.docsts='+QUOTENAME(@lp_docsts,'''') end) 
            + dbo.GetVewTag('', dbo.GetTagValue('vewflt', @lp_vewcfg)),
            case when dbo.GetTagValue('veword', @lp_vewcfg) = '' then 'ml.matlsttxt' else dbo.GetTagValue('veword', @lp_vewcfg) end,
            default);

            execute (@lv_sql);
     END TRY
     
     BEGIN CATCH
       EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod, @lv_sql
       SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
       RETURN
     END CATCH
 END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN
  	BEGIN TRY
			RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
    END TRY
    BEGIN CATCH
    	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
	END
GO
