USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_SUP_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUY_SUP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,
@lp_supcod 			as int					= null,	-- id
@lp_supcodext 	as nvarchar(20)	= null,	-- codigo
@lp_suptxt			as nvarchar(50)	= null,	-- desripcion
@lp_supcmt			as nvarchar(max)= null,	-- comentarios
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_SysDocClsCod	as int			= null, -- id clase de documento
@lp_paytrmccod		as int			= null,	-- id condicion pago
@lp_buysuponetme	as int			= null	-- indicador proveedor unica vez

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt	as nvarchar(400) = null 
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'BUY'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SUP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
	
		-- codigo externo duplicado
		if not isnull(@lp_supcodext,'')=''
			IF exists(select top 1 * from buy_sup where buscod=@lp_buscod and not supcod=@lp_supcod and supcodext=@lp_supcodext)
				BEGIN
					SELECT null, 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
				
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO BUY_SUP (buscod, suptxt, supcmt, supcodext,	docsts, cteusr, ctedte, SysDocClsCod, paytrmcod, buysuponetme) 
		VALUES (@lp_buscod, @lp_suptxt, @lp_supcmt, @lp_supcodext, @lp_docsts, @lp_username, getdate(), @lp_SysDocClsCod, @lp_paytrmccod, @lp_buysuponetme)
		SET @lv_errcod=@@ERROR
		SET @lp_supcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_supcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE BUY_SUP
		SET	supcodext	= @lp_supcodext,
			suptxt		= @lp_suptxt,
			supcmt		= @lp_suptxt,
			paytrmcod = @lp_paytrmccod,
			buysuponetme = @lp_buysuponetme,
			docsts		= @lp_docsts,
			updusr		= @lp_username,
			upddte		= getdate()
		WHERE buscod=@lp_buscod
		  and supcod = @lp_supcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_supcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R														
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.* , 
		a.adrnum, a.adrstr, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon, a.adrmapgeo, a.adrtwn, 
		lt.lndtwntxt, l.lndtxt, lr.lndregtxt,
		t.TaxNum, t.taxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum,
		f.taxcattxt,		
		b.BnkNum, b.BnkCod, b.BnkAccCBU, b.bnkacccbuals, b.BnkBch, b.BnkAccNum, b.BnkAccTyp, b.PayMthCod, 
		k.bnktxt,
		--pl.slsprclsttxt, sg.slsgrptxt, 
		pt.paytrmtxt,
		sd.sysdocclstxt
		FROM BUY_SUP s 
			left join grl_dat_adr a on a.buscod=s.buscod and a.adrsrctyp='BUY_SUP' and a.adrsrccod=s.supcod
			left join grl_dat_lnd l on l.lndcod=a.lndcod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod
			left join grl_dat_tax t on t.buscod=s.buscod and t.taxsrctyp='BUY_SUP' and t.taxsrccod=s.supcod
			left join fin_tax_cat f on f.lndcod=a.lndcod and f.taxcatcod = t.taxcatcod
			left join grl_dat_bnk b on b.buscod=s.buscod and b.bnksrctyp='BUY_SUP' and b.bnksrccod=s.supcod
			left join tsr_bnk k on k.buscod=b.buscod and k.bnkcod=b.bnkcod
			--left join sls_prc pl on pl.buscod=s.buscod and pl.slsprclstcod=s.buyprclstcod
			--left join sls_grp sg on sg.buscod=s.buscod and sg.slsgrpcod=s.buygrpcod
			left join fin_pay_trm pt on pt.buscod=s.buscod and pt.paytrmcod=s.paytrmcod
			left join sys_doc_cls sd on sd.buscod=s.buscod and sd.sysdocclscod=s.sysdocclscod
		WHERE s.buscod=@lp_buscod
		  and s.supcod = @lp_supcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
      
    -- Tabla temporal para guardar tablas/objtyp donde se encontrÃ³ el proveedor
    create table #buyTables (objtyptbl nvarchar(255), objtyp nvarchar(100))
    insert into #buyTables EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod=@lp_buscod, @lp_objtypcod='BUY_SUP', @lp_objcod=@lp_supcod, @lp_fldnme='supcod'
		
    if exists (select 1 from #buyTables)
    begin
    	declare @lv_msg nvarchar(max)
      
      /*;WITH CTE as (
      	select SUBSTRING(
          			-- Obtiene el nombre de la tabla a partir de SYS_OBJ_TYP
                o.objtyptxt, 
                CHARINDEX('-', o.objtyptxt) + 1, 
                CHARINDEX('(', o.objtyptxt) - CHARINDEX('-', o.objtyptxt) - 2
             ) as nmeTbl
        from #buyTables t
        join tmssSysDev.dbo.SYS_OBJ_TYP o on o.objtyptbl = t.objtyptbl and (o.objtypcod = t.objtyp or t.objtyp is null)
      )
      -- mensaje de error hasta 5 tablas
      select @lv_msg = CONCAT('No se puede borrar el proveedor. Existe en', (select STRING_AGG(nmeTbl, ',') from (select top 5 nmeTbl FROM CTE) as nmeTbl),
      case when (select count(*) from CTE) > 5 then ', y otros documentos' else '' end, '.')*/
      
      SET @lv_msg = 'No se puede borrar el proveedor. EstÃ¡ siendo usado en otros documentos.'
      
      SELECT null, -1 as errcod, @lv_msg as errtxt
      drop table #buyTables
    	return
    end
    drop table #buyTables

		BEGIN TRAN

-- borro datos de impuestos del proveedor
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='BUY_SUP'
				  and taxsrccod=@lp_supcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro datos de banco del proveedor
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='BUY_SUP'
				  and bnksrccod=@lp_supcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro la direcciÃ³n del proveedor
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR 
				WHERE buscod=@lp_buscod
				  and adrsrctyp='BUY_SUP'
				  and adrsrccod=@lp_supcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro los contactos del proveedor
			declare  @lv_i INT = 0
      select *  into #tmpSrv
          from grl_dat_cnt
          where cntsrctyp = 'BUY_SUP'
          AND cntsrccod = @lp_supcod ;
          declare @lv_cntcod int
          declare lc_cur cursor for select cntcod
          from #tmpSrv
          open lc_cur
          
            fetch next from lc_cur into  @lv_cntcod
            
            while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito 
             begin
             
              exec dbo.GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,'BUY_SUP',@lp_supcod,null,'00000000000000',null,null,null,'A',null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
             	
              fetch next from lc_cur into @lv_cntcod
              set @lv_i = @lv_i + 1
              end
      close lc_cur
      deallocate lc_cur


		-- borro los datos centrales del proveedor
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM BUY_SUP 
				WHERE buscod=@lp_buscod
				  and supcod=@lp_supcod
				SET @lv_errcod=@@ERROR
			END 

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_supcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		-- buy_sup_def '08','rochoa','temasis_log'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			+ ' s.*, a.adrstr, a.adrstrnum, a.adrstrbld, a.adrstrunt, a.adrstrflr, a.adrpstcod, a.adrtwn, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adreml, '
			+ ' l.lndtxt, lr.lndregtxt, '
			+ ' pt.paytrmtxt, dc.sysdocclstxt, '
			+ ' t.TaxNum, t.taxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum, f.taxcattxt ',
			' BUY_SUP s '
			+ ' left join GRL_DAT_ADR a on a.buscod=s.buscod and a.adrsrctyp='+QUOTENAME('BUY_SUP','''')+' and a.adrsrccod=s.supcod '
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '  
			+ ' left join grl_dat_tax t on t.buscod=s.buscod and t.taxsrctyp='+QUOTENAME('BUY_SUP','''')+' and t.taxsrccod=s.supcod '
			+ ' left join fin_tax_cat f on f.lndcod=a.lndcod and f.taxcatcod = t.taxcatcod '
			+ ' left join FIN_PAY_TRM pt on pt.buscod=s.buscod and pt.paytrmcod=s.paytrmcod '
			+ ' left join SYS_DOC_CLS dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod ',
			' s.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dbo.CheckAuthorizationObject('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('BUY_SUP','''')+',dc.autcod)=1 '
			+ dbo.GetUserRestrictions(@lp_buscod,@lp_username,'s.supcod'),
			' s.suptxt desc ', default )
		execute( @lv_sql )

	END
	

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
