USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_AFL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_AFL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_aflcod 			as int			= null,	/* codigo */
@lp_afltxt			as nvarchar(82) = null,	/* nombre */
@lp_adrnum			as int			= null,	/* dirección */
@lp_aflnum 			as nvarchar(20)	= null,	/* numero afiliado */
@lp_idttypcod		as nvarchar(5)	= null,	/* tipo documento */
@lp_aflidtnum		as nvarchar(20)	= null,	/* nro documento */
@lp_aflcmt			as text			= null, /* comentarios */
@lp_docsts			as nvarchar(02) = null  /* estado */

AS

SET NOCOUNT ON


DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_AFL (buscod, afltxt, adrnum, aflcmt, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_afltxt, @lp_adrnum, @lp_aflcmt, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_aflcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_aflcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R											*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_AFL 
		SET	afltxt	  = @lp_afltxt,
			aflcmt	  = @lp_aflcmt,		/* comentarios */
			docsts    = @lp_docsts,
			updusr    = @lp_username,
			upddte    = getdate()
		WHERE buscod = @lp_buscod
		  and aflcod = @lp_aflcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_aflcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*,
			a.adrnme001, a.adrstrnme, a.adrstrnum, a.adrstrflr, a.adrstrunt,
			a.adrpstcod, a.adrcty,
			a.lndtwncod, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adreml, 
			t.lndtwntxt,
			x.aflcod as ownaflcod, x.aflnum as ownaflnum, x.afltxt as ownafltxt,
			d.deltxt,
			ps.patsiktxt,
			( (datediff(month, p.aflbrndte, getdate())+(case when datepart(month,getdate())=datepart(month,p.aflbrndte) and datepart(day,getdate())<datepart(day,p.aflbrndte) then -1 else 0 end))/12 ) as aflage
		FROM HLT_AFL p
		left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrnum=p.adrnum
		left join GRL_DAT_LND_TWN t on t.lndcod=a.lndcod and t.lndregcod=a.lndregcod and t.lndtwncod=a.lndtwncod
		left join HLT_AFL x on x.buscod=p.buscod and x.aflnum=left(p.aflnum,charindex('/',p.aflnum))+'00'
		left join HLT_DEL d on d.buscod=p.buscod and d.delcod=p.delcod
		left join HLT_PAT_SIK ps on ps.buscod=p.buscod and ps.patsikcod=p.patsikcod
		WHERE p.buscod = @lp_buscod
		  and p.aflcod = @lp_aflcod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* borro los datos de dirección */
		DELETE
		FROM GRL_DAT_ADR
		WHERE buscod = @lp_buscod
		  and adrnum = (select top 1 adrnum from hlt_afl where buscod=@lp_buscod and aflcod=@lp_aflcod)
		SET @lv_errcod=@@ERROR

		/* borro los datos del afiliado */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM HLT_AFL
				WHERE buscod = @lp_buscod
				  and aflcod = @lp_aflcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_aflcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, a.*
		FROM HLT_AFL p
		left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrnum=p.adrnum
		WHERE p.buscod = @lp_buscod
		ORDER BY a.adrnme001

	END





/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R	(x nombre/nro afiliado/nro documento)							*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT t.aflnum as ownaflnum, t.afltxt as ownafltxt, p.* '
			+ ' FROM HLT_AFL p '
			+ '   left join HLT_AFL t on t.buscod=p.buscod and t.aflnum=left(p.aflnum,charindex('+QUOTENAME('/','''')+',p.aflnum))+'+QUOTENAME('00','''')
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and p.docsts='+QUOTENAME('A','''') 

		IF not isnull(@lp_aflcod,0)=0
			SET @lv_sql = @lv_sql + ' and p.aflcod=' + QUOTENAME(@lp_aflcod,'''')
		ELSE
			if isnull(@lp_aflnum,'')='' and isnull(@lp_afltxt,'')='' and isnull(@lp_aflidtnum,'')=''
				SET @lv_sql = @lv_sql + ' and 1=2 '
			ELSE
				BEGIN
					IF not isnull(@lp_afltxt,'')='' 
						SET @lv_sql = @lv_sql + ' and p.afltxt like ' + QUOTENAME( '%'+@lp_afltxt+'%','''')
					IF not isnull(@lp_aflnum,'')='' 
						SET @lv_sql = @lv_sql + ' and p.aflnum like ' + QUOTENAME( '%'+@lp_aflnum+'%','''')
					IF not isnull(@lp_aflidtnum,'')='' 
						SET @lv_sql = @lv_sql + ' and p.aflcui like ' + QUOTENAME( '%'+@lp_aflidtnum+'%','''')
				END
		
		set @lv_sql = @lv_sql + ' ORDER BY p.afltxt '
		execute( @lv_sql )


	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 8    -    L I S T A R    según    T E X T O												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1
		
		SELECT TOP 20 t.aflcod as ownaflcod, t.aflnum as ownaflnum, t.afltxt as ownafltxt, p.*
		FROM HLT_AFL p
		  left join HLT_AFL t on t.buscod=p.buscod and t.aflnum=left(p.aflnum,charindex('/',p.aflnum))+'00'
		WHERE p.buscod=@lp_buscod
		  and p.docsts='A'
		  and p.afltxt like '%'+@lp_afltxt+'%'
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END











GO
