USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MOV_RSN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[STK_MOV_RSN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_movrsncod		as int			= null,	/* codigo */
@lp_movrsncodext	as nvarchar(05) = null,	/* codigo externo */
@lp_movrsntxt		as nvarchar(40)	= null,	/* descripcion */
@lp_stkdocclscod	as nvarchar(05)	= null, /* clase de documento */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	No se puede borrar la clasificación. Materiales asociados.			*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO STK_MOV_RSN (buscod, movrsncodext, movrsntxt, stkdocclscod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_movrsncodext, @lp_movrsntxt, @lp_stkdocclscod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_movrsncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_movrsncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE STK_MOV_RSN 
		SET	movrsncodext = @lp_movrsncodext,
			movrsntxt = @lp_movrsntxt,
			stkdocclscod = @lp_stkdocclscod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and movrsncod = @lp_movrsncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_movrsncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM STK_MOV_RSN
		WHERE buscod=@lp_buscod
		  and movrsncod = @lp_movrsncod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF EXISTS (select top 1 * from stk_mov where buscod=@lp_buscod and movrsncod=@lp_movrsncod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar el motivo. Movimientos asociados.' as errtxt
				RETURN
			END
		
		BEGIN TRAN
		
		DELETE 
		FROM STK_MOV_RSN
		WHERE buscod=@lp_buscod
		  and movrsncod = @lp_movrsncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_movrsncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM STK_MOV_RSN '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	


/* ------------------------------------------------------------------------ */
/*   1 7    -    L I S T A    según    T E X T O							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 20 m.*
		FROM stk_mov_rsn m
		WHERE m.buscod=@lp_buscod
		  and m.docsts='A'
		  and m.movrsntxt like '%'+@lp_movrsntxt+'%'

	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
