USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_MOV_DOC_ACC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[FIN_MOV_DOC_ACC_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_finmovdocacccod	as int			= null,	-- id
@lp_finmovdoccod	as int			= null,	-- id documento
@lp_finacccod		as nvarchar(20)	= null,	-- id cuenta
@lp_finacctxt		as nvarchar(50)	= null,	-- descripcion cuenta
@lp_finmovdocacctot	as bigint		= null,	-- importe
@lp_finmovdocaccblc	as nvarchar(5)	= null,	-- balance (D/H)
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null -- configuración vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_finmovdocacctot as decimal(13,3) = dbo.ConvertNumber( @lp_finmovdocacctot , 3 )

declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_objtyp as nvarchar(20)



/* ---------------------------------------------------------------------------- */
/*	E R R O R E S																*/
/* ---------------------------------------------------------------------------- */
/*	-1	Material no existe o está desactivado.									*/
/*	-2	El material no lleva stock, no se puede utilizar en esta operación.		*/
/*	-3	Se debe ingrear una cantidad.											*/
/*	-4	Cantidad debe superar el mínimo de entrega.								*/
/*	-5	Cantidad debe ser múltiplo de .											*/
/*	-6	Material sujeto a lote. Se debe ingresar el código de lote.				*/
/*	-7	Lote inexistente.														*/
/*	-8	Material sujeto a número de serie. Se debe ingrear un número de serie.	*/
/*	-9	Número de serie inexistente.											*/
/*	-10	Unidad de medida no valida para material.								*/
/*	-11	Material con número de serie. La cantidad debe ser 1.					*/
/*	-12	En documentos de alquiler, solo se aceptan materiales con números de serie.*/
/* ---------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------ */
/*   0 1    -    V A L I D A C I O N E S									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation='02' and (select top 1 docsts from fin_mov_doc where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod)='C'
			set @lp_sysoperation = '22'
		ELSE
			BEGIN
			-- CUENTA - valido cuenta
			IF not exists(SELECT top 1 * FROM fin_acc WHERE buscod=@lp_buscod and finacccod=@lp_finacccod and docsts='A')
				BEGIN
					SELECT null, -1 as errcod, 'Cuenta no existe o está desactivado ['+@lp_finacccod+'].' as errtxt
					RETURN
				END

			-- IMPORTE - valido que se haya ingresado un importe
			IF isnull(@lv_finmovdocacctot,0)=0
				BEGIN
					SELECT null, -3 as errcod, 'Se debe ingresar un importe.' as errtxt
					RETURN
				END
		END

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join fin_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.finmovdoccod=@lp_finmovdoccod)

		BEGIN TRAN

		INSERT INTO FIN_MOV_DOC_ACC (buscod, finmovdoccod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_finmovdoccod, @lp_finacccod, @lp_finacctxt, @lv_finmovdocacctot, @lp_finmovdocaccblc, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_finmovdocacccod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_finmovdocacccod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		/* obtengo el objeto de la clase de documento */
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join fin_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.finmovdoccod=@lp_finmovdoccod)

		BEGIN TRAN
		
		UPDATE FIN_MOV_DOC_ACC 
		SET finacccod	= @lp_finacccod,
			finacctxt	= @lp_finacctxt,
			finmovdocacctot		= @lv_finmovdocacctot,
			finmovdocaccblc		= @lp_finmovdocaccblc,
			docsts		= @lp_docsts,
			upddte		= getdate(),
			updusr		= @lp_username
		WHERE buscod = @lp_buscod
		  and finmovdoccod = @lp_finmovdoccod 
		  and finmovdocacccod = @lp_finmovdocacccod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_finmovdocacccod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END
	


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT dm.*
		FROM FIN_MOV_DOC_ACC dm
		WHERE dm.buscod=@lp_buscod
		  and dm.finmovdoccod= @lp_finmovdoccod
		  and dm.finmovdocacccod= @lp_finmovdocacccod
		
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		/* obtengo el objeto de la clase de documento */
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join fin_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.finmovdoccod=@lp_finmovdoccod)

		BEGIN TRAN
		
		/* borro la posición del documento */
		IF @lv_errcod=0
			BEGIN		
				DELETE FROM FIN_MOV_DOC_ACC 
				WHERE buscod = @lp_buscod
				  and finmovdoccod = @lp_finmovdoccod
				  and finmovdocacccod = @lp_finmovdocacccod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_finmovdocacccod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END

	

/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* FIN_MOV_DOC_ACC_def '08','mdominguez','temasis_log','','11' */

		set @lv_flt = ' WHERE dm.buscod='+QUOTENAME(@lp_buscod, '''') + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dm.* '
			+ ' FROM fin_mov_doc_acc dm '
			+ ' inner join fin_mov_doc d on d.buscod=dm.buscod and d.finmovdoccod=dm.finmovdoccod '
		execute( @lv_sql + @lv_flt + @lv_ord )

	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
