USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_PTN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_PTN_DEF] 

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_ptncod			as int			= null,	-- id 
@lp_ptncodext		as int			= null,	-- codigo 
@lp_ptntxt			as nvarchar (82) = null,	-- nombre 
@lp_ptninbdte		as nvarchar(14)	= null,	-- fecha inscripciÃ³n 
@lp_ptncatcod		as int			= null,	-- id categoria 
@lp_ptnCrdSts		as nvarchar(2)	= null,	-- carnet - estado 
@lp_ptnCrdDte		as nvarchar(14)	= null,	-- carnet - fecha 
@lp_ptncmt			as nvarchar(max) = null,	-- comentarios 
@lp_sysdocclscod	as int			= null,				-- id clase documento

@lp_docsts 			as nvarchar(2)	= null,	-- estado 
@lp_vewcfg			as nvarchar(max) = null	-- configuraciÃ³n vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtyp nvarchar(20) = ''
declare @lv_errtxt as nvarchar(max)

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

DECLARE @lv_ptninbdte as datetime = dbo.ConvertDate( @lp_ptninbdte )
DECLARE @lv_ptncrddte as datetime = dbo.ConvertDate( @lp_ptncrddte )

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SPT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PTN'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-1	CÃ³digo duplicado													
--	-2	Tipo y Numero de documento existente.								
--	-3	El socio tiene deuda, no se puede borrar.							
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		-- SOCIO - busco si el nÃºmero de socio ya existe 
		if not ISNULL(@lp_ptncodext,0)=0
			IF exists (select top 1 * from spt_ptn where buscod=@lp_buscod and not ptncod=@lp_ptncod and ptncodext=@lp_ptncodext and deldte is null)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo existente.' as errtxt,'E' as errtyp
					RETURN
				END	
	END
	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    
		
		DECLARE @lv_ptncod as int

		-- busco el prÃ³ximo nro de socio 
		IF ( isnull(@lp_ptncodext,0)=0 ) 
			set @lp_ptncodext = isnull( (select max(ptncodext) from spt_ptn where buscod=@lp_buscod and deldte is null), 0)+1		

		BEGIN TRAN
		
		INSERT INTO SPT_PTN (buscod, ptncodext, ptntxt, ptninbdte, ptncatcod, ptncrdsts, ptncrddte, ptncmt, docsts, cteusr, ctedte,sysdocclscod) 
		VALUES (@lp_buscod, @lp_ptncodext, @lp_ptntxt, @lv_ptninbdte, @lp_ptncatcod, 'P', getdate(), @lp_ptncmt, @lp_docsts, @lp_username, getdate(),@lp_sysdocclscod )
    SET @lv_errcod = @@ERROR
		SET @lp_ptncod = @@IDENTITY
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_ptncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg
	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
		    
		BEGIN TRAN
	
		UPDATE SPT_PTN 
		SET	ptncodext	= @lp_ptncodext,
			ptntxt		= @lp_ptntxt,
			ptninbdte	= @lv_ptninbdte,
			ptncatcod	= @lp_ptncatcod,
			ptncmt		= @lp_ptncmt, 
			docsts = @lp_docsts,			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and ptncod = @lp_ptncod
		SET @lv_errcod=@@ERROR
		  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg
	
	END

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R		/      1 3   -  I M P R E S I O N				
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		-- actualizo el estado de carnet a provisorio 
		IF @lp_sysoperation='13'
			BEGIN
				UPDATE SPT_PTN
				SET PtnCrdSts='P',
				    PtnCrdDte=dateadd(month,1,getdate())
				WHERE buscod=@lp_buscod
				  and ptncod=@lp_ptncod
			END

		SELECT p.*, 
		da.adrlstnme, da.adrfrtnme, da.adrstr, da.adrpstcod, da.adrcty, da.adrtwn, da.lndtwncod, da.lndregcod, da.lndcod, da.adrphn001, da.adrphn002, da.adreml, da.adrmblphn,
		df.flecod, pc.ptncattxt
		FROM SPT_PTN p 
		  left join SPT_PTN_CAT pc on pc.buscod=p.buscod and pc.ptncatcod=p.ptncatcod 
		  left join GRL_DAT_FLE df on df.BusCod=p.BusCod and df.FleSrcTyp='SPT_PTN' and df.FleSrcCod=p.ptncod 
		  left join GRL_DAT_ADR da on da.BusCod=p.BusCod and da.AdrSrcTyp='SPT_PTN' and da.AdrSrcCod=CAST(p.ptncod AS nvarchar(10)) 
		  left join GRL_DAT_TAX dt on dt.BusCod=p.BusCod and dt.TaxSrcTyp='SPT_PTN' and dt.TaxSrcCod=CAST(p.ptncod AS nvarchar(10))  
		  left join ADM_IDT_TYP idt on idt.LndCod=da.LndCod and idt.IdtTypCod=dt.TaxDocTyp 
		  left join GRL_DAT_PER dp on dp.buscod=p.BusCod and dp.persrctyp='SPT_PTN' and dp.persrccod=CAST(p.ptncod AS nvarchar(10))  
		WHERE p.buscod = @lp_buscod
		  and p.ptncod = @lp_ptncod
		  and p.deldte is null
		  
	END

-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- verifico que el socio no tenga deuda 
		IF (select sum(sptdbtamtrst) from spt_dbt_ptn where buscod=@lp_buscod and ptncod=@lp_ptncod and deldte is null)>0
			BEGIN
				SELECT null, -3 as errcod, 'El socio tiene deuda, no se puede borrar.' as errmsg
				RETURN
			END

		UPDATE SPT_PTN
		SET deldte = getdate(),
		    delusr = @lp_username
		WHERE buscod=@lp_buscod
		  and ptncod=@lp_ptncod
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg
	END

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		-- spt_ptn_def '08','temasis','temasis_spt' 

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, da.adrstr, da.adrphn001, da.adrmblphn, da.adreml, pc.ptncattxt, dt.TaxDocTyp, idt.idttyptxt, dt.TaxDocNum, '
			+ '(select top 1 f.flecod from GRL_DAT_FLE f where f.BusCod=p.BusCod and f.FleSrcTyp='+QUOTENAME('SPT_PTN','''')+' and f.FleSrcCod=p.ptncod) as flecod '
			+ ' FROM SPT_PTN p '
			+ '  left join GRL_DAT_ADR da on da.buscod=p.buscod and da.adrsrctyp='+QUOTENAME('SPT_PTN','''')+' and da.adrsrccod=CAST(p.ptncod AS nvarchar(10)) '
			+ '  left join GRL_DAT_TAX dt on dt.BusCod=p.BusCod and dt.TaxSrcTyp='+QUOTENAME('SPT_PTN','''')+' and dt.TaxSrcCod=CAST(p.ptncod AS nvarchar(10))   '
			+ '  left join ADM_IDT_TYP idt on idt.LndCod=da.LndCod and idt.IdtTypCod=dt.TaxDocTyp '
			+ '  left join SPT_PTN_CAT pc on pc.buscod=p.buscod and pc.ptncatcod=p.ptncatcod '
			+ '  left join GRL_DAT_PER dp on dp.buscod=p.BusCod and dp.persrctyp='+QUOTENAME('SPT_PTN','''')+' and dp.persrccod=CAST(p.ptncod AS nvarchar(10))   '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and p.deldte is null '
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END

-- ------------------------------------------------------------------------ 
--   1 2    -    A C T U A L I Z A R     I M P R E S I O N					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1  
		
		declare @lv_ptneml as nvarchar(250)
		set @lv_ptneml = ''
		
		BEGIN TRAN
		
		UPDATE spt_ptn
		SET ptncrdsts=@lp_ptnCrdSts,
			PtnCrdUpdDte=getdate()
		WHERE buscod=@lp_buscod
		  and ptncod=@lp_ptncod
		  and deldte is null
		
		IF @lv_errcod=0
			BEGIN
				COMMIT TRAN
				set @lv_ptneml = (select top 1 a.adreml from spt_ptn p inner join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp='SPT_PTN' and a.adrsrccod=p.ptncod where p.buscod=@lp_buscod and p.ptncod=@lp_ptncod and p.deldte is null)
			END
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_ptncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg, @lv_ptneml as ptneml
	END	
	
-- ------------------------------------------------------------------------ 
--   23    -    B U S Q U E D A   A L F A B E T I C A  						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1 

		SELECT TOP 20 p.*
		FROM SPT_PTN p
		WHERE p.buscod=@lp_buscod
		  and ( p.ptntxt like '%' + @lp_ptntxt + '%'
			or p.ptncodext = (case when isnumeric(left(@lp_ptntxt,10))<>1 then null else convert(int,left(@lp_ptntxt,10)) end ) )
		  and p.docsts='A'
		  and p.deldte is null

	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
