USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MOV_DOC_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MOV_DOC_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmovdoccod	as int			= null,	-- id documento
@lp_stkmovdocmatcod	as int			= null,	-- id documento-material
@lp_matcod			as nvarchar(20)	= null,	-- material
@lp_mattxt			as nvarchar(50)	= null,	-- descripcion
@lp_matqty			as bigint		= null,	-- cantidad
@lp_matuntcod		as nvarchar(5)	= null,	-- unidad de medida
@lp_matbchcod		as int			= null,	-- id lote
@lp_matbchcodext	as nvarchar(20) = null,	-- nummero lote
@lp_matbchduedte	as nvarchar(14) = null,	-- vencimiento lote
@lp_matsercod		as int			= null,	-- id nÃºmero de serie
@lp_matsercodext	as nvarchar(20)	= null,	-- nÃºmero de serie
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null, -- configuraciÃ³n vista

@lp_docreftyp		as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod		as int			= null,	-- doc referencia - id documento
@lp_docrefposcod	as int			= null,	-- doc referencia - id posiciÃ³n
@lp_sysdocrejcod	as int			= null,	-- id motivo de rechazo
@lp_matqtypck		as bigint		= null,	-- picking - cantidad
@lp_matuntcodpck	as nvarchar(5)	= null,	-- picking - unidad de medida
@lp_sysdocrsncod	as int			= null	-- id motivo pedido

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty , 3 )
declare @lv_matqtypck as decimal(13,3) = dbo.ConvertNumber( @lp_matqtypck , 3 )
declare @lv_matbchduedte as datetime = dbo.ConvertDate( @lp_matbchduedte )
declare @lv_srcobjtxt as nvarchar(500)
declare @lv_dstobjtxt as nvarchar(500)
declare @lv_srcobjdattxt as nvarchar(500)
declare @lv_dstobjdattxt as nvarchar(500)
declare @lv_matbchduedtecnv as nvarchar(50)
declare @lv_stkmovdocdtecnv as nvarchar(50)
declare @lv_srcobjtyptxt as nvarchar(50)
declare @lv_dstobjtyptxt as nvarchar(50)
declare @lv_errtxt as nvarchar(max) = ''
declare @lv_objtyp as nvarchar(20)



-- ----------------------------------------------------------------------------
--	E R R O R E S
-- ----------------------------------------------------------------------------
--	-1	Material no existe o estÃ¡ desactivado.
--	-2	El material no lleva stock, no se puede utilizar en esta operaciÃ³n.
--	-3	Se debe ingrear una cantidad.
--	-4	Cantidad debe superar el mÃ­nimo de entrega.
--	-5	Cantidad debe ser mÃºltiplo de .
--	-6	Material sujeto a lote. Se debe ingresar el cÃ³digo de lote.
--	-7	Lote inexistente.
--	-8	Material sujeto a nÃºmero de serie. Se debe ingrear un nÃºmero de serie.
--	-9	NÃºmero de serie inexistente.
--	-10	Unidad de medida no valida para material.
--	-11	Material con nÃºmero de serie. La cantidad debe ser 1.
--	-12	En documentos de alquiler, solo se aceptan materiales con nÃºmeros de serie.
-- ----------------------------------------------------------------------------



-- ------------------------------------------------------------------------
--   0 1    -    V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation='02' and (select top 1 docsts from stk_mov_doc where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod)='C'
			set @lp_sysoperation = '22'
		ELSE
			BEGIN
				-- MATERIAL - valido material
				IF not exists(SELECT top 1 * FROM stk_mat WHERE buscod=@lp_buscod and matcod=@lp_matcod and docsts='A')
					BEGIN
						SELECT null, -1 as errcod, 'Material no existe o estÃ¡ desactivado ['+@lp_matcod+'].' as errtxt
						RETURN
					END

				-- CANTIDAD - valido que se haya ingresado una cantidad
				IF isnull(@lv_matqty,0)=0
					BEGIN
						SELECT null, -3 as errcod, 'Se debe ingresar una cantidad.' as errtxt
						RETURN
					END

				-- obtengo datos de lote (cÃ³digo interno y vencimiento)
				if not isnull(@lp_matbchcodext,'')=''
					begin
						select top 1 @lp_matbchcod=matbchcod, @lv_matbchduedte=(case when @lv_matbchduedte is null then matbchduedte else @lv_matbchduedte end)
						from stk_mat_bch
						where buscod=@lp_buscod
						  and matcod=@lp_matcod
						  and matbchcodext=@lp_matbchcodext
						  and docsts='A'
					end
			END
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovdoccod=@lp_stkmovdoccod)
		--select @lv_objtyp as typ return
    
		BEGIN TRAN

		INSERT INTO STK_MOV_DOC_MAT (buscod, stkmovdoccod, matcod, mattxt, matqty, matuntcod, matqtypck, matuntcodpck,
			matbchcod, matbchcodext, matbchduedte, matsercod, matsercodext, 
			docreftyp, docrefcod, docrefposcod, sysdoctrecod, sysdocrsncod, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_stkmovdoccod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matqtypck, @lp_matuntcodpck, 
			@lp_matbchcod, @lp_matbchcodext, @lv_matbchduedte, @lp_matsercod, @lp_matsercodext, 
			@lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, 'N', @lp_sysdocrsncod, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_stkmovdocmatcod = @@IDENTITY

		-- agrego la referencia (documento como posiciÃ³n)
		IF @lv_errcod=0 
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmovdoccod,@lp_stkmovdocmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_stkmovdocmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovdoccod=@lp_stkmovdoccod)

		BEGIN TRAN
		
		UPDATE STK_MOV_DOC_MAT 
		SET matcod		= @lp_matcod,
			mattxt		= @lp_mattxt,
			matqty		= @lv_matqty,
			matuntcod	= @lp_matuntcod,
			matqtypck	= @lv_matqtypck,
			matuntcodpck= @lp_matuntcodpck,
			matbchcod	= @lp_matbchcod,
			matbchcodext= @lp_matbchcodext,
			matbchduedte= @lv_matbchduedte, 
			matsercod	= @lp_matsercod,
			matsercodext= @lp_matsercodext,
			sysdocrejcod= @lp_sysdocrejcod, 
			sysdocrsncod= @lp_sysdocrsncod,
			docsts		= @lp_docsts,
			upddte		= getdate(),
			updusr		= @lp_username
		WHERE buscod = @lp_buscod
		  and stkmovdoccod = @lp_stkmovdoccod 
		  and stkmovdocmatcod = @lp_stkmovdocmatcod
		SET @lv_errcod=@@ERROR

		-- actualizo referencia (documento como posiciÃ³n)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmovdoccod,@lp_stkmovdocmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_stkmovdocmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END
	


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT dm.*, convert(varchar,dm.matBchDueDte,103) as matbchduedtecnv, dr.SysDocRsnTxt
		FROM stk_mov_doc_mat dm 
		left join SYS_DOC_RSN dr on dr.buscod=dm.buscod and dr.SysDocRsnCod=dm.sysdocrsncod
		WHERE dm.buscod=@lp_buscod
		  and dm.stkmovdoccod= @lp_stkmovdoccod
		  and dm.stkmovdocmatcod= @lp_stkmovdocmatcod
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from stk_mov_doc_mat where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod and stkmovdocmatcod=@lp_stkmovdocmatcod
		
		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovdoccod=@lp_stkmovdoccod)

		BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmovdoccod,@lp_stkmovdocmatcod,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
		
    
		-- borro la posiciÃ³n del documento
		IF @lv_errcod=0
			BEGIN		
				DELETE FROM STK_MOV_DOC_MAT 
				WHERE buscod = @lp_buscod
				  and stkmovdoccod = @lp_stkmovdoccod
				  and stkmovdocmatcod = @lp_stkmovdocmatcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_stkmovdocmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END

	

-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- stk_mov_doc_mat_def '08','mdominguez','temasis_hlt'

		set @lv_srcobjtxt = 'sa.adrnme001'
		set @lv_dstobjtxt = 'da.adrnme001'
		set @lv_matbchduedtecnv = 'convert(varchar,dm.matBchDueDte,103)'
		set @lv_stkmovdocdtecnv = 'convert(varchar,d.stkmovdocdte,103)'
		set @lv_srcobjtyptxt ='so.objtyptxt'
		set @lv_dstobjtyptxt ='do.objtyptxt'
    
    set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			+ ' dm.*, m.matcodext, '
			+ @lv_matbchduedtecnv + ' as matbchduedtecnv, '
			+ ' m.docsts as matdocsts, '
			+ 'mc.matcst,case when isnull(mc.matcstqty,0)=0 then 0 else mc.matcst  * (dbo.ConvertMaterialUnit(d.buscod,m.matcod,dm.matqty,dm.matuntcod,mc.matcstuntcod)/mc.matcstqty)  end as matcstlst,'
			+ ' d.stkmovdoccodext, d.srcobjtyp, d.srcobjcod, d.dstobjtyp, d.dstobjcod, convert(varchar, d.stkmovdocdte, 103) as stkmovdocdtecnv '
			+ ' , dbo.getTagValue('+QUOTENAME('cnftyp','''')+', d.stkmovdoccnf) as stkmovdoccnftyp '
      + ' , dbo.getTagValue('+QUOTENAME('cnfdte','''')+', d.stkmovdoccnf) as stkmovdoccnfdte '
      + ' , dbo.getTagValue('+QUOTENAME('cnfcmt','''')+', d.stkmovdoccnf) as stkmovdoccnfcmt, '
			+ ' m.matusebch, m.matuseser, mdc.sysdocclstxt as matdocclstxt, mdc.sysdocclscod as matdocclscod, '
			+ ' dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, do.objtyptxt as dstobjtyptxt, '
			+ @lv_stkmovdocdtecnv + ' as stkmovdocdtecnv, '
			+ @lv_srcobjtxt+' as srcobjtxt, '
			+ @lv_dstobjtxt+' as dstobjtxt, '
			+ ' scnt.cnttxt as srccnttxt, '
			+ ' dcnt.cnttxt as dstcnttxt, dcnt.cntcodext as dstcntcodext, dcnta.adrstr as dstcntadrstr, dcntl.lndtxt as dstcntlndtxt, dcntlr.lndregtxt as dstcntlndregtxt, fp.refposqty as refposqty, dr.sysdocrejtxt, dt.sysdoctretxt, drs.SysDocRsnTxt ',
			 	' stk_mov_doc d '
			+ ' inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod '
			+ ' left join stk_mat m on m.buscod=dm.buscod and m.matcod=dm.matcod '
			+ ' left join stk_mat_bch mb on mb.buscod=dm.buscod and mb.matcod=dm.matcod and mb.matbchcod=dm.matbchcod '
			+ ' left join stk_mat_ser ms on ms.buscod=dm.buscod and ms.matcod=dm.matcod and ms.matsercod=dm.matsercod ' 
			+ ' left join stk_mat_cst mc on mc.buscod=m.buscod and mc.matcod=m.matcod '
			+ ' left join sys_doc_cls mdc on mdc.buscod=m.buscod and mdc.sysdocclscod=m.sysdocclscod '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join sys_obj_typ do on do.objtypcod=d.dstobjtyp '
			+ ' left join grl_dat_adr sa on sa.buscod=d.buscod and sa.adrsrctyp=d.srcobjtyp and sa.adrsrccod=cast(d.srcobjcod as nvarchar(50))'
			+ ' left join grl_dat_adr da on da.buscod=d.buscod and da.adrsrctyp=d.dstobjtyp and da.adrsrccod=cast(d.dstobjcod as nvarchar(50))'
			+ ' left join grl_dat_cnt scnt on scnt.buscod=d.buscod and scnt.cntcod=d.srccntcod '
			+ ' left join grl_dat_cnt dcnt on dcnt.buscod=d.buscod and dcnt.cntsrctyp=d.dstobjtyp and dcnt.cntsrccod=d.dstobjcod and dcnt.cntcod=d.dstcntcod '			
			+ ' left join grl_dat_adr dcnta on dcnta.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and dcnta.adrsrccod=dcnt.cntcod '
			+ ' left join grl_dat_lnd dcntl on dcntl.lndcod=dcnta.lndcod '
			+ ' left join grl_dat_lnd_reg dcntlr on dcntlr.lndcod=dcnta.lndcod and dcntlr.lndregcod=dcnta.lndregcod '
			+ ' left join grl_doc_flw_pos fp on fp.buscod=dm.buscod and fp.srcobjtyp=dc.objtyp and fp.srcobjcod=dm.stkmovdoccod and fp.srcposcod=dm.stkmovdocmatcod and isnull(fp.refobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
			+ ' left join sys_doc_rej dr on dr.buscod=dm.buscod and dr.sysdocrejcod=dm.sysdocrejcod '
			+ ' left join sys_doc_tre dt on dt.buscod=dm.buscod and dt.sysdoctrecod=dm.sysdoctrecod '
			+ ' left join SYS_DOC_RSN drs on drs.buscod=dm.buscod and drs.SysDocRsnCod=dm.sysdocrsncod ',
      	' d.buscod='+QUOTENAME(@lp_buscod, ''''),
				' dm.stkmovdocmatcod ', 
        ' srcobjtxt;'+@lv_srcobjtxt
      + CHAR(10)+'srccnttxt;scnt.cnttxt'
      + CHAR(10)+'dstobjtxt;'+@lv_dstobjtxt
      + CHAR(10)+'dstcnttxt;dcnt.cnttxt' 
      + CHAR(10)+'dstcntcodext;dcnt.cntcodext' 
    	+ CHAR(10)+'matbchduedtecnv;dm.matbchduedte' 
    	+ CHAR(10)+'stkmovdocdtecnv;d.stkmovdocdte' 
      + CHAR(10)+'srcobjtyptxt;' + @lv_srcobjtyptxt 
      + CHAR(10)+'dstobjtyptxt;' + @lv_dstobjtyptxt 
      + CHAR(10)+'matdocclstxt;mdc.sysdocclstxt' 
      + CHAR(10)+'matdocclscod;mdc.sysdocclscod') 
		execute( @lv_sql )
	END
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
