USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CRM_CNT_MTV_STS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[CRM_CNT_MTV_STS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_CrmCntMtvStsCod	as int			= null,	/* id */
@lp_CrmCntMtvCod	as int			= null,	/* id motivo */
@lp_CrmCntStsCodStr	as int			= null,	/* id status inicial */
@lp_CrmCntStsUsrCod	as nvarchar(20)	= null, /* id usuario */
@lp_CrmCntStsCodEnd	as int			= null,	/* id status final */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null,	/* vista */

@lp_CrmCntMtvStsAtr as nvarchar(max)= null	/* atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO CRM_CNT_MTV_STS (buscod, CrmCntMtvCod, CrmCntStsCodStr, CrmCntStsUsrCod, CrmCntStsCodEnd, docsts, ctedte, cteusr, CrmCntMtvStsAtr)
		VALUES (@lp_buscod, @lp_CrmCntMtvCod, @lp_CrmCntStsCodStr, @lp_CrmCntStsUsrCod, @lp_CrmCntStsCodEnd, @lp_docsts, getdate(), @lp_username, @lp_CrmCntMtvStsAtr)
		SET @lv_errcod=@@ERROR
		SET @lp_CrmCntMtvStsCod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_CrmCntMtvStsCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE CRM_CNT_MTV_STS 
		SET	CrmCntStsCodStr = @lp_CrmCntStsCodStr,
			CrmCntStsUsrCod = @lp_CrmCntStsUsrCod,
			CrmCntStsCodEnd = @lp_CrmCntStsCodEnd,
			CrmCntMtvStsAtr = @lp_CrmCntMtvStsAtr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and CrmCntMtvStsCod = @lp_CrmCntMtvStsCod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_CrmCntMtvStsCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ms.*
		FROM CRM_CNT_MTV_STS ms
		inner join CRM_CNT_MTV m on m.BusCod=ms.buscod and m.CrmCntMtvCod=ms.crmcntmtvcod 
		WHERE ms.buscod=@lp_buscod
		  and ms.CrmCntMtvStsCod=@lp_CrmCntMtvStsCod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		/*
		IF exists(select top 1 * from hlt_pat where buscod=@lp_buscod and patcrocod=@lp_patcrocod)
			BEGIN
				SELECT null, -1 as errcod, 'La cronicidad no se puede borrar. Se encuentra asociada a pacientes.' as errtxt
				RETURN
			END
		*/

		BEGIN TRAN

		DELETE
		FROM CRM_CNT_MTV_STS
		WHERE buscod = @lp_buscod
		  and CrmCntMtvStsCod = @lp_CrmCntMtvStsCod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_CrmCntMtvStsCod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* crm_cnt_mtv_sts_def '08','temasis','temasis_hlt' */
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ms.*, cs1.crmcntststxt as crmcntststxtstr, cs2.crmcntststxt as crmcntststxtend '
			+ ' FROM CRM_CNT_MTV_STS ms '
			+ ' inner join CRM_CNT_MTV m on m.BusCod=ms.buscod and m.CrmCntMtvCod=ms.crmcntmtvcod  '
			+ ' left join CRM_CNT_STS cs1 on cs1.buscod=ms.buscod and cs1.crmcntstscod=ms.crmcntstscodstr '
			+ ' left join CRM_CNT_STS cs2 on cs2.buscod=ms.buscod and cs2.crmcntstscod=ms.crmcntstscodend '
			+ ' WHERE ms.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
