USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_APP_MDL_PRM_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SYS_APP_MDL_PRM_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_mdlcod 			as nvarchar(20)	= null,		/* codigo */
@lp_mdlatrval001	as nvarchar(max)= null,		/* atributos */
@lp_docsts			as nvarchar(02) = null,		/* estado */

@lp_vewcfg			as nvarchar(max)=null		/* vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(max)


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from sys_app_mdl_prm where buscod=@lp_buscod and mdlcod=@lp_mdlcod)
			BEGIN
				SELECT null, -1 as errcod, 'Código de módulo existente.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		INSERT INTO SYS_APP_MDL_PRM (buscod, mdlcod, mdlatrval001, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_mdlcod, @lp_mdlatrval001, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_mdlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE SYS_APP_MDL_PRM 
		SET	mdlatrval001 = @lp_mdlatrval001,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and mdlcod = @lp_mdlcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_mdlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_APP_MDL_PRM
		WHERE buscod=@lp_buscod
		  and mdlcod=@lp_mdlcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		DELETE
		FROM SYS_APP_MDL_PRM
		WHERE buscod = @lp_buscod
		  and mdlcod = @lp_mdlcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_mdlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		/* SYS_APP_MDL_PRM_DEF '08','MDOMINGUEZ','TEMASIS_HLT','SYS','','','<VIEW><VEWORD><\/VEWORD><VEWMAX>101<\/VEWMAX><VEWFLT><\/VEWFLT><\/VIEW>' */

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' *, mdlcod as id '
			+ ' FROM SYS_APP_MDL_PRM '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'mdlcod' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   1 8    -    L I S T A R    V A L O R E S    D E    P A R Á M E T R O S	*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT prmval 
		from dbo.getParameter(@lp_buscod, @lp_mdlcod, @lp_mdlatrval001) 

	END

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END



GO
