USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_AGR_PRS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_AGR_PRS_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hltagrprscod	as int	= null,		-- id
@lp_hltagrcod 		as int			= null,	-- id convenio
@lp_prscod			as int			= null,	-- id prestador
@lp_docsts			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null  -- config vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)


-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		-- hlt_agr_prs_def '08','temasis','temasis_hlt',null,null,'<vewcfg><vewmax>10</vewmax><vewgrp>pa.lndregcod</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>pa.lndregcod</veword><vewcfg>'
		
		-- rubros (clasificacion de especialidades-se usa directamente desde el rubro) 
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (ap.hltagrprscod>^0^)</vewflt><vewgrp>sg.spcgrptxt,sg.spcgrpcod</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax></vewmax></view>'

		-- provincias
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (ap.hltagrprscod>^0^) AND (pa.adrzoncod IS NULL)</vewflt><vewgrp>pa.lndregcod,par.lndregtxt</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>par.lndregtxt</veword><vewmax></vewmax></view>'
		
		-- especialidad
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (sg.spcgrpcod=^1^) AND (pa.lndregcod=^01^) AND (pa.adrzoncod IS NULL)</vewflt><vewgrp>s.spctxt,s.spccod</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>s.spctxt</veword><vewmax></vewmax></view>'
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (sg.spcgrpcod=^1^) AND (pa.lndregcod=^00^ OR pa.lndregcod=^01^) AND (pa.adrzoncod IS NULL)</vewflt><vewgrp>s.spctxt,s.spccod</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>s.spctxt</veword><vewmax></vewmax></view>'

		-- localidad
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (sg.spcgrpcod=^1^) AND (pa.lndregcod=^01^) AND (pa.adrzoncod IS NULL) AND (ps.spccod=^13^)</vewflt><vewgrp>pat.lndtwncod,pat.lndtwntxt</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>pat.lndtwntxt</veword><vewmax></vewmax></view>'
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (sg.spcgrpcod=^1^) AND (patg.lndtwngrpcod=^G00^) AND (ps.spccod=^13^)</vewflt><vewgrp>patgz.lndtwngrptwn</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>patgz.lndtwngrptwn</veword><vewmax></vewmax></view>'

		-- CIUDAD/BARRIO
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (sg.spcgrpcod=^1^) AND (pa.lndregcod=^01^) AND (ps.spccod=^13^) AND (pa.lndtwncod=^1586^)</vewflt><vewgrp>pat.lndtwncod,pat.lndtwntxt</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>pat.lndtwntxt</veword><vewmax></vewmax></view>'

		-- ciudad/barrio
		-- HLT_AGR_PRS_DEF '08','OSPAGWEB','OSIAD','','','','','<view><vewflt> AND (ps.spccod=^13^) AND (pa.lndregcod=^01^) AND (pat.lndtwncod=^2^) </vewflt><vewgrp>patgz.lndtwngrpcod,patgz.lndtwngrptwn</vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>patgz.lndtwngrptwn</veword><vewmax></vewmax></view>'


		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg , 
			' ap.*, pa.adrstr, pa.adrstrnum, pa.adrstrflr, pa.adrstrunt, pa.adrstrbld, pa.adrpstcod, pa.adrphn001, pa.adrphn002, pa.adreml, p.prstxt, pa.lndregcod, par.lndregtxt, pa.lndtwncod, pat.lndtwntxt, pa.adrzoncod, z.adrzontxt ',
			' HLT_AGR a '
			+ ' inner join HLT_AGR_PRS ap on ap.buscod=a.buscod and ap.hltagrcod=a.hltagrcod '
			+ ' inner join HLT_PRS p on p.buscod=ap.buscod and p.prscod=ap.prscod '
			+ ' inner join HLT_PRS_SPC ps on ps.buscod=p.buscod and ps.prscod=p.prscod '
			+ ' inner join HLT_SPC s on s.buscod=ps.buscod and s.spccod=ps.spccod '				
			+ ' inner join HLT_SPC_GRP sg on sg.buscod=s.buscod and '+QUOTENAME(',','''')+'+dbo.gettagvalue('+QUOTENAME('spc','''')+',sg.spcgrpatr)+'+QUOTENAME(',','''')+' like '+QUOTENAME('%,','''')+'+cast(s.spccod as nvarchar(20))+'+QUOTENAME(',%','''')
			+ ' inner join GRL_DAT_ADR pa on pa.buscod=p.buscod and pa.adrsrctyp='+QUOTENAME('HLT_PRS','''')+' and pa.adrsrccod=p.prscod '
			+ ' inner join GRL_DAT_LND_REG par on par.lndcod=pa.lndcod and par.lndregcod=pa.lndregcod '
			+ ' left join GRL_DAT_ZON z on z.buscod=pa.buscod and z.adrzoncod=pa.adrzoncod '
			+ ' left join GRL_DAT_LND_TWN pat on pat.lndcod=pa.lndcod and pat.lndregcod=pa.lndregcod and pat.lndtwncod=pa.lndtwncod ',
			--+ ' left join GRL_DAT_LND_TWN_GRP_ZNE patgz on patgz.lndcod=pa.lndcod and patgz.lndregcod=pa.lndregcod and patgz.lndtwncod=pa.lndtwncod '
			--+ ' left join GRL_DAT_LND_TWN_GRP patg on patg.lndcod=patgz.lndcod and patg.lndtwngrpcod=patgz.lndtwngrpcod ',
			' a.buscod='+QUOTENAME(@lp_buscod,'''')+' and a.docsts='+QUOTENAME('A','''')+' and p.docsts='+QUOTENAME('A','''')+' and s.docsts='+QUOTENAME('A',''''),
			' a.hltagrtxt ',
			default)
		execute( @lv_sql )
		
	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
