USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_TKN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SYS_SEC_USR_TKN_DEF]

@lp_sysoperation 	as nvarchar(5),			-- operaciÃ³n
@lp_username 		as nvarchar(20),		-- operaciÃ³n - usuario
@lp_acctkncod		as int			= null,	-- id
@lp_usrcod			as nvarchar(20)	= null,	-- id usuario
@lp_acctkn			as nvarchar(400)= null,	-- token

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_errcod			as int= null OUTPUT,
@lp_errtxt			as nvarchar(400)= null OUTPUT

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_acctkn as uniqueidentifier
if(@lp_acctkn='')
	set @lv_acctkn = null
else 
	set @lv_acctkn = CAST(@lp_acctkn as uniqueidentifier)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- valido el nivel de autorizaciÃ³n
		IF not exists(select top 1 * from sys_sec_usr where usrcod=@lp_usrcod and docsts='A')
			BEGIN
				SELECT null, -1 as errcod, 'CÃ³digo de usuario invÃ¡lido o inhabilitado.' as errtxt
				RETURN
			END
	
	END
	
	
	
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1    

		IF not exists(select top 1 * from sys_sec_usr_tkn where usrcod=@lp_usrcod and acctknenddte>getdate() and docsts='A')
			begin

				BEGIN TRAN


				-- determino cuanto tiempo es vÃ¡lido el token
				declare @lv_acctknenddte as smalldatetime
				if dbo.getTagValue( @lp_vewcfg , 'tkntyp' )='password_recovery'
					set @lv_acctknenddte = dateadd(hh,1,getdate())
				else
					set @lv_acctknenddte = dateadd(d,7,getdate())

				INSERT INTO sys_sec_usr_tkn (usrcod, acctkn, acctknenddte, docsts, ctedte, cteusr)
				VALUES (@lp_usrcod, NEWID(), @lv_acctknenddte,'A', getdate(), @lp_username)
				SET @lp_acctkncod=@@IDENTITY
				SET @lv_errcod=@@ERROR
		
				IF @lv_errcod=0
					BEGIN
						COMMIT TRAN
						
            IF @lp_sysoperation='01'
              select top 1 acctkncod, 0 as errcod, null as errtxt, acctkn, acctknenddte, usrcod
              from sys_sec_usr_tkn 
              where usrcod=@lp_usrcod 
                and acctknenddte>getdate() 
                and docsts='A'
					END
				ELSE
					BEGIN
						ROLLBACK TRAN		
            
            IF @lp_sysoperation='01_sp'
            	BEGIN
              	SET @lp_errcod = @lv_errcod
              	SET @lp_errtxt = dbo.GetErrorDescription( @lv_errcod )
              END
            ELSE
							SELECT @lp_acctkncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt, null as acttkn, null as acctknenddte, null as usrcod
					END

			end
		else
      IF @lp_sysoperation='01'
				begin
          select top 1 acctkncod, 0 as errcod, null as errtxt, acctkn, acctknenddte, usrcod
          from sys_sec_usr_tkn 
          where usrcod=@lp_usrcod 
            and acctknenddte>getdate() 
            and docsts='A'
				
				end

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		select top 1 acctkncod, 0 as errcod, null as errtxt, acctkn, usrcod
		from sys_sec_usr_tkn 
		where usrcod=@lp_usrcod 
			and acctknenddte>getdate()
			and acctkn=@lv_acctkn
			and docsts='A'

	END	


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- sys_sec_usr_tkn_def '08','temasis'
		
		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, u.usrtxt '
			+ ' FROM sys_sec_usr_tkn t '
			+ ' inner join SYS_SEC_USR u on u.usrcod=t.usrcod '
			+ ' WHERE 1=1 '
			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' t.usrcod, t.acctknenddte desc ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 3    -    V E R    T O K E N    D E    U S U A R I O
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		select top 1 acctkncod, 0 as errcod, null as errtxt, acctkn, usrcod
		from sys_sec_usr_tkn 
		where usrcod=@lp_usrcod
			and acctknenddte>getdate()
			and usrcod=@lp_usrcod
			and docsts='A'

	END	
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END




GO
