USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_MOV_MDL_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_MOV_MDL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),

@lp_finmovmdlcod	as int			= null,	-- id documento
@lp_finmovmdlcodext	as nvarchar(20) = null,	-- nro documento
@lp_finmovmdltxt	as nvarchar(50) = null,	-- descripcion
@lp_curcod			as nvarchar(5)	= null,	-- moneda
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista
@lp_finmovmdlacc			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_errtyp			as nvarchar(10)	= null OUTPUT,
@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(max)= null OUTPUT

AS

SET NOCOUNT ON

declare @lv_validop as INT = 0
declare @lv_errcod as int = 0
declare @lv_errtxt as nvarchar(max)
declare @lv_errmat as nvarchar(max)

declare @lv_row	as nvarchar(max)
declare @lv_finmovmdlacccod	as int 
declare @lv_finacccod	as int 
declare @lv_finacctxt	as nvarchar(50) 
declare @lv_finmovdocacctot	as decimal
declare @lv_finmovdocaccblc	as nvarchar(1)
declare @lv_docsts as nvarchar(2)	
declare @lv_deleted as nvarchar(2)	
declare @lv_i as int = 0 
declare @lv_i_deleted as int = 0 

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
IF exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MDL'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
  IF not isnull(@lp_finmovmdlcodext,'')='' 
    BEGIN
      IF exists(select top 1 * from FIN_MOV_MDL where buscod=@lp_buscod and not finmovmdlcod=@lp_finmovmdlcod and finmovmdlcodext=@lp_finmovmdlcodext)
        BEGIN
          SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
          RETURN
        END
    END
  END
IF @lp_sysoperation = '01' or @lp_sysoperation = '11' or @lp_sysoperation = '01_sp'
  if dbo.gettagvalue('row',@lp_finmovmdlacc) = ''
  	begin
  	select 'E' as errtyp, -2 as errcod, 'Debe existir al menos 1 cuenta' as errtxt
    return
  	end

  

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
			BEGIN TRAN

		INSERT INTO FIN_MOV_MDL (buscod, finmovmdlcodext, finmovmdltxt, curcod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_finmovmdlcodext, @lp_finmovmdltxt, @lp_curcod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_finmovmdlcod = @@IDENTITY
    
		while not @lp_finmovmdlacc='' and @lv_i<500 and @lv_errcod=0
    	begin
        SET @lv_row = dbo.gettagvalue('row',@lp_finmovmdlacc)
        SET @lv_finacccod = convert(int,dbo.gettagvalue('finacccod',@lv_row))
        SET @lv_finacctxt = dbo.gettagvalue('finacctxt',@lv_row)
        SET @lv_finmovdocacctot = convert(decimal,dbo.gettagvalue('finmovdocacctot',@lv_row))
        SET @lv_finmovdocaccblc = dbo.gettagvalue('finmovdocaccblc',@lv_row)
        SET @lv_docsts = dbo.gettagvalue('docsts',@lv_row)
        INSERT INTO FIN_MOV_MDL_ACC (buscod, finmovmdlcod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, cteusr, ctedte) 
        VALUES (@lp_buscod, @lp_finmovmdlcod, @lv_finacccod, @lv_finacctxt, @lv_finmovdocacctot, @lv_finmovdocaccblc, @lv_docsts, @lp_username, getdate())
        SET @lv_errcod=@@ERROR
        SET @lv_finmovmdlacccod = @@IDENTITY
        if not @lv_errcod = 0
          begin
            set @lv_errcod=-1
            set @lv_errtxt = 'Se produjo un error al guardar las cuentas'
            set @lp_finmovmdlacc = ''
          end
        else
        	begin
            set @lp_finmovmdlacc = substring(@lp_finmovmdlacc,len(@lv_row)+12,len(@lp_finmovmdlacc)-len(@lv_row)-10)
            set @lv_i = @lv_i + 1
          end
    	end
          
		IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
    	begin
    	IF @lv_errcod=0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN
      SELECT @lp_finmovmdlcod as finmovmdlcod, @lp_errcod as errcod, @lp_errtyp as errtyp, dbo.GetErrorDescription( @lp_errcod ) as errtxt
      end
    ELSE
      SELECT @lp_finmovmdlcod as finmovmdlcod, @lp_errcod as errcod, @lp_errtyp as errtyp, dbo.GetErrorDescription( @lp_errcod ) as errtxt
      return
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12' or @lp_sysoperation = '02_sp'
	BEGIN
		SET @lv_validop = 1
		
		IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
			BEGIN TRAN

		UPDATE FIN_MOV_MDL
		SET	finmovmdlcodext= @lp_finmovmdlcodext,
			finmovmdltxt = @lp_finmovmdltxt, 
			curcod = @lp_curcod,
      docsts = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and finmovmdlcod=@lp_finmovmdlcod
		SET @lv_errcod = @@ERROR
		
    while not @lp_finmovmdlacc='' and @lv_i<500 and @lv_errcod=0
    	begin
        SET @lv_row = dbo.gettagvalue('row',@lp_finmovmdlacc)
        if dbo.gettagvalue('finmovmdlacccod',@lv_row)=''
        	set @lv_finmovmdlacccod = null
        else
        	set @lv_finmovmdlacccod = convert(decimal,dbo.gettagvalue('finmovmdlacccod',@lv_row))
        SET @lv_finacccod = convert(int,dbo.gettagvalue('finacccod',@lv_row))
        SET @lv_finacctxt = dbo.gettagvalue('finacctxt',@lv_row)
        SET @lv_finmovdocacctot = convert(decimal,dbo.gettagvalue('finmovdocacctot',@lv_row))
        SET @lv_finmovdocaccblc = dbo.gettagvalue('finmovdocaccblc',@lv_row)
        SET @lv_docsts = dbo.gettagvalue('docsts',@lv_row)
        SET @lv_deleted = dbo.gettagvalue('deleted',@lv_row)
        
        if isnull(@lv_finmovmdlacccod,'')=''
        	BEGIN
          	INSERT INTO FIN_MOV_MDL_ACC (buscod, finmovmdlcod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, cteusr, ctedte) 
       			VALUES (@lp_buscod, @lp_finmovmdlcod, @lv_finacccod, @lv_finacctxt, @lv_finmovdocacctot, @lv_finmovdocaccblc, @lv_docsts, @lp_username, getdate())
            SET @lv_errcod=@@ERROR
            SET @lv_finmovmdlacccod = @@IDENTITY
          END
        
        else
          if @lv_deleted = 'X'
              BEGIN
              	SET @lv_i_deleted = @lv_i_deleted+1
                DELETE 
                FROM FIN_MOV_MDL_ACC 
                WHERE buscod = @lp_buscod
                  and finmovmdlacccod = @lv_finmovmdlacccod
                SET @lv_errcod=@@ERROR
              END
          
          else
          	BEGIN
              UPDATE FIN_MOV_MDL_ACC 
              SET
               finacccod = @lv_finacccod, 
               finacctxt = @lv_finacctxt, 
               finmovdocacctot = @lv_finmovdocacctot, 
               finmovdocaccblc = @lv_finmovdocaccblc, 
               updusr = @lp_username,
               upddte = getdate()
              WHERE buscod = @lp_buscod
                and finmovmdlacccod = @lv_finmovmdlacccod
              SET @lv_errcod = @@ERROR
           END
	
        if not @lv_errcod = 0
          begin
            set @lv_errcod=-2
            set @lv_errtxt = 'Se produjo un error al guardar las cuentas'
            set @lp_finmovmdlacc = ''
          end
        else
        	begin
            set @lp_finmovmdlacc = substring(@lp_finmovmdlacc,len(@lv_row)+12,len(@lp_finmovmdlacc)-len(@lv_row)-10)
            set @lv_i = @lv_i + 1
          end
    	end
    
    IF @lv_i_deleted = @lv_i
    	BEGIN
        SET @lv_errcod = -2
        SET @lv_errtxt = 'Debe existir al menos 1 cuenta'
      END
		-- FLUJO. no se actualiza ya que la referencia es por documento completo
		IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
    	begin
      IF @lv_errcod=0 
      	BEGIN
        COMMIT TRAN
        SELECT @lp_finmovmdlcod as finmovmdlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
        END
      ELSE
      	BEGIN
      	IF @lv_errcod = -2
          SELECT @lp_finmovmdlcod as finmovmdlcod, @lv_errcod as errcod, @lv_errtxt as errtxt
        ELSE
          SELECT @lp_finmovmdlcod as finmovmdlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
        ROLLBACK TRAN
        END
      end
		ELSE
			SELECT @lp_finmovmdlcod as finmovmdlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
      RETURN
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13' 
	BEGIN
		SET @lv_validop = 1

		SELECT d.*
    FROM FIN_MOV_MDL d
    WHERE d.buscod = @lp_buscod
     and d.finmovmdlcod = @lp_finmovmdlcod
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14' 
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- borro cuentas del documento
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM FIN_MOV_MDL_ACC 
				WHERE buscod = @lp_buscod
				  and finmovmdlcod = @lp_finmovmdlcod
				SET @lv_errcod=@@ERROR
			END

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM FIN_MOV_MDL 
				WHERE buscod = @lp_buscod
				  and finmovmdlcod = @lp_finmovmdlcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_finmovmdlcod as finmovmdlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18' 
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' d.* ', 'FIN_MOV_MDL d', 
    	' d.buscod='+QUOTENAME(@lp_buscod,''''),
			' d.ctedte DESC ', default)
		execute( @lv_sql )
		
	END	
  


-- ------------------------------------------------------------------------
--   2 3    -    V E R   C U E N T A S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1

		SELECT da.*
    FROM FIN_MOV_MDL_ACC da
    WHERE da.buscod = @lp_buscod
     and da.finmovmdlcod = @lp_finmovmdlcod
		
	END
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
