USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_PYT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TSR_PYT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,		/* empresa */
@lp_tsrpytdte		as nvarchar(14)	 = null,		/* fecha */
@lp_cshcod			as nvarchar(10)	 = null,		/* tipo de caja */
@lp_tsrpytcod		as int			 = null,		/* código */
@lp_tsrpytnum		as nvarchar(10)	 = null,		/* recibo */
@lp_ptnnum			as int			 = null,		/* id de socio */
@lp_tsrdefcmt		as nvarchar(50)  = null,		/* concepto */
@lp_tsrpytcsh		as bigint		 = null,		/* importe */
@lp_docsts 			as nvarchar(2)	 = null,
@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_tsrpytcsh as decimal(13,3)
set @lv_tsrpytcsh = dbo.ConvertNumber( @lp_tsrpytcsh , 3 )

declare @lv_tsrpytdte as datetime
set @lv_tsrpytdte = dbo.ConvertDate( @lp_tsrpytdte )



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

			BEGIN TRAN
				
			/* agrego la cobranza */
			INSERT INTO TSR_PYT
				(buscod, tsrpytdte, cshcod, tsrpytnum, 
				ptnnum, tsrdefcmt, tsrpytcsh,
				docsts, cteusr, ctedte)
			VALUES 
				(@lp_buscod, @lv_tsrpytdte, @lp_cshcod, @lp_tsrpytnum, 
				@lp_ptnnum, @lp_tsrdefcmt, @lv_tsrpytcsh,				
				@lp_docsts, @lp_username, getdate() )  
			SET @lv_errcod = @@ERROR
			SET @lp_tsrpytcod=@@IDENTITY

			IF @lv_errcod=0
				/* aplico el valor a los saldos más antiguos */
				BEGIN
					declare @lv_cur_tsrdbtptncod as int
					declare @lv_cur_tsrdefcsh as decimal(13,3)
					declare @lv_cur_tsrdefcshrst as decimal(13,3)
					declare @lv_cur_tsrpytcshtot as decimal(13,3)
					set @lv_cur_tsrpytcshtot = @lv_tsrpytcsh
					DECLARE lv_cur CURSOR FOR SELECT tsrdbtptncod, tsrdefcsh, tsrdefcshrst FROM TSR_DBT_PTN WHERE buscod=@lp_buscod and not tsrdefcshrst=0 and ptnnum=@lp_ptnnum
					OPEN lv_cur
					FETCH NEXT FROM lv_cur INTO @lv_cur_tsrdbtptncod, @lv_cur_tsrdefcsh, @lv_cur_tsrdefcshrst
					WHILE @@FETCH_STATUS=0 and @lv_cur_tsrpytcshtot>0 and @lv_errcod=0
						BEGIN
							IF @lv_cur_tsrpytcshtot>=@lv_cur_tsrdefcshrst
								BEGIN
									SET @lv_cur_tsrpytcshtot=@lv_cur_tsrpytcshtot-@lv_cur_tsrdefcshrst
									SET @lv_cur_tsrdefcshrst = 0
								END
							ELSE
								BEGIN
									SET @lv_cur_tsrdefcshrst=@lv_cur_tsrdefcshrst-@lv_cur_tsrpytcshtot
									SET @lv_cur_tsrpytcshtot=0
								END
							
							/* agrego la relación pago-deuda */
							INSERT INTO TSR_PYT_PTN (BusCod, TsrDbtPtnCod, TsrPytCod, TsrDefCsh, TsrDefCshApl)
							SELECT @lp_buscod, @lp_tsrpytcod, @lv_cur_tsrdbtptncod, @lv_cur_tsrdefcsh, @lv_cur_tsrdefcshrst
							SET @lv_errcod = @@ERROR
							
							/* actualizo el saldo de la deuda */
							IF @lv_errcod=0
								BEGIN
									UPDATE TSR_DBT_PTN 
									SET tsrdefcshrst=@lv_cur_tsrdefcshrst 
									WHERE buscod=@lp_buscod and tsrdbtptncod=@lv_cur_tsrdbtptncod
									SET @lv_errcod = @@ERROR
								END
							
							FETCH NEXT FROM lv_cur INTO @lv_cur_tsrdbtptncod, @lv_cur_tsrdefcsh, @lv_cur_tsrdefcshrst
						END
					CLOSE lv_cur
					DEALLOCATE lv_cur
				END

			IF @lv_errcod=0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN
			
			SELECT @lp_tsrpytcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
						
	END
	


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*, p.ptntxt
		FROM TSR_PYT t
			inner join spt_ptn p on p.buscod=t.buscod and p.ptnnum=t.ptnnum
		WHERE t.buscod	= @lp_buscod
		  and t.tsrpytcod = @lp_tsrpytcod
		  and p.deldte is null
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		DELETE 
		FROM TSR_PYT
		WHERE buscod = @lp_buscod
		  and tsrpytcod = @lp_tsrpytcod

		IF @@ERROR = 0
			SELECT @lp_tsrpytcod
		ELSE
			SELECT '' WHERE 1=2

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, p.ptnnum, p.ptntxt '
			+ ' FROM TSR_PYT t '
			+ ' INNER JOIN Spt_ptn p ON p.buscod=t.buscod and p.ptnnum=t.ptnnum '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and t.docsts='+QUOTENAME('A','''')
			+ '   and p.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
