USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_CRE_PLN_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_CRE_PLN_MAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_patcreplncod	as int			= null, -- id plan cuidado
@lp_patcreplnmatcod	as int			= null,	-- id plan cuidado - material
@lp_matcod			as int			= null,	-- id material
@lp_mattxt			as nvarchar(50)	= null,	-- texto material
@lp_matqty			as bigint		= null,	-- cantidad
@lp_matuntcod		as nvarchar(05)	= null,	-- uni med
@lp_matfrq			as nvarchar(03)	= null,	-- frecuencia
@lp_matfrqqty		as bigint		= null,	-- frecuencia - cantidad
@lp_matcmt			as nvarchar(max)= null,	-- comentarios
@lp_docsts			as nvarchar(02) = null,	-- estado

@lp_vewcfg			as nvarchar(max)= null -- config vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT SET @lv_validop = 0
DECLARE @lv_errcod INT SET @lv_errcod = 0
DECLARE @lv_sql nvarchar(max) 
DECLARE @lv_matqty as decimal(9,3) set @lv_matqty = dbo.ConvertNumber( @lp_matqty, 3 )
DECLARE @lv_matfrqqty as decimal(9,3) set @lv_matfrqqty = dbo.ConvertNumber( @lp_matfrqqty, 3 )



-- ----------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation = '02'
	BEGIN

		if isnull(@lp_mattxt,'')='' and not isnull(@lp_matcod,0)=0
			set @lp_mattxt = (select top 1 mattxt from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

		if isnull(@lp_matuntcod,'')='' and not isnull(@lp_matcod,0)=0
			set @lp_matuntcod = (select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

	END



-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO hlt_pat_cre_pln_mat ( buscod, patcreplncod, matcod, mattxt, matqty, matuntcod, matfrq, matfrqqty, matcmt,
			docsts, ctedte, cteusr )
		VALUES ( @lp_buscod, @lp_patcreplncod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lp_matfrq, @lv_matfrqqty, @lp_matcmt,
			'A', getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_patcreplnmatcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patcreplnmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE hlt_pat_cre_pln_mat
		SET matcod=@lp_matcod,
			mattxt=@lp_mattxt,
			matqty=@lv_matqty, 
			matuntcod=@lp_matuntcod,
			matfrq=@lp_matfrq,
			matfrqqty=@lv_matfrqqty,
			matcmt=@lp_matcmt,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
			and patcreplnmatcod=@lp_patcreplnmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patcreplnmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pm.*, m.matcodext, mc.matclstxt
		FROM hlt_pat_cre_pln p
			inner join hlt_pat_cre_pln_mat pm on pm.buscod=p.buscod and pm.patcreplncod=p.patcreplncod
			left join stk_mat m on m.buscod=pm.buscod and m.matcod=pm.matcod
      left join stk_mat_cls mc on mc.buscod=m.buscod and mc.matclscod=m.matclscod
		WHERE p.buscod=@lp_buscod
		  and pm.patcreplnmatcod=@lp_patcreplnmatcod

	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM hlt_pat_cre_pln_mat
		WHERE buscod=@lp_buscod
			and patcreplnmatcod=@lp_patcreplnmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patcreplnmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' pm.*, m.matcodext, mc.matclstxt , dc.sysdocclscodext, dc.sysdocclscod',
			' hlt_pat_cre_pln p '
			+ ' inner join hlt_pat_cre_pln_mat pm on pm.buscod=p.buscod and pm.patcreplncod=p.patcreplncod '
			+ ' left join stk_mat m on m.buscod=pm.buscod and m.matcod=pm.matcod '
			+ ' left join stk_mat_cls mc on mc.buscod=m.buscod and mc.matclscod=m.matclscod '
			+ ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=m.sysdocclscod ',
			' p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and pm.docsts='+QUOTENAME(@lp_docsts,'''') end),
			default, default)
		execute( @lv_sql )

	END


IF @lv_validop = 0		--  C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
