USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_MOV_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TSR_MOV_TYP_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_tsrmovtypcod	as int			= null,	-- id
@lp_tsrmovtypcodext	as nvarchar(20) = null,	-- codigo
@lp_tsrmovtyptxt	as nvarchar(50) = null,	-- descripción 
@lp_tsrmovtypblc	as nvarchar(10)	= null,	-- Saldo Debe/Haber 
@lp_finacccod		as nvarchar(10)	= null,	-- id cuenta 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 
@lp_vewcfg			as nvarchar(max)=null	-- configuración de la vista 


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ----------------------------------------------------------------------------
--   E R R O R E S
-- ----------------------------------------------------------------------------
--	-1	El código ya existe
-- ----------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		-- valido que el Codigo no exista
		IF exists(select top 1 * from TSR_MOV_TYP where buscod=@lp_buscod and not tsrmovtypcod=@lp_tsrmovtypcod and tsrmovtypcodext=@lp_tsrmovtypcodext)
			BEGIN
				SELECT null, -1 as errcod, 'El codigo ya existe.' as errtxt
				RETURN
			END


	end


-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 
				
		BEGIN TRAN
		
		INSERT INTO TSR_MOV_TYP (buscod, tsrmovtypcodext, tsrmovtyptxt, tsrmovtypblc, finacccod,
				docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_tsrmovtypcodext, @lp_tsrmovtyptxt, @lp_tsrmovtypblc, @lp_finacccod,
			@lp_docsts, @lp_username, getdate() )	
		SET @lv_errcod = @@ERROR
		SET @lp_tsrmovtypcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tsrmovtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
	

-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE TSR_MOV_TYP 
		SET	tsrmovtypcodext = @lp_tsrmovtypcodext,
			tsrmovtyptxt = @lp_tsrmovtyptxt,
			tsrmovtypblc = @lp_tsrmovtypblc,
			finacccod	= @lp_finacccod,	
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and tsrmovtypcod = @lp_tsrmovtypcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tsrmovtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*, a.FinAccTxt
		FROM TSR_MOV_TYP t
		left join FIN_ACC a on a.BusCod=t.BusCod and a.FinAccCod=t.finacccod
		WHERE t.buscod= @lp_buscod
		  and t.tsrmovtypcod = @lp_tsrmovtypcod
		  
	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
					
		BEGIN TRAN		
		
		DELETE 
		FROM TSR_MOV_TYP
		WHERE buscod = @lp_buscod
			and tsrmovtypcod = @lp_tsrmovtypcod
		SET @lv_errcod=@@ERROR
						
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tsrmovtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, a.finacctxt '
			+ ' FROM TSR_MOV_TYP t '
			+ ' left join fin_acc a on a.buscod=t.buscod and a.finacccod=t.finacccod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
