USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_SEC_GRP_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20)	= null,		/* empresa */
@lp_usrgrpcod		as nvarchar(20)	= null,		/* código de grupo */
@lp_usrgrptxt		as nvarchar(30)	= null,		/* descripción */
@lp_docsts			as nvarchar(1)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null,		/* configuración vista */

@lp_usrautlvl		as int			= null,		/* nivel de autorización */
@lp_usrgrpatr001	as nvarchar(4000)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

if @lp_usrgrpcod = '%%'
	set @lp_usrgrpcod = '**'


/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-3	Código de grupo existente.											*/
/*	-4	No se puede asignar un nivel de autorización al propio.				*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	
		/* valido el nivel de autorización */
		IF isnull(@lp_usrautlvl,0)>isnull((select top 1 usrautlvl from sys_sec_usr where usrcod=@lp_username),0)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede asignar un nivel de autorización mayor al propio.' as errtxt
				RETURN
			END
	
	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from sys_sec_grp where buscod=@lp_buscod and usrgrpcod=@lp_usrgrpcod)
			BEGIN
				SELECT null, -2 as errcod, 'Código de grupo existente.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		INSERT INTO sys_sec_grp (buscod, usrgrpcod, usrgrptxt, docsts, ctedte, cteusr, usrautlvl, usrgrpatr001)
		VALUES (@lp_buscod, @lp_usrgrpcod, @lp_usrgrptxt, @lp_docsts, getdate(), @lp_username, @lp_usrautlvl,@lp_usrgrpatr001)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		select @lp_usrgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_sec_grp 
		SET	usrgrptxt = @lp_usrgrptxt,
			usrautlvl = @lp_usrautlvl,
			usrgrpatr001=@lp_usrgrpatr001,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and usrgrpcod = @lp_usrgrpcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		select @lp_usrgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM sys_sec_grp
		WHERE buscod = @lp_buscod
		  and usrgrpcod = @lp_usrgrpcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		IF exists(select top 1 * from SYS_SEC_LNK where buscod=@lp_buscod and UsrGrpCod=@lp_usrgrpcod)
			begin
				select null, -1 as errcod, 'Existen enlaces de seguridad asignados.' as errtxt
				return
			end

		BEGIN TRAN

		/* borro permisos de grupo */
		DELETE FROM sys_sec_per 
		WHERE buscod=@lp_buscod 
		  and grpcod=@lp_usrgrpcod 
		  and usrcod='**'
		SET @lv_errcod=@@ERROR
		
		/* borro asignación grupo-usuarios */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_usr_grp
				WHERE usrgrpcod=@lp_usrgrpcod
				SET @lv_errcod=@@ERROR
			END
		
		/* borro asignación de directivas */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_drt_grp_asg WHERE buscod=@lp_buscod and srcobjtyp='SYS_GRP' and srcobjcod001=@lp_usrgrpcod
				SET @lv_errcod=@@ERROR
			END

		/* borro grupo */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_grp 
				WHERE buscod=@lp_buscod 
				  and usrgrpcod = @lp_usrgrpcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		select @lp_usrgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM sys_sec_grp '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and not usrgrpcod='+QUOTENAME('**','''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'usrgrptxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
