USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_LST_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[STK_MAT_LST_MAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_matlstmatcod	as int				= null, /* id */
@lp_matlstcod 		as int				= null,	/* id lista */
@lp_srcobjtyp		as nvarchar(20)		= null,	/* objeto origen - tipo */
@lp_srcobjcod		as int				= null,	/* objeto origen - codigo */
@lp_matqty			as bigint			= null,	/* cantidad */
@lp_matuntcod		as nvarchar(05)		= null,	/* unidad de medida */
@lp_docsts 			as nvarchar(02)		= null,	/* estado */

@lp_vewcfg			as nvarchar(400)	= null	/* configuración vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_errtxt as nvarchar(250)

declare @lv_sql as nvarchar(4000)

declare @lv_matqty as decimal(13,3)
set @lv_matqty = dbo.ConvertNumber( @lp_matqty , 3 )


/* ------------------------------------------------------------------------ */
/* FALTA: evitar la recursividad hacia adelante y hacia atras				*/
/* ==> hacia adelante: para cada lista de material de la lista actual,		*/
/*							guardar el id									*/
/*							obtener las listas de materiales siguientes		*/
/*								si se repite alguno entonces es recursivo	*/
/* ==> hacia atras: para la lista de material actual, buscar las listas de materiales que lo contienen y guardar los id. si se repiten entonces es recursivo */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* creo registro de material */
		INSERT INTO STK_MAT_LST_MAT (buscod, matlstcod, srcobjtyp, srcobjcod, matqty, matuntcod, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_matlstcod, @lp_srcobjtyp, @lp_srcobjcod, @lv_matqty, @lp_matuntcod, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_matlstmatcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_matlstmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* actualizo registro de material */
		UPDATE STK_MAT_LST_MAT
		SET	srcobjtyp=@lp_srcobjtyp,
			srcobjcod=@lp_srcobjcod,
			matqty = @lv_matqty,
			matuntcod = @lp_matuntcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
			and matlstmatcod=@lp_matlstmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_matlstmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ml.*, sm.mattxt, sl.MatLstTxt
		FROM STK_MAT_LST_MAT ml
		left join STK_MAT sm on sm.buscod=ml.buscod and ml.srcobjtyp='STK_MAT' and sm.matcod=ml.srcobjcod
		left join STK_MAT_LST sl on sl.buscod=ml.buscod and ml.srcobjtyp='STK_MTL' and sl.MatLstCod=ml.srcobjcod 
		WHERE ml.buscod=@lp_buscod
		  and ml.matlstcod = @lp_matlstcod
		
	END




/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM STK_MAT_LST_MAT
		WHERE buscod=@lp_buscod
			and matlstmatcod=@lp_matlstmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_matlstmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		/* stk_mat_lst_mat_def '08','mdominguez','temasis_log' */

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' mlm.*, m.mattxt as srcobjtxt, ml.matlsttxt, dbo.gettagvalue( '+QUOTENAME('matstkrel','''') +', mdc.sysdocclsatr ) as matstkrel, m.matusebch, m.matuseser  '
			+ ' FROM STK_MAT_LST ml '
			+ ' inner join STK_MAT_LST_MAT mlm on mlm.buscod=ml.buscod and mlm.matlstcod=ml.matlstcod '
			+ ' left join STK_MAT m on m.buscod=mlm.buscod and mlm.srcobjtyp='+QUOTENAME('STK_MAT','''')+' and m.matcod=mlm.srcobjcod '
			+ ' left join SYS_DOC_CLS mdc on mdc.buscod=m.buscod and mdc.sysdocclscod=m.sysdocclscod '
			+ ' WHERE ml.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'ml.matlsttxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		print @lv_sql

	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
