USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_MOV_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_MOV_DOC_DEF]

@lp_sysoperation 	as nvarchar(5), 
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20), 

@lp_finmovdoccod	as int			= null,	-- id documento
@lp_finmovdoccodext	as nvarchar(20) = null,	-- nro documento
@lp_finmovdoctxt	as nvarchar(50) = null,	-- descripcion
@lp_finmovdocdte	as nvarchar(14)	= null,	-- fecha documento
@lp_finmovdocaccdte	as nvarchar(14)	= null,	-- fecha contable
@lp_accobjtyp 		as nvarchar(20)	= null,	-- objeto referencia - tipo (x ej. BUY_SUP)
@lp_accobjcod 		as int			= null,	-- objeto referencia - id
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- objeto imputacion - tipo (x ej. BUY_INV)
@lp_srcobjcod		as int			= null,	-- objeto imputaciÃ³n - id
@lp_sysdocclscod	as int			= null,	-- id clase documento
@lp_curcod			as nvarchar(5)	= null,	-- moneda
@lp_curexcrte		as bigint		= null,	-- t/c
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_finmovdocacc			as nvarchar(max)= null,

@lp_errtyp			as nvarchar(10)	= null OUTPUT,
@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(max)= null OUTPUT

AS

SET NOCOUNT ON

declare @lv_validop as INT = 0
declare @lv_errcod as int = 0
declare @lv_errtxt as nvarchar(max) 
declare @lv_errmat as nvarchar(max)
declare @lv_finmovdocdte as smalldatetime = dbo.ConvertDate( @lp_finmovdocdte )
declare @lv_finmovdocaccdte as smalldatetime = dbo.ConvertDate( @lp_finmovdocaccdte )
declare @lv_curexcrte as decimal(13,6) = dbo.ConvertNumber( @lp_curexcrte, 3 )
declare @lv_objtyp as nvarchar(20)
declare @lv_srcobjtxt as nvarchar(500) 
declare @lv_finmovdocdtecnv as nvarchar(50)
declare @lv_fscpercod as int

declare @lv_row	as nvarchar(max)
declare @lv_finmovdocacccod	as int 
declare @lv_finacccod	as int 
declare @lv_finacctxt	as nvarchar(50) 
declare @lv_finmovdocacctot	as decimal
declare @lv_finmovdocaccblc	as nvarchar(1)
declare @lv_finmovdocaccblc2	as nvarchar(1)
declare @lv_docsts as nvarchar(2)	
declare @lv_deleted as nvarchar(2)	
declare @lv_i as int = 0 
declare @lv_i_deleted as int = 0 

declare @lv_sql as nvarchar(max)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------

if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MOV'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11' or @lp_sysoperation = '01_sp'
  if dbo.gettagvalue('row',@lp_finmovdocacc) = ''
  	begin
  	select 'E' as errtyp, -2 as errcod, 'Debe existir al menos 1 cuenta' as errtxt
    return
  	end
    
  
  
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1
    
    IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
			BEGIN TRAN
      
		set @lv_fscpercod = (select top 1 fscpercod from FIN_FSC_PER where buscod=@lp_buscod and @lv_finmovdocdte between fscperstrdte and fscperenddte and docsts='A')
    
		if isnull(@lv_fscpercod,0)=0
    	begin
      IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
        begin
          SELECT null, -1 as errcod, 'PerÃ­odo fiscal no definido.' as errtxt	
          return
        end
      ELSE
        set @lp_errtyp = 'E'
        set @lp_errcod = @@ERROR
        set @lp_errtxt = dbo.getErrorDescription( @lp_errcod )
        SELECT @lp_errtyp as errtyp, @lp_errcod as errcod, @lp_errtxt
        return
      end
    
    INSERT INTO FIN_MOV_DOC (buscod, finmovdoccodext, finmovdoctxt, finmovdocdte, finmovdocaccdte, curcod, curexcrte, fscpercod, 
      accobjtyp, accobjcod, srcobjtyp, srcobjcod, sysdocclscod,  
      docsts, cteusr, ctedte, sysdoctrecod) 
    VALUES (@lp_buscod, @lp_finmovdoccodext, @lp_finmovdoctxt, @lv_finmovdocdte, @lv_finmovdocaccdte, @lp_curcod, @lv_curexcrte, @lv_fscpercod, 
      @lp_accobjtyp, @lp_accobjcod, @lp_srcobjtyp, @lp_srcobjcod, @lp_sysdocclscod,  
      @lp_docsts, @lp_username, getdate(), 'N')
    SET @lv_errcod=@@ERROR
    SET @lp_finmovdoccod = @@IDENTITY
		
    while not @lp_finmovdocacc='' and @lv_i<500 and @lv_errcod=0
    	begin
        SET @lv_row = dbo.gettagvalue('row',@lp_finmovdocacc)
        SET @lv_finacccod = convert(int,dbo.gettagvalue('finacccod',@lv_row))
        SET @lv_finacctxt = dbo.gettagvalue('finacctxt',@lv_row)
        SET @lv_finmovdocacctot = convert(decimal,dbo.gettagvalue('finmovdocacctot',@lv_row))
        SET @lv_finmovdocaccblc = dbo.gettagvalue('finmovdocaccblc',@lv_row)
        SET @lv_docsts = dbo.gettagvalue('docsts',@lv_row)
        INSERT INTO FIN_MOV_DOC_ACC (buscod, finmovdoccod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, cteusr, ctedte) 
        VALUES (@lp_buscod, @lp_finmovdoccod, @lv_finacccod, @lv_finacctxt, @lv_finmovdocacctot, @lv_finmovdocaccblc, @lv_docsts, @lp_username, getdate())
        SET @lv_errcod=@@ERROR
        SET @lv_finmovdocacccod = @@IDENTITY
        if not @lv_errcod = 0
          begin
            set @lv_errcod=-1
            set @lv_errtxt = 'Se produjo un error al guardar las cuentas'
            set @lp_finmovdocacc = ''
          end
        else 
        	begin
            set @lp_finmovdocacc = substring(@lp_finmovdocacc,len(@lv_row)+12,len(@lp_finmovdocacc)-len(@lv_row)-10)
            set @lv_i = @lv_i + 1
          end
    	end
    
		-- agrego refrencia a flujo de documentos
    
		IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
    	begin
    	IF @lv_errcod=0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN
      SELECT @lp_finmovdoccod as finmovdoccod, @lp_errcod as errcod, @lp_errtyp as errtyp, dbo.GetErrorDescription( @lp_errcod ) as errtxt
      end
    ELSE
      SELECT @lp_finmovdoccod as finmovdoccod, @lp_errcod as errcod, @lp_errtyp as errtyp, dbo.GetErrorDescription( @lp_errcod ) as errtxt
      return
      
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12' or @lp_sysoperation = '02_sp'
	BEGIN
		SET @lv_validop = 1
		
		-- si el documento no estÃ¡ contabilizado, se puede actualizar
		IF (select top 1 docsts from FIN_MOV_DOC where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod)='C'
			BEGIN
				SELECT null, -9 as errcod, 'No se puede actualizar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END
		IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
			BEGIN TRAN
		
		UPDATE FIN_MOV_DOC
		SET	finmovdoccodext= @lp_finmovdoccodext,
			finmovdoctxt = @lp_finmovdoctxt, 
			finmovdocdte=@lv_finmovdocdte,
			finmovdocaccdte=@lv_finmovdocaccdte,
			accobjtyp = @lp_accobjtyp, 
			accobjcod = @lp_accobjcod, 
			srcobjtyp = @lp_srcobjtyp, 
			srcobjcod = @lp_srcobjcod, 
			curcod = @lp_curcod,
			curexcrte = @lv_curexcrte, 
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and finmovdoccod=@lp_finmovdoccod
		SET @lv_errcod = @@ERROR
    
  	while not @lp_finmovdocacc='' and @lv_i<500 and @lv_errcod=0
    	begin
        SET @lv_row = dbo.gettagvalue('row',@lp_finmovdocacc)
        if dbo.gettagvalue('finmovdocacccod',@lv_row)=''
        	set @lv_finmovdocacccod = null
        else
        set @lv_finmovdocacccod = convert(decimal,dbo.gettagvalue('finmovdocacccod',@lv_row))
        SET @lv_finacccod = convert(int,dbo.gettagvalue('finacccod',@lv_row))
        SET @lv_finacctxt = dbo.gettagvalue('finacctxt',@lv_row)
        SET @lv_finmovdocacctot = convert(decimal,dbo.gettagvalue('finmovdocacctot',@lv_row))
        SET @lv_finmovdocaccblc = dbo.gettagvalue('finmovdocaccblc',@lv_row)
        SET @lv_docsts = dbo.gettagvalue('docsts',@lv_row)
        SET @lv_deleted = dbo.gettagvalue('deleted',@lv_row)
        
        if isnull(@lv_finmovdocacccod,'')=''
        	BEGIN
          	INSERT INTO FIN_MOV_DOC_ACC (buscod, finmovdoccod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, cteusr, ctedte) 
        		VALUES (@lp_buscod, @lp_finmovdoccod, @lv_finacccod, @lv_finacctxt, @lv_finmovdocacctot, @lv_finmovdocaccblc, @lv_docsts, @lp_username, getdate())
       			SET @lv_errcod=@@ERROR
        		SET @lv_finmovdocacccod = @@IDENTITY
          END
        
        else
          if @lv_deleted = 'X'
              BEGIN
              	SET @lv_i_deleted = @lv_i_deleted+1
                DELETE 
                FROM FIN_MOV_DOC_ACC 
                WHERE buscod = @lp_buscod
                  and finmovdocacccod = @lv_finmovdocacccod
                SET @lv_errcod=@@ERROR
              END
          
          else
          	BEGIN
              UPDATE FIN_MOV_DOC_ACC 
              SET
               finacccod = @lv_finacccod, 
               finacctxt = @lv_finacctxt, 
               finmovdocacctot = @lv_finmovdocacctot, 
               finmovdocaccblc = @lv_finmovdocaccblc, 
               updusr = @lp_username,
               upddte = getdate()
              WHERE buscod = @lp_buscod
                and finmovdocacccod = @lv_finmovdocacccod
              SET @lv_errcod = @@ERROR
           END
	
        if not @lv_errcod = 0
          begin
            set @lv_errcod=-2
            set @lv_errtxt = 'Se produjo un error al guardar las cuentas'
            set @lp_finmovdocacc = ''
          end
        else
        	begin
            set @lp_finmovdocacc = substring(@lp_finmovdocacc,len(@lv_row)+12,len(@lp_finmovdocacc)-len(@lv_row)-10)
            set @lv_i = @lv_i + 1
          end
    	end
      
		IF @lv_i_deleted = @lv_i
    	BEGIN
        SET @lv_errcod = -2
        SET @lv_errtxt = 'Debe existir al menos 1 cuenta'
      END
		-- FLUJO. no se actualiza ya que la referencia es por documento completo
		IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
    	begin
      IF @lv_errcod=0
      	BEGIN
          COMMIT TRAN
          SELECT @lp_finmovdoccod as finmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
        END
      ELSE
      	BEGIN
          IF @lv_errcod = -2
            SELECT @lp_finmovdoccod as finmovdoccod, @lv_errcod as errcod, @lv_errtxt as errtxt
          ELSE
            SELECT @lp_finmovdoccod as finmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
          ROLLBACK TRAN
        END
      end
		ELSE
			SELECT @lp_finmovdoccod as finmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
      RETURN
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13' 
	BEGIN
		SET @lv_validop = 1

		SELECT d.*
    FROM FIN_MOV_DOC d
    WHERE d.buscod = @lp_buscod
     and d.finmovdoccod = @lp_finmovdoccod
		
	END



-- ------------------------------------------------------------------------
--   3 3    -    V E R   C U E N T A S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '33'
	BEGIN
		SET @lv_validop = 1

		SELECT da.*
    FROM FIN_MOV_DOC_ACC da
    WHERE da.buscod = @lp_buscod
     and da.finmovdoccod = @lp_finmovdoccod
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from FIN_MOV_DOC where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod)='C'
			BEGIN
				SELECT null, -10 as errcod, 'No se puede borrar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		-- obtengo el objeto de la clase de documento
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join FIN_MOV_DOC d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.finmovdoccod=@lp_finmovdoccod)

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_finmovdoccod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro cuentas del documento
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM FIN_MOV_DOC_ACC 
				WHERE buscod = @lp_buscod
				  and finmovdoccod = @lp_finmovdoccod
				SET @lv_errcod=@@ERROR
			END

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM FIN_MOV_DOC 
				WHERE buscod = @lp_buscod
				  and finmovdoccod = @lp_finmovdoccod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_finmovdoccod as finmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18' 
	BEGIN
		SET @lv_validop = 1    
		
    set @lv_sql = dbo.GetSqlSentence( @lp_vewcfg, ' d.*, dc.sysdocclstxt', 
    	' FIN_MOV_DOC d '
      + ' inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod ',
      ' d.buscod=' + QUOTENAME(@lp_buscod,''''), 
      ' d.ctedte DESC', default) 
    execute( @lv_sql )		
	END	
	
	

-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R	(movimiento manual)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '09' or @lp_sysoperation = '19' or @lp_sysoperation = '09_sp'
	BEGIN
		SET @lv_validop = 1    
		
		-- valido estado
		IF (select top 1 docsts from FIN_MOV_DOC where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod)='C'
			BEGIN
				SELECT null, -91 as errcod, 'El documento ya se encuentra contabilizado.' as errtxt
				RETURN
			END
		
		-- valido que el asiento balancee
		IF isnull( (select sum(finmovdocacctot) from FIN_MOV_DOC_ACC where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod and finmovdocaccblc='D'),0) <> isnull( (select sum(finmovdocacctot) from FIN_MOV_DOC_ACC where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod and finmovdocaccblc='H'), 0)
			BEGIN
				SELECT null, -92 as errcod, 'El documento no balancea.' as errtxt
				RETURN
			END
    
    IF isnull( (select sum(finmovdocacctot) from FIN_MOV_DOC_ACC where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod),0) = 0
    	BEGIN
				SELECT null, -93 as errcod, 'El documento no balancea.' as errtxt
				RETURN
			END
    
		-- obtengo datos del documento
		declare @lv_doccodext as nvarchar(20)
		declare @lv_docrngcodint as int
		declare @lv_docrngcodext as int
		declare @lv_sysdocclsatr as nvarchar(max) 
		select @lv_objtyp=dc.objtyp, @lv_docrngcodint=dc.docrngcodint, @lv_docrngcodext=dc.docrngcodext, @lv_sysdocclsatr=dc.sysdocclsatr
		from FIN_MOV_DOC md
		 inner join sys_doc_cls dc on dc.buscod=md.buscod and dc.SysDocClsCod=md.SysDocClsCod
		where md.buscod=@lp_buscod
		  and md.finmovdoccod=@lp_finmovdoccod
    
		-- valido que existan cuentas para el documento
		IF not exists (select top 1 * from FIN_MOV_DOC_ACC where buscod=@lp_buscod and finmovdoccod=@lp_finmovdoccod)
			BEGIN
				SELECT null, -101 as errcod, 'El documento debe contener al menos un item.' as errtxt
				RETURN
			END
      
		BEGIN TRAN
      -- asignaciÃ³n/validaciÃ³n de nÃºmero
      declare @lv_docrngcod as int
      set @lv_docrngcod = (case when not isnull(@lv_docrngcodint,0)=0 then @lv_docrngcodint when not isnull(@lv_docrngcodext,0)=0 then @lv_docrngcodext else 0 end)

      declare @lv_docrngatr as nvarchar(max)
      set @lv_docrngatr =	(case	when not isnull(@lv_docrngcodint,0)=0 then '<docrngcodint>X</docrngcodint>'
                    when not isnull(@lv_docrngcodext,0)=0 then '<docrngcodext>X</docrngcodext>'
                else '' end)

      if not @lv_docrngcod=0
        BEGIN
          declare @lv_docnumint as int
          set @lv_docnumint = convert(int, @lv_doccodext)
          EXECUTE GRL_DAT_DOC_RNG_DEF '11', @lp_username, @lp_buscod,
          @lv_docrngcod,null,null,null,null,null,null,@lv_docrngatr,null,null,@lv_docnumint OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
          set @lv_doccodext = @lv_docnumint
        END
			
      
      -- actualizo cabecera
      -- status = contabilizado / status tratamiento = completo
      IF @lv_errcod=0
        BEGIN
          UPDATE FIN_MOV_DOC 
          SET docsts='C',
            upddte=getdate(),
            updusr=@lp_username
          WHERE buscod=@lp_buscod 
            and finmovdoccod=@lp_finmovdoccod
          SET @lv_errcod=@@ERROR
        END
        
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		SELECT @lp_finmovdoccod as finmovdoccod, @lp_errcod as errcod, @lp_errtyp as errtyp, dbo.GetErrorDescription( @lp_errcod ) as errtxt


	END



-- ------------------------------------------------------------------------
--   2 3    -    C O N T A B I L I Z A R	(analisis de imputacion)
-- analiza las imputaciones de un documento y devuelve ki determinado
-- ------------------------------------------------------------------------
IF @lp_sysoperation='23' or @lp_sysoperation='29'  or @lp_sysoperation = '29_sp'
	BEGIN
		SET @lv_validop = 1    
		declare @lv_acc_sysdocclscod as int
		declare @lv_src_finacccod as int
		declare @lv_doctotamt as decimal(13,5)
		declare @lv_refobjtyp as nvarchar(20)
		declare @lv_refobjcod as nvarchar(20)
		declare @lv_refobjcodext as nvarchar(20)
    declare @i as int
  	SET @i = 1
    
		-- verifico que el parÃ¡metro de contabilizaciÃ³n estÃ© activado
    if not exists(select top 1 * from sys_app_mdl_prm where mdlcod='FIN' and not dbo.GetTagValue('ENABLE_ACCOUNTING', MdlAtrVal001)='')
    begin
    	set @lp_errtyp = 'S'
			set @lp_errcod = 0
			set @lp_errtxt = ''
      return
    end
    
    -- verifico que el documento no estÃ© previamente contabilizado
		if exists(select top 1 * from FIN_MOV_DOC where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod)
			begin
				set @lp_errtyp = 'E'
				set @lp_errcod = -1
				set @lp_errtxt = 'Documento de referencia ya esta contabilizado ['+@lp_srcobjtyp+'/'+cast(@lp_srcobjcod as nvarchar(20))+'].'
				return
			end
      			
		-- obtengo el esquema de precios y las cuentas relacionadas
		select p.prccndtot, p.curcod, p.prccndacccod as finacccod, a.finacctxt
		into #tmp_grl_dat_prc
		from grl_dat_prc p
		inner join fin_acc a on a.buscod=p.buscod and a.finacccod=p.prccndacccod
		where p.buscod=@lp_buscod 
		and p.SrcObjTyp=@lp_srcobjtyp 
		and p.SrcObjCod001=@lp_srcobjcod
		and not isnull(p.prccndacccod,0)=0
		and a.docsts='A'
		order by p.PrcSchCndRow
    
		-- obtengo objeto de imputacion
		if @lp_srcobjtyp='BUY_INV' or @lp_srcobjtyp='BUY_CRE' or @lp_srcobjtyp='BUY_DEB'
			BEGIN
        select top 1 @lv_doctotamt=isnull(buyinvtotamt+(select sum(isnull(prccndtot,0)) from #tmp_grl_dat_prc),0), @lv_refobjtyp=srcobjtyp, @lv_refobjcod=srcobjcod, @lv_finmovdocdte=isnull(buyinvaccdte,getdate()), @lv_refobjcodext=buyinvcodext, @lv_curexcrte=CurExcRte from buy_inv where buscod=@lp_buscod and buyinvcod=@lp_srcobjcod
        select m.matcod, m.mattot, m.curcod, a.finacccod, a.finacctxt 
        into #tmp_buy_inv_mat
        from buy_inv_mat m
        inner join grl_dat_acc da on da.buscod=m.buscod and da.accsrccod= m.matcod
        left join fin_acc a on a.buscod=da.buscod and a.finacccod=da.finacccod
        where m.buscod=@lp_buscod 
        and m.buyinvcod=@lp_srcobjcod
        and da.accsrctyp='STK_MAT'
        and (a.docsts='A' or a.docsts is null)
        
        select * into #tmp_buy_inv_mat_val
        from #tmp_buy_inv_mat 
        
        WHILE @i <= (SELECT COUNT(matcod) FROM #tmp_buy_inv_mat)
        	begin
            if isnull((SELECT top 1 finacccod FROM #tmp_buy_inv_mat_val),0) = 0
              begin
                set @lp_errtyp = 'E'
                set @lp_errcod = -1
                set @lp_errtxt = 'Material de codigo '+ cast((SELECT top 1 matcod FROM #tmp_buy_inv_mat_val) as nvarchar(20)) +' no tiene ninguna cuenta asociada.'
                return
              end
            set @i += 1
            DELETE top (1) FROM #tmp_buy_inv_mat_val 
          end   
        
        set @lv_finmovdocaccblc='H'
        set @lv_finmovdocaccblc2='D'
			END
    if @lp_srcobjtyp='SLS_INV' or @lp_srcobjtyp='SLS_CRE' or @lp_srcobjtyp='SLS_DEB'
			BEGIN
        select top 1 @lv_doctotamt=slsinvtotamt, @lv_refobjtyp=dstobjtyp, @lv_refobjcod=DstObjCod, @lv_finmovdocdte=isnull(slsinvaccdte,getdate()), @lv_refobjcodext=slsinvcodext, @lv_curexcrte=CurExcRte from sls_inv where buscod=@lp_buscod and slsinvcod=@lp_srcobjcod
        select m.matcod, m.mattot, m.curcod, a.finacccod, a.finacctxt 
        into #tmp_sls_inv_mat
        from sls_inv_mat m
        inner join grl_dat_acc da on da.buscod=m.buscod and da.accsrccod= m.matcod
        left join fin_acc a on a.buscod=da.buscod and a.finacccod=da.finacccod
        where m.buscod=@lp_buscod 
        and m.slsinvcod=@lp_srcobjcod
        and da.accsrctyp='STK_MAT'
        and (a.docsts='A' or a.docsts is null)
        
        select *
        into #tmp_sls_inv_mat_val
        from #tmp_sls_inv_mat 
        
        WHILE @i <= (SELECT COUNT(matcod) FROM #tmp_sls_inv_mat)
        	begin
            if isnull((SELECT top 1 finacccod FROM #tmp_sls_inv_mat_val),0) = 0
              begin
                set @lp_errtyp = 'E'
                set @lp_errcod = -1
                set @lp_errtxt = 'Material de codigo '+ cast((SELECT top 1 matcod FROM #tmp_sls_inv_mat_val) as nvarchar(20)) +' no tiene ninguna cuenta asociada.'
                return
              end
            set @i += 1
            DELETE top (1) FROM #tmp_sls_inv_mat_val 
          end   
        set @lv_finmovdocaccblc='D'
        set @lv_finmovdocaccblc2='H'
      END
    if @lp_srcobjtyp='TSR_TIN' or @lp_srcobjtyp='TSR_TOU'
			select top 1 @lv_doctotamt=TsrMovDocTotamt, @lv_refobjtyp=srcobjtyp, @lv_refobjcod=srcObjCod, @lv_finmovdocdte=isnull(tsrmovdocaccdte,getdate()), @lv_refobjcodext=tsrmovdoccodext, @lv_curexcrte=CurExcRte from tsr_mov_doc where buscod=@lp_buscod and tsrmovdoccod=@lp_srcobjcod
			
		-- EDU	LQC / EDU	LQM
		-- HHR	LQD	/ HHR	LQG
		-- HLT	LNS / HLT	LQA / HLT	LQM / HLT	PCR
		-- SLS	SVL
		-- SPT	PTN
		-- STK	ELB / STK	LCK
		-- TSR	CCL / TSR	COP / TSR	MOV
    
		-- verifico si el perÃ­odo contable esta definido
		set @lv_fscpercod = (select top 1 fscpercod from fin_fsc_per where buscod=@lp_buscod and @lv_finmovdocdte between fscperstrdte and fscperenddte and docsts='A')
		if isnull(@lv_fscpercod,0)=0
			begin
				set @lp_errtyp = 'E'
				set @lp_errcod = -1
				set @lp_errtxt = 'PerÃ­odo fiscal no definido .'
				return
			end
		
		-- obtengo cuenta de contrapartida
    --select @lp_buscod as lp_buscod, @lv_refobjtyp as lv_refobjtyp, @lv_refobjcod as lv_refobjcod
    --return
		set @lv_src_finacccod = (select top 1 finacccod from GRL_DAT_ACC where buscod=@lp_buscod and accsrctyp=@lv_refobjtyp and accsrccod=@lv_refobjcod and docsts='A')

		-- devuelvo anÃ¡lisis de determinaciÃ³n de cuentas
		if @lp_sysoperation='23'
			begin

				select top 1 @lv_src_finacccod as finacccod, finacctxt as finacctxt, isnull(@lv_doctotamt,0) as doctotamtdeb, cast(0 as decimal(13,3)) as doctotamthab
				from fin_acc where buscod=@lp_buscod and finacccod=@lv_src_finacccod
				union all
				select p.finacccod as finacccod, p.finacctxt as finacctxt, cast(0 as decimal(13,3)) as doctotamtdeb, isnull(p.prccndtot,0) as doctotamthab
				from #tmp_grl_dat_prc p

			end
		else
			begin
				-- verifico que la determinaciÃ³n de cuentas compense el asiento
				if isnull(@lv_src_finacccod,0)=0
					begin
          	--select @lp_errtyp as errcod return
						set @lp_errtyp = 'E'
						set @lp_errcod = -1
						set @lp_errtxt = 'No se puede determinar cuenta de origen [src='+cast(isnull(@lv_src_finacccod,0) as nvarchar(20))+'].'
						return
					end
        if @lp_srcobjtyp='BUY_INV' or @lp_srcobjtyp='BUY_CRE' or @lp_srcobjtyp='BUY_DEB'	
          if @lv_doctotamt<>((select sum(isnull(prccndtot,0)) from #tmp_grl_dat_prc)+(select sum(isnull(mattot,0)) from #tmp_buy_inv_mat))
            begin
              set @lp_errtyp = 'E'
              set @lp_errcod = -1
              set @lp_errtxt = 'Error en determinaciÃ³n de cuentas [tot='+cast(@lv_doctotamt as nvarchar(20))+'].'
              return
            end
        if @lp_srcobjtyp='SLS_INV' or @lp_srcobjtyp='SLS_CRE' or @lp_srcobjtyp='SLS_DEB'
					if (@lv_doctotamt)<>((select sum(isnull(prccndtot,0)) from #tmp_grl_dat_prc)+(select sum(isnull(mattot,0)) from #tmp_sls_inv_mat))
            begin
              set @lp_errtyp = 'E'
              set @lp_errcod = -1
              set @lp_errtxt = 'Error en determinaciÃ³n de cuentas [tot='+cast(@lv_doctotamt as nvarchar(20))+'].'
              return
            end
			end
	END


-- ------------------------------------------------------------------------
--   2 9    -    C O N T A B I L I Z A R	(documento externo)
-- contabiliza documento (preparado para llamadas externas sin bloque de transaccion
-- ------------------------------------------------------------------------
IF @lp_sysoperation='29' or @lp_sysoperation = '29_sp'
	BEGIN
		SET @lv_validop = 1   
    INSERT INTO FIN_MOV_DOC (buscod, finmovdoccodext, fscpercod, finmovdocdte, finmovdocaccdte, accobjtyp, accobjcod, srcobjtyp, srcobjcod, curcod, curexcrte, docsts, ctedte, cteusr, sysdocclscod)
		VALUES (@lp_buscod, @lp_finmovdoccodext, @lv_fscpercod, @lv_finmovdocdte, @lv_finmovdocaccdte, @lp_accobjtyp, @lp_accobjcod, @lp_srcobjtyp, @lp_srcobjcod, @lp_curcod, @lv_curexcrte, @lp_docsts, getdate(), @lp_username, @lp_sysdocclscod)
		set @lp_finmovdoccod=@@IDENTITY
		set @lv_errcod=@@ERROR
		if not @lv_errcod=0
			begin
				set @lp_errtyp = 'E'
				set @lp_errcod = -1
				set @lp_errtxt = 'Error al crear cabecera de documento contable.'
				return
			end
		-- cargo cuentas de contrapartida
   -- select '@lp_finmovdocacc' + CAST(@lp_finmovdocacc AS NVARCHAR(MAX));
   -- return
  	while not isnull(@lp_finmovdocacc, '')='' and @lv_i<500 and @lv_errcod=0
    	begin
        SET @lv_row = dbo.gettagvalue('row',@lp_finmovdocacc)
        if dbo.gettagvalue('finmovdocacccod',@lv_row)=''
        	set @lv_finmovdocacccod = null
        else
        set @lv_finmovdocacccod = convert(decimal,dbo.gettagvalue('finmovdocacccod',@lv_row))
        SET @lv_finacccod = convert(int,dbo.gettagvalue('finacccod',@lv_row))
        SET @lv_finacctxt = dbo.gettagvalue('finacctxt',@lv_row)
        SET @lv_finmovdocacctot = convert(decimal,dbo.gettagvalue('finmovdocacctot',@lv_row))
        SET @lv_finmovdocaccblc = dbo.gettagvalue('finmovdocaccblc',@lv_row)
        SET @lv_docsts = dbo.gettagvalue('docsts',@lv_row)
        SET @lv_deleted = dbo.gettagvalue('deleted',@lv_row)
        
        insert into FIN_MOV_DOC_ACC (buscod, finmovdoccod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, ctedte, cteusr)
        select top 1 @lp_buscod, @lp_finmovdoccod, @lv_src_finacccod, finacctxt, @lv_doctotamt, @lv_finmovdocaccblc, 'A', getdate(), @lp_username 
        from fin_acc
        where buscod=@lp_buscod and finacccod=@lv_src_finacccod
        set @lv_errcod=@@ERROR 
        if not @lv_errcod=0
          begin
            set @lp_errtyp = 'E'
            set @lp_errcod = -1
            set @lp_errtxt = 'Error al crear posiciones de contrapartida del documento contable.'
            return
          end
       end   

		-- cargo cuentas del movimiento
		insert into FIN_MOV_DOC_ACC (buscod, finmovdoccod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, ctedte, cteusr)
		select @lp_buscod, @lp_finmovdoccod, p.finacccod, p.finacctxt, isnull(p.prccndtot,0), @lv_finmovdocaccblc2, 'A', getdate(), @lp_username 
		from #tmp_grl_dat_prc p
    
    if @lp_srcobjtyp='BUY_INV' or @lp_srcobjtyp='BUY_CRE' or @lp_srcobjtyp='BUY_DEB'	
    	begin
        -- cargo cuentas del movimiento
        insert into FIN_MOV_DOC_ACC (buscod, finmovdoccod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, ctedte, cteusr)
        select @lp_buscod, @lp_finmovdoccod, a.finacccod, a.finacctxt, isnull(a.mattot,0), @lv_finmovdocaccblc2, 'A', getdate(), @lp_username 
        from #tmp_buy_inv_mat a
        set @lv_errcod=@@ERROR
        if not @lv_errcod=0
          begin
            set @lp_errtyp = 'E'
            set @lp_errcod = -1
            set @lp_errtxt = 'Error al crear posiciones del documento contable.'
            return
          end
      end
    if @lp_srcobjtyp='SLS_INV' or @lp_srcobjtyp='SLS_CRE' or @lp_srcobjtyp='SLS_DEB'
    	begin
      	--select * from #tmp_sls_inv_mat a
        --return
      	-- cargo cuentas del movimiento
        insert into FIN_MOV_DOC_ACC (buscod, finmovdoccod, finacccod, finacctxt, finmovdocacctot, finmovdocaccblc, docsts, ctedte, cteusr)
        select @lp_buscod, @lp_finmovdoccod, a.finacccod, a.finacctxt, isnull(a.mattot,0), @lv_finmovdocaccblc2, 'A', getdate(), @lp_username 
        from #tmp_sls_inv_mat a
        set @lv_errcod=@@ERROR
        if not @lv_errcod=0
          begin
            set @lp_errtyp = 'E'
            set @lp_errcod = -1
            set @lp_errtxt = 'Error al crear posiciones del documento contable.'
            return
          end
      end
		return
	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
