USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_MSG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_MSG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod 				as nvarchar(20)	= null,	-- empresa
@lp_msgnum				as int					= null,	-- ID
@lp_srcobjtyp			as nvarchar(20)	= null,	-- objeto origen - tipo
@lp_srcobjcod			as nvarchar(20)	= null,	-- objeto origen - codigo
@lp_srcobjcod002	as nvarchar(20)	= null,	-- objeto origen - codigo2
@lp_sysdocmsgcod	as int					= null,	-- id mensaje
@lp_msgatr				as nvarchar(max)= null, -- atributos del mensaje
@lp_docsts 				as nvarchar(02)	= null,	-- estado

@lp_vewcfg				as nvarchar(max)= null,	-- config vista

@lp_errobj				as nvarchar(max)= null	-- datos del error

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errcod int = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO GRL_DAT_MSG (buscod, srcobjtyp, srcobjcod, srcobjcod002, sysdocmsgcod, msgatr, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_srcobjtyp, @lp_srcobjcod, @lp_srcobjcod002, @lp_sysdocmsgcod, @lp_msgatr, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_msgnum=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_msgnum, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END		



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
    
    -- declaro variables del programa y la actividad de origen
    declare @lv_mdlcod as nvarchar(40) = dbo.gettagvalue('mdlcod',isnull(@lp_msgatr,''))
    declare @lv_prgcod as nvarchar(40) = dbo.gettagvalue('prgcod',isnull(@lp_msgatr,''))

		BEGIN TRAN

		UPDATE GRL_DAT_MSG
    SET docsts=@lp_docsts,
        upddte=getdate(),
        updusr=@lp_username
		WHERE buscod=@lp_buscod
      and msgnum=@lp_msgnum
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
    	IF ISNULL(@lp_errobj, '') != ''
        BEGIN
          exec SYS_APP_LOG_DEF '01_sp',@lp_username,@lp_buscod,null,'','GRL_MSG',@lp_msgnum,@lp_srcobjcod,@lp_errobj,@lv_mdlcod,@lv_prgcod,'A',null,null,null,null
          SET @lv_errcod=@@ERROR
        END
      
      --SELECT @lp_msgnum as msgnum return
      
    IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_msgnum, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
    FROM GRL_DAT_MSG 
    WHERE buscod=@lp_buscod 
      and msgnum=@lp_msgnum
    
	END		



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM GRL_DAT_MSG
		WHERE buscod=@lp_buscod
      and msgnum=@lp_msgnum
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_msgnum, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END		



-- ------------------------------------------------------------------------
--   0 7    -    P R I N T
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '07'
	BEGIN
		SET @lv_validop = 1    

		-- obtengo id de registro de mensaje y log de impresion
		declare @lv_msglog as nvarchar(max)
    if isnull(@lp_msgnum,0)<>0
    	select @lp_msgnum=msgnum, @lv_msglog=msglog from grl_dat_msg where buscod=@lp_buscod and msgnum=@lp_msgnum
    else
    	select @lp_msgnum=msgnum, @lv_msglog=msglog from grl_dat_msg where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and isnull(srcobjcod002,'')=isnull(@lp_srcobjcod002,'')

		-- sumo al log anterior, el registro de la impresion actual
    --select @lv_msglog as lv_msglog return
   	--@lv_msglog

		BEGIN TRAN

		if isnull(@lp_msgnum,0)<>0
			UPDATE GRL_DAT_MSG
      SET msglog=@lv_msglog
      WHERE buscod=@lp_buscod
        and msgnum=@lp_msgnum
    ELSE
    	BEGIN
        INSERT INTO GRL_DAT_MSG( buscod, srcobjtyp, srcobjcod, srcobjcod002, docsts, ctedte, cteusr, msglog)
        VALUES( @lp_buscod, @lp_srcobjtyp, @lp_srcobjcod, @lp_srcobjcod002, @lp_docsts, getdate(), @lp_username, @lv_msglog )
        SET @lp_msgnum=@@IDENTITY
			END
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_msgnum, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END		



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
    		SET @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 'm.*, dm.sysdocmsgtxt, dm.sysdocmsgatr,dm.ctedte as doccte,l.applogcod,'+
      ' msglog = (SELECT FORMAT(l.ctedte, '+QUOTENAME('dd/MM/yyyy','''')+') as logctedte, l.cteusr as logcteusr FROM SYS_APP_LOG l WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')+' AND l.srcobjtyp='+QUOTENAME('GRL_MSG','''')+' AND l.srcobjcod002=m.srcobjcod and l.srcobjcod001 = m.msgnum FOR JSON AUTO) ',
			' GRL_DAT_MSG m LEFT JOIN SYS_DOC_MSG dm ON dm.buscod=m.buscod AND dm.sysdocmsgcod=m.sysdocmsgcod'+
      ' OUTER APPLY (SELECT TOP 1 l.applogcod, l.ctedte, l.cteusr FROM SYS_APP_LOG l WHERE l.buscod = m.buscod AND l.srcobjcod002 = m.srcobjcod and l.srcobjcod001 = m.msgnum order by l.applogcod desc) as l',
			' m.buscod='+QUOTENAME(@lp_buscod,'''')+
      ' AND (l.applogcod IS NOT NULL)',
 			' dm.sysdocmsgtxt, l.applogcod desc ', default)
    
		execute( @lv_sql )
	END




-- ------------------------------------------------------------------------
--   28 - CENTRO DE MENSAJES - LISTAR DOCUMENTOS PENDIENTES DE IMPRESION
-- ------------------------------------------------------------------------
IF @lp_sysoperation='28'
	BEGIN
		SET @lv_validop = 1    
    -- grl_dat_msg_def '18','mdominguez','temasis_hlt','','','','9'
    
    declare @lv_srctbl as nvarchar(21)
    declare @lv_srctblkey as nvarchar(15)
    declare @lv_systbl nvarchar(30) = (case lower(DB_NAME()) WHEN 'tmsstemasisdev' then 'tmssSysDev' else 'tmssSysPrd' end)+'.dbo.sys_obj_typ'
		
    -- Recupero la tabla del objeto de origen del mensaje.
    SET @lv_sql = 'SELECT @lv_srctbl=objtyptbl, @lv_srctblkey=objtypkey FROM ' +@lv_systbl+ ' WHERE objtypcod=@lp_srcobjtyp'
    EXEC sp_executesql 
			@lv_sql,
			N'@lp_srcobjtyp NVARCHAR(30), 
			  @lv_srctbl NVARCHAR(30) OUTPUT,
        @lv_srctblkey NVARCHAR(20) OUTPUT',
			@lp_srcobjtyp = @lp_srcobjtyp,
			@lv_srctbl = @lv_srctbl OUTPUT,
      @lv_srctblkey = @lv_srctblkey OUTPUT
		
 
   -- Busco cuales son los mensajes relacionados al objecto de origen para saber cuales NO estan procesados.
    set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, 'dm.sysdocmsgtxt, dm.sysdocmsgatr,st.ctedte as ctedte, st.'+@lv_srctblkey+' as srcobjcod, st.sysdocclscod, '+QUOTENAME(@lp_srcobjtyp, '''')+' as srcobjtyp',
                                     'SYS_DOC_CLS_MSG dcm
                                     LEFT JOIN SYS_DOC_MSG dm on dm.buscod=dcm.buscod and dm.sysdocmsgcod = dcm.sysdocmsgcod
                                     INNER JOIN '+@lv_srctbl+' st on st.sysdocclscod = dcm.sysdocclscod 
                                     LEFT JOIN GRL_DAT_MSG m on m.srcobjcod = st.'+@lv_srctblkey+' and dcm.sysdocmsgcod = m.sysdocmsgcod',
                                    'dcm.buscod='+QUOTENAME(@lp_buscod, '''')+' 
                                     and m.buscod is null 
                                    	AND NOT st.docsts = '+QUOTENAME('I', ''''),
                                    'st.ctedte desc',default)
    EXEC sp_executesql 
			@lv_sql,
			N'@lp_buscod NVARCHAR(30)',
			@lp_buscod = @lp_buscod
	END
  
  -- ------------------------------------------------------------------------
--   29 - CENTRO DE MENSAJES - LISTAR DOCUMENTOS DE REPORTES 
-- ------------------------------------------------------------------------
IF @lp_sysoperation='29'
	BEGIN
		SET @lv_validop = 1    
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg,'m.*, dm.sysdocmsgtxt, dm.sysdocmsgatr,dm.ctedte',
			' GRL_DAT_MSG m LEFT JOIN SYS_DOC_MSG dm ON dm.buscod=m.buscod AND dm.sysdocmsgcod=m.sysdocmsgcod',
			' m.buscod='+QUOTENAME(@lp_buscod,'''')+
      ' AND (m.srcobjtyp='+QUOTENAME(@lp_srcobjtyp,'''')+')',
 			' dm.sysdocmsgtxt, m.ctedte desc ', default)
		execute( @lv_sql )
  END 

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
