USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_BCH_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAT_BCH_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_matbchcod		as int			= null,	-- id lote
@lp_matbchcodext	as nvarchar(20)	= null,	-- lote
@lp_matcod			as int			= null,	-- id material
@lp_matbchduedte	as nvarchar(14) = null,	-- fecha vencimiento
@lp_matbchprddte	as nvarchar(14) = null,	-- fecha elaboraciÃ³n-producciÃ³n
@lp_supcod			as nvarchar(20) = null,	-- proveedor
@lp_docsts 			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- configuraciÃ³n ede la vista

@lp_sysdocclscod	as int			= null, 		-- id clase documento 
@lp_matbchatr		as nvarchar(max)=null	-- atributos

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_matbchduedte as datetime = dbo.ConvertDate( @lp_matbchduedte )
declare @lv_matbchprddte as datetime = dbo.ConvertDate( @lp_matbchprddte )
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Material invÃ¡lido.												
--	-2	Codigo existente.												
--	-3	Proveedor invÃ¡lido.												
--	-4	No se puede borrar el lote. Stock pendiente.					
--	-5	Fecha Vencimiento debe ser mayor a Fecha ProducciÃ³n.			
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		IF @lp_sysoperation='01'
			BEGIN
				-- valido material
				IF not exists(select top 1 * from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)
					BEGIN
						SELECT null, -1 as errcod, 'Material invÃ¡lido.' as errtxt
						RETURN
					END

				-- valido codigo duplicado
				IF exists(select top 1 * from stk_mat_bch where buscod=@lp_buscod and matcod=@lp_matcod and matbchcodext=@lp_matbchcodext)
					BEGIN
						SELECT null, -2 as errcod, 'Lote existente.' as errtxt
						RETURN
					END
			END
			
		-- proveedor
		IF not isnull(@lp_supcod,0)<=0
			if not exists(select top 1 * from buy_sup where buscod=@lp_buscod and supcod=@lp_supcod)
				BEGIN
					SELECT null, -3 as errcod, 'Proveedor invÃ¡lido.' as errtxt
					RETURN
				END
			
		-- fecha vencimiento vs. fecha producciÃ³n
		IF ( not @lv_matbchduedte is null and not @lv_matbchprddte is null )
			IF (@lv_matbchduedte < @lv_matbchprddte)
				BEGIN
					SELECT null, -5 as errcod, 'Fecha Vencimiento debe ser mayor a Fecha ProducciÃ³n.' as errtxt
					RETURN
				END

	END
	
	
	
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
					
		BEGIN TRAN
		
		INSERT INTO STK_MAT_BCH 
			(buscod, matbchcodext, matcod, matbchduedte, matbchprddte, supcod, sysdocclscod, matbchatr, 
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_matbchcodext, @lp_matcod, @lv_matbchduedte, @lv_matbchprddte, @lp_supcod, @lp_sysdocclscod, @lp_matbchatr,  
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_matbchcod=@@IDENTITY
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matbchcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE STK_MAT_BCH 
		SET	matbchcodext=@lp_matbchcodext,
			matbchduedte = @lv_matbchduedte,
			matbchprddte = @lv_matbchprddte,
			supcod = @lp_supcod,
			matbchatr = @lp_matbchatr, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and matbchcod = @lp_matbchcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matbchcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT b.*, m.mattxt, s.suptxt 
		FROM STK_MAT_BCH b
			inner join stk_mat m on m.buscod=b.buscod and m.matcod=b.matcod
			left join buy_sup s on s.buscod=b.buscod and s.supcod=b.supcod
		WHERE b.buscod=@lp_buscod
		  and b.matbchcod=@lp_matbchcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		declare @lp_deltyp as int
		set @lp_deltyp = 0
		--
		IF exists(select top 1 * from STK_MOV_DOC_MAT where buscod=@lp_buscod and matcod=@lp_matcod and matbchcod=@lp_matbchcod)
			BEGIN
				set @lp_deltyp = 1
				--
				SELECT null, -4 as errcod, 'No se puede borrar el lote. Existen movimientos.' as errtxt
				RETURN
			
			END
	

		BEGIN TRAN

		if @lp_deltyp=1
			begin
				UPDATE STK_MAT_BCH
				SET deldte=getdate(),
					delusr=@lp_username
				WHERE buscod=@lp_buscod
				  and matbchcod=@lp_matbchcod
				SET @lv_errcod=@@ERROR
			end
		else
			begin	
				DELETE 
				FROM STK_MAT_BCH 
				WHERE buscod=@lp_buscod
				  and matbchcod = @lp_matbchcod
				SET @lv_errcod=@@ERROR
			end
							
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matbchcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' b.*, m.mattxt, m.matuntcod, s.suptxt, convert(varchar,b.matbchduedte,103) as matbchduedtecnv, '
			+ ' m.matusebch, m.matuseser, m.matcodext, '
      + ' ms.matqty, ms.matuntcod '
			+ ' FROM STK_MAT_BCH b '
			+ '   inner join STK_MAT m on m.buscod=b.buscod and m.matcod=b.matcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=b.buscod and dc.sysdocclscod=b.sysdocclscod '

			+ '   left join BUY_SUP s on s.buscod=b.buscod and s.supcod=b.supcod '
      + '   left join STK_MAT_STK ms on ms.buscod = b.buscod and ms.matcod = b.matcod and ms.matbchcod = b.matbchcod '
			+ ' WHERE b.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
