USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_CHR_CLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[HHR_CHR_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrchrclscod	as int			= null,	-- id
@lp_hhrchrclscodext	as nvarchar(20)	= null,	-- codigo externo
@lp_hhrchrclstxt	as nvarchar(50)	= null,	-- descripción
@lp_hhrchrclsatr	as nvarchar(max)= null,	-- atributos
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Codigo externo existente
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_hhrchrclscodext=''
			if exists(select top 1 * from HHR_CHR_CLS where buscod=@lp_buscod and not hhrchrclscod=@lp_hhrchrclscod and hhrchrclscodext=@lp_hhrchrclscodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- creo clase de cargo
		INSERT INTO HHR_CHR_CLS (buscod, hhrchrclscodext, hhrchrclstxt, hhrchrclsatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrchrclscodext, @lp_hhrchrclstxt, @lp_hhrchrclsatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrchrclscod=@@IDENTITY
		
		-- creo clase de cargo en empresas sincronizadas
		if @lv_errcod=0
			begin
				INSERT INTO HHR_CHR_CLS (buscod, hhrchrclscodext, hhrchrclstxt, hhrchrclsatr, docsts, ctedte, cteusr, HhrChrClsSynCod)
				SELECT buscod, @lp_hhrchrclscodext, @lp_hhrchrclstxt, @lp_hhrchrclsatr, @lp_docsts, getdate(), @lp_username, @lp_hhrchrclscod
				FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN',@lp_buscod)
				set @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrchrclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_CHR_CLS 
		SET	hhrchrclscodext = @lp_hhrchrclscodext,
			hhrchrclstxt = @lp_hhrchrclstxt,
			hhrchrclsatr = @lp_hhrchrclsatr, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE ( buscod=@lp_buscod and hhrchrclscod=@lp_hhrchrclscod )
		  or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrchrclssyncod=@lp_hhrchrclscod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrchrclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM HHR_CHR_CLS c
		WHERE c.buscod=@lp_buscod
		  and c.hhrchrclscod=@lp_hhrchrclscod
	
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from hhr_chr_typ where (buscod=@lp_buscod and hhrchrclscod=@lp_hhrchrclscod) 
			or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_SysAppMdlPrm('HHR_DAT_SYN', @lp_buscod))
			  and (HhrChrClsCod in (select HhrChrClsCod from HHR_CHR_CLS where HhrChrClsSynCod=@lp_hhrchrclscod)) ))
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Ya esta asociada a tipos de cargos.' as errtxt
				RETURN
			END

		BEGIN TRAN

		DELETE
		FROM HHR_CHR_CLS
		WHERE (buscod=@lp_buscod and hhrchrclscod=@lp_hhrchrclscod)
		   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrchrclssyncod=@lp_hhrchrclscod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrchrclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' c.* '
			+ ' FROM HHR_CHR_CLS c '
			+ ' WHERE c.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
