USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRN_ZNE_MCH_PLY_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_TRN_ZNE_MCH_PLY_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_trncod			as int			= null,	/* id torneo */
@lp_znecod			as int			= null,	/* id zona */
@lp_mchcod			as int			= null,	/* id partido */
@lp_eqmcod			as int			= null,	/* id equipo */
@lp_plycod			as int			= null,	/* id jugador en partido */
@lp_plycat			as nvarchar(02)	= null,	/* categoria jugador */
@lp_ptncod			as int			= null,	/* id socio */ 
@lp_plynum			as int			= null,	/* nro de jugador (camiseta) */
@lp_plyylw			as int			= null,	/* tarjeta amarilla */
@lp_plyred			as int			= null,	/* tarjeta roja */
@lp_plygls			as int			= null,	/* goles jugador */
@lp_plylawmch		as int			= null,	/* tribunal - ctd de fechas suspendido */
@lp_plylawcmt		as nvarchar(50)	= null,	/* tribunal - comentario de suspension */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */
@lp_plychg			as nvarchar(1)	= null,	/* cambio */
@lp_plylawdte		as nvarchar(20)	= null,	/* tribunal - fecha suspension hasta */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_plylawdte as datetime
set @lv_plylawdte = dbo.ConvertDate( @lp_plylawdte )

/* no se permiten camisetas con el número cero (0) */
if isnull(@lp_plynum,0)=0
	set @lp_plynum = null

/* a nivel de jugador, si no tiene goles se fija null en la cantidad de goles */
if isnull(@lp_plygls,0)=0
	set @lp_plygls = null



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		/* si hay un jugador de la misma categoria entonces es un cambio */
		IF (select count(*) from spt_trn_zne_mch_ply where buscod=@lp_buscod and trncod=@lp_trncod and znecod=@lp_trncod and mchcod=@lp_mchcod and eqmcod=@lp_eqmcod and plycat=@lp_plycat)>0
			set @lp_plychg = 1
		ELSE
			set @lp_plychg = 0

		BEGIN TRAN
		
		INSERT INTO SPT_TRN_ZNE_MCH_PLY 
			(buscod, trncod, znecod, mchcod, eqmcod,			
			plycat, ptncod, plynum, plyylw, plyred, plygls,	plylawmch, plylawdte, plylawcmt, plychg,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_trncod, @lp_znecod, @lp_mchcod, @lp_eqmcod,
			@lp_plycat, @lp_ptncod, @lp_plynum, @lp_plyylw, @lp_plyred, @lp_plygls,	@lp_plylawmch, @lv_plylawdte, @lp_plylawcmt, @lp_plychg,
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_plycod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_TRN_ZNE_MCH_PLY 
		SET	plycat	= @lp_plycat,
			ptncod	= @lp_ptncod, 
			plynum  = @lp_plynum,
			plyylw	= @lp_plyylw,
			plyred	= @lp_plyred,			
			plygls  = @lp_plygls,
			plylawmch=@lp_plylawmch,
			plylawdte=@lv_plylawdte,
			plylawcmt=@lp_plylawcmt,
			plychg	= @lp_plychg,
			docsts	= @lp_docsts, 
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		  and mchcod = @lp_mchcod
		  and eqmcod = @lp_eqmcod
		  and plycod = @lp_plycod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_TRN_ZNE_MCH_PLY
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		  and mchcod = @lp_mchcod
		  and eqmcod = @lp_eqmcod
		  and plycod = @lp_plycod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM SPT_TRN_ZNE_MCH_PLY
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		  and mchcod = @lp_mchcod
		  and eqmcod = @lp_eqmcod
		  and plycod = @lp_plycod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, a.adrnme001
		FROM SPT_TRN_ZNE_MCH_PLY p
		INNER JOIN SPT_PTN s ON s.buscod=p.buscod and s.ptncod=p.ptncod
		INNER JOIN GRL_DAT_ADR a on a.buscod=s.buscod and a.adrnum=s.adrnum
		WHERE p.buscod = @lp_buscod
		  and p.trncod = @lp_trncod
		  and p.znecod = @lp_znecod
		  and p.mchcod = @lp_mchcod
		  and p.eqmcod = @lp_eqmcod
		  and s.deldte is null

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 1    -    I N I C I A L I Z A R    L I S T A   de   J U G A D O R E S    de    E Q U I P O		*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* borro los jugadores previos */
		DELETE 
		FROM SPT_trn_zne_mch_ply
		WHERE buscod=@lp_buscod
		  and trncod=@lp_trncod
		  and znecod=@lp_znecod
		  and mchcod=@lp_mchcod
		  and eqmcod=@lp_eqmcod
		SET @lv_errcod=@@ERROR
		
		/* cargo jugadores del equipo */
		IF @lv_errcod=0
			BEGIN
				INSERT INTO SPT_trn_zne_mch_ply
				SELECT m.buscod, m.trncod, m.znecod, m.mchcod, e.eqmcod, e.plycat, e.ptncod, 
						null as plynum, null as plyylw, null as plyred, null as plygls, null as plylawmch, null as plylawdte, null as plylawcmt, null as plychg, 
						'A' as docsts, getdate() as ctedte, @lp_username as cteusr, null as upddte, null as updusr
				FROM SPT_trn_zne_mch m
				inner join SPT_trn_eqm_ply e ON e.buscod=m.buscod and e.trncod=m.trncod and (e.eqmcod=m.eqmcod001 or e.eqmcod=m.eqmcod002)
				WHERE m.buscod=@lp_buscod
				  and m.trncod=@lp_trncod
				  and m.znecod=@lp_znecod
				  and m.mchcod=@lp_mchcod
				  and e.eqmcod=@lp_eqmcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 2    -    M O D I F I C A R    datos    T R I B U N A L											*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_TRN_ZNE_MCH_PLY 
		SET	plylawmch=(case when @lp_plylawmch=0 then null else @lp_plylawmch end),
			plylawdte=@lv_plylawdte,
			plylawcmt=@lp_plylawcmt,
			docsts	= @lp_docsts, 
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		  and mchcod = @lp_mchcod
		  and plycod = @lp_plycod
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 3    -    L I S T A R    datos para    T R I B U N A L											*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT j.*, m.*, t.trntxt, z.znetxt, p.ptntxt, e.eqmtxt,
			(case when j.plylawmch is not null then (select count(*) from SPT_trn_zne_mch where trncod=j.trncod and (eqmcod001=j.eqmcod or eqmcod002=j.eqmcod) and mchdte>m.mchdte ) else null end) mchplyout
		FROM SPT_TRN_ZNE_MCH_PLY j
			inner join SPT_TRN_ZNE_MCH m on m.buscod=j.buscod and m.trncod=j.trncod and m.znecod=j.znecod and m.mchcod=j.mchcod
			inner join SPT_TRN t on t.buscod=m.buscod and t.trncod=m.trncod
			inner join SPT_TRN_ZNE z on z.buscod=m.buscod and z.trncod=m.trncod and z.znecod=m.znecod
			inner join SPT_TRN_EQM e on e.buscod=j.buscod and e.trncod=j.trncod and e.eqmcod=j.eqmcod
			inner join SPT_PTN p on p.buscod=j.buscod and p.ptncod=j.ptncod
		WHERE j.buscod = @lp_buscod
		  and j.trncod = @lp_trncod
		  and j.znecod = @lp_znecod
		  and j.mchcod = @lp_mchcod
		  and j.eqmcod = @lp_eqmcod
		  and j.plycod = @lp_plycod
		  and p.deldte is null
	
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 5    -    C R E A R    T R I B U N A L    (de oficio)										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '15'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* agrego el jugador con la sanción */
		INSERT INTO SPT_TRN_ZNE_MCH_PLY 
			(buscod, trncod, znecod, mchcod, eqmcod,			
			plycat, ptncod, plynum, plyylw, plyred, plygls,	plylawmch, plylawdte, plylawcmt, plychg,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_trncod, @lp_znecod, @lp_mchcod, @lp_eqmcod,
			@lp_plycat, @lp_ptncod, @lp_plynum, @lp_plyylw, @lp_plyred, @lp_plygls,	@lp_plylawmch, @lv_plylawdte, @lp_plylawcmt, @lp_plychg,
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_plycod = @@IDENTITY
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R    T R I B U N A L										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' m.mchdte, p.ptntxt, e.eqmtxt, j.*, '
			+ ' (case when j.plylawmch is not null then '
			+		' (select count(*) from SPT_TRN_ZNE_MCH where buscod=j.buscod and trncod=j.trncod and (eqmcod001=j.eqmcod or eqmcod002=j.eqmcod) and mchdte>m.mchdte and (eqmgls001 is not null and eqmgls002 is not null) ) '
			+	' else null end) as mchplyout '
			+ ' FROM SPT_trn t inner join SPT_trn_zne z on z.buscod=t.buscod and z.trncod=t.trncod '
			+ ' inner join SPT_trn_zne_mch m on m.buscod=z.buscod and m.trncod=z.trncod and m.znecod=z.znecod '
			+ ' inner join SPT_trn_zne_mch_ply j on j.buscod=m.buscod and j.trncod=m.trncod and j.znecod=m.znecod and j.mchcod=m.mchcod and (j.eqmcod=m.eqmcod001 or j.eqmcod=m.eqmcod002) '
			+ ' inner join SPT_ptn p on p.buscod=j.buscod and p.ptncod=j.ptncod '
			+ ' inner join SPT_trn_eqm e on e.buscod=j.buscod and e.eqmcod=j.eqmcod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and t.docsts='+QUOTENAME('A','''')
			+   ' and j.plyred=1 '
			+   ' and (case when j.plylawdte is not null then (case when j.plylawdte > getdate() then 1 else 0 end) '
			+              ' when j.plylawmch is not null then (case when j.plylawmch > (select count(*) from SPT_trn_zne_mch where buscod=j.buscod and trncod=j.trncod and (eqmcod001=j.eqmcod or eqmcod002=j.eqmcod) and mchdte>m.mchdte and (eqmgls001 is not null and eqmgls002 is not null) ) then 1 else 0 end)'
			+              ' else 1 end)=1 '
			+ '  and p.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
	END
	
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
