USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_PTN_CAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_PTN_CAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod 				as nvarchar(20)	= null,		-- empresa 
@lp_ptncatcod			as int					= null,		-- id 
@lp_ptncatcodext	as nvarchar(20)	= null,		-- codigo 
@lp_ptncattxt			as nvarchar(50)	= null,		-- descripcion 
@lp_ptncatchgman	as int					= null,		-- cambio manual 
@lp_ptncatagestr	as int					= null,		-- edad - desde 
@lp_ptncatageend	as int					= null,		-- edad - hasta 
@lp_ptncatsex			as nvarchar(1)	= null,		-- sexo (M/F) 
@lp_spttrfcod			as int					= null,		-- id arancel 
@lp_docsts 				as nvarchar(2)	= null,		-- estado 

@lp_vewcfg				as nvarchar(max) = null		-- config vista  

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
-- -1	Codigo externo existente.													
-- -2	Arancel invalido.													
-- -3	Existen socios relacionados. No se puede borrar.					
-- ------------------------------------------------------------------------ 


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SPT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'CAT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		-- valido codigo externo duplicado 
		if not isnull(@lp_ptncatcodext,'')=''
			begin
				IF exists(select top 1 * from SPT_PTN_CAT where buscod=@lp_buscod and not ptncatcod=@lp_ptncatcod and ptncatcodext=@lp_ptncatcodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END

-- ------------------------------------------------------------------------ 
--  V A L I D A C I O N E S													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		
		-- valido arancel 
		IF not isnull(@lp_spttrfcod,0)=0
			IF not exists(select top 1 * from spt_trf where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod)
				BEGIN
					SELECT null, -2 as errcod, 'Arancel invalido.' as errtxt
					RETURN
				END
				
	END

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO SPT_PTN_CAT (buscod, ptncatcodext, ptncattxt, ptncatagestr, ptncatageend, ptncatsex, spttrfcod, ptncatchgman, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_ptncatcodext, @lp_ptncattxt, @lp_ptncatagestr, @lp_ptncatageend, @lp_ptncatsex, @lp_spttrfcod, @lp_ptncatchgman, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_ptncatcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptncatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg
	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE SPT_PTN_CAT 
		SET	ptncatcodext = @lp_ptncatcodext,
			ptncattxt = @lp_ptncattxt,
			ptncatagestr=@lp_ptncatagestr,
			ptncatageend=@lp_ptncatageend,
			ptncatsex=@lp_ptncatsex,
			spttrfcod=@lp_spttrfcod,
			ptncatchgman = @lp_ptncatchgman,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and ptncatcod = @lp_ptncatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptncatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg
	END

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*, t.spttrftxt
		FROM SPT_PTN_CAT c
		 left join SPT_TRF t on t.buscod=c.buscod and t.spttrfcod=c.spttrfcod
		WHERE c.buscod = @lp_buscod
		  and c.ptncatcod = @lp_ptncatcod

	END

-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		-- valido que no haya socios relacionados 
		IF exists(select top 1 * from spt_ptn where buscod=@lp_buscod and ptncatcod=@lp_ptncatcod)
			BEGIN
				SELECT null, -3 as errcod, 'Existen socios relacionados. No se puede borrar.' as errmsg
				RETURN
			END

		BEGIN TRAN

		DELETE 
		FROM SPT_PTN_CAT
		WHERE buscod = @lp_buscod
		  and ptncatcod = @lp_ptncatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptncatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg, ' c.*, t.spttrftxt ',
			' SPT_PTN_CAT c '
			+ ' left join SPT_TRF t on t.buscod=c.buscod and t.spttrfcod=c.spttrfcod ',
			' c.buscod='+QUOTENAME(@lp_buscod, ''''),
			' c.ptncattxt ', default )
		execute( @lv_sql )
		
	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
