USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_CAT_PRC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_CAT_PRC_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */

@lp_catprccod		as int			= null,		/* codigo de lista */
@lp_catprctxt		as nvarchar(40) = null,		/* descripción */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_catprcver		as int			= null,		/* id de versión */
@lp_catprcverfrmdte as nvarchar(14)	= null,		/* fecha desde */
@lp_catprcvertodte	as nvarchar(14) = null,		/* fecha hasta */

@lp_catprcid		as int			= null,		/* id de valor */
@lp_catprcpntfrm	as bigint		= null,		/* valor desde */
@lp_catprcpntto		as bigint		= null,		/* valor hasta */
@lp_catprcprc		as bigint		= null,		/* precio unitario */

@lp_vewcfg			as nvarchar(400)= null		/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_catprcpntfrm as int
SET @lv_catprcpntfrm = dbo.ConvertNumber( @lp_catprcpntfrm , 3 )

declare @lv_catprcpntto as int
SET @lv_catprcpntto = dbo.ConvertNumber( @lp_catprcpntto , 3 )

declare @lv_catprcprc as decimal(13,3)
SET @lv_catprcprc = dbo.ConvertNumber( @lp_catprcprc , 3 )

declare @lv_catprcverfrmdte as datetime
SET @lv_catprcverfrmdte = dbo.ConvertDate( @lp_catprcverfrmdte )

declare @lv_catprcvertodte as datetime
SET @lv_catprcvertodte = dbo.ConvertDate( @lp_catprcvertodte )

declare @lv_sql as nvarchar(400)



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO hlt_cat_prc (buscod, catprctxt, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_catprctxt, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_catprccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_catprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE hlt_cat_prc
		SET catprctxt = @lp_catprctxt,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and catprccod = @lp_catprccod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_catprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		SELECT * 
		FROM hlt_cat_prc
		WHERE buscod = @lp_buscod
		  and catprccod = @lp_catprccod

	END
GO
