USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_EMP_CAT_ASG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HHR_EMP_CAT_ASG_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_empcod			as nvarchar(20) = null,		/* empleado */
@lp_empcatid		as nvarchar(20) = null,		/* id de valor */
@lp_empcatcod		as int			= null,		/* id grupo */
@lp_empcatvalid		as int			= null,		/* id categoria */
@lp_empcatval		as bigint		= null,		/* valor	*/
@lp_empcatfrm		as nvarchar(14)	= null,		/* fecha desde */
@lp_empcatto		as nvarchar(14) = null,		/* fecha hasta */

@lp_vewcfg			as nvarchar(4000)=null		/* configuración vista */

AS

SET NOCOUNT ON

declare @lv_validop INT
SET @lv_validop = 0

declare @lv_errcod INT
SET @lv_errcod = 0

declare @lv_empcatpts as int

declare @lv_empcatfrm as datetime
SET @lv_empcatfrm = dbo.ConvertDate( @lp_empcatfrm )

declare @lv_empcatto  as datetime
SET @lv_empcatto = dbo.ConvertDate( @lp_empcatto )

declare @lv_empcatval as int
set @lv_empcatval = dbo.ConvertNumber( @lp_empcatval , 3 )

declare @lv_sql as nvarchar(4000)		



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	No se permite agregar ANTIGUEDAD. Se calcula automáticamente.		*/
/*	-2	No se puede duplicar la categorización en el mismo período			*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   V A L I D A C I O N E S												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* verifico que no se esté intentando agregar ANTIGUEDAD */
		IF @lp_empcatcod=0	/* 'ANTIGUEDAD' */
			BEGIN
				SELECT null, -1 as errcod, 'No se permite agregar ANTIGUEDAD. Se calcula automáticamente.' as errtxt
				RETURN
			END

		IF (select count(*) from hhr_emp_cat_asg where buscod=@lp_buscod 
												and empcod=@lp_empcod 
												and empcatcod=@lp_empcatcod 
												and empcatvalid=@lp_empcatvalid 
												and not empcatid=@lp_empcatid
												and ( @lv_empcatfrm between empcatfrm and empcatto 
													or @lv_empcatto between empcatfrm and empcatto ) )>0
			BEGIN
				SELECT null, -2 as errcod, 'No se puede duplicar la categorización.' as errtxt
				RETURN
			END

		/* determino puntaje */
		set @lv_empcatpts = (select empcatpts from hhr_emp_cat_val where buscod=@lp_buscod and empcatcod=@lp_empcatcod and empcatvalid=@lp_empcatvalid)
		IF (select count(*) from hhr_emp_cat_val where buscod=@lp_buscod and empcatcod=@lp_empcatcod and empcatvalid=@lp_empcatvalid and (empcatfrm<>0 or empcatto<>0)) > 0
			set @lv_empcatpts = @lv_empcatpts * @lv_empcatval

	END
	


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* agrego un nuevo registro */
		INSERT INTO hhr_emp_cat_asg (buscod, empcod, empcatcod, empcatvalid, empcatval, empcatfrm, empcatto, empcatpts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_empcod, @lp_empcatcod, @lp_empcatvalid, @lv_empcatval, @lv_empcatfrm, @lv_empcatto, @lv_empcatpts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SET @lp_empcatid = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_empcatid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* actualizo el registro */
		UPDATE hhr_emp_cat_asg
		SET empcatcod	= @lp_empcatcod,
			empcatvalid = @lp_empcatvalid,
			empcatfrm = @lv_empcatfrm,
			empcatto = @lv_empcatto,
			empcatval = @lv_empcatval,
			empcatpts = @lv_empcatpts,
			upddte   = getdate(),
			updusr   = @lp_username
		WHERE buscod = @lp_buscod
		  and empcod = @lp_empcod
		  and empcatid = @lp_empcatid
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_empcatid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT
			a.empcod, a.empcatid,
			c.empcatcod, c.empcattxt,
			v.empcatvalid, v.empcatval, v.empcatfrm, v.empcatto, v.empcatptr, v.empcatpts,
			a.empcatfrm as empcatdtefrm,
			a.empcatto as empcatdteto,
			a.empcatval as empcatasgval,
			a.empcatpts as empcatasgpts
		FROM hhr_emp_cat_asg a
		inner join hhr_emp_cat c on c.buscod=a.buscod and c.empcatcod=a.empcatcod
		inner join hhr_emp_cat_val v on v.buscod=a.buscod and v.empcatcod=a.empcatcod and v.empcatvalid=a.empcatvalid
		WHERE a.buscod=@lp_buscod
		  and a.empcod=@lp_empcod
		ORDER BY c.empcattxt, v.empcatval, a.empcatto DESC, a.empcatfrm DESC

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM hhr_emp_cat_asg
		WHERE buscod   = @lp_buscod 
		  and empcod   = @lp_empcod 
		  and empcatid = @lp_empcatid
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_empcatid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    R E P O R T E    de    C A T E G O R I Z A C I O N    A G R U P A D O						*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SELECT e.hhrempcod, e.hhremptxt, d.adrlstnme, d.adrfrtnme,
			isnull( (	SELECT TOP 1 v.empcatpts 
				FROM hhr_emp_cat_val v
				WHERE v.buscod = e.buscod 
				and v.empcatcod=0	/* 'ANTIGUEDAD' */
				and ( datediff(year, e.hhrempinbdte, @lv_empcatfrm) + 
					(case when datepart(month, @lv_empcatfrm)<datepart(month, e.hhrempinbdte) or 
						( datepart(month, @lv_empcatfrm) >= datepart(month, e.hhrempinbdte) and 
						datepart(day, @lv_empcatfrm)   <  datepart(day, e.hhrempinbdte) ) 
					then -1 else 0 end)  
					) between v.empcatfrm and v.empcatto ) , 0 ) as antiguedad,
			sum( a.empcatpts ) as categorizacion
		FROM hhr_emp e
		inner join hhr_emp_cat_asg a on a.buscod=e.buscod and a.empcod=e.hhrempcod
		left join grl_dat_adr d on d.buscod=e.buscod and d.adrsrctyp='HHR_EMP' and d.adrsrccod=e.hhrempcod
		WHERE a.buscod=@lp_buscod
		  and e.docsts = 'A'
		  and @lv_empcatfrm between a.empcatfrm and a.empcatto
		GROUP BY e.buscod, e.hhrempcod, e.hhremptxt, d.adrlstnme, d.adrfrtnme, e.hhrEmpInbDte
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 9    -    R E P O R T E    de    C A T E G O R I Z A C I O N    A G R U P A D O    y    V A L O R I Z A D O						*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1

		SELECT e.buscod, e.hhrempcod, e.hhremptxt, d.adrlstnme, d.adrfrtnme,
			isnull( (	SELECT TOP 1 v.empcatpts 
				FROM hhr_emp_cat_val v
				WHERE v.buscod = e.buscod 
				and v.empcatcod=0	/* 'ANTIGUEDAD' */
				and ( datediff(year, e.hhrempinbdte, @lv_empcatfrm) + 
					(case when datepart(month, @lv_empcatfrm)<datepart(month, e.hhrempinbdte) or 
						( datepart(month, @lv_empcatfrm) >= datepart(month, e.hhrempinbdte) and 
						datepart(day, @lv_empcatfrm)   <  datepart(day, e.hhrempinbdte) ) 
					then -1 else 0 end)  
					) between v.empcatfrm and v.empcatto ) , 0 ) as antiguedad,
			sum( a.empcatpts ) as categorizacion,
			cast(0 as decimal(13,2)) as val_hs,
			cast(0 as decimal(13,2)) as hs_mes,
			cast(0 as decimal(13,2)) as val_mes
		INTO #tmp_emp_cat_agr
		FROM hhr_emp e
		inner join hhr_emp_cat_asg a on a.buscod=e.buscod and a.empcod=e.hhrempcod
		left join grl_dat_adr d on d.buscod=e.buscod and d.adrsrctyp='HHR_EMP' and d.adrsrccod=e.hhrempcod
		WHERE a.buscod=@lp_buscod
		  and e.docsts = 'A'
		  and @lv_empcatfrm between a.empcatfrm and a.empcatto
		GROUP BY e.buscod, e.hhrempcod, e.hhremptxt, d.adrlstnme, d.adrfrtnme, e.hhrEmpInbDte

		UPDATE #tmp_emp_cat_agr
		SET val_hs = ( select top 1 l.catprcprc 
							from hhr_emp e
							inner join hhr_emp_cat_prc p on p.buscod=e.buscod and p.catprccod=e.empcatprccod
							inner join hhr_emp_cat_prc_ver v on v.buscod=p.buscod and v.catprccod=p.catprccod
							inner join hhr_emp_cat_prc_lst l on l.buscod=v.buscod and l.catprccod=v.catprccod and l.catprcver=v.catprcver
							where e.buscod = a.buscod
							  and e.empcatprccod is not null
							  and not e.empcatprccod = ''
							  and e.empcod = a.empcod
							  and p.docsts = 'A'
							  and @lv_empcatfrm between v.catprcfrmdte and v.catprctodte
							  and (a.antiguedad+a.categorizacion) between l.catprcpntfrm and l.catprcpntto )
		from #tmp_emp_cat_agr a
		
		select * from #tmp_emp_cat_agr
		
	END
	



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 5    -    R E P O R T E    -    P R E S T A C I O N E S     V A L O R I Z A D A S	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation='25'
	BEGIN
		SET @lv_validop=1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, p.pattxt, e.emptxt, l.ctrtme as horas, '
			+ ' cast(l.hhrlqdprc as decimal(13,2)) as precio, '
			+ ' cast( l.ctrtme*l.hhrlqdprc as decimal(13,2)) as total '
			+ ' FROM hlt_pln l '
			+ ' inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod '
			+ ' inner join hhr_emp e on e.buscod=l.buscod and e.empcod=l.empcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '  and l.hhrlqdid is not null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute (@lv_sql)
		
	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 6    -    R E P O R T E    -    P R E S T A C I O N E S     V A L O R I Z A D A S     A G R U P A D A S	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation='26'
	BEGIN
		SET @lv_validop=1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.patcod, p.pattxt, l.empcod, e.emptxt, sum(l.ctrtme) as horas, cast( sum(l.ctrtme*l.hhrlqdprc) as decimal(13,2)) as total '
			+ ' FROM hlt_pln l '
			+ ' inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod '
			+ ' inner join hhr_emp e on e.buscod=l.buscod and e.empcod=l.empcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '  and l.hhrlqdid is not null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' group by l.patcod, p.pattxt, l.empcod, e.emptxt '
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute (@lv_sql)

	END
	
	
	
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 7    -    R E P O R T E    -    P R E S T A C I O N E S     V A L O R I Z A D A S     x    P R E S T A D O R	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation='27'
	BEGIN
		SET @lv_validop=1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.empcod, e.emptxt, sum(l.ctrtme) as horas, cast( sum(l.ctrtme*l.hhrlqdprc) as decimal(13,2)) as total '
			+ ' FROM hlt_pln l '
			+ ' inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod '
			+ ' inner join hhr_emp e on e.buscod=l.buscod and e.empcod=l.empcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '  and l.hhrlqdid is not null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' group by l.empcod, e.emptxt '
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute (@lv_sql)
	
	END
	


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 8    -    R E P O R T E    -    C A T E G O R I Z A C I O N    de   P R E S T A D O R E S	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation='28'
	BEGIN
		SET @lv_validop=1

		declare @lv_dte as datetime
		set @lv_dte = cast(datepart(year,getdate()) as nvarchar(4))+'-'+cast(datepart(month,getdate()) as nvarchar(2))+'-'+cast(datepart(day,getdate()) as nvarchar(2))

		select cast(null as nvarchar(20)) as buscod, cast(null as nvarchar(10)) as empcod, cast(null as nvarchar(82)) as emptxt, cast(null as int) as antyth, cast(null as int) as antpts,
		cast(null as int) as emppts, cast(null as decimal(13,3)) as precio, cast(null as nvarchar(2)) as docsts, cast(null as nvarchar(20)) as empcatprccod
		into #tmp_dat_28
		where 1=2

		/* agrego perestadores activos
		insert into #tmp_dat_28
		select e.buscod, e.hhrempcod, e.hhremptxt, cast( ((datediff(month,e.hhrempinbdte,getdate()) + 
								(case when datepart(month,e.hhrempinbdte)=datepart(month,getdate()) and
									datepart(day,e.hhrempinbdte)>datepart(day,getdate())
								then -1 else 0 end)) /12) as int), null, null, null, e.docsts, e.empcatprccod
		from hhr_emp e
		where e.buscod=@lp_buscod
		  and e.hhrempcatprccod is not null
		  and e.docsts='A'
			*/
		  
		/* actualizo antiguedad y puntaje */
		update #tmp_dat_28
		set antpts=isnull((select top 1 v.empcatpts from hhr_emp_cat_val v where v.buscod=#tmp_dat_28.buscod and v.empcatcod=0 and #tmp_dat_28.antyth between v.empcatfrm and v.empcatto), 0),
			emppts=(select sum(empcatpts) from hhr_emp_cat_asg where buscod=#tmp_dat_28.buscod and empcod=#tmp_dat_28.empcod and @lv_dte between empcatfrm and empcatto )
		from #tmp_dat_28

		/* actualizo precio */
		update #tmp_dat_28
		set precio=(select top 1 l.catprcprc 
						from hhr_emp_cat_prc p 
						inner join hhr_emp_cat_prc_ver v on v.buscod=p.buscod and v.catprccod=p.catprccod 
						inner join hhr_emp_cat_prc_lst l on l.buscod=v.buscod and l.catprccod=v.catprccod and l.catprcver=v.catprcver 
						where p.buscod=#tmp_dat_28.buscod 
						  and p.catprccod=#tmp_dat_28.empcatprccod 
						  and not #tmp_dat_28.empcatprccod='' 
						  and p.docsts='A' 
						  and @lv_dte between v.catprcfrmdte and v.catprctodte 
						  and (#tmp_dat_28.antpts+#tmp_dat_28.emppts) between l.catprcpntfrm and l.catprcpntto)
		from #tmp_dat_28

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.* '
			+ ' FROM #tmp_dat_28 l '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute (@lv_sql)

		

	END
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
