USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_WRK_STE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HHR_WRK_STE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_wrkstecod		as int			= null,	-- id
@lp_wrkstecodext	as nvarchar(20)	= null,	-- cÃ³digo
@lp_wrkstetxt		as nvarchar(50)	= null,	-- nombre
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null, -- vista

@lp_wrkstedes			as nvarchar(max)= null, -- descripcion

@lp_wrkstetyp			as nvarchar(2)	= null -- tipo (D - departamento / S - servicio / F - funciÃ³n)

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   E R R O R E S
-- ------------------------------------------------------------------------
-- 	-1. Duplicate Ext Code
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- valido cÃ³digo
		if not isnull(@lp_wrkstecodext,'')=''
			IF exists(select top 1 * from HHR_WRK_STE where buscod=@lp_buscod and not wrkstecod=@lp_wrkstecod and wrkstecodext=@lp_wrkstecodext)
				BEGIN
					SELECT 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errtxt
					RETURN
				END

	END
	

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN
		
		INSERT INTO HHR_WRK_STE (buscod, wrkstecodext, wrkstetxt, wrkstedes, wrkstetyp, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_wrkstecodext, @lp_wrkstetxt, @lp_wrkstedes, @lp_wrkstetyp, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_wrkstecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wrkstecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HHR_WRK_STE 
		SET	wrkstecodext=@lp_wrkstecodext,
			wrkstetxt = @lp_wrkstetxt,
      wrkstedes = @lp_wrkstedes,
      wrkstetyp = @lp_wrkstetyp,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and wrkstecod = @lp_wrkstecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wrkstecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, 
		a.adrstr, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon,
		l.lndtxt, lr.lndregtxt, lt.lndtwntxt
		FROM HHR_WRK_STE p 
			left join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp='HHR_WKP' and a.adrsrccod=p.wrkstecod
			left join grl_dat_lnd l on l.lndcod=a.lndcod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod
		WHERE p.buscod=@lp_buscod
		  and p.wrkstecod=@lp_wrkstecod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
					
		-- borro puesto
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM HHR_WRK_STE
				WHERE buscod=@lp_buscod
				  and wrkstecod = @lp_wrkstecod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wrkstecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1
		
		-- HHR_WRK_STE_def '08','temasis','temasis'

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg , 
			' s.* ',
			' HHR_WRK_STE s ',
			' s.buscod='+QUOTENAME(@lp_buscod,''''),
			' s.wrkstetxt ',
			default)
		execute( @lv_sql )

	END
	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
