USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_APP_PRY_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_APP_PRY_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysappprycod	as int			= null,	/* id */
@lp_sysappprycodext	as nvarchar(20)	= null,	/* codigo */
@lp_sysappprytxt	as nvarchar(50)	= null,	/* descripción */
@lp_sysappprytkn	as nvarchar(400)= null,	/* token */
@lp_sysappprysrctyp	as nvarchar(20)	= null,	/* tipo de origen */
@lp_sysappprysrcdat	as nvarchar(max)= null,	/* datos de origen */

@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)=null	/* configuración de la vista */


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* codigo externo duplicado */
		if not isnull(@lp_sysappprycodext,'')=''
			IF exists (select top 1 * from sys_app_pry where buscod=@lp_buscod and not sysappprycod=@lp_sysappprycod and sysappprycodext=@lp_sysappprycodext)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
					RETURN
				END

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
			
		BEGIN TRAN
				
		INSERT INTO sys_app_pry (buscod, sysappprycodext, sysappprytxt, 
			sysappprytkn, sysappprysrctyp, sysappprysrcdat, 
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_sysappprycodext, @lp_sysappprytxt, 
			@lp_sysappprytkn, @lp_sysappprysrctyp, @lp_sysappprysrcdat, 
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_sysappprycod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysappprycod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE sys_app_pry 
		SET	sysappprycodext	=	@lp_sysappprycodext,
			sysappprytxt	=	@lp_sysappprytxt,
			sysappprytkn	=	@lp_sysappprytkn,
			sysappprysrctyp	=	@lp_sysappprysrctyp,
			sysappprysrcdat	=	@lp_sysappprysrcdat,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and sysappprycod = @lp_sysappprycod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysappprycod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 1 *
		FROM sys_app_pry
		WHERE buscod=@lp_buscod
		  and (sysappprycod=@lp_sysappprycod
		  or SysAppPryTkn=@lp_sysappprytkn)
		  		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		DELETE
		FROM sys_app_pry_api 
		WHERE buscod = @lp_buscod
		  and sysappprycod = @lp_sysappprycod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM sys_app_pry 
				WHERE buscod = @lp_buscod
				  and sysappprycod = @lp_sysappprycod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysappprycod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.* '
			+ ' FROM sys_app_pry p '
			+ ' WHERE p.buscod = '+QUOTENAME(@lp_buscod,'''')
			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )

		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
