USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_SUB_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[HHR_SUB_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrsubcod		as int			= null,	/* id */
@lp_hhrsubcodext	as nvarchar(20)	= null,	/* codigo */
@lp_srcobjtyp		as nvarchar(20)	= null,	/* objeto origen - tipo */
@lp_srcobjcod		as nvarchar(20)	= null,	/* objeto origen - codigo */
@lp_dstobjtyp		as nvarchar(20)	= null,	/* objeto destino - tipo */
@lp_dstobjcod		as nvarchar(20)	= null,	/* objeto destino - codigo */
@lp_hhrsubdtestr	as nvarchar(14)	= null,	/* fecha desde */
@lp_hhrsubdteend	as nvarchar(14)	= null,	/* fecha hasta */
@lp_hhrchrasgcodlst	as nvarchar(max)= null,	/* IDs asignacion de cargos (separados x tab) */
@lp_hhrsubcmt		as nvarchar(max)=null,	/* comentarios */
@lp_sysdocclscod	as int			= null,	/* id clase documento */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null,	/* config vista */

@lp_hhrsubatr		as nvarchar(max)= null	/* atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int
SET @lv_errcod=0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_hhrsubdtestr as smalldatetime
set @lv_hhrsubdtestr = dbo.ConvertDate( @lp_hhrsubdtestr )

declare @lv_hhrsubdteend as smalldatetime
set @lv_hhrsubdteend = dbo.ConvertDate( @lp_hhrsubdteend )



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SUB'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation IN ('01', '11', '02', '12')
	BEGIN
		if @lp_srcobjtyp=@lp_dstobjtyp and @lp_srcobjcod=@lp_dstobjcod
			begin
				SELECT -1 as errcod, 'El Solicitante y Suplente no pueden ser el mismo.' as errtxt
				RETURN
			end
		/*
		-- prevengo solapamiento de fechas para el mismo cargo
		if exists(select top 1 * from HHR_SUB where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and @lv_hhrsubdtestr<hhrsubdteend and @lv_hhrsubdteend>hhrsubdtestr and not hhrsubcod=@lp_hhrsubcod and deldte is null)
			begin
				SELECT -1 as errcod, 'Las fechas se solapan con una asignaciÃ³n previa para el mismo cargo.' as errtxt
				RETURN
			end
		*/

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego licencia (cabecera)
		INSERT INTO HHR_SUB (buscod, hhrsubcodext, srcobjtyp, srcobjcod, dstobjtyp, dstobjcod, hhrsubdtestr, hhrsubdteend, hhrsubcmt, hhrsubatr, sysdocclscod, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_hhrsubcodext, @lp_srcobjtyp, @lp_srcobjcod, @lp_dstobjtyp, @lp_dstobjcod, @lv_hhrsubdtestr, @lv_hhrsubdteend, @lp_hhrsubcmt, @lp_hhrsubatr, @lp_sysdocclscod, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_hhrsubcod=@@IDENTITY

		-- agrego cargos (posiciones)
		if @lv_errcod=0
			BEGIN
				INSERT INTO HHR_SUB_CHR (buscod, hhrsubcod, hhrchrasgcod, hhrsubchratr, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_hhrsubcod, dbo.getTagValue('hhrchrasgcod',x.id), '<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>', @lp_docsts, GETDATE(), @lp_username
				FROM dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrsubcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'  or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- actualizo licencia (cabecera)
		UPDATE HHR_SUB
		SET hhrsubcodext=@lp_hhrsubcodext,
			hhrsubdtestr=@lv_hhrsubdtestr,
			hhrsubdteend=@lv_hhrsubdteend,
			hhrsubcmt=@lp_hhrsubcmt,
			hhrsubatr=@lp_hhrsubatr,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and hhrsubcod=@lp_hhrsubcod
		SET @lv_errcod=@@ERROR

		-- agrego cargos no existente (posiciones)
		if @lv_errcod=0
			BEGIN
				INSERT INTO HHR_SUB_CHR (buscod, hhrsubcod, hhrchrasgcod, hhrsubchratr, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_hhrsubcod, dbo.getTagValue('hhrchrasgcod',x.id), '<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>', @lp_docsts, GETDATE(), @lp_username
				FROM dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x
				LEFT OUTER JOIN HHR_SUB_CHR lc on lc.BusCod=@lp_buscod and lc.hhrsubCod=@lp_hhrsubcod and lc.HhrChrAsgCod=dbo.getTagValue('hhrchrasgcod',x.id)
				SET @lv_errcod=@@ERROR
			END

		-- actualizo cargos existentes (posiciones)
		if @lv_errcod=0
			BEGIN
				UPDATE lc
					SET hhrsubchratr='<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>',
						docsts='A',
						UpdDte=getdate(),
						updusr=@lp_username
				FROM HHR_SUB_CHR lc
				inner join dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x on lc.BusCod=@lp_buscod and lc.HhrsubCod=@lp_hhrsubcod and lc.HhrChrasgCod=dbo.getTagValue('hhrchrasgcod',x.id)
				where lc.BusCod=@lp_buscod
				  and lc.HhrSubCod=@lp_hhrsubcod
				SET @lv_errcod=@@ERROR
			END

		-- quito cargos no informados (posiciones)
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM HHR_SUB_CHR
				WHERE BusCod=@lp_buscod
				  and hhrsubCod=@lp_hhrsubcod
				  and HhrChrAsgCod not in (select dbo.getTagValue('hhrchrasgcod',id) from dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ))
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrsubcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		SElECT s.*, asrc.AdrNme001 as srcobjtxt, adst.AdrNme001 as dstobjtxt 
		FROM HHR_SUB s
		inner join sys_doc_cls dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod 
		inner join GRL_DAT_ADR asrc on asrc.BusCod=s.buscod and asrc.AdrSrcTyp=s.srcobjtyp and asrc.AdrSrcCod=s.srcobjcod 
		inner join GRL_DAT_ADR adst on adst.BusCod=s.buscod and adst.AdrSrcTyp=s.dstobjtyp and adst.AdrSrcCod=s.dstobjcod 
		WHERE s.buscod=@lp_buscod
		  and s.hhrsubcod=@lp_hhrsubcod

	END





/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R                                                 */
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HHR_SUB 
		SET docsts = 'I',
			deldte = getdate(),
			delusr = @lp_username
		WHERE buscod=@lp_buscod
			and hhrsubcod=@lp_hhrsubcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			  COMMIT TRAN
		ELSE
			  ROLLBACK TRAN

		SELECT @lp_hhrsubcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
		
		/* hhr_sub_def '08','temasis','temasis_edu' */

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.*, convert(nvarchar, s.hhrsubdtestr, 103) as hhrsubdtestrcnv, convert(nvarchar, s.hhrsubdteend, 103) as hhrsubdteendcnv, asrc.adrnme001 as srcobjtxt, adst.adrnme001 as dstobjtxt '
		  	+ ' FROM HHR_SUB s '
			+ ' inner join sys_doc_cls dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod '
			+ ' inner join grl_dat_adr asrc on asrc.buscod=s.buscod and asrc.adrsrctyp=s.srcobjtyp and asrc.adrsrccod=s.srcobjcod '
			+ ' inner join grl_dat_adr adst on adst.buscod=s.buscod and adst.adrsrctyp=s.dstobjtyp and adst.adrsrccod=s.dstobjcod '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and s.deldte is null '
 		
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'hhrsubdtestrcnv', 's.hhrsubdtestr')
		set @lv_flt = replace(@lv_flt, 'hhrsubdteendcnv', 's.hhrsubdteend')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = replace(@lv_ord, 'hhrsubdtestrcnv', 's.hhrsubdtestr')
		set @lv_ord = replace(@lv_ord, 'hhrsubdteendcnv', 's.hhrsubdteend')

		execute( @lv_sql + @lv_flt + @lv_ord )

	END
	


/* ------------------------------------------------------------------------ */
/*   2 3    -    L I S T A R	C A R G O S 								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '23' 
	BEGIN
		SET @lv_validop = 1

		/* hhr_sub_def '23','temasis','temasis_edu', 52 */

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' sc.*, ca.hhrchrtypcod, ct.hhrchrtyptxt, ca.hhrchrasgatr, ct.hhrchrtypatr, cc.hhrchrclsatr, ag.hhragrtxt '
		  	+ ' FROM HHR_SUB s '
			+ ' inner join HHR_SUB_CHR sc on sc.buscod=s.buscod and sc.hhrsubcod=s.hhrsubcod '
			+ ' inner join HHR_CHR_ASG ca on ca.buscod=sc.buscod and ca.hhrchrasgcod=sc.hhrchrasgcod '
			+ ' inner join hhr_chr_typ ct on ct.buscod=sc.buscod and ct.hhrchrtypcod=ca.hhrchrtypcod '
			+ ' inner join hhr_chr_cls cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod '
			+ ' left join hhr_agr ag on ag.buscod=ca.buscod and ag.hhragrcod=ca.hhragrcod '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and s.deldte is null '
			+ (case when isnull(@lp_hhrsubcod,0)=0 then '' else ' and s.hhrsubcod='+cast(@lp_hhrsubcod as nvarchar(20)) end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
