USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CHG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DOC_CHG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_chgdoccod			as int					= null,	-- id 
@lp_chgdocsrctyp	as nvarchar(20)	= null,	-- origen - tipo 
@lp_chgdocsrccod	as nvarchar(20)	= null,	-- origen - codigo 
@lp_docsts				as nvarchar(02)	= null,	-- estado  

@lp_vewcfg				as nvarchar(max)= null,	-- configuraciÃ³n ede la vista 

@lp_chgdocatrstr	as nvarchar(max)= null, -- atributos (<atr><nme></nme><old></old><new></new></atr><atr>....</atr>) 
@lp_chgdocatrcod	as int					= null

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
		
		-- SYS_DOC_CHG_DEF '01','MDOMINGUEZ','TEMASIS','','CRM_CNT','281','A','','<ATR><NME>USUARIO</NME><OLD></OLD><NEW></NEW></ATR><ATR><NME>ESTADO</NME><OLD>PRUEBA USUARIO</OLD><NEW>PRUEBA OK</NEW></ATR><ATR><NME>COMENTARIOS</NME><OLD></OLD><NEW></NEW></ATR>' 

		declare @lv_i as int
		declare @lv_chgdocatrstr as nvarchar(max)
		declare @lv_chgdocatrnme as nvarchar(50)
		declare @lv_chgdocatrold as nvarchar(max)
		declare @lv_chgdocatrnew as nvarchar(max)

		BEGIN TRAN
		
		-- aggrego cabecera de documento de cambio
		INSERT INTO SYS_DOC_CHG (buscod, chgdocsrctyp, chgdocsrccod, docsts, cteusr, ctedte)
		VALUES  (@lp_buscod, @lp_chgdocsrctyp, @lp_chgdocsrccod, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod = @@ERROR
		SET @lp_chgdoccod = @@IDENTITY
		
		-- agrego modificaciones de documento de cambio
		-- formato: <atr><nme></nme><old></old><new></new></atr><atr>....</atr>
		IF @lv_errcod=0
			BEGIN
				set @lv_i = 0
				set @lv_chgdocatrstr = dbo.GetTagValue('atr',@lp_chgdocatrstr)
				while not @lv_chgdocatrstr='' and @lv_errcod=0 and @lv_i < 1000
					begin
						set @lv_chgdocatrnme = dbo.GetTagValue('nme',@lv_chgdocatrstr)
						set @lv_chgdocatrold = dbo.GetTagValue('old',@lv_chgdocatrstr)
						set @lv_chgdocatrnew = dbo.GetTagValue('new',@lv_chgdocatrstr)

						if not @lv_chgdocatrold=@lv_chgdocatrnew
							begin
								INSERT INTO SYS_DOC_CHG_ATR (BusCod, ChgDocCod, ChgDocAtrNme, ChgDocAtrOld, ChgDocAtrNew, DocSts, CteDte, CteUsr)
								VALUES (@lp_buscod, @lp_chgdoccod, @lv_chgdocatrnme, @lv_chgdocatrold, @lv_chgdocatrnew, @lp_docsts, GETDATE(), @lp_username)
								set @lv_errcod = @@ERROR
							end
						
						set @lp_chgdocatrstr = SUBSTRING(@lp_chgdocatrstr,len(@lv_chgdocatrstr)+12,len(@lp_chgdocatrstr)-len(@lv_chgdocatrstr)-11)
						set @lv_chgdocatrstr = dbo.GetTagValue('atr',@lp_chgdocatrstr)
						set @lv_i = @lv_i + 1
					end
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_chgdoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		-- sys_doc_chg_def '03','mdominguez','temasis_hlt',null,'CRM_CNT','2' 

		SELECT dca.chgdoccod, dca.chgdocatrcod, dca.chgdocatrnme,
		isnull(dca.chgdocatrold,'')+isnull(dca.chgdocatrold001,'')+isnull(dca.chgdocatrold002,'')+isnull(dca.chgdocatrold003,'')+isnull(dca.chgdocatrold004,'')+isnull(dca.chgdocatrold005,'')+isnull(dca.chgdocatrold006,'')+isnull(dca.chgdocatrold007,'')+isnull(dca.chgdocatrold008,'')+isnull(dca.chgdocatrold009,'') as chgdocatrold,
		isnull(dca.chgdocatrnew,'')+isnull(dca.chgdocatrnew001,'')+isnull(dca.chgdocatrnew002,'')+isnull(dca.chgdocatrnew003,'')+isnull(dca.chgdocatrnew004,'')+isnull(dca.chgdocatrnew005,'')+isnull(dca.chgdocatrnew006,'')+isnull(dca.chgdocatrnew007,'')+isnull(dca.chgdocatrnew008,'')+isnull(dca.chgdocatrnew009,'') as chgdocatrnew
		FROM sys_doc_chg dc
		inner join sys_doc_chg_atr dca on dca.buscod=dc.buscod and dca.chgdoccod=dc.chgdoccod
		WHERE dc.buscod=@lp_buscod
		  and dc.chgdocsrctyp=@lp_chgdocsrctyp
		  and dc.chgdocsrccod=@lp_chgdocsrccod
		ORDER BY dc.ctedte desc

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' * ', ' SYS_DOC_CHG ',' buscod='+QUOTENAME(@lp_buscod,''''), '', default)
		execute( @lv_sql )
		
    END	



-- ------------------------------------------------------------------------
--   1 2    -    M O D I F I C A R    D E T A L L E
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		update SYS_DOC_CHG_ATR
		set ChgDocAtrNew=@lp_chgdocatrstr
		where BusCod=@lp_buscod
		  and ChgDocCod=@lp_chgdoccod
		  and ChgDocAtrCod=@lp_chgdocatrcod 
		set @lv_errcod=@@ERROR

		if @lv_errcod=0
			COMMIT TRAN
		else
			ROLLBACK TRAN

		select @lp_chgdocatrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   1 3    -    L I S T A R    D E T A L L E								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		-- sys_doc_chg_def '03','mdominguez','temasis_hlt',null,'CRM_CNT','2' 
		
		SELECT dc.ChgDocCod, dc.ctedte, dc.cteusr, dca.*
		FROM sys_doc_chg dc
		inner join sys_doc_chg_atr dca on dca.buscod=dc.buscod and dca.chgdoccod=dc.chgdoccod
		WHERE dc.buscod=@lp_buscod
		  and dc.chgdocsrctyp=@lp_chgdocsrctyp
		  and dc.chgdocsrccod=@lp_chgdocsrccod
		ORDER BY dc.ChgDocCod desc

	END



-- ------------------------------------------------------------------------ 
--   1 4    -    L I S T A R	V A R I O S		D E T A L L E S				
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
    
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, 
      'dc.chgdocsrctyp, dc.chgdocsrccod, dca.*,
      ROW_NUMBER() OVER (PARTITION BY dc.chgdocsrccod ORDER BY dc.ChgDocCod DESC) AS rownumber ',
    	' SYS_DOC_CHG dc inner join sys_doc_chg_atr dca on dca.buscod=dc.buscod and dca.chgdoccod=dc.chgdoccod ',
			' dc.buscod='+QUOTENAME(@lp_buscod,''''),
      '', default )
      
    declare @lv_rownumber as int = dbo.gettagvalue('rownumber', dbo.gettagvalue('extra', @lp_vewcfg))
		
    if isnull(@lv_rownumber,0)>0
      set @lv_sql = 'WITH cte_data AS ('+@lv_sql+') SELECT * FROM cte_data WHERE rownumber < ' + CAST(@lv_rownumber as nvarchar);
    
    execute( @lv_sql )
  END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
