USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CLS_MSG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SYS_DOC_CLS_MSG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysdocclsmsgcod	as int			= null,	/* id */
@lp_sysdocclscod	as int			= null,	/* id clase de documento */
@lp_sysdocmsgcod	as int			= null,	/* id clase de mensaje */
@lp_sysdocclsmsgatr	as nvarchar(4000)= null, /* atributos */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuraciÃ³n ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	No se puede borrar la clasificaciÃ³n. Materiales asociados.			*/
/* ------------------------------------------------------------------------ */

/*
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	END
*/


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_CLS_MSG (buscod, sysdocclscod, sysdocmsgcod, sysdocclsmsgatr, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_sysdocclscod, @lp_sysdocmsgcod, @lp_sysdocclsmsgatr, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_sysdocclsmsgcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsmsgcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_CLS_MSG 
		SET	sysdocclscod=@lp_sysdocclscod,
			sysdocmsgcod = @lp_sysdocmsgcod,
			sysdocclsmsgatr = @lp_sysdocclsmsgatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocclsmsgcod = @lp_sysdocclsmsgcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsmsgcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_CLS_MSG dcm
		WHERE dcm.buscod = @lp_buscod
		  and dcm.sysdocclsmsgcod = @lp_sysdocclsmsgcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
/*	
		IF exists(select top 1 * from stk_mat where buscod=@lp_buscod and matclscod=@lp_matclscod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la clasificaciÃ³n. Materiales asociados.' as errtxt
				RETURN
			END
*/	
		BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_CLS_MSG 
		WHERE buscod=@lp_buscod
		  and sysdocclsmsgcod = @lp_sysdocclsmsgcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsmsgcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dcm.*, dc.sysdocclstxt, dm.sysdocmsgtxt, dm.sysdocmsgatr, dm.sysdocmsgcodext '
			+ ' FROM SYS_DOC_CLS_MSG dcm '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=dcm.buscod and dc.sysdocclscod=dcm.sysdocclscod '
			+ ' inner join SYS_DOC_MSG dm on dm.buscod=dcm.buscod and dm.sysdocmsgcod=dcm.sysdocmsgcod '
			+ ' WHERE dcm.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql
	END
	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END





GO
