USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_ACT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_ACT_DEF]

@lp_sysoperation    as nvarchar(2),
@lp_username        as nvarchar(20),
@lp_buscod          as nvarchar(20)     = null,      -- empresa 
@lp_actcod          as int              = null,      -- id 
@lp_actcodext       as nvarchar(20)     = null,      -- codigo 
@lp_acttxt          as nvarchar(50)     = null,      -- descripciÃ³n 
@lp_actrsptxt       as nvarchar(50)     = null,      -- responsable 
@lp_actloctxt       as nvarchar(50)     = null,      -- ubicaciÃ³n 
@lp_actsex          as nvarchar(01)     = null,      -- sexo de actividad (M/F) 
@lp_actagestr       as int              = null,      -- edad - desde 
@lp_actageend       as int              = null,      -- edad - hasta 
@lp_actatr          as nvarchar(max)   = null,      -- atributos 
@lp_SptTrfCod       as int              = null,      -- arancel 
@lp_actgrptxt       as nvarchar(50)     = null,      -- grupo de actividades 
@lp_tchcod          as int              = null,      -- id profesor 
@lp_docsts          as nvarchar(2)      = null,      -- estado 
@lp_vewcfg          as nvarchar(max)   = null        -- configuraciÃ³n de vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Codigo existente.													
--	-2	Arancel invÃ¡lido													
--	-3	No se puede borrar la actividad. Existen socios inscriptos.			
-- ------------------------------------------------------------------------ 

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SPT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'ACT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		IF not isnull(@lp_spttrfcod,0)=0
			IF (select count(*) from spt_trf where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod)=0
				BEGIN
					SELECT null, -2 as errcod, 'Arancel invÃ¡lido.' as errmsg
					RETURN
				END

		-- valido codigo externo duplicado 
		if not isnull(@lp_actcodext,'')=''
			begin
				IF exists(select top 1 * from SPT_ACT where buscod=@lp_buscod and not actcod=@lp_actcod and actcodext=@lp_actcodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO SPT_ACT 
			(buscod, actcodext, acttxt, actgrptxt, 
			actrsptxt, tchcod, actloctxt, actsex, actagestr, actageend, actatr, SptTrfCod,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_actcodext, @lp_acttxt, @lp_actgrptxt, 
			@lp_actrsptxt, @lp_tchcod, @lp_actloctxt, @lp_actsex, @lp_actagestr, @lp_actageend, @lp_actatr, @lp_SptTrfCod,
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_actcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_actcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg

	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		UPDATE SPT_ACT 
		SET	actcodext	= @lp_actcodext,
			acttxt		= @lp_acttxt, 
			actrsptxt	= @lp_actrsptxt,
			tchcod		= @lp_tchcod,
			actloctxt	= @lp_actloctxt,
			actsex		= @lp_actsex,
			actagestr	= @lp_actagestr,
			actageend	= @lp_actageend,
			actatr		= @lp_actatr,
			actgrptxt	= @lp_actgrptxt,
			SptTrfCod	= @lp_SptTrfCod,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and actcod = @lp_actcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_actcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg

	END

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, t.tchtxt, st.SptTrfTxt
		FROM SPT_ACT a
		LEFT JOIN SPT_TCH t on t.buscod=a.buscod and t.tchcod=a.tchcod
		LEFT JOIN SPT_TRF st on st.buscod=a.buscod and st.SptTrfCod=a.SptTrfCod
		WHERE a.buscod = @lp_buscod
		  and a.actcod = @lp_actcod

	END

-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		IF exists(select top 1 * from spt_ptn_act where buscod=@lp_buscod and actcod=@lp_actcod)
			BEGIN
				SELECT null, -3 as errcod, 'No se puede borrar la actividad. Existen socios inscriptos.' as errmsg
				RETURN
			END

		BEGIN TRAN
		
		-- borro actividades de socios 
		DELETE
		FROM SPT_PTN_ACT
		WHERE buscod = @lp_buscod
		  and actcod = @lp_actcod
		SET @lv_errcod=@@ERROR

		-- borro aranceles de actividad 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SPT_ACT_TRF
				WHERE buscod = @lp_buscod
				  and actcod = @lp_actcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro actividad 
		IF @lv_errcod=0
			BEGIN		
				DELETE 
				FROM SPT_ACT
				WHERE buscod = @lp_buscod
				  and actcod = @lp_actcod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_actcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg

	END

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.*, t.tchtxt '
			+ ' FROM SPT_ACT a '
			+ ' left join SPT_TCH t on t.buscod=a.buscod and t.tchcod=a.tchcod '
			+ ' WHERE a.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and a.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'a.actgrptxt, a.acttxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END

-- ------------------------------------------------------------------------ 
--   1 1    -    A C T U A L I Z A R     A R A N C E L E S					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		-- si el arancel ya existe, no hago nada 
		IF (select count(*) from spt_act_trf where buscod=@lp_buscod and actcod=@lp_actcod and spttrfcod=@lp_spttrfcod)>0
			BEGIN
				SELECT @lp_spttrfcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg
				RETURN
			END
			
		BEGIN TRAN
				
		INSERT INTO spt_act_trf (buscod, actcod, spttrfcod, docsts, ctedte, cteusr)
		SELECT @lp_buscod, @lp_actcod, @lp_spttrfcod, @lp_docsts, getdate(), @lp_username
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_spttrfcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg
					
	END
	
-- ------------------------------------------------------------------------ 
--   1 3    -    L I S T A R     A R A N C E L E S							
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
				
		SELECT at.*, t.spttrftxt
		FROM SPT_ACT_TRF at
		left join SPT_TRF t on t.buscod=at.buscod and t.spttrfcod=at.spttrfcod
		WHERE at.buscod=@lp_buscod
		  and at.actcod=@lp_actcod
		
	END

-- ------------------------------------------------------------------------ 
--   1 4    -    B O R R A R     A R A N C E L E S							
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM spt_act_trf
		WHERE buscod = @lp_buscod
		  and actcod = @lp_actcod
		  and spttrfcod=@lp_spttrfcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_spttrfcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg

	END

-- ------------------------------------------------------------------------ 
--   2 3    -    L I S T A R	x	N O M B R E								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT a.*, f.SptTrfTxt
		FROM SPT_ACT a
		 left join SPT_TRF f on f.buscod=a.buscod and f.SptTrfCod=a.SptTrfCod
		WHERE a.buscod=@lp_buscod
		  and a.acttxt like '%'+@lp_acttxt+'%'
		  and a.docsts='A'	
		
	END
			
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
