USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_MOV_DOC_VAL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TSR_MOV_DOC_VAL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_tsrmovdocvalcod	as int				= null, -- id
@lp_tsrmovdocvalcodext	as nvarchar(20) = null, -- codigo
@lp_tsrmovdocvaltxt	as nvarchar(50)		= null, -- texto
@lp_tsrmovdocvaldte	as nvarchar(14)		= null, -- fecha
@lp_tsrmovdoccod 	as int				= null,	-- id doc tesorerÃ­a
@lp_paymthcod		as int				= null,	-- mÃ©todo de pago
@lp_refobjtyp		as nvarchar(20)		= null,	-- objeto referencia
@lp_refobjcod001	as int				= null,	-- objeto referencia - codigo 1
@lp_refobjcod002	as int				= null,	-- objeto referencia - codigo 2
@lp_tsrmovdocvalamt	as bigint			= null,	-- total
@lp_curcod			as nvarchar(05)		= null,	-- id moneda
@lp_excrte			as bigint			= null,	-- tipo cambio
@lp_bnkcod			as int				= null,	-- id banco
@lp_bnkacccod		as int				= null,	-- id cuenta
@lp_bnktjtcod		as int				= null, -- id tarjeta
@lp_cshvalcod		as int				= null, -- id valor (caja)
@lp_docsts 			as nvarchar(02)		= null,	-- estado

@lp_vewcfg			as nvarchar(max)	= null,	-- configuraciÃ³n vista

@lp_BnkChkCod		as int				= null	-- id chequera

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_errtxt as nvarchar(250)
declare @lv_sql as nvarchar(max)

declare @lv_tsrmovdocvaldte as datetime = dbo.ConvertDate( @lp_tsrmovdocvaldte )
declare @lv_tsrmovdocvalamt as decimal(13,3) = dbo.ConvertNumber( @lp_tsrmovdocvalamt , 3 )
declare @lv_excrte as decimal(13,5) = dbo.ConvertNumber( @lp_excrte , 5 )



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO TSR_MOV_DOC_VAL (buscod, TsrMovDocValCodExt, TsrMovDocValTxt, TsrMovDocValDte, 
			TsrMovDocCod, RefObjTyp, RefObjCod001, RefObjCod002, tsrmovdocvalamt, CurCod, ExcRte, BnkCod,
			bnkacccod, bnktjtcod, docsts, cteusr, ctedte, PayMthCod, cshvalcod, BnkChkCod)
		SELECT @lp_buscod, @lp_tsrmovdocvalcodext, @lp_tsrmovdocvaltxt, @lv_tsrmovdocvaldte, 
			@lp_tsrmovdoccod, @lp_refobjtyp, @lp_refobjcod001, @lp_refobjcod002, @lv_tsrmovdocvalamt, @lp_curcod, @lv_excrte, @lp_bnkcod, 
			@lp_bnkacccod, @lp_bnktjtcod, @lp_docsts, @lp_username, getdate(), @lp_paymthcod, @lp_cshvalcod, @lp_BnkChkCod
		SET @lv_errcod=@@ERROR
		SET @lp_tsrmovdocvalcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdocvalcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE TSR_MOV_DOC_VAL
		SET	tsrmovdocvalcodext = @lp_tsrmovdocvalcodext,
			tsrmovdocvaltxt = @lp_tsrmovdocvaltxt,
			tsrmovdocvaldte = @lv_tsrmovdocvaldte,
			tsrmovdocvalamt = @lv_tsrmovdocvalamt,
			BnkCod = @lp_bnkcod, 
			BnkAccCod = @lp_bnkacccod, 
			BnkTjtCod = @lp_bnktjtcod, 
			PayMthCod = @lp_PayMthCod,
			cshvalcod = @lp_cshvalcod,
			BnkChkCod = @lp_BnkChkCod,
			curcod = @lp_curcod,
			excrte = @lv_excrte,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
			and TsrMovDocValCod = @lp_tsrmovdocvalcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdocvalcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT v.*, c.CurTxt, m.PayMthTxt, b.BnkTxt, ba.BnkAccTxt
		FROM TSR_MOV_DOC_VAL v
			inner join ADM_CUR c on c.CurCod = v.CurCod
			inner join TSR_PAY_MTH m on m.buscod = v.buscod and m.PayMthCod = v.PayMthCod
			left join TSR_BNK b on b.BusCod=v.BusCod and b.BnkCod=v.BnkCod
			left join TSR_BNK_ACC ba on ba.BusCod=v.BusCod and ba.BnkAccCod=v.BnkCod
			left join GRL_DAT_BNK bj on bj.BusCod=v.BusCod and bj.BnkSrcTyp='ADM_BUS' and bj.BnkSrcCod=v.bnktjtcod
		WHERE v.buscod=@lp_buscod
		  and v.TsrMovDocValCod = @lp_tsrmovdocvalcod
		
	END




-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM TSR_MOV_DOC_VAL
		WHERE buscod=@lp_buscod
			and TsrMovDocValCod = @lp_tsrmovdocvalcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdocvalcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1
		
		-- TSR_MOV_DOC_VAL_DEF '08','temasis','osiad'

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' v.*, c.CurTxt, m.PayMthTxt, m.paymthtyp, b.BnkTxt, ba.BnkAccTxt, ba.BnkAccTxt as BnkChkTxt, bj.BnkTjtNum as BnkTjtTxt '
			+ ' FROM TSR_MOV_DOC_VAL v '
			+ ' inner join ADM_CUR c on c.CurCod = v.CurCod '
			+ ' inner join TSR_PAY_MTH m on m.buscod = v.buscod and m.PayMthCod = v.PayMthCod '
			+ ' left join TSR_BNK b on b.BusCod=v.BusCod and b.BnkCod=v.BnkCod '
			+ ' left join TSR_BNK_ACC ba on ba.BusCod=v.BusCod and ba.BnkAccCod=v.BnkAccCod '
			+ ' left join TSR_BNK_CHK bc on bc.buscod=v.buscod and bc.bnkchkcod=v.bnkchkcod '
			+ ' left join GRL_DAT_BNK bj on bj.BusCod=v.BusCod and bj.BnkSrcTyp='+QUOTENAME('ADM_BUS','''')+' and bj.BnkNum=v.BnkTjtCod '
			+ ' WHERE v.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'v.upddte DESC' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
