USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_CRE_PLN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_PAT_CRE_PLN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_patcreplncod 	as int			= null,	-- id
@lp_patcod			as int			= null,	-- id paciente
@lp_patcreplnstrdte	as nvarchar(14)	= null,	-- fecha desde
@lp_patcreplnenddte	as nvarchar(14)	= null,	-- fecha hasta
@lp_patcreplnaut	as nvarchar(50)	= null,	-- autorizacion
@lp_patcreplncmt	as nvarchar(max)= null,	-- comentarios
@lp_docsts			as nvarchar(05) = null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- config. vista

@lp_sysdocclscod	as int			= null	-- id clase documento

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_ord as nvarchar(max)
declare @lv_flt as nvarchar(max)

declare @lv_patcreplnstrdte as datetime = dbo.convertDate( @lp_patcreplnstrdte )
declare @lv_patcreplnenddte as datetime = dbo.convertDate( @lp_patcreplnenddte )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PLA'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		if @lv_patcreplnstrdte>@lv_patcreplnenddte
			BEGIN
				SELECT null, -1 as errcod, 'La fecha desde debe ser menor o igual que la fecha hasta.' as errtxt
				RETURN
			END

		if exists(select top 1 * 
					from HLT_PAT_CRE_PLN 
					where buscod=@lp_buscod 
					and patcod=@lp_patcod 
					and not patcreplncod=@lp_patcreplncod 
					and patcreplnstrdte<=@lv_patcreplnenddte and patcreplnenddte>=@lv_patcreplnstrdte)
			BEGIN
				SELECT null, -2 as errcod, 'El perÃ­odo se solapa con otro existente.' as errtxt
				RETURN
			END
			 
	END
	

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_PAT_CRE_PLN (buscod, patcod, patcreplnstrdte, patcreplnenddte, patcreplnaut, patcreplncmt, docsts, ctedte, cteusr, sysdocclscod)
		VALUES (@lp_buscod, @lp_patcod, @lv_patcreplnstrdte, @lv_patcreplnenddte, @lp_patcreplnaut, @lp_patcreplncmt, @lp_docsts, getdate(), @lp_username, @lp_sysdocclscod)
		SET @lv_errcod=@@ERROR
		SET @lp_patcreplncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_patcreplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_PAT_CRE_PLN 
		SET	patcod = @lp_patcod,
			patcreplnstrdte = @lv_patcreplnstrdte,
			patcreplnenddte = @lv_patcreplnenddte,
			patcreplnaut = @lp_patcreplnaut,
			patcreplncmt = @lp_patcreplncmt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and patcreplncod = @lp_patcreplncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_patcreplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*, p.pattxt, dc.SysDocClsTxt
		FROM HLT_PAT_CRE_PLN c
		inner join HLT_PAT p on p.buscod=c.buscod and p.patcod=c.patcod
		inner join SYS_DOC_CLS dc on dc.BusCod=c.BusCod and dc.SysDocClsCod=c.SysDocClsCod
		WHERE c.buscod=@lp_buscod
		  and c.patcreplncod=@lp_patcreplncod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    
				
		BEGIN TRAN

		DELETE
		FROM HLT_PAT_CRE_PLN
		WHERE buscod = @lp_buscod
		  and patcreplncod = @lp_patcreplncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_patcreplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END




-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
		
		-- hlt_pat_cre_pln_def '08','mdominguez','temasis_hlt'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg,
			' c.*, p.patcod, p.patcodext, p.pattxt, dc.sysdocclstxt, pc.custxt ',
			' hlt_pat_cre_pln c '
			+ ' inner join HLT_PAT p on p.buscod=c.buscod and p.patcod=c.patcod '
			+ ' inner join SLS_CUS pc on pc.buscod=p.buscod and pc.cuscod=p.cuscod '
			+ ' inner join sys_doc_cls dcp on dcp.buscod=c.buscod and dcp.sysdocclscod=p.sysdocclscod '
			+ ' inner join sys_doc_cls dcpc on dcpc.buscod=c.buscod and dcpc.sysdocclscod=c.sysdocclscod '
			+ ' inner join sys_doc_cls dc on dc.buscod=c.buscod and dc.sysdocclscod=c.sysdocclscod ',
			' p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('HLT_PAT','''')+', dcp.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('SLS_CUS','''')+', dcpc.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('HLT_PLA','''')+', dc.autcod)=1 '
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'p.patcod')
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'p.cuscod'),
			' c.ctedte desc ', default )

		execute( @lv_sql )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El codigo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
