USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRN_EQM_PLY_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_TRN_EQM_PLY_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		/* cod empresa */
@lp_trncod			as int			= null,		/* id torneo */
@lp_eqmcod			as int			= null,		/* id equipo */
@lp_eqmplycod		as int			= null,		/* id registro */
@lp_ptncod			as int			= null,		/* id jugador */
@lp_plycat			as nvarchar(20)	= null,		/* categoría del jugador */
@lp_docsts 			as nvarchar(2)	= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_plycat_old as nvarchar(2)
declare @lv_ptncod_old as int



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* agrego el jugador al equipo */
		INSERT INTO SPT_TRN_EQM_PLY (buscod, trncod, ptncod, eqmcod, plycat, docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_trncod, @lp_ptncod, @lp_eqmcod, @lp_plycat,	@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_eqmplycod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_eqmplycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    


		SELECT @lv_plycat_old=plycat, @lv_ptncod_old=ptncod FROM SPT_trn_eqm_ply WHERE buscod=@lp_buscod and trncod=@lp_trncod and eqmcod=@lp_eqmcod and eqmplycod=@lp_eqmplycod
		

		BEGIN TRAN

		/* actualizo jugador en equipo */
		UPDATE SPT_TRN_EQM_PLY 
		SET	ptncod	  = @lp_ptncod,
			plycat	  = @lp_plycat,
			docsts	  = @lp_docsts, 
			updusr	  = @lp_username,
			upddte	  = getdate()
		WHERE buscod	= @lp_buscod
		  and trncod	= @lp_trncod
		  and eqmcod	= @lp_eqmcod
		  and eqmplycod = @lp_eqmplycod
		SET @lv_errcod=@@ERROR		

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_eqmplycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, a.adrlstnme, a.adrfrtnme
		FROM SPT_TRN_EQM_PLY p 
		inner join SPT_PTN s on s.buscod=p.buscod and s.ptncod=p.ptncod
		inner join GRL_DAT_ADR a on a.buscod=s.buscod and a.adrnum=s.adrnum
		WHERE p.buscod	= @lp_buscod
		  and p.trncod	= @lp_trncod
		  and p.eqmcod	= @lp_eqmcod
		  and p.eqmplycod = @lp_eqmplycod			
		  and s.deldte is null

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		SELECT  @lv_plycat_old=plycat, 
				@lv_ptncod_old=ptncod
		FROM SPT_trn_eqm_ply 
		WHERE buscod=@lp_buscod 
		  and trncod=@lp_trncod 
		  and eqmcod=@lp_eqmcod 
		  and eqmplycod=@lp_eqmplycod

		BEGIN TRAN
		
		/* borro el jugador del equipo */
		DELETE 
		FROM SPT_TRN_EQM_PLY
		WHERE buscod	= @lp_buscod
		  and trncod	= @lp_trncod
		  and eqmcod	= @lp_eqmcod
		  and eqmplycod = @lp_eqmplycod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_eqmplycod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, a.adrlstnme, a.adrfrtnme
		FROM SPT_TRN_EQM_PLY p 
		inner join SPT_PTN s on s.buscod=p.buscod and s.ptncod=p.ptncod
		inner join GRL_DAT_ADR a on a.buscod=s.buscod and a.adrnum=s.adrnum
		WHERE p.buscod	= @lp_buscod
		  and p.trncod	= @lp_trncod
		  and p.eqmcod	= @lp_eqmcod
		  and s.deldte is null
		ORDER BY (case when PlyCat='Ar' then 'Z' else PlyCat end)
		
	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
