USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_BNK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TSR_BNK_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n 
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario 
@lp_buscod			as nvarchar(20) = null,		-- empresa 
@lp_bnkcod			as int			= null,		-- id banco 
@lp_bnkcodext		as nvarchar(10)	= null,		-- codigo banco 
@lp_bnktxt			as nvarchar(40) = null,		-- descripciÃ³n 
@lp_docsts			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)=null		-- configuracion vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not isnull(@lp_bnkcodext,'')=''
			begin
				if exists(select top 1 * from tsr_bnk where buscod=@lp_buscod and not bnkcod=@lp_bnkcod and bnkcodext=@lp_bnkcodext)
					begin
						select null, -1 as errcod, 'CÃ³digo externo existente' as errtxt
						RETURN
					end
			end

	end



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO tsr_bnk (buscod, bnkcodext, bnktxt, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_bnkcodext, @lp_bnktxt, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_bnkcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE tsr_bnk
		SET bnkcodext=@lp_bnkcodext,
			bnktxt = @lp_bnktxt,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and bnkcod = @lp_bnkcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM tsr_bnk
		WHERE buscod = @lp_buscod
		  and bnkcod = @lp_bnkcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
    
    -- Verificar si existen asociaciones en GRL_DAT_BNK
		IF exists(select 1 from GRL_DAT_BNK where buscod=@lp_buscod	and bnkcod=@lp_bnkcod)
      BEGIN
        SELECT null, -2 as errcod, 'No se puede borrar el banco. Documentos asociados.' as errtxt
        RETURN
      END

		BEGIN TRAN
		
		-- borro chequera 
		DELETE c
		FROM TSR_BNK_CHK c
		INNER JOIN GRL_DAT_BNK b on b.BusCod = c.BusCod and b.BnkSrcTyp='TSR_BNA' and b.BnkSrcCod = c.BnkAccCod
		WHERE c.buscod=@lp_buscod
		and b.BnkCod = @lp_bnkcod
		SET @lv_errcod=@@ERROR
		  
		-- borro cuenta 
		IF @lv_errcod=0
			BEGIN
				DELETE a
				FROM tsr_bnk_acc a
				inner join GRL_DAT_BNK b on b.buscod=a.BusCod and b.BnkSrcTyp = 'BNK_ACC' and b.BnkSrcCod=a.BnkAccCod
				WHERE a.buscod=@lp_buscod
				  and b.bnkcod=@lp_bnkcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro banco 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM tsr_bnk
				WHERE buscod = @lp_buscod
				  and bnkcod = @lp_bnkcod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * FROM TSR_BNK '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'bnktxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 8    -    L I S T A R   por   T E X T O								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		SELECT TOP 20 *
		FROM TSR_BNK
		WHERE buscod=@lp_buscod
		  and bnktxt like '%'+@lp_bnktxt+'%'
		  and docsts='A'

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
