USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LQD_LCK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[HHR_LQD_LCK_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrlqdlckcod	as int			= null,	/* id */
@lp_hhrlqdlckstrdte	as nvarchar(14)	= null,	/* fecha desde */
@lp_hhrlqdlckenddte	as nvarchar(14)	= null,	/* fecha hasta */
@lp_hhrlqdlckatr	as nvarchar(max)= null,	/* atributos */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int
SET @lv_errcod=0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_hhrlqdlckstrdte as datetime
set @lv_hhrlqdlckstrdte = dbo.ConvertDate( @lp_hhrlqdlckstrdte )

declare @lv_hhrlqdlckenddte as datetime
set @lv_hhrlqdlckenddte = dbo.ConvertDate( @lp_hhrlqdlckenddte )



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* prevengo solapamiento de fechas */
		if exists(select top 1 * from HHR_LQD_LCK where buscod=@lp_buscod and not hhrlqdlckcod=@lp_hhrlqdlckcod and HhrLqdLckStrDte<=@lv_hhrlqdlckenddte and HhrLqdLckEndDte>=@lv_hhrlqdlckstrdte )
			begin
				SELECT -1 as errcod, 'Las fechas se solapan con un bloqueo previo.' as errtxt
				RETURN
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_LQD_LCK (buscod, hhrlqdlckstrdte, hhrlqdlckenddte, hhrlqdlckatr,  
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lv_hhrlqdlckstrdte, @lv_hhrlqdlckenddte, @lp_hhrlqdlckatr, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_hhrlqdlckcod=@@IDENTITY
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdlckcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* actualizo inasistencia */
		UPDATE HHR_LQD_LCK
		SET hhrlqdlckstrdte=@lv_hhrlqdlckstrdte,
			hhrlqdlckenddte=@lv_hhrlqdlckenddte,
			hhrlqdlckatr=@lp_hhrlqdlckatr,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and hhrlqdlckcod=@lp_hhrlqdlckcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdlckcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		SElECT lk.*
		FROM HHR_LQD_LCK lk
		WHERE lk.buscod=@lp_buscod
		  and lk.hhrlqdlckcod=@lp_hhrlqdlckcod

	END





/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R                                                 */
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM HHR_LQD_LCK 
		WHERE buscod=@lp_buscod
		  and hhrlqdlckcod=@lp_hhrlqdlckcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			  COMMIT TRAN
		ELSE
			  ROLLBACK TRAN

		SELECT @lp_hhrlqdlckcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		/* HHR_LQD_LCK_def '08','temasis','temasis_edu' */

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' lk.*, convert(nvarchar, lk.hhrlqdlckstrdte, 103) as hhrlqdlckstrdtecnv, convert(nvarchar, lk.hhrlqdlckenddte, 103) as hhrlqdlckenddtecnv '
		  	+ ' FROM HHR_LQD_LCK lk '
			+ ' WHERE lk.buscod='+QUOTENAME(@lp_buscod,'''')

 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'hhrlqdlckstrdtecnv','ca.hhrlqdlckstrdte')
		set @lv_flt = REPLACE(@lv_flt,'hhrlqdlckenddtecnv','ca.hhrlqdlckenddte')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = REPLACE(@lv_ord,'hhrlqdlckstrdtecnv','ca.hhrlqdlckstrdte')
		set @lv_ord = REPLACE(@lv_ord,'hhrlqdlckenddtecnv','ca.hhrlqdlckenddte')

		execute( @lv_sql + @lv_flt + @lv_ord )
	END



/* ------------------------------------------------------------------------ */
/*   1 3    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
-- devuelve la fecha minima y maxima de carga a partir de los bloqueos de 
-- un objeto dado
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1

		/* hhr_lqd_lck_def '13','temasis','institutoalmafuerte',null,null,null,'<objtyp>HHR_LIC</objtyp>' */

		declare @lv_objtyp as nvarchar(50)
		set @lv_objtyp = dbo.GetTagValue('objtyp',@lp_hhrlqdlckatr)

		-- obtengo fecha minima de carga
		set @lv_hhrlqdlckstrdte = (select top 1 HhrLqdLckEndDte
									from HHR_LQD_LCK lck
									where lck.BusCod=@lp_buscod
									  and not dbo.GetTagValue(@lv_objtyp,lck.HhrLqdLckAtr)=''
									  and DocSts='A'
									order by lck.HhrLqdLckEndDte desc)

		-- obtengo fecha maxima de carga
		set @lv_hhrlqdlckenddte = (select top 1 HhrLqdLckstrDte
									from HHR_LQD_LCK lck
									where lck.BusCod=@lp_buscod
									  and not dbo.GetTagValue(@lv_objtyp,lck.HhrLqdLckAtr)=''
									  and HhrLqdLckStrDte>=GETDATE()
									  and DocSts='A'
									order by lck.HhrLqdLckstrDte)

		select convert(nvarchar,@lv_hhrlqdlckstrdte,103) as hhrlqdlckstrdte, 
				convert(nvarchar,@lv_hhrlqdlckenddte,103) as hhrlqdlckenddte

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
