USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_BNK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_DAT_BNK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,

@lp_bnknum 			as int			= null,	-- id
@lp_bnkcod	 		as int			= null,	-- id banco
@lp_BnkAccCBU		as nvarchar(22) = null,	-- cuit-cuil
@lp_BnkBch 			as nvarchar(20)	= null,	-- nro ingresos brutos
@lp_BnkAccNum		as nvarchar(20)	= null,	-- fecha inicio actividades
@lp_BnkAccTyp		as nvarchar(10)	= null,	-- cur (argentina)
@lp_PayMthCod		as nvarchar(20) = null,	-- medio de pago
@lp_bnkdoctyp		as nvarchar(05)	= null,	-- documento - tipo
@lp_bnkdocnum		as nvarchar(10)	= null,	-- documento - número
@lp_docsts 			as nvarchar(2)	= null,	-- estado
@lp_bnksrctyp		as nvarchar(20)	= null,	-- origen - tipo
@lp_bnksrccod		as nvarchar(20) = null,	-- origen - id
@lp_bnkacccbuals	as nvarchar(20)	= null,	-- alias CBU

@lp_bnktjtnum		as nvarchar(16)	= null,	-- número de tarjeta
@lp_bnktjttxt		as nvarchar(50)	= null,	-- titular de tarjeta
@lp_bnktjtenddte	as nvarchar(14)	= null,	-- vencimiento de tarjeta

@lp_vewcfg			as nvarchar(max)= null	-- configuración vista


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)
DECLARE @lv_flt as nvarchar(max)
DECLARE @lv_ord as nvarchar(max)

declare @lv_bnktjtenddte as datetime
set @lv_bnktjtenddte = dbo.ConvertDate( @lp_bnktjtenddte )

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Código de Banco inválido
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	
		-- valido Banco
		if not isnull(@lp_bnkcod,'')=''
			IF not exists(select top 1 * from tsr_bnk where buscod=@lp_buscod and bnkcod=@lp_bnkcod)
				BEGIN
					SELECT null, -1 as errcod, 'Código de Banco inválido.' as errtxt
					RETURN
				END

		if exists(select top 1 * from grl_dat_bnk where buscod=@lp_buscod and bnksrctyp=@lp_bnksrctyp and bnksrccod=@lp_bnksrccod)
			begin
				SET @lp_bnknum=(select top 1 bnknum from grl_dat_bnk where buscod=@lp_buscod and bnksrctyp=@lp_bnksrctyp and bnksrccod=@lp_bnksrccod)
				set @lp_sysoperation='02'
			end 
		else
			set @lp_sysoperation='01'

	END

	
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO GRL_DAT_BNK (buscod, 
			bnkcod, bnkacccbu, bnkacccbuals, bnkbch, bnkaccnum, bnkacctyp,
			PayMthCod,
			bnkdoctyp, bnkdocnum,
			bnksrctyp, bnksrccod,
			BnkTjtNum, BnkTjtTxt, BnkTjtEndDte,
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod,  
			@lp_bnkcod, @lp_bnkacccbu, @lp_bnkacccbuals, @lp_bnkbch, @lp_bnkaccnum, @lp_bnkacctyp,
			@lp_PayMthCod,
			@lp_bnkdoctyp, @lp_bnkdocnum,
			@lp_bnksrctyp, @lp_bnksrccod,
			@lp_bnktjtnum, @lp_bnktjttxt, @lv_bnktjtenddte,
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_bnknum=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_bnknum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
		
	END
	


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_BNK
		SET	bnkcod = @lp_bnkcod,
			bnkacccbu = @lp_bnkacccbu,
			bnkacccbuals = @lp_bnkacccbuals, 
			bnkbch = @lp_bnkbch,
			bnkaccnum = @lp_bnkaccnum,
			bnkacctyp = @lp_bnkacctyp,
			PayMthCod = @lp_PayMthCod,
			bnkdoctyp=@lp_bnkdoctyp,
			bnkdocnum=@lp_bnkdocnum,
			BnkTjtNum=@lp_bnktjtnum, 
			BnkTjtTxt=@lp_bnktjttxt, 
			BnkTjtEndDte=@lv_bnktjtenddte,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and bnknum = @lp_bnknum
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_bnknum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
		
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT b.*
		FROM GRL_DAT_BNK b 
		WHERE b.buscod=@lp_buscod
		  and b.bnknum=@lp_bnknum
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		-- borro contactos
		DELETE 
		FROM GRL_DAT_BNK
		WHERE buscod=@lp_buscod
		  and bnknum=@lp_bnknum
		  and bnksrctyp=@lp_bnksrctyp
		  and bnksrccod=@lp_bnksrccod
		SET @lv_errcod=@@ERROR				
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_bnknum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END


-- ------------------------------------------------------------------------
--   0 5    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT b.*, tb.bnktxt, tp.paymthtxt, tp.PayMthTyp
		FROM GRL_DAT_BNK b 
		left join tsr_bnk tb on tb.buscod=b.buscod and tb.bnkcod=b.bnkcod
		left join TSR_PAY_MTH tp on tp.buscod=b.buscod and tp.paymthcod=b.paymthcod
		WHERE b.buscod=@lp_buscod
		  and b.bnksrctyp=@lp_bnksrctyp
		  and b.bnksrccod=@lp_bnksrccod
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'bnktjtenddtecnv','convert(nvarchar,b.bnktjtenddte,103)')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = REPLACE(@lv_ord,'bnktjtenddtecnv','convert(nvarchar,b.bnktjtenddte,103)')

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' b.*, tb.bnktxt, tp.paymthtxt, tp.PayMthTyp, convert(nvarchar,b.bnktjtenddte,103) as bnktjtenddtecnv '
			+ ' FROM GRL_DAT_BNK b '
			+ ' left join tsr_bnk tb on tb.buscod=b.buscod and tb.bnkcod=b.bnkcod '
			+ ' left join TSR_PAY_MTH tp on tp.buscod=b.buscod and tp.paymthcod=b.paymthcod '
			+ ' WHERE b.buscod='+QUOTENAME(@lp_buscod,'''')
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
