USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRN_ZNE_MCH_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_TRN_ZNE_MCH_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_trncod			as nvarchar(5)	= null,	/* id torneo */
@lp_znecod			as nvarchar(5)	= null,	/* id zona */
@lp_mchcod			as nvarchar(5)	= null,	/* id partido */
@lp_mchnum			as nvarchar(5)	= null,	/* número de fecha a la que pertenece el partido */
@lp_eqmcod001		as nvarchar(20)	= null,	/* id equipo local */
@lp_eqmcod002		as nvarchar(20)	= null,	/* id equipo visitante */
@lp_mchdte			as nvarchar(14)	= null,	/* fecha del partido */
@lp_mchplc			as nvarchar(50)	= null,	/* cancha */
@lp_mchtme			as nvarchar(05)	= null,	/* hora del partido HH:mm */
@lp_mchjdg			as nvarchar(50)	= null,	/* juez, judge */
@lp_mchvwr			as nvarchar(50)	= null,	/* veedor, visor, viewer */
@lp_eqmgls001		as nvarchar(5)	= null,	/* goles del equipo local */
@lp_eqmgls002		as nvarchar(5)	= null,	/* goles del equipo visitante */
@lp_mchlawgls001	as nvarchar(5)	= null,	/* sanción en goles del equipo local */
@lp_mchlawgls002	as nvarchar(5)	= null,	/* sanción en goles del equipo visitante */
@lp_mchlawpts001	as nvarchar(5)	= null,	/* sanción en puntos del equipo local */
@lp_mchlawpts002	as nvarchar(5)	= null,	/* sanción en puntos del equipo visitante */
@lp_mchcmt001		as text			= null,	/* comentarios del juez */
@lp_mchcmt002		as text			= null,	/* comentarios del veedor */
@lp_mchcmt			as text			= null,	/* comentarios del partido */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */
@lp_znecod002		as int			= null,	/* id zona visitante (interzonal) */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_mchdte as datetime
set @lv_mchdte = dbo.ConvertDate( @lp_mchdte )

if isnull(@lp_znecod002,0)=0
	set @lp_znecod002 = null

declare @lv_sql as nvarchar(4000)

	

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	E R R O R E S															*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Torneo inválido.													*/
/*	-2	Zona inválida.														*/
/*	-3	Zona interzonal inválida.											*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R		P A R T I D O								*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		/* valido torneo */
		IF (select count(*) from spt_trn where buscod=@lp_buscod and trncod=@lp_trncod)=0
			BEGIN
				SELECT null, -1 as errcod, 'Torneo inválido.' as errtxt
				RETURN
			END
			
		/* valido zona */
		IF (select count(*) from spt_trn_zne where buscod=@lp_buscod and trncod=@lp_trncod and znecod=@lp_znecod)=0
			BEGIN
				SELECT null, -2 as errcod, 'Zona inválida.' as errtxt
				RETURN
			END

		/* valido zona - interzonal */
		if not @lp_znecod002 is null
			IF (select count(*) from spt_trn_zne where buscod=@lp_buscod and trncod=@lp_trncod and znecod=@lp_znecod002)=0
				BEGIN
					SELECT null, -3 as errcod, 'Zona interzonal inválida.' as errtxt
					RETURN
				END
		
		BEGIN TRAN
		
		INSERT INTO SPT_TRN_ZNE_MCH 
			(buscod, trncod, znecod, mchnum,  			
			eqmcod001, eqmcod002, 		
			mchdte, mchtme, mchplc, mchjdg, mchvwr,			
			eqmgls001, eqmgls002, 
			mchlawgls001, mchlawgls002, 
			mchlawpts001, mchlawpts002, 
			mchcmt, mchcmt001, mchcmt002, znecod002,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_trncod, @lp_znecod, @lp_mchnum,
			@lp_eqmcod001, @lp_eqmcod002, 		
			@lv_mchdte, @lp_mchtme, @lp_mchplc,	@lp_mchjdg, @lp_mchvwr,		
			@lp_eqmgls001, @lp_eqmgls002,
			@lp_mchlawgls001, @lp_mchlawgls002, 
			@lp_mchlawpts001, @lp_mchlawpts002, 
			@lp_mchcmt, @lp_mchcmt001, @lp_mchcmt002, @lp_znecod002,
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_mchcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_mchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R		P A R T I D O									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE SPT_TRN_ZNE_MCH 
		SET	mchnum		 = @lp_mchnum,
			eqmcod001	 = @lp_eqmcod001, 
			eqmcod002	 = @lp_eqmcod002, 		
			mchdte		 = @lv_mchdte, 
			mchtme		 = @lp_mchtme, 
			mchplc		 = @lp_mchplc,
			mchjdg		 = @lp_mchjdg, 
			mchvwr		 = @lp_mchvwr,			
			eqmgls001	 = @lp_eqmgls001, 
			eqmgls002	 = @lp_eqmgls002,
			mchlawgls001 = @lp_mchlawgls001, 
			mchlawgls002 = @lp_mchlawgls002, 
			mchlawpts001 = @lp_mchlawpts001, 
			mchlawpts002 = @lp_mchlawpts002, 
			mchcmt		 = @lp_mchcmt,
			mchcmt001	 = @lp_mchcmt001, 
			mchcmt002	 = @lp_mchcmt002,
			znecod002	 = @lp_znecod002,
			docsts		 = @lp_docsts, 
			updusr		 = @lp_username,
			upddte		 = getdate()
		WHERE buscod	= @lp_buscod
		  and trncod	= @lp_trncod
		  and znecod	= @lp_znecod
		  and mchcod	= @lp_mchcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_mchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R		P A R T I D O									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*, t.trntxt, z.znetxt, e1.eqmtxt as eqmtxt001, e2.eqmtxt as eqmtxt002, z2.znecod as znecod002, z2.znetxt as znetxt002
		FROM SPT_TRN t
		inner join SPT_TRN_ZNE z on z.buscod=t.buscod and z.trncod=t.trncod 
		inner join SPT_TRN_ZNE_MCH m on m.buscod=z.buscod and m.trncod=z.trncod and m.znecod=z.znecod
		inner join SPT_TRN_EQM e1 on e1.buscod=t.buscod and e1.trncod=t.trncod and e1.eqmcod=m.eqmcod001
		inner join SPT_TRN_EQM e2 on e2.buscod=t.buscod and e2.trncod=t.trncod and e2.eqmcod=m.eqmcod002
		left  join SPT_TRN_ZNE z2 on z2.buscod=m.buscod and z2.trncod=m.trncod and z2.znecod=m.znecod002
		WHERE t.buscod	= @lp_buscod
		  and t.trncod	= @lp_trncod
		  and z.znecod	= @lp_znecod
		  and m.mchcod	= @lp_mchcod
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R		P A R T I D O							*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* borro asociación de jugadores */		
		DELETE
		FROM SPT_TRN_ZNE_MCH_PLY
		WHERE buscod	= @lp_buscod
		  and trncod	= @lp_trncod
		  and znecod	= @lp_znecod
		  and mchcod	= @lp_mchcod
		SET @lv_errcod=@@ERROR
		
		/* borro partido */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TRN_ZNE_MCH
				WHERE buscod	= @lp_buscod
				  and trncod	= @lp_trncod
				  and znecod	= @lp_znecod
				  and mchcod	= @lp_mchcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_mchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' m.*, e1.eqmtxt as eqmtxt001, e2.eqmtxt as eqmtxt002, z.znetxt, t.trntxt '
			+ ' FROM SPT_trn t '
			+ ' inner join SPT_TRN_ZNE z ON z.buscod=t.buscod and z.trncod=t.trncod '
			+ ' inner join SPT_TRN_ZNE_MCH m ON m.buscod=z.buscod and m.trncod=z.trncod and m.znecod=z.znecod '
			+ ' inner join SPT_TRN_EQM e1 ON e1.buscod=m.buscod and e1.trncod=m.trncod and e1.eqmcod=m.eqmcod001 '
			+ ' inner join SPT_TRN_EQM e2 ON e2.buscod=m.buscod and e2.trncod=m.trncod and e2.eqmcod=m.eqmcod002 '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and t.docsts='+QUOTENAME('A','''')
			+ ' and z.docsts='+QUOTENAME('A','''')
			+ ' and not ( m.eqmgls001 is null and m.eqmgls002 is null ) '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 9    -    L I S T A R	P E N D I E N T E S									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' m.*, e1.eqmtxt as eqmtxt001, e2.eqmtxt as eqmtxt002, z.znetxt, t.trntxt '
			+ ' FROM SPT_trn t '
			+ ' inner join SPT_TRN_ZNE z ON z.buscod=t.buscod and z.trncod=t.trncod '
			+ ' inner join SPT_TRN_ZNE_MCH m ON m.buscod=z.buscod and m.trncod=z.trncod and m.znecod=z.znecod '
			+ ' inner join SPT_TRN_EQM e1 ON e1.buscod=m.buscod and e1.trncod=m.trncod and e1.eqmcod=m.eqmcod001 '
			+ ' inner join SPT_TRN_EQM e2 ON e2.buscod=m.buscod and e2.trncod=m.trncod and e2.eqmcod=m.eqmcod002 '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and t.docsts='+QUOTENAME('A','''')
			+ ' and z.docsts='+QUOTENAME('A','''')
			+ ' and m.eqmgls001 is null and m.eqmgls002 is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END
	

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R	T R I B U N A L									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' m.*, e1.eqmtxt as eqmtxt001, e2.eqmtxt as eqmtxt002, z.znetxt, t.trntxt '
			+ ' FROM SPT_TRN_ZNE_MCH m '
			+ ' INNER JOIN SPT_trn_zne z ON z.buscod=m.buscod and z.trncod=m.trncod and z.znecod=m.znecod '
			+ ' INNER JOIN SPT_trn_eqm e1 ON e1.buscod=m.buscod and e1.trncod=m.trncod and e1.eqmcod=m.eqmcod001 '
			+ ' INNER JOIN SPT_trn_eqm e2 ON e2.buscod=m.buscod and e2.trncod=m.trncod and e2.eqmcod=m.eqmcod002 '
			+ ' INNER JOIN SPT_trn t ON t.buscod=m.buscod and t.trncod=m.trncod '
			+ ' WHERE m.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and m.eqmgls001 is not null and m.eqmgls002 is not null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
