USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_LQD_DOC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_PRS_LQD_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		
@lp_hltprslqddoccod	as int			= null, -- id liquidaciÃ³n-documento
@lp_hltprslqdcod 	as int			= null,	-- id liquidaciÃ³n
@lp_refobjtyp		as nvarchar(20)	= null,	-- objeto referencia
@lp_refobjcod001	as int			= null, -- id ref 001
@lp_refobjcod002	as int			= null,	-- id ref 002
@lp_hltprslqddoccodext as nvarchar(20)=null, -- cod externo
@lp_hltprslqddoctxt	as nvarchar(50) = null,	-- descripcion
@lp_hltprslqddoctot	as bigint		= null,	-- total
@lp_currcod			as nvarchar(5)	= null,	-- moneda
@lp_hltprslqddocatr001	as nvarchar(max)=null, -- atributos
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- configuraciÃ³n vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)
declare @lv_srcobjtyp as nvarchar(50) = ''



-- ------------------------------------------------------------------------
--  0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- hlt_prs_lqd_doc_def '08','mdominguez','temasis_hlt'
		-- HLT_PRS_LQD_DOC_DEF '08','TEMASIS','TINFUSIONAR','','','','','','','','','','','','<VIEW><VEWFLT> AND (LD.HLTPRSLQDCOD=^13932^) AND (LD.REFOBJTYP=^HLT_EVL^)</VEWFLT><VEWGRP></VEWGRP><VEWGRPCAL></VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD></VEWORD><VEWMAX></VEWMAX><VEWPGE></VEWMAX></VIEW>'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' ld.*, be.buyexpcodext, '
      + ' (case when ld.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then cd.hltplnctrtme else d.PlnTme end) as hltplnctrtme, ' 
      + ' (case when ld.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then cd.hltplnctrqty else d.PlnQty end) as hltplnctrqty, '
      + ' sc.custxt, s.spctxt, '
      + ' convert(varchar, hltprslqddocdte, 103) as hltprslqddocdtecnv ',
			' hlt_prs_lqd_doc ld '
      + ' left join buy_exp be on be.buscod=ld.buscod and ld.refobjtyp='+QUOTENAME('BUY_EXP','''')+' and be.buyexpcod=ld.refobjcod001 '
      + ' left join hlt_pln_ctr_dte cd on cd.buscod=ld.buscod and cd.hltplnctrcod=ld.refobjcod001 and cd.hltplnctrdtecod=ld.refobjcod002 and ld.refobjtyp='+QUOTENAME('HLT_PCR','''')
      + ' left join hlt_pln_ctr c on c.buscod=ld.buscod and c.hltplnctrcod=cd.hltplnctrcod '
      + ' left join hlt_pat_evl e on e.buscod=ld.buscod and e.evlcod=ld.refobjcod001 and ld.refobjtyp='+QUOTENAME('HLT_EVL','''')
      + ' left join hlt_pln pl on pl.buscod=ld.buscod and (pl.plnid=cd.plnid and ld.refobjtyp='+QUOTENAME('HLT_PCR','''')+') or (pl.plnid=e.plnid and ld.refobjtyp='+QUOTENAME('HLT_EVL','''')+') '
      + ' left join hlt_pln_dte d on d.buscod=ld.buscod and (d.plnid=cd.plnid and d.plndteid=cd.plndteid and ld.refobjtyp='+QUOTENAME('HLT_PCR','''')+') or (d.plnid=e.plnid and d.plndteid=e.plndteid and ld.refobjtyp='+QUOTENAME('HLT_EVL','''')+') '
      + ' left join sls_cus sc on sc.buscod=pl.buscod and sc.cuscod=pl.cuscod '
      + ' left join hlt_spc s on s.buscod=ld.buscod and ( s.spccod=c.spccod and ld.refobjtyp='+QUOTENAME('HLT_PCR','''')+') or (s.spccod=e.spccod and ld.refobjtyp='+QUOTENAME('HLT_EVL','''')+') ',
			' ld.buscod='+QUOTENAME(@lp_buscod,''''),
      default, default)
		execute( @lv_sql )
    
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END



GO
