USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_PLN_PRE_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_PLN_PRE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20), 
@lp_buscod			as nvarchar(20),
@lp_eduplnprecod	as int			= null,	-- id
@lp_educurplncod	as int			= null, -- id materia (plan,carrera,curso,materia)
@lp_educurcod	as int			= null,	-- id
@lp_educarcod	as int			= null,	-- id
@lp_educoucod	as int			= null,	-- id
@lp_edusubcod	as int			= null,	-- id
@lp_stucod			as int			= null,	-- id alumno
@lp_tchcod			as int			= null,	-- id profesor
@lp_stdloccod		as int			= null,	-- id lugar
@lp_eduplnpredte	as nvarchar(14)	= null,	-- fecha pre-inscripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- vista

@lp_eduplninscod	as int			= null,	-- id inscripciÃ³n
@lp_sysdocclscod	as int			= null	-- clase de documento

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_eduplnpredte as datetime = dbo.ConvertDate( @lp_eduplnpredte )



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PLP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		BEGIN TRAN
		INSERT INTO EDU_PLN_PRE (buscod, educurplncod, educurcod, educarcod, educoucod, edusubcod, stucod, stdloccod, eduplnpredte, eduplninscod, docsts, ctedte, cteusr, SysDocClsCod)
		VALUES (@lp_buscod, @lp_educurplncod, @lp_educurcod, @lp_educarcod, @lp_educoucod, @lp_edusubcod, @lp_stucod, @lp_stdloccod, @lv_eduplnpredte, @lp_eduplninscod, @lp_docsts, getdate(), @lp_username, @lp_sysdocclscod)
    
    SET @lv_errcod=@@ERROR
		SET @lp_eduplnprecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
      
		SELECT @lp_eduplnprecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
    UPDATE EDU_PLN_PRE
    SET	educurplncod = @lp_educurplncod,
    		educurcod = @lp_educurcod,
    		educarcod = @lp_educarcod,
       	educoucod = @lp_educoucod,
        edusubcod = @lp_edusubcod,
        stucod = @lp_stucod,
    		stdloccod = @lp_stdloccod, 
				eduplnpredte = @lv_eduplnpredte,
        eduplninscod = @lp_eduplninscod,
				docsts = @lp_docsts,
        updusr = @lp_username,
        upddte = getdate()
		WHERE buscod = @lp_buscod
		  and eduplnprecod = @lp_eduplnprecod
		SET @lv_errcod=@@ERROR
    
    IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
      
		SELECT @lp_eduplnprecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
  END
	 
   
   
-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
  	SELECT p.*, c.educurtxt, a.educartxt, o.educoutxt, s.edusubtxt, st.stutxt, stl.stdloctxt
		FROM EDU_PLN_PRE p
    left join EDU_CUR c on c.buscod=p.buscod and c.educurcod=p.educurcod
    left join EDU_CAR a on a.buscod=p.buscod and a.educarcod=p.educarcod
    left join EDU_COU o on o.buscod=p.buscod and o.educoucod=p.educoucod
		left join EDU_SUB s on s.buscod=p.buscod and s.edusubcod=p.edusubcod
    left join EDU_STD_LOC stl on stl.buscod=p.buscod and stl.stdloccod=p.stdloccod
    inner join EDU_STU st on st.buscod=p.buscod and st.stucod=p.stucod
		WHERE p.buscod=@lp_buscod
		  and p.eduplnprecod=@lp_eduplnprecod
	END
  
  
  
-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
		
		IF not exists(select top 1 * from EDU_PLN_PRE where buscod=@lp_buscod and eduplnprecod=@lp_eduplnprecod and isnull(eduplninscod,0)=0 )
			BEGIN
				SELECT null, -41 as errcod, 'No se puede borrar. Existe inscripciÃ³n asociada.' as errtxt
				RETURN
			END

		BEGIN TRAN

		DELETE
		FROM EDU_PLN_PRE
		WHERE buscod = @lp_buscod
		  and eduplnprecod = @lp_eduplnprecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
      
		SELECT @lp_eduplnprecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
  


-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
     set @lv_sql = dbo.getSqlSentence( @lp_vewcfg,' p.*, c.educurtxt, a.educartxt, o.educoutxt, s.edusubtxt, st.stutxt, stl.stdloctxt ', 
                                      'EDU_PLN_PRE p '
																				+ ' inner join EDU_CUR c on c.buscod=p.buscod and c.educurcod=p.educurcod '
																				+ ' left join EDU_CAR a on a.buscod=p.buscod and a.educarcod=p.educarcod '
																				+ ' left join EDU_COU o on o.buscod=p.buscod and o.educoucod=p.educoucod '
																				+ ' left join EDU_SUB s on s.buscod=p.buscod and s.edusubcod=p.edusubcod '
                                      	+ ' left join EDU_STD_LOC stl on stl.buscod=p.buscod and stl.stdloccod=p.stdloccod'
																				+ ' left join EDU_STU st on st.buscod=p.buscod and st.stucod=p.stucod ',            
                                     'p.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                     'c.educurtxt', default)
			execute( @lv_sql )
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
