USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_BUS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADM_BUS_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_bustxt			as nvarchar(50)	= null,	-- descripcion
@lp_adrnum			as int					= null,	-- id de direccion
@lp_docsts 			as nvarchar(1)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuracion vista

@lp_busactstr		as nvarchar(14)	= null,	-- fecha inicio actividad
@lp_curcod			as nvarchar(05) = null,	-- id moneda 
@lp_busatr			as nvarchar(max)= null,	-- atributos

@lp_lngcod			as nvarchar(max)= null,	-- id idioma
@lp_hhrorgchtcod as int					= null	-- id organigrama

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)

DECLARE @lv_busactstr as smalldatetime
if not @lp_busactstr is null
	SET @lv_busactstr = dbo.ConvertDate( @lp_busactstr )



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('02-03-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'ADM'
		DECLARE @lv_autprgcod as nvarchar(3) = 'BUS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE ADM_BUS
		SET	bustxt = @lp_bustxt,
			busactstr = @lv_busactstr,
			busatr = @lp_busatr,
			curcod = @lp_curcod,
      lngcod = @lp_lngcod,
      hhrorgchtcod = @lp_hhrorgchtcod, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		SELECT b.*, oc.hhrorgchttxt
		FROM ADM_BUS b
    left join hhr_org_cht oc on oc.buscod=b.buscod and oc.hhrorgchtcod=b.hhrorgchtcod
		WHERE b.buscod=@lp_buscod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
/*
	declare @lv_sql as nvarchar(max)
	declare @lv_i as int = 0
	declare @lp_buscod as nvarchar(20)='HANNA'
	declare @lv_name as nvarchar(250)
	declare lc_cur cursor for 
	select name from dbo.sysobjects where id in (select id from dbo.syscolumns where name='buscod')
	open lc_cur
	fetch next from lc_cur into @lv_name
	while @@FETCH_STATUS=0 or @lv_i>10000
		begin
			set @lv_sql = 'delete from '+@lv_name+' where buscod='+QUOTENAME(@lp_buscod,'''')
			print @lv_sql
			--exec( @lv_sql )
			fetch next from lc_cur into @lv_name
			set @lv_i=@lv_i+1
		end
	close lc_cur
	deallocate lc_cur
*/


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' b.*, a.adrstr, a.adrphn001, a.adrphn002, oc.hhrorgchttxt ',
			' adm_bus b '
			+ ' inner join grl_dat_adr a on a.buscod=b.buscod and a.adrsrctyp='+QUOTENAME('ADM_BUS','''')+' and a.adrsrccod=b.buscod '
      + ' left join hhr_org_cht oc on oc.buscod=b.buscod and oc.hhrorgchtcod=b.hhrorgchtcod ',
			' 1=1 '
			+ dbo.GetUserRestrictions(@lp_buscod,@lp_username,'b.buscod'), 
			' b.bustxt ', 
			default )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN
		RaisError('El codigo de operacion <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
