USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_DBT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_DBT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa*/
@lp_sptdbtcod		as int			= null,	/* ID documento de proceso */
@lp_sptdbtptncod	as int			= null,	/* ID registro */
@lp_sptdbtperstr	as nvarchar(14) = null,	/* período - desde */
@lp_sptdbtperend	as nvarchar(14) = null,	/* período - hasta */
@lp_sptdbtpertxt	as nvarchar(40) = null,	/* período - texto */
@lp_sptdbtexpdte	as nvarchar(14)	= null,	/* fecha de vencimiento */
@lp_sptdbtapl		as nvarchar(1)  = null,	/* aplicar a (T=todos) */
@lp_ptncodstr		as int			= null,	/* socio desde */
@lp_ptncodend		as int			= null,	/* socio hasta */
@lp_spttrfcod		as int			= null,	/* ID definicion */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null,	/* configuración vista */

@lp_actcod			as int			= null,	/* ID actividad */
@lp_trncod			as int			= null,	/* ID torneo */
@lp_cshcod			as nvarchar(10)	= null,	/* ID caja */
@lp_sptdbtamt		as bigint		= null,	/* importe */
@lp_sptdbtnum		as nvarchar(10)	= null,	/* número de comprobante */
@lp_ptntxt			as nvarchar(82)	= null	/* nombre socio */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_errtxt as nvarchar(250)

DECLARE @lv_sptdbtexpdte as datetime
set @lv_sptdbtexpdte = dbo.ConvertDate( @lp_sptdbtexpdte )

DECLARE @lv_sptdbtperstr as datetime
set @lv_sptdbtperstr = dbo.ConvertDate( @lp_sptdbtperstr )

DECLARE @lv_sptdbtperend as datetime
set @lv_sptdbtperend = dbo.ConvertDate( @lp_sptdbtperend )

declare @lv_acttxt as nvarchar(50)
set @lv_acttxt = (select top 1 acttxt from spt_act where buscod=@lp_buscod and actcod=@lp_actcod)

declare @lv_trntxt as nvarchar(50)
set @lv_trntxt = (select top 1 trncod from spt_trn where buscod=@lp_buscod and trncod=@lp_trncod)

declare @lv_spttrftxt as nvarchar(50)
set @lv_spttrftxt = (select top 1 spttrftxt from spt_trf where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod)

declare @lv_sptdbtamt as decimal(13,3)
set @lv_sptdbtamt = dbo.ConvertNumber( @lp_sptdbtamt , 3 )

DECLARE @lv_ptncod as int
declare @lv_ptntxt as nvarchar(90)
DECLARE @lv_sptdbtpayamtrst as decimal(13,2)
DECLARE @lv_sptdbtptnpaycod as int

declare @lp_docmovnum as nvarchar(10)
declare @lv_tsrdocmovid as int
declare @lp_TsrDocClsCod as nvarchar(10)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-2	No se ha realizado la apertura de caja. No se pueden realizar movimientos.	*/
/*	-3	No se encontraron datos para procesar.								*/
/*	-4	Saldo insuficiente de efectivo en caja.								*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
	
		/* si es un pago paso a la operación 14 */
		IF exists(select top 1 * from spt_dbt_ptn dp left join spt_trf t on t.buscod=dp.buscod and t.spttrfcod=dp.spttrfcod where dp.buscod=@lp_buscod and dp.sptdbtptncod=@lp_sptdbtptncod and t.spttrfcls='H')
			begin
			SET @lp_sysoperation = '14'
			end
		
	END
	
	

/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT d.*, 
			f.spttrftxt, 
			p1.ptntxt as ptntxtstr, p1.ptncodext as ptncodextstr, 
			p2.ptntxt as ptntxtend, p1.ptncodext as ptncodextend
		FROM SPT_DBT d
			left join SPT_TRF f on f.buscod=d.buscod and f.spttrfcod=d.spttrfcod
			left join SPT_PTN p1 on p1.buscod=d.buscod and p1.ptncod=d.ptncodstr
			left join SPT_PTN p2 on p2.buscod=d.buscod and p2.ptncod=d.ptncodend
		WHERE d.buscod	= @lp_buscod
		  and d.sptdbtcod = @lp_sptdbtcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* actualizo los saldos de debitos (cuotas-inscripciones) */
		UPDATE SPT_DBT_PTN
		SET sptdbtamtrst = sptdbtamtrst + r.sptdbtamt
		FROM SPT_DBT_PTN p
		inner join SPT_DBT_REL r on r.buscod=p.buscod and r.sptdbtptnpaycod=p.sptdbtptncod
		WHERE p.buscod=@lp_buscod
		  and r.sptdbtptncod=@lp_sptdbtptncod
		SET @lv_errcod=@@ERROR
		
		/* borro las imputaciones */		
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_DBT_REL
				WHERE buscod=@lp_buscod
				  and sptdbtptncod=@lp_sptdbtptncod
				SET @lv_errcod=@@ERROR
			END
				
		/* borro el crédito (pago) */
		IF @lv_errcod=0
			BEGIN
				UPDATE SPT_DBT_PTN
				SET docsts='I',
					deldte=getdate(),
					delusr=@lp_username
				WHERE buscod=@lp_buscod
				  and sptdbtptncod=@lp_sptdbtptncod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sptdbtptncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 7    -    L I S T A R	D E U D A    de    P R O C E S O    G L O B A  L	*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '07'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dp.*, p.ptncodext, p.ptntxt '
			+ ' FROM SPT_DBT d '
			+ ' inner join SPT_DBT_PTN dp on dp.buscod=d.buscod and dp.sptdbtcod=d.sptdbtcod '
			+ ' inner join SPT_PTN p on p.buscod=d.buscod and p.ptncod=dp.ptncod '
			+ ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and dp.docsts='+QUOTENAME('A','''')
			+ '   and p.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' p.ptntxt ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, f.spttrftxt, '
			+ ' p1.ptntxt as ptntxtstr, p1.ptncodext as ptncodstr, '
			+ ' p2.ptntxt as ptntxtend, p1.ptncodext as ptncodend '
			+ ' FROM SPT_DBT d '
			+ ' left join SPT_TRF f on f.buscod=d.buscod and f.spttrfcod=d.spttrfcod '
			+ ' left join SPT_PTN p1 on p1.buscod=d.buscod and p1.ptncod=d.ptncodstr '
			+ ' left join SPT_PTN p2 on p2.buscod=d.buscod and p2.ptncod=d.ptncodend '
			+ ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' d.sptdbtperstr DESC ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



/* ------------------------------------------------------------------------ */
/*   1 1    -    A G R E G A R    P A G O									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		declare @lv_cshsts as nvarchar(1)
		declare @lv_grpdocmovid as int
		select top 1 @lv_cshsts=cshsts, @lv_grpdocmovid=TsrDocMovIdOpn from tsr_csh where buscod=@lp_buscod and cshcod=@lp_cshcod
		
		select top 1 @lp_spttrfcod=spttrfcod, @lv_spttrftxt=spttrftxt
		from spt_trf 
		where buscod=@lp_buscod 
		  and spttrftxt='PAGO' 
		  and spttrfcls='H'

		/* verifico si la caja se encuentra abierta */		
		IF not isnull( @lv_cshsts , '')='A'
			begin
				select null, -2 as errcod, 'No se ha realizado la apertura de caja. No se pueden realizar movimientos.' as errtxt
				return
			end
		
		BEGIN TRAN

		/* agrego el pago */
		INSERT INTO spt_dbt_ptn (buscod, sptdbtcod, ptncod, 
			sptdbtperstr, sptdbtperend, sptdbtpertxt, actcod, acttxt, trncod, trntxt, 
			spttrfcod, spttrftxt, sptdbtamt, sptdbtamtrst, sptdbtexpdte, cshcod, sptdbtnum, 
			docsts, ctedte, cteusr)
		SELECT @lp_buscod, @lp_sptdbtcod, @lp_ptncodstr, 
			@lv_sptdbtperstr, @lv_sptdbtperend, @lp_sptdbtpertxt, null, null, null, null,
			@lp_spttrfcod, @lv_spttrftxt, @lv_sptdbtamt, @lv_sptdbtamt, @lv_sptdbtexpdte, @lp_cshcod, @lp_sptdbtnum, 
			@lp_docsts, getdate(), @lp_username
		SET @lv_errcod=@@ERROR		
		SET @lp_sptdbtptncod=@@IDENTITY

		/* busco si hay deuda pendientes de aplicar */
		IF @lv_errcod=0
			BEGIN
				DECLARE lv_cur_dbt CURSOR FOR SELECT sptdbtptncod, sptdbtamtrst FROM spt_dbt_ptn where buscod=@lp_buscod and docsts='A' and ptncod=@lp_ptncodstr and sptdbtamtrst>0
				OPEN lv_cur_dbt
				FETCH NEXT FROM lv_cur_dbt INTO @lv_sptdbtptnpaycod, @lv_sptdbtpayamtrst
				WHILE @@FETCH_STATUS=0 and not @lv_sptdbtamt=0 and @lv_errcod=0
					BEGIN
						/* agrego la imputación (aplicación del pago parcial) */
						INSERT INTO SPT_DBT_REL (buscod, sptdbtptncod, sptdbtptnpaycod, sptdbtamt, docsts, ctedte, cteusr)
						SELECT @lp_buscod, @lv_sptdbtptnpaycod, @lp_sptdbtptncod, (case when (@lv_sptdbtpayamtrst+@lv_sptdbtamt)<0 then @lv_sptdbtpayamtrst else abs(@lv_sptdbtamt) end), 'A', getdate(), @lp_username
						SET @lv_errcod=@@ERROR
																										
						/* actualizo saldo de pago */
						IF @lv_errcod=0
							BEGIN
								UPDATE SPT_DBT_PTN SET sptdbtamtrst=(case when (@lv_sptdbtpayamtrst+@lv_sptdbtamt)<0 then 0 else (@lv_sptdbtpayamtrst+@lv_sptdbtamt) end) WHERE buscod=@lp_buscod and sptdbtptncod=@lv_sptdbtptnpaycod
								SET @lv_errcod=@@ERROR
							END
							
						/* actualizo el saldo de la deuda */
						IF @lv_errcod=0
							BEGIN
								SET @lv_sptdbtamt = (case when (@lv_sptdbtpayamtrst+@lv_sptdbtamt)<0 then (@lv_sptdbtamt+@lv_sptdbtpayamtrst) else 0 end)
							END
						FETCH NEXT FROM lv_cur_dbt INTO @lv_sptdbtptnpaycod, @lv_sptdbtpayamtrst
					END
				CLOSE lv_cur_dbt
				DEALLOCATE lv_cur_dbt
			END
		
		/* actualizo saldo del pago */
		IF @lv_errcod=0
			BEGIN
				UPDATE SPT_DBT_PTN 
				SET sptdbtamtrst=@lv_sptdbtamt 
				WHERE buscod=@lp_buscod 
				  and sptdbtptncod=@lp_sptdbtptncod
				SET @lv_errcod=@@ERROR
			END

		/* ----------------------------------- */
		/* ----------	TESORERIA	---------- */
		/* ----------------------------------- */
		SET @lv_sptdbtamt = dbo.ConvertNumber( @lp_sptdbtamt , 3 ) * -1
		set @lv_ptntxt = (select top 1 ptntxt from spt_ptn where buscod=@lp_buscod and ptncod=@lp_ptncodstr and deldte is null)
		set @lp_TsrDocClsCod = 'CTA'

		/* obtengo numeración */
		if @lv_errcod=0
			BEGIN
				EXECUTE GRL_DAT_DOC_RNG_GET_DEF '01', @lp_username, @lp_buscod,
				'TSR', 'TDN', @lp_TsrDocClsCod, @lp_DocMovNum OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
				IF not @lv_errcod=0
					BEGIN
						SELECT null, @lv_errcod as errcod, @lv_errtxt as errtxt
						RETURN
					END
			END
								
		/* agrego documento de tesorería */
		if @lv_errcod=0
			BEGIN
				insert into tsr_doc_mov (buscod, tsrdocclscod, docmovdte, docmovnum, docmovtot, curcod, excrte, docmovref, docmovcmt, cshcodstr, grpdocmovid, docsts, ctedte, cteusr)
				values (@lp_buscod, @lp_TsrDocClsCod, @lv_sptdbtperstr, @lp_docmovnum, @lv_sptdbtamt, 'ARS', '1', @lp_sptdbtptncod, @lv_ptntxt, @lp_cshcod, @lv_grpdocmovid, 'C', getdate(), @lp_username)
				set @lv_errcod=@@ERROR
				set @lv_tsrdocmovid=@@IDENTITY
			END				

		/* agrego el valor al documento */
		IF @lv_errcod=0
			BEGIN
				insert into tsr_doc_mov_val (buscod, docmovid, paymthcod, docmovtot, curcod, excrte, cshcod, docsts, ctedte, cteusr)
				values (@lp_buscod, @lv_tsrdocmovid, 'EFT', @lv_sptdbtamt, 'ARS', '1', @lp_cshcod, 'C', getdate(), @lp_username)
				SET @lv_errcod=@@ERROR
			END

		/* actualizo el saldo de caja */
		IF @lv_errcod=0
			BEGIN
				UPDATE TSR_CSH
				SET cshtot=(case when isnull(cshtot,0)+@lv_sptdbtamt<0 then 0 else isnull(cshtot,0)+@lv_sptdbtamt end)
				WHERE buscod=@lp_buscod
				  and cshcod=@lp_cshcod
				SET @lv_errcod=@@ERROR
			END

		/* actualizo valores de caja */
		IF @lv_errcod=0
			BEGIN
				IF (select count(*) from tsr_csh_val where buscod=@lp_buscod and cshcod=@lp_cshcod and paymthcod='EFT')=0
					BEGIN
						INSERT INTO tsr_csh_val (buscod, cshcod, paymthcod, cshvaltot, curcod, docsts, ctedte, cteusr)
						VALUES (@lp_buscod, @lp_cshcod, 'EFT', @lv_sptdbtamt, 'ARS', 'A', getdate(), @lp_username)
						SET @lv_errcod=@@ERROR
					END
				ELSE
					BEGIN
						UPDATE tsr_csh_val 
						SET cshvaltot=isnull(cshvaltot,0)+@lv_sptdbtamt 
						WHERE buscod=@lp_buscod 
						  and cshcod=@lp_cshcod 
						  and paymthcod='EFT'
						SET @lv_errcod=@@ERROR
					END
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sptdbtptncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   1 3    -    V E R		P A G O											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT d.*, 
			f.spttrftxt, 
			p1.ptntxt, p1.ptncodext
		FROM SPT_DBT_PTN d
			inner join SPT_TRF f on f.buscod=d.buscod and f.spttrfcod=d.spttrfcod
			left join SPT_PTN p1 on p1.buscod=d.buscod and p1.ptncod=d.ptncod
		WHERE d.buscod = @lp_buscod
		  and d.sptdbtptncod = @lp_sptdbtptncod
		  and p1.deldte is null
		  
	END
	
	
	
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 4    -    B O R R A R	P A G O								*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		/* obtengo el importe del pago y caja */
		select top 1 
			@lv_sptdbtamt=sptdbtamt,
			@lp_cshcod=cshcod 
		from spt_dbt_ptn 
		where buscod=@lp_buscod 
		  and sptdbtptncod=@lp_sptdbtptncod

		/* verifico si la caja se encuentra abierta */		
		IF not isnull( (select top 1 cshsts from tsr_csh where buscod=@lp_buscod and cshcod=@lp_cshcod), '')='A'
			begin
				select null, -2 as errcod, 'No se ha realizado la apertura de caja. No se pueden realizar movimientos.' as errtxt
				return
			end

		/* valido que haya suficiente efectivo para borrar el pago */
		if isnull( (select top 1 cshvaltot from tsr_csh_val where buscod=@lp_buscod and cshcod=@lp_cshcod and paymthcod='EFT'), 0)+@lv_sptdbtamt<0
			begin
				select null, -4 as errcod, 'Saldo insuficiente de efectivo en caja.' as errtxt
				return
			end
		
		BEGIN TRAN

		/* actualizo los saldos de debitos (cuotas-inscripciones) */
		UPDATE SPT_DBT_PTN
		SET sptdbtamtrst = sptdbtamtrst + r.sptdbtamt
		FROM SPT_DBT_PTN p
		inner join SPT_DBT_REL r on r.buscod=p.buscod and r.sptdbtptncod=p.sptdbtptncod
		WHERE p.buscod=@lp_buscod
		  and r.sptdbtptnpaycod=@lp_sptdbtptncod
		SET @lv_errcod=@@ERROR
		
		/* borro las imputaciones */		
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_DBT_REL
				WHERE buscod=@lp_buscod
				  and sptdbtptnpaycod=@lp_sptdbtptncod
				SET @lv_errcod=@@ERROR
			END
				
		/* borro el crédito (pago) */
		IF @lv_errcod=0
			BEGIN
				UPDATE SPT_DBT_PTN
				SET docsts='I',
					deldte=getdate(),
					delusr=@lp_username
				WHERE buscod=@lp_buscod
				  and sptdbtptncod=@lp_sptdbtptncod
				SET @lv_errcod=@@ERROR
			END
		
		/* borro valores de documento de tesoreria */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM TSR_DOC_MOV_VAL
				WHERE buscod=@lp_buscod
				  and docmovid=(select top 1 docmovid from tsr_doc_mov where buscod=@lp_buscod and tsrdocclscod='CTA' and docmovref=@lp_sptdbtptncod)
				SET @lv_errcod=@@ERROR
			END
			
		/* borro documento de tesoreria */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM TSR_DOC_MOV
				WHERE buscod=@lp_buscod
				  and tsrdocclscod='CTA'
				  and docmovref=@lp_sptdbtptncod
				SET @lv_errcod=@@ERROR
			END
			
		/* actualizo el saldo de caja */
		IF @lv_errcod=0
			BEGIN
				UPDATE TSR_CSH
				SET cshtot=isnull(cshtot,0)+@lv_sptdbtamt
				WHERE buscod=@lp_buscod
				  and cshcod=@lp_cshcod
				SET @lv_errcod=@@ERROR
			END

		/* actualizo valor de caja */
		IF @lv_errcod=0
			BEGIN
				UPDATE TSR_CSH_VAL
				SET cshvaltot=isnull(cshvaltot,0)+@lv_sptdbtamt
				WHERE buscod=@lp_buscod
				  and cshcod=@lp_cshcod
				  and paymthcod='EFT'
				SET @lv_errcod=@@ERROR
			END
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sptdbtptncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   1 8    -    L I S T A R     P A G O S									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, s.ptntxt, s.ptncodext '
			+ ' FROM SPT_DBT_PTN p '
			+ '   inner join SPT_PTN s on s.buscod=p.buscod and s.ptncod=p.ptncod '
			+ '   inner join SPT_TRF t on t.buscod=p.buscod and t.spttrfcod=p.spttrfcod'
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and p.docsts='+QUOTENAME('A','''')
			+ '   and t.spttrfcls='+QUOTENAME('H','''')
			+ '   and s.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' p.sptdbtperstr DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END

/* ------------------------------------------------------------------------ */
/*   1 9    -    L I S T A R     I M P U T A C I O N     DE     P A G O		*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.spttrfcod, d.spttrftxt, d.sptdbtperstr, r.sptdbtamt, t.spttrftypcod, p.sptdbtptncod, p.sptdbtnum, p.sptdbtamt as sptdbtamtpay '
			+ ' FROM SPT_DBT_REL r '
			+ '   inner join SPT_DBT_PTN d on d.buscod=r.buscod and d.sptdbtptncod=r.sptdbtptncod '
			+ '   inner join SPT_TRF t on t.buscod=d.buscod and t.spttrfcod=d.spttrfcod'
			+ '   inner join SPT_DBT_PTN p on p.buscod=r.buscod and p.sptdbtptncod=r.sptdbtptnpaycod '
			+ ' WHERE r.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and r.docsts='+QUOTENAME('A','''')
			+ '   and r.sptdbtptnpaycod='+QUOTENAME(@lp_sptdbtptncod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'd.sptdbtperstr' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END


/* ------------------------------------------------------------------------ */
/*   2 1    -    G E N E R A R     D E U D A    ( Proceso Global / Interno )*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='21' or @lp_sysoperation='22'
	BEGIN

		/* si es proceso interno, la fecha no puede ser menor a la del día */
		IF @lp_sysoperation='22'
			BEGIN
				declare @lv_tmpdte as datetime
				set @lv_tmpdte = cast(datepart(year,getdate())  as nvarchar(4)) + '-' + cast(datepart(month,getdate()) as nvarchar(2)) + '-' + cast(datepart(day,getdate()) as nvarchar(2))
				SET @lv_sptdbtperstr = (case when @lv_sptdbtperstr < @lv_tmpdte then @lv_tmpdte else @lv_sptdbtperstr end)
				SET @lv_sptdbtperstr = (case when @lv_sptdbtperstr < @lv_tmpdte then @lv_tmpdte else @lv_sptdbtperstr end)
				SET @lv_sptdbtexpdte = (case when @lv_sptdbtexpdte < @lv_tmpdte then @lv_tmpdte else @lv_sptdbtexpdte end)
			END

		/* obtengo socios activos y calculo edad */		
		select (datediff(year,p.ptnbrndte,getdate()) + (case when datepart(month,p.ptnbrndte)*100+datepart(day,p.ptnbrndte) > datepart(month,getdate())*100+datepart(day,getdate()) then -1 else 0 end)) as ptnage, 
			p.*, pc.ptncatchgman
		into #tmp_ptn
		from spt_ptn p
		left join spt_ptn_cat pc on pc.buscod=p.buscod and pc.ptncatcod=p.ptncatcod
		where p.buscod=@lp_buscod
		  and p.docsts='A'
		  and p.deldte is null

		/* quito los socios según el filtro */
		if not @lp_sptdbtapl='T'
			BEGIN
				DELETE FROM #tmp_ptn
				WHERE buscod=@lp_buscod
				  and not ptntxt between (select top 1 ptntxt from spt_ptn where buscod=@lp_buscod and ptncod=@lp_ptncodstr and deldte is null)
								 and (select top 1 ptntxt from spt_ptn where buscod=@lp_buscod and ptncod=@lp_ptncodend and deldte is null)
			END

		/* defino estructura de salida */
		select	cast(null as nvarchar(20)) as buscod, 
				cast(null as int) as ptncod, 
				cast(null as datetime) as sptdbtperstr, cast(null as datetime) as sptdbtperend, cast(null as nvarchar(50)) as sptdbtpertxt,
				cast(null as int) as ptncatcod, cast(null as nvarchar(50)) as ptncattxt, cast(null as int) as actcod, cast(null as nvarchar(50)) as acttxt, cast(null as int) as trncod, cast(null as nvarchar(50)) as trntxt,
				cast(null as int) as spttrfcod, cast(null as nvarchar(50)) as spttrftxt, cast(null as int) as spttrfver, cast(null as int) as spttrflst, 
				cast(null as int) as spttrfminval, cast(null as int) as spttrfmaxval, cast(null as decimal(13,3)) as spttrfprc,
				cast(null as int) as spttrftypact, cast(null as int) as spttrftyptrn, cast(null as int) as spttrftypptn, cast(null as nvarchar(1)) as spttrftyptme,
				cast(null as datetime) as sptdbtexpdte, cast(null as datetime) as ptnregdte
		into #tmp_dbt
		where 1=2

		/* ACTUALIZO CATEGORIAS */
		/* para los socios que no tienen una categoría manual, determino si es necesario realizar un cambio de categoría */
		update #tmp_ptn
		set ptncatcod=(select top 1 ptncatcod 
						from spt_ptn_cat 
						where buscod=@lp_buscod 
						and ptncatchgman=0 
						and docsts='A' 
						and ( (ptnage between ptncatagefrm and ptncatageto) or (ptncatagefrm is null and ptncatageto is null) )
						and (ptnsex=(case when isnull(ptnsex,'')='' then ptnsex else x.ptnsex end)) )
		from #tmp_ptn x
		where x.buscod=@lp_buscod
		  and not x.ptncatchgman = 1

		/* ARANCELES x CATEGORIA */
		insert into #tmp_dbt
		select p.buscod, p.ptncod, 
		@lv_sptdbtperstr as sptdbtperstr, @lv_sptdbtperend as sptdbtperend, @lp_sptdbtpertxt,
		pc.ptncatcod, pc.ptncattxt, null as actcod, null as acttxt, null as trncod, null as trntxt,
		t.spttrfcod, t.spttrftxt, tv.spttrfver, tl.spttrflst,
		tl.spttrfminval, tl.spttrfmaxval, tl.spttrfprc,
		ty.spttrftypact, ty.spttrftyptrn, ty.spttrftypptn, ty.spttrftyptme,
		@lv_sptdbtexpdte as sptdbtexpdte, p.ptnregdte
		from #tmp_ptn p
		  inner join spt_ptn_cat pc on pc.buscod=p.buscod and pc.ptncatcod=p.ptncatcod
		  inner join spt_trf t on t.buscod=pc.buscod and t.spttrfcod=pc.spttrfcod
		  inner join spt_trf_ver tv on tv.buscod=t.buscod and tv.spttrfcod=t.spttrfcod
		  inner join spt_trf_lst tl on tl.buscod=tv.buscod and tl.spttrfcod=tv.spttrfcod and tl.spttrfver=tv.spttrfver
		  inner join spt_trf_typ ty on ty.buscod=t.buscod and ty.spttrftypcod=t.spttrftypcod
		where p.buscod=@lp_buscod
		  and t.docsts='A'
		  and tv.docsts='A'
		  and @lv_sptdbtperstr between tv.spttrfstrdte and tv.spttrfenddte
		  and tl.docsts='A'
		  and p.ptnage between tl.spttrfminval and tl.spttrfmaxval

		/* ARANCELES x ACTIVIDAD */
		insert into #tmp_dbt
		select p.buscod, p.ptncod, 
		@lv_sptdbtperstr as sptdbtperstr, @lv_sptdbtperend as sptdbtperend, @lp_sptdbtpertxt,
		null ptncatcod, null as ptncattxt, pa.actcod, a.acttxt, null as trncod, null as trntxt,
		t.spttrfcod, t.spttrftxt, tv.spttrfver, tl.spttrflst,
		tl.spttrfminval, tl.spttrfmaxval, tl.spttrfprc,
		ty.spttrftypact, ty.spttrftyptrn, ty.spttrftypptn, ty.spttrftyptme,
		@lv_sptdbtexpdte as sptdbtexpdte, p.ptnregdte
		from #tmp_ptn p
		  inner join spt_ptn_act pa on pa.buscod=p.buscod and pa.ptncod=p.ptncod
		  inner join spt_act a on a.buscod=pa.buscod and a.actcod=pa.actcod
		  inner join spt_act_trf at on at.buscod=a.buscod and at.actcod=a.actcod
		  inner join spt_trf t on t.buscod=at.buscod and t.spttrfcod=at.spttrfcod
		  inner join spt_trf_ver tv on tv.buscod=t.buscod and tv.spttrfcod=t.spttrfcod
		  inner join spt_trf_lst tl on tl.buscod=tv.buscod and tl.spttrfcod=tv.spttrfcod and tl.spttrfver=tv.spttrfver
		  inner join spt_trf_typ ty on ty.buscod=t.buscod and ty.spttrftypcod=t.spttrftypcod
		where p.buscod=@lp_buscod
		  and a.docsts='A'
		  and t.docsts='A'
		  and tv.docsts='A'
		  and @lv_sptdbtperstr between tv.spttrfstrdte and tv.spttrfenddte
		  and tl.docsts='A'
		  and p.ptnage between tl.spttrfminval and tl.spttrfmaxval

		/* ARANCELES ADICIONALES */
		insert into #tmp_dbt
		select p.buscod, p.ptncod, 
		@lv_sptdbtperstr as sptdbtperstr, @lv_sptdbtperend as sptdbtperend, @lp_sptdbtpertxt,
		null as ptncatcod, null as ptncattxt, null as actcod, null as acttxt, null as trncod, null as trntxt,
		t.spttrfcod, t.spttrftxt, tv.spttrfver, tl.spttrflst,
		tl.spttrfminval, tl.spttrfmaxval, tl.spttrfprc,
		ty.spttrftypact, ty.spttrftyptrn, ty.spttrftypptn, ty.spttrftyptme,
		@lv_sptdbtexpdte as sptdbtexpdte, p.ptnregdte
		from #tmp_ptn p
		  inner join spt_ptn_trf pt on pt.buscod=p.buscod and pt.ptncod=p.ptncod
		  inner join spt_trf t on t.buscod=pt.buscod and t.spttrfcod=pt.spttrfcod
		  inner join spt_trf_ver tv on tv.buscod=t.buscod and tv.spttrfcod=t.spttrfcod
		  inner join spt_trf_lst tl on tl.buscod=tv.buscod and tl.spttrfcod=tv.spttrfcod and tl.spttrfver=tv.spttrfver
		  inner join spt_trf_typ ty on ty.buscod=t.buscod and ty.spttrftypcod=t.spttrftypcod
		where p.buscod=@lp_buscod
		  and t.docsts='A'
		  and tv.docsts='A'
		  and @lv_sptdbtperstr between tv.spttrfstrdte and tv.spttrfenddte
		  and tl.docsts='A'
		  and p.ptnage between tl.spttrfminval and tl.spttrfmaxval

		/* ARANCELES x TORNEO */
		insert into #tmp_dbt
		select p.buscod, p.ptncod, 
		@lv_sptdbtperstr as sptdbtperstr, @lv_sptdbtperend as sptdbtperend, @lp_sptdbtpertxt,
		null as ptncatcod, null as ptncattxt, null as actcod, null as acttxt, r.trncod, r.trntxt,
		t.spttrfcod, t.spttrftxt, tv.spttrfver, tl.spttrflst,
		tl.spttrfminval, tl.spttrfmaxval, tl.spttrfprc,
		ty.spttrftypact, ty.spttrftyptrn, ty.spttrftypptn, ty.spttrftyptme,
		@lv_sptdbtexpdte as sptdbtexpdte, p.ptnregdte
		from #tmp_ptn p
		  inner join spt_trn_eqm_ply ep on ep.buscod=p.buscod and ep.ptncod=p.ptncod
		  inner join spt_trn r on r.buscod=ep.buscod and r.trncod=ep.trncod
		  inner join spt_trn_trf rt on rt.buscod=r.buscod and rt.trncod=r.trncod
		  inner join spt_trf t on t.buscod=rt.buscod and t.spttrfcod=rt.spttrfcod
		  inner join spt_trf_ver tv on tv.buscod=t.buscod and tv.spttrfcod=t.spttrfcod
		  inner join spt_trf_lst tl on tl.buscod=tv.buscod and tl.spttrfcod=tv.spttrfcod and tl.spttrfver=tv.spttrfver
		  inner join spt_trf_typ ty on ty.buscod=t.buscod and ty.spttrftypcod=t.spttrftypcod
		where p.buscod=@lp_buscod
		  and r.docsts='A'
		  and t.docsts='A'
		  and tv.docsts='A'
		  and @lv_sptdbtperstr between tv.spttrfstrdte and tv.spttrfenddte
		  and tl.docsts='A'
		  and p.ptnage between tl.spttrfminval and tl.spttrfmaxval

		/* GU - General Unico */
		delete 
		from #tmp_dbt
		where spttrftypptn=1
		  and spttrftyptme='U'
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod)

		/* GY - General Anual */
		delete from #tmp_dbt
		where spttrftypptn=1
		  and spttrftyptme='Y'
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and datepart(year,sptdbtperstr)=datepart(year,#tmp_dbt.sptdbtperstr) )

		/* GM - General Mensual */
		delete from #tmp_dbt
		where spttrftypptn=1
		  and spttrftyptme='M'
		  and (datepart(year,ptnregdte)*100)+datepart(month,ptnregdte)<=(datepart(year,sptdbtperstr)*100)+datepart(month,sptdbtperstr)
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and datepart(year,sptdbtperstr)=datepart(year,#tmp_dbt.sptdbtperstr) and datepart(month,sptdbtperstr)=datepart(month,#tmp_dbt.sptdbtperstr) )

		/* AU - Actividad Unico */
		delete from #tmp_dbt
		where spttrftypact=1
		  and spttrftyptme='U'
		  and actcod is not null
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and actcod=#tmp_dbt.actcod)

		/* AY - Actividad Anual */
		delete from #tmp_dbt
		where spttrftypact=1
		  and spttrftyptme='Y'
		  and actcod is not null
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and actcod=#tmp_dbt.actcod and datepart(year,sptdbtperstr)=datepart(year,#tmp_dbt.sptdbtperstr))

		/* AM - Actividad Mensual */
		delete from #tmp_dbt
		where spttrftypact=1
		  and spttrftyptme='M'
		  and (datepart(year,ptnregdte)*100)+datepart(month,ptnregdte)<=(datepart(year,sptdbtperstr)*100)+datepart(month,sptdbtperstr)
		  and actcod is not null
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and actcod=#tmp_dbt.actcod and datepart(year,sptdbtperstr)=datepart(year,#tmp_dbt.sptdbtperstr) and datepart(month,sptdbtperstr)=datepart(month,#tmp_dbt.sptdbtperstr) )

		/* TU - Torneo Unico */
		delete from #tmp_dbt
		where spttrftyptrn=1
		  and spttrftyptme='U'
		  and trncod is not null
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and trncod=#tmp_dbt.trncod)

		/* TY - Torneo Anual */
		delete from #tmp_dbt
		where spttrftyptrn=1
		  and spttrftyptme='Y'
		  and trncod is not null
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and trncod=#tmp_dbt.trncod and datepart(year,sptdbtperstr)=datepart(year,#tmp_dbt.sptdbtperstr))

		/* TM - Torneo Mensual */
		delete from #tmp_dbt
		where spttrftyptrn=1
		  and spttrftyptme='M'
		  and (datepart(year,ptnregdte)*100)+datepart(month,ptnregdte)<=(datepart(year,sptdbtperstr)*100)+datepart(month,sptdbtperstr)
		  and trncod is not null
		  and exists(select top 1 * from spt_dbt_ptn where buscod=#tmp_dbt.buscod and docsts='A' and ptncod=#tmp_dbt.ptncod and spttrfcod=#tmp_dbt.spttrfcod and trncod=#tmp_dbt.trncod and datepart(year,sptdbtperstr)=datepart(year,#tmp_dbt.sptdbtperstr) and datepart(month,sptdbtperstr)=datepart(month,#tmp_dbt.sptdbtperstr) )

		IF (select count(*) from #tmp_dbt)=0 and @lp_sysoperation='21'
			BEGIN
				SELECT null, -3 as errcod, 'No se encontraron datos para procesar.' as errtxt
				RETURN
			END

	END



/* ------------------------------------------------------------------------ */
/*   2 1    -    G E N E R A R    D E U D A   ( Proceso Global )			*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='21'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		/* ACTUALIZO CATEGORIAS */
		/* para los socios que no tienen una categoría manual, determino si es necesario realizar un cambio de categoría */
		update spt_ptn
		set ptncatcod=x.ptncatcod
		from spt_ptn p
		inner join #tmp_ptn x on p.buscod=x.buscod and p.ptncod=x.ptncod
		where p.buscod=@lp_buscod
		  and not p.ptncatcod=x.ptncatcod
		  and p.deldte is null
		SET @lv_errcod=@@ERROR
		
		/* agrego registro de corrida */
		IF @lv_errcod=0
			BEGIN
				INSERT INTO SPT_DBT
					(buscod, sptdbtperstr, sptdbtperend, sptdbtpertxt, sptdbtexpdte,
					sptdbtapl, ptncodstr, ptncodend, spttrfcod, spttrftxt, 
					actcod, acttxt, trncod, trntxt,
					docsts, cteusr, ctedte)
				VALUES 
					(@lp_buscod, @lv_sptdbtperstr, @lv_sptdbtperend, @lp_sptdbtpertxt, @lv_sptdbtexpdte,
					@lp_sptdbtapl, @lp_ptncodstr, @lp_ptncodend, @lp_spttrfcod, @lv_spttrftxt, 
					@lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, 
					'A', @lp_username, getdate() )  				
				SET @lv_errcod=@@ERROR
				SET @lp_sptdbtcod=@@IDENTITY
			END
						
		/* si no se produjo error */
		IF @lv_errcod=0
			BEGIN
				DECLARE lv_cur_dbt CURSOR FOR SELECT ptncod, actcod, acttxt, trncod, trntxt, spttrfcod, spttrftxt, spttrfprc FROM #tmp_dbt
				OPEN lv_cur_dbt
				FETCH NEXT FROM lv_cur_dbt INTO @lv_ptncod, @lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, @lp_spttrfcod, @lv_spttrftxt, @lv_sptdbtamt
				WHILE @@FETCH_STATUS=0 and @lv_errcod=0
					BEGIN
						IF not isnull(@lv_sptdbtamt,0)=0
							BEGIN
								/* agrego la deuda */
								INSERT INTO spt_dbt_ptn (buscod, sptdbtcod, ptncod, 
								sptdbtperstr, sptdbtperend, sptdbtpertxt, actcod, acttxt, trncod, trntxt, 
								spttrfcod, spttrftxt, sptdbtamt, sptdbtamtrst, sptdbtexpdte,
								docsts, ctedte, cteusr)
								SELECT @lp_buscod, @lp_sptdbtcod, @lv_ptncod, 
								@lv_sptdbtperstr, @lv_sptdbtperend, @lp_sptdbtpertxt, @lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, 
								@lp_spttrfcod, @lv_spttrftxt, @lv_sptdbtamt, @lv_sptdbtamt, @lv_sptdbtexpdte, 
								'A', getdate(), @lp_username
								SET @lv_errcod=@@ERROR
								SET @lp_sptdbtptncod=@@IDENTITY

								/* busco si hay pagos pendientes de aplicar */
								IF @lv_errcod=0
									BEGIN
										DECLARE lv_cur_pay CURSOR FOR SELECT sptdbtptncod, sptdbtamtrst FROM spt_dbt_ptn where buscod=@lp_buscod and docsts='A' and ptncod=@lv_ptncod and sptdbtamtrst<0
										OPEN lv_cur_pay
										FETCH NEXT FROM lv_cur_pay INTO @lv_sptdbtptnpaycod, @lv_sptdbtpayamtrst
										WHILE @@FETCH_STATUS=0 and not @lv_sptdbtamt=0 and @lv_errcod=0
											BEGIN
												/* agrego la imputación (aplicación del pago parcial) */
												INSERT INTO SPT_DBT_REL (buscod, sptdbtptncod, sptdbtptnpaycod, sptdbtamt, docsts, ctedte, cteusr)
												SELECT @lp_buscod, @lp_sptdbtptncod, @lv_sptdbtptnpaycod, (case when (@lv_sptdbtamt+@lv_sptdbtpayamtrst)<0 then @lv_sptdbtamt else abs(@lv_sptdbtpayamtrst) end), 'A', getdate(), @lp_username
												SET @lv_errcod=@@ERROR
																																
												/* actualizo saldo de pago */
												IF @lv_errcod=0
													BEGIN
														UPDATE SPT_DBT_PTN SET sptdbtamtrst=(case when (@lv_sptdbtamt+@lv_sptdbtpayamtrst)<0 then (@lv_sptdbtamt+@lv_sptdbtpayamtrst) else 0 end) WHERE buscod=@lp_buscod and sptdbtptncod=@lv_sptdbtptnpaycod
														SET @lv_errcod=@@ERROR
													END
													
												/* actualizo el saldo de la deuda */
												IF @lv_errcod=0
													BEGIN
														SET @lv_sptdbtamt = (case when (@lv_sptdbtamt+@lv_sptdbtpayamtrst)<0 then 0 else (@lv_sptdbtamt+@lv_sptdbtpayamtrst) end)
													END
												FETCH NEXT FROM lv_cur_pay INTO @lv_sptdbtptnpaycod, @lv_sptdbtpayamtrst
											END
										CLOSE lv_cur_pay
										DEALLOCATE lv_cur_pay
									END
								
								/* actualizo saldo de deuda */
								IF @lv_errcod=0
									BEGIN
										UPDATE SPT_DBT_PTN SET sptdbtamtrst=@lv_sptdbtamt WHERE buscod=@lp_buscod and sptdbtptncod=@lp_sptdbtptncod
										SET @lv_errcod=@@ERROR
									END
							END
						FETCH NEXT FROM lv_cur_dbt INTO @lv_ptncod, @lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, @lp_spttrfcod, @lv_spttrftxt, @lv_sptdbtamt
					END
				CLOSE lv_cur_dbt
				DEALLOCATE lv_cur_dbt
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sptdbtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   2 2    -    G E N E R A R    D E U D A   ( Proceso Interno )			*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='22'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		/* ACTUALIZO CATEGORIAS */
		/* para los socios que no tienen una categoría manual, determino si es necesario realizar un cambio de categoría */
		update spt_ptn
		set ptncatcod=x.ptncatcod
		from spt_ptn p
		inner join #tmp_ptn x on p.buscod=x.buscod and p.ptncod=x.ptncod
		where p.buscod=@lp_buscod
		  and not p.ptncatcod=x.ptncatcod
		  and p.deldte is null
		SET @lv_errcod=@@ERROR
		
		/* agrego registro de corrida */
/*		IF @lv_errcod=0
			BEGIN
				INSERT INTO SPT_DBT
					(buscod, sptdbtperstr, sptdbtperend, sptdbtpertxt, sptdbtexpdte,
					sptdbtapl, ptncodstr, ptncodend, spttrfcod, spttrftxt, 
					actcod, acttxt, trncod, trntxt,
					docsts, cteusr, ctedte)
				VALUES 
					(@lp_buscod, @lv_sptdbtperstr, @lv_sptdbtperend, @lp_sptdbtpertxt, @lv_sptdbtexpdte,
					@lp_sptdbtapl, @lp_ptncodstr, @lp_ptncodend, @lp_spttrfcod, @lv_spttrftxt, 
					@lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, 
					'A', @lp_username, getdate() )  				
				SET @lv_errcod=@@ERROR
				SET @lp_sptdbtcod=@@IDENTITY
			END
*/
		/* si no se produjo error */
		IF @lv_errcod=0
			BEGIN
				DECLARE lv_cur_dbt CURSOR FOR SELECT ptncod, actcod, acttxt, trncod, trntxt, spttrfcod, spttrftxt, spttrfprc FROM #tmp_dbt
				OPEN lv_cur_dbt
				FETCH NEXT FROM lv_cur_dbt INTO @lv_ptncod, @lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, @lp_spttrfcod, @lv_spttrftxt, @lv_sptdbtamt
				WHILE @@FETCH_STATUS=0 and @lv_errcod=0
					BEGIN
						IF not isnull(@lv_sptdbtamt,0)=0
							BEGIN
								/* agrego la deuda */
								INSERT INTO spt_dbt_ptn (buscod, sptdbtcod, ptncod, 
								sptdbtperstr, sptdbtperend, sptdbtpertxt, actcod, acttxt, trncod, trntxt, 
								spttrfcod, spttrftxt, sptdbtamt, sptdbtamtrst, sptdbtexpdte,
								docsts, ctedte, cteusr)
								SELECT @lp_buscod, @lp_sptdbtcod, @lv_ptncod, 
								@lv_sptdbtperstr, @lv_sptdbtperend, @lp_sptdbtpertxt, @lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, 
								@lp_spttrfcod, @lv_spttrftxt, @lv_sptdbtamt, @lv_sptdbtamt, @lv_sptdbtexpdte, 
								'A', getdate(), @lp_username
								SET @lv_errcod=@@ERROR
								SET @lp_sptdbtptncod=@@IDENTITY

								/* busco si hay pagos pendientes de aplicar */
/*								IF @lv_errcod=0
									BEGIN
										DECLARE lv_cur_pay CURSOR FOR SELECT sptdbtptncod, sptdbtamtrst FROM spt_dbt_ptn where buscod=@lp_buscod and ptncod=@lv_ptncod and sptdbtamtrst<0
										OPEN lv_cur_pay
										FETCH NEXT FROM lv_cur_pay INTO @lv_sptdbtptnpaycod, @lv_sptdbtpayamtrst
										WHILE @@FETCH_STATUS=0 and not @lv_sptdbtamt=0 and @lv_errcod=0
											BEGIN
												/* agrego la imputación (aplicación del pago parcial) */
												INSERT INTO SPT_DBT_REL (buscod, sptdbtptncod, sptdbtptnpaycod, sptdbtamt, docsts, ctedte, cteusr)
												SELECT @lp_buscod, @lp_sptdbtptncod, @lv_sptdbtptnpaycod, (case when (@lv_sptdbtamt+@lv_sptdbtpayamtrst)<0 then @lv_sptdbtamt else abs(@lv_sptdbtpayamtrst) end), 'A', getdate(), @lp_username
												SET @lv_errcod=@@ERROR
																																
												/* actualizo saldo de pago */
												IF @lv_errcod=0
													BEGIN
														UPDATE SPT_DBT_PTN SET sptdbtamtrst=(case when (@lv_sptdbtamt+@lv_sptdbtpayamtrst)<0 then (@lv_sptdbtamt+@lv_sptdbtpayamtrst) else 0 end) WHERE buscod=@lp_buscod and sptdbtptncod=@lv_sptdbtptnpaycod
														SET @lv_errcod=@@ERROR
													END
													
												/* actualizo el saldo de la deuda */
												IF @lv_errcod=0
													BEGIN
														SET @lv_sptdbtamt = (case when (@lv_sptdbtamt+@lv_sptdbtpayamtrst)<0 then 0 else (@lv_sptdbtamt+@lv_sptdbtpayamtrst) end)
													END
												FETCH NEXT FROM lv_cur_pay INTO @lv_sptdbtptnpaycod, @lv_sptdbtpayamtrst
											END
										CLOSE lv_cur_pay
										DEALLOCATE lv_cur_pay
									END
								
								/* actualizo saldo de deuda */
								IF @lv_errcod=0
									BEGIN
										UPDATE SPT_DBT_PTN SET sptdbtamtrst=@lv_sptdbtamt WHERE buscod=@lp_buscod and sptdbtptncod=@lp_sptdbtptncod
										SET @lv_errcod=@@ERROR
									END
*/
							END
						FETCH NEXT FROM lv_cur_dbt INTO @lv_ptncod, @lp_actcod, @lv_acttxt, @lp_trncod, @lv_trntxt, @lp_spttrfcod, @lv_spttrftxt, @lv_sptdbtamt
					END
				CLOSE lv_cur_dbt
				DEALLOCATE lv_cur_dbt
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sptdbtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* --------------------------------------------------------------------------- */
/*   2 3    -    L I S T A R	D E U D A   D E T A L L A D A    de   S O C I O*/
/* --------------------------------------------------------------------------- */
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    
	
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, s.ptntxt, t.spttrftypcod, (case when p.sptdbtamt>=0 then p.sptdbtamt else 0 end) as debe, (case when p.sptdbtamt<0 then p.sptdbtamt else 0 end) as haber '
			+ ' FROM SPT_DBT_PTN p '
			+ '   inner join SPT_PTN s on s.buscod=p.buscod and s.ptncod=p.ptncod '
			+ '   left join SPT_TRF t on t.buscod=p.buscod and t.spttrfcod=p.spttrfcod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and p.ptncod='+QUOTENAME(@lp_ptncodstr,'''')
			+ '   and s.deldte is null '
/*
			+ '   and ( p.sptdbtexpdte<getdate() or t.spttrfcls='+QUOTENAME('H','''')+' )' / * solo deuda vencida o pagos * /
*/
			+ '   and p.docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' p.sptdbtperstr desc, p.sptdbtamt desc' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
			
	END



/* ------------------------------------------------------------------------ */
/*   2 7    -    L I S T A R	S O C I O S   x   N O M B R E	(c/deuda)	*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '27'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 20 p.ptncod, p.ptncodext, p.ptntxt, sum(d.sptdbtamtrst) as ptndbt
		FROM spt_ptn p
		left join spt_dbt_ptn d on d.buscod=p.buscod and d.ptncod=p.ptncod
		WHERE p.buscod=@lp_buscod
		  and p.docsts='A'
		  and d.docsts='A'
		  and p.ptntxt like '%'+@lp_ptntxt+'%'
		  and p.deldte is null
		GROUP BY p.ptncod, p.ptncodext, p.ptntxt
	
	END
	

/* ------------------------------------------------------------------------ */
/*   28/29    -    L I S T A R	D E U D A	x	S O C I O	A N U A L		*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='28' or @lp_sysoperation='29'
	BEGIN
		SET @lv_validop = 1    
		
		/* creo estructura de salida */
		SELECT cast(null as nvarchar(20)) as buscod, cast(null as int) as ptncod, cast(null as nvarchar(10)) as ptncodext, cast(null as nvarchar(82)) as ptntxt,
		cast(null as decimal(13,2)) as ythprvtot,
		cast(null as decimal(13,2)) as mth001, cast(null as decimal(13,2)) as mth002, cast(null as decimal(13,2)) as mth003,
		cast(null as decimal(13,2)) as mth004, cast(null as decimal(13,2)) as mth005, cast(null as decimal(13,2)) as mth006,
		cast(null as decimal(13,2)) as mth007, cast(null as decimal(13,2)) as mth008, cast(null as decimal(13,2)) as mth009,
		cast(null as decimal(13,2)) as mth010, cast(null as decimal(13,2)) as mth011, cast(null as decimal(13,2)) as mth012,
		cast(null as decimal(13,2)) as ythacttot, cast(null as decimal(13,2)) as ptntrf, cast(null as nvarchar(4000)) as ptncmt,
		cast(null as nvarchar(02)) as docsts
		INTO #tmp_dat
		WHERE 1=2
		
		/* cargo los socios */
		insert into #tmp_dat
		select p.buscod, p.ptncod, p.ptncodext, p.ptntxt, 
		sum( (case when d.sptdbtperstr<@lv_sptdbtperstr   then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=1  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=2  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=3  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=4  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=5  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=6  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=7  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=8  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=9  then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=10 then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=11 then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( (case when datepart(year,d.sptdbtperstr)=datepart(year,@lv_sptdbtperstr) and datepart(month,d.sptdbtperstr)=12 then isnull(d.sptdbtamtrst,0) else 0 end) ), 
		sum( 0 ),
		sum( 0 ),
		p.ptncmt, p.docsts
		from spt_ptn p
		left join spt_dbt_ptn d on d.buscod=p.buscod and d.ptncod=p.ptncod
		where p.buscod=@lp_buscod
		  and d.docsts='A'					/* conceptos activos (no borrados) */
		  and d.sptdbtexpdte < getdate()	/* deuda vencida */
		  and not d.sptdbtamtrst=0			/* con saldo distinto de cero */
		  and d.sptdbtperstr<=@lv_sptdbtperend
		  /* and not isnull(d.sptdbtamtrst,0)=0	==> MUESTRO TODOS LOS ACTIVOS (tengan o no deuda) */
		  and p.ptncod = (case when isnull(@lp_ptncodstr,-1)=-1 then p.ptncod else @lp_ptncodstr end)
		  and p.DelDte is null
		group by p.buscod, p.ptncod, p.ptncodext, p.ptntxt, p.ptncmt, p.docsts
		 
		/* actualizo valor mensual de cuota y TOTAL */
		UPDATE #tmp_dat
		SET ptntrf    = (select sum(t.spttrfamt) from spt_ptn_trf pt inner join spt_trf t on t.buscod=pt.buscod and t.spttrfcod=pt.spttrfcod where pt.buscod=p.buscod and pt.ptncod=p.ptncod and t.spttrftypcod in ('GM', 'AM', 'TM') and t.docsts='A'),
			ythacttot = ythprvtot+mth001+mth002+mth003+mth004+mth005+mth006+mth007+mth008+mth009+mth010+mth011+mth012
		FROM #tmp_dat p
		 		  
		/* listo los datos */
		if @lp_sysoperation='28'
			begin
				set @lv_sql = 'SELECT '
					+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
					+ ' * '
					+ ' FROM #tmp_dat '
					+ ' WHERE 1=1 '
 					+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
					+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'ptntxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
				execute( @lv_sql )
			end
		else
			SELECT 
				sum(isnull(ythprvtot,0)) as ythprvtot,
				sum(isnull(mth001,0)) as mth001,
				sum(isnull(mth002,0)) as mth002,
				sum(isnull(mth003,0)) as mth003,
				sum(isnull(mth004,0)) as mth004,
				sum(isnull(mth005,0)) as mth005,
				sum(isnull(mth006,0)) as mth006,
				sum(isnull(mth007,0)) as mth007,
				sum(isnull(mth008,0)) as mth008,
				sum(isnull(mth009,0)) as mth009,
				sum(isnull(mth010,0)) as mth010,
				sum(isnull(mth011,0)) as mth011,
				sum(isnull(mth012,0)) as mth012,
				sum(isnull(ythacttot,0)) as ythacttot
			FROM #tmp_dat
	END
	
	

/* ------------------------------------------------------------------------ */
/*   5 0    -    R E E S T R U C T U C I O N     T O T A L    D E U D A		*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '50'
	BEGIN
		SET @lv_validop = 1    
		
		declare lv_ptn cursor for
		select ptncod from spt_ptn where buscod=@lp_buscod and docsts='A' and deldte is null
		open lv_ptn
		fetch next from lv_ptn into @lv_ptncod
		while @@FETCH_STATUS=0
			begin
				exec SPT_DBT_DEF '52',@lp_username,@lp_buscod,null,null,null,null,null,null,null,@lv_ptncod
				fetch next from lv_ptn into @lv_ptncod
			end
		close lv_ptn
		deallocate lv_ptn
		
	END
	
	
/* ------------------------------------------------------------------------ */
/*   5 1    -    R E E S T R U C T U R A R    D E U D A						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='51' or @lp_sysoperation='52'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_sptdbtpaycod as int
		declare @lv_sptdbtpayrst as decimal(13,3)

		declare @lv_sptdbtptncod as int
		declare @lv_sptdbtamtrst as decimal(13,3)
		declare @lv_sptdbtamtcnc as decimal(13,3)

		set @lv_ptncod = @lp_ptncodstr

		/* actualizo el resto de todos los conceptos del socio (inicializo) */
		update spt_dbt_ptn set sptdbtamtrst=sptdbtamt where buscod=@lp_buscod and docsts='A' and ptncod=@lv_ptncod
		/* quito la relación de documentos (inicializo) */
		delete from spt_dbt_rel where buscod=@lp_buscod and sptdbtptncod in (select sptdbtptncod from spt_dbt_ptn where buscod=@lp_buscod and docsts='A' and ptncod=@lv_ptncod and sptdbtamt>0)

		/* recorro cada pago */
		declare lv_pay cursor for
		select sptdbtptncod, sptdbtamtrst from spt_dbt_ptn where buscod=@lp_buscod and docsts='A' and ptncod=@lv_ptncod and sptdbtamtrst<0 order by sptdbtperstr
		open lv_pay
		fetch next from lv_pay into @lv_sptdbtpaycod, @lv_sptdbtpayrst
		WHILE @@FETCH_STATUS=0 and @lv_errcod=0
			BEGIN
				/* recorro cada deuda */
				declare lv_deu cursor for
				select sptdbtptncod, sptdbtamtrst from spt_dbt_ptn where buscod=@lp_buscod and docsts='A' and ptncod=@lv_ptncod and sptdbtamtrst>0 order by sptdbtperstr
				open lv_deu
				fetch next from lv_deu into @lv_sptdbtptncod, @lv_sptdbtamtrst
				WHILE @@FETCH_STATUS=0 and @lv_sptdbtpayrst<0 and @lv_sptdbtamtrst>0 and @lv_errcod=0
					BEGIN
						/* si la deuda es > al pago, se cancela el pago y se resta la deuda */
						IF @lv_sptdbtamtrst >= abs(@lv_sptdbtpayrst)
							BEGIN
								set @lv_sptdbtamtcnc = abs(@lv_sptdbtpayrst)
								set @lv_sptdbtamtrst = @lv_sptdbtamtrst + @lv_sptdbtpayrst
								set @lv_sptdbtpayrst = 0
							END
						/* si la deuda es < al pago, se cancela la deuda y se resta el pago */
						ELSE
							BEGIN
								set @lv_sptdbtamtcnc = @lv_sptdbtamtrst
								set @lv_sptdbtpayrst = @lv_sptdbtpayrst + @lv_sptdbtamtrst
								set @lv_sptdbtamtrst = 0
							END
						insert into spt_dbt_rel (buscod, sptdbtptncod, sptdbtptnpaycod, sptdbtamt, docsts, ctedte, cteusr, upddte, updusr)
						values (@lp_buscod, @lv_sptdbtptncod, @lv_sptdbtpaycod, @lv_sptdbtamtcnc, 'A', getdate(), @lp_username, null, null)
						set @lv_errcod = @@ERROR
						if @lv_errcod=0
							begin
								update spt_dbt_ptn set sptdbtamtrst=@lv_sptdbtamtrst where buscod=@lp_buscod and sptdbtptncod=@lv_sptdbtptncod
								set @lv_errcod = @@ERROR
							end
						if @lv_errcod=0
							begin
								update spt_dbt_ptn set sptdbtamtrst=@lv_sptdbtpayrst where buscod=@lp_buscod and sptdbtptncod=@lv_sptdbtpaycod					
								set @lv_errcod = @@ERROR
							end
						fetch next from lv_deu into @lv_sptdbtptncod, @lv_sptdbtamtrst
					END
					close lv_deu
					deallocate lv_deu
				fetch next from lv_pay into @lv_sptdbtpaycod, @lv_sptdbtpayrst
			END
		close lv_pay
		deallocate lv_pay
		
		if @lv_errcod=0 and @lp_sysoperation='51'
			select @lv_ptncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		else if not @lv_errcod=0
			select null, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END
	
	
		
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
