USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_WRK_STP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DOC_WRK_STP_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_wrkflwstpcod	as int			= null,	-- id 
@lp_wrkflwcod		as int			= null,	-- id workflow 
@lp_wrkflwstpfrmcod	as int			= null,	-- id formulario 
@lp_wrkflwstptxt	as nvarchar(50)	= null,	-- descripcion 
@lp_wrkflwstprow	as int			= null,	-- nro de fila 
@lp_wrkflwstpcnd	as nvarchar(max)= null,	-- nro de fila 

@lp_wrkflwstpatr	as nvarchar(max)= null, -- atributos  
@lp_docsts 			as nvarchar(02)	= null,	-- estado 
@lp_vewcfg			as nvarchar(4000)=null,	-- configuraciÃ³n ede la vista 

@lp_errcod				as int					= null OUTPUT,
@lp_errtxt				as nvarchar(max)=null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_sql as nvarchar(max)

DECLARE @lv_wrkflwactcod int

SET @lp_errcod=0



-- ------------------------------------------------------------------------ 
--   E R R O R E S																													
-- ------------------------------------------------------------------------ 
--	-1	No se puede borrar el paso. Documentos asociados.								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04'
	BEGIN
    IF EXISTS(select wrkflwstpcod from grl_dat_wrk_stp where buscod = @lp_buscod and wrkflwstpcod=@lp_wrkflwstpcod)
			BEGIN
				SELECT 'E' as errtyp, -1 as errcod, 'CannotDeleteUsedInDocument' as errmsg
				RETURN
			END
	END
  


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_WRK_STP (buscod, wrkflwcod, wrkflwstpfrmcod, wrkflwstptxt, wrkflwstprow, wrkflwstpcnd, wrkflwstpatr, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_wrkflwcod, @lp_wrkflwstpfrmcod, @lp_wrkflwstptxt, @lp_wrkflwstprow, @lp_wrkflwstpcnd, @lp_wrkflwstpatr, @lp_docsts, @lp_username, getdate())
		SET @lp_errcod = @@ERROR
		SET @lp_wrkflwstpcod = @@IDENTITY
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_wrkflwstpcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_WRK_STP 
		SET	wrkflwstpfrmcod = @lp_wrkflwstpfrmcod,
			wrkflwstptxt = @lp_wrkflwstptxt,
			wrkflwstprow = @lp_wrkflwstprow,
			wrkflwstpcnd = @lp_wrkflwstpcnd,
			wrkflwstpatr = @lp_wrkflwstpatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and wrkflwstpcod = @lp_wrkflwstpcod
		SET @lp_errcod=@@ERROR
				
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_wrkflwstpcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_WRK_STP ws
		WHERE buscod = @lp_buscod
		  and wrkflwstpcod = @lp_wrkflwstpcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation IN ('04', '04_sp')
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation = '04'
			BEGIN TRAN
		
    -- elimino las actividades 
		DECLARE @lv_rowcount as int = 1
    SELECT wrkflwactcod, ROW_NUMBER() OVER (ORDER BY wrkflwactcod) as rownumber into #tmp_stp_act FROM SYS_DOC_WRK_ACT where buscod = @lp_buscod and wrkflwcod = @lp_wrkflwcod and wrkflwstpcod = @lp_wrkflwstpcod
    WHILE (@lv_rowcount <= (select count(rownumber) from #tmp_stp_act)) and @lp_errcod=0
    BEGIN
      SET @lv_wrkflwactcod = (select wrkflwactcod from #tmp_stp_act where rownumber = @lv_rowcount)
      EXEC SYS_DOC_WRK_ACT_DEF @lp_sysoperation = '04_sp'
                              ,@lp_username = @lp_username
                              ,@lp_buscod = @lp_buscod
                              ,@lp_wrkflwactcod = @lv_wrkflwactcod
                              ,@lp_errcod = @lp_errcod OUTPUT
                              ,@lp_errtxt = @lp_errtxt OUTPUT		
      SET @lv_rowcount = @lv_rowcount + 1
    END
    
		IF @lp_errcod = 0	
    BEGIN
      DELETE 
      FROM SYS_DOC_WRK_STP
      WHERE buscod = @lp_buscod
        and wrkflwstpcod = @lp_wrkflwstpcod
      SET @lp_errcod=@@ERROR
    END
				
		IF @lp_sysoperation = '04'
    BEGIN
      IF @lp_errcod=0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN
			
			SELECT @lp_wrkflwstpcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
		END
    ELSE
			set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ws.*, f.sysdocfrmtxt as wrkflwstpfrmtxt '
			+ ' FROM SYS_DOC_WRK_STP ws '
			+ ' left join SYS_DOC_FRM f on ws.buscod=f.buscod and ws.wrkflwstpfrmcod = f.sysdocfrmcod '
			+ ' WHERE ws.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
