USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_DRT_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_SEC_DRT_GRP_DEF]

@lp_sysoperation 		as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_syssecdrtgrpcod		as int			= null,	/* id */
@lp_syssecdrtgrpcodext	as nvarchar(20)	= null,	/* codigo */
@lp_syssecdrtgrptxt		as nvarchar(50)	= null, /* descripcion */
@lp_syssecdrtgrpsys		as int			= null, /* se asigna al sistema */
@lp_syssecdrtgrpatr		as nvarchar(max)= null,	/* atributos */
@lp_docsts 				as nvarchar(02)	= null,	/* estado */

@lp_vewcfg				as nvarchar(max)= null	/* configuración de la vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo externo existente.											*/
/* ------------------------------------------------------------------------ */


IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		/* valido codigo externo duplicado */
		if not isnull(@lp_syssecdrtgrpcodext,'')=''
			begin
				IF exists(select top 1 * from SYS_SEC_DRT_GRP where not SysSecDrtGrpCod=@lp_syssecdrtgrpcod and SysSecDrtGrpCodExt=@lp_syssecdrtgrpcodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_SEC_DRT_GRP ( syssecdrtgrpcodext, syssecdrtgrptxt, syssecdrtgrpsys, syssecdrtgrpatr, docsts, cteusr, ctedte)
		VALUES ( @lp_syssecdrtgrpcodext, @lp_syssecdrtgrptxt, @lp_syssecdrtgrpsys, @lp_syssecdrtgrpatr, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_syssecdrtgrpcod=@@IDENTITY
		
		IF @lp_syssecdrtgrpsys = 1
			BEGIN
				INSERT INTO SYS_SEC_DRT_GRP_ASG (buscod, srcobjtyp, srcobjcod001, syssecdrtgrpcod, docsts, cteusr, ctedte)
				VALUES ('**', '**', '**', @lp_syssecdrtgrpcod, 'A', @lp_username, getdate())
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_syssecdrtgrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		IF @lp_syssecdrtgrpsys = 1
			BEGIN
				IF not exists(select top 1 * from SYS_SEC_DRT_GRP_ASG where buscod='**' and SrcObjTyp = '**' and SrcObjCod001 = '**'and SysSecDrtGrpCod = @lp_syssecdrtgrpcod)
					BEGIN
						INSERT INTO SYS_SEC_DRT_GRP_ASG (buscod, srcobjtyp, srcobjcod001, syssecdrtgrpcod, docsts, cteusr, ctedte)
						VALUES ('**', '**', '**', @lp_syssecdrtgrpcod, 'A', @lp_username, getdate())
						SET @lv_errcod=@@ERROR
					END
			END
		ELSE
			BEGIN
				DELETE
				FROM SYS_SEC_DRT_GRP_ASG
				WHERE buscod = '**'
					and SrcObjTyp = '**'
					and SrcObjCod001 = '**'
					and SysSecDrtGrpCod = @lp_syssecdrtgrpcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			UPDATE SYS_SEC_DRT_GRP 
			SET	syssecdrtgrpcodext = @lp_syssecdrtgrpcodext,
				syssecdrtgrptxt = @lp_syssecdrtgrptxt,
				syssecdrtgrpsys = @lp_syssecdrtgrpsys,
				syssecdrtgrpatr = @lp_syssecdrtgrpatr,
				docsts = @lp_docsts,
				updusr = @lp_username,
				upddte = getdate()
			WHERE syssecdrtgrpcod = @lp_syssecdrtgrpcod
			SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_syssecdrtgrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT *  
		FROM SYS_SEC_DRT_GRP
		WHERE syssecdrtgrpcod = @lp_syssecdrtgrpcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		/* borro tipos de directivas asociadas */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM SYS_SEC_DRT_GRP_TYP WHERE SysSecDrtGrpCod = @lp_syssecdrtgrpcod
				SET @lv_errcod=@@ERROR 
			END


		/* borro asignación de directivas */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_drt_grp_asg WHERE SysSecDrtGrpCod = @lp_syssecdrtgrpcod
				SET @lv_errcod=@@ERROR 
			END

		/* borro grupo */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SYS_SEC_DRT_GRP
				WHERE syssecdrtgrpcod = @lp_syssecdrtgrpcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_syssecdrtgrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM SYS_SEC_DRT_GRP '
			+ ' where 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'syssecdrtgrptxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END
	
		

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END



GO
