USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_LNG_TRA_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SYS_LNG_TRA_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operaciÃ³n */
@lp_username 		as nvarchar(20),			/* operaciÃ³n - usuario */
@lp_buscod			as nvarchar(20),			/* id empresa */
@lp_lngcod			as nvarchar(20)	= null,		/* id idioma */
@lp_lngtxt			as nvarchar(50)= null,		/* descripcion */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(max)= null		/* config vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		INSERT INTO SYS_LNG_TRA(buscod, LngCod, LngTxt, DocSts, CteDte, CteUsr)
		VALUES(@lp_buscod, @lp_lngcod, @lp_lngtxt, @lp_docsts, GETDATE(), @lp_username )
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE SYS_LNG_TRA
		SET LngTxt = @lp_lngtxt,
			DocSts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and LngCod=@lp_lngcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT l.*
		FROM SYS_LNG_TRA l
		WHERE buscod=@lp_buscod
		  and lngcod=@lp_lngcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		DELETE FROM SYS_LNG_TRA
		WHERE buscod=@lp_buscod
		  and LngCod=@lp_lngcod
		SET @lv_errcod=@@ERROR

		SELECT @lp_lngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.* '
			+ ' FROM SYS_LNG_TRA l '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )

		execute( @lv_sql + @lv_flt + @lv_ord )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
