USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_AGR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_AGR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),			-- empresa
@lp_hltagrcod 			as int			= null,	-- id
@lp_hltagrcodext		as nvarchar(20) = null, -- codigo
@lp_hltagrtxt			as nvarchar(50) = null, -- descripcion
@lp_hltagrstrdte		as nvarchar(14)	= null,	-- vigencia desde
@lp_hltagrenddte		as nvarchar(14)	= null,	-- vigencia hasta
@lp_hltagratr			as nvarchar(max)= null, -- atributos
@lp_docsts			as nvarchar(02)		= null,	-- estado

@lp_vewcfg			as nvarchar(max)	= null,	-- config vista

@lp_sysdocclscod	as int			= null	-- id clase documento

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_hltagrstrdte as datetime = dbo.ConvertDate( @lp_hltagrstrdte )
declare @lv_hltagrenddte as datetime = dbo.ConvertDate( @lp_hltagrenddte )

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'AGR'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- creo convenio
		INSERT INTO HLT_AGR (buscod, hltagrcodext, hltagrtxt, hltagrstrdte, hltagrenddte, hltagratr, docsts, cteusr, ctedte, sysdocclscod)
		VALUES (@lp_buscod, @lp_hltagrcodext, @lp_hltagrtxt, @lv_hltagrstrdte, @lv_hltagrenddte, @lp_hltagratr, @lp_docsts, @lp_username, getdate(), @lp_sysdocclscod )
		SET @lv_errcod=@@ERROR
		SET @lp_hltagrcod=@@IDENTITY
		
		-- asigno prestadores
		if @lv_errcod=0
			begin
				insert into hlt_agr_prs (buscod,hltagrcod,prscod,docsts,ctedte,cteusr)
				select @lp_buscod, @lp_hltagrcod, x.id, 'A', getdate(), @lp_username
				from dbo.stringsplit(dbo.getTagValue('prs',@lp_hltagratr),',') x
				set @lv_errcod=@@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltagrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '02'  or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_AGR 
		SET hltagrcodext = @lp_hltagrcodext,
			hltagrtxt	 = @lp_hltagrtxt,
			hltagrstrdte = @lv_hltagrstrdte,
			hltagrenddte = @lv_hltagrenddte,
			hltagratr	 = @lp_hltagratr,
			docsts    = @lp_docsts,
			updusr    = @lp_username,
			upddte    = getdate()
		WHERE buscod = @lp_buscod
		  and hltagrcod = @lp_hltagrcod
		SET @lv_errcod=@@ERROR

		-- quito prestadores no asignados
		if @lv_errcod=0
			begin
				delete from hlt_agr_prs
				where buscod=@lp_buscod
				  and hltagrcod=@lp_hltagrcod
				  and prscod not in (select id from dbo.stringsplit(dbo.getTagValue('prs',@lp_hltagratr),','))
				set @lv_errcod=@@ERROR
			end

		-- agrego prestadores nuevos
		if @lv_errcod=0
			begin
				insert into hlt_agr_prs (buscod,hltagrcod,prscod,docsts,ctedte,cteusr)
				select @lp_buscod, @lp_hltagrcod, x.id, 'A', getdate(), @lp_username
				from dbo.stringsplit(dbo.getTagValue('prs',@lp_hltagratr),',') x
				where not exists(select top 1 * from hlt_agr_prs where buscod=@lp_buscod and prscod=x.id)
				set @lv_errcod=@@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltagrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '03'  or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, dc.sysdocclstxt
		FROM HLT_AGR a
			left join SYS_DOC_CLS dc on dc.buscod=a.buscod and dc.sysdocclscod=a.sysdocclscod
		WHERE a.buscod = @lp_buscod
		  and a.hltagrcod = @lp_hltagrcod

	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '04'  or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
		
		IF exists(select top 1 * from HLT_AGR_PRS where buscod=@lp_buscod and hltagrcod=@lp_hltagrcod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar el convenio. Existen prestadores asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		-- borro prestadores del convenio
		DELETE
		FROM HLT_AGR_PRS
		WHERE buscod=@lp_buscod
		  and hltagrcod=@lp_hltagrcod
		SET @lv_errcod=@@ERROR

		-- borro convenio
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM HLT_AGR 
				WHERE buscod=@lp_buscod 
					and hltagrcod=@lp_hltagrcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltagrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		-- hlt_agr_def '08','temasis','temasls_hlt'

		set @lv_sql = dbo.getsqlsentence(@lp_vewcfg,
						' a.*, dc.sysdocclstxt ',
						' HLT_AGR a left join SYS_DOC_CLS dc on dc.buscod=a.buscod and dc.sysdocclscod=a.sysdocclscod ',
						' a.buscod='+QUOTENAME(@lp_buscod,''''),
						' a.hltagrtxt ',
						default)

						/*
		set @lv_sql = 'SELECT ' 
    + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
		+ ' a.*, dc.sysdocclstxt '
		+ ' FROM HLT_AGR a '
		+ ' left join SYS_DOC_CLS dc on dc.buscod=a.buscod and dc.sysdocclscod=a.sysdocclscod '
		+ ' WHERE a.buscod='+QUOTENAME(@lp_buscod,'''')
		+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'a.hltagrtxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		*/
		execute( @lv_sql )
		--print @lv_sql 

	END



	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
