USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[LOG_TRA_ROU_ZON_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOG_TRA_ROU_ZON_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_trarouzoncod	as int			= null,	-- id
@lp_traroucod		as int			= null,	-- id ruta
@lp_trazoncod		as int			= null,	-- id zona
@lp_docsts 			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- configuraciÃ³n ede la vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO LOG_TRA_ROU_ZON (buscod, traroucod, trazoncod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_traroucod, @lp_trazoncod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_trarouzoncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_trarouzoncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE LOG_TRA_ROU_ZON 
		SET	traroucod=@lp_traroucod,
			trazoncod = @lp_trazoncod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and trarouzoncod = @lp_trarouzoncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_trarouzoncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT rz.*, r.traroutxt, z.trazontxt 
		FROM LOG_TRA_ROU_ZON rz
		left join LOG_TRA_ROU r on r.buscod=rz.buscod and r.traroucod=rz.traroucod 
		left join LOG_TRA_ZON z on z.buscod=rz.buscod and z.trazoncod=rz.trazoncod 
		WHERE rz.buscod = @lp_buscod
		  and rz.trarouzoncod = @lp_trarouzoncod
		  
	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM LOG_TRA_ROU_ZON 
		WHERE buscod=@lp_buscod
		  and trarouzoncod = @lp_trarouzoncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_trarouzoncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' rz.*, r.traroutxt, z.trazontxt '
			+ ' FROM LOG_TRA_ROU_ZON rz '
			+ ' left join LOG_TRA_ROU r on r.buscod=rz.buscod and r.traroucod=rz.traroucod '
			+ ' left join LOG_TRA_ZON z on z.buscod=rz.buscod and z.trazoncod=rz.trazoncod '
			+ ' WHERE rz.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and rz.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END	

	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
