USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DOC_CLS_DEF]
@lp_sysoperation 		as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod					as nvarchar(20),
@lp_sysdocclscod		as int					= null,	-- id
@lp_sysdocclscodext	as nvarchar(10)	= null,	-- codigo
@lp_sysdocclstxt		as nvarchar(40)	= null,	-- descripciÃ³n
@lp_objtyp					as nvarchar(20)	= null,	-- tipo objeto
@lp_docrngcodint		as int					= null,	-- numeraciÃ³n interna
@lp_docrngcodext		as int					= null,	-- numeraciÃ³n externa
@lp_autcod					as nvarchar(05)	= null,	-- codigo de autorizaciÃ³n
@lp_sysdocclsatr		as nvarchar(max)= null,	-- atributos
@lp_docsts					as nvarchar(02)	= null,	-- estado

@lp_vewcfg					as nvarchar(max)= null,	-- configuraciÃ³n ede la vista

@lp_sysdocclsatrusr	as nvarchar(max)= null	-- atributos de usuario

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_objtyp as nvarchar(10)  = 'SYS_DCL'
DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
DECLARE @lv_autprgcod as nvarchar(3) = 'DCL'



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('01','02','03','04','08') and 1=2
	begin
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('02','12','03','13','04','14')
	BEGIN
  	IF isnull(@lp_sysdocclscod,0)=0
  		BEGIN
				select 'E' as errtyp, -1 as errcod, 'El parÃ¡metro @lp_sysdocclscod es obligatorio para esta operaciÃ³n' as errtxt
    		RETURN
  		END
  END
  
IF @lp_sysoperation in ('01', '11', '02', '12')
	BEGIN

		-- codigo externo duplicado
		if not isnull(@lp_sysdocclscodext,'')='' and exists (select top 1 * from sys_doc_cls where buscod=@lp_buscod and not sysdocclscod=@lp_sysdocclscod and sysdocclscodext=@lp_sysdocclscodext)
      BEGIN
        SELECT null, -1 as errcod, 'DuplicateExtCode' as errmsg
        RETURN
      END

		-- un documento de anulaciÃ³n no puede referenciar a otro documento de anulaciÃ³n
		if dbo.GetTagValue('docrev',@lp_sysdocclsatr)='X'
			if exists(select top 1 * from sys_doc_cls where buscod=@lp_buscod and sysdocclscod in (select id from dbo.StringSplit(dbo.getTagValue('refdoccls',@lp_sysdocclsatr),';')) and dbo.GetTagValue('docrev',sysdocclsatr)='X' )
				BEGIN
					SELECT null, -2 as errcod, 'Un documento de anulaciÃ³n no puede referenciar a otro documento de anulaciÃ³n.' as errtxt
					RETURN
				END

	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11')
	BEGIN
		SET @lv_validop = 1
			
		BEGIN TRANSACTION
    	BEGIN TRY				
        INSERT INTO SYS_DOC_CLS (buscod, sysdocclscodext, sysdocclstxt, 
          docrngcodint, docrngcodext, autcod, 
          objtyp,sysdocclsatr, SysDocClsAtrUsr, 
          docsts, cteusr, ctedte)
        VALUES (@lp_buscod, @lp_sysdocclscodext, @lp_sysdocclstxt, 
          @lp_docrngcodint, @lp_docrngcodext, @lp_autcod,
          @lp_objtyp, @lp_sysdocclsatr, @lp_sysdocclsatrusr, 
          @lp_docsts, @lp_username, getdate() )  
        SET @lp_sysdocclscod = SCOPE_IDENTITY()
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH 
    
    COMMIT TRANSACTION
		SELECT @lp_sysdocclscod, 0 as errcod
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02','12')
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRANSACTION
    	BEGIN TRY		
        UPDATE SYS_DOC_CLS 
        SET	sysdocclscodext=@lp_sysdocclscodext,
          sysdocclstxt= @lp_sysdocclstxt,
          docrngcodint= @lp_docrngcodint,
          docrngcodext= @lp_docrngcodext,
          autcod		= @lp_autcod,
          sysdocclsatr= @lp_sysdocclsatr,
          sysdocclsatrusr= @lp_sysdocclsatrusr,
          docsts	= @lp_docsts, 			
          updusr	= @lp_username,
          upddte	= getdate()
        WHERE buscod=@lp_buscod
          and sysdocclscod = @lp_sysdocclscod
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH 
    
    COMMIT TRANSACTION
		SELECT @lp_sysdocclscod, 0 as errcod
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('03','13')
	BEGIN
		SET @lv_validop = 1    
		
    -- recupero datos adicionales 
    declare @lv_sysdocclscnt as nvarchar(max) = 
    	(select dcc.*, ct.sysdocclstxt as sysdocclstxtcnt
       from SYS_DOC_CLS_CNT dcc  
        	inner join SYS_DOC_CLS ct on ct.buscod=dcc.buscod and ct.sysdocclscod=dcc.sysdocclscodcnt
       WHERE dcc.buscod=@lp_buscod and dcc.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclsfle as nvarchar(max) = 
    	(select dcf.*, ft.fletyptxt, ft.fletypatr
       FROM SYS_DOC_CLS_FLE dcf 
       		inner join GRL_DAT_FLE_TYP ft on ft.buscod=dcf.buscod and ft.fletypcod=dcf.fletypcod 
       WHERE dcf.buscod=@lp_buscod and dcf.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclsfrm as nvarchar(max) = 
    	(select dcf.*, df.sysdocfrmtxt
       FROM SYS_DOC_CLS_FRM dcf
					inner join SYS_DOC_FRM df on df.buscod=dcf.buscod and df.sysdocfrmcod=dcf.sysdocfrmcod
       WHERE dcf.buscod=@lp_buscod and dcf.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclsmsg as nvarchar(max) = 
    	(select dcm.*, dm.sysdocmsgtxt, dm.sysdocmsgatr, dm.sysdocmsgcodext
       FROM SYS_DOC_CLS_MSG dcm 
					inner join SYS_DOC_MSG dm on dm.buscod=dcm.buscod and dm.sysdocmsgcod=dcm.sysdocmsgcod
       WHERE dcm.buscod=@lp_buscod and dcm.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclsrej as nvarchar(max) = 
    	(select dcr.*, dr.sysdocrejtxt, dr.sysdocrejatr
       FROM SYS_DOC_CLS_REJ dcr 
					inner join SYS_DOC_REJ dr on dr.buscod=dcr.buscod and dr.sysdocrejcod=dcr.sysdocrejcod 
       WHERE dcr.buscod=@lp_buscod and dcr.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclsrsn as nvarchar(max) = 
    	(select dcr.*, dr.sysdocrsntxt, dr.sysdocrsnatr
       FROM SYS_DOC_CLS_RSN dcr 
					inner join SYS_DOC_rsn dr on dr.buscod=dcr.buscod and dr.sysdocrsncod=dcr.sysdocrsncod 
       WHERE dcr.buscod=@lp_buscod and dcr.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclssts as nvarchar(max) = 
    (select dcs.*, ds.sysdocststxt, ds.sysdocstsatr
     FROM SYS_DOC_CLS_STS dcs 
				inner join SYS_DOC_STS ds on ds.buscod=dcs.buscod and ds.sysdocstscod=dcs.sysdocstscod 
     WHERE dcs.buscod=@lp_buscod and dcs.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclstyptxt as nvarchar(max) = 
    	(select dct.*, tt.txttyptxt, gt.txtcod, gt.TxtCodExt, gt.TxtTxt
       FROM SYS_DOC_CLS_TXT dct
					inner join GRL_DAT_TXT_TYP tt on tt.buscod=dct.buscod and tt.txttypcod=dct.txttypcod 
					left join GRL_DAT_TXT gt on gt.BusCod=tt.BusCod and gt.TxtCod=dbo.GetTagValue('sysdocclstxtdef', dct.sysdocclstxtatr)
       WHERE dct.buscod=@lp_buscod and dct.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)
    
    declare @lv_sysdocclswrk as nvarchar(max) = 
    	(select dcw.*, dw.wrkflwtxt, dw.wrkflwcnd
       FROM SYS_DOC_CLS_WRK dcw
					inner join SYS_DOC_WRK dw on dw.buscod=dcw.buscod and dw.wrkflwcod=dcw.wrkflwcod 
       WHERE dcw.buscod=@lp_buscod and dcw.sysdocclscod=@lp_sysdocclscod FOR JSON PATH)

		SELECT d.*
    	, @lv_sysdocclscnt as sysdocclscnt
      , @lv_sysdocclsfle as sysdocclsfle
      , @lv_sysdocclsfrm as sysdocclsfrm
      , @lv_sysdocclsmsg as sysdocclsmsg
      , @lv_sysdocclsrej as sysdocclsrej
      , @lv_sysdocclsrsn as sysdocclsrsn
      , @lv_sysdocclssts as sysdocclssts
      , @lv_sysdocclstyptxt as sysdocclstyptxt
      , @lv_sysdocclswrk as sysdocclswrk
		FROM SYS_DOC_CLS d
		WHERE d.buscod=@lp_buscod
		  and d.sysdocclscod=@lp_sysdocclscod
		  		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04','14')
	BEGIN
		SET @lv_validop = 1
		
		-- se verifica que no se haya utilizado la clase de documento
		select 0 as found into #tmp_found where 1=2
		declare @lv_name as nvarchar(400)
		declare lc_cur cursor for
		select o.name from dbo.sysobjects o where o.id in ( select c.id from dbo.syscolumns c where c.name='sysdocclscod' ) and not o.name like 'SYS_DOC_CLS%'
		open lc_cur
		fetch next from lc_cur into @lv_name
		while @@FETCH_STATUS=0 and (select count(*) from #tmp_found)=0
			begin
				exec( 'if exists(select top 1 * from '+@lv_name+' where sysdocclscod='+@lp_sysdocclscod+') insert into #tmp_found (found) values (1)' )
				fetch next from lc_cur into @lv_name
			end
		close lc_cur
		deallocate lc_cur
		if (select count(*) from #tmp_found)>0
			BEGIN
				SELECT null, -5 as errcod, 'No se puede borrar la clase de documento. Ya ha sido utilizada.' as errtxt
				RETURN
			END

		BEGIN TRANSACTION
    	BEGIN TRY		
        DELETE FROM SYS_DOC_CLS_CNT WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_FLE WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_FRM WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_MSG WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_REJ WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_RSN WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_STS WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_TXT WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS_WRK WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
        DELETE FROM SYS_DOC_CLS WHERE buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH 
    
    COMMIT TRANSACTION
		SELECT @lp_sysdocclscod, 0 as errcod
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('08', '18', '09')
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRY
      set @lv_sql = dbo.getSQLSentence( @lp_vewcfg , ' d.* ',
        ' SYS_DOC_CLS d ',
        ' d.buscod='+QUOTENAME(@lp_buscod,'''')
        + (case when @lp_sysoperation='08' or @lp_sysoperation='18' then	' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', d.objtyp, d.autcod)=1 ' else '' end),
        default, default )
      execute( @lv_sql )
    END TRY
    BEGIN CATCH
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod, @lv_sql
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN
  	BEGIN TRY
			RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
    END TRY
    BEGIN CATCH
    	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
	END
GO
