USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_PRS_LQD_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_PRS_LQD_DEF] 

@lp_sysoperation 	as nvarchar(2),						-- operacion
@lp_username 		as nvarchar(20),						-- usuario
@lp_buscod			as nvarchar(20) = null,			-- empresa
@lp_cnsprslqdcod			as int = null,				-- id
@lp_srcobjtyp			as nvarchar(20)= null,		-- tipo - objeto 
@lp_srcobjcod001			as int = null,				-- id - objecto
@lp_srcobjtxt			as nvarchar(82) = null,		-- descripcion - objecto
@lp_cnsprslqddte			as nvarchar(14) = null,-- fecha
@lp_cnsprslqdtxt			as nvarchar(50)= null, -- descripcion
@lp_cnsprslqdstrdte		as nvarchar(14) = null,-- fecha - inicio
@lp_cnsprslqdenddte		as nvarchar(14) = null,-- fecha - fin
@lp_cnsprslqdtot		as bigint = null,				 -- fecha - fin
@lp_docsts				as nvarchar(02) = null,		 -- estado
@lp_vewcfg		as nvarchar(max) = null,	 		 --configuraciones de vista
@lp_cnsprslqdatr001		as nvarchar(max) = null,-- atributos
@lp_sysdocclscod		as int = null,						--clase de documento
@lp_cnsprslqdopnsrvids as nvarchar(max)=null			--json de datos de documento

AS

SET NOCOUNT ON

DECLARE @lv_validop as int = 0
DECLARE @lv_errcod as INT = 0
DECLARE @lv_errtxt as nvarchar(max) = ''
declare @lv_sql as nvarchar(max)
declare @lv_cnsprslqddte as datetime = dbo.ConvertDate( @lp_cnsprslqddte )
declare @lv_cnsprslqdstrdte as datetime = dbo.ConvertDate( @lp_cnsprslqdstrdte )
declare @lv_cnsprslqdenddte as datetime = dbo.ConvertDate( @lp_cnsprslqdenddte )
declare @lv_srcobjtyp as nvarchar(50) = ''

declare @lv_i as int = null
declare @lv_cnsprslqddoccod	as int 	= null			-- id liquidaciÃ³n-documento  
declare @lv_refobjtyp		as nvarchar(20)	= null	-- objeto referencia 
declare @lv_refobjcod001	as nvarchar(20)	= null	-- id ref 001 
declare @lv_refobjcod002	as nvarchar(20)	= null	-- id ref 002 
declare @lv_cnsprslqddocqty2	as bigint		= null	-- cantidad 
declare @lv_matuntcod as nvarchar(5)			= null	-- unidad 
declare @lv_cnsprslqddocprc2	as bigint		= null	-- precio unitario 
declare @lv_cnsprslqddoctot2	as bigint		= null	-- total 
declare @lv_cnsprslqddocqty	as decimal(13,3)= null	-- cantidad 
declare @lv_cnsprslqddocprc	as decimal(13,3)= null	-- precio unitario 
declare @lv_cnsprslqddoctot	as decimal(13,3)= null	-- total 
declare @lv_cnsprslqddocatr001	as nvarchar(max)= null	-- atributos 


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CNS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S    /    A S I G N A C I O N E S
-- ------------------------------------------------------------------------
IF (@lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12')
	BEGIN
		--set @lv_custxt = (select top 1 custxt from SLS_CUS where buscod=@lp_buscod and cuscod=@lp_cuscod)
    
		if isnull(@lp_cnsprslqdopnsrvids,'')=''
			set @lp_cnsprslqdopnsrvids = '[]'
		-- cargo JSON como tabla
		---- cargo servicios
		select * into #tmpSrv
		from OPENJSON(@lp_cnsprslqdopnsrvids) WITH (
			cnsprslqddoccod int '$.cnsprslqddoccod',
			refobjtyp nvarchar(20) '$.refobjtyp',
			refobjcod001 nvarchar(20) '$.refobjcod001',
			refobjcod002 nvarchar(20) '$.refobjcod002',
			cnsprslqddocqty decimal(13,2) '$.cnsprslqddocqty',
      matuntcod nvarchar(5) '$.matuntcod',
      cnsprslqddocprc decimal(13,2) '$.cnsprslqddocprc',
			cnsprslqddoctot decimal(13,2) '$.cnsprslqddoctot',
     	cnsprslqddocatr001 NVARCHAR(MAX) '$.cnsprslqddocatr001'
			) 
	END


-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
    
		BEGIN TRAN 

		/* 1. agrego cabecera de liquidaciÃ³n */
		INSERT INTO CNS_PRS_LQD (buscod, srcobjtyp,srcobjcod001,srcobjtxt, cnsprslqddte, cnsprslqdtxt, cnsprslqdstrdte,cnsprslqdenddte,
								sysdocclscod, cnsprslqdatr001, 
								docsts, ctedte, cteusr)
		VALUES( @lp_buscod, @lp_srcobjtyp,@lp_srcobjcod001,@lp_srcobjtxt, @lv_cnsprslqddte, @lp_cnsprslqdtxt, @lv_cnsprslqdstrdte, @lv_cnsprslqdenddte, 
				@lp_sysdocclscod, @lp_cnsprslqdatr001, 
				@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_cnsprslqdcod = @@IDENTITY

		-- 2. actualizo posiciones
		declare lc_cur cursor for select cnsprslqddoccod,cnsprslqddocqty,matuntcod,cnsprslqddocprc,cnsprslqddoctot,
			refobjtyp,refobjcod001,refobjcod002,cnsprslqddocatr001
			from #tmpSrv

		open lc_cur

		fetch next from lc_cur into 
			@lv_cnsprslqddoccod,@lv_cnsprslqddocqty,@lv_matuntcod,@lv_cnsprslqddocprc,@lv_cnsprslqddoctot,
			@lv_refobjtyp,@lv_refobjcod001,@lv_refobjcod002,@lv_cnsprslqddocatr001
			
		set @lv_i = 0
		while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito
			begin
				set @lv_cnsprslqddocprc2 = round(@lv_cnsprslqddocprc * 1000,0)
				set @lv_cnsprslqddocqty2 = round(@lv_cnsprslqddocqty * 1000,0)
				set @lv_cnsprslqddoctot2 = round(@lv_cnsprslqddoctot * 1000,0)
				exec CNS_PRS_LQD_DOC_DEF '01_sp', @lp_username, @lp_buscod, @lv_cnsprslqddoccod, @lp_cnsprslqdcod,
					@lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002,
					@lv_cnsprslqddocqty2, @lv_matuntcod, @lv_cnsprslqddocprc2, @lv_cnsprslqddoctot2,
					@lv_cnsprslqddocatr001, 'A',null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT

				fetch next from lc_cur into 
					@lv_cnsprslqddoccod,@lv_cnsprslqddocqty,@lv_matuntcod,@lv_cnsprslqddocprc,@lv_cnsprslqddoctot,
					@lv_refobjtyp,@lv_refobjcod001,@lv_refobjcod002,@lv_cnsprslqddocatr001
				set @lv_i = @lv_i + 1
			end
		close lc_cur
		deallocate lc_cur

		-- 3. actualizo totales de cabecera
		if @lv_errcod=0
			begin
				UPDATE CNS_PRS_LQD
          SET cnsprslqdtot = isnull( (select sum(isnull(d.cnsprslqddoctot,0)) FROM CNS_PRS_LQD_DOC d where d.buscod=@lp_buscod and d.cnsprslqdcod=@lp_cnsprslqdcod), 0 )
				WHERE buscod=@lp_buscod 
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnsprslqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	
	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from cns_prs_lqd where buscod=@lp_buscod and cnsprslqdcod=@lp_cnsprslqdcod)='C'
			BEGIN
				SELECT null, -2 as errcod, 'No se puede modificar. Documento contabilizado.' as errtxt
				RETURN
			END
     BEGIN TRAN
     
    -- 1. borro documentos que fueron quitados de la liquidacion - SERVICIOS/GASTOS
		IF @lv_errcod=0 and not isnull(@lp_cnsprslqdopnsrvids,'')=''
			BEGIN
				DELETE d
				FROM CNS_PRS_LQD_DOC d
				left join #tmpSrv x on @lp_buscod=d.buscod and x.refobjtyp=d.refobjtyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002
				WHERE d.buscod=@lp_buscod and d.cnsprslqdcod=@lp_cnsprslqdcod
				  and  x.refobjtyp is null and x.refobjcod001 is null  and x.refobjcod002 is null  

				SET @lv_errcod=@@ERROR
        
			END
      
     -- 2. actualizo posiciones
      declare lc_cur cursor for select x.cnsprslqddoccod,x.cnsprslqddocqty,x.matuntcod,x.cnsprslqddocprc,x.cnsprslqddoctot,
        x.refobjtyp,x.refobjcod001,x.refobjcod002,x.cnsprslqddocatr001
        from #tmpSrv x
        left join cns_prs_lqd_doc d on d.buscod=@lp_buscod and d.refobjtyp=x.refobjtyp and d.refobjcod001=x.RefObjCod001 and d.refobjcod002=x.RefObjCod002
				where d.cnsprslqddoccod is null
					

      open lc_cur

      fetch next from lc_cur into 
        @lv_cnsprslqddoccod,@lv_cnsprslqddocqty,@lv_matuntcod,@lv_cnsprslqddocprc,@lv_cnsprslqddoctot,
        @lv_refobjtyp,@lv_refobjcod001,@lv_refobjcod002,@lv_cnsprslqddocatr001

      set @lv_i = 0
      while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito
        begin
          set @lv_cnsprslqddocprc2 = round(@lv_cnsprslqddocprc * 1000,0)
          set @lv_cnsprslqddocqty2 = round(@lv_cnsprslqddocqty * 1000,0)
          set @lv_cnsprslqddoctot2 = round(@lv_cnsprslqddoctot * 1000,0)
          exec CNS_PRS_LQD_DOC_DEF '01_sp', @lp_username, @lp_buscod, @lv_cnsprslqddoccod, @lp_cnsprslqdcod,
            @lv_refobjtyp, @lv_refobjcod001, @lv_refobjcod002,
            @lv_cnsprslqddocqty2, @lv_matuntcod, @lv_cnsprslqddocprc2, @lv_cnsprslqddoctot2,
            @lv_cnsprslqddocatr001, 'A',null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT

          fetch next from lc_cur into 
            @lv_cnsprslqddoccod,@lv_cnsprslqddocqty,@lv_matuntcod,@lv_cnsprslqddocprc,@lv_cnsprslqddoctot,
            @lv_refobjtyp,@lv_refobjcod001,@lv_refobjcod002,@lv_cnsprslqddocatr001
          set @lv_i = @lv_i + 1
        end
      close lc_cur
      deallocate lc_cur
			
      /* 1. actualizo cabecera */
		IF @lv_errcod=0
			BEGIN
				UPDATE cns_prs_lqd
				SET 
        	cnsprslqdstrdte = @lv_cnsprslqdstrdte,
          cnsprslqdenddte = @lv_cnsprslqdenddte,
					cnsprslqdtxt = @lp_cnsprslqdtxt,
          cnsprslqdtot = isnull( (select sum(isnull(d.cnsprslqddoctot,0)) FROM CNS_PRS_LQD_DOC d where d.buscod=@lp_buscod and d.cnsprslqdcod=@lp_cnsprslqdcod), 0 ),
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
    SELECT @lp_cnsprslqdcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		/* cns_prs_lqd_def '03','mdominguez','temasis_cnsprs','10' */

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' l.*, dc.sysdocclstxt',
			' cns_prs_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and l.cnsprslqdcod='+QUOTENAME(@lp_cnsprslqdcod,''''),'', default)
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
    IF (select top 1 docsts from cns_prs_lqd where buscod=@lp_buscod and cnsprslqdcod=@lp_cnsprslqdcod)='C'
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar. Documento ya contabilizado.' as errtxt
				RETURN
			END
		
		set @lp_docsts = (select top 1 docsts from cns_prs_lqd where buscod=@lp_buscod and cnsprslqdcod=@lp_cnsprslqdcod)
		
		BEGIN TRAN
		
		/* borro los documento liquidados */
		DELETE
		FROM cns_prs_lqd_doc
		WHERE buscod=@lp_buscod
		  and cnsprslqdcod=@lp_cnsprslqdcod
		SET @lv_errcod=@@ERROR

		/* borro liquidaciÃ³n - cabecera */
		IF @lv_errcod=0 and not @lp_docsts='C'
			BEGIN
				DELETE 
				FROM cns_prs_lqd
				WHERE buscod=@lp_buscod
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod=@@ERROR
			END

		/* marco la liquidaciÃ³n como borrado - cabecera */
	/*	IF @lv_errcod=0 and @lp_docsts='C'
			BEGIN
				UPDATE cns_prs_lqd
				SET deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod=@@ERROR
			END
*/
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnsprslqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END




-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		/* cnsprs_LQD_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>','' */
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' l.*, convert(varchar,l.cnsprslqddte,103) as cnsprslqddtecnv, dc.sysdocclstxt',
			' cns_prs_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod ',
			' l.buscod='+QUOTENAME(@lp_buscod, ''''),
 			' l.cnsprslqddte DESC, l.cnsprslqdcod DESC ', default)
    execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   0 9    -    C O N T A B I L I Z A R									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='09' or @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from cns_prs_lqd where buscod=@lp_buscod and cnsprslqdcod=@lp_cnsprslqdcod)='C'
			BEGIN
				SELECT null, -4 as errcod, 'No se puede contabilizar. Documento ya contabilizado.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		/* 1. actualizo cabecera */		
		UPDATE CNS_PRS_LQD
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and cnsprslqdcod=@lp_cnsprslqdcod
		SET @lv_errcod=@@ERROR

		/* 2. actualizo posiciones */
		IF @lv_errcod=0
			BEGIN
				UPDATE CNS_PRS_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnsprslqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ----------------------------------------------------------------------------------
--   1 3    -    L I S T A R   P R E S T A C I O N E S    N O    L I Q U I D A D A S (no liquidadas)
-- ----------------------------------------------------------------------------------
IF @lp_sysoperation='23' 
	BEGIN 
		SET @lv_validop = 1
    --    SELECT  ld.*, sed.steevtcod, sed.steevtdoccod,sed.steevtdocatr,se.steevtdte,convert(nvarchar, se.steevtdte, 103) as steevtdtetxt , s.stecod,s.stetxt 

    set @lv_sql = dbo.getSQLSentence( @lp_vewcfg,
   	' ld.*, sed.steevtcod, sed.steevtdoccod,sed.steevtdocatr,se.steevtdte,convert(nvarchar, se.steevtdte, 103) as steevtdtetxt, s.stecod,s.stetxt',
    ' CNS_STE_EVT_DOC sed '
   	+ ' inner join CNS_STE_EVT se on se.buscod=sed.buscod and se.steevtcod=sed.steevtcod '
    + ' inner join CNS_STE s on s.buscod=se.buscod and s.stecod=se.stecod '
    + ' left  join CNS_PRS_LQD_DOC ld on ld.buscod=sed.buscod and ld.RefObjCod001 = sed.steevtdoccod ',
    ' sed.buscod='+QUOTENAME(@lp_buscod, '''')+' and sed.srcobjtyp = '+QUOTENAME('CNS_TSK_PRD','''')
   	+ ' AND '+(CASE WHEN @lv_cnsprslqdstrdte IS NULL AND @lv_cnsprslqdenddte IS NULL THEN '1=1'	else 'se.steevtdte BETWEEN '+QUOTENAME(@lv_cnsprslqdstrdte,'''')+' AND '+QUOTENAME(@lv_cnsprslqdenddte,'''')END)
    + ' AND '+(CASE WHEN @lp_srcobjcod001 IS NULL OR @lp_srcobjcod001 = 0 THEN '1=1' ELSE 'JSON_VALUE(sed.steevtdocatr, ''$.sqdcod'') = '+Quotename(@lp_srcobjcod001,'''')END )
    + ' AND ( ld.cnsprslqdcod is null ' + (case when isnull(@lp_cnsprslqdcod,0)=0 then '' else ' OR ld.cnsprslqdcod='+QUOTENAME(@lp_cnsprslqdcod,'''') end) + ')',
		'steevtdte', default)
  execute( @lv_sql )
  END


  -- -------------------------------------------------------------------------
--   2 3    -   L I S T A R    P R E S T A C I O N E S    L I Q U I D A D A S
-- ---------------------------------------------------------------------------
IF @lp_sysoperation='33' 
	BEGIN
		SET @lv_validop = 1
		
			SELECT cd.* ,JSON_VALUE(sed.steevtdocatr, '$.tsktxt') as tsktxt, JSON_VALUE(sed.steevtdocatr, '$.tskcodext') as tskcodext,
      			JSON_VALUE(sed.steevtdocatr, '$.tskrec') as tskrec,convert(nvarchar, se.steevtdte, 103) as steevtdtetxt ,s.stecod,s.stetxt,s.cnssteatr
      FROM CNS_PRS_LQD_DOC cd
      inner join CNS_STE_EVT_DOC sed on cd.buscod=sed.buscod and cd.refobjcod001=sed.steevtdoccod
      inner join CNS_STE_EVT se on se.buscod=sed.buscod and se.steevtcod=sed.steevtcod 
      inner join CNS_STE s on s.buscod=se.buscod and s.stecod=se.stecod 
      WHERE cd.buscod=@lp_buscod and cd.cnsprslqdcod=@lp_cnsprslqdcod
      
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
