USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_QMS_TAG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[STK_QMS_TAG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20) = null,	-- empresa
@lp_qmstagcod		as int			= null,	-- id
@lp_qmstagcodext	as nvarchar(20)	= null,	-- codigo
@lp_qmstagtxt		as nvarchar(50)	= null,	-- descripción
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- configuración ede la vista


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo externo existente											*/
/*	-2	Moneda inválida.													*/
/*	-3	La caja tiene saldo. No se puede borrar.							*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------- */
/*   V A L I D A C I O N E S		 										 */
/* ------------------------------------------------------------------------- */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		IF not isnull(@lp_qmstagcodext,'')=''
			IF exists(select top 1 * from STK_QMS_TAG where buscod=@lp_buscod and not qmstagcod=@lp_qmstagcod and qmstagcodext=@lp_qmstagcodext)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
					RETURN
				END
		
	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO STK_QMS_TAG	(BusCod, qmstagcodext, qmstagtxt, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_qmstagcodext, @lp_qmstagtxt, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_qmstagcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_qmstagcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE STK_QMS_TAG 
		SET qmstagcodext = @lp_qmstagcodext,
			qmstagtxt=@lp_qmstagtxt, 
			docsts=@lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and qmstagcod = @lp_qmstagcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_qmstagcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*
		FROM STK_QMS_TAG t
		WHERE t.buscod = @lp_buscod
		  and t.qmstagcod = @lp_qmstagcod
		  
	END




/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		DELETE 
		FROM STK_QMS_TAG
		WHERE buscod = @lp_buscod
		  and qmstagcod = @lp_qmstagcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_qmstagcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_sql as nvarchar(max)
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.* '
			+ ' FROM STK_QMS_TAG t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END






















GO
