USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[LOG_TRA_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOG_TRA_DEF]
 
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_tracod			as int			= null,	--id
@lp_tracodext		as nvarchar(20)	= null,	-- codigo
@lp_tradte			as nvarchar(14)	= null,	-- fecha de planificaciÃ³n - fecha prevista de viaje 
@lp_traroucod		as int			= null, -- id ruta
@lp_vhccod			as int			= null, -- id vehÃ­culo 
@lp_drvcod			as int			= null, -- id chofer 
@lp_traatr001		as nvarchar(max)=null, -- atributos 
@lp_tracmt			as nvarchar(max)=null,	-- comentarios
@lp_trastrdte		as nvarchar(14)	= null,	-- inicio de transporte
@lp_traenddte		as nvarchar(14)	= null,	-- fin de transporte
@lp_docsts 			as nvarchar(02)	= null,	-- estado
@lp_sysdocclscod	as int			= null,	-- clase de documento
 
@lp_vewcfg			as nvarchar(max)=null,	-- configuraciÃ³n de la vista
 
@lp_objtyp			as nvarchar(20)=null			-- id objeto
/*
	clase		(camion, semi, camioneta, moto)
	atributos	(Peso Maximo, Seguro, Habilitaciones, etc.)
	chofer habitual
	acompaÃ±ante habitual
*/
 
AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_tradte as datetime = dbo.ConvertDate( @lp_tradte )
declare @lv_trastrdte as datetime = dbo.ConvertDate( @lp_trastrdte )
declare @lv_traenddte as datetime = dbo.ConvertDate( @lp_traenddte )
 
  
 
-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'LOG'
		DECLARE @lv_autprgcod as nvarchar(3) = ''
    
    if @lp_sysoperation='08' or @lp_sysoperation='03'
      begin
        if charindex( 'dc.objtyp='+QUOTENAME('LOG_TRA',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lp_objtyp = 'LOG_TRA'
        if charindex( 'dc.objtyp='+QUOTENAME('LOG_TRK',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lp_objtyp = 'LOG_TRK'
      end
    set @lv_autprgcod = (select substring(@lp_objtyp, 5, 3))
    
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
 
 
 
-- ------------------------------------------------------------------------
--   E R R O R E S
-- ------------------------------------------------------------------------
--	-1	Codigo existente.
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
		-- valido codigo externo duplicado
		if not isnull(@lp_tracodext,'')=''
			begin
				IF exists(select top 1 * from LOG_TRA where buscod=@lp_buscod and not tracod=@lp_tracod and tracodext=@lp_tracodext)
					BEGIN
						SELECT 'E' as errtyp, -1 as errcod, 'DuplicateExtCode.' as errtxt
						RETURN
					END
			end
 
	END
 
 
 
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO LOG_TRA (buscod, tracodext, tradte, traatr001, tracmt, traroucod, drvcod, vhccod, docsts, cteusr, ctedte, trastrdte, traenddte, sysdocclscod)
		VALUES (@lp_buscod, @lp_tracodext, @lv_tradte, @lp_traatr001, @lp_tracmt, @lp_traroucod, @lp_drvcod, @lp_vhccod, @lp_docsts, @lp_username, getdate(), @lv_trastrdte, @lv_traenddte, @lp_sysdocclscod)
		SET @lv_errcod=@@ERROR
		SET @lp_tracod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tracod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
 
	END
 
 
 
-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
 
		BEGIN TRAN
				
		UPDATE LOG_TRA 
		SET	tracodext=@lp_tracodext,
			tradte = @lv_tradte, 
			traatr001 = @lp_traatr001,
			tracmt = @lp_tracmt,
			traroucod = @lp_traroucod,
			drvcod = @lp_drvcod,
			vhccod = @lp_vhccod,
			trastrdte = @lv_trastrdte,
			traenddte = @lv_traenddte,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and tracod = @lp_tracod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tracod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END
 
 
 
-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT t.*, dc.sysdocclstxt, r.traroutxt, v.vhccodext, d.drvtxt,
		(case when t.docsts='I' then 'INACTIVO' when isnull(t.trastrdte,'')='' and isnull(t.traenddte,'')='' then 'PLANIFICACION' when isnull(t.traenddte,'')='' then 'INICIADO' else 'FINALIZADO' end) as trasts
		FROM LOG_TRA t
		 left join sys_doc_cls dc on dc.buscod=t.buscod and dc.sysdocclscod=t.sysdocclscod 
		 left join LOG_TRA_ROU r on r.buscod=t.buscod and r.traroucod=t.traroucod 
		 left join LOG_VHC v on v.buscod=t.buscod and v.vhccod=t.vhccod 
		 left join LOG_DRV d on d.buscod=t.buscod and d.drvcod=t.drvcod 
		WHERE t.buscod = @lp_buscod
		  and t.tracod = @lp_tracod
		  
	END
 
 
 
-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE LOG_TRA
		SET deldte = getdate(),
			delusr = @lp_username
		WHERE buscod=@lp_buscod
		  and tracod = @lp_tracod
		SET @lv_errcod=@@ERROR
    
    --Verifico que no este iniciado ni finalizado para poder eliminar las entregas asociadas.
    SELECT @lp_trastrdte = t.trastrdte, @lp_traenddte = t.traenddte 
    FROM LOG_TRA t
    WHERE t.buscod = @lp_buscod and t. tracod= @lp_tracod
    
    IF @lv_errcod = 0 AND @lp_trastrdte is null AND @lp_traenddte is null
      BEGIN
          DELETE 
          FROM LOG_TRA_DLV 
          WHERE buscod=@lp_buscod
            and tracod = @lp_tracod
          SET @lv_errcod=@@ERROR
      END
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tracod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END
 
 
 
-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
  BEGIN
      SET @lv_validop = 1

      -- LOG_TRA_DEF '08','MDOMINGUEZ','TEMASIS_LOG'

      DECLARE @lv_trasts AS nvarchar(max)
      SET @lv_trasts = ' (case when t.docsts='+QUOTENAME('I','''')+' then '+QUOTENAME('INACTIVO','''')+
                       ' when isnull(t.trastrdte,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+
                       ' and isnull(t.traenddte,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+
                       ' then '+QUOTENAME('PLANIFICACION','''')+
                       ' when isnull(t.traenddte,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+
                       ' then '+QUOTENAME('INICIADO','''')+
                       ' else '+QUOTENAME('FINALIZADO','''')+' end) '

      SET @lv_sql = dbo.getSQLSentence( @lp_vewcfg,
          ' t.*, dc.sysdocclstxt, r.traroutxt, v.vhccodext, d.drvtxt, '+@lv_trasts+' as trasts ',
          ' LOG_TRA t '
          + ' left join sys_doc_cls dc on dc.buscod=t.buscod and dc.sysdocclscod=t.sysdocclscod '
          + ' left join LOG_TRA_ROU r on r.buscod=t.buscod and r.traroucod=t.traroucod '
          + ' left join LOG_VHC v on v.buscod=t.buscod and v.vhccod=t.vhccod '
          + ' left join LOG_DRV d on d.buscod=t.buscod and d.drvcod=t.drvcod ',
          ' t.buscod='+QUOTENAME(@lp_buscod,'''')
            + dbo.getUserRestrictions(@lp_buscod, @lp_username,'t.drvcod' )
            + ' and t.deldte is null ',
          't.tracod DESC',                 -- Orden ascendente por ID
          'trasts;'+@lv_trasts
      );
      EXECUTE( @lv_sql );
  END

	
 
 
-- ------------------------------------------------------------------------ 
--   1 2    -    S E T    D A T E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '25'
	BEGIN
		SET @lv_validop = 1
 
		-- LOG_TRA_DEF '12','MDOMINGUEZ','TEMASIS_LOG','2','','','','','','','','20190215153058','20190216065635','','','' 
		
		-- para finalizar el transporte se deben indicar flag de confirmaciÃ³n para entregas relevantes
		if not isnull(@lv_traenddte,'')=''
			if exists(select top 1 * 
							from log_tra_dlv td 
							inner join log_tra t on t.buscod=td.buscod and t.tracod=td.tracod 
							inner join stk_mov_doc d on d.buscod=td.buscod and d.stkmovdoccod=td.stkmovdoccod 
							inner join sys_doc_cls ddc on ddc.buscod=d.buscod and ddc.SysDocClsCod=d.sysdocclscod 
							where td.buscod=@lp_buscod 
								and t.deldte is null
								and td.tracod=@lp_tracod 
								and dbo.gettagvalue('cnftyp',d.stkmovdoccnf)='' 
								and not dbo.gettagvalue('stkmovrelcnf',ddc.sysdocclsatr)='')
				begin
					SELECT 'E' as errtyp, -121 as errcod, 'Debe indicar estado de confirmacion de todas las entregas relevantes.' as errtxt
					RETURN
				end
 
		BEGIN TRAN
		
		UPDATE LOG_TRA
		SET trastrdte = @lv_trastrdte,
			traenddte = @lv_traenddte,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and tracod = @lp_tracod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tracod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END
 
 
 
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
