USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_WMS_ORD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[STK_WMS_ORD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),

@lp_wmsordcod		as int			= null,	-- id
@lp_wmsordcodext	as nvarchar(20) = null,	-- codigo
@lp_wmsordtxt		as nvarchar(50)	= null,	-- descripcion
@lp_wmsorddte		as nvarchar(14)	= null,	-- fecha
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- objeto origen
@lp_srcobjcod		as int			= null,	-- id origen
@lp_wmstypcod		as int			= null, -- id tipo almacen
@lp_stkmovdoccod	as int			= null,	-- id movimiento stock
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuración vista

@lp_sysdocclscod	as int			= null,	-- id clase documento
@lp_sysdocrejcod	as int			= null,	-- id motivo de rechazo

@lp_errcod			as int			= 0		OUTPUT,	-- codigo de error
@lp_errtxt			as nvarchar(250)= null	OUTPUT,	-- descripcin de error
@lp_errmat			as nvarchar(max)= null	OUTPUT	-- materiales involucrados

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(max)
declare @lv_errmat as nvarchar(max)

declare @lv_wmsorddte as datetime
SET @lv_wmsorddte = dbo.ConvertDate( @lp_wmsorddte )

declare @lv_sql as nvarchar(max)

declare @lv_objtyp as nvarchar(20)
declare @lv_srcobjtxt as nvarchar(500)
declare @lv_srcobjdattxt as nvarchar(500)
declare @lv_dstobjtxt as nvarchar(500)
declare @lv_dstobjdattxt as nvarchar(500)
declare @lv_stkmovdocdtecnv as nvarchar(50)
declare @lv_srcobjtyptxt as nvarchar(500)
declare @lv_dstobjtyptxt as nvarchar(500)
declare @lv_cteusr as nvarchar(20)



-- ------------------------------------------------------------------------
--		V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01'
	BEGIN
		-- verifico si esta activo WMS
		if not exists(select top 1 * from dbo.getParameter(@lp_buscod,'STK','ENABLE_WMS'))
			begin
				set @lp_errtxt='WMS no activado en parámetros generales de Stock -ENABLE_WMS-.'
				return
			end

		set @lp_wmsordcod = (select top 1 WmsOrdCod from STK_WMS_ORD where BusCod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod and DocSts='A')
		if not isnull(@lp_wmsordcod,0)=0
			begin
				set @lv_errcod=-1
				set @lv_errtxt='La OT '+cast(@lp_wmsordcod as nvarchar(20))+' esta siendo tratada. Solo se permite una OT activa por movimiento.'
				return
			end

	END



-- ------------------------------------------------------------------------
--   I N I C I A L I Z A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01'
	begin

		-- ESTRUCTURA. armo estructura de salida
		select cast(null as nvarchar(20)) as buscod, cast(null as int) as stkmovdoccod, cast(null as int) as stkmovdocmatcod, cast(null as int) as matcod, cast(null as decimal(13,3)) as matqty, cast(null as int) as matbchcod, cast(null as int) as matsercod, 
			cast(null as int) as WmsIndCodInb, cast(null as int) as WmsLocCodInb, 
			cast(null as int) as wmslocindcod, cast(null as int) as WmslocCod,
			cast(null as int) as WmsAreLocCod, cast(null as int) as wmsarecod,
			cast(null as int) as wmstyparecod, cast(null as int) as WmsTypCod, cast(null as int) as WmsLocCod,
			cast(null as decimal(13,3)) as StkMatQty, cast(null as nvarchar(5)) as Stkmatuncod
		into #tmp_ord_loc
		where 1=2

		-- ENTRADA. determino ubicaciones de entradas disponible para materiales

		-- UBICACIONES FIJAS. obtengo los materiales con ubicaciones fijas
		insert into #tmp_ord_loc( buscod, stkmovdoccod, stkmovdocmatcod, matcod, matqty, matbchcod, matsercod, 
			WmsIndCodInb, WmsLocCodInb, wmslocindcod, WmslocCod, WmsAreLocCod, wmsarecod, wmstyparecod, WmsTypCod, WmsLocCod,
			StkMatQty, Stkmatuncod )
		select dm.buscod, dm.stkmovdoccod, dm.stkmovdocmatcod, dm.matcod, dm.matqty, dm.matbchcod, dm.matsercod, 
			mw.WmsIndCodInb, null, null, wl.WmslocCod,
			wal.WmsAreLocCod, wa.wmsarecod,	wta.wmstyparecod, wt.WmsTypCod, wl.WmsLocCod,
			sw.MatQty, sw.matuntcod
		from stk_mov_doc d
		inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod
		inner join STK_MAT_WMS mw on mw.BusCod=dm.BusCod and mw.strloccod=d.dstobjcod and mw.matcod=dm.matcod
		inner join STK_WMS_LOC wl on wl.BusCod=mw.BusCod and wl.WmsLocCod=mw.WmsLocCodInb
		inner join STK_WMS_ARE_LOC wal on wal.buscod=wl.BusCod and wal.wmsloccod=wl.WmsLocCod 
		inner join STK_WMS_ARE wa on wa.BusCod=wal.BusCod and wa.wmsarecod=wal.wmsarecod
		inner join STK_WMS_TYP_ARE wta on wta.buscod=wa.BusCod and wta.wmsarecod=wa.WmsAreCod 
		inner join STK_WMS_TYP wt on wt.BusCod=d.BusCod and wt.wmstypcod=wta.wmstypcod and wt.StrLocCod=mw.StrLocCod
		left join STK_MAT_STK_WMS sw on sw.BusCod=d.buscod and sw.strloccod=d.dstobjcod and sw.MatCod=dm.matcod and sw.matbchcod=dm.matbchcod and sw.matsercod=dm.matsercod
		where d.BusCod=@lp_buscod 
		  and d.StkMovDocCod=@lp_stkmovdoccod
		  and isnull(mw.WmsLocCodInb,0)=0
		  and d.DstObjTyp='STK_STL'
		order by wl.WmsLocAreSeq

		-- UBICACIONES DISPONIBLES. esta consulta determina las ubicaciones posibles para el material y las ordena por área y ubicación próxima
		insert into #tmp_ord_loc( buscod, stkmovdoccod, stkmovdocmatcod, matcod, matqty, matbchcod, matsercod, 
			WmsIndCodInb, WmsLocCodInb, wmslocindcod, WmslocCod, WmsAreLocCod, wmsarecod, wmstyparecod, WmsTypCod, WmsLocCod,
			StkMatQty, Stkmatuncod )
		select dm.buscod, dm.stkmovdoccod, dm.stkmovdocmatcod, dm.matcod, dm.matqty, dm.matbchcod, dm.matsercod, 
			mw.WmsIndCodInb, mw.WmsLocCodInb, wli.wmslocindcod, wl.WmslocCod,
			wal.WmsAreLocCod, wa.wmsarecod,	wta.wmstyparecod, wt.WmsTypCod, wl.WmsLocCod,
			sw.MatQty, sw.matuntcod
		from stk_mov_doc d
		inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod
		inner join STK_MAT_WMS mw on mw.BusCod=dm.BusCod and mw.strloccod=d.dstobjcod and mw.matcod=dm.matcod
		inner join STK_WMS_LOC_IND wli on wli.BusCod=mw.BusCod and wli.WmsIndCod=mw.WmsIndCodInb
		inner join STK_WMS_LOC wl on wl.BusCod=wli.BusCod and wl.WmsLocCod=wli.WmsLocCod
		inner join STK_WMS_ARE_LOC wal on wal.buscod=wl.BusCod and wal.wmsloccod=wl.WmsLocCod 
		inner join STK_WMS_ARE wa on wa.BusCod=wal.BusCod and wa.wmsarecod=wal.wmsarecod
		inner join STK_WMS_TYP_ARE wta on wta.buscod=wa.BusCod and wta.wmsarecod=wa.WmsAreCod 
		inner join STK_WMS_TYP wt on wt.BusCod=d.BusCod and wt.wmstypcod=wta.wmstypcod and wt.StrLocCod=mw.StrLocCod
		left join STK_MAT_STK_WMS sw on sw.BusCod=d.buscod and sw.strloccod=d.dstobjcod and sw.MatCod=dm.matcod and sw.matbchcod=dm.matbchcod and sw.matsercod=dm.matsercod
		where d.BusCod=@lp_buscod 
		  and d.StkMovDocCod=@lp_stkmovdoccod
		  and isnull(mw.WmsLocCodInb,0)=0
		  and d.DstObjTyp='STK_STL'
		order by wl.WmsLocAreSeq
		
		select * from #tmp_ord_loc
		return

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- detemrino clase de documento
		--select top 1 sysdocclscod from SYS_DOC_CLS where BusCod=@lp_buscod and ObjTyp='STK_WOR'
		
		BEGIN TRAN

		-- agrega cabecera
		INSERT INTO STK_WMS_ORD (buscod, wmsorddte, srcobjtyp, srcobjcod, stkmovdoccod, sysdoctrecod, docsts, ctedte, cteusr, SysDocClsCod)
		SELECT buscod, getdate(), srcobjtyp, srcobjcod, stkmovdoccod, 'N', 'A', getdate(), @lp_username, @lp_sysdocclscod
		FROM STK_MOV_DOC
		WHERE buscod=@lp_buscod
		  and stkmovdoccod=@lp_stkmovdoccod
		SET @lv_errcod=@@ERROR
		SET @lp_wmsordcod = @@IDENTITY
				
		-- agrega posiciones
		if @lv_errcod=0
			begin
				INSERT INTO STK_WMS_ORD_MAT (buscod, WmsOrdCod, MatCod, MatBchCod, MatSerCod, SrcQty, MatUntCod, DocSts, CteDte, CteUsr)
				SELECT buscod, @lp_wmsordcod, matcod, matbchcod, matsercod, matqty-isnull(matqtypck,0), matuntcod, 'A', GETDATE(), @lp_username
				FROM STK_MOV_DOC_MAT
				WHERE BusCod=@lp_buscod
				  and StkMovDocCod = @lp_stkmovdoccod
				  and isnull(sysdocrejcod,0)=0	-- sin motivo de rechazo
				  and MatQty>0
				SET @lv_errcod=@@ERROR
			end
		
		-- agrego registro en flujo de documentos
		if @lv_errcod=0
			execute GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,'',@lp_stkmovdoccod,null,'STK_WOR',@lp_wmsordcod,null,0,'UN','A',null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT

		-- FALTA: determinar ubicaciones para los materiales de la OT
		--select * from STK_WMS_ORD

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wmsordcod as stkmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	
	END


/*
-- ------------------------------------------------------------------------
--   0 2    -    MODIFICAR
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		-- si el documento no está contabilizado, se puede actualizar
		IF (select top 1 docsts from stk_mov_doc where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod)='C'
			BEGIN
				SELECT null, -9 as errcod, 'No se puede actualizar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		UPDATE STK_MOV_DOC
		SET	stkmovdoccodext= @lp_stkmovdoccodext,
			stkmovdocdte=@lv_stkmovdocdte,
			srcobjtyp = @lp_srcobjtyp, 
			srcobjcod = @lp_srcobjcod, 
			srccntcod = @lp_srccntcod, 
			dstobjtyp = @lp_dstobjtyp, 
			dstobjcod = @lp_dstobjcod, 
			dstcntcod = @lp_dstcntcod, 
			stkmovdoclck = @lp_stkmovdoclck,
			stkmovdoccmt = @lp_stkmovdoccmt, 
			stkmovrsncod = @lp_stkmovrsncod,
			sysdocrejcod = @lp_sysdocrejcod,
			traroucod = @lp_traroucod, 
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmovdoccod=@lp_stkmovdoccod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wmsordcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, do.objtyptxt as dstobjtyptxt, convert(varchar,d.stkmovdocdte,103) as stkmovdocdtecnv, '
			+ ' asr.adrnme001 as srcobjtxt, ad.adrnme001 as dstobjtxt, scnt.cnttxt as srccnttxt, dcnt.cnttxt as dstcnttxt, '
			+ ' ad.adrstr as dstobjadrstr, ad.adrcty as dstobjadrcty, dr.sysdocrejtxt, dt.sysdoctretxt, tr.traroutxt '
			+ ' FROM stk_mov_doc d '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join sys_obj_typ do on do.objtypcod=d.dstobjtyp '
			+ ' left join grl_dat_adr asr on asr.buscod=d.buscod and asr.adrsrctyp=d.srcobjtyp and asr.adrsrccod=cast(d.srcobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt scnt on scnt.buscod=d.buscod and scnt.cntcod=d.srccntcod '
			+ ' left join grl_dat_adr ad on ad.buscod=d.buscod and ad.adrsrctyp=d.dstobjtyp and ad.adrsrccod=cast(d.dstobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt dcnt on dcnt.buscod=d.buscod and dcnt.cntcod=d.dstcntcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=d.buscod and dr.sysdocrejcod=d.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=d.buscod and dt.sysdoctrecod=d.sysdoctrecod '
			+ ' left join LOG_TRA_ROU tr on tr.buscod=d.buscod and tr.traroucod=d.traroucod '
			+ ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and d.stkmovdoccod='+QUOTENAME(@lp_stkmovdoccod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' d.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from stk_mov_doc where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod)='C'
			BEGIN
				SELECT null, -10 as errcod, 'No se puede borrar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		-- obtengo el objeto de la clase de documento
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovdoccod=@lp_stkmovdoccod)

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_POS_DEF '24',@lp_username,@lp_buscod,null,null,null,null,@lv_objtyp,@lp_stkmovdoccod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro materiales del documento
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM stk_mov_doc_mat 
				WHERE buscod = @lp_buscod
				  and stkmovdoccod = @lp_stkmovdoccod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro textos
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, @lv_objtyp, @lp_stkmovdoccod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro id de inventario de elaboraciones
		IF @lv_errcod=0 and @lv_objtyp='STK_SIV'
			BEGIN
				UPDATE STK_MOV_ELB
				SET StkMovDocCod = NULL
				WHERE buscod = @lp_buscod
					and StkMovDocCod = @lp_stkmovdoccod
				SET @lv_errcod=@@ERROR
			END

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM stk_mov_doc 
				WHERE buscod = @lp_buscod
				  and stkmovdoccod = @lp_stkmovdoccod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovdoccod as stkmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- stk_mov_doc_def '08','mdominguez','temasis_hlt'
		-- STK_MOV_DOC_DEF '08','GRUSSO','TEMASIS_HLT','','','','','','','','','','','0','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT> AND (STKMOVDOCDTECNV BETWEEN ^01/12/2018^ AND ^20/01/2018^) AND (DC.OBJTYP=^STK_SIN^) AND (D.STKMOVDOCLCK=^0^) AND (DC.OBJTYP=^STK_SIN^) AND (D.STKMOVDOCLCK=^0^)</VEWFLT></VIEW>',''

		/*REALIZAMOS CONVERCIONES DE LOS CAMPOS CON ALIAS O CON FORMULA DE LA CONFIGURACION DE LA VISTA PARA LOS FILTROS Y EL ORDEN*/
		set @lv_srcobjtxt = ' asr.adrnme001 '
		set @lv_dstobjtxt = ' adr.adrnme001 '
		set @lv_srcobjdattxt = ' asr.adrnme001 '
		set @lv_dstobjdattxt = ' adr.adrnme001 '
		set @lv_stkmovdocdtecnv = 'convert(varchar,d.stkmovdocdte,103)'
		set @lv_srcobjtyptxt = 'so.objtyptxt'
		set @lv_dstobjtyptxt = 'do.objtyptxt '
		set @lv_cteusr = 'd.cteusr'
		
		declare @lv_ord as nvarchar(max)
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' d.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		set @lv_ord = replace(@lv_ord, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_ord = replace(@lv_ord, 'srcobjdattxt', @lv_srcobjdattxt)
		set @lv_ord = replace(@lv_ord, 'srccnttxt', 'scnt.cnttxt')
		set @lv_ord = replace(@lv_ord, 'dstobjtxt', @lv_dstobjtxt)
		set @lv_ord = replace(@lv_ord, 'dstobjdattxt', @lv_dstobjdattxt)
		set @lv_ord = replace(@lv_ord, 'dstcnttxt', 'dcnt.cnttxt')
		set @lv_ord = replace(@lv_ord, 'stkmovdocdtecnv', 'd.stkmovdocdte')
		set @lv_ord = replace(@lv_ord, 'CTEUSR', @lv_cteusr)

		declare @lv_flt as nvarchar(max)
		set @lv_flt = ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''') + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_flt = replace(@lv_flt, 'srcobjdattxt', @lv_srcobjdattxt)
		set @lv_flt = replace(@lv_flt, 'srccnttxt', 'scnt.cnttxt')
		set @lv_flt = replace(@lv_flt, 'dstobjtxt', @lv_dstobjtxt)
		set @lv_flt = replace(@lv_flt, 'dstobjdattxt', @lv_dstobjdattxt)
		set @lv_flt = replace(@lv_flt, 'dstcnttxt', 'dcnt.cnttxt')
		set @lv_flt = replace(@lv_flt, 'stkmovdocdtecnv', 'd.stkmovdocdte')
		set @lv_flt = replace(@lv_flt, 'srcobjtyptxt', @lv_srcobjtyptxt)
		set @lv_flt = replace(@lv_flt, 'dstobjtyptxt', @lv_dstobjtyptxt)
		set @lv_flt = replace(@lv_flt, 'CTEUSR', @lv_cteusr)

		declare @lv_select as nvarchar(max)
		set @lv_select = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, do.objtyptxt as dstobjtyptxt, '
			+ ' convert(varchar, d.stkmovdocdte, 103) as stkmovdocdtecnv, '
			+ @lv_srcobjtxt+' as srcobjtxt, '
			+ @lv_dstobjtxt+' as dstobjtxt, '
			+ @lv_srcobjdattxt+' as srcobjdattxt, '
			+ @lv_dstobjdattxt+' as dstobjdattxt, '
			+ ' scnt.cnttxt as srccnttxt, '
			+ ' dcnt.cnttxt as dstcnttxt, dcnta.adrstr as dstcntadrstr, dcntl.lndtxt as dstcntlndtxt, dcntlr.lndregtxt as dstcntlndregtxt, dr.sysdocrejtxt, dt.sysdoctretxt, tr.traroutxt '
			+ ' FROM stk_mov_doc d '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join sys_obj_typ do on do.objtypcod=d.dstobjtyp '
			+ ' left join grl_dat_adr asr on asr.buscod=d.buscod and asr.adrsrctyp=d.srcobjtyp and asr.adrsrccod=cast(d.srcobjcod as nvarchar(20)) '
			+ ' left join grl_dat_adr adr on adr.buscod=d.buscod and adr.adrsrctyp=d.dstobjtyp and adr.adrsrccod=cast(d.dstobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt scnt on scnt.buscod=d.buscod and scnt.cntcod=d.srccntcod '
			+ ' left join grl_dat_cnt dcnt on dcnt.buscod=d.buscod and dcnt.cntsrctyp=d.dstobjtyp and dcnt.cntsrccod=d.dstobjcod and dcnt.cntcod=d.dstcntcod '
			+ ' left join grl_dat_adr dcnta on dcnta.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and dcnta.adrsrccod=dcnt.cntcod '
			+ ' left join grl_dat_lnd dcntl on dcntl.lndcod=dcnta.lndcod '
			+ ' left join grl_dat_lnd_reg dcntlr on dcntlr.lndcod=dcnta.lndcod and dcntlr.lndregcod=dcnta.lndregcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=d.buscod and dr.sysdocrejcod=d.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=d.buscod and dt.sysdoctrecod=d.sysdoctrecod '
			+ ' left join LOG_TRA_ROU tr on tr.buscod=d.buscod and tr.traroucod=d.traroucod '
		execute( @lv_select + @lv_flt + @lv_ord )
		
	END	
	


-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1    

		-- DATOS. obtengo datos del documento
		declare @lv_supcod as int
		declare @lv_doccodext as nvarchar(20)
		declare @lv_docrngcodint as int
		declare @lv_docrngcodext as int
		declare @lv_sysdocclsatr as nvarchar(max)
		select @lv_doccodext=md.StkMovDocCodExt, @lp_srcobjcod=md.srcobjcod, @lp_dstobjcod=md.dstobjcod, @lv_objtyp=dc.objtyp, @lv_docrngcodint=dc.docrngcodint, @lv_docrngcodext=dc.docrngcodext, @lv_sysdocclsatr=dc.sysdocclsatr, @lp_docsts=md.docsts, @lp_stkmovdoclck=stkmovdoclck
		from stk_mov_doc md
		 inner join sys_doc_cls dc on dc.buscod=md.buscod and dc.SysDocClsCod=md.SysDocClsCod
		where md.buscod=@lp_buscod
		  and md.stkmovdoccod=@lp_stkmovdoccod

		-- verifico status de documento
		if @lp_docsts='I'
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'No se puede contabilizar un documento Inactivo.'
			end
		if @lp_docsts='C'
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'No se puede contabilizar un documento Contabilizado.'
			end
		if not @lp_stkmovdoclck=''
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'No se puede contabilizar un documento Bloqueado.'
			end
		if not @lv_errcod=0
			begin
				select null, @lv_errcod as errcod, @lv_errtxt as errtxt
				return
			end

		-- ORIGEN. valido domicilio de objeto de origen
		if not dbo.GetTagValue('srcobjtyp',@lv_sysdocclsatr)=''
			if not exists( select top 1 * from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=dbo.GetTagValue('srcobjtyp',@lv_sysdocclsatr) and adrsrccod=@lp_srcobjcod)
				begin
					select null, -93 as errcod, 'Código de origen inválido.' as errtxt
					return
				end
		
		-- DESTINO. valido domicilio de objeto de destino
		if not dbo.GetTagValue('dstobjtyp',@lv_sysdocclsatr)=''
			if not exists( select top 1 * from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=dbo.GetTagValue('dstobjtyp',@lv_sysdocclsatr) and adrsrccod=@lp_srcobjcod)
				begin
					select null, -93 as errcod, 'Código de destino inválido.' as errtxt
					return
				end

		-- ITEMS. valido que existan materiales para el documento
		IF not exists (select top 1 * from stk_mov_doc_mat where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod)
			BEGIN
				SELECT null, -101 as errcod, 'El documento debe contener al menos un item.' as errtxt
				RETURN
			END

		-- STOCK. validacion de existencias
		EXECUTE STK_MAT_STK_DEF '13', @lp_username, @lp_buscod, @lp_stkmovdoccod, null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT, @lv_errmat OUTPUT
		IF not @lv_errcod=0
			BEGIN
				SELECT null, @lv_errcod as errcod, @lv_errtxt as errtxt, @lv_errmat as errmat
				RETURN
			END


		BEGIN TRAN



		-- NUMERACION. determino y actualizo numeración
		declare @lv_docrngcod as int
		set @lv_docrngcod = (case when not isnull(@lv_docrngcodint,0)=0 then @lv_docrngcodint when not isnull(@lv_docrngcodext,0)=0 then @lv_docrngcodext else 0 end)

		declare @lv_docrngatr as nvarchar(4000)
		set @lv_docrngatr =	(case	when not isnull(@lv_docrngcodint,0)=0 then '<docrngcodint>X</docrngcodint>'
									when not isnull(@lv_docrngcodext,0)=0 then '<docrngcodext>X</docrngcodext>'
							else '' end)

 		if not @lv_docrngcod=0
			BEGIN
				declare @lv_docnumint as int
				set @lv_docnumint = convert(int, @lv_doccodext)
				EXECUTE GRL_DAT_DOC_RNG_DEF '11', @lp_username, @lp_buscod,
				@lv_docrngcod,null,null,null,null,null,null,@lv_docrngatr,null,null,@lv_docnumint OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
				set @lv_doccodext = @lv_docnumint
			END


		-- CABECERA. Actualizo status de cabecera de documento
		IF @lv_errcod=0
			BEGIN
				UPDATE stk_mov_doc 
				SET stkmovdoccodext = @lv_doccodext,
					docsts='C',
					upddte=getdate(),
					updusr=@lp_username
				WHERE buscod=@lp_buscod 
				  and stkmovdoccod=@lp_stkmovdoccod
				SET @lv_errcod=@@ERROR
			END


		-- POSICIONES. Costos. Actualizo costos en posiciones del documento
		IF @lv_errcod=0
			BEGIN
				UPDATE dm
				SET MatCst = dbo.ConvertMaterialUnit(@lp_buscod, dm.matcod, dm.matqty, dm.matuntcod,mc.matcstuntcod)*mc.matcst/mc.matcstqty,
					MatCstCurCod = mc.matcstcurcod
				FROM STK_MOV_DOC_MAT dm
				inner join STK_MAT_CST mc on mc.buscod=dm.buscod and mc.matcod=dm.matcod
				WHERE dm.buscod=@lp_buscod
				  and dm.StkMovDocCod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				  and not mc.matcstqty=0
				  and not mc.matcstuntcod=''
				SET @lv_errcod=@@ERROR
			END


		-- COSTOS. PUC - actualizo costo de materiales con precio de ultima compra (PUC) según parametro de clase de documento
		if dbo.getTagValue('stkmatcstupd',@lv_sysdocclsatr)='PUC'
			begin
				-- determino el costo agrupando los origenes (puede haber mas de un documento de origen para el mismo material)
				select	dm.buscod, dm.matcod, 
						sum( dbo.convertmaterialunit(dm.buscod, dm.matcod, dm.matqty, dm.matuntcod, mc.matcstuntcod) ) as matqty,
						mc.matcstuntcod as matuntcod,
						sum( dbo.convertcurrency(dm.buscod,getdate(),'cpa',bm.MatPrc,bm.curcod,mc.matcstcurcod)*dm.matqty ) as mattotprc,
						mc.matcstcurcod as curcod
				INTO #tmp_data_cstpuc
				FROM STK_MOV_DOC_MAT dm
				inner join STK_MAT m on m.buscod=dm.buscod and m.matcod=dm.matcod 
				inner join STK_MAT_CST mc on mc.buscod=m.buscod and mc.matcod=m.matcod 
				inner join BUY_ORD_MAT bm on bm.buscod=dm.buscod and bm.buyordcod=dm.docrefcod and bm.buyordmatcod=dm.docrefposcod 
				inner join BUY_ORD b on b.buscod=bm.buscod and b.buyordcod=bm.buyordcod 
				WHERE dm.buscod=@lp_buscod
				  and dm.StkMovDocCod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				GROUP BY dm.buscod, dm.matcod, mc.matcstuntcod, mc.matcstcurcod

				declare @lv_matcod as int
				declare @lv_matcstqty as decimal(13,3)
				declare @lv_matcstuntcod as nvarchar(5)
				declare @lv_matcstcurcod as nvarchar(5)
				declare @lv_matcst as decimal(13,3)
				declare @lv_docsts as nvarchar(2)

				-- actualizo PUC
				--declare @lv_errtxt as nvarchar(4000)
				declare lc_cst_puc cursor for
				select mc.matcod, mc.matcstcurcod, mc.matcstqty, mc.matcstuntcod, (x.mattotprc * mc.MatCstQty / x.matqty)  as matcst, mc.docsts
				from stk_mat_cst mc
				inner join #tmp_data_cstpuc x on x.buscod=mc.buscod and x.matcod=mc.matcod
				open lc_cst_puc
				fetch next from lc_cst_puc into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
				while @@FETCH_STATUS=0 and @lv_errcod=0
					begin
						set @lv_matcstqty = @lv_matcstqty * 1000
						set @lv_matcst = @lv_matcst * 1000
						exec STK_MAT_CST_DEF '02_sp',@lp_username,@lp_buscod,
							@lv_matcod,@lv_matcst,@lv_matcstcurcod,@lv_matcstqty,@lv_matcstuntcod,
							@lv_docsts,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT, @lv_supcod
						fetch next from lc_cst_puc into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
					end
				close lc_cst_puc
				deallocate lc_cst_puc

			end


		-- COSTOS. PPP - actualizo costo de materiales con precio promedio ponderado (PPP) según parámetro de clase de documento
		if dbo.getTagValue('stkmatcstupd',@lv_sysdocclsatr)='PPP'
			begin
				-- determino el costo agrupando los origenes (puede haber mas de un documento de origen para el mismo material)
				select	dm.buscod, dm.matcod, 
						sum( dbo.convertmaterialunit(dm.buscod, dm.matcod, dm.matqty, dm.matuntcod, mc.matcstuntcod) ) as matqty,
						sum( dbo.convertcurrency(dm.buscod,getdate(),'cpa',bm.MatPrc,bm.curcod,mc.matcstcurcod)*dm.matqty ) as mattotprc
				INTO #tmp_data_cstppp
				FROM STK_MOV_DOC_MAT dm
				inner join STK_MAT m on m.buscod=dm.buscod and m.matcod=dm.matcod 
				inner join STK_MAT_CST mc on mc.buscod=m.buscod and mc.matcod=m.matcod 
				inner join BUY_ORD_MAT bm on bm.buscod=dm.buscod and bm.buyordcod=dm.docrefcod and bm.buyordmatcod=dm.docrefposcod 
				inner join BUY_ORD b on b.buscod=bm.buscod and b.buyordcod=bm.buyordcod 
				WHERE dm.buscod=@lp_buscod
				  and dm.StkMovDocCod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				GROUP BY dm.buscod, dm.matcod

				-- obtengo el costo de las existencias
				select dm.buscod, dm.matcod, 
					sum( dbo.convertmaterialunit(mk.buscod, mk.matcod, mk.matqty, mk.matuntcod, mc.matcstuntcod) ) as matqty
				into #tmp_data_cststk
				from STK_MOV_DOC_MAT dm
				inner join stk_mat_stk mk on mk.buscod=dm.buscod and mk.matcod=dm.matcod
				inner join stk_mat_cst mc on mc.buscod=mk.buscod and mc.matcod=mk.matcod
				where mk.buscod=@lp_buscod 
				  and dm.matcod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				group by dm.buscod, dm.matcod

				-- actualizo PPP
				declare lc_cst_ppp cursor for
				select mc.matcod, mc.matcstcurcod, mc.matcstqty, mc.matcstuntcod, (x.mattotprc + (mc.MatCst*k.matqty/mc.matcstqty)) / (x.matqty + k.matqty) * mc.MatCstQty as matcst, mc.docsts
				FROM STK_MAT_CST mc
				inner join #tmp_data_cstppp x on x.buscod=mc.buscod and x.matcod=mc.matcod
				inner join #tmp_data_cststk k on k.buscod=mc.buscod and k.matcod=mc.matcod
				open lc_cst_ppp
				fetch next from lc_cst_ppp into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
				while @@FETCH_STATUS=0 and @lv_errcod=0
					begin
						set @lv_matcstqty = @lv_matcstqty * 1000
						set @lv_matcst = @lv_matcst * 1000
						EXECUTE STK_MAT_CST_DEF '02_sp',@lp_username,@lp_buscod,
							@lv_matcod,@lv_matcst,@lv_matcstcurcod,@lv_matcstqty,@lv_matcstuntcod,
							@lv_docsts,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT, @lv_supcod
						fetch next from lc_cst_ppp into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
					end
				close lc_cst_ppp
				deallocate lc_cst_ppp

			end


		-- STOCK. actualizo existencias
		IF @lv_errcod=0
			EXECUTE STK_MAT_STK_DEF '01', @lp_username, @lp_buscod, @lp_stkmovdoccod, null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT, @lv_errmat OUTPUT
		

		-- NROS DE SERIE. actualizo fecha de ultimo movimiento en numeros de serie
		IF @lv_errcod=0
			BEGIN
				UPDATE ms
				SET ms.StkObjStrDte = md.StkMovDocDte,
					ms.StkObjEndDte = null
				FROM STK_MAT_SER ms
				inner join STK_MOV_DOC_MAT mdm on mdm.BusCod=ms.BusCod and mdm.MatCod=ms.MatCod and mdm.MatSerCod=ms.matsercod
				inner join STK_MOV_DOC md on md.BusCod=mdm.BusCod and md.StkMovDocCod=mdm.StkMovDocCod
				WHERE ms.BusCod=@lp_buscod
				  and mdm.stkmovdoccod=@lp_stkmovdoccod
				SET @lv_errcod = @@ERROR
			END


		-- CONTABILIZACION. agrego asiento contable
		if @lv_errcod=0
			exec FIN_MOV_DOC_DEF '19',@lp_username,@lp_buscod,null,null,null,null,null,null,null,@lv_objtyp,@lp_stkmovdoccod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT


		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovdoccod as stkmovdoccod, @lv_errcod as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription( @lv_errcod ) else @lv_errtxt end) as errtxt, @lv_errmat

	END
*/

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
