USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_ACC_PLN_ACC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_ACC_PLN_ACC_DEF]

@lp_sysoperation 	as nvarchar(04),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,			-- empresa 
@lp_finaccplnacccod	as int			= null,			-- id 
@lp_finaccplncod	as int			= null,				-- id plan de cuentas 
@lp_finaccplnlvltxt	as nvarchar(50)	= null,	-- descripcion 
@lp_finacccod		as int			= null,					-- id cuenta 
@lp_finaccplnlvl	as nvarchar(50)	= null,		-- nivel 
@lp_docsts			as nvarchar(02)	= null,			-- estado 

@lp_vewcfg			as nvarchar(max)=null,			-- configuraciÃ³n vista 

@lp_errtyp as nvarchar(2) = null OUTPUT,
@lp_errcod as int = 0 OUTPUT,
@lp_errtxt as nvarchar(max) = null OUTPUT,
@lp_errmsg as nvarchar(max)=null OUTPUT,
@lp_errvar as nvarchar(max) = null OUTPUT

AS 
 
SET NOCOUNT ON 

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(4000)



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11' or @lp_sysoperation = '01sp'
	BEGIN
		SET @lv_validop = 1
		IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
			BEGIN TRAN
				
		INSERT INTO FIN_ACC_PLN_ACC 
			(buscod, finaccplncod, finaccplnlvltxt, finacccod, finaccplnlvl, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_finaccplncod, @lp_finaccplnlvltxt, @lp_finacccod, @lp_finaccplnlvl, 
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_finaccplnacccod=@@IDENTITY
		
    IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
    	BEGIN
      IF @lv_errcod=0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN
      SELECT @lp_finaccplnacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
      END
		ELSE
			RETURN
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12' or @lp_sysoperation = '02sp'
	BEGIN
		SET @lv_validop = 1
		IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
			BEGIN TRAN
		
		UPDATE FIN_ACC_PLN_ACC 
		SET	finaccplnlvltxt=@lp_finaccplnlvltxt,
			finaccplnlvl=@lp_finaccplnlvl,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and finaccplnacccod = @lp_finaccplnacccod
		SET @lv_errcod=@@ERROR
		
    IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
    	BEGIN
      IF @lv_errcod=0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN
      SELECT @lp_finaccplnacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
      END
		ELSE
    	RETURN
	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, c.curtxt
		FROM FIN_ACC_PLN_ACC pa
		left join FIN_ACC a on a.BusCod=pa.BusCod and a.FinAccCod=pa.FinAccCod
		inner join ADM_CUR c on c.curcod=a.curcod 
		WHERE pa.buscod = @lp_buscod
		  and pa.finaccplnacccod = @lp_finaccplnacccod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14' or @lp_sysoperation = '04sp'
	BEGIN
		SET @lv_validop = 1
		IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
			BEGIN TRAN

		DELETE 
		FROM FIN_ACC_PLN_ACC 
		WHERE buscod = @lp_buscod
		  and finaccplnacccod = @lp_finaccplnacccod
		SET @lv_errcod=@@ERROR
		IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
    	BEGIN
      IF @lv_errcod = 0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN
			SELECT @lp_finaccplnacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
      END
    ELSE
    	RETURN
		
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' pa.*, c.curtxt '
			+ '	FROM FIN_ACC_PLN_ACC pa '
			+ ' left join fin_acc a on a.buscod=pa.buscod and a.finacccod=pa.finacccod '
			+ ' left join adm_cur c on c.curcod=a.curcod '
			+ ' WHERE pa.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and pa.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--  C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
