USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_PER_AUT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SYS_SEC_PER_AUT_DEF]
@lp_sysoperation as nvarchar(2),
@lp_username 	as nvarchar(20),
@lp_buscod 		as nvarchar(20)	= null,	/* empresa */
@lp_grpcod		as nvarchar(20)	= null,	/* grupo */
@lp_usrcod		as nvarchar(20)	= null,	/* usuario */
@lp_objtypcod	as nvarchar(20)	= null,	/* tipo de objeto */
@lp_autcod		as nvarchar(20) = null,	/* obj autorizacion */
@lp_docsts		as nvarchar(02) = null,	/* estado */

@lp_vewcfg		as nvarchar(4000)=null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_autcod as nvarchar(20)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		if exists(select top 1 * from SYS_SEC_PER_AUT where buscod=@lp_buscod and grpcod=@lp_grpcod and usrcod=@lp_usrcod and objtypcod=@lp_objtypcod and autcod=@lp_autcod)
			SET @lp_sysoperation='02'
		ELSE
			SET @lp_sysoperation='01'

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN
		
		INSERT INTO SYS_SEC_PER_AUT 
			(buscod, grpcod, usrcod, objtypcod, autcod, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_grpcod, @lp_usrcod, @lp_objtypcod, @lp_autcod, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_autcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		/* nada que actualizar */

		SELECT @lp_autcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_SEC_PER_AUT 
		WHERE buscod = @lp_buscod
		  and grpcod = @lp_grpcod
		  and usrcod = @lp_usrcod
		  and objtypcod = @lp_objtypcod 
		  and autcod = @lp_autcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM SYS_SEC_PER_AUT
		WHERE buscod = @lp_buscod
		  and grpcod = @lp_grpcod
		  and usrcod = @lp_usrcod
		  and objtypcod = @lp_objtypcod 
		  and autcod = @lp_autcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_autcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.* '
			+ ' FROM SYS_SEC_PER_AUT p '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'p.objtypcod, p.autcod' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   1 0    -    V E R I F I C A R     P E R M I S O						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1    

		/* obtengo los permisos asignados al usuario */
		set @lv_autcod = (select top 1 autcod 
							from sys_sec_per_aut p 
							where p.buscod=@lp_buscod 
							  and p.grpcod='**' 
							  and p.usrcod=@lp_usrcod 
							  and p.objtypcod=@lp_objtypcod 
							  and p.autcod=@lp_autcod )

		/* no tiene permiso por usuario, verifico si tiene permiso por grupo */
		if @lv_autcod is null
			set @lv_autcod = (select top 1 autcod 
								from sys_sec_per_aut p 
								where p.buscod=@lp_buscod 
								  and p.grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod=@lp_buscod and usrcod=@lp_usrcod)
								  and p.usrcod='**' 
								  and p.objtypcod=@lp_objtypcod
								  and p.autcod=@lp_autcod)

		/* devuelvo el valor del permiso */
		SELECT @lv_autcod as usrper
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END



GO
