USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_WRK_PLC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HHR_WRK_PLC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_wrkplccod		as int			= null,	-- id
@lp_wrkplccodext	as nvarchar(20)	= null,	-- cÃ³digo
@lp_wrkplctxt		as nvarchar(50)	= null,	-- nombre
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null, -- vista

@lp_sysdocclscod	as int			= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'WKP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		-- valido cÃ³digo
		if not isnull(@lp_wrkplccodext,'')=''
			IF exists(select top 1 * from HHR_WRK_PLC where buscod=@lp_buscod and not wrkplccod=@lp_wrkplccod and wrkplccodext=@lp_wrkplccodext)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
					RETURN
				END

	END
	

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN
		
		INSERT INTO HHR_WRK_PLC (buscod, wrkplccodext, wrkplctxt, sysdocclscod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_wrkplccodext, @lp_wrkplctxt, @lp_sysdocclscod, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_wrkplccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wrkplccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HHR_WRK_PLC 
		SET	wrkplccodext=@lp_wrkplccodext,
			wrkplctxt = @lp_wrkplctxt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and wrkplccod = @lp_wrkplccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wrkplccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, 
		a.adrstr, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon,
		l.lndtxt, lr.lndregtxt, lt.lndtwntxt,
		dc.sysdocclstxt
		FROM HHR_WRK_PLC p 
			left join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp='HHR_WKP' and a.adrsrccod=p.wrkplccod
			left join grl_dat_lnd l on l.lndcod=a.lndcod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod
			inner join SYS_DOC_CLS	dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod
		WHERE p.buscod=@lp_buscod
		  and p.wrkplccod=@lp_wrkplccod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    

		/* verifico que no existan movimientos en el establecimiento */
		/*
		IF exists(select top 1 * from stk_mov_doc where buscod=@lp_buscod and (srcobjtyp='STK_STL' and srcobjcod=@lp_wrkplccod) or (dstobjtyp='STK_STL' and dstobjcod=@lp_wrkplccod) )
			BEGIN			
				SELECT null, -2 as errcod, 'No se puede borrar el establecimiento. Existen movimientos.' as errtxt
				RETURN
			END
		*/
		BEGIN TRAN
				
		-- borro direccion
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrsrctyp='HHR_WKP'
				  and adrsrccod=@lp_wrkplccod
				SET @lv_errcod=@@ERROR
			END
					
		-- borro lugar
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM HHR_WRK_PLC
				WHERE buscod=@lp_buscod
				  and wrkplccod = @lp_wrkplccod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wrkplccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
		
		-- hhr_wrk_plc_def '08','temasis','temasis'

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, a.adrstr, a.adrphn001, a.adrphn002, a.adreml '
			+ ' FROM HHR_WRK_PLC p '
			+ ' left join grl_dat_adr a ON a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HHR_WKP','''')+' and a.adrsrccod=p.wrkplccod '
			+ ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('HHR_WKP','''')+'))) '
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME('A','''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
