USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_LQD_DOC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_LQD_DOC_DEF]

@lp_sysoperation 		as nvarchar(5),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),		-- empresa 
@lp_hltlqddoccod		as int 	= null OUTPUT,	-- id liquidación-documento  
@lp_hltlqdcod			as int			= null, -- id liquidación
@lp_refobjtyp			as nvarchar(20)	= null,	-- objeto referencia 
@lp_refobjcod001		as nvarchar(20)	= null, -- id ref 001 
@lp_refobjcod002		as nvarchar(20)	= null,	-- id ref 002 
@lp_hltlqddoccodext		as nvarchar(20)	= null, -- cod externo 
@lp_hltlqddoctxt		as nvarchar(50) = null,	-- descripcion 
@lp_hltlqddocdte		as nvarchar(14)	= null,	-- fecha 
@lp_hltlqddocprc		as bigint		= null,	-- precio unitario 
@lp_hltlqddocqty		as bigint		= null,	-- cantidad 
@lp_hltlqddoctot		as bigint		= null,	-- total 
@lp_curcod				as nvarchar(5)	= null,	-- moneda 
@lp_hltlqddocatr001	    as nvarchar(max)= null,	-- atributos 
@lp_docsts 				as nvarchar(2)	= null,	-- estado 

@lp_vewcfg				as nvarchar(max)= null,	-- configuración vista 

@lp_errcod				as int 			= null OUTPUT,
@lp_errtxt				as nvarchar(400)= null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
set @lp_errcod = 0
DECLARE @lv_sql as nvarchar(max)
declare @lv_hltlqddocqty as decimal(18,3) = dbo.ConvertNumber( @lp_hltlqddocqty, 3)
declare @lv_hltlqddocprc as decimal(18,3) = dbo.ConvertNumber( @lp_hltlqddocprc, 3)
declare @lv_hltlqddoctot as decimal(18,3) = dbo.ConvertNumber( @lp_hltlqddoctot, 3)
declare @lv_hltlqddocdte as smalldatetime = dbo.ConvertDate( @lp_hltlqddocdte )


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		set @lp_hltlqddoccod = (select top 1 hltlqddoccod from HLT_LQD_DOC where BusCod=@lp_buscod and hltlqdCod=@lp_hltlqdcod and RefObjTyp=@lp_refobjtyp and RefObjCod001=@lp_refobjcod001 and RefObjCod002=@lp_refobjcod002)
		if not @lp_hltlqddoccod is null
			set @lp_sysoperation = '02'
		else
			set @lp_sysoperation = '01'
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='01'
			BEGIN TRAN
		
		INSERT INTO HLT_LQD_DOC (buscod, hltlqdcod, refobjtyp, refobjcod001, refobjcod002, 
			hltlqddoccodext, hltlqddoctxt, hltlqddocdte, hltlqddocqty, hltlqddocprc, hltlqddoctot, curcod, hltlqddocatr001,
			docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hltlqdcod, @lp_refobjtyp, @lp_refobjcod001, @lp_refobjcod002, 
			@lp_hltlqddoccodext, @lp_hltlqddoctxt, @lv_hltlqddocdte, @lv_hltlqddocqty, @lv_hltlqddocprc, @lv_hltlqddoctot, @lp_curcod, @lp_hltlqddocatr001,
			@lp_docsts, getdate(), @lp_username)
		SET @lp_errcod=@@ERROR
		SET @lp_hltlqddoccod=@@IDENTITY
		
		IF @lp_errcod=0 and @lp_sysoperation='01'
			BEGIN
				UPDATE HLT_LQD
				SET hltlqdtot = isnull( (select sum(isnull(d.hltlqddoctot,0)) 
												FROM HLT_LQD_DOC d 
												where d.buscod=@lp_buscod 
												  and d.hltlqdcod=@lp_hltlqdcod
												  ) , 0 )
				WHERE buscod=@lp_buscod 
				  and hltlqdcod=@lp_hltlqdcod
				SET @lp_errcod = @@ERROR
			END

		if @lp_sysoperation='01'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_hltlqddoccod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='02_sp'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='02'
			BEGIN TRAN
		
		UPDATE HLT_LQD_DOC
		SET hltlqddoccodext = @lp_hltlqddoccodext, 
			hltlqddoctxt	= @lp_hltlqddoctxt, 
			hltlqddocdte	= @lv_hltlqddocdte, 
			hltlqddocqty	= @lv_hltlqddocqty,
			hltlqddocprc	= @lv_hltlqddocprc, 
			hltlqddoctot	= @lv_hltlqddoctot, 
			curcod			= @lp_curcod, 
			hltlqddocatr001 = @lp_hltlqddocatr001,
			docsts			= @lp_docsts,
			upddte			= getdate(),
			updusr			= @lp_username
		WHERE buscod = @lp_buscod
		  and hltlqddoccod = @lp_hltlqddoccod
		SET @lp_errcod=@@ERROR
		
		IF @lp_errcod=0 and @lp_sysoperation='02'
			BEGIN
				UPDATE HLT_LQD
				SET hltlqdtot = isnull( (select sum(isnull(d.hltlqddoctot,0)) 
												FROM HLT_LQD_DOC d 
												where d.buscod=@lp_buscod 
												  and d.hltlqdcod=@lp_hltlqdcod
												  ) , 0 )
				WHERE buscod=@lp_buscod 
				  and hltlqdcod=@lp_hltlqdcod
				SET @lp_errcod = @@ERROR
			END

		if @lp_sysoperation='02'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_hltlqddoccod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ld.*
		FROM HLT_LQD_DOC ld
		WHERE ld.buscod = @lp_buscod
		  and ld.hltlqddoccod = @lp_hltlqddoccod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='04_sp'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='04'
			BEGIN TRAN
		
		DELETE FROM HLT_LQD_DOC
		WHERE buscod = @lp_buscod
		  and hltlqddoccod = @lp_hltlqddoccod
		SET @lp_errcod=@@ERROR
		
		IF @lp_errcod=0 and @lp_sysoperation='04'
			BEGIN
				UPDATE HLT_LQD
				SET hltlqdtot = isnull( (select sum(isnull(d.hltlqddoctot,0)) 
												FROM HLT_LQD_DOC d 
												where d.buscod=@lp_buscod 
												  and d.hltlqdcod=@lp_hltlqdcod
												) , 0 )
				WHERE buscod=@lp_buscod 
				  and hltlqdcod=@lp_hltlqdcod
				SET @lp_errcod = @@ERROR
			END

		if @lp_sysoperation='04'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_hltlqddoccod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- HLT_LQD_doc_def '08','temasis','temasis_hlt' 

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(nvarchar, l.hltlqddte, 103) as hltlqddtecnv, convert(nvarchar, ld.hltlqddocdte, 103) as hltlqddocdtecnv '
			+ ' FROM HLT_LQD_DOC ld '
			+ ' inner join HLT_LQD l on l.buscod=ld.buscod and l.hltlqdcod=ld.hltlqdcod '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   1 8    -    L I S T A R  C O N   D A T O S  E X T R A			 		
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

			--HLT_LQD_DOC_DEF '18','FDINARDO','TEMASIS_HLT','','','','','','','','00000000000000','','','','','','','<VIEW><VEWFLT><\/VEWFLT><VEWGRP><\/VEWGRP><VEWGRPCAL><\/VEWGRPCAL><VEWGRPCALFLT><\/VEWGRPCALFLT><VEWORD><\/VEWORD><VEWMAX><\/VEWMAX><\/VIEW>'
			DECLARE @lv_sel as nvarchar(max)
			set @lv_sel = ' SELECT  '
					+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
						+ ' p.patcod, p.SpcCod, '
						+ ' a.HltDisClsCod, a.patpro, a.pattxt, a.patcodext, dz.adrzontxt, '
						+ ' sc.custxt, '
						+ ' s.spcfrm, '
						+ ' prs.prstxt, prs.prscodext, '

						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then cpd.plnid else epd.plnid end) as plnid, '
						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then cpd.plndteid else epd.plndteid end) as plndteid, '
						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then cpd.plndte else epd.plndte end) as plndte, '

						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then ce.evlcod else e.evlcod end) as evlcod, '
						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then ce.evlcmt else e.evlcmt end) as evlcmt, '
						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then ce.evlnum else e.evlnum end) as evlnum, '
						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then ce.evldte else e.evldte end) as evldte, '

						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then ce.evldte else e.evldte end) as evldte, '
						+ '(case when h.refobjtyp='+QUOTENAME('HLT_PCR','''')+' then ce.evldte else e.evldte end) as evldte, '

						+ ' c.hltplnctrcod, c.hltplnctrdte, c.hltplnctrdtecod, c.hltplnctrcmt, '
						+ ' dc.hltdisclstxt, '
						+ ' aa.adrzoncod, aa.adrzon, aa.adrcty, '
						+ ' gp.HhrMedCovTxt, '
						+ ' lr.lndregtxt, '
						+ ' h.HltLqdCod, h.HltLqdDocCod, h.HltLqdDocPrc, h.HltLqdDocQty '
					
			DECLARE @lv_frm as nvarchar(max)
			set @lv_frm = ' FROM HLT_LQD_DOC h  '
					+ ' left join HLT_PLN_CTR_DTE c on c.buscod=h.buscod and c.hltplnctrcod=h.refobjcod001 and c.HltPlnCtrDteCod=h.RefObjCod002 and h.refobjtyp='+QUOTENAME('HLT_PCR','''')
					+ ' left join HLT_PLN_DTE cpd on cpd.BusCod=c.BusCod and cpd.plnid=c.PlnId and cpd.plndteid=c.plndteid '
					+ ' left join HLT_PAT_EVL ce on ce.buscod=cpd.buscod and ce.plnid=cpd.plnid and ce.plndteid=cpd.plndteid and ce.docsts='+QUOTENAME('A','''')

					+ ' left join HLT_PAT_EVL e on e.buscod=h.buscod and e.evlcod=h.refobjcod001 and e.evlnum=h.RefObjCod002 and h.refobjtyp='+QUOTENAME('HLT_EVL','''')
					+ ' left join HLT_PLN_DTE epd on epd.BusCod=e.BusCod and epd.plnid=e.Plnid and epd.plndteid=e.plndteid '

					+ ' left join HLT_PLN p on p.BusCod=h.BusCod and (p.plnid=epd.plnid or p.plnid=cpd.plnid) '
					+ ' left join HLT_PAT a on a.BusCod=p.BusCod and a.PatCod=p.PatCod '
					+ ' left join SLS_CUS sc on sc.buscod=a.buscod and sc.cuscod=a.cuscod '
					+ ' left join HLT_DIS_CLS dc on dc.BusCod=a.BusCod and dc.HltDisClsCod=a.HltDisClsCod '
					+ ' left join GRL_DAT_ADR aa on aa.BusCod=a.BusCod and aa.AdrSrcTyp='+QUOTENAME('HLT_PAT','''')+' and aa.AdrSrcCod=a.PatCod '
					+ ' left join GRL_DAT_ZON dz on dz.buscod=aa.BusCod and dz.adrzoncod=aa.adrzoncod '
					+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=aa.lndcod and lr.lndregcod = aa.lndregcod ' 
					+ ' left join GRL_DAT_PER gp on gp.BusCod=aa.BusCod and gp.PerSrcTyp='+QUOTENAME('HLT_PAT','''')+' and gp.PerSrcCod=a.PatCod '
					+ ' left join hlt_prs prs on prs.buscod=gp.buscod and prs.prscod=p.prscod '
					+ ' left join hlt_spc s on s.buscod=p.buscod and s.spccod=p.spccod '
					+ ' WHERE h.BusCod='+QUOTENAME(@lp_buscod,'''')
					+ ' and h.RefObjTyp IN ( '+QUOTENAME('HLT_PCR','''')+', '+QUOTENAME('HLT_EVL','''')+')'
					+ ' and cpd.DelDte is null '
					+ ' and epd.DelDte is null '
					+ ' and c.DelDte is null '

			declare @lv_grpcal as nvarchar(max) = dbo.GetVewTag( '', dbo.GetTagValue('vewgrpcal',@lp_vewcfg) )
			declare @lv_flt as nvarchar(max) = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			declare @lv_grp as nvarchar(max) = dbo.GetVewTag( '', dbo.GetTagValue('vewgrp',@lp_vewcfg) )
			declare @lv_grpcalflt as nvarchar(max) = dbo.GetVewTag( '', (case when dbo.GetTagValue('vewgrpcalflt',@lp_vewcfg)='' then '' else ' HAVING '+dbo.GetTagValue('vewgrpcalflt',@lp_vewcfg) end) )
			declare @lv_ord as nvarchar(max) = dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then '' else dbo.GetTagValue('veword',@lp_vewcfg) end) )

			set @lv_sql = (case when @lv_grp+@lv_grpcal='' then @lv_sel else ' SELECT ' + @lv_grp+(case when not @lv_grp='' and not @lv_grpcal='' then ', ' else '' end)+@lv_grpcal end) 
					+ @lv_frm 
					+ @lv_flt 
					+ (case when @lv_grp='' then '' else ' GROUP BY ' + @lv_grp end) 
					+ @lv_grpcalflt
					+ @lv_ord

		execute( @lv_sql )
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
