USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_RSN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SYS_DOC_RSN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysdocrsncod	as int			= null,	/* id */
@lp_sysdocrsncodext	as nvarchar(20)	= null,	/* codigo */
@lp_sysdocrsntxt	as nvarchar(50)	= null,	/* descripcion */
@lp_objtypcod		as nvarchar(20)	= null, /* id modulo */
@lp_sysdocrsnatr	as nvarchar(4000)= null,/* actividad */
@lp_autcod			as nvarchar(20)	= null,	/* cod autoriz */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	No se puede borrar la clasificación. Materiales asociados.			*/
/* ------------------------------------------------------------------------ */


IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* valido codigo externo duplicado */
		if not isnull(@lp_sysdocrsncodext,'')=''
			begin
				IF exists(select top 1 * from SYS_DOC_RSN where buscod=@lp_buscod and not sysdocrsncod=@lp_sysdocrsncod and sysdocrsncodext=@lp_sysdocrsncodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_RSN (buscod, sysdocrsncodext, sysdocrsntxt, objtypcod, sysdocrsnatr, autcod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_sysdocrsncodext, @lp_sysdocrsntxt, @lp_objtypcod, @lp_sysdocrsnatr, @lp_autcod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_sysdocrsncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocrsncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_RSN 
		SET	sysdocrsncodext=@lp_sysdocrsncodext,
			sysdocrsntxt = @lp_sysdocrsntxt,
			sysdocrsnatr = @lp_sysdocrsnatr,
			autcod = @lp_autcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocrsncod = @lp_sysdocrsncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocrsncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_RSN dr
		WHERE dr.buscod = @lp_buscod
		  and dr.sysdocrsncod = @lp_sysdocrsncod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF exists(select top 1 * from sys_doc_cls_rsn where buscod=@lp_buscod and sysdocrsncod=@lp_sysdocrsncod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar el mensaje. Documentos asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_RSN 
		WHERE buscod=@lp_buscod
		  and sysdocrsncod = @lp_sysdocrsncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocrsncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM SYS_DOC_RSN dr '
			+ ' WHERE dr.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and ( isnull(dr.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
					+ ' or dr.autcod in (select distinct autcod from sys_sec_per_aut '
					+ ' where buscod='+QUOTENAME(@lp_buscod,'''')
					+   ' and ( (usrcod='+QUOTENAME(@lp_username,'''')+' and grpcod='+QUOTENAME('**','''')+') '
					+      ' or (usrcod='+QUOTENAME('**','''')+' and grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod='+QUOTENAME(@lp_buscod,'''')+' and usrcod='+QUOTENAME(@lp_username,'''')+') ) ) '
					+   ' and objtypcod=dr.objtypcod ) ) ' 
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END





GO
