USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_EXC_RTE_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_EXC_RTE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_excrtecod		as int			= null,				-- id 
@lp_excrteclscod	as int			= null,			-- id clase 
@lp_curcodsrc		as nvarchar(05) = null,		-- from currency 
@lp_curcoddst		as nvarchar(05)	= null,		-- to currency 
@lp_excrtedtefrm	as nvarchar(14)	= null,	-- fecha desde 
@lp_excrte			as bigint		= null,				-- tpo cambio 
@lp_excrtedstqty	as bigint		= null,			-- tpo cambio cantidad 
@lp_docsts			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)=null, 		-- vista 

@lp_excrteclscodext as nvarchar(20) = null

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_excrtedtefrm	as smalldatetime = dbo.ConvertDate( @lp_excrtedtefrm )
declare @lv_excrte as decimal(9,5) = dbo.ConvertNumber( @lp_excrte, 5 )
declare @lv_excrtedstqty as decimal(13,3) = dbo.ConvertNumber( @lp_excrtedstqty, 3 )
DECLARE @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EXR'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- valido moneda origen 
		IF not exists(select top 1 * from adm_cur where curcod=@lp_curcodsrc)
			BEGIN
				SELECT null, -1 as errcod, 'Codigo de moneda de origen inexistente.' as errtxt
				RETURN
			END

		-- valido moneda destino 
		IF not exists(select top 1 * from adm_cur where curcod=@lp_curcoddst)
			BEGIN
				SELECT null, -2 as errcod, 'Codigo de moneda de destino inexistente.' as errtxt
				RETURN
			END

		-- verifico si la combinacion del tpo cambio existe 
		if @lp_sysoperation='01'
			begin
				declare @lv_excrtecod as int
				set @lv_excrtecod = (select top 1 excrtecod from fin_exc_rte where buscod=@lp_buscod and excrteclscod=@lp_excrteclscod and curcodsrc=@lp_curcodsrc and curcoddst=@lp_curcoddst and excrtedtefrm=@lv_excrtedtefrm)
				if not isnull(@lv_excrtecod,0)=0
					begin
						set @lp_excrtecod=@lv_excrtecod
						set @lp_sysoperation='02'
					end
			end
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_EXC_RTE (buscod, excrteclscod, curcodsrc, curcoddst, excrtedtefrm, excrte, excrtedstqty, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_excrteclscod, @lp_curcodsrc, @lp_curcoddst, @lv_excrtedtefrm, @lv_excrte, @lv_excrtedstqty, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_excrtecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_excrtecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE FIN_EXC_RTE 
		SET	excrte = @lv_excrte,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod=@lp_buscod
		  and excrtecod = @lp_excrtecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_excrtecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		-- fin_exc_rte_def '03','mdominguez','temasis_log','','1','ars','eur' 

		SELECT er.*, ec.excrteclstxt, convert(varchar, er.excrtedtefrm, 103) as excrtedtefrmcnv
		FROM FIN_EXC_RTE er
		inner join FIN_EXC_RTE_CLS ec on ec.buscod=er.buscod and ec.excrteclscod=er.excrteclscod
		WHERE er.buscod=@lp_buscod
		  and er.excrteclscod = @lp_excrteclscod
		  and er.curcodsrc = @lp_curcodsrc
		  and er.curcoddst = @lp_curcoddst
		ORDER BY er.ExcRteDteFrm DESC

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		-- borro los tipos de cambio cargados para todas las clases 
		DELETE
		FROM FIN_EXC_RTE
		WHERE buscod=@lp_buscod
		  and excrtecod=@lp_excrtecod
		SET @lv_errcod=@@ERROR
							
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_excrtecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' er.*, ec.excrteclscodext, ec.excrteclstxt '
			+ ' FROM fin_exc_rte er '
			+ ' inner join fin_exc_rte_cls ec on ec.buscod=er.buscod and ec.excrteclscod=er.excrteclscod '
			+ ' WHERE ec.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   0 9    -    L I S T A R    A G R U P A D O								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1 
		
		-- fin_exc_rte_def '09','mdominguez','temasis_log' 

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' er.excrteclscod, ec.excrteclstxt, er.curcodsrc, er.curcoddst, convert(varchar, max(er.excrtedtefrm), 103) as excrtedtefrm '
			+ ' FROM fin_exc_rte er '
			+ ' inner join fin_exc_rte_cls ec on ec.buscod=er.buscod and ec.excrteclscod=er.excrteclscod '
			+ ' WHERE ec.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' GROUP BY er.excrteclscod, ec.excrteclstxt, er.curcodsrc, er.curcoddst '
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   1 9    -    O B T E N E R    C O T I Z A C I O N						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '29'
	BEGIN
		SET @lv_validop = 1

		-- fin_exc_rte_def '19','mdominguez','temasis_log',null,null,null,'usd','20180416000000',null,null,null,null,'CPA' 
				
		-- obtengo moneda de la empresa 
		if isnull(@lp_curcodsrc,'')=''
			set @lp_curcodsrc = (select top 1 curcod from adm_bus where buscod=@lp_buscod)

		if isnull(@lp_curcoddst,'')=''
			set @lp_curcoddst = (select top 1 curcod from adm_bus where buscod=@lp_buscod)
		
    if isnull(@lp_excrteclscod,0)=0
			set @lp_excrteclscod = (select top 1 excrteclscod from fin_exc_rte_cls where buscod=@lp_buscod and excrteclscodext=@lp_excrteclscodext)
		-- devuelvo cotizacion 
		select dbo.ConvertCurrency( @lp_buscod, @lv_excrtedtefrm, @lp_excrteclscod, cast(1 as decimal(13,3)), @lp_curcodsrc, @lp_curcoddst ) as finexcrte

	END
  
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion no es valido', 16, -1, @lp_sysoperation)
	END
GO
