a { color:#9C9C9C }

.tmss-a-true {
	color:#9C9C9C;
}

a:hover, a:focus {
  color:#808080;
  text-decoration:underline
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:500;line-height:1.2; color:#9C9C9C}

a:hover, a:focus {
  color:#808080;
  text-decoration:underline
}

.text-primary {
	color: #9C9C9C
}

a.text-primary:hover,
a.text-primary:focus {
	color: #808080;
}

.bg-primary {
	color: #fff;
	background-color: #9C9C9C
}

a.bg-primary:hover,
a.bg-primary:focus {
	background-color: #808080;
}

/*------------- list -------------------*/

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #9C9C9C;
  border-color: #9C9C9C
}

.btn-primary {
	color: #ffffff;
	background-color: #9C9C9C;
	border-color: #9C9C9C
}

.btn-primary:focus,
.btn-primary.focus {
	color: #ffffff;
	background-color: #808080;
	border-color: #808080;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #808080;
	border-color: #808080;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #808080;
	border-color: #808080;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
	color: #ffffff;
	background-color: #9C9C9C;
	border-color: #9C9C9C;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
	background-color: #9C9C9C;
	border-color: #9C9C9C
}

.btn-primary .badge {
	color: #9C9C9C;
	background-color: #ffffff
}

.btn-link {
	color: #9C9C9C;
	font-weight: normal;
	border-radius: 0
}

.btn-link:hover,
.btn-link:focus {
	color: #808080;
	text-decoration: underline;
	background-color: transparent
}

/* ----- DROPDOWN ------ */

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
  text-decoration:none;
  color:#ffffff;
  background-color:#9C9C9C;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #9C9C9C
}

/* ----------- Pestañas ---------------- */
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{
  color: #ffff;
  background-color:#9C9C9C;
  cursor:default;
  font-weight: normal;
}

/* -------- NAVBAR --------- */

.navbar-default .navbar-nav>li>a {
  color: #ffff;
}

.navbar-default {
  background-color:#9C9C9C; 
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
  background-color: #808080;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #9C9C9C;
}

.navbar-default .navbar-toggle {
  border-color: #9C9C9C;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9C9C9C;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9C9C9C;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #808080;
  color: #ffffff
}

.navbar-default .badge {
  background-color: #fff;
  color: #9C9C9C;
}

.btn-primary {
  border-bottom: 1px solid #9C9C9C;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9C9C9C;
}

/* --------------------- NAV ---------------------- */

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background-color: #9C9C9C;
	border-color: #9C9C9C;
	color: #ffff;
}

/* ----- solapas -------------- */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus { background-color:#9C9C9C; }

.nav-pills>li.active>a:hover {
	color: #fff;
  background-color: #808080;
}

/* ----------------------------------- */

.pagination>li>a,
.pagination>li>span {
	position: relative;
	float: left;
	padding: 8px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #9C9C9C;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin-left: -1px
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
	z-index: 2;
	color: #808080;
	background-color: #eeeeee;
	border-color: #dddddd
}

.label-primary {
	background-color: #9C9C9C
}

.label-primary[href]:hover,
.label-primary[href]:focus {
	background-color: #808080
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	background-color: #9C9C9C;
	border-radius: 10px
}

.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
	color: #9C9C9C;
	background-color: #ffffff
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color: #9C9C9C
}

.progress-bar {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #9C9C9C;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	z-index: 2;
	color: #ffffff;
	background-color: #9C9C9C;
	border-color: #9C9C9C
}

.panel-primary>.panel-heading {
	color: #ffffff;
	background-color: #9C9C9C;
	border-color: #dddddd
}

.panel-primary>.panel-heading .badge {
	color: #9C9C9C;
	background-color: #ffffff
}