USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[StringSplit]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[StringSplit] (
	@lp_string as nvarchar(max),
	@lp_delimiter as nvarchar(1)
)
RETURNS  @rtnTable TABLE (
    id nvarchar(400)
)
AS
BEGIN
	declare @lv_strpos as int
	declare @lv_endpos as int
	set @lv_strpos = 1
	set @lv_endpos = CHARINDEX( @lp_delimiter, @lp_string )
	while @lv_endpos<>0
		begin
			insert into @rtnTable select SUBSTRING( @lp_string, @lv_strpos, @lv_endpos-@lv_strpos )
			set @lv_strpos = @lv_endpos+1
			set @lv_endpos = CHARINDEX( @lp_delimiter, @lp_string, @lv_strpos+1 )
		end
	if @lv_endpos<len(@lp_string)
		insert into @rtnTable select SUBSTRING( @lp_string, @lv_strpos, LEN(@lp_string)-@lv_endpos )
	RETURN
END
GO
