USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[getParameter]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[getParameter] (
    @lp_buscod as nvarchar(20),
	@lp_mdlcod as nvarchar(5),
	@lp_prmnme nvarchar(50)
)
RETURNS @lo_ret TABLE ( prmval nvarchar(max) NULL )
AS
BEGIN
	declare @lv_i as int=0

	-- obtengo parámetros del módulo
	declare @lv_prmtxt as nvarchar(max)
	set @lv_prmtxt = (select top 1 MdlAtrVal001 from SYS_APP_MDL_PRM where BusCod=@lp_buscod and MdlCod=@lp_mdlcod and DocSts='A')

	-- normalizo parámetros
	while not rtrim(ltrim(dbo.GetTagValue(@lp_prmnme, @lv_prmtxt)))='' and @lv_i<100 --doble control para evitar bucles
		begin
			insert into @lo_ret (prmval) values ( rtrim(ltrim(dbo.GetTagValue(@lp_prmnme, @lv_prmtxt))) )
			set @lv_prmtxt = REPLACE(@lv_prmtxt,'<'+@lp_prmnme+'>'+dbo.GetTagValue(@lp_prmnme, @lv_prmtxt)+'</'+@lp_prmnme+'>','')

			set @lv_i = @lv_i + 1
		end

	RETURN
END
GO
