USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[GetErrorDescription]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Dominguez, Ignacio
-- Create date: 05.10.2010
-- Description:	Obtener descripción desde un código de error
-- =============================================
CREATE FUNCTION [dbo].[GetErrorDescription] 
( @lp_errnumber as int
)
RETURNS nvarchar(400)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @lv_errtxt as nvarchar(400)

	-- Add the T-SQL statements to compute the return value here
	set @lv_errtxt = (SELECT TOP 1 description FROM master.dbo.sysmessages WHERE error=@lp_errnumber)

	-- Return the result of the function
	RETURN @lv_errtxt

END

GO
