USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(
    @String NVARCHAR(MAX),
    @Delimiter NVARCHAR(100)
)
RETURNS TABLE
AS
RETURN (
    WITH SplitItems AS (
        SELECT 
            CAST('<' + REPLACE(@String, @Delimiter, '</><') + '</>' AS XML) AS Items
    )
    SELECT 
        x.value('.', 'NVARCHAR(MAX)') AS Item
    FROM SplitItems
    CROSS APPLY Items.nodes('/text()') AS T(x)
    WHERE x.value('.', 'NVARCHAR(MAX)') != ''
);

GO
