USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertMaterialUnit]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Dominguez, Martin
-- Create date: 30.10.2017
-- Description:	Convierte una cantidad desde una unidad de medida a otra para un material
-- =============================================
CREATE FUNCTION [dbo].[ConvertMaterialUnit] ( 
	@lp_buscod as nvarchar(20),
	@lp_matcod as int,
	@lp_matqty decimal(13,3),
	@lp_matuntcodsrc as nvarchar(5),
	@lp_matuntcodtgt as nvarchar(5)
)
RETURNS decimal(13,3)
AS
BEGIN
	declare @lv_matuntcod as nvarchar(5)
	declare @lv_matqtybse as decimal(13,3)
	declare @lv_matqty as decimal(13,3)

	/* si no hay que hacer conversiones devuelvo la cantidad */
	IF @lp_matuntcodsrc=@lp_matuntcodtgt
		RETURN @lp_matqty

	/* obtengo la unidad de medida base del material */
	set @lv_matuntcod = (select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)
	
	/* si la unidad de medida de origen no es la base */
	/* llevo la cantidad de origen a la base */
	if not @lp_matuntcodsrc=@lv_matuntcod
		set @lv_matqtybse = (select top 1 @lp_matqty*mi.matbseqty/mi.matidtqty
			from stk_mat_idt mi
			where mi.buscod=@lp_buscod 
				and mi.matcod=@lp_matcod 
				and not mi.matidtqty=0
				and mi.matidtuntcod=@lp_matuntcodsrc)
	else
		set @lv_matqtybse = @lp_matqty

	/* devuelvo NULL si no se pudo convertir */
	IF @lv_matqtybse is null
		RETURN NULL

	/* si la unidad de medida de destino no es la base */
	/* llevo la cantidad base a la de destino */
	if not @lp_matuntcodtgt=@lv_matuntcod
		set @lv_matqty = (select top 1 @lv_matqtybse*mi.matidtqty/mi.matbseqty
			from stk_mat_idt mi
			where mi.buscod=@lp_buscod 
			  and mi.matcod=@lp_matcod 
			  and not mi.matbseqty=0
			  and mi.matidtuntcod=@lp_matuntcodtgt)
	else
		set @lv_matqty = @lv_matqtybse

	RETURN @lv_matqty

END



GO
