USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[getBuscod_from_SysAppMdlPrm]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getBuscod_from_SysAppMdlPrm] (
    @lv_prmnme nvarchar(50),
	@lv_prmval nvarchar(50)
)
RETURNS TABLE
AS
RETURN
	SELECT DISTINCT buscod 
	FROM SYS_APP_MDL_PRM
    WHERE dbo.getTagValue(@lv_prmnme, MdlAtrVal001) = @lv_prmval;
GO
