USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertCurrency]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		Dominguez, Martin
-- Create date: 14.04.2018
-- Description:	Convierte un importe de una moneda a otra
-- =============================================
CREATE FUNCTION [dbo].[ConvertCurrency] ( 
	@lp_buscod as nvarchar(20),
	@lp_docdte as smalldatetime,
	@lp_excrteclscodext as nvarchar(20),
	@lp_doctot decimal(18,5),
	@lp_curcodsrc as nvarchar(5),
	@lp_curcoddst as nvarchar(5)
)
RETURNS decimal(18,5)
AS
BEGIN
	if @lp_curcodsrc=@lp_curcoddst
		RETURN @lp_doctot

	-- obtengo clase de cotizacion
	declare @lv_excrteclscod as int
	set @lv_excrteclscod = (select top 1 excrteclscod from fin_exc_rte_cls where buscod=@lp_buscod and excrteclscodext=@lp_excrteclscodext)

	-- obtengo cotización
	declare @lv_excrte as decimal(9,5)
	declare @lv_excrtedstqty as decimal(13,3)
	select top 1 @lv_excrte=excrte, @lv_excrtedstqty=excrtedstqty 
	from fin_exc_rte 
	where buscod=@lp_buscod 
	  and excrteclscod=@lv_excrteclscod 
	  and curcodsrc=@lp_curcodsrc 
	  and curcoddst=@lp_curcoddst
	  and excrtedtefrm<=@lp_docdte
	order by excrtedtefrm DESC
	
	-- realizo conversión
	declare @lv_tot as decimal(18,5)
	set @lv_tot = null
	
	-- si no se encontró conversión directa, intento con la inversa con la misma clase de cotización
	-- por ejemplo: si no existe USD(1)->ARS(25,10), entonces busco ARS(25,10)->USD(1)
	if isnull(@lv_excrte,0)=0
		begin
			select top 1 @lv_excrte=excrte, @lv_excrtedstqty=excrtedstqty 
			from fin_exc_rte 
			where buscod=@lp_buscod 
			  and excrteclscod=@lv_excrteclscod 
			  and curcodsrc=@lp_curcoddst 
			  and curcoddst=@lp_curcodsrc
			  and excrtedtefrm<=@lp_docdte
			order by excrtedtefrm DESC

			if not isnull(@lv_excrte,0)=0
				set @lv_tot = (@lp_doctot / @lv_excrtedstqty * @lv_excrte)

		end
	else
		set @lv_tot = (@lp_doctot / @lv_excrte * @lv_excrtedstqty )
			
	-- Return the result of the function
	RETURN @lv_tot

END
GO
