USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertDate]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dominguez, Martin
-- Create date: 09.12.2010
-- Description:	Convierte un valor string 'yyyymmddHHnnss' a una fecha datetime.
-- =============================================
CREATE FUNCTION [dbo].[ConvertDate] ( 
	@lp_dte as nvarchar(14)
)
RETURNS datetime
AS
BEGIN
	declare @lv_dte as datetime

	/* FALTA: verificar que todos los caracteres sean números */

	/* verifico que exista un valor a convertir */	
	IF not @lp_dte is null
		
		/* verifico si la fecha corresponde al calendario gregoriano (a partir del 01-01-1753) */
		IF cast( left(@lp_dte,4) as int ) >= 1753
		
			/* realizo la conversión de fecha */
			SET @lv_dte = CONVERT(datetime, left(@lp_dte,4) + '-' + right(left(@lp_dte,6),2) + '-' + right(left(@lp_dte,8),2)+ ' ' + right(left(@lp_dte,10),2) + ':' + right(left(@lp_dte,12),2) + ':' + right(left(@lp_dte,14),2), 120)
		
	-- Return the result of the function
	RETURN @lv_dte

END


GO
