USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckAuthorization]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[CheckAuthorization] (
	@lp_usrcod as nvarchar(20),
	@lp_buscod as nvarchar(20),
	@lp_mdlcod as nvarchar(20),
	@lp_prgcod as nvarchar(20),
	@lp_oprcod as nvarchar(20) = '**'
)
RETURNS int
AS
BEGIN
	declare @lv_ret as int

	if exists(select top 1 * 
				from sys_sec_per 
				where buscod=@lp_buscod 
				  and	(
						usrcod=@lp_usrcod
						or
						grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod=@lp_buscod and usrcod=@lp_usrcod)
						)
				 and mdlcod=@lp_mdlcod
				 and prgcod=@lp_prgcod
				 and oprcod=@lp_oprcod
			)
		set @lv_ret = 1
	else
		set @lv_ret = 0

	RETURN @lv_ret

END
GO
