USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[getObjectData]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Martin Dominguez
-- Create date: 2024-07-19
-- Description:	A partir de un codigo de objeto objtiene su definicion de la base de datos central
-- =============================================
CREATE FUNCTION [dbo].[getObjectData] (
	@lp_objtypcod as nvarchar(20)
)
RETURNS @rtnTable TABLE (
	objtypcod nvarchar(20),
	objtyptxt nvarchar(50),
	objtyptbl nvarchar(20),
	objtypkey nvarchar(20),
	objtypkeytxt nvarchar(20),
	objtypatr nvarchar(4000),
	objtypctr nvarchar(20)
)
AS
BEGIN

	if lower( DB_NAME() ) ='tmsstemasisdev'
		insert into @rtnTable ( objtypcod,objtyptxt,objtyptbl,objtypkey,objtypkeytxt,objtypatr,objtypctr )
		select objtypcod,objtyptxt,objtyptbl,objtypkey,objtypkeytxt,objtypatr,objtypctr 
		from tmssSysDev.dbo.sys_obj_typ
		where objtypcod=@lp_objtypcod
	else
		insert into @rtnTable ( objtypcod,objtyptxt,objtyptbl,objtypkey,objtypkeytxt,objtypatr,objtypctr )
		select objtypcod,objtyptxt,objtyptbl,objtypkey,objtypkeytxt,objtypatr,objtypctr 
		from tmssSysPrd.dbo.sys_obj_typ
		where objtypcod=@lp_objtypcod

	RETURN

END
GO
