USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[GetTagValue]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Dominguez, Ignacio
-- Create date: 31.03.2011
-- Description:	Obtener el valor de un tag contenido en una cadena de texto
-- =============================================
CREATE FUNCTION [dbo].[GetTagValue] 
( @lp_tagnme as nvarchar(50),
  @lp_fndstr as nvarchar(max)
)
RETURNS nvarchar(max)
AS
BEGIN
	declare @lv_ret as nvarchar(max)
	set @lv_ret = ''
		
	set @lp_fndstr = replace(@lp_fndstr,'&LT;','<')
	set @lp_fndstr = replace(@lp_fndstr,'&GT;','>')
	set @lp_fndstr = replace(@lp_fndstr,'^'   , '''' )

	/* armo los tags de inicio y fin */
	declare @lv_strtagnme as nvarchar(400)
	set @lv_strtagnme = '<'+@lp_tagnme+'>'

	declare @lv_endtagnme as nvarchar(400)
	set @lv_endtagnme = '</'+@lp_tagnme+'>'

	declare @lv_strinx as int
	set @lv_strinx = patindex('%'+@lv_strtagnme+'%',@lp_fndstr)

	declare @lv_endinx as int
	set @lv_endinx = patindex('%'+@lv_endtagnme+'%',@lp_fndstr)

	/* si alguno de los dos tags no existe, devuelvo nada */
	if not @lv_strinx=0 and not @lv_endinx=0
		begin
			set @lv_ret = rtrim(ltrim( substring( @lp_fndstr , @lv_strinx+len(@lv_strtagnme), @lv_endinx-@lv_strinx-len(@lv_strtagnme) ) ))
			/*set @lv_ret = replace( @lv_ret , '^', '''' )*/
		end

	return @lv_ret
	
END


GO
