USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[CheckUserRole]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[CheckUserRole] (
	@lp_buscod as nvarchar(20),
	@lp_usrcod as nvarchar(20),
	@lp_usrgrpcod as nvarchar(20)
)
RETURNS int
AS
BEGIN
	declare @lv_ret as int

	if exists(select top 1 * 
				from sys_sec_usr_grp 
				where buscod=@lp_buscod 
				  and usrcod=@lp_usrcod
				  and usrgrpcod=@lp_usrgrpcod
			)
		set @lv_ret = 1
	else
		set @lv_ret = 0

	RETURN @lv_ret

END
GO
