USE [tmssTeam2]
GO
/****** Object:  UserDefinedFunction [dbo].[getAuthorizationObjects]    Script Date: 24/4/2026 14:04:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getAuthorizationObjects] 
(
	@lp_usrcod as nvarchar(20),
	@lp_buscod as nvarchar(20),
	@lp_objtypcod as nvarchar(20)
)
RETURNS @rtnTable TABLE (
    autcod nvarchar(20)
)
AS
BEGIN

	insert into @rtnTable ( autcod )
	select autcod
	from sys_sec_per_aut
	where buscod=@lp_buscod 
	  and (	usrcod=@lp_usrcod
			or
			grpcod in (select distinct usrgrpcod from sys_sec_usr_grp where buscod=@lp_buscod and usrcod=@lp_usrcod)
		  )
	  and objtypcod=@lp_objtypcod

	RETURN

END
GO
