USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_NNM_GRP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_NNM_GRP](
	[BusCod] [nvarchar](20) NOT NULL,
	[NnmGrpCod] [nvarchar](5) NOT NULL,
	[NnmGrpTxt] [nvarchar](50) NOT NULL,
	[Spc001] [nvarchar](50) NULL,
	[Spc001Qty] [int] NULL,
	[Spc002] [nvarchar](50) NULL,
	[Spc002Qty] [int] NULL,
	[Spc003] [nvarchar](50) NULL,
	[Spc003Qty] [int] NULL,
	[Spc004] [nvarchar](50) NULL,
	[Spc004Qty] [int] NULL,
	[NnmGrpMaxItm] [int] NULL,
	[CrmCntTypCod] [nvarchar](20) NULL,
	[CrmCntMtvCod] [nvarchar](20) NULL,
	[CrmCntPrtCod] [nvarchar](20) NULL,
	[CrmCntStsCodNew] [nvarchar](20) NULL,
	[CrmCntStsCodApr] [nvarchar](20) NULL,
	[CrmCntStsCodRej] [nvarchar](20) NULL,
	[CrmCntStsCodObs] [nvarchar](20) NULL,
	[DocSts] [nvarchar](20) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
