USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_ARG_TRZ_AMT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_ARG_TRZ_AMT](
	[BusCod] [nvarchar](20) NOT NULL,
	[trzamtcod] [int] IDENTITY(1,1) NOT NULL,
	[TrzTypCod] [nvarchar](2) NOT NULL,
	[id_transaccion] [bigint] NOT NULL,
	[id_transaccion_global] [bigint] NULL,
	[gln_origen] [nvarchar](13) NULL,
	[gln_destino] [nvarchar](13) NULL,
	[gtin] [nvarchar](14) NULL,
	[lote] [nvarchar](20) NULL,
	[numero_serial] [nvarchar](20) NULL,
	[id_evento] [nvarchar](10) NULL,
	[n_remito] [nvarchar](20) NULL,
	[cnfdte] [smalldatetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_ARG_TRZ_AMT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[trzamtcod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
