USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_QMS_TAG]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_QMS_TAG](
	[BusCod] [nvarchar](20) NOT NULL,
	[QmsTagCod] [int] IDENTITY(1,1) NOT NULL,
	[QmsTagCodExt] [nvarchar](20) NULL,
	[QmsTagTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_STK_QMS_TAG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[QmsTagCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
