USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_MOV_DOC_ACC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_MOV_DOC_ACC](
	[BusCod] [nvarchar](20) NOT NULL,
	[FinMovDocCod] [int] NOT NULL,
	[FinMovDocAccCod] [int] IDENTITY(1,1) NOT NULL,
	[FinAccCod] [int] NOT NULL,
	[FinAccTxt] [nvarchar](50) NOT NULL,
	[FinMovDocAccTot] [decimal](13, 3) NOT NULL,
	[FinMovDocAccBlc] [nvarchar](1) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
 CONSTRAINT [PK_FIN_MOV_DOC_ACC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FinMovDocCod] ASC,
	[FinMovDocAccCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
