USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[LOG_TRA_ROU]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_TRA_ROU](
	[BusCod] [nvarchar](20) NOT NULL,
	[TraRouCod] [int] IDENTITY(1,1) NOT NULL,
	[TraRouCodExt] [nvarchar](20) NULL,
	[TraRouTxt] [nvarchar](50) NOT NULL,
	[TraRouAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOG_TRA_ROU] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TraRouCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
