USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_EMP_LQD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_EMP_LQD](
	[BusCod] [nvarchar](20) NOT NULL,
	[LqdId] [int] IDENTITY(1,1) NOT NULL,
	[EmpCod] [nvarchar](20) NOT NULL,
	[EmpTxt] [nvarchar](82) NOT NULL,
	[LqdDte] [smalldatetime] NULL,
	[LqdTxt] [nvarchar](250) NULL,
	[PayTypCod] [nvarchar](20) NULL,
	[PayTypTxt] [nvarchar](40) NULL,
	[BnkCod] [nvarchar](20) NULL,
	[BnkTxt] [nvarchar](40) NULL,
	[BnkBch] [nvarchar](20) NULL,
	[BnkAccTyp] [nvarchar](50) NULL,
	[BnkAccNum] [nvarchar](22) NULL,
	[EmpDni] [nvarchar](20) NULL,
	[EmpTaxNum] [nvarchar](20) NULL,
	[EmpCur] [nvarchar](20) NULL,
	[BnkAccCbu] [nvarchar](22) NULL,
	[LqdNwsTot] [decimal](13, 3) NULL,
	[LqdCatPts] [int] NULL,
	[LqdHrsCtd] [decimal](13, 2) NULL,
	[LqdHrsPrc] [decimal](13, 3) NULL,
	[LqdTot] [decimal](13, 3) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
