USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_DOC_RNG]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_RNG](
	[BusCod] [nvarchar](20) NOT NULL,
	[RngTypCod] [nvarchar](10) NOT NULL,
	[RngCod] [nvarchar](5) NOT NULL,
	[RngFrm] [nvarchar](10) NOT NULL,
	[RngTo] [nvarchar](10) NOT NULL,
	[RngLstNum] [nvarchar](10) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
