USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_PRC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_PRC](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsPrcLstCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsPrcLstCodExt] [nvarchar](20) NULL,
	[SlsPrcLstTxt] [nvarchar](50) NOT NULL,
	[SlsPrcUntRow] [nvarchar](5) NULL,
	[SlsPrcUntCol] [nvarchar](5) NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[SlsPrcLstAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_SLS_PRC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsPrcLstCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
