USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[BUY_ORD]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_ORD](
	[BusCod] [nvarchar](20) NOT NULL,
	[BuyOrdCod] [int] IDENTITY(1,1) NOT NULL,
	[BuyOrdCodExt] [nvarchar](20) NULL,
	[BuyOrdTxt] [nvarchar](50) NOT NULL,
	[BuyOrdDte] [datetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[BuyOrdTotAmt] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](9, 5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[BuyOrdStrDte] [smalldatetime] NULL,
	[BuyOrdEndDte] [smalldatetime] NULL,
	[buyprclstcod] [int] NULL,
	[RelDte] [smalldatetime] NULL,
	[RelSts] [nvarchar](2) NULL,
	[RelUsr] [nvarchar](20) NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
	[PayTrmCod] [int] NULL,
	[FinCecCod] [int] NULL,
 CONSTRAINT [PK_BUY_ORD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BuyOrdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
