USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAN_ORD_MAT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAN_ORD_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkManOrdMatCod] [int] IDENTITY(1,1) NOT NULL,
	[StkManOrdCod] [int] NOT NULL,
	[MatCod] [int] NULL,
	[MatTxt] [nvarchar](80) NOT NULL,
	[MatSerCod] [int] NULL,
	[MatQty] [int] NULL,
	[MatUntCod] [nvarchar](5) NULL,
	[StkManReqCod] [int] NULL,
	[StkManReqMatCod] [int] NULL,
	[StkManOrdMatAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DocRefTyp] [nvarchar](20) NULL,
	[DocRefCod] [int] NULL,
	[DocRefPosCod] [int] NULL,
	[SysDocRejCod] [int] NULL,
	[SysDocTreCod] [nvarchar](2) NULL,
 CONSTRAINT [PK_STK_MAN_ORD_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkManOrdMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
