USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_HST_PRS_LQD_CSH]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_HST_PRS_LQD_CSH](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltLqdId] [int] NOT NULL,
	[CshMovId] [int] NOT NULL,
 CONSTRAINT [PK_HLT_HST_PRS_LQD_CSH] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltLqdId] ASC,
	[CshMovId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
