USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_LND_TWN_GRP_ZNE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_LND_TWN_GRP_ZNE](
	[LndCod] [nvarchar](5) NOT NULL,
	[LndTwnGrpCod] [nvarchar](5) NOT NULL,
	[LndRegCod] [nvarchar](5) NOT NULL,
	[LndTwnCod] [int] NOT NULL,
	[LndTwnGrpTwn] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
