USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_SUM]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_SUM](
	[BusCod] [nvarchar](20) NOT NULL,
	[FinSumCod] [int] IDENTITY(1,1) NOT NULL,
	[FinSumTot] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_SUM] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FinSumCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
