USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_BNK]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_BNK](
	[BusCod] [nvarchar](20) NOT NULL,
	[BnkNum] [int] IDENTITY(1,1) NOT NULL,
	[BnkCod] [int] NULL,
	[BnkBch] [nvarchar](20) NULL,
	[BnkAccTyp] [nvarchar](20) NULL,
	[BnkAccNum] [nvarchar](20) NULL,
	[BnkAccCBU] [nvarchar](22) NULL,
	[PayMthCod] [int] NULL,
	[BnkDocTyp] [nvarchar](20) NULL,
	[BnkDocNum] [nvarchar](20) NULL,
	[BnkSrcTyp] [nvarchar](20) NOT NULL,
	[BnkSrcCod] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[BnkAccCBUAls] [nvarchar](20) NULL,
	[BnkTjtNum] [nvarchar](16) NULL,
	[BnkTjtTxt] [nvarchar](50) NULL,
	[BnkTjtEndDte] [smalldatetime] NULL,
 CONSTRAINT [PK_GRL_DAT_BNK] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BnkNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
