USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_BUD_MAT]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_BUD_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[BudMatCod] [int] IDENTITY(1,1) NOT NULL,
	[BudCod] [int] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NULL,
	[SrcObjCod001] [nvarchar](20) NULL,
	[SrcObjCodExt] [nvarchar](20) NULL,
	[SrcObjTxt] [nvarchar](50) NOT NULL,
	[MatQty] [decimal](13, 3) NULL,
	[MatUntCod] [nvarchar](5) NULL,
	[BudMatRow] [nvarchar](500) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[BudMatAtr] [nvarchar](max) NULL,
	[BudMatStsCod] [nvarchar](2) NULL,
 CONSTRAINT [PK_CNS_BUD_MAT_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BudMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
