USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_IDT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_IDT](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatIdtCod] [int] IDENTITY(1,1) NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatIdtCodExt] [nvarchar](30) NULL,
	[MatIdtQty] [decimal](18, 3) NOT NULL,
	[MatIdtUntCod] [nvarchar](5) NOT NULL,
	[MatBseQty] [decimal](18, 3) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_STK_MAT_IDT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatIdtCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
