USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_ARG_TRZ_AGT_ASG]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_ARG_TRZ_AGT_ASG](
	[BusCod] [nvarchar](20) NOT NULL,
	[AgtAsgCod] [int] IDENTITY(1,1) NOT NULL,
	[SrcTyp] [nvarchar](20) NOT NULL,
	[SrcCod] [int] NOT NULL,
	[AgtTypCod] [int] NOT NULL,
	[AgtGlnCod] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_ARG_TRZ_ASG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[AgtAsgCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
