USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DMS_DOC_VER]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DMS_DOC_VER](
	[BusCod] [nvarchar](20) NOT NULL,
	[GrlDmsDocVerCod] [int] IDENTITY(1,1) NOT NULL,
	[GrlDmsDocVerCodExt] [nvarchar](20) NULL,
	[GrlDmsDocCod] [int] NOT NULL,
	[FleNme] [nvarchar](250) NULL,
	[FleSze] [bigint] NULL,
	[FleExt] [nvarchar](50) NULL,
	[FleTyp] [nvarchar](250) NULL,
	[FleDsp] [nvarchar](250) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[RelDte] [smalldatetime] NULL,
	[RelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DMS_DOC_VER] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[GrlDmsDocVerCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
