USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[LOG_DRV]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_DRV](
	[BusCod] [nvarchar](20) NOT NULL,
	[DrvCod] [int] IDENTITY(1,1) NOT NULL,
	[DrvCodExt] [nvarchar](20) NULL,
	[DrvTxt] [nvarchar](82) NOT NULL,
	[DrvCmt] [text] NULL,
	[DrvNikNme] [nvarchar](40) NULL,
	[DrvNat] [nvarchar](20) NULL,
	[DrvBrnDte] [datetime] NULL,
	[DrvInbDte] [datetime] NULL,
	[DrvOutDte] [datetime] NULL,
	[DrvOutCmt] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_LOG_DRV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[DrvCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
