USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_STD_LOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_STD_LOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[StdLocCod] [int] IDENTITY(1,1) NOT NULL,
	[stdloccodext] [nvarchar](20) NULL,
	[StdLocTxt] [nvarchar](50) NOT NULL,
	[StdLocCmt] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_EDU_STD_LOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StdLocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
