USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_INV_FCE]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_INV_FCE](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsInvCod] [int] NOT NULL,
	[SlsPosCod] [int] NULL,
	[SlsInvFceCodExt] [nvarchar](20) NULL,
	[SlsInvFceAutCodExt] [nvarchar](20) NULL,
	[SlsInvFceAutDueDte] [smalldatetime] NULL,
	[SlsInvFceAutNum] [nvarchar](10) NULL,
	[SlsInvFceAtr] [nvarchar](4000) NULL,
	[SlsInvFceLog] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SLS_INV_FCE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsInvCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
