USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_PRC_CND_FOR]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_PRC_CND_FOR](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcCndForCod] [int] IDENTITY(1,1) NOT NULL,
	[PrcCndForCodExt] [nvarchar](20) NULL,
	[PrcCndForTxt] [nvarchar](50) NOT NULL,
	[PrcCndForSrc] [nvarchar](max) NOT NULL,
	[PrcCndForSrcTyp] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcCndForSrcZcu] [nvarchar](max) NULL,
	[PrcCndForCmt] [nvarchar](max) NULL,
	[PrcCndForSynCod] [int] NULL,
 CONSTRAINT [PK_GRL_PRC_CND_FOR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcCndForCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
