USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_PAY_TRM_DUE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_PAY_TRM_DUE](
	[BusCod] [nvarchar](20) NOT NULL,
	[PayTrmDueCod] [int] IDENTITY(1,1) NOT NULL,
	[PayTrmCod] [int] NOT NULL,
	[PayTrmDueAmt] [decimal](6, 3) NOT NULL,
	[PayTrmDueTyp] [nvarchar](5) NOT NULL,
	[PayTrmDueQty] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_PAY_TRM_DUE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PayTrmDueCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
