USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_EXC_RTE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_EXC_RTE](
	[BusCod] [nvarchar](20) NOT NULL,
	[ExcRteCod] [int] IDENTITY(1,1) NOT NULL,
	[ExcRteClsCod] [int] NOT NULL,
	[CurCodSrc] [nvarchar](5) NOT NULL,
	[CurCodDst] [nvarchar](5) NOT NULL,
	[ExcRteDteFrm] [datetime] NOT NULL,
	[ExcRte] [decimal](9, 5) NOT NULL,
	[ExcRteDstQty] [decimal](13, 3) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_EXC_RTE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[ExcRteCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
