USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_PRC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_PRC](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcCndRowCod] [int] IDENTITY(1,1) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod001] [nvarchar](200) NOT NULL,
	[SrcObjCod002] [nvarchar](200) NOT NULL,
	[PrcSchCndRow] [int] NOT NULL,
	[PrcSchCod] [int] NOT NULL,
	[PrcCndCod] [int] NOT NULL,
	[PrcCndVal] [decimal](13, 3) NULL,
	[PrcCndCurCod] [nvarchar](5) NULL,
	[PrcCndQty] [decimal](13, 3) NULL,
	[PrcCndUntCod] [nvarchar](5) NULL,
	[PrcCndTot] [decimal](18, 3) NULL,
	[CurCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcChgMan] [nvarchar](1) NULL,
	[PrcCndAccCod] [int] NULL,
	[PrcCndStrDte] [datetime] NULL,
	[PrcCndEndDte] [datetime] NULL,
	[PrcCndTxt] [nvarchar](50) NULL,
	[PrcCndStd] [nvarchar](2) NULL,
	[PrcCndRowSynCod] [int] NULL,
 CONSTRAINT [PK_GRL_DAT_PRC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcCndRowCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
