USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_SVC_LQD_DOC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_SVC_LQD_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsSvcLqdDocCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsSvcLqdCod] [int] NOT NULL,
	[RefObjTyp] [nvarchar](20) NOT NULL,
	[RefObjCod001] [nvarchar](20) NOT NULL,
	[RefObjCod002] [nvarchar](20) NULL,
	[SlsSvcLqdDocCodExt] [nvarchar](20) NULL,
	[SlsSvcLqdDocTxt] [nvarchar](50) NULL,
	[SlsSvcLqdDocTot] [decimal](13, 3) NULL,
	[CurCod] [nvarchar](5) NULL,
	[SlsSvcLqdDocAtr001] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SlsSvcLqdDocDte] [datetime] NULL,
	[SlsSvcLqdDocPrc] [decimal](18, 3) NULL,
	[SlsSvcLqdDocQty] [decimal](13, 3) NULL,
	[SlsSvcLqdDocDay] [int] NULL,
 CONSTRAINT [PK_SLS_SVC_LQD_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsSvcLqdDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
