USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_CAT_VAL]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_CAT_VAL](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltCatValCod] [int] IDENTITY(1,1) NOT NULL,
	[HltCatCod] [int] NOT NULL,
	[HltCatVal] [nvarchar](50) NULL,
	[HltCatFrm] [int] NULL,
	[HltCatTo] [int] NULL,
	[HltCatPts] [int] NOT NULL,
	[HltCatPtr] [nvarchar](20) NULL,
	[docsts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_CAT_VAL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltCatValCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
