USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_MOD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_MOD](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltModCod] [int] IDENTITY(1,1) NOT NULL,
	[HltModCodExt] [nvarchar](20) NULL,
	[HltModTxt] [nvarchar](50) NOT NULL,
	[CusCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[sysdocclscod] [int] NOT NULL,
	[HltModAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_HLT_MOD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltModCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
