USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_CNT_TYP]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_CNT_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[CntTypCod] [int] IDENTITY(1,1) NOT NULL,
	[CntTypCodExt] [nvarchar](20) NULL,
	[CntTypTxt] [nvarchar](40) NOT NULL,
	[CntTypSrcTyp] [nvarchar](20) NULL,
	[CntTypAtr] [nvarchar](4000) NULL,
	[ObjTyp] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](50) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SrcObjTyp] [nvarchar](20) NULL,
	[SrcObjDocClsCod] [nvarchar](50) NULL,
 CONSTRAINT [PK_GRL_DAT_CNT_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CntTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
