USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_MOV_DOC_VAL]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_MOV_DOC_VAL](
	[BusCod] [nvarchar](20) NOT NULL,
	[TsrMovDocValCod] [int] IDENTITY(1,1) NOT NULL,
	[TsrMovDocValCodExt] [nvarchar](20) NULL,
	[TsrMovDocValTxt] [nvarchar](50) NULL,
	[TsrMovDocCod] [int] NOT NULL,
	[PayMthCod] [int] NOT NULL,
	[TsrMovDocValDte] [datetime] NULL,
	[BnkCod] [int] NULL,
	[BnkAccCod] [int] NULL,
	[BnkTjtCod] [nvarchar](20) NULL,
	[RefObjTyp] [nvarchar](20) NULL,
	[RefObjCod001] [int] NULL,
	[RefObjCod002] [int] NULL,
	[TsrMovDocValAmt] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[ExcRte] [decimal](13, 5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CshValCod] [int] NULL,
	[BnkChkCod] [int] NULL,
 CONSTRAINT [PK_TSR_MOV_DOC_VAL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TsrMovDocValCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
