USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_POS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_POS](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsPosCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsPosCodExt] [nvarchar](20) NOT NULL,
	[SlsPosTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SlsPosAtr] [nvarchar](4000) NULL,
 CONSTRAINT [PK_SLS_POS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsPosCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
