USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_WMS_TYP]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_WMS_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[WmsTypCod] [int] IDENTITY(1,1) NOT NULL,
	[WmsTypCodExt] [nvarchar](20) NULL,
	[WmsTypTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[StrLocCod] [int] NULL,
 CONSTRAINT [PK_STK_WMS_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[WmsTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
