USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_LOC_ARG_POS]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_LOC_ARG_POS](
	[BusCod] [nvarchar](20) NOT NULL,
	[ArgPosCod] [int] IDENTITY(1,1) NOT NULL,
	[ArgPosCodExt] [nvarchar](20) NULL,
	[SlsPosCod] [int] NOT NULL,
	[ArgPosTyp] [nvarchar](2) NOT NULL,
	[SysDocClsCod] [int] NOT NULL,
	[ArgLtrCodExt] [nvarchar](2) NOT NULL,
	[DocRngCod] [int] NOT NULL,
	[ArgPosAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[ArgPosRegCod] [nvarchar](20) NULL,
	[ArgPosTxt] [nvarchar](50) NULL,
 CONSTRAINT [PK_FIN_LOC_ARG_POS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[ArgPosCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
