USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_MOD]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_MOD](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduModCod] [int] IDENTITY(1,1) NOT NULL,
	[EduModCodExt] [nvarchar](20) NULL,
	[EduModTxt] [nvarchar](50) NOT NULL,
	[CusCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[EduModAtr] [nvarchar](4000) NULL,
 CONSTRAINT [PK_EDU_MOD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduModCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
