USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_CHR_ASG]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_CHR_ASG](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrChrAsgCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrChrAsgCodExt] [nvarchar](20) NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[HhrChrTypCod] [int] NOT NULL,
	[HhrChrAsgDteStr] [datetime] NOT NULL,
	[HhrChrAsgDteEnd] [datetime] NULL,
	[HhrChrAsgAtr] [nvarchar](4000) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[HhrAgrCod] [int] NULL,
	[HhrChrAsgSlr] [decimal](13, 3) NULL,
	[CurCod] [nvarchar](5) NULL,
	[HhrLabUniCod] [int] NULL,
	[HhrOutRsnCod] [int] NULL,
 CONSTRAINT [PK_HHR_CHR_ASG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrChrAsgCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
