USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_NWS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_NWS](
	[BusCod] [nvarchar](20) NOT NULL,
	[NwsCod] [int] IDENTITY(1,1) NOT NULL,
	[NwsTxt] [nvarchar](250) NOT NULL,
	[NwsDte] [smalldatetime] NOT NULL,
	[LngCod] [nvarchar](2) NULL,
	[TxtCod] [int] NULL,
	[NwsMsg] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NULL,
 CONSTRAINT [PK_GRL_NWS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[NwsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
