USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_AGR]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_AGR](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltAgrCod] [int] IDENTITY(1,1) NOT NULL,
	[HltAgrCodExt] [nvarchar](20) NULL,
	[HltAgrTxt] [nvarchar](50) NOT NULL,
	[HltAgrStrDte] [datetime] NOT NULL,
	[HltAgrEndDte] [datetime] NOT NULL,
	[HltAgrAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HLT_AGR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltAgrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
