USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_BCH]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_BCH](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatBchCod] [int] IDENTITY(1,1) NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatBchCodExt] [nvarchar](20) NOT NULL,
	[MatBchDueDte] [datetime] NULL,
	[MatBchPrdDte] [datetime] NULL,
	[SupCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[MatBchAtr] [nvarchar](max) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_STK_MAT_BCH] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatBchCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
