USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PRS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PRS](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrsCod] [int] IDENTITY(1,1) NOT NULL,
	[PrsCodExt] [nvarchar](20) NULL,
	[PrsTxt] [nvarchar](82) NOT NULL,
	[PrsCntHrs] [nvarchar](50) NULL,
	[PrsCmt] [text] NULL,
	[PrsPrn] [int] NULL,
	[PrsNikNme] [nvarchar](40) NULL,
	[PrsNat] [nvarchar](20) NULL,
	[PrsBrnDte] [datetime] NULL,
	[PrsInbDte] [datetime] NULL,
	[PrsOutDte] [datetime] NULL,
	[PrsDocTyp] [nvarchar](20) NULL,
	[PrsDocNum] [nvarchar](20) NULL,
	[PrsOutCmt] [nvarchar](400) NULL,
	[PrsTtl] [nvarchar](40) NULL,
	[PrsOthStd] [nvarchar](400) NULL,
	[PrsJobHst] [nvarchar](400) NULL,
	[PrcCndCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HLT_PRS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
