USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_LQD_GRP_LQD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_LQD_GRP_LQD](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrLqdGrpCod] [int] NOT NULL,
	[HhrLqdCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_LQD_GRP_LQD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrLqdGrpCod] ASC,
	[HhrLqdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
