USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_EVL_SKI]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_EVL_SKI](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrEvlSkiCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrEvlSkiCodExt] [nvarchar](20) NULL,
	[HhrEvlSkiTxt] [nvarchar](50) NOT NULL,
	[HhrEvlSkiCmt] [nvarchar](max) NULL,
	[HhrEvlSkiGrp] [nvarchar](20) NULL,
	[HhrEvlSkiEvl] [nvarchar](max) NULL,
	[HhrEvlSkiAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](20) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_EVL_SKI] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrEvlSkiCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
