USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_UNT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_UNT](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[MatUntTxt] [nvarchar](40) NOT NULL,
	[MatUntTypCod] [int] NOT NULL,
	[MatUntQty] [decimal](18, 3) NOT NULL,
	[MatUntBse] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_STK_MAT_UNT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatUntCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
