USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_PRC_SCA]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_PRC_SCA](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcCndRowScaCod] [int] IDENTITY(1,1) NOT NULL,
	[PrcCndRowCod] [int] NOT NULL,
	[PrcCndQty] [decimal](13, 3) NULL,
	[PrcCndTot] [decimal](18, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcCndRowScaSynCod] [int] NULL,
 CONSTRAINT [PK_GRL_DAT_PRC_SCA] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcCndRowScaCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
