USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_INT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_INT](
	[BusCod] [nvarchar](20) NOT NULL,
	[SysIntCod] [int] IDENTITY(1,1) NOT NULL,
	[SysIntCodExt] [nvarchar](20) NULL,
	[SysIntTxt] [nvarchar](50) NOT NULL,
	[SysIntUrl] [nvarchar](400) NULL,
	[SysIntAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysIntSynCod] [int] NULL,
	[SysIntLstRun] [smalldatetime] NULL,
	[SysIntLstRunSts] [nvarchar](2) NULL,
	[SysIntLstRunLog] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYS_INT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SysIntCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
