USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_CHR_CLS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_CHR_CLS](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrChrClsCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrChrClsCodExt] [nvarchar](20) NULL,
	[HhrChrClsTxt] [nvarchar](50) NOT NULL,
	[HhrChrClsAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HhrChrClsSynCod] [int] NULL,
 CONSTRAINT [PK_HHR_CHR_CLS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrChrClsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
