USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_LQD_DOC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_LQD_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltLqdDocCod] [int] IDENTITY(1,1) NOT NULL,
	[HltLqdCod] [int] NOT NULL,
	[RefObjTyp] [nvarchar](20) NOT NULL,
	[RefObjCod001] [nvarchar](20) NOT NULL,
	[RefObjCod002] [nvarchar](20) NULL,
	[HltLqdDocCodExt] [nvarchar](20) NULL,
	[HltLqdDocTxt] [nvarchar](50) NULL,
	[HltLqdDocTot] [decimal](13, 3) NULL,
	[CurCod] [nvarchar](5) NULL,
	[HltLqdDocAtr001] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HltLqdDocDte] [datetime] NULL,
	[HltLqdDocPrc] [decimal](18, 3) NULL,
	[HltLqdDocQty] [decimal](13, 3) NULL,
 CONSTRAINT [PK_HLT_LQD_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltLqdDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
