USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_APP_CNT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_CNT](
	[CodConexion] [nvarchar](10) NOT NULL,
	[Descripcion] [nvarchar](40) NOT NULL,
	[DriverName] [nvarchar](50) NULL,
	[Server] [nvarchar](20) NULL,
	[InitialCatalog] [nvarchar](20) NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NULL,
	[TimeOut] [int] NULL,
	[Location] [nvarchar](250) NULL,
	[SubSistema] [char](2) NULL,
	[Mandante] [char](3) NULL,
	[Idioma] [char](2) NULL,
	[TipoConexion] [char](10) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[CreadoFecha] [smalldatetime] NULL,
	[CreadoHora] [smalldatetime] NULL,
	[CreadoIDUsuario] [int] NULL,
	[ModificadoFecha] [smalldatetime] NULL,
	[ModificadoHora] [smalldatetime] NULL,
	[ModificadoIDUsuario] [int] NULL
) ON [PRIMARY]
GO
