USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_HST_PLN]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_HST_PLN](
	[BusCod] [nvarchar](20) NOT NULL,
	[PlnId] [int] NOT NULL,
	[CusCod] [int] NULL,
	[PatCod] [nvarchar](20) NOT NULL,
	[PrsCod] [int] NOT NULL,
	[SpcCod] [int] NOT NULL,
	[PlnYth] [int] NOT NULL,
	[PlnMth] [int] NOT NULL,
	[SerId] [nvarchar](8) NULL,
	[SerCfg] [int] NULL,
	[PlnCmt] [nvarchar](250) NULL,
	[DocSts] [nvarchar](1) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[zold_PlnDte] [datetime] NULL,
	[zold_PlnInbDte] [datetime] NULL,
	[zold_PlnOutDte] [datetime] NULL,
	[zold_PlnTme] [decimal](13, 2) NULL,
	[zold_PlnQty] [int] NULL,
	[zold_SerCod] [int] NULL,
	[zold_PlnTrn] [nvarchar](10) NULL,
	[zold_CtrDte] [datetime] NULL,
	[zold_CtrInbDte] [datetime] NULL,
	[zold_CtrOutDte] [datetime] NULL,
	[zold_CtrTme] [decimal](13, 2) NULL,
	[zold_CtrSes] [int] NULL,
	[zold_CtrCmt] [nvarchar](250) NULL,
	[zold_HhrLqdId] [int] NULL,
	[zold_HhrLqdPrc] [decimal](13, 3) NULL,
 CONSTRAINT [PK_HLT_HST_PLN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PlnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
