USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_EVL_TYP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_EVL_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrEvlTypCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrEvlTypCodExt] [nvarchar](20) NULL,
	[HhrEvlTypTxt] [nvarchar](50) NOT NULL,
	[HhrEvlTypCmt] [nvarchar](max) NULL,
	[HhrEvlTypAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_EVL_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrEvlTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
