USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_DBT_PTN]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_DBT_PTN](
	[BusCod] [nvarchar](20) NOT NULL,
	[SptDbtCod] [int] NOT NULL,
	[SptDbtPtnCod] [int] IDENTITY(1,1) NOT NULL,
	[PtnCod] [int] NOT NULL,
	[SptDbtPerStr] [datetime] NULL,
	[SptDbtPerEnd] [datetime] NULL,
	[SptDbtPerTxt] [nvarchar](50) NULL,
	[ActCod] [int] NULL,
	[ActTxt] [nvarchar](50) NULL,
	[TrnCod] [int] NULL,
	[TrnTxt] [nvarchar](50) NULL,
	[SptTrfCod] [int] NOT NULL,
	[SptTrfTxt] [nvarchar](50) NULL,
	[SptDbtAmt] [decimal](13, 3) NOT NULL,
	[SptDbtAmtRst] [decimal](13, 3) NOT NULL,
	[SptDbtExpDte] [datetime] NOT NULL,
	[SptDbtNum] [nvarchar](10) NULL,
	[CshCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_DBT_PTN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SptDbtCod] ASC,
	[SptDbtPtnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
