USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_STU_EVL]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_STU_EVL](
	[BusCod] [nvarchar](20) NOT NULL,
	[EvlCod] [int] IDENTITY(1,1) NOT NULL,
	[EvlNum] [int] NOT NULL,
	[StuCod] [int] NOT NULL,
	[StuTxt] [nvarchar](82) NULL,
	[EvlDte] [datetime] NOT NULL,
	[TchCod] [int] NULL,
	[TchTxt] [nvarchar](82) NULL,
	[EduCurCod] [int] NULL,
	[EduCurTxt] [nvarchar](50) NULL,
	[EduCarCod] [int] NULL,
	[EduCarTxt] [nvarchar](50) NULL,
	[EduCouCod] [int] NULL,
	[EduCouTxt] [nvarchar](50) NULL,
	[EduSubCod] [int] NULL,
	[EduSubTxt] [nvarchar](50) NULL,
	[StdLocCod] [int] NULL,
	[StdLocTxt] [nvarchar](50) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[EvlUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[EduPlnCod] [int] NULL,
	[EduPlnDteCod] [int] NULL,
	[EduEvlAtr001] [nvarchar](4000) NULL,
	[EduEvlAtr002] [nvarchar](4000) NULL,
	[EduEvlAtr003] [nvarchar](4000) NULL,
	[EduEvlAtr004] [nvarchar](4000) NULL,
	[EduEvlAtr005] [nvarchar](4000) NULL,
	[EduEvlAtr006] [nvarchar](4000) NULL,
	[EduEvlAtr007] [nvarchar](4000) NULL,
	[EduEvlAtr008] [nvarchar](4000) NULL,
	[EduEvlAtr009] [nvarchar](4000) NULL,
	[EduEvlFrm] [nvarchar](4000) NULL,
	[EvlRelSts] [nvarchar](2) NULL,
 CONSTRAINT [PK_EDU_STU_EVL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EvlCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
