USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_APP_LOG]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_LOG](
	[BusCod] [nvarchar](20) NOT NULL,
	[AppLogCod] [int] IDENTITY(1,1) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NULL,
	[SrcObjCod001] [nvarchar](20) NULL,
	[SrcObjCod002] [nvarchar](20) NULL,
	[AppLogTxt] [nvarchar](max) NOT NULL,
	[AppLogTecInf] [nvarchar](max) NULL,
	[mdlcod] [nvarchar](20) NULL,
	[prgcod] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[AppLogErrTyp] [nvarchar](20) NULL,
	[AppLogErrCod] [nvarchar](20) NULL,
	[AppLogErrTxt] [nvarchar](400) NULL,
 CONSTRAINT [PK_SYS_APP_LOG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[AppLogCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
