USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_HST_PRS_NWS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_HST_PRS_NWS](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrsCod] [int] NOT NULL,
	[HltNwsId] [int] NOT NULL,
	[HltNwsDte] [datetime] NOT NULL,
	[HltNwsCod] [int] NOT NULL,
	[HltNwsTot] [decimal](9, 3) NOT NULL,
	[HltLqdId] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_HST_PRS_NWS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrsCod] ASC,
	[HltNwsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
