USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_TRF]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_TRF](
	[BusCod] [nvarchar](20) NOT NULL,
	[SptTrfCod] [int] IDENTITY(1,1) NOT NULL,
	[SptTrfCodExt] [nvarchar](20) NULL,
	[SptTrfTxt] [nvarchar](50) NOT NULL,
	[SptTrfAmt] [decimal](13, 3) NULL,
	[SptTrfCls] [nvarchar](1) NULL,
	[SptTrfTypCod] [nvarchar](2) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_TRF] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SptTrfCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
