USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_LND_TWN_PST]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_LND_TWN_PST](
	[LndCod] [nvarchar](5) NOT NULL,
	[LndRegCod] [nvarchar](5) NOT NULL,
	[LndTwnCod] [int] NOT NULL,
	[LndTwnPstCod] [nvarchar](10) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
