USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DOC_FLT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DOC_FLT](
	[BusCod] [nvarchar](20) NOT NULL,
	[VewFltCod] [int] IDENTITY(1,1) NOT NULL,
	[UsrCod] [nvarchar](20) NOT NULL,
	[VewCod] [nvarchar](250) NOT NULL,
	[VewFltTxt] [nvarchar](50) NOT NULL,
	[VewFltPub] [int] NOT NULL,
	[VewFltDef] [int] NOT NULL,
	[VewFltDat] [nvarchar](max) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DOC_FLT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[VewFltCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
