USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_ARG_TRZ_TRX]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_ARG_TRZ_TRX](
	[BusCod] [nvarchar](20) NOT NULL,
	[TrzTrxCod] [int] IDENTITY(1,1) NOT NULL,
	[TrzTrxNum] [nvarchar](20) NULL,
	[TrzTrxDte] [smalldatetime] NULL,
	[TrzEvtCod] [int] NOT NULL,
	[TrzEvtCodExt] [nvarchar](20) NOT NULL,
	[SrcTyp] [nvarchar](20) NOT NULL,
	[SrcCod] [int] NOT NULL,
	[TrzTrxSrcGln] [nvarchar](13) NULL,
	[TrzTrxSrcTaxNum] [nvarchar](11) NULL,
	[DstTyp] [nvarchar](20) NULL,
	[DstCod] [int] NULL,
	[TrzTrxDstGln] [nvarchar](13) NULL,
	[TrzTrxDstTaxNum] [nvarchar](11) NULL,
	[TrzTrxInvNum] [nvarchar](20) NULL,
	[TrzTrxDlvNum] [nvarchar](20) NULL,
	[MatCod] [int] NULL,
	[MatTxt] [nvarchar](50) NULL,
	[MatBchDueDte] [datetime] NULL,
	[TrzTrxMedGtn] [nvarchar](14) NULL,
	[MatBchCodExt] [nvarchar](20) NULL,
	[MatSerCodExt001] [nvarchar](20) NULL,
	[MatSerCodExt002] [nvarchar](20) NULL,
	[AdrLstNme] [nvarchar](50) NULL,
	[AdrFrtNme] [nvarchar](100) NULL,
	[TaxDocNum] [nvarchar](10) NULL,
	[PatSex] [nvarchar](1) NULL,
	[zold_PatDocTyp] [nvarchar](1) NULL,
	[AdrStr] [nvarchar](100) NULL,
	[AdrCty] [nvarchar](50) NULL,
	[zold_AdrNum] [nvarchar](10) NULL,
	[zold_PatAdrFlr] [nvarchar](5) NULL,
	[zold_PatAdrUnt] [nvarchar](5) NULL,
	[AdrPstCod] [nvarchar](8) NULL,
	[AdrPhn001] [nvarchar](30) NULL,
	[zold_PatAflCusCod] [int] NULL,
	[PatAflNum] [nvarchar](30) NULL,
	[TrzTrxRef] [nvarchar](20) NULL,
	[TrzTrxErrTxt] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_ARG_TRZ_TRX] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TrzTrxCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
