USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MOV_ELB_MAT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MOV_ELB_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkMovElbMatCod] [int] IDENTITY(1,1) NOT NULL,
	[StkMovElbCod] [int] NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatTxt] [nvarchar](50) NULL,
	[MatQty] [decimal](18, 3) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[MatBchCod] [int] NULL,
	[MatBchCodExt] [nvarchar](20) NULL,
	[MatBchDueDte] [datetime] NULL,
	[MatSerCod] [int] NULL,
	[MatSerCodExt] [nvarchar](20) NULL,
	[MatCst] [decimal](13, 3) NULL,
	[MatCstCurCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NULL,
	[CteDte] [smalldatetime] NULL,
	[CteUsr] [nvarchar](20) NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[MatQtyPck] [decimal](18, 3) NULL,
	[MatQtyBse] [decimal](13, 3) NULL,
 CONSTRAINT [PK_STK_MOV_ELB_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkMovElbMatCod] ASC,
	[StkMovElbCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
