USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_SEC_USR_LOG]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_USR_LOG](
	[UsrCod] [nvarchar](20) NOT NULL,
	[UsrLogDte] [smalldatetime] NOT NULL,
	[UsrLogAdr] [nvarchar](20) NULL,
	[UsrLogAtrVal001] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
