USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_SEC_USR_PRM]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_USR_PRM](
	[BusCod] [nvarchar](20) NOT NULL,
	[UsrPrmCod] [int] IDENTITY(1,1) NOT NULL,
	[UsrCod] [nvarchar](20) NOT NULL,
	[UsrPrmFltKey] [nvarchar](400) NULL,
	[UsrPrmFltInc] [nvarchar](400) NULL,
	[UsrPrmFltGrp] [int] NULL,
	[UsrPrmFltTyp] [nvarchar](5) NULL,
	[PrmCod] [nvarchar](20) NOT NULL,
	[PrmFld] [nvarchar](50) NOT NULL,
	[PrmVal] [nvarchar](max) NOT NULL,
	[PrmValDef] [nvarchar](250) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrmObjTyp] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SYS_SEC_USR_PRM] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[UsrPrmCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
