USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PRS_LQD_GRP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PRS_LQD_GRP](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltPrsLqdGrpCod] [int] IDENTITY(1,1) NOT NULL,
	[HltPrsLqdGrpTxt] [nvarchar](250) NOT NULL,
	[HltPrsLqdGrpDte] [datetime] NOT NULL,
	[HltPrsLqdGrpTot] [decimal](13, 3) NULL,
	[HltPrsLqdGrpStrDte] [datetime] NOT NULL,
	[HltPrsLqdGrpEndDte] [datetime] NOT NULL,
	[PayMthCod] [int] NULL,
	[BnkCod] [int] NULL,
	[BnkAccCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[CusCod] [int] NULL,
	[CusTxt] [nvarchar](50) NULL,
 CONSTRAINT [PK_HLT_PRS_LQD_GRP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltPrsLqdGrpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
