USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_TRN_ZNE_MCH_PLY]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_TRN_ZNE_MCH_PLY](
	[BusCod] [nvarchar](20) NOT NULL,
	[TrnCod] [int] NOT NULL,
	[ZneCod] [int] NOT NULL,
	[MchCod] [int] NOT NULL,
	[EqmCod] [int] NOT NULL,
	[PlyCod] [int] IDENTITY(1,1) NOT NULL,
	[PlyCat] [nvarchar](2) NOT NULL,
	[PtnCod] [int] NOT NULL,
	[PlyNum] [int] NULL,
	[PlyYlw] [int] NULL,
	[PlyRed] [int] NULL,
	[PlyGls] [int] NULL,
	[PlyLawMch] [int] NULL,
	[PlyLawDte] [datetime] NULL,
	[PlyLawCmt] [nvarchar](50) NULL,
	[PlyChg] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_TRN_ZNE_MCH_PLY] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TrnCod] ASC,
	[ZneCod] ASC,
	[MchCod] ASC,
	[EqmCod] ASC,
	[PlyCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
