USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[ADM_SGN_DOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_SGN_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[SgnDocCod] [int] IDENTITY(1,1) NOT NULL,
	[SgnCod] [int] NOT NULL,
	[FleCod] [int] NOT NULL,
	[SgnDocSrcTyp] [nvarchar](20) NOT NULL,
	[SgnDocSrcCod001] [nvarchar](20) NOT NULL,
	[SgnDocSrcCod002] [nvarchar](20) NULL,
	[FleTxt] [nvarchar](400) NOT NULL,
	[FleNme] [nchar](400) NULL,
	[FleSrcUrl] [nchar](400) NULL,
	[FleSrcPst] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_ADM_SGN_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SgnDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
