USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_CRE_PLN_MAT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_CRE_PLN_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[PatCrePlnCod] [int] NOT NULL,
	[PatCrePlnMatCod] [int] IDENTITY(1,1) NOT NULL,
	[MatCod] [int] NULL,
	[MatTxt] [nvarchar](50) NOT NULL,
	[MatQty] [decimal](13, 3) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[MatFrq] [nvarchar](5) NULL,
	[MatFrqQty] [int] NULL,
	[MatCmt] [nvarchar](500) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PAT_CRE_PLN_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PatCrePlnCod] ASC,
	[PatCrePlnMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
