USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_TRN_ZNE_MCH]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_TRN_ZNE_MCH](
	[BusCod] [nvarchar](20) NOT NULL,
	[TrnCod] [int] NOT NULL,
	[ZneCod] [int] NOT NULL,
	[MchCod] [int] IDENTITY(1,1) NOT NULL,
	[MchNum] [int] NOT NULL,
	[EqmCod001] [nvarchar](20) NOT NULL,
	[EqmCod002] [nvarchar](20) NOT NULL,
	[MchDte] [datetime] NULL,
	[MchTme] [nvarchar](5) NULL,
	[MchPlc] [nvarchar](20) NULL,
	[MchJdg] [nvarchar](50) NULL,
	[MchVwr] [nvarchar](50) NULL,
	[EqmGls001] [int] NULL,
	[EqmGls002] [int] NULL,
	[MchLawGls001] [int] NULL,
	[MchLawGls002] [int] NULL,
	[MchLawPts001] [int] NULL,
	[MchLawPts002] [int] NULL,
	[MchCmt] [text] NULL,
	[MchCmt001] [text] NULL,
	[MchCmt002] [text] NULL,
	[ZneCod002] [int] NULL,
	[DocSts] [nvarchar](2) NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_TRN_ZNE_MCH] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TrnCod] ASC,
	[ZneCod] ASC,
	[MchCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
