USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_SUM_DOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_SUM_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[FinSumCod] [int] NOT NULL,
	[FinSumDocCod] [int] IDENTITY(1,1) NOT NULL,
	[ImpObjTyp] [nvarchar](20) NULL,
	[ImpObjCod] [int] NULL,
	[DocObjTyp] [nvarchar](20) NOT NULL,
	[DocObjCod] [int] NOT NULL,
	[DocObjCodExt] [nvarchar](20) NULL,
	[DocObjDte] [datetime] NULL,
	[DocObjDueDte] [datetime] NULL,
	[RefObjTyp] [nvarchar](20) NULL,
	[RefObjCod] [int] NULL,
	[RefObjTxt] [nvarchar](82) NULL,
	[FinSumDocSta] [int] NULL,
	[FinSumDocTot] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](9, 5) NULL,
	[FinSumDocTotRst] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_SUM_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FinSumCod] ASC,
	[FinSumDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
