USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_HST_PLN_DTE]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_HST_PLN_DTE](
	[BusCod] [nvarchar](20) NOT NULL,
	[PlnId] [int] NOT NULL,
	[PlnDteId] [int] NOT NULL,
	[PlnDte] [datetime] NOT NULL,
	[PlnInbDte] [datetime] NOT NULL,
	[PlnOutDte] [datetime] NOT NULL,
	[PlnQty] [int] NULL,
	[PlnTme] [decimal](5, 2) NULL,
	[CtrDte] [datetime] NULL,
	[CtrInbDte] [datetime] NULL,
	[CtrOutDte] [datetime] NULL,
	[CtrQty] [int] NULL,
	[CtrTme] [decimal](5, 2) NULL,
	[CtrPrsCod] [int] NULL,
	[CtrCmt] [nvarchar](250) NULL,
	[CtrDelDte] [smalldatetime] NULL,
	[CtrDelUsr] [nvarchar](20) NULL,
	[HltLqdId] [int] NULL,
	[HltLqdCatPts] [int] NULL,
	[HltLqdCatPrc] [decimal](13, 3) NULL,
	[HltLqdPrc] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HltLqdSpcPrc] [decimal](13, 3) NULL,
	[HltLqdSpcPrcAdd] [decimal](13, 3) NULL,
 CONSTRAINT [PK_HLT_HST_PLN_DTE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PlnId] ASC,
	[PlnDteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
