USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_STK]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_STK](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkMatStkCod] [int] IDENTITY(1,1) NOT NULL,
	[StkObjTyp] [nvarchar](20) NOT NULL,
	[StkObjCod] [int] NOT NULL,
	[StkCntCod] [int] NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatBchCod] [int] NULL,
	[MatSerCod] [int] NULL,
	[MatQty] [decimal](18, 3) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[MatLckQty] [decimal](18, 3) NULL,
	[MatQmsQty] [decimal](18, 3) NULL,
 CONSTRAINT [PK_STK_MAT_STK_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkMatStkCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
