USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[BUY_SUP_MAT]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_SUP_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[BuySupMatCod] [int] IDENTITY(1,1) NOT NULL,
	[SupCod] [int] NOT NULL,
	[MatCod] [int] NOT NULL,
	[SupMatCod] [nvarchar](50) NOT NULL,
	[SupMatTxt] [nvarchar](100) NULL,
	[SupMatUntCod] [nvarchar](20) NULL,
	[SupMatAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_BUY_SUP_MAT_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BuySupMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
