USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_TCH_PRC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_TCH_PRC](
	[BusCod] [nvarchar](20) NOT NULL,
	[TchPrcCod] [int] IDENTITY(1,1) NOT NULL,
	[TchCod] [int] NULL,
	[EduCarCod] [int] NULL,
	[EduCurCod] [int] NULL,
	[EduCouCod] [int] NULL,
	[EduSubCod] [int] NULL,
	[EduStuAss] [int] NULL,
	[TchPrcDteStr] [datetime] NOT NULL,
	[TchPrcDteEnd] [datetime] NOT NULL,
	[TchPrcTyp] [int] NOT NULL,
	[TchPrcVal] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_EDU_TCH_PRC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TchPrcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
