USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_CAT_VAL]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_CAT_VAL](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduCatValCod] [int] IDENTITY(1,1) NOT NULL,
	[EduCatCod] [int] NOT NULL,
	[EduCatVal] [nvarchar](50) NULL,
	[EduCatFrm] [int] NULL,
	[EduCatTo] [int] NULL,
	[EduCatPts] [int] NOT NULL,
	[EduCatPtr] [nvarchar](20) NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_EDU_CAT_VAL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduCatValCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
