USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_PLN_INS]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_PLN_INS](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduPlnInsCod] [int] IDENTITY(1,1) NOT NULL,
	[EduPlnCod] [int] NOT NULL,
	[EduPlnDteCod] [int] NOT NULL,
	[StuCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_EDU_PLN_INS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduPlnInsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
