USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_MOV_DOC_CMP]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_MOV_DOC_CMP](
	[BusCod] [nvarchar](20) NOT NULL,
	[TsrMovDocCmpCod] [int] IDENTITY(1,1) NOT NULL,
	[TsrMovDocCod] [int] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[TsrMovDocCmpAmt] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_TSR_MOV_DOC_CMP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TsrMovDocCmpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
