USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_STK_MTH]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_STK_MTH](
	[BusCod] [nvarchar](20) NOT NULL,
	[PatCod] [nvarchar](10) NOT NULL,
	[StkPer] [int] NOT NULL,
	[MatCod] [nvarchar](20) NOT NULL,
	[MatQty] [decimal](13, 3) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PAT_STK_MTH] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PatCod] ASC,
	[StkPer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
