USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GAS_ATN]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAS_ATN](
	[BusCod] [nvarchar](20) NOT NULL,
	[AtnCod] [int] IDENTITY(1,1) NOT NULL,
	[AtnCodExt] [nvarchar](20) NOT NULL,
	[AtnTxt] [nvarchar](82) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GAS_ATN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[AtnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
