USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_INV]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_INV](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsInvCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsInvCodExt] [nvarchar](20) NULL,
	[SlsInvTxt] [nvarchar](50) NOT NULL,
	[SlsInvDte] [datetime] NOT NULL,
	[DstObjTyp] [nvarchar](20) NOT NULL,
	[DstObjCod] [int] NOT NULL,
	[SlsInvNetAmt] [decimal](13, 3) NOT NULL,
	[SlsInvVatAmt] [decimal](13, 3) NOT NULL,
	[SlsInvTaxAmt] [decimal](13, 3) NOT NULL,
	[SlsInvTotAmt] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](9, 5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[SlsInvStrDte] [smalldatetime] NULL,
	[SlsInvEndDte] [smalldatetime] NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
	[PayTrmCod] [int] NULL,
	[SlsPosCod] [int] NULL,
	[SlsInvAccDte] [datetime] NULL,
	[SlsInvPrcDte] [datetime] NULL,
	[SlsInvDueDte] [datetime] NULL,
	[SlsPrcLstCod] [int] NULL,
 CONSTRAINT [PK_SLS_INV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsInvCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
