USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_PAY_MTH]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_PAY_MTH](
	[BusCod] [nvarchar](20) NOT NULL,
	[PayMthCod] [int] IDENTITY(1,1) NOT NULL,
	[PayMthCodExt] [nvarchar](20) NULL,
	[PayMthTxt] [nvarchar](40) NOT NULL,
	[PayMthTyp] [nvarchar](3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[tsrpaymthatr] [nvarchar](max) NULL,
 CONSTRAINT [PK_TSR_PAY_MTH] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PayMthCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
