USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_AFL_OUT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_AFL_OUT](
	[BusCod] [nvarchar](20) NOT NULL,
	[AflOutCod] [int] IDENTITY(1,1) NOT NULL,
	[AflOutTxt] [nvarchar](40) NOT NULL,
	[AflOutPmn] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
