USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[BUY_PRC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_PRC](
	[BusCod] [nvarchar](20) NOT NULL,
	[BuyPrcCod] [int] IDENTITY(1,1) NOT NULL,
	[BuyPrcCodExt] [nvarchar](20) NULL,
	[BuyPrcTxt] [nvarchar](50) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[BuyPrcAtr] [nvarchar](max) NULL,
	[SupCod] [int] NOT NULL,
	[BuyPrcStrDte] [datetime] NOT NULL,
	[BuyPrcEndDte] [datetime] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_BUY_PRC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BuyPrcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
