USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_SPC_TME]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_SPC_TME](
	[BusCod] [nvarchar](20) NOT NULL,
	[SpcTmeCod] [int] IDENTITY(1,1) NOT NULL,
	[SpcCod] [int] NULL,
	[PrsCod] [int] NULL,
	[DelCod] [int] NOT NULL,
	[TmeDay] [int] NOT NULL,
	[TmeStr] [smalldatetime] NOT NULL,
	[TmeEnd] [smalldatetime] NOT NULL,
	[TmeQty] [int] NULL,
	[TmeFrq] [int] NULL,
	[TmeOvr] [int] NULL,
	[TmeAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_SPC_TME] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SpcTmeCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
