USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_LOC_ARG_CAI]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_LOC_ARG_CAI](
	[BusCod] [nvarchar](20) NOT NULL,
	[ArgCaiCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsPosCod] [int] NOT NULL,
	[SysDocClsCod] [int] NOT NULL,
	[ArgLtrCodExt] [nvarchar](2) NOT NULL,
	[ArgCaiCodExt] [nvarchar](20) NOT NULL,
	[ArgCaiDueDte] [smalldatetime] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_LOC_ARG_CAI_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[ArgCaiCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
