USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_LIC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_LIC](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrLicCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrLicCodExt] [nvarchar](20) NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[HhrLicTypCod] [int] NOT NULL,
	[HhrLicDteStr] [datetime] NOT NULL,
	[HhrLicDteEnd] [datetime] NOT NULL,
	[HhrLicAtr] [nvarchar](4000) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_LIC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrLicCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
