USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_LBL_TYP]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_LBL_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatLblTypCod] [int] IDENTITY(1,1) NOT NULL,
	[MatLblTypCodExt] [nvarchar](20) NULL,
	[MatLblTypTxt] [nvarchar](50) NOT NULL,
	[MatLblFrm] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_MAT_LBL_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatLblTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
