USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_HST_PRS_LQD_GRP_ASG]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_HST_PRS_LQD_GRP_ASG](
	[BusCod] [nvarchar](20) NOT NULL,
	[LqdGrpId] [int] NOT NULL,
	[LqdId] [int] NOT NULL,
 CONSTRAINT [PK_HLT_HST_PRS_LQD_GRP_ASG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[LqdGrpId] ASC,
	[LqdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
