USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[ADM_HLD]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_HLD](
	[BusCod] [nvarchar](20) NOT NULL,
	[HldCod] [int] IDENTITY(1,1) NOT NULL,
	[LndCod] [nvarchar](5) NOT NULL,
	[HldDay] [datetime] NOT NULL,
	[HldTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_ADM_HLD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HldCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
