USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_STE_EVT]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_STE_EVT](
	[BusCod] [nvarchar](20) NOT NULL,
	[SteEvtCod] [int] IDENTITY(1,1) NOT NULL,
	[SteCod] [int] NOT NULL,
	[SteEvtDte] [smalldatetime] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_CNS_STE_EVT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SteEvtCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
