USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_PRC_LST]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_PRC_LST](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsPrcLstCod] [int] NOT NULL,
	[SlsPrcLstVerCod] [int] NOT NULL,
	[SlsPrcLstPrcCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsPrcSrcTyp] [nvarchar](20) NOT NULL,
	[SlsPrcSrcCod] [int] NOT NULL,
	[SlsPrcQty] [decimal](13, 3) NULL,
	[SlsPrcUntCod] [nvarchar](5) NULL,
	[SlsPrcMinVal] [decimal](9, 3) NULL,
	[SlsPrcMaxVal] [decimal](9, 3) NULL,
	[SlsPrcMinRng] [decimal](9, 3) NULL,
	[SlsPrcMaxRng] [decimal](9, 3) NULL,
	[SlsPrc] [decimal](18, 5) NOT NULL,
	[CurCod] [nvarchar](5) NULL,
	[SlsPrcRef] [decimal](13, 3) NULL,
	[SlsPrcVar] [decimal](9, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SLS_PRC_LST] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsPrcLstCod] ASC,
	[SlsPrcLstVerCod] ASC,
	[SlsPrcLstPrcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
