USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_ORD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_ORD](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsOrdCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsOrdCodExt] [nvarchar](20) NULL,
	[SlsOrdTxt] [nvarchar](50) NOT NULL,
	[SlsOrdDte] [datetime] NOT NULL,
	[DstObjTyp] [nvarchar](20) NOT NULL,
	[DstObjCod] [int] NOT NULL,
	[DstCntCod] [int] NULL,
	[SlsOrdTotAmt] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](9, 5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[SlsOrdStrDte] [smalldatetime] NULL,
	[SlsOrdEndDte] [smalldatetime] NULL,
	[SlsPrcLstCod] [int] NULL,
	[RelDte] [smalldatetime] NULL,
	[RelSts] [nvarchar](2) NULL,
	[RelUsr] [nvarchar](20) NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
	[PayTrmCod] [int] NULL,
	[slsgrpcod] [int] NULL,
	[StkMovPrtCod] [int] NULL,
 CONSTRAINT [PK_SLS_ORD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsOrdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
