USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_LQD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_LQD](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltLqdCod] [int] IDENTITY(1,1) NOT NULL,
	[HltLqdTxt] [nvarchar](50) NULL,
	[HltLqdDte] [datetime] NOT NULL,
	[HltLqdStrDte] [datetime] NOT NULL,
	[HltLqdEndDte] [datetime] NOT NULL,
	[CusCod] [int] NOT NULL,
	[CusTxt] [nvarchar](82) NOT NULL,
	[HltLqdTot] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[HltLqdAtr001] [nvarchar](max) NULL,
	[SysDocRejCod] [int] NULL,
	[SysDocTreCod] [nvarchar](2) NULL,
 CONSTRAINT [PK_HLT_LQD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltLqdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
