USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_SUB]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_SUB](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrSubCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrSubCodExt] [nvarchar](20) NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[DstObjTyp] [nvarchar](20) NOT NULL,
	[DstObjCod] [nvarchar](20) NOT NULL,
	[HhrSubDteStr] [smalldatetime] NOT NULL,
	[HhrSubDteEnd] [smalldatetime] NOT NULL,
	[HhrSubCmt] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[HhrSubAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_HHR_SUB] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrSubCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
