USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_CAL]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_CAL](
	[BusCod] [nvarchar](20) NOT NULL,
	[GrlCalCod] [int] IDENTITY(1,1) NOT NULL,
	[GrlCalCodExt] [nvarchar](20) NULL,
	[GrlCalTxt] [nvarchar](50) NOT NULL,
	[GrlCalAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_CAL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[GrlCalCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
