USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_LQD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_LQD](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrLqdCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrLqdTxt] [nvarchar](50) NULL,
	[HhrLqdDte] [smalldatetime] NOT NULL,
	[HhrLqdStrDte] [smalldatetime] NOT NULL,
	[HhrLqdEndDte] [smalldatetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod001] [nvarchar](20) NOT NULL,
	[SrcObjCod002] [nvarchar](20) NULL,
	[HhrChrAsgCod] [int] NOT NULL,
	[PrcSchCod] [int] NOT NULL,
	[HhrLqdTot] [decimal](13, 3) NULL,
	[HhrLqdAtr001] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HHR_LQD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrLqdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
