USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MOV_ELB]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MOV_ELB](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkMovElbCod] [int] IDENTITY(1,1) NOT NULL,
	[StkMovElbCodExt] [nvarchar](20) NULL,
	[StkMovElbDte] [datetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatTxt] [nvarchar](50) NOT NULL,
	[MatQty] [int] NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[MatBchCod] [int] NULL,
	[MatBchCodExt] [nvarchar](20) NULL,
	[MatSerCodExtLst] [nvarchar](4000) NULL,
	[StkMovElbAtr] [nvarchar](4000) NULL,
	[StkMovElbCmt] [nvarchar](400) NULL,
	[StkMovElbStrDte] [datetime] NULL,
	[StkMovElbEndDte] [datetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[StkMovDocCod] [int] NULL,
 CONSTRAINT [PK_STK_MOV_ELB] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkMovElbCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
