USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_MOD_PRC_LST]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_MOD_PRC_LST](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcLstCod] [int] NOT NULL,
	[PrcLstVer] [int] NOT NULL,
	[PrcLstPrc] [int] IDENTITY(1,1) NOT NULL,
	[HltModCod] [int] NOT NULL,
	[HltModPrc] [decimal](11, 5) NOT NULL,
	[HltModQty] [decimal](13, 2) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_MOD_PRC_LST] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcLstCod] ASC,
	[PrcLstVer] ASC,
	[PrcLstPrc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
