USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_EVL_SPC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_EVL_SPC](
	[BusCod] [nvarchar](20) NOT NULL,
	[EvlSpcCod] [int] IDENTITY(1,1) NOT NULL,
	[EvlCod] [int] NOT NULL,
	[SpcCod] [int] NOT NULL,
	[EvlAtrVal001] [nvarchar](max) NULL,
	[EvlAtrVal002] [nvarchar](max) NULL,
	[EvlAtrVal003] [nvarchar](max) NULL,
	[EvlAtrVal004] [nvarchar](max) NULL,
	[EvlAtrVal005] [nvarchar](max) NULL,
	[EvlAtrVal006] [nvarchar](max) NULL,
	[EvlAtrVal007] [nvarchar](max) NULL,
	[EvlAtrVal008] [nvarchar](max) NULL,
	[EvlAtrVal009] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](50) NULL,
 CONSTRAINT [PK_HLT_PAT_EVL_SPC_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EvlSpcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
