USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_TRF_TYP]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_TRF_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[SptTrfTypCod] [int] NOT NULL,
	[SptTrfTypCodExt] [nvarchar](20) NULL,
	[SptTrfTypTxt] [nvarchar](50) NOT NULL,
	[SptTrfTypAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](1) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_TRF_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SptTrfTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
