USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[LOG_TRA_DLV]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_TRA_DLV](
	[BusCod] [nvarchar](20) NOT NULL,
	[TraDlvCod] [int] IDENTITY(1,1) NOT NULL,
	[TraCod] [int] NOT NULL,
	[StkMovDocCod] [int] NOT NULL,
	[TraDlvIsuDte] [smalldatetime] NULL,
	[TraDlvIsuLoc] [nvarchar](50) NULL,
	[TraDlvIsuCmt] [nvarchar](4000) NULL,
	[TraDlvOrd] [int] NULL,
	[TraDlvAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](50) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOG_TRA_DLV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TraDlvCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
