USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DOC_RMD]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DOC_RMD](
	[BusCod] [nvarchar](20) NOT NULL,
	[DocRmdCod] [int] IDENTITY(1,1) NOT NULL,
	[DocRmdCodExt] [nvarchar](20) NULL,
	[DocRmdTxt] [nvarchar](50) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[DocRmdTyp] [nvarchar](2) NOT NULL,
	[DocRmdStrDte] [smalldatetime] NOT NULL,
	[DocRmdEndDte] [smalldatetime] NULL,
	[DocRmdStrTme] [smalldatetime] NOT NULL,
	[DocRmdLngTxt] [nvarchar](4000) NULL,
	[DocRmdDst] [nvarchar](4000) NULL,
	[DocRmdFrq] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](20) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DOC_RMD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[DocRmdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
