USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_ORG_CHT_WRK_CAP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_ORG_CHT_WRK_CAP](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrOrgChtWrkCapCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrOrgChtWrkCod] [int] NOT NULL,
	[WrkPlcCod] [int] NOT NULL,
	[HhrOrgChtWrkQty] [decimal](13, 3) NULL,
	[HhrOrgChtWrkCapTyp] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_ORG_CHHT_WRK_CAP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrOrgChtWrkCapCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
