USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_LQD]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_LQD](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduLqdCod] [int] IDENTITY(1,1) NOT NULL,
	[CusCod] [int] NOT NULL,
	[CusTxt] [nvarchar](82) NOT NULL,
	[EduLqdDte] [smalldatetime] NULL,
	[EduLqdTxt] [nvarchar](50) NULL,
	[PayMthCod] [nvarchar](20) NULL,
	[PayMthTxt] [nvarchar](40) NULL,
	[BnkCod] [int] NULL,
	[BnkTxt] [nvarchar](40) NULL,
	[BnkBch] [nvarchar](20) NULL,
	[BnkAccTyp] [nvarchar](50) NULL,
	[BnkAccNum] [nvarchar](22) NULL,
	[BnkDocTyp] [nvarchar](20) NULL,
	[BnkDocNum] [nvarchar](20) NULL,
	[BnkAccCbu] [nvarchar](22) NULL,
	[EduLqdNwsTot] [decimal](13, 3) NULL,
	[EduLqdCatPts] [int] NULL,
	[EduLqdCatPrc] [decimal](13, 3) NULL,
	[EduLqdHrsQty] [decimal](13, 2) NULL,
	[EduLqdSesQty] [decimal](13, 3) NULL,
	[EduLqdPrc] [decimal](13, 3) NULL,
	[EduLqdTot] [decimal](13, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[EduLqdAtr001] [nvarchar](4000) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
 CONSTRAINT [PK_EDU_LQD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduLqdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
