USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_SPC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_SPC](
	[BusCod] [nvarchar](20) NOT NULL,
	[SpcCod] [int] IDENTITY(1,1) NOT NULL,
	[SpcCodExt] [nvarchar](20) NULL,
	[SpcTxt] [nvarchar](50) NOT NULL,
	[SpcTyp] [int] NOT NULL,
	[AutCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SpcCtrTyp] [int] NULL,
	[SpcClr] [nvarchar](10) NULL,
	[SpcFrm] [nvarchar](250) NULL,
	[SpcOrd] [int] NULL,
	[SpcGrpCod] [int] NULL,
	[SpcPlnTyp] [int] NULL,
	[SpcAtrVal001] [nvarchar](4000) NULL,
 CONSTRAINT [PK_HLT_SPC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SpcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
