USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_EVL]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_EVL](
	[BusCod] [nvarchar](20) NOT NULL,
	[EvlCod] [int] IDENTITY(1,1) NOT NULL,
	[EvlNum] [int] NOT NULL,
	[PatCod] [int] NOT NULL,
	[PatTxt] [nvarchar](82) NULL,
	[EvlDte] [datetime] NOT NULL,
	[EvlEvl] [nvarchar](max) NULL,
	[EvlSub] [nvarchar](max) NULL,
	[EvlObj] [nvarchar](max) NULL,
	[EvlCmt] [nvarchar](max) NULL,
	[PrsCod] [int] NULL,
	[PrsTxt] [nvarchar](82) NULL,
	[SpcCod] [int] NULL,
	[SpcTxt] [nvarchar](40) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[EvlUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[PlnId] [int] NULL,
	[PlnDteId] [int] NULL,
	[HltLqdId] [int] NULL,
	[HltLqdCatPts] [int] NULL,
	[HltLqdCatPrc] [decimal](13, 3) NULL,
	[HltLqdPrc] [decimal](13, 3) NULL,
	[HltLqdSpcPrc] [decimal](13, 3) NULL,
	[HltLqdSpcPrcAdd] [decimal](13, 3) NULL,
	[SlsLqdId] [int] NULL,
	[EvlAtr001] [nvarchar](max) NULL,
	[DelCod] [int] NULL,
	[DelTxt] [nvarchar](50) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HLT_PAT_EVL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EvlCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
