USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_SEC_USR_GRP]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_USR_GRP](
	[BusCod] [nvarchar](20) NOT NULL,
	[UsrCod] [nvarchar](15) NOT NULL,
	[UsrGrpCod] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_SEC_USR_GRP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[UsrCod] ASC,
	[UsrGrpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
