USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_STK_HST]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_STK_HST](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkPer] [nvarchar](6) NOT NULL,
	[StkObjTyp] [nvarchar](20) NOT NULL,
	[StkObjCod] [int] NOT NULL,
	[StkCntCod] [int] NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatQty] [decimal](18, 3) NOT NULL,
	[MatUntCod] [nvarchar](10) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[MatCst] [decimal](18, 3) NULL,
	[MatCstCurCod] [nvarchar](5) NULL,
	[MatCstQty] [decimal](18, 3) NULL,
	[MatCstUntCod] [nvarchar](5) NULL,
 CONSTRAINT [PK_STK_MAT_STK_HST_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkPer] ASC,
	[StkObjTyp] ASC,
	[StkObjCod] ASC,
	[StkCntCod] ASC,
	[MatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
