USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAN_ORD]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAN_ORD](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkManOrdCod] [int] IDENTITY(1,1) NOT NULL,
	[StkManOrdCodExt] [nvarchar](20) NULL,
	[StkManOrdTxt] [nvarchar](50) NOT NULL,
	[StkManOrdDte] [smalldatetime] NOT NULL,
	[StkManOrdAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[SysDocRejCod] [int] NULL,
	[SysDocTreCod] [nvarchar](2) NULL,
	[RspObjTyp] [nvarchar](20) NULL,
	[RspObjCod] [nvarchar](20) NULL,
	[RspObjTxt] [nvarchar](250) NULL,
 CONSTRAINT [PK_STK_MAN_ORD] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkManOrdCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
