USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAN_PLN]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAN_PLN](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkManPlnCod] [int] IDENTITY(1,1) NOT NULL,
	[StkManPlnCodExt] [nvarchar](20) NULL,
	[StkManPlnTxt] [nvarchar](50) NOT NULL,
	[StkManPlnAct] [nvarchar](max) NULL,
	[StkManPlnAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_STK_MAN_PLN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkManPlnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
