USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_TSK_CLS]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_TSK_CLS](
	[BusCod] [nvarchar](20) NOT NULL,
	[CnsTskClsCod] [int] IDENTITY(1,1) NOT NULL,
	[CnsTskClsCodExt] [nvarchar](20) NULL,
	[CnsTskClsTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CnsTskClsAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_CNS_TSK_CLS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CnsTskClsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
