USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_DOC_WRK_ACT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_WRK_ACT](
	[BusCod] [nvarchar](20) NOT NULL,
	[WrkFlwActCod] [int] IDENTITY(1,1) NOT NULL,
	[WrkFlwCod] [int] NOT NULL,
	[WrkFlwStpCod] [int] NULL,
	[WrkFlwActEvt] [nvarchar](3) NOT NULL,
	[WrkFlwActTyp] [nvarchar](20) NOT NULL,
	[WrkFlwActVal] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_DOC_WRK_ACT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[WrkFlwActCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
