USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_GRL_RPT_SRC]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GRL_RPT_SRC](
	[BusCod] [nvarchar](20) NOT NULL,
	[RptSrcCod] [int] IDENTITY(1,1) NOT NULL,
	[RptSrcTxt] [nvarchar](50) NOT NULL,
	[RptSrcSrc] [nvarchar](4000) NOT NULL,
	[RptSrcTyp] [nvarchar](10) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_GRL_RPT_SRC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[RptSrcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
