USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_LOC_ARG_LTR]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_LOC_ARG_LTR](
	[BusCod] [nvarchar](20) NOT NULL,
	[ArgLtrCod] [int] IDENTITY(1,1) NOT NULL,
	[ArgLtrCodExt] [nvarchar](2) NOT NULL,
	[TaxCatCodSrc] [nvarchar](10) NOT NULL,
	[TaxCatCodDst] [nvarchar](10) NOT NULL,
	[ArgLtrOprTyp] [nvarchar](2) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_LOC_ARG_LTR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[ArgLtrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
