USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_TXT_TYP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_TXT_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[TxtTypCod] [int] IDENTITY(1,1) NOT NULL,
	[TxtTypCodExt] [nvarchar](20) NULL,
	[TxtTypTxt] [nvarchar](50) NOT NULL,
	[TxtTypAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[ObjTyp] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GRL_DAT_TXT_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TxtTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
