USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_MOV_TYP]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_MOV_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[tsrmovtypcod] [int] NOT NULL,
	[tsrmovtypcodext] [nvarchar](20) NULL,
	[tsrmovtyptxt] [nvarchar](50) NOT NULL,
	[tsrmovtypBlc] [nvarchar](10) NULL,
	[FinAccCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_TSR_MOV_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[tsrmovtypcod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
