USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_TCH]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_TCH](
	[BusCod] [nvarchar](20) NOT NULL,
	[TchCod] [int] IDENTITY(1,1) NOT NULL,
	[TchCodExt] [nvarchar](20) NULL,
	[TchTxt] [nvarchar](82) NOT NULL,
	[TchCmt] [nvarchar](400) NULL,
	[TchInbDte] [smalldatetime] NULL,
	[TchOutDte] [smalldatetime] NULL,
	[TchOutCmt] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NULL,
 CONSTRAINT [PK_SPT_PRF] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TchCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
