USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_ACT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_ACT](
	[BusCod] [nvarchar](20) NOT NULL,
	[ActCod] [int] IDENTITY(1,1) NOT NULL,
	[ActCodExt] [nvarchar](20) NULL,
	[ActTxt] [nvarchar](50) NOT NULL,
	[ActRspTxt] [nvarchar](50) NULL,
	[TchCod] [int] NULL,
	[ActGrpTxt] [nvarchar](50) NULL,
	[ActLocTxt] [nvarchar](50) NULL,
	[ActSex] [nvarchar](1) NULL,
	[ActAgeStr] [int] NULL,
	[ActAgeEnd] [int] NULL,
	[actatr] [nvarchar](4000) NULL,
	[SptTrfCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_ACT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[ActCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
