USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CRM_CNT_MTV_STS]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_CNT_MTV_STS](
	[BusCod] [nvarchar](20) NOT NULL,
	[CrmCntMtvStsCod] [int] IDENTITY(1,1) NOT NULL,
	[CrmCntMtvCod] [int] NOT NULL,
	[CrmCntStsCodStr] [int] NOT NULL,
	[CrmCntStsUsrCod] [nvarchar](20) NULL,
	[CrmCntStsCodEnd] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CrmCntMtvStsAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_CRM_CNT_MTV_STS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CrmCntMtvStsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
