USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_PAY_TRM]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_PAY_TRM](
	[BusCod] [nvarchar](20) NOT NULL,
	[PayTrmCod] [int] IDENTITY(1,1) NOT NULL,
	[PayTrmCodExt] [nvarchar](20) NULL,
	[PayTrmTxt] [nvarchar](40) NOT NULL,
	[PayTrmGrp] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PayTrmAtr] [nvarchar](4000) NULL,
	[PayTrmBseDueDte] [nvarchar](5) NULL,
	[PayTrmBseDueDteFnc] [nvarchar](4000) NULL,
	[PayTrmBseDueDteQty] [int] NULL,
 CONSTRAINT [PK_FIN_PAY_TRM] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PayTrmCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
