USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_FSC_EXE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_FSC_EXE](
	[BusCod] [nvarchar](20) NOT NULL,
	[FscExeCod] [int] IDENTITY(1,1) NOT NULL,
	[FscExeCodExt] [nvarchar](20) NULL,
	[FscExeTxt] [nvarchar](50) NULL,
	[FscExeYth] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_FIN_FSC_EXE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FscExeCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
