USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_ASS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_ASS](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrAssCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrAssCodExt] [nvarchar](20) NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[HhrAssFlg] [int] NOT NULL,
	[HhrAssDte] [datetime] NOT NULL,
	[HhrAssCmt] [nvarchar](4000) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[HhrAssAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_HHR_ASS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrAssCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
