USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_PLN_DTE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_PLN_DTE](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduPlnDteCod] [int] IDENTITY(1,1) NOT NULL,
	[EduPlnCod] [int] NOT NULL,
	[EduPlnDte] [datetime] NOT NULL,
	[EduPlnInbDte] [datetime] NOT NULL,
	[EduPlnOutDte] [datetime] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[StdLocCod] [int] NULL,
	[TchCod] [int] NULL,
 CONSTRAINT [PK_EDU_PLN_DTE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduPlnDteCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
