USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_HST]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_HST](
	[BusCod] [nvarchar](20) NOT NULL,
	[PatHstCod] [int] IDENTITY(1,1) NOT NULL,
	[PatHstCodExt] [nvarchar](20) NULL,
	[PatHstDte] [smalldatetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod001] [nvarchar](20) NULL,
	[SrcObjCod002] [nvarchar](20) NULL,
	[PatCod] [int] NULL,
	[CusCod] [int] NULL,
	[PrsCod] [int] NULL,
	[SpcCod] [int] NULL,
	[HltPlnId] [int] NULL,
	[HltPlnDteId] [int] NULL,
	[EvlCod] [int] NULL,
	[PatHstAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PAT_HST] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PatHstCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
