USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_TSK]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_TSK](
	[BusCod] [nvarchar](20) NOT NULL,
	[CnsTskCod] [int] IDENTITY(1,1) NOT NULL,
	[CnsTskCodExt] [nvarchar](20) NULL,
	[CnsTskTxt] [nvarchar](150) NOT NULL,
	[MatQty] [decimal](13, 3) NOT NULL,
	[MatUntCod] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[CnsTskClsCod] [int] NULL,
	[CnsTskAtr] [nvarchar](max) NULL,
	[RspObjTyp] [nvarchar](20) NULL,
	[RspObjCod] [int] NULL,
 CONSTRAINT [PK_CNS_TSK] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CnsTskCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
