USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_TCH]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_TCH](
	[BusCod] [nvarchar](20) NOT NULL,
	[TchCod] [int] IDENTITY(1,1) NOT NULL,
	[TchCodExt] [nvarchar](20) NULL,
	[TchTxt] [nvarchar](82) NOT NULL,
	[TchCntHrs] [nvarchar](50) NULL,
	[TchCmt] [text] NULL,
	[TchPrn] [int] NULL,
	[TchNikNme] [nvarchar](40) NULL,
	[TchNat] [nvarchar](20) NULL,
	[TchBrnDte] [datetime] NULL,
	[TchInbDte] [datetime] NULL,
	[TchOutDte] [datetime] NULL,
	[TchOutCmt] [nvarchar](400) NULL,
	[TchTtl] [nvarchar](40) NULL,
	[TchOthStd] [nvarchar](400) NULL,
	[TchJobHst] [nvarchar](400) NULL,
	[EduCatPrcCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_EDU_TCH] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TchCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
