USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_CFG_FLE_FLD]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CFG_FLE_FLD](
	[FleId] [int] NOT NULL,
	[FleFldId] [int] NOT NULL,
	[FleFldStr] [int] NULL,
	[FleFldLng] [int] NULL,
	[FleFldTyp] [nvarchar](5) NULL,
	[FleFldTxt] [nvarchar](50) NULL,
	[FleFldFtr] [nvarchar](50) NULL,
	[FleFldSkp] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_CFG_FLE_FLD] PRIMARY KEY CLUSTERED 
(
	[FleId] ASC,
	[FleFldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
