USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_PRC_VER]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_PRC_VER](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsPrcLstCod] [int] NOT NULL,
	[SlsPrcLstVerCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsPrcLstStrDte] [datetime] NOT NULL,
	[SlsPrcLstEndDte] [datetime] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SlsPrcLstAncSrc] [int] NULL,
	[SlsPrcLstAncPrcCod] [int] NULL,
	[SlsPrcLstAncVar] [decimal](6, 2) NULL,
	[SlsPrcLstAncUpd] [int] NULL,
	[SlsPrcLstAncTyp] [int] NULL,
 CONSTRAINT [PK_SLS_PRC_VER] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsPrcLstCod] ASC,
	[SlsPrcLstVerCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
