USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DOC_FLW_POS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DOC_FLW_POS](
	[BusCod] [nvarchar](20) NOT NULL,
	[DocFlwPosCod] [int] IDENTITY(1,1) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[SrcPosCod] [int] NOT NULL,
	[SrcPosQty] [decimal](13, 3) NULL,
	[RefObjTyp] [nvarchar](20) NULL,
	[RefObjCod] [int] NULL,
	[RefPosCod] [int] NULL,
	[RefPosQty] [decimal](13, 3) NOT NULL,
	[RefPosUntCod] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SrcObjClsCod] [int] NULL,
	[RefObjClsCod] [int] NULL,
 CONSTRAINT [PK_GRL_DOC_FLW_POS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[DocFlwPosCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
