USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_PRS_LQD_DOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_PRS_LQD_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[CnsPrsLqdDocCod] [int] IDENTITY(1,1) NOT NULL,
	[CnsPrsLqdCod] [int] NOT NULL,
	[RefObjTyp] [nvarchar](20) NOT NULL,
	[RefObjCod001] [int] NOT NULL,
	[RefObjCod002] [int] NOT NULL,
	[CnsPrsLqdDocQty] [decimal](13, 3) NULL,
	[MatUntCod] [nvarchar](5) NULL,
	[CnsPrsLqdDocPrc] [decimal](13, 3) NULL,
	[CnsPrsLqdDocTot] [decimal](13, 3) NULL,
	[CnsPrsLqdDocAtr001] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_CNS_PRS_LQD_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CnsPrsLqdDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
