USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[BUY_EXP]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUY_EXP](
	[BusCod] [nvarchar](20) NOT NULL,
	[BuyExpCod] [int] IDENTITY(1,1) NOT NULL,
	[BuyExpCodExt] [nvarchar](20) NULL,
	[BuyExpTxt] [nvarchar](50) NOT NULL,
	[BuyExpDte] [datetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[BuyExpTot] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[sysdocrejcod] [int] NULL,
	[BuyExpAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_BUY_EXP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BuyExpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
