USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PLN_CTR]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PLN_CTR](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltPlnCtrCod] [int] IDENTITY(1,1) NOT NULL,
	[PlnYth] [int] NOT NULL,
	[PlnMth] [int] NOT NULL,
	[SpcCod] [int] NOT NULL,
	[PatCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_PLN_CTR] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltPlnCtrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
