USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_TRF_LST]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_TRF_LST](
	[BusCod] [nvarchar](20) NOT NULL,
	[SptTrfLstCod] [int] IDENTITY(1,1) NOT NULL,
	[SptTrfCod] [int] NOT NULL,
	[SptTrfVerCod] [int] NOT NULL,
	[SptTrfMinVal] [int] NOT NULL,
	[SptTrfMaxVal] [int] NOT NULL,
	[SptTrfPrc] [decimal](13, 3) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_TRF_LST_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SptTrfLstCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
