USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_MED_MED]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_MED_MED](
	[BusCod] [nvarchar](20) NOT NULL,
	[MedId] [int] IDENTITY(1,1) NOT NULL,
	[MedRegNum] [int] NULL,
	[MedRegTql] [int] NULL,
	[MedActPcp] [nvarchar](100) NULL,
	[MedComNme] [nvarchar](100) NULL,
	[MedPrs] [nvarchar](100) NULL,
	[LabId] [int] NULL,
	[MedAcc] [nvarchar](100) NULL,
	[MedCmt] [nvarchar](250) NULL,
	[MedTyp] [nvarchar](1) NULL,
	[MedDto] [decimal](6, 3) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY]
GO
