USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_PTN]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_PTN](
	[BusCod] [nvarchar](20) NOT NULL,
	[PtnCod] [int] IDENTITY(1,1) NOT NULL,
	[PtnCodExt] [int] NOT NULL,
	[PtnTxt] [nvarchar](82) NOT NULL,
	[PtnInbDte] [datetime] NULL,
	[PtnCmt] [nvarchar](max) NULL,
	[PtnCrdSts] [nvarchar](2) NULL,
	[PtnCrdDte] [datetime] NULL,
	[PtnCatCod] [int] NULL,
	[PtnCrdUpdDte] [smalldatetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_SPT_PTN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PtnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
