USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_PRC_CND_CAT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_PRC_CND_CAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrcCndCatCod] [int] IDENTITY(1,1) NOT NULL,
	[PrcCndCatCodExt] [nvarchar](20) NULL,
	[PrcCndCatTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrcCndCatSynCod] [int] NULL,
 CONSTRAINT [PK_GRL_PRC_CND_CAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrcCndCatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
