USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_INV_MAT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_INV_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsInvCod] [int] NOT NULL,
	[SlsInvMatCod] [int] IDENTITY(1,1) NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatTxt] [nvarchar](50) NULL,
	[MatQty] [decimal](13, 3) NOT NULL,
	[MatUntCod] [nvarchar](5) NULL,
	[MatPrc] [decimal](13, 3) NULL,
	[MatTot] [decimal](13, 3) NULL,
	[CurCod] [nvarchar](5) NULL,
	[SlsInvMatCmt] [nvarchar](500) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SlsInvMatAtr] [nvarchar](4000) NULL,
	[DocRefTyp] [nvarchar](20) NULL,
	[DocRefCod] [int] NULL,
	[DocRefPosCod] [int] NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
	[SlsInvMatNetAmt] [decimal](13, 3) NULL,
	[SlsInvMatTaxAmt] [decimal](13, 3) NULL,
	[SlsInvMatTotAmt] [decimal](13, 3) NULL,
	[SlsInvMatVatAmt] [decimal](13, 3) NULL,
 CONSTRAINT [PK_SLS_INV_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsInvCod] ASC,
	[SlsInvMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
