USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CRM_CNT_STS]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_CNT_STS](
	[BusCod] [nvarchar](20) NOT NULL,
	[CrmCntStsCod] [int] IDENTITY(1,1) NOT NULL,
	[CrmCntStsCodExt] [nvarchar](10) NOT NULL,
	[CrmCntStsTxt] [nvarchar](50) NOT NULL,
	[CrmCntStsCls] [nvarchar](2) NOT NULL,
	[CrmCntStsAnt] [nvarchar](50) NULL,
	[CrmCntStsPos] [nvarchar](50) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CrmCntStsAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_CRM_CNT_STS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CrmCntStsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
