USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_CAT]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_CAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduCatCod] [int] IDENTITY(1,1) NOT NULL,
	[EduCatTxt] [nvarchar](40) NOT NULL,
	[EduCatTyp] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_EDU_CAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduCatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
