USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_PLN_PRE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_PLN_PRE](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduPlnPreCod] [int] IDENTITY(1,1) NOT NULL,
	[EduCurPlnCod] [int] NOT NULL,
	[EduCurCod] [int] NULL,
	[EduCarCod] [int] NULL,
	[EduCouCod] [int] NULL,
	[EduSubCod] [int] NULL,
	[StuCod] [int] NOT NULL,
	[StdLocCod] [int] NULL,
	[EduPlnPreDte] [smalldatetime] NOT NULL,
	[EduPlnInsCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_EDU_PLN_PND] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduPlnPreCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
