USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_PTN_CAT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_PTN_CAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[PtnCatCod] [int] IDENTITY(1,1) NOT NULL,
	[PtnCatCodExt] [nvarchar](20) NULL,
	[PtnCatTxt] [nvarchar](50) NOT NULL,
	[PtnCatChgMan] [int] NULL,
	[PtnCatAgeStr] [int] NULL,
	[PtnCatAgeEnd] [int] NULL,
	[PtnCatSex] [nvarchar](1) NULL,
	[SptTrfCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_PTN_CAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PtnCatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
