USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_SER]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_SER](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatSerCod] [int] IDENTITY(1,1) NOT NULL,
	[MatSerCodExt] [nvarchar](20) NOT NULL,
	[MatCod] [int] NOT NULL,
	[MatBchCod] [int] NULL,
	[StkObjStrDte] [datetime] NULL,
	[StkObjEndDte] [datetime] NULL,
	[SupCod] [int] NULL,
	[SupWrtStrDte] [datetime] NULL,
	[SupWrtEndDte] [datetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NULL,
	[StkMatSerAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_STK_MAT_SER] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatSerCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
