USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_MOD_PLN]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_MOD_PLN](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduModPlnCod] [int] IDENTITY(1,1) NOT NULL,
	[EduModCod] [int] NOT NULL,
	[EduCurCod] [int] NOT NULL,
	[EduCarCod] [int] NOT NULL,
	[EduCouCod] [int] NOT NULL,
	[EduSubCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[EduModPlnAtr] [nvarchar](4000) NULL,
 CONSTRAINT [PK_EDU_MOD_PLN] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduModPlnCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
