USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_AFL]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_AFL](
	[BusCod] [nvarchar](20) NOT NULL,
	[AflCod] [int] IDENTITY(1,1) NOT NULL,
	[AflTxt] [nvarchar](82) NOT NULL,
	[AdrNum] [int] NOT NULL,
	[AflNum] [nvarchar](10) NOT NULL,
	[IdtTypCod] [nvarchar](5) NULL,
	[AflIdtNum] [nvarchar](20) NULL,
	[AflCmt] [text] NULL,
	[AflBrnDte] [datetime] NULL,
	[AflInbDte] [datetime] NULL,
	[AflOutDte] [datetime] NULL,
	[AflOutCod] [int] NULL,
	[LndCodNat] [nvarchar](5) NULL,
	[EmpIncCod] [int] NULL,
	[EmpCatCod] [int] NULL,
	[EmpTypCod] [int] NULL,
	[AflSex] [nvarchar](1) NULL,
	[AflPmi] [nvarchar](20) NULL,
	[AflCui] [nvarchar](13) NULL,
	[DelCod] [int] NULL,
	[PatSikCod] [int] NULL,
	[PatDia] [nvarchar](400) NULL,
	[PatAccSts] [nvarchar](1) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
