USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_CSH_MOV]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_CSH_MOV](
	[BusCod] [nvarchar](20) NOT NULL,
	[CshMovId] [int] NOT NULL,
	[CshMovTyp] [nvarchar](1) NOT NULL,
	[CshMovDte] [datetime] NULL,
	[CshMovTxt] [nvarchar](250) NULL,
	[CshMovRef] [nvarchar](50) NULL,
	[PayMthCod] [nvarchar](20) NOT NULL,
	[PayMthTxt] [nvarchar](40) NOT NULL,
	[CshMovTot] [decimal](13, 3) NOT NULL,
	[BnkCod] [int] NULL,
	[BnkTxt] [nvarchar](40) NULL,
	[BnkAccCod] [int] NULL,
	[BnkAccTxt] [nvarchar](40) NULL,
	[BnkAccChkNum] [int] NULL,
	[BnkAccChkDte] [datetime] NULL,
	[DocSts] [nvarchar](2) NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_TSR_CSH_MOV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CshMovId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
