USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_SEC_PER]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_PER](
	[BusCod] [nvarchar](20) NOT NULL,
	[GrpCod] [nvarchar](20) NOT NULL,
	[UsrCod] [nvarchar](20) NOT NULL,
	[MdlCod] [nvarchar](20) NOT NULL,
	[PrgCod] [nvarchar](20) NOT NULL,
	[OprCod] [nvarchar](20) NOT NULL,
	[UsrPerTyp] [int] NOT NULL,
 CONSTRAINT [PK_SYS_SEC_PER] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[GrpCod] ASC,
	[UsrCod] ASC,
	[MdlCod] ASC,
	[PrgCod] ASC,
	[OprCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
