USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_MOV_DOC]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_MOV_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[TsrMovDocCod] [int] IDENTITY(1,1) NOT NULL,
	[TsrMovDocCodExt] [nvarchar](20) NULL,
	[TsrMovDocTxt] [nvarchar](50) NULL,
	[TsrMovDocDte] [datetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[CshCod] [int] NOT NULL,
	[TsrMovDocTotAmt] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](13, 5) NULL,
	[TsrMovDocAccDte] [smalldatetime] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[BnkAccCod] [int] NULL,
	[TsrMovTypCod] [int] NULL,
 CONSTRAINT [PK_TSR_DOC_MOV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TsrMovDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
