USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PRS_PRC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PRS_PRC](
	[BusCod] [nvarchar](20) NOT NULL,
	[PrsPrcCod] [int] IDENTITY(1,1) NOT NULL,
	[SpcCod] [int] NULL,
	[PrsCod] [int] NULL,
	[PatCod] [int] NULL,
	[PrsPrcDteStr] [datetime] NOT NULL,
	[PrsPrcDteEnd] [datetime] NOT NULL,
	[PrsPrcTyp] [int] NOT NULL,
	[PrsPrcVal] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[HltDisClsCod] [int] NULL,
 CONSTRAINT [PK_HLT_PRS_PRC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PrsPrcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
