USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAN_ACT_MAT]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAN_ACT_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkManActMatCod] [int] IDENTITY(1,1) NOT NULL,
	[StkManActCod] [int] NOT NULL,
	[StkManOrdCod] [int] NOT NULL,
	[StkManOrdMatCod] [int] NOT NULL,
	[StkManActMatCmt] [nvarchar](max) NULL,
	[StkManActMatAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocTreCod] [nvarchar](2) NULL,
	[SysDocRejCod] [int] NULL,
	[DocRefTyp] [nvarchar](20) NULL,
	[DocRefCod] [int] NULL,
	[DocRefPosCod] [int] NULL,
 CONSTRAINT [PK_STK_MAN_ACT_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkManActMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
