USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_ORG_CHT_WRK_EMP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_ORG_CHT_WRK_EMP](
	[BusCod] [nvarchar](20) NOT NULL,
	[hhrorgchtwrkempcod] [int] IDENTITY(1,1) NOT NULL,
	[hhrorgchtwrkcod] [int] NOT NULL,
	[hhremptmecod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HHR_ORG_CHT_WRK_EMP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[hhrorgchtwrkempcod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
