USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SPT_PTN_MED]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPT_PTN_MED](
	[BusCod] [nvarchar](20) NOT NULL,
	[PtnCod] [int] NOT NULL,
	[MedCod] [int] NOT NULL,
	[AdrNum] [int] NOT NULL,
	[MedAptDte] [smalldatetime] NOT NULL,
	[MedRegNum] [nvarchar](20) NOT NULL,
	[MedCmt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SPT_PTN_MED] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PtnCod] ASC,
	[MedCod] ASC,
	[AdrNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
