USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_DOC_RNG]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_DOC_RNG](
	[BusCod] [nvarchar](20) NOT NULL,
	[DocRngCod] [int] IDENTITY(1,1) NOT NULL,
	[DocRngCodExt] [nvarchar](20) NULL,
	[DocRngTxt] [nvarchar](50) NOT NULL,
	[ObjTypCod] [nvarchar](20) NOT NULL,
	[DocRngStrNum] [int] NOT NULL,
	[DocRngEndNum] [int] NOT NULL,
	[DocRngCurNum] [int] NULL,
	[DocRngAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DAT_DOC_RNG_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[DocRngCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
