USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_TAX_TYP]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_TAX_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[FinTaxTypCod] [int] IDENTITY(1,1) NOT NULL,
	[FinTaxTypCodExt] [nvarchar](20) NULL,
	[FinTaxTypTxt] [nvarchar](50) NOT NULL,
	[FinAccCod] [int] NULL,
	[FinTaxTypTyp] [nvarchar](2) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[FinTaxTypCat] [nvarchar](3) NULL,
 CONSTRAINT [PK_FIN_TAX_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FinTaxTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
