USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_WRK]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_WRK](
	[BusCod] [nvarchar](20) NOT NULL,
	[WrkFlwDatCod] [int] IDENTITY(1,1) NOT NULL,
	[WrkFlwCod] [int] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod001] [nvarchar](20) NOT NULL,
	[SrcObjCod002] [nvarchar](20) NULL,
	[RelSts] [nvarchar](2) NULL,
	[RelDte] [smalldatetime] NULL,
	[RelUsr] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DAT_WRK_1] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[WrkFlwDatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
