USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MAT_CST_HST]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MAT_CST_HST](
	[BusCod] [nvarchar](20) NOT NULL,
	[MatCod] [nvarchar](20) NOT NULL,
	[MatCstDte] [datetime] NOT NULL,
	[MatCst] [decimal](18, 3) NULL,
	[MatCstCurCod] [nvarchar](5) NULL,
	[MatCstQty] [decimal](18, 3) NULL,
	[MatCstUntCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SupCod] [int] NULL,
 CONSTRAINT [PK_STK_MAT_CST_HST] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MatCod] ASC,
	[MatCstDte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
