USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SLS_SVC]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_SVC](
	[BusCod] [nvarchar](20) NOT NULL,
	[SlsSvcCod] [int] IDENTITY(1,1) NOT NULL,
	[SlsSvcCodExt] [nvarchar](20) NULL,
	[SlsSvcTxt] [nvarchar](50) NOT NULL,
	[SlsSvcDte] [datetime] NOT NULL,
	[DstObjTyp] [nvarchar](20) NOT NULL,
	[DstObjCod] [int] NOT NULL,
	[SlsSvcTotAmt] [decimal](13, 3) NOT NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](9, 5) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[SlsSvcStrDte] [smalldatetime] NULL,
	[SlsSvcEndDte] [smalldatetime] NULL,
	[SlsPrcLstCod] [int] NULL,
	[SlsSvcAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_SLS_SVC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SlsSvcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
