USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_CFG_FLE]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CFG_FLE](
	[FleId] [int] NOT NULL,
	[FleTxt] [nvarchar](250) NULL,
	[FleTyp] [nvarchar](10) NULL,
	[FleSep] [nvarchar](1) NULL,
	[FleFldTxtSep] [nvarchar](1) NULL,
	[FleSkpHdrLin] [int] NULL,
	[FleFldDecSep] [nvarchar](1) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_CFG_FLE] PRIMARY KEY CLUSTERED 
(
	[FleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
