USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_MED_AUT_SRV]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_MED_AUT_SRV](
	[BusCod] [nvarchar](20) NOT NULL,
	[MedAutId] [int] NOT NULL,
	[NnmValId] [int] NOT NULL,
	[NnmValTxt001] [nvarchar](1250) NULL,
	[NnmGrpCod] [nvarchar](5) NULL,
	[NnmValQty] [int] NULL,
	[NnmValCmt] [nvarchar](250) NULL,
	[DocSts] [nvarchar](2) NULL,
 CONSTRAINT [PK_HLT_MED_AUT_SRV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MedAutId] ASC,
	[NnmValId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
