USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CRM_CNT]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_CNT](
	[BusCod] [nvarchar](20) NOT NULL,
	[CrmCntCod] [int] IDENTITY(1,1) NOT NULL,
	[CrmCntSrcTyp] [nvarchar](20) NOT NULL,
	[CrmCntSrcCod] [nvarchar](20) NOT NULL,
	[CrmCntSrcCntCod] [nvarchar](20) NULL,
	[CrmCntTypCod] [int] NOT NULL,
	[CrmCntMtvCod] [int] NOT NULL,
	[CrmCntRqs] [nvarchar](max) NULL,
	[CrmCntAtr] [nvarchar](max) NULL,
	[CrmCntReqDte] [smalldatetime] NULL,
	[CrmCntReqUsr] [nvarchar](20) NULL,
	[CrmCntTme] [nvarchar](5) NULL,
	[CrmCntStsCod] [int] NOT NULL,
	[CrmCntPrtCod] [int] NULL,
	[CrmCntDgt] [nvarchar](82) NULL,
	[SecCod] [int] NULL,
	[UsrCod] [nvarchar](20) NULL,
	[CrmCntHst] [text] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[CrmCntLog] [text] NULL,
	[EmpCod] [int] NULL,
	[CrmCntRefDoc] [nvarchar](20) NULL,
	[CrmCntTxt] [nvarchar](50) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[CrmCntDueDte] [datetime] NULL,
	[CrmCntKanUsrOrd] [int] NULL,
	[CrmCntKanStsOrd] [int] NULL,
 CONSTRAINT [PK_CRM_CNT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CrmCntCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
