USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_SEC_USR_BUS]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_USR_BUS](
	[UsrCod] [nvarchar](15) NOT NULL,
	[BusCod] [nvarchar](20) NOT NULL,
	[UsrTrmAcp] [smalldatetime] NULL,
 CONSTRAINT [PK_SYS_SEC_USR_BUS] PRIMARY KEY CLUSTERED 
(
	[UsrCod] ASC,
	[BusCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
