USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[STK_MOV_DOC]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STK_MOV_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[StkMovDocCod] [int] IDENTITY(1,1) NOT NULL,
	[StkMovDocCodExt] [nvarchar](20) NULL,
	[StkMovDocDte] [datetime] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [int] NOT NULL,
	[DstObjTyp] [nvarchar](20) NOT NULL,
	[DstObjCod] [int] NOT NULL,
	[StkMovDocLck] [int] NOT NULL,
	[StkMovDocPrnCnt] [int] NULL,
	[StkMovRsnCod] [int] NULL,
	[DlvCnfDte] [datetime] NULL,
	[DlvCnfMapGeo] [nvarchar](20) NULL,
	[DlvCnfSts] [nvarchar](2) NULL,
	[StkMovDocCmt] [nvarchar](400) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[revisar_StkDocClsBlc] [nvarchar](1) NULL,
	[revisar_StkDocClsRnt] [nvarchar](1) NULL,
	[revisar_StkMovDocNumPnt] [nvarchar](4) NULL,
	[DstCntCod] [int] NULL,
	[SrcCntCod] [int] NULL,
	[StkMovDocAtr] [nvarchar](4000) NULL,
	[StkMovDocCnf] [nvarchar](4000) NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
	[sysdocrejcod] [int] NULL,
	[traroucod] [int] NULL,
	[AccUsr] [nvarchar](20) NULL,
	[AccDte] [smalldatetime] NULL,
 CONSTRAINT [PK_STK_MOV_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[StkMovDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
