USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_STE_EVT_DOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_STE_EVT_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[SteEvtDocCod] [int] IDENTITY(1,1) NOT NULL,
	[SteEvtCod] [int] NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[SrcObjTxt] [nvarchar](82) NOT NULL,
	[SteEvtDocAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_CNS_STE_EVT_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SteEvtDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
