USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[FIN_MOV_DOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_MOV_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[FinMovDocCod] [int] IDENTITY(1,1) NOT NULL,
	[FinMovDocCodExt] [nvarchar](20) NULL,
	[FinMovDocTxt] [nvarchar](50) NULL,
	[FinMovDocDte] [datetime] NOT NULL,
	[FinMovDocAccDte] [datetime] NOT NULL,
	[FscPerCod] [int] NOT NULL,
	[AccObjTyp] [nvarchar](20) NULL,
	[AccObjCod] [nvarchar](20) NULL,
	[CurCod] [nvarchar](5) NOT NULL,
	[CurExcRte] [decimal](13, 3) NULL,
	[SrcObjTyp] [nvarchar](20) NULL,
	[SrcObjCod] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[sysdoctrecod] [nvarchar](2) NULL,
 CONSTRAINT [PK_FIN_MOV_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FinMovDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
