USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CRM_CNT_MTV]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_CNT_MTV](
	[BusCod] [nvarchar](20) NOT NULL,
	[CrmCntMtvCod] [int] IDENTITY(1,1) NOT NULL,
	[CrmCntMtvCodExt] [nvarchar](20) NULL,
	[CrmCntMtvTxt] [nvarchar](50) NOT NULL,
	[CrmCntMtvAct] [nvarchar](4000) NULL,
	[CrmCntTypCod] [int] NOT NULL,
	[CrmCntPrtCod] [int] NULL,
	[CrmCntStsCod] [int] NULL,
	[CrmCntMtvFrm] [nvarchar](400) NULL,
	[SecCod] [int] NULL,
	[CrmCntMtvAtr] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[AutCod] [nvarchar](5) NULL,
 CONSTRAINT [PK_CRM_CNT_MTV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CrmCntMtvCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
