USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_SEC_USR]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_USR](
	[UsrCod] [nvarchar](20) NOT NULL,
	[UsrTxt] [nvarchar](82) NULL,
	[UsrPwd] [nvarchar](512) NOT NULL,
	[UsrCntHrs] [nvarchar](35) NULL,
	[UsrPrfWndRfh] [int] NULL,
	[UsrPrfWndSty] [nvarchar](50) NULL,
	[LngCod] [nvarchar](2) NULL,
	[UsrAccErrLstDte] [smalldatetime] NULL,
	[UsrAccErrQty] [int] NULL,
	[UsrAccTrmAgrDte] [smalldatetime] NULL,
	[UsrAccTrmDsgDte] [smalldatetime] NULL,
	[UsrSysAcc] [int] NULL,
	[UsrAutLvl] [int] NULL,
	[UsrAccLck] [nvarchar](1) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[UsrAtr001] [nvarchar](4000) NULL,
	[UsrPwdChg] [nvarchar](1) NULL,
	[UsrPwdChgDte] [smalldatetime] NULL,
 CONSTRAINT [PK_SYS_SEC_USR] PRIMARY KEY CLUSTERED 
(
	[UsrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
