USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_PAT_EVL_MAT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_PAT_EVL_MAT](
	[BusCod] [nvarchar](20) NOT NULL,
	[EvlMatCod] [int] IDENTITY(1,1) NOT NULL,
	[EvlCod] [int] NOT NULL,
	[matcod] [int] NULL,
	[mattxt] [nvarchar](50) NULL,
	[matqty] [decimal](9, 3) NULL,
	[matuntcod] [nvarchar](5) NULL,
	[matfrq] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[matbchcod] [int] NULL,
	[matbchcodext] [nvarchar](20) NULL,
	[matbchduedte] [datetime] NULL,
	[matsercod] [int] NULL,
	[matsercodext] [nvarchar](20) NULL,
	[matcmt] [nvarchar](4000) NULL,
	[matatrval001] [nvarchar](4000) NULL,
 CONSTRAINT [PK_HLT_PAT_EVL_MAT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EvlMatCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
