USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[TSR_BNK_ACC]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSR_BNK_ACC](
	[BusCod] [nvarchar](20) NOT NULL,
	[BnkAccCod] [int] IDENTITY(1,1) NOT NULL,
	[BnkAccCodExt] [nvarchar](20) NULL,
	[BnkAccTxt] [nvarchar](40) NULL,
	[CurCod] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_TSR_BNK_ACC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[BnkAccCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
