USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_RPT_AUT]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_RPT_AUT](
	[BusCod] [nvarchar](20) NOT NULL,
	[RptCod] [int] NOT NULL,
	[RptSys] [int] NOT NULL,
	[RptPerUsr] [nvarchar](max) NULL,
	[RptPerRls] [nvarchar](max) NULL,
	[AutCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_RPT_AUT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[RptCod] ASC,
	[RptSys] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
