USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_MED_AUT_LOG]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_MED_AUT_LOG](
	[BusCod] [nvarchar](20) NOT NULL,
	[MedAutId] [int] NOT NULL,
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogDte] [datetime] NOT NULL,
	[UsrCod] [nvarchar](20) NOT NULL,
	[SecCod] [int] NULL,
	[LogTxt] [nvarchar](400) NULL,
 CONSTRAINT [PK_HLT_MED_AUT_LOG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[MedAutId] ASC,
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
