USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_DIS_CLS]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_DIS_CLS](
	[BusCod] [nvarchar](20) NOT NULL,
	[HltDisClsCod] [int] IDENTITY(1,1) NOT NULL,
	[HltDisClsTxt] [nvarchar](50) NOT NULL,
	[HltDisClsCodExt] [nvarchar](10) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_HLT_DIS_CLS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HltDisClsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
