USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_PER]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_PER](
	[BusCod] [nvarchar](20) NOT NULL,
	[PerNum] [int] IDENTITY(1,1) NOT NULL,
	[PerBrnDte] [datetime] NULL,
	[PerSex] [nvarchar](20) NULL,
	[CivStsCod] [nvarchar](2) NULL,
	[PerNatCod] [nvarchar](5) NULL,
	[HhrMedCovCod] [int] NULL,
	[HhrMedCovTxt] [nvarchar](50) NULL,
	[HhrMedCovAflPln] [nvarchar](50) NULL,
	[HhrMedCovAflNum] [nvarchar](50) NULL,
	[PerSrcTyp] [nvarchar](20) NOT NULL,
	[PerSrcCod] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[BldGrpTyp] [nvarchar](20) NULL,
	[BldGrpFct] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DAT_PER] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[PerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
