USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_WRK_STE]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_WRK_STE](
	[BusCod] [nvarchar](20) NOT NULL,
	[WrkSteCod] [int] IDENTITY(1,1) NOT NULL,
	[WrkSteCodExt] [nvarchar](20) NULL,
	[WrkSteTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[WrkSteDes] [nvarchar](max) NULL,
	[WrkSteTyp] [nvarchar](2) NULL,
	[WrkSteEvl] [nvarchar](max) NULL,
 CONSTRAINT [PK_HHR_ORG_WRK] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[WrkSteCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
