USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CNS_STE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNS_STE](
	[BusCod] [nvarchar](20) NOT NULL,
	[SteCod] [int] IDENTITY(1,1) NOT NULL,
	[SteCodExt] [nvarchar](20) NULL,
	[SteTxt] [nvarchar](50) NOT NULL,
	[CusCod] [int] NULL,
	[SteCmt] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
	[CnsSteAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_CNS_STE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SteCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
