USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[CRM_CNT_TYP]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_CNT_TYP](
	[BusCod] [nvarchar](20) NOT NULL,
	[CrmCntTypCod] [int] IDENTITY(1,1) NOT NULL,
	[CrmCntTypCodExt] [nvarchar](20) NULL,
	[CrmCntTypTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[AutCod] [nvarchar](5) NULL,
	[CrmCntTypAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_CRM_CNT_TYP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CrmCntTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
