USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_SEC_USR_LNK]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_USR_LNK](
	[BusCod] [nvarchar](20) NOT NULL,
	[UsrCod] [nvarchar](20) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](2) NULL,
	[CteDte] [smalldatetime] NULL,
	[CteUsr] [nvarchar](20) NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_SEC_USR_LNK] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[UsrCod] ASC,
	[SrcObjTyp] ASC,
	[SrcObjCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
