USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_FLE]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_FLE](
	[BusCod] [nvarchar](20) NOT NULL,
	[FleCod] [int] IDENTITY(1,1) NOT NULL,
	[FleNme] [nvarchar](250) NOT NULL,
	[FleSze] [bigint] NULL,
	[FleExt] [nvarchar](10) NULL,
	[FleTyp] [nvarchar](250) NULL,
	[FleDsp] [nvarchar](250) NULL,
	[FleCmt] [nvarchar](4000) NULL,
	[FleSrcTyp] [nvarchar](10) NOT NULL,
	[FleSrcCod] [nvarchar](20) NOT NULL,
	[FleSrcFld] [nvarchar](40) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[FleAtr] [nvarchar](4000) NULL,
	[FleTypCod] [int] NULL,
	[FleDueDte] [smalldatetime] NULL,
 CONSTRAINT [PK_GRL_DAT_FLE] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[FleCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
