USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[EDU_TCH_LQD_DOC]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDU_TCH_LQD_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[EduTchLqdDocCod] [int] IDENTITY(1,1) NOT NULL,
	[EduTchLqdCod] [int] NOT NULL,
	[RefObjTyp] [nvarchar](20) NOT NULL,
	[RefObjCod001] [int] NOT NULL,
	[RefObjCod002] [int] NOT NULL,
	[EduTchLqdDocCodExt] [nvarchar](20) NULL,
	[EduTchLqdDocTxt] [nvarchar](4000) NULL,
	[EduTchLqdDocTot] [decimal](13, 3) NULL,
	[CurCod] [nvarchar](5) NULL,
	[EduTchLqdDocAtr001] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[EduTchLqdDocDte] [datetime] NULL,
 CONSTRAINT [PK_EDU_TCH_LQD_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[EduTchLqdDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
