USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[SYS_DOC_TAG]    Script Date: 24/4/2026 14:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_TAG](
	[BusCod] [nvarchar](20) NOT NULL,
	[SysDocTagCod] [int] IDENTITY(1,1) NOT NULL,
	[SysDocTagCodExt] [nvarchar](20) NULL,
	[SysDocTagTxt] [nvarchar](50) NOT NULL,
	[SysDocTagAtr] [nvarchar](max) NULL,
	[ObjTypCod] [nvarchar](20) NOT NULL,
	[AutCod] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_DOC_TAG] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SysDocTagCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
