USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HLT_DEL]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HLT_DEL](
	[BusCod] [nvarchar](20) NOT NULL,
	[DelCod] [int] IDENTITY(1,1) NOT NULL,
	[DelCodExt] [nvarchar](20) NULL,
	[DelTxt] [nvarchar](50) NOT NULL,
	[DelTypCod] [nvarchar](1) NOT NULL,
	[RegDellCod] [int] NULL,
	[DelCntHrs] [nvarchar](4000) NULL,
	[DelCmt] [nvarchar](4000) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HLT_DEL] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[DelCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
