USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[GRL_DAT_LND]    Script Date: 24/4/2026 14:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_LND](
	[LndCod] [nvarchar](5) NOT NULL,
	[LndTxt] [nvarchar](60) NOT NULL,
	[LndNat] [nvarchar](40) NULL,
	[LndIsoCod] [nvarchar](3) NULL,
	[LndIsoKey] [nvarchar](3) NULL,
	[LndIsoKeySht] [nvarchar](2) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DAT_LND] PRIMARY KEY CLUSTERED 
(
	[LndCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
