USE [tmssTeam2]
GO
/****** Object:  Table [dbo].[HHR_EMP]    Script Date: 24/4/2026 14:01:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HHR_EMP](
	[BusCod] [nvarchar](20) NOT NULL,
	[HhrEmpCod] [int] IDENTITY(1,1) NOT NULL,
	[HhrEmpCodExt] [nvarchar](20) NULL,
	[HhrEmpTxt] [nvarchar](82) NOT NULL,
	[HhrEmpInbDte] [datetime] NULL,
	[HhrEmpOutDte] [datetime] NULL,
	[HhrEmpOutCmt] [nvarchar](4000) NULL,
	[HhrEmpNikNme] [nvarchar](40) NULL,
	[HhrEmpCntHrs] [nvarchar](50) NULL,
	[HhrEmpBrnDte] [datetime] NULL,
	[HhrEmpTtl] [nvarchar](40) NULL,
	[HhrEmpOthStd] [nvarchar](4000) NULL,
	[HhrEmpJobHst] [nvarchar](4000) NULL,
	[HhrEmpCmt] [nvarchar](4000) NULL,
	[HhrEmpNat] [nvarchar](20) NULL,
	[HhrEmpPrn] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[DelDte] [smalldatetime] NULL,
	[DelUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NOT NULL,
 CONSTRAINT [PK_HHR_EMP] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[HhrEmpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
