USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_PAY_MTH_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TSR_PAY_MTH_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_paymthcod		as int			= null,	-- id
@lp_paymthcodext	as nvarchar(20) = null,	-- codigo
@lp_paymthtxt		as nvarchar(50)	= null,	-- descripción
@lp_paymthtyp		as nvarchar(05) = null, -- tipo de vía de pago
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- config vista

@lp_tsrpaymthatr	as nvarchar(max)=null	-- atributos

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not isnull(@lp_paymthcodext,'')=''
			if exists(select top 1 * from TSR_PAY_MTH where buscod=@lp_buscod and not paymthcod=@lp_paymthcod and paymthcodext=@lp_paymthcodext)
				begin
					select null, -1 as errcod, 'Código duplicado.' as errtxt
					RETURN
				end

	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		INSERT INTO TSR_PAY_MTH	(buscod, paymthcodext, paymthtxt, PayMthTyp, docsts, cteusr, ctedte, tsrpaymthatr)
		VALUES (@lp_buscod, @lp_paymthcodext, @lp_paymthtxt, @lp_paymthtyp, @lp_docsts, @lp_username, getdate(), @lp_tsrpaymthatr )  
		SET @lv_errcod = @@ERROR
		SET @lp_paymthcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_paymthcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE TSR_PAY_MTH 
		SET	paymthcodext = @lp_paymthcodext,
			paymthtxt= @lp_paymthtxt,
			PayMthTyp = @lp_paymthtyp,
			tsrpaymthatr=@lp_tsrpaymthatr,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and paymthcod = @lp_paymthcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_paymthcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM TSR_PAY_MTH
		WHERE buscod = @lp_buscod
		  and paymthcod = @lp_paymthcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF exists(select top 1 * from grl_dat_bnk where buscod=@lp_buscod and paymthcod=@lp_paymthcod)
			begin
				select null, -41 as errcod, 'No se puede borrar. Existen datos asociados.' as errtxt
				return
			end
		
		BEGIN TRAN
		
		DELETE 
		FROM TSR_PAY_MTH
		WHERE buscod = @lp_buscod
		  and paymthcod = @lp_paymthcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_paymthcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM TSR_PAY_MTH '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end) 
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END













GO
