USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_ACC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_ACC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_ptnbarcod		as nvarchar(20)	= null,	-- cÃ³digo 
@lp_acctyp			as nvarchar(10) = null	-- tipo 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

declare @lv_ptncodext as nvarchar(10) = cast( cast(left(@lp_ptnbarcod,10) as bigint) as nvarchar(10) )

declare @lv_ptncod as int
if cast(left(@lp_ptnbarcod,10) as bigint)>-2147483648 and cast(left(@lp_ptnbarcod,10) as bigint)<2147483647
	set @lv_ptncod = (select top 1 ptncod from spt_ptn where buscod=@lp_buscod and ptncodext=@lv_ptncodext and deldte is null)
else
	set @lv_ptncod = null

declare @lv_ptntxt as nvarchar(82)
declare @lv_ptnbrndte as datetime
declare @lv_ptnregdte as datetime
declare @lv_ptncrdsts as nvarchar(2)
declare @lv_ptncrddte as datetime
declare @lv_ptndoctyp as nvarchar(10)
declare @lv_ptndocnum as nvarchar(10)
declare @lv_ptncatcod as int
declare @lv_ptncattxt as nvarchar(40)
declare @lv_docsts as nvarchar(2)

declare @lv_duemth as int
declare @lv_maxtktqty as int
declare @lv_tktqty as int
declare @lv_ptnpic as int

declare @lv_adrphn001 as nvarchar(20)

-- ---------------------------------------------------------------------------- 
--   E R R O R E S																
-- ---------------------------------------------------------------------------- 
--	-1	NÃºmero de socio invÃ¡lido.												
-- ---------------------------------------------------------------------------- 

-- ---------------------------------------------------------------------------- 
--   13 / 11   -    C O N T R O L												
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation='13' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		-- nro de socio 
		IF @lv_ptncod is null
			BEGIN
				SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'NÃºmero de socio invÃ¡lido.' as ptnstsmsg, null as ptncodext, null as ptntxt, null as ptncatcod, null as ptncattxt, null as ptnpic
				RETURN
			END

		-- recupero datos de socio 
		select @lv_ptncod=p.ptncod,
    			 @lv_ptncodext=p.ptncodext, 
				@lv_ptncrdsts=p.ptncrdsts, 
				@lv_ptncrddte=p.ptncrddte,
				@lv_ptncatcod=p.ptncatcod,
				@lv_docsts=p.docsts,
				@lv_ptntxt=p.ptntxt,
				@lv_ptncattxt=c.ptncattxt,
				@lv_ptnpic=f.flecod,
        @lv_adrphn001=da.adrphn001
		from spt_ptn p
		left join spt_ptn_cat c on c.buscod=p.buscod and c.ptncatcod=p.ptncatcod
		left join grl_dat_fle f on f.buscod=p.buscod and f.flesrctyp='SPT_PTN' and f.flesrccod=p.ptncod and f.flesrcfld='PTNPIC'
    left join GRL_DAT_ADR da on da.buscod=p.buscod and da.adrsrctyp='SPT_PTN' and da.adrsrccod=p.ptncod
		where p.buscod=@lp_buscod
		  and p.ptncod=@lv_ptncod
		  and p.deldte is null

		-- valido categoria 
		if @lv_ptncatcod is null
			BEGIN
				SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'SOCIO NO CATEGORIZADO' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_docsts as docsts, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
				RETURN
			END			

		-- valido fecha de ingreso 
		if @lv_ptnregdte is null
			BEGIN
				SELECT @lv_ptncod as ptncod, 0 as errcod, '' as errmsg, 'E' as ptnsts, 'SOCIO NO EMPADRONADO' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_docsts as docsts, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
				RETURN
			END			
		
		-- valido ESTADO 
		IF not @lv_docsts='A'
			BEGIN
				SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'SOCIO INACTIVO' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_docsts as docsts, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
				RETURN
			END
		
		-- valido categorÃ­a 
		if len(@lp_ptnbarcod)>=12
			begin
				if not right(left(@lp_ptnbarcod,12),2) = (case when @lv_ptncatcod<10 then '0' else '' end)+cast(@lv_ptncatcod as nvarchar(2))
					begin
						SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'Carnet vencido. No coincide categorÃ­a.' as ptnstsmsg, null as ptncodext, null as ptntxt, null as docsts, null as ptncatcod, null as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
						RETURN
					end
			end	

		-- valido fecha de carnet 
		if len(@lp_ptnbarcod)=20
			begin
				if not right(@lp_ptnbarcod,8)=cast( (datepart(year,@lv_ptncrddte)*10000)+(datepart(month,@lv_ptncrddte)*100)+datepart(day,@lv_ptncrddte) as nvarchar(8) )
					begin
						SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'Carnet anulado. Se ha impreso otro ejemplar.' as ptnstsmsg, null as ptncodext, null as ptntxt, null as docsts, null as ptncatcod, null as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
						RETURN
					end
			end	

		-- obtegno parÃ¡metro para detemrinar la cantidad de meses adeudados para inhabilitar 
		set @lv_duemth = isnull( (select top 1 prmval from sys_app_prm where mdlcod='SPT' and prmcodext='NumberOfDueMonths') , 9999 )
		-- obtengo parÃ¡metro para determinar cantidad mÃ¡xima de tickets a vender por dÃ­a 
		set @lv_maxtktqty = isnull( (select top 1 prmval from sys_app_prm where mdlcod='SPT' and prmcodext='DailyTicketQuantity'), 9999 )

		-- valido DEUDA 
		declare @lv_duedte as smalldatetime
		set @lv_duedte = dateadd(month, (@lv_duemth*-1) ,getdate())
		IF ( select sum(sptdbtamtrst) from spt_dbt_ptn where buscod=@lp_buscod and ptncod=@lv_ptncod and docsts='A' and sptdbtexpdte<@lv_duedte and not sptdbtamtrst=0 ) > 0
			BEGIN
				SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'REGISTRA DEUDA' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_docsts as docsts, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
				RETURN
			END

		-- valido TICKETS 
		if @lp_sysoperation='11'
			BEGIN
				SET @lv_tktqty = (select sum(spttktqty) from spt_acc where buscod=@lp_buscod and ptncod=@lv_ptncod and datepart(year,spttktday)=datepart(year,getdate()) and datepart(month,spttktday)=datepart(month,getdate()) and datepart(day,spttktday)=datepart(day,getdate()))
				IF ( @lv_maxtktqty <= @lv_tktqty )
					BEGIN
						SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'VENDIDOS '+cast(@lv_tktqty as nvarchar(5))+' TICKETS' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
						RETURN
					END
				ELSE
					BEGIN
						BEGIN TRAN
						INSERT INTO SPT_ACC (buscod, ptncod, spttktday, spttktqty, docsts, ctedte, cteusr)
						VALUES (@lp_buscod, @lv_ptncod, getdate(), 1,  'A', getdate(), @lp_username)
						SET @lv_errcod=@@ERROR
						IF @lv_errcod=0
							BEGIN
								COMMIT TRAN
								SELECT 0 as errcod, '' as errmsg, 'I' as ptnsts, '' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
								RETURN
							END
						ELSE
							BEGIN
								ROLLBACK TRAN
								SELECT 0 as errcod, '' as errmsg, 'E' as ptnsts, 'ERROR AL REGISTRAR VENTA' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001
								RETURN
							END
					END
			END

		-- socio ok 
		SELECT TOP 1 0 as errcod, '' as errmsg,	'I' as ptnsts, '' as ptnstsmsg, @lv_ptncodext as ptncodext, @lv_ptntxt as ptntxt, @lv_ptncatcod as ptncatcod, @lv_ptncattxt as ptncattxt, @lv_ptnpic as ptnpic, @lv_adrphn001 as adrphn001

	END
		
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
