USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CRM_CNT_MTV_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRM_CNT_MTV_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_crmcntmtvcod	as int			= null,	-- id 
@lp_crmcntmtvcodext	as nvarchar(20)	= null,	-- codigo 
@lp_crmcntmtvtxt	as nvarchar(50)	= null,	-- descripcion 	
@lp_crmcntmtvact	as nvarchar(max)=null,	-- Detalle de Actividades 

@lp_crmcnttypcod	as nvarchar(05)	= null,	-- Tipo de Contacto 
@lp_crmcntprtcod	as nvarchar(20)	= null,	-- Prioridad 
@lp_CrmCntStsCod	as nvarchar(20)	= null,	-- estado de contacto 
@lp_seccod			as nvarchar(05)	= null,	-- Sector 
@lp_crmcntMtvfrm	as nvarchar(400)= null,	-- formulario asociado 
@lp_CrmCntMtvAtr	as nvarchar(max)=null,	-- atributos 

@lp_docsts 			as nvarchar(02)	= null,	-- Estado 

@lp_vewcfg			as nvarchar(max)=null,

@lp_autcod			as nvarchar(05)	= null	-- objeto autorizaciÃ³n 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errcod int = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CRM'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MTV'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Tipo de contacto invÃ¡lido											
--	-2	Sector invÃ¡lido														
--	-3	Prioridad invÃ¡lida													
--	-4	No se puede borrar. Existen contactos relacionados.					
--	-5	CÃ³digo existente.													
--	-6	Estado invÃ¡lido.													
-- ------------------------------------------------------------------------ 



-- ------------------------------------------------------------------------ 
--    V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN

		-- valido codigo duplicado 
		if(not @lp_crmcntmtvcodext='')
			if exists(select top 1 * from crm_cnt_mtv where buscod=@lp_buscod and not crmcntmtvcod=@lp_crmcntmtvcod and crmcntmtvcodext=@lp_crmcntmtvcodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					return
				end

		-- valido que el tipo de contacto exista 
		IF not exists(select top 1 * from crm_cnt_typ where buscod=@lp_buscod and crmcnttypcod=@lp_crmcnttypcod)
			BEGIN
				SELECT 'E' as errtyp, -1 as errcod, 'InvalidContactType' as errmsg
				RETURN
			END

		-- valido que la prioridad exista 
		if not isnull(@lp_crmcntprtcod,'')=''
			IF not exists(select top 1 * from crm_cnt_prt where buscod=@lp_buscod and crmcntprtcod=@lp_crmcntprtcod)
				BEGIN
					SELECT 'E' as errtyp, -3 as errcod, 'InvalidPriority' as errmsg
					RETURN
				END
			
		-- valido que el estado exista 
		if not isnull(@lp_crmcntstscod,'')=''
			IF not exists(select top 1 * from crm_cnt_sts where buscod=@lp_buscod and crmcntstscod=@lp_crmcntstscod)
				BEGIN
					SELECT 'E' as errtyp, -6 as errcod, 'InvalidStatus' as errmsg
					RETURN
				END

	END
  
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		-- Verifico que no existan contactos relacionados CRM 
		IF exists(select top 1 * from crm_cnt where buscod=@lp_buscod and crmcntmtvcod=@lp_crmcntmtvcod and deldte is null)
			BEGIN
				SELECT 'E' as errtyp, -4 as errcod, 'CANTDELETEDRELATEDCONTACTS' as errmsg
				RETURN
			END
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1   
			
		BEGIN TRAN

		INSERT INTO CRM_CNT_MTV
			(buscod, crmcntmtvcodext, crmcntmtvtxt, crmcntmtvact, CrmCntMtvfrm, CrmCntMtvAtr,
			crmcnttypcod, crmcntprtcod, CrmCntStsCod, seccod, autcod, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_crmcntmtvcodext, @lp_crmcntmtvtxt, @lp_crmcntmtvact, @lp_CrmCntMtvfrm, @lp_CrmCntMtvAtr,
			@lp_crmcnttypcod, @lp_crmcntprtcod, @lp_CrmCntStsCod, @lp_seccod, @lp_autcod, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_crmcntmtvcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntmtvcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE CRM_CNT_MTV 
		SET	crmcntmtvcodext = @lp_crmcntmtvcodext,
			crmcntmtvtxt = @lp_crmcntmtvtxt,
			crmcntmtvact = @lp_crmcntmtvact,
			crmcnttypcod = @lp_crmcnttypcod,
			crmcntprtcod = @lp_crmcntprtcod,
			CrmCntStsCod = @lp_CrmCntStsCod,
			seccod = @lp_seccod,
			CrmCntMtvFrm = @lp_CrmCntMtvFrm,
			CrmCntMtvAtr = @lp_crmcntmtvatr,
			autcod = @lp_autcod, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and crmcntmtvcod = @lp_crmcntmtvcod
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
					
		SELECT @lp_crmcntmtvcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT cm.*, ct.crmcnttyptxt, cp.crmcntprttxt, cs.crmcntststxt 
		FROM CRM_CNT_MTV cm
		left join CRM_CNT_TYP ct on ct.buscod=cm.buscod and ct.crmcnttypcod=cm.crmcnttypcod 		
		left join CRM_CNT_PRT cp on cp.buscod=cm.buscod and cp.crmcntprtcod=cm.crmcntprtcod 
		left join CRM_CNT_STS cs on cs.buscod=cm.buscod and cs.crmcntstscod=cm.crmcntstscod
		WHERE cm.buscod= @lp_buscod
			and cm.crmcntmtvcod= @lp_crmcntmtvcod
			
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		DELETE 
		FROM CRM_CNT_MTV
		WHERE buscod = @lp_buscod
		  and crmcntmtvcod = @lp_crmcntmtvcod
		SET @lv_errcod=@@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntmtvcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg,
										' m.*, dbo.getTagValue('+QUOTENAME('crmcntmtvfrmnme','''')+',m.crmcntmtvatr) as crmcntmtvfrmnme, t.crmcnttyptxt, s.crmcntststxt ',
										' CRM_CNT_MTV m'
										+ ' left join CRM_CNT_TYP t on t.buscod=m.buscod and t.crmcnttypcod=m.crmcnttypcod '
										+ ' left join CRM_CNT_STS s on s.buscod=m.buscod and s.crmcntstscod=m.crmcntstscod ',
										' m.buscod='+QUOTENAME(@lp_buscod,'''')
										+ ' and ( isnull(t.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
											+ ' or t.autcod in (select distinct autcod from sys_sec_per_aut '
											+ ' where buscod='+QUOTENAME(@lp_buscod,'''')
											+   ' and ( (usrcod='+QUOTENAME(@lp_username,'''')+' and grpcod='+QUOTENAME('**','''')+') '
											+      ' or (usrcod='+QUOTENAME('**','''')+' and grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod='+QUOTENAME(@lp_buscod,'''')+' and usrcod='+QUOTENAME(@lp_username,'''')+') ) ) '
											+   ') ) ' 
										+ ' and ( isnull(m.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
											+ ' or m.autcod in (select distinct autcod from sys_sec_per_aut '
											+ ' where buscod='+QUOTENAME(@lp_buscod,'''')
											+   ' and ( (usrcod='+QUOTENAME(@lp_username,'''')+' and grpcod='+QUOTENAME('**','''')+') '
											+      ' or (usrcod='+QUOTENAME('**','''')+' and grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod='+QUOTENAME(@lp_buscod,'''')+' and usrcod='+QUOTENAME(@lp_username,'''')+') ) ) '
											+   ') ) ' 
										+ (case when isnull(@lp_docsts,'')='' then '' else ' and m.docsts='+QUOTENAME(@lp_docsts,'''') end),
										'm.crmcntmtvtxt', '')
		execute (@lv_sql)
		select @lv_sql
	END



-- ------------------------------------------------------------------------ 
--   23    -    B U S Q U E D A   A L F A B E T I C A  						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1 

		SELECT m.*, p.crmcntprttxt, s.sectxt
		FROM CRM_CNT_MTV m
			left join CRM_CNT_PRT p on p.buscod=m.buscod and p.crmcntprtcod=m.crmcntprtcod
			left join HHR_SEC s on s.buscod=m.buscod and s.seccod=m.seccod
		WHERE m.buscod=@lp_buscod
		  and m.crmcnttypcod = @lp_crmcnttypcod
		  and m.crmcntmtvtxt like '%' + @lp_crmcntmtvtxt + '%'
		  and m.docsts='A'

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	 END
GO
