USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_WMS_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[STK_WMS_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20) = null,	-- empresa
@lp_wmstypcod		as int			= null,	-- id
@lp_wmstypcodext	as nvarchar(20)	= null,	-- codigo
@lp_wmstyptxt		as nvarchar(50)	= null,	-- descripción
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuración ede la vista

@lp_strloccod		as int			= null	-- almacen

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0



/* ------------------------------------------------------------------------- */
/*   V A L I D A C I O N E S		 										 */
/* ------------------------------------------------------------------------- */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		IF not isnull(@lp_wmstypcodext,'')=''
			IF exists(select top 1 * from STK_WMS_TYP where buscod=@lp_buscod and not wmstypcod=@lp_wmstypcod and wmstypcodext=@lp_wmstypcodext)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
					RETURN
				END
		
	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO STK_WMS_TYP	(BusCod, wmstypcodext, wmstyptxt, strloccod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_wmstypcodext, @lp_wmstyptxt, @lp_strloccod, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_wmstypcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_wmstypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE STK_WMS_TYP 
		SET wmstypcodext = @lp_wmstypcodext,
			wmstyptxt=@lp_wmstyptxt, 
			strloccod = @lp_strloccod,
			docsts=@lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and wmstypcod = @lp_wmstypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_wmstypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*, l.strloctxt
		FROM STK_WMS_TYP t
		left join STK_STR_LOC l on l.buscod=t.buscod and l.strloccod=t.strloccod 
		WHERE t.buscod = @lp_buscod
		  and t.wmstypcod = @lp_wmstypcod
		  
	END




/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		DELETE 
		FROM STK_WMS_TYP
		WHERE buscod = @lp_buscod
		  and wmstypcod = @lp_wmstypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_wmstypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_sql as nvarchar(max)
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, l.strloctxt '
			+ ' FROM STK_WMS_TYP t '
			+ ' left join STK_STR_LOC l on l.buscod=t.buscod and l.strloccod=t.strloccod  '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
