USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_SEC_USR_GRP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_usrcod			as nvarchar(20)	= null,		-- usuario 
@lp_usrgrpcod		as nvarchar(20) = null,		-- grupo 
@lp_docsts			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)=null,		-- configuración vista 

@lp_usrgrpatr001	as nvarchar(max)=null

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lp_delimiter as nvarchar(1) = char(9)
DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   0 2    -    A C T U A L I Z A R										
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    
	
		BEGIN TRAN

		-- ROLES DE USUARIO
		if not ISNULL(@lp_usrcod,'')=''
			BEGIN
				-- quitar los permisos que no estan incluidos
				delete
				from sys_sec_usr_grp
				where buscod=@lp_buscod
					and usrcod=@lp_usrcod and 
					usrgrpcod not in (select id from dbo.StringSplit(@lp_usrgrpatr001,@lp_delimiter))
				SET @lv_errcod=@@ERROR

				-- agregar los permisos que faltan
				if @lv_errcod=0
					BEGIN
						insert into sys_sec_usr_grp (buscod, usrcod, usrgrpcod, docsts, ctedte, cteusr)
						select @lp_buscod, @lp_usrcod, x.id, 'A', getdate(), @lp_username
						from dbo.StringSplit( @lp_usrgrpatr001,@lp_delimiter) x
						where x.id not in (select p.usrgrpcod from sys_sec_usr_grp p where p.buscod=@lp_buscod and p.usrcod=@lp_usrcod)
						SET @lv_errcod=@@ERROR
					END
			END

		-- USUARIOS DE ROLES
		if not ISNULL(@lp_usrgrpcod,'')=''
			BEGIN
				-- quitar los permisos que no estan incluidos
				delete
				from sys_sec_usr_grp
				where buscod=@lp_buscod
				and usrgrpcod=@lp_usrgrpcod 
				and usrcod not in (select id from dbo.StringSplit(@lp_usrgrpatr001,@lp_delimiter))
				SET @lv_errcod=@@ERROR

				-- agregar los permisos que faltan
				if @lv_errcod=0
					BEGIN
						insert into sys_sec_usr_grp (buscod, usrcod, usrgrpcod, docsts, ctedte, cteusr)
						select @lp_buscod, x.id, @lp_usrgrpcod, 'A', getdate(), @lp_username
						from dbo.StringSplit( @lp_usrgrpatr001,@lp_delimiter) x
						where x.id not in (select p.usrcod from sys_sec_usr_grp p where p.buscod=@lp_buscod and p.usrgrpcod=@lp_usrgrpcod)
						SET @lv_errcod=@@ERROR
					END
			END


		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT 0, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- -------------------------------------------------------------------------------- 
--   0 8    -    L I S T A R														
-- -------------------------------------------------------------------------------- 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' ug.*, g.usrgrptxt, g.usrgrpatr001, u.usrtxt ',
			' sys_sec_usr_grp ug '
			+ ' inner join sys_sec_grp g on g.buscod=ug.buscod and g.usrgrpcod=ug.usrgrpcod '
			+ ' inner join sys_sec_usr u on u.usrcod=ug.usrcod ',
			' ug.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_usrcod,'')='' then '' else ' and ug.usrcod='+QUOTENAME(@lp_usrcod,'''') end),
 			' g.usrgrptxt ', default)
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
