USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PLN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[HLT_PLN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20),
@lp_plnid 			as int			= null,	-- ID planificaciÃ³n 
@lp_plndteid		as int			= null,	-- ID planificaciÃ³n fecha 
@lp_cuscod			as int			= null,	-- id cliente 
@lp_patcod			as nvarchar(20)	= null,	-- id paciente 
@lp_prscod			as int			= null,	-- id prestador 
@lp_spccod			as int			= null,	-- id especialidad 
@lp_plndte			as nvarchar(14)	= null,	-- fecha planificaciÃ³n desde 
@lp_plndteto		as nvarchar(14) = null,	-- fecha planificaciÃ³n hasta 
@lp_plninbdte		as nvarchar(14) = null,	-- hora entrada 
@lp_plnoutdte		as nvarchar(14) = null,	-- hora salida 
@lp_serid			as nvarchar(100)	= null,	-- id serie A#BBBBBBB (A=M-mes/D-dia/W-semana/Q-quincena // #=nro semana (solo si A=W) // B=DLMMJVSD)
@lp_sercfg			as int			= null,	-- configuraciÃ³n de la serie (0)-todos (1)-impar (2)-par 
@lp_plntrn			as nvarchar(10) = null,	-- planificaciÃ³n Turno 
@lp_plnqty			as int			= null,	-- planificaciÃ³n Cantidad 
@lp_plncmt			as nvarchar(250)= null,	-- comentarios 
@lp_docsts 			as nvarchar(1)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null,	-- configuraciÃ³n de vista 

@lp_grpserid		as int			= null,	-- grupos de series (para planificaciones que exceden el mes) 
@lp_plncnfdte		as nvarchar(14)	= null,	-- fecha confirmaciÃ³n 
@lp_plnqtystk		as int			= null,	-- planificaciÃ³n Cantidad - stock 
@lp_delcod			as int			= null,	-- id lugar de atencion 
@lp_sysdocclscod	as int			= null,	-- id clase documento 

@lp_hltspcstd	as nvarchar(max) = null,	-- estudios
@lp_mdlcod as nvarchar(20) = null, --Modulo
@lp_prgcod as nvarchar(20) = null  --Programa
AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errtyp as nvarchar(10)
DECLARE @lv_errcod  INT = 0
DECLARE @lv_errtxt as nvarchar(4000)
DECLARE @lv_errmsg as nvarchar(4000)
DECLARE @lv_errvar as nvarchar(4000)
declare @lv_sql as nvarchar(max)
declare @lv_plndte as datetime = dbo.ConvertDate( @lp_plndte )
declare @lv_plndteto as datetime = dbo.ConvertDate( @lp_plndteto )
declare @lv_plncnfdte as datetime = dbo.ConvertDate( @lp_plncnfdte )

-- busco el cliente si no fue informado 
if not @lp_patcod='' and isnull(@lp_cuscod,-1)<=0
	set @lp_cuscod = (select top 1 cuscod from hlt_pat where buscod=@lp_buscod and patcod=@lp_patcod)


declare @lv_plndtetme as decimal(5,2)
declare @lv_grpserid as int
declare @lv_tmpdte as datetime
declare @lv_spccod as nvarchar(20)
declare @lv_tmptme as decimal(13,2)
DECLARE @lv_sercod as int
declare @lv_dtedif as int
declare @lv_SpcCtrTyp as int
declare @lv_tmeqty as int = 0
declare @lv_tmeovr as int = 0
declare @lv_deleted as nvarchar(2)
declare @lv_action as nvarchar(5)
declare @lv_i as int = 0
declare @lv_row as nvarchar(400)
declare @lv_spcstdcod as int




-- ------------------------------------------------------------------------ 
-- 81 - Crea una planificaciÃ³n que excede el mes (ver de reemplazar a 01)	
-- 82 - solo es posible modificar el prestador								
-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Cliente invalido.													
--	-2	Paciente invalido.													
--	-3	Prestador invalido.												
--	-4	La especialidad no coincide con la asignada al prestador.			
--	-5	.																	
--	-6	No se puede borrar. Falta ID de planificaciÃ³n.						
--	-7	No se puede borrar control. Se encuentra liquidado.					
--	-8	Todos los turnos y sobreturnos estan dados. No hay mas capacidad.	
-- ------------------------------------------------------------------------ 


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PLN'
    
    if @lp_sysoperation = '08'
    begin
    --HLT_PLT -- HLT_LBY -- HLT_PLP -- HLT_PLS
    	if dbo.checkAuthorization(@lp_username,@lp_buscod, @lp_mdlcod,@lp_prgcod, '**') = 0
			begin
				select 'E' as errtyp, -9 as errcod, @lp_mdlcod+char(9)+@lp_prgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
    end
    else
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod, @lp_sysoperation)=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		-- valido CLIENTE 
		IF not isnull(@lp_cuscod,'')=''
			IF not exists(select top 1 * from sls_cus where buscod=@lp_buscod and cuscod=@lp_cuscod)
				BEGIN
					SELECT 'E' as errtyp, -1 as errcod, 'INVALIDCLIENT' as errmsg
					RETURN
				END
		-- valido PACIENTE 
		IF not isnull(@lp_patcod,'')=''
			IF not exists(select top 1 * from hlt_pat where buscod=@lp_buscod and patcod=@lp_patcod)
				BEGIN
					SELECT 'E' as errtyp, -2 as errcod, 'INVALIDPATIENT' as errmsg
					RETURN
				END
		-- valido PRESTADOR / ESPECIALIDAD 
		IF not isnull(@lp_prscod,'')=''
			IF not exists(select top 1 * from hlt_prs where buscod=@lp_buscod and prscod=@lp_prscod)
				BEGIN
					SELECT 'E' as errtyp, -3 as errcod, 'INVALIDLENDER' as errmsg
					RETURN
				END
			ELSE IF not isnull(@lp_spccod,'')=''
				BEGIN
					IF not exists(select top 1 * from hlt_prs_spc where buscod=@lp_buscod and prscod=@lp_prscod and spccod=@lp_spccod)
						BEGIN
							SELECT 'E' as errtyp, -4 as errcod, 'La especialidad no coincide con la asignada al prestador.' as errtxt
							RETURN
						END
					ELSE
						SET @lv_SpcCtrTyp = (select top 1 spcctrtyp from hlt_spc where buscod=@lp_buscod and spccod=@lp_spccod)
				END
				/*
    IF @lp_plninbdte >= @lp_plnoutdte
			BEGIN
				SELECT null, -5 as errcod, 'La hora de inicio no puede ser mayor o igual a la hora de finalizaci&oacute;n' as errtxt
				RETURN
			END
			*/


		-- valido SUPERPOSICION 
			-- recupero la planificaciÃ³n del mes para el paciente 
/*			SELECT * 
			INTO #tmp_dat_pln
			FROM hlt_pln 
			WHERE buscod=@lp_buscod 
			  and not plnid =@lp_plnid
			  and patcod=@lp_patcod
			  and plnyth=datepart(year,@lv_plndte) 
			  and plnmth=datepart(month,@lv_plndte)
			/ * mes-semana-dia * /
			w-l-m-m-j-v-s-d */
	END


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1
    
		BEGIN TRAN
    INSERT INTO HLT_PLN (buscod, cuscod, patcod, prscod, spccod, plnyth, plnmth, serid, sercfg, plncmt, docsts, cteusr, ctedte, plndte, plndteto, delcod, sysdocclscod) 
    SELECT @lp_buscod, @lp_cuscod, @lp_patcod, @lp_prscod, @lp_spccod, datepart(year,@lv_plndte), datepart(month,@lv_plndte), @lp_serid, @lp_sercfg, @lp_plncmt, @lp_docsts, @lp_username, getdate(), @lv_plndte, @lv_plndteto, @lp_delcod, @lp_sysdocclscod
    SET @lv_errcod = @@ERROR
    SET @lp_plnid = @@IDENTITY

		-- ESTUDIOS. se asignan los estudios de la planificacion
		--declare @@lp_hltspcstd as nvarchar(max) = '<row><spcstdcod>1</spcstdcod></row><row><spcstdcod>2</spcstdcod></row>'
		if not isnull(@lp_hltspcstd,'')=''
			begin
				while not @lp_hltspcstd='' and @lv_i<500 and @lv_errcod=0
					begin
						set @lv_row = dbo.gettagvalue('row',@lp_hltspcstd)
						set @lv_spcstdcod = dbo.gettagvalue('spcstdcod',@lv_row)	-- id estudio. obligatorio

						exec HLT_PLN_STD_DEF '01sp',@lp_username,@lp_buscod,@lp_plnid,@lv_spcstdcod,'A',null,
							@lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT, @lv_errmsg OUTPUT, @lv_errvar OUTPUT
							--E										-1								no se pudo				cannotValidate			4

						set @lp_hltspcstd = substring(@lp_hltspcstd,len(@lv_row)+12,len(@lp_hltspcstd)-len(@lv_row)-10)
						set @lv_i = @lv_i + 1
					end
			end

		if @lv_errcod=0
			BEGIN
				UPDATE HLT_PLN
				SET grpserid = @lp_plnid
				WHERE buscod=@lp_buscod
				  and plnid=@lp_plnid
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_plnid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- actualizo cabecera 
		UPDATE hlt_pln
		SET cuscod=@lp_cuscod,
			patcod=@lp_patcod,
			prscod=@lp_prscod,
			delcod=@lp_delcod,
			plncmt=@lp_plncmt,
			docsts=@lp_docsts,
			updusr=@lp_username,
			upddte=getdate()
		WHERE buscod=@lp_buscod
		  and plnid=@lp_plnid
		SET @lv_errcod=@@ERROR

		-- ESTUDIOS. se asignan los estudios de la planificacion
		--declare @@lp_hltspcstd as nvarchar(max) = '<row><spcstdcod>1</spcstdcod></row><row><spcstdcod>2</spcstdcod></row>'
		if not isnull(@lp_hltspcstd,'')=''
			begin
				while not @lp_hltspcstd='' and @lv_i<500 and @lv_errcod=0
					begin
						set @lv_row = dbo.gettagvalue('row',@lp_hltspcstd)
						set @lv_spcstdcod = dbo.gettagvalue('spcstdcod',@lv_row)	-- id estudio. obligatorio
						set @lv_deleted = dbo.gettagvalue('deleted',@lv_row)	-- indicador de borrado. opcional
						set @lv_action = (case when @lv_deleted='' then '01sp' else '04sp' end)
						exec HLT_PLN_STD_DEF @lv_action,@lp_username,@lp_buscod,@lp_plnid,@lv_spcstdcod,'A',null,
							@lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT, @lv_errmsg OUTPUT, @lv_errvar OUTPUT
							--E										-1								no se pudo				cannotValidate			4

						set @lp_hltspcstd = substring(@lp_hltspcstd,len(@lv_row)+12,len(@lp_hltspcstd)-len(@lv_row)-10)
						set @lv_i = @lv_i + 1
					end
			end
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_plnid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_grpstrdte as smalldatetime
		declare @lv_grpenddte as smalldatetime
		set @lv_grpserid = (select top 1 grpserid from hlt_pln where buscod=@lp_buscod and plnid=@lp_plnid)
		if not @lv_grpserid is null
			begin
				set @lv_grpstrdte = (select top 1 d.PlnDte from hlt_pln p inner join HLT_PLN_DTE d on d.buscod=p.buscod and d.plnid=p.plnid where p.BusCod=@lp_buscod and p.grpserid=@lv_grpserid order by d.PlnDte)
				set @lv_grpenddte = (select top 1 d.PlnDte from hlt_pln p inner join HLT_PLN_DTE d on d.buscod=p.buscod and d.plnid=p.plnid where p.BusCod=@lp_buscod and p.grpserid=@lv_grpserid order by d.PlnDte desc)
			end
		else
			select top 1 @lv_grpstrdte=d.plndte, @lv_grpenddte=d.plndte from hlt_pln p inner join HLT_PLN_DTE d on d.buscod=p.buscod and d.plnid=p.plnid where p.BusCod=@lp_buscod and p.plnid=@lp_plnid
			
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' l.*, s.spctxt, s.spcclr, s.spcplntyp, s.spcctrtyp, s.spcfrm, p.pattxt, e.prstxt, c.cuscod, c.custxt, cast('+QUOTENAME(isnull(@lv_grpstrdte,''),'''')+' as smalldatetime) as plnstrdte, cast('+QUOTENAME(isnull(@lv_grpenddte,''),'''')+' as smalldatetime) as plnenddte, d.deltxt, dc.sysdocclstxt ',
						' hlt_pln l '
						+ ' left join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod '
						+ ' left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod '
						+ ' left join hlt_prs e on e.buscod=l.buscod and e.prscod=l.prscod '
						+ ' left join hlt_spc s on s.buscod=l.buscod and s.spccod=l.spccod '
						+ ' left join hlt_del d on d.buscod=l.buscod and d.delcod=l.delcod '
						+ ' left join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod ',		
						' l.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and l.plnid ='+QUOTENAME(@lp_plnid,''''),	
						'',	'')

		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- borro textos 
		exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'HLT_PLN', @lp_plnid, null, null, null, @lv_errcod, @lv_errtxt

		if @lv_errcod=0
			BEGIN
				-- obtengo grupo de planificaciones 
				set @lv_grpserid = (select top 1 grpserid from hlt_pln where buscod=@lp_buscod and plnid=@lp_plnid)

				IF @lv_grpserid is null
					BEGIN

						-- borro las fechas de planificaciÃ³n que no estan liquidadas 
						UPDATE pd
						SET deldte = GETDATE(),
							delusr = @lp_username
						from hlt_pln_dte pd
						WHERE pd.buscod=@lp_buscod
							and pd.PlnId = @lp_plnid 
							and pd.plndteid in (select x1.plndteid from hlt_pln_dte x1 where x1.buscod=@lp_buscod and x1.plnid=@lp_plnid)
							-- sin evoluciÃ³n
							and not exists(select top 1 * from HLT_PAT_EVL ce where ce.BusCod=pd.buscod and ce.PlnId=pd.plnid and ce.PlnDteId=pd.plndteid and ce.DelDte is null)
							-- sin control de horas contabilizado
							and not exists(select top 1 * from HLT_PLN_CTR_DTE cc where cc.BusCod=pd.buscod and cc.PlnId=pd.plnid and cc.PlnDteId=pd.plndteid and cc.DocSts='C')
							-- sin liquidacion a prestador
							and not exists(select top 1 * from HLT_PRS_LQD_DOC cd where cd.BusCod=pd.buscod and cd.RefObjTyp='HLT_PLN' and cd.RefObjCod001=pd.plnid and cd.RefObjCod002=pd.plndteid)
							-- sin liquidacion a cliente
							and not exists(select top 1 * from HLT_LQD_DOC cf where cf.BusCod=pd.buscod and cf.RefObjTyp='HLT_PLN' and cf.RefObjCod001=pd.plnid and cf.RefObjCod002=pd.plndteid)
							-- sin confirmacion de prestaciÃ³n
							and pd.plncnfdte is null
						SET @lv_errcod=@@ERROR

						-- borro detalles de control 
						IF @lv_errcod=0
							BEGIN
								DELETE 
								FROM hlt_pln_ctr_dte
								WHERE buscod=@lp_buscod
									and plnid=@lp_plnid
									and plndteid  in (select plndteid from hlt_pln_dte where buscod=@lp_buscod and plnid=@lp_plnid and DelUsr is not null)
								SET @lv_errcod=@@ERROR
							END

					END
				ELSE
					BEGIN
						-- borro las fechas de planificaciÃ³n que no estan liquidadas - grupo de planificaciones 
						UPDATE pd
						SET deldte = GETDATE(),
							delusr = @lp_username
						from  hlt_pln_dte pd 
						WHERE pd.buscod=@lp_buscod
							and pd.plndteid in (select x2.plndteid from hlt_pln x1 
													inner join hlt_pln_dte x2 on x2.buscod=x1.buscod and x2.plnid=x1.plnid 
												where x1.buscod=pd.buscod and x1.grpserid=@lv_grpserid)
							-- sin evoluciÃ³n
							and not exists(select top 1 * from HLT_PAT_EVL ce where ce.BusCod=pd.buscod and ce.PlnId=pd.plnid and ce.PlnDteId=pd.plndteid and ce.DelDte is null)
							-- sin control de horas
							and not exists(select top 1 * from HLT_PLN_CTR_DTE cc where cc.BusCod=pd.buscod and cc.PlnId=pd.plnid and cc.PlnDteId=pd.plndteid and cc.DocSts='C')
							-- sin liquidacion a prestador
							and not exists(select top 1 * from HLT_PRS_LQD_DOC cd where cd.BusCod=pd.buscod and cd.RefObjTyp='HLT_PLN' and cd.RefObjCod001=pd.plnid and cd.RefObjCod002=pd.plndteid)
							-- sin liquidacion a cliente
							and not exists(select top 1 * from HLT_LQD_DOC cf where cf.BusCod=pd.buscod and cf.RefObjTyp='HLT_PLN' and cf.RefObjCod001=pd.plnid and cf.RefObjCod002=pd.plndteid)
							-- sin confirmacion de prestaciÃ³n
							and pd.plncnfdte is null
						SET @lv_errcod=@@ERROR

						-- borro detalles de control
						IF @lv_errcod=0
							BEGIN
								DELETE 
								FROM hlt_pln_ctr_dte
								WHERE buscod=@lp_buscod
									and plnid in (select plnid from hlt_pln  
													where buscod=@lp_buscod and grpserid=@lv_grpserid)
									and plndteid  in (select x2.plndteid from hlt_pln x1 
														inner join hlt_pln_dte x2 on x2.buscod=x1.buscod and x2.plnid=x1.plnid 
													where x1.buscod=@lp_buscod and x1.grpserid=@lv_grpserid
													and x2.DelDte is not null)
								SET @lv_errcod=@@ERROR
							END

					END
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_plnid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R                                 				
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- HLT_PLN_DEF '08','CDOMINGUEZ','TPEDIATRICO','','','','','','','00000000000000','00000000000000','00000000000000','00000000000000','','','','','','','<view><vewflt> AND (d.plndte BETWEEN ^2023-08-27^ AND ^2023-10-08^)</vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>311</vewmax><vewpge></vewmax></view>','','00000000000000','','',''
		-- HLT_PLN_DEF '08','CDOMINGUEZ','TPEDIATRICO','','','','','','','00000000000000','00000000000000','00000000000000','00000000000000','','','','','','','<view><vewflt> AND (d.plndte BETWEEN ^2023-08-27^ AND ^2023-10-08^)</vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>311</vewmax><vewpge></vewmax><extra><rownumber>10</rownumber></extra></view>','','00000000000000','','',''

	    -- Obtener las restricciones de usuario
	    declare @lv_prmpatcod as nvarchar(max) = dbo.GetUserRestrictions(@lp_buscod, @lp_username, 'l.patcod');
		declare @lv_prmprscod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'l.prscod');
		declare @lv_prmcuscod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'l.cuscod');
		declare @lv_prmspccod as nvarchar(max) = dbo.GetUserRestrictions(@lp_buscod, @lp_username, 'l.spccod');

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
			' l.BusCod, l.PlnId, l.CusCod, l.PatCod, l.PrsCod, l.SpcCod, l.PlnYth, l.PlnMth, l.SerId, l.SerCfg, l.PlnCmt, l.DocSts, l.CteDte, l.CteUsr, l.UpdDte, l.UpdUsr, l.GrpSerId, l.PlnDte as plnstrdte, l.PlnDteTo, l.DelCod, l.SysDocClsCod, '
			+ ' d.plndteid, d.plndte, d.plninbdte, d.plnoutdte, d.plnqty, cd.hltplnctrdte, d.plndteatr, '
			+ ' p.pattxt, e.prstxt, e.prsniknme, s.spcctrtyp, s.spcclr, s.spctxt, del.deltxt, dc.sysdocclstxt, '
			+ ' ev.evlcod,ev.evldte, convert(varchar, ev.evldte, 103) as evldtecnv, pdc.hltdisclstxt, c.custxt, '
			+ ' row_number() OVER (PARTITION BY d.plndte ORDER BY d.plndte, d.plninbdte, e.prstxt) AS rownumber ',
			' hlt_pln l '
			+ ' inner join hlt_pln_dte d on d.buscod=l.buscod and d.plnid=l.plnid '
			+ ' left join hlt_pln_ctr_dte cd on cd.buscod=d.buscod and cd.plnid=d.plnid and cd.plndteid=d.plndteid '
			+ ' inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod '
			+ ' left join hlt_dis_cls	pdc on pdc.buscod=p.buscod and pdc.hltdisclscod=p.hltdisclscod '
			+ ' left join sls_cus c on c.buscod=p.buscod and c.cuscod=l.cuscod '
			+ ' left join hlt_prs e on e.buscod=l.buscod and e.prscod=l.prscod '
			+ ' left join hlt_del del on del.buscod=l.buscod and del.delcod=l.delcod '
			+ ' left join hlt_spc s on s.buscod=l.buscod and s.spccod=l.spccod '
			+ ' left join hlt_pat_evl ev on ev.buscod=d.buscod and ev.plnid=d.plnid and ev.plndteid=d.plndteid and ev.docsts<>'+QUOTENAME('I','''')
			+ ' left join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod ',		
			' l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and d.deldte is null'
			+ @lv_prmcuscod + @lv_prmprscod + @lv_prmpatcod + @lv_prmspccod
			+ ' and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('HLT_PAT','''')+'))) ',	
			' d.plndte, d.plninbdte, e.prstxt ',
			'')
		
		declare @lv_rownumber as int = dbo.gettagvalue('rownumber',dbo.gettagvalue('extra',@lp_vewcfg))
		if isnull(@lv_rownumber,0)>0
			execute ( 'WITH cte_data AS ('+@lv_sql+') SELECT * FROM cte_data WHERE rownumber<'+@lv_rownumber )
		else 
			execute( @lv_sql )
		
		

	END

/*
-- ------------------------------------------------------------------------ 
--   1 0    -    L I S T A R    P L A N I F I C A C I O N					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '20'
	BEGIN
		SET @lv_validop = 1    

		-- HLT_PLN_DEF '10','MDOMINGUEZ','TEMASIS_HLT','','','','','55','','20170705000000000000','00000000000000','00000000000000','00000000000000','','','','','','','','','00000000000000','' 
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' l.*, d.plndteid, d.plndte, d.plninbdte, d.plnoutdte, d.plnqty, cd.hltplnctrdte, p.pattxt, e.prstxt, e.prsniknme, '
						+ ' dc.sysdocclstxt, s.spcctrtyp, s.spcclr, s.spctxt, ev.evlcod, ev.evldte, convert(varchar, ev.evldte, 103) as evldtecnv ',
						' hlt_pln l '
						+ ' inner join hlt_pln_dte d on d.buscod=l.buscod and d.plnid=l.plnid '
						+ ' left join hlt_pln_ctr_dte cd on cd.buscod=d.buscod and cd.plnid=d.plnid and cd.plndteid=d.plndteid '
						+ ' inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod '
						+ ' inner join hlt_prs e on e.buscod=l.buscod and e.prscod=l.prscod '
						+ ' left join hlt_spc s on s.buscod=l.buscod and s.spccod=l.spccod '
						+ ' left join hlt_pat_evl ev on ev.buscod=d.buscod and ev.plnid=d.plnid and ev.plndteid=d.plndteid and ev.docsts<>'+QUOTENAME('I','''')
						+ ' left join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod ',		
						' l.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and d.deldte is null'
						+ (case when isnull(@lp_prscod,0)=0 then '' else ' and l.prscod='+QUOTENAME(@lp_prscod,'''') end)
						+ (case when isnull(@lp_patcod,0)=0 then '' else ' and l.patcod='+QUOTENAME(@lp_patcod,'''') end)
						+ (case when isnull(@lp_spccod,0)=0 then '' else ' and l.spccod='+QUOTENAME(@lp_spccod,'''') end)
						+ ' and l.plnyth=' + cast( datepart(year,@lv_plndte) as nvarchar(4))
						+ ' and l.plnmth=' + cast( datepart(month,@lv_plndte) as nvarchar(2)),
						' d.plndte, d.plninbdte, e.prstxt ',
						'')

		execute( @lv_sql )
		
	END


-- ------------------------------------------------------------------------ 
--   1 8    -    L I S T A R    x    P A C I E N T E						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '21'
	BEGIN
		SET @lv_validop = 1    

		-- HLT_PLN_DEF '18','MDOMINGUEZ','TEMASIS_HLT','','','','','','','00000000000000','00000000000000','00000000000000','00000000000000','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>','','00000000000000','' 

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' p.buscod, p.patcod, p.pattxt, c.cuscod, c.custxt, p.docsts, a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrmapgeo, l.lndtxt, lr.lndregtxt, '
						+ ' (case when isnull(a.adrmapgeo,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' then '+QUOTENAME('','''')+' else '+QUOTENAME('<i class="fa fa-map-o"></i>','''')+' end) as adrmapgeoicn, '
						+ ' (case when exists(select top 1 * from hlt_pln pl where pl.buscod=p.buscod and pl.patcod=p.patcod and pl.plnyth=datepart(year,getdate()) and pl.plnmth=datepart(month,getdate())) then '+QUOTENAME('<i class="fa fa-calendar-check-o" data-export="X"></i>','''')+' else '+QUOTENAME('','''')+' end) as plnact ',
						' HLT_PAT p '
						+ ' inner join SLS_CUS c on c.buscod=p.buscod and c.cuscod=p.cuscod '
						+ ' inner join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HLT_PAT','''')+' and a.adrsrccod=p.patcod '
						+ ' inner join GRL_DAT_LND l on l.lndcod=a.lndcod '
						+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod ',
						' p.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and not p.docsts='+QUOTENAME('I','''')
						+ ' and not c.docsts='+QUOTENAME('I',''''),
						' p.pattxt ', 
						'')

		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   1 9    -    L I S T A R    x    Prestador								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '22'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' p.buscod, p.prscod, p.prstxt, p.docsts, a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrmapgeo, l.lndtxt, lr.lndregtxt, '
						+ ' (case when isnull(a.adrmapgeo,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' then '+QUOTENAME('','''')+' else '+QUOTENAME('<i class="fa fa-map-o"></i>','''')+' end) as adrmapgeoicn, '
						+ ' (case when exists(select top 1 * from hlt_pln pl where pl.buscod=p.buscod and pl.prscod=p.prscod and pl.plnyth=datepart(year,getdate()) and pl.plnmth=datepart(month,getdate())) then '+QUOTENAME('<i class="fa fa-calendar-check-o" data-export="X"></i>','''')+' else '+QUOTENAME('','''')+' end) as plnact ',
						' HLT_PRS p '
						+ ' inner join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HLT_PRS','''')+' and a.adrsrccod=p.prscod '
						+ ' inner join GRL_DAT_LND l on l.lndcod=a.lndcod '
						+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod ',
						' p.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and not p.docsts='+QUOTENAME('I',''''),
						' p.prstxt ',
						'')
						
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   2 0    -    L I S T A R    x    Prestador/Especialidad					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' p.buscod, p.prscod, p.prstxt, p.docsts, a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrmapgeo, l.lndtxt, lr.lndregtxt, '
						+ ' (case when isnull(a.adrmapgeo,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' then '+QUOTENAME('','''')+' else '+QUOTENAME('<i class="fa fa-map-o"></i>','''')+' end) as adrmapgeoicn, '
						+ ' (case when exists(select top 1 * from hlt_pln pl where pl.buscod=p.buscod and pl.prscod=p.prscod and pl.plnyth=datepart(year,getdate()) and pl.plnmth=datepart(month,getdate())) then '+QUOTENAME('<i class="fa fa-calendar-check-o" data-export="X"></i>','''')+' else '+QUOTENAME('','''')+' end) as plnact, '
						+ ' s.spcclr, '+QUOTENAME('<i class="fa fa-stop" style="color: ','''')+'+s.spcclr+'+QUOTENAME(';"></i>','''')+'+s.spctxt as spctxtclr ',
						' HLT_PRS p '
						+ ' inner join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HLT_PRS','''')+' and a.adrsrccod=p.prscod '
						+ ' inner join GRL_DAT_LND l on l.lndcod=a.lndcod '
						+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
						+ ' left join HLT_PRS_SPC ps on ps.buscod=p.buscod and ps.prscod=p.prscod '
						+ ' left join HLT_SPC s on s.buscod=ps.buscod and s.spccod=ps.spccod ',
						' p.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and not p.docsts='+QUOTENAME('A',''''),
						' p.prstxt ',
						'')

		execute( @lv_sql )

	END

-- ------------------------------------------------------------------------ 
--   2 1    -    L I S T A R    x    Paciente/Cliente/Prestador					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '24'
	BEGIN
		SET @lv_validop = 1
    
    -- Obtener las restricciones de usuario
    declare @lv_prmpatcod as nvarchar(max) = dbo.GetUserRestrictions(@lp_buscod, @lp_username, 'p.patcod');
		declare @lv_prmprscod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'pr.prscod');
    declare @lv_prmcuscod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'c.cuscod');
		declare @lv_prmspccod as nvarchar(max) = dbo.GetUserRestrictions(@lp_buscod,@lp_username,'s.spccod');

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' l.BusCod, l.PlnId, l.CusCod, l.PatCod, l.PrsCod, l.SpcCod, l.PlnYth, l.PlnMth, l.SerId, l.SerCfg, l.PlnCmt, l.DocSts, l.CteDte, l.CteUsr, l.UpdDte, l.UpdUsr, l.GrpSerId, l.PlnDte as plnstrdte, l.PlnDteTo, l.DelCod, l.SysDocClsCod, '
						+ ' d.plndteid, d.plndte, d.plninbdte, d.plnoutdte, d.plnqty, cd.hltplnctrdte, d.plndteatr, '
						+ ' p.pattxt, e.prstxt, e.prsniknme, s.spcctrtyp, s.spcclr, s.spctxt, del.deltxt, dc.sysdocclstxt, '
						+ ' ev.evlcod,ev.evldte, convert(varchar, ev.evldte, 103) as evldtecnv, pdc.hltdisclstxt, c.custxt, '
						+ ' row_number() OVER (PARTITION BY d.plndte ORDER BY d.plndte, d.plninbdte, e.prstxt) AS rownumber ',
						' hlt_pln l '
						+ ' inner join hlt_pln_dte d on d.buscod=l.buscod and d.plnid=l.plnid '
						+ ' left join hlt_pln_ctr_dte cd on cd.buscod=d.buscod and cd.plnid=d.plnid and cd.plndteid=d.plndteid '
						+ ' inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod '
						+ ' left join hlt_dis_cls	pdc on pdc.buscod=p.buscod and pdc.hltdisclscod=p.hltdisclscod '
						+	' left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod '
						+ ' left join hlt_prs e on e.buscod=l.buscod and e.prscod=l.prscod '
						+ ' left join hlt_del del on del.buscod=l.buscod and del.delcod=l.delcod '
						+ ' left join hlt_spc s on s.buscod=l.buscod and s.spccod=l.spccod '
						+ ' left join hlt_pat_evl ev on ev.buscod=d.buscod and ev.plnid=d.plnid and ev.plndteid=d.plndteid and ev.docsts<>'+QUOTENAME('I','''')
						+ ' left join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod ',		
						' l.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and d.deldte is null'
            + @lv_prmcuscod + @lv_prmprscod + @lv_prmpatcod + @lv_prmspccod
						+ ' and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('HLT_PAT','''')+'))) ',	
						' d.plndte, d.plninbdte, e.prstxt ',
						'')
            
		execute( @lv_sql )
		
	END
*/
  
  
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
