USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_STK_LVL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[STK_MAT_STK_LVL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_stkmatlvlcod	as int			= null, /* id */
@lp_stkobjtyp		as nvarchar(20)	= null,	/* objeto origen */
@lp_stkobjcod		as int			= null, /* objeto origen - id */
@lp_stkcntcod		as int			= null, /* objeto origen - contacto */
@lp_matcod			as int			= null,	/* material */
@lp_stkmatlvlmax	as bigint		= null,	/* stock maximo */
@lp_stkmatlvlmin	as bigint		= null,	/* stock minimo */
@lp_stkmatlvlmip	as bigint		= null,	/* stock minimo (porcentaje del máximo) */
@lp_stkmatlvlres	as bigint		= null,	/* stock reserva */
@lp_stkmatlvlrep	as bigint		= null,	/* stock reserva (porcentaje del máximo) */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* vista */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)

DECLARE @lv_stkmatlvlmax as decimal(13,3)
SET @lv_stkmatlvlmax = dbo.ConvertNumber( @lp_stkmatlvlmax , 3 )

DECLARE @lv_stkmatlvlmin as decimal(13,3)
SET @lv_stkmatlvlmin = dbo.ConvertNumber( @lp_stkmatlvlmin , 3 )

DECLARE @lv_stkmatlvlmip as decimal(13,3)
SET @lv_stkmatlvlmip = dbo.ConvertNumber( @lp_stkmatlvlmip , 3 )

DECLARE @lv_stkmatlvlres as decimal(13,3)
SET @lv_stkmatlvlres = dbo.ConvertNumber( @lp_stkmatlvlres , 3 )

DECLARE @lv_stkmatlvlrep as decimal(13,3)
SET @lv_stkmatlvlrep = dbo.ConvertNumber( @lp_stkmatlvlrep , 3 )


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
		
		if exists(select top 1 * from stk_mat_stk_lvl where buscod=@lp_buscod and stkobjtyp=@lp_stkobjtyp and stkobjcod=@lp_stkobjcod and stkcntcod=@lp_stkcntcod and matcod=@lp_matcod)
			begin
				select null, -1 as errcod, 'Datos duplicados.' as errtxt
				return
			end

		BEGIN TRAN

		INSERT INTO STK_MAT_STK_LVL
			(buscod, stkobjtyp, stkobjcod, stkcntcod, matcod, stkmatlvlmax, stkmatlvlmin, stkmatlvlmip, stkmatlvlres, stkmatlvlrep,
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_stkobjtyp, @lp_stkobjcod, @lp_stkcntcod, @lp_matcod, @lv_stkmatlvlmax, @lv_stkmatlvlmin, @lv_stkmatlvlmip, @lv_stkmatlvlres, @lv_stkmatlvlrep,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_stkmatlvlcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmatlvlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		UPDATE STK_MAT_STK_LVL 
		SET	stkmatlvlmax	= @lv_stkmatlvlmax,
			stkmatlvlmin	= @lv_stkmatlvlmin,
			stkmatlvlmip	= @lv_stkmatlvlmip,
			stkmatlvlres	= @lv_stkmatlvlres,
			stkmatlvlrep	= @lv_stkmatlvlrep,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
			and stkmatlvlcod = @lp_stkmatlvlcod
		SET @lv_errcod=@@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmatlvlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE
		FROM STK_MAT_STK_LVL 
		WHERE buscod = @lp_buscod
		  and stkmatlvlcod = @lp_stkmatlvlcod
		SET @lv_errcod=@@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmatlvlcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM STK_MAT_STK_LVL
		WHERE buscod = @lp_buscod
		  and stkmatlvlcod = @lp_stkmatlvlcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, m.matcodext '
			+ ' FROM STK_MAT_STK_LVL l '
			+ '  left join STK_MAT m on m.buscod=l.buscod and m.matcod=l.matcod'
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'm.mattxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
