USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_INV_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUY_INV_DEF]
 
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_buyinvcod		as int			= null,				-- id
@lp_buyinvcodext	as nvarchar(20) = null,	-- codigo
@lp_buyinvtxt		as nvarchar(50) = null,		-- descripcion
@lp_buyinvdte		as nvarchar(14)	= null,		-- fecha
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- objeto origen
@lp_srcobjcod		as int			= null,				-- id origen
@lp_buyinvtotamt	as bigint		= null,			-- importe total
@lp_curcod			as nvarchar(5)	= null,		-- moneda
@lp_curexcrte		as bigint		= null,				-- tipo de cambio
@lp_docsts 			as nvarchar(2)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃ³n vista
 
@lp_sysdocclscod	as int			= null,			-- id clase documento
@lp_buyinvstrdte	as nvarchar(14)	= null,	-- inicio validez
@lp_buyinvenddte	as nvarchar(14)	= null,	-- fin validez
@lp_buyinvaccdte	as nvarchar(14)	= null,	-- fin validez
@lp_buyprclstcod	as int			= null,			-- id lista precios
@lp_sysdocrejcod	as int			= null,			-- id motivo de rechazo
@lp_paytrmcod		as int			= null				-- id condiciÃ³n pago

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtyp as nvarchar(10)
declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_buyinvdte as datetime = dbo.ConvertDate( @lp_buyinvdte )
declare @lv_buyinvtotamt as decimal(13,3) = dbo.ConvertNumber( @lp_buyinvtotamt, 3)
declare @lv_curexcrte as decimal(9,5) = dbo.ConvertNumber( @lp_curexcrte, 5 )
declare @lv_buyinvstrdte as smalldatetime = dbo.ConvertDate( @lp_buyinvstrdte )
declare @lv_buyinvenddte as smalldatetime = dbo.ConvertDate( @lp_buyinvenddte )
declare @lv_buyinvaccdte as smalldatetime = dbo.ConvertDate( @lp_buyinvaccdte )

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_objtyp as nvarchar(20)
declare @lv_finsumcod as int
declare @lv_srcobjtyp as nvarchar(20)
declare @lv_srcobjcod as nvarchar(20)
declare @lv_srcobjtxt as nvarchar(80)




-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
    DECLARE @lv_autmdlcod as nvarchar(3) = 'BUY'
    DECLARE @lv_autprgcod as nvarchar(3) = 'INV'
    
  	if @lp_sysoperation='01' -- x clase de documento
    	set @lv_objtyp = (select top 1 objtyp from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
    if @lp_sysoperation='02' or @lp_sysoperation='03' or @lp_sysoperation='04' or @lp_sysoperation='09' -- x documento
    	set @lv_objtyp = (select top 1 dc.objtyp from buy_inv b inner join sys_doc_cls dc on dc.buscod=b.buscod and dc.sysdocclscod=b.sysdocclscod where dc.buscod=@lp_buscod and b.buyinvcod=@lp_buyinvcod)
  	if @lp_sysoperation='08'
    	begin
        if charindex( 'dc.objtyp='+QUOTENAME('BUY_CRE',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'BUY_CRE'
        if charindex( 'dc.objtyp='+QUOTENAME('BUY_DEB',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'BUY_DEB'
       	if charindex( 'dc.objtyp='+QUOTENAME('BUY_INV',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'BUY_INV'
  		end
    set @lv_autprgcod = (select substring(@lv_objtyp, 5, 3))
  
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
  IF isnull(@lv_buyinvaccdte,'') = ''
        SET @lv_buyinvaccdte = getdate()
  END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1
      
		BEGIN TRAN

		-- actualizo cabecera de documento
		INSERT INTO BUY_INV (buscod, buyinvcodext, buyinvtxt, buyinvdte, 
			buyinvtotamt, curcod, curexcrte, buyinvstrdte, buyinvenddte, buyinvaccdte, buyprclstcod,
			srcobjtyp, srcobjcod, sysdocclscod, sysdoctrecod, paytrmcod, 
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_buyinvcodext, @lp_buyinvtxt, @lv_buyinvdte,  
			@lv_buyinvtotamt, @lp_curcod, @lv_curexcrte, @lv_buyinvstrdte, @lv_buyinvenddte, @lv_buyinvaccdte, @lp_buyprclstcod,
			@lp_srcobjtyp, @lp_srcobjcod, @lp_sysdocclscod, 'N', @lp_paytrmcod, 
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_buyinvcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyinvcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE BUY_INV
		SET	buyinvcodext = @lp_buyinvcodext,
			buyinvtxt = @lp_buyinvtxt,
			buyinvdte = @lv_buyinvdte,
			srcobjtyp = @lp_srcobjtyp, 
			srcobjcod = @lp_srcobjcod,
			buyinvtotamt = @lv_buyinvtotamt,
			buyprclstcod = @lp_buyprclstcod,
			curcod = @lp_curcod,
			curexcrte = @lv_curexcrte, 
			buyinvstrdte = @lv_buyinvstrdte,
			buyinvenddte = @lv_buyinvenddte, 
      buyinvaccdte = @lv_buyinvaccdte,
			sysdocrejcod = @lp_sysdocrejcod,
			paytrmcod = @lp_paytrmcod,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and buyinvcod=@lp_buyinvcod
		  and not docsts = 'C'
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_buyinvcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    
		declare @lv_buysuponetme as int

		select top 1 @lv_srcobjtyp=srcobjtyp, @lv_srcobjcod=srcobjcod
		FROM buy_inv
		WHERE buscod=@lp_buscod
		  and buyinvcod=@lp_buyinvcod

		if @lv_srcobjtyp='BUY_SUP'
			select top 1 @lv_srcobjtxt=suptxt, @lv_buysuponetme=BuySupOneTme from BUY_SUP where buscod=@lp_buscod and supcod=@lv_srcobjcod

		SELECT o.*, dc.sysdocclstxt, @lv_srcobjtxt as srcobjtxt, @lv_buysuponetme as buysuponetme, 
				dt.sysdoctretxt, dr.sysdocrejtxt, pt.paytrmtxt 
		FROM buy_inv o
		left join SYS_DOC_CLS dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod
		left join sys_doc_rej dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod 
		left join sys_doc_tre dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod 
		left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod 
		WHERE o.buscod = @lp_buscod
		  and o.buyinvcod = @lp_buyinvcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_inv d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyinvcod=@lp_buyinvcod)

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_buyinvcod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro precios
		if @lv_errcod=0
			exec GRL_DAT_PRC_DEF '14_sp',@lp_username,@lp_buscod,null,'BUY_INV',@lp_buyinvcod,'',null,null,null,null,null,null,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro materiales del documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM BUY_INV_MAT 
				WHERE buscod = @lp_buscod
				  and buyinvcod = @lp_buyinvcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM BUY_INV
				WHERE buscod = @lp_buscod
				  and buyinvcod = @lp_buyinvcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_buyinvcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- buy_inv_def '08','mdominguez','temasis_hlt'

		declare @lv_buyinvdtecnv as nvarchar(400)
		declare @lv_buyinvenddtecnv as nvarchar(400)
		declare @lv_buyinvstrdtecnv as nvarchar(400)
		set @lv_srcobjtxt = ' (case o.srcobjtyp	when '+QUOTENAME('BUY_SUP','''')+' then st2.suptxt end) '
		set @lv_buyinvdtecnv = 'convert(varchar,o.buyinvdte,103)'
		set @lv_buyinvstrdtecnv = 'convert(varchar,o.buyinvstrdte,103)'
		set @lv_buyinvenddtecnv = 'convert(varchar,o.buyinvenddte,103)'
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' o.*, dc.sysdocclstxt, sp.buyPrcTxt, dt.sysdoctretxt, dr.sysdocrejtxt, '
			+ @lv_srcobjtxt+' as srcobjtxt, '
			+ @lv_buyinvdtecnv + ' as buyinvdtecnv, '
			+ @lv_buyinvstrdtecnv + ' as buyinvstrdtecnv, '
			+ @lv_buyinvenddtecnv + ' as buyinvenddtecnv, pt.paytrmtxt, t.taxcod '
			+ ' FROM buy_inv o '
			+ ' left join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join buy_sup st2 on st2.buscod=o.buscod and st2.supcod=o.srcobjcod '
			+ ' left join buy_prc sp on sp.buscod=o.buscod and sp.buyPrcCod=o.buyPrcLstCod '
			+ ' left join sys_doc_rej dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod '
			+ ' left join sys_doc_tre dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod '
			+ ' left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod '
			+ ' left join grl_dat_tax t on t.buscod=o.buscod and t.taxsrctyp=o.srcobjtyp and t.taxsrccod=o.srcobjcod '
			+ ' WHERE o.buscod='+QUOTENAME(@lp_buscod, '''')

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_flt = REPLACE(@lv_flt, 'buyinvdtecnv', 'o.buyinvdte')
		set @lv_flt = REPLACE(@lv_flt, 'buyinvstrdtecnv', 'o.buyinvstrdte')
		set @lv_flt = REPLACE(@lv_flt, 'buyinvenddtecnv', 'o.buyinvenddte')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' o.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		set @lv_ord = replace(@lv_ord, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_ord = REPLACE(@lv_ord, 'buyinvdtecnv', 'o.buyinvdte')
		set @lv_ord = REPLACE(@lv_ord, 'buyinvstrdtecnv', 'o.buyinvstrdte')
		set @lv_ord = REPLACE(@lv_ord, 'buyinvenddtecnv', 'o.buyinvenddte')

		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END



-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '09' or @lp_sysoperation='19'
	BEGIN
		SET @lv_validop = 1

		declare @lv_sysdocclsatr as nvarchar(max)
		declare @lv_prcschcod as int
		declare @lv_prccndcod as int
		select top 1 @lv_buyinvtotamt=buyinvtotamt, @lp_sysdocclscod=sysdocclscod from buy_inv where buscod=@lp_buscod and buyinvcod=@lp_buyinvcod
		set @lv_sysdocclsatr = (select top 1 sysdocclsatr from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
		set @lv_prcschcod = isnull( dbo.GetTagValue( 'prcschcod', @lv_sysdocclsatr ) , 0 )
		set @lv_prccndcod = isnull( dbo.GetTagValue( 'prccndcodctr', @lv_sysdocclsatr ) , 0 )
    
		if ( not @lv_prcschcod=0 and not @lv_prccndcod=0 )
			if ( not @lv_buyinvtotamt=(select top 1 prccndtot from GRL_DAT_PRC where BusCod=@lp_buscod and srcobjtyp='BUY_INV' and srcobjcod001=@lp_buyinvcod and srcobjcod002='' and PrcCndCod=@lv_prccndcod) )
				begin
					SELECT null, -91 as errcod, 'Inconsistencia entre importe del documento y totales.' as errtxt
					return 
				end

		-- obtengo datos del documento
		(select top 1 @lp_docsts=b.docsts, @lv_objtyp=dc.objtyp
			from BUY_INV b 
			inner join sys_doc_cls dc on dc.buscod=b.buscod and dc.sysdocclscod=b.sysdocclscod 
			where b.buscod=@lp_buscod and b.buyinvCod=@lp_buyinvcod)

		-- verifico status de documento
		if @lp_docsts='I'
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'No se puede contabilizar un documento Inactivo.'
			end
		if @lp_docsts='C'
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'No se puede contabilizar un documento Contabilizado.'
			end
		if not @lv_errcod=0 and @lp_sysoperation='09' or @lp_sysoperation='19'
			begin
				select null, @lv_errcod as errcod, @lv_errtxt as errtxt
				return
			end

		BEGIN TRAN

		-- CONTABILIZACION. agrego asiento contable
		if @lv_errcod=0
      exec FIN_MOV_DOC_DEF '29_sp',@lp_username,@lp_buscod,null,@lp_buyinvcodext,@lp_buyinvtxt,@lp_buyinvdte,@lp_buyinvaccdte,@lp_srcobjtyp,@lp_srcobjcod,@lv_objtyp,@lp_buyinvcod,@lp_sysdocclscod,@lp_curcod,@lp_curexcrte,'C',null,null, @lv_errtyp OUTPUT, @lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- CUENTA CORRIENTE. Agrego documento a cuenta corriente --
    -- obtengo datos del documento
    SELECT TOP 1	@lv_objtyp = dc.objtyp,
                  @lv_srcobjtyp = i.srcobjtyp,
                  @lv_srcobjcod = i.srcobjcod,
                  @lv_srcobjtxt = a.adrnme001,
                  @lv_buyinvtotamt = i.buyinvtotamt,
                  @lp_buyinvcodext = i.buyinvcodext,
                  @lv_buyinvdte = i.buyinvdte,
                  @lv_buyinvenddte = i.buyinvenddte,
                  @lp_curcod = i.curcod,
                  @lv_curexcrte = i.curexcrte
    FROM buy_inv i
		inner join sys_doc_cls dc on dc.buscod=i.buscod and dc.sysdocclscod=i.sysdocclscod
		inner join grl_dat_adr a on a.buscod=i.buscod and a.adrsrctyp=i.srcobjtyp and a.adrsrccod=i.srcobjcod
		where i.buscod=@lp_buscod and i.buyinvcod=@lp_buyinvcod
    
		-- CUENTA CORRIENTE.
		if @lv_errcod=0 and not exists(select top 1 * from fin_sum_doc where buscod=@lp_buscod and docobjtyp=@lv_objtyp and docobjcod=@lp_buyinvcod)
			begin
        -- formatos para cuenta corriente
        DECLARE @lv_buyinvdte2 nvarchar(14) = CONVERT(varchar, @lv_buyinvdte, 112)
        DECLARE @lv_buyinvduedte2 nvarchar(14) = CONVERT(varchar, @lv_buyinvenddte, 112)
        SET @lv_curexcrte = @lv_curexcrte * 100000
        SET @lv_buyinvtotamt = @lv_buyinvtotamt * 1000

        -- creo cabecera de cuenta corriente
        EXEC FIN_SUM_DEF '01_sp', @lp_username, @lp_buscod, NULL, @lv_srcobjtyp, @lv_srcobjcod, 0, @lp_curcod, 'A', NULL, @lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT

        -- obtengo id de cuenta corriente
        if @lv_errcod=0
					set @lv_finsumcod = (select top 1 finsumcod from fin_sum where buscod=@lp_buscod and srcobjtyp=@lv_srcobjtyp and srcobjcod=@lv_srcobjcod)

        -- agrego comprobante de cuenta corriente
				if @lv_errcod=0
					exec FIN_SUM_DOC_DEF '01_sp',@lp_username,@lp_buscod,@lv_finsumcod,null,
						@lv_objtyp,@lp_buyinvcod,@lp_buyinvcodext,@lv_buyinvdte2,@lv_buyinvduedte2,
						@lv_srcobjtyp,@lv_srcobjcod,@lv_srcobjtxt,
						@lv_objtyp,@lp_buyinvcod,@lv_buyinvtotamt,null,@lp_curcod,@lv_curexcrte,'A',null,@lv_errtyp OUTPUT,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
      end
    
		-- actualizo status de documento
		if @lv_errcod=0
			begin
				UPDATE BUY_INV
				SET	docsts = 'C',
					updusr = @lp_username, 
					upddte = getdate()
				WHERE buscod=@lp_buscod
				  and buyinvcod=@lp_buyinvcod
				SET @lv_errcod = @@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_buyinvcod, @lv_errcod as errcod, @lv_errtxt as errtxt, @lv_errtyp as errtyp
				
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
