USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_STD_LOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_STD_LOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stdloccod		as int			= null,	-- id
@lp_stdloccodext	as nvarchar(20)	= null,	-- cÃ³digo
@lp_stdloctxt		as nvarchar(50)	= null,	-- nombre
@lp_stdloccmt		as nvarchar(max)=null,	-- comentarios
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null, -- vista

@lp_sysdocclscod	as int			= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'STL'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	No se puede borrar el establecimiento. Existen movimientos.			*/
/* ------------------------------------------------------------------------ */

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		-- codigo externo duplicado
		if not isnull(@lp_stdloccodext,'')=''
			IF exists(select top 1 * from edu_std_loc where buscod=@lp_buscod and not stdloccod=@lp_stdloccod and stdloccodext=@lp_stdloccodext)
				BEGIN
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
	END
	

-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN
		
		INSERT INTO EDU_STD_LOC 
			(buscod, stdloccodext, stdloctxt, stdloccmt, sysdocclscod, 
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stdloccodext, @lp_stdloctxt, @lp_stdloccmt, @lp_sysdocclscod,
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_stdloccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stdloccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE EDU_STD_LOC 
		SET	stdloccodext=@lp_stdloccodext,
			stdloctxt = @lp_stdloctxt,
			stdloccmt=@lp_stdloccmt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stdloccod = @lp_stdloccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stdloccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*, 
		a.adrstr, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon,
		l.lndtxt, lr.lndregtxt, lt.lndtwntxt,
		dc.sysdocclstxt
		FROM EDU_STD_LOC s 
			left join grl_dat_adr a on a.buscod=s.buscod and a.adrsrctyp='EDU_STL' and a.adrsrccod=s.stdloccod
			left join grl_dat_lnd l on l.lndcod=a.lndcod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod
			inner join SYS_DOC_CLS	dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod
		WHERE s.buscod=@lp_buscod
		  and s.stdloccod=@lp_stdloccod

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
				
		/* borro direccion */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrsrctyp='EDU_STL'
				  and adrsrccod=@lp_stdloccod
				SET @lv_errcod=@@ERROR
			END
					
		/* borro almacen */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM EDU_STD_LOC
				WHERE buscod=@lp_buscod
				  and stdloccod = @lp_stdloccod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stdloccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
    
    set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, ' s.*, a.adrstr, a.adrphn001, a.adrphn002, a.adreml ', 
                                     'edu_std_loc s '
																				+ ' left join grl_dat_adr a ON a.buscod=s.buscod and a.adrsrctyp='+QUOTENAME('EDU_STL','''')+' and a.adrsrccod=s.stdloccod '
																				+ ' left join sys_doc_cls dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod ', 
                                     's.buscod='+QUOTENAME(@lp_buscod,'''')
																				+ '   and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('STK_STL','''')+'))) '
																				+ (case when isnull(@lp_docsts,'')='' then '' else ' and s.docsts='+QUOTENAME('A','''') end), 
                                     's.stdloctxt	', default)
			execute( @lv_sql )
	END

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
