USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_INT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_INT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),				
@lp_sysintcod			as int			= null,			-- id 
@lp_sysintcodext	as nvarchar(20)	= null,	-- codigo 
@lp_sysinttxt			as nvarchar(50)	= null,	-- descripcion 
@lp_sysinturl			as nvarchar(400)= null,	-- url de interfaz
@lp_sysintatr			as nvarchar(max)= null,	-- atributos 
@lp_docsts				as nvarchar(02)	= null,		-- estado 

@lp_vewcfg				as nvarchar(max)= null,		-- config vista 

@lp_sysintlstrunsts	as nvarchar(02)	= null,	-- ultima ejecuciÃ³n - estado (E/W/S)
@lp_sysintlstrunlog	as nvarchar(max)= null	-- ultima ejecuciÃ³n - log 

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod int
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
  BEGIN
    IF not isnull(@lp_sysintcodext,'')='' 
      BEGIN
        IF exists(select top 1 * from SYS_INT where buscod=@lp_buscod and not sysintcod=@lp_sysintcod and sysintcodext=@lp_sysintcodext)
          BEGIN
            SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
            RETURN
          END
      END
  END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO sys_int (buscod, sysintcodext, sysinttxt, sysintatr, sysinturl, docsts, ctedte, cteusr)
		SELECT @lp_buscod, @lp_sysintcodext, @lp_sysinttxt, @lp_sysintatr, @lp_sysinturl, @lp_docsts, getdate(), @lp_username
		SET @lv_errcod = @@ERROR
		SET @lp_sysintcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysintcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt 
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE sys_int
		SET sysintcodext=@lp_sysintcodext,
			sysinttxt=@lp_sysinttxt,
			sysintatr=@lp_sysintatr,
			sysinturl = @lp_sysinturl,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and sysintcod=@lp_sysintcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysintcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt 
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT i.*
		FROM sys_int i
		where buscod=@lp_buscod
		  and sysintcod=@lp_sysintcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM sys_int_cnv
		WHERE buscod=@lp_buscod
		  and sysintcod=@lp_sysintcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_int
				WHERE buscod=@lp_buscod
				  and sysintcod=@lp_sysintcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysintcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt 
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' i.* ', ' SYS_INT i ',' i.buscod='+QUOTENAME(@lp_buscod,''''), ' i.sysintcod ', default)
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------ 
--   1 0    -    I N F O R M A R     E J E C U C I Ã“ N
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE sys_int
		SET sysintlstrun=getdate(),
				sysintlstrunsts=@lp_sysintlstrunsts,
				sysintlstrunlog=@lp_sysintlstrunlog,
				docsts=@lp_docsts,
				upddte=getdate(),
				updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and sysintcod=@lp_sysintcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysintcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt 
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
