USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_HLD_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADM_HLD_DEF]
@lp_sysoperation	as nvarchar(2),				-- id operacion
@lp_username		as nvarchar(20),				-- id usuario
@lp_buscod			as nvarchar(20),				-- id empresa
@lp_hldcod			as int					= null,	-- id
@lp_hldday			as int					= null,	-- aÃ±o
@lp_hldtxt			as nvarchar(50)	= null,	-- descripcion
@lp_lndcod			as nvarchar(05)	= null,	-- id paÃ­s
@lp_docsts			as nvarchar(2)	= null,	-- estado
@lp_vewcfg			as nvarchar(max)= null,	-- config vista
@lp_hldmov			as nvarchar(max)= null	-- tabla de feriados (JSON)

AS

-- ------------------------------------------------------------------------
-- Gestiona los Feriados/Dias Festivos en el sistema.
-- Se pueden configurar distintos dias festivos por aÃ±o y por paÃ­s.
-- Esta configuraciÃ³n puede ser establecida por cada empresa debido a que 
-- hay rubos que tienen dias particulaes, como ser, dÃ­a de la Sanidad para empresas de Salud.
-- ------------------------------------------------------------------------

SET NOCOUNT ON
declare @lv_validop as int = 0
declare @lv_sql as nvarchar(max)
declare @lv_autmdlcod as nvarchar(3) = 'ADM'
declare @lv_autprgcod as nvarchar(3) = 'HLD'

declare @lv_hldday as datetime



-- ------------------------------------------------------------------------
--  AUTORIZACION. verifica los permisos para operaciones especÃ­ficas
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('01','02','03','04','08')
	begin
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
-- VALIDACIONES. realiza validaciones iniciales de parametros o consistencias generales antes de procesa la peticion
-- ------------------------------------------------------------------------
-- verifica que se haya informado el id de feriado
if @lp_sysoperation in ('02','12','03','13','04','14')
	BEGIN
  	IF isnull(@lp_hldcod,0)=0
  		BEGIN
				select 'E' as errtyp, -1 as errcod, 'El parÃ¡metro @lp_hldcod es obligatorio para esta operaciÃ³n' as errtxt
    		RETURN
  		END
  END



-- ------------------------------------------------------------------------
-- PREPARACION. prepara los datos antes de procesar la peticion
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('01', '11', '02', '12')
	BEGIN
		
    BEGIN TRY
      -- preparo fecha general
      if( not isnull(@lp_hldday,0)=0 )
        set @lv_hldday = cast( cast( @lp_hldday as nvarchar(4)) + '-01-01 00:00:00' as datetime )

      -- preparo variable de datos json para evitar string vacio
      if isnull(@lp_hldmov,'')=''
        set @lp_hldmov = '[]'

      -- verifico que la tabla temporal no exista
      IF OBJECT_ID('tempdb..#tmpHldMov') IS NOT NULL
        DROP TABLE #tmpHldMov

      -- Desescapa las comillas y backslashes
      set @lp_hldmov = REPLACE(REPLACE(REPLACE(@lp_hldmov, '\"', '"'), '\\', ''), '"#', '#');
			
			-- cargo JSON como tabla
      select * into #tmpHldMov from OPENJSON(@lp_hldmov) WITH (
        hldmovcod int '$.hldmovcod',
        hldmovday nvarchar(14) '$.hldmovday',
        hldmovtxt nvarchar(400) '$.hldmovtxt'
        )
        
      -- actualizo las fechas DD/MM como YYYYMMDD
      update #tmpHldMov set hldmovday = cast(@lp_hldday as nvarchar(4)) + RIGHT(hldmovday,2) + LEFT(hldmovday,2) + '000000'
      
		END TRY
    BEGIN CATCH
      -- registra el log de error
      exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
    
  END



-- ------------------------------------------------------------------------
-- 01 - CREAR: inserta un nuevo feriado en ADM_HLD con sus fechas asociadas en ADM_HLD_MOV
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01', '11')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION
      BEGIN TRY
        -- creo cabecera de feriados
        INSERT INTO ADM_HLD (buscod, hldday, hldtxt, lndcod, docsts, cteusr, ctedte) 
        VALUES (@lp_buscod, @lv_hldday, @lp_hldtxt, @lp_lndcod, @lp_docsts, @lp_username, getdate() )
        SET @lp_hldcod= SCOPE_IDENTITY()

        -- asigno desplazamientos de fechas
        INSERT INTO ADM_HLD_MOV (buscod, hldcod, hldmovday, hldmovtxt, docsts, cteusr, ctedte) 
        SELECT @lp_buscod, @lp_hldcod, dbo.ConvertDate( hldmovday ), hldmovtxt, @lp_docsts, @lp_username, getdate()
        FROM #tmpHldMov
      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION;
				-- registra el log de error
        exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
    
    COMMIT TRANSACTION
    SELECT @lp_hldcod, 0 as errcod
    
	END



-- ------------------------------------------------------------------------
-- 02 - MODIFICAR: modifica un feriado en ADM_HLD y sus fechas asociadas en ADM_HLD_MOV
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02', '12')
	BEGIN
		SET @lv_validop = 1

		BEGIN TRANSACTION

			BEGIN TRY
      	-- actualizo datos de cabecera
        UPDATE ADM_HLD 
        SET	hldtxt = @lp_hldtxt,
          docsts=@lp_docsts,  updusr=@lp_username, upddte=getdate()
        WHERE buscod = @lp_buscod and hldcod = @lp_hldcod
        
        -- borro lo que no se informo
        DELETE FROM ADM_HLD_MOV
        WHERE buscod = @lp_buscod 
          and hldcod = @lp_hldcod 
          and hldmovcod not in (
            SELECT h.hldmovcod
            FROM  #tmpHldMov h
            WHERE isnull(h.hldmovcod, 0) != 0
          )

        -- actualizo lo que tiene ID en comun
        UPDATE a
        SET a.hldmovday = dbo.ConvertDate( x.hldmovday ),
            a.hldmovtxt = x.hldmovtxt,
            a.docsts=@lp_docsts, a.updusr=@lp_username, a.upddte=getdate()
        FROM ADM_HLD_MOV a
        inner join #tmpHldMov x on x.hldmovcod=a.hldmovcod
        WHERE a.buscod=@lp_buscod and a.hldcod=@lp_hldcod

        -- agrego lo que no tiene ID 
        INSERT INTO ADM_HLD_MOV (buscod, hldcod, hldmovday, hldmovtxt, docsts, cteusr, ctedte) 
        SELECT @lp_buscod, @lp_hldcod, dbo.ConvertDate( hldmovday ), hldmovtxt, @lp_docsts, @lp_username, getdate()
        FROM #tmpHldMov
        WHERE isnull(hldmovcod,0)=0
			END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        -- registra el log de error
        EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
		
    COMMIT TRANSACTION  
		SELECT @lp_hldcod, 0 as errcod

	END



-- ------------------------------------------------------------------------
-- 03 - VER: devuelve un nuevo feriado con sus fechas asociadas
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('03', '13')
	BEGIN
		SET @lv_validop = 1    

		-- obtengo desplazamientos en formato JSON
		set @lp_hldmov = isnull( (SELECT hm.* FROM ADM_HLD_MOV hm WHERE hm.buscod=@lp_buscod and hm.hldcod=@lp_hldcod FOR JSON PATH), '[]' )

		-- devuelvo cabecera y desplazamientos
		SELECT h.*, l.lndtxt, @lp_hldmov as hldmov
		FROM ADM_HLD h
		left join GRL_DAT_LND l on l.LndCod=h.LndCod
		WHERE buscod = @lp_buscod
		  and hldcod = @lp_hldcod

	END



-- ------------------------------------------------------------------------
-- 04 - BORRAR: borra un feriado y las fechas asociadas
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04', '14')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRANSACTION

			BEGIN TRY
        -- borro los desplazamientos del feriado
        DELETE
        FROM ADM_HLD_MOV
        WHERE buscod=@lp_buscod
          and hldcod=@lp_hldcod
				  
				-- borro los datos del feriado
				DELETE 
				FROM ADM_HLD 
				WHERE buscod = @lp_buscod
				  and hldcod = @lp_hldcod
			END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        -- registra el log de error
        EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH
    
    COMMIT TRANSACTION
		SELECT @lp_hldcod, 0 as errcod

	END



-- ------------------------------------------------------------------------
-- 08 - LISTAR: devuelve una lista de aÃ±os calendarios de feriados
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('08', '18')
	BEGIN
		SET @lv_validop = 1    
		
		-- adm_hld_def '08','temasis','dballester'
    
		BEGIN TRY
		
      set @lv_sql = dbo.getSQLSentence( @lp_vewcfg,
        ' h.*, l.lndtxt, datepart(year,h.hldday) as hlddayyth ',
        ' ADM_HLD h inner join GRL_DAT_LND l on l.lndcod=h.lndcod ',
        ' h.buscod='+QUOTENAME(@lp_buscod, ''''),
        ' hlddayyth desc ', default)
			execute( @lv_sql)
      
    END TRY
    BEGIN CATCH
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod, @lv_sql
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
		
	END


	
-- ------------------------------------------------------------------------
-- 01 - FERIADOS DEL MES: devuelve una lista de fechas correspondientes a feriados
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('23')
	BEGIN
		SET @lv_validop = 1    
		
		-- adm_hld_def '08','temasis','dballester'
    
		BEGIN TRY

      set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, 
        ' hm.*, h.hldday ',
        ' ADM_HLD_MOV hm inner join ADM_HLD h on h.buscod=hm.buscod and h.hldcod=hm.hldcod ',
        ' hm.buscod='+QUOTENAME(@lp_buscod, ''''),
        ' h.hldday desc, hm.hldmovday ', default)
      execute( @lv_sql )

    END TRY
    BEGIN CATCH
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod, @lv_sql
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN
  	BEGIN TRY
			RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
    END TRY
    BEGIN CATCH
    	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
	END
GO
