USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_PRC_CND_FOR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_PRC_CND_FOR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_prccndforcod	as int			= null,	-- id
@lp_prccndforcodext	as nvarchar(20) = null,	-- codigo
@lp_prccndfortxt	as nvarchar(50)	= null,	-- descripciÃ³n
@lp_prccndforsrctyp	as int			= null,	-- origen - tipo
@lp_prccndforsrc	as nvarchar(max)= null,	-- origen
@lp_docsts			as nvarchar(02)	= null,	-- estado
											
@lp_vewcfg			as nvarchar(max)= null,	-- config vista
											
@lp_prccndforsrczcu	as nvarchar(max)= null,	-- variables ZCU
@lp_prccndforcmt	as nvarchar(max)= null	-- notas-comentarios

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not isnull(@lp_prccndforcodext,'')=''
			if exists(select top 1 * from GRL_PRC_CND_FOR where buscod=@lp_buscod and not prccndforcod=@lp_prccndforcod and prccndforcodext=@lp_prccndforcodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DUPLICATEEXTCODE' as errmsg
					RETURN
				end

	end

IF @lp_sysoperation = '04'
	BEGIN
		IF exists(select top 1 * from grl_prc_sch_cnd where buscod=@lp_buscod and prccndforcod=@lp_prccndforcod)
			begin
				select 'E' as errtyp, -41 as errcod, 'CANNOTDELETEUSEDINSCHEME' as errmsg
				return
			end
  END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		-- creo formula
		INSERT INTO GRL_PRC_CND_FOR (buscod, prccndforcodext, prccndfortxt, prccndforsrctyp, prccndforsrc, prccndforcmt, docsts, cteusr, ctedte, prccndforsrczcu)
		VALUES (@lp_buscod, @lp_prccndforcodext, @lp_prccndfortxt, @lp_prccndforsrctyp, @lp_prccndforsrc, @lp_prccndforcmt, @lp_docsts, @lp_username, getdate(), @lp_prccndforsrczcu)
		SET @lv_errcod = @@ERROR
		SET @lp_prccndforcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndforcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_PRC_CND_FOR 
		SET	prccndforcodext = @lp_prccndforcodext,
			prccndfortxt= @lp_prccndfortxt,
			prccndforsrctyp=@lp_prccndforsrctyp,
			prccndforsrc=@lp_prccndforsrc,
			prccndforsrczcu=@lp_prccndforsrczcu,
			prccndforcmt=@lp_prccndforcmt,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and prccndforcod = @lp_prccndforcod

		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndforcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pf.*
		FROM GRL_PRC_CND_FOR pf
		WHERE pf.buscod = @lp_buscod
		  and pf.prccndforcod = @lp_prccndforcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM GRL_PRC_CND_FOR
		WHERE buscod = @lp_buscod
		  and prccndforcod = @lp_prccndforcod

		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prccndforcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' pf.* ',
			' GRL_PRC_CND_FOR pf ',
			' pf.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and pf.docsts='+QUOTENAME(@lp_docsts,'''') end) ,
 			' pf.prccndfortxt ', default )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
