USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_DIS_CLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_DIS_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hltdisclscod 	as int			= null,		/* codigo */
@lp_hltdisclstxt	as nvarchar(50)	= null,		/* descripción */
@lp_hltdisclscodext	as nvarchar(10)	= null,		/* codigo externo */
@lp_docsts			as nvarchar(02) = null,		/* estado */

@lp_vewcfg			as nvarchar(max)=null		/* vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-1	La clasificación no se puede borrar. Esta asignada a pacientes		*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_hltdisclscodext=''
			if exists(select top 1 * from hlt_dis_cls where buscod=@lp_buscod and not hltdisclscod=@lp_hltdisclscod and hltdisclscodext=@lp_hltdisclscodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end
	
	end	


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_DIS_CLS (buscod, hltdisclstxt, hltdisclscodext, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hltdisclstxt, @lp_hltdisclscodext, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hltdisclscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltdisclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_DIS_CLS 
		SET	hltdisclstxt = @lp_hltdisclstxt,
			hltdisclscodext = @lp_hltdisclscodext,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hltdisclscod = @lp_hltdisclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltdisclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*
		FROM HLT_DIS_CLS s
		WHERE s.buscod=@lp_buscod
		  and s.hltdisclscod=@lp_hltdisclscod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from hlt_pat where buscod=@lp_buscod and hltdisclscod=@lp_hltdisclscod)
			BEGIN
				SELECT null, -1 as errcod, 'La clasificación no se puede borrar. Se encuentra asociada a pacientes.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		DELETE
		FROM HLT_DIS_CLS
		WHERE buscod = @lp_buscod
		  and hltdisclscod = @lp_hltdisclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltdisclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM HLT_DIS_CLS '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'hltdisclstxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
