USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_TCH_PRF_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_TCH_PRF_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		-- empresa 
@lp_tchprfcod		as int			= null, -- id 
@lp_tchcod 			as int			= null,	-- id prestador 
@lp_eduprfcod		as int			= null,	-- id especialidad 
@lp_tchprfatr		as nvarchar(max)=null,	-- atributos 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null	-- configuraciÃ³n vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		IF exists(select top 1 * from EDU_TCH_PRF where buscod=@lp_buscod and tchcod=@lp_tchcod and eduprfcod=@lp_eduprfcod)
			set @lp_sysoperation='02'
		ELSE
			set @lp_sysoperation='01'

	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO EDU_TCH_PRF (buscod, tchcod, eduprfcod, tchprfatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_tchcod, @lp_eduprfcod, @lp_tchprfatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_tchprfcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tchprfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE EDU_TCH_PRF
		SET eduprfcod	= @lp_eduprfcod,
			tchprfatr = @lp_tchprfatr,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and tchprfcod = @lp_tchprfcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tchprfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT tp.*, p.eduprftxt
		FROM EDU_TCH_PRF tp
			left join EDU_PRF p on p.buscod=tp.buscod and p.eduprfcod=tp.eduprfcod
		WHERE tp.buscod = @lp_buscod
		  and tp.tchprfcod = @lp_tchprfcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM EDU_TCH_PRF
		WHERE buscod = @lp_buscod
		  and tchprfcod = @lp_tchprfcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tchprfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' tp.*, p.eduprftxt ',
			' EDU_TCH_PRF tp '
			+ ' inner join edu_prf p on p.buscod=tp.buscod and p.eduprfcod=tp.eduprfcod '
			+ ' inner join edu_tch t on t.buscod=tp.buscod and t.tchcod=tp.tchcod ',
			' tp.buscod='+QUOTENAME(@lp_buscod,''''), ' p.eduprftxt ', default )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
