USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_DRT_GRP_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_DRT_GRP_TYP_DEF]

@lp_sysoperation			as nvarchar(2),
@lp_username				as nvarchar(20),
@lp_syssecdrtgrptypcod		as int				= null,	/* id registro */
@lp_syssecdrtgrpcod			as int				= null,	/* id grupo */
@lp_syssecdrttypcod			as int				= null,	/* id tipo */
@lp_syssecdrpgrptypdefval	as nvarchar(4000)	= null,	/* valor default del tipo */
@lp_docsts					as nvarchar(02)		= null,	/* estado */

@lp_vewcfg					as nvarchar(4000)			= null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		INSERT INTO SYS_SEC_DRT_GRP_TYP (syssecdrtgrpcod, syssecdrttypcod, syssecdrtgrptypdefval,
			docsts, ctedte, cteusr) 
		VALUES (@lp_syssecdrtgrpcod, @lp_syssecdrttypcod, @lp_syssecdrpgrptypdefval,
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_syssecdrtgrptypcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_syssecdrtgrptypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE SYS_SEC_DRT_GRP_TYP 
		SET syssecdrttypcod	= @lp_syssecdrttypcod,
			syssecdrtgrptypdefval	= @lp_syssecdrpgrptypdefval, 
			docsts			= @lp_docsts,
			upddte			= getdate(),
			updusr			= @lp_username
		WHERE syssecdrtgrptypcod = @lp_syssecdrtgrptypcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_syssecdrtgrptypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT gt.*
		FROM SYS_SEC_DRT_GRP_TYP gt 
		WHERE gt.syssecdrtgrptypcod = @lp_syssecdrtgrptypcod
		
	END


/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE FROM SYS_SEC_DRT_GRP_TYP 
		WHERE syssecdrtgrptypcod = @lp_syssecdrtgrptypcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_syssecdrtgrptypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' gt.* '
			+ ' FROM SYS_SEC_DRT_GRP_TYP gt '
			+ ' WHERE 1 = 1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'gt.syssecdrttypcod' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
