USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MOV_DOC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MOV_DOC_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),

@lp_stkmovdoccod	as int			= null,	-- id
@lp_stkmovdoccodext	as nvarchar(20) = null,	-- codigo (nro documento)
@lp_stkmovdocdte	as nvarchar(14)	= null,	-- fecha documento
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- objeto origen
@lp_srcobjcod		as int			= null,	-- id origen
@lp_srccntcod		as int			= null, -- id origen contacto
@lp_dstobjtyp 		as nvarchar(20)	= null,	-- objeto destino
@lp_dstobjcod 		as int			= null,	-- id destino
@lp_dstcntcod		as int			= null, -- id destino contacto
@lp_stkmovrsncod	as int			= null, -- id motivo de pedido
@lp_stkmovdoclck	as nvarchar(1)	= null,	-- bloqueo de movimiento
@lp_sysdocclscod	as int			= null,	-- punto de emisiÃ³n
@lp_stkmovdoccmt 	as nvarchar(max)= null,	-- comentarios
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista
@lp_stkmovdoccnf	as nvarchar(max)= null,	-- datos de confirmaciÃ³n
@lp_sysdocrejcod	as int			= null,	-- id motivo de rechazo
@lp_traroucod		as int			= null,	-- id ruta

@lp_stkmovdoc		as nvarchar(max)= null,	-- cabecera del documento
@lp_stkmovdocmat	as nvarchar(max)= null,	-- materiales del documento

@lp_errcod			as int			= 0		OUTPUT,	-- codigo de error
@lp_errtxt			as nvarchar(500)= null	OUTPUT,	-- descripcin de error

@lp_stkmovdocatr as nvarchar(max)= null,	-- atributos del documento

@lp_errmat			as nvarchar(max)	= null	OUTPUT	-- materiales error

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(max)

declare @lv_sql as nvarchar(max)

declare @lv_stkmovdocdte as datetime = dbo.ConvertDate( @lp_stkmovdocdte )
declare @lv_objtyp as nvarchar(20)
declare @lv_srcobjtxt as nvarchar(500)
declare @lv_srcobjdattxt as nvarchar(500)
declare @lv_dstobjtxt as nvarchar(500)
declare @lv_dstobjdattxt as nvarchar(500)
declare @lv_stkmovdocdtecnv as nvarchar(50)
declare @lv_srcobjtyptxt as nvarchar(500)
declare @lv_dstobjtyptxt as nvarchar(500)
declare @lv_cteusr as nvarchar(20)
declare @lp_excrteclscod as int;



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
    DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
    DECLARE @lv_autprgcod as nvarchar(3) = 'MOV'
    
  	if @lp_sysoperation='01' -- x clase de documento
    	set @lv_objtyp = (select top 1 objtyp from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
    if @lp_sysoperation='02' or @lp_sysoperation='03' or @lp_sysoperation='04' or @lp_sysoperation='09' -- x documento
    	set @lv_objtyp = (select top 1 dc.objtyp from stk_mov_doc d inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovdoccod=@lp_stkmovdoccod)
  	if @lp_sysoperation='08'
    	begin
        if charindex( 'dc.objtyp='+QUOTENAME('STK_SOU',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'STK_SOU'
        if charindex( 'dc.objtyp='+QUOTENAME('STK_SIN',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'STK_SIN'
        if charindex( 'dc.objtyp='+QUOTENAME('STK_SIV',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'STK_SIV'
        if charindex( 'dc.objtyp='+QUOTENAME('STK_LCK',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'STK_LCK'
  		end
    set @lv_autprgcod = (select substring(@lv_objtyp, 5, 3))
  
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--	V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		
		-- stock de reserva por objeto de verificaciÃ³n
		if exists(select top 1 * from dbo.getParameter(@lp_buscod,'STK','ENABLE_MATERIAL_RESERVATION') where prmval=dbo.getTagValue('srcobjtyp',@lp_stkmovdoc)+'_'+cast(dbo.getTagValue('srcobjcod',@lp_stkmovdoc) as nvarchar(20)) )
			begin
				-- STOCK. validacion de existencias (incluido los materiales del documento actual)
				EXECUTE STK_MAT_STK_DEF '13', @lp_username, @lp_buscod, @lp_stkmovdoccod, null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT, @lp_errmat OUTPUT, @lp_stkmovdoc, @lp_stkmovdocmat
				IF not @lv_errcod=0
					BEGIN
						SELECT null, @lv_errcod as errcod, @lv_errtxt as errtxt, @lp_errmat as errmat
						RETURN
					END
			end

		IF @lp_sysoperation='02' and (select top 1 docsts from STK_MOV_DOC where BusCod=@lp_buscod and StkMovDocCod=@lp_stkmovdoccod)='C'
			set @lp_sysoperation = '22'

	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		INSERT INTO STK_MOV_DOC (buscod, stkmovdoccodext, stkmovdocdte, stkmovdoccmt, stkmovdoclck, stkmovrsncod, 
			srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, sysdocclscod, sysdocrejcod, traroucod, stkmovdocatr, 
			docsts, cteusr, ctedte, sysdoctrecod) 
		VALUES (@lp_buscod, @lp_stkmovdoccodext, @lv_stkmovdocdte, @lp_stkmovdoccmt, @lp_stkmovdoclck, @lp_stkmovrsncod, 
			@lp_srcobjtyp, @lp_srcobjcod, @lp_srccntcod, @lp_dstobjtyp, @lp_dstobjcod, @lp_dstcntcod, @lp_sysdocclscod, @lp_sysdocrejcod, @lp_traroucod, @lp_stkmovdocatr, 
			@lp_docsts, @lp_username, getdate(), 'N')
		SET @lv_errcod=@@ERROR
		SET @lp_stkmovdoccod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmovdoccod as stkmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END



-- ------------------------------------------------------------------------
--   0 2    -    MODIFICAR
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
		
		-- si el documento no estÃ¡ contabilizado, se puede actualizar
		IF (select top 1 docsts from stk_mov_doc where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod)='C'
			BEGIN
				SELECT null, -9 as errcod, 'No se puede actualizar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		UPDATE STK_MOV_DOC
		SET	stkmovdoccodext= @lp_stkmovdoccodext,
			stkmovdocdte=@lv_stkmovdocdte,
			srcobjtyp = @lp_srcobjtyp, 
			srcobjcod = @lp_srcobjcod, 
			srccntcod = @lp_srccntcod, 
			dstobjtyp = @lp_dstobjtyp, 
			dstobjcod = @lp_dstobjcod, 
			dstcntcod = @lp_dstcntcod, 
			stkmovdoclck = @lp_stkmovdoclck,
			stkmovdoccmt = @lp_stkmovdoccmt, 
			stkmovrsncod = @lp_stkmovrsncod,
			sysdocrejcod = @lp_sysdocrejcod,
			traroucod = @lp_traroucod, 
      stkmovdocatr = @lp_stkmovdocatr,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmovdoccod=@lp_stkmovdoccod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovdoccod as stkmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, do.objtyptxt as dstobjtyptxt, convert(varchar,d.stkmovdocdte,103) as stkmovdocdtecnv, '
			+ ' asr.adrnme001 as srcobjtxt, ad.adrnme001 as dstobjtxt, scnt.cnttxt as srccnttxt, dcnt.cnttxt as dstcnttxt, '
			+ ' ad.adrstr as dstobjadrstr, ad.adrcty as dstobjadrcty, dr.sysdocrejtxt, dt.sysdoctretxt, tr.traroutxt '
      + ' , dbo.getTagValue('+QUOTENAME('cnftyp','''')+', d.stkmovdoccnf) as stkmovdoccnftyp '
      + ' , dbo.getTagValue('+QUOTENAME('cnfdte','''')+', d.stkmovdoccnf) as stkmovdoccnfdte '
      + ' , dbo.getTagValue('+QUOTENAME('cnfcmt','''')+', d.stkmovdoccnf) as stkmovdoccnfcmt '
			+ ' FROM stk_mov_doc d '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join sys_obj_typ do on do.objtypcod=d.dstobjtyp '
			+ ' left join grl_dat_adr asr on asr.buscod=d.buscod and asr.adrsrctyp=d.srcobjtyp and asr.adrsrccod=cast(d.srcobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt scnt on scnt.buscod=d.buscod and scnt.cntcod=d.srccntcod '
			+ ' left join grl_dat_adr ad on ad.buscod=d.buscod and ad.adrsrctyp=d.dstobjtyp and ad.adrsrccod=cast(d.dstobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt dcnt on dcnt.buscod=d.buscod and dcnt.cntcod=d.dstcntcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=d.buscod and dr.sysdocrejcod=d.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=d.buscod and dt.sysdoctrecod=d.sysdoctrecod '
			+ ' left join LOG_TRA_ROU tr on tr.buscod=d.buscod and tr.traroucod=d.traroucod '
			+ ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and d.stkmovdoccod='+QUOTENAME(@lp_stkmovdoccod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' d.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from stk_mov_doc where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod)='C'
			BEGIN
				SELECT null, -10 as errcod, 'No se puede borrar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		-- obtengo el objeto de la clase de documento
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_mov_doc d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovdoccod=@lp_stkmovdoccod)

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_stkmovdoccod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro materiales del documento
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM stk_mov_doc_mat 
				WHERE buscod = @lp_buscod
				  and stkmovdoccod = @lp_stkmovdoccod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro textos
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, @lv_objtyp, @lp_stkmovdoccod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro id de inventario de elaboraciones
		IF @lv_errcod=0 and @lv_objtyp='STK_SIV'
			BEGIN
				UPDATE STK_MOV_ELB
				SET StkMovDocCod = NULL
				WHERE buscod = @lp_buscod
					and StkMovDocCod = @lp_stkmovdoccod
				SET @lv_errcod=@@ERROR
			END

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM stk_mov_doc 
				WHERE buscod = @lp_buscod
				  and stkmovdoccod = @lp_stkmovdoccod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovdoccod as stkmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		
		-- stk_mov_doc_def '08','mdominguez','temasis_hlt'
		-- STK_MOV_DOC_DEF '08','GRUSSO','TEMASIS_HLT','','','','','','','','','','','0','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT> AND (STKMOVDOCDTECNV BETWEEN ^01/12/2018^ AND ^20/01/2018^) AND (DC.OBJTYP=^STK_SIN^) AND (D.STKMOVDOCLCK=^0^) AND (DC.OBJTYP=^STK_SIN^) AND (D.STKMOVDOCLCK=^0^)</VEWFLT></VIEW>',''

    if charindex( 'dc.objtyp='+QUOTENAME('STK_SOU',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
      set @lv_objtyp = 'STK_SOU'
    if charindex( 'dc.objtyp='+QUOTENAME('STK_SIN',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
      set @lv_objtyp = 'STK_SIN'
    if charindex( 'dc.objtyp='+QUOTENAME('STK_SIV',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
      set @lv_objtyp = 'STK_SIV'
    if charindex( 'dc.objtyp='+QUOTENAME('STK_LCK',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
      set @lv_objtyp = 'STK_LCK'


		/*REALIZAMOS CONVERCIONES DE LOS CAMPOS CON ALIAS O CON FORMULA DE LA CONFIGURACION DE LA VISTA PARA LOS FILTROS Y EL ORDEN*/
		set @lv_srcobjtxt = ' asr.adrnme001 '
		set @lv_dstobjtxt = ' adr.adrnme001 '
		set @lv_srcobjdattxt = ' asr.adrnme001 '
		set @lv_dstobjdattxt = ' adr.adrnme001 '
		set @lv_stkmovdocdtecnv = 'convert(varchar,d.stkmovdocdte,103)'
		set @lv_srcobjtyptxt = 'so.objtyptxt'
		set @lv_dstobjtyptxt = 'do.objtyptxt '
		set @lv_cteusr = 'd.cteusr'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' d.*, dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, do.objtyptxt as dstobjtyptxt, '
			+ ' convert(varchar, d.stkmovdocdte, 103) as stkmovdocdtecnv, '
			+ @lv_srcobjtxt+' as srcobjtxt, '
			+ @lv_dstobjtxt+' as dstobjtxt, '
			+ @lv_srcobjdattxt+' as srcobjdattxt, '
			+ @lv_dstobjdattxt+' as dstobjdattxt, '
			+ ' scnt.cnttxt as srccnttxt, '
			+ ' dcnt.cnttxt as dstcnttxt, dcnta.adrstr as dstcntadrstr, dcntl.lndtxt as dstcntlndtxt, dcntlr.lndregtxt as dstcntlndregtxt, dr.sysdocrejtxt, dt.sysdoctretxt, tr.traroutxt '
      + ' , dbo.getTagValue('+QUOTENAME('cnftyp','''')+', d.stkmovdoccnf) as stkmovdoccnftyp '
      + ' , dbo.getTagValue('+QUOTENAME('cnfdte','''')+', d.stkmovdoccnf) as stkmovdoccnfdte '
      + ' , dbo.getTagValue('+QUOTENAME('cnfcmt','''')+', d.stkmovdoccnf) as stkmovdoccnfcmt '
      + ' , asr.adrmapgeo as srcobjmapgeo '
			+ ' ,	scnta.adrmapgeo as srccntmapgeo '
			+ ' ,	adr.adrmapgeo as dstobjmapgeo '
			+ ' ,	dcnta.adrmapgeo as dstcntmapgeo ',
			' stk_mov_doc d '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join sys_obj_typ do on do.objtypcod=d.dstobjtyp '
			+ ' left join grl_dat_adr asr on asr.buscod=d.buscod and asr.adrsrctyp=d.srcobjtyp and asr.adrsrccod=cast(d.srcobjcod as nvarchar(20)) '
			+ ' left join grl_dat_adr adr on adr.buscod=d.buscod and adr.adrsrctyp=d.dstobjtyp and adr.adrsrccod=cast(d.dstobjcod as nvarchar(20)) '
			+ ' left join grl_dat_adr dcnta on dcnta.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and dcnta.adrsrccod=d.dstcntcod '
			+ ' left join grl_dat_adr scnta on scnta.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and scnta.adrsrccod=d.srccntcod '                                     
			+ ' left join grl_dat_cnt scnt on scnt.buscod=d.buscod and scnt.cntcod=d.srccntcod '
			+ ' left join grl_dat_cnt dcnt on dcnt.buscod=d.buscod and dcnt.cntsrctyp=d.dstobjtyp and dcnt.cntsrccod=d.dstobjcod and dcnt.cntcod=d.dstcntcod '
			+ ' left join grl_dat_lnd dcntl on dcntl.lndcod=dcnta.lndcod '
			+ ' left join grl_dat_lnd_reg dcntlr on dcntlr.lndcod=dcnta.lndcod and dcntlr.lndregcod=dcnta.lndregcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=d.buscod and dr.sysdocrejcod=d.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=d.buscod and dt.sysdoctrecod=d.sysdoctrecod '
			+ ' left join LOG_TRA_ROU tr on tr.buscod=d.buscod and tr.traroucod=d.traroucod ',
    	' d.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME(@lv_objtyp,'''')+', dc.autcod)=1 '
			+ ' and (( 1=1 ' + dbo.GetUserRestrictions(@lp_buscod,@lp_username,'<objref>d.srcobjtyp,d.srcobjcod</objref>') + ' ) OR ( 1=1 ' + dbo.GetUserRestrictions(@lp_buscod,@lp_username,'<objref>d.dstobjtyp,d.dstobjcod</objref>') + ' )) ',
			' d.ctedte desc ',
      ' srcobjtxt;'+@lv_srcobjtxt
      + char(10)+'srcobjdattxt;'+@lv_srcobjdattxt
  		+ char(10)+'srccnttxt;scnt.cnttxt'
      + char(10)+'dstobjtxt;'+@lv_dstobjtxt
      + char(10)+'dstobjdattxt;'+@lv_dstobjdattxt
      + char(10)+'dstcnttxt;dcnt.cnttxt'
      + char(10)+'stkmovdocdtecnv;d.stkmovdocdte'
      + char(10)+'cteusr;'+@lv_cteusr
      + char(10)+'srcobjtyptxt;'+@lv_srcobjtyptxt
      + char(10)+'dstobjtyptxt;'+@lv_dstobjtyptxt
      + char(10)+'stkmovdoccnftyp;dbo.getTagValue('+QUOTENAME('cnftyp','''')+', d.stkmovdoccnf)'
      + char(10)+'stkmovdoccnfdte;dbo.getTagValue('+QUOTENAME('cnfdte','''')+', d.stkmovdoccnf)'
      + char(10)+'stkmovdoccnfcmt;dbo.getTagValue('+QUOTENAME('cnfcmt','''')+', d.stkmovdoccnf)' 
      )
			execute( @lv_sql )
		
	END	
	


-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('09', '19', '09_sp')
	BEGIN
		SET @lv_validop = 1    

		-- DATOS. obtengo datos del documento
		declare @lv_doccodext as nvarchar(20)
		declare @lv_docrngcodint as int
		declare @lv_docrngcodext as int
		declare @lv_sysdocclsatr as nvarchar(max)
		select @lv_doccodext=md.StkMovDocCodExt, @lp_srcobjcod=md.srcobjcod, @lp_dstobjcod=md.dstobjcod, @lv_objtyp=dc.objtyp, @lv_docrngcodint=dc.docrngcodint, @lv_docrngcodext=dc.docrngcodext, @lv_sysdocclsatr=dc.sysdocclsatr, @lp_docsts=md.docsts, @lp_stkmovdoclck=stkmovdoclck
		from stk_mov_doc md
		 inner join sys_doc_cls dc on dc.buscod=md.buscod and dc.SysDocClsCod=md.SysDocClsCod
		where md.buscod=@lp_buscod
		  and md.stkmovdoccod=@lp_stkmovdoccod

		-- verifico status de documento
		if @lp_docsts='I'
			begin
				set @lp_errcod = -1
				set @lp_errtxt = 'No se puede contabilizar un documento Inactivo.'
			end
		if @lp_docsts='C'
			begin
				set @lp_errcod = -1
				set @lp_errtxt = 'No se puede contabilizar un documento Contabilizado.'
			end
		if not @lp_stkmovdoclck='0'
			begin
				set @lp_errcod = -1
				set @lp_errtxt = 'No se puede contabilizar un documento Bloqueado.'
			end
		if not @lp_errcod=0
      begin
        if not @lp_sysoperation = '09_sp'
          select null, @lp_errcod as errcod, @lp_errtxt as errtxt
        return
			end

		-- ORIGEN. valido domicilio de objeto de origen
		if not dbo.GetTagValue('srcobjtyp',@lv_sysdocclsatr)=''
			if not exists( select top 1 * from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=dbo.GetTagValue('srcobjtyp',@lv_sysdocclsatr) and adrsrccod=@lp_srcobjcod)
				begin
        	set @lp_errcod = -93
          set @lp_errtxt = 'CÃ³digo de origen invÃ¡lido.'
          if not @lp_sysoperation = '09_sp'
            select null, @lp_errcod as errcod, @lp_errtxt as errtxt
					return
				end
		
		-- DESTINO. valido domicilio de objeto de destino
		if not dbo.GetTagValue('dstobjtyp',@lv_sysdocclsatr)=''
			if not exists( select top 1 * from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=dbo.GetTagValue('dstobjtyp',@lv_sysdocclsatr) and adrsrccod=@lp_dstobjcod)
				begin
        	set @lp_errcod = -93
          set @lp_errtxt = 'CÃ³digo de destino invÃ¡lido.'
          if not @lp_sysoperation = '09_sp'
            select null, @lp_errcod as errcod, @lp_errtxt as errtxt
					return
				end

		-- ITEMS. valido que existan materiales para el documento
		IF not exists (select top 1 * from stk_mov_doc_mat where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod)
			BEGIN
        set @lp_errcod = -101
        set @lp_errtxt = 'El documento debe contener al menos un item.'
        if not @lp_sysoperation = '09_sp'
          select null, @lp_errcod as errcod, @lp_errtxt as errtxt
        return
			END

		-- STOCK. validacion de existencias
		EXECUTE STK_MAT_STK_DEF '13', @lp_username, @lp_buscod, @lp_stkmovdoccod, null, @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lp_errmat OUTPUT
		IF not @lp_errcod=0
			BEGIN
        if not @lp_sysoperation = '09_sp'
					SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt, @lp_errmat as errmat
				RETURN
			END

    if not @lp_sysoperation = '09_sp'
			BEGIN TRAN

		-- NUMERACION. determino y actualizo numeraciÃ³n
		declare @lv_docrngcod as int
		set @lv_docrngcod = (case when not isnull(@lv_docrngcodint,0)=0 then @lv_docrngcodint when not isnull(@lv_docrngcodext,0)=0 then @lv_docrngcodext else 0 end)

		declare @lv_docrngatr as nvarchar(4000)
		set @lv_docrngatr =	(case	when not isnull(@lv_docrngcodint,0)=0 then '<docrngcodint>X</docrngcodint>'
									when not isnull(@lv_docrngcodext,0)=0 then '<docrngcodext>X</docrngcodext>'
							else '' end)

 		if not @lv_docrngcod=0
			BEGIN
				declare @lv_docnumint as int
				set @lv_docnumint = convert(int, @lv_doccodext)
				EXECUTE GRL_DAT_DOC_RNG_DEF '11', @lp_username, @lp_buscod,
				@lv_docrngcod,null,null,null,null,null,null,@lv_docrngatr,null,null,@lv_docnumint OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT
				set @lv_doccodext = @lv_docnumint
			END

		-- CABECERA. Actualizo status de cabecera de documento
		IF @lp_errcod=0
			BEGIN
				UPDATE stk_mov_doc 
				SET stkmovdoccodext = @lv_doccodext,
					docsts='C',
					upddte=getdate(),
					updusr=@lp_username,
          accdte=getdate(),
          accusr=@lp_username
				WHERE buscod=@lp_buscod 
				  and stkmovdoccod=@lp_stkmovdoccod
				SET @lp_errcod=@@ERROR
			END

		-- POSICIONES. Costos. Actualizo costos en posiciones del documento
		IF @lp_errcod=0
			BEGIN
				UPDATE dm
				SET MatCst = dbo.ConvertMaterialUnit(@lp_buscod, dm.matcod, dm.matqty, dm.matuntcod,mc.matcstuntcod)*mc.matcst/mc.matcstqty,
					MatCstCurCod = mc.matcstcurcod
				FROM STK_MOV_DOC_MAT dm
				inner join STK_MAT_CST mc on mc.buscod=dm.buscod and mc.matcod=dm.matcod
				WHERE dm.buscod=@lp_buscod
				  and dm.StkMovDocCod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				  and not mc.matcstqty=0
				  and not mc.matcstuntcod=''
				SET @lp_errcod=@@ERROR
			END

		-- COSTOS. PUC - actualizo costo de materiales con precio de ultima compra (PUC) segÃºn parametro de clase de documento
		if dbo.getTagValue('stkmatcstupd',@lv_sysdocclsatr)='PUC'
			begin
				set @lp_excrteclscod = (select top 1 excrteclscod from fin_exc_rte_cls where buscod=@lp_buscod and excrteclscodext='CPA')
				-- determino el costo agrupando los origenes (puede haber mas de un documento de origen para el mismo material)
				select	dm.buscod, dm.matcod, 
						sum( dbo.convertmaterialunit(dm.buscod, dm.matcod, dm.matqty, dm.matuntcod, mc.matcstuntcod) ) as matqty,
						mc.matcstuntcod as matuntcod,
						sum( dbo.convertcurrency(dm.buscod,getdate(),@lp_excrteclscod,bm.MatPrc,bm.curcod,mc.matcstcurcod)*dm.matqty ) as mattotprc,
						mc.matcstcurcod as curcod
				INTO #tmp_data_cstpuc
				FROM STK_MOV_DOC_MAT dm
				inner join STK_MAT m on m.buscod=dm.buscod and m.matcod=dm.matcod 
				inner join STK_MAT_CST mc on mc.buscod=m.buscod and mc.matcod=m.matcod 
				inner join BUY_ORD_MAT bm on bm.buscod=dm.buscod and bm.buyordcod=dm.docrefcod and bm.buyordmatcod=dm.docrefposcod 
				inner join BUY_ORD b on b.buscod=bm.buscod and b.buyordcod=bm.buyordcod 
				WHERE dm.buscod=@lp_buscod
				  and dm.StkMovDocCod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				GROUP BY dm.buscod, dm.matcod, mc.matcstuntcod, mc.matcstcurcod

				declare @lv_matcod as int
				declare @lv_matcstqty as decimal(13,3)
				declare @lv_matcstuntcod as nvarchar(5)
				declare @lv_matcstcurcod as nvarchar(5)
				declare @lv_matcst as decimal(13,3)
				declare @lv_docsts as nvarchar(2)

				-- actualizo PUC
				declare lc_cst_puc cursor for
				select mc.matcod, mc.matcstcurcod, mc.matcstqty, mc.matcstuntcod, (x.mattotprc * mc.MatCstQty / x.matqty)  as matcst, mc.docsts
				from stk_mat_cst mc
				inner join #tmp_data_cstpuc x on x.buscod=mc.buscod and x.matcod=mc.matcod
				open lc_cst_puc
				fetch next from lc_cst_puc into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
				while @@FETCH_STATUS=0 and @lp_errcod=0
					begin
						set @lv_matcstqty = @lv_matcstqty * 1000
						set @lv_matcst = @lv_matcst * 1000
						EXECUTE STK_MAT_CST_DEF '02_sp',@lp_username,@lp_buscod,
							@lv_matcod,@lv_matcst,@lv_matcstcurcod,@lv_matcstqty,@lv_matcstuntcod,
							@lv_docsts,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT, @lp_srcobjcod
						fetch next from lc_cst_puc into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
					end
				close lc_cst_puc
				deallocate lc_cst_puc

			end

		-- COSTOS. PPP - actualizo costo de materiales con precio promedio ponderado (PPP) segÃºn parÃ¡metro de clase de documento
		if dbo.getTagValue('stkmatcstupd',@lv_sysdocclsatr)='PPP'
			begin
				set @lp_excrteclscod = (select top 1 excrteclscod from fin_exc_rte_cls where buscod=@lp_buscod and excrteclscodext='CPA')
				-- determino el costo agrupando los origenes (puede haber mas de un documento de origen para el mismo material)
				select	dm.buscod, dm.matcod, 
						sum( dbo.convertmaterialunit(dm.buscod, dm.matcod, dm.matqty, dm.matuntcod, mc.matcstuntcod) ) as matqty,
						sum( dbo.convertcurrency(dm.buscod,getdate(),@lp_excrteclscod,bm.MatPrc,bm.curcod,mc.matcstcurcod)*dm.matqty ) as mattotprc
				INTO #tmp_data_cstppp
				FROM STK_MOV_DOC_MAT dm
				inner join STK_MAT m on m.buscod=dm.buscod and m.matcod=dm.matcod 
				inner join STK_MAT_CST mc on mc.buscod=m.buscod and mc.matcod=m.matcod 
				inner join BUY_ORD_MAT bm on bm.buscod=dm.buscod and bm.buyordcod=dm.docrefcod and bm.buyordmatcod=dm.docrefposcod 
				inner join BUY_ORD b on b.buscod=bm.buscod and b.buyordcod=bm.buyordcod 
				WHERE dm.buscod=@lp_buscod
				  and dm.StkMovDocCod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				GROUP BY dm.buscod, dm.matcod

				-- obtengo el costo de las existencias
				select dm.buscod, dm.matcod, 
					sum( dbo.convertmaterialunit(mk.buscod, mk.matcod, mk.matqty, mk.matuntcod, mc.matcstuntcod) ) as matqty
				into #tmp_data_cststk
				from STK_MOV_DOC_MAT dm
				inner join stk_mat_stk mk on mk.buscod=dm.buscod and mk.matcod=dm.matcod
				inner join stk_mat_cst mc on mc.buscod=mk.buscod and mc.matcod=mk.matcod
				where mk.buscod=@lp_buscod 
				  and dm.matcod=@lp_stkmovdoccod
				  and not dm.matqty=0
				  and not dm.matuntcod=''
				group by dm.buscod, dm.matcod

				-- actualizo PPP
				declare lc_cst_ppp cursor for
				select mc.matcod, mc.matcstcurcod, mc.matcstqty, mc.matcstuntcod, (x.mattotprc + (mc.MatCst*k.matqty/mc.matcstqty)) / (x.matqty + k.matqty) * mc.MatCstQty as matcst, mc.docsts
				FROM STK_MAT_CST mc
				inner join #tmp_data_cstppp x on x.buscod=mc.buscod and x.matcod=mc.matcod
				inner join #tmp_data_cststk k on k.buscod=mc.buscod and k.matcod=mc.matcod
				open lc_cst_ppp
				fetch next from lc_cst_ppp into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
				while @@FETCH_STATUS=0 and @lp_errcod=0
					begin
						set @lv_matcstqty = @lv_matcstqty * 1000
						set @lv_matcst = @lv_matcst * 1000
						EXECUTE STK_MAT_CST_DEF '02_sp',@lp_username,@lp_buscod,
							@lv_matcod,@lv_matcst,@lv_matcstcurcod,@lv_matcstqty,@lv_matcstuntcod,
							@lv_docsts,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT, @lp_srcobjcod
						fetch next from lc_cst_ppp into @lv_matcod, @lv_matcstcurcod, @lv_matcstqty, @lv_matcstuntcod, @lv_matcst, @lv_docsts
					end
				close lc_cst_ppp
				deallocate lc_cst_ppp

			end

		-- STOCK. actualizo existencias
		IF @lp_errcod=0
			EXECUTE STK_MAT_STK_DEF '01', @lp_username, @lp_buscod, @lp_stkmovdoccod, null, @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lp_errmat OUTPUT

		-- NROS DE SERIE. actualizo fecha de ultimo movimiento en numeros de serie
		IF @lp_errcod=0
			BEGIN
				UPDATE ms
				SET ms.StkObjStrDte = md.StkMovDocDte,
					ms.StkObjEndDte = null
				FROM STK_MAT_SER ms
				inner join STK_MOV_DOC_MAT mdm on mdm.BusCod=ms.BusCod and mdm.MatCod=ms.MatCod and mdm.MatSerCod=ms.matsercod
				inner join STK_MOV_DOC md on md.BusCod=mdm.BusCod and md.StkMovDocCod=mdm.StkMovDocCod
				WHERE ms.BusCod=@lp_buscod
				  and mdm.stkmovdoccod=@lp_stkmovdoccod
				SET @lp_errcod = @@ERROR
			END

		-- CONTABILIZACION. agrego asiento contable
		--if @lp_errcod=0
		--	exec FIN_MOV_DOC_DEF '19',@lp_username,@lp_buscod,null,null,null,null,null,null,null,@lv_objtyp,@lp_stkmovdoccod,null,null,null,null,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT

    if not @lp_sysoperation='09_sp'
      begin
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_stkmovdoccod as stkmovdoccod, @lp_errcod as errcod, (case when @lp_errtxt='' then dbo.GetErrorDescription( @lp_errcod ) else @lp_errtxt end) as errtxt, @lp_errmat as errmat
      end
	END



-- ------------------------------------------------------------------------
--   2 2    -    A C T U A L I Z A R    C O N F I R M A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '22'
	BEGIN
		SET @lv_validop = 1

		-- valido estado
		IF not exists(select top 1 * from stk_mov_doc d inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod where d.buscod=@lp_buscod and d.stkmovdoccod=@lp_stkmovdoccod and (d.docsts='C' or not dc.objtyp='STK_SOU') )
			BEGIN
				SELECT null, -91 as errcod, 'Debe contabilizar el documento.' as errtxt
				RETURN
			END

		BEGIN TRAN

		UPDATE STK_MOV_DOC
		SET StkMovDocCnf = @lp_stkmovdoccnf
		WHERE buscod=@lp_buscod
		  and stkmovdoccod=@lp_stkmovdoccod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovdoccod as stkmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   2 2    -    A C T U A L I Z A R    R U T A
-- ------------------------------------------------------------------------
/*
IF @lp_sysoperation = '22'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE STK_MOV_DOC
		SET traroucod = @lp_traroucod, 
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmovdoccod=@lp_stkmovdoccod
		SET @lv_errcod = @@ERROR
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmovdoccod as stkmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END
*/


-- ------------------------------------------------------------------------
--   6 0    -    V E R I F I C A C I O N    D E    D I S P O N I B  I L I D A D
-- ------------------------------------------------------------------------
IF @lp_sysoperation='60'
	BEGIN
		SET @lv_validop = 1

		-- STOCK. validacion de existencias
		EXECUTE STK_MAT_STK_DEF '68', @lp_username, @lp_buscod, @lp_stkmovdoccod, null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT, @lp_errmat OUTPUT, @lp_stkmovdoc, @lp_stkmovdocmat 
		RETURN
		
	END


-- ------------------------------------------------------------------------
--   6 8    -    R E P O R T E    D E    A L M A C E N E S    C O N    R E S E R V A
-- ------------------------------------------------------------------------
/*
IF @lp_sysoperation='68'
	BEGIN
		SET @lv_validop = 1    
		
		/*REALIZAMOS CONVERCIONES DE LOS CAMPOS CON ALIAS O CON FORMULA DE LA CONFIGURACION DE LA VISTA PARA LOS FILTROS Y EL ORDEN*/
		set @lv_srcobjtxt = ' asr.adrnme001 '
		declare @lv_matbchduedte as nvarchar(20) = ' dm.matbchduedte '

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' d.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		set @lv_ord = replace(@lv_ord, 'matbchduedtecnv', @lv_matbchduedte)
		set @lv_ord = replace(@lv_ord, 'srcobjtxt', @lv_srcobjtxt)

		set @lv_flt = ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''') + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' AND d.docsts='+QUOTENAME('A', '''')
			+ ' AND d.srcobjtyp='+QUOTENAME('STK_STL', '''')
			+ ' AND d.sysdocclscod = (select top 1 sysdocclscod from SYS_DOC_CLS s where s.buscod=d.buscod and s.sysdocclscodext='+QUOTENAME('VTA', '''')+') ' 
			+ ' AND ('+QUOTENAME('STK_STL_', '''')+'+cast(d.srcobjcod as nvarchar(2))) IN  '
				+ '(select prmval '
				+ ' from dbo.getParameter('+QUOTENAME(@lp_buscod, '''')+', '+QUOTENAME('STK', '''')+', '+QUOTENAME('ENABLE_MATERIAL_RESERVATION', '''')+')) '
		set @lv_flt = replace(@lv_flt, 'matbchduedtecnv', @lv_matbchduedte)
		set @lv_flt = replace(@lv_flt, 'srcobjtxt', @lv_srcobjtxt)

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.stkmovdoccod, dm.matcod, dm.mattxt, dm.matBchCodext, '
			+ ' convert(varchar, dm.matbchduedte, 103) as matbchduedtecnv, '
			+ ' dm.matsercodext, '
			+ @lv_srcobjtxt+' as srcobjtxt, '
			+ ' isnull(dbo.ConvertMaterialUnit(d.buscod,dm.matcod,dm.matqty,dm.matuntcod,m.matuntcod),0) as matqty, '
			+ ' dm.matuntcod '
			+ ' FROM stk_mov_doc d '
			+ ' inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod '
			+ ' inner join STK_MAT m on m.BusCod=dm.buscod and m.MatCod=dm.matcod  '
			+ ' left join stk_mat_ser ms on ms.buscod=dm.buscod and ms.matcod=dm.matcod and ms.matsercod=dm.matsercod ' 
			+ ' left join grl_dat_adr asr on asr.buscod=d.buscod and asr.adrsrctyp=d.srcobjtyp and asr.adrsrccod=cast(d.srcobjcod as nvarchar(20)) '
		execute( @lv_sql + @lv_flt + @lv_ord )

	END
*/

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
