USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_TME_REG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HHR_TME_REG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrtmeregcod 	as int			= null,	-- id
@lp_HhrTmeRegDte	as nvarchar(14)	= null, -- fecha/hora de registro
@lp_srcobjtyp		as nvarchar(20)	= null,	-- origen - tipo
@lp_srcobjcod001	as nvarchar(20)	= null,	-- origen - id 1
@lp_srcobjcod002	as nvarchar(20)	= null,	-- origen - id 2
@lp_hhrtmesrctyp	as nvarchar(20)	= null,	-- imputacion - tipo
@lp_hhrtmesrccod001	as nvarchar(20)	= null,	-- imputacion - id 1
@lp_hhrtmesrccod002	as nvarchar(20)	= null,	-- imputacion - id 2
@lp_hhrtmeregqty	as bigint		= null,	-- cantidad
@lp_hhrtmeregatr	as nvarchar(max)= null,	-- cant pacientes sobreturno
@lp_docsts			as nvarchar(02) = null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- config vista


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_HhrTmeRegDte as datetime = dbo.ConvertDate( @lp_HhrTmeRegDte )
declare @lv_hhrtmeregqty as decimal(13,3) = dbo.ConvertNumber( @lp_hhrtmeregqty, 3 )


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_TME_REG (buscod, HhrTmeRegDte, srcobjtyp, srcobjcod001, srcobjcod002, hhrtmesrctyp, hhrtmesrccod001, hhrtmesrccod002, hhrtmeregqty, hhrtmeregatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lv_HhrTmeRegDte, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_hhrtmesrctyp, @lp_hhrtmesrccod001, @lp_hhrtmesrccod002, @lv_hhrtmeregqty, @lp_hhrtmeregatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrtmeregcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmeregcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		
		SELECT @lp_hhrtmeregcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.* '
			+ ' FROM HHR_TME_REG t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' t.hhrtmeregdte desc ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
				
		BEGIN TRAN

		DELETE
		FROM HHR_TME_REG
		WHERE buscod = @lp_buscod
		  and hhrtmeregcod = @lp_hhrtmeregcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmeregcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- hhr_tme_reg_def '08','temasis','temasis_edu'

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.* '
			+ ' FROM HHR_TME_REG t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' t.hhrtmeregdte desc ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END




IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
