USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_GRP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_slsgrpcod		as int			= null,	-- id 
@lp_slsgrpcodext	as nvarchar(20)	= null,	-- codigo 
@lp_slsgrptxt		as nvarchar(50)	= null,	-- descripciÃ³n 
@lp_docsts			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n de vista 

@lp_sysdocclscod	as int			= null	-- ID Clase documento 

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'GRP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation = '11'
	BEGIN
		if not ISNULL(@lp_slsgrpcodext,'')=''
			IF exists(select top 1 * from sls_grp WHERE buscod=@lp_buscod and not slsgrpcod=@lp_slsgrpcod and SlsGrpCodExt=@lp_slsgrpcodext)
				BEGIN
					SELECT null, -1 as errcod, 'El cÃ³digo de grupo de vendedores ya existe.' as errtxt
					RETURN
				END
	END
	
	
				
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO SLS_GRP	(buscod, slsgrpcodext, slsgrptxt, sysdocclscod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_slsgrpcodext, @lp_slsgrptxt, @lp_sysdocclscod, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_slsgrpcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE SLS_GRP 
		SET	slsgrpcodext=@lp_slsgrpcodext,
			slsgrptxt= @lp_slsgrptxt,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and slsgrpcod = @lp_slsgrpcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT sg.*, dc.SysDocClsTxt 
		FROM SLS_GRP sg
		inner join SYS_DOC_CLS dc on dc.BusCod=sg.BusCod and dc.SysDocClsCod=sg.sysdocclscod
		WHERE sg.buscod = @lp_buscod
		  and sg.slsgrpcod = @lp_slsgrpcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		-- FALTA: validar que el punto de venta no se haya utilizado 
		IF exists(select top 1 * from sls_ord where buscod=@lp_buscod and slsgrpcod=@lp_slsgrpcod)
			BEGIN
				SELECT null, -2 as errcod, 'El grupo de vendedores ya ha sido utilizado. No se puede borrar.' as errtxt
				RETURN
			END
		IF exists(select top 1 * from sls_cus where buscod=@lp_buscod and slsgrpcod=@lp_slsgrpcod)
			BEGIN
				SELECT null, -2 as errcod, 'El grupo de vendedores esta asignado. No se puede borrar.' as errtxt
				RETURN
			END
			
		BEGIN TRAN
				
		DELETE 
		FROM SLS_GRP
		WHERE buscod = @lp_buscod
		  and slsgrpcod = @lp_slsgrpcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' sg.*, dc.sysdocclstxt '
			+ ' FROM SLS_GRP sg '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=sg.buscod and dc.sysdocclscod=sg.sysdocclscod '
			+ ' WHERE sg.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and sg.docsts='+QUOTENAME(@lp_docsts,'''') end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
