USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_EMP_TME_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_EMP_TME_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhremptmecod	as int			= null OUTPUT,	-- id
@lp_hhrempcod		as int			= null,	-- id empleado
@lp_hhremptmestr	as nvarchar(14)	= null,	-- fecha inicio
@lp_hhremptmeend	as nvarchar(14)	= null,	-- fecha find
@lp_wrkplccod		as int			= null,	-- id lugar
@lp_wrkstecod		as int			= null,	-- id puesto
@lp_hhrtmerngcod	as int			= null,	-- id turno
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_errtyp	as nvarchar(1) = null OUTPUT,
@lp_errcod	as int = null OUTPUT,
@lp_errtxt	as nvarchar(400) = null OUTPUT,

@lp_wrkstepft as int = null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_hhremptmestr as datetime = dbo.ConvertDate( @lp_hhremptmestr )
declare @lv_hhremptmeend as datetime = dbo.ConvertDate( @lp_hhremptmeend )


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '01'
			BEGIN TRAN
		
		INSERT INTO HHR_EMP_TME (buscod, hhrempcod, hhremptmestr, hhremptmeend, wrkplccod, wrkstecod, hhrtmerngcod, wrkstepft, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrempcod, @lv_hhremptmestr, @lv_hhremptmeend, @lp_wrkplccod, @lp_wrkstecod, @lp_hhrtmerngcod, @lp_wrkstepft, @lp_docsts, getdate(), @lp_username)
		SET @lp_errcod=@@ERROR
		SET @lp_hhremptmecod=@@IDENTITY
		
    IF @lp_sysoperation = '01'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhremptmecod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '02_sp'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation = '02'
			BEGIN TRAN
		    
		UPDATE HHR_EMP_TME 
		SET	hhremptmestr = @lv_hhremptmestr,
			hhremptmeend = @lv_hhremptmeend,
			wrkplccod = @lp_wrkplccod,
			wrkstecod = @lp_wrkstecod,
			hhrempcod = @lp_hhrempcod,
			hhrtmerngcod = @lp_hhrtmerngcod,
      wrkstepft = @lp_wrkstepft,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hhremptmecod = @lp_hhremptmecod
		SET @lp_errcod=@@ERROR
		
		IF @lp_sysoperation = '02'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhremptmecod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT et.*, wp.wrkplctxt, ws.wrkstetxt, tr.hhrtmerngtxt
		FROM HHR_EMP_TME et
		left join HHR_WRK_PLC wp on wp.buscod=et.buscod and wp.wrkplccod=et.wrkplccod
		left join HHR_WRK_STE ws on ws.buscod=et.buscod and ws.wrkstecod=et.wrkstecod
		left join HHR_TME_RNG tr on tr.buscod=et.buscod and tr.hhrtmerngcod=et.hhrtmerngcod
		WHERE et.buscod=@lp_buscod
		  and et.hhremptmecod=@lp_hhremptmecod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '04_sp'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '04'
			BEGIN TRAN

		DELETE
		FROM HHR_EMP_TME
		WHERE buscod = @lp_buscod
		  and hhremptmecod = @lp_hhremptmecod
		SET @lp_errcod=@@ERROR
		
    IF @lp_sysoperation = '04'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhremptmecod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- hhr_emp_tme_def '08','temasis','temasis_edu'
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' et.*, e.hhremptxt, wp.wrkplctxt, ws.wrkstetxt, tr.hhrtmerngtxt, tr.hhrtmerngatr, tr.HhrTmeRngWekHrs '
			+ ' FROM HHR_EMP_TME et '
			+ ' inner join HHR_EMP e on e.buscod=et.buscod and e.hhrempcod=et.hhrempcod '
			+ ' left join HHR_WRK_PLC wp on wp.buscod=et.buscod and wp.wrkplccod=et.wrkplccod '
			+ ' left join HHR_WRK_STE ws on ws.buscod=et.buscod and ws.wrkstecod=et.wrkstecod '
			+ ' left join HHR_TME_RNG tr on tr.buscod=et.buscod and tr.hhrtmerngcod=et.hhrtmerngcod '
			+ ' WHERE et.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
