USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_TAG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SYS_DOC_TAG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_sysdoctagcod	as int					= null,		-- id
@lp_sysdoctagcodext	as nvarchar(20)=null,		-- codigo
@lp_sysdoctagtxt	as nvarchar(50)	= null,		-- descripcion
@lp_sysdoctagatr	as nvarchar(max)= null,		-- atributos
@lp_objtypcod			as nvarchar(20)	= null,		-- objeto
@lp_autcod				as nvarchar(20)	= null,		-- cod autoriz
@lp_docsts 				as nvarchar(02)	= null,		-- estado

@lp_vewcfg				as nvarchar(max)= null		-- config de vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TAG'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ----------------------------------------------------------------------------
--    V A L I D A C I O N E S
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- valido codigo externo duplicado
		if not isnull(@lp_sysdoctagcodext,'')=''
			begin
				IF exists(select top 1 * from SYS_DOC_TAG where buscod=@lp_buscod and not sysdoctagcod=@lp_sysdoctagcod and sysdoctagcodext=@lp_sysdoctagcodext)
					BEGIN
						select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
						RETURN
					END
			end

	END



-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_TAG (buscod, sysdoctagcodext, sysdoctagtxt, objtypcod, sysdoctagatr, autcod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_sysdoctagcodext, @lp_sysdoctagtxt, @lp_objtypcod, @lp_sysdoctagatr, @lp_autcod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_sysdoctagcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdoctagcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_TAG 
		SET	sysdoctagcodext=@lp_sysdoctagcodext,
			sysdoctagtxt = @lp_sysdoctagtxt,
			sysdoctagatr = @lp_sysdoctagatr,
			autcod = @lp_autcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdoctagcod = @lp_sysdoctagcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdoctagcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_TAG dt
		WHERE dt.buscod = @lp_buscod
		  and dt.sysdoctagcod = @lp_sysdoctagcod
		  
	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		IF exists(select top 1 * from grl_doc_tag where buscod=@lp_buscod and sysdoctagcod=@lp_sysdoctagcod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la etiqueta. Documentos asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_TAG 
		WHERE buscod=@lp_buscod
		  and sysdoctagcod = @lp_sysdoctagcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdoctagcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, 
				'dt.*',
				' SYS_DOC_TAG dt ',
				' dt.buscod='+QUOTENAME(@lp_buscod,'''') + ' and ( isnull(dt.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''') + ' or dt.autcod in (select distinct autcod from sys_sec_per_aut ' + ' where buscod='+QUOTENAME(@lp_buscod,'''') +   ' and ( (usrcod='+QUOTENAME(@lp_username,'''')+' and grpcod='+QUOTENAME('**','''')+') ' + ' or (usrcod='+QUOTENAME('**','''')+' and grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod='+QUOTENAME(@lp_buscod,'''')+' and usrcod='+QUOTENAME(@lp_username,'''')+') ) ) ' +   ' and objtypcod=dt.objtypcod ) ) ',
				' dt.objtypcod, dt.sysdoctagtxt',default)
		execute( @lv_sql )

	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
