USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_TCH_PRC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_TCH_PRC_DEF]

@lp_sysoperation 	as nvarchar(2),			-- operaciÃ³n
@lp_username 		as nvarchar(20),		-- operaciÃ³n - usuario
@lp_buscod			as nvarchar(20) = null,	-- empresa
@lp_tchprccod		as int			= null,	-- id
@lp_tchcod			as int			= null,	-- id profesor
@lp_educurcod		as int			= null,	-- id plan de estudios
@lp_educarcod		as int			= null,	-- id carrera
@lp_educoucod		as int			= null,	-- id curso
@lp_edusubcod		as int			= null,	-- id materia
@lp_edustuass		as int			= null,	-- asistencia (1-presente / -1 ausente)
@lp_tchprctyp		as int			= null,	-- tipo precio
@lp_tchprcval		as bigint		= null,	-- valor
@lp_curcod			as nvarchar(05)	= null,	-- id moneda
@lp_tchprcdtestr	as nvarchar(14)	= null,	-- fecha desde
@lp_tchprcdteend	as nvarchar(14) = null,	-- fecha hasta
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- configuraciÃ³n vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_tchprcdtestr as datetime = dbo.ConvertDate( @lp_tchprcdtestr )
declare @lv_tchprcdteend  as datetime = dbo.ConvertDate( @lp_tchprcdteend )
declare @lv_tchprcval as decimal(13,3) = dbo.ConvertNumber( @lp_tchprcval , 3 )



-- ------------------------------------------------------------------------
--   E R R O R E S														
-- ------------------------------------------------------------------------
--	-1	Las fechas ingresadas se solapan con otras fechas exitentes.	
--	-2	El cÃ³digo de especialidad no es vÃ¡lido.							
-- ------------------------------------------------------------------------

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'RPR'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- -----------------------------------------------------------------------
--   V A L I D A C I O N E S												
-- -----------------------------------------------------------------------
  
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		-- codigo externo duplicado
			if exists(select top 1 * from edu_tch_prc where buscod=@lp_buscod and tchprctyp=@lp_tchprctyp and tchcod=@lp_tchcod and educurcod=@lp_educurcod and educarcod=@lp_educarcod and educoucod=@lp_educoucod and edusubcod=@lp_edusubcod and edustuass=@lp_edustuass and ((@lv_tchprcdtestr between tchprcdtestr and tchprcdteend) or (@lv_tchprcdteend between tchprcdtestr and tchprcdteend)) and not tchprccod=@lp_tchprccod )
				BEGIN
					select 'E' as errtyp, -1 as errcod, 'Las fechas ingresadas se solapan con otras fechas exitentes.' as errtxt
					RETURN
				END
	END		
	
	

-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		INSERT INTO edu_tch_prc (buscod, tchcod, educurcod, educarcod, educoucod, edusubcod, edustuass, 
		tchprctyp, tchprcval, curcod, 
		tchprcdtestr, tchprcdteend,
		docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_tchcod, @lp_educurcod, @lp_educarcod, @lp_educoucod, @lp_edusubcod, @lp_edustuass, 
		@lp_tchprctyp, @lv_tchprcval, @lp_curcod, 
		@lv_tchprcdtestr, @lv_tchprcdteend,
		@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_tchprccod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tchprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE edu_tch_prc
		SET tchcod	= @lp_tchcod,
			educurcod  = @lp_educurcod,
			educarcod = @lp_educarcod,
			educoucod = @lp_educoucod,
			edusubcod = @lp_edusubcod, 
			edustuass = @lp_edustuass,
			tchprctyp	= @lp_tchprctyp,
			tchprcval  = @lv_tchprcval,
			curcod = @lp_curcod, 
			tchprcdtestr= @lv_tchprcdtestr,
			tchprcdteend= @lv_tchprcdteend,
			docsts = @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and tchprccod  = @lp_tchprccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tchprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
		

-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		select p.*,	t.tchtxt, c.educurtxt, a.educartxt, a.educarcodext, o.educoutxt, s.edusubtxt
		from edu_tch_prc p
		left join edu_tch t on t.buscod=p.buscod and t.tchcod=p.tchcod
		left join edu_cur c on c.buscod=p.buscod and c.educurcod=p.educurcod
		left join edu_car a on a.buscod=p.buscod and a.educarcod=p.educarcod
		left join edu_cou o on o.buscod=p.buscod and o.educoucod=p.educoucod
		left join edu_sub s on s.buscod=p.buscod and s.edusubcod=p.edusubcod
		where p.buscod=@lp_buscod
		  and p.tchprccod=@lp_tchprccod
		  
	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* debo verificar que no se haya liquidado con este precio especial */
		/* o bien marcarlo para que no se pueda borrar */

		DELETE 
		FROM edu_tch_prc
		WHERE buscod   = @lp_buscod 
		  and tchprccod = @lp_tchprccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
    set @lv_sql = dbo.getSqlSentence( @lp_vewcfg,
			' p.*, t.tchtxt, c.educurtxt, a.educartxt, o.educoutxt, s.edusubtxt,p.tchprcdtestr,p.tchprcdteend',
      'edu_tch_prc p '
			+ ' left join edu_tch t on t.buscod=p.buscod and t.tchcod=p.tchcod '
			+ ' left join edu_cur c on c.buscod=p.buscod and c.educurcod=p.educurcod '
			+ ' left join edu_car a on a.buscod=p.buscod and a.educarcod=p.educarcod '
			+ ' left join edu_cou o on o.buscod=p.buscod and o.educoucod=p.educoucod '
			+ ' left join edu_sub s on s.buscod=p.buscod and s.edusubcod=p.edusubcod ',                                
			'p.buscod='+QUOTENAME(@lp_buscod,''''),                                    
			't.tchtxt ',default )
		execute( @lv_sql )
	END
	
	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
