USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_CUR_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_CUR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_educurcod	 	as int			= null,	-- id
@lp_educurcodext	as nvarchar(20)	= null,	-- codigo externo
@lp_educurtxt		as nvarchar(50)	= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'CUR'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

    
    
-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		-- codigo externo duplicado
		if not isnull(@lp_educurcodext,'')=''
			IF exists(select top 1 * from edu_cur where buscod=@lp_buscod and not educurcod=@lp_educurcod and educurcodext=@lp_educurcodext)
				BEGIN
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
	END		



-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO EDU_CUR (buscod, educurcodext, educurtxt, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_educurcodext, @lp_educurtxt, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_educurcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_educurcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE EDU_CUR 
		SET	educurcodext = @lp_educurcodext,
			educurtxt = @lp_educurtxt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and educurcod = @lp_educurcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_educurcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM EDU_CUR c
		WHERE c.buscod=@lp_buscod
		  and c.educurcod=@lp_educurcod

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE
		FROM EDU_CUR_PLN
		WHERE buscod = @lp_buscod
		  and educurcod = @lp_educurcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM EDU_CUR
				WHERE buscod = @lp_buscod
				  and educurcod = @lp_educurcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_educurcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
    
    set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, ' c.* ', 'EDU_cur c ', 'c.buscod='+QUOTENAME(@lp_buscod, ''''), 'c.educurtxt	', default)
			execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
