USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_CNT_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_DAT_CNT_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		/* empresa */
@lp_cnttypcod		as int			= null,		/* id */
@lp_cnttypcodext	as nvarchar(20)	= null,		/* codigo */
@lp_cnttyptxt		as nvarchar(40)	= null,		/* descripcion */
@lp_cnttypatr		as nvarchar(max)= null,		/* atributos */
@lp_objtyp			as nvarchar(20)	= null,		/* objeto */
@lp_docsts			as nvarchar(02)	= null,		/* estado */

@lp_vewcfg			as nvarchar(max)=null,		/* configuración vista */

@lp_srcobjtyp		as nvarchar(20)=null,		/* objeto de referencia */
@lp_srcobjdocclscod	as nvarchar(20)=null		/* clase de documento de referencia */


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- codigo externo duplicado
		if not @lp_cnttypcodext=''
			if exists(select top 1 * from GRL_DAT_CNT_TYP where BusCod=@lp_buscod and CntTypCodExt=@lp_cnttypcodext and not cnttypcod=@lp_cnttypcod)
				begin
					select null, -1 as errcod, 'Codigo duplicado.' as errtxt
					return
				end

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO GRL_DAT_CNT_TYP
			(buscod, cnttypcodext, cnttyptxt, cnttypatr, objtyp,
			SrcObjTyp, srcobjdocclscod, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_cnttypcodext, @lp_cnttyptxt, @lp_cnttypatr, @lp_objtyp,
			@lp_srcobjtyp, @lp_srcobjdocclscod, 
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_cnttypcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_DAT_CNT_TYP 
		SET	cnttypcodext=@lp_cnttypcodext,
			cnttyptxt=@lp_cnttyptxt,
			cnttypatr=@lp_cnttypatr,
			objtyp = @lp_objtyp, 
			SrcObjTyp=@lp_srcobjtyp,
			srcobjdocclscod=@lp_srcobjdocclscod,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and cnttypcod = @lp_cnttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ct.*
		FROM GRL_DAT_CNT_TYP ct
		WHERE ct.buscod = @lp_buscod
		  and ct.cnttypcod = @lp_cnttypcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		DELETE 
		FROM GRL_DAT_CNT_TYP
		WHERE buscod = @lp_buscod
		  and cnttypcod = @lp_cnttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_cnttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ct.* '
			+ '	FROM grl_dat_cnt_typ ct '
			+ ' WHERE ct.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and ct.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END






















GO
