USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_STK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[STK_MAT_STK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmovdoccod 	as int				= null,			-- id movimiento stock

@lp_vewcfg			as nvarchar(max)	= null,			-- configuraciÃ³n ede la vista

@lp_errcod			as int				= 0		OUTPUT,	-- id error
@lp_errtxt			as nvarchar(250)	= null	OUTPUT,	-- descripcin error
@lp_errmat			as nvarchar(max)	= null	OUTPUT,	-- materiales error

@lp_stkmovdoc		as nvarchar(max)	= null,			-- movimiento - datos de cabecera
@lp_stkmovdocmat	as nvarchar(max)	= null			-- movimiento - datos de posiciÃ³n

AS

SET NOCOUNT ON

DECLARE @lv_validop as INT = 0
DECLARE @lv_sql as nvarchar(max)

SET @lp_errmat = ''
set @lp_errcod = isnull(@lp_errcod,0)

declare @lv_matcod as int
declare @lv_matbchcod as int
declare @lv_matbchcodext as nvarchar(50)
declare @lv_matsercod as int
declare @lv_matsercodext as nvarchar(50)
declare @lv_objtyp as nvarchar(20)
declare @lv_sysdocclsatr as nvarchar(max)
declare @lv_ctr_matbchduedtectr as nvarchar(20)
declare @lv_ctr_matstkctr as nvarchar(20)
declare @lv_ctr_matstkmgmdst as nvarchar(20)
declare @lv_ctr_matbchcre as nvarchar(20)
declare @lv_ctr_matsercre as nvarchar(20)
declare @lv_ctr_matserdocclscod as int
declare @lv_ctr_srcobjtyp as nvarchar(20)
declare @lv_ctr_dstobjtyp as nvarchar(20)
declare @lv_ctr_srcstkmgm as nvarchar(1)
declare @lv_ctr_dststkmgm as nvarchar(1)
declare @lv_stkobjtxt as nvarchar(4000)
declare @lv_matbchduedtecnv as nvarchar(100)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)
declare @lv_grp as nvarchar(max)
declare @lv_srcobjtyp as nvarchar(20)
declare @lv_srcobjcod as int
declare @lv_srccntcod as int
declare @lv_dstobjtyp as nvarchar(20)
declare @lv_dstobjcod as int
declare @lv_dstcntcod as int
declare @lv_matqty as decimal(13,3)
declare @lv_row as int = 0
--para 01, 03 y 68
declare @lv_cnt as int = 0
declare @lv_matusebch as int=0
declare @lv_matuseser as int=0
declare @lv_stkdif as int=0
declare @lv_matqtyres as decimal(13,3)=0
declare @lv_matqtystk as decimal(13,3)=0
declare @lv_matqtyrsv as decimal(13,3)=0
declare @lv_matqtyrestopone as decimal(13,3)=0



-- ------------------------------------------------------------------------
--   I N I C I A L I Z A C I O N
-- ------------------------------------------------------------------------
--	Se obtienen los parÃ¡metros generales, del documento y de los materiales a procesar
--	Si se informaron materiales se utilizan los informados, sino, se obtienen del ID del movimiento
-- ------------------------------------------------------------------------
if		@lp_sysoperation='01'	-- Contabilizaci0n de Entrada/Salida Stock
	or  @lp_sysoperation='13'	-- Verificacion de Disponibilidad
	or @lp_sysoperation='68'	-- Listar Reservas
	begin
		
		-- 1.PARAMETROS. obtengo datos de la clase de documento (del movimiento de stock). Si se informa ID de documento se obtiene de tabla, sino de los tags informados.
		if ISNULL(@lp_stkmovdoccod,0)=0
			begin

				-- configuracion de origen. para saber si el origen gestiona stock
				SELECT	@lv_ctr_srcstkmgm = dbo.GetTagValue('stkmgm', scnt.SysDocClsAtr)
				FROM grl_dat_cnt scn
					left join SYS_DOC_CLS scnt on scnt.buscod=scn.buscod and scnt.SysDocClsCod=scn.sysdocclscodcnt 
				WHERE scn.buscod=@lp_buscod
				  and scn.cntsrctyp=dbo.getTagValue('srcobjtyp',@lp_stkmovdoc)
				  and scn.cntsrccod=dbo.getTagValue('srcobjcod',@lp_stkmovdoc)
				  and scn.cntcod=dbo.getTagValue('srccntcod',@lp_stkmovdoc)

				-- configuracion de destino. para saber si el destino gestiona stock
				SELECT	@lv_ctr_dststkmgm = dbo.GetTagValue('stkmgm', dcnt.SysDocClsAtr)
				FROM grl_dat_cnt dcn
					left join SYS_DOC_CLS dcnt on dcnt.buscod=dcn.buscod and dcnt.SysDocClsCod=dcn.sysdocclscodcnt 
				WHERE dcn.buscod=@lp_buscod
				  and dcn.cntsrctyp=dbo.getTagValue('dstobjtyp',@lp_stkmovdoc)
				  and dcn.cntsrccod=dbo.getTagValue('dstobjcod',@lp_stkmovdoc)
				  and dcn.cntcod=dbo.getTagValue('dstcntcod',@lp_stkmovdoc)

				-- configuracion de documento
				SELECT	@lv_objtyp = dc.objtyp,
						@lv_sysdocclsatr = dc.sysdocclsatr,
						@lv_ctr_srcobjtyp = dbo.getTagValue('srcobjtyp',dc.sysdocclsatr),
						@lv_ctr_dstobjtyp = dbo.getTagValue('dstobjtyp',dc.sysdocclsatr),
						@lv_ctr_matbchduedtectr = dbo.getTagValue('matbchduedtectr',dc.sysdocclsatr),
						@lv_ctr_matstkctr = dbo.GetTagValue('matstkctr',dc.sysdocclsatr),
						@lv_ctr_matstkmgmdst = dbo.GetTagValue('matstkmgmdst',dc.sysdocclsatr),
						@lv_ctr_matbchcre = dbo.GetTagValue('matbchcre',dc.sysdocclsatr),
						@lv_ctr_matsercre = dbo.GetTagValue('matsercre',dc.sysdocclsatr),
						@lv_srcobjtyp = (case when dc.objtyp='STK_SIV' then dbo.GetTagValue('dstobjtyp',@lp_stkmovdoc) else dbo.GetTagValue('srcobjtyp',@lp_stkmovdoc) end), 
						@lv_srcobjcod = (case when dc.objtyp='STK_SIV' then dbo.GetTagValue('dstobjcod',@lp_stkmovdoc) else dbo.GetTagValue('srcobjcod',@lp_stkmovdoc) end), 
						@lv_srccntcod = (case when dc.objtyp='STK_SIV' then dbo.GetTagValue('dstcntcod',@lp_stkmovdoc) else (case when @lv_ctr_srcstkmgm='X' then dbo.GetTagValue('srccntcod',@lp_stkmovdoc) else null end) end),  
						@lv_dstobjtyp = (case when dbo.getTagValue('dstobjtyp',dc.sysdocclsatr)='' then null else dbo.GetTagValue('dstobjtyp',@lp_stkmovdoc) end), 
						@lv_dstobjcod = (case when dbo.getTagValue('dstobjtyp',dc.sysdocclsatr)='' then null else dbo.GetTagValue('dstobjcod',@lp_stkmovdoc) end), 
						@lv_dstcntcod = (case when dbo.getTagValue('dstobjtyp',dc.sysdocclsatr)='' then null else (case when @lv_ctr_dststkmgm='X' then dbo.GetTagValue('dstcntcod',@lp_stkmovdoc) else null end) end) 
				FROM sys_doc_cls dc
				WHERE dc.buscod = @lp_buscod
				  and dc.sysdocclscod = dbo.GetTagValue('sysdocclscod',@lp_stkmovdoc)

			end

		-- no se informo ID de documento, se obtienen los parametros de los tags de cabecera informados (@lp_stkmovdoc)
		ELSE
			begin
				-- configuracion de documento + config de origen + config de destno
				SELECT	@lv_objtyp = dc.objtyp,
						@lv_sysdocclsatr = dc.sysdocclsatr,
						@lv_ctr_srcobjtyp = dbo.getTagValue('srcobjtyp',dc.sysdocclsatr),
						@lv_ctr_dstobjtyp = dbo.getTagValue('dstobjtyp',dc.sysdocclsatr),
						@lv_ctr_matbchduedtectr = dbo.getTagValue('matbchduedtectr',dc.sysdocclsatr),
						@lv_ctr_matstkctr = dbo.GetTagValue('matstkctr',dc.sysdocclsatr),
						@lv_ctr_matstkmgmdst = dbo.GetTagValue('matstkmgmdst',dc.sysdocclsatr),
						@lv_ctr_matbchcre = dbo.GetTagValue('matbchcre',dc.sysdocclsatr),
						@lv_ctr_matsercre = dbo.GetTagValue('matsercre',dc.sysdocclsatr),
						@lv_ctr_srcstkmgm = dbo.GetTagValue('stkmgm', scnt.SysDocClsAtr),
						@lv_ctr_dststkmgm = dbo.GetTagValue('stkmgm', dcnt.SysDocClsAtr),
						@lv_srcobjtyp = (case when dc.objtyp='STK_SIV' then d.dstobjtyp else d.srcobjtyp end), 
						@lv_srcobjcod = (case when dc.objtyp='STK_SIV' then d.dstobjcod else d.srcobjcod end), 
						@lv_srccntcod = (case when dc.objtyp='STK_SIV' then d.dstcntcod else (case when dbo.GetTagValue('stkmgm', scnt.SysDocClsAtr)='X' then d.srccntcod else null end) end),  
						@lv_dstobjtyp = (case when dbo.getTagValue('dstobjtyp',dc.sysdocclsatr)='' then null else d.dstobjtyp end), 
						@lv_dstobjcod = (case when dbo.getTagValue('dstobjtyp',dc.sysdocclsatr)='' then null else d.dstobjcod end), 
						@lv_dstcntcod = (case when dbo.getTagValue('dstobjtyp',dc.sysdocclsatr)='' then null else (case when dbo.GetTagValue('stkmgm', dcnt.SysDocClsAtr)='X' then d.dstcntcod else null end) end)
				FROM stk_mov_doc d
					inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod
					left join grl_dat_cnt scn on scn.buscod=d.buscod and scn.cntsrctyp=d.srcobjtyp and scn.cntsrccod=d.srcobjcod and scn.cntcod=d.srccntcod 
					left join SYS_DOC_CLS scnt on scnt.buscod=scn.buscod and scnt.SysDocClsCod=scn.sysdocclscodcnt 
					left join grl_dat_cnt dcn on dcn.buscod=d.buscod and dcn.cntsrctyp=d.dstobjtyp and dcn.cntsrccod=d.dstobjcod and dcn.cntcod=d.dstcntcod 
					left join SYS_DOC_CLS dcnt on dcnt.buscod=dcn.buscod and dcnt.SysDocClsCod=dcn.sysdocclscodcnt 
				WHERE d.buscod = @lp_buscod
				  and d.stkmovdoccod = @lp_stkmovdoccod

			end

		-- 2.ESTRUCTURA. armo estructura de materiales
		SELECT	cast(null as nvarchar(20)) as buscod, 
				cast(null as nvarchar(20)) as srcobjtyp,cast(null as int) as srcobjcod, cast(null as int) as srccntcod,
				cast(null as nvarchar(20)) as dstobjtyp,cast(null as int) as dstobjcod, cast(null as int) as dstcntcod,
				cast(null as int) as matcod, cast(null as decimal(13,3)) as matqty, cast(null as nvarchar(50)) as matbchcodext, cast(null as datetime) as matbchduedte, cast(null as nvarchar(50)) as matsercodext, 
				cast(null as nvarchar(5)) as matuntcod, cast(null as int) as matusebch, cast(null as int) as matuseser, cast(null as int) as matbchcod, cast(null as int) as matsercod
		INTO #tmp_doc_mat
		WHERE 1=2
    
		-- 3.MATERIALES. completo estructura con info de materiales. Si no se informaron materiales (@lp_stkmovdocmat) los obtengo desde la tabla
		if ISNULL(@lp_stkmovdocmat,'')=''
			begin
				INSERT INTO #tmp_doc_mat (buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, 
										matcod, matqty, matbchcodext, matbchduedte, matsercodext, 
										matuntcod, matusebch, matuseser, matbchcod, matsercod)
				SELECT d.buscod, @lv_srcobjtyp, @lv_srcobjcod, @lv_srccntcod, @lv_dstobjtyp, @lv_dstobjcod, @lv_dstcntcod, 
						dm.matcod, dbo.ConvertMaterialUnit(@lp_buscod, dm.matcod, dm.matqty, dm.matuntcod, m.matuntcod) as matqty, dm.matbchcodext, (case when mb.matbchcod is null then dm.matbchduedte else mb.matbchduedte end) as matbchduedte, dm.matsercodext, 
						m.matuntcod, m.matusebch, m.matuseser, mb.matbchcod, ms.matsercod
				FROM stk_mov_doc d
					inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod
					inner join stk_mat m on m.buscod=dm.buscod and m.matcod=dm.matcod
					inner join sys_doc_cls mdc on mdc.buscod=m.buscod and mdc.SysDocClsCod=m.SysDocClsCod 
					left join stk_mat_bch mb on mb.buscod=dm.buscod and mb.matcod=dm.matcod and mb.matbchcodext=dm.matbchcodext
					left join stk_mat_ser ms on ms.buscod=dm.buscod and ms.matcod=dm.matcod and ms.matsercodext=dm.matsercodext
				WHERE d.buscod = @lp_buscod
					and d.stkmovdoccod = @lp_stkmovdoccod
					and dbo.GetTagValue('matstkrel',mdc.sysdocclsatr)='X'
					and isnull(dm.sysdocrejcod,0)=0
			end

		-- se informaron materiales en parametro @lp_stkmovdocmat
		ELSE

			begin
				declare @lv_matlst as nvarchar(max)
				select id into #tmp_matlst from dbo.StringSplit(@lp_stkmovdocmat,char(9))
				declare lv_cur cursor for select id from #tmp_matlst
				open lv_cur
				fetch next from lv_cur into @lv_matlst
				while @@FETCH_STATUS=0
					begin			
						INSERT INTO #tmp_doc_mat (buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, 
												matcod, matqty, matbchcodext, matbchduedte, matsercodext, 
												matuntcod, matusebch, matuseser, matbchcod, matsercod)
						SELECT @lp_buscod, @lv_srcobjtyp, @lv_srcobjcod, @lv_srccntcod, @lv_dstobjtyp, @lv_dstobjcod, @lv_dstcntcod, 
								m.matcod, dbo.ConvertMaterialUnit(m.buscod, m.matcod, dbo.getTagValue('matqty',@lv_matlst), dbo.getTagValue('matuntcod',@lv_matlst), m.matuntcod), dbo.getTagValue('matbchcodext',@lv_matlst), (case when mb.matbchcod is null then dbo.getTagValue('matbchduedte',@lv_matlst) else mb.matbchduedte end), dbo.getTagValue('matsercodext',@lv_matlst),
								m.matuntcod, m.matusebch, m.matuseser, mb.matbchcod, ms.matsercod
						FROM stk_mat m
							inner join sys_doc_cls mdc on mdc.buscod=m.buscod and mdc.SysDocClsCod=m.SysDocClsCod 
							left join stk_mat_bch mb on mb.buscod=m.buscod and mb.matcod=m.matcod and mb.matbchcodext=dbo.getTagValue('matbchcodext',@lv_matlst)
							left join stk_mat_ser ms on ms.buscod=m.buscod and ms.matcod=m.matcod and ms.matsercodext=dbo.getTagValue('matsercodext',@lv_matlst)
						WHERE m.buscod = @lp_buscod
							and m.matcod = dbo.getTagValue('matcod',@lv_matlst)
							and dbo.GetTagValue('matstkrel',mdc.sysdocclsatr)='X'
							and ( dbo.GetTagValue('sysdocrejcod',mdc.sysdocclsatr)='' or dbo.GetTagValue('sysdocrejcod',mdc.sysdocclsatr)=0 )
						fetch next from lv_cur into @lv_matlst
					end
			end

		-- 3.1 - agrupo materiales (no sujetos a lote / no sujetos a nro de serie)
		select buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, matcod, sum(isnull(matqty,0)) as matqty, matuntcod, matusebch, matuseser
		into #tmp_doc_mat_stk
		from #tmp_doc_mat
		where buscod=@lp_buscod
		  and matusebch=0 
		  and matuseser=0
		group by buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, matcod, matuntcod, matusebch, matuseser

		-- 3.2 - agrupo materiales por lote (sujetos a lote)
		select buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, matcod, matbchcod, matbchcodext, matbchduedte, sum(isnull(matqty,0)) as matqty, matuntcod, matusebch, matuseser
		into #tmp_doc_mat_bch
		from #tmp_doc_mat
		where buscod=@lp_buscod
		  and matusebch=1
		group by buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, matcod, matbchcod, matbchcodext, matbchduedte, matuntcod, matusebch, matuseser

		-- 3.3 - agrupo materiales por numero de serie (sujetos a nro de serie)
		select buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, matcod, matsercod, matsercodext, sum(isnull(matqty,0)) as matqty, matuntcod, matusebch, matuseser
		into #tmp_doc_mat_ser
		from #tmp_doc_mat
		where buscod=@lp_buscod
		  and matuseser=1
		group by buscod, srcobjtyp, srcobjcod, srccntcod, dstobjtyp, dstobjcod, dstcntcod, matcod, matsercod, matsercodext, matuntcod, matusebch, matuseser

		-- armo nueva estructura colectora de stock y cantidades de documento
		select x.*, CAST(null as decimal(13,3)) as matstkqty, CAST(null as decimal(13,3)) as matdocqty 
		into #tmp_doc_mat2
		from #tmp_doc_mat x

		-- armo estructura colectora de documentos
		select cast(null as nvarchar(20)) as buscod, cast(null as int) as MatCod, cast(null as int) as stkmovdoccod, cast(null as decimal(13,3)) as matqty, cast(null as int) as matbchcod, cast(null as int) as matsercod
		into #tmp_res_doc where 1=2

		-- obtengo el stock de los materiales involucrados
		select s.buscod, s.matcod, sum(s.matqty) as matqty, sum(s.MatQty) as matqtyres, isnull(s.matbchcod,0) as matbchcod, isnull(s.matsercod,0) as matsercod
		into #tmp_res_stk 
		from stk_mat_stk s
		where exists(select top 1 * 
					from #tmp_doc_mat2 dm 
					where dm.buscod=s.buscod 
					  and dm.matcod=s.matcod 
					  and isnull(dm.matbchcod,0)=(case isnull(dm.matbchcod,0) when 0 then 0 else s.matbchcod end)
					  and isnull(dm.matsercod,0)=(case isnull(dm.matsercod,0) when 0 then 0 else s.matsercod end)
					)
		  and s.stkobjtyp=@lv_srcobjtyp
		  and s.stkobjcod=@lv_srcobjcod
		  and s.matqty>0
		group by s.buscod, s.matcod, isnull(s.matbchcod,0), isnull(s.matsercod,0)

		-- RESERVA. obtengo documentos que reservan stock
		if exists( select top 1 * from dbo.getParameter(@lp_buscod, 'STK', 'ENABLE_MATERIAL_RESERVATION') where prmval=@lv_srcobjtyp+'_'+cast(@lv_srcobjcod as nvarchar(20)) )
			begin
				
				-- obtengo las reservas de los materiales involucrados
				insert into #tmp_res_doc (buscod, StkMovDocCod, matcod, matqty, matbchcod, matsercod)
				select d.buscod, d.stkmovdoccod, dm.MatCod, sum( isnull(dbo.ConvertMaterialUnit(d.buscod,dm.matcod,dm.matqty,dm.matuntcod,m.matuntcod),0) ) as matqty, isnull(dm.matbchcod,0) as matBchCod, isnull(dm.matsercod,0) as matsercod
				from stk_mov_doc d
					inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod
					inner join STK_MAT m on m.BusCod=dm.buscod and m.MatCod=dm.matcod 
				where d.buscod=@lp_buscod
					and not d.stkmovdoccod = isnull(@lp_stkmovdoccod,0)
					and d.SrcObjTyp=@lv_srcobjtyp
					and d.srcobjcod=@lv_srcobjcod
					and not d.docsts='C'
					and exists( select top 1 * 
								from #tmp_doc_mat2 x
								where x.buscod=d.buscod 
								  and x.matcod=dm.matcod 
								  --and isnull(x.matbchcod,0)=(case isnull(x.matbchcod,0) when 0 then 0 else isnull(dm.matbchcod,0) end)
								  --and isnull(x.matsercod,0)=(case isnull(x.matsercod,0) when 0 then 0 else isnull(dm.matsercod,0) end)
								)
				group by d.buscod, d.stkmovdoccod, dm.MatCod, isnull(dm.matbchcod,0), isnull(dm.matsercod,0)
			end
      
	   -- armo estructura de salida de actividad #68
		select cast(null as nvarchar(20)) as buscod, 
			cast(null as int) as stkmovdoccod, cast(null as datetime) as stkmovdocdte, 
			CAST(null as int) as matcod, CAST(null as nvarchar(20)) as matcodext,
			cast(null as nvarchar(50)) as mattxt, cast(null as decimal(13,3)) as matqty, cast(null as nvarchar(5)) as matuntcod, 
			cast(null as nvarchar(20)) as matbchcod, CAST(null as nvarchar(20)) as matsercod,
			cast(null as nvarchar(20)) as matbchcodext, CAST(null as nvarchar(20)) as matsercodext,
			cast(null as decimal(13,3)) as matbseqty, cast(null as decimal(13,3)) as matstkqty,
		cast(null as decimal(13,3)) as matresqty
		into #tmp_stkchklst
		where 1=2

	end	



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-402	Debe indicar lote y vencimiento
--	-302	Lote excede vencimiento permitido
--	-403	Debe indicar nÃºmero de serie
--	-403	Para materiales sujetos a nro. de serie la cantidad debe ser 0 Ã³ 1
--	-502	Lote inexistente
--	-503	Numero de Serie inexistente
-- ------------------------------------------------------------------------
if		@lp_sysoperation='01'	-- Contabilizacion de Entrada/Salida Stock
	begin
		SET @lv_validop = 1

		-- 4.1 - valido que sujeto a lote indique lote
		if exists(select top 1 * from #tmp_doc_mat where buscod=@lp_buscod and matusebch=1 and ( isnull(matbchcodext,'')='' or matbchduedte is null ) )
			begin
				SET @lp_errcod=-402
				SET @lp_errtxt='Debe indicar lote y vencimiento.'
				DECLARE lc_mat_bch CURSOR FOR select matcod, matbchcodext from #tmp_doc_mat dm where dm.buscod=@lp_buscod and matusebch=1 and ( isnull(matbchcodext,'')='' or matbchduedte is null ) group by matcod, matbchcodext
				OPEN lc_mat_bch
				FETCH NEXT FROM lc_mat_bch INTO @lv_matcod, @lv_matbchcodext
				WHILE @@FETCH_STATUS=0
					BEGIN
						set @lv_matbchcodext = REPLACE(@lv_matbchcodext,'"','\"') -- escape double quotes for json
						SET @lp_errmat=@lp_errmat+(case when @lp_errmat='' then '' else ',' end)+'{"matcod":"'+cast(@lv_matcod as nvarchar(20))+'","matbchcodext":"'+cast(@lv_matbchcodext as nvarchar(20))+'"}'
						FETCH NEXT FROM lc_mat_bch INTO @lv_matcod, @lv_matbchcodext
					END
				CLOSE lc_mat_bch
				DEALLOCATE lc_mat_bch
				set @lp_errmat = '['+@lp_errmat+']'
				RETURN
			end

		-- 4.2 - si esta sujeto a lote y los vencimientos estan fuera de lo indicado en el paraemtro del documento
		if not @lv_ctr_matbchduedtectr=''
			if exists(select top 1 * from #tmp_doc_mat where buscod=@lp_buscod and matusebch=1 and matbchduedte < dateadd(day,cast(@lv_ctr_matbchduedtectr as int),getdate()) )
				begin
					SET @lp_errcod=-302
					SET @lp_errtxt='Lote excede vencimiento permitido.'
					DECLARE lc_mat_bch CURSOR FOR select matcod, matbchcodext from #tmp_doc_mat dm where dm.buscod=@lp_buscod and matusebch=1 and matbchduedte < dateadd(day, cast(@lv_ctr_matbchduedtectr as int),getdate()) group by matcod, matbchcodext
					OPEN lc_mat_bch
					FETCH NEXT FROM lc_mat_bch INTO @lv_matcod, @lv_matbchcodext
					WHILE @@FETCH_STATUS=0
						BEGIN
							set @lv_matbchcodext = REPLACE(@lv_matbchcodext,'"','\"') -- escape double quotes for json
							SET @lp_errmat=@lp_errmat+(case when @lp_errmat='' then '' else ',' end)+'{"matcod":"'+cast(@lv_matcod as nvarchar(20))+'","matbchcodext":"'+cast(@lv_matbchcodext as nvarchar(20))+'"}'
							FETCH NEXT FROM lc_mat_bch INTO @lv_matcod, @lv_matbchcodext
						END
					CLOSE lc_mat_bch
					DEALLOCATE lc_mat_bch
					set @lp_errmat = '['+@lp_errmat+']'
					RETURN
				end

		-- 4.3 - valido que sujeto a numero de serie indique numero de serie
		if exists(select top 1 * from #tmp_doc_mat where buscod=@lp_buscod and matuseser=1 and isnull(matsercodext,'')='')
			begin
				SET @lp_errcod=-403
				SET @lp_errtxt='Debe indicar nÃºmero de serie.'
				DECLARE lc_mat_ser CURSOR FOR select matcod, matsercodext from #tmp_doc_mat dm where dm.buscod=@lp_buscod and matuseser=1 and isnull(matsercodext,'')='' group by matcod, matsercodext
				OPEN lc_mat_ser
				FETCH NEXT FROM lc_mat_ser INTO @lv_matcod, @lv_matsercodext
				WHILE @@FETCH_STATUS=0
					BEGIN
						set @lv_matsercodext = REPLACE(@lv_matsercodext,'"','\"') -- escape double quotes for json
						SET @lp_errmat=@lp_errmat+(case when @lp_errmat='' then '' else ',' end)+'{"matcod":"'+cast(@lv_matcod as nvarchar(20))+'","matsercodext":"'+cast(@lv_matsercodext as nvarchar(20))+'"}'
						FETCH NEXT FROM lc_mat_ser INTO @lv_matcod, @lv_matsercodext
					END
				CLOSE lc_mat_ser
				DEALLOCATE lc_mat_ser
				set @lp_errmat = '['+@lp_errmat+']'
				RETURN
			end

		-- 4.4 - valido que sujeto a numero de serie indique cantidad=1
		if exists(select top 1 * from #tmp_doc_mat where buscod=@lp_buscod and matuseser=1 and abs(matqty)>1)
			begin
				SET @lp_errcod=-403
				SET @lp_errtxt='Para materiales sujetos a nro. de serie la cantidad debe ser 0 / 1.'
				DECLARE lc_mat_ser CURSOR FOR select matcod, matsercodext from #tmp_doc_mat dm where dm.buscod=@lp_buscod and matuseser=1 and abs(matqty)>1 group by matcod, matsercodext
				OPEN lc_mat_ser
				FETCH NEXT FROM lc_mat_ser INTO @lv_matcod, @lv_matsercodext
				WHILE @@FETCH_STATUS=0
					BEGIN
						set @lv_matsercodext = REPLACE(@lv_matsercodext,'"','\"') -- escape double quotes for json
						SET @lp_errmat=@lp_errmat+(case when @lp_errmat='' then '' else ',' end)+'{"matcod":"'+cast(@lv_matcod as nvarchar(20))+'","matsercodext":"'+cast(@lv_matsercodext as nvarchar(20))+'"}'
						FETCH NEXT FROM lc_mat_ser INTO @lv_matcod, @lv_matsercodext
					END
				CLOSE lc_mat_ser
				DEALLOCATE lc_mat_ser
				set @lp_errmat = '['+@lp_errmat+']'
				RETURN
			end

		-- 5 - control de stock en origen o Ajuste de Inventario
		if (@lv_ctr_matstkctr='X' or @lv_objtyp='STK_SIV')
			begin

				-- 6.1 - valido existencia de lotes
				if @lv_ctr_matbchcre='' and exists(select top 1 * from #tmp_doc_mat where buscod=@lp_buscod and matusebch=1 and isnull(matbchcod,0)=0 and matqty<(case when @lv_objtyp='STK_SIV' then 0 else 99999999 end) )
					begin
						SET @lp_errcod=-502
						SET @lp_errtxt='Lote inexistente.'
						DECLARE lc_mat_bch CURSOR FOR select matcod, matbchcodext from #tmp_doc_mat dm where dm.buscod=@lp_buscod and matusebch=1 and isnull(matbchcod,0)=0 group by matcod, matbchcodext
						OPEN lc_mat_bch
						FETCH NEXT FROM lc_mat_bch INTO @lv_matcod, @lv_matbchcodext
						WHILE @@FETCH_STATUS=0
							BEGIN
								set @lv_matbchcodext = REPLACE(@lv_matbchcodext,'"','\"') -- escape double quotes for json
								SET @lp_errmat=@lp_errmat+(case when @lp_errmat='' then '' else ',' end)+'{"matcod":"'+cast(@lv_matcod as nvarchar(20))+'","matbchcodext":"'+cast(@lv_matbchcodext as nvarchar(20))+'"}'
								FETCH NEXT FROM lc_mat_bch INTO @lv_matcod, @lv_matbchcodext
							END
						CLOSE lc_mat_bch
						DEALLOCATE lc_mat_bch
						set @lp_errmat = '['+@lp_errmat+']'
						RETURN
					end
			
				-- 6.2 - valido existencia de numeros de serie
				IF @lv_ctr_matsercre='' and exists(select top 1 * from #tmp_doc_mat where buscod=@lp_buscod and matuseser=1 and isnull(matsercod,0)=0)
					begin
						SET @lp_errcod=-503
						SET @lp_errtxt='Numero de Serie inexistente.'
						DECLARE lc_mat_ser CURSOR FOR select matcod, matsercodext from #tmp_doc_mat dm where dm.buscod=@lp_buscod and matuseser=1 and matsercod=0 group by matcod, matsercodext
						OPEN lc_mat_ser
						FETCH NEXT FROM lc_mat_ser INTO @lv_matcod, @lv_matsercodext
						WHILE @@FETCH_STATUS=0
							BEGIN
								set @lv_matsercodext = REPLACE(@lv_matsercodext,'"','\"') -- escape double quotes for json
								SET @lp_errmat=@lp_errmat+(case when @lp_errmat='' then '' else ',' end)+'{"matcod":"'+cast(@lv_matcod as nvarchar(20))+'","matsercodext":"'+cast(@lv_matsercodext as nvarchar(20))+'"}'
								FETCH NEXT FROM lc_mat_ser INTO @lv_matcod, @lv_matsercodext
							END
						CLOSE lc_mat_ser
						DEALLOCATE lc_mat_ser
						set @lp_errmat = '['+@lp_errmat+']'
						RETURN
					end
			end

	end



-- ------------------------------------------------------------------------
--   C O N T R O L    D E    D I S P O N I B I L I D A D
-- ------------------------------------------------------------------------
--	-601	Stock insuficiente para material
--	-602	Stock insuficiente para material/lote
--	-603	Numero de Serie no disponible
-- ------------------------------------------------------------------------
if		@lp_sysoperation='01'	-- Contabilizacion de Entrada/Salida Stock
	or  @lp_sysoperation='13'	-- Verificacion de Disponibilidad
	or  @lp_sysoperation='68'	-- Control de Disponibilidad
	begin
		SET @lv_validop = 1
    
		-- 7 - control de stock en origen
		if @lv_ctr_matstkctr='X' or @lv_objtyp='STK_SIV'
			BEGIN 
				declare @lv_rsv as int=0

				-- RESERVA. si parametro de reserva activo
				if exists( select top 1 * from dbo.getParameter(@lp_buscod, 'STK', 'ENABLE_MATERIAL_RESERVATION') where prmval=@lv_srcobjtyp+'_'+cast(@lv_srcobjcod as nvarchar(20)) ) and not @lv_objtyp='STK_SIV'
					begin
						set @lv_rsv=1

						--recorro tabla de reservas #tmp_res_doc
						--resto al disponible            
						declare lv_curresdoc cursor for select matcod, matqty,  matsercod,  matbchcod from #tmp_res_doc order by matcod, matbchcod desc, matsercod desc
						open lv_curresdoc
						--matusebch y matuser
						fetch next from lv_curresdoc into @lv_matcod, @lv_matqty, @lv_matsercod, @lv_matbchcod
						while @@FETCH_STATUS=0
							BEGIN
								set @lv_cnt = 0
								while @lv_matqty>0 and @lv_cnt<1000
									begin
										--obtengo el disponible
										set @lv_matqtyres =(select top 1 matqtyres from #tmp_res_stk where matcod=@lv_matcod and matqtyres>0
															and matbchcod=(case @lv_matbchcod when 0 then matbchcod else @lv_matbchcod end)
															and matsercod=(case @lv_matsercod when 0 then matsercod else @lv_matsercod end ))
										--si no se encuentra nada pone 0
										set @lv_matqtyres=isnull(@lv_matqtyres,0)
										--resto lo reservado
										update top(1) #tmp_res_stk 
										set matqtyres = (case when @lv_matqtyres-@lv_matqty<0 then 0 else @lv_matqtyres-@lv_matqty end)
										where matcod=@lv_matcod and matqtyres>0
               				and matbchcod=(case @lv_matbchcod when 0 then matbchcod else @lv_matbchcod end)
										  and matsercod=(case @lv_matsercod when 0 then matsercod else @lv_matsercod end )

										set @lv_matqty = @lv_matqty - @lv_matqtyres
										set @lv_cnt = @lv_cnt + 1
									end

								fetch next from lv_curresdoc into @lv_matcod, @lv_matqty, @lv_matusebch, @lv_matbchcod
							END	-- /while
						CLOSE lv_curresdoc
						DEALLOCATE lv_curresdoc
					end

		    -- VERIFICACION. recorrer tabla de materiales (#tmp_doc_mat2)
				declare lv_curdoc cursor for select matcod, matqty, matusebch, matuseser,  isnull(matsercod,0),  isnull(matbchcod,0) from #tmp_doc_mat2
				--declare lv_curdoc cursor for select matcod, matqty, matusebch, matuseser,  matsercod,  matbchcod from #tmp_doc_mat2
				open lv_curdoc
				--matusebch y matuser
				fetch next from lv_curdoc into @lv_matcod, @lv_matqty, @lv_matusebch, @lv_matuseser, @lv_matsercod, @lv_matbchcod
      	while @@FETCH_STATUS=0
				  begin
						-- para cada material buscar el stock disponible (#tmp_res_stk -> matqtyres)
						--     ==> si no esta sujeto a lote / serie
						if (@lv_matusebch=0 and @lv_matuseser=0) or
							--     ==> este suejto a lote y no se indico (considero todo los lotes por igual)
							 (@lv_matusebch=1 and @lv_matbchcod=0) or
          					--     ==> esta suejto a serie y no se indico (considero todos los series por igual)
							 (@lv_matuseser=1 and @lv_matsercod=0) or 
            				--     ==> esta suejto a serie y lote y no se indico ninguno (considero todos los series y lotes por igual)
							 (@lv_matusebch=1 and @lv_matbchcod=0 and @lv_matuseser=1 and @lv_matsercod=0)
							--@lv_matqtyres: total de cantidad restante
							begin
					  		set @lv_matqtyres = (select sum(matqtyres) from #tmp_res_stk where matcod=@lv_matcod)
								set @lv_matqtystk = (select sum(matqty) from #tmp_res_stk where matcod=@lv_matcod)
							end
						--  ==> este suejto a lote y se indico
						else if (@lv_matusebch=1 and @lv_matuseser=0 and not @lv_matbchcod=0 )
          		begin
					  		set @lv_matqtyres = (select sum(matqtyres) from #tmp_res_stk where matcod=@lv_matcod and matbchcod=@lv_matbchcod)
							  set @lv_matqtystk = (select sum(matqty) from #tmp_res_stk where matcod=@lv_matcod and matbchcod=@lv_matbchcod)
							end
						--  ==> este suejto a serie y se indico
						else if (@lv_matuseser=1 and @lv_matusebch=0 and not @lv_matsercod=0 )
          		begin
					  		set @lv_matqtyres = (select sum(matqtyres) from #tmp_res_stk where matcod=@lv_matcod and matsercod=@lv_matsercod)
								set @lv_matqtystk = (select sum(matqty) from #tmp_res_stk where matcod=@lv_matcod and matsercod=@lv_matsercod)
							end
						--  ==> este suejto a lote y serie y se indicaron
						else if (@lv_matusebch=1 and @lv_matuseser=1 and not @lv_matbchcod=0  and not @lv_matsercod=0 )
          		begin
					  		set @lv_matqtyres = (select sum(matqtyres) from #tmp_res_stk where matcod=@lv_matcod and matbchcod=@lv_matbchcod and matsercod=@lv_matsercod)
								set @lv_matqtystk = (select sum(matqty) from #tmp_res_stk where matcod=@lv_matcod and matbchcod=@lv_matbchcod and matsercod=@lv_matsercod)
							end
          	--  ==> este suejto a lote y serie y se indico solo lote
						else if (@lv_matusebch=1 and @lv_matuseser=1 and not @lv_matbchcod=0  and  @lv_matsercod=0 )
          		begin
					  		set @lv_matqtyres = (select sum(matqtyres) from #tmp_res_stk where matcod=@lv_matcod and matbchcod=@lv_matbchcod)
								set @lv_matqtystk = (select sum(matqty) from #tmp_res_stk where matcod=@lv_matcod and matbchcod=@lv_matbchcod)
							end
						--  ==> este suejto a lote y serie y se indico solo serie
						else if (@lv_matusebch=1 and @lv_matuseser=1 and  @lv_matbchcod=0  and not @lv_matsercod=0 )
          		begin
            		set @lv_matqtyres = (select sum(matqtyres) from #tmp_res_stk where matcod=@lv_matcod and matsercod=@lv_matsercod)
								set @lv_matqtystk = (select sum(matqty) from #tmp_res_stk where matcod=@lv_matcod and matsercod=@lv_matsercod)
							end

						--si es ajuste de inventario negativo, multiplica por -1 la cantidad para el control de disponibilidad
						if @lv_objtyp='STK_SIV' and @lv_matqty<0
          		set @lv_matqty=@lv_matqty*-1
						-- si es ajuste positivo, igualo cantidades para que no se validen existencias
						else if @lv_objtyp='STK_SIV' and @lv_matqty>0
							set @lv_matqty = isnull(@lv_matqtyres,0)


						-- verificar si es suficiente el stock si es suficiente
						if isnull(@lv_matqty,0) <= isnull(@lv_matqtyres,0)
							begin
								--     restar a #tmp_res_stk->matqtyres la cantidad del material del documento
								--     recorer el stock y restar cantidades del documento
								set @lv_stkdif = @lv_matqty
                set @lv_cnt = 0
								while @lv_stkdif>0 and @lv_cnt<1000
									begin
										--actualizar/insertar en log la posicion del documento para indicar que el stock esta validado
										--(si no hay error no actualizo ni inserto nada en logs)
										set @lv_matqtyrestopone = (select top 1 matqtyres from #tmp_res_stk where matcod=@lv_matcod and matqtyres>0
																	and matbchcod=(case @lv_matbchcod when 0 then matbchcod else @lv_matbchcod end)
																	and matsercod=(case @lv_matsercod when 0 then matsercod else @lv_matsercod end))
										update top(1) #tmp_res_stk set matqtyres = (case when @lv_matqtyrestopone>=@lv_stkdif then @lv_matqtyrestopone-@lv_stkdif else 0 end) 
										where matcod=@lv_matcod and matqtyres>0
											and matbchcod=(case @lv_matbchcod when 0 then matbchcod else @lv_matbchcod end)
											and matsercod=(case @lv_matsercod when 0 then matsercod else @lv_matsercod end)
										set @lv_stkdif = @lv_stkdif - @lv_matqtyrestopone
										set @lv_cnt = @lv_cnt + 1
									end
							end
						else
          		begin
								-- actualizar/insertar en log la posicion del documento para indicar que el stock es insuficiente
								-- si no es suficiente,
								if @lp_sysoperation='68'
              		BEGIN
										insert into #tmp_stkchklst (buscod,stkmovdoccod,stkmovdocdte,matcod,matcodext,mattxt,matqty,matuntcod,matbchcod,matbchcodext,matsercod,matsercodext,matbseqty,matstkqty, matresqty)
										select top 1  @lp_buscod as buscod, null as stkmovdoccod, null as stkmovdocdte, @lv_matcod as matcod, m.matcodext, m.mattxt, @lv_matqty as matqty, x.matuntcod,isnull(@lv_matbchcod,0) as matbchcod,x.matbchcodext, isnull(@lv_matsercod,0) as matsercod, x.matsercodext, dbo.ConvertMaterialUnit(x.buscod,x.matcod,@lv_matqty,x.matuntcod,m.matuntcod) as matbseqty, @lv_matqtystk as matstkqty, @lv_matqtyres as matresqty
										from  #tmp_doc_mat2 x inner join STK_MAT m on m.BusCod=@lp_buscod and m.MatCod=@lv_matcod
										--si parametro de reserva activo
										if @lv_rsv=1
											begin
												-- obtengo las cantidades de reserva actuales de los movimientos de salida que no estan contabilizados
												insert into #tmp_stkchklst (buscod,stkmovdoccod,stkmovdocdte,matcod,matcodext,mattxt,matqty,matuntcod,matbchcod,matbchcodext,matsercod,matsercodext,matbseqty,matstkqty,matresqty)
												select rd.buscod, d.stkmovdoccod, d.stkmovdocdte, rd.matcod, m.matcodext,m.mattxt,dm.matqty,dm.matuntcod,rd.matbchcod,dm.matbchcodext,rd.matsercod,dm.matsercodext,dbo.ConvertMaterialUnit(dm.buscod,dm.matcod,dm.matqty,dm.matuntcod,m.matuntcod) as matbseqty, null as matstkqty, null as matresqty 
												from  #tmp_res_doc rd
														inner join stk_mov_doc d on d.BusCod=rd.BusCod and d.stkmovdoccod=rd.stkmovdoccod
														inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod and dm.MatCod=rd.MatCod and dm.MatBchCod=rd.matbchcod and dm.MatSerCod=rd.matsercod 
														inner join STK_MAT m on m.BusCod=rd.BusCod and m.MatCod=rd.matcod
												where rd.buscod=@lp_buscod
														and rd.matcod=@lv_matcod
														--0 ,null ,123
														and isnull(rd.matbchcod,0)=(case when isnull(rd.matbchcod,0)=0 then 0 else (case when isnull(@lv_matbchcod,rd.matbchcod)=0 then rd.matbchcod else @lv_matbchcod end) end)
														and isnull(rd.matsercod,0)=(case when isnull(rd.matsercod,0)=0 then 0 else (case when isnull(@lv_matsercod,rd.matsercod)=0 then rd.matsercod else @lv_matsercod end) end)
												update #tmp_res_stk set matqtyres =0 where matcod=@lv_matcod and matqtyres>0
											end
									END
								SET @lp_errcod=-601
								SET @lp_errtxt='Stock insuficiente para material.'
								SET @lp_errmat=@lp_errmat+(case when @lp_errmat='' then '' else ',' end)+'{"row":'+cast(@lv_row as nvarchar(10))+',"matcod":"'+cast(@lv_matcod as nvarchar(20))+'"}'
              end
						set @lv_row = @lv_row + 1
						fetch next from lv_curdoc into @lv_matcod, @lv_matqty, @lv_matusebch, @lv_matuseser, @lv_matsercod, @lv_matbchcod
				  end
				-- fin recorrer
				CLOSE lv_curdoc
      	DEALLOCATE lv_curdoc
				set @lp_errmat = '['+@lp_errmat+']'
			END
	end

	
	
-- ------------------------------------------------------------------------
--  0 1 - CONTABILIZAR MOVIMIENTO DE STOCK
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
		
		/* 
		1. verifico si es necesario realizar la baja de stock en origen (parametro control de stock)

		el ajuste de stock se realiza con la siguiente logica:
		1 - se realiza la baja de stock del origen
		2 - se realiza el alta de stock en el destino

		x - se agrega los registros de stock (no lote / no nro de serie) que no existan
		2 - se actualizan los registros de stock (no lote / no nro de serie) que existan
		3 - se obtienen todos los materiales del documento que sean relevantes para stock (parametro de clase de documento)
		4 - se agrupan materiales por material, lote y serie
		5 - se controlan los materiales segÃºn esten o no sujeto a lote o nro de serie
		*/



		-- --------------------------------------------------------------------------
		--
		--			B A J A
		--
		-- --------------------------------------------------------------------------



		-- 1 - control de stock en origen
		if ( @lv_ctr_matstkctr='X' ) and @lp_errcod=0
			BEGIN
				-- 1.1. baja de stock (no lote / no nro de serie)
				IF @lp_errcod=0
					BEGIN
						UPDATE sms
						SET sms.matqty = isnull(sms.matqty,0) - dm.matqty,
							sms.upddte = getdate(),
							sms.updusr = @lp_username
						FROM STK_MAT_STK sms
						inner join #tmp_doc_mat_stk dm on dm.buscod=sms.buscod and dm.srcobjtyp=sms.stkobjtyp and dm.srcobjcod=sms.stkobjcod and isnull(dm.srccntcod,0)=isnull(sms.stkcntcod,0) and dm.matcod=sms.matcod
						WHERE sms.buscod=@lp_buscod
						  and dm.matusebch=0
						  and dm.matuseser=0
						SET @lp_errcod=@@ERROR
					END

				-- 1.2. baja de stock de lote
				IF @lp_errcod=0
					BEGIN
						UPDATE smb
						SET smb.matqty = isnull(smb.matqty,0) - dm.matqty,
							smb.upddte = getdate(),
							smb.updusr = @lp_username
						FROM STK_MAT_STK smb
						inner join #tmp_doc_mat_bch dm on dm.buscod=smb.buscod and dm.srcobjtyp=smb.stkobjtyp and dm.srcobjcod=smb.stkobjcod and isnull(dm.srccntcod,0)=isnull(smb.stkcntcod,0) and dm.matcod=smb.matcod and dm.matbchcod=smb.matbchcod
						WHERE smb.buscod=@lp_buscod
						  and dm.matusebch=1
						  and dm.matuseser=0
						SET @lp_errcod=@@ERROR
					END

				-- 1.2.1 actualizaciÃ³n de id nro lote en documento
				IF @lp_errcod=0
					BEGIN
						UPDATE xdm
						SET xdm.matbchcod = dm.matbchcod 
						FROM STK_MOV_DOC_MAT xdm
						inner join #tmp_doc_mat_bch dm on dm.buscod=xdm.buscod and dm.matcod=xdm.matcod and dm.matbchcodext=xdm.matbchcodext
						where xdm.buscod=@lp_buscod
						  and xdm.stkmovdoccod=@lp_stkmovdoccod
						SET @lp_errcod=@@ERROR
					END

				-- 1.3. baja de numero de serie
				IF @lp_errcod=0
					BEGIN
						UPDATE sms
						SET sms.matqty = 0,
							sms.upddte = getdate(),
							sms.updusr = @lp_username
						FROM STK_MAT_STK sms
						inner join #tmp_doc_mat_ser dm on dm.buscod=sms.buscod and /*dm.srcobjtyp=sms.stkobjtyp and dm.srcobjcod=sms.stkobjcod and isnull(dm.srccntcod,0)=isnull(sms.stkcntcod,0) and*/ dm.matcod=sms.matcod and dm.matsercod=sms.matsercod
						WHERE sms.buscod=@lp_buscod
						  and dm.matuseser=1
						SET @lp_errcod=@@ERROR
					END

				-- 1.4. actualizaciÃ³n de id nro serie en documento
				IF @lp_errcod=0
					BEGIN
						UPDATE xdm
						SET xdm.matsercod = dm.matsercod  
						FROM STK_MOV_DOC_MAT xdm
						inner join #tmp_doc_mat_ser dm on dm.buscod=xdm.buscod and dm.matcod=xdm.matcod and dm.matsercodext=xdm.matsercodext
						where xdm.buscod=@lp_buscod
						  and xdm.stkmovdoccod=@lp_stkmovdoccod
						SET @lp_errcod=@@ERROR
					END

			END
		


		-- --------------------------------------------------------------------------
		--
		--			A L T A	
		--
		-- --------------------------------------------------------------------------



		-- 2 - gestion de stock en destino
		if ( (not @lv_ctr_dstobjtyp='' and @lv_ctr_matstkmgmdst='X') or @lv_objtyp='STK_SIV' ) and @lp_errcod=0
			BEGIN

				-- agrego registros que faltan en destino (no lote / no nro de serie)
				IF @lp_errcod=0
					BEGIN
						INSERT INTO STK_MAT_STK (buscod, stkobjtyp, stkobjcod, stkcntcod, matcod, matqty, matuntcod, docsts, ctedte, cteusr)
						SELECT dm.buscod, dm.dstobjtyp, dm.dstobjcod, isnull(dm.dstcntcod,0), dm.matcod, 0, dm.matuntcod, 'A', getdate(), @lp_username
						FROM #tmp_doc_mat_stk dm
						left join stk_mat_stk sm on sm.buscod=dm.buscod and sm.stkobjtyp=dm.dstobjtyp and sm.stkobjcod=dm.dstobjcod and isnull(sm.stkcntcod,0)=isnull(dm.dstcntcod,0) and sm.matcod=dm.matcod
						WHERE dm.buscod=@lp_buscod
						  and sm.matcod is null
						SET @lp_errcod=@@ERROR
					END

				-- si crea lote y no existe, los agrego
				if @lv_ctr_matbchcre='X' and @lp_errcod=0
					BEGIN
						INSERT INTO STK_MAT_BCH (buscod, matcod, MatBchCodExt, MatBchDueDte, sysdocclscod, docsts, ctedte, cteusr)
						SELECT dm.buscod, dm.matcod, dm.matbchcodext, dm.matbchduedte, m.matbchdocclscod, 'A', getdate(), @lp_username
						FROM #tmp_doc_mat_bch dm
            left join STK_MAT m on m.BusCod=dm.BusCod and m.MatCod=dm.MatCod
						left join stk_mat_bch mb on mb.buscod=dm.buscod and mb.matcod=dm.matcod and mb.MatBchCodExt=dm.MatBchCodExt
						WHERE dm.buscod=@lp_buscod
						  and mb.MatBchCod is null
						SET @lp_errcod=@@ERROR

						IF @lp_errcod=0
							BEGIN
								UPDATE dmb
								SET dmb.matbchcod=mb.matbchcod
								FROM #tmp_doc_mat_bch dmb
								INNER JOIN stk_mat_bch mb on mb.buscod=dmb.buscod and mb.matcod=dmb.matcod and mb.matbchcodext=dmb.MatBchCodExt
								WHERE dmb.buscod=@lp_buscod
								SET @lp_errcod=0
							END
					END

				-- si crea nro de serie y no existe, los agrego
				if @lv_ctr_matsercre='X' and @lp_errcod=0
					BEGIN
						INSERT INTO STK_MAT_SER (buscod, matcod, MatserCodExt, sysdocclscod, docsts, ctedte, cteusr)
						SELECT dm.buscod, dm.matcod, dm.matsercodext, m.matserdocclscod, 'A', getdate(), @lp_username
						FROM #tmp_doc_mat_ser dm
						left join STK_MAT m on m.BusCod=dm.BusCod and m.MatCod=dm.MatCod
						left join stk_mat_ser mb on mb.buscod=dm.buscod and mb.matcod=dm.matcod and mb.MatserCodExt=dm.MatserCodExt
						WHERE dm.buscod=@lp_buscod
						  and mb.MatserCod is null
						SET @lp_errcod=@@ERROR

						IF @lp_errcod=0
							BEGIN
								UPDATE dmb
								SET dmb.matsercod=mb.matsercod
								FROM #tmp_doc_mat_ser dmb
								INNER JOIN stk_mat_ser mb on mb.buscod=dmb.buscod and mb.matcod=dmb.matcod and mb.matsercodext=dmb.MatserCodExt
								WHERE dmb.buscod=@lp_buscod
								SET @lp_errcod=0
							END
					END

				-- agrego registros que faltan en destino (sujeto lote)
				IF @lp_errcod=0
					BEGIN
						INSERT INTO STK_MAT_STK (buscod, stkobjtyp, stkobjcod, stkcntcod, matcod, matbchcod, matqty, matuntcod, docsts, ctedte, cteusr)
						SELECT dm.buscod, dm.dstobjtyp, dm.dstobjcod, isnull(dm.dstcntcod,0), dm.matcod, dm.matbchcod, 0, dm.matuntcod, 'A', getdate(), @lp_username
						FROM #tmp_doc_mat_bch dm
						left join stk_mat_stk smb on smb.buscod=dm.buscod and smb.stkobjtyp=dm.dstobjtyp and smb.stkobjcod=dm.dstobjcod and isnull(smb.stkcntcod,0)=isnull(dm.dstcntcod,0) and smb.matcod=dm.matcod and smb.matbchcod=dm.matbchcod 
						WHERE dm.buscod=@lp_buscod
						  and smb.matcod is null
						SET @lp_errcod=@@ERROR
					END

				-- agrego registros que faltan en destino (sujeto serie)
				IF @lp_errcod=0
					BEGIN
						INSERT INTO STK_MAT_STK (buscod, stkobjtyp, stkobjcod, stkcntcod, matcod, matsercod, matqty, matuntcod, docsts, ctedte, cteusr)
						SELECT dm.buscod, dm.dstobjtyp, dm.dstobjcod, isnull(dm.dstcntcod,0), dm.matcod, dm.matsercod, 0, dm.matuntcod, 'A', getdate(), @lp_username
						FROM #tmp_doc_mat_ser dm
						left join stk_mat_stk smb on smb.buscod=dm.buscod and smb.stkobjtyp=dm.dstobjtyp and smb.stkobjcod=dm.dstobjcod and isnull(smb.stkcntcod,0)=isnull(dm.dstcntcod,0) and smb.matcod=dm.matcod and smb.matsercod=dm.matsercod 
						WHERE dm.buscod=@lp_buscod
						  and smb.matcod is null
						SET @lp_errcod=@@ERROR
					END

				-- 2.1. alta de stock (no lote / no nro de serie)
				IF @lp_errcod=0
					BEGIN
						UPDATE sms
						SET sms.matqty = (case when isnull(sms.matqty,0)+dm.matqty<0 then 0 else isnull(sms.matqty,0) + dm.matqty end),
							sms.upddte = getdate(),
							sms.updusr = @lp_username
						FROM STK_MAT_STK sms
						inner join #tmp_doc_mat_stk dm on dm.buscod=sms.buscod and dm.dstobjtyp=sms.stkobjtyp and dm.dstobjcod=sms.stkobjcod and isnull(dm.dstcntcod,0)=isnull(sms.stkcntcod,0) and dm.matcod=sms.matcod
						WHERE sms.buscod=@lp_buscod
						  and dm.matusebch=0
						  and dm.matuseser=0
						SET @lp_errcod=@@ERROR
					END

				-- 2.2. alta de stock de lote
				IF @lp_errcod=0
					BEGIN
						UPDATE smb
						SET smb.matqty = (case when isnull(smb.matqty,0)+dm.matqty<0 then 0 else isnull(smb.matqty,0)+dm.matqty end),
							smb.upddte = getdate(),
							smb.updusr = @lp_username
						FROM STK_MAT_STK smb
						inner join #tmp_doc_mat_bch dm on dm.buscod=smb.buscod and dm.dstobjtyp=smb.stkobjtyp and dm.dstobjcod=smb.stkobjcod and isnull(dm.dstcntcod,0)=isnull(smb.stkcntcod,0) and dm.matcod=smb.matcod and dm.matbchcod=smb.matbchcod
						WHERE smb.buscod=@lp_buscod
						  and dm.matusebch=1
						  and dm.matuseser=0
						SET @lp_errcod=@@ERROR
					END

				-- 2.2.1 actualizaciÃ³n de id nro lote en documento
				IF @lp_errcod=0
					BEGIN
						UPDATE xdm
						SET xdm.matbchcod = dm.matbchcod  
						FROM STK_MOV_DOC_MAT xdm
						inner join #tmp_doc_mat_bch dm on dm.buscod=xdm.buscod and dm.matcod=xdm.matcod and dm.matbchcodext=xdm.matbchcodext
						where xdm.buscod=@lp_buscod
						  and xdm.stkmovdoccod=@lp_stkmovdoccod
						SET @lp_errcod=@@ERROR
					END

				-- 2.3. baja de nros de serie de otras locaciones
				IF @lp_errcod=0
					BEGIN
						UPDATE sms
						SET sms.matqty = 0,
							sms.upddte = getdate(),
							sms.updusr = @lp_username
						FROM STK_MAT_STK sms
						inner join #tmp_doc_mat_ser dm on dm.buscod=sms.buscod and dm.matcod=sms.matcod and dm.matsercod=sms.matsercod
						WHERE sms.buscod=@lp_buscod
						  and dm.matuseser=1
						SET @lp_errcod=@@ERROR
					END

				-- 2.4. alta de stock numero de serie
				IF @lp_errcod=0
					BEGIN
						UPDATE sms
						SET sms.matqty = (case when dm.matqty>0 then 1 else 0 end),
							sms.upddte = getdate(),
							sms.updusr = @lp_username
						FROM STK_MAT_STK sms
						inner join #tmp_doc_mat_ser dm on dm.buscod=sms.buscod and dm.dstobjtyp=sms.stkobjtyp and dm.dstobjcod=sms.stkobjcod and isnull(dm.dstcntcod,0)=isnull(sms.stkcntcod,0) and dm.matcod=sms.matcod and dm.matsercod=sms.matsercod
						WHERE sms.buscod=@lp_buscod
						  and dm.matuseser=1
						SET @lp_errcod=@@ERROR
					END

				-- 2.5. actualizaciÃ³n de id nro serie en documento
				IF @lp_errcod=0
					BEGIN
						UPDATE xdm
						SET xdm.matsercod = dm.matsercod  
						FROM STK_MOV_DOC_MAT xdm
						inner join #tmp_doc_mat_ser dm on dm.buscod=xdm.buscod and dm.matcod=xdm.matcod and dm.matsercodext=xdm.matsercodext
						where xdm.buscod=@lp_buscod
						  and xdm.stkmovdoccod=@lp_stkmovdoccod
						SET @lp_errcod=@@ERROR
					END

			END
		

		-- HISTORICO. actualizo stock historico ------------------------------------------
		declare @lv_stkper as nvarchar(6)
		set @lv_stkper = cast(DATEPART(year,getdate())*100+datepart(month,getdate()) as nvarchar(6))
		
		-- INICIALIZO PERIODO. si todavÃ­a no iniciÃ³ el periodo, lo inicializo
		if not exists(select top 1 * from STK_MAT_STK_HST where BusCod=@lp_buscod and StkPer=@lv_stkper)
			begin
				INSERT INTO STK_MAT_STK_HST (BusCod, StkPer, StkObjTyp, StkObjCod, stkcntcod, MatCod, MatQty, MatUntCod, DocSts, CteDte, CteUsr,
				matcst, matcstcurcod, matcstqty, matcstuntcod)
				SELECT s.buscod, @lv_stkper, s.stkobjtyp, s.stkobjcod, isnull(s.StkCntCod,0), s.MatCod, SUM(isnull(s.matqty,0)), s.MatUntCod, 'A', GETDATE(), @lp_username,
				c.matcst, c.matcstcurcod, c.matcstqty, c.matcstuntcod
				FROM STK_MAT_STK s
				left join STK_MAT_CST c on c.BusCod=s.BusCod and c.MatCod=s.MatCod 
				WHERE s.BusCod=@lp_buscod
				GROUP BY s.buscod, s.stkobjtyp, s.StkObjCod, isnull(s.StkCntCod,0), s.MatCod, s.matuntcod, c.matcst, c.matcstcurcod, c.matcstqty, c.matcstuntcod
				SET @lp_errcod=@@ERROR
			end

		-- obtengo materiales agrupados (foto de stock del origen y destino)
		IF @lp_errcod=0
			BEGIN
				SELECT s.buscod, s.stkobjtyp, s.stkobjcod, isnull(s.StkCntCod,0) as stkcntcod, s.matcod, sum(isnull(s.matqty,0)) as matqty, s.matuntcod
				INTO #tmp_doc_mat_grp
				FROM STK_MAT_STK s
				WHERE s.BusCod=@lp_buscod
				and exists( select top 1 * from #tmp_doc_mat dm where dm.buscod=s.buscod and dm.matcod=s.matcod and 
								  ( (dm.srcobjtyp=s.StkObjTyp 
									and dm.srcobjcod=s.stkobjcod 
									and isnull(dm.srccntcod,0)=isnull(s.StkCntCod,0)
									) or 
									(dm.dstobjtyp=s.stkobjtyp 
									and dm.dstobjcod=s.stkobjcod 
									and isnull(dm.dstcntcod,0)=isnull(s.StkCntCod,0)
									)
								) 
							)
				GROUP BY s.buscod, s.stkobjtyp, s.stkobjcod, isnull(s.StkCntCod,0), s.matcod, s.matuntcod
				SET @lp_errcod = @@ERROR
			END
			
		-- actualizo registros existentes
		IF @lp_errcod=0
			BEGIN
				UPDATE sh
				SET MatQty = dm.matqty,
					MatCst = c.matcst,
					MatCstCurCod = c.MatCstCurCod, 
					MatCstQty = c.matcstqty,
					MatCstUntCod = c.matcstuntcod,
					updDte = GETDATE(),
					updUsr = @lp_username 
				FROM STK_MAT_STK_HST sh
				INNER JOIN #tmp_doc_mat_grp dm on dm.buscod=sh.buscod and dm.stkobjtyp=sh.stkobjtyp and dm.stkobjcod=sh.stkobjcod and isnull(dm.stkcntcod,0)=isnull(sh.StkCntCod,0) and dm.matcod=sh.matcod 
				left join STK_MAT_CST c on c.BusCod=dm.BusCod and c.MatCod=dm.MatCod 
				WHERE sh.BusCod=@lp_buscod
				  and sh.stkper=@lv_stkper
				SET @lp_errcod=@@ERROR
			END
			
		-- agrego registros que faltan
		IF @lp_errcod=0
			BEGIN
				INSERT INTO STK_MAT_STK_HST (BusCod, StkPer, StkObjTyp, StkObjCod, stkcntcod, MatCod, MatQty, MatUntCod, DocSts, CteDte, CteUsr,
				matcst, matcstcurcod, matcstqty, matcstuntcod )
				SELECT dm.buscod, @lv_stkper, dm.stkobjtyp, dm.stkobjcod, isnull(dm.StkCntCod,0), dm.MatCod, SUM(isnull(dm.matqty,0)), dm.MatUntCod, 'A', GETDATE(), @lp_username,
				c.matcst, c.matcstcurcod, c.matcstqty, c.matcstuntcod
				FROM #tmp_doc_mat_grp dm
				left join STK_MAT_STK_HST sh on sh.buscod=dm.buscod and sh.stkper=@lv_stkper and sh.stkobjtyp=dm.stkobjtyp and sh.stkobjcod=dm.stkobjcod and isnull(sh.StkCntCod,0)=isnull(dm.stkcntcod,0) and sh.matcod=dm.matcod 
				left join STK_MAT_CST c on c.BusCod=dm.BusCod and c.MatCod=dm.MatCod 
				WHERE sh.buscod is null
				GROUP BY dm.buscod, dm.stkobjtyp, dm.StkObjCod, isnull(dm.StkCntCod,0), dm.MatCod, dm.matuntcod, c.matcst, c.matcstcurcod, c.matcstqty, c.matcstuntcod
				SET @lp_errcod=@@ERROR
			END

		SET @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
		RETURN
		
	END



-- ----------------------------------------------------------------------------
--   0 8    -    R E P O R T E    D E    S T O C K
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' s.*, mcst.matcst, mcst.matcstcurcod, mcst.matcstqty, mcst.matcstuntcod, '
			+ ' sc.cnttxt, m.matcodext, m.mattxt, m.matusebch, m.matuseser, mc.matclstxt, mh.mathietxt, mb.matbchcodext, mb.matbchduedte, ms.matsercodext, dc.sysdocclstxt, a.adrnme001 ',
			' stk_mat m '
			+ ' inner join sys_doc_cls dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod '
			+ ' left join stk_mat_stk s on s.buscod=m.buscod and s.matcod=m.matcod '
			+ ' left join stk_mat_bch mb on mb.buscod=s.buscod and mb.matcod=s.matcod and mb.matbchcod=s.matbchcod '
			+ ' left join stk_mat_ser ms on ms.buscod=s.buscod and ms.matcod=s.matcod and ms.matsercod=s.matsercod '
			+ ' left JOIN stk_mat_cls mc on mc.buscod=m.buscod and mc.matclscod=m.matclscod  '
			+ ' left join stk_mat_cst mcst on mcst.buscod=m.buscod and mcst.matcod=m.matcod '
			+ ' left join stk_mat_hie mh on mh.buscod=m.buscod and mh.mathiecod=m.mathiecod '
			+ ' left join grl_dat_adr a on a.buscod=s.buscod and a.adrsrctyp=s.stkobjtyp and cast(a.adrsrccod as nvarchar(20))=cast(s.stkobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt sc on sc.buscod=s.buscod and sc.cntsrctyp=s.stkobjtyp and sc.cntsrccod=s.stkobjcod and sc.cntcod=s.stkcntcod ',
			' s.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and not s.matqty=0  '
			+ ' and not dbo.GetTagValue('+QUOTENAME('matstkrel','''')+',dc.sysdocclsatr)='+QUOTENAME('',''''),
			'', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 5    -    S T O C K    b a j o    M I N I M O						
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '15'
	BEGIN
		SET @lv_validop = 1

		/* STK_MAT_STK_DEF '15','TEMASIS','LOGIN','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>' */

		set @lv_stkobjtxt = ' (case sl.stkobjtyp	when '+QUOTENAME('HLT_PAT','''')+' then st1.pattxt 
									when '+QUOTENAME('SLS_CUS','''')+' then st2.custxt
									when '+QUOTENAME('BUY_SUP','''')+' then st3.suptxt
									when '+QUOTENAME('STK_STL','''')+' then st4.strloctxt end) '
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'stkobjtxt', @lv_stkobjtxt)
		set @lv_flt = @lv_flt + ' and not dbo.GetTagValue('+QUOTENAME('matstkrel','''')+',dc.sysdocclsatr)='+QUOTENAME('','''')

		set @lv_ord = (case dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) WHEN '' THEN '' ELSE ' ORDER BY ' + dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) END)
		set @lv_ord = replace(@lv_ord, 'stkobjtxt', @lv_stkobjtxt)
		
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' sl.stkobjtyp, sc.cnttxt, sl.stkobjcod, sl.stkcntcod, sl.matcod, m.matcodext, m.mattxt, m.docsts, '
			+ ' sum(isnull(ss.matqty,0)) as stkmatstk, max(isnull(sl.stkmatlvlmax,0)) as stkmatlvlmax, max(isnull(sl.stkmatlvlmin,0)) as stkmatlvlmin, '
			+ ' max(isnull(sl.stkmatlvlmax,0))-sum(isnull(ss.matqty,0)) as stkmatptoped, '
			+ @lv_stkobjtxt+' as stkobjtxt '
			+ ' FROM stk_mat_stk_lvl sl '
			+ ' inner join stk_mat m on m.buscod=sl.buscod and m.matcod=sl.matcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod '
			+ ' left join stk_mat_stk ss on ss.buscod=sl.buscod and ss.stkobjtyp=sl.stkobjtyp and ss.stkobjcod=sl.stkobjcod and isnull(ss.stkcntcod,0)=isnull(sl.stkcntcod,0) and ss.matcod=sl.matcod '
			+ ' left join grl_dat_cnt sc on sc.buscod=sl.buscod and sc.cntsrctyp=sl.stkobjtyp and sc.cntsrccod=sl.stkobjcod and isnull(sc.cntcod,0)=isnull(sl.stkcntcod,0) '
			+ ' left join hlt_pat st1 on st1.buscod=sl.buscod and st1.patcod=sl.stkobjcod '
			+ ' left join sls_cus st2 on st2.buscod=sl.buscod and st2.cuscod=sl.stkobjcod '
			+ ' left join buy_sup st3 on st3.buscod=sl.buscod and st3.supcod=sl.stkobjcod '
			+ ' left join stk_str_loc st4 on st4.buscod=sl.buscod and st4.strloccod=sl.stkobjcod '
			+ ' WHERE sl.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and m.docsts='+QUOTENAME('A','''')
			+ @lv_flt
			+ ' group by sl.stkobjtyp, sc.cnttxt, sl.stkobjcod, sl.stkcntcod, sl.matcod, m.matcodext, m.mattxt, m.docsts, '+@lv_stkobjtxt
			+ ' having sum(isnull(ss.matqty,0))<max(sl.stkmatlvlmin) '
			+ @lv_ord
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 6    -    S T O C K    b a j o    R E S E R V A						
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '16'
	BEGIN
		SET @lv_validop = 1

		set @lv_stkobjtxt = ' (case sl.stkobjtyp	when '+QUOTENAME('HLT_PAT','''')+' then st1.pattxt 
									when '+QUOTENAME('SLS_CUS','''')+' then st2.custxt
									when '+QUOTENAME('BUY_SUP','''')+' then st3.suptxt
									when '+QUOTENAME('STK_STL','''')+' then st4.strloctxt end) '
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'stkobjtxt', @lv_stkobjtxt)
		set @lv_flt = @lv_flt + ' and not dbo.GetTagValue('+QUOTENAME('matstkrel','''')+',dc.sysdocclsatr)='+QUOTENAME('','''')

		set @lv_ord = (case dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) WHEN '' THEN '' ELSE ' ORDER BY ' + dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) END)
		set @lv_ord = replace(@lv_ord, 'stkobjtxt', @lv_stkobjtxt)

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' sl.stkobjtyp, sc.cnttxt, sl.stkobjcod, sl.stkcntcod, sl.matcod, m.matcodext, m.mattxt, '
			+ ' sum(isnull(ss.matqty,0)) as stkmatstk, max(sl.stkmatlvlmax) as stkmatlvlmax, max(sl.stkmatlvlres) as stkmatlvlres, '
			+ ' max(sl.stkmatlvlmax)-sum(isnull(ss.matqty,0)) as stkmatptoped, '
			+ @lv_stkobjtxt+' as stkobjtxt '
			+ ' FROM stk_mat_stk_lvl sl '
			+ ' inner join stk_mat m on m.buscod=sl.buscod and m.matcod=sl.matcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod '
			+ ' left join stk_mat_stk ss on ss.buscod=sl.buscod and ss.stkobjtyp=sl.stkobjtyp and ss.stkobjcod=sl.stkobjcod and isnull(ss.stkcntcod,0)=sl.stkcntcod '
			+ ' left join grl_dat_cnt sc on sc.buscod=sl.buscod and sc.cntsrctyp=sl.stkobjtyp and sc.cntsrccod=sl.stkobjcod and sc.cntcod=sl.stkcntcod '
			+ ' left join hlt_pat st1 on st1.buscod=sl.buscod and st1.patcod=sl.stkobjcod '
			+ ' left join sls_cus st2 on st2.buscod=sl.buscod and st2.cuscod=sl.stkobjcod '
			+ ' left join buy_sup st3 on st3.buscod=sl.buscod and st3.supcod=sl.stkobjcod '
			+ ' left join stk_str_loc st4 on st4.buscod=sl.buscod and st4.strloccod=sl.stkobjcod '
			+ ' WHERE sl.buscod='+QUOTENAME(@lp_buscod,'''')
			+ @lv_flt
			+ ' group by sl.stkobjtyp, sc.cnttxt, sl.stkobjcod, sl.stkcntcod, sl.matcod, m.matcodext, m.mattxt, '+@lv_stkobjtxt
			+ ' having sum(isnull(ss.matqty,0))<max(sl.stkmatlvlres) '
			+ @lv_ord
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 7    -    S T O C K    V A L O R I Z A D O							
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1

		set @lv_stkobjtxt = ' (case s.stkobjtyp	when '+QUOTENAME('HLT_PAT','''')+' then st1.pattxt 
									when '+QUOTENAME('SLS_CUS','''')+' then st2.custxt
									when '+QUOTENAME('BUY_SUP','''')+' then st3.suptxt
									when '+QUOTENAME('STK_STL','''')+' then st4.strloctxt end) '

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'stkobjtyptxt', 'so.objtyptxt')
		set @lv_flt = replace(@lv_flt, 'stkobjtxt', @lv_stkobjtxt)
		set @lv_flt = replace(@lv_flt, 'stkcnttxt', 'sc.cnttxt')
		set @lv_flt = replace(@lv_flt, 'matcsttot', ' sum( (case when isnull(mcst.matcstqty,0)=0 then 0 else cast((s.matqty*mcst.matcst/mcst.matcstqty) as decimal(10,2)) end) ) ')
		set @lv_flt = replace(@lv_flt, 'matqty', ' sum(cast(s.matqty as decimal(10,2))) ')
		set @lv_flt = replace(@lv_flt, 'stkcnttxt','sc.cnttxt')
		set @lv_flt = @lv_flt + ' and not dbo.GetTagValue('+QUOTENAME('matstkrel','''')+',dc.sysdocclsatr)='+QUOTENAME('','''')

		set @lv_ord = (case when dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) = '' then '' else ' ORDER BY ' + dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) end)
		set @lv_ord = replace(@lv_ord, 'stkobjtyptxt', 'so.objtyptxt')
		set @lv_ord = replace(@lv_ord, 'stkobjtxt', @lv_stkobjtxt)
		set @lv_ord = replace(@lv_ord, 'stkcnttxt', 'sc.cnttxt')
		set @lv_ord = replace(@lv_ord, 'matcsttot', ' sum( (case when isnull(mcst.matcstqty,0)=0 then 0 else cast((s.matqty*mcst.matcst/mcst.matcstqty) as decimal(10,2)) end) )' )
		set @lv_ord = replace(@lv_ord, 'matqty', 'sum(cast(s.matqty as decimal(10,2)))')
		set @lv_ord = replace(@lv_ord, 'stkcnttxt','sc.cnttxt')

		set @lv_grp = ' GROUP BY so.objtyptxt, '+@lv_stkobjtxt+', sc.cnttxt, s.matcod, m.mattxt, s.matuntcod, mcst.matcstcurcod, dc.sysdocclstxt '

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' so.objtyptxt as stkobjtyptxt, '+@lv_stkobjtxt+' as stkobjtxt, sc.cnttxt as stkcnttxt, '
			+ ' s.matcod, m.mattxt, sum(cast(s.matqty as decimal(10,2))) as matqty, s.matuntcod, '
			+ ' sum( (case when isnull(mcst.matcstqty,0)=0 then 0 else cast((s.matqty*mcst.matcst/mcst.matcstqty) as decimal(10,2)) end) ) as matcsttot, '
			+ ' mcst.matcstcurcod, dc.sysdocclstxt '
			+ ' FROM stk_mat_stk s '
			+ ' inner join stk_mat m on m.buscod=s.buscod and m.matcod=s.matcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod '
			+ ' inner join sys_obj_typ so on so.objtypcod=s.stkobjtyp '
			+ ' left JOIN stk_mat_cls mc on mc.buscod=m.buscod and mc.matclscod=m.matclscod  '
			+ ' left join grl_dat_cnt sc on sc.buscod=s.buscod and sc.cntsrctyp=s.stkobjtyp and sc.cntsrccod=s.stkobjcod and sc.cntcod=s.stkcntcod '
			+ ' left join stk_mat_cst mcst on mcst.buscod=m.buscod and mcst.matcod=m.matcod '
			+ ' left join hlt_pat st1 on st1.buscod=s.buscod and st1.patcod=s.stkobjcod '
			+ ' left join sls_cus st2 on st2.buscod=s.buscod and st2.cuscod=s.stkobjcod '
			+ ' left join buy_sup st3 on st3.buscod=s.buscod and st3.supcod=s.stkobjcod '
			+ ' left join stk_str_loc st4 on st4.buscod=s.buscod and st4.strloccod=s.stkobjcod '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and not s.matqty=0 '
		execute( @lv_sql + @lv_flt + @lv_grp + @lv_ord )

	END



-- ------------------------------------------------------------------------
--   1 8    -    S T O C K    R E A P R O V I S I O N A M I E N T O			
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		-- obtengo materiales y stock
		SELECT m.buscod, so.objtyptxt as stkobjtyptxt, s.stkobjtyp, s.StkObjCod, sl.strloctxt as stkobjtxt, 
				m.matcod, m.mattxt, m.matstkday, sum(cast( dbo.ConvertMaterialUnit(s.buscod,s.matcod,isnull(s.matqty,0),s.matuntcod,m.matuntcod) as decimal(10,2))) as stkmatstk, 
				cast(null as decimal(13,3)) as stkmatcon, cast(null as decimal(13,3)) as stkmatmin, cast(null as decimal(13,3)) as stkmatmax, cast(null as decimal(13,3)) as stkmatrep, 
				m.matuntcod,
				 dc.sysdocclstxt
		INTO #tmp_stk18
		FROM stk_mat m
		 inner join sys_doc_cls dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod 
		 left join stk_mat_stk s on s.buscod=m.buscod and s.matcod=m.matcod 
		 left join sys_obj_typ so on so.objtypcod=s.stkobjtyp 
		 left join stk_str_loc sl on sl.buscod=s.buscod and sl.strloccod=s.stkobjcod 
		WHERE m.buscod=@lp_buscod
		  and m.docsts='A'
		  and (s.stkobjtyp='STK_STL' or s.stkobjtyp is null)
		  and not dbo.GetTagValue(  'matstkrel', dc.sysdocclsatr ) = ''
		GROUP BY m.buscod, so.objtyptxt, s.stkobjtyp, s.StkObjCod, sl.strloctxt, m.matcod, m.mattxt, m.matstkday, m.matuntcod, dc.sysdocclstxt
		
		-- obtengo consumos del perÃ­odo
		select dm.buscod, dm.matcod, dateadd(day, (m.matstkday*-1) , getdate()) as lstdte, 
			sum(
				(case when d.StkMovDocDte>=dateadd(day, (m.matstkday*-1) , getdate()) then dbo.ConvertMaterialUnit(dm.buscod,dm.matcod,isnull(dm.matqty,0),dm.MatUntCod,m.matuntcod) else 0 end)
				*(case dc.objtyp WHEN 'STK_SOU' then 1 when 'STK_SIN' then -1 else 1 end)
				)  as matqty, m.matuntcod
		into #tmp_stk18con
		from STK_MOV_DOC d
		inner join STK_MOV_DOC_MAT dm on dm.buscod=d.buscod and dm.StkMovDocCod=d.StkMovDocCod
		inner join stk_mat m on m.buscod=dm.buscod and m.matcod=dm.matcod 
		inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod 
		where d.buscod=@lp_buscod 
		  and (d.SrcObjTyp='STK_STL' or d.DstObjTyp='STK_STL')
		  and ( dc.objtyp='STK_SOU' or ( dc.objtyp='STK_SIN' and dbo.gettagvalue('docrev', dc.sysdocclsatr)='X' ) )
		  and d.docsts='C'
		  and m.docsts='A'
		group by dm.buscod, dm.matcod, dateadd(day, (m.matstkday*-1) , getdate()), m.matuntcod

		-- actualizo totales y niveles de reposiciÃ³n con el siguiente criterio:
		--   si hay MAXIMO se repone hasta el mÃ¡ximo
		--   si hay MINIMO se repone como minimo esta cantidad y como maximo la del consumo siempre que esta sea mayor que el stock
		--   si hay CONSUMO se repone hasta el consumo siempre que sea mayor que el stock actual
		--   sino 0
		update x
		set x.stkmatcon = xc.matqty,
			x.stkmatmin = sl.stkmatlvlmin,
			x.stkmatmax = sl.stkmatlvlmax,
			x.stkmatrep = (case when isnull(sl.stkmatlvlmax,0)>0 then 
									(case when isnull(sl.stkmatlvlmax,0)>isnull(x.stkmatstk,0) then isnull(sl.stkmatlvlmax,0)-isnull(x.stkmatstk,0) else 0 end)
								when isnull(sl.stkmatlvlmin,0)>0 then 
									(case   when isnull(xc.matqty,0)>=isnull(x.stkmatstk,0) and isnull(xc.matqty,0)>isnull(sl.stkmatlvlmin,0) then isnull(xc.matqty,0)-isnull(x.stkmatstk,0)
											when isnull(xc.matqty,0)>=isnull(x.stkmatstk,0) and isnull(xc.matqty,0)<isnull(sl.stkmatlvlmin,0) then isnull(sl.stkmatlvlmin,0)-isnull(x.stkmatstk,0)
											when isnull(x.stkmatstk,0)>isnull(xc.matqty,0) and isnull(x.stkmatstk,0)>isnull(sl.stkmatlvlmin,0) then 0
											when isnull(x.stkmatstk,0)>isnull(xc.matqty,0) and isnull(x.stkmatstk,0)<isnull(sl.stkmatlvlmin,0) then isnull(sl.stkmatlvlmin,0)-isnull(x.stkmatstk,0)
											else 0 end) 
								when isnull(xc.matqty,0)>0 then 
									(case when isnull(xc.matqty,0)>isnull(x.stkmatstk,0) then isnull(xc.matqty,0)-isnull(x.stkmatstk,0) else 0 end)
								else 0 end)
		from #tmp_stk18 x
		 left join #tmp_stk18con xc on xc.buscod=x.buscod and xc.matcod=x.matcod
		 left join stk_mat_stk_lvl sl on sl.buscod=x.buscod and sl.matcod=x.matcod and sl.stkobjtyp=x.stkobjtyp and sl.stkobjcod=x.stkobjcod

		-- doy salida
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = (case when dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) = '' then '' else ' ORDER BY ' + dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) end)
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.* '
			+ ' FROM #tmp_stk18 s '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod,'''')
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



-- ------------------------------------------------------------------------
--   5 8    -    R E P O R T E    D E    S T O C K    H I S T O R I C O		
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '58'
	BEGIN
		SET @lv_validop = 1

		set @lv_stkobjtxt = ' sta.adrnme001 '

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.*, '
			+ ' sc.cnttxt, m.matcodext, m.mattxt, dc.sysdocclstxt, '
			+ @lv_stkobjtxt+' as stkobjtxt '
			+ ' FROM stk_mat m '
			+ ' inner join sys_doc_cls dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod '
			+ ' left join stk_mat_stk_hst s on s.buscod=m.buscod and s.matcod=m.matcod '
			+ ' left JOIN stk_mat_cls mc on mc.buscod=m.buscod and mc.matclscod=m.matclscod  '
			+ ' left join stk_mat_cst mcst on mcst.buscod=m.buscod and mcst.matcod=m.matcod '
			+ ' left join grl_dat_cnt sc on sc.buscod=s.buscod and sc.cntsrctyp=s.stkobjtyp and sc.cntsrccod=s.stkobjcod and sc.cntcod=s.stkcntcod '
			+ ' left join grl_dat_adr sta on sta.buscod=s.buscod and sta.adrsrctyp=s.stkobjtyp and sta.adrsrccod=cast(s.stkobjcod as nvarchar(20)) '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and not s.matqty=0 '
		
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'stkobjtxt', @lv_stkobjtxt)
		set @lv_flt = @lv_flt + ' and not dbo.GetTagValue('+QUOTENAME('matstkrel','''')+',dc.sysdocclsatr)='+QUOTENAME('','''')

		set @lv_ord = (case dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) WHEN '' THEN '' ELSE ' ORDER BY ' + dbo.GetVewTag( '', dbo.GetTagValue('veword',@lp_vewcfg) ) END)
		set @lv_ord = replace(@lv_ord, 'stkobjtxt', @lv_stkobjtxt)

		execute( @lv_sql + @lv_flt + @lv_ord )

	END



-- ------------------------------------------------------------------------
--   6 8    -    L I S T A    de    R E S E R V A S
-- ------------------------------------------------------------------------
-- dada una lista de materiales, obtengo que documentos estan reservando el stock disponible
IF @lp_sysoperation = '68'
	BEGIN
  	SET @lv_validop = 1
    select * from #tmp_stkchklst -- where matbseqty < matstkqty --order by mattxt, matbchcodext, matsercodext, stkmovdocdte
    return
  END
  


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
