USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PLN_STD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PLN_STD_DEF]

@lp_sysoperation	as nvarchar(4),
@lp_username			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_plnid					as int					= null,	-- id planificacion
@lp_spcstdcod			as int					= null,	-- id estudio
@lp_docsts				as nvarchar(02)	= null,	-- estado

@lp_vewcfg				as nvarchar(max)= null,	-- configuracion vista

@lp_errtyp as nvarchar(2) = null OUTPUT,
@lp_errcod as int = 0 OUTPUT,
@lp_errtxt as nvarchar(400) = null OUTPUT,
@lp_errmsg as nvarchar(400) = null OUTPUT,
@lp_errvar as nvarchar(400) = null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_errcod as int = 0
declare @lv_errtxt as nvarchar(400) = null

-- ------------------------------------------------------------------------
--   V A L I D A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01sp'
	begin
		if exists(select top 1 * from hlt_pln_std where buscod=@lp_buscod and plnid=@lp_plnid and spcstdcod=@lp_spcstdcod)
			set @lp_sysoperation='02sp'
	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01sp'
	BEGIN
		SET @lv_validop = 1

		INSERT INTO HLT_PLN_STD (buscod, plnid, spcstdcod, docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_plnid, @lp_spcstdcod, @lp_docsts, getdate(), @lp_username )
		SET @lp_errcod=@@ERROR

		return
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02sp'
	BEGIN
		SET @lv_validop = 1
		-- nada que hacer
		return
	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04sp'
	BEGIN
		SET @lv_validop = 1

		DELETE
		FROM HLT_PLN_STD
		WHERE buscod=@lp_buscod
			and plnid = @lp_plnid
			and spcstdcod = @lp_spcstdcod
		SET @lv_errcod=@@ERROR
		
		return
	END
	


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- hlt_pln_std_def '08','temasis','temasis_hlt'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' ps.*, st.spcstdtxt, st.spcstdcmt ',
			' hlt_pln_std ps '
			+ ' inner join hlt_spc_std st on st.buscod=ps.buscod and st.spcstdcod=ps.spcstdcod ',
			' ps.buscod='+QUOTENAME(@lp_buscod, ''''), '', default )
		execute( @lv_sql )
	END

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
