USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_PRC_LST_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_PRC_LST_DEF]

@lp_sysoperation 		as nvarchar(5),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_slsprclstcod		as int			= null,	-- id lista precios 
@lp_slsprclstvercod		as int			= null,	-- id version 
@lp_slsprclstprccod		as int			= null OUTPUT,	-- id precio 
@lp_slsprcsrctyp		as nvarchar(20)	= null,	-- objeto origen 
@lp_slsprcsrccod		as int			= null,	-- objeto origen id 
@lp_slsprcqty			as bigint		= null,	-- cantidad 
@lp_slsprcuntcod		as nvarchar(05)	= null,	-- unidad de medida 
@lp_slsprcminval		as bigint		= null,	-- valor miÂ­nimo 
@lp_slsprcmaxval		as bigint		= null,	-- valor maximo 
@lp_slsprcminrng		as bigint		= null,	-- rango minimo 
@lp_slsprcmaxrng		as bigint		= null,	-- rango maximo	
@lp_slsprc				as bigint		= null,	-- precio 	
@lp_slsprcref			as bigint			= null,	-- referencia 
@lp_slsprcvar			as bigint		= null,	-- variacion 
@lp_curcod				as nvarchar(05)	= null,	-- id moneda 

@lp_docsts				as nvarchar(2)	= null,	-- estado 

@lp_vewcfg				as nvarchar(max)=null,	-- config vista 
@lp_slsprclst			as nvarchar(max)= null,	-- lista de precios 

@lp_errcod				as int			= null OUTPUT,	-- id error 
@lp_errtxt				as nvarchar(max)= null OUTPUT	-- txt error

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt as nvarchar(max)
declare @lv_sql as nvarchar(max)

declare @lv_slsprcqty	as decimal(13,3) = dbo.ConvertNumber( @lp_slsprcqty , 3 )
declare @lv_slsprc			as decimal(18,5) = dbo.ConvertNumber( @lp_slsprc , 3)
declare @lv_slsprcvar		as decimal(13,3) = dbo.ConvertNumber( @lp_slsprcvar, 3)

declare @lv_slsprcsrctxt as nvarchar(250)
declare @lv_srcobjatr as nvarchar(250)

declare @lv_slsprclstcod as int
declare @lv_slsprclstvercod as int
declare @lv_slsprclstanctyp as int
declare @lv_slsprclstancvar as decimal(13,3)

declare @lv_srcobjcod001 as nvarchar(max)

-- dado un material y operacion 06, actualizo las listas de precios con anclaje automatico al costo 
-- dado un material y operacion 07, actualizo las listas de precios con anclaje automatico al precio 
declare @lv_update as int
declare @lv_slsprclstprccod as int
declare @lv_slsprclstatr as nvarchar(max)
declare @lv_curcod as nvarchar(5)
declare @lv_newprc as decimal(18,5)
declare @lv_slsprcuntcoddst as nvarchar(5)
declare @lv_slsprcqtydst as decimal(9,3)

declare @lv_prccndcod as int
declare @lv_prccndacccod as int

declare @lp_excrteclscod as int

DECLARE @lv_slsprcsrctyp    AS nvarchar(20)  = null,
				@lv_slsprcsrccod    AS int           = null,
				@lv_slsprcuntcod    AS nvarchar(05)  = null
        
declare @lv_slsprclststrdte as nvarchar(14), @lv_slsprclstenddte as nvarchar(14)




-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
  	if isnull(@lp_slsprclst,'')=''
    	begin
        select @lv_errcod as errcod, @lv_errtxt as errtxt
        return
      end
      
		-- valido moneda 
		if isnull(@lp_curcod,'')=''
      SET @lp_curcod = (select top 1 curcod from sls_prc where buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod)

    BEGIN TRY     
      select (case when slsprclstprccod='' then 0 else convert(int, slsprclstprccod) end) as slsprclstprccod, 
      	slsprcsrctyp, slsprcsrccod, slsprcqty, slsprcuntcod, slsprc, slsprcref, slsprcvar, slsprcminval,
        slsprcmaxval, slsprcminrng, slsprcmaxrng, isnull(docsts, 'A') as docsts, srcobjcod001 as srcobjcod001, deleted, grldatprcsca
      into #tmpSlsPrcLst
      from OPENJSON(@lp_slsprclst) WITH (
        slsprclstprccod nvarchar(20) '$.slsprclstprccod',
        slsprcsrctyp nvarchar(20) '$.slsprcsrctyp',
        slsprcsrccod int '$.slsprcsrccod',
        slsprcqty decimal(13,3) '$.slsprcqty',
        slsprcuntcod nvarchar(5) '$.slsprcuntcod',
        slsprc decimal(18,5) '$.slsprc',
        slsprcref decimal(13,3) '$.slsprcref',
        slsprcvar decimal(13,3) '$.slsprcvar',
        slsprcminval decimal(9,3) '$.slsprcminval',
        slsprcmaxval decimal(9,3) '$.slsprcmaxval',
        slsprcminrng decimal(9,3) '$.slsprcminrng',
        slsprcmaxrng decimal(9,3) '$.slsprcmaxrng',
        docsts nvarchar(2) '$.docsts',
        deleted nvarchar(1) '$.deleted',
        srcobjcod001 nvarchar(200) '$.srcobjcod001',
        grldatprcsca nvarchar(MAX) '$.grldatprcsca' 
      )
    END TRY
    BEGIN CATCH
    	select @lp_errcod = ERROR_NUMBER(), @lp_errtxt = ERROR_MESSAGE()
      select @lp_errcod as errcod, @lp_errtxt as errtxt
      RETURN
    END CATCH

	END

	-- obtener clase de documento del precio de cabecera y establecer la condiciÃƒÂ³n de precio
	SELECT top 1 @lv_prccndcod=ac.prccndcod, @lv_prccndacccod=ac.PrcCndAccCod
	FROM SLS_PRC p
    inner join SYS_DOC_CLS dc on dc.BusCod=p.BusCod and dc.SysDocClsCod=p.SysDocClsCod
    inner join GRL_PRC_CND_ACC_SEQ ac on ac.BusCod=dc.BusCod and ac.PrcCndCod=dbo.getTagValue('prccndcod',dc.sysdocclsatr) and ac.PrcCndAccSeqOrd=dbo.getTagValue('prccndaccseqord',dc.sysdocclsatr)
	where p.BusCod=@lp_buscod and p.SlsPrcLstCod=@lp_slsprclstcod 

	-- obtener fecha de inicio y fin de la versiÃƒÂ³n
	IF not isnull(@lp_slsprclstvercod, 0)=0
		SELECT top 1 @lv_slsprclststrdte=REPLACE(CONVERT(nvarchar(8),SlsPrcLstStrDte, 112) + CONVERT(nvarchar(8),SlsPrcLstStrDte, 114),':',''), @lv_slsprclstenddte=REPLACE(CONVERT(nvarchar(8),SlsPrcLstEndDte, 112) + CONVERT(nvarchar(8),SlsPrcLstEndDte, 114),':','')
		FROM SLS_PRC_VER 
		WHERE BusCod=@lp_buscod
			and SlsPrcLstVerCod=@lp_slsprclstvercod



-- ------------------------------------------------------------------------ 
--   0 1    -    G R A B A R  L I S T A
--	grabado masivo de precios de una lista (@lp_slsprclst) json
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01'
	BEGIN
		SET @lv_validop = 1    

    BEGIN TRAN
      
		-- agrego precios de lista (bulk insert)
		INSERT INTO sls_prc_lst (buscod, slsprclstcod, slsprclstvercod, slsprcsrctyp, slsprcsrccod, slsprcqty, 
                             slsprcuntcod, slsprcminval, slsprcmaxval, slsprcminrng, slsprcmaxrng, slsprc, 
                             slsprcref, slsprcvar, curcod, docsts, ctedte, cteusr)
    SELECT @lp_buscod, @lp_slsprclstcod, @lp_slsprclstvercod, slsprcsrctyp, slsprcsrccod, slsprcqty, 
    			slsprcuntcod, slsprcminval, slsprcmaxval, slsprcminrng, slsprcmaxrng, slsprc, 
          slsprcref, slsprcvar, @lp_curcod, docsts, getdate(), @lp_username
    FROM #tmpSlsPrcLst
    WHERE isnull(slsprclstprccod, 0) = 0
    SET @lv_errcod=@@ERROR
    
    -- actualizo precios
    if @lv_errcod=0
    	BEGIN
    		UPDATE s
        SET slsprcsrctyp = ts.slsprcsrctyp,
          slsprcsrccod = ts.slsprcsrccod,
          slsprc = ts.slsprc,
          slsprcref = ts.slsprcref,
          slsprcqty = ts.slsprcqty,
          slsprcuntcod = ts.slsprcuntcod,
          slsprcvar = ts.slsprcvar,
          curcod = @lp_curcod,
          docsts = ts.docsts,
          updusr = @lp_username,
          upddte = getdate()
        FROM SLS_PRC_LST s
        	inner join #tmpSlsPrcLst ts on ts.slsprclstprccod = s.slsprclstprccod
        WHERE buscod = @lp_buscod
          and slsprclstcod = @lp_slsprclstcod
          and slsprclstvercod = @lp_slsprclstvercod
          and isnull(ts.deleted, '') = ''
    		SET @lv_errcod=@@ERROR
    	END
      
    -- actualizo los precios de entrada antes de actualizar el registro de precios
    if @lv_errcod=0
    	BEGIN 
        UPDATE ts 
        SET slsprclstprccod = s.slsprclstprccod
        FROM #tmpSlsPrcLst ts
          inner join SLS_PRC_LST s on slsprclstcod=@lp_slsprclstcod and slsprclstvercod=@lp_slsprclstvercod and s.slsprcsrctyp=ts.slsprcsrctyp and s.slsprcsrccod=ts.slsprcsrccod
				WHERE s.buscod = @lp_buscod
        	and isnull(ts.slsprclstprccod, 0) = 0
          
				-- actualizo registros de precios
        if not ISNULL(@lv_prccndcod,0)=0  
        	BEGIN
            UPDATE #tmpSlsPrcLst
            SET srcobjcod001 = CAST(@lp_slsprclstcod as nvarchar(10))+';'+CAST(@lp_slsprclstvercod as nvarchar(10))+';'+CAST(slsprclstprccod as nvarchar(10))

            SELECT gdp.prccndrowcod as prccndrowcod, '0' as prcschcndrow, '0' as prcschcod, @lv_prccndcod as prccndcod, 
              slsprc as prccndval, @lp_curcod as prccndcurcod, slsprcqty as prccndqty, 
              slsprcuntcod as prccnduntcod, null as prccndtot, @lp_curcod as curcod, null as prcchgman, 
              null as prccndtxt, null as prccndstd, ts.srcobjcod001 as srcobjcod001, '' as srcobjcod002, ts.deleted as deleted,
              ts.grldatprcsca as grldatprcsca
            INTO #tmpGrlDatPrc
            FROM #tmpSlsPrcLst ts
              left join GRL_DAT_PRC gdp on gdp.buscod = @lp_buscod and gdp.srcobjtyp = 'SYS_PCN' and cast(gdp.srcobjcod001 as nvarchar(200)) = cast(ts.srcobjcod001 as nvarchar(200)) and gdp.srcobjcod002 = ''
         		
            EXEC GRL_DAT_PRC_DEF @lp_sysoperation = '15_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
              @lp_srcobjtyp = 'SYS_PCN', @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT,
              @lp_PrcCndStrDte = @lv_slsprclststrdte, @lp_PrcCndEndDte = @lv_slsprclstenddte, @lp_prccndacccod = @lv_prccndacccod
         	END
      END

		-- borro precios
		IF @lv_errcod=0
			BEGIN
				DELETE s
				FROM SLS_PRC_LST s
        	inner join #tmpSlsPrcLst ts on ts.slsprclstprccod = s.slsprclstprccod
				WHERE buscod=@lp_buscod
				  and slsprclstcod=@lp_slsprclstcod
				  and slsprclstvercod=@lp_slsprclstvercod
          and not isnull(ts.deleted, '') = ''
				SET @lv_errcod=@@ERROR
			END
       
		-- actualizar listas de precio con anclaje
		if @lv_errcod=0
    	begin
        declare lc_cur_slsprclst cursor for select slsprclstprccod, slsprcsrctyp, slsprcsrccod,
              slsprcqty, slsprcuntcod, slsprc, docsts
        from #tmpSlsPrcLst
        WHERE isnull(deleted, '') = ''
        
        open lc_cur_slsprclst
        fetch next from lc_cur_slsprclst into @lp_slsprclstprccod, @lp_slsprcsrctyp, @lp_slsprcsrccod,
              @lv_slsprcqty, @lp_slsprcuntcod, @lv_slsprc, @lp_docsts
          
        declare @lv_i as INT = 0

        while @@FETCH_STATUS=0 and @lp_errcod=0 and @lv_i<10000 
        	BEGIN
          	SET @lp_slsprcqty = @lv_slsprcqty * 1000
          	SET @lp_slsprc = @lv_slsprc * 1000
            
          	EXECUTE SLS_PRC_LST_DEF @lp_sysoperation = '07_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod,
              @lp_slsprclstcod = @lp_slsprclstcod, @lp_slsprclstvercod = @lp_slsprclstvercod, @lp_slsprclstprccod = @lp_slsprclstprccod,
              @lp_slsprcsrctyp = @lp_slsprcsrctyp, @lp_slsprcsrccod = @lp_slsprcsrccod, @lp_slsprcqty = @lp_slsprcqty, 
              @lp_slsprcuntcod = @lp_slsprcuntcod, @lp_slsprc = @lp_slsprc, @lp_curcod = @lp_curcod,
              @lp_docsts = @lp_docsts, @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT
              
        		fetch next from lc_cur_slsprclst into @lp_slsprclstprccod, @lp_slsprcsrctyp, @lp_slsprcsrccod,
              @lv_slsprcqty, @lp_slsprcuntcod, @lv_slsprc, @lp_docsts

            set @lv_i = @lv_i + 1
          END

        close lc_cur_slsprclst
        deallocate lc_cur_slsprclst
    	end
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT NULL as slsprclstprccod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		set @lv_slsprcsrctxt = ' (case pl.slsprcsrctyp when '+QUOTENAME('STK_MAT','''')+' then st1.mattxt when '+QUOTENAME('EDU_MOD','''')+' then st2.edumodtxt when '+QUOTENAME('HLT_MOD','''')+' then st3.hltmodtxt when '+QUOTENAME('CNS_TSK','''')+' then st4.cnstsktxt else '+QUOTENAME('','''')+' end) '
		set @lv_srcobjatr = ' (case pl.slsprcsrctyp when '+QUOTENAME('STK_MAT','''')+' then st1.matatr when '+QUOTENAME('EDU_MOD','''')+' then st2.edumodatr when '+QUOTENAME('HLT_MOD','''')+' then st3.hltmodatr when '+QUOTENAME('CNS_TSK','''')+' then st4.cnstskatr else '+QUOTENAME('','''')+' end) '

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, + ' pl.*, '	+ @lv_slsprcsrctxt+' as slsprcsrctxt, '+@lv_srcobjatr+' as slsprcsrcatr ',
			' sls_prc p '
			+ ' inner join sls_prc_ver pv on pv.buscod=p.buscod and pv.slsprclstcod=p.slsprclstcod '
			+ ' inner join sls_prc_lst pl on pl.buscod=pv.buscod and pl.slsprclstcod=pv.slsprclstcod and pl.slsprclstvercod=pv.slsprclstvercod '
			+ ' left join stk_mat st1 on st1.buscod=pl.buscod and st1.matcod=pl.slsprcsrccod '
			+ ' left join edu_mod st2 on st2.buscod=pl.buscod and st2.edumodcod=pl.slsprcsrccod '
			+ ' left join hlt_mod st3 on st3.buscod=pl.buscod and st3.hltmodcod=pl.slsprcsrccod '
			+ ' left join cns_tsk st4 on st4.buscod=pl.buscod and st4.cnstskcod=pl.slsprcsrccod ',
    	' pl.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and p.slsprclstcod='+QUOTENAME(@lp_slsprclstcod,'''')
			+ ' and pv.slsprclstvercod='+QUOTENAME(@lp_slsprclstvercod,'''')
			+ ' and pl.slsprclstprccod='+QUOTENAME(@lp_slsprclstprccod,''''),
			' p.slsprclsttxt DESC ', default)
		
		execute( @lv_sql )

	END
  
  
  
-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' OR @lp_sysoperation = '04_sp'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '04'
			BEGIN TRAN

		-- borro registros de precios (precios espejados)
		if not ISNULL(@lv_prccndcod,0)=0
			EXECUTE GRL_DAT_PRC_DEF '04_sp', @lp_username,@lp_buscod,
					null, 'SYS_PCN', @lv_srcobjcod001,'','0','0',@lv_prccndcod,@lp_slsprc,@lp_curcod,
					@lp_slsprcqty,@lp_slsprcuntcod,null,@lp_curcod,@lp_docsts, null, null,
					@lv_errcod OUTPUT,@lv_errtxt OUTPUT,@lv_slsprclststrdte,@lv_slsprclstenddte,@lv_prccndacccod

		-- borro precio de lista de precios
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SLS_PRC_LST
				WHERE buscod=@lp_buscod
				  and slsprclstcod=@lp_slsprclstcod
				  and slsprclstvercod=@lp_slsprclstvercod
				  and slsprclstprccod=@lp_slsprclstprccod
				SET @lv_errcod=@@ERROR
			END
      
		IF @lp_sysoperation = '04'
    	BEGIN
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

				SELECT @lp_slsprclstprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			END
  	ELSE 
    	SELECT @lp_errcod = @lv_errcod, @lp_errtxt = dbo.GetErrorDescription( @lv_errcod )
	END
  
  
  
-- ------------------------------------------------------------------------ 
--   06    -    A C T U A L I Z A R    A N C L A J E    C O S T O S			
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='06' or @lp_sysoperation='06_sp'
	BEGIN
		SET @lv_validop = 1
		-- obtengo todas las listas de precio ancladas
		set @lv_sql = ' declare lc_price_06 cursor for '
			+ ' select p.slsprclstatr, p.curcod, pv.slsprclstcod, pv.slsprclstvercod, pv.slsprclstancvar, pv.slsprclstanctyp '
			+ ' from sls_prc p '
			+ ' inner join sls_prc_ver pv on pv.buscod=p.buscod and pv.slsprclstcod=p.SlsPrcLstCod '
			+ ' where p.buscod='+QUOTENAME(@lp_buscod, '''')
			  + ' and p.docsts='+QUOTENAME('A', '''')
			  + ' and getdate() between pv.slsprclststrdte and pv.slsprclstenddte '
			  + ' and pv.slsprclstancsrc=1	'-- origen: 1-costo/2-precio 
        + (case when dbo.GetTagValue('vewflt',@lp_vewcfg)='' then  'and pv.slsprclstancupd=2' else  'and pv.slsprclstancupd=1' end)-- actualizacion: 1-manual/2-automatico 
 			  + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			  + ' open lc_price_06 '
		execute( @lv_sql )
		
		fetch next from lc_price_06 into @lv_slsprclstatr, @lv_curcod, @lv_slsprclstcod, @lv_slsprclstvercod, @lv_slsprclstancvar,@lv_slsprclstanctyp
		while @@FETCH_STATUS=0 and @lv_errcod=0
			begin
				-- para la lista de precios con anclaje, obtengo el ID de registro de precios del material
				set @lv_slsprclstprccod = (select top 1 slsprclstprccod from sls_prc_lst where buscod=@lp_buscod and slsprclstcod=@lv_slsprclstcod and slsprclstvercod=@lv_slsprclstvercod and slsprcsrctyp=@lp_slsprcsrctyp and slsprcsrccod=@lp_slsprcsrccod)				

				-- origen: 1-limitada/2-total con desvios
				-- si es limitada y no existe el material en la lista de precios, no se actualiza, ya que se debe agregar a mano
				if isnull(@lv_slsprclstprccod,0)=0 and (dbo.GetTagValue('slsprclsttyp',@lv_slsprclstatr)='1' or @lv_slsprclstanctyp=1)
					set @lv_update = 0
				else
					set @lv_update = 1
				
				-- obtengo variacion individual del material, cantidad de precio y unidad de medida
				select top 1 @lv_slsprcvar=slsprcvar, @lv_slsprcqtydst=SlsPrcQty, @lv_slsprcuntcoddst=slsprcuntcod from sls_prc_lst where buscod=@lp_buscod and slsprclstcod=@lv_slsprclstcod and slsprclstvercod=@lv_slsprclstvercod and slsprcsrctyp=@lp_slsprcsrctyp and slsprcsrccod=@lp_slsprcsrccod
				
				-- si existe variacion individual reemplazo la variaciÃƒÂ³n global de lista de precios
				if not isnull(@lv_slsprcvar,0)=0
					set @lv_slsprclstancvar = @lv_slsprcvar
				
				-- si se actualiza precio
				if @lv_update=1
					begin

						-- obtener clase de documento del precio de cabecera y establecer la condiciÃƒÂ³n de precio
						SELECT top 1 @lv_prccndcod=ac.prccndcod, @lv_prccndacccod=ac.PrcCndAccCod
						FROM SLS_PRC p
						inner join SYS_DOC_CLS dc on dc.BusCod=p.BusCod and dc.SysDocClsCod=p.SysDocClsCod
						inner join GRL_PRC_CND_ACC_SEQ ac on ac.BusCod=dc.BusCod and ac.PrcCndCod=dbo.getTagValue('prccndcod',dc.sysdocclsatr) and ac.PrcCndAccSeqOrd=dbo.getTagValue('prccndaccseqord',dc.sysdocclsatr)
						where p.BusCod=@lp_buscod and p.SlsPrcLstCod=@lv_slsprclstcod 

						-- determino nuevo precio agregando variacion
						set @lv_newprc = round(isnull(@lv_slsprc,0) * (1+(isnull(@lv_slsprclstancvar,0)/100)) , 2 )

						set @lp_excrteclscod = (select top 1 excrteclscod from fin_exc_rte_cls where buscod=@lp_buscod and excrteclscodext='VTA')
						-- convierto precio basado en cotizacion vendedora
						set @lv_newprc = dbo.ConvertCurrency( @lp_buscod, getdate(), @lp_excrteclscod, @lv_newprc, @lp_curcod, @lv_curcod)

						if not @lv_newprc is null
							begin
								-- actualizo los que existan
								if not isnull(@lv_slsprclstprccod,0)=0
									begin
										-- si es material, convierto precio segÃƒÂºn las unidades de medida
										-- (por si modificaron esto en el material)
										if @lp_slsprcsrctyp='STK_MAT'
											BEGIN
												if isnull(dbo.ConvertMaterialUnit(@lp_buscod, @lp_slsprcsrccod, @lv_slsprcqty, @lp_slsprcuntcod, @lv_slsprcuntcoddst),0)=0
													set @lv_newprc = 0
												else
													set @lv_newprc = @lv_slsprcqtydst * 
																	@lv_newprc /
																	dbo.ConvertMaterialUnit(@lp_buscod, @lp_slsprcsrccod, @lv_slsprcqty, @lp_slsprcuntcod, @lv_slsprcuntcoddst)
												
												-- actualizo origen 
												update sls_prc_lst
												set SlsPrcRef = @lv_slsprc,
													--docsts	= @lp_docsts,
													upddte	= getdate(),
													updusr	= @lp_username
												where buscod=@lp_buscod
												  and slsprclstcod=@lv_slsprclstcod
												  and slsprclstvercod=@lv_slsprclstvercod
												  and slsprcsrctyp=@lp_slsprcsrctyp
												  and slsprcsrccod=@lp_slsprcsrccod
												set @lv_errcod=@@ERROR
											END
										
										if @lv_errcod = 0
											begin
												update sls_prc_lst
												set slsprc	= @lv_newprc,
                        		slsprcref = @lv_slsprc,
													--docsts	= @lp_docsts,
													upddte	= getdate(),
													updusr	= @lp_username
												where buscod=@lp_buscod
												  and slsprclstcod=@lv_slsprclstcod
												  and slsprclstvercod=@lv_slsprclstvercod
												  and slsprcsrctyp=@lp_slsprcsrctyp
												  and slsprcsrccod=@lp_slsprcsrccod
												set @lv_errcod=@@ERROR
											end

										if @lv_errcod = 0
											begin
												set @lv_srcobjcod001 = CAST(@lv_slsprclstcod as nvarchar(10))+';'+CAST(@lv_slsprclstvercod as nvarchar(10))+';'+CAST(@lv_slsprclstprccod as nvarchar(10))

												if not ISNULL(@lv_prccndcod,0)=0
													EXECUTE GRL_DAT_PRC_DEF '02_sp', @lp_username,@lp_buscod,
														null, 'SYS_PCN', @lv_srcobjcod001,'','0','0',@lv_prccndcod,@lp_slsprc,@lp_curcod,
														@lp_slsprcqty,@lp_slsprcuntcod,null,@lp_curcod,@lp_docsts, null, null,
														@lv_errcod OUTPUT,@lv_errtxt OUTPUT,@lv_slsprclststrdte,@lv_slsprclstenddte,@lv_prccndacccod
											end

									end
								-- agrego los que faltan 
								else
									begin
										insert into sls_prc_lst (buscod, slsprclstcod, slsprclstvercod, slsprcsrctyp, slsprcsrccod, slsprcqty, slsprcuntcod, slsprc, SlsPrcRef, SlsPrcVar, curcod, docsts, ctedte, cteusr)
										select @lp_buscod, @lv_slsprclstcod, @lv_slsprclstvercod, @lp_slsprcsrctyp, @lp_slsprcsrccod, @lv_slsprcqty, @lp_slsprcuntcod, @lv_newprc, @lv_slsprc,@lv_slsprclstancvar, @lv_curcod, @lp_docsts, getdate(), @lp_username
										set @lp_slsprclstprccod=@@IDENTITY
										set @lv_errcod=@@ERROR

										if @lv_errcod = 0
											begin
												set @lv_srcobjcod001 = CAST(@lv_slsprclstcod as nvarchar(10))+';'+CAST(@lv_slsprclstvercod as nvarchar(10))+';'+CAST(@lp_slsprclstprccod as nvarchar(10))

												if not ISNULL(@lv_prccndcod,0)=0
													EXECUTE GRL_DAT_PRC_DEF '01_sp', @lp_username,@lp_buscod,
														null, 'SYS_PCN', @lv_srcobjcod001,'','0','0',@lv_prccndcod,@lp_slsprc,@lp_curcod,
														@lp_slsprcqty,@lp_slsprcuntcod,null,@lp_curcod,@lp_docsts, null, null,
														@lv_errcod OUTPUT,@lv_errtxt OUTPUT,@lv_slsprclststrdte,@lv_slsprclstenddte,@lv_prccndacccod
											end
									end
							end
					end

				-- ESTADOS. actualiza estados de listas de precio
				if @lv_errcod=0
					begin
						update SLS_PRC_LST 
						SET DocSts = @lp_docsts
						WHERE buscod=@lp_buscod
						  and SlsPrcSrcTyp=@lp_slsprcsrctyp
						  and SlsPrcSrcCod=@lp_slsprcsrccod
						SET @lv_errcod=@@ERROR
					end

				-- ANCLAJE. actualizar listas de precio con anclaje
				if @lv_errcod=0
					begin
						set @lp_slsprc = @lv_newprc*1000
						set @lp_slsprcqty = @lv_slsprcqty * 1000
            
          	EXECUTE SLS_PRC_LST_DEF @lp_sysoperation = '07_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod,
              @lp_slsprclstcod = @lv_slsprclstcod, @lp_slsprclstvercod = @lv_slsprclstvercod, @lp_slsprclstprccod = @lp_slsprclstprccod,
              @lp_slsprcsrctyp = @lp_slsprcsrctyp, @lp_slsprcsrccod = @lp_slsprcsrccod, @lp_slsprcqty = @lp_slsprcqty, 
              @lp_slsprcuntcod = @lp_slsprcuntcod, @lp_slsprc = @lp_slsprc, @lp_curcod = @lp_curcod,
              @lp_docsts = @lp_docsts, @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT
					end
				
				fetch next from lc_price_06 into @lv_slsprclstatr, @lv_curcod, @lv_slsprclstcod, @lv_slsprclstvercod, @lv_slsprclstancvar,@lv_slsprclstanctyp
			end
		close lc_price_06
		deallocate lc_price_06

		set @lp_errcod=@lv_errcod
		IF not @lp_errcod=0
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
			
	END
	


-- ------------------------------------------------------------------------ 
--   07    -    A C T U A L I Z A R    A N C L A J E    P R E C I O S		
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='07_sp'
	BEGIN
		SET @lv_validop = 1

		-- obtengo todas las listas de precio ancladas
    set @lv_sql = ' declare lc_price_07 cursor for '
			+ ' select p.slsprclstatr, p.curcod, pv.slsprclstcod, pv.slsprclstvercod, pv.slsprclstancvar, pv.slsprclstanctyp '
			+ ' from sls_prc p '
			+ ' inner join sls_prc_ver pv on pv.buscod=p.buscod and pv.slsprclstcod=p.SlsPrcLstCod '
			+ ' where p.buscod='+QUOTENAME(@lp_buscod, '''')
			  + ' and p.docsts='+QUOTENAME('A', '''')
			  + ' and getdate() between pv.slsprclststrdte and pv.slsprclstenddte '
			  + ' and pv.slsprclstancsrc=2	'-- origen: 1-costo/2-precio 
        + (case when dbo.GetTagValue('vewflt',@lp_vewcfg)='' then  'and pv.slsprclstancupd=2' else  'and pv.slsprclstancupd=1' end)-- actualizacion: 1-manual/2-automatico 
 			  + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			  + ' open lc_price_07 '
		execute( @lv_sql )
		fetch next from lc_price_07 into @lv_slsprclstatr, @lv_curcod, @lv_slsprclstcod, @lv_slsprclstvercod, @lv_slsprclstancvar,@lv_slsprclstanctyp
		while @@FETCH_STATUS=0 and @lv_errcod=0
			begin
				-- para la lista de precios con anclaje, obtengo el ID de registro de precios del material
				set @lv_slsprclstprccod = (select top 1 slsprclstprccod from sls_prc_lst where buscod=@lp_buscod and slsprclstcod=@lv_slsprclstcod and slsprclstvercod=@lv_slsprclstvercod and slsprcsrctyp=@lp_slsprcsrctyp and slsprcsrccod=@lp_slsprcsrccod)

				-- origen: 1-limitada/2-total con desvios
				-- si es limitada y no existe el material en la lista de precios, no se actualiza, ya que se debe agregar a mano
				if isnull(@lv_slsprclstprccod,0)=0 and (dbo.GetTagValue('slsprclsttyp',@lv_slsprclstatr)='1' or @lv_slsprclstanctyp=1) 
					set @lv_update = 0
				else
					set @lv_update = 1

				-- obtengo variacion individual del material, cantidad de precio y unidad de medida
				select top 1 @lv_slsprcvar=slsprcvar, @lv_slsprcqtydst=SlsPrcQty, @lv_slsprcuntcoddst=slsprcuntcod from sls_prc_lst where buscod=@lp_buscod and slsprclstcod=@lv_slsprclstcod and slsprclstvercod=@lv_slsprclstvercod and slsprcsrctyp=@lp_slsprcsrctyp and slsprcsrccod=@lp_slsprcsrccod
				
				-- si existe variacion individual reemplazo la variaciÃƒÂ³n global de lista de precios
				if not isnull(@lv_slsprcvar,0)=0
					set @lv_slsprclstancvar = @lv_slsprcvar

				-- si se actualiza precio
				if @lv_update=1
					begin

						-- obtener clase de documento del precio de cabecera y establecer la condiciÃƒÂ³n de precio
						SELECT top 1 @lv_prccndcod=ac.prccndcod, @lv_prccndacccod=ac.PrcCndAccCod
						FROM SLS_PRC p
						inner join SYS_DOC_CLS dc on dc.BusCod=p.BusCod and dc.SysDocClsCod=p.SysDocClsCod
						inner join GRL_PRC_CND_ACC_SEQ ac on ac.BusCod=dc.BusCod and ac.PrcCndCod=dbo.getTagValue('prccndcod',dc.sysdocclsatr) and ac.PrcCndAccSeqOrd=dbo.getTagValue('prccndaccseqord',dc.sysdocclsatr)
						where p.BusCod=@lp_buscod and p.SlsPrcLstCod=@lv_slsprclstcod 

						-- determino nuevo precio agregando variaciÃƒÂ³n
						set @lv_newprc = round(@lv_slsprc + (@lv_slsprc * @lv_slsprclstancvar / 100) , 2 )
						
           	set @lp_excrteclscod = (select top 1 excrteclscod from fin_exc_rte_cls where buscod=@lp_buscod and excrteclscodext='VTA')
						-- convierto precio basado en cotizacion vendedora
						set @lv_newprc = dbo.ConvertCurrency( @lp_buscod, getdate(), @lp_excrteclscod, @lv_newprc, @lp_curcod, @lv_curcod)

						if not @lv_newprc is null
							begin
								-- actualizo los que existan
								if not isnull(@lv_slsprclstprccod,0)=0
									begin

										-- si es material, convierto precio segÃƒÂºn las unidades de medida
										-- (por si modificaron esto en el material)
										if @lp_slsprcsrctyp='STK_MAT'
											if isnull(dbo.ConvertMaterialUnit(@lp_buscod, @lp_slsprcsrccod, @lv_slsprcqty, @lp_slsprcuntcod, @lv_slsprcuntcoddst),0)=0
												set @lv_newprc = 0
											else 
												set @lv_newprc = @lv_slsprcqtydst * 
																@lv_newprc /
																dbo.ConvertMaterialUnit(@lp_buscod, @lp_slsprcsrccod, @lv_slsprcqty, @lp_slsprcuntcod, @lv_slsprcuntcoddst)
								
										update sls_prc_lst
										set slsprc	= @lv_newprc,
                    		slsprcref	= @lv_slsprc,
											upddte	= getdate(),
											updusr	= @lp_username
										where buscod=@lp_buscod
										  and slsprclstcod=@lv_slsprclstcod
										  and slsprclstvercod=@lv_slsprclstvercod
										  and slsprcsrctyp=@lp_slsprcsrctyp
										  and slsprcsrccod=@lp_slsprcsrccod
										set @lv_errcod=@@ERROR

										if @lv_errcod = 0
											begin
												set @lv_srcobjcod001 = CAST(@lv_slsprclstcod as nvarchar(10))+';'+CAST(@lv_slsprclstvercod as nvarchar(10))+';'+CAST(@lv_slsprclstprccod as nvarchar(10))

												if not ISNULL(@lv_prccndcod,0)=0
													EXECUTE GRL_DAT_PRC_DEF '02_sp', @lp_username,@lp_buscod,
														null, 'SYS_PCN', @lv_srcobjcod001,'','0','0',@lv_prccndcod,@lp_slsprc,@lp_curcod,
														@lp_slsprcqty,@lp_slsprcuntcod,null,@lp_curcod,@lp_docsts, null, null,
														@lv_errcod OUTPUT,@lv_errtxt OUTPUT,@lv_slsprclststrdte,@lv_slsprclstenddte,@lv_prccndacccod
											end
									end
								-- agrego los que faltan 
								else
									begin
										insert into sls_prc_lst (buscod, slsprclstcod, slsprclstvercod, slsprcsrctyp, slsprcsrccod, slsprcqty, slsprcuntcod, slsprc, curcod, docsts, ctedte, cteusr)
										select @lp_buscod, @lv_slsprclstcod, @lv_slsprclstvercod, @lp_slsprcsrctyp, @lp_slsprcsrccod, @lv_slsprcqty, @lp_slsprcuntcod, @lv_newprc, @lv_curcod, @lp_docsts, getdate(), @lp_username
										set @lp_slsprclstprccod=@@IDENTITY
										set @lv_errcod=@@ERROR

										if @lv_errcod = 0
											begin
												set @lv_srcobjcod001 = CAST(@lv_slsprclstcod as nvarchar(10))+';'+CAST(@lv_slsprclstvercod as nvarchar(10))+';'+CAST(@lp_slsprclstprccod as nvarchar(10))

												if not ISNULL(@lv_prccndcod,0)=0
													EXECUTE GRL_DAT_PRC_DEF '01_sp', @lp_username,@lp_buscod,
														null, 'SYS_PCN', @lv_srcobjcod001,'','0','0',@lv_prccndcod,@lp_slsprc,@lp_curcod,
														@lp_slsprcqty,@lp_slsprcuntcod,null,@lp_curcod,@lp_docsts, null, null,
														@lv_errcod OUTPUT,@lv_errtxt OUTPUT,@lv_slsprclststrdte,@lv_slsprclstenddte,@lv_prccndacccod
											end
									end
							end
					end
					

				-- ESTADOS. actualiza estados de listas de precio
				if @lv_errcod=0
					begin
						update SLS_PRC_LST 
						SET DocSts = @lp_docsts
						WHERE buscod=@lp_buscod
						  and SlsPrcSrcTyp=@lp_slsprcsrctyp
						  and SlsPrcSrcCod=@lp_slsprcsrccod
						SET @lv_errcod=@@ERROR
					end

				fetch next from lc_price_07 into @lv_slsprclstatr, @lv_curcod, @lv_slsprclstcod, @lv_slsprclstvercod, @lv_slsprclstancvar,@lv_slsprclstanctyp
			end
		close lc_price_07
		deallocate lc_price_07

		set @lp_errcod=@lv_errcod
		IF not @lp_errcod=0
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
	END


	
-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1    

		-- sls_prc_lst_def '08','temasis','temasis_log'

		set @lv_slsprcsrctxt = ' (case pl.slsprcsrctyp when '+QUOTENAME('STK_MAT','''')+' then st1.mattxt when '+QUOTENAME('EDU_MOD','''')+' then st2.edumodtxt when '+QUOTENAME('HLT_MOD','''')+' then st3.hltmodtxt when '+QUOTENAME('CNS_TSK','''')+' then st4.cnstsktxt else '+QUOTENAME('','''')+' end) '
		set @lv_srcobjatr = ' (case pl.slsprcsrctyp when '+QUOTENAME('STK_MAT','''')+' then st1.matatr when '+QUOTENAME('EDU_MOD','''')+' then st2.edumodatr when '+QUOTENAME('HLT_MOD','''')+' then st3.hltmodatr when '+QUOTENAME('CNS_TSK','''')+' then st4.cnstskatr else '+QUOTENAME('','''')+' end) '
		declare @lv_srcobjsts as nvarchar(400) = ' (case pl.slsprcsrctyp when '+QUOTENAME('STK_MAT','''')+' then st1.docsts when '+QUOTENAME('EDU_MOD','''')+' then st2.docsts when '+QUOTENAME('HLT_MOD','''')+' then st3.docsts when '+QUOTENAME('CNS_TSK','''')+' then st4.docsts else '+QUOTENAME('','''')+' end) '
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg,
			' pl.*, '	+ @lv_slsprcsrctxt+' as slsprcsrctxt, '+@lv_srcobjatr+' as slsprcsrcatr, p.SlsPrcLstTxt, st1.DocSts, st1.MatCod, st1.MatTxt, '
			+ ' st1.sysdocclscod, mh.mathietxt, mc.matclstxt, dcm.sysdocclstxt as matsysdocclstxt, p.docsts as slsprcdocsts, '+@lv_srcobjsts+' as srcobjsts, pv.slsprclststrdte, pv.slsprclstenddte',
			' sls_prc p '
			+ ' inner join sls_prc_ver pv on pv.buscod=p.buscod and pv.slsprclstcod=p.slsprclstcod '
			+ ' inner join sls_prc_lst pl on pl.buscod=pv.buscod and pl.slsprclstcod=pv.slsprclstcod and pl.slsprclstvercod=pv.slsprclstvercod '
			+ ' left join stk_mat st1 on st1.buscod=pl.buscod and st1.matcod=pl.slsprcsrccod and pl.slsprcsrctyp = '+QUOTENAME('STK_MAT','''')
			+ ' left join stk_mat_cls mc on mc.buscod=st1.buscod and mc.matclscod=st1.matclscod '
			+ ' left join stk_mat_hie mh on mh.buscod=st1.buscod and mh.mathiecod=st1.mathiecod '
			+ ' left join edu_mod st2 on st2.buscod=pl.buscod and st2.edumodcod=pl.slsprcsrccod and pl.slsprcsrctyp = '+QUOTENAME('EDU_MOD','''')
			+ ' left join hlt_mod st3 on st3.buscod=pl.buscod and st3.hltmodcod=pl.slsprcsrccod and pl.slsprcsrctyp = '+QUOTENAME('HLT_MOD','''')
			+ ' left join cns_tsk st4 on st4.buscod=pl.buscod and st4.cnstskcod=pl.slsprcsrccod and pl.slsprcsrctyp = '+QUOTENAME('CNS_TSK','''')
			+ ' inner join sys_doc_cls dc ON dc.BusCod=p.BusCod and dc.SysDocClsCod=p.SysDocClsCod '
			+ ' left join sys_doc_cls dcm ON dcm.BusCod=st1.BusCod and dcm.SysDocClsCod=st1.SysDocClsCod ',
			' pl.buscod='+QUOTENAME(@lp_buscod, ''''), 'p.slsprclstcod, st1.mattxt', 'slsprcdocsts;docsts'+char(10)+'slsprcsrctxt;'+@lv_slsprcsrctxt+char(10)+'srcobjsts;'+@lv_srcobjsts )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 4    -    B O R R A R  L I S T A
--				borrado masivo de precios de una lista
-- ------------------------------------------------------------------------
IF @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
    
		SET @lp_errcod=0
		
		
		declare lc_price_0114 cursor for
			select slsprclstprccod, slsprcsrctyp, slsprcsrccod, SlsPrcQty, SlsPrcUntCod, SlsPrc, slsprcvar
			from SLS_PRC_LST 
			where buscod=@lp_buscod 
			  and slsprclstcod=@lp_slsprclstcod
			 	and slsprclstvercod=@lp_slsprclstvercod
		open lc_price_0114
		fetch next from lc_price_0114 into @lv_slsprclstprccod, @lv_slsprcsrctyp, @lv_slsprcsrccod, @lv_slsprcqty, @lv_slsprcuntcod, @lv_slsprc, @lv_slsprcvar
		while @@FETCH_STATUS=0 and @lv_errcod=0
				BEGIN
				--borra el precio
        EXECUTE SLS_PRC_LST_DEF '04_sp',@lp_username,@lp_buscod,
					@lp_slsprclstcod,@lp_slsprclstvercod,@lv_slsprclstprccod,
					@lv_slsprcsrctyp,@lv_slsprcsrccod,
					@lv_slsprcqty,@lv_slsprcuntcod,null,null,null,null,@lv_slsprc,null,@lv_slsprcvar,@lp_curcod,
					@lp_docsts,@lp_vewcfg,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT

				fetch next from lc_price_0114 into @lv_slsprclstprccod, @lv_slsprcsrctyp, @lv_slsprcsrccod, @lv_slsprcqty, @lv_slsprcuntcod, @lv_slsprc, @lv_slsprcvar
			end
		close lc_price_0114
		deallocate lc_price_0114
            
		IF @lp_errcod=0
    		COMMIT TRAN
		ELSE
    		ROLLBACK TRAN
	
  	select @lp_slsprclstcod, @lv_errcod as errcod, @lv_errtxt as errtxt


	END


-- ------------------------------------------------------------------------ 
--   1 6    -    A C T U A L I Z A R    C O S T O S							
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='16'
	BEGIN
		SET @lv_validop = 1

    begin tran
	
  	
		declare @lv_slsprccurcod as nvarchar(5), @lv_docsts as nvarchar(2)

		declare lc_price_0116 cursor for
			select 'STK_MAT', mc.matcod, mc.matcstqty, mc.matcstuntcod, mc.matcst, mc.matcstcurcod, mc.docsts
			from STK_MAT_CST mc
			inner join stk_mat m on m.buscod=mc.BusCod and m.matcod=mc.matcod
			where mc.buscod=@lp_buscod 
			  and isnull(mc.matcstqty,0)>0
			  and not isnull(mc.matcstuntcod,'')=''
			  and isnull(mc.MatCst,0)>0
			  and not isnull(mc.matcstcurcod,'')=''
		open lc_price_0116
		fetch next from lc_price_0116 into @lv_slsprcsrctyp, @lv_slsprcsrccod, @lv_slsprcqty, @lv_slsprcuntcod, @lv_slsprc, @lv_slsprccurcod, @lv_docsts
		while @@FETCH_STATUS=0 and @lv_errcod=0
			begin
				set @lp_slsprcqty = @lv_slsprcqty * 1000
				set @lp_slsprc = @lv_slsprc * 1000
				set @lp_slsprcvar = @lv_slsprcvar * 1000

				EXECUTE SLS_PRC_LST_DEF '06_sp',@lp_username,@lp_buscod,
					@lp_slsprclstcod,null,null,
					@lv_slsprcsrctyp, @lv_slsprcsrccod,
					@lp_slsprcqty,@lv_slsprcuntcod,null,null,null,null,@lp_slsprc,null,null,@lv_slsprccurcod,
					@lv_docsts,@lp_vewcfg,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT
				fetch next from lc_price_0116 into @lv_slsprcsrctyp, @lv_slsprcsrccod, @lv_slsprcqty, @lv_slsprcuntcod, @lv_slsprc, @lv_slsprccurcod, @lv_docsts
			end
		close lc_price_0116
		deallocate lc_price_0116

    if @lv_errcod=0
      commit tran
    else
      rollback tran

    select @lp_slsprclstcod, @lp_errcod as errcod, @lp_errtxt as errtxt
	END



-- ------------------------------------------------------------------------ 
--   1 7    -    A C T U A L I Z A R    P R E C I O S						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='17'
	BEGIN
		SET @lv_validop = 1
		
    begin tran

		declare @lv_slsprclstancprccod as int
		-- obtengo informaciÃ³n de la lista de precios a actualizar
		select top 1 @lp_curcod=p.curcod, @lp_docsts=p.docsts, @lv_slsprclstvercod=pv.slsprclstvercod,@lv_slsprclstancprccod=pv.slsprclstancprccod
		from sls_prc p
		inner join sls_prc_ver pv on pv.buscod=p.buscod and pv.slsprclstcod=p.slsprclstcod
		where p.buscod=@lp_buscod
		  and p.slsprclstcod=@lp_slsprclstcod
		  and getdate() between pv.slsprclststrdte and pv.slsprclstenddte
      declare @lv_slsprclstancprcvercod as int
    set @lv_slsprclstancprcvercod =(select top 1 slsprclstvercod from sls_prc_ver 
                                    where  buscod=@lp_buscod and slsprclstcod=@lv_slsprclstancprccod
		  															and getdate() between slsprclststrdte and slsprclstenddte
                                   )
                                   
		declare lc_price_0117 cursor for
			select slsprclstprccod, slsprcsrctyp, slsprcsrccod, SlsPrcQty, SlsPrcUntCod, SlsPrc, slsprcvar
			from SLS_PRC_LST 
			where buscod=@lp_buscod 
			  and slsprclstcod=@lv_slsprclstancprccod
			 	and slsprclstvercod=@lv_slsprclstancprcvercod
		open lc_price_0117
		fetch next from lc_price_0117 into @lv_slsprclstprccod, @lv_slsprcsrctyp, @lv_slsprcsrccod, @lv_slsprcqty, @lv_slsprcuntcod, @lv_slsprc, @lv_slsprcvar
		while @@FETCH_STATUS=0 and @lv_errcod=0
			begin
				set @lv_slsprcqty = @lv_slsprcqty * 1000
				set @lv_slsprc = @lv_slsprc * 1000
				set @lv_slsprcvar = @lv_slsprcvar * 1000


        EXECUTE SLS_PRC_LST_DEF @lp_sysoperation = '07_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod,
          @lp_slsprclstcod = @lp_slsprclstcod, @lp_slsprclstvercod = @lv_slsprclstvercod, @lp_slsprclstprccod = @lv_slsprclstprccod,
          @lp_slsprcsrctyp = @lv_slsprcsrctyp, @lp_slsprcsrccod = @lv_slsprcsrccod, @lp_slsprcqty = @lv_slsprcqty, 
          @lp_slsprcuntcod = @lv_slsprcuntcod, @lp_slsprc = @lv_slsprc, @lp_curcod = @lp_curcod,
          @lp_docsts = @lp_docsts, @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT
              
				fetch next from lc_price_0117 into @lv_slsprclstprccod, @lv_slsprcsrctyp, @lv_slsprcsrccod, @lv_slsprcqty, @lv_slsprcuntcod, @lv_slsprc, @lv_slsprcvar
			end
		close lc_price_0117
		deallocate lc_price_0117

    if @lv_errcod=0
      commit tran
    else
      rollback tran

    select @lp_slsprclstcod, @lv_errcod as errcod, @lv_errtxt as errtxt
      
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion no es valido', 16, -1, @lp_sysoperation)
	END
GO
