USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_MOV_DOC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TSR_MOV_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		-- empresa

@lp_tsrmovdoccod	as int			= null,		-- id
@lp_tsrmovdoccodext	as nvarchar(20)	= null,		-- codigo
@lp_tsrmovdoctxt	as nvarchar(50) = null, 	-- descripcion
@lp_tsrmovdocdte	as nvarchar(14) = null, 	-- Fecha
@lp_srcobjtyp		as nvarchar(20)	= null,		-- origen - tipo
@lp_srcobjcod		as int			= null,		-- origen - id
@lp_cshcod			as int			= null,		-- id caja
@lp_tsrmovdoctotamt	as bigint		= null, 	-- importe total
@lp_curcod			as nvarchar(05)	= null,		-- moneda
@lp_curexcrte		as bigint		= null,		-- tipo de cambio
@lp_docsts			as nvarchar(02)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null,		-- configuraciÃ³n ede la vista

@lp_sysdocclscod	as int			= null,		-- id clase de documento
@lp_sysdoctrecod	as nvarchar(02)	= null,		-- status tratamiento
@lp_tsrmovtypcod	as int			= null,		-- id concepto
@lp_bnkacccod		as int			= null		-- id cuenta

AS
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errtyp nvarchar(20) = ''
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt as nvarchar(400) = ''
declare @lv_sql as nvarchar(max)
declare @lv_objtyp as nvarchar(20)

declare @lv_tsrmovdocdte as datetime = dbo.ConvertDate( @lp_tsrmovdocdte )
declare @lv_tsrmovdoctotamt as decimal(13,3) = dbo.ConvertNumber( @lp_tsrmovdoctotamt , 3 )
declare @lv_curexcrte as decimal(13,5) = dbo.ConvertNumber( @lp_curexcrte , 5 )
declare @lv_tsrdocclstyp as nvarchar(1)
declare @lv_finsumcod as int
declare @lv_finsumdoccod as int
declare @lv_tsrmovdoccmpcod as int



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
    DECLARE @lv_autmdlcod as nvarchar(3) = 'TSR'
    DECLARE @lv_autprgcod as nvarchar(3) = 'MOV'
    
  	if @lp_sysoperation='01' -- x clase de documento
    	set @lv_objtyp = (select top 1 objtyp from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
    if @lp_sysoperation='02' or @lp_sysoperation='03' or @lp_sysoperation='04' or @lp_sysoperation='09' -- x documento
    	set @lv_objtyp = (select top 1 dc.objtyp from tsr_mov_doc d inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod where dc.buscod=@lp_buscod and d.tsrmovdoccod=@lp_tsrmovdoccod)
  	if @lp_sysoperation='08'
    	begin
        if charindex( 'dc.objtyp='+QUOTENAME('TSR_TIN',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'TSR_TIN'
        if charindex( 'dc.objtyp='+QUOTENAME('TSR_TOU',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'TSR_TOU'
        if charindex( 'dc.objtyp='+QUOTENAME('TSR_TID',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'TSR_TID'
        if charindex( 'dc.objtyp='+QUOTENAME('TSR_TIC',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'TSR_TIC'
  		end
    set @lv_autprgcod = (select substring(@lv_objtyp, 5, 3))
  
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ---------------------------------------------------------------------------------------------
--   E R R O R E S																				
-- ---------------------------------------------------------------------------------------------
--	-1	Debe ingresar al menos un registro en el detalle.										
--	-3	No se puede realizar una apertura de caja. No se ha realizado el cierre anterior.		
--	-4	No se puede realizar un cierre de caja. No se ha realizado la apertura de caja.			
--	-5	No se puede realizar un movimiento. No se ha realizado la apertura de caja.				
--	-6	No se puede realizar la transferencia. Caja de Origen/Desitno no se encuentra abierta	
--	-7	Saldo de caja insuficiente.																
--	-9	No se puede actualizar el documento. Ya se encuentra contabilizado.						
-- ---------------------------------------------------------------------------------------------



-- -------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- -------------------------------------------------------------------------
IF @lp_sysoperation in ('02','04', '12', '14')  
	IF exists(select top 1 * from TSR_MOV_DOC where buscod=@lp_buscod and TsrMovDocCod=@lp_tsrmovdoccod and DocSts='C')
		BEGIN
			SELECT null, -9 as errcod, 'No se puede actualizar el documento. Ya se encuentra contabilizado.' as errtxt
			RETURN
		END
			


-- -------------------------------------------------------------------------
--   0 1    -    C R E A R
-- -------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		INSERT INTO TSR_MOV_DOC
			(buscod, tsrmovdoccodext, TsrMovDocTxt, TsrMovDocDte, SrcObjTyp, SrcObjCod, TsrMovDocTotamt, CshCod, CurCod,
			curexcrte, sysdocclscod, sysdoctrecod, tsrmovtypcod, bnkacccod, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_tsrmovdoccodext, @lp_tsrmovdoctxt, @lv_tsrmovdocdte, @lp_srcobjtyp, @lp_srcobjcod, @lv_tsrmovdoctotamt, @lp_cshcod, @lp_curcod, 
			@lv_curexcrte, @lp_sysdocclscod, @lp_sysdoctrecod, @lp_tsrmovtypcod, @lp_bnkacccod,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		Set @lp_tsrmovdoccod= @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END		



-- -------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- -------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		UPDATE TSR_MOV_DOC
		SET tsrmovdoccodext = @lp_tsrmovdoccodext,
			TsrMovDocTxt = @lp_tsrmovdoctxt,
			TsrMovDocDte = @lv_tsrmovdocdte,
			TsrMovDocTotamt = @lv_tsrmovdoctotamt,
			CshCod = @lp_cshcod,
			CurCod = @lp_curcod,
			SrcObjTyp = @lp_srcobjtyp,
			SrcObjCod = @lp_srcobjcod,
			curExcRte = @lp_curexcrte,
			sysdoctrecod = @lp_sysdoctrecod,
			tsrmovtypcod = @lp_tsrmovtypcod, 
			bnkacccod = @lp_bnkacccod,
			docsts= @lp_docsts, 
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and TsrMovDocCod = @lp_tsrmovdoccod

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- -------------------------------------------------------------------------
--   0 3    -    V E R
-- -------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT m.*, dc.sysdocclstxt, tc.CshTxt, 
			a.AdrNme001 as srcobjtxt, a.adrstr, a.adrstrnum, a.adrstrflr, a.adrpstcod,
			lr.lndregtxt, 
			t.taxcod,
			dt.SysDocTreTxt, convert(varchar, m.tsrmovdocdte,103) as tsrmovdocdtecnv,
			mt.tsrmovtyptxt, tb.BnkAccTxt
		FROM TSR_MOV_DOC m 
			left join SYS_DOC_CLS dc on dc.buscod = m.buscod and dc.sysdocclscod = m.sysdocclscod 
			left join TSR_CSH tc on tc.buscod = m.buscod and tc.cshcod = m.cshcod 
			left join SYS_DOC_TRE dt on dt.buscod = m.buscod and dt.SysDocTreCod = m.sysdoctrecod
			LEFT join TSR_MOV_TYP mt on mt.BusCod=m.BusCod and mt.tsrmovtypcod=m.tsrmovtypcod 
			LEFT join GRL_DAT_ADR a on a.BusCod=m.BusCod and a.AdrSrcTyp=m.SrcObjTyp and a.AdrSrcCod=m.SrcObjCod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join grl_dat_tax t on t.buscod=m.buscod and t.taxsrctyp=m.srcobjtyp and t.taxsrccod=m.srcobjcod
			LEFT JOIN TSR_BNK_ACC tb on tb.BusCod=m.BusCod and tb.BnkAccCod=m.bnkacccod 
		WHERE m.buscod = @lp_buscod
		  and m.TsrMovDocCod = @lp_tsrmovdoccod

	END



-- -------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- -------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		-- REFERENCIAS. borro referencias entre documentos
		select @lv_objtyp=dc.objtyp from TSR_MOV_DOC td inner join SYS_DOC_CLS dc on dc.BusCod=td.BusCod and dc.SysDocClsCod=td.SysDocClsCod where td.BusCod=@lp_buscod and td.TsrMovDocCod=@lp_tsrmovdoccod
		declare lc cursor for select srcobjtyp, srcobjcod, tsrmovdoccmpcod from TSR_MOV_DOC_CMP where buscod=@lp_buscod and tsrmovdoccod=@lp_tsrmovdoccod
		open lc
		fetch next from lc into @lp_srcobjtyp, @lp_srcobjcod, @lv_tsrmovdoccmpcod
		while @@FETCH_STATUS=0 and @lv_errcod=0
			begin
				select top 1 @lv_finsumcod=finsumcod, @lv_finsumdoccod=finsumdoccod from FIN_SUM_DOC where buscod=@lp_buscod and docobjtyp in ('TSR_TIN','TSR_TOU') and docobjcod=@lp_tsrmovdoccod and impobjtyp=@lp_srcobjtyp and impobjcod=@lp_srcobjcod
        
				-- FLUJO. borro documento del flujo de documentos
				exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,0,@lv_objtyp,@lp_tsrmovdoccod,@lv_tsrmovdoccmpcod,null,null,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

				-- CUENTA CORRIENTE. borro documentos de cuenta corriente
				if @lv_errcod=0
					exec FIN_SUM_DOC_DEF '14',@lp_username,@lp_buscod,@lv_finsumcod,@lv_finsumdoccod,@lp_srcobjtyp,@lp_srcobjcod,null,null,null,null,null,null,null,null,null,null,null,null,null,null,@lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
        
        fetch next from lc into @lp_srcobjtyp, @lp_srcobjcod, @lv_tsrmovdoccmpcod
			end
		close lc
		deallocate lc
		
		-- borro cabecera
		DELETE FROM TSR_MOV_DOC
		WHERE buscod = @lp_buscod
		  and TsrMovDocCod = @lp_tsrmovdoccod
		SET @lv_errcod=@@ERROR

		-- borro valores
		if @lv_errcod=0
			BEGIN
				DELETE FROM TSR_MOV_DOC_VAL
				WHERE buscod = @lp_buscod
				  and TsrMovDocCod = @lp_tsrmovdoccod
				SET @lv_errcod=@@ERROR
			END

		-- borro comprobantes
		if @lv_errcod=0
			BEGIN
				DELETE FROM TSR_MOV_DOC_CMP
				WHERE buscod = @lp_buscod
				  and TsrMovDocCod = @lp_tsrmovdoccod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
	
	
	
-- -------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- -------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' m.*, dc.objtyp as sysdocclstyp, dc.SysDocClsTxt, tc.CshTxt, a.AdrNme001 as srcobjtxt, dt.SysDocTreTxt, '
			+ ' mt.tsrmovtyptxt, convert(varchar, m.tsrmovdocdte,103) as tsrmovdocdtecnv, tb.bnkacctxt '
			+ ' FROM TSR_MOV_DOC m '
			+ ' left join SYS_DOC_CLS dc ON dc.buscod=m.buscod and dc.SysDocClsCod = m.SysDocClsCod '
			+ ' left join TSR_CSH tc on tc.buscod=m.buscod and tc.cshcod = m.cshcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod = m.buscod and dt.SysDocTreCod = m.sysdoctrecod '
			+ ' LEFT join TSR_MOV_TYP mt on mt.BusCod=m.BusCod and mt.tsrmovtypcod=m.tsrmovtypcod '
			+ ' LEFT join GRL_DAT_ADR a on a.BusCod=m.BusCod and a.AdrSrcTyp=m.SrcObjTyp and a.AdrSrcCod=cast(m.SrcObjCod as nvarchar(20)) '
			+ ' LEFT JOIN TSR_BNK_ACC tb on tb.BusCod=m.BusCod and tb.BnkAccCod=m.bnkacccod '
			+ ' WHERE m.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'm.tsrmovdoccod DESC' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



-- -------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- -------------------------------------------------------------------------
IF @lp_sysoperation = '09' or @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1    
		
		select top 1 @lv_objtyp=dc.objtyp, @lp_srcobjtyp=srcobjtyp, @lp_srcobjcod=srcobjcod from tsr_mov_doc d inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod where d.buscod=@lp_buscod and d.tsrmovdoccod=@lp_tsrmovdoccod
		-- BALANCEO. se valida que el total de comprobantes coincida con el total de valores
		if not (select SUM(isnull(TsrMovDocCmpAmt,0)) from TSR_MOV_DOC_CMP where BusCod=@lp_buscod and TsrMovDocCod=@lp_tsrmovdoccod)
			= (select SUM(isnull(TsrMovDocValAmt,0)) from TSR_MOV_DOC_VAL where BusCod=@lp_buscod and TsrMovDocCod=@lp_tsrmovdoccod)
			begin
				select null, -1 as errcod, 'Total Comprobantes distinto de Total Valores' as errtxt
				return
			end

		-- VALIDAR. que si no tenes efectivo en caja y queres pagar con efectivo no se puede contabilizar.

		BEGIN TRAN
		
		-- CAJA. CHEQUES. agrego cheques en cartera - cobranza
		if @lv_errcod=0 and @lv_objtyp='TSR_TIN'
			begin
				insert into TSR_CSH_VAL (BusCod, CshCod, PayMthCod, CshValTot, CurCod, BnkCod, BnkAccChkNum, BnkAccChkDte, DocSts, CteDte, CteUsr)
				select d.buscod, d.cshcod, dv.PayMthCod, dv.TsrMovDocValAmt, dv.CurCod, dv.BnkCod, dv.TsrMovDocValCodExt, dv.TsrMovDocValDte, 'A', getdate(), @lp_username
				from TSR_MOV_DOC d
				inner join TSR_MOV_DOC_VAL dv on dv.BusCod=d.BusCod and d.TsrMovDocCod=dv.TsrMovDocCod
				inner join TSR_PAY_MTH p on p.BusCod=dv.BusCod and p.PayMthCod=dv.PayMthCod
				where d.BusCod=@lp_buscod 
				  and d.TsrMovDocCod=@lp_tsrmovdoccod 
				  and p.PayMthTyp='CHQ'
				set @lv_errcod=@@ERROR
			END
		
		-- CAJA. CHEQUES. quito cheques en cartera - pagos
		if @lv_errcod=0 and @lv_objtyp='TSR_TOU'
			begin
				UPDATE x
				SET DocSts = 'I'
				FROM TSR_CSH_VAL x
				inner join TSR_MOV_DOC d on d.BusCod=x.BusCod and d.TsrMovDocCod=@lp_tsrmovdoccod
				inner join TSR_MOV_DOC_VAL dv on dv.BusCod=d.BusCod and dv.TsrMovDocCod=d.TsrMovDocCod and dv.cshvalcod=x.CshValCod 
				inner join TSR_PAY_MTH p on p.BusCod=dv.BusCod and p.PayMthCod=dv.PayMthCod
				where d.BusCod=@lp_buscod 
				  and d.TsrMovDocCod=@lp_tsrmovdoccod 
				  and p.PayMthTyp='CH3'
				set @lv_errcod=@@ERROR
			END

		-- CAJA. EFECTIVO. actualizo saldo de caja -efectivo
		if exists(select top 1 * from TSR_MOV_DOC d inner join TSR_MOV_DOC_VAL dv on dv.buscod=d.buscod and dv.tsrmovdoccod=d.tsrmovdoccod inner join TSR_CSH c on c.BusCod=d.BusCod and c.CshCod=d.CshCod inner join tsr_pay_mth p on p.buscod=dv.buscod and p.paymthcod=dv.paymthcod where d.BusCod=@lp_buscod and d.TsrMovDocCod=@lp_tsrmovdoccod and p.paymthtyp='EFT' )
			begin
				UPDATE c
				SET c.cshvaltot = c.cshvaltot + ( dv.TsrMovDocValAmt * (case when @lv_objtyp='TSR_TOU' then -1 else 1 end) )
				from TSR_CSH_val c
				inner join TSR_MOV_DOC d on d.BusCod=c.BusCod and d.cshcod=c.cshcod
				inner join TSR_MOV_DOC_VAL dv on dv.BusCod=d.BusCod and dv.TsrMovDocCod=d.TsrMovDocCod
				inner join tsr_pay_mth p on p.buscod=dv.buscod and p.paymthcod=dv.paymthcod 
				where d.BusCod=@lp_buscod and d.TsrMovDocCod=@lp_tsrmovdoccod and p.paymthtyp='EFT' 
				set @lv_errcod=@@ERROR
			end
		else 
			begin
				insert into TSR_CSH_val (BusCod, CshCod, PayMthCod, CshValTot, CurCod, DocSts, CteDte, CteUsr)
				select d.buscod, d.cshcod, dv.PayMthCod, dv.TsrMovDocValAmt, dv.CurCod, 'A', getdate(), @lp_username
				from TSR_MOV_DOC d
				inner join TSR_MOV_DOC_VAL dv on dv.BusCod=d.BusCod and d.TsrMovDocCod=dv.TsrMovDocCod
				inner join TSR_PAY_MTH p on p.BusCod=dv.BusCod and p.PayMthCod=dv.PayMthCod
				where d.BusCod=@lp_buscod 
				  and d.TsrMovDocCod=@lp_tsrmovdoccod 
				  and p.PayMthTyp='EFT'
				set @lv_errcod=@@ERROR
			end
		
		if @lv_errcod=0
			begin
				exec FIN_MOV_DOC_DEF '29_sp',@lp_username,@lp_buscod,null,null,null,null,@lp_tsrmovdocdte,null,null,@lv_objtyp,@lp_tsrmovdoccod,303,@lp_curcod,null,@lp_docsts,null,null,@lv_errtyp OUTPUT,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
				if @lv_errcod = -1
          begin
            set @lv_errtxt = 'Error al generar asiento contable. ' + @lv_errtxt
          end
			end
		-- FINANZAS. CUENTA CORRIENTE. actualizar cuenta corriente agregando movimiento de tesoreria
		if @lv_errcod=0 and not @lv_objtyp='TSR_TIC' and not  @lv_objtyp='TSR_TID'
			begin
				-- CABECERA. si no existe la cabecera agrego el registro
				set @lv_finsumcod = (select top 1 finsumcod from fin_sum where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod)
				if isnull(@lv_finsumcod,0)=0
					begin
						exec FIN_SUM_DEF '11',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,0,@lp_curcod,'A',null,@lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
						set @lv_errtxt = 'Error al actualizar cuenta corriente. ' + @lv_errtxt
					end
			end

		-- cambiar status a cabecera de movimiento de tesoreria

		IF @lv_errcod=0
			BEGIN
				update TSR_MOV_DOC
				set DocSts='C'
				where BusCod=@lp_buscod 
				  and TsrMovDocCod=@lp_tsrmovdoccod
				set @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdoccod, @lv_errtyp as errtyp, @lv_errcod as errcod, @lv_errtxt as errtxt

	END

	
  
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
