USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_SPC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_PRS_SPC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_prsspccod		as int			= null, /* id */
@lp_prscod 			as int			= null,	/* id prestador */
@lp_spccod			as int			= null,	/* id especialidad */
@lp_prsspcatr		as nvarchar(4000)=null,	/* atributos */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)= null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		IF exists(select top 1 * from hlt_prs_spc where buscod=@lp_buscod and prscod=@lp_prscod and spccod=@lp_spccod)
			set @lp_sysoperation='02'
		ELSE
			set @lp_sysoperation='01'

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_PRS_SPC (buscod, prscod, spccod, prsspcatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_prscod, @lp_spccod, @lp_prsspcatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_prsspccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prsspccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_PRS_SPC
		SET spccod	= @lp_spccod,
			prsspcatr = @lp_prsspcatr,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and prsspccod = @lp_prsspccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prsspccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ps.*, s.spctxt
		FROM HLT_PRS_SPC ps
			left join HLT_SPC s on s.buscod=ps.buscod and s.spccod=ps.spccod
		WHERE ps.buscod = @lp_buscod
		  and ps.prsspccod = @lp_prsspccod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM HLT_PRS_SPC
		WHERE buscod = @lp_buscod
		  and prsspccod = @lp_prsspccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prsspccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ps.*, s.spctxt, s.spcctrtyp, p.prstxt '
			+ ' FROM hlt_prs_spc ps '
			+ ' inner join hlt_spc s on s.buscod=ps.buscod and s.spccod=ps.spccod '
			+ ' inner join hlt_prs p on p.buscod=ps.buscod and p.prscod=ps.prscod '
			+ ' WHERE ps.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and ps.docsts='+QUOTENAME('A','''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
