USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_MOD_PLN_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_MOD_PLN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_edumodplncod	as int			= null,	-- id 
@lp_edumodcod		as int			= null,	-- id modulo 
@lp_educurcod	 	as int			= null,	-- id plan 
@lp_educarcod	 	as int			= null,	-- id carrera 
@lp_educoucod	 	as int			= null,	-- id curso 
@lp_edusubcod	 	as int			= null,	-- id materia 
@lp_docsts			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null,	-- vista 
@lp_edumodplnatr	as nvarchar(max)=null	-- atributos 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO EDU_MOD_PLN (buscod, edumodcod, educurcod, educarcod, educoucod, edusubcod, docsts, ctedte, cteusr, edumodplnatr)
		VALUES (@lp_buscod, @lp_edumodcod, @lp_educurcod, @lp_educarcod, @lp_educoucod, @lp_edusubcod, @lp_docsts, getdate(), @lp_username, @lp_edumodplnatr)
		SET @lv_errcod=@@ERROR
		SET @lp_edumodplncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_edumodplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE EDU_MOD_PLN 
		SET	educurcod = @lp_educurcod,
			educarcod = @lp_educarcod,
			educoucod = @lp_educoucod,
			edusubcod = @lp_edusubcod,
			edumodplnatr = @lp_edumodplnatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and edumodplncod = @lp_edumodplncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_edumodplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*
		FROM EDU_MOD_PLN p
		WHERE p.buscod=@lp_buscod
		  and p.edumodplncod=@lp_edumodplncod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE
		FROM EDU_MOD_PLN
		WHERE buscod = @lp_buscod
		  and edumodplncod = @lp_edumodplncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_edumodplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, c.educurtxt, a.educartxt, o.educoucodext, o.educoutxt, s.edusubtxt, m.edumodatr, m.edumodtxt '
			+ ' FROM EDU_MOD_PLN p '
			+ ' inner join EDU_MOD m on m.buscod=p.buscod and m.edumodcod=p.edumodcod '
			+ ' left join EDU_CUR c on c.buscod=p.buscod and c.educurcod=p.educurcod '
			+ ' left join EDU_CAR a on a.buscod=p.buscod and a.educarcod=p.educarcod '
			+ ' left join EDU_COU o on o.buscod=p.buscod and o.educoucod=p.educoucod '
			+ ' left join EDU_SUB s on s.buscod=p.buscod and s.edusubcod=p.edusubcod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
      --select @lv_sql
      --return
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 5    -    L I S T A R    P L A N   D E    E S T U D I O S		
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '15'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT DISTINCT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.educurcod, c.educurcodext, c.educurtxt '
			+ ' FROM EDU_MOD_PLN p '
			+ ' inner join EDU_CUR c on c.buscod=p.buscod and c.educurcod=p.educurcod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 6    -    L I S T A R    C A R R E R A S							
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '16'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT DISTINCT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.educurcod, p.educarcod, a.educarcodext, a.educartxt '
			+ ' FROM EDU_MOD_PLN p '
			+ ' inner join EDU_CUR c on c.buscod=p.buscod and c.educurcod=p.educurcod '
			+ ' inner join EDU_CAR a on a.buscod=p.buscod and a.educarcod=p.educarcod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_educurcod,0)=0 then '' else ' and p.educurcod='+QUOTENAME(@lp_educurcod,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 7    -    L I S T A R    C U R S O S								
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT DISTINCT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.educurcod, p.educarcod, p.educoucod, o.educoucodext, o.educoutxt '
			+ ' FROM EDU_MOD_PLN p '
			+ ' inner join EDU_CUR c on c.buscod=p.buscod and c.educurcod=p.educurcod '
			+ ' inner join EDU_CAR a on a.buscod=p.buscod and a.educarcod=p.educarcod '
			+ ' inner join EDU_COU o on o.buscod=p.buscod and o.educoucod=p.educoucod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_educurcod,0)=0 then '' else ' and p.educurcod='+QUOTENAME(@lp_educurcod,'''') end)
			+ (case when isnull(@lp_educarcod,0)=0 then '' else ' and p.educarcod='+QUOTENAME(@lp_educarcod,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   1 8    -    L I S T A R    M A T E R I A S							
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT DISTINCT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.educurcod, p.educarcod, p.educoucod, p.edusubcod, s.edusubcodext, s.edusubtxt '
			+ ' FROM EDU_MOD_PLN p '
			+ ' inner join EDU_CUR c on c.buscod=p.buscod and c.educurcod=p.educurcod '
			+ ' inner join EDU_CAR a on a.buscod=p.buscod and a.educarcod=p.educarcod '
			+ ' inner join EDU_COU o on o.buscod=p.buscod and o.educoucod=p.educoucod '
			+ ' inner join EDU_SUB s on s.buscod=p.buscod and s.edusubcod=p.edusubcod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_educurcod,0)=0 then '' else ' and p.educurcod='+QUOTENAME(@lp_educurcod,'''') end)
			+ (case when isnull(@lp_educarcod,0)=0 then '' else ' and p.educarcod='+QUOTENAME(@lp_educarcod,'''') end)
			+ (case when isnull(@lp_educoucod,0)=0 then '' else ' and p.educoucod='+QUOTENAME(@lp_educoucod,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
