USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CLS_CNT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_DOC_CLS_CNT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysdocclscntcod	as int			= null,	/* id */
@lp_sysdocclscod	as int			= null,	/* id clase de documento */
@lp_sysdocclscodcnt	as int			= null,	/* id tipo contacto */
@lp_sysdocclscntatr	as nvarchar(4000)= null, /* atributos */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	No se puede borrar la clasificación. Materiales asociados.			*/
/* ------------------------------------------------------------------------ */

/*
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	END
*/


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_CLS_CNT (buscod, sysdocclscod, sysdocclscodcnt, sysdocclscntatr, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_sysdocclscod, @lp_sysdocclscodcnt, @lp_sysdocclscntatr, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_sysdocclscntcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclscntcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_CLS_CNT 
		SET	sysdocclscod = @lp_sysdocclscod,
			sysdocclscodcnt= @lp_sysdocclscodcnt,
			sysdocclscntatr = @lp_sysdocclscntatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocclscntcod = @lp_sysdocclscntcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclscntcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_CLS_CNT dcc
		WHERE dcc.buscod = @lp_buscod
		  and dcc.sysdocclscntcod = @lp_sysdocclscntcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
/*	
		IF exists(select top 1 * from stk_mat where buscod=@lp_buscod and matclscod=@lp_matclscod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la clasificación. Materiales asociados.' as errtxt
				RETURN
			END
*/	
		BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_CLS_CNT 
		WHERE buscod=@lp_buscod
		  and sysdocclscntcod = @lp_sysdocclscntcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclscntcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1
		
		/* sys_doc_cls_cnt_def '08','temasis','temasis_log' */

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dcc.*, dc.sysdocclstxt, dc.objtyp, ct.sysdocclstxt as "sysdocclstxtcnt"'
			+ ' FROM SYS_DOC_CLS_CNT dcc '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=dcc.buscod and dc.sysdocclscod=dcc.sysdocclscod '
			+ ' inner join SYS_DOC_CLS ct on ct.buscod=dcc.buscod and ct.sysdocclscod=dcc.sysdocclscodcnt '
			+ ' WHERE dcc.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END
	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END






GO
