USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MOD_PLN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_MOD_PLN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hltmodplncod	as int			= null,	/* id */
@lp_hltmodcod		as int			= null,	/* id modulo */
@lp_srcobjtyp	 	as nvarchar(20)	= null,	/* origen - tipo */
@lp_srcobjcod001 	as nvarchar(20)	= null,	/* origen - codigo 1 */
@lp_srcobjcod002 	as nvarchar(20)	= null,	/* origen - codigo 2 */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)=null,	/* vista */
@lp_hltmodplnatr	as nvarchar(max)=null	/* atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_MOD_PLN (buscod, hltmodcod, srcobjtyp, srcobjcod001, srcobjcod002, docsts, ctedte, cteusr, hltmodplnatr)
		VALUES (@lp_buscod, @lp_hltmodcod, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_docsts, getdate(), @lp_username, @lp_hltmodplnatr)
		SET @lv_errcod=@@ERROR
		SET @lp_hltmodplncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltmodplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_MOD_PLN 
		SET	srcobjtyp = @lp_srcobjtyp,
			srcobjcod001 = @lp_srcobjcod001,
			srcobjcod002 = @lp_srcobjcod002,
			hltmodplnatr = @lp_hltmodplnatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hltmodplncod = @lp_hltmodplncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltmodplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*
		FROM HLT_MOD_PLN p
		WHERE p.buscod=@lp_buscod
		  and p.hltmodplncod=@lp_hltmodplncod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE
		FROM HLT_MOD_PLN
		WHERE buscod = @lp_buscod
		  and hltmodplncod = @lp_hltmodplncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltmodplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- hlt_mod_pln_def '08','temasis','temasis_hlt'
		
		declare @lv_srcobjtxt as nvarchar(4000)
		set @lv_srcobjtxt = ' (case mp.srcobjtyp when '+QUOTENAME('HLT_SPC','''')+' then s.spctxt when '+QUOTENAME('HLT_DCL','''')+' then d.hltdisclstxt when '+QUOTENAME('SYS_ZON','''')+' then z.adrzontxt else '+QUOTENAME('','''')+' end) '

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt, 'srcobjtxt', @lv_srcobjtxt)

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = REPLACE(@lv_ord, 'srcobjtxt', @lv_srcobjtxt)

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' mp.*, m.hltmodcodext, m.hltmodtxt, '
			+ @lv_srcobjtxt + ' as srcobjtxt '
			+ ' FROM HLT_MOD_PLN mp '
			+ ' inner join HLT_MOD m on m.buscod=mp.buscod and m.hltmodcod=mp.hltmodcod '
			+ ' left join hlt_spc s on s.buscod=mp.buscod and s.spccod=mp.srcobjcod001 '
			+ ' left join hlt_dis_cls d on d.buscod=mp.buscod and d.hltdisclscod=mp.srcobjcod001 '
			+ ' left join grl_dat_zon z on z.buscod=mp.buscod and z.adrzoncod=mp.srcobjcod001 '
			+ ' WHERE mp.buscod='+QUOTENAME(@lp_buscod, '''')
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
