USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_PAY_TRM_DUE_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[FIN_PAY_TRM_DUE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_paytrmduecod	as int			= null,	/* id */
@lp_paytrmcod		as int			= null,	/* id condicion pago */
@lp_PayTrmDueAmt	as bigint		= null,	/* porcentaje */
@lp_PayTrmDueTyp	as nvarchar(50)	= null,	/* D-dias */
@lp_PayTrmDueQty	as int			= null, /* cantidad dias */ 
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuraciÃ³n vista */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_PayTrmDueAmt as decimal(6,3)
set @lv_PayTrmDueAmt = dbo.ConvertNumber( @lp_PayTrmDueAmt, 3 )

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02'
	BEGIN
    IF @lv_PayTrmDueAmt != 100
      BEGIN
        SELECT null, -1 as errcod,  'El porcentaje debe ser 100' as errtxt
        RETURN
      END
	END

/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_PAY_TRM_DUE
			(buscod, paytrmcod, PayTrmDueAmt, PayTrmDueTyp, PayTrmDueQty,
			docsts, cteusr, ctedte)
		VALUES
			(@lp_buscod, @lp_paytrmcod, @lv_paytrmdueamt, @lp_paytrmduetyp, @lp_paytrmdueqty, 
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_paytrmduecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_paytrmduecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE FIN_PAY_TRM_DUE  
		SET	paytrmdueamt = @lv_paytrmdueamt,
			paytrmduetyp = @lp_paytrmduetyp,
			PayTrmDueQty = @lp_paytrmdueqty, 
			docsts	= @lp_docsts,	
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and paytrmduecod = @lp_paytrmduecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_paytrmduecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM FIN_PAY_TRM_DUE
		WHERE buscod = @lp_buscod
		  and paytrmduecod = @lp_paytrmduecod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE 
		FROM FIN_PAY_TRM_DUE
		WHERE buscod = @lp_buscod
		  and paytrmduecod = @lp_paytrmduecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_paytrmduecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		/* fin_pay_trm_due_def '08','temasis','temasis_log' */

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' td.* '
			+ '	FROM fin_pay_trm_due td '
			+ ' WHERE td.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and td.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END



GO
