USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_WRK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DOC_WRK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_wrkflwcod		as int			= null,	-- id 
@lp_wrkflwcodext	as nvarchar(20)	= null,	-- codigo 
@lp_wrkflwtxt		as nvarchar(50)	= null,	-- descripcion 

@lp_wrkflwcnd		as nvarchar(max)= null, -- condicion 

@lp_docsts 			as nvarchar(02)	= null,	-- estado 
@lp_vewcfg			as nvarchar(4000)=null	-- configuraciÃ³n ede la vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT  = 0
DECLARE @lv_errtxt nvarchar(max)

DECLARE @lv_sql as nvarchar(max)

DECLARE @lv_wrkflwactcod int
DECLARE @lv_wrkflwstpcod int
DECLARE @lv_sysdocclswrkcod int



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Codigo existente.													
--	-2	No se puede borrar el workflow. Documentos asociados.				
-- ------------------------------------------------------------------------ 


IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- valido codigo externo duplicado 
		if not isnull(@lp_wrkflwcodext,'')=''
			begin
				IF exists(select top 1 * from SYS_DOC_WRK where buscod=@lp_buscod and not wrkflwcod=@lp_wrkflwcod and wrkflwcodext=@lp_wrkflwcodext)
					BEGIN
						SELECT 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
						RETURN
					END
			end

	END

IF @lp_sysoperation='04'
	BEGIN
    IF EXISTS(select wrkflwcod from grl_dat_wrk where buscod = @lp_buscod and wrkflwcod=@lp_wrkflwcod)
			BEGIN
				SELECT 'E' as errtyp, -2 as errcod, 'CannotDeleteUsedInDocument' as errmsg
				RETURN
			END
	END

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_WRK (buscod, wrkflwcodext, wrkflwtxt, wrkflwcnd, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_wrkflwcodext, @lp_wrkflwtxt, @lp_wrkflwcnd, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_wrkflwcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_wrkflwcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_WRK 
		SET	wrkflwcodext=@lp_wrkflwcodext,
			wrkflwtxt = @lp_wrkflwtxt,
			wrkflwcnd = @lp_wrkflwcnd,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and wrkflwcod = @lp_wrkflwcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_wrkflwcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_WRK w
		WHERE w.buscod = @lp_buscod
		  and w.wrkflwcod = @lp_wrkflwcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
    -- elimino los pasos    
		DECLARE @lv_rowcount as int = 1
    SELECT wrkflwstpcod, ROW_NUMBER() OVER (ORDER BY wrkflwstpcod) as rownumber into #tmp_stp FROM SYS_DOC_WRK_STP where buscod = @lp_buscod and wrkflwcod = @lp_wrkflwcod 
  	WHILE (@lv_rowcount <= (select count(rownumber) from #tmp_stp)) and @lv_errcod=0
    BEGIN
  		SET @lv_wrkflwstpcod = (select wrkflwstpcod from #tmp_stp where rownumber = @lv_rowcount)
      EXEC SYS_DOC_WRK_STP_DEF @lp_sysoperation = '04_sp'
      												,@lp_username = @lp_username
      												,@lp_buscod = @lp_buscod
      												,@lp_wrkflwcod = @lp_wrkflwcod
      												,@lp_wrkflwstpcod = @lv_wrkflwstpcod
      												,@lp_errcod = @lv_errcod OUTPUT
      												,@lp_errtxt = @lv_errtxt OUTPUT		
      SET @lv_rowcount = @lv_rowcount + 1
    END
    
    -- elimino las actividades a nivel cabecera
		IF @lv_errcod = 0	
    BEGIN
      SET @lv_rowcount = 1
      SELECT wrkflwactcod, ROW_NUMBER() OVER (ORDER BY wrkflwactcod) as rownumber into #tmp_act FROM SYS_DOC_WRK_ACT where buscod = @lp_buscod and wrkflwcod = @lp_wrkflwcod and wrkflwstpcod < 1
      WHILE (@lv_rowcount <= (select count(rownumber) from #tmp_act)) and @lv_errcod=0
      BEGIN
        SET @lv_wrkflwactcod = (select wrkflwactcod from #tmp_act where rownumber = @lv_rowcount)
        EXEC SYS_DOC_WRK_ACT_DEF @lp_sysoperation = '04_sp'
                                ,@lp_username = @lp_username
                                ,@lp_buscod = @lp_buscod
                                ,@lp_wrkflwactcod = @lv_wrkflwactcod
                                ,@lp_errcod = @lv_errcod OUTPUT
                                ,@lp_errtxt = @lv_errtxt OUTPUT		
        SET @lv_rowcount = @lv_rowcount + 1
      END
    END
    
    -- elimino asociaciones a clases de doc.
		IF @lv_errcod = 0	
    BEGIN
      SET @lv_rowcount = 1
      SELECT sysdocclswrkcod, ROW_NUMBER() OVER (ORDER BY sysdocclswrkcod) as rownumber into #tmp_cls_wrk FROM SYS_DOC_CLS_WRK where buscod = @lp_buscod and wrkflwcod = @lp_wrkflwcod
      WHILE (@lv_rowcount <= (select count(rownumber) from #tmp_cls_wrk)) and @lv_errcod=0
      BEGIN
        SET @lv_sysdocclswrkcod = (select sysdocclswrkcod from #tmp_cls_wrk where rownumber = @lv_rowcount)
        EXEC SYS_DOC_CLS_WRK_DEF @lp_sysoperation = '04_sp'
                                ,@lp_username = @lp_username
                                ,@lp_buscod = @lp_buscod
                                ,@lp_sysdocclswrkcod = @lv_sysdocclswrkcod
                                ,@lp_errcod = @lv_errcod OUTPUT
                                ,@lp_errtxt = @lv_errtxt OUTPUT		
        SET @lv_rowcount = @lv_rowcount + 1
      END
    END
    
    -- elimino cabecera
		IF @lv_errcod = 0	
    BEGIN
      DELETE 
      FROM SYS_DOC_WRK 
      WHERE buscod=@lp_buscod
        and wrkflwcod = @lp_wrkflwcod
      SET @lv_errcod=@@ERROR
    END
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_wrkflwcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM SYS_DOC_WRK w '
			+ ' WHERE w.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
