USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_LQD_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_LQD_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario
@lp_buscod			as nvarchar(20) = null,		-- empresa
@lp_edulqdcod		as int			= null,		-- id
@lp_edulqdtxt		as nvarchar(50) = null,		-- descripcion
@lp_edulqddte		as nvarchar(14) = null,		-- fecha
@lp_edulqdstrdte	as nvarchar(14) = null,		-- fecha - inicio
@lp_edulqdenddte	as nvarchar(14) = null,		-- fecha - fin
@lp_cuscod			as int			= null,		-- cliente
--@lp_edulqdopnsrvids	as nvarchar(max)= null,	-- IDs de planificaciÃ³n
--@lp_edulqdopnexpids	as nvarchar(max)= null,	-- IDs de novedades
@lp_docsts			as nvarchar(02)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null,		-- vista

@lp_sysdocclscod	as int			= null,		-- clase de documento - ID
@lp_edulqdatr001	as nvarchar(max)=null,		-- atributos
@lp_sysdocrejcod	as int			= null		-- id motivo de rechazo

AS

SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt as nvarchar(max) = ''
declare @lv_sql as nvarchar(max)
declare @lv_edulqddte as datetime = dbo.ConvertDate( @lp_edulqddte )
declare @lv_edulqdstrdte as datetime = dbo.ConvertDate( @lp_edulqdstrdte )
declare @lv_edulqdenddte as datetime = dbo.ConvertDate( @lp_edulqdenddte )
declare @lv_srcobjtyp as nvarchar(50) = ''
declare @lv_objtyp as nvarchar(20)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQD' 
    if @lp_sysoperation='01' -- x clase de documento
    	set @lv_objtyp = (select top 1 objtyp from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
    if @lp_sysoperation='02' or @lp_sysoperation='03' or @lp_sysoperation='04' or @lp_sysoperation='09' -- x documento
    	set @lv_objtyp = (select top 1 dc.objtyp from EDU_LQD e inner join sys_doc_cls dc on dc.buscod=e.buscod and dc.sysdocclscod=e.sysdocclscod where dc.buscod=@lp_buscod and e.edulqdcod=@lp_edulqdcod)
  	if @lp_sysoperation='08'
    	begin
        if charindex( '[~fltrow~]dc.objtyp'+char(9)+'='+char(9)+char(9)+'EDU_LQC'+char(9)+char(9), dbo.getTagValue('vewfldflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'EDU_LQC'
        if charindex( '[~fltrow~]dc.objtyp'+char(9)+'='+char(9)+char(9)+'EDU_LQA'+char(9)+char(9), dbo.getTagValue('vewfldflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'EDU_LQA'
  		end
    set @lv_autprgcod = (select substring(@lv_objtyp, 5, 3))

		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		declare @lv_custxt as nvarchar(50)
		set @lv_custxt = (select top 1 custxt from SLS_CUS where buscod=@lp_buscod and cuscod=@lp_cuscod)

		BEGIN TRAN

		-- 1. agrego cabecera de liquidaciÃ³n
		INSERT INTO EDU_LQD (buscod, cuscod, custxt, edulqddte, edulqdtxt, 
								sysdocclscod, edulqdatr001, 
								docsts, ctedte, cteusr)
		VALUES( @lp_buscod, @lp_cuscod, @lv_custxt, @lv_edulqddte, @lp_edulqdtxt, 
				@lp_sysdocclscod, @lp_edulqdatr001, 
				@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_edulqdcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edulqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	
	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from EDU_lqd where buscod=@lp_buscod and edulqdcod=@lp_edulqdcod)='C'
			BEGIN
				SELECT null, -2 as errcod, 'No se puede modificar. Documento contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- 5. actualizo cabecera
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_lqd
				SET
					edulqdtxt = @lp_edulqdtxt,
					edulqdtot = (select sum(d.edulqddoctot) FROM EDU_lqd_doc d where d.buscod=@lp_buscod and d.edulqdcod=@lp_edulqdcod),
					sysdocrejcod = @lp_sysdocrejcod,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and edulqdcod=@lp_edulqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edulqdcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		-- EDU_lqd_def '03','mdominguez','temasis_edu','10'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' l.*, dc.sysdocclstxt, tc.taxcattxt, c.cuscodext, dr.sysdocrejtxt, dt.sysdoctretxt ',
			' EDU_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join SLS_CUS c on c.buscod=l.buscod and c.cuscod=l.cuscod '
			+ ' left join grl_dat_tax t on t.buscod=l.buscod and t.taxsrctyp='+QUOTENAME('EDU','''')+' and t.taxsrccod=l.cuscod '
			+ ' left join grl_dat_adr a on a.buscod=l.buscod and a.adrsrctyp='+QUOTENAME('EDU','''')+' and a.adrsrccod=l.cuscod '
			+ ' left join fin_tax_cat tc on tc.lndcod=a.lndcod and tc.taxcatcod=t.taxcatcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=l.buscod and dr.sysdocrejcod=l.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=l.buscod and dt.sysdoctrecod=l.sysdoctrecod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and l.edulqdcod='+QUOTENAME(@lp_edulqdcod,''''),
			' l.ctedte desc ', default)
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
    
    set @lp_docsts = (select top 1 docsts from EDU_lqd where buscod=@lp_buscod and edulqdcod=@lp_edulqdcod)
    
    -- obtengo el objeto de la clase de documento
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join EDU_LQD l on l.buscod=dc.buscod and l.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and l.edulqdcod=@lp_edulqdcod)
		
		BEGIN TRAN
    
    -- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_edulqdcod,null,null,null,null,null,@lv_errcod,@lv_errtxt
		
		-- borro los documento liquidados
		DELETE
		FROM EDU_lqd_doc
		WHERE buscod=@lp_buscod
		  and edulqdcod=@lp_edulqdcod
		SET @lv_errcod=@@ERROR

		-- borro liquidaciÃ³n - cabecera
		IF @lv_errcod=0 and not @lp_docsts='C'
			BEGIN
				DELETE 
				FROM EDU_lqd
				WHERE buscod=@lp_buscod
				  and edulqdcod=@lp_edulqdcod
				SET @lv_errcod=@@ERROR
			END

		-- marco la liquidaciÃ³n como borrado - cabecera
		IF @lv_errcod=0 and @lp_docsts='C'
			BEGIN
				UPDATE EDU_lqd
				SET deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and edulqdcod=@lp_edulqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edulqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END



-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- EDU_LQD_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>',''
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' l.*, convert(varchar,l.edulqddte,103) as edulqddtecnv, dc.sysdocclstxt, dr.sysdocrejtxt, dt.sysdoctretxt ',
			' EDU_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=l.buscod and dr.sysdocrejcod=l.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=l.buscod and dt.sysdoctrecod=l.sysdoctrecod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and l.deldte is null ',
 			' l.edulqddte DESC, l.edulqdcod DESC ', default)
    execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='09' or @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from EDU_lqd where buscod=@lp_buscod and edulqdcod=@lp_edulqdcod)='C'
			BEGIN
				SELECT null, -4 as errcod, 'No se puede contabilizar. Documento ya contabilizado.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		-- 1. actualizo cabecera
		UPDATE EDU_LQD
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and edulqdcod=@lp_edulqdcod
		SET @lv_errcod=@@ERROR

		-- 2. actualizo posiciones
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and edulqdcod=@lp_edulqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edulqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   1 3    -    L I S T A R    P R E S T A C I O N E S		(no liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='53'
	BEGIN
		SET @lv_validop = 1
		
		-- EDU_lqd_def '13','mdominguez','temasis_hlt','','','','20170106000000','20170731000000','59'
		
		if @lv_srcobjtyp = 'HLT_PLR'
				set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' x.*, ld.edulqdcod, ld.edulqddoccod, '
 						+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltlqdprc, '
 						+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as edulqddoctot ',
					' #tmp_38_2_plr x '
					+ ' left join EDU_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 ',
					' ( ld.edulqddoccod is null ' + (case when isnull(@lp_edulqdcod,0)=0 then '' else ' OR ld.edulqdcod='+QUOTENAME(@lp_edulqdcod,'''') end) + ')',
 					' hltplnctrdte, hltplnctrinbdte, hltplnctroutdte ', default)

		ELSE if @lv_srcobjtyp = 'HLT_EVL'
				set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' x.*, ld.edulqdcod, ld.edulqddoccod, '
 						+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltlqdprc, '
 						+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as edulqddoctot ',
					' #tmp_38_2_evl x '
					+ ' left join EDU_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 ',
					' ( ld.edulqddoccod is null ' + (case when isnull(@lp_edulqdcod,0)=0 then '' else ' OR ld.edulqdcod='+QUOTENAME(@lp_edulqdcod,'''') end) + ')',
 					' hltplnctrdte, hltplnctrinbdte, hltplnctroutdte ', default)

		execute( @lv_sql )		
	END



-- ------------------------------------------------------------------------
--   1 4    -    L I S T A R    G A S T O S		(no liquidados)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '54'
	BEGIN
		SET @lv_validop = 1
		
    set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 'b.buscod, '+QUOTENAME('BUY_EXP','''')+' as refobjtyp, b.buyexpcod as refobjcod001, bd.BuyExpDocCod as refobjcod002, bd.BuyExpCod as edulqddoccodext, bt.BuyExpTypTxt as edulqddoctxt, bd.buyexpdocdte as edulqddocdte, convert(varchar,bd.buyexpdocdte,103) as edulqddocdtecnv, bd.buyexpdoctot as edulqddoctot, '+QUOTENAME('ARS','''')+' as refobjcurcod, ld.EduLqdCod, ld.EduLqdDocCod ',
					' BUY_EXP b '
					+ 'inner join buy_exp_doc bd on bd.buscod=b.buscod and bd.buyexpcod=b.buyexpcod '
					+ 'inner join buy_exp_typ bt on bt.buscod=bd.buscod and bt.buyexptypcod=bd.buyexptypcod '
					+ 'inner join fin_acc f on f.buscod=bt.buscod and f.finacccod=bt.finacccod '
					+ 'left join EDU_LQD_DOC ld on ld.BusCod=f.buscod and ld.RefObjTyp='+QUOTENAME('BUY_EXP','''')+' and ld.RefObjCod001=b.buyexpcod and ld.RefObjCod002=bd.buyexpdoccod ',
					' bd.BusCod='+QUOTENAME(@lp_buscod,'''')
					+ 'and b.srcobjtyp='+QUOTENAME('EDU_TCH','''')
					+ 'and b.docsts='+QUOTENAME('C','''')
					+ 'and bt.docsts='+QUOTENAME('A','''')
					+ 'and f.finaccclscod='+QUOTENAME('A','''')
					+ 'and bd.buyexpdocdte between '+QUOTENAME(@lp_edulqdstrdte,'''')+' and '+ QUOTENAME(@lp_edulqdenddte,''''),
          default, default)
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   2 3    -    L I S T A R    P R E S T A C I O N E S		(liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='43'
	BEGIN
		SET @lv_validop = 1
		
		-- EDU_lqd_def '23','mdominguez','temasis_hlt','15'

		-- obtengo origen de datos para liquidaciÃ³n
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				SET @lv_srcobjtyp = isnull( (select top 1 dbo.getTagValue('srcobjtyp',sysdocclsatr) 
									from sys_doc_cls 
									where buscod=@lp_buscod 
									 and sysdocclscod=@lp_sysdocclscod),'')
				set @lv_srcobjtyp=(case when @lv_srcobjtyp='' then 'HLT_PLR' else @lv_srcobjtyp end) 
			end

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' ld.*, convert(varchar, ld.edulqddocdte, 103) as edulqddocdtecnv ',
			' EDU_LQD_DOC ld ',
			' ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.edulqdcod='+QUOTENAME(@lp_edulqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME(@lv_srcobjtyp,''''),
      ' ld.refobjtyp, ld.edulqddoccodext, ld.edulqddocdte ', default)
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------
--   2 4    -    L I S T A R    G A S T O S					(liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='44'
	BEGIN
		SET @lv_validop = 1
		
		-- EDU_lqd_def '24','mdominguez','temasis_hlt','12'
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' ld.*, convert(varchar, ld.edulqddocdte, 103) as edulqddocdtecnv ',
			' EDU_LQD_DOC ld ',
			' ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.edulqdcod='+QUOTENAME(@lp_edulqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME('BUY_EXP',''''),
      default, default)
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
