USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_CHR_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HHR_CHR_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrchrtypcod	as int			= null,	-- id
@lp_hhrchrtypcodext	as nvarchar(20)	= null,	-- codigo externo
@lp_hhrchrtyptxt	as nvarchar(50)	= null,	-- descripción
@lp_hhrchrclscod	as int			= null,	-- id clasificacion
@lp_hhrchrtypatr	as nvarchar(max)= null,	-- atributos
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_hhrchrtypcmt	as nvarchar(max)= null	-- comentarios

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Codigo externo existente
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_hhrchrtypcodext=''
			if exists(select top 1 * from HHR_CHR_TYP where buscod=@lp_buscod and not hhrchrtypcod=@lp_hhrchrtypcod and hhrchrtypcodext=@lp_hhrchrtypcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego tipo de cargo
		INSERT INTO HHR_CHR_TYP (buscod, hhrchrtypcodext, hhrchrtyptxt, hhrchrclscod, hhrchrtypatr, docsts, ctedte, cteusr, hhrchrtypcmt)
		VALUES (@lp_buscod, @lp_hhrchrtypcodext, @lp_hhrchrtyptxt, @lp_hhrchrclscod, @lp_hhrchrtypatr, @lp_docsts, getdate(), @lp_username, @lp_hhrchrtypcmt)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrchrtypcod=@@IDENTITY
		
		-- agrego tipo de cargo en empresas sincronizadas
		if @lv_errcod=0
			begin
				INSERT INTO HHR_CHR_TYP (buscod, hhrchrtypcodext, hhrchrtyptxt, hhrchrclscod, hhrchrtypatr, docsts, ctedte, cteusr, hhrchrtypcmt, HhrChrTypSynCod)
				SELECT x.buscod, @lp_hhrchrtypcodext, @lp_hhrchrtyptxt, cc.hhrchrclscod, @lp_hhrchrtypatr, @lp_docsts, getdate(), @lp_username, @lp_hhrchrtypcmt, @lp_hhrchrtypcod
				FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN',@lp_buscod) x
				left join HHR_CHR_CLS cc on cc.BusCod=x.buscod and cc.HhrChrClsSynCod=@lp_hhrchrclscod
				set @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrchrtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- actualizo tipo de cargo		
		UPDATE HHR_CHR_TYP 
		SET	hhrchrtypcodext = @lp_hhrchrtypcodext,
			hhrchrtyptxt = @lp_hhrchrtyptxt,
			HhrChrClsCod = @lp_hhrchrclscod,
			HhrChrTypAtr = @lp_hhrchrtypatr,
			hhrchrtypcmt = @lp_hhrchrtypcmt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod 
		  and hhrchrtypcod=@lp_hhrchrtypcod
		SET @lv_errcod=@@ERROR

		-- actualizo tipo de cargo en empresas relacionadas
		if @lv_errcod=0
			begin
				UPDATE ct
				SET	hhrchrtypcodext = @lp_hhrchrtypcodext,
					hhrchrtyptxt = @lp_hhrchrtyptxt,
					HhrChrClsCod = cc.hhrchrclscod,
					HhrChrTypAtr = @lp_hhrchrtypatr,
					hhrchrtypcmt = @lp_hhrchrtypcmt,
					docsts = @lp_docsts,
					updusr = @lp_username,
					upddte = getdate()
				FROM HHR_CHR_TYP ct
				left join HHR_CHR_CLS cc on cc.BusCod=ct.BusCod and cc.HhrChrClsSynCod=@lp_hhrchrclscod
				WHERE ct.buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod))
				  and ct.hhrchrtypsyncod=@lp_hhrchrtypcod
				set @lv_errcod=@@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrchrtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ct.*, cc.hhrchrclstxt 
		FROM HHR_CHR_TYP ct
		left join HHR_CHR_CLS cc on cc.buscod=ct.BusCod and cc.hhrchrclscod=ct.HhrChrClsCod 
		WHERE ct.buscod=@lp_buscod
		  and ct.hhrchrtypcod=@lp_hhrchrtypcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from hhr_chr_asg where (buscod=@lp_buscod and hhrchrtypcod=@lp_hhrchrtypcod)
			or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_SysAppMdlPrm('HHR_DAT_SYN', @lp_buscod))
			  and (HhrChrTypCod in (select HhrChrTypCod from HHR_CHR_TYP where HhrChrTypSynCod=@lp_hhrchrtypcod)) ))
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Se encuentra asignado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		DELETE
		FROM HHR_CHR_TYP
		WHERE (buscod=@lp_buscod and hhrchrtypcod=@lp_hhrchrtypcod)
		   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrchrtypsyncod=@lp_hhrchrtypcod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrchrtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ct.*, cc.hhrchrclstxt, cc.hhrchrclsatr '
			+ ' FROM HHR_CHR_TYP ct '
			+ ' left join HHR_CHR_CLS cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod '
			+ ' WHERE ct.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
