USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAN_REQ_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAN_REQ_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmanreqmatcod as int			= null,
@lp_stkmanreqcod	as int			= null,	-- id documento
@lp_matcod			as int			= null,	-- id material
@lp_mattxt			as nvarchar(50)	= null,	-- descripcion
@lp_matsercod   as int	= null,	-- serial
@lp_docsts			as nvarchar(02)	= null,	-- estado
@lp_vewcfg			as nvarchar(max)=null,	-- configuracion vista
@lp_stkmanreqmatatr	as nvarchar(max)=null,	-- atributos
@lp_sysdocrejcod	as int			= null,	-- id motivo de rechazo
@lp_docreftyp			as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod			as int					= null,	-- doc referencia - id documento
@lp_docrefposcod	as int					= null	-- doc referencia - id posicion

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_matqty bigint = 1000

declare @lv_sql as nvarchar(max)
declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_objtyp as nvarchar(20)
DECLARE @lv_matuntcod as nvarchar(5) ='UN'



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
			
		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_req d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanreqcod=@lp_stkmanreqcod)
    
		BEGIN TRAN

		-- agrego cabecera de documento
		INSERT INTO STK_MAN_REQ_MAT (buscod, stkmanreqcod, matcod, mattxt, matsercod, stkmanreqmatatr, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stkmanreqcod, @lp_matcod, @lp_mattxt, @lp_matsercod, @lp_stkmanreqmatatr, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmanreqmatcod = @@IDENTITY
		
		-- agrego la referencia (documento como posicion)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanreqcod,@lp_stkmanreqmatcod, @lv_matqty, @lv_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanreqmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END  
  
  
  
-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
			
		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_req d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanreqcod=@lp_stkmanreqcod)
    
		BEGIN TRAN

		UPDATE STK_MAN_REQ_MAT 
		SET matcod	= @lp_matcod,
			mattxt	= @lp_mattxt,
      matsercod = @lp_matsercod,
			stkmanreqmatatr = @lp_stkmanreqmatatr, 
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and stkmanreqmatcod = @lp_stkmanreqmatcod
		  and stkmanreqcod = @lp_stkmanreqcod
		SET @lv_errcod=@@ERROR
    
		-- actualizo referencia (documento como posici0n)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanreqcod,@lp_stkmanreqmatcod,@lv_matqty, @lv_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanreqmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
    
    -- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from stk_man_req_mat where buscod=@lp_buscod and stkmanreqcod=@lp_stkmanreqcod and stkmanreqmatcod=@lp_stkmanreqmatcod

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_req d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanreqcod=@lp_stkmanreqcod)

		BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanreqcod,@lp_stkmanreqmatcod,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro la posicion del documento
		IF @lv_errcod=0
			BEGIN		
				DELETE
				FROM STK_MAN_REQ_MAT
				WHERE buscod=@lp_buscod
		  		and stkmanreqcod = @lp_stkmanreqcod
		  		and stkmanreqmatcod = @lp_stkmanreqmatcod
				SET @lv_errcod=@@ERROR
			END
 
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanreqmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END



---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1   
		
		-- stk_man_req_mat_def '08','temasis','temasis_log'
    
		set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, ' rm.*, s.matsercodext, a.adrnme001 as srcobjtxt, om.stkmanordcod, CONVERT(VARCHAR, r.stkmanreqdte, 103) AS stkmanreqdte,'
                                      + 'dt.sysdoctretxt, dr.sysdocrejtxt, fp.refposqty as refposqty, m.matuseser ',
                                      ' stk_man_req_mat rm ' 
                                      + ' inner join stk_man_req r on r.buscod=rm.buscod and r.stkmanreqcod=rm.stkmanreqcod '
                                      + ' left join stk_man_ord_mat om on om.buscod=rm.buscod and om.stkmanreqcod=rm.stkmanreqcod and om.stkmanreqmatcod=rm.stkmanreqmatcod'
                                      + ' left join GRL_DAT_ADR a on a.buscod=r.buscod and a.adrsrctyp=r.srcobjtyp and a.adrsrccod=r.srcobjcod '
                                      + ' left join stk_mat_ser s on s.buscod=r.buscod and s.matcod=rm.matcod and s.matsercod=rm.matsercod '
                                      + ' left join sys_doc_tre dt on dt.buscod=rm.buscod and dt.sysdoctrecod=rm.sysdoctrecod '
                                      + ' left join sys_doc_rej dr on dr.buscod=rm.buscod and dr.sysdocrejcod=rm.sysdocrejcod '
																			+ ' left join sys_doc_cls dc on dc.buscod=r.buscod and dc.sysdocclscod=r.sysdocclscod '
																			+ ' left join stk_mat m on m.buscod=rm.buscod and m.matcod=rm.matcod '
                                      + ' left join grl_doc_flw_pos fp on fp.buscod=rm.buscod and fp.srcobjtyp=dc.objtyp and fp.srcobjcod=rm.stkmanreqcod and fp.srcposcod=rm.stkmanreqmatcod and isnull(fp.refobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('',''''), 
                                      ' rm.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                      ' rm.stkmanreqcod' , default)
		execute( @lv_sql )

  END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
