USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_PRC_CND_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[GRL_PRC_CND_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_prccndcod		as int			= null,	-- id
@lp_prccndcodext	as nvarchar(20) = null,	-- codigo
@lp_prccndtxt		as nvarchar(50)	= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- config vista

@lp_prccndcatcod	as int			= null,	-- id categorÃ­a de condicion
@lp_fintaxtypcod	as int			= null,	-- id tipo de impuestos
@lp_prccndatr		as nvarchar(max)= null	-- atributos de la condicion

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errtyp as nvarchar(2) = 'S'
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(max)
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
-- -1. DUPLICATE EXT CODE
-- -4. CANNOT UPDATE CENTRALIZED DOCUMENT
-- -41. CANNOT DELETE USED IN DOCUMENT
-- -41. CANNOT DELETE USED IN SCHEME
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not isnull(@lp_prccndcodext,'')=''
			if exists(select top 1 * from GRL_PRC_CND where buscod=@lp_buscod and not prccndcod=@lp_prccndcod and prccndcodext=@lp_prccndcodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DUPLICATEEXTCODE' as errmsg
					RETURN
				end
    
	end
  
IF @lp_sysoperation = '04'
	BEGIN
		IF exists(select top 1 * from grl_dat_prc where buscod=@lp_buscod and prccndcod=@lp_prccndcod)
			begin
				select 'E' as errtyp, -41 as errcod, 'CANNOTDELETEUSEDINDOCUMENT' as errmsg
				return
			end
		IF exists(select top 1 * from grl_prc_sch_cnd where buscod=@lp_buscod and prccndcod=@lp_prccndcod)
			begin
				select 'E' as errtyp, -41 as errcod, 'CANNOTDELETEUSEDINSCHEME' as errmsg
				return
			end
	END

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- crea el documento padre
		INSERT INTO GRL_PRC_CND	(buscod, prccndcodext, prccndtxt, prccndcatcod, fintaxtypcod, docsts, cteusr, ctedte, prccndatr)
		VALUES (@lp_buscod, @lp_prccndcodext, @lp_prccndtxt,@lp_prccndcatcod, @lp_fintaxtypcod, @lp_docsts, @lp_username, getdate(), @lp_prccndatr )  
		SET @lv_errcod = @@ERROR
		SET @lp_prccndcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndcod, @lv_errcod as errcod, (case when @lv_errtyp!='S' then @lv_errtxt else dbo.GetErrorDescription(@lv_errcod) end) as errtxt, @lv_errtyp as errtyp

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_PRC_CND 
		SET	prccndcodext = @lp_prccndcodext,
			prccndtxt= @lp_prccndtxt,
			prccndcatcod = @lp_prccndcatcod,
			fintaxtypcod = @lp_fintaxtypcod,
			prccndatr = @lp_prccndatr,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE (buscod = @lp_buscod
		  and prccndcod = @lp_prccndcod)
		SET @lv_errcod=@@ERROR
     
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndcod, @lv_errcod as errcod, (case when @lv_errtyp!='S' then @lv_errtxt else dbo.GetErrorDescription(@lv_errcod) end) as errtxt, @lv_errtyp as errtyp

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pc.*, ft.fintaxtyptxt, pcc.prccndcattxt
		FROM GRL_PRC_CND pc
		 left join FIN_TAX_TYP ft on ft.buscod=pc.buscod and ft.fintaxtypcod=pc.fintaxtypcod 
		 left join GRL_PRC_CND_CAT pcc on pcc.buscod=pc.BusCod and pcc.prccndcatcod=pc.prccndcatcod 
		WHERE pc.buscod = @lp_buscod
		  and pc.prccndcod = @lp_prccndcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM GRL_PRC_CND
		WHERE buscod = @lp_buscod
		  and prccndcod = @lp_prccndcod

		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prccndcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' pc.*, ft.fintaxtyptxt, pcc.prccndcattxt ',
			' GRL_PRC_CND pc '
			+ ' left join FIN_TAX_TYP ft on ft.buscod=pc.buscod and ft.fintaxtypcod=pc.fintaxtypcod '
			+ ' left join GRL_PRC_CND_CAT pcc on pcc.buscod=pc.buscod and pcc.prccndcatcod=pc.prccndcatcod ',
			' pc.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and pc.docsts='+QUOTENAME(@lp_docsts,'''') end) ,
 		' pc.prccndtxt ', default )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
