USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DOC_CNT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_DOC_CNT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_grldoccntcod	as int			= null,	-- id
@lp_sysdocclscodcnt	as nvarchar(20) = null,	-- id de interlocutor
@lp_srcobjtyp		as nvarchar(20)	= null,	-- tipo de orígen
@lp_srcobjcod		as nvarchar(20)	= null,	-- id orígen
@lp_grldoccntobjtyp	as nvarchar(20)	= null,	-- tipo de contacto
@lp_grldoccntobjcod	as nvarchar(20)	= null,	-- id contacto
@lp_grldoccntobjtxt	as nvarchar(82)	= null,	-- descripción contacto
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_GrlDocCntAtr	as nvarchar(max)= null	-- atributos

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		INSERT INTO GRL_DOC_CNT	(BusCod, SysDocClsCodCnt, SrcObjTyp, SrcObjCod, GrlDocCntObjTyp, GrlDocCntObjCod, GrlDocCntObjTxt, docsts, cteusr, ctedte, GrlDocCntAtr)
		VALUES (@lp_buscod, @lp_sysdocclscodcnt,@lp_srcobjtyp, @lp_srcobjcod, @lp_grldoccntobjtyp,@lp_grldoccntobjcod,@lp_grldoccntobjtxt, @lp_docsts, @lp_username, getdate(), @lp_GrlDocCntAtr )  
		SET @lv_errcod = @@ERROR
		SET @lp_grldoccntcod= @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_grldoccntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_DOC_CNT 
		SET	SysDocClsCodCnt = @lp_sysdocclscodcnt,
			SrcObjTyp= @lp_srcobjtyp,
			SrcObjCod = @lp_srcobjcod,
			GrlDocCntObjTyp = @lp_grldoccntobjtyp,
			GrlDocCntObjCod = @lp_grldoccntobjcod,
			GrlDocCntObjTxt = @lp_grldoccntobjtxt,
			GrlDocCntAtr = @lp_GrlDocCntAtr,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and GrlDocCntCod = @lp_grldoccntcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_grldoccntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R	 ||    13  -  V E R  C O N T A B I L I Z A D O
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'



	BEGIN
		SET @lv_validop = 1

		select @lp_grldoccntobjtyp=grldoccntobjtyp from grl_doc_cnt dc where dc.buscod=@lp_buscod and dc.grldoccntcod=@lp_grldoccntcod

		set @lv_sql = 'SELECT  '
			+ ' dc.*, ct.SysDocClsTxt as "SysDocClsTxtCnt", a.*, al.lndtxt, alr.lndregtxt, tz.trazontxt, dz.adrzontxt, t.*,  f.taxcattxt, i.idttyptxt'
			+(CASE WHEN @lp_grldoccntobjtyp='BUY_SUP' THEN ', s.buysuponetme ' WHEN @lp_grldoccntobjtyp='SLS_CUS' THEN ', s.slscusonetme ' ELSE ' ' END) 
			+(CASE WHEN @lp_grldoccntobjtyp='BUY_SUP' THEN ', s.suptxt as srcobjtxt ' WHEN @lp_grldoccntobjtyp='SLS_CUS' THEN ', s.custxt as srcobjtxt ' ELSE ' ' END) 
			+ ' FROM grl_doc_cnt dc '
			--+ (CASE WHEN @lp_srcobjtyp='BUY_INV' THEN ' inner join BUY_INV s on s.BusCod=dc.buscod and s.BuyInvCod=dc.srcobjcod ' ELSE '' END)
			--+ (CASE WHEN @lp_srcobjtyp='SLS_INV' THEN ' inner join SLS_INV s on s.BusCod=dc.buscod and s.SlsInvCod=dc.srcobjcod ' ELSE '' END)
			+ (CASE WHEN @lp_grldoccntobjtyp='BUY_SUP' THEN ' inner join BUY_SUP s on s.BusCod=dc.buscod and s.supcod=dc.grldoccntobjcod ' ELSE '' END)
			+ (CASE WHEN @lp_grldoccntobjtyp='SLS_CUS' THEN ' inner join SLS_CUS s on s.BusCod=dc.buscod and s.cuscod=dc.grldoccntobjcod ' ELSE '' END)
			+ ' left join GRL_DAT_ADR a on a.BusCod=dc.buscod and a.AdrSrcCod=CAST(dc.grldoccntcod AS nvarchar(20)) '
			+ ' left join GRL_DAT_LND al on al.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG alr on alr.lndcod=a.lndcod and alr.lndregcod=a.lndregcod '
			+ ' left join log_tra_zon tz on tz.buscod=a.buscod and tz.trazoncod=a.trazoncod '
			+ ' LEFT JOIN GRL_DAT_ZON dz on dz.buscod=a.BusCod and dz.adrzoncod=a.adrzoncod '
			+ ' left join GRL_DAT_TAX t on t.BusCod=dc.buscod and t.TaxSrcCod=CAST(dc.grldoccntcod AS nvarchar(20)) '
			+ ' left join FIN_TAX_CAT f on f.lndcod=t.lndcod and f.taxcatcod=t.taxcatcod '
			+ ' left join ADM_IDT_TYP i on i.LndCod=t.LndCod and i.IdtTypCod=t.TaxDocTyp '
			+ ' inner join SYS_DOC_CLS ct on ct.BusCod=dc.buscod and ct.SysDocClsCod=dc.SysDocClsCodCnt '
			+ ' WHERE dc.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dc.grldoccntcod='+QUOTENAME(@lp_grldoccntcod,'''')
			+ ' and a.adrsrctyp='+QUOTENAME('GRL_DOC_CNT','''')
			+ ' and t.taxsrctyp='+QUOTENAME('GRL_DOC_CNT','''')
			
		execute( @lv_sql )
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
			DELETE 
			FROM GRL_DOC_CNT
			WHERE buscod = @lp_buscod
			  and GrlDocCntCod = @lp_grldoccntcod
			SET @lv_errcod=@@ERROR
		
			IF @lv_errcod = 0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN
		
		SELECT @lp_grldoccntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- --------------------------------------------------------------------------------
--   0 8  -   L I S T A R	||  1 8  -   L I S T A R  C O N T A B I L I Z A D O
-- --------------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SET @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dc.*, ct.SysDocClsTxt as "SysDocClsTxtCnt", a.*, al.lndtxt, alr.lndregtxt, tz.trazontxt, dz.adrzontxt, t.*,  f.taxcattxt, i.idttyptxt'+(CASE WHEN @lp_grldoccntobjtyp='BUY_SUP' THEN ', s.buysuponetme ' WHEN @lp_grldoccntobjtyp='SLS_CUS' THEN ', s.slscusonetme ' ELSE '' END) 
			+ ' FROM grl_doc_cnt dc '
			--+ (CASE WHEN @lp_srcobjtyp='BUY_INV' THEN ' inner join BUY_INV s on s.BusCod=dc.buscod and s.BuyInvCod=dc.srcobjcod ' ELSE '' END)
			--+ (CASE WHEN @lp_srcobjtyp='SLS_INV' THEN ' inner join SLS_INV s on s.BusCod=dc.buscod and s.SlsInvCod=dc.srcobjcod ' ELSE '' END)
			+ (CASE WHEN @lp_grldoccntobjtyp='BUY_SUP' THEN ' inner join BUY_SUP s on s.BusCod=dc.buscod and s.supcod=dc.grldoccntobjcod ' ELSE '' END)
			+ (CASE WHEN @lp_grldoccntobjtyp='SLS_CUS' THEN ' inner join SLS_CUS s on s.BusCod=dc.buscod and s.cuscod=dc.grldoccntobjcod ' ELSE '' END)
			+ ' left join GRL_DAT_ADR a on a.BusCod=dc.buscod and a.AdrSrcCod=CAST(dc.grldoccntcod AS nvarchar(20)) '
			+ ' left join GRL_DAT_LND al on al.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG alr on alr.lndcod=a.lndcod and alr.lndregcod=a.lndregcod '
			+ ' left join log_tra_zon tz on tz.buscod=a.buscod and tz.trazoncod=a.trazoncod '
			+ ' LEFT JOIN GRL_DAT_ZON dz on dz.buscod=a.BusCod and dz.adrzoncod=a.adrzoncod '
			+ ' left join GRL_DAT_TAX t on t.BusCod=dc.buscod and t.TaxSrcCod=CAST(dc.grldoccntcod AS nvarchar(20)) '
			+ ' left join FIN_TAX_CAT f on f.lndcod=t.lndcod and f.taxcatcod=t.taxcatcod '
			+ ' left join ADM_IDT_TYP i on i.LndCod=t.LndCod and i.IdtTypCod=t.TaxDocTyp '
			+ ' inner join SYS_DOC_CLS ct on ct.BusCod=dc.buscod and ct.SysDocClsCod=dc.SysDocClsCodCnt '
			+ ' WHERE dc.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dc.srcobjtyp='+QUOTENAME(@lp_srcobjtyp,'''')
			+ ' and dc.srcobjcod='+QUOTENAME(@lp_srcobjcod,'''')
			+ ' and dc.grldoccntobjtyp='+QUOTENAME(@lp_grldoccntobjtyp,'''')
			+ ' and dc.grldoccntobjcod='+QUOTENAME(@lp_grldoccntobjcod,'''')
			+ ' and a.adrsrctyp='+QUOTENAME('GRL_DOC_CNT','''')
			+ ' and t.taxsrctyp='+QUOTENAME('GRL_DOC_CNT','''')
 		SET @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		SET @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' dc.GrlDocCntCod ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		EXECUTE( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
