USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DOC_FLW_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DOC_FLW_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃƒÂ³n
@lp_username 		as nvarchar(20),			-- operaciÃƒÂ³n - usuario
@lp_buscod			as nvarchar(20) = null,		-- empresa
@lp_docflwposcod	as int			= null,		-- id
@lp_srcobjtyp		as nvarchar(20) = null,		-- doc referenciado - tipo
@lp_srcobjcod		as int			= null,		-- doc referenciado - id
@lp_srcposcod		as int			= null,		-- doc referenciado - id posiciÃƒÂ³n
@lp_srcposqty		as bigint		= null,		-- cantidad
@lp_srcuntcod		as nvarchar(05)	= null,		-- unidad de medida
@lp_docsts			as nvarchar(2)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃƒÂ³n vista

@lp_errcod			as int			= null	OUTPUT,
@lp_errtxt			as nvarchar(max)=null	OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_refposqty as decimal(13,3)
declare @lv_srcposqty as decimal(13,3) = dbo.ConvertNumber( @lp_srcposqty , 3 )

declare @lv_sql as nvarchar(max)
set @lp_errcod=0
set @lp_errtxt=''

declare @lv_srcobjtyp as nvarchar(20)
declare @lv_srcobjcod as nvarchar(20)
declare @lv_srcposcod as nvarchar(20)
declare @lv_cncqty as bigint



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		
		-- valido que la cabecera no exista
		if exists(select top 1 * from GRL_DOC_FLW_POS where BusCod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and SrcPosCod=@lp_srcposcod and ISNULL(refobjtyp,'')='')
			return

		-- agrego la cabecera
		INSERT INTO GRL_DOC_FLW_POS (BusCod, SrcObjTyp, SrcObjCod, SrcPosCod, srcposqty, RefPosQty, RefPosUntCod, DocSts, CteDte, CteUsr)
		VALUES (@lp_buscod, @lp_srcobjtyp, @lp_srcobjcod, @lp_srcposcod, @lv_srcposqty, @lv_srcposqty, @lp_srcuntcod, @lp_docsts, getdate(), @lp_username)
		set @lp_errcod=@@ERROR

		return
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
   
    declare @lv_iscnc as nvarchar(1)
    -- cantidad restante a referenciar, considerando cÃ³mo se obtiene la cantidad referenciada (por variable o por suma)
    declare @lv_resqty as decimal(13,3) = (select top 1 
                                           (case when @lv_srcposqty is not null then ISNULL(RefPosQty, 0) else srcposqty end) 
                                           FROM GRL_DOC_FLW_POS 
                                           WHERE buscod=@lp_buscod 
                                           	and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and srcposcod=@lp_srcposcod and isnull(refobjtyp,'')='')
		
		-- obtengo cantidades ya referenciadas
    SELECT @lv_refposqty = CASE 
    												WHEN @lp_srcposqty IS NOT NULL THEN @lv_srcposqty
    												ELSE (SELECT sum(ISNULL(refposqty, 0)) FROM GRL_DOC_FLW_POS WHERE buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and srcposcod=@lp_srcposcod and not isnull(refobjtyp,'')='')
                           END
    
    -- reviso si es una cancelaciÃ³n
    SELECT @lv_iscnc = dbo.gettagvalue('cncref', dc.sysdocclsatr) FROM GRL_DOC_FLW_POS p LEFT JOIN SYS_DOC_CLS dc ON p.buscod = dc.buscod AND p.refobjclscod = dc.sysdocclscod
    WHERE p.buscod=@lp_buscod
      and p.srcobjtyp=@lp_srcobjtyp
      and p.srcobjcod=@lp_srcobjcod
      and p.srcposcod=@lp_srcposcod
    SET @lp_errcod = @@ERROR
    
    
    BEGIN TRAN
      -- si la es, actualizo tambiÃ©n las cantidades del documento previo al reciÃ©n referenciado
			IF @lv_iscnc = 'X' AND @lp_docsts = 'C'
      	BEGIN
          SELECT @lv_srcobjcod=srcobjcod, @lv_srcobjtyp=srcobjtyp from GRL_DOC_FLW_POS where buscod=@lp_buscod and refobjtyp=@lp_srcobjtyp and refobjcod=@lp_srcobjcod and refposcod=@lp_srcposcod
          UPDATE GRL_DOC_FLW_POS
          SET RefPosQty = (CASE
                              WHEN ISNULL(RefPosQty, 0) + ISNULL(@lv_refposqty, 0) <= SrcPosQty THEN ISNULL(RefPosQty, 0) + ISNULL(@lv_refposqty, 0)
                              WHEN ISNULL(RefPosQty, 0) + ISNULL(@lv_refposqty, 0) > SrcPosQty THEN SrcPosQty
                          END)
          WHERE buscod = @lp_buscod
          	AND srcobjtyp = @lv_srcobjtyp
            AND srcobjcod = @lv_srcobjcod                
            AND ISNULL(refobjtyp, '') = ''
          SET @lp_errcod = @@ERROR
    		END
      ELSE
      	BEGIN
          -- actualizo las cantidades del documento reciÃ©n referenciado
        	UPDATE GRL_DOC_FLW_POS
        	SET RefPosQty = (CASE 
                              WHEN @lv_resqty - ISNULL(@lv_refposqty, 0) >= 0 THEN @lv_resqty - ISNULL(@lv_refposqty, 0)
                              WHEN @lv_resqty - ISNULL(@lv_refposqty, 0) < 0 THEN 0
                           END)
          WHERE buscod = @lp_buscod
            AND srcobjtyp = @lp_srcobjtyp
            AND srcobjcod = @lp_srcobjcod
            AND srcposcod = @lp_srcposcod                 
            AND ISNULL(refobjtyp, '') = ''
          SET @lp_errcod = @@ERROR
          SET @lv_srcobjcod=@lp_srcobjcod
          SET @lv_srcobjtyp=@lp_srcobjtyp
        END

      if @lp_errcod=0
      	EXEC GRL_DOC_FLW_POS_DEF '12',@lp_username,@lp_buscod,null,@lv_srcobjtyp,@lv_srcobjcod,null,null,null,null,null,null,null,null,null,null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT
    
  	if @lp_errcod=0
			COMMIT TRAN
	  ELSE
			ROLLBACK TRAN
    return
  END



-- ------------------------------------------------------------------------
--   0 3     -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 1 fp.*
		FROM GRL_DOC_FLW_POS fp
		WHERE fp.buscod = @lp_buscod
		  and fp.srcobjtyp = @lp_srcobjtyp
		  and fp.srcobjcod = @lp_srcobjcod
		  and fp.srcposcod = @lp_srcposcod
		  and isnull(fp.RefObjTyp,'')=''
		
	END
  
  
  
-- ------------------------------------------------------------------------
--   04   -    B O R R A R	D O C U M E N T O
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- verifico si se puede borrar la referencia
		if exists(select top 1 * from GRL_DOC_FLW_POS where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and not isnull(refobjtyp,'')='')
			begin
				set @lp_errcod = -10
				set @lp_errtxt = 'No se puede borrar el documento. Existen documentos relacionados.'
				return
			end

		-- obtengo las cantidades referenciadas
		select buscod, srcobjtyp, srcobjcod, srcposcod, refposqty 
		into #tmp_data_24
		from grl_doc_flw_pos 
		where buscod=@lp_buscod 
		  and refobjtyp=@lp_srcobjtyp 
		  and refobjcod=@lp_srcobjcod
  	
    -- reviso si es una cancelacion
    if @lp_errcod=0
    	SELECT @lv_iscnc = dbo.gettagvalue('cncref', dc.sysdocclsatr) FROM GRL_DOC_FLW_POS p LEFT JOIN SYS_DOC_CLS dc ON p.buscod = dc.buscod AND p.refobjclscod = dc.sysdocclscod
      WHERE p.buscod=@lp_buscod
        and p.refobjtyp=@lp_srcobjtyp
        and p.refobjcod=@lp_srcobjcod

		-- borro los registros de referencia
		IF @lp_errcod=0
			BEGIN
				DELETE
				FROM grl_doc_flw_pos
				WHERE buscod=@lp_buscod
				  and refobjtyp=@lp_srcobjtyp
				  and refobjcod=@lp_srcobjcod
				SET @lp_errcod=@@ERROR
			END

		-- se actualiza la cantidad de la posicion original sumando las cantidades de las posiciones que se estan borrando
		if @lp_errcod=0
			BEGIN
				UPDATE f
				SET f.refposqty = f.refposqty + x.refposqty
				from grl_doc_flw_pos f
				inner join #tmp_data_24 x on x.buscod=f.buscod and x.srcobjtyp=f.srcobjtyp and x.srcobjcod=f.srcobjcod and x.srcposcod=f.srcposcod
				WHERE f.buscod=@lp_buscod
				  and isnull(f.refobjtyp,'')=''
				SET @lp_errcod=@@ERROR
			END
    
    -- si es una cancelaciÃ³n, le resto la cantidad cancelada/devuelta al documento de origen    
    if  (@lv_iscnc = 'X')
    BEGIN
    	SELECT @lv_srcposcod = f.srcposcod
      from grl_doc_flw_pos f
      inner join #tmp_data_24 x on x.buscod=f.buscod and x.srcobjtyp=f.refobjtyp and x.srcobjcod=f.refobjcod and x.srcposcod=f.refposcod
      WHERE f.buscod=@lp_buscod
        
      UPDATE f
      SET f.refposqty = f.refposqty - x.refposqty
      from grl_doc_flw_pos f 
      inner join #tmp_data_24 x on x.buscod=f.buscod
      WHERE f.buscod=@lp_buscod
      	and f.srcposcod = @lv_srcposcod
      	and isnull(f.refobjtyp,'')=''
      SET @lp_errcod=@@ERROR
    END
    
		-- si la posicion original ya no tiene referencias, se borra la posicion de la tabla
		IF @lp_errcod=0
			BEGIN
				DELETE f 
				from grl_doc_flw_pos f
				inner join #tmp_data_24 x on x.buscod=f.buscod and x.srcobjtyp=f.srcobjtyp and x.srcobjcod=f.srcobjcod and x.srcposcod=f.srcposcod
				WHERE f.buscod=@lp_buscod
				  and isnull(f.RefObjTyp,'')=''
				  and not exists(select top 1 * from grl_doc_flw_pos xf where xf.buscod=f.buscod and xf.srcObjTyp=f.srcobjtyp and xf.srcobjcod=f.srcobjcod and xf.srcposcod=f.srcposcod and not isnull(xf.RefObjTyp,'')='')
				SET @lp_errcod=@@ERROR
			END

		-- actualizo el status de tratamiento de todos los documentos referenciados
		IF @lp_errcod=0
			BEGIN
				declare @lv_errcod as int = 0
				declare @lv_errtxt as nvarchar(400) = ''
				declare lc_doc cursor for select distinct srcobjtyp, srcobjcod from #tmp_data_24
				open lc_doc
				fetch next from lc_doc into @lv_srcobjtyp, @lv_srcobjcod
				while @@FETCH_STATUS=0
					begin
						EXEC GRL_DOC_FLW_POS_DEF '24',@lp_username,@lp_buscod,null,@lv_srcobjtyp,@lv_srcobjcod,null,null,null,null,null,null,null,null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT						
						-- FALTA: ver que se hace en el caso de que haya ocurrido algun error
						fetch next from lc_doc into @lv_srcobjtyp, @lv_srcobjcod
					end
				close lc_doc
				deallocate lc_doc
			end
		
	END



-- ------------------------------------------------------------------------
--   0 5    -    A R B O L    D E    D O C U M E N T O S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='05'
	BEGIN
		SET @lv_validop = 1    

		-- GRL_DOC_FLW_DEF '05','TEMASIS','TEMASIS_LOG', null, 'SLS_ORD','879'
		declare @lv_refobjtyp as nvarchar(20)
		declare @lv_refobjcod as int

		SELECT buscod, srcobjtyp, srcobjcod, refobjtyp, refobjcod, cast(null as int) as nivel, cast(null as int) as verificado
		into #tmp_out
		FROM GRL_DOC_FLW_POS
		where 1=2

		-- 0) agrego a la salida el documento actual
    IF exists(SELECT TOP 1 * FROM GRL_DOC_FLW_POS WHERE buscod=@lp_buscod AND srcobjtyp=@lp_srcobjtyp AND srcobjcod=@lp_srcobjcod) OR exists(SELECT TOP 1 * FROM GRL_DOC_FLW_POS WHERE buscod=@lp_buscod AND refobjtyp=@lp_srcobjtyp AND refobjcod=@lp_srcobjcod)
      INSERT INTO #tmp_out( buscod, srcobjtyp, srcobjcod, refobjtyp, refobjcod, nivel, verificado) 
      VALUES(@lp_buscod, @lp_srcobjtyp, @lp_srcobjcod, @lp_srcobjtyp, @lp_srcobjcod, 0, 0)
    ELSE
    	BEGIN
        SET @lp_errcod = -10
        SET @lp_errtxt = 'El documento seleccionado no existe o fue eliminado.'
        SELECT @lp_errcod as errcod, @lp_errtxt as errtxt
        return
			END
      
		-- cargo documentos siguientes
		declare @i as int = 1
		while exists(select top 1 * from #tmp_out where verificado=0) and @i<10
			begin
				select top 1 @lv_srcobjtyp=srcobjtyp, @lv_srcobjcod=srcobjcod, @lv_refobjtyp=refobjtyp, @lv_refobjcod=refobjcod, @i=nivel+1 from #tmp_out where verificado=0
				insert into #tmp_out( buscod, srcobjtyp, srcobjcod, refobjtyp, refobjcod, nivel, verificado)
				select distinct buscod, srcobjtyp, srcobjcod, refobjtyp, refobjcod, @i, 0 
				from grl_doc_flw_pos where buscod=@lp_buscod and srcobjtyp=@lv_refobjtyp and srcobjcod=@lv_refobjcod and refobjtyp is not null
				update #tmp_out set verificado=1 where srcobjtyp=@lv_srcobjtyp and srcobjcod=@lv_srcobjcod and refobjtyp=@lv_refobjtyp and refobjcod=@lv_refobjcod
				set @i=@i+1
			end
		update #tmp_out set verificado=1

		-- cargo documentos previos
		set @i = -1
		update #tmp_out set verificado=0 where srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and refobjtyp=@lp_srcobjtyp and refobjcod=@lp_srcobjcod
		while exists(select top 1 * from #tmp_out where verificado=0) and @i>-10
			begin
				select top 1 @lv_srcobjtyp=srcobjtyp, @lv_srcobjcod=srcobjcod, @lv_refobjtyp=refobjtyp, @lv_refobjcod=refobjcod from #tmp_out where verificado=0
				insert into #tmp_out( buscod, srcobjtyp, srcobjcod, refobjtyp, refobjcod, nivel, verificado)
				select distinct buscod, srcobjtyp, srcobjcod, refobjtyp, refobjcod, @i, 0 
				from grl_doc_flw_pos where buscod=@lp_buscod and refobjtyp=@lv_srcobjtyp and refobjcod=@lv_srcobjcod
				update #tmp_out set verificado=1 where srcobjtyp=@lv_srcobjtyp and srcobjcod=@lv_srcobjcod and refobjtyp=@lv_refobjtyp and refobjcod=@lv_refobjcod
				set @i=@i-1
			end
		update #tmp_out set verificado=1

		select * from #tmp_out order by nivel

	end 



-- ----------------------------------------------------------------------------
--   0 6    -    M O D I F I C A R			T O T A L			R E F E R E N C I A B L E
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='06'
	BEGIN
		SET @lv_validop = 1    
    
    -- recupero cantidad total ya referenciada para la posiciÃ³n src
    SET @lv_refposqty = ISNULL((SELECT sum(ISNULL(refposqty, 0)) FROM GRL_DOC_FLW_POS WHERE buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and srcposcod=@lp_srcposcod and not isnull(refobjtyp,'')=''), 0)
    
    -- aseguro limitar el cambio de srcposqty solo si hay referencias, si no no es necesario limitar
    IF not isnull(@lv_refposqty,0)=0 and @lv_srcposqty < @lv_refposqty
			BEGIN
    		set @lp_errcod = -13
				set @lp_errtxt = 'No se puede bajar a '+convert(varchar,@lv_srcposqty)+' la cantidad de la posiciÃ³n '+convert(varchar,@lp_srcposcod)+'. Existen referencias de cantidad total a '+convert(varchar,@lv_refposqty)+'.'
				return
    	END
      
    UPDATE GRL_DOC_FLW_POS
    SET	srcposqty = @lv_srcposqty
  		, refposqty = @lv_srcposqty - @lv_refposqty
    where buscod = @lp_buscod
    	and srcobjtyp = @lp_srcobjtyp
      and srcobjcod = @lp_srcobjcod
      and srcposcod = @lp_srcposcod
      and refobjtyp is null
    set @lp_errcod=@@ERROR
    
    if @lp_errcod=0
      	EXEC GRL_DOC_FLW_POS_DEF '12',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,null,null,null,null,null,null,null,null,null,null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT
    
	END
  
  
  
-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' fp.* ', ' grl_doc_flw_pos fp ', ' fp.buscod='+QUOTENAME(@lp_buscod,''''), default, default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   5 0    -    R E G U L A R I Z A    R E F E R E N C I A S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '50'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		update fp set fp.SrcPosQty=bi.matqty
		--, fp.RefPosQty=bi.matqty 
		from GRL_DOC_FLW_POS fp
		inner join BUY_ORD_MAT bi on bi.BusCod=fp.BusCod and bi.BuyOrdCod=fp.SrcObjCod and bi.BuyOrdMatCod=fp.SrcPosCod
		where (fp.srcObjTyp='BUY_ORD' or fp.srcObjTyp='BUY_REQ') and not bi.MatQty=fp.SrcPosQty

		UPDATE fp set fp.RefPosQty=bi.MatQty from grl_doc_flw_pos fp
		inner join BUY_ORD_MAT bi on bi.BusCod=fp.BusCod and bi.BuyOrdCod=fp.RefObjCod and bi.BuyOrdMatCod=fp.RefPosCod
		where (fp.RefObjTyp='BUY_ORD' or fp.RefObjTyp='BUY_ORD') and not fp.RefPosQty=bi.MatQty

		update fp set fp.SrcPosQty=bi.matqty
		--, fp.RefPosQty=bi.matqty 
		from GRL_DOC_FLW_POS fp
		inner join BUY_INV_MAT bi on bi.BusCod=fp.BusCod and bi.BuyInvCod=fp.SrcObjCod and bi.BuyInvMatCod=fp.SrcPosCod
		where (fp.srcObjTyp='BUY_INV' or fp.srcObjTyp='BUY_CRE' or fp.srcObjTyp='BUY_DEB') and not bi.MatQty=fp.SrcPosQty

		UPDATE fp set fp.RefPosQty=bi.MatQty from grl_doc_flw_pos fp
		inner join BUY_INV_MAT bi on bi.BusCod=fp.BusCod and bi.BuyInvCod=fp.RefObjCod and bi.BuyInvMatCod=fp.RefPosCod
		where (fp.RefObjTyp='BUY_INV' or fp.RefObjTyp='BUY_CRE' or fp.RefObjTyp='BUY_DEB') and not fp.RefPosQty=bi.MatQty

		update fp set fp.SrcPosQty=bi.matqty
		--, fp.RefPosQty=bi.matqty 
		from GRL_DOC_FLW_POS fp
		inner join SLS_ORD_MAT bi on bi.BusCod=fp.BusCod and bi.SlsOrdCod=fp.SrcObjCod and bi.SlsOrdMatCod=fp.SrcPosCod
		where (fp.srcObjTyp='SLS_ORD' or fp.srcObjTyp='SLS_QTA') and not bi.MatQty=fp.SrcPosQty

		UPDATE fp set fp.RefPosQty=bi.MatQty from grl_doc_flw_pos fp
		inner join SLS_ORD_MAT bi on bi.BusCod=fp.BusCod and bi.SlsOrdCod=fp.RefObjCod and bi.SlsOrdMatCod=fp.RefPosCod
		where (fp.RefObjTyp='SLS_ORD' or fp.RefObjTyp='SLS_QTA') and not fp.RefPosQty=bi.MatQty

		update fp set fp.SrcPosQty=bi.matqty
		--, fp.RefPosQty=bi.matqty 
		from GRL_DOC_FLW_POS fp
		inner join SLS_INV_MAT bi on bi.BusCod=fp.BusCod and bi.SlsInvCod=fp.SrcObjCod and bi.SlsInvMatCod=fp.SrcPosCod
		where (fp.srcObjTyp='SLS_INV' or fp.srcObjTyp='SLS_CRE' or fp.srcObjTyp='SLS_DEB') and not bi.MatQty=fp.SrcPosQty

		UPDATE fp set fp.RefPosQty=bi.MatQty from grl_doc_flw_pos fp
		inner join SLS_INV_MAT bi on bi.BusCod=fp.BusCod and bi.SlsInvCod=fp.RefObjCod and bi.SlsInvMatCod=fp.RefPosCod
		where (fp.RefObjTyp='SLS_INV' or fp.RefObjTyp='SLS_CRE' or fp.RefObjTyp='SLS_DEB') and not fp.RefPosQty=bi.MatQty

		update fp set fp.SrcPosQty=bi.matqty
		--, fp.RefPosQty=bi.matqty 
		from GRL_DOC_FLW_POS fp
		inner join STK_MOV_DOC_MAT bi on bi.BusCod=fp.BusCod and bi.StkMovDocCod=fp.SrcObjCod and bi.StkMovDocMatCod=fp.SrcPosCod
		where (fp.srcObjTyp='STK_SOU' or fp.srcObjTyp='STK_SIN') and not bi.MatQty=fp.SrcPosQty

		UPDATE fp set fp.RefPosQty=bi.MatQty from grl_doc_flw_pos fp
		inner join STK_MOV_DOC_MAT bi on bi.BusCod=fp.BusCod and bi.StkMovDocCod=fp.RefObjCod and bi.StkMovDocMatCod=fp.RefPosCod
		where (fp.RefObjTyp='STK_SOU' or fp.RefObjTyp='STK_SIN') and not fp.RefPosQty=bi.MatQty

		COMMIT TRAN

		--declare @lp_buscod as nvarchar(20) = 'TEMASIS'
		--declare @lp_username as nvarchar(20) = ' TEMASIS'
		--declare @lv_srcobjtyp as nvarchar(20)
		--declare @lv_srcobjcod as nvarchar(20)
		--declare @lv_srcposcod as nvarchar(20)
		--declare @lv_srcposqty as decimal(13,3)
		declare lc_cur cursor for select srcobjtyp, SrcObjCod, srcposcod, srcposqty*1000 
			from GRL_DOC_FLW_POS 
			where buscod=@lp_buscod 
			  and isnull(refobjtyp,'')=''
				and ctedte>=dateadd(day,-90,getdate()) --ultimos 90 dÃ­as
		open lc_cur
		fetch next from lc_cur into @lv_srcobjtyp, @lv_srcobjcod, @lv_srcposcod, @lv_srcposqty
		while @@FETCH_STATUS=0
			begin
      	set @lv_srcposqty = @lv_srcposqty * 1000
				exec GRL_DOC_FLW_DEF '02',@lp_username,@lp_buscod,null,@lv_srcobjtyp,@lv_srcobjcod,@lv_srcposcod,@lv_srcposqty
				if @lv_srcobjtyp='BUY_REQ' or @lv_srcobjtyp='BUY_ORD'
					exec BUY_ORD_DEF '32',lp_username,@lp_buscod,@lv_srcobjcod
				if @lv_srcobjtyp='BUY_INV' or @lv_srcobjtyp='BUY_CRE' or @lv_srcobjtyp='BUY_DEB'
					exec BUY_INV_DEF '32',lp_username,@lp_buscod,@lv_srcobjcod
				if @lv_srcobjtyp='SLS_QTA' or @lv_srcobjtyp='SLS_ORD'
					exec SLS_ORD_DEF '32',lp_username,@lp_buscod,@lv_srcobjcod
				if @lv_srcobjtyp='SLS_INV' or @lv_srcobjtyp='SLS_CRE' or @lv_srcobjtyp='SLS_DEB'
					exec SLS_INV_DEF '32',lp_username,@lp_buscod,@lv_srcobjcod
				if @lv_srcobjtyp='STK_SOU' or @lv_srcobjtyp='STK_SIN'
					exec STK_MOV_DOC_DEF '32',lp_username,@lp_buscod,@lv_srcobjcod

				fetch next from lc_cur into @lv_srcobjtyp, @lv_srcobjcod, @lv_srcposcod, @lv_srcposqty
			end
		close lc_cur
		deallocate lc_cur

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN
		set @lp_errcod = -999
		set @lp_errtxt = 'El cÃƒÂ³digo de operaciÃƒÂ³n <'+@lp_sysoperation+'> no es vÃƒÂ¡lido'
		print @lp_errtxt
		return
	END
GO
