USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_LOC_ARG_CAI_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_LOC_ARG_CAI_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),					 -- empresa
@lp_argcaicod		as int			= null,	       -- id 
@lp_slsposcod		as int			= null,	       -- id punto de venta 
@lp_sysdocclscod	as int			= null,	     -- id clase documento 
@lp_argltrcodext	as nvarchar(02) = null,	 -- letra 
@lp_argcaicodext	as nvarchar(20) = null,	 -- codigo de autorizacion 
@lp_argcaiduedte	as nvarchar(14)	= null,	 -- fecha de vencimiento 
@lp_docsts			as nvarchar(02)	= null,	   -- estado 
@lp_vewcfg			as nvarchar(max)=null	-- config vista 

AS
 
SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_argcaiduedte as smalldatetime = dbo.ConvertDate( @lp_argcaiduedte )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(5) = 'ARCAI'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		IF exists(select ArgCaiCod from FIN_LOC_ARG_CAI where buscod=@lp_buscod and not ArgCaiCod=@lp_argcaicod and SlsPosCod=@lp_slsposcod and SysDocClsCod=@lp_sysdocclscod and ArgLtrCodExt = @lp_argltrcodext and ArgCaiDueDte = @lv_argcaiduedte)
				BEGIN
					SELECT null, -1 as errcod, 'Ya existe un registro con el mismo punto de venta, clase de documento, letra y vencimiento.' as errtxt
					RETURN
				END
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_LOC_ARG_CAI (buscod, slsposcod, sysdocclscod, argltrcodext, argcaicodext, ArgCaiDueDte,
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_slsposcod,@lp_sysdocclscod,@lp_argltrcodext,@lp_argcaicodext,@lv_argcaiduedte,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_argcaicod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_argcaicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		UPDATE FIN_LOC_ARG_CAI
		SET slsposcod=@lp_slsposcod,
			SysDocClsCod=@lp_sysdocclscod,
			argltrcodext=@lp_argltrcodext,
			argcaicodext=@lp_argcaicodext,
			argcaiduedte=@lv_argcaiduedte,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and argcaicod=@lp_argcaicod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_argcaicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R	(grupal)											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT i.*, dc.sysdocclstxt, sp.slspostxt, sp.slsposcodext, dc.sysdocclstxt, convert(varchar,i.argcaiduedte,103) as argcaiduedtecnv 
		 FROM FIN_LOC_ARG_CAI i 
		 left join SLS_POS sp on sp.buscod=i.buscod and sp.slsposcod=i.slsposcod 
		 left join SYS_DOC_CLS dc on dc.buscod=i.buscod and dc.sysdocclscod=i.sysdocclscod 
		WHERE i.buscod=@lp_buscod
		  and i.argcaicod=@lp_argcaicod
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		BEGIN TRAN
		DELETE 
		FROM FIN_LOC_ARG_CAI
		WHERE buscod = @lp_buscod
		  and argcaicod = @lp_argcaicod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
      
		SELECT @lp_argcaicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
    
		-- fin_loc_arg_cai_def '08','temasis','temasis_log' 
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' i.*, sp.slspostxt, sp.slsposcodext, dc.sysdocclstxt, convert(varchar,i.argcaiduedte,103) as argcaiduedtecnv ',
			' FIN_LOC_ARG_CAI i '
			+ ' left join SLS_POS sp on sp.buscod=i.buscod and sp.slsposcod=i.slsposcod '
			+ ' left join SYS_DOC_CLS dc on dc.buscod=i.buscod and dc.sysdocclscod=i.sysdocclscod ',
			' i.buscod='+QUOTENAME(@lp_buscod, ''''), default, default )
		execute( @lv_sql )
    
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
