USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_BNK_ACC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TSR_BNK_ACC_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_bnkacccod		as int			= null,		/* id cuenta */
@lp_bnkacccodext	as nvarchar(20) = null,     /* código externo */
@lp_bnkacctxt		as nvarchar(40) = null,		/* descripción */
@lp_docsts			as nvarchar(2)	= null,		/* estado */
@lp_curcod			as nvarchar(5)  = null,		/* moneda */

@lp_vewcfg			as nvarchar(4000)=null		/* configuración ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod=0

DECLARE @lv_sql as nvarchar(4000)

/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo externo existente.											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		/* valido codigo externo duplicado */
		if not isnull(@lp_bnkacccodext,'')=''
			begin
				IF exists(select top 1 * from TSR_BNK_ACC where buscod=@lp_buscod and not bnkacccod=@lp_bnkacccod and bnkacccodext=@lp_bnkacccodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END
	
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN			

		INSERT INTO tsr_bnk_acc (buscod, bnkacccodext, bnkacctxt, docsts, ctedte, cteusr, curcod)
		VALUES (@lp_buscod, @lp_bnkacccodext, @lp_bnkacctxt, @lp_docsts, getdate(), @lp_username, @lp_curcod)
		SET @lv_errcod=@@ERROR
		SET @lp_bnkacccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkacccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE tsr_bnk_acc
		SET bnkacctxt = @lp_bnkacctxt,
			bnkacccodext = @lp_bnkacccodext,
			docsts = @lp_docsts,
			curcod = @lp_curcod,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and bnkacccod = @lp_bnkacccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkacccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, b.bnktxt
		FROM tsr_bnk_acc a
		 left join GRL_DAT_BNK db on db.buscod=a.BusCod and db.BnkSrcTyp = 'TSR_BNA' and db.BnkSrcCod=BnkAccCod
		 left join tsr_bnk b on b.buscod=db.buscod and b.bnkcod=db.bnkcod
		WHERE a.buscod = @lp_buscod
		  and a.bnkacccod = @lp_bnkacccod

	END


/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* borro chequera */
		DELETE
		FROM tsr_bnk_chk
		WHERE buscod=@lp_buscod
		  and bnkacccod=@lp_bnkacccod
		SET @lv_errcod=@@ERROR

		/* borro cuenta */
		IF @lv_errcod=0
			BEGIN		
				DELETE
				FROM tsr_bnk_acc
				WHERE buscod = @lp_buscod
				  and bnkacccod = @lp_bnkacccod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkacccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.*, b.bnktxt, db.BnkBch+'+QUOTENAME('-','''')+'+cast(db.bnkaccnum as nvarchar(10)) as bnkacccod002 '
			+ ' FROM tsr_bnk_acc a '
			+ ' left join GRL_DAT_BNK db on db.buscod=a.BusCod and db.BnkSrcTyp = '+QUOTENAME('TSR_BNA','''')+' and db.BnkSrcCod=BnkAccCod ' 
			+ ' left join tsr_bnk b on b.buscod=db.buscod and b.bnkcod=db.bnkcod '
			+ ' WHERE a.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and a.docsts='+QUOTENAME('A','''')  end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

    END	
    


/* ------------------------------------------------------------------------ */
/*   1 3    -    L I S T A R    x    N U M E R O							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, b.bnktxt, db.BnkBch+'-'+cast(db.bnkaccnum as nvarchar(10)) as bnkacccod002
		FROM tsr_bnk_acc a
		  inner join GRL_DAT_BNK db on db.buscod=a.BusCod and db.BnkSrcTyp = 'TSR_BNA' and db.BnkSrcCod=BnkAccCod
		  inner join tsr_bnk b on b.buscod=a.buscod and b.bnkcod=db.bnkcod
		WHERE a.buscod = @lp_buscod
		  --and a.bnkaccbch+'-'+cast(db.bnkaccnum as nvarchar(10))=@lp_bnkacctxt
		  and a.docsts = 'A'

	END

	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
