USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_FRM_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_FRM_DEF]

@lp_sysoperation 		as nvarchar(4),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_frmdatcod			as int						= null,	-- id 
@lp_srcobjtyp			as nvarchar(20)		= null,	-- id tipo de objeto de origen 
@lp_srcobjcod001		as int						= null,	-- id de origen 1 
@lp_srcobjcod002		as int						= null,	-- id de origen 2 
@lp_sysdocfrmcod		as int						= null,	-- id formulario 
@lp_docsts 				as nvarchar(02)		= null,	-- estado 
@lp_frmdat  			as nvarchar(MAX)	= null, -- campos del formulario 

@lp_vewcfg				as nvarchar(MAX)	= null	-- configuracion ede la vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtyp nvarchar(2)
DECLARE @lv_errmsg nvarchar(400)
DECLARE @lv_errtxt nvarchar(400)
DECLARE @lv_errvar nvarchar(400)

declare @lv_sql as nvarchar(MAX)

declare @lv_i as INT = 0
declare @lv_row as nvarchar(max)
declare @lv_delete as nvarchar(max)
declare @lv_sysoperation as nvarchar(4)
DECLARE @lv_frmdatfldcod as INT
DECLARE @lv_frmdatfldcodext as nvarchar(20)
DECLARE @lv_frmdatval as nvarchar(max)
DECLARE @lv_frmdocfldcod as nvarchar(20)


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		-- agrega CABECERA
		INSERT INTO GRL_DAT_FRM (buscod, srcobjtyp, srcobjcod001, srcobjcod002, sysdocfrmcod, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_sysdocfrmcod, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_frmdatcod=@@IDENTITY

		-- agrega CAMPOS
		IF @lv_errcod=0
			begin
				select cast(null as int) as frmdatfldcod,
						cast(null as nvarchar(20)) as frmdatfldcodext,
						cast(null as nvarchar(max)) as frmdatval,
						cast(null as nvarchar(20)) as frmdocfldcod into #tmpFrmDat where 1=2

				set @lv_row = dbo.gettagvalue('row',@lp_frmdat)
				if not @lv_row=''
					begin
						set @lv_i = 0
						select cast(null as int) as frmdatfldcod,
								cast(null as nvarchar(20)) as frmdatfldcodext,
								cast(null as nvarchar(max)) as frmdatval,
								cast(null as nvarchar(20)) as frmdocfldcod into #tmpFrmDat12 where 1=2
						while not @lv_row='' and @lv_i<500 and @lv_errcod=0
							begin
								insert into #tmpFrmDat12 (frmdatfldcod, frmdatfldcodext, frmdatval, frmdocfldcod) 
								values( dbo.gettagvalue('frmdatfldcod',@lv_row), dbo.gettagvalue('frmdatfldcodext',@lv_row), dbo.gettagvalue('frmdatval',@lv_row), dbo.gettagvalue('frmdocfldcod',@lv_row) )
								set @lp_frmdat = substring(@lp_frmdat,len(@lv_row)+12,len(@lp_frmdat)-len(@lv_row)-10)
								set @lv_row = dbo.gettagvalue('row',@lp_frmdat)
								set @lv_i = @lv_i + 1
							end
						insert into #tmpFrmDat select * from #tmpFrmDat12
					end
				else
					begin
						if isnull(@lp_frmdat,'')=''
							set @lp_frmdat = '[]'

						-- cargo JSON como tabla
						select * into #tmpFrmDat13 from OPENJSON(@lp_frmdat) WITH (
							frmdatfldcod int '$.frmdatfldcod',
							frmdatfldcodext nvarchar(20) '$.frmdatfldcodext',
							frmdatval nvarchar(max) '$.frmdatval',
							frmdocfldcod nvarchar(20) '$.frmdocfldcod')

						update #tmpFrmDat13
            set frmdatval = ''
            where frmdatval is null
            
						insert into #tmpFrmDat select * from #tmpFrmDat13
					end

				insert into GRL_DAT_FRM_FLD (BusCod, FrmDatFldCodExt, FrmDatCod, FrmDatVal, FrmDocFldCod, DocSts, CteDte, CteUsr)
				select @lp_buscod, frmdatfldcodext, @lp_frmdatcod, isnull(frmdatval,''), frmdocfldcod, 'A', GETDATE(), @lp_username
				from #tmpFrmDat
				SET @lv_errcod=@@ERROR 

			END
      
		-- actualizo definicion de campo si falta
		update ff
		set ff.FrmDocFldCod=sf.sysdocfrmfldcod
		from GRL_DAT_FRM_FLD ff 
		inner join SYS_DOC_FRM_FLD sf on sf.BusCod=ff.BusCod and lower(sf.SysDocFrmFldCodExt)=lower(ff.FrmDatFldCodExt)
		where ff.BusCod=@lp_buscod
		  and ff.FrmDatCod=@lp_frmdatcod
		  and not isnull(ff.frmdatfldcodext,'')=''
		  and ISNULL(ff.frmdocfldcod,0)=0

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_frmdatcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE GRL_DAT_FRM 
		SET	docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and frmdatcod = @lp_frmdatcod
		SET @lv_errcod=@@ERROR

		-- actualiza/agrega CAMPOS
		IF @lv_errcod=0
			begin
				select cast(null as int) as frmdatfldcod,
						cast(null as nvarchar(20)) as frmdatfldcodext,
						cast(null as nvarchar(max)) as frmdatval,
						cast(null as nvarchar(20)) as frmdocfldcod into #tmpFrmDat2 where 1=2

				set @lv_row = dbo.gettagvalue('row',@lp_frmdat)
				if not @lv_row=''
					begin
						set @lv_i = 0
						select cast(null as int) as frmdatfldcod,
								cast(null as nvarchar(20)) as frmdatfldcodext,
								cast(null as nvarchar(max)) as frmdatval,
								cast(null as nvarchar(20)) as frmdocfldcod into #tmpFrmDat21 where 1=2
						while not @lv_row='' and @lv_i<500 and @lv_errcod=0
							begin
								insert into #tmpFrmDat21 (frmdatfldcod, frmdatfldcodext, frmdatval, frmdocfldcod) 
								values( dbo.gettagvalue('frmdatfldcod',@lv_row), dbo.gettagvalue('frmdatfldcodext',@lv_row), dbo.gettagvalue('frmdatval',@lv_row), dbo.gettagvalue('frmdocfldcod',@lv_row) )
								set @lp_frmdat = substring(@lp_frmdat,len(@lv_row)+12,len(@lp_frmdat)-len(@lv_row)-10)
								set @lv_row = dbo.gettagvalue('row',@lp_frmdat)
								set @lv_i = @lv_i + 1
							end
						insert into #tmpFrmDat2 select * from #tmpFrmDat21
					end
				else
					begin

						if isnull(@lp_frmdat,'')=''
							set @lp_frmdat = '[]'

						-- cargo JSON como tabla
						select * into #tmpFrmDat22 from OPENJSON(@lp_frmdat) WITH (
							frmdatfldcod int '$.frmdatfldcod',
							frmdatfldcodext nvarchar(20) '$.frmdatfldcodext',
							frmdatval nvarchar(max) '$.frmdatval',
							frmdocfldcod nvarchar(20) '$.frmdocfldcod')

						insert into #tmpFrmDat2 select * from #tmpFrmDat22
					end
		
				insert into GRL_DAT_FRM_FLD (BusCod, FrmDatFldCodExt, FrmDatCod, FrmDatVal, FrmDocFldCod, DocSts, CteDte, CteUsr)
				select @lp_buscod, frmdatfldcodext, @lp_frmdatcod, frmdatval, frmdocfldcod, 'A', GETDATE(), @lp_username
				from #tmpFrmDat2
				where isnull(frmdocfldcod,0)=0
				SET @lv_errcod=@@ERROR

				update x
				set frmdatval = isnull(xd.frmdatval,''),
					frmdatfldcodext = xd.frmdatfldcodext,
					upddte = getdate(),
					UpdUsr = @lp_username
				from grl_dat_frm_fld x
				inner join #tmpFrmDat2 xd on xd.frmdatfldcod=x.frmdatfldcod
				where x.BusCod=@lp_buscod 
				  and x.FrmDatCod=@lp_frmdatcod
		--		  and not isnull(frmdocfldcod,0)=0
			END

		-- actualizo definicion de campo si falta
		update ff
		set ff.FrmDocFldCod=sf.sysdocfrmfldcod
		from GRL_DAT_FRM_FLD ff 
		inner join SYS_DOC_FRM_FLD sf on sf.BusCod=ff.BusCod and lower(sf.SysDocFrmFldCodExt)=lower(ff.FrmDatFldCodExt)
		where ff.BusCod=@lp_buscod
		  and ff.FrmDatCod=@lp_frmdatcod
		  and not isnull(ff.frmdatfldcodext,'')=''
		  and ISNULL(ff.frmdocfldcod,0)=0

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_frmdatcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03'
	BEGIN
		SET @lv_validop = 1   

		-- GRL_DAT_FRM_DEF '03','MDOMINGUEZ','TEMASIS_LOG','393','CRM_CNT','1005','','44','','',''
		-- GRL_DAT_FRM_DEF '03','MDOMINGUEZ','TEMASIS_LOG','','CRM_CNT','1005','','44','','',''
		-- GRL_DAT_FRM_DEF '03','MDOMINGUEZ','TEMASIS_LOG','393'
		
		-- obtengo ID de formulario
		if isnull(@lp_frmdatcod,0)=0
			set @lp_frmdatcod = ( SELECT top 1 frmdatcod FROM GRL_DAT_FRM WHERE buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod001=@lp_srcobjcod001 and srcobjcod002=isnull(@lp_srcobjcod002,0) )

		-- obtengo campos del formulario
		--declare @lv_grldatfrmfld as nvarchar(max) = (select * from grl_dat_frm_fld where buscod=@lp_buscod and frmdatcod=@lp_frmdatcod for json path)

		-- obtengo archivos del formulario
		--declare @lv_grldatfrmfle as nvarchar(max) = (select * from grl_dat_fle where buscod=@lp_buscod and flesrctyp='GRL_FRM' and flesrccod=@lp_frmdatcod for json path)

		-- devuelvo datos del formulario
		SELECT * --, isnull(@lv_grldatfrmfld,'') as grldatfrmfld, isnull(@lv_grldatfrmfle,'') as grldatfrmfle
		FROM GRL_DAT_FRM
		WHERE buscod = @lp_buscod
		  and frmdatcod = @lp_frmdatcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04'
	BEGIN
		SET @lv_validop = 1
	
		BEGIN TRAN
		
		-- borro archivos del formulario
		DELETE
		FROM GRL_DAT_FLE
		WHERE buscod=@lp_buscod 
		  and FleSrcTyp='GRL_FRM'
		  and FleSrcCod=@lp_frmdatcod
		SET @lv_errcod=@@ERROR

		-- borro campos
		if @lv_errcod=0
			begin
				DELETE
				FROM GRL_DAT_FRM_FLD
				WHERE BusCod=@lp_buscod
				  and frmdatcod=@lp_frmdatcod
				SET @lv_errcod=@@ERROR
			end

		-- borro cabecera
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_FRM 
				WHERE buscod=@lp_buscod
				  and frmdatcod = @lp_frmdatcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_frmdatcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' df.* ',
			' GRL_DAT_FRM df ', 
			' df.buscod='+QUOTENAME(@lp_buscod,''''), 
			default, default )
		execute( @lv_sql )
	
	END


-- ------------------------------------------------------------------------ 
--   2 8    -    L I S T A R    C A M P O S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, 
			' ff.*, f.srcobjcod001, f.srcobjtyp, sff.sysdocfrmcod ', 
			' GRL_DAT_FRM f '
			+ ' inner join GRL_DAT_FRM_FLD ff on ff.buscod=f.buscod and ff.frmdatcod=f.frmdatcod'
			+ ' inner join SYS_DOC_FRM_FLD sff on sff.buscod=f.buscod and sff.sysdocfrmcod=f.sysdocfrmcod and sff.sysdocfrmfldcod=ff.frmdocfldcod'
			+ ' inner join SYS_DOC_FRM sf on sf.buscod=sff.buscod and sf.sysdocfrmcod=sff.sysdocfrmcod',
			'ff.buscod='+QUOTENAME(@lp_buscod,''''), 
			' ff.frmdatfldcod ', default)
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
