USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_ACC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_ACC_DEF]

@lp_sysoperation 	as nvarchar(02),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,			-- empresa
@lp_finacccod		as int			= null,					-- id
@lp_finacccodext	as nvarchar(20)	= null, 	-- codigo
@lp_finacctxt		as nvarchar(50)	= null,			-- descripcion
@lp_finaccclscod	as nvarchar(02)	= null,		-- id clasificacion
@lp_curcod			as nvarchar(05) = null, 		-- id moneda
@lp_finacctxtext	as nvarchar(250)	= null,	-- descripcion extendida 
@lp_docsts			as nvarchar(02)	= null,			-- estado
@lp_finaccatr		as nvarchar(max)=null,			-- atributos
@lp_vewcfg			as nvarchar(max)=null				-- configuraciÃ³n vista

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_validacion INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'ACC'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
  BEGIN
    IF not isnull(@lp_finacccodext,'')='' 
      BEGIN
        IF exists(select top 1 * from FIN_ACC where buscod=@lp_buscod and not finacccod=@lp_finacccod and finacccodext=@lp_finacccodext)
          BEGIN
            SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
            RETURN
          END
      END
  END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_ACC
			(buscod, finacccodext, finacctxt, finacctxtext, finaccclscod, curcod, finaccatr,
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_finacccodext, @lp_finacctxt, @lp_finacctxtext, @lp_finaccclscod, @lp_curcod, @lp_finaccatr,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_finacccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_finacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE FIN_ACC 
		SET	finacccodext=@lp_finacccodext,
			finacctxt=@lp_finacctxt,
			finacctxtext=@lp_finacctxtext,
      curcod=@lp_curcod,
			finaccatr=@lp_finaccatr,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and finacccod = @lp_finacccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_finacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, c.curtxt
		FROM FIN_ACC a
		left join ADM_CUR c on c.curcod=a.curcod 
		WHERE a.buscod = @lp_buscod
		  and a.finacccod = @lp_finacccod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE 
		FROM FIN_ACC
		WHERE buscod = @lp_buscod
		  and finacccod = @lp_finacccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_finacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.*, c.curtxt '
			+ '	FROM fin_acc a '
			+ ' left join adm_cur c on c.curcod=a.curcod '
			+ ' WHERE a.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and a.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
