USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_TCH_LQD_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EDU_TCH_LQD_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n 
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario 
@lp_buscod			as nvarchar(20) = null,		-- empresa 

@lp_edutchlqdcod	as int			= null,		-- id 
@lp_edutchlqdtxt	as nvarchar(50) = null,		-- descripcion 
@lp_edutchlqddte	as nvarchar(14) = null,		-- fecha 

@lp_edutchlqdstrdte	as nvarchar(14) = null,		-- fecha - inicio 
@lp_edutchlqdenddte	as nvarchar(14) = null,		-- fecha - fin 
@lp_tchcod			as int			= null,		-- prestador 

@lp_edutchlqdopnsrvids	as nvarchar(max)= null,	-- IDs de planificaciÃ³n 
@lp_edutchlqdopnexpids	as nvarchar(max)= null,	-- IDs de novedades 
@lp_docsts			as nvarchar(02)	= null,		-- estado 


@lp_vewcfg			as nvarchar(max)=null,		-- vista 
@lp_sysdocclscod	as int			= null,		-- clase de documento - ID 
@lp_edutchlqdatr001 as nvarchar(max)=null		-- atributos 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt as nvarchar(400) = ''

declare @lv_sql as nvarchar(max)

declare @lv_edutchlqddte as datetime = dbo.ConvertDate( @lp_edutchlqddte )
declare @lv_edutchlqdstrdte as datetime = dbo.ConvertDate( @lp_edutchlqdstrdte )
declare @lv_edutchlqdenddte as datetime = dbo.ConvertDate( @lp_edutchlqdenddte )
declare @lv_srcobjtyp as nvarchar(50) = 'EDU_PLN'


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQM'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
-- ------------------------------------------------------------------------ 
--   D E T E R M I N A    P R E C I O S    de    P R E S T A C I O N E S	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12' or @lp_sysoperation='33'
	BEGIN
	
		-- EDU_TCH_lqd_def '13','mdominguez','temasis_EDU','','','','20181001000000','20181031000000','3' 

		-- 1. convierto IDs en tabla de servicios 
		set @lp_edutchlqdopnsrvids = isnull(@lp_edutchlqdopnsrvids,'')
		set @lp_edutchlqdopnsrvids = (case when @lp_edutchlqdopnsrvids='' then '_' else @lp_edutchlqdopnsrvids end)
		IF not isnull(@lp_edutchlqdopnsrvids,'')=''
			BEGIN
				select cast(@lp_buscod as nvarchar(20)) as buscod, id, 
						@lv_srcobjtyp as refobjtyp, 
						substring(x.id,1,CHARINDEX('_',x.id)-1) as refobjcod001,  
						substring(x.id,charindex('_',x.id)+1,len(x.id)-charindex('_',x.id)) as refobjcod002
				into #tmpSrv
				from dbo.StringSplit(@lp_edutchlqdopnsrvids,'|') x
				where CHARINDEX('_',x.id)>0
			END

		-- 2. convierto IDs en tabla de gastos 
		set @lp_edutchlqdopnexpids = isnull(@lp_edutchlqdopnexpids,'')
		set @lp_edutchlqdopnexpids = (case when @lp_edutchlqdopnexpids='' then '_' else @lp_edutchlqdopnexpids end)
		IF not isnull(@lp_edutchlqdopnexpids,'')=''
			BEGIN
				select cast(@lp_buscod as nvarchar(20)) as buscod, id, 
						'BUY_EXP' as refobjtyp, 
						substring(x.id,1,CHARINDEX('_',x.id)-1) as refobjcod001,  
						substring(x.id,charindex('_',x.id)+1,len(x.id)-charindex('_',x.id)) as refobjcod002
				into #tmpExp
				from dbo.StringSplit(@lp_edutchlqdopnexpids,'|') x
				where CHARINDEX('_',x.id)>0
			END

		-- 1. obtengo evaluaciones realizadas del perÃ­odo 
		select distinct p.*, pd.eduplndtecod, 
		pd.eduplndte as evldte, 
		(select top 1 s.stutxt from edu_stu_evl e2 inner join edu_stu s on s.buscod=e2.buscod and s.stucod=e2.stucod where e2.buscod=pd.buscod and e2.eduplncod=pd.eduplncod and e2.eduplndtecod=pd.eduplndtecod) as stutxt, 
		cast(null as decimal(13,3)) as prc, cast(null as nvarchar(5)) as curcod
		into #tmp_lqdevl
		from edu_pln p
		inner join edu_pln_dte pd on pd.buscod=p.buscod and pd.eduplncod=p.eduplncod
		where p.buscod=@lp_buscod 
		  and p.docsts='A'
		  and pd.docsts='A'
		  and exists(select top 1 * from edu_stu_evl e where e.buscod=pd.buscod and e.eduplncod=pd.eduplncod and e.eduplndtecod=pd.eduplndtecod and e.tchcod=@lp_tchcod and e.docsts='A' and (isnull(e.EvlRelSts,'')='' or isnull(e.EvlRelSts,'')='C') )
		  and pd.eduplninbdte between  @lv_edutchlqdstrdte and  @lv_edutchlqdenddte

		-- 2. obtengo inasistencias del perÃ­odo 
		select p.*, pd.eduplndtecod, pd.eduplndte as evldte, 
		(select top 1 s.stutxt from edu_stu_ass a2 inner join edu_stu s on s.buscod=a2.buscod and s.stucod=a2.stucod where a2.buscod=pd.buscod and a2.eduplncod=pd.eduplncod and a2.eduplndtecod=pd.eduplndtecod and a2.docsts='A' and isnull(a2.edustuass,0)=-1) as stutxt, 
		cast(null as decimal(13,3)) as prc, cast(null as nvarchar(5)) as curcod, -1 as edustuass
		into #tmp_lqdass
		from edu_pln p	
		inner join edu_pln_dte pd on pd.buscod=p.buscod and pd.eduplncod=p.eduplncod 
		where p.buscod=@lp_buscod 
		  and p.docsts='A'
		  and pd.eduplninbdte between  @lv_edutchlqdstrdte and  @lv_edutchlqdenddte
		  and pd.docsts='A'
		  and pd.tchcod = @lp_tchcod
		  and exists(select top 1 * from edu_stu_ass a 
							where a.buscod=pd.buscod 
							  and a.eduplncod=pd.eduplncod 
							  and a.eduplndtecod=pd.eduplndtecod 
							  and a.docsts='A'
							  and isnull(a.edustuass,0)=-1 )

		
		-- 3. atualizo precio de evaluaciones 
		select * 
		into #tmp_lqdprc
		from edu_tch_prc 
		where buscod=@lp_buscod 
		  and ( isnull(tchcod,0)=0 or tchcod=@lp_tchcod )
		  and @lv_edutchlqdstrdte between tchprcdtestr and tchprcdteend
		  and docsts='A'
 		-- 4.1 actualizo precios de evaluaciones 
		--update x
		--set x.prc = pr.tchprcval,
		--	x.curcod = pr.curcod
		--from #tmp_lqdevl x
		--inner join #tmp_lqdprc pr on pr.buscod=x.buscod and pr.educurcod=x.educurcod and pr.educarcod=x.educarcod and pr.educoucod=x.educoucod and pr.edusubcod=x.edusubcod
		--where x.buscod=@lp_buscod
		--  and pr.edustuass=1
		
		-- actualizo precio de evaluaciones en base a la fecha de planificaciÃ³n
		update x
		set x.prc = pr.tchprcval,
			x.curcod = pr.curcod
		from #tmp_lqdevl x
		inner join edu_tch_prc pr on pr.buscod=x.buscod 
			and pr.educurcod=x.educurcod 
			and pr.educarcod=x.educarcod 
			and pr.educoucod=x.educoucod 
			and pr.edusubcod=x.edusubcod
			and ( isnull(pr.tchcod,0)=0 or pr.tchcod=@lp_tchcod )
		where x.buscod=@lp_buscod
		  and pr.edustuass=1
		  and pr.docsts='A'
		  and x.evldte between pr.tchprcdtestr and pr.tchprcdteend

		-- 4.2 actualizo precios de inasistencias 
		update x
		set x.prc = pr.tchprcval,
			x.curcod = pr.curcod
		from #tmp_lqdass x
		inner join edu_tch_prc pr on pr.buscod=x.buscod 
			and pr.educurcod=x.educurcod 
			and pr.educarcod=x.educarcod 
			and pr.educoucod=x.educoucod 
			and pr.edusubcod=x.edusubcod
			and ( isnull(pr.tchcod,0)=0 or pr.tchcod=@lp_tchcod )
		where x.buscod=@lp_buscod
		  and pr.edustuass=-1
		  and pr.docsts='A'
		  and x.evldte between pr.tchprcdtestr and pr.tchprcdteend
	
		-- 5. anulo materias que se liquidan juntas 
		declare @lv_grpcod as nvarchar(20)
		declare @lv_grpqty as int
		declare @lv_eduplncod as int
		declare @lv_eduplndtecod as int
		declare @lv_stucod as int
		declare @lv_educurcod as int
		declare @lv_educarcod as int
		declare @lv_educoucod as int
		declare @lv_edusubcod as int
		-- recorro grupos de materias
		DECLARE lv_cur CURSOR FOR
		SELECT TchPrcGrpCodExt, count(*) FROM EDU_TCH_PRC_GRP WHERE BUSCOD=@lp_buscod and docsts='A' GROUP BY TchPrcGrpCodExt
		OPEN lv_cur
		FETCH NEXT FROM lv_cur INTO @lv_grpcod, @lv_grpqty
		WHILE @@FETCH_STATUS=0
			BEGIN
				-- recorro las evaluaciones
				DECLARE lv_curevl CURSOR FOR
				SELECT educurcod, educarcod, educoucod, edusubcod, eduplncod, eduplndtecod FROM #tmp_lqdevl
				OPEN lv_curevl
				FETCH NEXT FROM lv_curevl INTO @lv_educurcod, @lv_educarcod, @lv_educoucod, @lv_edusubcod, @lv_eduplncod, @lv_eduplndtecod
				WHILE @@FETCH_STATUS=0
					BEGIN
						-- si existe la materia en el grupo
						IF exists(select top 1 * from edu_tch_prc_grp where buscod=@lp_buscod and tchprcgrpcodext=@lv_grpcod and educurcod=@lv_educurcod and educarcod=@lv_educarcod and educoucod=@lv_educoucod and edusubcod=@lv_edusubcod and docsts='A')
							BEGIN
								-- recupero el primer alumno del curso
								set @lv_stucod = (select top 1 stucod from edu_pln_ins where buscod=@lp_buscod and eduplncod=@lv_eduplncod and eduplndtecod=@lv_eduplndtecod)
								-- cuento la cantidad de materias del alumno con inner join en el grupo y, si es distinto a la cantidad del grupo
								IF (select count(*) from #tmp_lqdevl e
										inner join edu_tch_prc_grp g on g.buscod=e.buscod and e.educurcod=g.educurcod and e.educarcod=g.educarcod and e.educoucod=g.educoucod and e.edusubcod=g.edusubcod
										where e.buscod=@lp_buscod 
										  and g.tchprcgrpcodext=@lv_grpcod
										  and (select top 1 stucod from edu_pln_ins where buscod=@lp_buscod and eduplncod=e.eduplncod and eduplndtecod=e.eduplndtecod)=@lv_stucod)<>@lv_grpqty
									BEGIN	
										-- actualizo el precio de la materia como null
										UPDATE x
										SET x.prc = null,
											x.curcod = null
										FROM #tmp_lqdevl x
										WHERE x.buscod=@lp_buscod 
										  and x.EduPlnCod = @lv_eduplncod
										  and x.eduplndtecod=@lv_eduplndtecod 
									END

							END
						FETCH NEXT FROM lv_curevl INTO @lv_educurcod, @lv_educarcod, @lv_educoucod, @lv_edusubcod, @lv_eduplncod, @lv_eduplndtecod
					END
				CLOSE lv_curevl
				DEALLOCATE lv_curevl
			
				FETCH NEXT FROM lv_cur INTO @lv_grpcod, @lv_grpqty
			END
		CLOSE lv_cur
		DEALLOCATE lv_cur

		-- 6. armo tabla de salida 
		select	cast(null as nvarchar(20)) as buscod, cast(null as smalldatetime) as evldte, cast(null as nvarchar(250)) as stutxt, cast(null as nvarchar(5)) as evltyp, 
				cast(null as nvarchar(20)) as refobjtyp, cast(null as int) as refobjcod001, cast(null as int) as refobjcod002,
				cast(null as int) as educurcod, cast(null as int) as educarcod, cast(null as int) as educoucod, cast(null as int) as edusubcod,
				cast(null as decimal(13,3)) as prc, cast(null as nvarchar(5)) as curcod
		INTO #tmp_13
		WHERE 1=2

		-- 7. completo tabla de salida 
		insert into #tmp_13 (buscod, evldte, stutxt, evltyp, refobjtyp, refobjcod001, refobjcod002, educurcod, educarcod, educoucod, edusubcod, prc, curcod)
		select buscod, evldte, stutxt, 'EVL', 'EDU_PLN', eduplncod, eduplndtecod, educurcod, educarcod, educoucod, edusubcod, prc, curcod from #tmp_lqdevl

		insert into #tmp_13 (buscod, evldte, stutxt, evltyp, refobjtyp, refobjcod001, refobjcod002, educurcod, educarcod, educoucod, edusubcod, prc, curcod)
		select buscod, eduplndtestr, stutxt, 'AUS', 'EDU_PLN', eduplncod, eduplndtecod, educurcod, educarcod, educoucod, edusubcod, prc, curcod from #tmp_lqdass

	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R 													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		declare @lv_tchtxt as nvarchar(50)
		set @lv_tchtxt = (select top 1 tchtxt from EDU_TCH where buscod=@lp_buscod and tchcod=@lp_tchcod)
		--select @lv_tchtxt
    --return
		BEGIN TRAN

		-- 1. agrego cabecera de liquidaciÃ³n 
		INSERT INTO EDU_TCH_LQD (buscod, tchcod, tchtxt, edutchlqddte, edutchlqdtxt, 
								sysdocclscod, edutchlqdatr001, 
								docsts, ctedte, cteusr)
		VALUES( @lp_buscod, @lp_tchcod, @lv_tchtxt, @lv_edutchlqddte, @lp_edutchlqdtxt, 
				@lp_sysdocclscod, @lp_edutchlqdatr001, 
				@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_edutchlqdcod = @@IDENTITY

		-- 2. agrego documentos de liquidaciÃ³n - SERVICIOS 
		IF @lv_errcod=0 and not isnull(@lp_edutchlqdopnsrvids,'')=''
			BEGIN
				INSERT INTO EDU_TCH_LQD_DOC (buscod, edutchlqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					edutchlqddoccodext, edutchlqddoctxt, edutchlqddocdte, edutchlqddoctot, curcod, edutchlqddocatr001,
					docsts, ctedte, cteusr)
				select x.buscod, @lp_edutchlqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					x.evltyp, ec.educurtxt+'/'+ea.educartxt+'/'+eo.educoutxt+'/'+es.edusubtxt+' - '+isnull(x.stutxt,''), x.evldte, x.prc, x.curcod, '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpSrv s
				inner join #tmp_13 x on x.buscod=s.buscod and x.refobjcod001=cast(s.refobjcod001 as int) and x.refobjcod002=cast(s.refobjcod002 as int)
				inner join edu_cur ec on ec.buscod=x.buscod and ec.educurcod=x.educurcod
				inner join edu_car ea on ea.buscod=x.buscod and ea.educarcod=x.educarcod
				inner join edu_cou eo on eo.buscod=x.buscod and eo.educoucod=x.educoucod
				inner join edu_sub es on es.buscod=x.buscod and es.edusubcod=x.edusubcod
				where s.buscod=@lp_buscod
				SET @lv_errcod=@@ERROR
			END

		-- 3. agrego documentos de liquidaciÃ³n - GASTOS 
		IF @lv_errcod=0 and not isnull(@lp_edutchlqdopnexpids,'')=''
			BEGIN
				INSERT INTO EDU_TCH_LQD_DOC (buscod, edutchlqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					edutchlqddoccodext, edutchlqddoctxt, edutchlqddocdte, edutchlqddoctot, curcod, edutchlqddocatr001,
					docsts, ctedte, cteusr)
				select x.buscod, @lp_edutchlqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					et.buyexptypcod, et.buyexptyptxt, ed.BuyExpDocDte, ed.BuyExpDocTot, 'ARS', '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpExp x 
				inner join buy_exp_doc ed on ed.buscod=x.buscod and ed.BuyExpCod=x.refobjcod001 and ed.BuyExpDocCod=x.refobjcod002
				inner join buy_exp e on e.buscod=ed.buscod and e.buyexpcod=ed.buyexpcod 
				inner join buy_exp_typ et on et.buscod=ed.buscod and et.BuyExpTypCod=ed.BuyExpTypCod 
				where x.buscod=@lp_buscod
				  and e.docsts='C'
				  and et.docsts='A'
				SET @lv_errcod=@@ERROR
			END
			
		-- 4. actualizo totales 
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_TCH_LQD
				SET edutchlqdtot = (select sum(d.edutchlqddoctot) FROM EDU_TCH_lqd_doc d where d.buscod=@lp_buscod and d.edutchlqdcod=@lp_edutchlqdcod)
				WHERE buscod=@lp_buscod 
				  and edutchlqdcod=@lp_edutchlqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edutchlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from EDU_TCH_LQD where buscod=@lp_buscod and edutchlqdcod=@lp_edutchlqdcod)='C'
			BEGIN
				SELECT null, -2 as errcod, 'No se puede modificar. Documento contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- 1. borro documentos que fueron quitados de la liquidaciÃ³n - SERVICIOS 
		IF @lv_errcod=0 and not isnull(@lp_edutchlqdopnsrvids,'')=''
			BEGIN
				DELETE d
				FROM EDU_TCH_LQD_DOC d
				WHERE d.buscod=@lp_buscod
				  and d.edutchLqdCod=@lp_edutchlqdcod
				  and d.refobjtyp ='EDU_PLN'
				  and not exists(select top 1 * from #tmpSrv x where x.buscod=d.buscod and x.refobjtyp=d.refobjtyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002)
				SET @lv_errcod=@@ERROR
			END

		-- 2. borro documentos que fueron quitados de la liquidaciÃ³n - GASTOS 
		IF @lv_errcod=0 and not isnull(@lp_edutchlqdopnexpids,'')=''
			BEGIN
				DELETE d
				FROM EDU_TCH_LQD_DOC d
				WHERE d.buscod=@lp_buscod
				  and d.edutchLqdCod=@lp_edutchlqdcod
				  and d.refobjtyp = 'BUY_EXP'
				  and not exists (select top 1 * from #tmpExp x where x.buscod=d.buscod and x.refobjtyp=d.RefObjTyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002)
				SET @lv_errcod=@@ERROR
			END

		-- 3. agrego documentos de liquidaciÃ³n - SERVICIOS 
		IF @lv_errcod=0 and not isnull(@lp_edutchlqdopnsrvids,'')=''
			BEGIN
				INSERT INTO EDU_TCH_LQD_DOC (buscod, edutchlqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					edutchlqddoccodext, edutchlqddoctxt, edutchlqddocdte, edutchlqddoctot, curcod, edutchlqddocatr001,
					docsts, ctedte, cteusr)
				select x.buscod, @lp_edutchlqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					x.evltyp, ec.educurtxt+'/'+ea.educartxt+'/'+eo.educoutxt+'/'+es.edusubtxt+' - '+isnull(x.stutxt,''), x.evldte, x.prc, x.curcod, '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpSrv s
				inner join #tmp_13 x on x.buscod=s.buscod and x.refobjcod001=cast(s.refobjcod001 as int) and x.refobjcod002=cast(s.refobjcod002 as int)
				inner join edu_cur ec on ec.buscod=x.buscod and ec.educurcod=x.educurcod
				inner join edu_car ea on ea.buscod=x.buscod and ea.educarcod=x.educarcod
				inner join edu_cou eo on eo.buscod=x.buscod and eo.educoucod=x.educoucod
				inner join edu_sub es on es.buscod=x.buscod and es.edusubcod=x.edusubcod
				left join EDU_TCH_LQD_DOC d on d.buscod=x.buscod and d.RefObjTyp=x.refobjtyp and d.RefObjCod001=x.refobjcod001 and d.RefObjCod002=x.refobjcod002
				where x.buscod=@lp_buscod
					and d.edutchLqdDocCod is null
				SET @lv_errcod=@@ERROR
			END

		-- 4. agrego documentos de liquidaciÃ³n - GASTOS 
		IF @lv_errcod=0 and not isnull(@lp_edutchlqdopnexpids,'')=''
			BEGIN
				INSERT INTO EDU_TCH_LQD_DOC (buscod, edutchlqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					edutchlqddoccodext, edutchlqddoctxt, edutchlqddocdte, edutchlqddoctot, curcod, edutchlqddocatr001,
					docsts, ctedte, cteusr)
				select @lp_buscod, @lp_edutchlqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					et.buyexptypcod, et.buyexptyptxt, ed.BuyExpDocDte, ed.BuyExpDocTot, 'ARS', '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpExp x 
				inner join buy_exp_doc ed on ed.buscod=@lp_buscod and ed.BuyExpCod=x.refobjcod001 and ed.BuyExpDocCod=x.refobjcod002
				inner join buy_exp e on e.buscod=ed.buscod and e.buyexpcod=ed.buyexpcod 
				inner join buy_exp_typ et on et.buscod=ed.buscod and et.BuyExpTypCod=ed.BuyExpTypCod 
				left join EDU_TCH_LQD_DOC d on d.buscod=@lp_buscod and d.RefObjTyp=x.refobjtyp and d.RefObjCod001=x.refobjcod001 and d.RefObjCod002=x.refobjcod002
				where x.buscod=@lp_buscod
				  and e.docsts='C'
				  and et.docsts='A'
				  and d.edutchLqdDocCod is null
				SET @lv_errcod=@@ERROR
			END

		-- 5. actualizo cabecera 
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_TCH_lqd
				SET --edutchlqddte = @lv_edutchlqddte,
					edutchlqdtxt = @lp_edutchlqdtxt,
					edutchlqdtot = (select sum(isnull(d.edutchlqddoctot,0)) FROM EDU_TCH_lqd_doc d where d.buscod=@lp_buscod and d.edutchlqdcod=@lp_edutchlqdcod),
					--tchcod = @lp_tchcod,
					--tchtxt = @lv_tchtxt,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and edutchlqdcod=@lp_edutchlqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edutchlqdcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R 														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1

		-- EDU_TCH_lqd_def '03','mdominguez','temasis_hlt','13' 

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' l.*, dc.sysdocclstxt, tc.taxcattxt, p.tchcodext ',
			' EDU_TCH_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join EDU_TCH p on p.buscod=l.buscod and p.tchcod=l.tchcod '
			+ ' left join grl_dat_tax t on t.buscod=l.buscod and t.taxsrctyp='+QUOTENAME('EDU_TCH','''')+' and t.taxsrccod=l.tchcod '
			+ ' left join grl_dat_adr a on a.buscod=l.buscod and a.adrsrctyp='+QUOTENAME('EDU_TCH','''')+' and a.adrsrccod=l.tchcod '
			+ ' left join fin_tax_cat tc on tc.lndcod=a.lndcod and tc.taxcatcod=t.taxcatcod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and l.edutchlqdcod='+QUOTENAME(@lp_edutchlqdcod,''''),
			' l.ctedte desc ', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R 												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		set @lp_docsts = (select top 1 docsts from EDU_TCH_lqd where buscod=@lp_buscod and edutchlqdcod=@lp_edutchlqdcod)
		
		BEGIN TRAN
		
		-- borro los documento liquidados 
		DELETE
		FROM EDU_TCH_lqd_doc
		WHERE buscod=@lp_buscod
		  and edutchlqdcod=@lp_edutchlqdcod
		SET @lv_errcod=@@ERROR

		-- borro liquidaciÃ³n - cabecera 
		IF @lv_errcod=0 and not @lp_docsts='C'
			BEGIN
				DELETE 
				FROM EDU_TCH_lqd
				WHERE buscod=@lp_buscod
				  and edutchlqdcod=@lp_edutchlqdcod
				SET @lv_errcod=@@ERROR
			END

		-- marco la liquidaciÃ³n como borrado - cabecera 
		IF @lv_errcod=0 and @lp_docsts='C'
			BEGIN
				UPDATE EDU_TCH_lqd
				SET deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and edutchlqdcod=@lp_edutchlqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edutchlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- EDU_TCH_LQD_DEF '08','MDOMINGUEZ','TEMASIS_EDU','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>',''
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' l.*, convert(varchar,l.edutchlqddte,103) as edutchlqddtecnv, dc.sysdocclstxt ',
			' EDU_TCH_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and l.deldte is null ',
			' l.ctedte desc ', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   0 9    -    C O N T A B I L I Z A R									
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='09' or @lp_sysoperation='19'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from EDU_TCH_lqd where buscod=@lp_buscod and edutchlqdcod=@lp_edutchlqdcod)='C'
			BEGIN
				SELECT null, -4 as errcod, 'No se puede contabilizar. Documento ya contabilizado.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		-- EDU_TCH_LQD_DEF '09','MDOMINGUEZ','TEMASIS_EDU','23' 

		-- 1. actualizo cabecera 		
		UPDATE EDU_TCH_LQD
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and edutchlqdcod=@lp_edutchlqdcod
		SET @lv_errcod=@@ERROR

		-- 2. actualizo posiciones 
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_TCH_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and edutchlqdcod=@lp_edutchlqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edutchlqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   1 3    -    L I S T A R    P R E S T A C I O N E S		(no liquidadas)	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='33'
	BEGIN
		SET @lv_validop = 1
		
		-- EDU_TCH_lqd_def '13','mdominguez','temasis_EDU','','','','20181001000000','20181031000000','3' 

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' x.*, convert(varchar,x.evldte,103) as evldtecnv, ld.edutchlqdcod, ld.edutchlqddoccod, eu.educurtxt, ea.educartxt, eo.educoutxt, es.edusubtxt ',
			' #tmp_13 x '
			+ ' inner join edu_cur eu on eu.buscod=x.buscod and eu.educurcod=x.educurcod '
			+ ' inner join edu_car ea on ea.buscod=x.buscod and ea.educarcod=x.educarcod '
			+ ' inner join edu_cou eo on eo.buscod=x.buscod and eo.educoucod=x.educoucod '
			+ ' inner join edu_sub es on es.buscod=x.buscod and es.edusubcod=x.edusubcod '
			+ ' left join EDU_TCH_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 and ld.edutchlqddoccodext=x.evltyp ',
			' ( ld.edutchlqddoccod is null ' + (case when isnull(@lp_edutchlqdcod,0)=0 then '' else ' OR ld.edutchlqdcod='+QUOTENAME(@lp_edutchlqdcod,'''') end) + ')',
			' x.evldte ', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 4    -    L I S T A R    G A S T O S		(no liquidados)				
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '34'
	BEGIN
		SET @lv_validop = 1
		
		-- EDU_TCH_lqd_def '14','mdominguez','temasis_edu','','','','20181001000000','20181031000000','3' 
		
		-- 1. obtengo gastos 
		SELECT b.buscod,
			'BUY_EXP' as refobjtyp, 
			b.buyexpcod as refobjcod001, 
			bd.BuyExpDocCod as refobjcod002,
			bd.BuyExpCod as edutchlqddoccodext,
			bt.BuyExpTypTxt as edutchlqddoctxt, 
			bd.buyexpdocdte as edutchlqddocdte, 
			convert(varchar,bd.buyexpdocdte,103) as edutchlqddocdtecnv, 
			bd.buyexpdoctot as edutchlqddoctot,
			b.curcod as refobjcurcod
		INTO #tmp_14
		FROM buy_exp b 
			inner join buy_exp_doc bd on bd.buscod=b.buscod and bd.buyexpcod=b.buyexpcod 
			inner join buy_exp_typ bt on bt.buscod=bd.buscod and bt.buyexptypcod=bd.buyexptypcod 
		WHERE b.buscod=@lp_buscod
		  and b.srcobjtyp='EDU_TCH'
		  and b.srcobjcod=@lp_tchcod
		  and b.docsts='C'
		  and bd.buyexpdocdte between @lv_edutchlqdstrdte and @lv_edutchlqdenddte
		  and bt.docsts='A'
		
		-- 9. listar gastos no liquidados 
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' x.*, ld.edutchlqddoccod ',
			' #tmp_14 x '
			+ ' left join EDU_TCH_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 ',
			' ( ld.edutchlqddoccod is null ' + (case when isnull(@lp_edutchlqdcod,0)=0 then '' else ' OR ld.edutchlqdcod='+QUOTENAME(@lp_edutchlqdcod,'''') end) + ')',
 			' x.edutchlqddocdte ', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   2 3    -    L I S T A R    P R E S T A C I O N E S		(liquidadas)	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='43'
	BEGIN
		SET @lv_validop = 1
		
		-- EDU_TCH_lqd_def '23','mdominguez','temasis_edu','8' 

		-- obtengo origen de datos para liquidaciÃ³n 
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				SET @lv_srcobjtyp = isnull( (select top 1 dbo.getTagValue('srcobjtyp',sysdocclsatr) 
									from sys_doc_cls 
									where buscod=@lp_buscod 
									 and sysdocclscod=@lp_sysdocclscod),'')
				set @lv_srcobjtyp=(case when @lv_srcobjtyp='' then 'HLT_PLR' else @lv_srcobjtyp end) 
			end

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' ld.*, convert(varchar, ld.edutchlqddocdte, 103) as edutchlqddocdtecnv ',
			' EDU_TCH_LQD_DOC ld ',
			' ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.edutchlqdcod='+QUOTENAME(@lp_edutchlqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME('EDU_PLN',''''),
			' ld.refobjtyp, ld.edutchlqddoccodext, ld.edutchlqddocdte ', default )
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------ 
--   2 4    -    L I S T A R    G A S T O S					(liquidadas)	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='44'
	BEGIN
		SET @lv_validop = 1
		
		-- EDU_TCH_lqd_def '24','mdominguez','temasis_edu','12' 
		
		set @lv_sql = dbo.getSQLSentence(  @lp_vewcfg, ' ld.*, convert(varchar, ld.edutchlqddocdte, 103) as edutchlqddocdtecnv ',
			' EDU_TCH_LQD_DOC ld ',
			' ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.edutchlqdcod='+QUOTENAME(@lp_edutchlqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME('BUY_EXP',''''),
			' ld.edutchlqdcod ', default )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
