USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_TCH_LQD_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[EDU_TCH_LQD_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_edutchlqddoccod	as int			= null, /* id liquidación-documento */
@lp_edutchlqdcod 	as int			= null,	/* id liquidación */
@lp_refobjtyp		as nvarchar(20)	= null,	/* objeto referencia */
@lp_refobjcod001	as int			= null, /* id ref 001 */
@lp_refobjcod002	as int			= null,	/* id ref 002 */
@lp_edutchlqddoccodext as nvarchar(20)=null,/* cod externo */
@lp_edutchlqddoctxt	as nvarchar(4000)=null,	/* descripcion */
@lp_edutchlqddoctot	as bigint		= null,	/* total */
@lp_currcod			as nvarchar(5)	= null,	/* moneda */
@lp_edutchlqddocatr001	as nvarchar(4000)=null, /* atributos */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)

/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* EDU_TCH_lqd_doc_def '08','mdominguez','temasis_edu' */

		declare @lv_edutchlqddte as nvarchar(200)
		set @lv_edutchlqddte = 'convert(varchar, l.edutchlqddte,103)'
		
		declare @lv_ord as nvarchar(4000)
		set @lv_ord = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = replace(@lv_ord, 'edutchlqddtecnv', @lv_edutchlqddte)

		declare @lv_flt as nvarchar(4000)
		set @lv_flt = ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''') + ' ' + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'edutchlqddtecnv', @lv_edutchlqddte)

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, '+@lv_edutchlqddte+' as edutchlqddtecnv, l.edutchlqdtxt '
			+ ' FROM EDU_TCH_lqd_doc ld '
			+ ' inner join EDU_TCH_LQD l on l.buscod=ld.buscod and l.edutchlqdcod=ld.edutchlqdcod '
 			+ @lv_flt
			+ @lv_ord
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
