USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_NNM_VAL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_NNM_VAL_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)		= null,	/* empresa */
@lp_nnmvalid		as int				= null,	/* ID de la práctica */
@lp_nnmgrpcod		as nvarchar(5)		= null,	/* Código del grupo */
@lp_nnmvalcod		as nvarchar(20)		= null,	/*  */
@lp_nnmvaltxt001	as nvarchar(1250)	= null,	/* Descripción de la práctica */
@lp_nnmvaltxt002	as nvarchar(250)	= null,
@lp_nnmval001		as decimal(13, 3)	= null,
@lp_nnmval001qty	as int				= null,
@lp_nnmval001idx	as nvarchar(5)		= null,
@lp_nnmval001typ	as nchar(10)		= null,
@lp_nnmval002		as decimal(13, 3)	= null,
@lp_nnmval002qty	as int				= null,
@lp_nnmval002idx	as nvarchar(5)		= null,
@lp_nnmval002typ	as nvarchar(5)		= null,
@lp_nnmval003		as decimal(13, 3)	= null,
@lp_nnmval003qty	as int				= null,
@lp_nnmval003idx	as nvarchar(5)		= null,
@lp_nnmval003typ	as nvarchar(5)		= null,
@lp_nnmval004		as decimal(13, 3)	= null,
@lp_nnmval004qty	as int				= null,
@lp_nnmval004idx	as nvarchar(5)		= null,
@lp_nnmval004typ	as nvarchar(5)		= null,
@lp_nnmnrmcod001	as nvarchar(20)		= null,
@lp_nnmnrmcod002	as nvarchar(20)		= null,
@lp_nnmnrmcod003	as nvarchar(20)		= null,
@lp_nnmnrmcod005	as nvarchar(20)		= null,
@lp_nnmpmo			as nvarchar(20)		= null,
@lp_docsts			as nvarchar(2)		= null


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 7    -    V E R    P R A C T I C A     según    C O D I G O												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '07'
	BEGIN
		SET @lv_validop = 1
		
		SELECT TOP 1 v.*
		FROM HLT_NNM_VAL v
		WHERE v.buscod=@lp_buscod
		  and v.nnmgrpcod = @lp_nnmgrpcod
		  and v.nnmvalcod = @lp_nnmvalcod		  
		
	END	



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R   P R Á C T I C A según    T E X T O												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
		
		SELECT TOP 20 *
		FROM HLT_NNM_VAL
		WHERE buscod=@lp_buscod
		  and docsts='A'
		  and nnmgrpcod = @lp_nnmgrpcod
		  and nnmvaltxt001 like '%'+isnull(@lp_nnmvaltxt001,'')+'%'
			ORDER BY nnmvaltxt001
		  
		
	END	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END







































GO
