USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_EMP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_EMP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		-- empresa 
@lp_hhrempcod 		as int			= null,	-- id empleado 
@lp_hhrempcnthrs	as nvarchar(50) = null, -- horario de contacto 
@lp_hhrempcmt		as text			= null, -- comentarios 
@lp_docsts			as nvarchar(02) = null, -- estado 
@lp_hhrempcodext	as nvarchar(20) = null,	-- cÃ³digo externo de empleado (en convenio) 
@lp_lndtwngrpcod	as nvarchar(10) = null,	-- zona o provincia 
@lp_hhremptxt		as nvarchar(82) = null,	-- nombre de empleado 
@lp_prsdte			as nvarchar(14)	= null,	-- fecha de actualizaciÃ³n (exportaciÃ³n imprenta) 

@lp_vewcfg			as nvarchar(max)= null,	-- vista 

@lp_hhrempniknme		as nvarchar(40)	= null,	-- nik name 
@lp_hhrempinbdte		as nvarchar(14)	= null,	-- fecha ingreso 
@lp_hhrempoutdte		as nvarchar(14)	= null,	-- fecha egreso 
@lp_hhrempoutcmt		as nvarchar(10)	= null,	-- motivo egreso 
@lp_hhrempnat			as nvarchar(20)	= null,	-- nacionalidad 
@lp_hhrempbrndte		as nvarchar(14)	= null,	-- fecha nacimiento 
@lp_hhrempttl			as nvarchar(50)	= null,	-- estudios titulo 
@lp_hhrempothstd		as nvarchar(max)= null,	-- estudios otros 
@lp_hhrempjobhst		as nvarchar(max)= null,	-- antecedentes laborales 
@lp_sysdocclscod		as int			= null	-- Codigo de clase de documeto 


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt nvarchar(max)

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_prsclstxt as nvarchar(50)
declare @lv_prsclstyp as int
declare @lv_prsclsspc as nvarchar(250)
declare @lv_prsclsord as int

declare @lv_prsdte as datetime = dbo.ConvertDate( @lp_prsdte )
declare @lv_hhrempbrndte as datetime = dbo.ConvertDate( @lp_hhrempbrndte )
declare @lv_hhrempinbdte as datetime = dbo.ConvertDate( @lp_hhrempinbdte )
declare @lv_hhrempoutdte as datetime = dbo.ConvertDate( @lp_hhrempoutdte )



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EMP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
if @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	begin
		if not @lp_hhrempcodext=''
			if exists(select top 1 * from HHR_EMP where buscod=@lp_buscod and not hhrempcod=@lp_hhrempcod and hhrempcodext=@lp_hhrempcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end
	end



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego el empleado 
		INSERT INTO HHR_EMP (buscod, hhrempcnthrs, hhrempcmt, docsts, cteusr, ctedte, hhremptxt, hhrempniknme, hhrempnat, hhrempbrndte, hhrempinbdte, hhrempoutdte, hhrempoutcmt, hhrempttl, hhrempothstd, hhrempjobhst, hhrempcodext,sysdocclscod)
		VALUES (@lp_buscod, @lp_hhrempcnthrs, @lp_hhrempcmt, @lp_docsts, @lp_username, getdate(), @lp_hhremptxt, @lp_hhrempniknme, @lp_hhrempnat, @lv_hhrempbrndte, @lv_hhrempinbdte, @lv_hhrempoutdte, @lp_hhrempoutcmt, @lp_hhrempttl, @lp_hhrempothstd, @lp_hhrempjobhst, @lp_hhrempcodext ,@lp_sysdocclscod)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrempcod=@@IDENTITY
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrempcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HHR_EMP 
		SET hhrempcodext	= @lp_hhrempcodext,
			hhrempcnthrs	= @lp_hhrempcnthrs,	-- horario de contacto 
			hhrempcmt		= @lp_hhrempcmt,		-- comentarios 
			docsts		= @lp_docsts,
			updusr		= @lp_username,
			upddte		= getdate(),
			hhremptxt		= @lp_hhremptxt,		-- nombre de empleado 
			hhrempniknme	= @lp_hhrempniknme,	-- nik name 
			hhrempnat		= @lp_hhrempnat,		-- nacionalidad 
			hhrempbrndte	= @lv_hhrempbrndte,	-- fecha nacimiento 
			hhrempinbdte	= @lv_hhrempinbdte,	-- fecha ingreso 
			hhrempoutdte	= @lv_hhrempoutdte,	-- fecha egreso 
			hhrempoutcmt	= @lp_hhrempoutcmt,	-- motivo egreso 
			hhrempttl		= @lp_hhrempttl,		-- titulo 
			hhrempothstd	= @lp_hhrempothstd,	-- otros estudios 
			hhrempjobhst	= @lp_hhrempjobhst	-- antecedentes laborales 
		WHERE buscod = @lp_buscod
		  and hhrempcod = @lp_hhrempcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrempcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, 
			(case when hhrempbrndte is null then null else datediff(year, hhrempbrndte, getdate()) + (case when datepart(month,getdate())<datepart(month,hhrempbrndte) or ( datepart(month,getdate())=datepart(month,hhrempbrndte) and datepart(day,getdate())<datepart(day,hhrempbrndte) ) then -1 else 0 end) end) as prsage, 
			(case when hhrempinbdte is null then null else (datediff(year, hhrempinbdte, getdate()) + (case when datepart(month,getdate())<datepart(month,hhrempinbdte) or (datepart(month,getdate())=datepart(month,hhrempinbdte) and datepart(day,getdate())<datepart(day,hhrempinbdte)) then -1 else 0 end)) end) as prsjobold,
			cast(null as int) as prsjobpts,
			cast(null as int) as prscatpts,
			cast(null as decimal(13,3)) as prscatprc,
			cast(null as int) as prspts,
			cd.SysDocClsTxt
		FROM HHR_EMP p
		inner join SYS_DOC_CLS cd on cd.BusCod = p.BusCod and cd.objtyp ='HHR_EMP' and cd.SysDocClsCod = p.SysDocClsCod
		WHERE p.buscod = @lp_buscod
		  and p.hhrempcod = @lp_hhrempcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- borro los datos de impuestos del empleado 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='HHR_EMP'
				  and taxsrccod=@lp_hhrempcod
				SET @lv_errcod=@@ERROR
			END

		-- borro los datos de banco del empleado
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='HHR_EMP'
				  and bnksrccod=@lp_hhrempcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro contactos del empleado 
		declare  @lv_i INT = 0
      select *  into #tmpSrv
          from grl_dat_cnt
          where cntsrctyp = 'HHR_EMP'
          AND cntsrccod = @lp_hhrempcod ;
          declare @lv_cntcod int
          declare lc_cur cursor for select cntcod
          from #tmpSrv
          open lc_cur
          
            fetch next from lc_cur into  @lv_cntcod
            
            while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito 
             begin
             
              exec dbo.GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,'HHR_EMP',@lp_hhrempcod,null,'00000000000000',null,null,null,'A',null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
             	
              fetch next from lc_cur into @lv_cntcod
              set @lv_i = @lv_i + 1
              end
      close lc_cur
      deallocate lc_cur


		-- borro los datos de direcciÃ³n del empleado 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR 
				WHERE buscod=@lp_buscod 
				  and adrsrctyp='HHR_EMP'
				  and adrsrccod=@lp_hhrempcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro los datos del empleado 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM HHR_EMP 
				WHERE buscod=@lp_buscod 
				  and hhrempcod=@lp_hhrempcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrempcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 5    -    D A R   d e   B A J A										
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HHR_EMP
		set deldte = getdate(),
			delusr = @lp_username
		WHERE buscod = @lp_buscod
		  and hhrempcod = @lp_hhrempcod
		  and deldte is null
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrempcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		-- hhr_emp_def '08','temasis','temasis_edu'
    declare @lv_avdusrres as nvarchar(2) = dbo.gettagvalue('avoiduserrestrictions',dbo.gettagvalue('extra',@lp_vewcfg))
 
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, convert(varchar,p.hhrempinbdte,103) as hhrempinbdtecnv, convert(varchar,p.hhrempoutdte,103) as hhrempoutdtecnv, '
			+ ' a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrzon, a.adrstr, a.adreml, a.adrmapgeo, a.AdrStrNum, a.adrtwn, a.adrpstcod, '
			+ ' l.lndtxt, r.lndregtxt, dc.sysdocclstxt, '
			+ ' t.taxcod, t.taxiibb, '
			+ ' b.paymthcod, dp.perbrndte, dp.persex, dp.CivStsCod, ad.IdtTypTxt, lc.CivStsTxt '
			+ ' FROM HHR_EMP p '
			+ ' left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HHR_EMP','''')+' and a.adrsrccod=p.hhrempcod'
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod '
			+ ' left join GRL_DAT_TAX t on t.buscod=p.buscod and t.taxsrctyp='+QUOTENAME('HHR_EMP','''')+' and t.taxsrccod=p.hhrempcod'
			+ ' left join GRL_DAT_BNK b on b.buscod=p.buscod and b.bnksrctyp='+QUOTENAME('HHR_EMP','''')+' and b.bnksrccod=p.hhrempcod'
			+ ' left join GRL_DAT_PER dp on dp.buscod=p.buscod and dp.persrctyp='+QUOTENAME('HHR_EMP','''')+' and dp.persrccod=p.hhrempcod'
			+ ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod '
      + ' left join ADM_IDT_TYP ad on ad.lndcod=l.lndcod and ad.IdtTypCod=t.TaxDocTyp '
      + ' left join GRL_DAT_LND_CIV lc on lc.LndCod=l.LndCod and lc.CivStsCod=dp.CivStsCod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and p.deldte is null '
			+ '   and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('HHR_EMP','''')+'))) '
			+ (CASE WHEN @lv_avdusrres!='X' THEN dbo.getUserRestrictions(@lp_buscod,@lp_username,'p.hhrempcod') ELSE '' END)
      + (case when  isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'hhrempinbdtecnv','p.hhrempinbdte')
		set @lv_flt = REPLACE(@lv_flt,'hhrempoutdtecnv','p.hhrempoutdte')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'p.hhremptxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		set @lv_ord = REPLACE(@lv_ord,'hhrempinbdtecnv','p.hhrempinbdte')
		set @lv_ord = REPLACE(@lv_ord,'hhrempoutdtecnv','p.hhrempoutdte')
    
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
