USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_SPC_TME_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_SPC_TME_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_spctmecod 		as int			= null,	/* id */
@lp_spccod			as int			= null, /* id especialidad */
@lp_prscod			as int			= null,	/* id prestador */
@lp_delcod			as int			= null,	/* id centro atencion */
@lp_tmeday			as int			= null,	/* id dia (1-7 / dom-sab) */
@lp_tmestr			as nvarchar(14)	= null,	/* hs inicio */
@lp_tmeend			as nvarchar(14)	= null,	/* hs fin */
@lp_tmeqty			as int			= null,	/* cant pacientes  */
@lp_tmefrq			as int			= null,	/* frecuencia minutos      */
@lp_tmeovr			as int			= null,	/* cant pacientes sobreturno */
@lp_tmeatr			as nvarchar(4000)=null,	/* atributos */
@lp_docsts			as nvarchar(05) = null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* config vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_tmestr as datetime
set @lv_tmestr = dbo.ConvertDate( @lp_tmestr )

declare @lv_tmeend as datetime
set @lv_tmeend = dbo.ConvertDate( @lp_tmeend )


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_SPC_TME (buscod, spccod, prscod, delcod, tmeday, tmestr, tmeend, tmeqty, tmefrq, tmeovr, tmeatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_spccod, @lp_prscod, @lp_delcod, @lp_tmeday, @lv_tmestr, @lv_tmeend, @lp_tmeqty, @lp_tmefrq, @lp_tmeovr, @lp_tmeatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_spctmecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spctmecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_SPC_TME 
		SET	spccod = @lp_spccod,
			prscod = @lp_prscod,
			delcod = @lp_delcod,
			tmeday = @lp_tmeday,
			tmestr = @lv_tmestr,
			tmeend = @lv_tmeend,
			tmeqty = @lp_tmeqty,
			tmefrq = @lp_tmefrq,
			tmeovr = @lp_tmeovr,
			tmeatr = @lp_tmeatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and spctmecod = @lp_spctmecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, s.spctxt, p.prstxt, d.deltxt '
			+ ' FROM HLT_SPC_TME t '
			+ ' left join HLT_SPC s on s.buscod=t.buscod and s.spccod=t.spccod '
			+ ' left join HLT_PRS p on p.buscod=t.buscod and p.prscod=t.prscod '
			+ ' left join HLT_DEL d on d.buscod=t.buscod and d.delcod=t.delcod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_delcod,0)=0 then '' else ' and t.delcod='+QUOTENAME(@lp_delcod,'''') end)
			+ (case when isnull(@lp_spccod,0)=0 then '' else ' and t.spccod='+QUOTENAME(@lp_spccod,'''') end)
			+ (case when isnull(@lp_prscod,0)=0 then '' else ' and t.prscod='+QUOTENAME(@lp_prscod,'''') end)
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'spctxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
				
		BEGIN TRAN

		DELETE
		FROM HLT_SPC_TME
		WHERE buscod = @lp_buscod
		  and spctmecod = @lp_spctmecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spctmecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
			' t.*, s.spctxt, p.prstxt, d.deltxt ',
			' HLT_SPC_TME t '
			+ ' left join HLT_SPC s on s.buscod=t.buscod and s.spccod=t.spccod '
			+ ' left join HLT_PRS p on p.buscod=t.buscod and p.prscod=t.prscod '
			+ ' left join HLT_DEL d on d.buscod=t.buscod and d.delcod=t.delcod ',
			' t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end),
 			' s.spctxt ', default )
		execute( @lv_sql )

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
