USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_DOC_CLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_DOC_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_hltdocclscod	as nvarchar(05)	= null,	/* codigo */
@lp_hltdocclstxt	as nvarchar(40)	= null,	/* descripción */
@lp_rngcodint		as nvarchar(05)	= null,	/* numeración interna */
@lp_rngcodext		as nvarchar(05)	= null,	/* numeración externa */
@lp_autcod			as nvarchar(05)	= null,	/* codigo de autorización */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null,	/* configuración ede la vista */

@lp_HltDocIntFle	as nvarchar(250)= null,	/* interfaz - archivo */
@lp_HltDocIntSp		as nvarchar(400)= null,	/* interfaz - stored procedure */
@lp_HltDocClsAtr001		as nvarchar(4000)= null	/* interfaz - stored procedure */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S															*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Codigo existente													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		/* codigo duplicado */
		IF (select count(*) from hlt_doc_cls where buscod=@lp_buscod and hltdocclscod=@lp_hltdocclscod)>0
			BEGIN
				SELECT null, -1 as errcod, 'Codigo existente.' as errtxt
				RETURN
			END
			
		BEGIN TRAN
				
		INSERT INTO HLT_DOC_CLS
			(buscod, hltdocclscod, hltdocclstxt, 
			rngcodint, rngcodext, autcod, 
			hltDocIntFle, hltdocintsp,hltdocclsatr001,
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_hltdocclscod, @lp_hltdocclstxt, 
			@lp_rngcodint, @lp_rngcodext, @lp_autcod, 
			@lp_hltdocintfle, @lp_HltDocIntSp,@lp_HltDocClsAtr001,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltdocclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE HLT_DOC_CLS 
		SET	hltdocclstxt= @lp_hltdocclstxt,
			rngcodint	= @lp_rngcodint,
			rngcodext	= @lp_rngcodext,
			autcod	= @lp_autcod,
			HltDocIntFle = @lp_HltDocIntFle,
			hltdocintsp = @lp_HltDocIntSp,
			hltdocclsatr001= @lp_HltDocClsAtr001,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and hltdocclscod = @lp_hltdocclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltdocclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*, ba.lndcod, bl.lndtxt
		FROM HLT_DOC_CLS c
		left join adm_bus b on b.buscod=c.buscod
		left join grl_dat_adr ba on ba.buscod=b.buscod and ba.adrnum=b.adrnum
		left join grl_dat_lnd bl on bl.lndcod=ba.lndcod
		WHERE c.buscod = @lp_buscod
		  and c.hltdocclscod = @lp_hltdocclscod
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE
		FROM HLT_DOC_CLS 
		WHERE buscod = @lp_buscod
		  and hltdocclscod = @lp_hltdocclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltdocclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' *, , (select top 1 a.lndcod from adm_bus b inner join grl_dat_adr a on a.buscod=b.buscod and a.adrnum=b.adrnum where b.buscod='+QUOTENAME(@lp_buscod,'''')+') as lndcod '
			+ ' FROM HLT_DOC_CLS '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
