USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_TAX_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_TAX_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	   -- empresa 
@lp_fintaxtypcod	as int			= null,	     -- id 
@lp_fintaxtyptxt	as nvarchar(50)	= null,	 -- descripcion 
@lp_fintaxtypcodext as nvarchar(20)	= null,-- cod externo 
@lp_fintaxtyptyp	as nvarchar(02)	= null,	 -- id tipo (C-compra / V-venta) 
@lp_finacccod		as int			= null,	       -- id cuenta 
@lp_fintaxtypcat	as nvarchar(03)	= null,	 -- categorÃ­a (IVA-IVA / IIB-Ingresos Brutos / IMU-Impuestos Municipales / IPR-Impuestos Provinciales) 
@lp_docsts			as nvarchar(02)	= null,	   -- estado 

@lp_vewcfg			as nvarchar(max)=null     -- configuraciÃ³n vista 

AS
 
SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


	
-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TTP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				RETURN
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
    IF not isnull(@lp_fintaxtypcodext,'')='' 
      BEGIN
        IF exists(select top 1 * from FIN_TAX_TYP where buscod=@lp_buscod and not fintaxtypcod=@lp_fintaxtypcod and fintaxtypcodext=@lp_fintaxtypcodext)
          BEGIN
            SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
            RETURN
          END
      END
  END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R																				
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1	
		BEGIN TRAN
				
		INSERT INTO FIN_TAX_TYP
			(buscod, fintaxtyptxt, fintaxtypcodext, fintaxtyptyp, finacccod, fintaxtypcat, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_fintaxtyptxt, @lp_fintaxtypcodext, @lp_fintaxtyptyp, @lp_finacccod, @lp_fintaxtypcat,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_fintaxtypcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_fintaxtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		BEGIN TRAN
		
		UPDATE FIN_TAX_TYP 
		SET	fintaxtyptxt=@lp_fintaxtyptxt,
			fintaxtypcodext=@lp_fintaxtypcodext,
			fintaxtyptyp=@lp_fintaxtyptyp,
			finacccod = @lp_finacccod, 
			fintaxtypcat = @lp_fintaxtypcat,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and fintaxtypcod = @lp_fintaxtypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_fintaxtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*, a.finacctxt
		FROM FIN_TAX_TYP t
		left join FIN_ACC a on a.buscod=t.buscod and a.finacccod=t.finacccod 
		WHERE t.buscod = @lp_buscod
		  and t.fintaxtypcod = @lp_fintaxtypcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE 
		FROM FIN_TAX_TYP
		WHERE buscod = @lp_buscod
		  and fintaxtypcod = @lp_fintaxtypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_fintaxtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_fintaxtypcattxt as nvarchar(4000)
		set @lv_fintaxtypcattxt = '(case t.fintaxtypcat when '+QUOTENAME('IVA','''')+' then '+QUOTENAME('IVA','''')+' when '+QUOTENAME('IMU','''')+' then '+QUOTENAME('Impuestos Municipales','''')+' when '+QUOTENAME('IPR','''')+' then '+QUOTENAME('Impuestos Provinciales','''')+' when '+QUOTENAME('IIB','''')+' then '+QUOTENAME('Ingresos Brutos','''')+' else '+QUOTENAME('','''')+' end)'

		declare @lv_vewflt as nvarchar(4000)
		set @lv_vewflt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_vewflt = REPLACE(@lv_vewflt,'fintaxtypcattxt',@lv_fintaxtypcattxt)

		declare @lv_veword as nvarchar(4000)
		set @lv_veword = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_veword = REPLACE(@lv_veword,'fintaxtypcattxt',@lv_fintaxtypcattxt)

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, a.finacctxt, '+@lv_fintaxtypcattxt+' as fintaxtypcattxt '
			+ '	FROM fin_tax_typ t '
			+ ' left join fin_acc a on a.buscod=t.buscod and a.finacccod=t.finacccod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_fintaxtyptyp,'')='' then '' else ' and t.fintaxtyptyp='+QUOTENAME(@lp_fintaxtyptyp,'''') end)
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ @lv_vewflt
			+ @lv_veword
		execute( @lv_sql )
    
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
