USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRN_EQM_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_TRN_EQM_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		/* empresa*/
@lp_trncod			as int			= null,		/* id torneo */
@lp_eqmcod			as int			= null,		/* id equipo */
@lp_eqmtxt			as nvarchar(50) = null,		/* descripción */
@lp_docsts 			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Torneo inválido.												*/
/*	-2	Ya existe un equipo con el mismo nombre en el torneo.			*/
/*	-3	No se puede borrar el equipo. Existe en uno o varios partidos.	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		IF (select count(*) from spt_trn where buscod=@lp_buscod and trncod=@lp_trncod)=0
			BEGIN
				SELECT null, -1 as errcod, 'Torneo inválido.' as errtxt
				RETURN
			END

		IF ( SELECT count(*) FROM SPT_TRN_EQM WHERE buscod=@lp_buscod and trncod=@lp_trncod and eqmtxt=rtrim(ltrim(@lp_eqmtxt)))>0
			BEGIN
				SELECT null, -2 as errcod, 'Ya existe un equipo con el mismo nombre en el torneo.' as errtxt
				RETURN
			END
		
		BEGIN TRAN
		
		INSERT INTO SPT_TRN_EQM 
			(buscod, trncod, eqmtxt, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_trncod, @lp_eqmtxt, 	
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_eqmcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eqmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		IF ( SELECT count(*) FROM SPT_TRN_EQM WHERE buscod=@lp_buscod and trncod=@lp_trncod and not eqmcod=@lp_eqmcod and eqmtxt=rtrim(ltrim(@lp_eqmtxt)))>0
			BEGIN
				SELECT null, -2 as errcod, 'Ya existe un equipo con el mismo nombre en el torneo.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		UPDATE SPT_TRN_EQM 
		SET	eqmtxt = @lp_eqmtxt, 
			docsts = @lp_docsts, 
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and eqmcod = @lp_eqmcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eqmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		SELECT e.*, t.trntxt
		FROM SPT_TRN_EQM e
		inner join SPT_TRN t on t.buscod=e.buscod and t.trncod=e.trncod
		WHERE e.buscod = @lp_buscod
		  and e.trncod = @lp_trncod
		  and e.eqmcod = @lp_eqmcod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF (select count(*) from SPT_trn_zne_mch where buscod=@lp_buscod and trncod=@lp_trncod and (eqmcod001=@lp_eqmcod or eqmcod002=@lp_eqmcod))>0
			BEGIN
				SELECT null, -3 as errcod, 'No se puede borrar el equipo. Existe en uno o varios partidos.' as errtxt
				RETURN
			END
			
		BEGIN TRAN
				
		/* borro zonas del equipo */
		DELETE
		FROM SPT_TRN_ZNE_EQM
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and eqmcod = @lp_eqmcod
		SET @lv_errcod=@@ERROR
		
		/* borro jugadores del equipo */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TRN_EQM_PLY
				WHERE buscod = @lp_buscod
				  and trncod = @lp_trncod
				  and eqmcod = @lp_eqmcod
				SET @lv_errcod=@@ERROR
			END

		/* borro equipo */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TRN_EQM
				WHERE buscod = @lp_buscod
				  and trncod = @lp_trncod
				  and eqmcod = @lp_eqmcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eqmcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
					
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' e.*, t.trntxt '
			+ ' FROM SPT_TRN_EQM e '
			+ '  left join SPT_TRN t on t.buscod=e.buscod and t.trncod=e.trncod ' 
			+ ' WHERE e.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 't.docsts, e.eqmtxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 1    -    R E C A R G A R    en    P A R T I D O S    P E N D I E N T E S			*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_znecod as int
		declare @lv_mchcod as int

		DECLARE lv_cursor_mcheqm CURSOR FOR
		SELECT znecod, mchcod 
		FROM SPT_trn_zne_mch 
		WHERE buscod=@lp_buscod 
		  and trncod=@lp_trncod
		  and (eqmcod001=@lp_eqmcod or eqmcod002=@lp_eqmcod)
		  and (eqmgls001 is null   and eqmgls002 is null)
		OPEN lv_cursor_mcheqm
		FETCH NEXT FROM lv_cursor_mcheqm INTO @lv_znecod, @lv_mchcod
		WHILE @@FETCH_STATUS=0
			BEGIN
				exec SPT_TRN_ZNE_MCH_PLY_DEF '11', @lp_username, @lp_buscod,@lp_trncod,@lv_znecod,@lv_mchcod,@lp_eqmcod
				FETCH NEXT FROM lv_cursor_mcheqm INTO @lv_znecod, @lv_mchcod
			END
		CLOSE lv_cursor_mcheqm
		DEALLOCATE lv_cursor_mcheqm

		SELECT null, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 3    -    L I S T A R	E Q U I P O S     N O     A S I G N A D O S		*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' e.eqmcod, e.eqmtxt, e.trncod, t.trntxt '
			+ ' FROM SPT_TRN t '
			+ ' inner join SPT_TRN_EQM e ON e.buscod=t.buscod and e.trncod=t.trncod '
			+ ' LEFT JOIN  SPT_TRN_ZNE_EQM ze ON ze.buscod=e.buscod and ze.trncod=e.trncod and ze.eqmcod=e.eqmcod '
			+ ' LEFT JOIN SPT_TRN_ZNE z ON z.buscod=ze.buscod and z.trncod=ze.trncod and z.znecod=ze.znecod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' GROUP BY e.eqmcod, e.eqmtxt, e.trncod, t.trntxt '
			+ ' HAVING sum((case when ze.eqmcod is not null and z.docsts='+QUOTENAME('A','''')+' then 1 else 0 end))=0 '
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SELECT e.*, t.trntxt
		FROM SPT_TRN_EQM e
		  left join SPT_TRN t on t.buscod=e.buscod and t.trncod=e.trncod
		WHERE e.buscod=@lp_buscod
		  and e.trncod=@lp_trncod
		  and e.docsts='A'
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 8    -    L I S T A R	(segun parte del nombre)									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM SPT_TRN_EQM
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and docsts = 'A'
		  and eqmtxt like '%'+@lp_eqmtxt+'%'

	END
	
	
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
















GO
