USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_FRM_FLD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_DOC_FRM_FLD_DEF]
@lp_sysoperation 		as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod					as nvarchar(20),
@lp_sysdocfrmfldcod	as int			    = null,	-- id
@lp_SysDocFrmFldCodExt as nvarchar(20)	= null,	-- codigo externo
@lp_sysdocfrmcod	  as nvarchar(20)	= null,	-- id formulario
@lp_sysfldinptyp		as nvarchar(20)	= null,	-- tipo de campo 
@lp_sysdocfrmfldord as int	        = null,	-- orden
@lp_sysdocfrmfldatr as nvarchar(MAX)= null,	-- atributos
@lp_docsts 					as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			     as nvarchar(max) = null,	-- configuración vista 

@lp_errcod			     as int			      = null OUTPUT,
@lp_errtxt			     as nvarchar(400) = null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(400)
declare @lv_errmat as nvarchar(4000)

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		INSERT INTO SYS_DOC_FRM_FLD (buscod, SysDocFrmFldCodExt, sysdocfrmcod, sysfldinptyp, sysdocfrmfldord, sysdocfrmfldatr, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_SysDocFrmFldCodExt, @lp_sysdocfrmcod, @lp_sysfldinptyp, @lp_sysdocfrmfldord, @lp_sysdocfrmfldatr, @lp_docsts, @lp_username, getdate())
		SET @lp_errcod=@@ERROR
		SET @lp_sysdocfrmcod = @@IDENTITY
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sysdocfrmcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt	
		
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE SYS_DOC_FRM_FLD
		SET	SysDocFrmFldCodExt= @lp_SysDocFrmFldCodExt,
			sysdocfrmcod = @lp_sysdocfrmcod,
			sysfldinptyp = @lp_sysfldinptyp,
      sysdocfrmfldord = @lp_sysdocfrmfldord,
      sysdocfrmfldatr = @lp_sysdocfrmfldatr,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocfrmfldcod = @lp_sysdocfrmfldcod
		SET @lp_errcod = @@ERROR
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysdocfrmcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_DOC_FRM_FLD
		WHERE buscod = @lp_buscod and sysdocfrmfldcod = @lp_sysdocfrmfldcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- borro documento
		DELETE 
		FROM SYS_DOC_FRM_FLD
		WHERE buscod = @lp_buscod and sysdocfrmfldcod = @lp_sysdocfrmfldcod
		SET @lp_errcod=@@ERROR

		-- borra los elementos de los formularios de vista
		IF @lv_errcod = 0
			BEGIN
				DELETE 
				FROM GRL_DAT_FRM_FLD
				WHERE buscod = @lp_buscod
					and FrmDocFldCod = @lp_sysdocfrmfldcod
				SET @lv_errcod=@@ERROR
			END

			
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysdocfrmcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- grl_doc_frm_def '08','mdominguez','temasis_log' 

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg , '*', ' sys_doc_frm_fld ', ' buscod='+QUOTENAME(@lp_buscod, ''''), ' ctedte desc ', default )
		execute( @lv_sql )
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
