USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_TAX_CAT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_TAX_CAT_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		-- empresa
@lp_lndcod			as nvarchar(05), 					-- id
@lp_taxcatcod 		as nvarchar(10)	= null,	-- id categoria
@lp_taxcattxt		as nvarchar(50)	= null,		-- descripcion
@lp_taxcatdsc		as nvarchar(1)	= null,		
@lp_taxcatfct001	as bigint		= null,			
@lp_taxcatfct002	as bigint		= null,
@lp_docsts 			as nvarchar(1)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null	-- config vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)

set @lp_taxcatdsc = (case when isnull(@lp_taxcatdsc,0)=0 then 1 else @lp_taxcatdsc end)
declare @lv_taxcatfct001 as decimal(13,3) = dbo.ConvertNumber( @lp_taxcatfct001 , 3 )
declare @lv_taxcatfct002 as decimal(13,3) = dbo.ConvertNumber( @lp_taxcatfct002 , 3 )



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TCT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
  BEGIN
  	IF not isnull(@lp_taxcatcod ,'')='' 
  		BEGIN 																															
      	IF exists(select * from FIN_TAX_CAT GROUP BY taxcatcod, lndcod having count(*) = 1 and lndcod = @lp_lndcod  and taxcatcod = @lp_taxcatcod)
          BEGIN
            SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
            RETURN
          END
      END
  END



-- -----------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO FIN_TAX_CAT (lndcod, taxcatcod, taxcattxt, taxcatdsc, taxcatfct001, taxcatfct002, docsts, cteusr, ctedte)
		VALUES (@lp_lndcod, @lp_taxcatcod, @lp_taxcattxt, @lp_taxcatdsc, @lv_taxcatfct001, @lv_taxcatfct002, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_taxcatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE FIN_TAX_CAT 
		SET	taxcattxt = @lp_taxcattxt,
			taxcatdsc = @lp_taxcatdsc,
			taxcatfct001 = ( @lp_taxcatfct001 / 1000 ),
			taxcatfct002 = ( @lp_taxcatfct002 / 1000 ),
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE lndcod=@lp_lndcod
		  and taxcatcod = @lp_taxcatcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_taxcatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT f.*, l.lndtxt
		FROM FIN_TAX_CAT f 
		inner join GRL_DAT_LND l on l.lndcod=f.lndcod
		WHERE f.lndcod=@lp_lndcod
		  and f.taxcatcod=@lp_taxcatcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE 
		FROM FIN_TAX_CAT 
		WHERE lndcod=@lp_lndcod
		  and taxcatcod=@lp_taxcatcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_taxcatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
			' f.*, l.lndtxt ',
			' FIN_TAX_CAT f inner join GRL_DAT_LND l on l.lndcod=f.lndcod ', 
			' 1=1 '	+ (case when isnull(@lp_docsts,'')='' then '' else ' and f.docsts='+QUOTENAME(@lp_docsts,'''') end),
 			' l.lndtxt, f.taxcattxt ', default )
		execute( @lv_sql )
	
	END
	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
