USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_PTN_MED_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_PTN_MED_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,	/* empresa */
@lp_ptncod			as int			 = null,	/* id socio */
@lp_medcod			as int			 = null,	/* id apto médico */
@lp_adrnum			as int			 = null,	/* id dirección */
@lp_medaptdte		as smalldatetime = null,	/* fecha */
@lp_medregnum		as nvarchar(20)	 = null,	/* matrícula médico*/
@lp_medcmt			as nvarchar(50)	 = null,	/* comentario médico*/
@lp_docsts 			as nvarchar(2)	 = null,	/* estado */

@lp_vewcfg			as nvarchar(4000)= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SPT_PTN_MED (buscod, ptncod, medcod, adrnum, medaptdte, medregnum, medcmt, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_ptncod, @lp_medcod, @lp_adrnum,	@lp_medaptdte, @lp_medregnum, @lp_medcmt, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_medcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_PTN_MED 
		SET	medaptdte = @lp_medaptdte, 
			medregnum = @lp_medregnum, 
			medcmt = @lp_medcmt, 
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and ptncod = @lp_ptncod	
		  and medcod = @lp_medcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_medcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_PTN_MED
		WHERE buscod = @lp_buscod
		  and ptncod = @lp_ptncod	
		  and medcod = @lp_medcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* borro direccion */
		DELETE
		FROM GRL_DAT_ADR
		WHERE buscod=@lp_buscod
		  and adrnum=(select top 1 adrnum from spt_ptn_med where buscod=@lp_buscod and ptncod=@lp_ptncod and medcod=@lp_medcod)
		SET @lv_errcod=@@ERROR
		
		/* borro apto medico */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_PTN_MED
				WHERE buscod = @lp_buscod
				  and ptncod = @lp_ptncod	
				  and medcod = @lp_medcod
				SET @lv_errcod = @@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_medcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM SPT_PTN_MED
		WHERE buscod = @lp_buscod
		  and docsts = 'A'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END













GO
