USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_DIA_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_PAT_DIA_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_patdiacod	 	as int				= null,		/* codigo */
@lp_patdiacodext	as nvarchar(10)		= null,		/* codigo externo */
@lp_patdiatxt		as nvarchar(50)		= null,			/* descripción */
@lp_docsts			as nvarchar(02)		= null,		/* estado */
@lp_vewcfg			as nvarchar(max)	=null		/* vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-1	La clasificación no se puede borrar. Esta asignada a pacientes		*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_patdiacodext=''
			if exists(select top 1 * from hlt_pat_dia where buscod=@lp_buscod and not patdiacod=@lp_patdiacod and patdiacodext=@lp_patdiacodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end
	
	end


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_PAT_DIA (buscod, patdiatxt, patdiacodext, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_patdiatxt, @lp_patdiacodext, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_patdiacod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_patdiacod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_PAT_DIA 
		SET	patdiatxt = @lp_patdiatxt,
			patdiacodext = @lp_patdiacodext,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and patdiacod = @lp_patdiacod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_patdiacod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*
		FROM HLT_PAT_DIA s
		WHERE s.buscod=@lp_buscod
		  and s.patdiacod=@lp_patdiacod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from hlt_pat where buscod=@lp_buscod and patdiacod=@lp_patdiacod)
			BEGIN
				SELECT null, -1 as errcod, 'La clasificación no se puede borrar. Se encuentra asociada a pacientes.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		DELETE
		FROM HLT_PAT_DIA
		WHERE buscod = @lp_buscod
		  and patdiacod = @lp_patdiacod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_patdiacod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM HLT_PAT_DIA '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'patdiatxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
