USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_INV_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_INV_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_slsinvcod		as int			= null,	-- id documento
@lp_slsinvmatcod	as int			= null,	-- id
@lp_matcod			as int			= null,	-- id material
@lp_mattxt			as nvarchar(50)	= null,	-- descripcion
@lp_matqty			as bigint		= null,	-- cantidad
@lp_matuntcod		as nvarchar(20)	= null,	-- UM
@lp_matprc			as bigint		= null,	-- precio unitario
@lp_mattot			as bigint		= null,	-- total
@lp_curcod			as nvarchar(5)	= null,	-- id moneda
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- configuracion vista
@lp_slsinvmatatr	as nvarchar(max)=null,	-- atributos

@lp_docreftyp		as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod		as int			= null,	-- doc referencia - id documento
@lp_docrefposcod	as int			= null,	-- doc referencia - id posicion
@lp_sysdocrejcod	as int			= null	-- id motivo de rechazo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(max)=''

declare @lv_sql as nvarchar(max)

declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty , 3 )
declare @lv_matprc as decimal(13,3) = dbo.ConvertNumber( @lp_matprc , 3 )
declare @lv_mattot as decimal(13,3) = dbo.ConvertNumber( @lp_mattot , 3 )
declare @lv_objtyp as nvarchar(20)
declare @lv_srcobjclscod int = null
declare @lv_refobjclscod int = null


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
    
		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join sls_inv d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slsinvcod=@lp_slsinvcod)
    set @lv_refobjclscod = (select sysdocclscod from sls_inv where buscod=@lp_buscod and slsinvcod=@lp_slsinvcod)
    -- armo tabla temporal
    select cast(null as int) as sysdocclscod into #tmpSysDocClsCod where 1=2
    -- armo sentencia para recuperar el cÃ³digo de la clase, segÃºn el tipo de objeto de origen
    declare @lv_str as nvarchar(4000) = (select top 1 'insert into #tmpSysDocClsCod (sysdocclscod) select sysdocclscod from '+objtyptbl
                                        +' where buscod='+char(39)+@lp_buscod+char(39)+' and '+objtypkey+'='+CAST(@lp_docrefcod as nvarchar(5)) from dbo.getObjectData(@lp_docreftyp))
    -- ejecuto la sentencia
    exec(@lv_str)
    -- guardo datos resultantes
  	set @lv_srcobjclscod = (select * from #tmpSysDocClsCod)
    
    SET @lv_errcod=@@ERROR
		
    IF @lv_errcod = 0
      BEGIN TRAN

      INSERT INTO SLS_INV_MAT (buscod, slsinvcod, matcod, mattxt, matqty, matuntcod, matprc, mattot, curcod, slsinvmatatr, 
        docreftyp, docrefcod, docrefposcod, sysdoctrecod, 
        docsts, ctedte, cteusr) 
      VALUES (@lp_buscod, @lp_slsinvcod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matprc, @lv_mattot, @lp_curcod, @lp_slsinvmatatr,   
        @lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, 'N',  
        @lp_docsts, getdate(), @lp_username )
      SET @lv_errcod=@@ERROR
      SET @lp_slsinvmatcod = @@IDENTITY

		-- agrego la referencia
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_slsinvcod,@lp_slsinvmatcod,@lp_matqty,@lp_matuntcod,@lv_srcobjclscod,@lv_refobjclscod,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsinvmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join sls_inv d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slsinvcod=@lp_slsinvcod)

		BEGIN TRAN

		UPDATE SLS_INV_MAT 
		SET matcod	= @lp_matcod,
			mattxt	= @lp_mattxt, 
			matqty	= @lv_matqty, 
			matuntcod	= @lp_matuntcod,
			matprc	= @lv_matprc,
			mattot	= @lv_mattot,
			CurCod	= @lp_curcod, 
			slsinvmatatr = @lp_slsinvmatatr, 
			sysdocrejcod = @lp_sysdocrejcod, 
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and slsinvcod = @lp_slsinvcod 
		  and slsinvmatcod = @lp_slsinvmatcod
		SET @lv_errcod=@@ERROR
    
		-- agrego la referencia (documento como posicion)
		IF @lv_errcod=0 
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_slsinvcod,@lp_slsinvmatcod,@lp_matqty,@lp_matuntcod,@lv_srcobjclscod,@lv_refobjclscod,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_slsinvmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT om.*
		FROM sls_inv_mat om 
		WHERE om.buscod=@lp_buscod
		  and om.slsinvcod = @lp_slsinvcod
		  and om.slsinvmatcod = @lp_slsinvmatcod
		
	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from sls_inv_mat where buscod=@lp_buscod and slsinvcod=@lp_slsinvcod and slsinvmatcod=@lp_slsinvmatcod

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join sls_inv d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slsinvcod=@lp_slsinvcod)

		BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_slsinvcod,@lp_slsinvmatcod,null,null,null,null,null,@lp_vewcfg,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
		
		-- borro precios
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_PRC 
				WHERE buscod = @lp_buscod
				  and SrcObjTyp = 'SLS_INV'
				  and srcobjcod001 = @lp_slsinvcod
				  and SrcObjCod002 = @lp_slsinvmatcod
				SET @lv_errcod=@@ERROR
			END

		-- borro posicion
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SLS_INV_MAT 
				WHERE buscod=@lp_buscod
				  and slsinvcod = @lp_slsinvcod
				  and slsinvmatcod = @lp_slsinvmatcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_slsinvmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- sls_inv_mat_def '08','temasis','temasis_hlt'

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' om.*, convert(varchar,o.slsinvdte,103) as slsinvdtecnv, o.slsinvcodext, m.matcodext, fp.refposqty as refposqty, '
			+ ' m.matusebch, m.matuseser, dr.sysdocrejtxt, dt.sysdoctretxt '
			+ ' FROM sls_inv_mat om '
			+ ' left join sls_inv o on o.buscod=om.buscod and o.slsinvcod=om.slsinvcod '
			+ ' left join stk_mat m on m.buscod=om.buscod and m.matcod=om.matcod '
			+ ' left join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join grl_doc_flw_pos fp on fp.buscod=om.buscod and fp.srcobjtyp=dc.objtyp and fp.srcobjcod=om.slsinvcod and fp.srcposcod=om.slsinvmatcod and isnull(fp.refobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
			+ ' left join SYS_DOC_REJ dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod '
			+ ' WHERE om.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END


	
IF @lv_validop = 0		-- C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
