USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LQD_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HHR_LQD_GRP_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operaciÃ³n */
@lp_username 		as nvarchar(20),			/* operaciÃ³n - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_hhrlqdgrpcod	as int			= null,		/* id */
@lp_hhrlqdgrptxt	as nvarchar(50) = null,		/* descripcion */
@lp_hhrlqdgrpdte	as nvarchar(14) = null,		/* fecha */
@lp_hhrlqdgrpstrdte	as nvarchar(14) = null,		/* fecha - inicio */
@lp_hhrlqdgrpenddte	as nvarchar(14) = null,		/* fecha - fin */
@lp_prcschcod		as int			= null,		/* id esquema de precios */
@lp_hhrlqdgrpatr001	as nvarchar(max)= null,		/* atributos */
@lp_docsts			as nvarchar(02)	= null,		/* estado */

@lp_vewcfg			as nvarchar(max)= null,		/* vista */

@lp_sysdocclscod	as int			= null		/* clase de documento - ID */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_errtxt as nvarchar(4000)
set @lv_errtxt = ''

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_hhrlqdgrpdte as datetime
set @lv_hhrlqdgrpdte = dbo.ConvertDate( @lp_hhrlqdgrpdte )

declare @lv_hhrlqdgrpstrdte as datetime
set @lv_hhrlqdgrpstrdte = dbo.ConvertDate( @lp_hhrlqdgrpstrdte )

declare @lv_hhrlqdgrpenddte as datetime
set @lv_hhrlqdgrpenddte = dbo.ConvertDate( @lp_hhrlqdgrpenddte )

declare @lv_srcobjtyp as nvarchar(50)
set @lv_srcobjtyp = ''

set @lp_vewcfg = replace(@lp_vewcfg, 'hhrlqdgrpstrdtecnv', 'l.hhrlqdgrpstrdte')
set @lp_vewcfg = replace(@lp_vewcfg, 'hhrlqdgrpenddtecnv', 'l.hhrlqdgrpenddte')



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQG'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end




-- ------------------------------------------------------------------------
--   E R R O R E S														
-- ------------------------------------------------------------------------
--	-2	No se puede borrar. Documento contabilizado.													
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('02', '12', '09')
	IF (select top 1 docsts from HHR_LQD_GRP where buscod=@lp_buscod and hhrlqdgrpcod=@lp_hhrlqdgrpcod)='C'
			BEGIN
				SELECT 'E' as errtyp, -2 as errcod, 'cannotupdateaccountingdocument' as errmsg
				RETURN
			END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R 													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- agrego cabecera de liquidaciÃ³n
		INSERT INTO HHR_LQD_GRP (buscod, hhrlqdgrptxt, hhrlqdgrpdte, hhrlqdgrpstrdte, hhrlqdgrpenddte, prcschcod, hhrlqdgrpatr001, docsts, ctedte, cteusr, sysdocclscod )
		VALUES( @lp_buscod, @lp_hhrlqdgrptxt, @lv_hhrlqdgrpdte, @lv_hhrlqdgrpstrdte, @lv_hhrlqdgrpenddte, @lp_prcschcod, @lp_hhrlqdgrpatr001, @lp_docsts, getdate(), @lp_username, @lp_sysdocclscod )
		SET @lv_errcod=@@ERROR
		SET @lp_hhrlqdgrpcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
    
		BEGIN TRAN

		-- actualizo cabecera
		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD_GRP
				SET hhrlqdgrptxt = @lp_hhrlqdgrptxt,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and hhrlqdgrpcod=@lp_hhrlqdgrpcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdgrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R 														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1

		/* HHR_LQD_GRP_def '03','mdominguez','institutoalmafuerte','7' */

	set @lv_sql = dbo.getsqlsentence(@lp_vewcfg,
                                    ' l.*, dc.sysdocclstxt, ps.prcschtxt ',
                                    ' HHR_LQD_GRP l '
                                    + ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
																		+ ' left join GRL_PRC_SCH ps on ps.buscod=l.buscod and ps.prcschcod=l.prcschcod ',
                                    ' l.buscod='+QUOTENAME(@lp_buscod, '''')
                                  	+ ' and l.hhrlqdgrpcod='+QUOTENAME(@lp_hhrlqdgrpcod,''''),'','')
                                    
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R 												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		set @lp_docsts = (select top 1 docsts from HHR_LQD_GRP where buscod=@lp_buscod and hhrlqdgrpcod=@lp_hhrlqdgrpcod)
		
		BEGIN TRAN
		
		UPDATE HHR_LQD
		SET deldte = GETDATE(),
			delusr = @lp_username
		WHERE BusCod=@lp_buscod
		  and HhrLqdCod in (select  HhrLqdCod from HHR_LQD_GRP_LQD where BusCod=@lp_buscod and HhrLqdGrpCod=@lp_hhrlqdgrpcod)
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD_GRP
				SET deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and hhrlqdgrpcod=@lp_hhrlqdgrpcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END




/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		/* HHR_LQD_GRP_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>','' */
		
		set @lv_sql = dbo.getsqlsentence(@lp_vewcfg,
                                    ' l.*, convert(varchar,l.hhrlqdgrpdte,103) as hhrlqdgrpdtecnv, '
                                    + ' convert(varchar,l.hhrlqdgrpstrdte,103) as hhrlqdgrpstrdtecnv, '
                                    + ' convert(varchar,l.hhrlqdgrpenddte,103) as hhrlqdgrpenddtecnv, '
                                    + ' dc.sysdocclstxt, ps.prcschtxt ',
                                    'HHR_LQD_GRP l '
                                    + ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
                                    + ' left join GRL_PRC_SCH ps on ps.buscod=l.buscod and ps.prcschcod=l.prcschcod ',
                                    ' l.buscod='+QUOTENAME(@lp_buscod, '''')
																		+ ' and l.deldte is null ',
                                    ' l.hhrlqdgrpdte DESC, l.hhrlqdgrpcod DESC '
                                    ,'')
                                    
		execute( @lv_sql )
	END



/* ------------------------------------------------------------------------ */
/*   0 9    -    C O N T A B I L I Z A R									*/
/* ------------------------------------------------------------------------ */
--HHR_LQD_GRP_DEF '09','FDINARDO','TEMASIS_EDU','25','ENERO','20210914000000','20220101000000','20220131000000','6','','A','','174'

IF @lp_sysoperation='09' or @lp_sysoperation='19'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* 1. actualizo cabecera */		
		UPDATE HHR_LQD_GRP
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and hhrlqdgrpcod=@lp_hhrlqdgrpcod
		SET @lv_errcod=@@ERROR
		
		/* 2. actualizo posiciones (contabilizo cada documento llamando al SP HHR_LQD_GRP por cada fila) */
		IF @lv_errcod=0
			BEGIN
				
				DECLARE @lv_curhhrlqdcod as int
				DECLARE @lv_curhhrlqdtxt as nvarchar(50)
				DECLARE @lv_curhhrlqdstrdte as smalldatetime
				DECLARE @lv_cursrcobjtyp as nvarchar(20)
				DECLARE @lv_curhhrchrasgcod as int
				DECLARE @lv_curprcschcod as int
				DECLARE @lv_curhhrlqdatr001 as nvarchar(max)

				set @lv_sql = ' declare lg_lqd_09 cursor for '
       	+ dbo.getsqlsentence(@lp_vewcfg,
                            ' hhrlqdcod, hhrlqdtxt, hhrlqdstrdte, srcobjtyp, hhrchrasgcod, prcschcod, hhrlqdatr001 ',
                            ' HHR_LQD ',
                            ' buscod='+QUOTENAME(@lp_buscod, '''')
                            + ' and docsts='+QUOTENAME('A', '''')
                            + ' and hhrlqdcod IN (SELECT hhrlqdcod FROM HHR_LQD_GRP_LQD WHERE HhrLqdGrpCod = '+QUOTENAME(@lp_hhrlqdgrpcod, '''')+') '
                            ,'','')
				+ ' open lg_lqd_09 '
				execute( @lv_sql )
				
				fetch next from lg_lqd_09 into @lv_curhhrlqdcod, @lv_curhhrlqdtxt, @lv_curhhrlqdstrdte, @lv_cursrcobjtyp, @lv_curhhrchrasgcod, @lv_curprcschcod, @lv_curhhrlqdatr001
				while @@FETCH_STATUS=0
					BEGIN
						-- convierte el valor datetime en un nvarchar que se pueda pasar al SP HHR_LQD_DEF
						DECLARE @lv_curhhrqldstrdtenew as nvarchar(14) = convert(varchar, @lv_curhhrlqdstrdte,112)	 + replace(convert(varchar, @lv_curhhrlqdstrdte,108),':','')
						
						EXECUTE HHR_LQD_DEF '19', @lp_username, @lp_buscod, @lv_curhhrlqdcod, @lv_curhhrlqdtxt, '',
						@lv_curhhrqldstrdtenew, '', @lv_cursrcobjtyp, '', '', @lv_curhhrchrasgcod, 
						@lv_curprcschcod, @lv_curhhrlqdatr001, @lp_docsts, '', '', '', '', @lv_errcod, @lv_errtxt
	
						fetch next from lg_lqd_09 into @lv_curhhrlqdcod, @lv_curhhrlqdtxt, @lv_curhhrlqdstrdte, @lv_cursrcobjtyp, @lv_curhhrchrasgcod, @lv_curprcschcod, @lv_curhhrlqdatr001
					END
				close lg_lqd_09
				deallocate lg_lqd_09

			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrlqdgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   2 3    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='23'
	BEGIN
		SET @lv_validop = 1

		/* HHR_LQD_GRP_DEF '23','MDOMINGUEZ','INSTITUTOALMAFUERTE' */
		
    set @lv_sql = dbo.getsqlsentence(@lp_vewcfg,
                                  ' l.*, dt.taxcod, dt.taxiibb, '
                                  + ' dbo.getTagValue('+QUOTENAME('SRCOBJTXT','''')+', l.hhrlqdatr001) as srcobjtxt, '
                                  + ' dbo.getTagValue('+QUOTENAME('SRCOBJCOD','''')+', l.hhrlqdatr001) as srcobjcod, '
                                  + ' dbo.getTagValue('+QUOTENAME('CHRTYPTXT','''')+', l.hhrlqdatr001) as hhrchrtyptxt, '
                                  + ' dbo.getTagValue('+QUOTENAME('CHRSTRDTE','''')+', l.hhrlqdatr001) as hhrchrstrdte, '
                                  + ' dbo.getTagValue('+QUOTENAME('CHRENDDTE','''')+', l.hhrlqdatr001) as hhrchrenddte ',
                                  ' HHR_LQD_GRP g '
                                  + ' inner join HHR_LQD_GRP_LQD gd on gd.buscod=g.buscod and gd.hhrlqdgrpcod=g.hhrlqdgrpcod '
                                  + ' inner join HHR_LQD l on l.buscod=gd.buscod and l.hhrlqdcod=gd.hhrlqdcod '
                                  + ' inner join GRL_DAT_ADR a on a.BusCod=l.BusCod and a.AdrSrcTyp=l.srcobjtyp and a.adrsrccod=l.srcobjcod001 '
                                  + ' inner join HHR_CHR_ASG ca on ca.BusCod=l.BusCod and ca.hhrchrasgcod=l.hhrchrasgcod '
                                  + ' inner join HHR_CHR_TYP ct on ct.BusCod=ca.BusCod and ct.HhrChrTypCod=ca.HhrChrTypCod '
                                  + ' left join HHR_AGR ag on ag.buscod=ca.buscod and ag.hhragrcod=ca.hhragrcod '
                                  + ' left join HHR_LAB_UNI lu on lu.buscod=ca.buscod and lu.hhrlabunicod=ca.hhrlabunicod '
                                  + ' left join HHR_CHR_CLS cc on cc.BusCod=ct.BusCod and cc.HhrChrClsCod=ct.HhrChrClsCod '
                                  + ' left join GRL_DAT_TAX dt on dt.BusCod=a.BusCod and dt.TaxSrcTyp=a.adrsrctyp and dt.TaxSrcCod=a.AdrSrcCod ',
                                  ' g.buscod='+QUOTENAME(@lp_buscod, '''')
            											+ ' and g.deldte is null ',
                                 ' dbo.getTagValue('+QUOTENAME('SRCOBJTXT','''')+', l.hhrlqdatr001) ','')
		
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   3 3    -    O B T E N E R    O R I G E N E S							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='33'
	BEGIN
		SET @lv_validop = 1

		/* HHR_LQD_GRP_DEF '33','MDOMINGUEZ','INSTITUTOALMAFUERTE','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>','' */
		
		set @lp_vewcfg = REPLACE(@lp_vewcfg,'srcobjtxt','a.adrnme001')

		set @lv_sql = dbo.getsqlsentence(@lp_vewcfg,
                                  ' a.adrsrccod as srcobjcod, a.adrnme001 as srcobjtxt, ct.hhrchrtypcod, ct.HhrChrTypTxt, convert(nvarchar,ca.hhrchrasgdtestr,103) as hhrchrasgdtestrcnv, convert(nvarchar,ca.hhrchrasgdteend,103) as hhrchrasgdteendcnv, ca.hhrchrasgcod ',
                                  ' SYS_DOC_CLS dc '
                                  + ' inner join GRL_DAT_ADR a on a.BusCod=dc.BusCod and a.AdrSrcTyp=dbo.getTagValue('+QUOTENAME('srcobjtyp','''')+',dc.SysDocClsAtr) '
                                  + ' inner join HHR_CHR_ASG ca on ca.BusCod=a.BusCod and ca.SrcObjTyp=a.AdrSrcTyp and ca.SrcObjCod=a.AdrSrcCod '
                                  + ' inner join HHR_CHR_TYP ct on ct.BusCod=ca.BusCod and ct.HhrChrTypCod=ca.HhrChrTypCod '
                                  + ' left join HHR_AGR ag on ag.buscod=ca.buscod and ag.hhragrcod=ca.hhragrcod '
                                  + ' left join HHR_LAB_UNI lu on lu.buscod=ca.buscod and lu.hhrlabunicod=ca.hhrlabunicod '
                                  + ' left join HHR_CHR_CLS cc on cc.BusCod=ct.BusCod and cc.HhrChrClsCod=ct.HhrChrClsCod '
                                  + ' left join GRL_DAT_TAX dt on dt.BusCod=a.BusCod and dt.TaxSrcTyp=a.adrsrctyp and dt.TaxSrcCod=a.AdrSrcCod ',
                                  ' a.buscod='+QUOTENAME(@lp_buscod, '''')
                                  + ' and dc.objtyp='+QUOTENAME('HHR_LQD_GRP','''')
                                  + ' and a.DocSts='+QUOTENAME('A','''')
                                  + ' and dc.DocSts='+QUOTENAME('A','''')
                                  + ' and ca.DocSts='+QUOTENAME('A','''')
                                  + ' and ct.DocSts='+QUOTENAME('A',''''),
                                 '  a.adrnme001, ct.HhrChrTypTxt ','')
                                 
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
