USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_BUS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_SEC_USR_BUS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_usrcod			as nvarchar(20)	= null,				-- usuario
@lp_buscod			as nvarchar(20) = null,				-- empresa

@lp_vewcfg			as nvarchar(4000)=null,		-- configuraciÃ³n vista

@lp_usrbusatr001	as nvarchar(4000)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R 													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- antes de insertar, verifico que no exista la combinaciÃ³n
		IF not exists(SELECT top 1 * FROM sys_sec_usr_bus WHERE usrcod=@lp_usrcod and buscod=@lp_buscod)
			BEGIN

				BEGIN TRAN

				INSERT INTO sys_sec_usr_bus (usrcod, buscod) VALUES (@lp_usrcod, @lp_buscod)
				SET @lv_errcod=@@ERROR

				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

			END

		SELECT @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    A C T U A L I Z A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    
	
		declare @lp_delimiter as nvarchar(1)
		set @lp_delimiter = char(9)

		BEGIN TRAN

		-- quitar los permisos que no estan incluidos
		delete
		from sys_sec_usr_bus
		where usrcod=@lp_usrcod
		  and buscod not in (select id from dbo.StringSplit(@lp_usrbusatr001,@lp_delimiter))
		SET @lv_errcod=@@ERROR

		-- agregar los permisos que faltan
		if @lv_errcod=0
			BEGIN
				insert into sys_sec_usr_bus (usrcod, buscod)
				select @lp_usrcod, x.id
				from dbo.StringSplit( @lp_usrbusatr001,@lp_delimiter) x
				where x.id not in (select p.buscod from sys_sec_usr_bus p where p.usrcod=@lp_usrcod)
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT 0, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R 												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- borro grupos asignados (son x empresa)
		DELETE FROM sys_sec_usr_grp
		WHERE usrcod=@lp_usrcod
		  and usrgrpcod in (select usrgrpcod from sys_sec_grp where buscod=@lp_buscod)
		SET @lv_errcod=@@ERROR

		-- borro permisos asignados a empresa
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_per
				WHERE usrcod=@lp_usrcod
				  and buscod=@lp_buscod
				SET @lv_errcod=@@ERROR
			END

		-- borro asignaciÃ³n de empresa
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM sys_sec_usr_bus
				WHERE usrcod = @lp_usrcod
				  and buscod = @lp_buscod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_buscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' u.*, b.bustxt, us.usrtxt '
			+ ' FROM sys_sec_usr_bus u '
			+ ' inner join adm_bus b on u.buscod=b.buscod '
			+ ' inner join sys_sec_usr us on us.usrcod=u.usrcod '
			+ ' WHERE 1=1'
			+ (case when isnull(@lp_usrcod,'')='' then '' else ' and u.usrcod='+QUOTENAME(@lp_usrcod,'''') end) 
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'b.bustxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   1 8    -    L I S T A R	(todas las empresas y las asociadas al usuario)	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		SELECT b.buscod,
				b.bustxt,
				(select usrcod from sys_sec_usr_bus where buscod=b.buscod and usrcod=@lp_usrcod) as usrcod
		FROM adm_bus b
		inner join SYS_SEC_USR_BUS ub on ub.BusCod=b.BusCod
		WHERE ub.UsrCod=@lp_username

	END



-- ------------------------------------------------------------------------
--   2 1    -   F I J A R    A C E P T A C I O N							
--				T E R M I N O S    D E    U S O								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '21'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		UPDATE sys_sec_usr_bus
		SET usrtrmacp=getdate()
		WHERE buscod=@lp_buscod
		  and usrcod=@lp_usrcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
