USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_DRT_GRP_ASG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_DRT_GRP_ASG_DEF]

@lp_sysoperation 			as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod					as nvarchar(20),
@lp_syssecdrtgrpasgcod		as int				= null,	/* id */
@lp_srcobjtyp				as nvarchar(20)		= null, /* objeto origen */
@lp_srcobjcod001			as nvarchar(20)		= null,	/* id origen 001 */
@lp_syssecdrtgrpcod			as int				= null, /* codigo grupo*/
@lp_docsts 					as nvarchar(02)		= null,	/* estado */

@lp_vewcfg					as nvarchar(max)	= null	/* configuración de la vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_SEC_DRT_GRP_ASG (buscod, srcobjtyp, srcobjcod001, syssecdrtgrpcod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_srcobjtyp, @lp_srcobjcod001, @lp_syssecdrtgrpcod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_syssecdrtgrpasgcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_syssecdrtgrpasgcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_SEC_DRT_GRP_ASG 
		SET	srcobjtyp=@lp_srcobjtyp,
			srcobjcod001 = @lp_srcobjcod001,
			syssecdrtgrpcod=@lp_syssecdrtgrpcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and syssecdrtgrpasgcod = @lp_syssecdrtgrpasgcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_syssecdrtgrpasgcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT dga.*, dg.SysSecDrtGrpTxt  
		FROM SYS_SEC_DRT_GRP_ASG dga
		inner join SYS_SEC_DRT_GRP dg on dg.SysSecDrtGrpCod = dga.SysSecDrtGrpCod
		WHERE dga.buscod = @lp_buscod
		  and syssecdrtgrpasgcod = @lp_syssecdrtgrpasgcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE
		FROM SYS_SEC_DRT_GRP_ASG
		WHERE buscod = @lp_buscod
		  and syssecdrtgrpasgcod = @lp_syssecdrtgrpasgcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_syssecdrtgrpasgcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dga.*, dg.SysSecDrtGrpTxt '
			+ ' FROM SYS_SEC_DRT_GRP_ASG dga '
			+ ' left join SYS_SEC_DRT_GRP dg on dg.SysSecDrtGrpCod = dga.SysSecDrtGrpCod '
			+ ' WHERE buscod = '+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'dg.syssecdrtgrptxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END
		


/* ----------------------------------------------------------------------------- */
/*   13    -    L I S T A R		D I R E C T I V A S		D E		U S U A R I O	 */
/* ----------------------------------------------------------------------------- */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' distinct gt.syssecdrttypcod, STUFF(( '
			+ '	SELECT char(10) + SysSecDrtGrpTypDefVal '
			+ ' FROM SYS_SEC_DRT_GRP_TYP gt2 '
			+ ' where gt.SysSecDrtTypCod = gt2.SysSecDrtTypCod and gt2.SysSecDrtGrpTypCod IN (select SysSecDrtGrpTypCod '
			+ ' FROM SYS_SEC_DRT_GRP_TYP gt '
			+ ' inner join SYS_SEC_DRT_GRP_ASG dga on dga.SysSecDrtGrpCod = gt.SysSecDrtGrpCod '
			+ ' left join SYS_SEC_USR_GRP ug on ug.BusCod = dga.BusCod and ug.UsrGrpCod = dga.SrcObjCod001 '
			+ ' left join SYS_SEC_USR_BUS ub on ub.buscod=dga.SrcObjCod001 '
			-- asignaciones por usuario
			+ ' WHERE (dga.SrcObjTyp='+QUOTENAME('SYS_USR','''') 
			+ ' and dga.SrcObjCod001='+QUOTENAME(@lp_username,'''')
			-- por empresa
			+ ' ) OR (dga.SrcObjTyp='+QUOTENAME('ADM_BUS','''')
			+ ' and ub.usrcod= '+QUOTENAME(@lp_username,'''')
			-- por rol en empresa
			+ ' ) OR ( dga.SrcObjTyp='+QUOTENAME('SYS_GRP','''') 
			+ ' and ug.UsrCod='+QUOTENAME(@lp_username,'''')
			-- asignaciones del sistema
			+ ' ) OR ( dga.BusCod= '+QUOTENAME('**','''')
			+ '	and dga.SrcObjTyp= '+QUOTENAME('**','''')
			+ '	and dga.SrcObjCod001= '+QUOTENAME('**','''')
			+ '	)) '
			+ '	FOR XML PATH('+QUOTENAME('','''')+'), TYPE '
			+ ' ).value('+QUOTENAME('.','''')+', '+QUOTENAME('nvarchar(max)','''')+'), 1, 1, '+QUOTENAME('','''')+') AS SysSecDrtGrpTypDefVal '
			+ ' FROM SYS_SEC_DRT_GRP_TYP gt '
			+ ' inner join SYS_SEC_DRT_GRP_ASG dga on dga.SysSecDrtGrpCod = gt.SysSecDrtGrpCod '
			+ ' left join SYS_SEC_USR_GRP ug on ug.BusCod = dga.BusCod and ug.UsrGrpCod = dga.SrcObjCod001 '
			+ ' left join SYS_SEC_USR_BUS ub on ub.buscod=dga.SrcObjCod001 '
			-- asignaciones por usuario
			+ ' WHERE (dga.SrcObjTyp='+QUOTENAME('SYS_USR','''') 
			+ ' and dga.SrcObjCod001='+QUOTENAME(@lp_username,'''')
			-- por empresa
			+ ' ) OR (dga.SrcObjTyp='+QUOTENAME('ADM_BUS','''')
			+ ' and ub.usrcod= '+QUOTENAME(@lp_username,'''')
			-- por rol en empresa
			+ ' ) OR ( dga.SrcObjTyp='+QUOTENAME('SYS_GRP','''') 
			+ ' and ug.UsrCod='+QUOTENAME(@lp_username,'''')
			-- asignaciones del sistema
			+ ' ) OR ( dga.BusCod= '+QUOTENAME('**','''')
			+ '	and dga.SrcObjTyp= '+QUOTENAME('**','''')
			+ '	and dga.SrcObjCod001= '+QUOTENAME('**','''')
			+ '	) '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'gt.syssecdrttypcod' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END



GO
