USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_PTN_ACT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_PTN_ACT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_ptnactcod		as int			= null,	-- ID registro 
@lp_ptncod			as int			= null,	-- ID socio 
@lp_actcod			as int			= null,	-- ID actividad 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 
@lp_vewcfg			as nvarchar(max) = null	-- configuraciÃ³n vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SPT_PTN_ACT 
			(buscod, ptncod, actcod, 			
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_ptncod, @lp_actcod,	
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_ptnactcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptnactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg

	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R												
-- ------------------------------------------------------------------------  
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_PTN_ACT 
		SET	actcod = @lp_actcod,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and ptnactcod=@lp_ptnactcod
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptnactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg

	END
  
-- ------------------------------------------------------------------------ 
--   0 3    -    V E R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_PTN_ACT
		WHERE buscod = @lp_buscod
		  and ptncod = @lp_ptncod
		  and actcod = @lp_actcod
		  
	END

-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM SPT_PTN_ACT
		WHERE buscod = @lp_buscod
		   and ptnactcod = @lp_ptnactcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptnactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errmsg

	END

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
        + ' d.*, a.acttxt '
        + ' FROM SPT_PTN_ACT d '
        + ' inner join spt_act a on a.buscod=d.buscod and a.actcod=d.actcod '
        + ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
        + (case when isnull(@lp_docsts,'')='' then '' else ' and d.docsts='+QUOTENAME(@lp_docsts,'''') end)
        + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
        + dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
    execute( @lv_sql )

	END

-- ------------------------------------------------------------------------ 
--   1 3    -    V E R	 X   S O C I O												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT d.*, a.acttxt
		FROM SPT_PTN_ACT d
			inner join spt_act a on a.buscod=d.buscod and a.actcod=d.actcod
		WHERE d.buscod = @lp_buscod
		  and d.ptncod = @lp_ptncod

	END

-- ------------------------------------------------------------------------ 
--   2 3    -    L I S T A R      S O C I O S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		-- obtegno parÃ¡metro para detemrinar la cantidad de meses adeudados para inhabilitar 
		declare @lv_duemth as int
		set @lv_duemth = isnull( (select top 1 prmval from sys_app_prm where mdlcod='SPT' and prmcodext='NumberOfDueMonths') , 9999 )

		-- determino fecha fin de validez de deuda 
		declare @lv_duedte as smalldatetime
		set @lv_duedte = dateadd(month, (@lv_duemth*-1) ,getdate())

		SELECT p.*,
		(case when (select sum(sptdbtamtrst) from spt_dbt_ptn x where x.buscod=a.buscod and x.ptncod=p.ptncod and x.docsts='A' and x.sptdbtexpdte<@lv_duedte and not x.sptdbtamtrst=0)>0 then 'REGISTRA DEUDA' else 'ACTIVO' end) as ptndbtsts
		FROM SPT_PTN_ACT a
			inner join spt_ptn p on p.buscod=a.buscod and p.ptncod=a.ptncod
		WHERE a.buscod = @lp_buscod
		  and a.actcod = @lp_actcod
		  and p.docsts = 'A'
		  and p.deldte is null
		  
	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
