USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_EXP_TYP_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BUY_EXP_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),					-- operaciÃ³n
@lp_username 		as nvarchar(20),					-- usuario
@lp_buscod			as nvarchar(20) = null,		-- empresa
@lp_buyexptypcod	as int			= null,			-- id
@lp_buyexptypcodext	as nvarchar(20)	= null,		-- codigo
@lp_buyexptyptxt	as nvarchar(50) = null,			-- descripciÃ³n
@lp_docsts			as nvarchar(2)	= null,		-- estado
												
@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃ³n vista
												
@lp_finacccod		as int			= null				-- id cuenta

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'BUY'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EXT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
	
		-- codigo externo duplicado
		if not isnull(@lp_buyexptypcodext,'')=''
			IF exists(select top 1 * from BUY_EXP_TYP where buscod=@lp_buscod and not BuyExpTypCod=@lp_buyexptypcod and BuyExpTypCodExt=@lp_buyexptypcodext)
				BEGIN
					SELECT null, 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
				
	END


-- -----------------------------------------------------------------------
--   0 1    -    C R E A R	
-- -----------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO buy_exp_typ (buscod, buyexptypcodext, buyexptyptxt, finacccod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_buyexptypcodext, @lp_buyexptyptxt, @lp_finacccod, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_buyexptypcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyexptypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE buy_exp_typ
		SET buyexptypcodext = @lp_buyexptypcodext,
			buyexptyptxt = @lp_buyexptyptxt,
			finacccod = @lp_finacccod,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and buyexptypcod = @lp_buyexptypcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyexptypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*, a.finacctxt 
		FROM buy_exp_typ t
		left join fin_acc a on a.buscod=t.buscod and a.finacccod=t.finacccod
		WHERE t.buscod = @lp_buscod
		  and t.buyexptypcod = @lp_buyexptypcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE
		FROM buy_exp_typ
		WHERE buscod = @lp_buscod
		  and buyexptypcod = @lp_buyexptypcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyexptypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, a.finacctxt '
			+ ' FROM buy_exp_typ t '
			+ ' left join fin_acc a on a.buscod=t.buscod and a.finacccod=t.finacccod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
