USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_STE_EVT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_STE_EVT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,	-- empresa
@lp_steevtcod 		as int			= null,	-- id
@lp_stecod 			as int			= null,	-- id obra
@lp_steevtdte		as nvarchar(14)	= null,	-- fecha
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_sysdocclscod 	as int			= null	-- id clase documento

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_steevtdte as datetime = dbo.ConvertDate( @lp_steevtdte )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CNS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EVT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO CNS_STE_EVT (buscod, stecod, steevtdte, sysdocclscod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stecod, @lv_steevtdte, @lp_sysdocclscod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_steevtcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_steevtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE CNS_STE_EVT
		SET	docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and steevtcod = @lp_steevtcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_steevtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT se.*, s.stecodext, s.stetxt, dc.sysdocclstxt
		FROM CNS_STE_EVT se 
			inner join CNS_STE s on s.buscod=se.buscod and s.stecod=se.stecod
			inner join SYS_DOC_CLS dc on dc.buscod=se.buscod and dc.sysdocclscod=se.sysdocclscod
		WHERE se.buscod=@lp_buscod
		  and se.steevtcod = @lp_steevtcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		-- borro documentos relacionados del evento
		DELETE
		FROM CNS_STE_EVT_DOC
		WHERE buscod=@lp_buscod
		  and steevtcod=@lp_steevtcod
		SET @lv_errcod = @@ERROR
		
		-- borro evento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM CNS_STE_EVT 
				WHERE buscod=@lp_buscod
					and steevtcod=@lp_steevtcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_steevtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END



---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'steevtdtecnv','se.steevtdte')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' se.steevtdte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		set @lv_ord = REPLACE(@lv_ord,'steevtdtecnv','se.steevtdte')

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' se.*, s.stecodext, s.stetxt, dc.sysdocclstxt, convert(varchar,se.steevtdte,103) as steevtdtecnv '
			+ ' FROM CNS_STE_EVT se '
			+ ' inner join CNS_STE s on s.buscod=se.buscod and s.stecod=se.stecod '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=se.buscod and dc.sysdocclscod=se.sysdocclscod '
			+ ' WHERE se.buscod='+QUOTENAME(@lp_buscod, '''')
		execute( @lv_sql+@lv_flt+@lv_ord )

	END
	

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
