USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_EXP_DOC_IMP_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUY_EXP_DOC_IMP_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_buyexpcod		as int			= null,	-- id documento
@lp_buyexpdoccod	as int			= null,	-- id posicion
@lp_buyexpdocimpcod	as int			= null,	-- id imputacion
@lp_SrcObjTyp		as nvarchar(20)	= null,	-- objeto imputacion - tipo
@lp_SrcObjCod001	as nvarchar(20)	= null,	-- objeto imputacion - id1
@lp_SrcObjCod002	as nvarchar(20)	= null,	-- objeto imputacion - id2
@lp_docsts			as nvarchar(02)	= null,	-- estado
@lp_buyexpdocimpqty as bigint = null, -- porcentaje de imputaciÃ³n

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(400)= null OUTPUT

AS

SET NOCOUNT ON

declare @lv_buyexpdocimpqty as decimal(13,3) = dbo.ConvertNumber( @lp_buyexpdocimpqty, 3)
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01'
	begin
  	if @lp_buyexpdocimpcod is null or @lp_buyexpdocimpcod = ''
    begin
    	if exists(select top 1 * from BUY_EXP_DOC_IMP where buscod=@lp_buscod and buyexpcod=@lp_buyexpcod and buyexpdoccod=@lp_buyexpdoccod and srcobjtyp=@lp_srcobjtyp and srcobjcod001=@lp_srcobjcod001 and srcobjcod002=@lp_SrcObjCod002)
        set @lp_sysoperation = '02'
      else
        set @lp_sysoperation = '01'
    end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='01'
			BEGIN TRAN
		
		INSERT INTO BUY_EXP_DOC_IMP (buscod, buyexpcod, buyexpdoccod, srcobjtyp, srcobjcod001, srcobjcod002,
			docsts, ctedte, cteusr, buyexpdocimpqty) 
		VALUES (@lp_buscod, @lp_buyexpcod, @lp_buyexpdoccod, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002,
			@lp_docsts, getdate(), @lp_username, @lv_buyexpdocimpqty )
		SET @lv_errcod=@@ERROR
		SET @lp_buyexpdocimpcod = @@IDENTITY

		if @lp_sysoperation='01'
			begin
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_buyexpdocimpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription( @lv_errcod )

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		UPDATE BUY_EXP_DOC_IMP
		SET SrcObjTyp = @lp_srcobjtyp,
			SrcObjCod001 = @lp_srcobjcod001,
			SrcObjCod002 = @lp_srcobjcod002,
			BuyExpDocImpQty = @lv_buyexpdocimpqty,
			UpdUsr	= @lp_username,
			UpdDte	= getdate()
		WHERE buscod = @lp_buscod
		and buyexpdocimpcod = @lp_buyexpdocimpcod
			
		SELECT @lp_buyexpdocimpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT ei.*
		FROM buy_exp_doc_imp ei 
		WHERE ei.buscod=@lp_buscod
		  and ei.buyexpcod = @lp_buyexpcod
		  and ei.buyexpdoccod = @lp_buyexpdoccod
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF @lp_buyexpdocimpcod IS NULL
			set @lp_buyexpdocimpcod = (select top 1 buyexpdocimpcod from BUY_EXP_DOC_IMP where buscod=@lp_buscod and BuyExpCod=@lp_buyexpcod and BuyExpDocCod=@lp_buyexpdoccod and SrcObjTyp=@lp_SrcObjTyp and SrcObjCod001=@lp_SrcObjCod001 and SrcObjCod002=@lp_SrcObjCod002)

		BEGIN TRAN
		
		DELETE FROM BUY_EXP_DOC_IMP
		WHERE buscod=@lp_buscod
		  and buyexpcod = @lp_buyexpcod
		  and buyexpdoccod = @lp_buyexpdoccod
		  and buyexpdocimpcod = @lp_buyexpdocimpcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyexpdocimpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- buy_exp_doc_imp_def '08','temasis','temasis_log'
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg , ' ei.*, a.adrnme001 AS impobjtxt, c.cnttxt as impobjcnttxt ',
			' buy_exp_doc_imp ei '
			+ ' inner join buy_exp e on e.buscod=ei.buscod and e.buyexpcod=ei.buyexpcod '
			+ ' left join grl_dat_adr a on a.buscod=ei.buscod and a.adrsrctyp=ei.srcobjtyp and a.adrsrccod=ei.srcobjcod001 '
      + ' left join grl_dat_cnt c on c.buscod=ei.buscod and c.cntdstcod=ei.srcobjcod002 and cntsrccod=ei.srcobjcod001 and ei.srcobjcod002 is not null',
			' ei.buscod='+QUOTENAME(@lp_buscod, ''''),
 			' a.adrnme001 ', 'impobjtxt;a.adrnme001')
		execute( @lv_sql )

	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
