USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LQD_CHR_ASG_ATR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[HHR_LQD_CHR_ASG_ATR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_hhrlqdchrasgcod	as int			= null,	/* id atributos de cargo */
@lp_hhrchrasgcod 	as int			= null,	/* id cargo */
@lp_hhrlqdstrdte	as nvarchar(20) = null,	/* inicio de liquidación */
@lp_hhrlqdchrasgatr	as nvarchar(max)= null,	/* atributos de cargo */
@lp_docsts 			as nvarchar(2)  = null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)

declare @lv_hhrlqdstrdte as smalldatetime
set @lv_hhrlqdstrdte = dbo.ConvertDate( @lp_hhrlqdstrdte )



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_LQD_CHR_ASG_ATR (BusCod, HhrChrAsgCod, HhrLqdStrDte, HhrLqdChrAsgAtr, DocSts, CteDte, CteUsr)
		VALUES (@lp_buscod, @lp_hhrchrasgcod, @lv_hhrlqdstrdte, @lp_hhrlqdchrasgatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrlqdchrasgcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlqdchrasgcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HHR_LQD_CHR_ASG_ATR
		SET HhrLqdStrDte	= @lv_hhrlqdstrdte, 
			HhrLqdChrAsgAtr	= @lp_hhrlqdchrasgatr, 
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and HhrLqdChrAsgCod = @lp_hhrlqdchrasgcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlqdchrasgcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ca.*
		FROM HHR_LQD_CHR_ASG_ATR ca
		WHERE ca.buscod = @lp_buscod
		  and ca.HhrLqdChrAsgCod = @lp_hhrlqdchrasgcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM HHR_LQD_CHR_ASG_ATR
		WHERE buscod = @lp_buscod
		  and HhrLqdChrAsgCod = @lp_hhrlqdchrasgcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlqdchrasgcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* HHR_LQD_doc_def '08','mdominguez','temasis_edu' */

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ca.* '
			+ ' FROM HHR_LQD_CHR_ASG_ATR ca '
			+ ' WHERE ca.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
