USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_CSH_VAL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[TSR_CSH_VAL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20) = null,	-- empresa
@lp_cshcod			as int			= null,	-- id caja
@lp_cshvalcod		as int			= null,	-- id valor
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- configuración ede la vista


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0


declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- TSR_CSH_VAL_DEF '08','TEMASIS','TEMASIS_LOG'

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE( @lv_flt, 'bnkaccchkdtecnv', 'convert(nvarchar,cv.bnkaccchkdte,103)' )

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = REPLACE( @lv_ord, 'bnkaccchkdtecnv', 'convert(nvarchar,cv.bnkaccchkdte,103)' )

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' cv.*, convert(nvarchar,cv.bnkaccchkdte,103) as bnkaccchkdtecnv, b.bnktxt '
			+ ' FROM TSR_CSH_VAL cv '
			+ ' left join TSR_BNK b on b.buscod=cv.buscod and b.bnkcod=cv.bnkcod '
			+ ' WHERE cv.buscod='+QUOTENAME(@lp_buscod, '''') 			
		execute( @lv_sql + @lv_flt + @lv_ord )
		
    END	



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
