USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MOD_RES_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_MOD_RES_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hltmodcod		as int			= null,	/* id modulo */
@lp_hltmodresid		as int			= null,	/* id material */
@lp_hltmodrestyp	as int			= null,	/* recurso - tipo */
@lp_hltmodrescod	as int			= null,	/* recurso - codigo */
@lp_hltmodresqty	as bigint		= null,	/* recurso - cantidad */
@lp_hltmodresuntcod	as nvarchar(05)	= null,	/* recurso - unidad de medida */
@lp_hltmodresexc	as int			= null,	/* indicador de exclusión */
@lp_docsts			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_hltmodresqty	as decimal(9,3)
set @lv_hltmodresqty = dbo.ConvertNumber( @lp_hltmodresqty , 3 )

declare @lv_sql as nvarchar(4000)



/* -------------------------------------------------------------------- */
/*   E R R O R E S														*/
/* -------------------------------------------------------------------- */
/*	-1	Material existente												*/
/*	-2	Material inválido												*/
/*	-3	Módulo inválido													*/
/* -------------------------------------------------------------------- */



/* -------------------------------------------------------------------- */
/*   0 1    -    C R E A R												*/
/* -------------------------------------------------------------------- */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* valido si modulo es valido */
		IF (select count(*) from hlt_mod where buscod=@lp_buscod and hltmodcod=@lp_hltmodcod)=0
			BEGIN
				SELECT null, -3 as errcod, 'Módulo inválido.' as errtxt
				RETURN
			END
	
		/* valido si material es valido */
		IF @lp_hltmodrestyp=1
			IF (select count(*) from stk_mat where buscod=@lp_buscod and matcod=@lp_hltmodrescod)=0
				BEGIN
					SELECT null, -2 as errcod, 'Material inválido.' as errtxt
					RETURN
				END
		IF @lp_hltmodrestyp=2
			IF (select count(*) from stk_mat_cls where buscod=@lp_buscod and matclscod=@lp_hltmodrescod)=0
				BEGIN
					SELECT null, -2 as errcod, 'Clasificación inválida.' as errtxt
					RETURN
				END

		/* valido si material existe en modulo */
		IF (select count(*) from hlt_mod_res where buscod=@lp_buscod and hltmodcod=@lp_hltmodcod and not hltmodresid=@lp_hltmodresid and hltmodrestyp=@lp_hltmodrestyp and hltmodrescod=@lp_hltmodrescod)>0
			BEGIN
				SELECT null, -1 as errcod, 'Material existente.' as errtxt
				RETURN
			END

	END
	

/* -------------------------------------------------------------------- */
/*   0 1    -    C R E A R												*/
/* -------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO hlt_mod_res (buscod, hltmodcod, hltmodrestyp, hltmodrescod, hltmodresqty, hltmodresuntcod, hltmodresexc, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hltmodcod, @lp_hltmodrestyp, @lp_hltmodrescod, @lv_hltmodresqty, @lp_hltmodresuntcod, @lp_hltmodresexc, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hltmodresid=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltmodresid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* -------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R										*/
/* -------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_MOD_RES
		SET hltmodrestyp=@lp_hltmodrestyp,
			hltmodrescod=@lp_hltmodrescod,
			hltmodresqty=@lv_hltmodresqty,
			hltmodresuntcod=@lp_hltmodresuntcod,
			hltmodresexc=@lp_hltmodresexc,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and hltmodcod = @lp_hltmodcod
		  and hltmodresid = @lp_hltmodresid
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltmodresid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* -------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* -------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT l.*, m.mattxt
		FROM hlt_mod_res l
		left join stk_mat m on m.buscod=l.buscod and m.matcod=l.hltmodrescod
		/*left join stk_mat_cls m on m.buscod=l.buscod and m.matclscod=l.hltmodrescod*/
		WHERE l.buscod=@lp_buscod
		  and l.hltmodcod=@lp_hltmodcod
		  and l.hltmodresid=@lp_hltmodresid

	END



/* -------------------------------------------------------------------- */
/*   0 4    -    B O R R A R											*/
/* -------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM HLT_MOD_RES
		WHERE buscod=@lp_buscod
		  and hltmodcod=@lp_hltmodcod
		  and hltmodresid=@lp_hltmodresid
		SET @lv_errcod = @@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltmodresid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, h.hltmodtxt, (case when l.hltmodrestyp=1 then m.mattxt else c.matclstxt end) as hltmodrestxt'
			--, (case when l.hltmodrestyp=1 then m.mattxt else c.matclstxt end) as hltmodrestxt 
			+',(case l.hltmodrestyp '
			+'when 1 then (select SpcTxt from hlt_spc where SpcCod = hltmodrescod) '
			+'when 2 then (select SpcTxt from hlt_spc where SpcCod = hltmodrescod)'
			+'when 3 then (select SpcTxt from hlt_spc where SpcCod = hltmodrescod)  '
			+'when 4 then (select SpcTxt from hlt_spc where SpcCod = hltmodrescod) '
			+'end)as hltmodrestxt '
			+ ' FROM hlt_mod h'
			+ ' inner join hlt_mod_res l on l.buscod=h.buscod and l.hltmodcod=h.hltmodcod'
			+ ' left join stk_mat m on m.buscod=l.buscod and m.matcod=l.hltmodrescod'
			+ ' left join stk_mat_cls c on c.buscod=l.buscod and c.matclscod=l.hltmodrescod'
			+ ' WHERE h.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and h.hltmodcod='+QUOTENAME(@lp_hltmodcod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'hltmodrestxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
print @lv_sql
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
