USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_SVC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SLS_SVC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_slssvccod		as int			= null,	-- id
@lp_slssvccodext	as nvarchar(20) = null,	-- codigo
@lp_slssvctxt		as nvarchar(50) = null,	-- descripcion
@lp_slssvcdte		as nvarchar(14)	= null,	-- fecha
@lp_dstobjtyp 		as nvarchar(20)	= null,	-- objeto origen
@lp_dstobjcod		as int			= null,	-- id origen
@lp_slssvctotamt	as bigint		= null,	-- importe total
@lp_curcod			as nvarchar(5)	= null,	-- moneda
@lp_curexcrte		as bigint		= null,	-- tipo de cambio
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_sysdocclscod	as int			= null,	-- id clase documento
@lp_slssvcstrdte	as nvarchar(14)	= null,	-- inicio validez
@lp_slssvcenddte	as nvarchar(14)	= null,	-- fin validez
@lp_slsprclstcod	as int			= null,	-- id lista precios
@lp_slssvcatr as nvarchar(MAX) =null -- atributos,variacion
AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(4000)

declare @lv_slssvcdte as datetime = dbo.ConvertDate( @lp_slssvcdte )
declare @lv_slssvctotamt as decimal(13,3) = dbo.ConvertNumber( @lp_slssvctotamt, 3)
declare @lv_curexcrte as decimal(9,5) = dbo.ConvertNumber( @lp_curexcrte, 5 )
declare @lv_slssvcstrdte as smalldatetime = dbo.ConvertDate( @lp_slssvcstrdte )
declare @lv_slssvcenddte as smalldatetime = dbo.ConvertDate( @lp_slssvcenddte )

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SVC'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' OR @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		-- actualizo cabecera de documento
		INSERT INTO SLS_SVC (buscod, slssvccodext, slssvctxt, slssvcdte, 
			slssvctotamt, curcod, curexcrte, slssvcstrdte, slssvcenddte, slsprclstcod,slssvcatr,
			dstobjtyp, dstobjcod, sysdocclscod, 
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_slssvccodext, @lp_slssvctxt, @lv_slssvcdte,  
			@lv_slssvctotamt, @lp_curcod, @lv_curexcrte, @lv_slssvcstrdte, @lv_slssvcenddte, @lp_slsprclstcod,@lp_slssvcatr,
			@lp_dstobjtyp, @lp_dstobjcod, @lp_sysdocclscod, 
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_slssvccod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slssvccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' OR @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE SLS_SVC
		SET	slssvccodext = @lp_slssvccodext,
			slssvctxt = @lp_slssvctxt,
			slssvcdte = @lv_slssvcdte,
			dstobjtyp = @lp_dstobjtyp, 
			dstobjcod = @lp_dstobjcod,
			slssvctotamt = @lv_slssvctotamt,
			slsprclstcod = @lp_slsprclstcod,
      slssvcatr = @lp_slssvcatr,
			curcod = @lp_curcod,
			curexcrte = @lv_curexcrte, 
			slssvcstrdte = @lv_slssvcstrdte,
			slssvcenddte = @lv_slssvcenddte,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and slssvccod=@lp_slssvccod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slssvccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' OR @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		-- SLS_SVC_def '03','mdominguez','temasis_log',36

		declare @lv_dstobjtyp as nvarchar(20)
		declare @lv_dstobjcod as nvarchar(20)
		declare @lv_dstobjtxt as nvarchar(80)

		select top 1 @lv_dstobjtyp=dstobjtyp, @lv_dstobjcod=dstobjcod
		FROM SLS_SVC
		WHERE buscod=@lp_buscod
		  and slssvccod=@lp_slssvccod

		if @lv_dstobjtyp='SLS_CUS'
			select top 1 @lv_dstobjtxt=custxt from SLS_CUS where buscod=@lp_buscod and cuscod=@lv_dstobjcod

		SELECT o.*, 
			dc.sysdocclstxt, 
			@lv_dstobjtxt as dstobjtxt, 
			sp.SlsPrcLstTxt, 
			sa.adrstr as dstobjadrstr, sa.adrcty as dstobjadrcty, 
			salr.lndregtxt as dstobjlndregtxt, cur.CurSgn 
		FROM SLS_SVC o
		left join SYS_DOC_CLS dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod
		left join sls_prc sp on sp.buscod=o.buscod and sp.SlsPrcLstCod=o.SlsPrcLstCod
		left join grl_dat_adr sa on sa.buscod=o.buscod and sa.adrsrctyp=@lv_dstobjtyp and sa.adrsrccod=o.dstobjcod
		left join grl_dat_lnd_reg salr on salr.lndcod=sa.lndcod and salr.lndregcod=sa.lndregcod
		left join ADM_CUR cur on cur.CurCod=o.CurCod
		WHERE o.buscod = @lp_buscod
		  and o.slssvccod = @lp_slssvccod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' OR @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		declare @lv_objtyp as nvarchar(20)
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join SLS_SVC d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slssvccod=@lp_slssvccod)

		BEGIN TRAN

		/* borro materiales del documento */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_SVC_MAT 
				WHERE buscod = @lp_buscod
				  and slssvccod = @lp_slssvccod
				SET @lv_errcod=@@ERROR
			END

		-- borro textos
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'SLS_SVC', @lp_slssvccod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_SVC
				WHERE buscod = @lp_buscod
				  and slssvccod = @lp_slssvccod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_slssvccod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' OR @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		-- SLS_SVC_def '08','mdominguez','temasis_hlt'

		declare @lv_slssvcdtecnv as nvarchar(400)
		declare @lv_slssvcenddtecnv as nvarchar(400)
		declare @lv_slssvcstrdtecnv as nvarchar(400)
		declare @lv_cteusr as nvarchar(20)
		set @lv_dstobjtxt = ' (case o.dstobjtyp	when '+QUOTENAME('SLS_CUS','''')+' then st2.custxt end) '
		set @lv_slssvcdtecnv = 'convert(varchar,o.slssvcdte,103)'
		set @lv_slssvcstrdtecnv = 'convert(varchar,o.slssvcstrdte,103)'
		set @lv_slssvcenddtecnv = 'convert(varchar,o.slssvcenddte,103)'
		set @lv_cteusr = 'o.cteusr'

		declare @lv_ord as nvarchar(4000)
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' o.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		set @lv_ord = replace(@lv_ord, 'dstobjtxt', @lv_dstobjtxt)
		set @lv_ord = REPLACE(@lv_ord, 'slssvcdtecnv', 'o.slssvcdte')
		set @lv_ord = REPLACE(@lv_ord, 'slssvcstrdtecnv', 'o.slssvcstrdte')
		set @lv_ord = REPLACE(@lv_ord, 'slssvcenddtecnv', 'o.slssvcenddte')

		declare @lv_flt as nvarchar(4000)
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'dstobjtxt', @lv_dstobjtxt)
		set @lv_flt = REPLACE(@lv_flt, 'slssvcdtecnv', 'o.slssvcdte')
		set @lv_flt = REPLACE(@lv_flt, 'slssvcstrdtecnv', 'o.slssvcstrdte')
		set @lv_flt = REPLACE(@lv_flt, 'slssvcenddtecnv', 'o.slssvcenddte')
		set @lv_flt = replace(@lv_flt, 'CTEUSR', @lv_cteusr)

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' o.*, dc.sysdocclstxt, sp.SlsPrcLstTxt, '
			+ @lv_dstobjtxt+' as dstobjtxt, '
			+ @lv_slssvcdtecnv + ' as slssvcdtecnv, '
			+ @lv_slssvcstrdtecnv + ' as slssvcstrdtecnv, '
			+ @lv_slssvcenddtecnv + ' as slssvcenddtecnv, cur.cursgn '
			+ ' FROM SLS_SVC o '
			+ ' left join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join sls_cus st2 on st2.buscod=o.buscod and st2.cuscod=o.dstobjcod '
			+ ' left join sls_prc sp on sp.buscod=o.buscod and sp.SlsPrcLstCod=o.SlsPrcLstCod '
			+ ' left join adm_cur cur on cur.curcod=o.curcod '
			+ ' WHERE o.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ @lv_flt
			+ @lv_ord
		execute( @lv_sql )
		
	END

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
