USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PLN_DTE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PLN_DTE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20),
@lp_plnid 			as int			= null,	-- ID planificaciÃ³n
@lp_plndteid		as int			= null,	-- ID planificaciÃ³n fecha
@lp_cuscod			as int			= null,	-- id cliente
@lp_patcod			as nvarchar(20)	= null,	-- id paciente
@lp_prscod			as int			= null,	-- id prestador
@lp_spccod			as int			= null,	-- id especialidad
@lp_plndte			as nvarchar(14)	= null,	-- fecha planificaciÃ³n desde
@lp_plndteto		as nvarchar(14) = null,	-- fecha planificaciÃ³n hasta
@lp_plninbdte		as nvarchar(14) = null,	-- hora entrada
@lp_plnoutdte		as nvarchar(14) = null,	-- hora salida
@lp_serid			as nvarchar(100)	= null,	-- id serie A#BBBBBBB (A=M-mes/D-dia/W-semana/Q-quincena // #=nro semana (solo si A=W) // B=DLMMJVSD)
@lp_plntrn			as nvarchar(10) = null,	-- planificaciÃ³n Turno
@lp_plnqty			as int			= null,	-- planificaciÃ³n Cantidad
@lp_plncmt			as nvarchar(250)= null,	-- comentarios
@lp_docsts 			as nvarchar(1)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- configuraciÃ³n de vista

@lp_grpserid		as int			= null,	-- grupos de series (para planificaciones que exceden el mes)
@lp_plncnfdte		as nvarchar(14)	= null,	-- fecha confirmaciÃ³n
@lp_prsntfdte		as nvarchar(14)	= null,	-- fecha notificacion prestador
@lp_patntfdte		as nvarchar(14)	= null,	-- fecha notificacion paciente
@lp_plnqtystk		as int			= null,	-- planificaciÃ³n Cantidad - stock
@lp_plndteatr		as nvarchar(max)=null	-- atributos

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod  INT = 0
DECLARE @lv_errtxt as nvarchar(max) = ''

-- para vistas
declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

-- convierto fecha de planificaciÃ³n desde-hasta
declare @lv_plndte as datetime = dbo.ConvertDate( @lp_plndte )
declare @lv_plndteto as datetime = dbo.ConvertDate( @lp_plndteto )
declare @lv_plncnfdte as datetime = dbo.ConvertDate( @lp_plncnfdte )
declare @lv_prsntfdte as datetime = dbo.ConvertDate( @lp_prsntfdte )
declare @lv_patntfdte as datetime = dbo.ConvertDate( @lp_patntfdte )
declare @lv_plninbdte as datetime = dbo.ConvertDate( @lp_plninbdte )
declare @lv_plnoutdte as datetime = dbo.ConvertDate( @lp_plnoutdte )

-- busco el cliente si no fue informado
if not @lp_patcod='' and isnull(@lp_cuscod,-1)<=0
	set @lp_cuscod = (select top 1 cuscod from hlt_pat where buscod=@lp_buscod and patcod=@lp_patcod)


declare @lv_plndtetme as decimal(5,2)
declare @lv_grpserid as int
declare @lv_tmpdte as datetime
declare @lv_sercfg as nvarchar(1)
declare @lv_plnyth as int
declare @lv_plnmth as int
declare @lv_grpstrdte as datetime
declare @lv_grpenddte as datetime



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		/* FALTA: validar que no se solape con otras fechas para mismo paciente */
		/*		 (salvo que tenga flag de permitir solapamiento) */

		BEGIN TRAN

		/*
			ATRIBUTOS

			Unidad (frqtyp): D / W / M / Y		(Day, Week, Month, Year)
			Cantidad (frqqty): (0;999]
			DÃ­as de la semana (wekday): 0000000 indica con un 1 el o los dÃ­as de la semana en orden DLMMJVS. Ej: lunes y jueves => 0100100
			NÃºmero del dÃ­a (daynum): desde el 1
			NÃºmero de semana (weknum): debe ser combinado con uno o varios dÃ­as de la semana. Indica el dÃ­a del mes segÃºn los ordinales. Ej: wekday='0100000' dayord='2' => segundo lunes del mes
		*/

		declare @lv_unt as nvarchar(2) = dbo.GetTagValue('FRQTYP', @lp_serid) -- w
		declare @lv_qty as smallint = cast(dbo.GetTagValue('FRQQTY', @lp_serid) as smallint) -- 1
		declare @lv_wekday as nvarchar(7) = dbo.GetTagValue('WEKDAY', @lp_serid) -- 0100100
		declare @lv_daynum as tinyint = cast(dbo.GetTagValue('DAYNUM', @lp_serid) as tinyint) -- 1
		declare @lv_weknumch as char = dbo.GetTagValue('WEKNUM', @lp_serid) -- vacio ""
		declare @lv_weknum as smallint = (case when @lv_weknumch!='L' then cast(@lv_weknumch as smallint) else -1 end)---1
		
		declare @lv_count as tinyint = 0
		declare @lv_strmth as nvarchar(10) 
		declare @lv_jmpmthqty as smallint = 0
		declare @lv_fstmthchk as bit = 0  -- flag que con 1 indica si se verificÃ³ que en el 1er mes hubo una planificaciÃ³n 

		SET @lv_unt = (case when @lv_unt='' then 'D' else @lv_unt end)
		SET @lv_qty = (case when @lv_qty=0 then (case when @lv_unt='D' then 0 else 1 end) else @lv_qty end)
		SET @lv_wekday = (case when @lv_wekday='' then '0000000' else @lv_wekday end)
		
		SELECT @lv_plnyth=plnyth, @lv_plnmth=plnmth FROM hlt_pln WHERE buscod=@lp_buscod and plnid=@lp_plnid
		SET @lv_tmpdte = @lv_plndte
		
		/*
		-- ---------------------------------------------------- 
		-- VALIDACIONES									
		-- ----------------------------------------------------
			Mes: debe tener una de las siguientes:
				a) un dÃ­a de la semana especificado y el orden (primero, segundo, tercero, etc.)
				b) un nro del mes
		*/

		if @lv_unt='M'
			if (@lv_weknum!=0 and @lv_wekday = '0000000') or (@lv_weknum=0 and @lv_wekday != '0000000')
				BEGIN
					SELECT '', -99 as errcod, 'Debe indicar algÃºn dÃ­a de la semana y su semana.' as errtxt
					RETURN
				END

		-- ---------------------------------------------------- 
		-- COMIENZA ARMADO DE SERIE									
		-- ----------------------------------------------------
		
		while @lv_tmpdte between @lv_plndte and @lv_plndteto and @lv_errcod=0 
			
			BEGIN
				SET @lv_strmth = cast(datepart(year, @lv_tmpdte) as nvarchar(4))+'-'+cast(datepart(month, @lv_tmpdte) as nvarchar(4))+'-01'
				IF @lv_unt in ('D','U')
					or (datepart(day, @lv_tmpdte) = @lv_daynum and @lv_unt!='W')
					or (
						((@lv_wekday!='L' and substring(@lv_wekday, datepart(weekday,@lv_tmpdte), 1)='1')
						or (@lv_wekday='L' and datepart(month, dateadd(day, 1, @lv_tmpdte)) != datepart(month,@lv_tmpdte))
						)
						-- weknum=0 -> solo verifica dÃ­a de la semana
						-- weknum=-1 -> Ãºltimo dÃ­a x del mes. Confirma esto verificando que el dÃ­a dentro de una semana (en nro) sea menor al actual
						-- weknum=x (ni 0 ni -1) -> verifica  que estÃ© parado en x semana
						and (@lv_weknum=0 
							or (@lv_weknum=-1 and datepart(day, dateadd(week, 1, @lv_tmpdte)) < datepart(day, @lv_tmpdte)) 
							or @lv_weknum = (datediff(day, @lv_strmth, @lv_tmpdte) / 7)+1)
						)
						
						-- ---------------------------------------------------- 
						-- INSERTAR FECHA									
						-- ----------------------------------------------------
						BEGIN
							-- determina si hubo alguna planificaciÃ³n dentro del 1er mes
							IF @lv_fstmthchk=0
								IF DATEPART(MONTH, @lv_plndte) = DATEPART(MONTH, @lv_tmpdte) and DATEPART(YEAR, @lv_plndte) = DATEPART(YEAR, @lv_tmpdte) 
									SET @lv_fstmthchk = 1
								ELSE
									BEGIN
										-- elimina cabecera
										DELETE
										FROM hlt_pln
										WHERE buscod=@lp_buscod
											and PlnId=@lp_plnid
										SET @lv_errcod=@@ERROR
										SET @lv_errtxt = 'No se pudo crear una fecha en el primer mes del periodo. Corrija el periodo.'
										IF @lv_errcod = 0
                    	SET @lv_errcod = -1
										BREAK
									END

							-- determino hora de entrada/salida
							SET @lv_plninbdte = CONVERT(datetime, cast(datepart(year,@lv_tmpdte) as nvarchar(4))+'-'+cast(datepart(month,@lv_tmpdte) as nvarchar(2))+'-'+cast(datepart(day,@lv_tmpdte) as nvarchar(2))+' '+right(left(@lp_plninbdte,10),2)+':'+right(left(@lp_plninbdte,12),2)+':'+right(left(@lp_plninbdte,14),2), 120)
							SET @lv_plnoutdte = CONVERT(datetime, cast(datepart(year,@lv_tmpdte) as nvarchar(4))+'-'+cast(datepart(month,@lv_tmpdte) as nvarchar(2))+'-'+cast(datepart(day,@lv_tmpdte) as nvarchar(2))+' '+right(left(@lp_plnoutdte,10),2)+':'+right(left(@lp_plnoutdte,12),2)+':'+right(left(@lp_plnoutdte,14),2), 120)

							-- determino duracion (diferencia entre hs. entrada-salida) ***********************
							SET @lv_plndtetme = datediff(minute, @lv_plninbdte, (case when @lv_plnoutdte<=@lv_plninbdte then dateadd(day, 1, @lv_plnoutdte) else @lv_plnoutdte end) ) / cast(60 as decimal(5,2))

							-- si cambiÃ³ el aÃ±o/mes, agrego nueva cabecera
							if not @lv_plnyth=datepart(year,@lv_tmpdte) or not @lv_plnmth=datepart(month,@lv_tmpdte)
								BEGIN
									INSERT INTO HLT_PLN (buscod, cuscod, patcod, prscod, spccod, plnyth, plnmth, serid, grpserid, plncmt, plndte, plndteto, docsts, ctedte, cteusr, sysdocclscod, delcod)
									SELECT TOP 1 buscod, cuscod, patcod, prscod, spccod, datepart(year,@lv_tmpdte), datepart(month,@lv_tmpdte), serid, grpserid, plncmt, plndte, plndteto, docsts, ctedte, cteusr, sysdocclscod, delcod
									FROM HLT_PLN
									WHERE buscod=@lp_buscod
									  and plnid=@lp_plnid
									SET @lp_plnid = @@IDENTITY
									SET @lv_errcod=@@ERROR

									SET @lv_plnyth=datepart(year,@lv_tmpdte)
									SET @lv_plnmth=datepart(month,@lv_tmpdte)
								END
								
							IF @lv_errcod != 0
								BREAK
							
							-- agrego fecha
							INSERT INTO HLT_PLN_DTE (buscod, plnid, plndte, plninbdte, plnoutdte, plnqty, plntme, docsts, ctedte, cteusr, plndteatr)
							SELECT @lp_buscod, @lp_plnid, @lv_tmpdte, @lv_plninbdte, @lv_plnoutdte, @lp_plnqty, @lv_plndtetme, @lp_docsts, getdate(), @lp_username, @lp_plndteatr
							SET @lv_errcod=@@ERROR
							IF @lp_plndteid=''
								SET @lp_plndteid=@@IDENTITY
								
							IF @lv_unt IN ('W','M')
								SET @lv_count += 1;
						END


				-- ---------------------------------------------------- 
				-- CÃLCULO DE SALTOS									
				-- ----------------------------------------------------

				-- termino loop por ser unica vez
				IF @lv_unt='U'
					BREAK

				-- avanzo dÃ­as
				IF @lv_unt='D'
					IF @lv_qty = 0
						BREAK
					ELSE
						SET @lv_tmpdte = dateadd(day, @lv_qty, @lv_tmpdte)

				-- avanzo semanas
				ELSE IF @lv_unt='W'
					/* si es el Ãºltimo dÃ­a de la semana, avanzo al 1ro de la siguiente y salto la cantidad de semanas -1 desde ahÃ­
						Esto es por si hay mÃ¡s de un dÃ­a de la semana seleccionado, por lo que las semanas deben recorrerse desde su primer dÃ­a
						Solo se hace este salto si hubo al menos una planificaciÃ³n que se logrÃ³ hacer en la semana. 
					*/
					IF datepart(weekday,@lv_tmpdte)=7 and @lv_count > 0
						BEGIN
							SET @lv_tmpdte = dateadd(week, @lv_qty-1 ,dateadd(day, 1, @lv_tmpdte))
							SET @lv_count = 0
						END
					ELSE
						SET @lv_tmpdte = dateadd(day, 1, @lv_tmpdte)

				-- avanzo meses
				ELSE IF @lv_unt='M'
					-- si es por dia de mes
					IF @lv_daynum!=0
						-- si la fecha temp ya representa el dÃ­a, salto la cantidad de meses
						IF datepart(day, @lv_tmpdte) = @lv_daynum
							SET @lv_tmpdte = dateadd(month, @lv_qty, @lv_tmpdte)
						ELSE
							BEGIN
								--SET @lv_tmpdte = dateadd(day, 1, @lv_tmpdte)
								-- corrige fecha temp
								-- si el dÃ­a estÃ¡ antes de la fecha de inicio, avanza al siguiente mes
								IF datepart(day, @lv_tmpdte) > @lv_daynum and datepart(month, @lv_plndte) = datepart(month, @lv_tmpdte)
									SET @lv_tmpdte = dateadd(month, 1, @lv_tmpdte)

								-- corrige dÃ­a
								SET @lv_tmpdte = dateadd(day, @lv_daynum - datepart(day, @lv_tmpdte), @lv_tmpdte)
							END

					-- si es por dÃ­a de semana y nro de semana
					--ELSE IF @lv_wekday!='0000000' and @lv_weknum!='0'
					ELSE
						-- si no es por Ãºltimo dÃ­a x
						IF @lv_weknum != -1
							-- si estÃ¡ en la "semana" correcta y no llegÃ³ a su fin, avanza un dÃ­a
							IF @lv_weknum = (datediff(day, @lv_strmth, @lv_tmpdte) / 7)+1 and @lv_weknum = (datediff(day, @lv_strmth, dateadd(day, 1,@lv_tmpdte)) / 7)+1
								BEGIN
									SET @lv_tmpdte = dateadd(day, 1, @lv_tmpdte)
								END
							ELSE
								BEGIN
									-- necesita corregir la semana
									/* 1. Calcula salto para corregir mes:
											Si ya habÃ­a llegado al final de weknum y hubo al menos una planificaciÃ³n,
												salta los x meses
											Si ya habÃ­a llegado al final de weknum y no hubo planificaciÃ³n	
												O	weknum estÃ¡ antes de la fecha de inicio y estÃ¡ parado en el mes y aÃ±o de la fecha de inicio, 
												va al siguiente mes
											Si no, no cambia mes
									*/
									SET @lv_jmpmthqty = 
										(case when @lv_weknum = (datediff(day, @lv_strmth, @lv_tmpdte) / 7)+1 and @lv_weknum != (datediff(day, @lv_strmth, dateadd(day, 1,@lv_tmpdte)) / 7)+1 and @lv_count>0 then 
											@lv_qty 
										else
											(case when (@lv_weknum = (datediff(day, @lv_strmth, @lv_tmpdte) / 7)+1 and (datediff(day, @lv_strmth, @lv_tmpdte) / 7)+1 != (datediff(day, @lv_strmth, dateadd(day, 1,@lv_tmpdte)) / 7)+1 and @lv_count=0)
													or (@lv_weknum < (datediff(day, @lv_strmth, @lv_tmpdte) / 7)+1 and datepart(year, @lv_plndte)=datepart(year, @lv_tmpdte) and datepart(month, @lv_plndte)=datepart(month, @lv_tmpdte)) then 
												1 
											else 
												0 
											end)
										end)

									IF @lv_jmpmthqty = @lv_qty
										SET @lv_count = 0

									-- 2. Va al inicio del mes
									SET @lv_tmpdte = dateadd(day, -datepart(day, @lv_tmpdte)+1, @lv_tmpdte)

									-- 3. Corrige el mes
									SET @lv_tmpdte = dateadd(month, @lv_jmpmthqty, @lv_tmpdte)

									-- 4. Se para al inicio del weknum de ese mes	
									SET @lv_tmpdte = dateadd(day, (@lv_weknum-1)*7, @lv_tmpdte)
									
								END
						ELSE
							-- si es por Ãºltimo dÃ­a x del mes
							-- verifica estar en la Ãºltima semana: el dÃ­a se haya en el rango [Ãºltimo dÃ­a del mes - 6; Ãºltimo dÃ­a del mes]
							-- IF datepart(day, @lv_tmpdte) between datepart(day, dateadd(day, -datepart(day, dateadd(month, 1, @lv_tmpdte)), dateadd(month, 1, @lv_tmpdte))) and dateadd(day, -datepart(day, dateadd(month, 1, @lv_tmpdte))-6, dateadd(month, 1, @lv_tmpdte))
							IF datepart(month, dateadd(day, 7, @lv_tmpdte)) != datepart(month, @lv_tmpdte)
								-- verifica si no es el Ãºltimo dÃ­a del mes
								IF datepart(month, @lv_tmpdte) = datepart(month, dateadd(day, 1, @lv_tmpdte)) 
									SET @lv_tmpdte = dateadd(day, 1, @lv_tmpdte)
								ELSE
									BEGIN
										-- si hubo al menos una planificaciÃ³n, avaza x cantidad de meses
										IF @lv_count>0
											BEGIN
												SET @lv_tmpdte = dateadd(month, @lv_qty, @lv_tmpdte)
												SET @lv_count = 0
											END
										ELSE
										-- si no, prueba hacer una planificaciÃ³n en el siguiente mes
											SET @lv_tmpdte = dateadd(month, 1, @lv_tmpdte)

										-- se posiciona al inicio de la Ãºltima "semana"
										SET @lv_tmpdte = dateadd(day, -6, @lv_tmpdte)
									END
							ELSE
								BEGIN
									-- se posiciona al inicio de la Ãºltima semana
									SET @lv_tmpdte = dateadd(month, 1, @lv_tmpdte)
									SET @lv_tmpdte = dateadd(day, -datepart(day, @lv_tmpdte)-6, @lv_tmpdte)
								END

			END

		IF @lp_plndteid='' AND @lv_errcod = 0
    	BEGIN
    		set @lv_errtxt = 'No se pudo determinar una fecha para el periodo'
      	set @lv_errcod = -1
    	END
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

			
		SELECT @lp_plndteid, (case when @lv_errtxt='' then @lv_errcod else -1 end) as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription( @lv_errcod ) else @lv_errtxt end) as errtxt , (case when @lv_errtxt='' then 'S' else 'E' end) as errtyp
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		/* FALTA: validar que no se solape con otras fechas para mismo paciente */
		/*		  (salvo que tenga flag de permitir solapamiento) */

		-- obtengo id de grupo
		SELECT @lv_grpserid=grpserid FROM HLT_PLN WHERE buscod=@lp_buscod and plnid=@lp_plnid

		BEGIN TRAN

		-- actualizo fechas no controladas de la serie
		UPDATE HLT_PLN_DTE
		SET plninbdte = CONVERT(datetime, cast(datepart(year,x.plndte) as nvarchar(4))+'-'+cast(datepart(month,x.plndte) as nvarchar(2))+'-'+cast(datepart(day,x.plndte) as nvarchar(2))+' '+right(left(@lp_plninbdte,10),2)+':'+right(left(@lp_plninbdte,12),2)+':'+right(left(@lp_plninbdte,14),2), 120),
			plnoutdte = CONVERT(datetime, cast(datepart(year,x.plndte) as nvarchar(4))+'-'+cast(datepart(month,x.plndte) as nvarchar(2))+'-'+cast(datepart(day,x.plndte) as nvarchar(2))+' '+right(left(@lp_plnoutdte,10),2)+':'+right(left(@lp_plnoutdte,12),2)+':'+right(left(@lp_plnoutdte,14),2), 120),
			plntme = datediff(minute, @lv_plninbdte, (case when @lv_plnoutdte<=@lv_plninbdte then dateadd(day, 1, @lv_plnoutdte) else @lv_plnoutdte end) ) / cast(60 as decimal(5,2)),
			plnqty = @lp_plnqty,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		FROM HLT_PLN_DTE x
		inner join HLT_PLN z on z.buscod=x.buscod and x.plnid=z.plnid
		left join hlt_pln_ctr_dte cd on cd.buscod=x.buscod and cd.plnid=x.plnid and cd.plndteid=x.plndteid
		WHERE x.buscod=@lp_buscod
		  and z.grpserid=@lv_grpserid
		  and x.docsts='A'
		  and cd.hltplnctrcod is null
		SET @lv_errcod=@@ERROR

		-- actualizo atributo unicamente de la fecha indicada
		if @lv_errcod=0
			BEGIN
				UPDATE HLT_PLN_DTE
				SET plndteatr=@lp_plndteatr
				WHERE BusCod=@lp_buscod
				  and PlnId=@lp_plnid
				  and PlnDteId=@lp_plndteid
				SET @lv_errcod=@@ERROR
			END

		-- actualizo comentarios de toda la serie
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PLN
				SET plncmt = @lp_plncmt
				WHERE buscod=@lp_buscod
				  and grpserid=@lv_grpserid
				SET @lv_errcod=0
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plndteid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		-- HLT_PLN_DTE_DEF '03','MDOMINGUEZ','TEMASIS_HLT','323','1013','','','','','00000000000000','00000000000000','00000000000000','00000000000000','','','','','','','','000000000'

		SELECT @lv_grpserid=grpserid, @lv_grpstrdte=plndte, @lv_grpenddte=plndteto FROM hlt_pln where buscod=@lp_buscod and plnid=@lp_plnid

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' pd.*, p.cuscod, p.patcod, p.prscod, p.spccod, p.plnyth, p.plnmth, p.grpserid, p.serid, p.sercfg, p.plncmt, p.sysdocclscod, '
						+ ' s.spctxt, s.spcclr, s.spcctrtyp, s.spcplntyp, s.spcfrm, a.pattxt, r.prstxt, c.custxt, d.delcod, d.deltxt, cast('+QUOTENAME(isnull(@lv_grpstrdte,''),'''')+' as smalldatetime) as grpstrdte, cast('+QUOTENAME(isnull(@lv_grpenddte,''),'''')+' as smalldatetime) as grpenddte, '
						+ ' aa.adreml as pateml, ar.adreml as prseml, e.evlcod, e.docsts as evlsts, e.ctedte as evlctedte ',
						' hlt_pln p '
						+	' inner join hlt_pln_dte pd on pd.buscod=p.buscod and pd.plnid=p.plnid '
						+	' left join hlt_pat a on a.buscod=p.buscod and a.patcod=p.patcod '
						+	' left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod '
						+	' left join hlt_prs r on r.buscod=p.buscod and r.prscod=p.prscod '
						+	' left join hlt_spc s on s.buscod=p.buscod and s.spccod=p.spccod '
						+   ' left join hlt_del d on d.buscod=p.buscod and d.delcod=p.delcod '
						+   ' left join hlt_pat_evl e on e.buscod=pd.buscod and e.plnid=pd.plnid and e.plndteid=pd.plndteid and e.docsts<>'+QUOTENAME('I','''')
						+   ' left join grl_dat_adr aa on aa.buscod=a.buscod and aa.adrsrctyp='+QUOTENAME('HLT_PAT','''')+' and aa.adrsrccod=a.patcod '
						+   ' left join grl_dat_adr ar on ar.buscod=r.buscod and ar.adrsrctyp='+QUOTENAME('HLT_PRS','''')+' and ar.adrsrccod=r.prscod ',		
						' p.buscod='+QUOTENAME(@lp_buscod,'''')
						+   ' and p.plnid ='+QUOTENAME(@lp_plnid,'''')
						+   ' and pd.deldte is null '
						+ (case when @lp_plndteid is not null then ' and pd.plndteid ='+QUOTENAME(@lp_plndteid,'''') else '' end),	
						'','')
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- determino si la fecha de planificaciÃ³n esta evolucionada.
		if exists(select top 1 * from HLT_PAT_EVL where BusCod=@lp_buscod and PlnId=@lp_plnid and PlnDteId=@lp_plndteid and DelDte is null)
			begin
				select @lp_plndteid, -1 as errcod, 'No se puede borrar la fecha de planificaciÃ³n, se encuentra evaluada.' as errtxt
				return
			end

		-- determino si la fecha de planificaciÃ³n esta controlada
		if exists(select top 1 * from HLT_PLN_CTR_DTE where BusCod=@lp_buscod and PlnId=@lp_plnid and PlnDteId=@lp_plndteid and docsts='C')
			begin
				select @lp_plndteid, -1 as errcod, 'No se puede borrar la fecha de planificaciÃ³n, se encuentra controlada.' as errtxt
				return
			end

		if exists(select top 1 * from HLT_PRS_LQD_DOC where BusCod=@lp_buscod and RefObjTyp='HLT_PLN' and RefObjCod001=@lp_plnid and RefObjCod002=@lp_plndteid)
			begin
				select @lp_plndteid, -1 as errcod, 'No se puede borrar la fecha de planificaciÃ³n, se encuentra liquidada a prestador.' as errtxt
				return
			end

		if exists(select top 1 * from HLT_LQD_DOC where BusCod=@lp_buscod and RefObjTyp='HLT_PLN' and RefObjCod001=@lp_plnid and RefObjCod002=@lp_plndteid)
			begin
				select @lp_plndteid, -1 as errcod, 'No se puede borrar la fecha de planificaciÃ³n, se encuentra liquidada a cliente.' as errtxt
				return
			end

		BEGIN TRAN

		-- marco la planificaciÃ³n como borrada
		UPDATE HLT_PLN_DTE
		SET docsts='I',
			deldte=getdate(),
			delusr=@lp_username
		WHERE BusCod=@lp_buscod
		  and PlnId=@lp_plnid
		  and PlnDteId=@lp_plndteid
		SET @lv_errcod = @@ERROR

		-- borra detalle de control no contabilizado
		IF @lv_errcod=0
			BEGIN
				DELETE FROM HLT_PLN_CTR_DTE
				WHERE BusCod=@lp_buscod
				  and PlnId=@lp_plnid
				  and PlnDteId=@lp_plndteid
				SET @lv_errcod = @@ERROR
			END

		-- se borra la cabecera si no tiene fechas
		IF @lv_errcod=0 and not exists(select top 1 * from HLT_PLN_DTE where BusCod=@lp_buscod and PlnId=@lp_plnid and DelDte is null and not PlnDteId=@lp_plndteid)
			BEGIN
				DELETE FROM HLT_PLN
				WHERE buscod=@lp_buscod
				  and PlnId=@lp_plnid
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plndteid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------
--   0 5    -    Q U I T A R   de  la   S E R I E
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1

		IF not exists(SELECT top 1 * FROM HLT_PLN_DTE WHERE buscod=@lp_buscod and plnid=@lp_plnid and plndteid=@lp_plndteid and docsts='A' and DelDte is null )
			BEGIN
				SELECT '', -5 as errcod, 'No se puede modificar la planificaciÃ³n. Existe control/liquidaciÃ³n.' as errtxt
				RETURN
			END

		DECLARE @lv_plnid AS INT
		SELECT @lv_tmpdte=plndte FROM HLT_PLN_DTE WHERE buscod=@lp_buscod and plnid=@lp_plnid and plndteid=@lp_plndteid and DelDte is null

		BEGIN TRAN

		/* agrego una nueva cabecera */
		INSERT INTO HLT_PLN (buscod, cuscod, patcod, prscod, spccod, plnyth, plnmth, serid, grpserid, plncmt, plndte, plndteto, docsts, ctedte, cteusr, sysdocclscod, delcod)
		SELECT TOP 1 buscod, cuscod, patcod, prscod, spccod, datepart(year,@lv_tmpdte), datepart(month,@lv_tmpdte), '<FRQTYP>U</FRQTYP>', null, plncmt, @lv_tmpdte, @lv_tmpdte, docsts, ctedte, cteusr, SysDocClsCod, delcod
		FROM HLT_PLN
		WHERE buscod=@lp_buscod
			and plnid=@lp_plnid
		SET @lv_plnid = @@IDENTITY

		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PLN
				SET grpserid=@lv_plnid
				WHERE buscod=@lp_buscod
				  and plnid=@lv_plnid
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PLN_DTE
				SET plnid=@lv_plnid
				WHERE buscod=@lp_buscod
				  and plnid=@lp_plnid
				  and plndteid=@lp_plndteid
				  and docsts='A'
				  and DelDte is null
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plndteid as plndteid, @lv_plnid as plnid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------
--   0 7    -    C O N F I R M A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '07'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- actualizo detalle
		UPDATE hlt_pln_dte
		SET plncnfdte = (case when plncnfdte is null then @lv_plncnfdte else plncnfdte end),
			prsntfdte = (case when prsntfdte is null then @lv_prsntfdte else prsntfdte end),
			patntfdte = (case when patntfdte is null then @lv_patntfdte else patntfdte end),
			updusr = @lp_username,
			upddte = getdate()
		FROM hlt_pln_dte x
		left join hlt_pln_ctr_dte y on y.buscod=x.buscod and y.plnid=x.plnid and y.plndteid=x.plndteid
		left join hlt_pat_evl e on e.buscod=x.buscod and e.plnid=x.plnid and e.plndteid=x.plndteid
		WHERE x.buscod=@lp_buscod
			and x.plnid =@lp_plnid
			and x.plndteid=@lp_plndteid
			and y.buscod is null -- sin control
			and e.buscod is null -- sin evolucion
			and y.hltlqdid is null
			and x.DelDte is null
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_plndteid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- hlt_pln_dte_def '08','mdominguez','temasis_hlt'

	    -- Obtener las restricciones de usuario
	    declare @lv_prmpatcod as nvarchar(max) = dbo.GetUserRestrictions(@lp_buscod, @lp_username, 'pl.patcod');
		declare @lv_prmprscod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'pl.prscod');
		declare @lv_prmcuscod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'pl.cuscod');
		declare @lv_prmspccod as nvarchar(max) = dbo.GetUserRestrictions(@lp_buscod, @lp_username, 'pl.spccod');

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
			' pl.*, pl.plndte as grpstrdte, pl.plndteto as grpenddte, pld.plndteid, pld.plndte, pld.plninbdte, pld.plnoutdte, pld.plnqty, pld.plncnfdte, pld.patntfdte, pld.prsntfdte, cld.hltplnctrdte, cld.deldte, cld.prscod as hltplnctrprscod, r.prstxt as hltplnctrprstxt, pld.plndteatr, '
			+ ' r.prstxt, r.prsniknme, s.spctxt, s.spcclr, s.spcctrtyp, s.spcatrval001, e.evlcod, e.docsts as evlsts, p.pattxt, dc.hltdisclscodext, e.evldte, convert(varchar, e.evldte, 103) as evldtecnv,c.custxt, '
			+ ' convert(varchar, pld.plndte, 103) as plndtecnv, convert(varchar, pld.plninbdte, 103) as plninbdtecnv, convert(varchar, pld.plnoutdte, 103) as plnoutdtecnv,dc.hltdisclstxt, '
      + '	pc.hltpatclstxt, pal.lndregtxt,p.PatCodExt,p.patcod'                              ,
			' hlt_pln pl '
			+ ' inner join hlt_pln_dte pld on pld.buscod=pl.buscod and pld.plnid=pl.plnid '
			+ ' left join hlt_pln_ctr_dte cld on cld.buscod=pld.buscod and cld.plnid=pld.plnid and cld.plndteid=pld.plndteid '
			+ ' left join hlt_pat_evl	e on e.buscod=pld.buscod and e.plnid=pld.plnid and e.plndteid=pld.plndteid and not e.docsts='+QUOTENAME('I','''')
			+ ' inner join hlt_pat		p on p.buscod=pl.buscod and p.patcod=pl.patcod '
      + ' left join hlt_pat_cls pc on pc.buscod = pl.buscod and pc.hltpatclscod = p.HltPatClsCod'
      +	' left join grl_dat_adr pa on pa.buscod=p.buscod and pa.adrsrctyp='+QUOTENAME('HLT_PAT','''')+' and pa.adrsrccod=p.patcod '
      + ' left join grl_dat_lnd_reg pal on pal.lndcod=pa.lndcod and pal.lndregcod=pa.lndregcod'
			+ ' inner join sls_cus		c on c.buscod=p.buscod and c.cuscod=p.cuscod '
			+ ' left join hlt_prs			r on r.buscod=pl.buscod and r.prscod=pl.prscod '
			+ ' inner join hlt_spc		s on s.buscod=pl.buscod and s.spccod=pl.spccod '
			+ ' left join hlt_dis_cls	dc on dc.buscod=p.buscod and dc.hltdisclscod=p.hltdisclscod ',
			' pl.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and pld.deldte is null '
            + @lv_prmpatcod + @lv_prmprscod + @lv_prmcuscod + @lv_prmspccod,
			--+   (case when isnull(@lp_prscod,'')=''  then '' else ' and pl.prscod = ' + QUOTENAME(@lp_prscod , '''') end)
			--+   (case when isnull(@lp_patcod,'') =''then '' else ' and pl.patcod = ' + QUOTENAME(@lp_patcod , '''') end)
			--+   (case when isnull(@lp_spccod,'') ='' then '' else ' and pl.spccod = ' + QUOTENAME(@lp_spccod , '''') end)
			--+   (case when isnull(@lp_grpserid,'') =''then '' else ' and pl.grpserid = ' + QUOTENAME(@lp_grpserid , '''') end)
			--+ (case when @lp_plndteid is not null and @lp_plndteid!=0 then ' and pld.plndteid ='+QUOTENAME(@lp_plndteid,'''') else '' end)
			' pld.plndte, pld.plninbdte, r.prstxt ','evlsts;e.docsts')		
		execute (@lv_sql)
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
