USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_LNK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_USR_LNK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null, /* empresa */
@lp_usrcod			as nvarchar(20)	= null,	/* id usuario */
@lp_srcobjtyp		as nvarchar(20)	= null,	/* tipo objeto origen */
@lp_srcobjcod		as nvarchar(20)	= null,	/* id objeto origen */	
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null,
@lp_errcod			as int			=null OUTPUT,
@lp_errtxt			as int			=null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '11'
	BEGIN
		IF exists(select usrcod from SYS_SEC_USR_LNK where buscod = @lp_buscod and UsrCod=@lp_usrcod and SrcObjTyp = @lp_srcobjtyp and srcobjcod = @lp_srcobjcod)
			BEGIN
				SET @lp_errcod = @lv_errcod
				SET @lp_errtxt = dbo.GetErrorDescription(@lv_errcod)
				RETURN
			END
	END

/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' OR @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    
			
		IF @lp_sysoperation = '01'
			BEGIN TRAN
		
		INSERT INTO SYS_SEC_USR_LNK 
			(buscod, usrcod, srcobjtyp, srcobjcod, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_usrcod, @lp_srcobjtyp, @lp_srcobjcod, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		
		IF @lp_sysoperation = '01'
			BEGIN
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
			END
		ELSE
			BEGIN
				SET @lp_errcod = @lv_errcod
				SET @lp_errtxt = dbo.GetErrorDescription(@lv_errcod)
			END

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_SEC_USR_LNK 
		WHERE buscod = @lp_buscod
		  and usrcod = @lp_usrcod
		  and srcobjtyp = @lp_srcobjtyp
		  and srcobjcod = @lp_srcobjcod 

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04' OR @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation = '04'
			BEGIN TRAN
		
		DELETE 
		FROM SYS_SEC_USR_LNK
		WHERE buscod = @lp_buscod
		  and usrcod = @lp_usrcod
		  and srcobjtyp = @lp_srcobjtyp
		  and srcobjcod = @lp_srcobjcod 
		SET @lv_errcod=@@ERROR

		IF @lp_sysoperation = '04'
			BEGIN
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
			END
		ELSE
			BEGIN
				SET @lp_errcod = @lv_errcod
				SET @lp_errtxt = dbo.GetErrorDescription(@lv_errcod)
			END

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.* '
			+ ' FROM SYS_SEC_USR_LNK l '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and l.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'l.srcobjtyp' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
