USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_SPC_STD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_SPC_STD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_spcstdcod 	as int					= null,	-- id
@lp_spcstdcodext as nvarchar(20)= null, -- codigo
@lp_spcstdtxt		as nvarchar(50)	= null,	-- descripcion
@lp_spccod			as int					= null,	-- id especialidad
@lp_docsts			as nvarchar(05) = null,	-- estado
@lp_spcstdatr		as nvarchar(max)= null,	-- atributos
@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_spcstdcmt		as nvarchar(max)= null	-- comentarios

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
	


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_SPC_STD (buscod, spcstdcodext, spcstdtxt, spccod, docsts, ctedte, cteusr, spcstdatr, spcstdcmt)
		VALUES (@lp_buscod, @lp_spcstdcodext, @lp_spcstdtxt, @lp_spccod, @lp_docsts, getdate(), @lp_username, @lp_spcstdatr, @lp_spcstdcmt)
		SET @lv_errcod=@@ERROR
		SET @lp_spcstdcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spcstdcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_SPC_STD
		SET	spcstdcodext = @lp_spcstdcodext,
				spcstdtxt = @lp_spcstdtxt,
				spccod = @lp_spccod, 
				spcstdcmt = @lp_spcstdcmt,
				docsts = @lp_docsts,
				updusr = @lp_username,
				spcstdatr = @lp_spcstdatr,
				upddte = getdate()
		WHERE buscod = @lp_buscod
		  and spcstdcod = @lp_spcstdcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spcstdcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT st.*, s.spctxt
		FROM HLT_SPC_STD st
		inner join HLT_SPC s on s.buscod=st.buscod and s.spccod=st.spccod 
		WHERE st.buscod=@lp_buscod
		  and st.spcstdCod=@lp_spcstdcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		/*		
		IF exists(select top 1 * from hlt_pln_dte_std where buscod=@lp_buscod and spcstdcod=@lp_spcstdcod)
			BEGIN
				SELECT null, -1 as errcod, 'El Grupo no se puede borrar. Se encuentra asociado a especialidad/es.' as errtxt
				RETURN
			END
		*/

		BEGIN TRAN

		DELETE
		FROM HLT_SPC_STD
		WHERE buscod = @lp_buscod
		  and spcstdcod = @lp_spcstdcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spcstdcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- hlt_SPC_STD_def '08','temasis','temasis_hlt'

		set @lv_sql = dbo.getsqlsentence(@lp_vewcfg,
			' st.*, s.spctxt ',
			' HLT_SPC_STD st inner join HLT_SPC s on s.buscod=st.buscod and s.spccod=st.spccod ',
			' st.buscod='+QUOTENAME(@lp_buscod, ''''),
			' st.spcstdtxt ',	default);
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
