USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PRS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		-- empresa
@lp_prscod 			as int			= null,	-- id prestador
@lp_prscnthrs		as nvarchar(50) = null, -- horario de contacto
@lp_prscmt			as text			= null, -- comentarios
@lp_docsts			as nvarchar(02) = null, -- estado
@lp_hltagrcod		as int			= null,	-- nÃºmero de convenio
@lp_prscodext		as nvarchar(20) = null,	-- cÃ³digo externo de prestador (en convenio)
@lp_lndtwngrpcod	as nvarchar(10) = null,	-- zona o provincia 
@lp_prsprn			as int			= null,	-- imprimible en cartilla
@lp_prstxt			as nvarchar(82) = null,	-- nombre de prestador
@lp_prsdte			as nvarchar(14)	= null,	-- fecha de actualizaciÃ³n (exportaciÃ³n imprenta)

@lp_vewcfg			as nvarchar(4000)= null, -- vista

@lp_prsniknme		as nvarchar(40)	= null,	-- nik name
@lp_prsinbdte		as nvarchar(14)	= null,	-- fecha ingreso
@lp_prsoutdte		as nvarchar(14)	= null,	-- fecha egreso
@lp_prsoutcmt		as nvarchar(10)	= null,	-- motivo egreso
@lp_prsnat			as nvarchar(20)	= null,	-- nacionalidad
@lp_prsbrndte		as nvarchar(14)	= null,	-- fecha nacimiento
@lp_prsdoctyp		as nvarchar(10)	= null,	-- documento tipo
@lp_prsdocnum		as nvarchar(20)	= null, -- documento numero
@lp_prsttl			as nvarchar(50)	= null,	-- estudios titulo
@lp_prsothstd		as nvarchar(400)= null,	-- estudios otros
@lp_prsjobhst		as nvarchar(400)= null,	-- antecedentes laborales
@lp_prccndcod		as int			= null,	-- id de condiciÃ³n
@lp_sysdocclscod	as int			= null	-- Codigo de clase de documeto


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_prsclstxt as nvarchar(50)
declare @lv_prsclstyp as int
declare @lv_prsclsspc as nvarchar(250)
declare @lv_prsclsord as int
declare @lv_prsdte as datetime = dbo.ConvertDate( @lp_prsdte )
declare @lv_prsbrndte as datetime = dbo.ConvertDate( @lp_prsbrndte )
declare @lv_prsinbdte as datetime = dbo.ConvertDate( @lp_prsinbdte )
declare @lv_prsoutdte as datetime = dbo.ConvertDate( @lp_prsoutdte )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PRS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	begin
		if not @lp_prscodext=''
			if exists(select top 1 * from hlt_prs where buscod=@lp_buscod and not prscod=@lp_prscod and prscodext=@lp_prscodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					--select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego el prestador
		INSERT INTO HLT_PRS (buscod, prscnthrs, prscmt, prsprn, docsts, cteusr, ctedte, prstxt, prsniknme, prsnat, prsbrndte, prsinbdte, prsoutdte, prsoutcmt, prsdoctyp, prsdocnum, prsttl, prsothstd, prsjobhst, prccndcod, prscodext,sysdocclscod)
		VALUES (@lp_buscod, @lp_prscnthrs, @lp_prscmt, @lp_prsprn, @lp_docsts, @lp_username, getdate(), @lp_prstxt, @lp_prsniknme, @lp_prsnat, @lv_prsbrndte, @lv_prsinbdte, @lv_prsoutdte, @lp_prsoutcmt, @lp_prsdoctyp, @lp_prsdocnum, @lp_prsttl, @lp_prsothstd, @lp_prsjobhst, @lp_prccndcod, @lp_prscodext ,@lp_sysdocclscod)
		SET @lv_errcod=@@ERROR
		SET @lp_prscod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HLT_PRS 
		SET prscodext	= @lp_prscodext,
			prscnthrs	= @lp_prscnthrs,	-- horario de contacto
			prscmt		= @lp_prscmt,		-- comentarios
			prsprn		= @lp_prsprn,		-- en cartilla
			docsts		= @lp_docsts,
			updusr		= @lp_username,
			upddte		= getdate(),
			prstxt		= @lp_prstxt,		-- nombre de prestador
			prsniknme	= @lp_prsniknme,	-- nik name
			prsnat		= @lp_prsnat,		-- nacionalidad
			prsbrndte	= @lv_prsbrndte,	-- fecha nacimiento
			prsinbdte	= @lv_prsinbdte,	-- fecha ingreso
			prsoutdte	= @lv_prsoutdte,	-- fecha egreso
			prsoutcmt	= @lp_prsoutcmt,	-- motivo egreso
			prsdoctyp	= @lp_prsdoctyp,	-- documento tipo
			prsdocnum	= @lp_prsdocnum,	-- documento numero
			prsttl		= @lp_prsttl,		-- titulo
			prsothstd	= @lp_prsothstd,	-- otros estudios
			prsjobhst	= @lp_prsjobhst,	-- antecedentes laborales
			prccndcod= @lp_prccndcod	-- lista de precios - categorizaciÃ³n
		WHERE buscod = @lp_buscod
		  and prscod = @lp_prscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*,
			(case when prsbrndte is null then null else datediff(year, prsbrndte, getdate()) + (case when datepart(month,getdate())<datepart(month,prsbrndte) or ( datepart(month,getdate())=datepart(month,prsbrndte) and datepart(day,getdate())<datepart(day,prsbrndte) ) then -1 else 0 end) end) as prsage, 
			(case when prsinbdte is null then null else (datediff(year, prsinbdte, getdate()) + (case when datepart(month,getdate())<datepart(month,prsinbdte) or (datepart(month,getdate())=datepart(month,prsinbdte) and datepart(day,getdate())<datepart(day,prsinbdte)) then -1 else 0 end)) end) as prsjobold,
			cast(null as int) as prsjobpts,
			cast(null as int) as prscatpts,
			cast(null as decimal(13,3)) as prscatprc,
			cast(null as int) as prspts,
			c.PrcCndTxt, cd.SysDocClsTxt
		INTO #tmp_03
		FROM HLT_PRS p
		left join GRL_PRC_CND c on c.buscod=p.buscod and c.PrcCndCod=p.prccndcod
		--left join HLT_CAT_PRC c on c.buscod=p.buscod and c.catprccod=p.catprccod
		inner join SYS_DOC_CLS cd on cd.BusCod = p.BusCod and cd.objtyp ='HLT_PRS' and cd.SysDocClsCod = p.SysDocClsCod
		WHERE p.buscod = @lp_buscod
		  and p.prscod = @lp_prscod

		-- actualizo puntaje de categorizaciÃ³n y antiguedad
		update #tmp_03
		set prsjobpts=(select top 1 hltcatpts from hlt_cat_val where buscod=x.buscod and hltcatcod=(select top 1 hltcatcod from hlt_cat where buscod=x.buscod and hltcattxt='ANTIGUEDAD EMPRESA') and x.prsjobold between hltcatfrm and hltcatto),
			prscatpts=(select isnull(sum(hltcatpts),0) from hlt_prs_cat where buscod=x.buscod and prscod=x.prscod and getdate() between hltcatstrdte and hltcatenddte)
		from #tmp_03 x

		-- obtengo precio de categorizaciÃ³n
		/*
		update #tmp_03
		set prspts = isnull(x.prsjobpts,0)+isnull(x.prscatpts,0),
			prscatprc = (select top 1 catprcprc from hlt_cat_prc_ver v inner join hlt_cat_prc_lst l on l.buscod=v.buscod and l.catprccod=v.catprccod and l.catprcver=v.catprcver where v.buscod=x.buscod and v.catprccod=x.catprccod and getdate() between v.catprcfrmdte and v.catprctodte and (isnull(x.prsjobpts,0)+isnull(x.prscatpts,0)) between l.catprcpntfrm and l.catprcpntto)
		from #tmp_03 x
		*/

		SELECT * FROM #tmp_03		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
    
    -- Tabla temporal para guardar tablas/objtyp donde se encontrÃ³ el prestador
    create table #prsTables (objtyptbl nvarchar(255), objtyp nvarchar(100))
    insert into #prsTables EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod=@lp_buscod, @lp_objtypcod='HLT_PRS', @lp_objcod=@lp_prscod, @lp_fldnme='prscod'
		
    if exists (select 1 from #prsTables)
    begin
    	declare @lv_msg nvarchar(max)
      
      /*;WITH CTE as (
      	select SUBSTRING(
          			-- Obtiene el nombre de la tabla a partir de SYS_OBJ_TYP
                o.objtyptxt, 
                CHARINDEX('-', o.objtyptxt) + 1, 
                CHARINDEX('(', o.objtyptxt) - CHARINDEX('-', o.objtyptxt) - 2
             ) as nmeTbl
        from #prsTables t
        join tmssSysDev.dbo.SYS_OBJ_TYP o on o.objtyptbl = t.objtyptbl and (o.objtypcod = t.objtyp or t.objtyp is null)
      )
      -- mensaje de error hasta 5 tablas
      select @lv_msg = CONCAT('No se puede borrar el prestador. Existe en', (select STRING_AGG(nmeTbl, ',') from (select top 5 nmeTbl FROM CTE) as nmeTbl),
      case when (select count(*) from CTE) > 5 then ', y otros documentos' else '' end, '.')*/
      
      SET @lv_msg = 'No se puede borrar el prestador. EstÃ¡ siendo usado en otros documentos.'
      
      SELECT null, -1 as errcod, @lv_msg as errtxt
      drop table #prsTables
    	return
    end
    drop table #prsTables

		BEGIN TRAN

		UPDATE HLT_PRS
		set docsts = 'I',
			deldte = getdate(),
			delusr = @lp_username
		WHERE buscod = @lp_buscod
		  and prscod = @lp_prscod
		  and deldte is null
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END 




-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg,
				' p.*, a.adrlstnme, a.adrfrtnme, a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrzon, a.adrstr, a.adreml, a.adrmapgeo, a. adrtwn, '
				+ ' dp.perbrndte, '
				+ ' l.lndtxt, r.lndregtxt, dc.sysdocclstxt, t.taxcod, b.paymthcod, b.bnkacccbu, b.bnkaccnum, b.bnkbch, b.bnkacctyp, pm.paymthcodext, pm.paymthtxt, t.taxiibb, '
        + ' (a.adrstr + '+QUOTENAME(' ','''')+' + a.adrstrnum) as adrdom, f.taxcattxt, id.idttyptxt, tb.bnktxt ',
				' HLT_PRS p '
				+ ' left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HLT_PRS','''')+' and a.adrsrccod=p.prscod'
				+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
				+ ' left join GRL_DAT_LND_REG r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod '
				+ ' left join GRL_DAT_TAX t on t.buscod=p.buscod and t.taxsrctyp='+QUOTENAME('HLT_PRS','''')+' and t.taxsrccod=p.prscod'
				+ ' left join FIN_TAX_CAT f on f.lndcod=t.lndcod and f.taxcatcod=t.taxcatcod '
				+ ' left join adm_idt_typ id on id.lndcod=a.lndcod and id.idttypcod=t.taxdoctyp '
				+ ' left join GRL_DAT_BNK b on b.buscod=p.buscod and b.bnksrctyp='+QUOTENAME('HLT_PRS','''')+' and b.bnksrccod=p.prscod'
				+ ' left join TSR_PAY_MTH pm on pm.buscod=p.buscod and pm.paymthcod=b.paymthcod '
				+ ' left join TSR_BNK tb on tb.buscod=p.buscod and tb.bnkcod=b.bnkcod '
				+ ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod '
				+ ' left join GRL_DAT_PER dp on dp.buscod=p.buscod and dp.persrctyp='+QUOTENAME('HLT_PRS','''')+' and dp.persrccod=p.prscod',
				' p.buscod='+QUOTENAME(@lp_buscod, '''')
      	+ dbo.GetUserRestrictions(@lp_buscod,@lp_username,'p.prscod')
				+ ' and p.deldte is null '
				+ ' and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('HLT_PRS','''')+'))) '
				+ (case when  isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end),
				' p.prstxt ',
				default )

		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   3 8    -    E X P O R T A R    P R E S T A D O R E S    ( I M P R E N T A )
-- ------------------------------------------------------------------------
/*
IF @lp_sysoperation = '38'
	BEGIN
		SET @lv_validop = 1 

		-- creo la tabla
		select 
		cast(null as nvarchar(5)) as lndcod, 
		0 as prsclsord, 
		cast(null as nvarchar(50)) as prsclstxt, 
		cast(null as nvarchar(50)) as twngrpzne, 
		cast(null as nvarchar(10)) as lndregcod, 
		cast(null as nvarchar(50)) as lndregtxt, 
		cast(null as nvarchar(10)) as spccod, 
		cast(null as nvarchar(50)) as spctxt,
		cast(null as nvarchar(10)) as lndtwncod,
		cast(null as nvarchar(50)) as lndtwntxt, 
		cast(null as nvarchar(10)) as prscod, 
		cast(null as nvarchar(80)) as adrnme001,
		cast(null as nvarchar(80)) as adrstr, 
		cast(null as nvarchar(50)) as adrcty,
		cast(null as nvarchar(50)) as adrphn001,
		cast(null as nvarchar(50)) as adrphn002,
		cast(null as nvarchar(50)) as adrfax,
		cast(null as nvarchar(250)) as adreml,
		cast(null as nvarchar(250)) as prscnthrs,
		cast(null as datetime) as ctedte,
		cast(null as datetime) as upddte,
		cast(null as datetime) as deldte
		INTO #tmp_prs
		WHERE 1=2

		-- si es una provincia 
		IF not exists(select top 1 * from grl_dat_lnd_twn_grp where lndtwngrpcod=@lp_lndtwngrpcod)

			-- prestadores por provincia de convenios vigentes con especialdiades activas
			INSERT INTO #tmp_prs
			SELECT r.lndcod, 
				0 as prsclsord, 
				cast(null as nvarchar(50)) as prsclstxt, 
				null as twngrpzne, 
				r.lndregcod, r.lndregtxt, 
				s.spccod, s.spctxt, 
				t.lndtwncod, t.lndtwntxt, 
				p.prscod, 
				d.adrnme001, d.adrstr, d.adrcty, d.adrphn001, d.adrphn002, d.adrfax, d.adreml, 
				p.prscnthrs,
				p.ctedte, p.upddte, p.deldte
			from hlt_agr a
			inner join hlt_agr_prs ap on ap.buscod= a.buscod and ap.hltagrcod=a.hltagrcod
			inner join hlt_prs p on  p.buscod=ap.buscod and p.prscod=ap.prscod
			inner join grl_dat_adr d on  d.buscod= p.buscod and d.adrsrctyp='HLT_PRS' and d.adrsrccod=p.prscod
			inner join grl_dat_lnd_reg r on r.lndcod= d.lndcod and r.lndregcod=d.lndregcod
			inner join grl_dat_lnd_twn t on t.lndcod= d.lndcod and t.lndregcod=d.lndregcod and t.lndtwncod=d.lndtwncod
			inner join hlt_prs_spc ps on ps.buscod= p.buscod and ps.prscod=p.prscod
			inner join hlt_spc s on s.buscod=ps.buscod and s.spccod=ps.spccod
			where a.docsts='A'
			  and p.docsts='A'
			  and s.docsts='A'
			  and getdate() between a.agrstrdte and a.agrenddte
			  and s.spctyp=0
			  and d.lndregcod = @lp_lndtwngrpcod
			  and a.agrprn >= 0
			  and p.prsprn >= 0
			  and d.lndtwncod not in (select lndtwncod from grl_dat_lnd_twn_grp_zne where lndcod=d.lndcod and lndregcod=d.lndregcod)

		ELSE
			BEGIN

				-- prestadores por provincia de convenios vigentes con especialdiades activas
				INSERT INTO #tmp_prs
				select r.lndcod, 0 as prsclsord, cast(null as nvarchar(50)) as prsclstxt, zz.lndtwngrptwn as twngrpzne, gz.lndtwngrpcod as lndregcod, gz.lndtwngrptxt as lndregtxt, s.spccod, s.spctxt, t.lndtwncod, t.lndtwntxt, p.prscod, d.adrnme001, d.adrstr, d.adrcty, d.adrphn001, d.adrphn002, d.adrfax, d.adreml, p.prscnthrs, p.ctedte, p.upddte, p.deldte
				from hlt_agr a
				inner join hlt_agr_prs ap on ap.buscod= a.buscod and ap.hltagrcod=a.hltagrcod
				inner join hlt_prs p on  p.buscod=ap.buscod and p.prscod=ap.prscod
				inner join grl_dat_adr d on  d.buscod= p.buscod and d.adrsrctyp='HLT_PRS' and d.adrsrccod=p.prscod
				inner join grl_dat_lnd_reg r on r.lndcod= d.lndcod and r.lndregcod=d.lndregcod
				inner join grl_dat_lnd_twn t on t.lndcod= d.lndcod and t.lndregcod=d.lndregcod and t.lndtwncod=d.lndtwncod
				inner join hlt_prs_spc ps on ps.buscod= p.buscod and ps.prscod=p.prscod
				inner join hlt_spc s on s.buscod=ps.buscod and s.spccod=ps.spccod
				inner join grl_dat_lnd_twn_grp gz on gz.lndcod=d.lndcod
				inner join grl_dat_lnd_twn_grp_zne zz on zz.lndtwngrpcod=gz.lndtwngrpcod and zz.lndcod=d.lndcod and zz.lndregcod=d.lndregcod and zz.lndtwncod=d.lndtwncod
				where a.docsts='A'
				  and p.docsts='A'
				  and s.docsts='A'
				  and getdate() between a.agrstrdte and a.agrenddte
				  and s.spctyp=0
				  and gz.lndtwngrpcod = @lp_lndtwngrpcod
				  and a.agrprn >= 0
				  and p.prsprn >= 0

			END

		-- ACTUALIZACIONES: si se indicÃ³ una fecha, dejo solo las actualizaciones a partir de esa fecha
		IF not @lv_prsdte is null
			BEGIN
				DELETE FROM #tmp_prs 
				WHERE not (ctedte>=@lv_prsdte and deldte is null)
				  and not (ctedte<@lv_prsdte and deldte is not null and deldte>=@lv_prsdte)
				  and not (ctedte<@lv_prsdte and deldte is null and upddte is not null and upddte>=@lv_prsdte)
			END
		ELSE
			BEGIN
				DELETE FROM #tmp_prs 
				WHERE not deldte is null
			END


		-- actualizo clasificaciÃ³n de especialidades
		DECLARE lv_cursor_cls CURSOR FOR
		SELECT prsclstxt, prsclsspctyp, prsclsspcids, prsclsord
		FROM hlt_prs_cls
		WHERE buscod=@lp_buscod and docsts='A'
		ORDER BY prsclsord
		OPEN lv_cursor_cls
		FETCH NEXT FROM lv_cursor_cls INTO @lv_prsclstxt, @lv_prsclstyp, @lv_prsclsspc, @lv_prsclsord
		WHILE @@FETCH_STATUS=0
			BEGIN
				set @lv_prsclsspc = ';' + @lv_prsclsspc + ';'
				/* todas las especialidades */
				IF @lv_prsclstyp = 0
					BEGIN
						UPDATE #tmp_prs
						SET prsclstxt = @lv_prsclstxt,
							prsclsord = @lv_prsclsord
						FROM #tmp_prs
						WHERE isnull(prsclstxt,'')=''
					END
				/* solo las indicadas */
				IF @lv_prsclstyp = 1
					BEGIN
						UPDATE #tmp_prs
						SET prsclstxt = @lv_prsclstxt,
							prsclsord = @lv_prsclsord
						FROM #tmp_prs
						WHERE isnull(prsclstxt,'')=''
						  and @lv_prsclsspc like '%;' + cast(spccod as nvarchar(10)) + ';%' 
					END
				-- todas menos las indicadas
				IF @lv_prsclstyp = 2
					BEGIN
						UPDATE #tmp_prs
						SET prsclstxt = @lv_prsclstxt,
							prsclsord = @lv_prsclsord
						FROM #tmp_prs
						WHERE isnull(prsclstxt,'')=''
						  and not @lv_prsclsspc like '%;' + cast(spccod as nvarchar(10)) + ';%' 
					END
				FETCH NEXT FROM lv_cursor_cls INTO @lv_prsclstxt, @lv_prsclstyp, @lv_prsclsspc, @lv_prsclsord
			END
		CLOSE lv_cursor_cls
		DEALLOCATE lv_cursor_cls
			
		-- devuelvo el resultado
		IF not @lv_prsdte is null
			select * 
			from #tmp_prs
			order by 
				(case when deldte is not null then 3 else 
				 (case when upddte is not null then 2 else 1 end) end),
				lndregtxt, twngrpzne, prsclsord, spctxt, lndtwntxt, adrnme001
		ELSE
			select * 
			from #tmp_prs
			order by lndregtxt, twngrpzne, prsclsord, spctxt, lndtwntxt, adrnme001
		
	END
*/

-- ------------------------------------------------------------------------
--   3 2    -    ACTUALIZAR CLASE DE DOCUMENTO
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '32'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_PRS 
		SET	sysdocclscod = @lp_sysdocclscod,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and prscod = @lp_prscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
