USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_EVL_SKI_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_EVL_SKI_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrevlskicod	 as int			= null,	-- id
@lp_hhrevlskicodext	as nvarchar(20)	= null,	-- codigo
@lp_hhrevlskitxt	as nvarchar(50)	= null,	-- descripcion
@lp_hhrevlskicmt	as nvarchar(max)= null, -- comentarios
@lp_hhrevlskigrp	as nvarchar(20)	= null,	-- grupo
@lp_hhrevlskievl	as nvarchar(max)= null,	-- evaluacion
@lp_hhrevlskiatr	as nvarchar(max)= null,	-- atributos
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SKI'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	begin

		if not @lp_hhrevlskicodext=''
			if exists(select top 1 * from HHR_EVL_SKI where buscod=@lp_buscod and not hhrevlskicod=@lp_hhrevlskicod and hhrevlskicodext=@lp_hhrevlskicodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_EVL_SKI (buscod, hhrevlskicodext, hhrevlskitxt, hhrevlskicmt, hhrevlskigrp, hhrevlskievl, hhrevlskiatr, docsts, ctedte, cteusr)
		VALUES( @lp_buscod, @lp_hhrevlskicodext, @lp_hhrevlskitxt, @lp_hhrevlskicmt, @lp_hhrevlskigrp, @lp_hhrevlskievl, @lp_hhrevlskiatr, @lp_docsts, getdate(), @lp_username )
		set @lp_hhrevlskicod = @@IDENTITY
    set @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrevlskicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_EVL_SKI 
		SET	hhrevlskicodext = @lp_hhrevlskicodext,
			hhrevlskitxt = @lp_hhrevlskitxt,
			HhrEvlSkiCmt = @lp_hhrevlskicmt,
			HhrEvlSkigrp = @lp_hhrevlskigrp,
			hhrevlskievl = @lp_hhrevlskievl,
			hhrevlskiatr = @lp_hhrevlskiatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and hhrevlskicod=@lp_hhrevlskicod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrevlskicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*
		FROM HHR_EVL_SKI s
		WHERE s.buscod=@lp_buscod
		  and s.hhrevlskicod=@lp_hhrevlskicod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		/*
		IF exists(select top 1 * from HHR_LIC where (buscod=@lp_buscod and hhrevlskiCod=@lp_hhrevlskicod)
				or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_SysAppMdlPrm('HHR_DAT_SYN', @lp_buscod))
			  and (hhrevlskiCod in (select hhrevlskiCod from HHR_EVL_SKI where hhrevlskiSynCod=@lp_hhrevlskicod)) ))
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Se encuentra asignado.' as errtxt
				RETURN
			END
		*/
		BEGIN TRAN

		DELETE
		FROM HHR_EVL_SKI
		WHERE buscod=@lp_buscod
		  and hhrevlskicod=@lp_hhrevlskicod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrevlskicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		 
  		set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, ' s.* ', 'HHR_EVL_SKI s ', ' s.buscod='+QUOTENAME(@lp_buscod, ''''), default , default)
	   execute( @lv_sql )
	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
