USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_CFG_FLE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SYS_CFG_FLE_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_fleid 			as int	= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
DECLARE @lv_ErrorSave INT

SET @lv_validop = 0
SET @lv_ErrorSave = 0

IF (@@ERROR <> 0)
	SET @lv_ErrorSave = @@ERROR





/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT h.*
		FROM SYS_CFG_FLE h 
		WHERE h.fleid = @lp_fleid

	END




/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT f.*
		FROM SYS_CFG_FLE_FLD f
		WHERE f.fleid = @lp_fleid
		ORDER BY f.FleFldId

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
