USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_LQD_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[EDU_LQD_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_edulqddoccod	as int			= null, /* id liquidación-documento */
@lp_edulqdcod 		as int			= null,	/* id liquidación */
@lp_refobjtyp		as nvarchar(20)	= null,	/* objeto referencia */
@lp_refobjcod001	as nvarchar(20)	= null, /* id ref 001 */
@lp_refobjcod002	as nvarchar(20)	= null,	/* id ref 002 */
@lp_edulqddoccodext as nvarchar(20)	= null, /* cod externo */
@lp_edulqddoctxt	as nvarchar(50) = null,	/* descripcion */
@lp_edulqddocdte	as nvarchar(14)	= null,	/* fecha */
@lp_edulqddocqty	as bigint		= null,	/* cantidad */
@lp_edulqddocprc	as bigint		= null,	/* precio unitario */
@lp_edulqddoctot	as bigint		= null,	/* total */
@lp_curcod			as nvarchar(5)	= null,	/* moneda */
@lp_edulqddocatr001	as nvarchar(4000)=null, /* atributos */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)= null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)

declare @lv_edulqddocqty as decimal(18,3)
set @lv_edulqddocqty = dbo.ConvertNumber( @lp_edulqddocqty, 3)

declare @lv_edulqddocprc as decimal(18,3)
set @lv_edulqddocprc = dbo.ConvertNumber( @lp_edulqddocprc, 3)

declare @lv_edulqddoctot as decimal(18,3)
set @lv_edulqddoctot = dbo.ConvertNumber( @lp_edulqddoctot, 3)

declare @lv_edulqddocdte as smalldatetime
set @lv_edulqddocdte = dbo.ConvertDate( @lp_edulqddocdte )



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		if exists(select top 1 * from EDU_LQD_DOC where BusCod=@lp_buscod and EduLqdCod=@lp_edulqdcod and RefObjTyp=@lp_refobjtyp and RefObjCod001=@lp_refobjcod001 and RefObjCod002=@lp_refobjcod002)
			begin
				set @lp_sysoperation = '02'
				set @lp_edulqddoccod = (select top 1 EduLqdDocCod from EDU_LQD_DOC where BusCod=@lp_buscod and EduLqdCod=@lp_edulqdcod and RefObjTyp=@lp_refobjtyp and RefObjCod001=@lp_refobjcod001 and RefObjCod002=@lp_refobjcod002)
			end
		else
			set @lp_sysoperation = '01'
	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO EDU_LQD_DOC (buscod, edulqdcod, refobjtyp, refobjcod001, refobjcod002, 
			edulqddoccodext, edulqddoctxt, edulqddocdte, edulqddocqty, edulqddocprc, edulqddoctot, curcod, edulqddocatr001,
			docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_edulqdcod, @lp_refobjtyp, @lp_refobjcod001, @lp_refobjcod002, 
			@lp_edulqddoccodext, @lp_edulqddoctxt, @lv_edulqddocdte, @lv_edulqddocqty, @lv_edulqddocprc, @lv_edulqddoctot, @lp_curcod, @lp_edulqddocatr001,
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_edulqddoccod=@@IDENTITY
		
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_LQD
				SET edulqdtot = (select sum(d.edulqddoctot) FROM EDU_lqd_doc d where d.buscod=@lp_buscod and d.edulqdcod=@lp_edulqdcod)
				WHERE buscod=@lp_buscod 
				  and edulqdcod=@lp_edulqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_edulqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE EDU_LQD_DOC
		SET edulqddoccodext = @lp_edulqddoccodext, 
			edulqddoctxt	= @lp_edulqddoctxt, 
			edulqddocdte	= @lv_edulqddocdte, 
			edulqddocqty	= @lv_edulqddocqty, 
			edulqddocprc	= @lv_edulqddocprc, 
			edulqddoctot	= @lv_edulqddoctot, 
			curcod			= @lp_curcod, 
			edulqddocatr001 = @lp_edulqddocatr001,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and edulqddoccod = @lp_edulqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_LQD
				SET edulqdtot = (select sum(d.edulqddoctot) FROM EDU_lqd_doc d where d.buscod=@lp_buscod and d.edulqdcod=@lp_edulqdcod)
				WHERE buscod=@lp_buscod 
				  and edulqdcod=@lp_edulqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_edulqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ld.*
		FROM EDU_LQD_DOC ld
		WHERE ld.buscod = @lp_buscod
		  and ld.edulqddoccod = @lp_edulqddoccod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM EDU_LQD_DOC
		WHERE buscod = @lp_buscod
		  and edulqddoccod = @lp_edulqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_LQD
				SET edulqdtot = (select sum(d.edulqddoctot) FROM EDU_lqd_doc d where d.buscod=@lp_buscod and d.edulqdcod=@lp_edulqdcod)
				WHERE buscod=@lp_buscod 
				  and edulqdcod=@lp_edulqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_edulqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* EDU_lqd_doc_def '08','mdominguez','temasis_edu' */

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(nvarchar, l.edulqddte, 103) as edulqddtecnv, convert(nvarchar, ld.edulqddocdte, 103) as edulqddocdtecnv '
			+ ' FROM EDU_lqd_doc ld '
			+ ' inner join EDU_LQD l on l.buscod=ld.buscod and l.edulqdcod=ld.edulqdcod '
			+ ' left join EDU_STU_EVL ee on ee.buscod=ld.buscod and ld.refobjtyp='+QUOTENAME('EDU_EVL','''')+' and ee.evlcod=ld.refobjcod001 '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
