USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[STK_MAT_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_matcod 			as int						= null OUTPUT,	-- id 
@lp_matcodext		as nvarchar(20)		= null,	-- codigo 
@lp_mattxt			as nvarchar(50)		= null,	-- descripcion 
@lp_matclscod		as int						= null,	-- clasificacion 
@lp_matuntcod		as nvarchar(05)		= null,	-- unidad de medida 
@lp_docsts 			as nvarchar(02)		= null,	-- estado 

@lp_vewcfg			as nvarchar(max)	= null,	-- configuracion vista 

@lp_matcst			as bigint					= null,	-- costo 
@lp_matcstcurcod	as nvarchar(5)	= null,	-- costo - moneda 
@lp_matcstqty		as bigint					= null,	-- costo - cantidad 
@lp_matcstuntcod 	as nvarchar(5)	= null,	-- costo - unidad de medida 
@lp_matusebch		as int						= null,	-- utiliza lotes 
@lp_matuseser		as int						= null,	-- utiliza nros de serie 
@lp_matminqtydel	as bigint				= null,	-- cantida miÂ­nima entrega 
@lp_matpckdel		as bigint					= null,	-- pack de entrega 
@lp_matatr			as nvarchar(max)	= null,	-- atributos del material 
@lp_mathiecod		as int						= null,	-- id jerarquia 
@lp_sysdocclscod	as int					= null,	-- id clase de documento 
@lp_matstkday		as bigint					= null,	-- dias de stock 
@lp_matgencod		as int						= null,	-- id material generico 
@lp_MatSerDocClsCod as int				= null,	-- nro de serie - id clase de documento 

@lp_errcod			as int						= null OUTPUT,	-- id error
@lp_errtxt			as nvarchar(400)	= null OUTPUT,	-- txt error

@lp_MatBchDocClsCod as int				= null	-- lote - id clase de documento 

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt as nvarchar(4000)

declare @lv_sql as nvarchar(max)

declare @lv_matminqtydel as decimal(13,3) = dbo.ConvertNumber( @lp_matminqtydel , 3 )
declare @lv_matpckdel as decimal(13,3) = dbo.ConvertNumber( @lp_matpckdel , 3 )

DECLARE @lv_actcst INT = 0 	-- Actualizo costo 
declare @lv_matcst as decimal(18,3) = dbo.ConvertNumber( @lp_matcst , 3 )
declare @lv_matcstqty as decimal(18,3) = dbo.ConvertNumber( @lp_matcstqty , 3 )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MAT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-1	Codigo existente													
--	-2	Clasificacion invalida												
--	-3	Unidad de medida invalida											
--	-4	Unidad de medida de Costo invalida									
--	-6	Tipo unidad medida costo no coincide con unidad base				
--	-8	No se puede borrar el material. Existen movimientos asociados.		
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		IF not isnull(@lp_matcodext,'')=''
			IF exists(select top 1 * from stk_mat where buscod=@lp_buscod and not matcod=@lp_matcod and matcodext=@lp_matcodext)
				BEGIN
					set @lp_errcod=-1
					set @lp_errtxt = 'Codigo externo existente.'
					if not @lp_sysoperation='01_sp'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
					RETURN
				END

		IF not isnull(@lp_matclscod,'')=''
			IF not exists(select top 1 * from stk_mat_cls where buscod=@lp_buscod and matclscod=@lp_matclscod)
				BEGIN
					set @lp_errcod=-2
					set @lp_errtxt = 'Clasificacion invalida.'
					if not @lp_sysoperation='01_sp'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
					RETURN
				END

		IF not exists(select top 1 * from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matuntcod)
			BEGIN
				set @lp_errcod=-3
				set @lp_errtxt = 'Unidad de medida invalida.'
				if not @lp_sysoperation='01_sp'
					SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
				RETURN
			END

		IF not isnull(@lp_matcstuntcod,'')=''
			BEGIN
				IF not exists(select top 1 * from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matcstuntcod)
					BEGIN
						set @lp_errcod=-4
						set @lp_errtxt = 'Unidad de medida de costo invalida.'
						if not @lp_sysoperation='01_sp'
							SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN
					END
				ELSE IF not ((select top 1 matunttypcod from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matuntcod)=(select top 1 matunttypcod from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matcstuntcod))
					BEGIN
						set @lp_errcod=-6
						set @lp_errtxt='Tipo unidad medida costo no coincide con unidad base.'
						if not @lp_sysoperation='01_sp'
							SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN
					END					
			END

		-- unidad de medida de costo = unidad de medida base x default
		IF isnull(@lp_matcstuntcod,'')=''
			set @lp_matcstuntcod = @lp_matuntcod

		-- moneda de costo = moneda de sociedad x default
		if isnull(@lp_matcstcurcod,'')=''
			set @lp_matcstcurcod = (select top 1 curcod from adm_bus where buscod=@lp_buscod)

		-- valido perfil de lote
		if @lp_matusebch=1 and isnull(@lp_MatBchDocClsCod,0)=0
			begin
				set @lp_errcod=-9
				set @lp_errtxt='Si indico material sujeto a lote debe indicar un Perfil de lote.'
				if not @lp_sysoperation='01_sp'
					SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
				return
			end

		-- valido perfil de nro de serie
		if @lp_matuseser=1 and isnull(@lp_MatSerDocClsCod,0)=0
			begin
				set @lp_errcod=-9
				set @lp_errtxt='Si indico material sujeto a nro. de serie debe indicar un Perfil de nro de serie.'
				if not @lp_sysoperation='01_sp'
					SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
				return
			end

		if @lp_sysoperation='02' and not exists(select top 1 * from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod and matusebch=@lp_matusebch and matuseser=@lp_matuseser)
			if exists(select top 1 * from stk_mat_stk where buscod=@lp_buscod and matcod=@lp_matcod and not matqty=0 and docsts='A')
				begin
					set @lp_errcod=-7
					set @lp_errtxt='No se permite modificar indicador Sujeto Lote/Nro Serie si el material tiene stock.'
					if not @lp_sysoperation='01_sp'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
					return
				end

		-- un solo nivel permitido comercial-generico permitido
		if not @lp_matgencod=0 and not exists(select top 1 * from STK_MAT where BusCod=@lp_buscod and MatCod=@lp_matgencod and ISNULL(matgencod,0)=0)
			begin
				set @lp_errcod=-8
				set @lp_errtxt='Solo se permite un nivel comercial-generico. El generico es comercial de otro material.'
				if not @lp_sysoperation='01_sp'
					SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
				return
			end

		-- valido clase de documento para perfil de lote
		if @lp_matusebch=1 and not exists(select top 1 * from SYS_DOC_CLS where BusCod=@lp_buscod and SysDocClsCod=@lp_MatBchDocClsCod and ObjTyp='STK_BCH')
			begin
				set @lp_errcod=-9
				set @lp_errtxt='Perfil de lote ['+cast(isnull(@lp_MatBchDocClsCod,'') as nvarchar(80))+'] no validoc como clase de documento.'
				if not @lp_sysoperation='01_sp'
					SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
				return
			end
		else if @lp_matusebch=0
			set @lp_matbchdocclscod = null

		-- valido clase de documento para perfil de nro de serie
		if @lp_matuseser=1 and not exists(select top 1 * from SYS_DOC_CLS where BusCod=@lp_buscod and SysDocClsCod=@lp_MatSerDocClsCod and ObjTyp='STK_SER')
			begin
				set @lp_errcod=-9
				set @lp_errtxt='Perfil de nro de serie ['+cast(isnull(@lp_MatSerDocClsCod,'') as nvarchar(80))+'] no validoc como clase de documento.'
				if not @lp_sysoperation='01_sp'
					SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
				return
			end
		else if @lp_matuseser=0
			set @lp_matserdocclscod = null

		-- la se modifica alguno de los capos de la tarjeta 'Costo' lv_actcst valdrÃƒÂ¡ 1
  	IF @lp_sysoperation='02' and not exists(select top 1 * from stk_mat_cst where buscod=@lp_buscod and matcod=@lp_matcod and matcst=@lv_matcst and matcstcurcod=@lp_matcstcurcod and matcstqty=@lv_matcstqty and matcstuntcod=@lp_matcstuntcod) 
   		BEGIN
				set @lv_actcst=1        
   	 	END

	END

	
	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='01_sp' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='01' or @lp_sysoperation='11'
			BEGIN TRAN

		-- creo registro de stock 
		INSERT INTO STK_MAT (buscod, mattxt, matcodext, matclscod, matuntcod, 
			matusebch, matuseser, matminqtydel, matpckdel, matstkday, matatr, MatGenCod,
			mathiecod, SysDocClsCod, MatSerDocClsCod, MatBchDocClsCod,
			docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_mattxt, @lp_matcodext, @lp_matclscod, @lp_matuntcod, 
			@lp_matusebch, @lp_matuseser,@lv_matminqtydel, @lv_matpckdel, @lp_matstkday, @lp_matatr, @lp_MatGenCod,
			@lp_mathiecod, @lp_sysdocclscod, @lp_MatSerDocClsCod, @lp_MatBchDocClsCod, 
			@lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_matcod=@@IDENTITY

    

		-- agrego registro de costo 
		IF @lv_errcod=0
			BEGIN
				EXECUTE STK_MAT_CST_DEF '01_sp',@lp_username,@lp_buscod,
						@lp_matcod,@lp_matcst,@lp_matcstcurcod,@lp_matcstqty,@lp_matcstuntcod,
						@lp_docsts,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			END
	
		-- actualizo precios anclaje 
		IF @lv_errcod=0
			BEGIN
       
				EXECUTE SLS_PRC_LST_DEF '06_sp',@lp_username,@lp_buscod,
						null,null,null,
						'STK_MAT', @lp_matcod,
						@lp_matcstqty,@lp_matcstuntcod,null,null,null,null,@lp_matcst,null,null,@lp_matcstcurcod,
						@lp_docsts,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			END
		
		if @lp_sysoperation='01' or @lp_sysoperation='11'
			begin
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_matcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			end
		else
			return
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1  

		BEGIN TRAN
		  
		UPDATE STK_MAT 
		SET	mattxt = @lp_mattxt,
			matcodext = @lp_matcodext,
			matclscod = @lp_matclscod,
			matuntcod = @lp_matuntcod,
			matusebch = @lp_matusebch,
			matuseser = @lp_matuseser,
			matminqtydel = @lv_matminqtydel,
			matpckdel = @lv_matpckdel,
			matstkday = @lp_matstkday, 
			matatr = @lp_matatr, 
			mathiecod = @lp_mathiecod, 
			MatGenCod = @lp_MatGenCod,
			MatSerDocClsCod = @lp_MatSerDocClsCod,
      MatBchDocClsCod = @lp_MatBchDocClsCod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and matcod=@lp_matcod
		SET @lv_errcod=@@ERROR

		-- actualizo el costo 
		IF @lv_errcod=0 and @lv_actcst=1  
			BEGIN
				EXECUTE STK_MAT_CST_DEF '02_sp',@lp_username,@lp_buscod,
						@lp_matcod,@lp_matcst,@lp_matcstcurcod,@lp_matcstqty,@lp_matcstuntcod,
						@lp_docsts,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			END
		
		-- actualizo precios anclaje 
		IF @lv_errcod=0 and @lv_actcst=1
			BEGIN
				EXECUTE SLS_PRC_LST_DEF '06_sp',@lp_username,@lp_buscod,
						null,null,null,
						'STK_MAT',@lp_matcod,
						@lp_matcstqty,@lp_matcstuntcod,null,null,null,null,@lp_matcst,null,null,@lp_matcstcurcod,
						@lp_docsts, null,null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_matcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*,
			u1.matunttxt as matunttxt,
			u2.matunttxt as matcstunttxt,
			c.matclstxt,
			c2.curtxt    as matcstcurtxt,
			t.matunttypstk,
			u1.matunttypcod,
			mc.matcst, mc.matcstcurcod, mc.matcstqty, mc.matcstuntcod, mc.matcstlstupd, 
			mh.mathietxt, mh.mathiekey, dc.sysdocclstxt,
			bs.suptxt, mg.mattxt as matgentxt, dcs.SysDocClsTxt as matserdocclstxt, dcb.SysDocClsTxt as matbchdocclstxt
		FROM STK_MAT m
			inner join SYS_DOC_CLS		dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod
			inner join STK_MAT_UNT     u1 on u1.buscod=m.buscod and u1.matuntcod = m.matuntcod
			inner join STK_MAT_UNT_TYP  t on t.matunttypcod = u1.matunttypcod
			left  join STK_MAT_CLS      c on c.buscod=m.buscod and c.matclscod = m.matclscod
			left  join STK_MAT_CST     mc on mc.buscod=m.buscod and mc.matcod=m.matcod
			left  join BUY_SUP         bs on bs.buscod=mc.buscod and bs.supcod=mc.matcstlstsup
			left  join STK_MAT_UNT     u2 on u2.buscod=m.buscod and u2.matuntcod = mc.matcstuntcod
			left  join ADM_CUR         c2 on c2.curcod=mc.matcstcurcod
			left  join STK_MAT_HIE     mh on mh.buscod=m.buscod and mh.mathiecod=m.mathiecod
			left  join STK_MAT		mg on mg.BusCod=m.BusCod and mg.MatCod=m.matgencod
			left join SYS_DOC_CLS		dcs on dcs.buscod=m.buscod and dcs.sysdocclscod=m.MatSerDocClsCod
			left join SYS_DOC_CLS		dcb on dcb.buscod=m.buscod and dcb.sysdocclscod=m.MatBchDocClsCod
		WHERE m.buscod=@lp_buscod
		  and m.matcod = @lp_matcod
		
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    
		
		-- movimientos de stock
		IF exists(select top 1 * from stk_mov_doc_mat where buscod=@lp_buscod and matcod=@lp_matcod)
			BEGIN
				SELECT null, -41 as errcod, 'No se puede borrar el material. Existen movimientos asociados.' as errtxt
				RETURN
			END

		-- stock > 0
		IF exists(select top 1 * from stk_mat_stk where buscod=@lp_buscod and matcod=@lp_matcod and not isnull(matqty,0)=0 )
			BEGIN
				SELECT null, -42 as errcod, 'No se puede borrar el material. Stock disponible.' as errtxt
				RETURN
			END

		-- material comercial asociado
		IF exists(select top 1 * from stk_mat where buscod=@lp_buscod and matgencod=@lp_matcod )
			BEGIN
				SELECT null, -43 as errcod, 'No se puede borrar el material. Materiales comerciales asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		-- PRECIOS de VENTA 
		DELETE
		FROM sls_prc_lst
		WHERE buscod=@lp_buscod
		  and slsprcsrctyp='STK_MAT'
		  and slsprcsrccod=@lp_matcod
		SET @lv_errcod=@@ERROR
		
		-- borro textos 
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'STK_MAT', @lp_matcod, null, null, null, @lv_errcod, @lv_errtxt

		-- NUMEROS de SERIE 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM stk_mat_ser
				WHERE buscod=@lp_buscod
				  and matcod=@lp_matcod
				SET @lv_errcod=@@ERROR
			END
		
		-- LOTES 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM stk_mat_bch
				WHERE buscod=@lp_buscod
				  and matcod=@lp_matcod
				SET @lv_errcod=@@ERROR
			END
			
		-- CONVERSIONES y CODIGOS de BARRA 
		IF @lv_errcod=0
			 BEGIN
				DELETE 
				FROM STK_MAT_IDT 
				WHERE buscod=@lp_buscod
				  and matcod=@lp_matcod
				SET @lv_errcod=@@ERROR
			END
			
		-- NIVELES de STOCK 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAT_STK_LVL 
				WHERE buscod=@lp_buscod
				  and stkobjtyp='STK_MAT'
				  and stkobjcod=@lp_matcod
				SET @lv_errcod=@@ERROR
			END

		-- STOCK 
		-- STOCK - LOTES 
		-- STOCK - HISTORICO 		
		
		-- COSTO 
		IF @lv_errcod=0
			BEGIN
				EXECUTE STK_MAT_CST_DEF '04',@lp_username,@lp_buscod,
						@lp_matcod,@lp_matcst,@lp_matcstcurcod,@lp_matcstqty,@lp_matcstuntcod,
						@lp_docsts,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			END
		
		-- MATERIAL 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAT 
				WHERE buscod=@lp_buscod
				  and matcod=@lp_matcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_matcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, 
			+ ' m.*, '
			+ ' mc.matcst, mc.matcstcurcod, mc.matcstqty, mc.matcstuntcod, mh.mathietxt, mh.mathiekey, '
			+ ' c.matclstxt, c.matclsatr, dc.sysdocclstxt, dbo.getTagValue('+QUOTENAME('matstkrel','''')+',dc.sysdocclsatr) as matstkrel, mg.mattxt as matgentxt ',
			' STK_MAT m '
			+ '  left join STK_MAT_CST mc on mc.buscod=m.buscod and mc.matcod=m.matcod'
			+ '  left join STK_MAT_CLS c  on c.buscod=m.buscod and c.matclscod=m.matclscod '
			+ '  left join STK_MAT_HIE mh on mh.buscod=m.buscod and mh.mathiecod=m.mathiecod '
			+ '  inner join SYS_DOC_CLS dc on dc.buscod=m.buscod and dc.sysdocclscod=m.sysdocclscod'
			+ '  left  join STK_MAT mg on mg.BusCod=m.BusCod and mg.MatCod=m.matgencod ',
			' m.buscod='+QUOTENAME(@lp_buscod,'''')+ ' and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('STK_MAT','''')+'))) '
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and m.docsts='+QUOTENAME(@lp_docsts,'''') end),
			'm.mattxt', default)		
		execute( @lv_sql )
		
	END
	

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃƒÂ³digo de operaciÃƒÂ³n <%s> no es vÃƒÂ¡lido', 16, -1, @lp_sysoperation)
	END
GO
