USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TCH_ACT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_TCH_ACT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_tchactcod		as int			= null,	-- ID registro 
@lp_tchcod			as int			= null,	-- ID socio 
@lp_actcod			as int			= null,	-- ID actividad 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null	-- vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SPT_TCH_ACT (buscod, tchcod, actcod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_tchcod, @lp_actcod,	@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_tchactcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_TCH_ACT 
		SET	actcod = @lp_actcod,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and tchactcod=@lp_tchactcod
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_TCH_ACT
		WHERE buscod = @lp_buscod
		  and tchcod = @lp_tchcod
		  and actcod = @lp_actcod
		  
	END

-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM SPT_TCH_ACT
		WHERE buscod = @lp_buscod
		   and tchactcod = @lp_tchactcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ta.*, t.tchtxt, a.acttxt '
			+ ' FROM SPT_TCH_ACT ta '
			+ ' left join SPT_TCH t on t.buscod=ta.buscod and t.tchcod=ta.tchcod '
			+ ' left join SPT_ACT a on a.buscod=ta.buscod and a.actcod=ta.actcod '
			+ ' WHERE ta.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when  isnull(@lp_docsts,'')='' then '' else ' and ta.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' t.tchtxt, a.acttxt ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
