USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_PRC_SCH_CND_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_PRC_SCH_CND_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_prcschcndcod	as int			= null,	-- id esquema-condicion
@lp_prcschcod		as int			= null,	-- id esquema
@lp_prccndcod		as int			= null,	-- id condicion
@lp_prcschcndrow	as int			= null,	-- # fila
@lp_prcschcndrowstr	as int			= null,	-- # fila inicio
@lp_prcschcndrowend	as int			= null,	-- # fila fin
@lp_prccndforcod	as int			= null,	-- id formula
@lp_prcschcndman	as nvarchar(03)	= null,	-- manual (vacio-no / VAL-valor / TOT-total)
@lp_finacccod		as int			= null,	-- id cuenta
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_prccndttl		as nvarchar(50)	= null,	-- texto condición
@lp_prcschcndstd	as nvarchar(01)	= null	-- indicador de condicion estadística

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if exists(select top 1 * from GRL_PRC_SCH_CND where buscod=@lp_buscod and prcschcod=@lp_prcschcod and not prcschcndcod=@lp_prcschcndcod and prcschcndrow=@lp_prcschcndrow)
			begin
				select null, -1 as errcod, 'Nro de fila duplicado.' as errtxt
				RETURN
			end

		if isnull(@lp_prcschcndrowstr,0)>isnull(@lp_prcschcndrowend,0)
			begin
				select null, -1 as errcod, 'Rango inválido.' as errtxt
				RETURN
			end

	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		-- agrego condicion a esquema
		INSERT INTO GRL_PRC_SCH_CND (buscod, prcschcod, prccndcod, prcschcndrow, prcschcndrowstr, prcschcndrowend, prccndforcod, prcschcndman, prcschcndstd, finacccod, docsts, cteusr, ctedte, PrcCndTtl)
		VALUES (@lp_buscod, @lp_prcschcod, @lp_prccndcod, @lp_prcschcndrow, @lp_prcschcndrowstr, @lp_prcschcndrowend, @lp_prccndforcod, @lp_prcschcndman, @lp_prcschcndstd, @lp_finacccod, @lp_docsts, @lp_username, getdate(), @lp_prccndttl )
		SET @lv_errcod = @@ERROR
		SET @lp_prcschcndcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prcschcndcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_PRC_SCH_CND 
		SET	prcschcndrow = @lp_prcschcndrow,
			prccndcod = @lp_prccndcod,
			prcschcndrowstr = @lp_prcschcndrowstr,
			prcschcndrowend = @lp_prcschcndrowend,
			prccndforcod = @lp_prccndforcod,
			prcschcndman = @lp_prcschcndman,
			prcschcndstd = @lp_prcschcndstd,
			PrcCndTtl = @lp_prccndttl, 
			finacccod = @lp_finacccod, 
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and prcschcndcod = @lp_prcschcndcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prcschcndcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT psc.*
		FROM GRL_PRC_SCH_CND psc
		WHERE psc.buscod = @lp_buscod
		  and psc.prcschcod = @lp_prcschcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM GRL_PRC_SCH_CND
		WHERE buscod = @lp_buscod
		  and prcschcndcod = @lp_prcschcndcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prcschcndcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- GRL_PRC_SCH_CND_DEF '08','mdominguez','INSTITUTOALMAFUERTE'
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' psc.*, pc.prccndtxt, pc.prccndcodext, a.finacctxt, '
			+ ' pf.prccndforcodext, pf.prccndfortxt, pf.prccndforsrctyp, '
			+ ' dbo.getTagValue('+QUOTENAME('src','''')+',pf.prccndforsrc) as prccndforsrcsrc, '
			+ ' dbo.getTagValue('+QUOTENAME('val','''')+',pf.prccndforsrc) as prccndforsrcval, '
			+ ' dbo.getTagValue('+QUOTENAME('qty','''')+',pf.prccndforsrc) as prccndforsrcqty, '
			+ ' dbo.getTagValue('+QUOTENAME('unt','''')+',pf.prccndforsrc) as prccndforsrcunt, '
			+ ' dbo.getTagValue('+QUOTENAME('tot','''')+',pf.prccndforsrc) as prccndforsrctot, '
			+ ' pf.prccndforsrczcu '
			+ ' FROM GRL_PRC_SCH_CND psc '
			+ ' left join GRL_PRC_CND pc on pc.buscod=psc.buscod and pc.prccndcod=psc.prccndcod '
			+ ' left join GRL_PRC_CND_FOR pf on pf.buscod=psc.buscod and pf.prccndforcod=psc.prccndforcod '
			+ ' left join FIN_ACC a on a.buscod=psc.buscod and a.finacccod=psc.finacccod '
			+ ' WHERE psc.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and psc.docsts='+QUOTENAME(@lp_docsts,'''') end) 
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' psc.prcschcod, psc.prcschcndrow ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
