USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_SEC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_SEC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,		/* empresa */
@lp_seccod			as nvarchar(10)	 = null,		/* codigo */
@lp_sectxt			as nvarchar(50)  = null,		/* descripción */
@lp_secsup			as nvarchar(10)	 = null,		/* Sector Superior */	
@lp_docsts 			as nvarchar(02)	 = null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

declare @lv_errcod int
set @lv_errcod = 0



declare @lv_rot as int
declare @lv_sectmp as int
declare @lv_sechie as nvarchar(400)
declare @lv_counter as int
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		set @lv_rot=0
		set @lv_counter=0
		set @lv_sectmp = @lp_secsup
		set @lv_sechie = cast( isnull(@lv_sectmp,'') as nvarchar(10)) + '-'
		if cast( isnull(@lv_sectmp,'0') as nvarchar(10))='0'
			set @lv_sechie = ''
		else
			WHILE @lv_rot=0 and @lv_counter<99
				BEGIN
					/* obtengo el sector superior */
					set @lv_sectmp = (select secsup from hhr_sec where buscod=@lp_buscod and seccod=@lv_sectmp) 
					/* si se recupero un sector */					
					if not cast( isnull(@lv_sectmp,'0') as nvarchar(10))='0'
						begin
							/* valido si ya está asignado a la jerarquia */
							if patindex('%'+cast(isnull(@lv_sectmp,'0') as nvarchar(10))+'%', @lv_sechie)>0
								BEGIN
									SELECT null, -3 as errcod, 'No se puede asignar el sector. Referencia circular.' as errtxt
									RETURN
								END
							set @lv_sechie = cast(@lv_sectmp as nvarchar(10)) + '-' + @lv_sechie
						end
					else
						set @lv_rot=1
					set @lv_counter = @lv_counter + 1
				END
			if @lv_counter>=99
				begin
					select null, -4 as errcod, 'Error al determinar jerarquia de sectores.' as errtxt
					return
				end
	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
			INSERT INTO HHR_SEC
				(buscod, sectxt, secsup, sechie,
				docsts, cteusr, ctedte) 
			VALUES 
				(@lp_buscod, @lp_sectxt, @lp_secsup, @lv_sechie,
				@lp_docsts, @lp_username, getdate() )						
		SET @lv_errcod=@@ERROR
		SET @lp_seccod=@@IDENTITY
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_seccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
			UPDATE HHR_SEC 
			SET	sectxt	  = @lp_sectxt, 
				secsup	  = @lp_secsup,
				sechie	  = @lv_sechie,
				docsts	  = @lp_docsts, 			
				updusr	  = @lp_username,
				upddte	  = getdate()
			WHERE  buscod = @lp_buscod
			  and  seccod = @lp_seccod	
		
			SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_seccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*, u.sectxt as secsuptxt
		FROM HHR_SEC s
		LEFT JOIN HHR_SEC u on u.buscod=s.buscod and u.seccod=s.secsup
		WHERE s.buscod = @lp_buscod
		  and s.seccod = @lp_seccod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF not (select count(*) from hhr_sec where buscod=@lp_buscod and secsup=@lp_seccod)=0
		
			SELECT null, -1 as errcod, 'No se puede borrar el sector <'+@lp_seccod+'>. Existen sectores dependientes.' as errtxt
		
		ELSE
			BEGIN
				BEGIN TRAN
				
				DELETE 
				FROM HHR_SEC
				WHERE buscod = @lp_buscod
				  and seccod = @lp_seccod

				SET @lv_errcod=@@ERROR
					
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_seccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
			END

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM HHR_SEC
		WHERE buscod = @lp_buscod
		  and docsts = 'A'

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R    según    T E X T O												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
		
		SELECT TOP 20 s.*
		FROM hhr_sec s
		WHERE s.buscod=@lp_buscod
		  and s.docsts='A'
		  and s.sectxt like '%'+@lp_sectxt+'%'
		
	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
