USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_ZON_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GRL_DAT_ZON_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_adrzoncod		as int			= null,	/* id */
@lp_adrzoncodext	as nvarchar(20)	= null,	/* codigo */
@lp_adrzontxt		as nvarchar(50)	= null,	/* descripcion */
@lp_objtyp			as nvarchar(20) = null,	/* id objeto */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)=null	/* configuraciÃ³n ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/* ------------------------------------------------------------------------ */


IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		/* valido codigo externo duplicado */
		if not isnull(@lp_adrzoncodext,'')=''
			begin
				IF exists(select top 1 * from GRL_DAT_ZON where buscod=@lp_buscod and objtyp=@lp_objtyp and not adrzoncod=@lp_adrzoncod and adrzoncodext=@lp_adrzoncodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO GRL_DAT_ZON (buscod, adrzoncodext, adrzontxt, objtyp, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_adrzoncodext, @lp_adrzontxt, @lp_objtyp, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_adrzoncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_adrzoncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE GRL_DAT_ZON 
		SET	adrzoncodext=@lp_adrzoncodext,
			adrzontxt = @lp_adrzontxt,
			objtyp = @lp_objtyp,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and adrzoncod = @lp_adrzoncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_adrzoncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM GRL_DAT_ZON z
		WHERE z.buscod = @lp_buscod
		  and z.adrzoncod = @lp_adrzoncod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM GRL_DAT_ZON 
		WHERE buscod=@lp_buscod
		  and adrzoncod = @lp_adrzoncod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_adrzoncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt	
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM GRL_DAT_ZON z '
			+ ' WHERE z.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and z.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


/* ------------------------------------------------------------------------ */
/*   2 8    -    L I S T A R	A G R U P A D O								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1
		
		-- grl_dat_zon_def '28','temasis','temasis_hlt'
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' z.objtyp '
			+ ' FROM GRL_DAT_ZON z '
			+ ' WHERE z.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and z.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' GROUP BY z.objtyp '
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'z.objtyp' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END




GO
