USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_PLN_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_PLN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20),
@lp_eduplncod 		as int			= null,	-- ID planificaciÃ³n
@lp_educurcod		as int			= null, -- id plan
@lp_educarcod		as int			= null, -- id carrera
@lp_educoucod		as int			= null, -- id curso
@lp_edusubcod		as int			= null, -- id materia
@lp_eduplncmt		as nvarchar(max)=null, -- comentarios
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- configuraciÃ³n de vista

@lp_eduplndtestr	as nvarchar(14)	= null,	-- fecha de inicio
@lp_eduplndteend	as nvarchar(14)	= null,	-- fecha de fin
@lp_sysdocclscod	as int			= null	-- clase documento

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

-- para vistas
declare @lv_sql as nvarchar(max)
declare @lv_eduplndtestr as smalldatetime = dbo.ConvertDate( @lp_eduplndtestr )
declare @lv_eduplndteend as smalldatetime = dbo.ConvertDate( @lp_eduplndteend )



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PLN'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		-- agrego cabecera
		INSERT INTO EDU_PLN (buscod, educurcod, educarcod, educoucod, edusubcod, eduplncmt, docsts, cteusr, ctedte, eduplndtestr, eduplndteend, sysdocclscod) 
		SELECT @lp_buscod, @lp_educurcod, @lp_educarcod, @lp_educoucod, @lp_edusubcod, @lp_eduplncmt, @lp_docsts, @lp_username, getdate(), @lv_eduplndtestr, @lv_eduplndteend, @lp_sysdocclscod
		SET @lv_errcod = @@ERROR
		SET @lp_eduplncod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eduplncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- actualizo cabecera
		UPDATE edu_pln
		SET educurcod=@lp_educurcod,
			educarcod=@lp_educarcod,
			educoucod=@lp_educoucod,
			edusubcod=@lp_edusubcod,
			eduplncmt=@lp_eduplncmt,
			eduplndtestr=@lv_eduplndtestr,
			eduplndteend=@lv_eduplndteend,
			docsts=@lp_docsts,
			updusr=@lp_username,
			upddte=getdate()
		WHERE buscod=@lp_buscod
		  and eduplncod=@lp_eduplncod
		SET @lv_errcod=@@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_eduplncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT p.*, eu.educurtxt, ea.educartxt, eo.educoutxt, es.edusubtxt,
			convert(varchar,p.eduplndtestr,103) as eduplndtestrcnv,
			convert(varchar,p.eduplndteend,103) as eduplndteendcnv,
			cd.SysDocClsTxt
		FROM edu_pln p 
		left join edu_cur eu on eu.buscod=p.buscod and eu.educurcod=p.educurcod 
		left join edu_car ea on ea.buscod=p.buscod and ea.educarcod=p.educarcod
		left join edu_cou eo on eo.buscod=p.buscod and eo.educoucod=p.educoucod
		left join edu_sub es on es.buscod=p.buscod and es.edusubcod=p.edusubcod
		inner join SYS_DOC_CLS cd on cd.BusCod=p.BusCod and cd.objtyp='EDU_PLN' and cd.SysDocClsCod=p.SysDocClsCod
		WHERE p.buscod=@lp_buscod
		  and p.eduplncod=@lp_eduplncod

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		if exists(select top 1 * from EDU_STU_ASS where buscod=@lp_buscod and eduplncod=@lp_eduplncod)
			begin
				select null, -41 as errcod, 'No se puede borrar. Existen registros de asistencias asociado.' as errtxt
				RETURN
			end

		if exists(select top 1 * from EDU_STU_EVL where buscod=@lp_buscod and eduplncod=@lp_eduplncod)
			begin
				select null, -42 as errcod, 'No se puede borrar. Existen registros de evaluaciones asociado.' as errtxt
				RETURN
			end

		BEGIN TRAN
		
		-- anulo pre-inscripciones
		UPDATE EDU_PLN_PRE
		SET eduplninscod=0
		WHERE buscod=@lp_buscod
		  and eduplninscod in (select eduplninscod from edu_pln_ins where buscod=@lp_buscod and eduplncod=@lp_eduplncod)

		-- borro inscripciones
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM edu_pln_ins
				WHERE buscod=@lp_buscod
					and eduplncod=@lp_eduplncod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			BEGIN
				-- borro las fechas de planificaciÃ³n que no estÃ¡n liquidadas
				DELETE
				FROM edu_pln_dte
				WHERE buscod=@lp_buscod
					and eduplncod=@lp_eduplncod
				SET @lv_errcod=@@ERROR
			END
  
			-- borro planificaciÃ³n si no tiene fechas
			IF @lv_errcod=0
				BEGIN
					DELETE
					FROM edu_pln
					WHERE buscod=@lp_buscod
						and eduplncod=@lp_eduplncod
					SET @lv_errcod=@@ERROR
				END
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eduplncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
    
    declare @lv_prmstucod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 's.stucod')
		declare @lv_prmtchcod as nvarchar(max) = dbo.GetUserRestrictions(@lp_buscod, @lp_username, 't.tchcod') -- p.patcod
    
    set @lv_sql = dbo.getSqlSentence( @lp_vewcfg,  
    	' p.*, eu.educurtxt, ea.educartxt, eo.educoutxt, es.edusubtxt, '
			+ ' dc.sysdocclstxt ', 
      'edu_pln p'
      + ' left join edu_cur eu on eu.buscod=p.buscod and eu.educurcod=p.educurcod '
			+ ' left join edu_car ea on ea.buscod=p.buscod and ea.educarcod=p.educarcod '
			+ ' left join edu_cou eo on eo.buscod=p.buscod and eo.educoucod=p.educoucod '
			+ ' left join edu_sub es on es.buscod=p.buscod and es.edusubcod=p.edusubcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod', 
    	'p.buscod='+QUOTENAME(@lp_buscod,'''')
      + @lv_prmstucod + @lv_prmtchcod,                        
      'eo.educoutxt', default)
			execute( @lv_sql )
			
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
