USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_UNT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAT_UNT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_matuntcod		as nvarchar(5)	= null,	/* codigo */
@lp_matunttxt		as nvarchar(40)	= null,	/* descripcion */
@lp_matunttypcod	as int			= null,	/* tipo */
@lp_matuntqty		as bigint		= null,	/* cantidad */
@lp_matuntbse	 	as nvarchar(5)	= null,	/* unidad base */
@lp_docsts 			as nvarchar(1)	= null,	/* estado */

@lp_vewcfg			as nvarchar(400)= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_matuntqty as decimal(13,3)
set @lv_matuntqty = dbo.ConvertNumber( @lp_matuntqty , 3 )



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	Unidad de medida base inexistente.									*/
/*	-3	Unidad de medida con distinto tipo que unidad base.					*/
/*	-4	No se puede borrar unidad de medida. Existen materiales asociados.	*/
/* ------------------------------------------------------------------------ */


/* ------------------------------------------------------------------------ */
/*	V A L I D A C I O N E S													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' and @lp_sysoperation='02'
	BEGIN
	
		/* codigo duplicado */
		IF exists(select top 1 * from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matuntcod)
			BEGIN
				SELECT null, -1 as errcod, 'Codigo existente.' as errtxt
				RETURN
			END

		/* unidad de medida base */
		IF not (@lp_matuntcod=@lp_matuntbse)
			BEGIN
				/* unidad base inválida */
				IF exists(select top 1 * from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matuntbse)
					BEGIN
						SELECT null, -2 as errcod, 'Unidad de medida base inexistente.' as errtxt
						RETURN
					END
				/* difieren los tipos de unidades */
				IF not @lp_matunttypcod=(select top 1 matunttypcod from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matuntbse)
					BEGIN
						SELECT null, -3 as errcod, 'Unidad de medida con distinto tipo que unidad base.' as errtxt
						RETURN
					END
			END
	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
						
		BEGIN TRAN

		INSERT INTO STK_MAT_UNT 
			(buscod, matuntcod, matunttxt, matunttypcod, matuntqty, matuntbse, 
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_matuntcod, @lp_matunttxt, @lp_matunttypcod, @lv_matuntqty, @lp_matuntbse, 
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matuntcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE STK_MAT_UNT 
		SET	matunttxt = @lp_matunttxt,
			matunttypcod = @lp_matunttypcod,
			matuntqty = @lv_matuntqty,
			matuntbse = @lp_matuntbse,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE matuntcod = @lp_matuntcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matuntcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM STK_MAT_UNT
		WHERE buscod=@lp_buscod 
		  and matuntcod=@lp_matuntcod
				
	END



/* ------------------------------------------------------------------------ */
/*   0 7    -    V E R		solo    T I P O    S T O C K					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '07'
	BEGIN
		SET @lv_validop = 1    

		SELECT u.* 
		FROM STK_MAT_UNT u 
			inner join STK_MAT_UNT_TYP t ON t.matunttypcod=u.matunttypcod
		WHERE buscod=@lp_buscod 
		  and u.matuntcod=@lp_matuntcod
		  and t.matunttypstk=1
		  and u.docsts='A'
				
	END
	
	

/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
				
		IF exists(select top 1 * from stk_mat where buscod=@lp_buscod and matuntcod=@lp_matuntcod)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar unidad de medida. Existen materiales asociados.' as errtxt
				RETURN
			END

		BEGIN TRAN
					
		DELETE 
		FROM STK_MAT_UNT 
		WHERE buscod=@lp_buscod 
		  and matuntcod=@lp_matuntcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matuntcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END

	

/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT '	+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' u.*, ut.matunttyptxt '
			+ ' FROM STK_MAT_UNT u '
			+ ' inner join STK_MAT_UNT_TYP ut on ut.matunttypcod=u.matunttypcod '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and u.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END

	
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
