USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_ORG_CHT_WRK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HHR_ORG_CHT_WRK_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrorgchtwrkcod		as int	= null OUTPUT, -- id
@lp_hhrorgchtcod	 as int			= null,	-- id organigrama
@lp_wrkstecod	as int	= null,	-- id puesto de trabajo
@lp_wrkstehghcod	as int	= null,	-- id nodo superior
@lp_hhrorgwrkatr	as nvarchar(max)= null,	-- atributos
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_errtyp	as nvarchar(1) = null OUTPUT,
@lp_errcod	as int = null OUTPUT,
@lp_errtxt	as nvarchar(400) = null OUTPUT,
@lp_hhrorgchtwrkdat	as nvarchar(max) = null,
@lp_hhrorgchtwrk as nvarchar(max) = null	-- entegramas para carga masiva

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_sql as nvarchar(max)
DECLARE @lv_flt as nvarchar(max)
DECLARE @lv_ord as nvarchar(max)

DECLARE @lv_dltlnk as nvarchar(1)

declare @lv_row as nvarchar(max)
declare @lv_asg as nvarchar(max), @lv_asgrow as nvarchar(max)
declare @lv_hhrorgwrkcap as nvarchar(max)
DECLARE @lv_sysoperation as nvarchar(5)
declare @lv_wrkstecod as int, @lv_hhrorgchtwrkcod as int, @lv_wrkstehghcod as int
declare @lv_wrkplccod as int, @lv_hhrtmerngcod as int, @lv_hhrempcod as int, @lv_hhremptmecod as int
declare @lv_i as int = 0


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '01'
			BEGIN TRAN
		
		INSERT INTO HHR_ORG_CHT_WRK (buscod, hhrorgchtcod, wrkstecod, wrkstehghcod, hhrorgwrkatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrorgchtcod, @lp_wrkstecod, @lp_wrkstehghcod, @lp_hhrorgwrkatr, @lp_docsts, getdate(), @lp_username)
		SET @lp_errcod=@@ERROR
		SET @lp_hhrorgchtwrkcod=@@IDENTITY
    
    -- grabo detalles
    EXECUTE HHR_ORG_CHT_WRK_DEF @lp_sysoperation = '15', @lp_username = @lp_username, @lp_buscod = @lp_buscod,
    	@lp_hhrorgchtwrkcod = @lp_hhrorgchtwrkcod, @lp_wrkstecod = @lp_wrkstecod, @lp_errtyp = @lp_errtyp OUTPUT,
      @lp_errcod = @lp_errcod OUTPUT, @lp_errtxt = @lp_errtxt OUTPUT, @lp_hhrorgchtwrkdat = @lp_hhrorgchtwrkdat
    
    IF @lp_sysoperation = '01'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
		
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '02_sp'
	BEGIN
		SET @lv_validop = 1
    
    IF @lp_sysoperation = '02'
        BEGIN TRAN      	
                  
		UPDATE HHR_ORG_CHT_WRK 
		SET	wrkstecod = @lp_wrkstecod,
			wrkstehghcod = @lp_wrkstehghcod,
      hhrorgwrkatr = @lp_hhrorgwrkatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hhrorgchtwrkcod = @lp_hhrorgchtwrkcod
		SET @lp_errcod=@@ERROR
    
    -- grabo detalles
    EXECUTE HHR_ORG_CHT_WRK_DEF @lp_sysoperation = '15', @lp_username = @lp_username, @lp_buscod = @lp_buscod,
    	@lp_hhrorgchtwrkcod = @lp_hhrorgchtwrkcod, @lp_wrkstecod = @lp_wrkstecod, @lp_errtyp = @lp_errtyp OUTPUT,
      @lp_errcod = @lp_errcod OUTPUT, @lp_errtxt = @lp_errtxt OUTPUT, @lp_hhrorgchtwrkdat = @lp_hhrorgchtwrkdat
      
    IF @lp_sysoperation = '02'
    	BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
      
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
  
  	SELECT w.hhrorgchtwrkcod, w.hhrorgchtcod, w.wrkstecod, s.wrkstetxt, w.wrkstehghcod,
      isnull(cemp.wekemppfttotcap, 0) as wekemppfttotcap, isnull(cemp.wekempnonpfttotcap, 0) as wekempnonpfttotcap, 
      isnull(chrs.wekhrspfttotcap, 0) as wekhrspfttotcap, isnull(wekhrsnonpfttotcap, 0) as wekhrsnonpfttotcap,
      SUM((case when et.wrkstepft=1 then isnull(r.hhrtmerngwekhrs, 0) else 0 end)) as wekhrspfttot, SUM((case when et.wrkstepft=1 then 1 else 0 end)) as emptot
    FROM HHR_ORG_CHT_WRK w
			left join (SELECT hhrorgchtwrkcod, SUM(hhrorgchtwrkpft) AS wekhrspfttotcap, SUM(hhrorgchtwrknonpft) AS wekhrsnonpfttotcap
                 FROM HHR_ORG_CHT_WRK_CAP
                 WHERE hhrorgchtwrkcaptyp=0 and buscod = @lp_buscod
                 GROUP BY hhrorgchtwrkcod
    	) chrs ON chrs.hhrorgchtwrkcod = w.hhrorgchtwrkcod
   	 	left join (SELECT hhrorgchtwrkcod, SUM(hhrorgchtwrkpft) AS wekemppfttotcap, SUM(hhrorgchtwrknonpft) AS wekempnonpfttotcap
        				 FROM HHR_ORG_CHT_WRK_CAP
                 WHERE hhrorgchtwrkcaptyp=1 and buscod = @lp_buscod
         				GROUP BY hhrorgchtwrkcod
     	) cemp ON cemp.hhrorgchtwrkcod = w.hhrorgchtwrkcod
      left join HHR_ORG_CHT_WRK_EMP e on e.buscod = w.buscod and e.hhrorgchtwrkcod = w.hhrorgchtwrkcod
      left join HHR_EMP_TME et on et.buscod = w.buscod and et.hhremptmecod = e.hhremptmecod
      left join HHR_TME_RNG r on r.buscod = w.buscod and r.hhrtmerngcod = et.hhrtmerngcod
      inner join HHR_WRK_STE s on s.buscod=w.buscod and s.wrkstecod=w.wrkstecod
    WHERE w.buscod = @lp_buscod
		  and w.hhrorgchtwrkcod=@lp_hhrorgchtwrkcod
    GROUP BY w.hhrorgchtwrkcod, w.hhrorgchtcod, w.wrkstecod, s.wrkstetxt, w.wrkstehghcod,
    	wekemppfttotcap, wekempnonpfttotcap, wekhrspfttotcap, wekhrsnonpfttotcap

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '04_sp'
	BEGIN
		SET @lv_validop = 1    
		
    IF @lp_sysoperation = '04'
			BEGIN TRAN

		EXECUTE HHR_ORG_CHT_WRK_CAP_DEF @lp_sysoperation 		= '14_sp', 
                                    @lp_username 				= @lp_username, 
                                    @lp_buscod 					= @lp_buscod, 
                                    @lp_hhrorgchtwrkcod = @lp_hhrorgchtwrkcod, 
                                    @lp_errtyp 					= @lp_errtyp OUTPUT, 
                                    @lp_errcod 					= @lp_errcod OUTPUT, 
                                    @lp_errtxt 					= @lp_errtxt OUTPUT

		IF @lp_errcod=0
			EXECUTE HHR_ORG_CHT_WRK_EMP_DEF @lp_sysoperation 		= '14_sp', 
                                      @lp_username 				= @lp_username, 
                                      @lp_buscod 					= @lp_buscod, 
                                      @lp_hhrorgchtwrkcod = @lp_hhrorgchtwrkcod, 
                                      @lp_errtyp 					= @lp_errtyp OUTPUT, 
                                      @lp_errcod 					= @lp_errcod OUTPUT, 
                                      @lp_errtxt 					= @lp_errtxt OUTPUT

		IF @lp_errcod=0
			BEGIN
        DELETE
        FROM HHR_ORG_CHT_WRK
        WHERE buscod = @lp_buscod
          and hhrorgchtwrkcod = @lp_hhrorgchtwrkcod
        SET @lp_errcod=@@ERROR
      END
		
    IF @lp_sysoperation = '04'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
      
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, 
			+ ' w.hhrorgchtwrkcod, w.hhrorgchtcod, w.wrkstecod, s.wrkstetxt, w.wrkstehghcod, '
      + ' isnull(cemp.wekemppfttotcap, 0) as wekemppfttotcap, isnull(cemp.wekempnonpfttotcap, 0) as wekempnonpfttotcap, '
      + ' isnull(chrs.wekhrspfttotcap, 0) as wekhrspfttotcap, isnull(wekhrsnonpfttotcap, 0) as wekhrsnonpfttotcap ',
			' HHR_ORG_CHT_WRK w '
			+ ' left join (SELECT hhrorgchtwrkcod, SUM(hhrorgchtwrkpft) AS wekhrspfttotcap, SUM(hhrorgchtwrknonpft) AS wekhrsnonpfttotcap '
			+ ' FROM HHR_ORG_CHT_WRK_CAP '
			+ ' WHERE hhrorgchtwrkcaptyp=0 '
			+ ' GROUP BY hhrorgchtwrkcod '
    	+ ' ) chrs ON chrs.hhrorgchtwrkcod = w.hhrorgchtwrkcod '	
			+ '  left join (SELECT hhrorgchtwrkcod, SUM(hhrorgchtwrkpft) AS wekemppfttotcap, SUM(hhrorgchtwrknonpft) AS wekempnonpfttotcap '
      + ' FROM HHR_ORG_CHT_WRK_CAP '
			+ ' WHERE hhrorgchtwrkcaptyp=1 '
      + ' GROUP BY hhrorgchtwrkcod '
     	+ ' ) cemp ON cemp.hhrorgchtwrkcod = w.hhrorgchtwrkcod '
			+ '  left join HHR_ORG_CHT_WRK_EMP e on e.buscod = w.buscod and e.hhrorgchtwrkcod = w.hhrorgchtwrkcod '
			+ '  left join HHR_EMP_TME et on et.buscod = w.buscod and et.hhremptmecod = e.hhremptmecod '
			+ '  left join HHR_TME_RNG r on r.buscod = w.buscod and r.hhrtmerngcod = et.hhrtmerngcod '
      + '  inner join HHR_WRK_STE s on s.buscod=w.buscod and s.wrkstecod=w.wrkstecod ',
			' w.buscod='+QUOTENAME(@lp_buscod,''''),
			'w.wrkstehghcod', default)		
		execute ( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 0    -    L I S T A R		C O N 	A N C E S T R O S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '10'
	BEGIN 
		SET @lv_validop = 1   
    
    -- obtener id de todos los entegramas que cumplen condiciÃ³n
    SET @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, 
			+ ' w.hhrorgchtwrkcod, w.wrkstehghcod, level = 0 ',
			' HHR_ORG_CHT_WRK w '
      + '  inner join HHR_WRK_STE s on s.buscod=w.buscod and s.wrkstecod=w.wrkstecod '
			+ '  left join HHR_ORG_CHT_WRK_CAP c on c.buscod = w.buscod and c.hhrorgchtwrkcod = w.hhrorgchtwrkcod '
     	+ '  left join HHR_ORG_CHT_WRK_EMP we on we.buscod = w.buscod and we.hhrorgchtwrkcod = w.hhrorgchtwrkcod  '
			+ '  left join HHR_EMP_TME et on et.buscod = w.buscod and et.hhremptmecod = we.hhremptmecod '
      + '  left join HHR_WRK_PLC p on p.buscod=w.buscod and (p.wrkplccod=et.wrkplccod or p.wrkplccod = c.wrkplccod ) ',
			' w.buscod='+QUOTENAME(@lp_buscod,''''),
			'', default)		
    
    -- obtener ancestros
    SET @lv_sql = ';with wrk(hhrorgchtwrkcod, wrkstehghcod, level) as ( '
      + @lv_sql
      + ' union all '
      + ' select w.hhrorgchtwrkcod, w.wrkstehghcod, wrk.level+1 '
      + ' from wrk '
      +	'		inner join HHR_ORG_CHT_WRK w on w.hhrorgchtwrkcod = wrk.wrkstehghcod '
      + ' WHERE w.buscod =' +QUOTENAME(@lp_buscod,'''')
    +' ) '
    
    -- eliminar posibles duplicados
    SET @lv_sql += ' select max(level) as level, hhrorgchtwrkcod, wrkstehghcod into #wrk from wrk group by hhrorgchtwrkcod, wrkstehghcod '
      
    IF CHARINDEX('p.wrkplc', dbo.gettagvalue('vewflt', @lp_vewcfg)) = 0
      SET @lv_sql += ' select wrk2.level, rownumber = 0, wrk2.hhrorgchtwrkcod, w.wrkstehghcod, w.wrkstecod, s.wrkstetxt, '
        + ' 	isnull(cemp.wekemppfttotcap, 0) as wekemppfttotcap, isnull(cemp.wekempnonpfttotcap, 0) as wekempnonpfttotcap, '
        + ' 	isnull(chrs.wekhrspfttotcap, 0) as wekhrspfttotcap, isnull(wekhrsnonpfttotcap, 0) as wekhrsnonpfttotcap, '
        + ' 	SUM((case when et.wrkstepft=1 then isnull(r.hhrtmerngwekhrs, 0) else 0 end)) as wekhrspfttot, '
        + ' 	SUM((case when et.wrkstepft=0 then isnull(r.hhrtmerngwekhrs, 0) else 0 end)) as wekhrsnonpfttot, '
        + '		SUM((case when et.wrkstepft=1 then 1 else 0 end)) as emptotpft, 0 as emptotpftsub, '
        + '		SUM((case when et.wrkstepft=0 then 1 else 0 end)) as emptotnonpft, 0 as emptotnonpftsub '
        + ' into #tmp_wrk '
        + ' from #wrk wrk2 '
        +	'		inner join HHR_ORG_CHT_WRK w on w.hhrorgchtwrkcod = wrk2.hhrorgchtwrkcod '
        + '  	inner join HHR_WRK_STE s on s.buscod=w.buscod and s.wrkstecod=w.wrkstecod '
        + ' left join (SELECT hhrorgchtwrkcod, SUM(hhrorgchtwrkpft) AS wekhrspfttotcap, SUM(hhrorgchtwrknonpft) AS wekhrsnonpfttotcap '
        + ' FROM HHR_ORG_CHT_WRK_CAP '
        + ' WHERE hhrorgchtwrkcaptyp=0 '
        + ' GROUP BY hhrorgchtwrkcod '
        + ' ) chrs ON chrs.hhrorgchtwrkcod = w.hhrorgchtwrkcod '	
        + '  left join (SELECT hhrorgchtwrkcod, SUM(hhrorgchtwrkpft) AS wekemppfttotcap, SUM(hhrorgchtwrknonpft) AS wekempnonpfttotcap '
        + ' FROM HHR_ORG_CHT_WRK_CAP '
        + ' WHERE hhrorgchtwrkcaptyp=1 '
        + ' GROUP BY hhrorgchtwrkcod '
        + ' ) cemp ON cemp.hhrorgchtwrkcod = w.hhrorgchtwrkcod '
        +	'		left join HHR_ORG_CHT_WRK_EMP e on e.buscod = w.buscod and e.hhrorgchtwrkcod = wrk2.hhrorgchtwrkcod '
        +	'		left join HHR_EMP_TME et on et.buscod = w.buscod and et.hhremptmecod = e.hhremptmecod '
        +	'		left join HHR_TME_RNG r on r.buscod = w.buscod and r.hhrtmerngcod = et.hhrtmerngcod '
        + ' group by wrk2.level, wrk2.hhrorgchtwrkcod, w.wrkstehghcod, w.wrkstecod, s.wrkstetxt, wekemppfttotcap, wekempnonpfttotcap, wekhrspfttotcap, wekhrsnonpfttotcap '
        
    -- si filtra por lugar, agarro solo las capacidades de esos lugares
    ELSE
    	BEGIN
      
      DECLARE @lv_plcflt as nvarchar(150) = dbo.gettagvalue('vewflt', @lp_vewcfg)
      SET @lv_plcflt = SUBSTRING(@lv_plcflt, CHARINDEX('p.wrkplc',  @lv_plcflt), CHARINDEX(''')', @lv_plcflt, CHARINDEX('p.wrkplc', @lv_plcflt))-5 )
      
      SET @lv_sql = ' declare @lv_wrkplccod as int '
      + ' select top 1 @lv_wrkplccod=wrkplccod from hhr_wrk_plc p where '+@lv_plcflt+' and buscod='+QUOTENAME(@lp_buscod,'''') +' '
      + @lv_sql
      
      SET @lv_plcflt = 'and (p.wrkplccod is null or p.wrkplccod=@lv_wrkplccod)'
      
      SET @lp_vewcfg = '<view>'
        + '<vewflt>' + @lv_plcflt + '</vewflt>'
        + '</view>'
      
      SET @lv_sql += 
      	+ dbo.GetSQLSentence(@lp_vewcfg,
      	+ ' level = 0, rownumber = 0, w.hhrorgchtwrkcod, w.wrkstehghcod, w.wrkstecod, s.wrkstetxt, '
       	+ ' chrs.hhrorgchtwrkpft as wekhrspfttotcap, chrs.hhrorgchtwrknonpft as wekhrsnonpfttotcap, '
        + ' cemp.hhrorgchtwrkpft as wekemppfttotcap, cemp.hhrorgchtwrknonpft as wekempnonpfttotcap, isnull(wekhrspfttot, 0) as wekhrspfttot, isnull(wekhrsnonpfttot, 0) as wekhrsnonpfttot, '
       	+ ' isnull(emptotpft,0) as emptotpft, 0 as emptotpftsub, '
       	+ ' isnull(emptotnonpft,0) as emptotnonpft, 0 as emptotnonpftsub '
       	+ ' into #tmp_wrk ',
        ' HHR_ORG_CHT_WRK w '
        + '  	inner join HHR_WRK_STE s on s.buscod=w.buscod and s.wrkstecod=w.wrkstecod '
        + '		left join HHR_WRK_PLC p on p.buscod=w.buscod '
        + ' 	left join hhr_org_cht_wrk_cap chrs on chrs.buscod=w.buscod and chrs.hhrorgchtwrkcod=w.hhrorgchtwrkcod and chrs.hhrorgchtwrkcaptyp=0 and chrs.wrkplccod=p.wrkplccod '
        + '		left join hhr_org_cht_wrk_cap cemp on cemp.buscod=w.buscod and cemp.hhrorgchtwrkcod=w.hhrorgchtwrkcod and cemp.hhrorgchtwrkcaptyp=1 and cemp.wrkplccod=p.wrkplccod'
        + '		left join (select w2.buscod, w2.hhrorgchtwrkcod, et.wrkplccod, '
                         	+ ' SUM((case when et.wrkstepft=1 then isnull(r.hhrtmerngwekhrs, 0) else 0 end)) as wekhrspfttot, '
                         	+ ' SUM((case when et.wrkstepft=0 then isnull(r.hhrtmerngwekhrs, 0) else 0 end)) as wekhrsnonpfttot, '
                          + ' SUM((case when et.wrkstepft=1 then 1 else 0 end)) as emptotpft, SUM((case when et.wrkstepft=0 then 1 else 0 end)) as emptotnonpft '
      	+ '			from hhr_org_cht_wrk w2 '
        + '			left join HHR_ORG_CHT_WRK_EMP e on e.buscod = w2.buscod and e.hhrorgchtwrkcod = w2.hhrorgchtwrkcod  '
        + '			left join HHR_EMP_TME et on et.buscod = w2.buscod and et.hhremptmecod = e.hhremptmecod '
        + '			left join HHR_TME_RNG r on r.buscod = w2.buscod and r.hhrtmerngcod = et.hhrtmerngcod '
        + '			group by w2.buscod, w2.hhrorgchtwrkcod, et.wrkplccod '
        + '		) tme on tme.buscod=w.buscod and tme.hhrorgchtwrkcod=w.hhrorgchtwrkcod and tme.wrkplccod=p.wrkplccod ',
        ' w.buscod='+QUOTENAME(@lp_buscod,'''')+' and w.hhrorgchtwrkcod in (select hhrorgchtwrkcod from #wrk)',
        'w.wrkstehghcod', default)	
        
        + ' UPDATE t '
        + ' SET level = (select level from #wrk w where w.hhrorgchtwrkcod=t.hhrorgchtwrkcod) '
        + '	FROM #tmp_wrk t '
        
        END
    
    -- enumera las filas
    SET @lv_sql +=
    	+ ' UPDATE t '
      + ' SET rownumber = t2.rownumber '
      + '	FROM #tmp_wrk t '
      + ' 	inner join (select hhrorgchtwrkcod, ROW_NUMBER() OVER (ORDER BY level desc, wrkstetxt) as rownumber from #tmp_wrk) t2 on t2.hhrorgchtwrkcod = t.hhrorgchtwrkcod '
      
    -- actualiza cantidad de empleados que tiene cada puesto por debajo
    SET @lv_sql += ' declare @lv_rowcount as int = (select count(hhrorgchtwrkcod) from #tmp_wrk) '
   	+ ' while @lv_rowcount > 0'
		+ ' BEGIN '
    
  	-- buscar si algÃºn entegrama depende del entegrama actual 
    + '		if exists(select hhrorgchtwrkcod from #tmp_wrk where wrkstehghcod=(select hhrorgchtwrkcod from #tmp_wrk where rownumber=@lv_rowcount)) '
    + ' 	BEGIN '
    + ' 		update t1 '
    + ' 		set emptotpftsub = (select sum(t2.emptotpft + t2.emptotpftsub) from #tmp_wrk t2 where t2.wrkstehghcod = t1.hhrorgchtwrkcod group by t2.wrkstehghcod), '
    + ' 			 emptotnonpftsub = (select sum(t2.emptotnonpft + t2.emptotnonpftsub) from #tmp_wrk t2 where t2.wrkstehghcod = t1.hhrorgchtwrkcod group by t2.wrkstehghcod) '
    + ' 		from #tmp_wrk t1 '
    + '			where t1.rownumber = @lv_rowcount '
		+ ' 	END ' 
      
    + '		SET @lv_rowcount -= 1 '
    + ' END '
    
    SET @lv_sql += ' select * from #tmp_wrk order by level desc '
    
    execute ( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 1    -    C A R G A 		M A S I V A
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '11'
  BEGIN
  	SET @lv_validop = 1    
  	BEGIN TRAN
    
    SET @lp_errcod=0
    
    WHILE @lp_hhrorgchtwrk!='' and @lp_errcod=0 and @lv_i<500
      BEGIN
        SET @lv_row = dbo.gettagvalue('row', @lp_hhrorgchtwrk)
        SET @lv_wrkstecod = CAST(dbo.gettagvalue('wrkstecod', @lv_row) as INT)
        SET @lv_hhrorgchtwrkcod = CAST(dbo.gettagvalue('hhrorgchtwrkcod', @lv_row) as INT)
        SET @lv_wrkstehghcod = CAST(dbo.gettagvalue('wrkstehghcod', @lv_row) as INT)
        SET @lv_sysoperation = (case 
                                when @lv_hhrorgchtwrkcod='' then '01' 
                                when dbo.gettagvalue('deleted', @lv_row)='X' then '04' 
                                else '02' 
                                end)+'_sp'
        SET @lv_asg = dbo.gettagvalue('asg', @lv_row)
        SET @lv_asg = (case when @lv_asg='' then '' else '<asg>' + @lv_asg + '</asg>' end)

        IF @lv_sysoperation = '02_sp'                
          SET @lv_wrkstecod = (case when @lv_wrkstecod='' then CAST((select top 1 wrkstecod from hhr_org_cht_wrk where buscod=@lp_buscod and hhrorgchtwrkcod = @lv_hhrorgchtwrkcod) as varchar)
                              else @lv_wrkstecod end)

        -- graba entegrama
        IF exists(SELECT hhrorgchtwrkcod FROM HHR_ORG_CHT_WRK WHERE buscod=@lp_buscod and wrkstecod=@lv_wrkstecod and hhrorgchtcod=@lp_hhrorgchtcod and wrkstehghcod=@lv_wrkstehghcod)
          BEGIN

          SET @lv_hhrorgchtwrkcod = (select top 1 hhrorgchtwrkcod FROM HHR_ORG_CHT_WRK where buscod=@lp_buscod and wrkstecod=@lv_wrkstecod and hhrorgchtcod=@lp_hhrorgchtcod and wrkstehghcod=@lv_wrkstehghcod)
          --SET @lv_wrkstehghcod = (case when @lv_wrkstehghcod!='' then @lv_wrkstehghcod else (select top 1 wrkstehghcod FROM HHR_ORG_CHT_WRK where buscod=@lp_buscod and hhrorgchtwrkcod=@lv_hhrorgchtwrkcod) end)
          EXECUTE HHR_ORG_CHT_WRK_DEF @lp_sysoperation = '02_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, @lp_hhrorgchtwrkcod = @lv_hhrorgchtwrkcod, 
            @lp_wrkstecod = @lv_wrkstecod, @lp_wrkstehghcod = @lv_wrkstehghcod, @lp_docsts='A', @lp_errtyp = @lp_errtyp OUTPUT, @lp_errcod = @lp_errcod OUTPUT, @lp_errtxt = @lp_errtxt OUTPUT, @lp_hhrorgchtwrkdat = @lv_asg

          END
        ELSE
          EXECUTE HHR_ORG_CHT_WRK_DEF @lv_sysoperation, @lp_username, @lp_buscod, @lv_hhrorgchtwrkcod OUTPUT, @lp_hhrorgchtcod, 
            @lv_wrkstecod, @lv_wrkstehghcod, null, 'A', null, @lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lv_asg

        -- actualizo las dependencias
        SET @lp_hhrorgchtwrk = REPLACE(
                                @lp_hhrorgchtwrk, 
                                (case (select wrkstetyp from HHR_WRK_STE where buscod=@lp_buscod and wrkstecod=@lv_wrkstecod)
                                  when 'D' then 'DPTO_'+CAST(@lv_wrkstecod as varchar)
                                  when 'S' then CAST(@lv_wrkstehghcod as varchar)+'SRV_'+CAST(@lv_wrkstecod as varchar) 
                                  else ''
                                end), 
                                @lv_hhrorgchtwrkcod)

        -- avanzo a la siguiente fila
        SET @lv_i = @lv_i + 1
        SET @lp_hhrorgchtwrk = SUBSTRING(@lp_hhrorgchtwrk, LEN(@lv_row)+12, LEN(@lp_hhrorgchtwrk)) 
      END
      
    
    IF @lp_errcod=0
    	COMMIT TRAN
    ELSE
    	ROLLBACK TRAN

  	SELECT @lp_hhrorgchtwrkcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
  
  END
  
  
  
  -- ------------------------------------------------------------------------ 
--   1 4    -    B O R R A D O		M A S I V O												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '14' or @lp_sysoperation = '14_sp'
	BEGIN
		SET @lv_validop = 1    
		
    IF @lp_sysoperation = '14'
			BEGIN TRAN

		-- eliminar capacidades
		DELETE c 
    FROM HHR_ORG_CHT_WRK_CAP c
    INNER JOIN HHR_ORG_CHT_WRK w on w.buscod = c.buscod and w.hhrorgchtwrkcod = c.hhrorgchtwrkcod
    WHERE w.buscod = @lp_buscod
    	and hhrorgchtcod = @lp_hhrorgchtcod
    SET @lp_errcod=@@ERROR


		-- verificar si hay que eliminar las asignaciones de horarios a empleados
    IF @lp_errcod=0
    	BEGIN
      
      select @lv_dltlnk = dbo.GetTagValue('emptmedltlnk', sysdocclsatr)
      from sys_doc_cls c
          inner join hhr_org_cht o on o.buscod=c.buscod and o.sysdocclscod=c.sysdocclscod
      where c.buscod=@lp_buscod and hhrorgchtcod = @lp_hhrorgchtcod

    	IF @lv_dltlnk != ''
				BEGIN
        
         	DELETE t 
          FROM HHR_EMP_TME t
          	INNER JOIN HHR_ORG_CHT_WRK_EMP e on e.buscod = t.buscod and e.hhremptmecod = t.hhremptmecod
            INNER JOIN HHR_ORG_CHT_WRK w on w.buscod = e.buscod and w.hhrorgchtwrkcod = e.hhrorgchtwrkcod
          WHERE t.buscod = @lp_buscod
            and hhrorgchtcod = @lp_hhrorgchtcod
    			SET @lp_errcod=@@ERROR
      		
    		END
        
      END
      

    -- eliminar enlaces entre entegramas y horarios
    IF @lp_errcod=0
			BEGIN
      
        DELETE e 
        FROM HHR_ORG_CHT_WRK_EMP e
          INNER JOIN HHR_ORG_CHT_WRK w on w.buscod = e.buscod and w.hhrorgchtwrkcod = e.hhrorgchtwrkcod
        WHERE w.buscod = @lp_buscod
          and hhrorgchtcod = @lp_hhrorgchtcod
        SET @lp_errcod=@@ERROR
        
      END
    
    
    -- eliminar entegramas
		IF @lp_errcod=0
			BEGIN
        DELETE
        FROM HHR_ORG_CHT_WRK
        WHERE buscod = @lp_buscod
          and hhrorgchtcod = @lp_hhrorgchtcod
        SET @lp_errcod=@@ERROR
      END
		 
    IF @lp_sysoperation = '14'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END

	END



-- ------------------------------------------------------------------------ 
--   1 5    -    G R A B A D O		D E		D E T A L L E S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '15'
	BEGIN
		SET @lv_validop = 1   

    DECLARE @lv_hhrorgchtwrkcap as nvarchar(max)
    
    SET @lv_hhrorgchtwrkcap = dbo.gettagvalue('cap', @lp_hhrorgchtwrkdat)
    SET @lv_asg = dbo.gettagvalue('asg', @lp_hhrorgchtwrkdat)
    
    -- grabo capacidad
    IF @lp_errcod=0 and isnull(@lv_hhrorgchtwrkcap, '') != ''
    	DECLARE @lv_caprow as nvarchar(max)
      DECLARE @lv_prdmaxcap as int, @lv_nonprdmaxcap as int, @lv_hhrorgchtwrkcapcod as int, @lv_captyp as int
    
      WHILE @lv_hhrorgchtwrkcap!='' and @lp_errcod=0 and @lv_i<500
      	BEGIN
        	SET @lv_caprow = dbo.gettagvalue('row',@lv_hhrorgchtwrkcap)
          SET @lv_wrkplccod = CAST(dbo.gettagvalue('wrkplccod', @lv_caprow) as INT)
          SET @lv_prdmaxcap = CAST(dbo.gettagvalue('hhrorgchtwrkpft', @lv_caprow) as INT)
          SET @lv_nonprdmaxcap = CAST(dbo.gettagvalue('hhrorgchtwrknonpft', @lv_caprow) as INT)
          SET @lv_hhrorgchtwrkcapcod = CAST(dbo.gettagvalue('hhrorgchtwrkcapcod', @lv_caprow) as INT)
          SET @lv_captyp = CAST(dbo.gettagvalue('hhrorgchtwrkcaptyp', @lv_caprow) as INT)
          SET @lv_sysoperation = (case 
                                  when @lv_hhrorgchtwrkcapcod='' then '01' 
                                  when dbo.gettagvalue('deleted', @lv_caprow)='X' then '04' 
                                  else '02' 
                                  end)+'_sp'
          
          -- graba capacidad
          EXECUTE HHR_ORG_CHT_WRK_CAP_DEF @lv_sysoperation, @lp_username, @lp_buscod, @lv_hhrorgchtwrkcapcod, @lp_hhrorgchtwrkcod, @lv_wrkplccod, 
            @lv_nonprdmaxcap, @lv_prdmaxcap, 'A', null, @lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lv_captyp
            
          SET @lv_i = @lv_i + 1
          SET @lv_hhrorgchtwrkcap = SUBSTRING(@lv_hhrorgchtwrkcap, LEN(@lv_caprow)+12, LEN(@lv_hhrorgchtwrkcap)) 
        END
      
            
    -- grabo asignaciones
    IF @lp_errcod=0 and isnull(@lv_asg, '') != ''
      BEGIN
        DECLARE @lv_hhremptmestr as nvarchar(14)
        DECLARE @lv_wrkstepft as int, @lv_hhrorgchtwrkempcod as int
        
        select @lv_dltlnk = dbo.GetTagValue('emptmedltlnk', sysdocclsatr)
        from sys_doc_cls c
          inner join hhr_org_cht o on o.buscod=c.buscod and o.sysdocclscod=c.sysdocclscod
          inner join hhr_org_cht_wrk w on w.buscod=c.buscod and w.hhrorgchtcod = o.hhrorgchtcod
        where c.buscod=@lp_buscod and w.hhrorgchtwrkcod = @lp_hhrorgchtwrkcod
        
        SET @lv_i = 0
        
        WHILE @lv_asg != '' and @lp_errcod=0 and @lv_i<500
          BEGIN
            SET @lv_asgrow = dbo.gettagvalue('asgrow', @lv_asg)
            SET @lv_hhrempcod = dbo.gettagvalue('hhrempcod', @lv_asgrow)
            SET @lv_wrkplccod = dbo.gettagvalue('wrkplccod', @lv_asgrow)
            SET @lv_hhrtmerngcod = dbo.gettagvalue('hhrtmerngcod', @lv_asgrow)
            SET @lv_hhremptmestr = dbo.gettagvalue('hhremptmestr', @lv_asgrow)
            SET @lv_hhremptmecod = dbo.gettagvalue('hhremptmecod', @lv_asgrow)
            SET @lv_hhrorgchtwrkempcod = dbo.gettagvalue('hhrorgchtwrkempcod', @lv_asgrow)
            SET @lv_wrkstepft = dbo.gettagvalue('wrkstepft', @lv_asgrow)
            
            IF dbo.gettagvalue('deleted', @lv_asgrow) != ''
            	BEGIN
              
              EXECUTE HHR_ORG_CHT_WRK_EMP_DEF @lp_sysoperation = '04_sp', 
                                     @lp_username 		= @lp_username, 
                                     @lp_buscod 			= @lp_buscod, 
                                     @lp_hhrorgchtwrkempcod = @lv_hhrorgchtwrkempcod, 
                                     @lp_errtyp 			= @lp_errtyp OUTPUT, 
                                     @lp_errcod 			= @lp_errcod OUTPUT, 
                                     @lp_errtxt 			= @lp_errtxt OUTPUT

            	IF @lv_dltlnk != '' and @lp_errcod=0
              	BEGIN
                
                EXECUTE HHR_EMP_TME_DEF @lp_sysoperation = '04_sp', 
                                       @lp_username 		= @lp_username, 
                                       @lp_buscod 			= @lp_buscod, 
                                       @lp_hhremptmecod = @lv_hhremptmecod, 
                                       @lp_errtyp 			= @lp_errtyp OUTPUT, 
                                       @lp_errcod 			= @lp_errcod OUTPUT, 
                                       @lp_errtxt 			= @lp_errtxt OUTPUT
                
                IF @lp_errcod=0
                  BEGIN
                    DELETE 
                    FROM HHR_ORG_CHT_WRK_EMP
                    WHERE hhremptmecod = @lv_hhremptmecod
                    SET @lp_errcod=@@ERROR
                  END
                END
             END
            ELSE
            	BEGIN
              IF not exists(select * from HHR_EMP_TME where buscod=@lp_buscod and hhrempcod=@lv_hhrempcod and hhrtmerngcod=@lv_hhrtmerngcod and wrkstecod=@lp_wrkstecod and wrkplccod=@lv_wrkplccod and WrkStePft=@lv_wrkstepft ) and @lv_hhremptmecod='' 
                -- crea horario porque no existe
                EXECUTE HHR_EMP_TME_DEF '01_sp', @lp_username, @lp_buscod, @lv_hhremptmecod OUTPUT, @lv_hhrempcod, @lv_hhremptmestr, 
                '20701231000000', @lv_wrkplccod, @lp_wrkstecod, @lv_hhrtmerngcod, 'A', null,
                @lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lv_wrkstepft
              ELSE IF @lv_hhremptmecod!=''
              	BEGIN
              	
                DECLARE @lv_hhremptmeend as datetime
                select @lv_hhremptmeend=hhremptmeend from HHR_EMP_TME where buscod=@lp_buscod and hhremptmecod=@lv_hhremptmecod
                DECLARE @lv_tmeendcnv as nvarchar(14) =  replace(convert(varchar(8), @lv_hhremptmeend, 112)+convert(varchar(8), @lv_hhremptmeend, 114), ':','') 
                
              	EXECUTE HHR_EMP_TME_DEF '02_sp', @lp_username, @lp_buscod, @lv_hhremptmecod OUTPUT, @lv_hhrempcod, @lv_hhremptmestr, 
                @lv_tmeendcnv, @lv_wrkplccod, @lp_wrkstecod, @lv_hhrtmerngcod, 'A', null,
                @lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lv_wrkstepft
                
                END
                
              ELSE
              	select @lv_hhremptmecod=hhremptmecod from HHR_EMP_TME where buscod=@lp_buscod and hhrempcod=@lv_hhrempcod and hhrtmerngcod=@lv_hhrtmerngcod and wrkstecod=@lp_wrkstecod and wrkplccod=@lv_wrkplccod and WrkStePft=@lv_wrkstepft
                
              IF @lv_hhrorgchtwrkempcod = 0
              	SELECT @lv_hhrorgchtwrkempcod = hhrorgchtwrkempcod 
                FROM HHR_ORG_CHT_WRK_EMP
                WHERE buscod = @lp_buscod
                	and hhremptmecod = @lv_hhremptmecod
                  and hhrorgchtwrkcod = @lp_hhrorgchtwrkcod
              
              IF @lv_hhrorgchtwrkempcod = 0 and @lp_errcod=0
                EXECUTE HHR_ORG_CHT_WRK_EMP_DEF @lp_sysoperation = '01_sp', 
                                     @lp_username 		= @lp_username, 
                                     @lp_buscod 			= @lp_buscod, 
                                     @lp_hhrorgchtwrkempcod = @lv_hhrorgchtwrkempcod, 
                                     @lp_hhrorgchtwrkcod = @lp_hhrorgchtwrkcod, 
                                     @lp_hhremptmecod = @lv_hhremptmecod, 
                                     @lp_docsts				= 'A',
                                     @lp_errtyp 			= @lp_errtyp OUTPUT, 
                                     @lp_errcod 			= @lp_errcod OUTPUT, 
                                     @lp_errtxt 			= @lp_errtxt OUTPUT
              ELSE
                EXECUTE HHR_ORG_CHT_WRK_EMP_DEF @lp_sysoperation = '02_sp', 
                                     @lp_username 		= @lp_username, 
                                     @lp_buscod 			= @lp_buscod, 
                                     @lp_hhrorgchtwrkempcod = @lv_hhrorgchtwrkempcod, 
                                     @lp_hhremptmecod = @lv_hhremptmecod, 
                                     @lp_docsts				= 'A',
                                     @lp_errtyp 			= @lp_errtyp OUTPUT, 
                                     @lp_errcod 			= @lp_errcod OUTPUT, 
                                     @lp_errtxt 			= @lp_errtxt OUTPUT
              END
              
            -- avanzo a la siguiente fila
            SET @lv_i = @lv_i + 1	
            SET @lv_asg = SUBSTRING(@lv_asg, len(@lv_asgrow)+18, LEN(@lv_asg))
          END

      END

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END




GO
