USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_APP_PRY_API_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_APP_PRY_API_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysapppryapicod	as int			= null,	-- id
@lp_sysappprycod	as int			= null,	-- codigo proyecto
@lp_sysappapicod	as int			= null,	-- codigo api
@lp_sysapppryapicfg	as nvarchar(max)= null,	-- configuración de API (habilitaciones)

@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- configuración de la vista


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
			
		BEGIN TRAN
				
		INSERT INTO sys_app_pry_api (buscod, sysappprycod, sysappapicod, SysAppPryApiCfg, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_sysappprycod, @lp_sysappapicod, @lp_sysapppryapicfg, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_sysapppryapicod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysapppryapicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE sys_app_pry_api 
		SET	sysappprycod	=	@lp_sysappprycod,
			sysappapicod	=	@lp_sysappapicod,
			SysAppPryApiCfg =   @lp_sysapppryapicfg,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and sysapppryapicod = @lp_sysapppryapicod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysapppryapicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_APP_PRY_API 
		WHERE buscod = @lp_buscod
		  and sysapppryapicod = @lp_sysapppryapicod
		  		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE
		FROM sys_app_pry_api 
		WHERE buscod = @lp_buscod
		  and sysapppryapicod = @lp_sysapppryapicod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysapppryapicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' pa.* '
			+ ' FROM sys_app_pry_api pa '
			+ ' WHERE pa.buscod = '+QUOTENAME(@lp_buscod,'''')
			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )

		execute( @lv_sql )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
