USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_RAS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[CNS_RAS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,	/* empresa */
@lp_rascod 			as int			= null,	/* codigo */
@lp_matcod 			as int			= null,	/* id material */
@lp_srcobjtyp		as nvarchar(20)	= null,	/* objeto referenciado */
@lp_srcobjcod		as nvarchar(20)	= null,	/* objeto codigo */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(400)= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO CNS_RAS (buscod, matcod, srcobjtyp, srcobjcod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_matcod, @lp_srcobjtyp, @lp_srcobjcod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_rascod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rascod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		/* nada que hacer, no se modifica, se debe borrar y agregar uno nuevo */
		
		SELECT @lp_rascod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ra.*, m.mattxt, '+QUOTENAME('SYS_USR','''')+' as srcobjtyp, '+QUOTENAME('Usuario','''')+' as srcobjtyptxt, so.usrtxt as srcobjtxt '
			+ ' FROM CNS_RAS ra '
			+ ' left join stk_mat m on m.buscod=ra.buscod and m.matcod=ra.matcod '
			+ ' left join sys_sec_usr so on so.usrcod=ra.srcobjcod '
			+ ' WHERE ra.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and ra.rascod='+QUOTENAME(@lp_rascod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' ra.ctedte desc ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
			
		DELETE 
		FROM CNS_RAS 
		WHERE buscod=@lp_buscod
			and rascod=@lp_rascod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_rascod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* cns_ras_def '08','mdominguez','temasis_log' */

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ra.*, m.mattxt, '+QUOTENAME('SYS_USR','''')+' as srcobjtyp, '+QUOTENAME('Usuario','''')+' as srcobjtyptxt, so.usrtxt as srcobjtxt '
			+ ' FROM CNS_RAS ra '
			+ ' left join stk_mat m on m.buscod=ra.buscod and m.matcod=ra.matcod '
			+ ' left join sys_sec_usr so on so.usrcod=ra.srcobjcod '
			+ ' WHERE ra.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' ra.ctedte desc ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END	

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
