USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_FLE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GRL_DAT_FLE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_flecod			as int			= null,		/* id */
@lp_flenme			as nvarchar(250)= null,		/* nombre */
@lp_flesze			as bigint		= null,		/* tamaño */	
@lp_fleext			as nvarchar(10)	= null,		/* extensión */
@lp_fletyp			as nvarchar(250)= null,		/* tipo */
@lp_fledsp			as nvarchar(250)= null,		/* disposición */
@lp_flecmt			as nvarchar(max)=null,		/* comentarios */
@lp_fletypcod		as int			= null,		/* id tipo archivo */
@lp_docsts 			as nvarchar(2)	= null,
@lp_flesrctyp		as nvarchar(10)	= null,		/* tipo de documento relacionado */
@lp_flesrccod		as nvarchar(20)	= null,		/* código de documento relacionado */
@lp_flesrcfld		as nvarchar(40)	= null,		/* campo asociado */

@lp_vewcfg			as nvarchar(max)= null,		/* configuración vista */

@lp_fleduedte		as nvarchar(14)	= null,		/* fecha de vencimiento */
@lp_fleatr			as nvarchar(max)= null		/* atributos extendidos de archivo */

AS

SET NOCOUNT ON
DECLARE @lv_validop INT
SET @lv_validop = 0

declare @lv_errcod int
set @lv_errcod = 0

declare @lv_fleduedte as smalldatetime
set @lv_fleduedte = dbo.ConvertDate( @lp_fleduedte )

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_DAT_FLE
			(buscod, flenme, flesze, fleext, fletyp, fledsp, flecmt, fletypcod, fleduedte, 
			flesrctyp, flesrccod, flesrcfld, FleAtr, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_flenme, @lp_flesze, @lp_fleext, @lp_fletyp, @lp_fledsp, @lp_flecmt, @lp_fletypcod, @lv_fleduedte, 
				@lp_flesrctyp, @lp_flesrccod, @lp_flesrcfld, @lp_fleatr, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_flecod=@@IDENTITY
		
		if dbo.getTagValue('ppl',@lp_fleatr)='1'
			begin
				UPDATE GRL_DAT_FLE
				SET FleAtr = REPLACE(lower(FleAtr),'<ppl>1</ppl>','<ppl>0</ppl>'),
					upddte=getdate(),
					updusr=@lp_username
				where BusCod=@lp_buscod
				and FleSrcTyp=@lp_flesrctyp
				and FleSrcCod=@lp_flesrccod
				and FleTypCod=@lp_fletypcod
				and not FleCod=@lp_flecod
				SET @lv_errcod = @@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_flecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
				
		UPDATE GRL_DAT_FLE
		SET flecmt=@lp_flecmt,
			fleduedte=@lv_fleduedte,
			FleAtr=@lp_fleatr,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
			and flecod=@lp_flecod
		SET @lv_errcod=@@ERROR

		if dbo.getTagValue('ppl',@lp_fleatr)='1'
			begin
				UPDATE GRL_DAT_FLE
				SET FleAtr = REPLACE(lower(FleAtr),'<ppl>1</ppl>','<ppl>0</ppl>'),
					upddte=getdate(),
					updusr=@lp_username
				where BusCod=@lp_buscod
				and FleSrcTyp=@lp_flesrctyp
				and FleSrcCod=@lp_flesrccod
				and FleTypCod=@lp_fletypcod
				and not FleCod=@lp_flecod
				SET @lv_errcod = @@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_flecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT f.*, ft.fletypcodext, ft.fletyptxt, ft.fletypatr, convert(varchar, f.fleduedte, 103) as fleduedtecnv
		FROM GRL_DAT_FLE f
		left join GRL_DAT_FLE_TYP ft on ft.buscod=f.buscod and ft.fletypcod=f.fletypcod
		WHERE f.buscod = @lp_buscod
		  and f.flecod = @lp_flecod
		  and f.DelDte is null

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R 												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
				 
		UPDATE GRL_DAT_FLE
		SET deldte = getdate(),
			delusr = @lp_username
		WHERE buscod=@lp_buscod
		  and flecod=@lp_flecod
		SET @lv_errcod=@@ERROR
						
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_flecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* GRL_DAT_FLE_DEF '08','MDOMINGUEZ','TEMASIS_EDU','','','0','','','','','','','','','','<VIEW><VEWFLT> AND (F.FLESRCTYP=^STK_MAT^) AND (F.FLESRCCOD=^82^) AND (F.DOCSTS=^A^) AND (FT.DOCSTS=^A^)</VEWFLT><VEWGRP></VEWGRP><VEWGRPCAL></VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD></VEWORD><VEWMAX></VEWMAX></VIEW>','','' */

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' f.*, ft.fletypcodext, ft.fletyptxt, ft.fletypatr, convert(varchar, f.fleduedte, 103) as fleduedtecnv '
			+ ' FROM GRL_DAT_FLE f '
			+ ' left join GRL_DAT_FLE_TYP ft on ft.buscod=f.buscod and ft.fletypcod=f.fletypcod '
			+ ' WHERE f.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and f.deldte is null '
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



/* ------------------------------------------------------------------------ */
/*   1 3    -    CARGA DOCUMENTO PRINCIPAL									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		/* GRL_DAT_FLE_DEF '13','temasis','temasis_edu',null,null,null,null,null,null,null,'',null,'EDU_TCH','3','' */

		set @lv_sql = 'SELECT TOP 1 '
			+ ' f.*, ft.fletypcodext, ft.fletyptxt, ft.fletypatr, convert(varchar, f.fleduedte, 103) as fleduedtecnv '
			+ ' FROM GRL_DAT_FLE f '
			+ ' left join GRL_DAT_FLE_TYP ft on ft.buscod=f.buscod and ft.fletypcod=f.fletypcod '
			+ ' WHERE f.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and f.flesrctyp='+QUOTENAME(@lp_flesrctyp, '''')
			+ ' and f.flesrccod='+QUOTENAME(@lp_flesrccod, '''')
			+ ' and isnull(f.flesrcfld,0)='+QUOTENAME( isnull(@lp_flesrcfld,0), '''')
			+ ' and isnull(f.fletypcod,0)='+QUOTENAME( isnull(@lp_fletypcod,0), '''' )
			+ ' and (case when '+QUOTENAME(@lp_fletypcod,'''')+'='+QUOTENAME('0','''')+' then 1 when '+QUOTENAME(@lp_fletypcod,'''')+'<>'+QUOTENAME('0','''')+' and dbo.getTagValue('+QUOTENAME('fletypatrsel','''')+',ft.fletypatr)='+QUOTENAME('1','''')+' and dbo.getTagValue('+QUOTENAME('ppl','''')+',f.fleatr)='+QUOTENAME('1','''')+' then 1 else 0 end)=1 '
			+ ' and f.deldte is null '
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' f.ctedte desc ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
