USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_LND_CIV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_DAT_LND_CIV_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_lndcod			as nvarchar(05),		/* codigo pais */
@lp_civstscod		as nvarchar(05) = null,	/* codigo */
@lp_civststxt		as nvarchar(40)	= null,	/* descripción */
@lp_docsts			as nvarchar(02)	= null,	/* estado */ 

@lp_vewcfg			as nvarchar(max)=null	/* configuración ede la vista */


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	País inexistente.													*/
/*	-2	Código existente.													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* valido país */	
		IF not exists(select top 1 * from grl_dat_lnd where lndcod=@lp_lndcod)
			BEGIN
				SELECT null, -1 as errcod, 'País inexistente.' as errtxt
				RETURN
			END

		/* valido codigo */
		IF @lp_sysoperation='02'
			IF exists(select top 1 * from GRL_DAT_LND_CIV where lndcod=@lp_lndcod and civstscod=@lp_civstscod)
				BEGIN
					SELECT null, -2 as errcod, 'Código existente.' as errtxt
					RETURN
				END
			
	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO GRL_DAT_LND_CIV (lndcod, civstscod, civststxt, docsts, cteusr, ctedte)
		VALUES (@lp_lndcod, @lp_civstscod,@lp_civststxt, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_civstscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_DAT_LND_CIV 
		SET civststxt=@lp_civststxt, 
			docsts=@lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE lndcod=@lp_lndcod
		  and civstscod = @lp_civstscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_civstscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM GRL_DAT_LND_CIV
		WHERE lndcod=@lp_lndcod
		  and civstscod=@lp_civstscod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, l.lndtxt '
			+ ' FROM GRL_DAT_LND_CIV t '
			+ ' inner join GRL_DAT_LND l on l.lndcod=t.lndcod '
			+ ' WHERE 1=1 '
			+ (case when isnull(@lp_lndcod,'')='' then '' else ' and t.lndcod='+QUOTENAME(@lp_lndcod,'''') end)
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
    END	



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
