USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_STU_EVL_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EDU_STU_EVL_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_evlcod			as int			= null,	/* id evolucion */
@lp_evlnum			as int			= null,	/* num evoluciÃ³n */
@lp_stucod			as int			= null,	/* id alumno */
@lp_tchcod			as int			= null,	/* id profesor */
@lp_educurcod		as int			= null,	/* id plan de estudios */
@lp_educarcod		as int			= null,	/* id carrera */
@lp_educoucod		as int			= null,	/* id curso */
@lp_edusubcod		as int			= null,	/* id materia */
@lp_stdloccod		as int			= null, /* id lugar */
@lp_evldte			as nvarchar(14)	= null,	/* fecha */
@lp_evlusr			as nvarchar(50)	= null,	/* usuario evaluaciÃ³n */
@lp_eduevlatr001	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr002	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr003	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr004	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr005	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr006	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr007	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr008	as nvarchar(4000)=null,	/* atributos */
@lp_eduevlatr009	as nvarchar(4000)=null,	/* atributos */
@lp_eduplncod		as int			= null,	/* id planificaciÃ³n */
@lp_eduplndtecod	as int			= null,	/* id planificaciÃ³n fecha */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)=null,	/* config vista */

@lp_evlrelsts		as nvarchar(02)	= null	/* estado liberaciÃ³n */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod as int = 0

declare @lv_sql as nvarchar(max)

DECLARE @lv_evldte as smalldatetime = dbo.ConvertDate( @lp_evldte )
declare @lv_stutxt as nvarchar(82)
declare @lv_tchtxt as nvarchar(82)
declare @lv_educurtxt as nvarchar(50)
declare @lv_educartxt as nvarchar(50)
declare @lv_educoutxt as nvarchar(50)
declare @lv_edusubtxt as nvarchar(50)
declare @lv_stdloctxt as nvarchar(50)
declare @lv_eduevlfrm as nvarchar(4000)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EVL'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------
--   V A L I D A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		set @lv_stutxt = (select top 1 stutxt from edu_stu where buscod=@lp_buscod and stucod=@lp_stucod)
		if @lv_stutxt is null
			BEGIN
				--SELECT '', -1 as errcod, 'Codigo de Alumno no valido.' as errtxt
        select 'E' as errtyp, -1 as errcod, 'Codigo de Alumno no valido.' as errmsg
				RETURN
			END
		set @lv_tchtxt = (select top 1 tchtxt from edu_tch where buscod=@lp_buscod and tchcod=@lp_tchcod)
		if @lv_tchtxt is null
			BEGIN
				--SELECT '', -2 as errcod, 'Codigo de Profesor no valido.' as errtxt
        select 'E' as errtyp, -2 as errcod, 'Codigo de Profesor no valido.' as errmsg
				RETURN
			END
		set @lv_educurtxt = (select top 1 educurtxt from edu_cur where buscod=@lp_buscod and educurcod=@lp_educurcod)
		if @lv_educurtxt is null
			BEGIN
				--SELECT '', -3 as errcod, 'Codigo de Plan de Estudios no valido.' as errtxt
         select 'E' as errtyp, -3 as errcod, 'Codigo de Plan de Estudios no valido.' as errmsg
				RETURN
			END
		set @lv_educartxt = (select top 1 educartxt from edu_car where buscod=@lp_buscod and educarcod=@lp_educarcod)
		if @lv_educartxt is null
			BEGIN
				--SELECT '', -4 as errcod, 'Codigo de Carrera no valido.' as errtxt
        select 'E' as errtyp, -4 as errcod, 'Codigo de Carrera no valido.' as errmsg
				RETURN
			END
		set @lv_educoutxt = (select top 1 educoutxt from edu_cou where buscod=@lp_buscod and educoucod=@lp_educoucod)
		if @lv_educoutxt is null
			BEGIN
				--SELECT '', -5 as errcod, 'Codigo de Curso no valido.' as errtxt
        select 'E' as errtyp, -5 as errcod, 'Codigo de Curso no valido.' as errmsg
				RETURN
			END
		select top 1 @lv_edusubtxt=edusubtxt, @lv_eduevlfrm=eduevlfrm from edu_sub where buscod=@lp_buscod and edusubcod=@lp_edusubcod
		if @lv_edusubtxt is null
			BEGIN
			--SELECT '', -6 as errcod, 'Codigo de Materia no valido.' as errtxt
        select 'E' as errtyp, -6 as errcod, 'Codigo de Materia no valido.' as errmsg
				RETURN
			END
		if not isnull(@lp_stdloccod,0)=0
			begin
				set @lv_stdloctxt = (select top 1 stdloctxt from edu_std_loc where buscod=@lp_buscod and stdloccod=@lp_stdloccod)
				if @lv_stdloctxt is null
					BEGIN
						--SELECT '', -7 as errcod, 'Codigo de Lugar de Estudios no valido.' as errtxt
            select 'E' as errtyp, -7 as errcod, 'Codigo de Lugar de Estudios no valido.' as errmsg
						RETURN
					END
			end

	END


-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		/* prevengo doble evaluaciÃ³n (mÃºltiples post) */
		if not isnull(@lp_eduplncod,0)=0 and not isnull(@lp_eduplndtecod,0)=0
			if exists(select top 1 * from edu_stu_evl where buscod=@lp_buscod and eduplncod=@lp_eduplncod and eduplndtecod=@lp_eduplndtecod and docsts='A')
				begin
					SELECT top 1 evlcod, 0 as errcod, '' as errtxt
					from edu_stu_evl
					where buscod=@lp_buscod and eduplncod=@lp_eduplncod and eduplndtecod=@lp_eduplndtecod and docsts='A'
					RETURN
				end

		BEGIN TRAN
		
		/* agrego el registro de evaluacion */
		IF @lv_errcod=0
			BEGIN
				INSERT INTO EDU_STU_EVL (buscod, evlnum, evldte, evlusr, 
					stucod, stutxt, tchcod, tchtxt, educurcod, educurtxt, educarcod, educartxt, educoucod, educoutxt, edusubcod, edusubtxt, stdloccod, stdloctxt, 
					EduEvlAtr001, EduEvlAtr002, EduEvlAtr003, EduEvlAtr004, EduEvlAtr005, EduEvlAtr006, EduEvlAtr007, EduEvlAtr008, EduEvlAtr009, 
					eduplncod, eduplndtecod, eduevlfrm, evlrelsts,
					docsts, ctedte, cteusr) 
				VALUES (@lp_buscod, @lp_evlnum, @lv_evldte, @lp_evlusr, 
					@lp_stucod, @lv_stutxt, @lp_tchcod, @lv_tchtxt, @lp_educurcod, @lv_educurtxt, @lp_educarcod, @lv_educartxt, @lp_educoucod, @lv_educoutxt, @lp_edusubcod, @lv_edusubtxt, @lp_stdloccod, @lv_stdloctxt, 
					@lp_EduEvlAtr001, @lp_EduEvlAtr002, @lp_EduEvlAtr003, @lp_EduEvlAtr004, @lp_EduEvlAtr005, @lp_EduEvlAtr006, @lp_EduEvlAtr007, @lp_EduEvlAtr008, @lp_EduEvlAtr009,
					@lp_eduplncod, @lp_eduplndtecod, @lv_eduevlfrm, @lp_evlrelsts,
					@lp_docsts, getdate(), @lp_username )
				SET @lv_errcod=@@ERROR
				SET @lp_evlcod=@@IDENTITY
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlcod as evlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END


-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* actualizo evaluaciÃ³n */
		UPDATE edu_stu_evl
		SET EvlDte=@lv_evldte,
			EvlUsr=@lp_evlusr,
			EduEvlAtr001=@lp_eduevlatr001,
			EduEvlAtr002=@lp_eduevlatr002,
			EduEvlAtr003=@lp_eduevlatr003,
			EduEvlAtr004=@lp_eduevlatr004,
			EduEvlAtr005=@lp_eduevlatr005,
			EduEvlAtr006=@lp_eduevlatr006,
			EduEvlAtr007=@lp_eduevlatr007,
			EduEvlAtr008=@lp_eduevlatr008,
			EduEvlAtr009=@lp_eduevlatr009,
			evlrelsts=@lp_evlrelsts,
			docsts=@lp_docsts
		WHERE buscod=@lp_buscod
		  and EvlCod=@lp_evlcod
		  and DelDte is null
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlcod as evlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END

-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SElECT e.*
		FROM edu_stu_evl e
		WHERE e.buscod=@lp_buscod
		  and e.evlcod=@lp_evlcod
		  and e.deldte is null

	END


-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		declare @lv_key as nvarchar(50)
		/* obtengo clave PLNID_PLNDTEID */
		set @lv_key = (select top 1 cast(x.eduplncod as nvarchar(50))+'_'+cast(x.eduplndtecod as nvarchar(50)) 
						from edu_stu_evl x 
						where x.buscod=@lp_buscod 
						  and x.evlcod=@lp_evlcod )

		/* verifico si ya fue liquidada a profesor o cliente */
		/*
		IF exists(select top 1 * from hlt_pln_ctr_dte cd where cd.buscod=@lp_buscod and (isnull(cd.hltlqdid,0)>0 or isnull(cd.slslqdid,0)>0) and cast(cd.plnid as nvarchar(50))+'_'+cast(cd.plndteid as nvarchar(50))=@lv_key)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar evolucion. Ya ha sido liquidada.' as errtxt
				RETURN
			END
		*/
		BEGIN TRAN
	    
		/* NO SE BORRAN EVALUACIONES - SE DESACTIVAN */
		/* IHABILITO LA EVALUACION EN EL HISTORIAL */
		/*
		UPDATE EDU_STU_HST
		SET DocSts='I',
			DelDte=GETDATE(),
			DelUsr=@lp_username
		WHERE BusCod=@lp_buscod
		  and EvlCod=@lp_evlcod
		SET @lv_errcod=@@ERROR
		*/

		/* INHABILITO LA EVALUACION */
		IF @lv_errcod=0
			BEGIN
				UPDATE EDU_STU_EVL 
				SET docsts='I', 
					deldte=GETDATE(), 
					delusr=@lp_username,
					eduplncod=(eduplncod*-1),
					eduplndtecod=(eduplndtecod*-1)
				WHERE buscod=@lp_buscod
					and evlcod=@lp_evlcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			  COMMIT TRAN
		ELSE
			  ROLLBACK TRAN

		SELECT @lp_evlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- edu_stu_evl_def '08','temasis','temasis_edu'
    
    set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, ' e.*, convert(nvarchar, e.evldte, 103) as evldtecnv ', 
                                      ' edu_stu_evl e left join edu_lqd_doc ld on ld.buscod=e.buscod and ld.refobjtyp='+QUOTENAME('EDU_EVL','''')+' and ld.refobjcod001=e.evlcod ',
                                      ' e.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                      ' e.evldte' , default )
		execute( @lv_sql )

	END
	


/* ------------------------------------------------------------------------ */
/*   0 9    -    L I S T A   de  C O N T R O L								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1

		/* EDU_STU_EVL_DEF '09','MDOMINGUEZ','TEMASIS_EDU','','','','','','','','','','','','','','','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>' */
		declare @lv_prmstucod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'e.stucod');
		declare @lv_prmtchcod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'pd.tchcod');
    
		declare @lv_docstscnv as nvarchar(250) = '(CASE WHEN e.evlcod is not null and e.evlrelsts='+QUOTENAME('A','''')+' THEN '+QUOTENAME('EVALUADO (P)','''')+' WHEN e.evlcod is not null THEN '+QUOTENAME('EVALUADO','''')+' WHEN sa.edustuass is null then '+QUOTENAME('PENDIENTE','''')+' ELSE '+QUOTENAME('AUSENTE','''')+' END)'

		--declare @lv_flt as nvarchar(max)
		--set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		--set @lv_flt = REPLACE(@lv_flt,'docstscnv',@lv_docstscnv)

		--declare @lv_ord as nvarchar(max)
		--set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' pd.eduplninbdte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		--set @lv_ord = REPLACE(@lv_ord,'docstscnv',@lv_docstscnv)
		
    set @lv_sql = dbo.getSqlSentence(@lp_vewcfg,
     	' p.*, pd.eduplndtecod, pin.stucod, ec.educurcodext, '
      + 'ec.EduCurTxt, ea.educarcodext, ea.EduCarTxt, eo.educoucodext, eo.EduCouTxt, es.edusubcodext, es.EduSubTxt, es.eduevlfrm, et.TchTxt, '
      + 'eu.stutxt, el.StdLocTxt, convert(varchar, pd.eduplndte, 103) as eduplndtecnv, e.evlcod, sa.edustuass, pd.eduplninbdte, pd.eduplnoutdte, '
      + 'substring(convert(varchar,pd.eduplninbdte,126),12,5) as eduplninbdtecnv, substring(convert(varchar,pd.eduplnoutdte,126),12,5) as eduplnoutdtecnv, '
      + @lv_docstscnv +' as docstscnv, e.evlrelsts ',
      ' edu_pln p '
			+ ' inner join edu_pln_dte pd on pd.buscod=p.buscod and pd.eduplncod=p.eduplncod '
			+ ' inner join edu_cur ec on ec.buscod=p.buscod and ec.EduCurCod=p.EduCurCod '
			+ ' inner join edu_car ea on ea.BusCod=p.BusCod and ea.EduCarCod=p.EduCarCod '
			+ ' inner join edu_cou eo on eo.BusCod=p.BusCod and eo.EduCouCod=p.EduCouCod '
			+ ' inner join edu_sub es on es.BusCod=p.BusCod and es.EduSubCod=p.EduSubCod '
			+ ' inner join edu_pln_ins pin on pin.buscod=pd.buscod and pin.eduplncod=pd.eduplncod and pin.eduplndtecod=pd.eduplndtecod '
			+ ' inner join edu_stu eu on eu.buscod=pin.buscod and eu.stucod=pin.stucod '
			+ ' left join edu_tch et on et.buscod=pd.buscod and et.tchcod=pd.tchcod '
			+ ' left join edu_std_loc el on el.buscod=pd.buscod and el.stdloccod=pd.StdLocCod '
			+ ' left join EDU_STU_evl e on e.buscod=pin.buscod and e.eduplncod=pin.eduplncod and e.eduplndtecod=pin.eduplndtecod and e.stucod=pin.stucod and e.docsts='+QUOTENAME('A','''')+' and e.deldte is null '
			+ ' left join EDU_STU_ass sa on sa.buscod=pin.buscod and sa.eduplncod=pin.eduplncod and sa.eduplndtecod=pin.eduplndtecod and sa.stucod=pin.stucod and sa.docsts='+QUOTENAME('A','''')+' and sa.deldte is null '
      + ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod ',
     	' p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and p.docsts='+QUOTENAME('A','''')
			+ ' and pd.docsts='+QUOTENAME('A','''')
			+ ' and not isnull(pd.tchcod,0)=0 '
      + @lv_prmstucod
     	+ @lv_prmtchcod,
      'pd.eduplninbdte DESC',  'docstscnv;' + @lv_docstscnv)
    execute( @lv_sql )
    
/*		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, pd.eduplndtecod, pin.stucod, ec.educurcodext, ec.EduCurTxt, ea.educarcodext, ea.EduCarTxt, eo.educoucodext, eo.EduCouTxt, es.edusubcodext, es.EduSubTxt, es.eduevlfrm, et.TchTxt, eu.stutxt, el.StdLocTxt, convert(varchar, pd.eduplndte, 103) as eduplndtecnv, e.evlcod, sa.edustuass, pd.eduplninbdte, pd.eduplnoutdte, substring(convert(varchar,pd.eduplninbdte,126),12,5) as eduplninbdtecnv, substring(convert(varchar,pd.eduplnoutdte,126),12,5) as eduplnoutdtecnv, '+@lv_docstscnv+' as docstscnv, e.evlrelsts '
			+ ' from edu_pln p '
			+ ' inner join edu_pln_dte pd on pd.buscod=p.buscod and pd.eduplncod=p.eduplncod '
			+ ' inner join edu_cur ec on ec.buscod=p.buscod and ec.EduCurCod=p.EduCurCod '
			+ ' inner join edu_car ea on ea.BusCod=p.BusCod and ea.EduCarCod=p.EduCarCod '
			+ ' inner join edu_cou eo on eo.BusCod=p.BusCod and eo.EduCouCod=p.EduCouCod '
			+ ' inner join edu_sub es on es.BusCod=p.BusCod and es.EduSubCod=p.EduSubCod '
			+ ' inner join edu_pln_ins pin on pin.buscod=pd.buscod and pin.eduplncod=pd.eduplncod and pin.eduplndtecod=pd.eduplndtecod '
			+ ' inner join edu_stu eu on eu.buscod=pin.buscod and eu.stucod=pin.stucod '
			+ ' left join edu_tch et on et.buscod=pd.buscod and et.tchcod=pd.tchcod '
			+ ' left join edu_std_loc el on el.buscod=pd.buscod and el.stdloccod=pd.StdLocCod '
			+ ' left join EDU_STU_evl e on e.buscod=pin.buscod and e.eduplncod=pin.eduplncod and e.eduplndtecod=pin.eduplndtecod and e.stucod=pin.stucod and e.docsts='+QUOTENAME('A','''')+' and e.deldte is null '
			+ ' left join EDU_STU_ass sa on sa.buscod=pin.buscod and sa.eduplncod=pin.eduplncod and sa.eduplndtecod=pin.eduplndtecod and sa.stucod=pin.stucod and sa.docsts='+QUOTENAME('A','''')+' and sa.deldte is null '
			+ ' where p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and p.docsts='+QUOTENAME('A','''')
			+ ' and pd.docsts='+QUOTENAME('A','''')
			+ ' and not isnull(pd.tchcod,0)=0 '
 			+ @lv_flt
			+ @lv_ord */


	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
