USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_EMP_CAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HHR_EMP_CAT_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_empcatcod		as int			= null,		/* codigo */
@lp_empcattxt		as nvarchar(40) = null,		/* descripción */
@lp_empcattyp		as nvarchar(5)  = null,		/* tipo */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_empcatvalid		as nvarchar(10)	= null,		/* id de valor */
@lp_empcatval		as nvarchar(50) = null,		/* valor	*/
@lp_empcatfrm		as nvarchar(10)	= null,		/* desde */
@lp_empcatto		as nvarchar(10) = null,		/* hasta */
@lp_empcatptr		as nvarchar(20) = null,		/* pattern (patrón) */
@lp_empcatpts		as nvarchar(10)	= null,		/* puntos */

@lp_vewcfg			as nvarchar(4000)=null		/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		INSERT INTO hhr_emp_cat (buscod, empcattxt, empcattyp, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_empcattxt, @lp_empcattyp, @lp_docsts, getdate(), @lp_username)

		IF @@ERROR=0
			SELECT @@IDENTITY
		ELSE
			SELECT '' WHERE 1=2

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		UPDATE hhr_emp_cat
		SET empcattxt = @lp_empcattxt,
			empcattyp = @lp_empcattyp,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and empcatcod = @lp_empcatcod

		IF @@ERROR=0
			SELECT @lp_empcatcod
		ELSE
			SELECT '' WHERE 1=2

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM hhr_emp_cat
		WHERE buscod = @lp_buscod
		  and empcatcod = @lp_empcatcod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		IF (select count(*) from hhr_emp_cat_asg where buscod=@lp_buscod and empcatcod=@lp_empcatcod and getdate() between empcatfrm and empcatto)>0
			BEGIN
				RaisError('No se puede borrar la categoria <%s>. Existen categorizaciones vientes en prestadores.', 16, -1, @lp_sysoperation)
				RETURN
			END

		BEGIN TRAN

		/* borro valores de categorización */
		DELETE 
		FROM hhr_emp_cat_val 
		WHERE buscod=@lp_buscod 
		  and empcatcod=@lp_empcatcod
		  
		/* borro categorización */
		IF @@ERROR = 0
			DELETE 
			FROM hhr_emp_cat 
			WHERE buscod=@lp_buscod 
			  and empcatcod = @lp_empcatcod

		IF @@ERROR = 0
			BEGIN
				COMMIT TRAN
				SELECT @lp_empcatcod
			END
		ELSE
			BEGIN
				ROLLBACK TRAN
				SELECT '' WHERE 1=2
			END

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 5    -    B U S C A R	C A T E G O R I A											*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_empcattxt=''
			SELECT '' WHERE 1=2
		ELSE
			SELECT top 1 c.* 
			FROM hhr_emp_cat c
			WHERE c.buscod = @lp_buscod
			  and c.empcattxt like '%' + @lp_empcattxt + '%'
			  and c.docsts = 'A'

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM hhr_emp_cat
		WHERE buscod = @lp_buscod
		  and docsts = 'A'

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 1    -    C R E A R     V A L O R E S										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_empcatvalid as int
		set @lv_empcatvalid = isnull( (select max(empcatvalid) from hhr_emp_cat_val where buscod=@lp_buscod and empcatcod=@lp_empcatcod ) , 0 ) + 1

		INSERT INTO hhr_emp_cat_val ( buscod, empcatcod, empcatvalid, empcatval, empcatfrm, empcatto, empcatpts, empcatptr, ctedte, cteusr )
		VALUES ( @lp_buscod, @lp_empcatcod, @lv_empcatvalid, @lp_empcatval, @lp_empcatfrm, @lp_empcatto, @lp_empcatpts, @lp_empcatptr, getdate(), @lp_username)

		IF @@ERROR=0
			select @lv_empcatvalid
		ELSE
			SELECT '' WHERE 1=2

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 2    -    M O D I F I C A R     V A L O R E S										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		UPDATE hhr_emp_cat_val
		SET empcatval = @lp_empcatval,
			empcatfrm = @lp_empcatfrm,
			empcatto  = @lp_empcatto,
			empcatpts = @lp_empcatpts,
			empcatptr = @lp_empcatptr,
			upddte	  = getdate(),
			updusr	  = @lp_username
		WHERE buscod=@lp_buscod
		  and empcatcod=@lp_empcatcod
		  and empcatvalid=@lp_empcatvalid

		IF @@ERROR=0
			select @lp_empcatvalid
		ELSE
			SELECT '' WHERE 1=2

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 3    -    V E R     V A L O R										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM hhr_emp_cat_val
		WHERE buscod = @lp_buscod
		  and empcatcod = @lp_empcatcod
		  and empcatvalid = @lp_empcatvalid

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 4    -    B O R R A R     V A L O R E S										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		DELETE 
		FROM hhr_emp_cat_val
		WHERE buscod = @lp_buscod
		  and empcatcod = @lp_empcatcod
		  and empcatvalid=@lp_empcatvalid			

		IF @@ERROR=0
			SELECT @lp_empcatvalid
		ELSE
			SELECT '' WHERE 1=2

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 5    -    B U S C A R     V A L O R										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '15'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_empcatval=''
			SELECT '' WHERE 1=2
		ELSE
			SELECT TOP 1 v.*, c.empcattyp 
			FROM hhr_emp_cat c
				inner join hhr_emp_cat_val v on v.buscod=c.buscod and v.empcatcod=c.empcatcod
			WHERE c.buscod = @lp_buscod
			  and c.empcatcod = @lp_empcatcod
			  and v.empcatval like '%' + @lp_empcatval + '%'

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R     V A L O R E S										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM hhr_emp_cat_val
		WHERE buscod = @lp_buscod
		  and empcatcod = @lp_empcatcod

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
