USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_ORD_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUY_ORD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_buyordcod		as int			= null,				-- id
@lp_buyordcodext	as nvarchar(20) = null,	-- codigo
@lp_buyordtxt		as nvarchar(50) = null,		-- descripcion
@lp_buyorddte		as nvarchar(14)	= null,		-- fecha
@lp_srcobjtyp 	as nvarchar(20)	= null,	-- origen - objeto
@lp_srcobjcod		as int			= null,				-- origen - id
@lp_buyordtotamt	as bigint		= null,			-- importe total
@lp_curcod			as nvarchar(5)	= null,		-- id moneda
@lp_curexcrte		as bigint		= null,				-- tipo de cambio
@lp_docsts 			as nvarchar(2)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃ³n vista

@lp_sysdocclscod	as int			= null,			-- id clase documento
@lp_buyordstrdte	as nvarchar(14)	= null,	-- validez - inicio
@lp_buyordenddte	as nvarchar(14)	= null,	-- validez - fin
@lp_sysdocrejcod	as int			= null,			-- id motivo de rechazo
@lp_paytrmcod		as int			= null,				-- id condicion pago
@lp_finceccod		as int			= null,				-- id centro coste

@lp_objtyp			as nvarchar(20)=null			-- id objeto

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_errtxt as nvarchar(MAX)

declare @lv_buyorddte as datetime = dbo.ConvertDate( @lp_buyorddte )
declare @lv_buyordtotamt as decimal(13,3) = dbo.ConvertNumber( @lp_buyordtotamt, 3)
declare @lv_curexcrte as decimal(9,5) = dbo.ConvertNumber( @lp_curexcrte, 5 )
declare @lv_buyordstrdte as smalldatetime = dbo.ConvertDate( @lp_buyordstrdte )
declare @lv_buyordenddte as smalldatetime = dbo.ConvertDate( @lp_buyordenddte )

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
  begin
    DECLARE @lv_autmdlcod as nvarchar(3) = 'BUY'
    DECLARE @lv_autprgcod as nvarchar(3) = ''

    if @lp_sysoperation='01' -- x clase de documento
      set @lp_objtyp = (select top 1 objtyp from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
    if @lp_sysoperation='02' or @lp_sysoperation='03' or @lp_sysoperation='04' -- x documento
      set @lp_objtyp = (select top 1 dc.objtyp from buy_ord d inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod where dc.buscod=@lp_buscod and d.buyordcod=@lp_buyordcod)
    if @lp_sysoperation='08'
      begin
        if charindex( 'dc.objtyp='+QUOTENAME('BUY_ORD',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lp_objtyp = 'BUY_ORD'
        if charindex( 'dc.objtyp='+QUOTENAME('BUY_REQ',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lp_objtyp = 'BUY_REQ'
      end
    set @lv_autprgcod = (select substring(@lp_objtyp, 5, 3))

    if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
      begin
        select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
        return
      end
  end
    


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		-- agrego cabecera de documento
		INSERT INTO BUY_ORD (buscod, buyordcodext, buyordtxt, buyorddte, 
			buyordtotamt, curcod, curexcrte, buyordstrdte, buyordenddte, 
			srcobjtyp, srcobjcod, sysdocclscod, sysdoctrecod, paytrmcod, finceccod,
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_buyordcodext, @lp_buyordtxt, @lv_buyorddte,  
			@lv_buyordtotamt, @lp_curcod, @lv_curexcrte, @lv_buyordstrdte, @lv_buyordenddte, 
			@lp_srcobjtyp, @lp_srcobjcod, @lp_sysdocclscod, 'N', @lp_paytrmcod, @lp_finceccod,
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_buyordcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyordcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE BUY_ORD
		SET	buyordcodext = @lp_buyordcodext,
			buyordtxt = @lp_buyordtxt,
			buyorddte = @lv_buyorddte,
			srcobjtyp = @lp_srcobjtyp, 
			srcobjcod = @lp_srcobjcod,
			buyordtotamt = @lv_buyordtotamt,
			curcod = @lp_curcod,
			curexcrte = @lv_curexcrte, 
			buyordstrdte = @lv_buyordstrdte,
			buyordenddte = @lv_buyordenddte, 
			sysdocrejcod = @lp_sysdocrejcod,
			paytrmcod = @lp_paytrmcod,
			finceccod = @lp_finceccod,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and buyordcod=@lp_buyordcod
		  and not docsts = 'C'
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_buyordcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT o.*, dc.sysdocclstxt, a.adrnme001 as srcobjtxt, 
				dt.sysdoctretxt, dr.sysdocrejtxt, pt.paytrmtxt, fc.fincectxt
		FROM buy_ord o
		left join SYS_DOC_CLS dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod
		left join sys_doc_rej dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod 
		left join sys_doc_tre dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod 
		left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod 
		LEFT join fin_cec     fc on fc.buscod=o.buscod and fc.finceccod=o.finceccod
		left join GRL_DAT_ADR a on a.BusCod=o.BusCod and a.AdrSrcTyp=o.SrcObjTyp and a.AdrSrcCod=cast(o.SrcObjCod as nvarchar(20))
		WHERE o.buscod = @lp_buscod
		  and o.buyordcod = @lp_buyordcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		declare @lv_objtyp as nvarchar(20)
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyordcod=@lp_buyordcod)

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_buyordcod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro materiales del documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM BUY_ORD_MAT 
				WHERE buscod = @lp_buscod
				  and buyordcod = @lp_buyordcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro texto
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'BUY_ORD', @lp_buyordcod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM BUY_ORD
				WHERE buscod = @lp_buscod
				  and buyordcod = @lp_buyordcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_buyordcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		-- buy_ord_def '08','mdominguez','temasis_hlt'
		-- BUY_ORD_DEF '08','TEMASIS','TEMASIS_LOG','','','','','','','','','','','<VIEW><VEWFLT> AND (DC.OBJTYP=^BUY_ORD^) AND (DC.OBJTYP=^BUY_ORD^)</VEWFLT><VEWGRP></VEWGRP><VEWGRPCAL></VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD></VEWORD><VEWMAX>101</VEWMAX></VIEW>','','','',null,'',''

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' o.*, dc.sysdocclstxt, dt.sysdoctretxt, dr.sysdocrejtxt, a.adrnme001 as srcobjtxt, '
			+ ' pt.paytrmtxt, fc.fincectxt ',
			' buy_ord o '
			+ ' inner join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join GRL_DAT_ADR a on a.BusCod=o.BusCod and a.AdrSrcTyp=o.SrcObjTyp and a.AdrSrcCod=cast(o.SrcObjCod as nvarchar(20))'
			+ ' left join sys_doc_rej dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod '
			+ ' left join sys_doc_tre dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod '
			+ ' left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod '
			+ ' LEFT join fin_cec     fc on fc.buscod=o.buscod and fc.finceccod=o.finceccod ',
			' o.buscod='+QUOTENAME(@lp_buscod, '''')
			+ dbo.getUserRestrictions(@lp_buscod, @lp_username, '<objref>o.srcobjtyp,o.srcobjtyp</objref>')
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('BUY_REQ','''')+', dc.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('BUY_ORD','''')+', dc.autcod)=1 ',
			' o.ctedte desc ', 'srcobjtxt;a.adrnme001')
		execute( @lv_sql )
		
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
