USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DOC_FLW_POS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DOC_FLW_POS_DEF]

@lp_sysoperation 	as nvarchar(2),			-- operacion
@lp_username 		as nvarchar(20),		-- operacion - usuario
@lp_buscod			as nvarchar(20) = null,	-- empresa

@lp_docflwposcod	as int			= null,	-- id
@lp_srcobjtyp		as nvarchar(20) = null,	-- doc referenciado - tipo
@lp_srcobjcod		as int			= null,	-- doc referenciado - id
@lp_srcposcod		as int			= null,	-- doc referenciado - id posicion
@lp_refobjtyp		as nvarchar(20) = null,	-- doc que referencia - tipo
@lp_refobjcod		as int			= null,	-- doc que referencia - id
@lp_refposcod		as int			= null,	-- doc que referencia - id posicion
@lp_refposqty		as bigint		= null,	-- cantidad
@lp_refposuntcod	as nvarchar(05)	= null,	-- unidad de medida
@lp_srcobjclscod	as int			= null,	-- clase de documento del doc de origen
@lp_refobjclscod	as int			= null,	-- clase de documento del doc referenciado
@lp_docsts			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuracion vista

@lp_errcod			as int			= 0	OUTPUT,
@lp_errtxt			as nvarchar(max)=null	OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_srcposqty as decimal(13,3)
declare @lv_refsrcqty as decimal(13,3)
declare @lv_refposqty as decimal(13,3) = dbo.ConvertNumber( @lp_refposqty , 3 )

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--    I N I C I A L I Z A C I O N
--    obtengo ID del documento de referencia
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('02', '12', '14','24', '04')
	BEGIN
		-- antes de actualizar o borrar el documento, obtengo el documento de referencia
		if isnull(@lp_srcobjtyp,'')='' and isnull(@lp_srcobjcod,'')='' and not isnull(@lp_refobjtyp,'')='' and not ISNULL(@lp_refobjcod,'')=''
			select top 1 @lp_srcobjtyp=srcobjtyp, @lp_srcobjcod=srcobjcod 
			from grl_doc_flw_pos 
			where buscod=@lp_buscod and refobjtyp=@lp_refobjtyp and refobjcod=@lp_refobjcod
	END

IF @lp_sysoperation IN ('01', '02', '12', '14','24')
	BEGIN
  	-- si aÃºn asÃ­ no se encontrÃ³ un documento referenciado, actualizar el estado de tratamiento del documento que referencia
		if isnull(@lp_srcobjtyp,'')='' and isnull(@lp_srcobjcod,'')='' and not isnull(@lp_refobjtyp,'')='' and not ISNULL(@lp_refobjcod,'')=''
    	BEGIN
      	if @lp_sysoperation='02'
        	begin
          	exec GRL_DOC_FLW_DEF '06', @lp_username, @lp_buscod, null, @lp_refobjtyp, @lp_refobjcod, @lp_refposcod, @lp_refposqty, null, null, null, @lp_errcod OUTPUT, @lp_errtxt OUTPUT
        		return
          end
        else
        	begin
            select @lp_srcobjtyp=@lp_refobjtyp, @lp_srcobjcod=@lp_refobjcod 
            set @lp_sysoperation='12'
          end
      END
  END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_refsrcqty = (select top 1 refposqty from grl_doc_flw_pos where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and srcposcod=@lp_srcposcod and isnull(refobjtyp,'')='')
		
    -- controlo que la cantidad de la posiciÃ³n no sea inferior a la sumatoria de las cantidades ya referenciadas
		IF @lv_refsrcqty is not null and isnull(@lv_refposqty,0) > isnull(@lv_refsrcqty,0)
			begin
				set @lp_errcod = -11
				set @lp_errtxt = 'Solo se pueden referenciar ['+cast(@lv_refsrcqty as nvarchar(20))+']'
				return
			end

		-- obtengo cantidad del documento a referenciar
		if(@lp_srcobjtyp='STK_SIN' or @lp_srcobjtyp='STK_SOU')
			set @lv_srcposqty = (select top 1 matqty from stk_mov_doc_mat where buscod=@lp_buscod and stkmovdoccod=@lp_srcobjcod and stkmovdocmatcod=@lp_srcposcod)
		if(@lp_srcobjtyp='SLS_QTA' or @lp_srcobjtyp='SLS_ORD')
			set @lv_srcposqty = (select top 1 matqty from sls_ord_mat where buscod=@lp_buscod and slsordcod=@lp_srcobjcod and slsordmatcod=@lp_srcposcod)
		if(@lp_srcobjtyp = 'SLS_INV' or @lp_srcobjtyp='SLS_CRE' or @lp_srcobjtyp='SLS_DEB')
      begin
        if @lp_srcobjtyp = 'SLS_INV' and @lp_refobjtyp like 'TSR_%'
          set @lv_srcposqty = (select top 1 slsinvtotamt from sls_inv where buscod=@lp_buscod and slsinvcod=@lp_srcobjcod)
        else
          set @lv_srcposqty = (select top 1 matqty from sls_inv_mat where buscod=@lp_buscod and slsinvcod=@lp_srcobjcod and slsinvmatcod=@lp_srcposcod)
      end
		if(@lp_srcobjtyp='BUY_ORD' or @lp_srcobjtyp='BUY_REQ')
			set @lv_srcposqty = (select top 1 matqty from buy_ord_mat where buscod=@lp_buscod and buyordcod=@lp_srcobjcod and buyordmatcod=@lp_srcposcod)
		if(@lp_srcobjtyp='BUY_INV' or @lp_srcobjtyp='BUY_CRE' or @lp_srcobjtyp='BUY_DEB')
    	begin
        if @lp_srcobjtyp = 'BUY_INV' and @lp_refobjtyp like 'TSR_%'
          set @lv_srcposqty = (select top 1 buyinvtotamt from buy_inv where buscod=@lp_buscod and buyinvcod=@lp_srcobjcod)
        else
					set @lv_srcposqty = (select top 1 matqty from buy_inv_mat where buscod=@lp_buscod and buyinvcod=@lp_srcobjcod and buyinvmatcod=@lp_srcposcod)
      end
		if(@lp_srcobjtyp in ('EDU_LQC', 'SLS_SVL', 'STK_MCS', 'STK_MCO'))
			set @lv_srcposqty = 1
    
		-- agrego cabecera si no existe
		if @lp_errcod=0
			begin
				set @lv_srcposqty = isnull(@lv_srcposqty,0) * 1000
				exec GRL_DOC_FLW_DEF '01',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,@lp_srcposcod,@lv_srcposqty,@lp_refposuntcod,'A',null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT
			end
    
		-- agrego el registro de referencia/posiciÃ³n
    IF @lp_errcod=0
    	BEGIN
        INSERT INTO GRL_DOC_FLW_POS (buscod, srcobjtyp, srcobjcod, srcposcod, refobjtyp, refobjcod, refposcod, refposqty, refposuntcod, docsts, ctedte, cteusr, srcobjclscod, refobjclscod)
        VALUES (@lp_buscod, upper(@lp_srcobjtyp), @lp_srcobjcod, @lp_srcposcod, upper(@lp_refobjtyp), @lp_refobjcod, @lp_refposcod, @lv_refposqty, @lp_refposuntcod, @lp_docsts, getdate(), @lp_username, @lp_srcobjclscod, @lp_refobjclscod)
        SET @lp_errcod=@@ERROR
        SET @lp_docflwposcod=@@IDENTITY
      END
	
		-- FLUJO. actualizo totales de documento referenciado
		if @lp_errcod=0
			exec GRL_DOC_FLW_DEF '02',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,@lp_srcposcod,@lp_refposqty,@lp_refposuntcod,'A',null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT
   	
    -- actualizo estado de tratamiento del doc que hace la referencia
    if @lp_errcod=0
      exec GRL_DOC_FLW_POS_DEF '12', @lp_username, @lp_buscod, null, @lp_refobjtyp, @lp_refobjcod, null, null, null, null, null, null, null, null, null, null, @lp_errcod OUTPUT, @lp_errtxt OUTPUT
 	
		IF not @lp_errcod=0
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		declare @lv_refposqtysrc as decimal(13,3)

		-- obtengo la cantidad original que se habia referenciado
		set @lv_refsrcqty = (select top 1 refposqty from grl_doc_flw_pos where buscod=@lp_buscod and refobjtyp=@lp_refobjtyp and refobjcod=@lp_refobjcod and refposcod=@lp_refposcod)

		-- obtengo el saldo y cantidad original del documento de referenciado
		select top 1 @lv_srcposqty=srcposqty, @lv_refposqtysrc=refposqty from grl_doc_flw_pos where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and srcposcod=@lp_srcposcod

		-- controlo que la cantidad de la posicion no sea inferior a la sumatoria de las cantidades ya referenciadas
		IF @lv_refposqty>@lv_refsrcqty+@lv_refposqtysrc
			begin
				set @lp_errcod = -12
				set @lp_errtxt = 'No se puede referenciar mas de '+convert(varchar,@lv_refsrcqty+@lv_refposqtysrc)+'. Existen documentos referenciados.'
				return
			end 

		-- actualizo cantidad de referencia de la posicion
		IF @lp_errcod=0
			BEGIN
				UPDATE GRL_DOC_FLW_POS
				SET RefPosQty = isnull(@lv_refposqty,0)
				WHERE buscod=@lp_buscod
				  and refobjtyp=@lp_refobjtyp
				  and refobjcod=@lp_refobjcod
				  and refposcod=@lp_refposcod
				  and isnull(refobjtyp,'')=''
				SET @lp_errcod = @@ERROR
			END

		-- FLUJO. actualizo totales de documento referenciado
		if @lp_errcod=0
			exec GRL_DOC_FLW_DEF '02',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,@lp_srcposcod,null,@lp_refposuntcod,'A',null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT
			
    if @lp_errcod=0
    	exec GRL_DOC_FLW_DEF '06', @lp_username, @lp_buscod, null, @lp_refobjtyp, @lp_refobjcod, @lp_refposcod, @lp_refposqty, null, null, null, @lp_errcod OUTPUT, @lp_errtxt OUTPUT
 
	END


	
-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- verifico si se puede borrar la referencia
		if exists(select top 1 * from GRL_DOC_FLW_POS where buscod=@lp_buscod and srcobjtyp=@lp_refobjtyp and srcobjcod=@lp_refobjcod and srcposcod=@lp_refposcod and not isnull(refobjtyp,'')='')
			begin
				set @lp_errcod = -10
				set @lp_errtxt = 'No se puede borrar la posicion del documento. Existen documentos relacionados.'
				return
			end
    
    -- reviso que el ID del documento de origen no sea nulo (que exista documento previo)
    IF @lp_srcobjcod IS NOT null AND @lp_srcobjcod <> ''
    	BEGIN
      	-- obtengo la cantidad referenciada
        set @lv_refposqty = (select top 1 refposqty from grl_doc_flw_pos where buscod=@lp_buscod and refobjtyp=@lp_refobjtyp and refobjcod=@lp_refobjcod and refposcod=@lp_refposcod)*(-1)
        set @lv_refposqty =  @lv_refposqty * 1000
         
        -- borro el registro de referencia
        IF @lp_errcod=0
          BEGIN
            DELETE
            FROM grl_doc_flw_pos
            WHERE buscod=@lp_buscod
              and refobjtyp=@lp_refobjtyp
              and refobjcod=@lp_refobjcod
              and refposcod=@lp_refposcod
            SET @lp_errcod=@@ERROR
          END
          
        -- FLUJO. actualizo totales de documento referenciado
        if @lp_errcod=0
          exec GRL_DOC_FLW_DEF '02',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,@lp_srcposcod,@lv_refposqty,@lp_refposuntcod,'A',null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT
      
        IF not @lp_errcod=0
        	BEGIN
            set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
            RETURN
          END
      END
      
    -- continua la ejecuciÃ³n solo para actualizar el estado de tratamiento del documento de REF (dueÃ±o de la posiciÃ³n eliminada)
    if @lp_errcod=0
    	exec GRL_DOC_FLW_POS_DEF '34', @lp_username, @lp_buscod, null, @lp_refobjtyp, @lp_refobjcod, @lp_refposcod, null, null, null, null, null, null, null, null, null, @lp_errcod OUTPUT, @lp_errtxt OUTPUT
 
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' fp.* ', ' grl_doc_flw_pos fp ', ' fp.buscod='+QUOTENAME(@lp_buscod,''''), default, default )
		execute( @lv_sql )

	END



------------------------------------------------------------------------------
--
--  S T A T U S    D E   T R A T A M I E N T O
--  actualiza status de tratamiento del documento referenciado
--
------------------------------------------------------------------------------
IF @lp_sysoperation IN ('01', '02', '12', '14', '24', '34')
	BEGIN
		SET @lv_validop = 1    

  	declare @lv_hedtbl as nvarchar(21)
  	declare @lv_postbl as nvarchar(21)
		declare @lv_hedtblkey as nvarchar(15)
		declare @lv_postblkey as nvarchar(15)
		declare @lv_sysdoctrecod as nvarchar(2)
		declare @lv_rowqty as int
		declare @lv_sysdocrejcod as int
		declare @lv_systbl nvarchar(30) = (case lower(DB_NAME()) WHEN 'tmsstemasisdev' then 'tmssSysDev' else 'tmssSysPrd' end)+'.dbo.sys_obj_typ'
		
		-- recupero la tabla de posiciones y el campo de id de cabecera
		SET @lv_sql = 'SELECT @lv_hedtbl = objtyptbl, @lv_postbl = objtyptblpos, @lv_hedtblkey = objtypkey, @lv_postblkey = objtyptblposkey FROM ' + @lv_systbl + ' WHERE objtypcod = @lp_srcobjtyp'

		-- ejecucion de la consulta dinamica
		EXEC sp_executesql 
			@lv_sql,
			N'@lp_srcobjtyp NVARCHAR(128), 
			  @lv_hedtbl NVARCHAR(128) OUTPUT, 
			  @lv_postbl NVARCHAR(128) OUTPUT, 
			  @lv_hedtblkey NVARCHAR(128) OUTPUT, 
			  @lv_postblkey NVARCHAR(128) OUTPUT',
			@lp_srcobjtyp = @lp_srcobjtyp,
			@lv_hedtbl = @lv_hedtbl OUTPUT,
			@lv_postbl = @lv_postbl OUTPUT,
			@lv_hedtblkey = @lv_hedtblkey OUTPUT,
			@lv_postblkey = @lv_postblkey OUTPUT

    -- recupero la cantidad de posiciones que hay para el documento de cabecera 
    SET @lv_sql = 'SELECT @lv_rowqty=COUNT(*) FROM '+ISNULL(@lv_postbl, '')+' WHERE buscod='''+ISNULL(CAST(@lp_buscod AS NVARCHAR), '')+''' AND '+ISNULL(@lv_hedtblkey, '')+'='+ISNULL(CAST(@lp_srcobjcod AS NVARCHAR), '0')
    
    -- ejecuto la consulta dinamica y asigno el resultado a la variable
    EXEC sp_executesql @lv_sql, N'@lp_buscod NVARCHAR(20), @lp_srcobjcod INT, @lv_rowqty INT OUTPUT', @lp_buscod, @lp_srcobjcod, @lv_rowqty OUTPUT

		-- le resto en 1 la cantidad de posiciones si la posiciÃ³n se va a eliminar (el flujo se ejecuta antes de eliminar la posiciÃ³n en su tabla)
		SET @lv_rowqty = @lv_rowqty - (case when @lp_sysoperation='34' and @lv_rowqty>=1 then 1 else 0 end)

    -- recupero estado de rechazo
    IF COL_LENGTH(@lv_hedtbl, 'sysdocrejcod') IS NOT NULL
    BEGIN
      SET @lv_sql = ' SELECT @lv_sysdocrejcod=sysdocrejcod FROM '+ISNULL(@lv_hedtbl, '')+' WHERE buscod='''+ISNULL(CAST(@lp_buscod AS NVARCHAR), '')+''' AND '+ISNULL(@lv_hedtblkey, '')+'='+ISNULL(CAST(@lp_srcobjcod AS NVARCHAR), '0')
      EXEC sp_executesql @lv_sql, N'@lv_sysdocrejcod INT OUTPUT', @lv_sysdocrejcod OUTPUT
    END

    IF COL_LENGTH(@lv_postbl, 'sysdoctrecod') IS NOT NULL
    BEGIN
      -- actualizo status de tratamiento de todas las posiciones
      SET @lv_sql = 'UPDATE ht SET ht.sysdoctrecod = (CASE WHEN fp.buscod IS NULL THEN ''N'' WHEN fp.refposqty = fp.srcposqty THEN ''N'' WHEN fp.refposqty = 0 THEN ''C'' ELSE ''P'' END) '
             + 'FROM ' + ISNULL(@lv_postbl, '') + ' ht '
             + 'LEFT JOIN grl_doc_flw_pos fp ON fp.buscod = ht.buscod '
               + 'AND fp.srcobjtyp = ''' + ISNULL(CAST(@lp_srcobjtyp AS NVARCHAR), '') + ''' '
               + 'AND fp.srcobjcod = ' + ISNULL(CAST(@lp_srcobjcod AS NVARCHAR), '0') + ' '
               + 'AND fp.srcposcod = ht.' + ISNULL(@lv_postblkey, '') + ' '
               + 'AND ISNULL(fp.refobjtyp, '''') = '''' '
             + 'WHERE ht.buscod = ''' + ISNULL(CAST(@lp_buscod AS NVARCHAR), '') + ''' '
             + 'AND ht.' + ISNULL(@lv_hedtblkey, '') + ' = ' + ISNULL(CAST(@lp_srcobjcod AS NVARCHAR), '0')

      execute( @lv_sql )
      SET @lp_errcod = @@ERROR

      -- determino status de tratamiento de cabecera
      if @lp_errcod = 0 and COL_LENGTH(@lv_hedtbl, 'sysdoctrecod') IS NOT NULL
      BEGIN
        -- Si esta rechazado, tratamiento = completo
        -- Si todas las posiciones son NO TRATADAS, tratamiento = No Tratado
        -- Si todas las posiciones estan COMPLETAS o (rechazadas), tratamiento = Completo
        -- Si no, tratamiento = Parcial
        SET @lv_sql = '
          SET @lv_sysdoctrecod = 
          CASE 
            WHEN NOT isnull(@lv_sysdocrejcod, '''') in ('''',0) OR 
            (@lv_rowqty = (
              SELECT COUNT(*) 
              FROM ' + @lv_postbl + ' 
              WHERE buscod = @lp_buscod 
              AND ' + @lv_hedtblkey + ' = @lp_srcobjcod
              AND ( sysdoctrecod=''C'' or not isnull(sysdocrejcod,0)=0 ) 
              '+(case when @lp_sysoperation='34' then ' AND not ' + @lv_postblkey + '= @lp_srcposcod' else '' end)+'
            ) AND @lv_rowqty>0) THEN ''C''
            WHEN @lv_rowqty = (
              SELECT COUNT(*) 
              FROM ' + @lv_postbl + ' 
              WHERE buscod = @lp_buscod 
              AND ' + @lv_hedtblkey + ' = @lp_srcobjcod
              AND sysdoctrecod = ''N'' 
              AND isnull(sysdocrejcod, 0) = 0 
              '+(case when @lp_sysoperation='34' then ' AND not ' + @lv_postblkey + '= @lp_srcposcod' else '' end)+'
            ) THEN ''N''
            ELSE ''P'' END'

        -- ejecucion de la consulta dinamica usando sp_executesql
        EXEC sp_executesql 
          @lv_sql, 
          N'@lp_buscod NVARCHAR(255), @lp_srcposcod INT, @lp_srcobjcod INT, @lv_rowqty INT, @lv_sysdocrejcod NVARCHAR(255), @lv_sysdoctrecod NVARCHAR(2) OUTPUT', 
          @lp_buscod = @lp_buscod, 
					@lp_srcposcod = @lp_srcposcod,
          @lp_srcobjcod = @lp_srcobjcod, 
          @lv_rowqty = @lv_rowqty, 
          @lv_sysdocrejcod = @lv_sysdocrejcod, 
          @lv_sysdoctrecod = @lv_sysdoctrecod OUTPUT;
 
        set @lv_sql = 'UPDATE '+@lv_hedtbl+' SET sysdoctrecod = '''+CAST(@lv_sysdoctrecod AS NVARCHAR)+''' WHERE buscod = '''+CAST(@lp_buscod AS NVARCHAR)+''' AND '+@lv_hedtblkey+' = '+CAST(@lp_srcobjcod AS NVARCHAR)

        execute( @lv_sql )
      END 
		END
  END



IF @lv_validop = 0		 --  C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN
		set @lp_errcod = -999
		set @lp_errtxt = 'El codigo de operacion <'+@lp_sysoperation+'> no es valido'
		return
	END
GO
