USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_TRN_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,	/* empresa */
@lp_trncod			as int			 = null,	/* id torneo */
@lp_trntxt			as nvarchar(50)  = null,	/* descripción */
@lp_trnyth			as int			 = null,	/* año */
@lp_actcod			as nvarchar(20)	 = null,	/* id actividad */
@lp_docsts 			as nvarchar(2)	 = null,	/* estado */
@lp_trncodrel		as int			 = null,	/* id torneo relacionado */

@lp_vewcfg			as nvarchar(4000)= null		/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Torneo inválido.											*/
/*	-2	No se puede borrar el torneo. Existen partidos asociados.	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   V A L I D A C I O N E S										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	
		IF not isnull(@lp_trncodrel,0)=0
			IF (select count(*) from spt_trn where buscod=@lp_buscod and trncod=@lp_trncodrel)=0
				BEGIN
					SELECT null, -1 as errcod, 'Torneo inválido.' as errtxt
					RETURN
				END
	
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R											*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SPT_TRN 
			(buscod, trntxt, trnyth, actcod, trncodrel,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_trntxt, @lp_trnyth, @lp_actcod, @lp_trncodrel,
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_trncod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_trncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_TRN 
		SET	trntxt = @lp_trntxt,
			trnyth = @lp_trnyth,
			actcod = @lp_actcod,
			trncodrel=@lp_trncodrel,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod	
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_trncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT z.*, t.acttxt
		FROM SPT_TRN z
		left join SPT_ACT t on t.buscod=z.buscod and t.actcod=z.actcod
		WHERE z.buscod = @lp_buscod
		  and z.trncod = @lp_trncod
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF (select count(*) from SPT_trn_zne_mch where buscod=@lp_buscod and trncod=@lp_trncod)>0
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar el torneo. Existen partidos asociados.' as errtxt
				RETURN
			END
			
		BEGIN TRAN

		/* borro asociación zonas-torneo */						
		DELETE
		FROM SPT_TRN_ZNE_EQM
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		SET @lv_errcod=@@ERROR

		/* borro zonas del torneo */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SPT_TRN_ZNE
				WHERE buscod = @lp_buscod
				  and trncod = @lp_trncod
				SET @lv_errcod=@@ERROR
			END
			
		/* borro asociación jugadores-equipos */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SPT_TRN_EQM_PLY
				WHERE buscod = @lp_buscod
				  and trncod = @lp_trncod
				SET @lv_errcod=@@ERROR
			END
		
		/* borro equipos */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SPT_TRN_EQM
				WHERE buscod = @lp_buscod
				  and trncod = @lp_trncod
				SET @lv_errcod=@@ERROR
			END
		
		/* borro torneo */						
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TRN
				WHERE buscod = @lp_buscod
				  and trncod = @lp_trncod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_trncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
					
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, a.acttxt, t2.trntxt as trntxtrel '
			+ ' FROM SPT_TRN t '
			+ ' left join SPT_ACT a on a.buscod=t.buscod and a.actcod=t.actcod '
			+ ' left join SPT_TRN t2 on t2.buscod=t.buscod and t2.trncodrel=t.trncodrel '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 3    -    L I S T A R	x	N O M B R E										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM SPT_TRN
		WHERE buscod=@lp_buscod
		  and trntxt like '%'+@lp_trntxt+'%'
		  and docsts='A'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
