USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRF_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_TRF_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_spttrfcod		as int			= null,	-- id 
@lp_spttrfcodext	as nvarchar(20)	= null, -- codigo 
@lp_spttrftxt		as nvarchar(50) = null,	-- descripciÃ³n 
@lp_spttrftypcod	as nvarchar(2)	= null,	-- tipo 

@lp_spttrfvercod	as int			= null, -- id version 
@lp_spttrfverstrdte	as nvarchar(14)	= null, -- fecha inicio 
@lp_spttrfverenddte	as nvarchar(14)	= null, -- fecha fin 

@lp_docsts 			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null	-- configuraciÃ³n de la vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT
declare @lv_errtxt as nvarchar(max) = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_spttrfverstrdte as datetime = dbo.ConvertDate( @lp_spttrfverstrdte )

declare @lv_spttrfverenddte as datetime = dbo.ConvertDate( @lp_spttrfverenddte )

-- ------------------------------------------------------------------------ 
--	E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Codigo existente.													
--	-4	Existen socios con conceptos asociados. No se puede borrar.			
--	-5	Existen actividades con conceptos asociados. No se puede borrar.	
--	-6	Existen torneos con conceptos asociados. No se puede borrar.		
-- ------------------------------------------------------------------------ 

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SPT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TRF'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		-- valido codigo externo duplicado 
		if not isnull(@lp_spttrfcodext,'')=''
			begin
				IF exists(select top 1 * from SPT_TRF where buscod=@lp_buscod and not spttrfcod=@lp_spttrfcod and spttrfcodext=@lp_spttrfcodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		INSERT INTO SPT_TRF (buscod, spttrfcodext, spttrftxt, spttrftypcod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_spttrfcodext, @lp_spttrftxt, @lp_spttrftypcod, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_spttrfcod=@@IDENTITY

		-- agrego la versiÃ³n inicial de la lista de precios 
		IF @lv_errcod=0
			EXECUTE SPT_TRF_VER_DEF '11',@lp_username,@lp_buscod,null,@lp_spttrfcod,@lp_spttrfverstrdte,@lp_spttrfverenddte,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT,@lp_spttrfvercod OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_spttrfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg, @lp_spttrfvercod as spttrfvercod
	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE SPT_TRF 
		SET	spttrfcodext = @lp_spttrfcodext,
    	spttrftxt = @lp_spttrftxt,
			spttrftypcod = @lp_spttrftypcod,
			docsts	  = @lp_docsts,
			updusr	  = @lp_username,
			upddte	  = getdate()
		WHERE buscod = @lp_buscod
		  and spttrfcod = @lp_spttrfcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_spttrfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg, @lp_spttrfvercod as spttrfvercod
	END

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*, tt.spttrftyptxt, tv.spttrfvercod, tv.spttrfverstrdte, tv.spttrfverenddte
		FROM SPT_TRF t
			inner join SPT_TRF_TYP tt on tt.buscod=t.buscod and tt.spttrftypcod=t.spttrftypcod 
			left join spt_trf_ver tv on tv.buscod=t.buscod and tv.spttrfcod=t.spttrfcod
		WHERE t.buscod = @lp_buscod
		  and t.spttrfcod = @lp_spttrfcod
		  and tv.spttrfvercod=(case when isnull(@lp_spttrfvercod,0)=0 then 
								(case when exists(select top 1 * from spt_trf_ver where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod and getdate() between spttrfverstrdte and spttrfverenddte) then
									(select top 1 spttrfvercod from spt_trf_ver where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod and getdate() between spttrfverstrdte and spttrfverenddte)
								else
									tv.spttrfvercod 
								end)
							else 
								@lp_spttrfvercod 
							end)
		  
	END

-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		-- aranceles adicionales 
		IF exists(select top 1 * from SPT_PTN_TRF where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod)
			BEGIN
				SELECT null, -4 as errcod, 'Existen socios con conceptos asociados. No se puede borrar.' as errmsg
				RETURN
			END

		-- aranceles de actividades 
		IF exists(select top 1 * from SPT_ACT_TRF where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod)
			BEGIN
				SELECT null, -5 as errcod, 'Existen actividades con conceptos asociados. No se puede borrar.' as errmsg
				RETURN
			END

		-- aranceles de actividades 
		IF exists(select top 1 * from SPT_TRN_TRF where buscod=@lp_buscod and spttrfcod=@lp_spttrfcod)
			BEGIN
				SELECT null, -6 as errcod, 'Existen torneos con conceptos asociados. No se puede borrar.' as errmsg
				RETURN
			END

		BEGIN TRAN
				
		-- borro rango de tarifa 
		DELETE
		FROM SPT_TRF_LST
		WHERE buscod=@lp_buscod
		  and spttrfcod=@lp_spttrfcod
		SET @lv_errcod=@@ERROR

		-- borro versiones 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM SPT_TRF_VER
				WHERE buscod=@lp_buscod
				  and spttrfcod=@lp_spttrfcod
				SET @lv_errcod=@@ERROR
			END

		-- borro tarifa 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TRF
				WHERE buscod = @lp_buscod
				  and spttrfcod = @lp_spttrfcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spttrfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg, @lp_spttrfvercod as spttrfvercod
		
	END

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		-- spt_trf_def '08','temasis','temasis_spt' 
		
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, tt.spttrftyptxt '
			+ ' FROM SPT_TRF t '
			+ ' inner join SPT_TRF_TYP tt on tt.buscod=t.buscod and tt.spttrftypcod=t.spttrftypcod '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END

-- ------------------------------------------------------------------------ 
--   1 8    -    L I S T A R     N O M B R E S								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM SPT_TRF '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and SptTrfCls='+QUOTENAME('D','''')
			+ ' and spttrftxt like '+QUOTENAME('%'+@lp_spttrftxt+'%','''')
			+ ' and docsts='+QUOTENAME('A','''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
