USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_PAY_TRM_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_PAY_TRM_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,					-- empresa 
@lp_paytrmcod		as int			= null,							-- id 
@lp_paytrmcodext	as nvarchar(20)	= null,				-- codigo 
@lp_paytrmtxt		as nvarchar(50)	= null,					-- descripciÃ³n 
@lp_paytrmgrp		as nvarchar(05)	= null,					-- grupo (D-deudor / A-acreedor / null-Ambos) 
@lp_paytrmbseduedte as nvarchar(05) = null,		  -- fecha base - tipo  
@lp_paytrmbseduedteqty as int		= null,					-- fecha base - cantidad 
@lp_paytrmbseduedtefnc as nvarchar(4000)=null, 	-- fecha base - funciÃ³n 
@lp_paytrmatr		as nvarchar(4000)=null,					-- atributos 
@lp_docsts			as nvarchar(02)	= null,					-- estado 

@lp_vewcfg			as nvarchar(max)=null	-- configuraciÃ³n vista 

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PYT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
    BEGIN
    IF not isnull(@lp_paytrmcodext,'')=''
      BEGIN
        IF exists(select top 1 * from FIN_PAY_TRM where buscod=@lp_buscod and not paytrmcod=@lp_paytrmcod and paytrmcodext=@lp_paytrmcodext)
          BEGIN
            SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
            RETURN
          END
      END
  END
  


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_PAY_TRM
			(buscod, paytrmcodext, paytrmtxt, paytrmgrp, paytrmbseduedte, paytrmbseduedteqty, paytrmbseduedtefnc, paytrmatr,
			docsts, cteusr, ctedte)
		VALUES
			(@lp_buscod, @lp_paytrmcodext, @lp_paytrmtxt, @lp_paytrmgrp, @lp_paytrmbseduedte, @lp_paytrmbseduedteqty, @lp_paytrmbseduedtefnc, @lp_paytrmatr, 
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_paytrmcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_paytrmcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE FIN_PAY_TRM 
		SET	paytrmcodext=@lp_paytrmcodext,
			paytrmtxt= @lp_paytrmtxt,
			paytrmgrp = @lp_paytrmgrp, 
			paytrmbseduedte = @lp_paytrmbseduedte,
			paytrmbseduedteqty = @lp_paytrmbseduedteqty,
			paytrmbseduedtefnc = @lp_paytrmbseduedtefnc,
			paytrmatr = @lp_paytrmatr, 
			docsts	= @lp_docsts,	
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and paytrmcod = @lp_paytrmcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_paytrmcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM FIN_PAY_TRM
		WHERE buscod = @lp_buscod
		  and paytrmcod = @lp_paytrmcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE 
		FROM FIN_PAY_TRM
		WHERE buscod = @lp_buscod
		  and paytrmcod = @lp_paytrmcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_paytrmcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		-- fin_pay_trm_def '08','temasis','temasis_log' 
		declare @lv_paytrmgrptxt as nvarchar(400)
		set @lv_paytrmgrptxt = '(case t.paytrmgrp when '+QUOTENAME('D','''')+' then '+QUOTENAME('Deudor','''')+' when '+QUOTENAME('A','''')+' then '+QUOTENAME('Acreedor','''')+' else '+QUOTENAME('','''')+' end)'

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'paytrmgrptxt',@lv_paytrmgrptxt)

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = REPLACE(@lv_ord,'paytrmgrptxt',@lv_paytrmgrptxt)

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, '+@lv_paytrmgrptxt+' as paytrmgrptxt '
			+ '	FROM fin_pay_trm t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_paytrmgrp,'')='' then '' else ' and t.paytrmgrp='+QUOTENAME(@lp_paytrmgrp,'''') end)
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
