USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_TXT_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GRL_DAT_TXT_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_txttypcod		as int			= null,	/* id */
@lp_txttypcodext	as nvarchar(20)	= null,	/* codigo */
@lp_txttyptxt		as nvarchar(20)	= null,	/* descripcion */
@lp_txttypatr		as nvarchar(4000)= null,/* atributos */
@lp_objtyp			as nvarchar(20)	= null,	/* objeto */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración vista */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)




/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO GRL_DAT_TXT_TYP
			(buscod, txttypcodext, txttyptxt, txttypatr, objtyp,
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_txttypcodext, @lp_txttyptxt, @lp_txttypatr, @lp_objtyp,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_txttypcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_txttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_DAT_TXT_TYP 
		SET	txttypcodext=@lp_txttypcodext,
			txttyptxt=@lp_txttyptxt,
			txttypatr=@lp_txttypatr,
			objtyp = @lp_objtyp, 
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and txttypcod = @lp_txttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_txttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT tt.*
		FROM GRL_DAT_TXT_TYP tt
		WHERE tt.buscod = @lp_buscod
		  and tt.txttypcod = @lp_txttypcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		if exists(select top 1 * from grl_dat_txt where buscod=@lp_buscod and txttypcod=@lp_txttypcod)
			begin
				select null, -4 as errcod, 'No se puede borrar. Existen textos relacionados.' as errtxt
				return
			end
		
		BEGIN TRAN
		
		DELETE 
		FROM GRL_DAT_TXT_TYP
		WHERE buscod = @lp_buscod
		  and txttypcod = @lp_txttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_txttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' tt.* '
			+ '	FROM grl_dat_txt_typ tt '
			+ ' WHERE tt.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and tt.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
