USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_PER_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_PER_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_pernum 			as int			= null,	-- id
@lp_perbrndte 		as nvarchar(14)	= null,	-- fecha inicio actividades
@lp_persex 			as nvarchar(2)	= null,	-- id sexo
@lp_civstscod		as nvarchar(2)	= null,	-- id estado civil
@lp_pernatcod		as nvarchar(5)  = null,	-- id paÃ­s - nacionalidad

@lp_hhrmedcovcod	as int			= null,	-- cobertura medica - id
@lp_hhrmedcovtxt	as nvarchar(50)	= null,	-- cobertura medica - texto
@lp_hhrmedcovaflpln	as nvarchar(50)	= null, -- cobertura medica - plan 
@lp_hhrmedcovaflnum	as nvarchar(50)	= null,	-- cobertura medica - numero afiliado

@lp_persrctyp		as nvarchar(20)	= null,	-- origen - tipo
@lp_persrccod		as nvarchar(20) = null,	-- origen - id
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- configuraciÃ³n vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_perbrndte as datetime = dbo.ConvertDate( @lp_perbrndte )
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		
		if exists(select top 1 * from GRL_DAT_PER where buscod=@lp_buscod and persrctyp=@lp_persrctyp and persrccod=@lp_persrccod)
			begin
				SET @lp_pernum=(select top 1 pernum from GRL_DAT_PER where buscod=@lp_buscod and persrctyp=@lp_persrctyp and persrccod=@lp_persrccod)
				set @lp_sysoperation='02'
			end
		else
			set @lp_sysoperation='01'
	END

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO GRL_DAT_PER (buscod, perbrndte, persex, civstscod, pernatcod, persrctyp, persrccod, hhrmedcovcod, hhrmedcovtxt, hhrmedcovaflpln, hhrmedcovaflnum, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod,  @lv_perbrndte, @lp_persex, @lp_civstscod, @lp_pernatcod, @lp_persrctyp, @lp_persrccod, @lp_hhrmedcovcod, @lp_hhrmedcovtxt, @lp_hhrmedcovaflpln, @lp_hhrmedcovaflnum, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_pernum=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_pernum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END

-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_PER
		SET	perbrndte = @lv_perbrndte,
			persex = @lp_persex,
			civstscod = @lp_civstscod,  
			pernatcod = @lp_pernatcod,
			hhrmedcovcod = @lp_hhrmedcovcod,
			hhrmedcovtxt = @lp_hhrmedcovtxt,
			hhrmedcovaflpln = @lp_hhrmedcovaflpln,
			hhrmedcovaflnum = @lp_hhrmedcovaflnum,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and pernum = @lp_pernum
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_pernum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END

-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1
		
		SELECT p.*
		FROM GRL_DAT_PER p 
		WHERE p.buscod=@lp_buscod
		  and p.pernum=@lp_pernum
		
	END

-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		DELETE 
		FROM GRL_DAT_PER
		WHERE buscod=@lp_buscod
		  and pernum=@lp_pernum
		  and persrctyp=@lp_persrctyp
		  and persrccod=@lp_persrccod
		SET @lv_errcod=@@ERROR				
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_pernum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END

-- ------------------------------------------------------------------------
--   0 5    -    V E R	( por Origen )
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT p.*, ln.LndTxt as pernattxt, lc.CivStsTxt, mc.HhrMedCovCodExt, mc.HhrMedCovTxtSht
		FROM GRL_DAT_PER p
		left join GRL_DAT_LND ln on ln.LndCod=P.pernatcod
		left join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp=p.persrctyp and a.adrsrccod=p.persrccod
		left join GRL_DAT_LND_CIV lc on lc.LndCod=a.LndCod and lc.CivStsCod=p.CivStsCod
		left join HHR_MED_COV mc on mc.BusCod=p.buscod and mc.HhrMedCovCod=P.hhrmedcovcod 
		WHERE p.buscod=@lp_buscod
		  and p.persrctyp=@lp_persrctyp
		  and p.persrccod=@lp_persrccod
		
	END

-- ------------------------------------------------------------------------
--   0 8    -    L I S T A
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, ln.LndTxt as pernattxt, lc.CivStsTxt, mc.HhrMedCovCodExt, mc.HhrMedCovTxtSht '
			+ ' FROM GRL_DAT_PER p '
			+ ' left join GRL_DAT_LND ln on ln.LndCod=P.pernatcod '
			+ ' left join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp=p.persrctyp and a.adrsrccod=p.persrccod '
			+ ' left join GRL_DAT_LND_CIV lc on lc.LndCod=a.LndCod and lc.CivStsCod=p.CivStsCod '
			+ ' left join HHR_MED_COV mc on mc.BusCod=p.buscod and mc.HhrMedCovCod=P.hhrmedcovcod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
    
  END

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
