USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_SPC_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_SPC_GRP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_spcgrpcod 		as nvarchar(05)	= null,	-- id
@lp_spcgrpcodext	as nvarchar(20) = null, -- codigo
@lp_spcgrptxt		as nvarchar(50)	= null,	-- descripcion
@lp_docsts			as nvarchar(05) = null,	-- estado
@lp_spcgrpatr		as nvarchar(max)= null,	-- atributos
@lp_vewcfg			as nvarchar(max)= null	-- vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
	


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_SPC_GRP (buscod, spcgrpcodext, spcgrptxt, docsts, ctedte, cteusr, spcgrpatr)
		VALUES (@lp_buscod, @lp_spcgrpcodext, @lp_spcgrptxt, @lp_docsts, getdate(), @lp_username, @lp_spcgrpatr)
		SET @lv_errcod=@@ERROR
		SET @lp_spcgrpcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spcgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_SPC_GRP SET
			spcgrptxt = @lp_spcgrptxt,
			spcgrpcodext = @lp_spcgrpcodext,
			docsts = @lp_docsts,
			updusr = @lp_username,
			spcgrpatr = @lp_spcgrpatr,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and spcgrpcod = @lp_spcgrpcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spcgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*
		FROM HLT_SPC_GRP s
		WHERE s.buscod=@lp_buscod
		  and s.SpcGrpCod=@lp_spcgrpcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		IF exists(select top 1 * from hlt_spc where buscod=@lp_buscod and spcgrpcod=@lp_spcgrpcod)
			BEGIN
				SELECT null, -1 as errcod, 'El Grupo no se puede borrar. Se encuentra asociado a especialidad/es.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		DELETE
		FROM HLT_SPC_GRP
		WHERE buscod = @lp_buscod
		  and spcgrpcod = @lp_spcgrpcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spcgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- hlt_spc_grp_def '08','temasis','temasis_hlt'

		set @lv_sql = dbo.getsqlsentence(@lp_vewcfg,
						' g.* ',
						' HLT_SPC_GRP g ',
						' g.buscod='+QUOTENAME(@lp_buscod, ''''),
						' dbo.getTagValue('+QUOTENAME('ord','''')+',g.spcgrpatr) ',
						default);
		/*
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM HLT_SPC_GRP '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'spcgrptxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		*/

		execute( @lv_sql )
		--print @lv_sql

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
