USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_ARG_TRZ_AMT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[HLT_ARG_TRZ_AMT_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_trzamtcod		as int			= null,		/* id */
@lp_TrzTypCod		as nvarchar(20)	= null,		/* tipo trazabilidad */
@lp_TrzDat			as nvarchar(4000)=null,		/* información de trazabilidad */
@lp_cnfdte			as nvarchar(14)	= null,		/* fecha de confirmación */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* configuracion vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_cnfdte as datetime
set @lv_cnfdte = dbo.ConvertDate( @lp_cnfdte )

declare @lv_id_transaccion as bigint
declare @lv_id_transaccion_global as bigint
declare @lv_gln_origen as nvarchar(13)
declare @lv_gln_destino as nvarchar(13)
declare @lv_gtin as nvarchar(14)
declare @lv_lote as nvarchar(20)
declare @lv_numero_serial as nvarchar(20)
declare @lv_id_evento as nvarchar(20)
declare @lv_n_remito as nvarchar(20)
set @lv_id_transaccion = dbo.GetTagValue('id_transaccion', @lp_trzdat)
set @lv_id_transaccion_global = dbo.GetTagValue('id_transaccion_global', @lp_TrzDat)
set @lv_gln_origen = dbo.GetTagValue('gln_origen', @lp_trzdat)
set @lv_gln_destino = dbo.GetTagValue('gln_destino', @lp_trzdat)
set @lv_gtin = dbo.GetTagValue('gtin', @lp_trzdat)
set @lv_lote = dbo.GetTagValue('lote', @lp_trzdat)
set @lv_numero_serial = dbo.GetTagValue('numero_serial', @lp_trzdat)
set @lv_id_evento = dbo.GetTagValue('id_evento', @lp_trzdat)
set @lv_n_remito = dbo.GetTagValue('n_remito', @lp_trzdat)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		/* evito  duplicados */
		if exists(select top 1 * from hlt_arg_trz_amt where buscod=@lp_buscod and trztypcod=@lp_trztypcod and id_transaccion=@lv_id_transaccion and id_transaccion_global=@lv_id_transaccion_global)
			set @lp_sysoperation = '02'
		else
			set @lp_sysoperation = '01'

	end



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_ARG_TRZ_AMT (buscod, TrzTypCod, id_transaccion, id_transaccion_global, gln_origen, gln_destino, gtin, lote, numero_serial, id_evento, n_remito, cnfdte, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_TrzTypCod, @lv_id_transaccion, @lv_id_transaccion_global, @lv_gln_origen, @lv_gln_destino, @lv_gtin, @lv_lote, @lv_numero_serial, @lv_id_evento, @lv_n_remito, @lv_cnfdte, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_trzamtcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_trzamtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_ARG_TRZ_AMT
		SET id_transaccion_global = @lv_id_transaccion_global,
			gln_origen = @lv_gln_origen,
			gln_destino = @lv_gln_destino,
			gtin = @lv_gtin,
			lote = @lv_lote,
			numero_serial = @lv_numero_serial,
			id_evento = @lv_id_evento,
			n_remito = @lv_n_remito,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and trzamtcod = @lp_trzamtcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_trzamtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ta.*
		FROM HLT_ARG_TRZ_AMT ta
		WHERE ta.buscod = @lp_buscod
		  and ta.TrztypCod = @lp_TrztypCod
		  and ta.trzamtcod = @lp_trzamtcod

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ta.* '
			+ ' FROM HLT_ARG_TRZ_AMT ta '
			+ ' WHERE ta.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then '' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
