USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_INV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_INV_DEF]

@lp_sysoperation 	as nvarchar(5), 
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_slsinvcod			as int			= null,				-- id
@lp_slsinvcodext	as nvarchar(20) = null,		-- codigo  
@lp_slsinvtxt			as nvarchar(50) = null,		-- descripcion 
@lp_slsinvdte			as nvarchar(14)	= null,		-- fecha factura
@lp_dstobjtyp 		as nvarchar(20)	= null,		-- origen - tipo
@lp_dstobjcod			as int			= null,				-- origen - id
@lp_slsinvtotamt	as bigint		= null,				-- importe total (con impuestos e iva incluidos)
@lp_curcod				as nvarchar(5)	= null,		-- id moneda
@lp_curexcrte			as bigint		= null,				-- tipo de cambio
@lp_docsts 				as nvarchar(2)	= null,		-- estado

@lp_vewcfg				as nvarchar(max)= null,		-- configuraciÃ³n vista

@lp_sysdocclscod	as int			= null,				-- id clase documento
@lp_slsinvstrdte	as nvarchar(14)	= null,		-- validez - inicio
@lp_slsinvenddte	as nvarchar(14)	= null,		-- validez - fin
@lp_sysdocrejcod	as int			= null,				-- id motivo de rechazo
@lp_paytrmcod			as int			= null,				-- id condiciÃ³n pago
@lp_slsposcod			as int			= null,				-- id punto de venta

@lp_slsinvprcdte	as nvarchar(14)	= null,		-- fecha precio
@lp_slsinvaccdte	as nvarchar(14)	= null,		-- fecha contabilizacion
@lp_slsinvduedte	as nvarchar(14)	= null,		-- fecha vencimiento manual
@lp_slsprclstcod	as int			= null,				-- id lista de precios

@lp_errcod				as int			= 0		OUTPUT,	-- codigo de error
@lp_errtxt				as nvarchar(500)= null	OUTPUT	-- descripcin de error


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtyp nvarchar(20) = ''

declare @lv_slsinvdte as datetime = dbo.ConvertDate( @lp_slsinvdte )
declare @lv_slsinvtotamt as decimal(13,3) = dbo.ConvertNumber( @lp_slsinvtotamt, 3)
declare @lv_curexcrte as decimal(9,5) = dbo.ConvertNumber( @lp_curexcrte, 5 )
declare @lv_slsinvstrdte as smalldatetime = dbo.ConvertDate( @lp_slsinvstrdte )
declare @lv_slsinvenddte as smalldatetime = dbo.ConvertDate( @lp_slsinvenddte )
declare @lv_slsinvprcdte as datetime = dbo.ConvertDate( @lp_slsinvprcdte )
declare @lv_slsinvaccdte as datetime = dbo.ConvertDate( @lp_slsinvaccdte )
declare @lv_slsinvduedte as datetime = dbo.ConvertDate( @lp_slsinvduedte )

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)
declare @lv_errtxt as nvarchar(max)

declare @lv_slsinvnetamt as decimal(18,3)
declare @lv_slsinvvatamt as decimal(18,3)
declare @lv_slsinvtaxamt as decimal(18,3)
declare @lv_slsinvnetcnd as int
declare @lv_prcschcod as int
declare @lv_objtyp as nvarchar(20)
declare @lv_dstobjtyp as nvarchar(20)
declare @lv_dstobjcod as nvarchar(20)
declare @lv_dstobjtxt as nvarchar(80)
declare @lv_fceatr as nvarchar(max)
declare @lv_lndcod as nvarchar(5)
declare @lv_posfce as nvarchar(02)
declare @lv_curcod as nvarchar(5)
declare @lv_finsumcod as int
declare @lp_errtyp as nvarchar(2)
declare @lv_paysrctyp as nvarchar(20)
declare @lv_paysrccod as int
declare @lv_paysrctxt as nvarchar(80)
declare @lv_sysdocclscod_cnt as int



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
    DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
    DECLARE @lv_autprgcod as nvarchar(3) = ''
    
  	if @lp_sysoperation='01' -- x clase de documento
    	set @lv_objtyp = (select top 1 objtyp from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
    if @lp_sysoperation='02' or @lp_sysoperation='03' or @lp_sysoperation='04' or @lp_sysoperation='09' -- x documento
    	set @lv_objtyp = (select top 1 dc.objtyp from sls_inv d inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod where dc.buscod=@lp_buscod and d.slsinvcod=@lp_slsinvcod)
  	if @lp_sysoperation='08'
    	begin
        if charindex( 'dc.objtyp='+QUOTENAME('SLS_INV',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'SLS_INV'
        if charindex( 'dc.objtyp='+QUOTENAME('SLS_CRE',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'SLS_CRE'
        if charindex( 'dc.objtyp='+QUOTENAME('SLS_DEB',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'SLS_DEB' 
  		end
    set @lv_autprgcod = (select substring(@lv_objtyp, 5, 3))
  
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		IF isnull(@lv_slsinvaccdte,'') = ''
			SET @lv_slsinvaccdte = getdate()
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN
		
		-- agrego cabecera de documento
		INSERT INTO SLS_INV (buscod, slsinvcodext, slsinvtxt, slsinvdte, 
			slsinvnetamt, slsinvvatamt, slsinvtaxamt, slsinvtotamt, curcod, curexcrte, 
			slsinvstrdte, slsinvenddte, slsinvprcdte, slsinvaccdte, slsinvduedte, 
			dstobjtyp, dstobjcod, sysdocclscod, paytrmcod, slsposcod, slsprclstcod, 
			docsts, cteusr, ctedte, sysdoctrecod) 
		VALUES (@lp_buscod, @lp_slsinvcodext, @lp_slsinvtxt, @lv_slsinvdte,  
			0, 0, 0, @lv_slsinvtotamt, @lp_curcod, @lv_curexcrte, 
			@lv_slsinvstrdte, @lv_slsinvenddte, @lv_slsinvprcdte, @lv_slsinvaccdte, @lv_slsinvduedte, 
			@lp_dstobjtyp, @lp_dstobjcod, @lp_sysdocclscod, @lp_paytrmcod, @lp_slsposcod, @lp_slsprclstcod,
			@lp_docsts, @lp_username, getdate(), 'N')
		SET @lv_errcod=@@ERROR
		SET @lp_slsinvcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsinvcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
    
		IF not exists(select top 1 * from SLS_INV where buscod=@lp_buscod and slsinvcod=@lp_slsinvcod and docsts='A')
			BEGIN
				SELECT null, -9 as errcod, 'No se puede actualizar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		UPDATE SLS_INV
		SET	slsinvcodext = @lp_slsinvcodext,
			slsinvtxt = @lp_slsinvtxt,
			slsinvdte = @lv_slsinvdte,
			slsinvprcdte=@lv_slsinvprcdte,
			slsinvaccdte=@lv_slsinvaccdte,
			slsinvduedte=@lv_slsinvduedte,
			dstobjtyp = @lp_dstobjtyp, 
			dstobjcod = @lp_dstobjcod,
			slsinvtotamt = @lv_slsinvtotamt,
			curcod = @lp_curcod,
			curexcrte = @lv_curexcrte, 
			slsinvstrdte = @lv_slsinvstrdte,
			slsinvenddte = @lv_slsinvenddte, 
			sysdocrejcod = @lp_sysdocrejcod, 
			paytrmcod = @lp_paytrmcod,
			slsposcod = @lp_slsposcod, 
			slsprclstcod=@lp_slsprclstcod,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and slsinvcod=@lp_slsinvcod
		  and not docsts in ('C','E')
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsinvcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		-- sls_inv_def '03','mdominguez','temasis_log',94

		SELECT o.*, dc.sysdocclstxt, dc.objtyp, adr.adrnme001 as dstobjtxt,
				dr.sysdocrejtxt, dt.sysdoctretxt, pt.paytrmtxt, sp.slsposcodext,
				adr.AdrStr as dstadrstr, adr.AdrStrNum as dstadrstrnum, lndreg.lndregtxt as dstlndregtxt, 
				tax.taxcod as dsttaxcod, taxc.TaxCatTxt as dsttaxcattxt, p.SlsPrcLstTxt
		FROM sls_inv o
		left join SYS_DOC_CLS dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod
		left join SYS_DOC_REJ dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod 
		left join SYS_DOC_TRE dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod 
		left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod 
		left join sls_pos     sp on sp.buscod=o.buscod and sp.slsposcod=o.slsposcod 
		left join GRL_DAT_ADR adr on adr.BusCod=o.BusCod and adr.AdrSrcTyp=o.dstobjtyp and adr.AdrSrcCod=o.DstObjCod
		left join GRL_DAT_LND_REG as lndreg on lndreg.LndCod=adr.LndCod and lndreg.LndRegCod=adr.lndregcod
		left join grl_dat_tax tax on tax.BusCod=O.buscod and tax.TaxSrcTyp=o.dstobjtyp and tax.TaxSrcCod=O.dstobjcod
		left join FIN_TAX_CAT taxc on taxc.LndCod=adr.lndcod and taxc.TaxCatCod=tax.TaxCatCod
		left join SLS_PRC p on p.BusCod=o.BusCod and p.SlsPrcLstCod=o.slsprclstcod 
		WHERE o.buscod = @lp_buscod
		  and o.slsinvcod = @lp_slsinvcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		-- verifico status de contabilizacion
		IF not exists(select top 1 * from sls_inv where buscod=@lp_buscod and slsinvcod=@lp_slsinvcod and docsts='A')
			BEGIN
				SELECT null, -10 as errcod, 'No se puede borrar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END

		-- obtengo el objeto de la clase de documento
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc where buscod=@lp_buscod and sysdocclscod=(select top 1 sysdocclscod from sls_inv where buscod=@lp_buscod and slsinvcod=@lp_slsinvcod))

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_slsinvcod,null,null,null,null,null,@lv_errcod,@lv_errtxt

		-- borro factura electornica
		if @lv_errcod=0
			exec SLS_INV_FCE_DEF '24',@lp_username,@lp_buscod,@lp_slsinvcod,@lp_slsposcod,null,null,null,null,null,null,null,@lv_errcod,@lv_errtxt

		-- borro precios
		IF @lv_errcod=0
			exec GRL_DAT_PRC_DEF '14_sp',@lp_username,@lp_buscod,null,'SLS_INV',@lp_slsinvcod,null,null,null,null,null,null,null,null,null,null,null,null,null,@lv_errcod,@lv_errtxt
		
		-- borro textos
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'SLS_INV', @lp_slsinvcod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro materiales del documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_INV_MAT 
				WHERE buscod = @lp_buscod
				  and slsinvcod = @lp_slsinvcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_INV
				WHERE buscod = @lp_buscod
				  and slsinvcod = @lp_slsinvcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_slsinvcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		-- sls_inv_def '08','mdominguez','temasis_hlt'

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, 
			' o.*, dc.sysdocclstxt, dr.sysdocrejtxt, dt.sysdoctretxt, pt.paytrmtxt, a.adrnme001 as dstobjtxt ',
			' sls_inv o '
			+ ' inner join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join sls_cus st2 on st2.buscod=o.buscod and st2.cuscod=o.dstobjcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod '
			+ ' left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod '
			+ ' left join sls_pos     sp on sp.buscod=o.buscod and sp.slsposcod=o.slsposcod '
			+ ' left join grl_dat_adr a on a.buscod=o.buscod and a.adrsrctyp=o.dstobjtyp and a.adrsrccod=cast(o.dstobjcod as nvarchar(20))',
			' o.buscod='+QUOTENAME(@lp_buscod, '''')
			+ dbo.GetUserRestrictions(@lp_buscod,@lp_username,'<objref>o.dstobjtyp,o.dstobjcod</objref>'),
			' o.ctedte DESC ','a.adrnme001;dstobjtxt')
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END



-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
--   2 9    -    C O N T A B I L I Z A R (desde Monitor de Factura Electronica)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='09' or @lp_sysoperation='19' or @lp_sysoperation='29'
	BEGIN
		SET @lv_validop = 1
    
		-- por default el punto de venta no es electronico
		set @lv_posfce='C'
		
		-- obtengo datos del documento
		select top 1 @lp_docsts=s.docsts, @lp_slsposcod=s.slsposcod, @lv_objtyp=dc.objtyp, @lv_lndcod=a.lndcod,
			@lv_dstobjtyp=dstobjtyp,@lv_dstobjcod=dstobjcod,@lv_slsinvtotamt=s.slsinvtotamt, @lv_curcod=isnull(curcod,'ARS'), @lv_curexcrte=curexcrte, @lp_slsinvaccdte=REPLACE(CONVERT(VARCHAR,slsinvaccdte,112),'-',''), @lp_sysdocclscod = s.sysdocclscod, @lp_slsinvcodext=slsinvcodext, @lp_slsinvtxt = slsinvtxt, @lp_slsinvdte=REPLACE(CONVERT(VARCHAR,slsinvdte,112),'-','')--+' '+REPLACE(CONVERT(VARCHAR,slsinvdte,108),':','')--,'-','')
			from SLS_INV s 
			inner join sys_doc_cls dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod 
			inner join grl_dat_adr a on a.buscod=s.buscod and a.adrsrctyp='ADM_BUS' and a.adrsrccod=s.buscod
			where s.buscod=@lp_buscod and s.SlsInvCod=@lp_slsinvcod
		
		-- verifico status de documento
		if @lp_docsts='I'
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'No se puede contabilizar un documento Inactivo.'
			end
		if @lp_docsts='C'
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'No se puede contabilizar un documento Contabilizado.'
			end
		if @lp_docsts='E' and (@lp_sysoperation='09' or @lp_sysoperation='19')
			begin
				set @lv_errcod = -1
				set @lv_errtxt = 'El documento solo puede ser contabilizado por el Monitor de Factura Electronica.'
			end
		if not @lv_errcod=0 and (@lp_sysoperation='09' or @lp_sysoperation='19')
			select null, @lv_errcod as errcod, @lv_errtxt as errtxt
		if not @lv_errcod=0
			return

		-- LOCALIZACION ARGENTINA --------------------------------------------
		-- si pais argentina, punto de venta fijado y operacion de contabilizacion
		if @lv_lndcod='AR' and not @lp_slsposcod=0 and (@lp_sysoperation='09' or @lp_sysoperation='19')
			begin
				declare @lv_argltrcodext as nvarchar(20)
				declare @lv_argpostyp as nvarchar(20)
				declare @lv_slsposcodext as nvarchar(20)
				declare @lv_taxcatcod as nvarchar(20)

				-- determino destinatario de factura
				set @lv_taxcatcod = (select top 1 (case when t3.TaxCatCod IS not null then t3.TaxCatCod when t2.TaxCatCod IS not null then t2.TaxCatCod else t1.TaxCatCod end)
					from sls_inv i
					left join GRL_DAT_CNT c on c.BusCod=i.BusCod and c.CntSrcTyp=i.DstObjTyp and c.CntSrcCod=i.DstObjCod and exists(select top 1 * FROM GRL_DAT_CNT_TYP ct WHERE ct.BusCod=c.BusCod and ct.CntTypCod=c.cnttypcod and dbo.GetTagValue('INVADR',ct.CntTypAtr)='X')
					left join GRL_DAT_TAX t1 on t1.BusCod=i.BusCod and t1.TaxSrcTyp=i.DstObjTyp and t1.TaxSrcCod=i.dstobjcod -- directo
					left join GRL_DAT_TAX t2 on t2.BusCod=c.BusCod and t2.TaxSrcTyp='GRL_CCT' and t2.TaxSrcCod=c.CntCod      -- contacto
					left join GRL_DAT_TAX t3 on t3.BusCod=c.BusCod and t3.TaxSrcTyp=c.CntDstTyp and t3.TaxSrcCod=c.cntdstcod -- contacto refrencia
					where i.buscod=@lp_buscod
					  and i.slsinvcod=@lp_slsinvcod )

				if not @lv_errcod=0 or @lv_taxcatcod=null
        			begin
          				select null, @lp_errcod as errcod, 'No se encontro destinatario de factura.' as errtxt, 'E' as errtyp
						RETURN
					end
          
				-- determino Letra del documento
				select top 1 @lv_argltrcodext=l.ArgLtrCodExt  
				from SLS_INV i
				inner join GRL_DAT_TAX tb on tb.BusCod=i.buscod and tb.TaxSrcTyp='ADM_BUS' and tb.TaxSrcCod=i.buscod
				inner join FIN_LOC_ARG_LTR l on l.BusCod=i.BusCod and l.TaxCatCodSrc=tb.TaxCatCod and l.TaxCatCodDst=@lv_taxcatcod
				where i.BusCod=@lp_buscod
				and i.SlsInvCod=@lp_slsinvcod
        
				if not @lv_errcod = 0 or @lv_argltrcodext = null
        			begin
          				select null, @lp_errcod as errcod, 'No se pudo determinar la letra de la factura.' as errtxt, 'E' as errtyp
        				RETURN
        			end

				-- determino Punto de Venta (externo) y Tipo de Punto (Electornico o no)
				select top 1 @lv_argpostyp=ap.argpostyp, @lv_slsposcodext=p.slsposcodext 
				from SLS_INV i
				inner join SLS_POS p on p.buscod=i.BusCod and p.SlsPosCod=i.SlsPosCod 
				inner join FIN_LOC_ARG_POS ap on ap.BusCod=i.BusCod and ap.SysDocClsCod=i.SysDocClsCod and ap.SlsPosCod=i.SlsPosCod and ap.ArgLtrCodExt=@lv_argltrcodext
				where i.BusCod=@lp_buscod 
				  and i.SlsInvCod=@lp_slsinvcod
				
				if not @lv_errcod = 0 or @lv_slsposcodext = null
        			begin
          				select null, @lp_errcod as errcod, 'No se pudo determinar el punto de venta.' as errtxt, 'E' as errtyp
        				RETURN
        			end
        
				-- si es electronico fijo el estado pendiente del monitor
				if( @lv_argpostyp='WO' or @lv_argpostyp='WD' )
					begin
						set @lv_posfce = 'E'
						set @lv_fceatr = '<argposcodext>'+@lv_slsposcodext+'</argposcodext><argltrcodext>'+@lv_argltrcodext+'</argltrcodext>'
					end
			end
      
		-- FIN: LOCALIZACION ARGENTINA ---------------------------------------
  
    -- inicio transaccion
    BEGIN TRAN
      if @lv_errcod=0 and (@lp_sysoperation='09' or @lp_sysoperation='19')
        begin
          -- actualizo totales de documento
          exec SLS_INV_DEF '222',@lp_username,@lp_buscod,@lp_slsinvcod,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
          if not @lp_errcod=0
            begin
              select null, @lp_errcod as errcod, 'Se produjo un error al actualizar los totales del documento.' as errtxt, 'E' as errtyp
              RETURN
            end
        end

      -- CONTABILIZACION. agrego asiento contable
      if @lv_errcod=0
        exec FIN_MOV_DOC_DEF '29_sp',@lp_username,@lp_buscod,null,@lp_slsinvcodext,@lp_slsinvtxt,@lp_slsinvdte,@lp_slsinvaccdte,@lv_dstobjtyp,@lv_dstobjcod,'SLS_INV',@lp_slsinvcod,@lp_sysdocclscod,@lv_curcod,@lv_curexcrte,'C',null,null, @lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT

      -- actualizo cabecera
      if @lv_errcod=0
        begin
          -- status = contabilizado
          UPDATE SLS_INV
          SET	docsts = @lv_posfce,
            updusr = @lp_username, 
            upddte = getdate()
          WHERE buscod=@lp_buscod
            and slsinvcod=@lp_slsinvcod
            and not docsts in ('C','E')
          SET @lv_errcod = @@ERROR
        end

      -- agrego referencia en monitor de factura electronica (webservice online / webservice diferido)
      if @lv_errcod=0 and @lv_posfce='E' and (@lp_sysoperation='09' or @lp_sysoperation='19')
        begin
          -- Agregar referencia en el monitor de facturas electrÃ³nicas
          EXEC SLS_INV_FCE_DEF '01', @lp_username, @lp_buscod, @lp_slsinvcod, @lp_slsposcod, NULL, NULL, NULL, NULL, @lv_fceatr, 'P', NULL, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
          if not @lv_errcod = 0
            begin
              select null, @lv_errcod as errcod, @lv_errtxt as errtxt, 'E' as errtyp
          		RETURN
            end
        end
      
      -- si es facturaciÃ³n en lÃ­nea (agregar la entrada en el monitor de factura electrÃ³nica con el CAE y VTO informados
      /* FALTA
      if @lv_errcod=0 and @lv_posfce='C'
      exec SLS_INV_FCE_DEF '02',@lp_username,@lp_buscod,@lp_slsinvcod,@lp_slsposcod,null,@lv_cae,@lv_caevto,@lv_facnum,@lv_fceatr,'A',null,@lv_errcod,@lv_errtxt
      */

      -- INTERLOCUTORES. se agregan los interlocutores al documento
      if @lv_errcod=0 and @lv_posfce='C' and (@lp_sysoperation='09' or @lp_sysoperation='19' or @lp_sysoperation='29')
        begin
          -- verifico si el destinatario de factura es contacto del cliente
          if exists(select top 1 * from sls_inv i	inner join GRL_DAT_CNT dcc on dcc.buscod=i.buscod and dcc.cntsrctyp=i.dstobjtyp and dcc.cntsrccod=i.dstobjcod				
                where i.buscod=@lp_buscod
                and i.slsinvcod=@lp_slsinvcod
                and dcc.sysdocclscodcnt in (select sysdocclscodcnt from SYS_DOC_CLS_CNT dc where dc.buscod=i.buscod and dc.sysdocclscod=i.sysdocclscod) -- interlocutores del documento (sol, destFac, respPago)
                )
            begin
              -- agrego el destinatario de factura del cliente
              -- como destinatario de factura del documento
              insert into GRL_DOC_CNT (buscod, SysDocClsCodCnt, SrcObjTyp, SrcObjCod, GrlDocCntObjTyp, GrlDocCntObjCod, GrlDocCntObjTxt, DocSts, ctedte, cteusr)
              select i.buscod, dcc.sysdocclscodcnt, @lv_objtyp, i.slsinvcod, a.adrsrctyp, a.adrsrccod, a.adrnme001, 'A', getdate(), @lp_username
              from sls_inv i
              inner join GRL_DAT_ADR a on a.buscod=i.buscod and a.AdrSrcTyp=i.dstobjtyp and a.adrsrccod=i.dstobjcod
              left join GRL_DAT_CNT dcc on dcc.buscod=i.buscod and dcc.cntsrctyp=i.dstobjtyp and dcc.cntsrccod=i.dstobjcod				
              where i.buscod=@lp_buscod 
                and i.slsinvcod=@lp_slsinvcod
                and dcc.sysdocclscodcnt in (select sysdocclscodcnt from SYS_DOC_CLS_CNT dc where dc.buscod=i.buscod and dc.sysdocclscod=i.sysdocclscod) -- interlocutores del documento (sol, destFac, respPago)
              set @lv_errcod = @@ERROR
            end
          -- el cliente no tiene contacto destinatario de factura, por lo tanto
          -- el solicitante es destinatario de factura. se agrega como destinatario de factura al documento
          else
            begin
              insert into GRL_DOC_CNT (buscod, SysDocClsCodCnt, SrcObjTyp, SrcObjCod, GrlDocCntObjTyp, GrlDocCntObjCod, GrlDocCntObjTxt, DocSts, ctedte, cteusr)
              select i.buscod, dcc.sysdocclscodcnt, @lv_objtyp, i.slsinvcod, a.adrsrctyp, a.adrsrccod, a.adrnme001, 'A', getdate(), @lp_username
              from sls_inv i
              inner join GRL_DAT_ADR a on a.buscod=i.buscod and a.AdrSrcTyp=i.dstobjtyp and a.adrsrccod=i.dstobjcod
              inner join SYS_DOC_CLS_CNT dcc on dcc.buscod=i.buscod and dcc.sysdocclscod=i.sysdocclscod -- interlocutores del documento (sol, destFac, respPago)
              where i.buscod=@lp_buscod 
                and i.slsinvcod=@lp_slsinvcod
              set @lv_errcod = @@ERROR
            end
        end

      -- CUENTA CORRIENTE. agrego documento a cuenta corrriente
        if @lv_errcod=0 and @lv_posfce='C' and (@lp_sysoperation='09' or @lp_sysoperation='19' or @lp_sysoperation='29')
        exec SLS_INV_DEF '31_sp',@lp_username,@lp_buscod,@lp_slsinvcod,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT

      -- CANCELACIÃ“N. si es cancelaciÃ³n, recupero las cantidades y el/los id de posiciÃ³n/es de la tabla de materiales y llamo a la tabla de posiciones.
      if @lv_errcod=0
        BEGIN
          DECLARE @lv_iscnc as nvarchar(1)
          SELECT @lv_iscnc = dbo.gettagvalue('cncref', dc.sysdocclsatr) FROM SLS_INV s LEFT JOIN SYS_DOC_CLS dc ON s.buscod=dc.buscod AND s.sysdocclscod=dc.sysdocclscod
          WHERE s.buscod=@lp_buscod
            and s.sysdocclscod=@lp_sysdocclscod
          SET @lv_errcod = @@ERROR

          if @lv_errcod=0
            if @lv_iscnc='X'
              BEGIN
                declare @lv_posqty as decimal(13,3), @lv_untcod as nvarchar(2), @lv_poscod as int, @lv_refcod as int
                SELECT @lv_refcod=m.docrefcod, @lv_posqty=m.matqty * 1000, @lv_poscod=m.docrefposcod, @lv_untcod=m.matuntcod FROM SLS_INV_MAT m INNER JOIN SLS_INV s ON s.buscod=m.buscod AND s.slsinvcod=m.slsinvcod WHERE s.slsinvcod=@lp_slsinvcod
                EXEC GRL_DOC_FLW_DEF '02',@lp_username,@lp_buscod,null,'SLS_INV',@lv_refcod,@lv_poscod,@lv_posqty,@lv_untcod,'C',null,@lp_errcod OUTPUT, @lp_errtxt OUTPUT
                set @lv_errcod = @@ERROR
              END
        END
    
    if @lv_errcod = 0 and @lp_sysoperation = '29'
      BEGIN

        -- Obtener el valor codigo externo desde la tabla SLS_INV_FCE
        SELECT @lp_slsinvcodext = SlsInvFceCodExt
        FROM SLS_INV_FCE
        WHERE BusCod = @lp_buscod
          AND SlsInvCod = @lp_slsinvcod
        SET @lv_errcod = @@ERROR
        
        -- actualizar campo externo y estado
        UPDATE SLS_INV
        set SlsInvCodExt = @lp_slsinvcodext,
            DocSts = 'C'
        WHERE BusCod = @lp_buscod
          and SlsInvCod = @lp_slsinvcod
        set @lv_errcod = @@ERROR
      END
        
		if (@lp_sysoperation='09' or @lp_sysoperation='19' or @lp_sysoperation='29') and @lv_errcod=0
			COMMIT TRAN
	  ELSE
			ROLLBACK TRAN
		SELECT @lp_slsinvcod, @lv_errcod as errcod, @lv_errtxt as errtxt, @lv_errtyp as errtyp
	END



-- ------------------------------------------------------------------------
--   3 1    -    A C T U A L I Z A R    C U E N T A    C O R R I E N T E
-- ------------------------------------------------------------------------
IF @lp_sysoperation='31' or @lp_sysoperation='31_sp'
	BEGIN
		SET @lv_validop = 1

		-- valido si el documento se encuentra contabilizado
		if not exists(select top 1 * from sls_inv where buscod=@lp_buscod and slsinvcod=@lp_slsinvcod and docsts='C')
			begin
				set @lv_errtyp='E'
				set @lv_errcod=-344342
				--set @lv_errmsg='PostedRequired'
				set @lv_errtxt='El documento debe estar contabilizado.'
				return				
			end

		-- obtengo datos del documento
		select top 1	@lv_objtyp=dc.objtyp, 
									@lv_dstobjtyp=i.dstobjtyp, 
									@lv_dstobjcod=i.dstobjcod, 
									@lv_dstobjtxt=a.adrnme001,
									@lv_slsinvtotamt=i.slsinvtotamt, 
									@lp_slsinvcodext=i.SlsInvCodExt,
									@lv_slsinvdte=i.SlsInvDte,
									@lv_slsinvduedte=i.SlsInvDueDte,
									@lp_curcod=i.curcod, 
									@lv_curexcrte=i.curexcrte
		from sls_inv i
		inner join sys_doc_cls dc on dc.buscod=i.buscod and dc.sysdocclscod=i.sysdocclscod
		inner join grl_dat_adr a on a.buscod=i.buscod and a.adrsrctyp=i.dstobjtyp and a.adrsrccod=i.DstObjCod
		where i.buscod=@lp_buscod and i.slsinvcod=@lp_slsinvcod

		-- IMPORTANTE: para registrar en cuenta corriente, la clase de documento de factura debe tener -------------
		--             asociado un interlocutor de tipo destinatario de factura.											 -------------

		-- 1) obtengo clase de documento del interlocutor que sea destinatario de factura de la clase de documento factura.
		set @lv_sysdocclscod_cnt = (select dcicc.sysdocclscod from sls_inv i
					left join sys_doc_cls dcicc on dcicc.buscod=i.buscod and dcicc.sysdocclscod=i.sysdocclscod
					where i.buscod=@lp_buscod
					and i.slsinvcod=@lp_slsinvcod    )
					--and dbo.gettagvalue('invadr',dcicc.sysdocclsatr)='X' )
          
		if isnull(@lv_sysdocclscod_cnt,0)=0
			begin
      	set @lv_errcod = -1
				SELECT 'E' as errtyp, -1 as errcod,  'Para registrar en cuenta corriente, la clase de documento de factura/NC/ND debe tener asociado un interlocutor de tipo destinatario de factura.' as errtxt
        return
			end

		-- 2.1) busco para el cliente un interlocutor que sea pagador/responsable de pago
		select top 1 @lv_paysrctyp=ic.cntdsttyp, @lv_paysrccod=ic.cntdstcod
					from sls_inv i
					left join GRL_DAT_CNT ic on ic.buscod=i.buscod and ic.cntsrctyp=i.dstobjtyp and ic.cntsrccod=i.dstobjcod
					left join SYS_DOC_CLS dcc on dcc.buscod=ic.buscod and dcc.sysdocclscod=ic.sysdocclscodcnt
					where i.buscod=@lp_buscod
						and i.slsinvcod=@lp_slsinvcod
						and dbo.gettagvalue('invadr',dcc.sysdocclsatr)='X'
		-- 2.1.1) si no se encuentra, el propio cliente es pagador/responsable de pago
		if isnull(@lv_paysrctyp,'')=''
			begin
				set @lv_paysrctyp=@lv_dstobjtyp
				set @lv_paysrccod=@lv_dstobjcod
			end
		-- 2.1.2) obtengo el nombre del pagador/responsable de pago
		set @lv_paysrctxt = (select top 1 adrnme001 from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=@lv_paysrctyp and adrsrccod=@lv_paysrccod)

		-- 2) CONTACTO. antes de agregar el contacto verifico que no exista esa clase de documento en la factura
		if not exists(select top 1 * from grl_doc_cnt dcc	where dcc.buscod=@lp_buscod and dcc.SysDocClsCodCnt=@lv_sysdocclscod_cnt and srcobjtyp=@lv_objtyp and srcobjcod=@lp_slsinvcod)
			BEGIN				
				-- 2.2) agrego el contacto como interlocutor del documento
				insert into GRL_DOC_CNT (buscod, sysdocclscodcnt, srcobjtyp, srcobjcod, grldoccntobjtyp, GrlDocCntObjCod, grldoccntobjtxt, docsts, ctedte, cteusr)
				select i.buscod, @lv_sysdocclscod_cnt, @lv_objtyp, i.slsinvcod, @lv_paysrctyp, @lv_paysrccod, @lv_paysrctxt, 'A', getdate(), @lp_username
				from sls_inv i
				where i.buscod=@lp_buscod
					and i.slsinvcod=@lp_slsinvcod
        set @lv_errcod = @@ERROR
			END

		-- CUENTA CORRIENTE. agrego documento a cuenta corrriente
		if @lv_errcod=0 and not exists(select top 1 * from fin_sum_doc where buscod=@lp_buscod and DocObjTyp=@lv_objtyp and docobjcod=@lp_slsinvcod)
			begin
				declare @lv_slsinvdte2 as nvarchar(14) = convert(varchar,@lv_slsinvdte,112)--+'000000'
				declare @lv_slsinvduedte2 as nvarchar(14) = convert(varchar,@lv_slsinvduedte,112)--+'000000'
				set @lv_curexcrte = @lv_curexcrte*100000
				set @lv_slsinvtotamt = @lv_slsinvtotamt*1000

				-- creo cabecera de cuenta corriente (si no existe)
				exec FIN_SUM_DEF '01_sp',@lp_username,@lp_buscod,null,@lv_paysrctyp,@lv_paysrccod,0,@lp_curcod,'A',null,@lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT
        
				-- obtengo id de cuenta corriente
				if @lp_errcod=0
					set @lv_finsumcod = (select top 1 finsumcod from fin_sum where buscod=@lp_buscod and SrcObjTyp=@lv_paysrctyp and srcobjcod=@lv_paysrccod)
				
				-- agrego comprobante de cuenta corriente
				if @lp_errcod=0
					exec FIN_SUM_DOC_DEF '01_sp',@lp_username,@lp_buscod,@lv_finsumcod,null,
						@lv_objtyp,@lp_slsinvcod,@lp_slsinvcodext,@lv_slsinvdte2,@lv_slsinvduedte2,
						@lv_dstobjtyp,@lv_dstobjcod,@lv_dstobjtxt,
						@lv_objtyp,@lp_slsinvcod,@lv_slsinvtotamt,null,@lp_curcod,@lv_curexcrte,'A',null,@lv_errtyp OUTPUT,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			end
    IF @lp_sysoperation='31'
    	begin
        select @lp_errcod as errcod, @lp_errtxt as errtxt
        return
      end
    else
    	return
	END



-- ------------------------------------------------------------------------
--   2 2    -    A C T U A L I Z A R    T O T A L E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='22' or @lp_sysoperation='222'
	begin
		SET @lv_validop = 1
		
		-- obtengo id de condicion de precios para el importe neto del documento
		select @lv_slsinvnetcnd=dbo.GetTagValue('prccndcod',dc.sysdocclsatr),
				@lv_objtyp = dc.objtyp
		from SLS_INV si inner join SYS_DOC_CLS dc on dc.BusCod=si.BusCod and dc.SysDocClsCod=si.SysDocClsCod
		where si.BusCod=@lp_buscod 
		  and si.SlsInvCod=@lp_slsinvcod
    
    -- obtengo id de esquema de precios para el importe neto del documento
    SELECT @lv_prcschcod = dbo.GetTagValue('prcschcod', dc.sysdocclsatr),
           @lv_objtyp = dc.objtyp
    FROM SLS_INV si INNER JOIN SYS_DOC_CLS dc ON dc.BusCod = si.BusCod AND dc.SysDocClsCod = si.SysDocClsCod
    WHERE si.BusCod = @lp_buscod 
      AND si.SlsInvCod = @lp_slsinvcod;
      
		if @lp_sysoperation='22'
			BEGIN TRAN

        -- borro precios de cabecera
        if @lp_errcod=0
          begin
            delete from grl_dat_prc 
            where buscod=@lp_buscod 
              and srcobjtyp=@lv_objtyp 
              and srcobjcod001=@lp_slsinvcod 
              and srcobjcod002=''
            set @lp_errcod=@@ERROR
            set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
          end

        -- calculo nuevos precios de cabecera (no %)
        if @lp_errcod=0
          begin
            insert into grl_dat_prc (buscod, srcobjtyp, srcobjcod001, srcobjcod002, prcschcndrow, PrcSchCod, PrcCndCod, prccndval, prccndcurcod, prccndqty, prccnduntcod, prccndtot, curcod, docsts, ctedte, cteusr, prccndtxt)
            select buscod, srcobjtyp, srcobjcod001, '', PrcSchCndRow, PrcSchCod, PrcCndCod, 0, '', sum(prccndqty), prccnduntcod, sum(prccndtot), curcod, docsts, ctedte, cteusr, prccndtxt
            from grl_dat_prc 
            where buscod=@lp_buscod 
              and srcobjtyp=@lv_objtyp 
              and srcobjcod001=@lp_slsinvcod 
              and not isnull(srcobjcod002,'')=''
              and not PrcCndUntCod='%'
            group by buscod, srcobjtyp, srcobjcod001, PrcSchCndRow, PrcSchCod, PrcCndCod, prccnduntcod, curcod, docsts, ctedte, cteusr, prccndtxt 
            set @lp_errcod=@@ERROR
            set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
          end

        -- calculo nuevos precios de cabecera (solo %)
        if @lp_errcod=0
          begin
            insert into grl_dat_prc (buscod, srcobjtyp, srcobjcod001, srcobjcod002, prcschcndrow, PrcSchCod, PrcCndCod, prccndval, prccndcurcod, prccndqty, prccnduntcod, prccndtot, curcod, docsts, ctedte, cteusr, prccndtxt)
            select buscod, srcobjtyp, srcobjcod001, '', PrcSchCndRow, PrcSchCod, PrcCndCod, 0, '', prccndqty, prccnduntcod, sum(prccndtot), curcod, docsts, ctedte, cteusr, prccndtxt
            from grl_dat_prc 
            where buscod=@lp_buscod 
              and srcobjtyp=@lv_objtyp 
              and srcobjcod001=@lp_slsinvcod 
              and not isnull(srcobjcod002,'')=''
              and PrcCndUntCod='%'
            group by buscod, srcobjtyp, srcobjcod001, PrcSchCndRow, PrcSchCod, PrcCndCod, prccndqty, prccnduntcod, curcod, docsts, ctedte, cteusr, prccndtxt 
            set @lp_errcod=@@ERROR
            set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
          end

      if @lv_prcschcod is null or @lv_prcschcod = ''
        begin
          -- Asignar el importe neto grabado como total
          set @lv_slsinvnetamt = (SELECT SlsInvNetAmt FROM SLS_INV WHERE BusCod = @lp_buscod AND SlsInvCod = @lp_slsinvcod);
          set @lv_slsinvvatamt = 0;  -- Total de IVA
          set @lv_slsinvtaxamt = 0;  -- Total de impuestos (no IVA)
          
          -- Si slsinvnetamt esta vacio que tome el valor del Total general
          if @lv_slsinvnetamt is null or @lv_slsinvnetamt = 0
            begin
                set @lv_slsinvtotamt = (SELECT SlsInvTotAmt FROM SLS_INV WHERE BusCod = @lp_buscod AND SlsInvCod = @lp_slsinvcod);
            end
            else
            begin
                set @lv_slsinvtotamt = @lv_slsinvnetamt;
            end
        end
      else
        begin
          -- obtengo total neto del documento
          set @lv_slsinvnetamt = (select top 1 p.PrcCndTot
                      from GRL_DAT_PRC p
                      where p.BusCod=@lp_buscod
                        and p.SrcObjTyp=@lv_objtyp
                        and p.SrcObjCod001=@lp_slsinvcod
                        and isnull(p.SrcObjCod002,'')=''
                        and p.PrcCndCod=@lv_slsinvnetcnd		-- de la fila que indica valor neto de la posicion
                      )

          -- obtengo total impuestos (no iva) del documento
          set @lv_slsinvtaxamt = isnull((select sum(prccndtot)
                      from GRL_DAT_PRC p
                      where p.BusCod=@lp_buscod
                        and p.SrcObjTyp=@lv_objtyp
                        and p.SrcObjCod001=@lp_slsinvcod
                        and isnull(p.SrcObjCod002,'')=''
                        and not p.prccndtxt in ('IVA','PRECIO','TOTAL NETO','TOTAL GENERAL')
                      ),0)

          -- obtengo total de iva del documento
          set @lv_slsinvvatamt = isnull((select sum(prccndtot)
                      from GRL_DAT_PRC p
                      where p.BusCod=@lp_buscod
                        and p.SrcObjTyp=@lv_objtyp
                        and p.SrcObjCod001=@lp_slsinvcod
                        and isnull(p.SrcObjCod002,'')=''
                        and p.prccndtxt='IVA'
                      ),0)

          -- determino total general del documento
          set @lv_slsinvtotamt = @lv_slsinvnetamt + @lv_slsinvvatamt + @lv_slsinvtaxamt
        end


		select p.buscod, p.srcobjcod001 as slsinvcod, p.srcobjcod002 as slsinvmatcod, 
			sum(isnull( (case when p.PrcCndCod=@lv_slsinvnetcnd then p.prccndtot else 0 end),0 )) as SlsInvMatNetAmt,
			sum(isnull( (case p.prccndtxt when 'IVA' then p.prccndtot else 0 end),0 )) as SlsInvMatVatAmt,
			sum(isnull( (case when not p.prccndtxt in ('IVA','PRECIO','TOTAL NETO','TOTAL GENERAL') then p.prccndtot else 0 end), 0)) as SlsInvMatTaxAmt,
			cast(0 as decimal(13,3)) as SlsInvMatTotAmt
		into #tmpPrcPos
		from GRL_DAT_PRC p
		where p.BusCod=@lp_buscod
			and p.SrcObjTyp=@lv_objtyp
			and p.SrcObjCod001=@lp_slsinvcod
			and not isnull(p.SrcObjCod002,'')=''
		group by p.buscod, p.srcobjcod001, p.srcobjcod002
		update #tmpPrcPos set SlsInvMatTotAmt = SlsInvMatNetAmt + SlsInvMatVatAmt + SlsInvMatTaxAmt

		-- actualizo posiciones
		if @lp_errcod=0
			begin
				update m
				SET	SlsInvMatNetAmt = x.SlsInvMatNetAmt,
					SlsInvMatVatAmt = x.SlsInvMatVatAmt,
					SlsInvMatTaxAmt = x.SlsInvMatTaxAmt,
					SlsInvMatTotAmt = x.SlsInvMatTotAmt
				from sls_inv_mat m
				inner join #tmpPrcPos x on x.buscod=m.buscod and x.slsinvcod=m.slsinvcod and x.slsinvmatcod=m.slsinvmatcod
				inner join sls_inv i on i.buscod=m.buscod and i.slsinvcod=m.slsinvcod
				WHERE m.buscod=@lp_buscod
				  and m.slsinvcod=@lp_slsinvcod
				  and not i.docsts in ('C','E')
				set @lp_errcod = @@ERROR
				set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
			end

		-- actualizo cabecera
		IF @lp_errcod=0
			BEGIN
				UPDATE SLS_INV
				SET	SlsInvNetAmt = isnull(@lv_slsinvnetamt, 0),
					SlsInvVatAmt = isnull(@lv_slsinvvatamt, 0),
					SlsInvTaxAmt = isnull(@lv_slsinvtaxamt, 0),
					SlsInvTotAmt = isnull(@lv_slsinvtotamt, 0)
				WHERE buscod=@lp_buscod
				  and slsinvcod=@lp_slsinvcod
				  and not docsts in ('C','E')
				set @lp_errcod = @@ERROR
				set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
			END
		
		if @lp_sysoperation='22'
    	begin 
        IF @lp_errcod=0
        	COMMIT TRAN
        ELSE
        	ROLLBACK TRAN
        SELECT @lp_slsinvcod, @lp_errcod as errcod, @lp_errtxt as errtxt
			end
    else
    	begin
        return
      end
	end


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
