USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_PER_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_PER_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		/* empresa */
@lp_usrcod			as nvarchar(20)	= null,		/* usuario */
@lp_grpcod			as nvarchar(20)	= null,		/* grupo */
@lp_mdlcod			as nvarchar(20) = null,		/* módulo */
@lp_prgcod			as nvarchar(20) = null,		/* programa */
@lp_oprcod			as nvarchar(20) = null,		/* código de operación */

@lp_vewcfg			as nvarchar(max)=null,

@lp_usrperatr001	as nvarchar(max)= null,	/* atributos */
@lp_usrperatr002	as nvarchar(max)= null		/* atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)

DECLARE @lv_usrpertyp as int



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* si no existe el permiso del módulo lo agrego */
		IF not exists(select top 1 * from sys_sec_per where buscod=@lp_buscod and grpcod='**' and usrcod=@lp_usrcod and mdlcod=@lp_mdlcod and prgcod='**' and oprcod='**')
			BEGIN
				INSERT INTO sys_sec_per (BusCod, GrpCod, UsrCod, MdlCod, PrgCod, OprCod, UsrPerTyp)
				VALUES ( @lp_buscod, '**', @lp_usrcod, @lp_mdlcod, '**', '**', 1)
				SET @lv_errcod=@@ERROR
			END

		/* verifico si la operación existe */
		IF @lv_errcod=0
			BEGIN
				IF not exists(select top 1 * from sys_sec_per where buscod=@lp_buscod and grpcod='**' and usrcod=@lp_usrcod and mdlcod=@lp_mdlcod and prgcod=@lp_prgcod and oprcod=@lp_oprcod)
					BEGIN
						INSERT INTO sys_sec_per (BusCod, GrpCod, UsrCod, MdlCod, PrgCod, OprCod, UsrPerTyp)
						VALUES ( @lp_buscod, '**', @lp_usrcod, @lp_mdlcod, @lp_prgcod, @lp_oprcod, 1)
						SET @lv_errcod=@@ERROR
					END
				ELSE
					BEGIN
						UPDATE sys_sec_per 
						SET UsrPerTyp = 1
						WHERE buscod = @lp_buscod
						and grpcod = '**'
						and usrcod = @lp_usrcod
						and mdlcod = @lp_mdlcod
						and prgcod = @lp_prgcod
						and oprcod = @lp_oprcod
						SET @lv_errcod=@@ERROR
					END
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    A C T U A L I Z A R										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    
	
		declare @lp_delimiter as nvarchar(1)
		set @lp_delimiter = char(9)

		BEGIN TRAN

		/* quitar los permisos que no estan incluidos */
		delete
		from sys_sec_per
		where buscod=@lp_buscod
		  and grpcod=@lp_grpcod
		  and usrcod=@lp_usrcod
		  and mdlcod+'_'+prgcod+'_'+oprcod not in (select id from dbo.StringSplit(@lp_usrperatr001,@lp_delimiter))
		SET @lv_errcod=@@ERROR

		/* agregar los permisos que faltan */
		if @lv_errcod=0
			BEGIN
				insert into sys_sec_per (buscod, grpcod, usrcod, mdlcod, prgcod, oprcod, usrpertyp)
				select @lp_buscod, @lp_grpcod, @lp_usrcod, 
					substring(x.id,1,charindex('_',x.id)-1) as mdlcod, 
					substring(x.id,  charindex('_',x.id)+1, charindex('_',x.id,charindex('_',x.id)+1)-charindex('_',x.id)-1 ) as prgcod, 
					substring(x.id,  charindex('_',x.id,charindex('_',x.id)+1)+1, len(x.id)-charindex('_',x.id,charindex('_',x.id))+1) as oprcod,
					1
				from dbo.StringSplit( @lp_usrperatr001,@lp_delimiter) x
				where x.id not in (select p.mdlcod+'_'+p.prgcod+'_'+p.oprcod 
									from sys_sec_per p 
									where p.buscod=@lp_buscod 
									  and p.grpcod=@lp_grpcod 
									  and p.usrcod=@lp_usrcod)
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT 0, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM sys_sec_per 
		WHERE buscod=@lp_buscod
		  and usrcod=@lp_usrcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* si no es un módulo, lo borro */
		if not ( @lp_prgcod='**' and @lp_oprcod='**' )
			BEGIN
				DELETE 
				FROM sys_sec_per
				WHERE buscod = @lp_buscod
				  and grpcod = '**'
				  and usrcod = @lp_usrcod
				  and mdlcod = @lp_mdlcod
				  and prgcod = @lp_prgcod
				  and not prgcod = '**'
				  and oprcod = @lp_oprcod
				SET @lv_errcod=@@ERROR
			END
					
		/* si borro el último id de operación, borro id del módulo */
		IF @lv_errcod=0
			BEGIN
				IF not exists(select top 1 * from sys_sec_per where buscod=@lp_buscod and grpcod='**' and usrcod=@lp_usrcod and mdlcod=@lp_mdlcod and not prgcod='**')
					BEGIN
						DELETE 
						FROM sys_sec_per
						WHERE buscod=@lp_buscod 
						  and grpcod='**' 
						  and usrcod=@lp_usrcod 
						  and mdlcod=@lp_mdlcod 
						  and prgcod='**' 
						  and oprcod='**'
						SET @lv_errcod=@@ERROR
					END
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
					
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, g.usrgrptxt, u.usrtxt '
			+ ' FROM SYS_SEC_PER p '
			+ ' left join SYS_SEC_USR u on u.usrcod=p.usrcod '
			+ ' left join SYS_SEC_GRP g on g.buscod=p.buscod and g.usrgrpcod=p.grpcod '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


/* ------------------------------------------------------------------------ */
/*   1 0    -    V E R I F I C A R     P E R M I S O	( x módulo/programa/codigo operación)	*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1    

		if @lp_prgcod = '%%'
			set @lp_prgcod = '**'
		if @lp_oprcod = '%%'
			set @lp_oprcod = '**'

		/* obtengo los permisos asignados al usuario */
		set @lv_usrpertyp = (select top 1 p.usrpertyp 
							from sys_sec_per p 
							where p.buscod=@lp_buscod 
							  and p.grpcod='**' 
							  and p.usrcod=@lp_usrcod 
							  and p.mdlcod=@lp_mdlcod 
							  and p.prgcod=@lp_prgcod 
							  and p.oprcod=@lp_oprcod)

		/* no tiene permiso por usuario, verifico si tiene permiso por grupo */
		if @lv_usrpertyp is null
			set @lv_usrpertyp = (select top 1 p.usrpertyp 
								from sys_sec_per p 
								where p.buscod=@lp_buscod 
								  and p.grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod=@lp_buscod and usrcod=@lp_usrcod)
								  and p.mdlcod=@lp_mdlcod 
								  and p.prgcod=@lp_prgcod 
								  and p.oprcod=@lp_oprcod)

		/* devuelvo el valor del permiso */
		SELECT @lv_usrpertyp as usrpertyp
		
	END

/* ------------------------------------------------------------------------ */
/*   1 8    -    V E R I F I C A R     P E R M I S O	( x módulo/programa/codigo operación)	*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		/* sys_sec_per_def '18','temasis','temasis_hlt','mdominguez' */
		
		SELECT DISTINCT mdlcod, prgcod, oprcod, usrpertyp
		FROM SYS_SEC_PER 
		WHERE buscod=@lp_buscod 
		 and ( 
				(usrcod=@lp_usrcod and grpcod='**') or
				(usrcod='**'       and grpcod in (select distinct usrgrpcod from SYS_SEC_USR_GRP where buscod=@lp_buscod and usrcod=@lp_usrcod) )
			 )
		ORDER BY mdlcod, prgcod, oprcod, usrpertyp

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
