USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_CLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operacion
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario
@lp_buscod			as nvarchar(20) = null,		-- empresa
@lp_hltpatclscod	as int			= null,		-- id
@lp_hltpatclscodext as nvarchar(20)	= null,		-- codigo
@lp_hltpatclstxt		as nvarchar(50) = null,		-- descripcion
@lp_docsts			as nvarchar(2)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null		-- configuraciÃ³n vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 1    -    V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		-- valido codigo externo duplicado
		if not ISNULL(@lp_hltpatclscodext,'')=''
			if exists( select top 1 * from hlt_pat_cls where buscod=@lp_buscod and not HltPatClsCod=@lp_hltpatclscod and HltPatClsCodext=@lp_hltpatclscodext )
				begin
					select null, -1 as errcod, 'Codigo existente' as errtxt, 'CodeAlreadyExists' as errmsg
					return
				end

	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO HLT_PAT_CLS (buscod, hltpatclscodext, hltpatclstxt, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hltpatclscodext, @lp_hltpatclstxt, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hltpatclscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltpatclscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_PAT_CLS
		SET hltpatclscodext = @lp_hltpatclscodext,
			hltpatclstxt = @lp_hltpatclstxt,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and hltpatclscod = @lp_hltpatclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltpatclscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM HLT_PAT_CLS
		WHERE buscod = @lp_buscod
		  and hltpatclscod = @lp_hltpatclscod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		IF exists(select top 1 * from hlt_pat where buscod=@lp_buscod and hltpatclscod=@lp_hltpatclscod)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar la categoria. Existen pacientes asignados.' as errtxt
				RETURN
			END

		BEGIN TRAN

		DELETE 
		FROM HLT_PAT_CLS 
		WHERE buscod=@lp_buscod 
			and hltpatclscod = @lp_hltpatclscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltpatclscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' c.* ', ' HLT_PAT_CLS c ', ' c.buscod='+QUOTENAME(@lp_buscod,''''), default, default ) 
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
