USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_DOC_RNG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_DAT_DOC_RNG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_docrngcod		as int			= null,	/* id */
@lp_docrngcodext	as nvarchar(20)	= null,	/* codigo */
@lp_docrngtxt		as nvarchar(50)	= null,	/* descripcion */
@lp_objtypcod		as nvarchar(20) = null,	/* objeto */
@lp_docrngstrnum	as int			= null,	/* numeración - desde */
@lp_docrngendnum	as int			= null,	/* numeración - hasta */
@lp_docrngcurnum	as int			= null,	/* númeración - ultimo utilizado */
@lp_docrngatr		as nvarchar(4000)=null,	/* atributos */
@lp_docsts			as nvarchar(02)	= null,	/* estado */ 

@lp_vewcfg			as nvarchar(4000)=null,	/* configuración vista */

@lp_docnum			as int			= null OUTPUT,	/* número asignado */
@lp_errcod			as int			= null OUTPUT,	/* error - codigo */
@lp_errtxt			as nvarchar(4000)=null OUTPUT	/* error - descripción */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/* E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/* -1	Código existente. No se puede crear.								*/
/* -2	Rango se solapa con numeración existente.							*/
/* -3 	Rango utilizado. No se puede modificar numeración desde y la numeración hasta debe ser mayor que el último número utilizado. */
/* -4 	Rango de numeración ya utilizado. No se puede borrar.				*/
/* -5 	Rango de numeración agotado. No se pueden asignar más números.		*/
/* -6	El último número utilizado debe estar dentro del rango.				*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* si no se permite solapamiento */	
		IF dbo.GetTagValue(isnull(@lp_docrngatr,''),'rngovr')='X'
			/* validar que el rango no se solape con alguno de los existentes */
			IF exists(select top 1 * from grl_dat_doc_rng where buscod=@lp_buscod and objtypcod=@lp_objtypcod and not docrngcod=@lp_docrngcod and docrngstrnum<=@lp_docrngendnum and docrngendnum>=@lp_docrngstrnum)
				BEGIN
					SELECT null, -2 as errcod, 'El rango se solapa con una numeración existente.' as errtxt
					RETURN
				END

		IF not isnull(@lp_docrngcurnum,0)=0
			IF @lp_docrngcurnum<isnull(@lp_docrngstrnum,0) or @lp_docrngcurnum>isnull(@lp_docrngendnum,0)
				BEGIN
					SELECT null, -6 as errcod, 'El último número utilizado debe estar dentro del rango.' as errtxt
					RETURN
				END

		if @lp_sysoperation='02'
			/* validar que la modificación del rango no quede ningún documento afuera */
			/* si tiene numeración utilizada y se modifico el numero desde ó el numero hasta es menor al último utilizado => error */
			IF exists(select top 1 * from grl_dat_doc_rng where buscod=@lp_buscod and objtypcod=@lp_objtypcod and docrngcod=@lp_docrngcod and not isnull(docrngcurnum,0)=0 and (not docrngstrnum=@lp_docrngstrnum or @lp_docrngendnum<docrngcurnum) )
				BEGIN
					SELECT null, -3 as errcod, 'Rango utilizado. No se puede modificar numeración desde y la numeración hasta debe ser mayor que el último número utilizado.' as errtxt
					RETURN
				END


	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO GRL_DAT_DOC_RNG
			(buscod,  docrngcodext, docrngtxt, objtypcod,
			docrngstrnum, docrngendnum, docrngcurnum, docrngatr, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_docrngcodext, @lp_docrngtxt,  @lp_objtypcod,
			@lp_docrngstrnum, @lp_docrngendnum, @lp_docrngcurnum, @lp_docrngatr, 
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_docrngcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_docrngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1		

		BEGIN TRAN
		
		UPDATE GRL_DAT_DOC_RNG 
		SET	docrngcodext = @lp_docrngcodext,
			docrngtxt = @lp_docrngtxt,
			docrngstrnum = @lp_docrngstrnum,
			docrngendnum = @lp_docrngendnum,
			docrngcurnum = @lp_docrngcurnum,
			docrngatr	 = @lp_docrngatr,
			docsts	= @lp_docsts,	
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and docrngcod = @lp_docrngcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_docrngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM GRL_DAT_DOC_RNG
		WHERE buscod = @lp_buscod
		  and docrngcod = @lp_docrngcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		/* verifico si está asignado a una clase de documento */
		if exists(select top 1 * from sys_doc_cls where buscod=@lp_buscod and (docrngcodint=@lp_docrngcod or docrngcodext=@lp_docrngcod))
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar. Rango asignado a clases de docuemntos.' as errtxt
				RETURN
			END


		/* valido que el rango de numeración no se haya utilizado */
		set @lp_docrngcurnum = (select top 1 docrngcurnum from grl_dat_doc_rng where buscod=@lp_buscod and objtypcod=@lp_objtypcod and docrngcod=@lp_docrngcod)
		IF not isnull(@lp_docrngcurnum,0)=0
			BEGIN
				SELECT null, -4 as errcod, 'El rango de numeración ya ha sido utilizado. No se puede borrar.' as errtxt
				RETURN
			END

		BEGIN TRAN
				
		DELETE 
		FROM GRL_DAT_DOC_RNG
		WHERE buscod = @lp_buscod
		  and docrngcod = @lp_docrngcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_docrngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM GRL_DAT_DOC_RNG '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	
    

/* ------------------------------------------------------------------------ */
/*   1 1    -    U T I L I Z A R    N U M E R A C I O N						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		
		/* valido / actualizo numeradores */
		IF dbo.getTagValue('docrngcodint',@lp_docrngatr)='X'
			BEGIN

				Set @lp_DocNum = (select isnull(docrngcurnum,docrngstrnum)+1 from grl_dat_doc_rng where buscod=@lp_buscod and docrngcod=@lp_docrngcod)

				/* valido que se puedan seguir asignando números */
				IF not exists(select top 1 * from grl_dat_doc_rng where buscod=@lp_buscod and docrngcod=@lp_docrngcod and @lp_docnum between docrngstrnum and docrngendnum)
					BEGIN
						set @lp_errcod = -1101
						set @lp_errtxt = 'Rango de numeración agotado. No se puede seguir numerando.'
						RETURN
					END

				UPDATE GRL_DAT_DOC_RNG 
				SET docrngcurnum = @lp_docnum
				WHERE buscod = @lp_buscod 
				  and docrngcod = @lp_docrngcod
				SET @lp_errcod=@@ERROR

			END
		ELSE IF dbo.getTagValue('docrngcodext',@lp_docrngatr)='X'
			BEGIN

				IF not exists(select top 1 * from grl_Dat_doc_rng where buscod=@lp_buscod and @lp_docnum between docrngstrnum and docrngendnum)
					BEGIN
						set @lp_errcod = -1106
						set @lp_errtxt = 'El numero <'+cast(@lp_DocNum as nvarchar(10))+'> no pertenece al rango de numeración.'
						RETURN
					END

			END

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
