USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_APP_PRM_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_APP_PRM_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_prmcod			as int			= null,		/* id parámetro */
@lp_prmtxt			as nvarchar(50)	= null,		/* descripción */
@lp_prmcodext		as nvarchar(20)	= null,		/* código de parámetro */
@lp_mdlcod			as nvarchar(20) = null,		/* codigo de módulo */
@lp_prmval			as nvarchar(250)= null,		/* valor del parámetro */
@lp_prmhie			as int			= null,		/* parámetro heredable */
@lp_prmchg			as int			= null,		/* parámetro modificable */
@lp_prmsys			as int			= null,		/* parámetro del sistema */
@lp_prmreffld		as nvarchar(40) = null,		/* campo de referencia */
@lp_prmrstval		as int			= null,		/* valor por default */
@lp_docsts			as nvarchar(02)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)= null		/* config vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*
		FROM sys_app_prm p
		WHERE p.prmcod=@lp_prmcod
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.* '
			+ ' FROM sys_app_prm p '
			+ ' WHERE 1=1 '
			+ (case when isnull(@lp_prmcodext,'')='' then '' else ' and p.prmcodext='+QUOTENAME(@lp_prmcodext,'''') end)
			+ (case when isnull(@lp_mdlcod,'')='' then '' else ' and p.mdlcod='+QUOTENAME(@lp_mdlcod,'''') end)
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end)
			+ (case when isnull(@lp_prmrstval,-1)=-1 then '' else ' and p.prmrstval='+QUOTENAME(@lp_prmrstval,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
	
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
