USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_DOC_RNG_GET_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GRL_DAT_DOC_RNG_GET_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),				/* empresa */
@lp_mdlCod			as nvarchar(5),					/* MODULO TSR,BUY,SLS, ETC */
@lp_prgcod			as nvarchar(5),					/* PROGRAMA */
@lp_DocClsCod		as nvarchar(5),					/* Clase de Numeracion */
@lp_DocNum			as int=null OUTPUT,				/* Numero */
@lp_errcod			as int=0 OUTPUT,				/* codigo de error */
@lp_errtxt			as nvarchar(250)=null OUTPUT	/* descripcin de error */
AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_Rngfrm INT
SET @lv_Rngfrm = 0

DECLARE @lv_RngTo INT
SET @lv_RngTo = 0

DECLARE @lv_RngLst INT
SET @lv_RngLst = 0

DECLARE @lv_RngCod as nvarchar(5)
SET @lv_RngCod = ''

DECLARE @lv_RngCodInt as nvarchar(5) 
SET @lv_RngCodInt= ''

DECLARE @lv_RngCodExt as nvarchar(5) 
SET @lv_RngCodExt= ''

DECLARE @lv_doccnt as int
SET @lv_doccnt = 1


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  E R R O R E S    */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-101	Clase de documento <..> inexistente o sin rangos de numeración asignado.	*/
/*	-102	Clase de documento <..> solo acepta numeración externa o manual.			*/
/*	-103	Rango de Numeración <..> inexistente.										*/
/*	-104	Rango de Numeración <..> agotado.											*/
/*	-105	El número <..> no pertenece al rango de numeracion externa asignada.		*/
/*	-106	El número <..> ya existe.													*/
/*	-107	Error al actualizar el numerador del rango <..>. Err=..						*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*  0 1 -  A S I G N A R    N U M E R A C I O N    */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01' 
	BEGIN
		SET @lv_validop = 1
		
		/* obtengo rangos de numeración interno/externo de la configuración del documento */
		IF @lp_mdlcod='TSR'	/* ---------------------------------------- TESORERIA --- */
			BEGIN
				SELECT @lv_RngCodInt=RngCodInt,@lv_RngCodExt=RngCodExt 
				FROM TSR_DOC_CLS 
				WHERE BusCod=@lp_buscod
				  and TsrDocClsCod=@lp_DocClsCod
				IF @lp_DocNum is not null
					SET @lv_doccnt = (select count(*) from tsr_doc_mov where buscod=@lp_buscod and docmovnum=@lp_docnum)
			END
		IF @lp_mdlcod='SLS'	/* ---------------------------------------- VENTAS --- */
			BEGIN
				SELECT @lv_RngCodInt=RngCodInt,@lv_RngCodExt=RngCodExt 
				FROM SLS_DOC_CLS 
				WHERE BusCod=@lp_buscod
				  and SlsDocClsCod=@lp_DocClsCod 
				IF @lp_DocNum is not null
					SET @lv_doccnt = (select count(*) from sls_doc_mov where buscod=@lp_buscod and docmovnum=@lp_docnum)
			END
		IF @lp_mdlcod='BUY'	/* ---------------------------------------- COMPRAS --- */
			BEGIN
				SELECT @lv_RngCodInt=RngCodInt,@lv_RngCodExt=RngCodExt 
				FROM BUY_DOC_CLS 
				WHERE BusCod=@lp_buscod
				  and buydocclscod=@lp_DocClsCod 
				IF @lp_DocNum is not null
					SET @lv_doccnt = (select count(*) from buy_doc_mov where buscod=@lp_buscod and docmovnum=@lp_docnum)
			END		
		IF @lp_mdlcod='STK'	and @lp_prgcod='SDN' /* ------------------------------ STOCK / CLASE DE DOCUMENTO --- */
			BEGIN
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* en remito manual => se valida duplicado para ese punto de emisión */
/* compras => no hay que validar numeración (si validar el formato 0000X00000000) */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
/* ******************************************************************************************** */
				SELECT @lv_RngCodInt=RngCodInt,@lv_RngCodExt=RngCodExt 
				FROM STK_DOC_CLS 
				WHERE BusCod=@lp_buscod
				  and stkdocclscod=@lp_DocClsCod 
				SET @lv_doccnt=0
/*				IF @lp_DocNum is not null
					SET @lv_doccnt = (select count(*) from stk_mov_doc where buscod=@lp_buscod and stkmovdocnum=cast(@lp_docnum as nvarchar(20)) )
*/
			END
		IF @lp_mdlcod='STK'	and @lp_prgcod='SMN' /* ------------------------------ STOCK / TIPO DE MATERIAL --- */
			BEGIN
				SELECT @lv_RngCodInt=RngCodInt,@lv_RngCodExt=RngCodExt 
				FROM STK_MAT_TYP 
				WHERE BusCod=@lp_buscod
				  and mattypcod=@lp_DocClsCod 
				IF @lp_DocNum is not null
					SET @lv_doccnt = (select count(*) from stk_mat where buscod=@lp_buscod and matcod=@lp_docnum)
			END
				
		/* valido. no se informaron rangos de numeracion */
		IF isnull(@lv_RngCodInt,'')='' and isnull(@lv_RngCodExt,'')=''
			BEGIN
				set @lp_errcod = -101
				set @lp_errtxt = 'Clase de documento <'+@lp_DocClsCod+'> inexistente o sin rangos de numeración asignado.'
				RETURN
			END

		/* valido. no existe rangos de numeracion Interno asignado*/
		IF isnull(@lp_DocNum,0)=0 and isnull(@lv_RngCodInt,'')=''
			BEGIN
				set @lp_errcod = -102
				set @lp_errtxt = 'Clase de documento <'+@lp_DocClsCod+'> solo acepta numeración externa o manual.'
				RETURN
			END

		/* determino rango de numeración a utilizar */
		IF not isnull(@lp_DocNum,0)=0 and not isnull(@lv_RngCodExt,'')=''
			SET @lv_RngCod = @lv_RngCodExt
		ELSE
			SET @lv_RngCod = @lv_RngCodInt
	
		/* obtengo numeros de numeradores */
		SELECT @lv_Rngfrm=DocRngStrNum, @lv_RngTo=DocRngEndNum, @lv_RngLst=DocRngCurNum
		FROM GRL_DAT_DOC_RNG 
		WHERE BusCod=@lp_buscod
		  and ObjTypCod=@lp_MdlCod + '_' + @lp_prgcod
		  and DocRngCod=@lv_RngCod
		
		/* valido. rango de numeración inválido. */
		IF not @lv_errcod=0 or isnull(@lv_Rngfrm,0)=0 or isnull(@lv_RngTo,0)=0
			BEGIN
				SET @lp_errcod = -103
				SET @lp_errtxt = 'Rango de Numeración <'+@lv_RngCod+'> inexistente.'
				RETURN
			END
			
		/* valido. rango de numeración insuficiente */
		IF isnull(@lv_RngLst,@lv_RngFrm)+1 > @lv_RngTo
			BEGIN
				set @lp_errcod = -104
				set @lp_errtxt = 'Rango de Numeración <'+@lv_RngCod+'> agotado.'
				RETURN
			END

		/* valido / actualizo numeradores */
		IF not isnull(@lp_DocNum,0)=0 and not isnull(@lv_RngCodExt,'')=''
			BEGIN

				IF @lp_DocNum<@lv_RngFrm or @lp_DocNum>@lv_RngTo
					BEGIN
						set @lp_errcod = -105
						set @lp_errtxt = 'El numero <'+cast(@lp_DocNum as nvarchar(10))+'> no pertenece al rango de numeracion externa asignada.'
						RETURN
					END

				IF isnull(@lv_doccnt,0)>0
					BEGIN
						set @lp_errcod = -106
						set @lp_errtxt = 'El numero <'+cast(@lp_DocNum as nvarchar(10))+'> ya existe.'
						RETURN
					END

			END
		ELSE
			BEGIN
				/* actualizo rango de numeración interna */
				BEGIN TRAN
				UPDATE GRL_DAT_DOC_RNG 
				SET docrngendnum = isnull(@lv_RngLst,@lv_RngFrm)+1
				WHERE buscod = @lp_buscod 
				  and objtypcod = @lp_MdlCod + '_' + @lp_prgcod
				  and docrngcod = @lv_RngCod
				SET @lp_errcod=@@ERROR
				IF @lp_errcod=0
					BEGIN
						COMMIT TRAN
						Set @lp_DocNum=isnull(@lv_RngLst,@lv_RngFrm)+1
					END
				ELSE
					BEGIN
						ROLLBACK TRAN
						set @lp_errcod = -107
						set @lp_errtxt = 'Error al actualizar el numerador del rango <'+@lv_RngCod+'>. Err='+cast(@lp_errcod as nvarchar(10))
						RETURN
					END					
			END
	END 


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
