USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_MED_COV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HHR_MED_COV_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrmedcovcod	as int			= null,	-- id
@lp_hhrmedcovcodext	as nvarchar(20)	= null,	-- codigo
@lp_hhrmedcovtxt	as nvarchar(400)= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_hhrmedcovtxtsht	as nvarchar(20)	= null,	-- sigla
@lp_sysdocclscod	as int			= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MEC'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Codigo externo existente
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01', '11', '12', '02')
	begin

		if not @lp_hhrmedcovcodext=''
			if exists(select top 1 * from HHR_MED_COV where buscod=@lp_buscod and not hhrmedcovcod=@lp_hhrmedcovcod and hhrmedcovcodext=@lp_hhrmedcovcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego cobertura medica
		INSERT INTO HHR_MED_COV (buscod, hhrmedcovcodext, hhrmedcovtxt, hhrmedcovtxtsht, sysdocclscod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrmedcovcodext, @lp_hhrmedcovtxt, @lp_hhrmedcovtxtsht, @lp_sysdocclscod, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrmedcovcod=@@IDENTITY
		
		-- agrego cobertura medica en empresas sincronizadas
		if @lv_errcod=0
			begin
				
				-- ***** ATENCION *****
				-- se toma la primer clase de documento de las empresas sincronizadas
				-- ********************

				INSERT INTO HHR_MED_COV (buscod, hhrmedcovcodext, hhrmedcovtxt, hhrmedcovtxtsht, sysdocclscod, docsts, ctedte, cteusr, HhrMedCovSynCod)
				SELECT buscod, @lp_hhrmedcovcodext, @lp_hhrmedcovtxt, @lp_hhrmedcovtxtsht, (select top 1 sysdocclscod from SYS_DOC_CLS where BusCod=x.buscod and ObjTyp='HHR_MEC'), @lp_docsts, getdate(), @lp_username, @lp_hhrmedcovcod
				FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN',@lp_buscod) x
				set @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrmedcovcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_MED_COV 
		SET	hhrmedcovcodext = @lp_hhrmedcovcodext,
			hhrmedcovtxt = @lp_hhrmedcovtxt,
			hhrmedcovtxtsht=@lp_hhrmedcovtxtsht,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE (buscod=@lp_buscod and hhrmedcovcod=@lp_hhrmedcovcod)
		   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and HhrMedCovSynCod=@lp_hhrmedcovcod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrmedcovcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM HHR_MED_COV c
		inner join SYS_DOC_CLS dc on dc.BusCod=c.BusCod and dc.objtyp ='HHR_MEC' and dc.SysDocClsCod=c.SysDocClsCod
		WHERE c.buscod=@lp_buscod
		  and c.hhrmedcovcod=@lp_hhrmedcovcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from GRL_DAT_PER where (buscod=@lp_buscod and HhrMedCovCod=@lp_hhrmedcovcod)
				or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_SysAppMdlPrm('HHR_DAT_SYN', @lp_buscod))
			  and (HhrMedCovCod in (select HhrMedCovCod from HHR_MED_COV where HhrMedCovSynCod=@lp_hhrmedcovcod)) ))
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Se encuentra asignado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- borro direccion
		DELETE FROM GRL_DAT_ADR
		WHERE AdrSrcTyp='HHR_MEC' and AdrSrcCod in
		(SELECT hhrmedcovcod FROM HHR_MED_COV WHERE (buscod=@lp_buscod and hhrmedcovcod=@lp_hhrmedcovcod) or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrmedcovsyncod=@lp_hhrmedcovcod))
		SET @lv_errcod=@@ERROR

		-- borro impuesto
		IF @lv_errcod=0
			BEGIN
				DELETE FROM GRL_DAT_TAX
				WHERE taxSrcTyp='HHR_MEC' and taxSrcCod in
				(SELECT hhrmedcovcod FROM HHR_MED_COV WHERE (buscod=@lp_buscod and hhrmedcovcod=@lp_hhrmedcovcod) or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrmedcovsyncod=@lp_hhrmedcovcod))
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			BEGIN
				DELETE FROM GRL_DAT_BNK
				WHERE bnksrctyp='HHR_MEC' and BnkSrcCod in
				(SELECT hhrmedcovcod FROM HHR_MED_COV WHERE (buscod=@lp_buscod and hhrmedcovcod=@lp_hhrmedcovcod) or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrmedcovsyncod=@lp_hhrmedcovcod))
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM HHR_MED_COV
				WHERE (buscod=@lp_buscod and hhrmedcovcod=@lp_hhrmedcovcod)
				   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrmedcovsyncod=@lp_hhrmedcovcod)
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrmedcovcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		-- hhr_med_cov_def '08','temasis','temasis_edu'

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' c.*, (case when isnull(c.hhrmedcovtxtsht,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' then '+QUOTENAME('','''')+' else c.hhrmedcovtxtsht+'+QUOTENAME(' - ','''')+' end)+isnull(c.hhrmedcovtxt,'+QUOTENAME('','''')+') as hhrmedcovtxtful, '
			+ ' a.adrphn001, a.adrphn002, a.adrmblphn, a.adrtwn, a.adrcty, a.adrstr, a.adrmapgeo, a.adrfrtnme, a.adrlstnme, a.adreml, a.adrwebpge, a.adrpstcod, a.adrzon, a.lndcod, a.lndregcod, '
			+ ' t.TaxNum, t.TaxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum, convert(varchar,t.TaxActStr,103) as TaxActStrCnv, '
			+ ' b.bnkNum, b.bnkcod, b.bnkbch, b.bnkacctyp, b.bnkaccnum, b.bnkacccbu, b.paymthcod, b.bnkdoctyp, b.bnkdocnum, b.bnkacccbuals, '
			+ ' tb.bnktxt, fp.paymthtxt, '
			+ ' l.lndtxt, lr.lndregtxt, dc.sysdocclscodext, dc.sysdocclstxt '
			+ ' FROM HHR_MED_COV c '
			+ ' left join GRL_DAT_ADR a on a.buscod=c.buscod and a.adrsrctyp='+QUOTENAME('HHR_MEC','''')+' and a.adrsrccod=c.hhrmedcovcod '
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
			+ ' left join GRL_DAT_BNK b on b.buscod=c.buscod and b.bnksrctyp='+QUOTENAME('HHR_MEC','''')+' and b.bnksrccod=c.hhrmedcovcod '
			+ ' left join tsr_bnk tb on tb.buscod=b.buscod and tb.bnkcod=b.bnkcod '
			+ ' left join tsr_pay_mth fp on fp.buscod=b.buscod and fp.paymthcod=b.paymthcod '
			+ ' left join GRL_DAT_TAX t on t.buscod=c.buscod and t.taxsrctyp='+QUOTENAME('HHR_MEC','''')+' and t.taxsrccod=c.hhrmedcovcod '
			+ ' inner join SYS_DOC_CLS dc on dc.BusCod=c.BusCod and dc.objtyp='+QUOTENAME('HHR_MEC','''')+' and dc.SysDocClsCod=c.SysDocClsCod '
			+ ' WHERE c.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END





GO
