USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_MOD_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_MOD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_edumodcod		as int			= null,	-- id modulo
@lp_edumodcodext	as nvarchar(20)	= null,	-- codigo
@lp_edumodtxt		as nvarchar(50)	= null,	-- des modulo
@lp_cuscod			as int			= null,  -- cliente
@lp_docsts 			as nvarchar(2)	= null, -- estado

@lp_vewcfg			as nvarchar(max)= null, -- configuraciÃ³n vista

@lp_sysdocclscod	as int			= null, -- id clase documento
@lp_edumodatr		as nvarchar(max)=null	-- atributos

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
	
  
  
-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MOD'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
    -- valido cÃ³digo duplicado
    if not isnull(@lp_edumodcodext,'')=''
    	BEGIN
				IF exists(select top 1 * from EDU_MOD where buscod=@lp_buscod and not edumodcod=@lp_edumodcod and edumodcodext=@lp_edumodcodext and cuscod=@lp_cuscod)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			END
  END



-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO EDU_MOD (buscod, edumodcodext, edumodtxt, cuscod, docsts, cteusr, ctedte, sysdocclscod, edumodatr) 
		VALUES (@lp_buscod, @lp_edumodcodext, @lp_edumodtxt, @lp_cuscod, @lp_docsts, @lp_username, getdate(), @lp_sysdocclscod, @lp_edumodatr)
		SET @lv_errcod = @@ERROR
		SET @lp_edumodcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edumodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE EDU_MOD 
		SET edumodcodext = @lp_edumodcodext,
			edumodtxt = @lp_edumodtxt,
			cuscod = @lp_cuscod, 
			edumodatr = @lp_edumodatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and edumodcod=@lp_edumodcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edumodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*, c.custxt
		FROM EDU_MOD m
			left join sls_cus c on c.buscod=m.buscod and c.cuscod=m.cuscod
		WHERE m.buscod=@lp_buscod
		  and m.edumodcod=@lp_edumodcod

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN

		SET @lv_validop = 1    

		BEGIN TRAN

		-- borro materias asociadas
		IF @lv_errcod=0
			BEGIN
				DELETE FROM EDU_MOD_PLN WHERE buscod=@lp_buscod and edumodcod=@lp_edumodcod
				SET @lv_errcod = @@ERROR
			END

		-- borro modulo 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM EDU_MOD WHERE buscod=@lp_buscod and edumodcod=@lp_edumodcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_edumodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
    
    set @lv_sql = dbo.getSqlSentence( @lp_vewcfg,' m.*, c.custxt ', 'EDU_MOD m' 
                                     + ' left join sls_cus c on c.buscod=m.buscod and c.cuscod=m.cuscod ', 
                                     'm.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                     'm.edumodtxt', default)
			execute( @lv_sql )

	END	
	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
