USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MOV_ELB_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[STK_MOV_ELB_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmovelbcod	as int			= null,	/* id documento */
@lp_stkmovelbmatcod	as int			= null,	/* id documento-material */
@lp_matcod			as nvarchar(20)	= null,	/* material */
@lp_matqty			as bigint		= null,	/* cantidad */
@lp_matuntcod		as nvarchar(5)	= null,	/* unidad de medida */
@lp_matbchcod		as int			= null,	/* id lote */
@lp_matbchcodext	as nvarchar(20) = null,	/* nummero lote */
@lp_matbchduedte	as nvarchar(14) = null,	/* vencimiento lote */
@lp_matsercod		as int			= null,	/* id número de serie */
@lp_matsercodext	as nvarchar(20)	= null,	/* número de serie */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)= null /* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_matqty as decimal(13,3)
set @lv_matqty = dbo.ConvertNumber( @lp_matqty , 3 )

declare @lv_matbchduedte as datetime
set @lv_matbchduedte = dbo.ConvertDate( @lp_matbchduedte )

declare @lv_mattxt as nvarchar(50)
declare @lv_srcobjtxt as nvarchar(500)
declare @lv_srcobjdattxt as nvarchar(500)
declare @lv_matbchduedtecnv as nvarchar(50)
declare @lv_stkmovelbdtecnv as nvarchar(50)
declare @lv_srcobjtyptxt as nvarchar(50)

declare @lv_errtxt as nvarchar(4000)
set @lv_errtxt = ''

declare @lv_objtyp as nvarchar(20)



/* ------------------------------------------------------------------------ */
/*   0 1    -    V A L I D A C I O N E S									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		SET @lv_validop = 1

		/* MATERIAL - valido material */
		IF not exists(SELECT top 1 * FROM stk_mat WHERE buscod=@lp_buscod and matcod=@lp_matcod and docsts='A')
			BEGIN
				SELECT null, -1 as errcod, 'Material no existe o está desactivado ['+@lp_matcod+'].' as errtxt
				RETURN
			END
		ELSE
			set @lv_mattxt = (select top 1 mattxt from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)


		/* obtengo datos de lote (código interno y vencimiento) */
		if not isnull(@lp_matbchcodext,'')=''
			begin
				select top 1 @lp_matbchcod=matbchcod, @lv_matbchduedte=(case when @lv_matbchduedte is null then matbchduedte else @lv_matbchduedte end)
				from stk_mat_bch
				where buscod=@lp_buscod
				  and matcod=@lp_matcod
				  and matbchcodext=@lp_matbchcodext
				  and docsts='A'
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		INSERT INTO STK_MOV_ELB_MAT (buscod, stkmovelbcod, matcod, mattxt, matqty, matuntcod,
			matbchcod, matbchcodext, matbchduedte, matsercod, matsercodext, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_stkmovelbcod, @lp_matcod, @lv_mattxt, @lv_matqty, @lp_matuntcod,
			@lp_matbchcod, @lp_matbchcodext, @lv_matbchduedte, @lp_matsercod, @lp_matsercodext, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_stkmovelbmatcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_stkmovelbmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		/* obtengo el objeto de la clase de documento */
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_MOV_ELB d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmovelbcod=@lp_stkmovelbcod)

		BEGIN TRAN
		
		UPDATE STK_MOV_ELB_MAT 
		SET matcod		= @lp_matcod,
			mattxt		= @lv_mattxt,
			matqty		= @lv_matqty,
			matuntcod	= @lp_matuntcod,
			matbchcod	= @lp_matbchcod,
			matbchcodext= @lp_matbchcodext,
			matbchduedte= @lv_matbchduedte, 
			matsercod	= @lp_matsercod,
			matsercodext= @lp_matsercodext,
			docsts		= @lp_docsts,
			upddte		= getdate(),
			updusr		= @lp_username
		WHERE buscod = @lp_buscod
		  and stkmovelbcod = @lp_stkmovelbcod 
		  and stkmovelbmatcod = @lp_stkmovelbmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_stkmovelbmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END
	


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT dm.*, convert(varchar,dm.matBchDueDte,103) as matbchduedtecnv
		FROM stk_MOV_ELB_mat dm 
		WHERE dm.buscod=@lp_buscod
		  and dm.stkmovelbcod= @lp_stkmovelbcod
		  and dm.stkmovelbmatcod= @lp_stkmovelbmatcod
		
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		/* borro la posición del documento */
		IF @lv_errcod=0
			BEGIN		
				DELETE FROM STK_MOV_ELB_MAT 
				WHERE buscod = @lp_buscod
				  and stkmovelbcod = @lp_stkmovelbcod
				  and stkmovelbmatcod = @lp_stkmovelbmatcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_stkmovelbmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END

	

/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* stk_MOV_ELB_mat_def '08','mdominguez','temasis_hlt' */

		set @lv_srcobjtxt = ' st4.strloctxt '
		set @lv_srcobjdattxt = ' st4.strloctxt '
		set @lv_matbchduedtecnv = 'convert(varchar,dm.matBchDueDte,103)'
		set @lv_stkmovelbdtecnv = 'convert(varchar,d.stkmovelbdte,103)'
		set @lv_srcobjtyptxt ='so.objtyptxt'

		declare @lv_ord as nvarchar(4000)
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = replace(@lv_ord, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_ord = replace(@lv_ord, 'srcobjdattxt', @lv_srcobjdattxt)
		set @lv_ord = replace(@lv_ord, 'matbchduedtecnv', 'dm.matBchDueDte')
		set @lv_ord = replace(@lv_ord, 'stkmovelbdtecnv', 'd.stkmovelbdte')
		set @lv_ord = replace(@lv_ord, 'srcobjtyptxt', @lv_srcobjtyptxt)
		set @lv_ord = replace(@lv_ord, 'matdocclstxt', 'mdc.sysdocclstxt')

		declare @lv_flt as nvarchar(4000)
		set @lv_flt = ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''') + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'srcobjtxt', @lv_srcobjtxt)
		set @lv_flt = replace(@lv_flt, 'srcobjdattxt', @lv_srcobjdattxt)
		set @lv_flt = replace(@lv_flt, 'matbchduedtecnv', 'dm.matBchDueDte')
		set @lv_flt = replace(@lv_flt, 'stkmovelbdtecnv', 'd.stkmovelbdte')
		set @lv_flt = replace(@lv_flt, 'srcobjtyptxt', @lv_srcobjtyptxt)
		set @lv_flt = replace(@lv_flt, 'matdocclstxt', 'mdc.sysdocclstxt')

		declare @lv_sel as nvarchar(4000)
		set @lv_sel = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dm.*, m.matcodext, '
			+ @lv_matbchduedtecnv + ' as matbchduedtecnv, '
			+ ' m.docsts as matdocsts, '
			+ ' mc.matcst, (case when isnull(mc.matcstqty,0)=0 then 0 else mc.matcst  * (dbo.ConvertMaterialUnit(d.buscod,m.matcod,dm.matqty,dm.matuntcod,mc.matcstuntcod)/mc.matcstqty) end) as matcstlst,'
			+ ' d.stkmovelbcodext, d.srcobjtyp, '
			+ ' m.matusebch, m.matuseser, mdc.sysdocclstxt as matdocclstxt, dbo.getTagValue('+QUOTENAME('matstkrel','''')+', mdc.sysdocclsatr) as matstkrel, '
			+ ' dc.sysdocclstxt, so.objtyptxt as srcobjtyptxt, '
			+ @lv_stkmovelbdtecnv + ' as stkmovelbdtecnv, '
			+ @lv_srcobjtxt+' as srcobjtxt, '
			+ @lv_srcobjdattxt+' as srcobjdattxt '
			+ ' FROM stk_MOV_ELB d '
			+ ' inner join stk_MOV_ELB_mat dm on dm.buscod=d.buscod and dm.stkmovelbcod=d.stkmovelbcod '
			+ ' left join stk_mat m on m.buscod=dm.buscod and m.matcod=dm.matcod '
			+ ' left join stk_mat_bch mb on mb.buscod=dm.buscod and mb.matcod=dm.matcod and mb.matbchcod=dm.matbchcod '
			+ ' left join stk_mat_ser ms on ms.buscod=dm.buscod and ms.matcod=dm.matcod and ms.matsercod=dm.matsercod ' 
			+ ' left join stk_mat_cst mc on mc.buscod=m.buscod and mc.matcod=m.matcod '
			+ ' left join sys_doc_cls mdc on mdc.buscod=m.buscod and mdc.sysdocclscod=m.sysdocclscod '
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' left join sys_obj_typ so on so.objtypcod=d.srcobjtyp '
			+ ' left join stk_str_loc st4 on st4.buscod=d.buscod and st4.strloccod=d.srcobjcod '

		execute( @lv_sel + @lv_flt + @lv_ord )
	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
