USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_DOC_CLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TSR_DOC_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_tsrdocclscod	as nvarchar(05)	= null,	/* codigo */
@lp_tsrdocclstxt	as nvarchar(40)	= null,	/* descripción */
@lp_rngcodint		as nvarchar(05)	= null,	/* numeración interna */
@lp_rngcodext		as nvarchar(05)	= null,	/* numeración externa */
@lp_autcod			as nvarchar(05)	= null,	/* codigo de autorización */
@lp_docsts			as nvarchar(02)	= null,	/* estado */ 

@lp_vewcfg			as nvarchar(4000)=null,	/* configuración ede la vista */

@lp_TsrDocClsFrm	as nvarchar(250)= null,	/* formulario de impresión */
@lp_TsrDocClsTyp	as nvarchar(01)	= null,	/* tipo de documento */
@lp_TsrDocClsBlc	as nvarchar(01)	= null,	/* Debe-Haber */
@lp_TsrDocIntFle	as nvarchar(250)= null	/* archivo de interfaz */


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Codigo exitente.												*/
/*	-2	La clase de documento ya ha sido utilizada. No se puede borrar	*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		IF (select count(*) from tsr_doc_cls where buscod=@lp_buscod and tsrdocclscod=@lp_tsrdocclscod)>0
			BEGIN
				SELECT null, -1 as errcod, 'Codigo exitente' as errtxt
				RETURN
			END

		BEGIN TRAN
				
		INSERT INTO TSR_DOC_CLS
			(buscod, tsrdocclscod, tsrdocclstxt, tsrdocclstyp, tsrdocclsblc,
			tsrdocclsfrm, TsrDocIntFle,
			rngcodint, rngcodext, autcod,
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_tsrdocclscod, @lp_tsrdocclstxt, @lp_TsrDocClsTyp, @lp_tsrdocclsblc,
			@lp_tsrdocclsfrm, @lp_TsrDocIntFle,
			@lp_rngcodint, @lp_rngcodext, @lp_autcod,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrdocclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE TSR_DOC_CLS 
		SET	tsrdocclstxt= @lp_tsrdocclstxt,
			tsrdocclsblc= @lp_tsrdocclsblc,
			tsrdocclsfrm= @lp_tsrdocclsfrm,
			TsrDocIntFle= @lp_TsrDocIntFle,
			rngcodint	= @lp_rngcodint,
			rngcodext	= @lp_rngcodext,
			autcod	= @lp_autcod,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and tsrdocclscod = @lp_tsrdocclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrdocclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM TSR_DOC_CLS
		WHERE buscod = @lp_buscod
		  and tsrdocclscod = @lp_tsrdocclscod
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF (select count(*) from tsr_doc_mov where buscod=@lp_buscod and tsrdocclscod=@lp_tsrdocclscod)>0
			BEGIN
				SELECT null, -2 as errcod, 'La clase de documento ya ha sido utilizada. No se puede borrar.' as errtxt
				RETURN
			END
			
		BEGIN TRAN
				
		DELETE 
		FROM TSR_DOC_CLS
		WHERE buscod = @lp_buscod
		  and tsrdocclscod = @lp_tsrdocclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tsrdocclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM TSR_DOC_CLS '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	

    

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 9    -    L I S T A R	p / S E L E C C I O N									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM TSR_DOC_CLS '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END	



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
