USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_SGN_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ADM_SGN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20) = null,
@lp_sgncod			as int					= null,	-- id
@lp_sgnini			as nvarchar(20) = null,	-- iniciales
@lp_sgnpwd			as nvarchar(512)= null,	-- clave
@lp_docsts			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_sysdocclscod	as int				= null	-- id clase documento

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'ADM'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SGN'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		-- obtengo cantidad de dias para el vencimiento de la firma
		declare @lv_days as int 
    set @lv_days = (select top 1 dbo.getTagValue('SIGNATERE_EXPIRATION_DAYS',mdlatrval001) from SYS_APP_MDL_PRM where BusCod=@lp_buscod and mdlcod='ADM')
		set @lv_days = (case when ISNULL(@lv_days,0)=0 then (select top 1 dbo.getTagValue('sgnduedayqty',sysdocclsatr) from SYS_DOC_CLS where BusCod=@lp_buscod and SysDocClsCod=@lp_sysdocclscod) else @lv_days end)	
		--set @lv_days = (case when ISNULL(@lv_days,0)=0 then 0 else @lv_days end)		
    
		declare @lv_sgnduedte as datetime
		set @lv_sgnduedte = DATEADD(day,@lv_days,getdate())

		BEGIN TRAN

		-- inactivar firma anterior
		UPDATE ADM_SGN
		set docsts='I',
			upddte = GETDATE(),
			updusr = @lp_username
		where buscod=@lp_buscod
		  and DocSts='A'
		  and cteusr=@lp_username
		
		-- creo un nuevo registro de firma
		INSERT INTO ADM_SGN (buscod, sgnini, sgnpwd, sysdocclscod, sgnduedte, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_sgnini, @lp_sgnpwd, @lp_sysdocclscod, @lv_sgnduedte, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_sgncod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sgncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- --------------------------------------------------------------------
--   0 3    -    V E R
-- --------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*, u.UsrTxt, convert(nvarchar,s.sgnduedte,103) as sgnduedtecnv
		--.sgncod, s.sgnini, s.ctedte, s.cteusr, s.docsts, s.SysDocClsCod, s.sgnduedte,
		FROM ADM_SGN s
		inner join SYS_DOC_CLS dc on dc.BusCod=s.BusCod and dc.SysDocClsCod=s.SysDocClsCod
		inner join SYS_SEC_USR u on u.UsrCod=s.CteUsr 
		WHERE s.buscod = @lp_buscod
		  and s.SgnCod = @lp_sgncod 
		  and s.docsts = 'A'
		  and s.deldte is null

	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE ADM_SGN
		set docsts='I',
			deldte = getdate(),
			delusr = @lp_username
		WHERE buscod = @lp_buscod
		  and sgncod = @lp_sgncod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sgncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END	


-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' s.sgncod, s.sgnini, s.ctedte, s.cteusr, s.docsts, u.UsrTxt, s.sysdocclscod, s.sgnduedte ',
			' ADM_SGN s '
			+ ' inner join SYS_DOC_CLS dc on dc.BusCod=s.BusCod and dc.SysDocClsCod=s.SysDocClsCod '
			+ ' inner join SYS_SEC_USR u on u.UsrCod=s.CteUsr ',
			' s.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and s.deldte is null '
			+ ' and dbo.CheckAuthorizationObject('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('ADM_SGN','''')+',dc.autcod)=1 ',
			' s.sgncod ', default )
		execute( @lv_sql )
		
    END	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
