USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_BUD_MAT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_BUD_MAT_DEF]
 
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,	-- empresa
@lp_budmatcod		as int			= null, -- id
@lp_budcod 			as int			= null,	-- id presupuesto
@lp_srcobjtyp		as nvarchar(20) = null, -- referencia - tipo (STK_MAT/BUY_SUP/TEXT)
@lp_srcobjcod001	as nvarchar(20)	= null, -- referencia - id
@lp_srcobjcodext	as nvarchar(20)	= null,	-- referencia - codigo
@lp_srcobjtxt		as nvarchar(50)	= null,	-- referencia - descripcion
@lp_matqty 			as bigint		= null,	-- cantidad
@lp_matuntcod		as nvarchar(5)	= null,	-- unidad medida
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_budmatrow		as nvarchar(500)= null,	-- nro fila
@lp_budmatatr		as nvarchar(max)= null	-- atributos

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt NVARCHAR(400) = NULL

declare @lv_stecod int = 0
declare @lv_sysdocclscod_tsk as int = 0
declare @lv_grlcnt_tskclscod as nvarchar(400) = ''
declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty, 3 )

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO CNS_BUD_MAT (buscod, budcod, budmatrow, srcobjtyp, srcobjcod001, srcobjcodext, srcobjtxt, matqty, matuntcod, budmatatr, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_budcod, @lp_budmatrow, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcodext, @lp_srcobjtxt, @lv_matqty, @lp_matuntcod, @lp_budmatatr, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_budmatcod=@@IDENTITY
 
		-- obtengo clase de documento para creacion de contacto    
    select top 1 @lv_sysdocclscod_tsk=dbo.gettagvalue('grlcnt_sysdocclscod',dc.sysdocclsatr),
    						@lv_grlcnt_tskclscod=dbo.gettagvalue('grlcnt_tskclscod',dc.sysdocclsatr)
    from cns_bud b
    inner join sys_doc_cls dc on dc.buscod=b.buscod and dc.sysdocclscod=b.sysdocclscod
    where b.buscod=@lp_buscod and b.budcod=@lp_budcod
		
    --select '@lv_sysdocclscod_tsk' + CAST(@lv_sysdocclscod_tsk as NVARCHAR(MAX))
    --'@lv_grlcnt_tskclscod' + CAST(@lv_grlcnt_tskclscod as NVARCHAR(MAX))
    --return
    
    if @lv_errcod=0 and @lp_srcobjtyp='CNS_TSK' and not isnull(@lv_sysdocclscod_tsk,0)=0 and (not isnull(@lv_grlcnt_tskclscod,'')='' 
    	and exists(select top 1 * from cns_tsk t where t.buscod=@lp_buscod and t.cnstskcod=@lp_srcobjcod001 and t.cnstskclscod in (select id from dbo.StringSplit(isnull(@lv_grlcnt_tskclscod,''),';'))) )
    	
      begin
        set @lv_stecod = (select top 1 stecod from cns_bud where buscod=@lp_buscod and budcod=@lp_budcod)
				-- creo contacto
				exec GRL_DAT_CNT_DEF '01_sp',@lp_username,@lp_buscod,null,null,@lp_srcobjtxt,'CNS_STE',@lv_stecod,@lv_sysdocclscod_tsk,null,null,null,null,'A',null,@lp_srcobjtyp,@lp_srcobjcod001, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
    	end
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_budmatcod as budmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE CNS_BUD_MAT
		SET	srcobjtyp = @lp_srcobjtyp,
			srcobjcod001 = @lp_srcobjcod001,
			srcobjcodext = @lp_srcobjcodext,
			srcobjtxt = @lp_srcobjtxt,
			matqty	= @lv_matqty,
			matuntcod=@lp_matuntcod,
			budmatatr=@lp_budmatatr,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate(),
			budmatrow=@lp_budmatrow
		WHERE buscod=@lp_buscod
		  and budmatcod=@lp_budmatcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_budmatcod as budmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT bm.*
		FROM CNS_BUD b 
			inner join CNS_BUD_MAT bm on bm.buscod=b.buscod and bm.budcod=b.budcod
		WHERE b.buscod=@lp_buscod
		  and b.budcod=@lp_budcod
		ORDER BY budmatrow
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		set @lp_budcod = (select top 1 budcod from cns_bud_mat where buscod=@lp_buscod and budmatcod=@lp_budmatcod)

		BEGIN TRAN

    -- borro contacto
    -- FALTA: si la cuadrilla se encuentra dentro de una tarea, actualmente no se estarÃ­a borrando
    -- deberiamos involucrar a todas las posiciones dependientes para borrar los contactos.
    declare @lv_cntcod int = (select top 1 c.cntcod 
                              from cns_bud cb
                              inner join cns_bud_mat cbm on cbm.buscod=cb.buscod and cbm.budcod=cb.budcod
                              inner join grl_dat_cnt c on c.buscod=cbm.buscod and c.cntsrctyp='CNS_STE' and c.cntsrccod=cb.stecod and c.cntdsttyp=cbm.srcobjtyp and c.cntdstcod=cbm.srcobjcod001
                              where cb.buscod=@lp_buscod 
                              	and cbm.budmatcod=@lp_budmatcod)
    exec GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,null,null,null,null,null,null,null,null,null,null,null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
		
		-- borro materiales dependientes
    if @lv_errcod=0
    	BEGIN
        DELETE FROM CNS_BUD_MAT
        WHERE BusCod=@lp_buscod
          and budmatrow like (select top 1 budmatrow from cns_bud_mat where buscod=@lp_buscod and budcod=@lp_budcod and budmatcod=@lp_budmatcod)+'.%'
          and BudCod=@lp_budcod
        SET @lv_errcod=@@ERROR
      END

		-- borro datos del material
		IF @lv_errcod=0
			BEGIN
				DELETE FROM CNS_BUD_MAT
				WHERE buscod=@lp_buscod
				  and budmatcod=@lp_budmatcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_budmatcod as budmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
				
		-- cns_bud_mat_def '08','temasis','temasis_log'
		-- CNS_BUD_MAT_DEF '08','TEMASIS','SUPPLY','','','','','','','0','','','<VIEW><VEWFLT> AND (S.STECOD=^3^) AND (BM.SRCOBJTYP=^HHR_EMP^) AND (BM.DOCSTS=^A^) AND (B.DOCSTS=^A^) AND (S.DOCSTS=^A^)</VEWFLT><VEWGRP>bm.srcobjtyp, bm.srcobjcod001, bm.srcobjcodext, bm.srcobjtxt</VEWGRP><VEWGRPCAL></VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD>BM.SRCOBJTXT</VEWORD><VEWMAX></VEWMAX></VIEW>',''
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg , 
			' bm.*, s.stecod, t.cnstskatr, tc.cnstskclscodext ',
			' CNS_BUD b '
			+ ' inner join CNS_BUD_MAT bm on bm.buscod=b.buscod and bm.budcod=b.budcod '
			+ ' inner join CNS_STE s on s.buscod=b.buscod and s.stecod=b.stecod '
			+ ' left join CNS_TSK t on t.buscod=bm.buscod and t.cnstskcod=bm.srcobjcod001 and bm.srcobjtyp='+QUOTENAME('CNS_TSK','''')
			+ ' left join CNS_TSK_CLS tc on tc.buscod=t.buscod and tc.cnstskclscod=t.cnstskclscod ',
			' b.buscod='+QUOTENAME(@lp_buscod, ''''),
			' bm.budmatrow ', default )
		execute( @lv_sql )

	END	
	
	
IF @lv_validop = 0		--  C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
