USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_IDT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAT_IDT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20)	= null,	/* empresa */
@lp_matidtcod		as int			= null,	/* id */
@lp_matidtcodext	as nvarchar(30)	= null,	/* codigo */
@lp_matcod 			as int			= null,	/* id material */
@lp_matidtqty		as bigint		= null,	/* cantidad identificacion */
@lp_matidtuntcod	as nvarchar(5)	= null,	/* unidad de medida identificacion */
@lp_matbseqty		as bigint		= null,	/* cantidad base */

@lp_docsts			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* vista */
		
AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)

DECLARE @lv_matidtqty as decimal(18,3)
set @lv_matidtqty = dbo.ConvertNumber(@lp_matidtqty,3)

DECLARE @lv_matbseqty as decimal(18,3)
set @lv_matbseqty = dbo.ConvertNumber(@lp_matbseqty,3)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO STK_MAT_IDT (buscod, matcod, matidtcodext, matidtqty, matidtuntcod, matbseqty, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_matcod, @lp_matidtcodext, @lv_matidtqty, @lp_matidtuntcod, @lv_matbseqty, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_matidtcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matidtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE STK_MAT_IDT 
		SET	matidtcodext=@lp_matidtcodext,
			matidtqty = @lv_matidtqty,
			matidtuntcod = @lp_matidtuntcod,
			matbseqty = @lv_matbseqty, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		   and matidtcod = @lp_matidtcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matidtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		   
	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT i.*, m.mattxt, u.matunttxt
		FROM STK_MAT_IDT i
		 inner join STK_MAT m on m.buscod=i.buscod and m.matcod=i.matcod
		 left join STK_MAT_UNT u on u.buscod=i.buscod and u.matuntcod=i.matidtuntcod
		WHERE i.buscod = @lp_buscod
		  and i.matidtcod = @lp_matidtcod

	END
	
	
	
/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE 
		FROM STK_MAT_IDT
		WHERE buscod=@lp_buscod
		  and matidtcod=@lp_matidtcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_matidtcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' i.*, m.mattxt, m.matcodext, u.matunttxt, m.matuntcod, '
			+ ' m.matusebch, m.matuseser '
			+ ' FROM STK_MAT_IDT i '
			+ '  left join STK_MAT m on m.buscod=i.buscod and m.matcod=i.matcod'
			+ '  left join STK_MAT_UNT u  on u.buscod=i.buscod and u.matuntcod=i.matidtuntcod '
			+ ' WHERE i.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'i.matidtcodext' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
