USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_APP_CHK_USE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_APP_CHK_USE_DEF]
(
  @lp_buscod NVARCHAR(20),					-- ID empresa
  @lp_objtypcod NVARCHAR(20)=NULL,  -- Tipo de objeto a buscar
  @lp_objcod NVARCHAR(200)=NULL,    -- ID de objeto a buscar
  @lp_fldnme NVARCHAR(200)=NULL,    -- Nombre de campo adicional a buscar
  @lp_cntcod NVARCHAR(200)=NULL,			-- Id de Contacto
  @lp_flag BIT = 1 -- 1 Parar en el primero, 0 Buscar todos.
)
AS
BEGIN
  SET NOCOUNT ON

  -- Esta funciÃ³n determina si un tipo de objeto/cÃ³digo estÃ¡ siendo utilizado en alguna tabla.
  -- La bÃºsqueda se enfoca en pares de columnas (SRC, DST, REF, RSP) y un campo adicional.
  -- busqueda en campos srcobjtyp/srcobjcod, srcobjtyp/srcobjcod001, dstobjtyp/dstobjcod, refobjtyp/refobjcod, refobjtyp/refobjcod001, rspobjtyp/rspobjcod, crmcntsrctyp/crmcntsrccod y cuscod.
  
  -- Ejemplo de uso para un Objeto:
  -- EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod='TEMASIS_LOG', @lp_objtypcod='SLS_CUS', @lp_objcod='104', @lp_fldnme='cuscod'
  
  -- Ejemplo de uso para un Contacto:
  --EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod='TEMASIS_LOG', @lp_objtypcod=null,  @lp_objcod=null, @lp_fldnme=null, @lp_cntcod='1443'

  declare @lv_tblnme nvarchar(255)
  declare @lv_colnme nvarchar(255)
  declare @lv_sql nvarchar(max)
  declare @lv_objtyp nvarchar(max)
	declare @lv_join nvarchar(max)
	
  CREATE TABLE #Tables (TableName nvarchar(255), ObjTyp nvarchar(100))

	IF @lp_cntcod IS NOT NULL
	BEGIN
  	declare lc_cnt_cursor cursor for
    select t.name, c.name from sys.tables t inner join sys.columns c on t.object_id = c.object_id 
    where c.name like '%cntcod' and exists (select 1 from sys.columns where name = 'buscod') and t.name != 'GRL_DAT_CNT'

    open lc_cnt_cursor
    fetch next from lc_cnt_cursor into @lv_tblnme, @lv_colnme
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
    	IF COL_LENGTH(@lv_tblnme, 'sysdocclscod') IS NOT NULL
        begin
          set @lv_objtyp = N'c.objtyp as ObjTyp'
          set @lv_join = N' left join sys_doc_cls c on c.buscod = g.buscod and c.sysdocclscod = g.sysdocclscod'
        end
        else
        begin
          set @lv_objtyp = N'NULL as ObjTyp'
          set @lv_join = N''
        end

			set @lv_sql = N'if exists (select 1 from ' + QUOTENAME(@lv_tblnme) + N' where buscod=@lp_buscod and ' + QUOTENAME(@lv_colnme) + N'=@lp_cntcod)
                      begin
                        insert into #Tables (TableName, ObjTyp)
                        select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                        from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                        where g.buscod=@lp_buscod and ' + QUOTENAME(@lv_colnme) + N'=@lp_cntcod
                      end'

      EXEC sp_executesql @lv_sql,N'@lp_buscod nvarchar(20), @lp_cntcod nvarchar(200)', @lp_buscod = @lp_buscod, @lp_cntcod = @lp_cntcod
      
      if @lp_flag = 1 and exists (select 1 from #Tables)
      begin
        break
      end
      
      fetch next from lc_cnt_cursor into @lv_tblnme, @lv_colnme
    END
    
    close lc_cnt_cursor
  	deallocate lc_cnt_cursor
  END
  ELSE
  BEGIN
  	declare lc_cursor cursor for
    select name from sys.tables where object_id in (select object_id from sys.columns where name = 'buscod') and name != @lp_objtypcod
    open lc_cursor
    fetch next from lc_cursor into @lv_tblnme
    
  	WHILE @@FETCH_STATUS = 0
    BEGIN
    	IF COL_LENGTH(@lv_tblnme, 'sysdocclscod') IS NOT NULL
        begin
          set @lv_objtyp = N'c.objtyp as ObjTyp'
          set @lv_join = N' left join sys_doc_cls c on c.buscod = g.buscod and c.sysdocclscod = g.sysdocclscod'
        end
        else
        begin
          set @lv_objtyp = N'NULL as ObjTyp'
          set @lv_join = N''
        end
      -- CondiciÃ³n para srcobjtyp con srcobjcod o srcobjcod001
      if COL_LENGTH(@lv_tblnme, 'srcobjtyp') is not null
      begin
        if COL_LENGTH(@lv_tblnme, 'srcobjcod') is not null
          set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and srcobjtyp=@lp_objtypcod and srcobjcod=@lp_objcod) 
                         	begin
                        		insert into #Tables (TableName, ObjTyp)
                            select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                            from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                            where g.buscod=@lp_buscod and g.srcobjtyp=@lp_objtypcod and g.srcobjcod=@lp_objcod
                         	end'
        else if COL_LENGTH(@lv_tblnme, 'srcobjcod001') is not null
          set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and srcobjtyp=@lp_objtypcod and srcobjcod001=@lp_objcod) 
                         	begin
                          	insert into #Tables (TableName, ObjTyp)
                            select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                            from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                            where g.buscod=@lp_buscod and g.srcobjtyp=@lp_objtypcod and g.srcobjcod001=@lp_objcod
                         	end'
        EXEC sp_executesql @lv_sql, N'@lp_buscod nvarchar(20), @lp_objtypcod nvarchar(20), @lp_objcod nvarchar(200)', @lp_buscod = @lp_buscod, @lp_objtypcod = @lp_objtypcod, @lp_objcod = @lp_objcod
      end
      
      -- CondiciÃ³n para refobjtyp con refobjcod o refobjcod001
      if COL_LENGTH(@lv_tblnme, 'refobjtyp') is not null
      begin
        if COL_LENGTH(@lv_tblnme, 'refobjcod') is not null
        	set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and refobjtyp=@lp_objtypcod and refobjcod=@lp_objcod) 
                          begin
                            insert into #Tables (TableName, ObjTyp)
                            select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                            from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                            where g.buscod=@lp_buscod and g.refobjtyp=@lp_objtypcod and g.refobjcod=@lp_objcod
                          end'
        else if COL_LENGTH(@lv_tblnme, 'refobjcod001') is not null
        	set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and refobjtyp=@lp_objtypcod and refobjcod001=@lp_objcod) 
                          begin
                            insert into #Tables (TableName, ObjTyp)
                            select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                            from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                            where g.buscod=@lp_buscod and g.refobjtyp=@lp_objtypcod and g.refobjcod001=@lp_objcod
                          end'
        EXEC sp_executesql @lv_sql, N'@lp_buscod nvarchar(20), @lp_objtypcod nvarchar(20), @lp_objcod nvarchar(200)', @lp_buscod = @lp_buscod, @lp_objtypcod = @lp_objtypcod, @lp_objcod = @lp_objcod
			end

      -- CondiciÃ³n para dstobjtyp / dstobjcod
      if COL_LENGTH(@lv_tblnme, 'dstobjtyp') is not null and COL_LENGTH(@lv_tblnme, 'dstobjcod') is not null
      begin
        set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and dstobjtyp=@lp_objtypcod and dstobjcod=@lp_objcod) 
                      	begin
                          insert into #Tables (TableName, ObjTyp)
                          select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                          from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                          where g.buscod=@lp_buscod and g.dstobjtyp=@lp_objtypcod and g.dstobjcod=@lp_objcod
                        end'
        EXEC sp_executesql @lv_sql, N'@lp_buscod nvarchar(20), @lp_objtypcod nvarchar(20), @lp_objcod nvarchar(200)', @lp_buscod = @lp_buscod, @lp_objtypcod = @lp_objtypcod, @lp_objcod = @lp_objcod
      end

      -- CondiciÃ³n para rspobjtyp / rspobjcod
      if COL_LENGTH(@lv_tblnme, 'rspobjtyp') is not null and COL_LENGTH(@lv_tblnme, 'rspobjcod') is not null
      begin
        set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and rspobjtyp=@lp_objtypcod and rspobjcod=@lp_objcod) 
                      	begin
                          insert into #Tables (TableName, ObjTyp)
                          select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                          from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                          where g.buscod=@lp_buscod and g.rspobjtyp=@lp_objtypcod and g.rspobjcod=@lp_objcod
                        end'
        EXEC sp_executesql @lv_sql, N'@lp_buscod nvarchar(20), @lp_objtypcod nvarchar(20), @lp_objcod nvarchar(200)', @lp_buscod = @lp_buscod, @lp_objtypcod = @lp_objtypcod, @lp_objcod = @lp_objcod
      end
      
      -- CondiciÃ³n para crmcntsrctyp / crmcntsrccod
      if COL_LENGTH(@lv_tblnme, 'crmcntsrctyp') is not null and COL_LENGTH(@lv_tblnme, 'crmcntsrccod') is not null
      begin
        set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and crmcntsrctyp=@lp_objtypcod and crmcntsrccod=@lp_objcod) 
                      	begin
                          insert into #Tables (TableName, ObjTyp)
                          select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                          from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                          where g.buscod=@lp_buscod and g.crmcntsrctyp=@lp_objtypcod and g.crmcntsrccod=@lp_objcod
                        end'
        EXEC sp_executesql @lv_sql, N'@lp_buscod nvarchar(20), @lp_objtypcod nvarchar(20), @lp_objcod nvarchar(200)', @lp_buscod = @lp_buscod, @lp_objtypcod = @lp_objtypcod, @lp_objcod = @lp_objcod
      end
      
      -- CondiciÃ³n para el campo dinÃ¡mico @lp_fldnme
      if COL_LENGTH(@lv_tblnme, @lp_fldnme) is not null
      begin
        set @lv_sql = N'if exists (select 1 from '+QUOTENAME(@lv_tblnme)+N' where buscod=@lp_buscod and '+QUOTENAME(@lp_fldnme)+N' = @lp_objcod)
                        begin
                          insert into #Tables (TableName, ObjTyp)
                          select distinct ''' + @lv_tblnme + N''', ' + @lv_objtyp + '
                          from ' + QUOTENAME(@lv_tblnme) + N' g ' + @lv_join + '
                          where g.buscod=@lp_buscod and g.' + QUOTENAME(@lp_fldnme) + N' = @lp_objcod
                        end'
        EXEC sp_executesql @lv_sql, N'@lp_buscod nvarchar(20), @lp_objcod nvarchar(200)', @lp_buscod = @lp_buscod, @lp_objcod = @lp_objcod
      end
			
      if @lp_flag = 1 and exists (select 1 from #Tables)
      begin
        break
      end
      
      fetch next from lc_cursor into @lv_tblnme
    END
    
    close lc_cursor
  	deallocate lc_cursor
  END
  -- Devolver lista de tablas donde se encontrÃ³ el Objeto o Contacto
  select distinct TableName, ObjTyp from #Tables
  drop table #Tables
END
GO
