USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MED_ATR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_MED_ATR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_medatrcod		as int = null,				/* id */
@lp_medatrcodext 	as nvarchar(10)	= null,		/* cod externo */
@lp_medatrtxt		as nvarchar(50)	= null,		/* descripción */
@lp_medatrord		as int = null,				/* orden */
@lp_docsts			as nvarchar(05) = null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-1	La especialidad no se puede borrar. Esta asignada a prestador/es	*/
/* ------------------------------------------------------------------------ */
	


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_MED_ATR (buscod, medatrcodext, medatrtxt, medatrord, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_medatrcodext, @lp_medatrtxt, @lp_medatrord, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_medatrcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_medatrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HLT_MED_ATR SET
			medatrcodext=@lp_medatrcodext,
			medatrtxt = @lp_medatrtxt,
			medatrord=@lp_medatrord,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and medatrcod = @lp_medatrcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_medatrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*
		FROM HLT_MED_ATR a
		WHERE a.buscod=@lp_buscod
		  and a.medatrcod=@lp_medatrcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
		
		IF exists( select top 1 * from hlt_pat_evl_atr where buscod=@lp_buscod and medatrcod=@lp_medatrcod)
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar el atributo. Se ha utilizado.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		DELETE
		FROM HLT_MED_ATR
		WHERE buscod = @lp_buscod
		  and medatrcod = @lp_medatrcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_medatrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM HLT_MED_ATR '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'medatrord' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )
		

	END



/* ------------------------------------------------------------------------ */
/*   2 3    -    L I S T A R    x    D E S C R I P C I O N					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM HLT_MED_ATR
		WHERE buscod = @lp_buscod
		  and docsts = 'A'
		  and medatrtxt like '%' + @lp_medatrtxt + '%'
		ORDER BY medatrtxt

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
