USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MOD_PRC_VER_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_MOD_PRC_VER_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_prclstcod		as int			= null,	/* id lista */
@lp_prclstver		as int			= null,	/* id version */
@lp_prclststrdte	as nvarchar(14)	= null,	/* fecha inicio */
@lp_prclstenddte	as nvarchar(14)	= null,	/* fecha fin */
@lp_docsts			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_prclstver    as int

declare @lv_prclststrdte as datetime
SET @lv_prclststrdte = dbo.ConvertDate( @lp_prclststrdte )

declare @lv_prclstenddte as datetime
SET @lv_prclstenddte = dbo.ConvertDate( @lp_prclstenddte )



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_MOD_PRC_VER (buscod, prclstcod, prclststrdte, prclstenddte, docsts, ctedte, cteusr )
		VALUES (@lp_buscod, @lp_prclstcod, @lv_prclststrdte, @lv_prclstenddte, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SELECT @lp_prclstver = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prclstver, @lv_errcod as errcod, dbo.ConvertDate( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_MOD_PRC_VER 
		SET	prclststrdte = @lv_prclststrdte,
			prclstenddte = @lv_prclstenddte,
			docsts		= @lp_docsts,
			upddte		= getdate(),
			updusr		= @lp_username
		WHERE buscod=@lp_buscod
		  and prclstcod = @lp_prclstcod
		  and prclstver = @lp_prclstver
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prclstver, @lv_errcod as errcod, dbo.ConvertDate( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT	v.*, p.prclsttxt
		FROM	HLT_MOD_PRC p 
			inner join HLT_MOD_PRC_VER v on v.buscod=p.buscod and v.prclstcod=p.prclstcod
		WHERE   v.buscod=@lp_buscod
			and v.prclstcod = @lp_prclstcod
			and v.prclstver = @lp_prclstver

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* borro contenido de versión */
		DELETE FROM HLT_MOD_PRC_LST WHERE buscod=@lp_buscod and prclstcod=@lp_prclstcod and prclstver=@lp_prclstver
		SET @lv_errcod = @@ERROR
		
		/* borro versión */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM HLT_MOD_PRC_VER WHERE buscod=@lp_buscod and prclstcod=@lp_prclstcod and prclstver=@lp_prclstver
				SET @lv_errcod = @@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prclstver, @lv_errcod as errcod, dbo.ConvertDate( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' v.* '
			+ '	FROM HLT_MOD_prc_ver v '
			+ ' WHERE v.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and v.prclstcod='+QUOTENAME(@lp_prclstcod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END





IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
