USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_FRM_FLD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_FRM_FLD_DEF]
 
@lp_sysoperation 	as nvarchar(4),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_frmdatfldcod	as int					= null,	-- id de campo de formulario de vista
@lp_frmdatfldcodext	as nvarchar(20)= null,-- codigo
@lp_frmdatcod			as nvarchar(20)	= null,	-- id formulario
@lp_frmdatval			as nvarchar(max)= null,	-- atributos de campo 
@lp_frmdocfldcod	as nvarchar(20)	= null,	-- id de formulario de vista 
@lp_docsts 				as nvarchar(02)	= null,	-- estado 

@lp_vewcfg				as nvarchar(max)= null,	-- configuraciÃ³n ede la vista 

@lp_errtyp				as nvarchar(2)	= null OUTPUT,
@lp_errcod				as int					= 0		OUTPUT,
@lp_errtxt				as nvarchar(400)= null OUTPUT,
@lp_errmsg				as nvarchar(400)= null OUTPUT,
@lp_errvar				as nvarchar(400)= null OUTPUT

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='01sp'
	BEGIN
		SET @lv_validop = 1   
				 
		if @lp_sysoperation='01'
			BEGIN TRAN
		
		INSERT INTO GRL_DAT_FRM_FLD (buscod, frmdatcod, frmdatval, frmdocfldcod, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_frmdatcod, @lp_frmdatval, @lp_frmdocfldcod, @lp_docsts, @lp_username, getdate()
		SET @lp_errcod=@@ERROR
		SET @lp_frmdatfldcod=@@IDENTITY
		
		if @lp_sysoperation='01'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN			
				SELECT @lp_frmdatfldcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
			end

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='02sp'
	BEGIN
		SET @lv_validop = 1

		-- si el campo es un archivo no se modifica su valor, ya que solo se permite alta y borrado
		if exists(select top 1 * from sys_doc_frm_fld where buscod=@lp_buscod and sysdocfrmfldcod=@lp_frmdocfldcod and sysfldinptyp='FILE')
			begin
				if @lp_sysoperation='02'
					SELECT @lp_frmdatfldcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
				return 
			end

		if @lp_sysoperation='02'
			BEGIN TRAN

		UPDATE GRL_DAT_FRM_FLD 
		SET	frmdatval = @lp_frmdatval,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and frmdatcod = @lp_frmdatcod
			and frmdatfldcod=@lp_frmdatfldcod
		SET @lp_errcod=@@ERROR
			
		if @lp_sysoperation='02'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_frmdatfldcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
			end
			
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM GRL_DAT_FRM_FLD
		WHERE buscod = @lp_buscod
		  and frmdatfldcod = @lp_frmdatfldcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='04sp'
	BEGIN
		SET @lv_validop = 1
	
		if @lp_sysoperation='04'
			BEGIN TRAN
		
		DELETE 
		FROM GRL_DAT_FRM_FLD 
		WHERE buscod=@lp_buscod
		  and frmdatfldcod = @lp_frmdatfldcod
		SET @lp_errcod=@@ERROR
		
		if @lp_sysoperation='04'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN			
				SELECT @lp_frmdatfldcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
			end

	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, 
			' ff.*, f.srcobjcod001, f.srcobjtyp, sff.sysdocfrmcod ', 
			' GRL_DAT_FRM f '
			+ ' inner join GRL_DAT_FRM_FLD ff on ff.buscod=f.buscod and ff.frmdatcod=f.frmdatcod'
			+ ' inner join SYS_DOC_FRM_FLD sff on sff.buscod=f.buscod and sff.sysdocfrmcod=f.sysdocfrmcod and sff.sysdocfrmfldcod=ff.frmdocfldcod'
			+ ' inner join SYS_DOC_FRM sf on sf.buscod=sff.buscod and sf.sysdocfrmcod=sff.sysdocfrmcod',
			'ff.buscod='+QUOTENAME(@lp_buscod,''''), 
			' ff.frmdatfldcod ', default)
  		execute( @lv_sql )

	END
	


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
