USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_HIE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[STK_MAT_HIE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_mathiecod		as int			= null,	/* id */
@lp_mathiecodext	as nvarchar(20)	= null,	/* codigo */
@lp_mathietxt		as nvarchar(50)	= null,	/* descripcion */
@lp_mathiepar		as int			= null,	/* id jerarquia padre */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuraciÃ³n ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_key as nvarchar(4000)
declare @lv_mathiepth as nvarchar(4000)
declare @lv_qty as int


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-2	No se puede borrar la jerarquia. Materiales asociados.				*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* armo la clave de la jerarquia */
		set @lv_key = isnull( (select top 1 mathiekey from stk_mat_hie where buscod=@lp_buscod and mathiecod=@lp_mathiepar), '') + cast(@lp_mathiepar as nvarchar(20)) + '.'

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO STK_MAT_HIE (buscod, mathiecodext, mathietxt, mathiepar, mathiekey, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_mathiecodext, @lp_mathietxt, @lp_mathiepar, @lv_key, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_mathiecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_mathiecod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE STK_MAT_HIE 
		SET	mathietxt = @lp_mathietxt,
			docsts = @lp_docsts,
			updusr = @lp_username,
      mathiecodext = @lp_mathiecodext,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and mathiecod = @lp_mathiecod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_mathiecod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		
		declare @lv_mathietxt_tmp as nvarchar(100)
		declare @lv_mathiepar_tmp as nvarchar(100)
		declare @lv_mathiepar_tmp2 as nvarchar(100)
		set @lv_qty = 0
		set @lv_mathiepth = ''

		select @lv_mathietxt_tmp=mathietxt, @lv_mathiepar_tmp=mathiepar from stk_mat_hie where buscod=@lp_buscod and mathiecod=@lp_mathiecod
		WHILE not isnull(@lv_mathiepar_tmp,0)=0 and @lv_qty<100
			BEGIN
				set @lv_mathiepar_tmp2 = @lv_mathiepar_tmp
				select @lv_mathietxt_tmp=mathietxt, @lv_mathiepar_tmp=mathiepar from stk_mat_hie where buscod=@lp_buscod and mathiecod=@lv_mathiepar_tmp2
				SET @lv_mathiepth = @lv_mathietxt_tmp+(case when @lv_mathiepth='' then '' else char(9) end)+@lv_mathiepth
				set @lv_qty = @lv_qty + 1
			END

		SELECT h.*, mh.mathietxt as mathiepartxt, @lv_mathiepth as mathiepth
		FROM STK_MAT_HIE h
		left join STK_MAT_HIE mh on mh.buscod=h.buscod and mh.mathiecod=h.mathiepar
		WHERE h.buscod=@lp_buscod
		  and h.mathiecod = @lp_mathiecod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		IF exists (select top 1 * from stk_mat where buscod=@lp_buscod and mathiecod in (select x.mathiecod from stk_mat_hie x where x.buscod=@lp_buscod and x.mathiecod=@lp_mathiecod or x.mathiekey like cast(@lp_mathiecod as nvarchar(20))+'.%') )
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la jerarquia. Materiales asociados.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		DELETE
		FROM STK_MAT_HIE
		WHERE buscod = @lp_buscod
		  and mathiecod in (select x.mathiecod from stk_mat_hie x where x.buscod=@lp_buscod and x.mathiecod=@lp_mathiecod or x.mathiekey like cast(@lp_mathiecod as nvarchar(20))+'.%' )
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_mathiecod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		select h.*, (select count(*) from stk_mat_hie x where x.buscod=h.buscod and x.mathiepar=h.mathiecod) as mathiechlqty
		from stk_mat_hie h
		where h.buscod=@lp_buscod
		order by h.mathiekey, h.mathietxt

	END



/* ------------------------------------------------------------------------ */
/*   1 3    -    L I S T A R	P A T H										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_mathiepth = (select top 1 mathiekey+cast(mathiecod as nvarchar(20)) from STK_MAT_HIE where BusCod=@lp_buscod and MatHieCod=@lp_mathiecod)

		select h.*
		from dbo.StringSplit(@lv_mathiepth,'.') x 
		inner join STK_MAT_HIE h on h.BusCod=@lp_buscod and h.MatHieCod=x.id 
		where h.BusCod=@lp_buscod
		order by h.mathiekey

	END



/* ------------------------------------------------------------------------ */
/*   1 7    -    L I S T A    segÃºn    T E X T O							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 20 h.*
		FROM stk_mat_hie h
		WHERE buscod=@lp_buscod
		  and h.mathietxt like '%'+@lp_mathietxt+'%'
		  and h.docsts='A'
		
	END	



/* ------------------------------------------------------------------------ */
/*   1 8    -    L I S T A    T O D O S    L O S    P A T H					*/
/* ------------------------------------------------------------------------ */
-- agrupa y cuenta todos los niveles de jerarquia asignados a un grupo
-- de materiales
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		/* stk_mat_hie_def '18','mdominguez','temasis_log',null,null,null,null,null,'<vewopt><vewflt> and m.matcod in (^33^,^34^,^52^)</vewflt></vewopt>' */

		select cast(null as int) as MatHieCod, cast(null as nvarchar(50)) as mathietxt, cast(null as nvarchar(4000)) as mathiekey, cast(null as int) as mathieqty  into #tmp_data from STK_MAT_HIE where 1=2
		declare lv_cur cursor for
		select h.mathiekey+CAST(h.mathiecod as nvarchar(20)), COUNT(*) as qty
		from STK_MAT_HIE h
		inner join STK_MAT m on m.BusCod=h.BusCod and m.MatHieCod=h.MatHieCod
		where h.BusCod=@lp_buscod
		and dbo.getTagValue('vewflt',@lp_vewcfg) like '%'''+cast(m.MatCod as nvarchar(20))+'''%'
		group by h.mathiekey+CAST(h.mathiecod as nvarchar(20))
		having COUNT(*)>0
		open lv_cur
		fetch next from lv_cur into @lv_mathiepth, @lv_qty
		while @@FETCH_STATUS=0
			begin
				insert into #tmp_data (mathiecod, mathietxt, mathiekey, mathieqty) select h.mathiecod, h.mathietxt, h.mathiekey, @lv_qty from dbo.StringSplit(@lv_mathiepth,'.') x inner join STK_MAT_HIE h on h.MatHieCod=x.id where h.BusCod=@lp_buscod 
				fetch next from lv_cur into @lv_mathiepth, @lv_qty
			end
		close lv_cur
		deallocate lv_cur
		select MatHieCod, mathietxt, mathiekey, SUM(mathieqty) as mathieqty from #tmp_data group by MatHieCod, mathietxt, mathiekey order by mathiekey, mathietxt

	END

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END




GO
