USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_EVL_SPC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_EVL_SPC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_evlspccod		as int				= null,	/* id evol-atr */
@lp_evlcod			as int				= null,	/* id evolucion */
@lp_spccod			as int				= null,	/* id especialidad */
@lp_evlatrval001	as nvarchar(max)	= null,	/* val001 */
@lp_evlatrval002	as nvarchar(max)	= null,	/* val002 */
@lp_evlatrval003	as nvarchar(max)	= null,	/* val003 */
@lp_evlatrval004	as nvarchar(max)	= null,	/* val004 */
@lp_evlatrval005	as nvarchar(max)	= null,	/* val005 */
@lp_evlatrval006	as nvarchar(max)	= null,	/* val006 */
@lp_evlatrval007	as nvarchar(max)	= null,	/* val007 */
@lp_evlatrval008	as nvarchar(max)	= null,	/* val008 */
@lp_evlatrval009	as nvarchar(max)	= null,	/* val009 */
@lp_docsts 			as nvarchar(02)		= null,	/* estado */

@lp_vewcfg			as nvarchar(max)	= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int
SET @lv_errcod=0

declare @lv_errtxt as nvarchar(400)
declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO HLT_PAT_EVL_SPC (buscod, evlcod, spccod, evlatrval001, evlatrval002, evlatrval003, evlatrval004, evlatrval005, evlatrval006, evlatrval007, evlatrval008, evlatrval009, docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_evlcod, @lp_spccod, @lp_evlatrval001, @lp_evlatrval002, @lp_evlatrval003, @lp_evlatrval004, @lp_evlatrval005, @lp_evlatrval006, @lp_evlatrval007, @lp_evlatrval008, @lp_evlatrval009, @lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_evlspccod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlspccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_PAT_EVL_SPC
		SET evlatrval001=@lp_evlatrval001,
			evlatrval002=@lp_evlatrval002,
			evlatrval003=@lp_evlatrval003,
			evlatrval004=@lp_evlatrval004,
			evlatrval005=@lp_evlatrval005,
			evlatrval006=@lp_evlatrval006,
			evlatrval007=@lp_evlatrval007,
			evlatrval008=@lp_evlatrval008,
			evlatrval009=@lp_evlatrval009,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
			and evlspccod=@lp_evlspccod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlspccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SElECT s.*
		FROM hlt_pat_evl_spc s
		WHERE s.buscod=@lp_buscod
		  and s.evlspccod=@lp_evlspccod

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' es.*, e.patcod '
			+ ' FROM hlt_pat_evl_spc es '
			+ ' inner join hlt_pat_evl e on e.buscod=es.buscod and e.evlcod=es.evlcod '
			+ ' WHERE es.buscod='+QUOTENAME(@lp_buscod,'''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
