USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_PRC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_PRC_DEF]

@lp_sysoperation 		as nvarchar(5),
@lp_username 				as nvarchar(20),
@lp_buscod 					as nvarchar(20)	= null,
@lp_slsprclstcod		as int					= null,	-- id 
@lp_slsprclstcodext	as nvarchar(20)	= null,	-- cod externo 
@lp_slsprclsttxt		as nvarchar(50)	= null,	-- descripcion 
@lp_curcod					as nvarchar(5)	= null, -- id moneda 
@lp_slsprclstvercod	as int					= null,	-- id version 
@lp_slsprclststrdte	as nvarchar(14)	= null, -- fecha inicio 
@lp_slsprclstenddte	as nvarchar(14)	= null, -- fecha fin 

@lp_slsprclstatr		as nvarchar(max)=null,	-- atributos 
@lp_docsts 					as nvarchar(1)	= null, -- estado 

@lp_vewcfg					as nvarchar(max)= null,	-- configuraciÃ³n vista 

@lp_sysdocclscod		as int					= null,	-- id clase documento 

@lp_errcod					as int					= null OUTPUT,	
@lp_errtxt					as nvarchar(max)= null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_prclstver		as int
declare @lv_slsprclststrdte	as datetime = dbo.ConvertDate( @lp_slsprclststrdte )
declare @lv_slsprclstenddte	as datetime = dbo.ConvertDate( @lp_slsprclstenddte )
declare @lv_prccndcod as int
declare @lv_srcobjcod001 as nvarchar(max)

declare @lv_sql as nvarchar(max)

declare @lv_slsprcsrctyp as nvarchar(20)
declare @lv_slsprcsrccod as int
declare @lv_slsprcqty as decimal(18,3)
declare @lv_slsprcuntcod as nvarchar(5)
declare @lv_slsprc as decimal(18,3)
declare @lv_slsprccurcod as nvarchar(5)
declare @lv_docsts as nvarchar(2)
declare @lv_slsprclstvercod as int
declare @lv_slsprclstprccod as int
declare @lv_slsprcvar as decimal(13,3)
declare @lv_errtxt as nvarchar(max)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PRC'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-5	Moneda invÃ¡lida.													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		
		IF not exists(select top 1 * from adm_cur where curcod=@lp_curcod)
			begin
				select null, -5 as errcod, 'Moneda invÃ¡lida.' as errtxt
				return
			end
		
	END	
	

	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or  @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO SLS_PRC (buscod, slsprclstcodext, slsprclsttxt, curcod, slsprclstatr, docsts, cteusr, ctedte, sysdocclscod) 
		VALUES (@lp_buscod, @lp_slsprclstcodext, @lp_slsprclsttxt, @lp_curcod, @lp_slsprclstatr, @lp_docsts, @lp_username, getdate(), @lp_sysdocclscod)
		SET @lv_errcod = @@ERROR
		SET @lp_slsprclstcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsprclstcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt, @lp_slsprclstvercod as slsprclstvercod
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or  @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		UPDATE SLS_PRC 
		SET slsprclstcodext = @lp_slsprclstcodext,
			slsprclsttxt = @lp_slsprclsttxt,
			slsprclstatr = @lp_slsprclstatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and slsprclstcod=@lp_slsprclstcod
		SET @lv_errcod = @@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsprclstcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt, @lp_slsprclstvercod as prclstvercod
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or  @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, m.curtxt
		FROM SLS_PRC p 
			left join adm_cur m on m.curcod=p.curcod
		WHERE p.buscod=@lp_buscod
		  and p.slsprclstcod=@lp_slsprclstcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04'  or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		if exists(select top 1 * from sls_prc_ver where buscod=@lp_buscod and SlsPrcLstAncPrcCod=@lp_slsprclstcod and GETDATE() between SlsPrcLstStrDte and SlsPrcLstEndDte)
			begin
				select null, -41 as errcod, 'No se puede borrar. Existen listas de precios vigentes referenciadas.' as errtxt
				return
			end

		BEGIN TRAN

		-- quito asignaciÃ³n a maestro de clientes
		UPDATE sls_cus SET slsprclstcod=null WHERE buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod
		SET @lv_errcod=@@ERROR
		
		-- borro precios de listas de precio
		IF @lv_errcod=0
			BEGIN
				DELETE FROM SLS_PRC_LST WHERE buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod
				SET @lv_errcod = @@ERROR
			END
					
		-- borro versiones
		IF @lv_errcod=0
			BEGIN
				DELETE FROM SLS_PRC_VER WHERE buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod
				SET @lv_errcod = @@ERROR
			END

		-- borro registros de precios (preios espejados)
		if @lv_errcod=0
			begin
				set @lv_prccndcod = (select dbo.GetTagValue('prccndcod',dc.sysdocclsatr) from SLS_PRC p inner join SYS_DOC_CLS dc on dc.BusCod=p.BusCod and dc.SysDocClsCod=p.SysDocClsCod where p.BusCod=@lp_buscod and p.SlsPrcLstCod=@lp_slsprclstcod)
				set @lv_srcobjcod001 = CAST(@lp_slsprclstcod as nvarchar(10))+';%'
				if not ISNULL(@lv_prccndcod,0)=0
					EXECUTE GRL_DAT_PRC_DEF '14_sp', @lp_username,@lp_buscod,
							null, 'SYS_PCN', @lv_srcobjcod001,'','0','0',@lv_prccndcod,null,null,
							null,null,null,null,@lp_docsts, null, null,
							@lv_errcod OUTPUT,@lv_errtxt OUTPUT,'','',null
			end

		-- borro lista de precios
		IF @lv_errcod=0
			BEGIN
				DELETE FROM SLS_PRC WHERE buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsprclstcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt, @lp_slsprclstvercod as slsprclstvercod
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or  @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' p.*, m.curtxt ', ' sls_prc p left join adm_cur m on m.curcod=p.curcod ', ' p.buscod='+QUOTENAME(@lp_buscod, ''''), ' p.ctedte desc ', default )
		execute( @lv_sql )
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
