USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_PLN_INS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_PLN_INS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_eduplninscod	as int			= null,	-- id
@lp_eduplncod		as int			= null,	-- id planificaciÃ³n
@lp_eduplndtecod	as int			= null,	-- id planificaciÃ³n fecha
@lp_stucod			as int			= null,	-- id alumno
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- vista

@lp_eduplnprecod	as int			= null		-- id pre-inscripcion

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PLN'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO EDU_PLN_INS (buscod, eduplncod, eduplndtecod, stucod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_eduplncod, @lp_eduplndtecod, @lp_stucod, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_eduplninscod=@@IDENTITY

		IF @lv_errcod=0 and not isnull(@lp_eduplnprecod,0)=0
			BEGIN
				UPDATE EDU_PLN_PRE
				SET eduplninscod=@lp_eduplninscod
				WHERE buscod=@lp_buscod
				  and eduplnprecod=@lp_eduplnprecod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eduplninscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		/* nada que hacer */
		
		SELECT @lp_eduplninscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT i.*, s.stutxt, pp.eduplnprecod
		FROM EDU_PLN_INS i
		left join EDU_STU s on s.buscod=i.buscod and s.stucod=i.stucod
		left join EDU_PLN p on p.buscod=i.buscod and p.eduplncod=i.eduplncod
		left join EDU_PLN_DTE pd on pd.buscod=i.buscod and pd.eduplndtecod=i.eduplndtecod 
		left join edu_pln_pre pp on pp.buscod=i.buscod and pp.eduplninscod=i.eduplninscod
		WHERE i.buscod=@lp_buscod
		  and i.eduplninscod=@lp_eduplninscod

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		declare @lv_eduplncod as int
		declare @lv_eduplndtecod as int
		select @lv_eduplncod=eduplncod, @lv_eduplndtecod=eduplndtecod from EDU_PLN_INS where buscod=@lp_buscod and EduPlnInsCod=@lp_eduplninscod

		if not ( isnull(@lv_eduplncod,0)=0 and isnull(@lv_eduplndtecod,0)=0 )
			begin
				IF exists(select top 1 * from edu_stu_evl where buscod=@lp_buscod and eduplncod=@lv_eduplncod and eduplndtecod=@lv_eduplndtecod and deldte is null)
					begin
						select null, -41 as errcod, 'No se puede borrar la inscripciÃ³n. Existen evaluaciones.' as errtxt
						return
					end

			IF exists(select top 1 * from EDU_STU_ASS where buscod=@lp_buscod and eduplncod=@lv_eduplncod and eduplndtecod=@lv_eduplndtecod and deldte is null)
					begin
						select null, 'E' as errtyp, -42 as errcod, 'No se puede borrar la inscripciÃ³n. Existen registros de asistencia.' as errtxt
						return
					end
			end

		BEGIN TRAN

		UPDATE EDU_PLN_PRE
		SET eduplninscod=0
		WHERE buscod=@lp_buscod
		  and eduplninscod=@lp_eduplninscod
		SET @lv_errcod=@@ERROR

		if @lv_errcod=0
			BEGIN
				DELETE
				FROM EDU_PLN_INS
				WHERE buscod=@lp_buscod
				  and eduplninscod=@lp_eduplninscod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_eduplninscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
    set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, 
                                      'i.*, s.stutxt, p.edusubcod, pd.eduplndte, pd.eduplndte, eu.EduCurTxt, ea.EduCarTxt, eo.EduCouTxt, es.EduSubTxt, t.TchTxt, sl.StdLocTxt, ua.adrtwn, ualr.lndregtxt, s.ctedte as stuctedte, pp.eduplnprecod ', 
                                      'EDU_PLN_INS i '
                                     			+ ' inner join EDU_STU s on s.buscod=i.buscod and s.stucod=i.stucod '
																					+ ' left join edu_pln p on p.buscod=i.buscod and p.eduplncod=i.eduplncod '
																					+ ' left join edu_pln_dte pd on pd.buscod=i.buscod and pd.eduplncod=i.eduplncod and pd.eduplndtecod=i.eduplndtecod '
																					+ ' left join EDU_CUR eu on eu.buscod=p.buscod and eu.educurcod=p.educurcod '
																					+ ' left join EDU_CAR ea on ea.buscod=p.buscod and ea.educarcod=p.educarcod '
																					+ ' left join EDU_COU eo on eo.buscod=p.buscod and eo.educoucod=p.educoucod '
																					+ ' left join EDU_SUB es on es.buscod=p.buscod and es.edusubcod=p.edusubcod '
																					+ ' left join EDU_TCH t on t.buscod=p.buscod and t.tchcod=pd.tchcod '
																					+ ' left join GRL_DAT_ADR ua on ua.buscod=s.buscod and ua.adrsrctyp='+QUOTENAME('EDU_STU','''')+' and ua.adrsrccod=s.stucod '
																					+ ' left join GRL_DAT_LND_REG ualr on ualr.lndcod=ua.lndcod and ualr.lndregcod=ua.lndregcod '
																					+ ' left join EDU_PLN_PRE pp on pp.buscod=i.buscod and pp.eduplninscod=i.eduplninscod '
																					+ ' left join EDU_STD_LOC sl on sl.buscod=p.buscod and sl.StdLocCod=pd.StdLocCod ', 
                                      'i.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                      's.stutxt' , default)
		execute( @lv_sql )
  END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
