USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_PRF_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_USR_PRF_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_UsrPrfCod		as int			= null,		-- id
@lp_usrcod			as nvarchar(20)	= null,		-- id usuario
@lp_UsrPrfGrp		as nvarchar(250)= null,		-- grupo
@lp_usrprfkey		as nvarchar(250)= null,		-- clave
@lp_usrprfval		as nvarchar(max)= null,		-- valor
@lp_docsts			as nvarchar(02)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null		-- configuración vista

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- evitar duplicados
		set @lp_UsrPrfCod = (select top 1 UsrPrfCod from SYS_SEC_USR_PRF where BusCod=@lp_buscod and UsrCod=@lp_usrcod and UsrPrfGrp=@lp_UsrPrfGrp and UsrPrfKey=@lp_usrprfkey)
		IF @lp_UsrPrfCod is null
			SET @lp_sysoperation = '01'
		else
			set @lp_sysoperation = '02'

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R 													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SYS_SEC_USR_PRF (buscod, usrcod, UsrPrfGrp, UsrPrfKey, UsrPrfVal, docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_usrcod, @lp_UsrPrfGrp, @lp_usrprfkey, @lp_usrprfval, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SET @lp_UsrPrfCod= @@IDENTITY
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_UsrPrfCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    A C T U A L I Z A R										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1   

		BEGIN TRAN

		UPDATE SYS_SEC_USR_PRF SET
			UsrPrfVal = @lp_usrprfval,
			docsts = @lp_docsts,
			UpdDte = GETDATE(),
			UpdUsr = @lp_username
		where buscod = @lp_buscod
		and usrprfcod = @lp_UsrPrfCod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_UsrPrfCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   

		BEGIN TRAN

		SELECT * 
		FROM SYS_SEC_USR_PRF
		where buscod = @lp_buscod
		and usrprfcod = @lp_UsrPrfCod

	END



/* -------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R 														*/
/* -------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE 
		FROM SYS_SEC_USR_PRF 
		WHERE buscod=@lp_buscod
		  and UsrPrfCod = @lp_UsrPrfCod
		SET @lv_errcod = @@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_UsrPrfCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* -------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R														*/
/* -------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM SYS_SEC_USR_PRF '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' usrprfgrp ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



/* -------------------------------------------------------------------------------- */
/*   1 4    -    B O R R A R 	G R U P O  	 D E     U S U A R I O					*/
/* -------------------------------------------------------------------------------- */
IF @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE 
		FROM SYS_SEC_USR_PRF 
		WHERE buscod=@lp_buscod
		  and UsrCod = @lp_UsrCod
		  and UsrPrfGrp = @lp_UsrPrfGrp
		SET @lv_errcod = @@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_UsrPrfCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
