USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRF_VER_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_TRF_VER_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_spttrfvercod	as int			= null,	/* id version */
@lp_spttrfcod		as int			= null,	/* id lista */
@lp_spttrfverstrdte	as nvarchar(14)	= null,	/* fecha inicio */
@lp_spttrfverenddte	as nvarchar(14)	= null,	/* fecha fin */
@lp_docsts			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null,	/* configuraciÃ³n vista */

@lp_errcod			as int			= 0		OUTPUT,	/* codigo de error */
@lp_errtxt			as nvarchar(max)= null	OUTPUT,	/* descripcin de error */
@lp_spttrfvercodout	as int			= null	OUTPUT	/* materiales involucrados */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_spttrfverstrdte as datetime = dbo.ConvertDate( @lp_spttrfverstrdte )

declare @lv_spttrfverenddte as datetime = dbo.ConvertDate( @lp_spttrfverenddte )


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-1	Ya existe otra versiÃ³n con la misma fecha.							*/
/*	-2	Debe indicar tipo de actualizaciÃ³n de anclaje.						*/
/*	-3	Debe indicar la lista de precios de anclaje.						*/
/*	-4	No puede eliminar la unica version existente.						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin
				
		/* valido que no se solapen las fechas */
		if exists(select top 1 * from spt_trf_ver where buscod=@lp_buscod 
											   and spttrfcod=@lp_spttrfcod 
											   and not spttrfvercod=@lp_spttrfvercod
             						 and spttrfverstrdte = @lv_spttrfverstrdte)
			begin
				select null, -1 as errcod, 'Ya existe otra versiÃ³n con la misma fecha.' as errtxt
				return
			end

		DECLARE @minFechaInicioMayor DATETIME

    -- Obtiene la fecha de inicio menor de las fechas de inicio mayores
    SELECT @minFechaInicioMayor = MIN(spttrfverstrdte)
    FROM SPT_TRF_VER
    WHERE buscod = @lp_buscod 
        AND spttrfcod = @lp_spttrfcod 
        AND spttrfverstrdte > @lv_spttrfverstrdte

		-- Actualiza @lv_spttrfverstrdte
		IF(@lv_spttrfverstrdte < @minFechaInicioMayor)
    	SET @lv_spttrfverenddte = DATEADD(DAY, -1, @minFechaInicioMayor)
    ELSE
    	SET @lv_spttrfverenddte = CAST('9999-12-31 23:59:59.997' AS DATETIME)

    -- Actualiza spttrfverenddte
    UPDATE SPT_TRF_VER
    SET spttrfverenddte = 
        CASE
            WHEN spttrfverstrdte = (SELECT MAX(spttrfverstrdte)
                                    FROM SPT_TRF_VER
                                    WHERE buscod = @lp_buscod 
                                        AND spttrfcod = @lp_spttrfcod 
                                        AND spttrfverstrdte < @lv_spttrfverstrdte)
            THEN DATEADD(DAY, -1, @lv_spttrfverstrdte)
            ELSE spttrfverenddte
        END
    WHERE buscod = @lp_buscod 
        AND spttrfcod = @lp_spttrfcod
        AND spttrfverstrdte < @lv_spttrfverstrdte;
	
	end


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    
		
		INSERT INTO SPT_TRF_VER (buscod, spttrfcod, spttrfverstrdte, spttrfverenddte, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_spttrfcod, @lv_spttrfverstrdte, @lv_spttrfverenddte, @lp_docsts, getdate(), @lp_username)
		SET @lp_errcod = @@ERROR
		SET @lp_spttrfvercod = @@IDENTITY

		IF @lp_sysoperation='01'		
			SELECT @lp_spttrfvercod, @lp_errcod as errcod, dbo.ConvertDate( @lp_errcod ) as errtxt
		ELSE
			SET @lp_spttrfvercodout = @lp_spttrfvercod
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SPT_TRF_VER 
		SET	spttrfverstrdte = @lv_spttrfverstrdte,
			spttrfverenddte = @lv_spttrfverenddte,
			docsts			= @lp_docsts,
			upddte			= getdate(),
			updusr			= @lp_username
		WHERE buscod = @lp_buscod
		  and spttrfvercod = @lp_spttrfvercod
		SET @lp_errcod = @@ERROR
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spttrfvercod, @lp_errcod as errcod, dbo.ConvertDate( @lp_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT	tv.*, t.spttrftxt
		FROM	SPT_TRF t 
			inner join SPT_TRF_VER tv on tv.buscod=t.buscod and tv.spttrfcod=t.spttrfcod
		WHERE   tv.buscod=@lp_buscod
			and tv.spttrfvercod = @lp_spttrfvercod

	END


/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		if (select count(SptTrfVerCod) from SPT_TRF_VER where buscod=@lp_buscod and SptTrfCod=@lp_spttrfcod) = 1
			begin
				select null, -4 as errcod, 'No puede eliminar la unica version existente.' as errtxt
				return
			end

		BEGIN TRAN

		/* borro contenido de versiÃ³n */
		DELETE 
		FROM SPT_TRF_LST 
		WHERE buscod=@lp_buscod 
		  and spttrfvercod=@lp_spttrfvercod
		SET @lp_errcod = @@ERROR
		
		/* borro versiÃ³n */
		IF @lp_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TRF_VER 
				WHERE buscod=@lp_buscod 
				  and spttrfvercod=@lp_spttrfvercod
				SET @lp_errcod = @@ERROR
			END
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spttrfvercod, @lp_errcod as errcod, dbo.ConvertDate( @lp_errcod ) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		/* SPT_TRF_VER_DEF '08','temasis','temasis_spt' */

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' tv.*, t.spttrftxt, convert(varchar,tv.spttrfverstrdte,103) as spttrfverstrdtecnv, convert(varchar,tv.spttrfverenddte,103) as spttrfverenddtecnv '
			+ '	FROM spt_trf_ver tv '
			+ ' inner join SPT_TRF t on t.buscod=tv.buscod and t.spttrfcod=tv.spttrfcod '
			+ ' WHERE tv.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_spttrfcod,0)=0 then '' else ' and tv.spttrfcod='+QUOTENAME(@lp_spttrfcod,'''') end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ',  'tv.spttrfverstrdte')
		execute( @lv_sql + @lv_flt + @lv_ord )

	END

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
