USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_APP_LOG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_APP_LOG_DEF]

@lp_sysoperation	as nvarchar(5),				-- operaciÃ³n 
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario 
@lp_buscod			as nvarchar(20),			-- empresa 
@lp_applogcod		as int			= null,		-- id 
@lp_applogtxt		as nvarchar(max)= null,		-- log 
@lp_srcobjtyp		as nvarchar(20)	= null,		-- tipo objeto 
@lp_srcobjcod001	as nvarchar(20)	= null,		-- id 1 
@lp_srcobjcod002	as nvarchar(20)	= null,		-- id 2 
@lp_applogtecinf	as nvarchar(max)= null,	-- informaciÃ³n tÃ©cnica 
@lp_mdlcod			as nvarchar(20)	= null,		-- id mÃ³dulo 
@lp_prgcod			as nvarchar(20)	= null,		-- id programa 
@lp_docsts			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)= null,		-- config vista 

@lp_applogerrtyp	as nvarchar(20)	= null,		-- error - tipo
@lp_applogerrcod	as nvarchar(20)	= null,		-- error - codigo
@lp_applogerrtxt	as nvarchar(4000)=null		-- error - descripcion

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod int

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1
    --SELECT @lp_sysoperation as sysoperation return
		
    IF @lp_sysoperation = '01'
			BEGIN TRAN
    
		-- borro registros de mas de tres meses 
		DELETE FROM SYS_APP_LOG
		WHERE buscod = @lp_buscod 
		  and ctedte < dateadd(month, -3, getdate())

		-- agrego log de aplicaciÃ³n 
		INSERT INTO sys_app_log (buscod, applogtxt, srcobjtyp, srcobjcod001, srcobjcod002, applogtecinf, mdlcod, prgcod, 
			applogerrtyp, applogerrcod, applogerrtxt,
			docsts, ctedte, cteusr)
		SELECT @lp_buscod, @lp_applogtxt, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_applogtecinf, @lp_mdlcod, @lp_prgcod, 
			@lp_applogerrtyp, @lp_applogerrcod, @lp_applogerrtxt,
			@lp_docsts, getdate(), @lp_username
		SET @lv_errcod = @@ERROR
		SET @lp_applogcod = @@IDENTITY
    
    --select @lp_srcobjcod001 as srcobjcod001 return
		IF @lp_sysoperation = '01'
    	BEGIN
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
          
        SELECT @lp_applogcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
      END
    ELSE
    	BEGIN
				SET @lp_applogerrcod = @lv_errcod
				SET @lp_applogerrtxt = dbo.GetErrorDescription(@lv_errcod)
			END
    	

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- sys_app_log '08','temasis','temasis_log' 

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 'l.*',' SYS_APP_LOG l ', ' l.buscod='+QUOTENAME(@lp_buscod, ''''), '', default)
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   5 0    -    B A C K U P   (base de datos)
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '50'
	BEGIN
		SET @lv_validop = 1    

		-- SYS_APP_LOG_DEF '50','TEMASIS','TEMASIS_LOG'

		declare @lv_name as nvarchar(400)

		-- verifico si hay otro proceso de backup en marcha
		if exists(select top 1 * from tmssSysPrd.dbo.SYS_APP_PRM where PrmCodExt='BACKUP')
			begin
				select null, -1 as errcod, 'Otro backup se encuentra en progreso.' as errtxt
				return
			end

		-- agrego flag de inicializaciÃ³n de proceso
		insert into tmssSysPrd.dbo.SYS_APP_PRM (mdlcod, prmtxt, prmcodext, prmval, docsts, ctedte, cteusr)
		values ('SYS','Backup en progreso ['+@lp_buscod+']', 'BACKUP', 'X', 'A', getdate(), 'TEMASIS')

		BEGIN TRY  

			-- borrado de todas las tablas existentes en la base temporal
			declare lc_curbkp cursor for select [name] from tmssCusTmpBkp.dbo.sysobjects where xtype='U'
			open lc_curbkp
			fetch next from lc_curbkp into @lv_name
			while @@FETCH_STATUS=0
				begin
					exec( 'drop table tmssCusTmpBkp.dbo.'+@lv_name )
					fetch next from lc_curbkp into @lv_name
				end
			close lc_curbkp
			deallocate lc_curbkp

			-- se verifica que se hayan borrado todas las tablas
			if exists( select top 1 * from tmssCusTmpBkp.dbo.sysobjects where xtype='U' )
				begin
					select null, -2 as errcod, 'No se pudo inicializar el proceso de backup. No se borraron todas las tablas en la base temporal.' as errtxt
					return
				end

			-- creaciÃ³n de tablas en base de datos temporal
			declare lc_cursrc cursor for select [name] from dbo.sysobjects where xtype='U' and id in (select id from dbo.syscolumns where name='buscod')
			open lc_cursrc
			fetch next from lc_cursrc into @lv_name
			while @@FETCH_STATUS=0
				begin
					exec( 'SELECT TOP (0) * INTO tmssCusTmpBkp.dbo.'+@lv_name+' FROM '+@lv_name )

					if exists(select top 1 * from tmssCusTmpBkp.dbo.syscolumns sc inner join tmssCusTmpBkp.dbo.sysobjects so on so.id=sc.id where so.name=@lv_name and so.xtype='U' and sc.iscomputed=1)
						exec( 'SET IDENTITY_INSERT tmssCusTmpBkp.dbo.'+@lv_name+' OFF' )
					--else
						--select * from tmssCusTmpBkp.dbo.syscolumns sc inner join tmssCusTmpBkp.dbo.sysobjects so on so.id=sc.id where so.name='CNS_STE_EVT' and so.xtype='U' and sc.iscomputed=1
						--print 'tabla '+@lv_name+' sin identity'

					set @lv_sql = 'insert into tmssCusTmpBkp.dbo.'+@lv_name+' SELECT * FROM '+@lv_name+' WHERE buscod='+QUOTENAME(@lp_buscod,'''')
					exec( @lv_sql )
		
					fetch next from lc_cursrc into @lv_name
				end
			close lc_cursrc
			deallocate lc_cursrc

			-- realizo backup fisico de base a archivo
			/*
			BACKUP DATABASE tmssCusTmpBkp
			TO DISK = N'C:\Backups\NombreDeLaBaseDeDatos.bak'
			WITH NOFORMATTING
			*/

			-- quito flag de backup en proceso
			delete from tmssSysPrd.dbo.SYS_APP_PRM where PrmCodExt='BACKUP'

		END TRY  
		BEGIN CATCH  
			select null, -9 as errcod, 'Error inesperado en procedimiento. ' + ERROR_MESSAGE() as errtxt

			-- quito flag de backup en proceso
			delete from tmssSysPrd.dbo.SYS_APP_PRM where PrmCodExt='BACKUP'
	
		END CATCH  

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
