USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_CSH_MOV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TSR_CSH_MOV_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_cshmovid		as int			= null,		/* id de movimiento */
@lp_cshmovtyp		as nvarchar(1)	= null,		/* tipo de movimiento */
@lp_cshmovdte		as nvarchar(14)	= null,		/* fecha de movimiento */
@lp_cshmovtxt		as nvarchar(250)= null,		/* texto de movimiento */
@lp_cshmovref		as nvarchar(50)	= null,		/* referencia de movimiento */
@lp_paymthcod		as nvarchar(05) = null,		/* forma de pago */

/* efectivo-cheque-transferencia */
@lp_cshmovtot		as bigint		= null,		/* importe del movimiento */
@lp_curcod			as nvarchar(05)	= null,		/* moneda */
@lp_excrte			as bigint		= null,		/* tipo de cambio */

/* efectivo */
@lp_cshcod			as nvarchar(10)	= null,		/* código de caja */

/* cheque-transferencia (origen) */
@lp_bnkcod			as int			= null,		/* banco */
@lp_bnkacccod		as nvarchar(20)	= null,		/* nro de cuenta */
@lp_bnkaccchknum	as int			= null,		/* nro de cheque */
@lp_bnkaccchkdte	as nvarchar(14)	= null,		/* fecha de cheque */

/* transferencia (destino) */
@lp_dstbnkcod		as nvarchar(20)	= null,		/* banco */
@lp_dstbnkacctyp	as nvarchar(01) = null,		/* tipo de cuenta (CA-CC) */
@lp_dstbnkacccod	as nvarchar(20) = null,		/* nro de cuenta */
@lp_dstbnkaccdoctyp	as nvarchar(10) = null,		/* titular de cuenta - tpo de documento */
@lp_dstbnkaccdocnum	as nvarchar(10) = null,		/* titular de cuenta - nro de docuemnto */
@lp_dstbnkacckey	as nvarchar(22) = null,		/* clave de cuenta (cbu) */

@lp_DocNum			as int			= null	OUTPUT,	/* id movimiento */
@lp_errcod			as int			= 0		OUTPUT,	/* codigo de error */
@lp_errtxt			as nvarchar(400)= null	OUTPUT	/* texto  de error */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_cshmovdte as datetime
set @lv_cshmovdte = dbo.ConvertDate( @lp_cshmovdte )

declare @lv_bnkaccchkdte as datetime
set @lv_bnkaccchkdte = dbo.ConvertDate( @lp_bnkaccchkdte )

declare @lv_cshmovtot as decimal(13,3)
set @lv_cshmovtot = dbo.ConvertNumber( @lp_cshmovtot , 3 )

declare @lv_cshmovid		as int
declare @lv_paymthtyp		as nvarchar(5)
declare @lv_chknum			as int
declare @lv_bnkchkfrtnum	as int





/* ------------------------------------------------------------------------------------ */
/*   E R R O R E S																		*/
/* ------------------------------------------------------------------------------------ */
/*	-1	Para movimientos en efectivo se requiere indicar la caja.						*/
/*	-2	Código de caja inválido.														*/
/*	-3	Para movimientos de Transferencia/Cheque, debe indicar banco y cuenta.			*/
/*	-4	Codigo de Banco/Cuenta inválido.												*/
/*	-5	Para movimientos de Transferencia/Cheque, debe indicar banco.					*/
/*	-6	Codigo de Banco inválido.														*/
/*	-7	No hay chequeras disponibles.													*/
/* ------------------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------------------ */
/*   0 1    -    C R E A R 																*/
/* ------------------------------------------------------------------------------------ */
IF (@lp_sysoperation='01' or @lp_sysoperation='11')
	BEGIN
		SET @lv_validop = 1

		/* obtengo el tipo del medio de pago*/
		set @lv_paymthtyp=(select top 1 paymthtyp from tsr_pay_mth where buscod=@lp_buscod and paymthcod=@lp_paymthcod)

		/* valido caja si es efectivo */
		IF (@lv_paymthtyp='EFT')
			BEGIN
				IF isnull(@lp_cshcod,'')=''
					BEGIN
						set @lp_errcod = -1
						set @lp_errtxt = 'Para movimientos en efectivo se requiere indicar la caja.'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN						
					END
					
				IF (select count(*) from tsr_csh where buscod=@lp_buscod and cshcod=@lp_cshcod)=0
					BEGIN
						set @lp_errcod = -2
						set @lp_errtxt = 'Código de caja inválido.'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
					END
			END

		/* pago con cheque/transferencia requiere banco y cuenta */			
		IF (@lv_paymthtyp='CHQ' or @lv_paymthtyp='TRF') and (@lp_cshmovtyp='H')
			BEGIN
				IF isnull(@lp_bnkcod,'')='' or isnull(@lp_bnkacccod,'')=''
					BEGIN
						set @lp_errcod = -3
						set @lp_errtxt = 'Para movimientos de Transferencia/Cheque, debe indicar banco y cuenta.'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN
					END
				IF (select count(*) from tsr_bnk_acc where buscod=@lp_buscod and bnkcod=@lp_bnkcod and bnkacccod=@lp_bnkacccod)=0
					BEGIN
						set @lp_errcod = -4
						set @lp_errtxt = 'Codigo de Banco/Cuenta inválido.'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN
					END
			END
			
		IF (@lv_paymthtyp='CHQ' or @lv_paymthtyp='TRF') and (@lp_cshmovtyp='D')
			BEGIN
				IF isnull(@lp_bnkcod,'')=''
					BEGIN
						set @lp_errcod = -5
						set @lp_errtxt = 'Para movimientos de Transferencia/Cheque, debe indicar banco.'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN
					END
				IF (select count(*) from tsr_bnk where buscod=@lp_buscod and bnkcod=@lp_bnkcod)=0
					BEGIN
						set @lp_errcod = -6
						set @lp_errtxt = 'Codigo de Banco inválido.'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN
					END
			END

		IF (@lv_paymthtyp='CHQ' and @lp_cshmovtyp='H')
			BEGIN			
				/* obtengo chequera a utilizar */
				SET @lv_bnkchkfrtnum=( SELECT TOP 1 bnkchkfrtnum
					 					FROM tsr_bnk_chk 
										WHERE buscod = @lp_buscod
										  and bnkcod = @lp_bnkcod
										  and bnkacccod = @lp_bnkacccod
										  and ( bnkchkusdnum is null or bnkchkusdnum < bnkchklstnum )
										  and docsts = 'A'
										ORDER BY bnkchkfrtnum )
				IF @lv_bnkchkfrtnum is null
					BEGIN
						set @lp_errcod = -7
						set @lp_errtxt = 'No hay chequeras disponibles.'
						SELECT null, @lp_errcod as errcod, @lp_errtxt as errtxt
						RETURN
					END
					
				/* obtengo próximo número de cheque a utilizar */
				SET @lv_chknum = ( SELECT (case when isnull(bnkchkusdnum,0)=0 then bnkchkfrtnum+1 else bnkchkusdnum+1 end) as chknxtnum 
									FROM tsr_bnk_chk
									WHERE buscod = @lp_buscod
									  and bnkcod = @lp_bnkcod
									  and bnkacccod = @lp_bnkacccod
									  and bnkchkfrtnum = @lv_bnkchkfrtnum )
			END
			
		if not @lp_sysoperation='11'	
			BEGIN TRAN

		/* agrego el movimiento de caja */
		INSERT INTO TSR_CSH_MOV (buscod, cshmovtyp, cshmovdte, cshmovtxt, cshmovref,
								paymthcod, paymthtxt, 
								cshmovtot,
								bnkcod,
								bnktxt,
								bnkacccod,
								bnkacctxt,
								bnkaccchknum,	
								bnkaccchkdte,
								ctedte, cteusr)
		SELECT	@lp_buscod,	@lp_CshMovTyp, @lv_CshMovDte, @lp_CshMovTxt, @lp_CshMovRef,
				@lp_paymthcod,	(select top 1 paymthtxt from tsr_pay_mth where buscod=@lp_buscod and paymthcod=@lp_paymthcod),
				@lv_CshMovTot,
				(case @lv_paymthtyp when 'EFT' then null else @lp_BnkCod end),
				(case @lv_paymthtyp when 'EFT' then null else (select top 1 bnktxt from tsr_bnk where buscod=@lp_buscod and bnkcod=@lp_bnkcod) end ),
				(case @lv_paymthtyp when 'EFT' then null else @lp_BnkAccCod end),
				(case @lv_paymthtyp when 'EFT' then null else (select top 1 bnkacctxt from tsr_bnk_acc where buscod=@lp_buscod and bnkcod=@lp_bnkacccod) end ),
				(case @lv_paymthtyp when 'CHQ' then @lv_chknum else null end),
				(case @lv_paymthtyp when 'EFT' then null else @lv_BnkAccChkDte end),
				getdate(), @lp_username
		SET @lv_errcod = @@ERROR
		SET @lv_cshmovid = @@IDENTITY
		SET @lp_DocNum = @@IDENTITY
		
		/* actualizo total de caja */
		IF @lv_errcod=0
			IF @lv_paymthtyp='EFT'
				BEGIN
					UPDATE TSR_CSH
					SET cshtot = cshtot + ( @lv_CshMovTot * (case when @lp_cshmovtyp='H' then -1 else 1 end) )
					WHERE buscod=@lp_buscod
					  and cshcod=@lp_cshcod
					SET @lv_errcod=@@ERROR
				END	

		/* actualizo la numeración de cheques */
		IF @lv_errcod=0
			IF @lv_paymthtyp='CHQ'
				BEGIN
					UPDATE TSR_BNK_CHK
					SET bnkchkusdnum = @lv_chknum
					WHERE buscod = @lp_buscod
					and bnkcod = @lp_bnkcod
					and bnkacccod = @lp_bnkacccod
					and bnkchkfrtnum = @lv_bnkchkfrtnum
					SET @lv_errcod = @@ERROR
				END
		if not @lp_sysoperation='11'	
			begin
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
			end
			
		/* solo muestro cuando se hace externamente, para movimientos internos con tx 11 no se muestra el id resultante */
		IF @lp_sysoperation='01'
			SELECT @lv_cshmovid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END





/* ------------------------------------------------------------------------------------ */
/*   0 3    -    V E R 																	*/
/* ------------------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		SELECT *
		FROM tsr_csh_mov
		WHERE buscod=@lp_buscod
		  and cshmovid =@lp_cshmovid

	END





/* ------------------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R															*/
/* ------------------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		SELECT *
		FROM tsr_csh_mov
		WHERE buscod=@lp_buscod

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
