USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_BUD_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CNS_BUD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,	/* empresa */
@lp_budcod 			as int			= null,	/* codigo */
@lp_budtxt			as nvarchar(50)	= null,	/* descripcion */
@lp_stecod 			as int			= null,	/* id obra */
@lp_budver			as int			= null,	/* versiÃ³n */
@lp_budtyp			as nvarchar(1)	= null,	/* id tipo de presupuesto */
@lp_buddte			as nvarchar(14)	= null,	/* fecha */
@lp_budcmt			as nvarchar(max)=null,	/* comentarios */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null,	/* config vista */

@lp_buddat			as nvarchar(max)=null,	/* datos */
@lp_sysdocclscod	as int			= null	/* ID Clase */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_buddte as datetime
set @lv_buddte = dbo.ConvertDate( @lp_buddte )

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CNS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'BUD'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO CNS_BUD (buscod, budtxt, stecod, buddte, budver, budtyp, budcmt, sysdocclscod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_budtxt, @lp_stecod, @lv_buddte, @lp_budver, @lp_budtyp, @lp_budcmt, @lp_sysdocclscod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_budcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_budcod as budcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE CNS_BUD
		SET	budtxt	= @lp_budtxt,
			stecod	= @lp_stecod,
			budver  = @lp_budver,
			budtyp	= @lp_budtyp,
			buddte	= @lv_buddte,
			budcmt	= @lp_budcmt,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod=@lp_buscod
		  and budcod=@lp_budcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_budcod as budcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT b.*, s.stetxt, dc.sysdocclstxt
		FROM CNS_BUD b 
			left join CNS_STE s on s.buscod=b.buscod and s.stecod=b.stecod
			left join SYS_DOC_CLS dc on dc.BusCod=b.BusCod and dc.SysDocClsCod=b.SysDocClsCod 
		WHERE b.buscod=@lp_buscod
		  and b.budcod=@lp_budcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* borro los datos centrales del proveedor */
		IF @lv_errcod=0
			BEGIN
				UPDATE CNS_BUD 
				set deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and budcod=@lp_budcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_budcod as budcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' b.*, s.stetxt, dc.sysdocclstxt '
			+ ' FROM CNS_BUD b '
			+ ' left join CNS_STE s on s.buscod=b.buscod and s.stecod=b.stecod '
			+ ' left join SYS_DOC_CLS dc on dc.BusCod=b.BusCod and dc.SysDocClsCod=b.SysDocClsCod  '
			+ ' WHERE b.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and b.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' b.budcod desc ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END	
	

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
