USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_CNT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_CNT_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_cntcod			as int			= null,	-- id
@lp_cntcodext		as nvarchar(20)	= null,	-- codigo externo
@lp_cnttxt			as nvarchar(82) = null,	-- nombre
@lp_cntsrctyp		as nvarchar(20)	= null,	-- tipo origen
@lp_cntsrccod		as nvarchar(20) = null,	-- coigo origen
@lp_sysdocclscodcnt as int			= null,	-- id clase documento - contacto
@lp_cntbrndte 		as nvarchar(14) = null,	-- fecha nacimiento
@lp_cntsec			as nvarchar(20)	= null,	-- sector
@lp_cntrel			as nvarchar(30)	= null, -- relacion
@lp_cntcmt			as nvarchar(255)= null,	-- comentarios
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuracion de vista

@lp_cntdsttyp		as nvarchar(20)	= null,	-- ORIGEN - tipo
@lp_cntdstcod		as int			= null,	-- ORIGEN - codigo

@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(400) = null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT  = 0
declare @lv_sql as nvarchar(max)

set @lp_errcod = 0

DECLARE @lv_cntbrndte as datetime = dbo.ConvertDate( @lp_cntbrndte )
--DECLARE @lv_srctyp as nvarchar(max) = ''

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = (select substring(@lp_cntsrctyp,1,3))
		DECLARE @lv_autprgcod as nvarchar(4) = (select substring(@lp_cntsrctyp,5,3) + 'C')

  		if @lp_sysoperation='08' and @lp_cntsrctyp=''
    		begin
				declare @lv_start as int = charindex( 'c.cntsrctyp='+char(39), dbo.getTagValue('vewflt',@lp_vewcfg) )
				declare @lv_end as int = charindex( char(39), dbo.getTagValue('vewflt',@lp_vewcfg), @lv_start+1 )
				if @lv_start>0 and @lv_end>0
					begin
						set @lv_autmdlcod = substring( dbo.getTagValue('vewflt',@lp_vewcfg), @lv_start+13, 3)
						set @lv_autprgcod = substring( dbo.getTagValue('vewflt',@lp_vewcfg), @lv_start+17, 3) + 'C'
					end
				else
					begin
						select 'E' as errtyp, -9 as errcod, '' as errvar, 'InvalidParmeters' as errmsg
						return
					end

			end

		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  


-- ----------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp' 
	BEGIN
    -- valido que el origen sea valido
		if not exists(select top 1 * from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=@lp_cntsrctyp and adrsrccod=@lp_cntsrccod)
    	if @lp_sysoperation='01_sp'
        begin
        	set @lp_errcod = -1
        	set @lp_errtxt = 'El origen de contacto es invalido.'
          return 
        end
		else 
        begin
          select null, 'E' as errtyp, -1 as errcod, 'InvalidSource' as errmsg, 'El origen de contacto es invalido.' as errtxt
          return
        end
	END



-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='01' or @lp_sysoperation='11' 
			BEGIN TRAN
		
		INSERT INTO GRL_DAT_CNT (buscod, cntcodext, cnttxt, cntsrctyp, cntsrccod, sysdocclscodcnt, cntbrndte, cntsec, cntrel, cntcmt, docsts, cteusr, ctedte, cntdsttyp, cntdstcod) 
		VALUES (@lp_buscod, @lp_cntcodext, @lp_cnttxt, @lp_cntsrctyp, @lp_cntsrccod, @lp_sysdocclscodcnt, @lv_cntbrndte, @lp_cntsec, @lp_cntrel, @lp_cntcmt, @lp_docsts, @lp_username, getdate(), @lp_cntdsttyp, @lp_cntdstcod)
		SET @lp_errcod=@@ERROR
		SET @lp_cntcod=@@IDENTITY
	
		if @lp_sysoperation='01' or @lp_sysoperation='11'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_cntcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
      
	END

			

-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_CNT 
		SET cntcodext = @lp_cntcodext,
			cnttxt	  = @lp_cnttxt, 
			sysdocclscodcnt = @lp_sysdocclscodcnt,
			cntbrndte = @lv_cntbrndte, 
			cntsec	  = @lp_cntsec, 
			cntrel	  = @lp_cntrel, 
			cntcmt	  = @lp_cntcmt,
			cntdsttyp = @lp_cntdsttyp,
			cntdstcod = @lp_cntdstcod,
			docsts	  = @lp_docsts,
			updusr	  = @lp_username,
			upddte	  = getdate()
		WHERE buscod  = @lp_buscod
		 and  cntcod  = @lp_cntcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_cntcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT c.*, a.adrnum, a.adrlstnme, a.adrfrtnme,
		a.adrstr, a.adrtwn, a.adrpstcod, a.lndtwncod, a.adrtwn as adrtwntxt, a.adrcty, a.adrzon, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.lndcod, a.lndregcod, 
		l.lndtxt, lr.lndregtxt,
		ct.SysDocClsCodExt, ct.sysdocclstxt as "sysdocclstxtcnt", cd.adrnme001 as cntdsttxt,
		gp.perbrndte, gp.persex, gp.civstscod, gpl.lndtxt as pernattxt, gp.pernatcod, gp.hhrmedcovtxt, gp.hhrmedcovcod, gp.hhrmedcovaflpln, gp.hhrmedcovaflnum
		FROM GRL_DAT_CNT c 
			left join grl_dat_adr a  on a.buscod=c.buscod  and a.adrsrctyp='GRL_CCT'  and a.adrsrccod=c.cntcod
			left join grl_dat_bnk gb on gb.buscod=c.buscod and gb.bnksrctyp='GRL_CCT' and gb.bnksrccod=c.cntcod
			left join grl_dat_tax gt on gt.buscod=c.buscod and gt.taxsrctyp='GRL_CCT' and gt.taxsrccod=c.cntcod
			left join grl_dat_per gp on gp.buscod=c.buscod and gp.persrctyp='GRL_CCT' and gp.persrccod=c.cntcod 
			left join grl_dat_lnd gpl on gpl.lndcod=gp.pernatcod
			left join grl_dat_lnd l on l.lndcod=a.lndcod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join SYS_DOC_CLS ct on ct.buscod=c.buscod and ct.sysdocclscod=c.sysdocclscodcnt
			left join grl_dat_adr cd on cd.buscod=c.buscod and cd.adrsrctyp=c.cntdsttyp and cd.adrsrccod=c.cntdstcod
		WHERE c.buscod = @lp_buscod
		  and c.cntcod = @lp_cntcod

	END





-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14' or @lp_sysoperation='04_sp'
	BEGIN
		SET @lv_validop = 1    
    
    -- Tabla temporal para guardar tablas/objtyp donde se encontrÃ³ el contacto
    create table #cntTables (objtyptbl nvarchar(255), objtyp nvarchar(100))
    insert into #cntTables EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod=@lp_buscod, @lp_objtypcod=null, @lp_objcod=null, @lp_fldnme=null, @lp_cntcod=@lp_cntcod
    
    if exists (select 1 from #cntTables)
    begin
    	declare @lv_msg nvarchar(max)
      
      /*;WITH CTE as (
      	select SUBSTRING(
          			-- Obtiene el nombre de la tabla a partir de SYS_OBJ_TYP
                o.objtyptxt, 
                CHARINDEX('-', o.objtyptxt) + 1, 
                CHARINDEX('(', o.objtyptxt) - CHARINDEX('-', o.objtyptxt) - 2
             ) as nmeTbl
        from #cntTables t
        join tmssSysDev.dbo.SYS_OBJ_TYP o on o.objtyptbl = t.objtyptbl and (o.objtypcod = t.objtyp or t.objtyp is null)
      )
      -- mensaje de error hasta 5 tablas
      select @lv_msg = CONCAT('No se puede borrar el Contacto. Existe en', (select STRING_AGG(nmeTbl, ',') from (select top 5 nmeTbl FROM CTE) as nmeTbl),
      case when (select count(*) from CTE) > 5 then ', y otros documentos' else '' end, '.')*/
      
      SET @lv_msg = 'No se puede borrar el contacto. EstÃ¡ siendo usado en otros documentos.'
      
      SELECT null, -1 as errcod, @lv_msg as errtxt
      drop table #cntTables
    	return
    end
    drop table #cntTables

		IF @lp_sysoperation='04' or @lp_sysoperation='14'
		BEGIN TRAN

		-- borro la direccion
		IF @lp_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrsrctyp='GRL_CCT'
          and adrsrccod=@lp_cntcod
				SET @lp_errcod=@@ERROR
			END

		-- borro banco
		IF @lp_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='GRL_CCT'
				  and bnksrccod=@lp_cntcod
				SET @lp_errcod=@@ERROR
			END

		-- borro impuestos
		IF @lp_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='GRL_CCT'
				  and taxsrccod=@lp_cntcod
				SET @lp_errcod=@@ERROR
			END

		-- borro datos personales
		IF @lp_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_PER
				WHERE buscod=@lp_buscod
				  and persrctyp='GRL_CCT'
				  and persrccod=@lp_cntcod
				SET @lp_errcod=@@ERROR
			END
					
		-- borro el contacto
		IF @lp_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_CNT 
				WHERE buscod=@lp_buscod
				  and cntcod=@lp_cntcod
				SET @lp_errcod=@@ERROR
			END

		-- borro la asociacion a interlocutores de un documento
		IF @lp_errcod=0
			BEGIN
				UPDATE GRL_DOC_CNT
				SET GrlDocCntAtr = ''
				WHERE buscod=@lp_buscod
				  and dbo.GetTagValue('mstcntcod', GrlDocCntAtr) = @lp_cntcod
				SET @lp_errcod=@@ERROR
			END

	
		if @lp_sysoperation='04' or @lp_sysoperation='14'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_cntcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )

	END



-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1     

		-- grl_dat_cnt_def '08','temasis','temasis_log'

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, 
			' c.*, '
			+ ' a.adrstr, a.adrpstcod, a.lndcod, a.lndregcod, a.adrstrnum, a.adrstrflr, a.adrstrunt, a.adrstrbld, a.adrzon, a.adrtwn as adrtwntxt, a.adrmblphn, a.adrphn001, a.adrphn002, a.adreml, '
			+ ' ct.SysDocClsCodExt, ct.sysdocclstxt as sysdocclstxtcnt, '
			+ ' al.lndtxt, alr.lndregtxt, dbo.getTagValue('+QUOTENAME('invadr','''')+',ct.sysdocclsatr) as sysdocclsinvadratr, '
			+ ' cda.adrnme001 as cntdsttxt, cda.adrzon as cntdstadrzon, cda.adrstr as cntdstadrstr, cd.cntcodext as cntdstcodext ',
			' GRL_DAT_CNT c '
			+ ' left join GRL_DAT_ADR a on a.buscod=c.buscod and a.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and a.adrsrccod=c.cntcod '
			+ ' left join GRL_DAT_LND al on al.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG alr on alr.lndcod=a.lndcod and alr.lndregcod=a.lndregcod '
			+ ' left join SYS_DOC_CLS ct on ct.buscod=c.buscod and ct.sysdocclscod=c.sysdocclscodcnt '
			+ ' left join grl_dat_adr cda on cda.buscod=c.buscod and cda.adrsrctyp=c.cntdsttyp and cda.adrsrccod=c.cntdstcod '
			+ ' left join grl_dat_cnt cd on cd.buscod=cda.buscod and cd.cntcod=cda.adrsrccod ',
			' c.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and dbo.CheckAuthorizationObject('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('GRL_CCT','''')+',ct.autcod)=1 '
			+ (case when isnull(@lp_cntsrctyp,'')='' then '' else ' and c.cntsrctyp='+QUOTENAME(@lp_cntsrctyp,'''') end)
			+ (case when isnull(@lp_cntsrccod,'')='' then '' else ' and c.cntsrccod='+QUOTENAME(@lp_cntsrccod,'''') end),
			'c.cnttxt', 
			'cntdsttxt;a.adrnme001'+char(10)+'sysdocclsinvadratr;dbo.getTagValue('+QUOTENAME('invadr','''')+',ct.sysdocclsatr)'
			)
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
