USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_RPT_COL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_RPT_COL_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20),			/* empresa */

@lp_rptcolcod		as int			= null,		/* id columna */
@lp_rptcolcodext	as nvarchar(50) = null,		/* codigo externo */
@lp_rptcoltxt		as nvarchar(50) = null,		/* descripcion */
@lp_rptcod			as int			= null,		/* id reporte */
@lp_rptsrccolcod	as int			= null,		/* id columna origen */
@lp_rptcolatr		as nvarchar(4000)=null,		/* atributos */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* config vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		INSERT INTO grl_rpt_col    
				(buscod, rptcolcodext, rptcoltxt, rptcod, rptsrccolcod, rptcolatr, docsts, ctedte, cteusr)
		VALUES	(@lp_buscod, @lp_rptcolcodext, @lp_rptcoltxt, @lp_rptcod, @lp_rptsrccolcod, @lp_rptcolatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SET @lp_rptcolcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptcolcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE grl_rpt_col
		SET	rptcolcodext = @lp_rptcolcodext,
			rptcoltxt = @lp_rptcoltxt, 
			rptcolatr = @lp_rptcolatr,  
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and rptcolcod = @lp_rptcolcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptcolcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT rc.*
		FROM grl_rpt_src_col rc
		WHERE rc.buscod = @lp_buscod
		  and rc.rptcolcod = @lp_rptcolcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		/* columnas */
		DELETE
		FROM GRL_RPT_COL
		WHERE buscod = @lp_buscod
		  and rptcolcod = @lp_rptcolcod
		SET @lv_errcod = @@ERROR
					 
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_rptcolcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* grl_rpt_col_def '08','mdominguez','temasis_hlt' */

		set @lv_sql = 'SELECT '
			+ ' rc.* '
			+ ' FROM grl_rpt_col rc '
			+ ' WHERE rc.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' rc.rptcoltxt ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
