USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[LOG_TRA_DLV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOG_TRA_DLV_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_tradlvcod		as int						= null,	-- id
@lp_tracod			as int						= null,	-- id transporte
@lp_stkmovdoccod	as int					= null,	-- id entrega
@lp_tradlvord		as int						= null, -- orden de entrega
@lp_tradlvatr		nvarchar(max)			= null, -- atributos
@lp_docsts 			as nvarchar(02)		= null,	-- estado
@lp_vewcfg			as nvarchar(max)	= null	-- configuraciÃ³n ede la vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='04'
	begin
		if isnull(@lp_tradlvcod,0)=0 and not isnull(@lp_stkmovdoccod,0)=0
			begin
				set @lp_tradlvcod = (select top 1 tradlvcod from log_tra_dlv where buscod=@lp_buscod and tracod=@lp_tracod and stkmovdoccod=@lp_stkmovdoccod)
				if @lp_tradlvcod is null and not @lp_sysoperation='04'
					set @lp_sysoperation = '01'
				else if not @lp_sysoperation='04'
					set @lp_sysoperation = '02'
			end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO LOG_TRA_DLV (buscod, tracod, stkmovdoccod, tradlvord, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_tracod, @lp_stkmovdoccod, @lp_tradlvord, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_tradlvcod=@@IDENTITY
		
		IF @lv_errcod=0
			BEGIN
				UPDATE LOG_TRA
				SET	tradlvqty = (select count(*) from LOG_TRA_DLV WHERE buscod=@lp_buscod and tracod=@lp_tracod)
				WHERE buscod=@lp_buscod
				  and tracod=@lp_tracod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tradlvcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE LOG_TRA_DLV 
		SET	tracod=@lp_tracod,
			stkmovdoccod = @lp_stkmovdoccod,
      tradlvord = @lp_tradlvord,
      tradlvatr = @lp_tradlvatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and tradlvcod = @lp_tradlvcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tradlvcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT td.*
		FROM LOG_TRA_DLV td
		left join LOG_TRA t on t.buscod=td.buscod and t.tracod=td.tracod 
		left join STK_MOV_DOC d on d.buscod=td.buscod and d.stkmovdoccod=td.stkmovdoccod 
		WHERE td.buscod = @lp_buscod
		  and td.tradlvcod = @lp_tradlvcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM LOG_TRA_DLV 
		WHERE buscod=@lp_buscod
		  and tradlvcod = @lp_tradlvcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			BEGIN
				UPDATE LOG_TRA
				SET tradlvqty = (select count(*) from LOG_TRA_DLV WHERE buscod=@lp_buscod and tracod=@lp_tracod)
				WHERE buscod=@lp_buscod
				  and tracod=@lp_tracod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_tradlvcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- LOG_TRA_DLV_DEF '08','MDOMINGUEZ','TEMASIS_LOG'
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' td.*, t.trastrdte, t.traenddte, dcd.objtyp as stkmovobjtyp, dcd.sysdocclsatr as dlvdocclsatr, dcd.sysdocclscod,'
			+ ' d.srcobjtyp, d.srcobjcod, d.srccntcod, d.dstobjtyp, d.dstobjcod, d.dstcntcod, d.dlvcnfdte, d.dlvcnfsts, d.dlvcnfmapgeo, d.stkmovdoccmt, d.docsts as dlvdocsts,  d.stkmovdoccodext, d.accdte, d.ctedte,'
			+ ' dbo.gettagvalue('+QUOTENAME('cnftyp','''')+',d.stkmovdoccnf) as dlvcnfsts, '
			+ ' dbo.gettagvalue('+QUOTENAME('cnfdte','''')+',d.stkmovdoccnf) as dlvcnfdte, '
			+ ' dbo.gettagvalue('+QUOTENAME('cnfcmt','''')+',d.stkmovdoccnf) as dlvcnfcmt, '
			+ ' asr.adrnme001 as srcobjtxt, asr.adrmapgeo as srcobjmapgeo, '
			+ ' asrc.adrnme001 as srccnttxt, asrc.adrmapgeo as srccntmapgeo, '
			+ ' ad.adrnme001 as dstobjtxt, ad.adrmapgeo as dstobjmapgeo, '
			+ ' adc.adrnme001 as dstcnttxt, adc.adrmapgeo as dstcntmapgeo '
			+ ' FROM LOG_TRA_DLV td '
			+ ' left join LOG_TRA t on t.buscod=td.buscod and t.tracod=td.tracod '
			+ ' left join STK_MOV_DOC d on d.buscod=td.buscod and d.stkmovdoccod=td.stkmovdoccod '
			+ ' left join GRL_DAT_ADR asr on asr.buscod=d.buscod and asr.adrsrctyp=d.srcobjtyp and asr.adrsrccod=cast(d.srcobjcod as nvarchar(20)) '
			+ ' left join GRL_DAT_ADR asrc on asrc.buscod=d.buscod and asrc.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and asrc.adrsrccod=d.srccntcod '
			+ ' left join GRL_DAT_ADR ad on ad.buscod=d.buscod and ad.adrsrctyp=d.dstobjtyp and ad.adrsrccod=d.dstobjcod '
			+ ' left join GRL_DAT_ADR adc on adc.buscod=d.buscod and adc.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and adc.adrsrccod=d.dstcntcod '
			+ ' inner join SYS_DOC_CLS dcd on dcd.buscod=d.buscod and dcd.sysdocclscod=d.sysdocclscod '
			+ ' WHERE td.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and t.deldte is null '
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and td.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql

	END	

	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
