USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_PRC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BUY_PRC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod 				as nvarchar(20)	= null,
@lp_buyprccod			as int					= null,	-- id 
@lp_buyprccodext	as nvarchar(20)	= null,	-- cod externo 
@lp_buyprctxt			as nvarchar(50)	= null,	-- descripcion 
@lp_supcod				as int					= null,	-- id proveedor 
@lp_curcod				as nvarchar(5)	= null, -- id moneda 
@lp_buyprcstrdte	as nvarchar(14)	= null, -- fecha inicio 
@lp_buyprcenddte	as nvarchar(14)	= null, -- fecha fin 
@lp_buyprcatr			as nvarchar(max)= null,	-- atributos 
@lp_docsts 				as nvarchar(2)	= null, -- estado 

@lp_vewcfg				as nvarchar(max)= null,  -- configuracion vista 

@lp_sysdocclscod	as int					=	null,	-- id clase documento
@lp_buyprcmat	as nvarchar(max)		= null	-- materiales del pedido

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
DECLARE @lv_errtxt nvarchar(400)

declare @lv_i as INT = 0
declare @lv_row as nvarchar(max)
DECLARE @lv_matcod as INT = 0
DECLARE @lv_matuntcod as nvarchar(5)
DECLARE @lv_supmatcod as nvarchar(20)
DECLARE @lv_supmattxt as nvarchar(400)
DECLARE @lv_supmatprc as decimal
DECLARE @lv_supmatuntcod as nvarchar(5)
DECLARE @lv_sysdocclscod as INT
declare @lv_buysupmatcod as int

declare @lv_buyprcstrdte	as datetime = dbo.ConvertDate( @lp_buyprcstrdte )
declare @lv_buyprcenddte	as datetime = dbo.ConvertDate( @lp_buyprcenddte )
DECLARE @lv_buyprcatrnewmat as int = dbo.gettagvalue('newmat',@lp_buyprcatr)
DECLARE @lv_buyprcatrupdcst as int = dbo.gettagvalue('updcst',@lp_buyprcatr)


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'BUY'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PRC'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-5	Moneda invalida
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		IF not exists(select top 1 * from adm_cur where curcod=@lp_curcod)
			begin
				select null, -5 as errcod, 'Moneda invalida.' as errtxt
				return
			end
		
	END	
	
	
-- ------------------------------------------------------------------------ 
--   0 1    -    P R O C E S A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		-- obtengo atributo de clase de documento
		declare @lv_sysdocclscodmat as int = (select top 1 dbo.gettagvalue('sysdocclscodmat',sysdocclsatr) from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)

		if @lv_buyprcatrnewmat=1 and isnull(@lv_sysdocclscodmat,0)=0
			begin
				select null, -7 as errcod, 'Para creaciÃ³n de materiales es necesario que indique la clase de documento de material en la clase de documento BUY_PRC.' as errtxt
				return
			end

		BEGIN TRAN

		-- graba cabecera de lista de precios
		INSERT INTO BUY_PRC (buscod, buyprccodext, buyprctxt, supcod, curcod,buyprcstrdte,buyprcenddte, buyprcatr, docsts, cteusr, ctedte, sysdocclscod) 
		VALUES (@lp_buscod, @lp_buyprccodext, @lp_buyprctxt, @lp_supcod, @lp_curcod,@lv_buyprcstrdte, @lv_buyprcenddte, @lp_buyprcatr, @lp_docsts, @lp_username, getdate(), @lp_sysdocclscod)
		SET @lv_errcod = @@ERROR
		SET @lp_buyprccod = @@IDENTITY
    
    -- MATERIALES. se procesan los materiales
		--declare @lp_buyprcmat as nvarchar(max) = '<row><supmatcod>...</supmatcod><matcod>1</matcod></row><row><matcod>1</matcod></row>'
		while not @lp_buyprcmat='' and @lv_i<500 and @lv_errcod=0
			begin
				set @lv_row = dbo.gettagvalue('row',@lp_buyprcmat)
				set @lv_supmatcod = dbo.gettagvalue('supmatcod',@lv_row)	-- requerido
				set @lv_supmattxt = dbo.gettagvalue('supmattxt',@lv_row)	-- requerido
        set @lv_supmatprc = convert(decimal,dbo.gettagvalue('supmatprc',@lv_row))
				set @lv_supmatprc = @lv_supmatprc * 1000
				set @lv_supmatuntcod = dbo.gettagvalue('supmatuntcod',@lv_row)	-- requerido
        set @lv_matcod = dbo.gettagvalue('matcod',@lv_row)
				set @lv_matuntcod = dbo.gettagvalue('matuntcod',@lv_row)

        -- CREO MATERIAL
        IF @lv_errcod=0 and @lv_buyprcatrnewmat=1
          BEGIN
						exec STK_MAT_DEF '01_sp',@lp_username,@lp_buscod,@lv_matcod OUTPUT,
        		null,@lv_supmattxt,null,@lv_supmatuntcod,'A',null,@lv_supmatprc,@lp_curcod,1000,@lv_matuntcod,0,0,null,null,null,null,@lv_sysdocclscodmat,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
          END

        -- ACTUALIZO COSTOS 
        IF @lv_errcod=0 and @lv_buyprcatrupdcst=1 and not isnull(@lv_matcod,0)=0
          BEGIN
            exec STK_MAT_CST_DEF '02_sp',@lp_username,@lp_buscod,
                @lv_matcod,@lv_supmatprc,@lp_curcod,1000,@lv_matuntcod,
                @lp_docsts,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT, @lp_supcod
          END

				-- GRABO RELACION CODIGOS
				IF @lv_errcod=0
					begin
						set @lv_buysupmatcod = null
						(select top 1 @lv_buysupmatcod=buysupmatcod from buy_sup_mat where buscod=@lp_buscod and supcod=@lp_supcod and matcod=@lv_matcod)
						
						declare @lv_action as nvarchar(5) = (case isnull(@lv_buysupmatcod,0) when 0 then '01_sp' else '02_sp' end)
						
						exec BUY_SUP_MAT_DEF @lv_action, @lp_username, @lp_buscod,
						@lv_buysupmatcod, @lp_supcod, @lv_matcod, @lv_supmatcod, @lv_supmattxt, @lv_supmatuntcod, null, 
						'A', null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
					end

        -- GRABO PRECIOS 
        IF @lv_errcod=0
            BEGIN
              exec GRL_DAT_PRC_DEF '01_sp',@lp_username,@lp_buscod,null,
                'BUY_PRC',@lp_buyprccod, @lv_matcod,
                0, 0, 0,
                @lv_supmatprc, @lp_curcod,
                null, null,null,
                @lp_curcod,'A',null,null,
                @lv_errcod OUTPUT, @lv_errtxt OUTPUT,null,null,null,null,null
          	END

				--siguiente
        set @lp_buyprcmat = substring(@lp_buyprcmat,len(@lv_row)+12,len(@lp_buyprcmat)-len(@lv_row)-10)
				set @lv_i = @lv_i + 1
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_buyprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, dc.sysdocclstxt, s.suptxt 
		FROM BUY_PRC p 
			inner join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod
      inner join BUY_SUP s on s.buscod=p.buscod and s.supcod=p.supcod
		WHERE p.buscod=@lp_buscod
		  and p.buyprccod=@lp_buyprccod

	END


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1  

		-- buy_prc_def '04','temasis','temasis_log',68

		BEGIN TRAN

		-- borro precios de lista de precios
		exec GRL_DAT_PRC_DEF '14_sp',@lp_username,@lp_buscod,null,'BUY_PRC',@lp_buyprccod,'',null,null,null,null,null,null,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro cabecera de lista de precios
		if @lv_errcod=0
			begin
				DELETE FROM BUY_PRC 
				WHERE buscod=@lp_buscod
					and buyprccod=@lp_buyprccod
				set @lv_errcod=@@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		else
			ROLLBACK TRAN

		SELECT @lp_buyprccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
		
		-- buy_prc_def '08','temasis','temasis_log'

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' p.*, dc.sysdocclstxt, s.suptxt ',
			'	BUY_PRC p '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod '
      + ' inner join BUY_SUP s on s.buscod=p.buscod and s.supcod=p.supcod '
			+ ' inner join sys_doc_cls dcs on dcs.buscod=s.buscod and dcs.sysdocclscod=s.sysdocclscod ',
			' p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dbo.CheckAuthorizationObject('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('BUY_PRC','''')+',dc.autcod)=1 '
			+ ' and dbo.CheckAuthorizationObject('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('BUY_SUP','''')+',dcs.autcod)=1 ',
 			' p.buyprccod desc ', default )
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------ 
--   2 8    -    L I S T A R		MATERIALES / PRECIOS										
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1   
		
		-- buy_prc_def '18','temasis','temasis_log', 89

		select sm.supmatcod, sm.supmattxt, dp.prccndval as supmatprc, sm.supmatuntcod, dp.srcobjcod002 as matcod, m.mattxt, m.matuntcod
		from buy_prc p
		inner join grl_dat_prc dp on dp.buscod=p.buscod and dp.srcobjtyp='BUY_PRC' and dp.srcobjcod001=p.buyprccod
		left join stk_mat m on m.buscod=dp.buscod and m.matcod=dp.srcobjcod002
		left join buy_sup_mat sm on sm.buscod=dp.buscod and sm.supcod=p.supcod and sm.matcod=dp.srcobjcod002
		where p.buscod=@lp_buscod
		  and p.buyprccod=@lp_buyprccod
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
