USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_HLD_MOV_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADM_HLD_MOV_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hldmovcod		as int			= null,				-- id desplazamiento
@lp_hldcod			as int			= null,				-- id feriado
@lp_hldmovday		as nvarchar(14) = null,		-- fecha
@lp_hldmovtxt		as nvarchar(400)= null,		-- descripcion
@lp_docsts			as nvarchar(2)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null			-- config vista

AS

SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_hldmovday as datetime = dbo.ConvertDate( @lp_hldmovday )
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO ADM_HLD_MOV (buscod, hldcod, hldmovday, hldmovtxt, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_hldcod, @lv_hldmovday, @lp_hldmovtxt, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_hldmovcod=@@IDENTITY
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
	
		SELECT @lp_hldmovcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE ADM_HLD_MOV 
		SET hldmovday = @lv_hldmovday,
			hldmovtxt = @lp_hldmovtxt, 
			DocSts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hldmovcod = @lp_hldmovcod
		SET @lv_errcod=@@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
	
		SELECT @lp_hldmovcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT hm.*, h.HldDay
		FROM ADM_HLD_MOV hm 
		inner join ADM_HLD h on h.HldCod=hm.hldcod 
		WHERE hm.buscod = @lp_buscod
		  and hm.hldmovcod = @lp_hldmovcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM ADM_HLD_MOV 
		WHERE buscod = @lp_buscod
		  and hldmovcod = @lp_hldmovcod
		SET @lv_errcod=@@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
	
		SELECT @lp_hldmovcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, 
			' hm.*, h.hldday ',
			' ADM_HLD_MOV hm inner join ADM_HLD h on h.buscod=hm.buscod and h.hldcod=hm.hldcod ',
			' hm.buscod='+QUOTENAME(@lp_buscod, ''''),
			' h.hldday desc, hm.hldmovday ', default)
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
