USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_LOC_ARG_POS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_LOC_ARG_POS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		      -- empresa 
@lp_argposcod		as int			= null,				-- id 
@lp_argposcodext	as nvarchar(20)	= null,	-- codigo externo 
@lp_slsposcod		as int			= null,				-- id punto de venta 
@lp_argpostyp		as nvarchar(02)	= null,		-- tipo punto de venta (WO-Webservice OnLine / WD-Webservice Diferido / M-Manual / A-Autoimpresor) 
@lp_sysdocclscod	as int			= null,			-- id clase documento 
@lp_argltrcodext	as nvarchar(02) = null,	-- letra 
@lp_docrngcod		as int			= null,				-- id rango de numeraciÃ³n 
@lp_argposatr		as nvarchar(4000)=null,		-- atributos 
@lp_docsts			as nvarchar(02)	= null,		-- estado 
@lp_argposregcod	as nvarchar(20)	= null,-- codigo de regimen 
@lp_argpostxt		as nvarchar(50)	= null,	 -- descripcion del comprobante 

@lp_vewcfg			as nvarchar(max)=null		-- config vista 


AS
 
SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
if @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN

		IF not exists(select top 1 * from fin_loc_arg_ltr where buscod=@lp_buscod and argltrcodext=@lp_argltrcodext)
			BEGIN
				SELECT null, -3 as errcod, 'Letra invÃ¡lida.' as errtxt
				RETURN
			END
		IF @lp_sysoperation='01' and exists(select top 1 * from FIN_LOC_ARG_POS where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod and slsposcod=@lp_slsposcod and argltrcodext=@lp_argltrcodext)
			BEGIN
				SELECT null, -1 as errcod, 'Ya existe la combinacion indicada.' as errtxt
				RETURN
			END
		IF @lp_sysoperation='02' and exists(select top 1 * from FIN_LOC_ARG_POS where buscod=@lp_buscod and not argposcod=@lp_argposcod and sysdocclscod=@lp_sysdocclscod and slsposcod=@lp_slsposcod and argltrcodext=@lp_argltrcodext)
			BEGIN
				SELECT null, -2 as errcod, 'Ya existe la combiacion indicada.' as errtxt
				RETURN
			END
	END
  
  
  
-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(5) = 'ARPOS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_LOC_ARG_POS (buscod, argposcodext, slsposcod, argpostyp, sysdocclscod, argltrcodext, docrngcod, argposatr, argposregcod, argpostxt, 
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_argposcodext, @lp_slsposcod, @lp_argpostyp, @lp_sysdocclscod, @lp_argltrcodext, @lp_docrngcod, @lp_argposatr, @lp_argposregcod, @lp_argpostxt,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_argposcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_argposcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		UPDATE FIN_LOC_ARG_POS
		SET argposcodext=@lp_argposcodext, 
			slsposcod=@lp_slsposcod, 
			argpostyp=@lp_argpostyp, 
			sysdocclscod=@lp_sysdocclscod, 
			argltrcodext=@lp_argltrcodext, 
			docrngcod=@lp_docrngcod, 
			argposatr=@lp_argposatr,
			argposregcod=@lp_argposregcod,
			argpostxt=@lp_argpostxt,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and argposcod=@lp_argposcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_argposcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		
    

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1
		
		SELECT p.*, sp.slsposcodext, sp.SlsPosTxt, dc.sysdocclstxt 
		FROM FIN_LOC_ARG_POS p 
		left join SLS_POS sp on sp.BusCod=p.BusCod and sp.SlsPosCod=p.slsposcod
		left join SYS_DOC_CLS dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod
		WHERE p.buscod=@lp_buscod
		  and p.ArgposCod=@lp_argposcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE 
		FROM FIN_LOC_ARG_POS
		WHERE buscod = @lp_buscod
		  and argposcod = @lp_argposcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_argposcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		-- fin_loc_arg_pos_def '08','temasis','temasis_log' 
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, sp.slsposcodext, sp.SlsPosTxt, dc.sysdocclstxt '
			+ ' FROM FIN_LOC_ARG_POS p '
			+ ' left join SLS_POS sp on sp.BusCod=p.BusCod and sp.SlsPosCod=p.slsposcod '
			+ ' left join SYS_DOC_CLS dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
