USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_EXP_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUY_EXP_DEF]

@lp_sysoperation 	as nvarchar(6),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_buyexpcod		as int			= null OUTPUT,				-- id documento
@lp_buyexpcodext	as nvarchar(20)			= null,		-- codigo externo
@lp_buyexptxt		as nvarchar(50) = null,		-- descripcion
@lp_buyexpdte		as nvarchar(14)	= null,		-- fecha documento
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- objeto origen
@lp_srcobjcod		as int			= null,				-- id origen
@lp_docsts 			as nvarchar(2)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃ³n vista

@lp_sysdocclscod	as int			= null,			-- id clase documento
@lp_buyexptot		as bigint		= null,				-- total
@lp_curcod			as nvarchar(05)	= null,		-- id moneda
@lp_sysdocrejcod	as int			= null,			-- id motivo de rechazo
@lp_buyexpatr		as int			= null,				-- atributos

@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(400)= null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_buyexpdte as datetime
SET @lv_buyexpdte = dbo.ConvertDate( @lp_buyexpdte )

declare @lv_buyexptot as decimal(13,3)
set @lv_buyexptot = dbo.ConvertNumber( @lp_buyexptot, 3 )

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_srcobjtyp as nvarchar(4000)
declare @lv_srcobjcod as nvarchar(4000)
declare @lv_srcobjtxt as nvarchar(4000)
declare @lv_srcobjtyptxt as nvarchar(4000)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09-29','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'BUY'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EXP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   E R R O R E S														
-- ------------------------------------------------------------------------
--	-1	...																
--	-2	Proveedor invalido.												
--	-3	Cliente invalido.												
--	-4	Almacen invalido.												
--	-5	Destino invalido.												
--	-6	Almacen destino invalido.										
--	-7	Numeracion invalida.											
--	-9	No se puede actualizar el documento. Ya se encuentra contabilizado.
--	-10	No se puede borrar el documento. Ya se encuentra contabilizado.	
--	-11	El documento ya se encuentra contabilizado.						
--	-12	No se puede contabilizar el documento. Se encuentra bloqueado.	
--	-13	Al menos un lote esta vencido									
--  -14	Material/Numero de serie duplicado								
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12' 
	BEGIN
		-- valido codigo externo duplicado
		if not isnull(@lp_buyexpcodext,'')=''
			begin
				IF exists(select top 1 * from BUY_EXP where buscod=@lp_buscod and not buyexpcod=@lp_buyexpcod and buyexpcodext=@lp_buyexpcodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END
  


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='21'
	BEGIN
		SET @lv_validop = 1
		
		if @lp_sysoperation='01' or @lp_sysoperation='11'
			BEGIN TRAN

		-- actualizo cabecera de documento
		INSERT INTO BUY_EXP (buscod, buyexpcodext, buyexptxt, buyexpdte, buyexptot, curcod, 
			srcobjtyp, srcobjcod, sysdocclscod, sysdocrejcod, buyexpatr, 
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_buyexpcodext, @lp_buyexptxt, @lv_buyexpdte, @lv_buyexptot, @lp_curcod, 
			@lp_srcobjtyp, @lp_srcobjcod, @lp_sysdocclscod, @lp_sysdocrejcod, @lp_buyexpatr,
			@lp_docsts, @lp_username, getdate())
		SET @lp_errcod=@@ERROR
		SET @lp_buyexpcod = @@IDENTITY
          
		if @lp_sysoperation='01' or @lp_sysoperation='11'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_buyexpcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt	
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
		
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE BUY_EXP
		SET	buyexptxt = @lp_buyexptxt,
			buyexpcodext = @lp_buyexpcodext,
			buyexpdte = @lv_buyexpdte,
			buyexptot = @lv_buyexptot,
			curcod = @lp_curcod, 
			srcobjtyp = @lp_srcobjtyp, 
			srcobjcod = @lp_srcobjcod,
			sysdocrejcod = @lp_sysdocrejcod, 
			buyexpatr = @lp_buyexpatr,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and buyexpcod=@lp_buyexpcod
		  and not docsts = 'C'
		SET @lp_errcod = @@ERROR
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_buyexpcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT e.*, dc.sysdocclstxt, ot.objtyptxt, 
			(case e.srcobjtyp when 'HLT_PLN' then e.srcobjcod else a.adrnme001 end) as srcobjtxt, ot.objtyptxt as srcobjtyptxt
		FROM buy_exp e
		left join GRL_DAT_ADR a on a.BusCod=e.BusCod and a.AdrSrcTyp=e.SrcObjTyp and a.AdrSrcCod=e.SrcObjCod
		left join SYS_DOC_CLS dc on dc.buscod=e.buscod and dc.sysdocclscod=e.sysdocclscod
		inner join sys_obj_typ ot on ot.objtypcod=e.srcobjtyp
		WHERE e.buscod = @lp_buscod
		  and e.buyexpcod = @lp_buyexpcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14' or @lp_sysoperation='24'
	BEGIN
		SET @lv_validop = 1

		if exists(select top 1 * from buy_exp where buscod=@lp_buscod and buyexpcod=@lp_buyexpcod and docsts='C')
			begin
				if @lp_sysoperation='04' or @lp_sysoperation='14'
					select null, -1 as errcod, 'No se puede borrar. Documento contabilizado.' as errtxt
				else
					begin
						set @lp_errcod=-1
						set @lp_errtxt='No se puede borrar. Documento contabilizado.'
					end
				return
			end

		if @lp_sysoperation='04' or @lp_sysoperation='14'
			BEGIN TRAN

		-- borro imputaciones
		DELETE 
		FROM BUY_EXP_DOC_IMP
		WHERE buscod = @lp_buscod
		  and buyexpcod = @lp_buyexpcod
		SET @lp_errcod=@@ERROR

		-- borro documentos asociados
		if @lp_errcod=0
			begin
				DELETE 
				FROM BUY_EXP_DOC 
				WHERE buscod = @lp_buscod
				  and buyexpcod = @lp_buyexpcod
				SET @lp_errcod=@@ERROR
			end
		
		-- borro documento
		IF @lp_errcod=0
			BEGIN
				DELETE 
				FROM BUY_EXP
				WHERE buscod = @lp_buscod
				  and buyexpcod = @lp_buyexpcod
				SET @lp_errcod=@@ERROR
			END
			
		if @lp_sysoperation='04' or @lp_sysoperation='14'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_buyexpcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- buy_exp_def '08','mdominguez','temasis_log'
    
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' e.*, dc.sysdocclstxt, ot.objtyptxt, '
			+ ' (case e.srcobjtyp when '+QUOTENAME('HLT_PLN','''')+' then e.srcobjcod else a.adrnme001 end) as srcobjtxt, ot.objtyptxt as srcobjtyptxt ',
			' buy_exp e '
			+ ' inner join sys_doc_cls dc on dc.buscod=e.buscod and dc.sysdocclscod=e.sysdocclscod '
			+ ' left join grl_dat_adr a on a.buscod=e.buscod and a.adrsrctyp=e.srcobjtyp and a.adrsrccod=e.srcobjcod '
			+ ' inner join sys_obj_typ ot on ot.objtypcod=e.srcobjtyp ',
			' e.buscod='+QUOTENAME(@lp_buscod, ''''),
			-- + dbo.GetUserRestrictions(@lp_buscod,@lp_username,'<objref>e.srcobjtyp,e.srcobjcod</objref>'),
			' e.ctedte DESC ', 
			'srcobjtyptxt;ot.objtyptxt'
			+char(10)+'srcobjtxt;(case e.srcobjtyp when '+QUOTENAME('HLT_PLN','''')+' then e.srcobjcod else a.adrnme001 end)'
			)
 	execute(@lv_sql)
		
		
	END
	
	

-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R								
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '09' or @lp_sysoperation='19' or @lp_sysoperation='09_sp'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation!='09_sp'
			BEGIN TRAN
		
		UPDATE BUY_EXP
		SET	docsts = 'C',
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and buyexpcod=@lp_buyexpcod
		  and not docsts = 'C'
		SET @lp_errcod = @@ERROR
    
		IF @lp_sysoperation!='09_sp'
			BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
			
				SELECT @lp_buyexpcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
      END
    ELSE
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
	END



-- ------------------------------------------------------------------------
--   4 9    -    A N U L A R     C O N T A B I L I Z A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '29' or @lp_sysoperation='39'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE BUY_EXP
		SET	docsts = 'A',
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and buyexpcod=@lp_buyexpcod
		  and docsts = 'C'
		SET @lp_errcod = @@ERROR
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_buyexpcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
