USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_ACC_PLN_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_ACC_PLN_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,			-- empresa 
@lp_finaccplncod	as int			= null,				-- id 
@lp_finaccplncodext	as nvarchar(20) = null,	-- codigo 
@lp_finaccplntxt	as nvarchar(50)	= null,		-- descripciÃ³n 
@lp_curcod			as nvarchar(05)	= null,			-- id moneda 
@lp_docsts			as nvarchar(02)	= null,			-- estado 
@lp_vewcfg			as nvarchar(max)=null,      -- configuraciÃ³n vista 
@lp_finaccplnacc as nvarchar(max)=null

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtyp nvarchar(2)
DECLARE @lv_errmsg nvarchar(max)
DECLARE @lv_errtxt nvarchar(max)
DECLARE @lv_errvar nvarchar(max)
DECLARE @lv_plnaccerrcod INT = 0

DECLARE @lv_sql as nvarchar(max)
DECLARE @lv_row as nvarchar(max)
DECLARE @lv_finaccplnacccod INT = null
DECLARE @lv_finaccplnlvltxt as nvarchar(50)
DECLARE @lv_finaccplnlvl as nvarchar(50)
DECLARE @lv_finacccod INT=null
DECLARE @lv_finaccplnacccodext INT=0 
DECLARE @lv_finaccplnaccdeleted as nvarchar(02)
DECLARE @lv_sysoperation 	as nvarchar(4)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PLN'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
    BEGIN
    IF not isnull(@lp_finaccplncodext,'')='' 
      BEGIN
        IF exists(select top 1 * from FIN_ACC_PLN where buscod=@lp_buscod and not finaccplncod=@lp_finaccplncod and finaccplncodext=@lp_finaccplncodext)
          BEGIN
            SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
            RETURN
          END
      END
  END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		BEGIN TRAN
				
		INSERT INTO FIN_ACC_PLN (buscod, finaccplncodext, finaccplntxt, curcod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_finaccplncodext, @lp_finaccplntxt, @lp_curcod, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_finaccplncod = @@IDENTITY
		
    WHILE not @lp_finaccplnacc='' and @lv_finaccplnacccodext<500 and @lv_errcod=0
    	begin
        set @lv_row = dbo.gettagvalue('row',@lp_finaccplnacc)
        set @lv_finaccplnlvltxt = dbo.gettagvalue('finaccplnlvltxt',@lv_row)   -- requerido
        if dbo.gettagvalue('finacccod',@lv_row)!='NULL'
        	set @lv_finacccod = convert(int,dbo.gettagvalue('finacccod',@lv_row))   -- requerido
        set @lv_finaccplnlvl = dbo.gettagvalue('finaccplnlvl',@lv_row)   -- requerido
    		exec FIN_ACC_PLN_ACC_DEF '01sp',@lp_username,@lp_buscod,null,@lp_finaccplncod,@lv_finaccplnlvltxt,@lv_finacccod,@lv_finaccplnlvl,'A',null,@lv_errtyp OUTPUT, @lv_plnaccerrcod OUTPUT, @lv_errtxt OUTPUT, @lv_errmsg OUTPUT, @lv_errvar OUTPUT
        if not @lv_plnaccerrcod = 0
          begin
            set @lv_errcod=-1
            set @lv_errtxt = 'Se produjo un error al actualizar los rubros/subrubros o cuentas'
            set @lp_finaccplnacc = ''
          end
        else
        	begin
        	set @lp_finaccplnacc = substring(@lp_finaccplnacc,len(@lv_row)+12,len(@lp_finaccplnacc)-len(@lv_row)-10)
      		set @lv_finaccplnacccodext = @lv_finaccplnacccodext + 1
          end
      end
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_finaccplncod as finaccplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ---------------------------------------------------------------------------- 
--   0 2    -    M O D I F I C A R										
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE FIN_ACC_PLN 
		SET	finaccplncodext = @lp_finaccplncodext,
			finaccplntxt= @lp_finaccplntxt,
      curcod=@lp_curcod,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and finaccplncod = @lp_finaccplncod
		SET @lv_errcod=@@ERROR
		
    WHILE not @lp_finaccplnacc='' and @lv_finaccplnacccodext<500 and @lv_errcod=0
    	begin
        set @lv_row = dbo.gettagvalue('row',@lp_finaccplnacc)
        if dbo.gettagvalue('finaccplnacccod',@lv_row)!=''
        	set @lv_finaccplnacccod = dbo.gettagvalue('finaccplnacccod',@lv_row)   -- requerido	
        set @lv_finaccplnlvltxt = dbo.gettagvalue('finaccplnlvltxt',@lv_row)   -- requerido
        if dbo.gettagvalue('finacccod',@lv_row)!='NULL'
        	set @lv_finacccod = convert(int,dbo.gettagvalue('finacccod',@lv_row))   -- requerido
        set @lv_finaccplnlvl = dbo.gettagvalue('finaccplnlvl',@lv_row)   -- requerido
        set @lv_finaccplnaccdeleted = dbo.gettagvalue('deleted',@lv_row)   -- requerido
        if isnull(@lv_finaccplnacccod,'')=''	
          set @lv_sysoperation = '01sp'
    		else
        	if @lv_finaccplnaccdeleted = 'X'
          	set @lv_sysoperation = '04sp'
          else
        		set @lv_sysoperation = '02sp'
    		exec FIN_ACC_PLN_ACC_DEF @lv_sysoperation,@lp_username,@lp_buscod,@lv_finaccplnacccod,@lp_finaccplncod,@lv_finaccplnlvltxt,@lv_finacccod,@lv_finaccplnlvl,'A',null,@lv_errtyp OUTPUT, @lv_plnaccerrcod OUTPUT, @lv_errtxt OUTPUT, @lv_errmsg OUTPUT, @lv_errvar OUTPUT
        if not @lv_plnaccerrcod = 0
          begin
            set @lv_errcod=-1
            set @lv_errtxt = 'Se produjo un error al actualizar los rubros/subrubros o cuentas'
            set @lp_finaccplnacc = ''
          end
        else
        	begin
        	set @lp_finaccplnacc = substring(@lp_finaccplnacc,len(@lv_row)+12,len(@lp_finaccplnacc)-len(@lv_row)-10)
      		set @lv_finaccplnacccodext = @lv_finaccplnacccodext + 1
          end
        set @lv_finaccplnacccod = null
        set @lv_finacccod = null
      end
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_finaccplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- -------------------------------------------------------------------- 
--   0 3    -    V E R													
-- -------------------------------------------------------------------- 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM FIN_ACC_PLN
		WHERE buscod = @lp_buscod
		  and finaccplncod = @lp_finaccplncod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		-- FALTA: verificar que no estÃ© asignado a ninguna empresa 

		BEGIN TRAN

		DELETE 
		FROM FIN_ACC_PLN
		WHERE buscod = @lp_buscod
		  and finaccplncod = @lp_finaccplncod
		SET @lv_errcod=@@ERROR
    
    DELETE 
		FROM FIN_ACC_PLN_ACC
		WHERE buscod = @lp_buscod
		  and finaccplncod = @lp_finaccplncod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_finaccplncod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.* '
			+ '	FROM fin_acc_pln p '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
    
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
