USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_INV_FCE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_INV_FCE_DEF]

@lp_sysoperation 		as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),			-- empresa
@lp_slsinvcod			as int			= null,		-- id factura
@lp_slsposcod			as int			= null,		-- id punto de venta
@lp_slsinvfcecodext		as nvarchar(20)	= null,		-- cod externo
@lp_slsinvfceautcodext	as nvarchar(20)	= null,		-- autorizacion - codigo
@lp_slsinvfceautduedte	as nvarchar(14)	= null,		-- autorizacion - vencimiento
@lp_slsinvfceautnum		as nvarchar(10)	= null,		-- autorizacion - numero
@lp_slsinvfceatr		as nvarchar(max)= null,		-- atributos
@lp_docsts				as nvarchar(02)	= null,		-- estado

@lp_vewcfg				as nvarchar(max)=null,		-- config vista

@lp_errcod				as int			= null OUTPUT,
@lp_errtxt				as nvarchar(max)=null OUTPUT,

@lp_docrngcod			as int			= null		-- id rango numeracion

AS
 
SET NOCOUNT ON

DECLARE @lv_validop int = 0

set @lp_errcod = 0
set @lp_errtxt = ''

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_slsinvfceautduedte as smalldatetime = dbo.ConvertDate( @lp_slsinvfceautduedte )



-- ------------------------------------------------------------------------
--   V A L I DA C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		IF exists(select top 1 * from sls_inv_fce where buscod=@lp_buscod and slsinvcod=@lp_slsinvcod)
			SET @lp_sysoperation = (case when @lp_sysoperation='01' or @lp_sysoperation='02' then '02' else '12' end)
		ELSE
			SET @lp_sysoperation = (case when @lp_sysoperation='01' or @lp_sysoperation='02' then '01' else '11' end)
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO SLS_INV_FCE (buscod, slsinvcod, slsposcod, slsinvfcecodext, slsinvfceautcodext, slsinvfceautduedte, slsinvfceautnum, slsinvfceatr,  
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_slsinvcod, @lp_slsposcod, @lp_slsinvfcecodext, @lp_slsinvfceautcodext, @lv_slsinvfceautduedte, @lp_slsinvfceautnum, @lp_slsinvfceatr, 
			@lp_docsts, @lp_username, getdate() )  
		SET @lp_errcod = @@ERROR

		if @lp_sysoperation='11'
			return
		else
			begin 
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_slsinvcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		UPDATE SLS_INV_FCE
		SET slsinvfceautcodext=@lp_slsinvfceautcodext,
			slsinvfceautduedte=@lv_slsinvfceautduedte,
			SlsInvFceAutNum=@lp_slsinvfceautnum,
			SlsInvFceAtr=@lp_slsinvfceatr,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and slsinvcod=@lp_slsinvcod
		SET @lp_errcod = @@ERROR

		if @lp_sysoperation='12'
			return
		else
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_slsinvcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end
	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SLS_INV_FCE 
		WHERE buscod=@lp_buscod
		  and slsinvcod=@lp_slsinvcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='24'
	BEGIN
		SET @lv_validop = 1
		
		if @lp_sysoperation='04'
			BEGIN TRAN

		-- borra el registro en el monitor de factura electrÃ³nica
		DELETE 
		FROM SLS_INV_FCE
		WHERE buscod = @lp_buscod
		  and slsinvcod = @lp_slsinvcod
		SET @lp_errcod=@@ERROR
		
		-- anula estado de factura
		IF @lp_errcod=0
			BEGIN
				UPDATE SLS_INV
				SET DocSts='A',
					UpdDte = getdate(),
					UpdUsr = @lp_username
				WHERE BusCod=@lp_buscod
				  and SlsInvCod = @lp_slsinvcod
				SET @lp_errcod = @@ERROR
			END

		if @lp_sysoperation='04'
			begin
				if @lp_errcod = 0
					COMMIT TRAN
				else
					ROLLBACK TRAN
		
				SELECT @lp_slsinvcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end
	END
  
  
  
-- ------------------------------------------------------------------------
--   0 5    -    A N U L A R   F A C T U R A 
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

    UPDATE SLS_INV
    SET DocSts='A',
      UpdDte = getdate(),
      UpdUsr = @lp_username
    WHERE BusCod=@lp_buscod
      and SlsInvCod = @lp_slsinvcod
    SET @lp_errcod = @@ERROR
    
    
    UPDATE SLS_INV_FCE
    SET DocSts = 'N',
        UpdDte = getdate(),
        UpdUsr = @lp_username
    WHERE BusCod = @lp_buscod
      AND SlsInvCod = @lp_slsinvcod
    SET @lp_errcod = @@ERROR


		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
      
		SELECT @lp_slsinvcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
    
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- sls_inv_fce_def '08','temasis','temasis_log'

		declare @lv_docststxt as nvarchar(400)
		set @lv_docststxt = '(case fe.docsts when '+QUOTENAME('A','''')+' then '+QUOTENAME('Autorizado','''')+' when '+QUOTENAME('R','''')+' then '+QUOTENAME('Rechazado','''')+' when '+QUOTENAME('O','''')+' then '+QUOTENAME('Observado','''')+' when '+QUOTENAME('P','''')+' then '+QUOTENAME('Pendiente','''')+' when '+QUOTENAME('N','''')+' then '+QUOTENAME('Anulado','''')+' end)'
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' fe.ctedte desc ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' fe.*, sp.slsposcodext, convert(varchar, fe.slsinvfceautduedte, 103) as slsinvfceautduedtecnv, convert(varchar,i.slsinvdte,103) as slsinvdtecnv, dc.sysdocclstxt, dc.objtyp, '
			+ @lv_docststxt + ' as docststxt '
			+ ' FROM SLS_INV_FCE fe '
			+ ' inner join SLS_INV i on i.buscod=fe.buscod and i.slsinvcod=fe.slsinvcod '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=i.buscod and dc.sysdocclscod=i.sysdocclscod '
			+ ' inner join SLS_POS sp on sp.buscod=i.buscod and sp.slsposcod=i.slsposcod '
			+ ' WHERE fe.buscod='+QUOTENAME(@lp_buscod, '''')
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



-- ------------------------------------------------------------------------
--   0 9    -    C O N F I R M A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1    
		declare @lv_docnum as int

		-- sls_inv_fce_def '09','temasis','temasis_log',127
		
		BEGIN TRAN
		
		-- actualiza rango de numeraciÃ³n con nÃºmero de factura
		if not @lp_slsinvfcecodext=''
			exec GRL_DAT_DOC_RNG_DEF '11',@lp_username,@lp_buscod,@lp_docrngcod,null,null,null,null,null,null,'<docrngcodint>X</docrngcodint>',null,null,@lv_docnum,@lp_errcod,@lp_errtxt

		-- actualizo registro de factura electronica
		if @lp_errcod=0
			BEGIN
				UPDATE SLS_INV_FCE
				set SlsInvFceCodExt = @lp_slsinvfcecodext,
					slsinvfceautcodext = (case when isnull(@lp_slsinvfcecodext,'')='' then null else @lp_slsinvfceautcodext end),
					SlsInvFceAutDueDte = (case when isnull(@lp_slsinvfcecodext,'')='' then null else @lv_slsinvfceautduedte end),
					SlsInvFceAtr = (case when isnull(@lp_slsinvfceatr,'')='' then SlsInvFceAtr else @lp_slsinvfceatr end),
					DocSts = @lp_docsts
				where BusCod=@lp_buscod
				  and SlsInvCod=@lp_slsinvcod
				set @lp_errcod = @@ERROR
			END

		-- cierro parcialmente la transacciÃ³n.
		-- Si el documento se aprobÃ³ por ente gubernamental, entonces hay que registrar los datos de autorizaciÃ³n
		if @lp_errcod=0
			COMMIT TRAN
		else
			begin
				ROLLBACK TRAN
				select @lp_slsinvcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errtxt ) as errtxt
				return
			end
		
		-- **********************************
		-- FALTA:
		-- armar un proceso automatico que detect facturas FCE con status C y facturas con status distinto de C
		-- al detectar esto intentar contabilizar y si no funciona enviar mail de notificacion a administrador
		-- **********************************

		-- inicio nueva transacciÃ³n para datos restantes.
		BEGIN TRAN

		-- contabiliza el documento
		if @lp_errcod=0
			exec SLS_INV_DEF '29',@lp_username,@lp_buscod,@lp_slsinvcod,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT

		if @lp_errcod=0
			COMMIT TRAN
		else
			ROLLBACK TRAN

		select @lp_slsinvcod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errtxt ) as errtxt
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
