USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MOD_PRC_LST_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_MOD_PRC_LST_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_prclstcod		as int			= null,	/* id lista precios */
@lp_prclstver		as int			= null,	/* id version */
@lp_prclstprc		as int			= null,	/* id precio */
@lp_hltmodcod		as int			= null,	/* id modulo */
@lp_hltmodqty		as bigint		= null,	/* cantidad */
@lp_hltmodprc		as bigint		= null,	/* precio */
@lp_docsts			as nvarchar(2)	= null	/* estado */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_hltmodqty	as decimal(9,3)
set @lv_hltmodqty = dbo.ConvertNumber( @lp_hltmodqty , 3 )

declare @lv_hltmodprc	as decimal(11,5)
set @lv_hltmodprc      = dbo.ConvertNumber( @lp_hltmodprc , 3)



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Material existente										*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R     P R E C I O     M A T E R I A L								*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		IF (select count(*) from HLT_MOD_prc_lst where buscod=@lp_buscod and prclstcod=@lp_prclstcod and prclstver=@lp_prclstver and hltmodcod=@lp_hltmodcod)>0
			BEGIN
				SELECT null, -1 as errcod, 'Módulo existente.' as errtxt
				RETURN
			END

		BEGIN TRAN

		INSERT INTO HLT_MOD_prc_lst (buscod, prclstcod, prclstver, hltmodcod, hltmodqty, hltmodprc, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_prclstcod, @lp_prclstver, @lp_hltmodcod, @lv_hltmodqty, @lv_hltmodprc, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_prclstprc=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prclstprc, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R     P R E C I O     M A T E R I A L							*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_MOD_PRC_LST 
		SET	hltmodprc = @lv_hltmodprc,
			hltmodqty=@lv_hltmodqty,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and prclstcod = @lp_prclstcod
		  and prclstver = @lp_prclstver
		  and prclstprc = @lp_prclstprc
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prclstprc, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R     P R E C I O     M A T E R I A L									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT l.*, m.hltmodtxt
		FROM HLT_MOD_prc_lst l
		left join HLT_MOD m on m.buscod=l.buscod and m.hltmodcod=l.hltmodcod
		WHERE l.buscod=@lp_buscod
		  and l.prclstcod=@lp_prclstcod
		  and l.prclstver=@lp_prclstver
		  and l.prclstprc=@lp_prclstprc

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R     P R E C I O     M A T E R I A L					*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM HLT_MOD_PRC_LST
		WHERE buscod=@lp_buscod
		  and prclstcod=@lp_prclstcod
		  and prclstver=@lp_prclstver
		  and prclstprc=@lp_prclstprc
		SET @lv_errcod = @@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prclstprc, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT l.*, m.hltmodtxt
		FROM HLT_MOD_prc_lst l
		left join HLT_MOD m on m.buscod=l.buscod and m.hltmodcod=l.hltmodcod
		WHERE l.buscod=@lp_buscod
		  and l.prclstcod=@lp_prclstcod
		  and l.prclstver=@lp_prclstver
		ORDER BY m.hltmodtxt

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
