USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_CST_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAT_CST_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_matcod 				as nvarchar(20)	= null,	-- id material 
@lp_matcst				as bigint				= null,	-- costo 
@lp_matcstcurcod	as nvarchar(5)	= null,	-- costo - moneda 
@lp_matcstqty			as bigint				= null,	-- costo - cantidad 
@lp_matcstuntcod 	as nvarchar(5)	= null,	-- costo - unidad de medida 
@lp_docsts				as nvarchar(5)	= null, -- estado 

@lp_vewcfg				as nvarchar(max)= null,	-- configuraciÃ³n vista 

@lp_errcod				as int					= null OUTPUT,	-- id error 
@lp_errtxt				as nvarchar(400)= null OUTPUT,	-- txt error 

@lp_supcod			as int						= null	-- id proveedor 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errcod as int
declare @lv_errtxt as nvarchar(400)

declare @lv_sql as nvarchar(max)

declare @lv_matcst as decimal(18,3) = dbo.ConvertNumber( @lp_matcst , 3 )
declare @lv_matcstqty as decimal(18,3) = dbo.ConvertNumber( @lp_matcstqty , 3 )

declare @lv_stkper as nvarchar(6)


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-4	Unidad de medida de Costo invÃ¡lida									
--	-6	Tipo unidad medida costo no coincide con unidad base				
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='02_sp'
	BEGIN

		-- si no se informa moneda, se utiliza la moneda de la sociedad
		if isnull(@lp_matcstcurcod,'')=''
			set @lp_matcstcurcod = (select top 1 curcod from adm_bus where buscod=@lp_buscod)
		
		-- si no se informa cantidad de costo, se usa 1
		if isnull(@lv_matcstqty,0)=0
			set @lv_matcstqty = 1

		-- si no se informa unidad de medida de costo, se usa la unidad de medida base del material
		if isnull(@lp_matcstuntcod,'')=''
			set @lp_matcstuntcod = (select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

		-- si la unida de medida no es la base, valido que la unidad de medida sea convertida
		if not @lp_matcstuntcod=(select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)
			IF not exists(select top 1 * from stk_mat_idt where buscod=@lp_buscod and matcod=@lp_matcod and matidtcod=@lp_matcstuntcod)
				BEGIN
					SELECT null, -4 as errcod, 'Unidad de medida de costo invÃ¡lida.' as errtxt
					RETURN
				END

		-- verifico si ya existe el costo 
		IF not exists (select top 1 * from stk_mat_cst where buscod=@lp_buscod and matcod=@lp_matcod)
			set @lp_sysoperation=(case when @lp_sysoperation='01_sp' or @lp_sysoperation='02_sp' then '01_sp' else '01' end)
		else
			set @lp_sysoperation=(case when @lp_sysoperation='01_sp' or @lp_sysoperation='02_sp' then '02_sp' else '02' end)

	END




-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1
		
		IF @lp_sysoperation='01'
			BEGIN TRAN

		INSERT INTO STK_MAT_CST (buscod, matcod, matcst, matcstcurcod, matcstqty, matcstuntcod, docsts, ctedte, cteusr, MatCstLstUpd, MatCstLstSup)
		SELECT @lp_buscod, @lp_matcod, @lv_matcst, @lp_matcstcurcod, @lv_matcstqty, @lp_matcstuntcod, @lp_docsts, getdate(), @lp_username, getdate(), @lp_supcod
		SET @lv_errcod=@@ERROR

		-- actualizo historial de costos 
		IF @lv_errcod=0
			BEGIN
				INSERT INTO STK_MAT_CST_HST (buscod, matcod, matcstdte, matcst, matcstcurcod, matcstqty, matcstuntcod, supcod, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_matcod, getdate(), @lv_matcst, @lp_matcstcurcod, @lv_matcstqty, @lp_matcstuntcod, @lp_supcod, @lp_docsts, getdate(), @lp_username
				SET @lv_errcod=@@ERROR
			END

		-- actualizo costo de stock historico 
		IF @lv_errcod=0
			begin
				set @lv_stkper = cast(DATEPART(year,getdate())*100+DATEPART(month,getdate()) as nvarchar(6))
				UPDATE sh
				SET MatCst = @lv_matcst,
					MatCstCurCod = @lp_matcstcurcod, 
					MatCstQty = @lv_matcstqty,
					MatCstUntCod = @lp_matcstuntcod, 
					updDte = GETDATE(),
					updUsr = @lp_username 
				FROM STK_MAT_STK_HST sh
				WHERE sh.BusCod=@lp_buscod
				  and sh.stkper=@lv_stkper
				  and sh.MatCod=@lp_matcod 
				SET @lv_errcod=@@ERROR
			end

		-- actualizo precios anclaje 
		IF @lv_errcod=0
			BEGIN
				EXECUTE SLS_PRC_LST_DEF '06_sp',@lp_username,@lp_buscod,
						null,null,null,
						'STK_MAT',@lp_matcod,
						@lp_matcstqty,@lp_matcstuntcod,null,null,null,null,@lp_matcst,null,null,@lp_matcstcurcod,
						@lp_docsts,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			END
				
		set @lp_errcod=@lv_errcod
		IF not @lp_errcod=0
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )

		if @lp_sysoperation='01'
			BEGIN
				IF @lv_errcod=0 
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_matcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			END
	END
	

	
-- ------------------------------------------------------------------------ 
--   0 2    -    A C T U A L I Z A R										
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='02_sp'
	BEGIN
		SET @lv_validop = 1

		-- obtengo ultima fecha de historial de costo para el material 
		declare @lv_matcstdtehst as smalldatetime
		set @lv_matcstdtehst = (select top 1 matcstdte from stk_mat_cst_hst where buscod=@lp_buscod and matcod=@lp_matcod order by matcstdte desc)
		
		declare @lv_update as int
		if exists(select top 1 * from stk_mat_cst_hst where buscod=@lp_buscod and matcod=@lp_matcod and matcstdte=@lv_matcstdtehst and matcst=@lv_matcst and matcstcurcod=@lp_matcstcurcod and matcstqty=@lv_matcstqty and matcstuntcod=@lp_matcstuntcod)
			set @lv_update = 0
		else
			set @lv_update = 1

		IF @lp_sysoperation='02'
			BEGIN TRAN

		-- agrego historial de costo 
		if @lv_update=1
			begin
				INSERT INTO STK_MAT_CST_HST (buscod, matcod, matcstdte, matcst, matcstcurcod, matcstqty, matcstuntcod, supcod, docsts, ctedte, cteusr)
				SELECT buscod, matcod, getdate(), matcst, matcstcurcod, matcstqty, matcstuntcod, matcstlstsup, docsts, getdate(), @lp_username
				FROM STK_MAT_CST
				WHERE buscod=@lp_buscod
					and matcod=@lp_matcod
				SET @lv_errcod = @@ERROR
			end

		-- actualizo costo de stock historico 
		IF @lv_update=1 and @lv_errcod=0
			begin
				set @lv_stkper = cast(DATEPART(year,getdate())*100+DATEPART(month,getdate()) as nvarchar(6))
				UPDATE sh
				SET MatCst = @lv_matcst,
					MatCstCurCod = @lp_matcstcurcod, 
					MatCstQty = @lv_matcstqty, 
					MatCstUntCod = @lp_matcstuntcod, 
					updDte = GETDATE(),
					updUsr = @lp_username 
				FROM STK_MAT_STK_HST sh
				WHERE sh.BusCod=@lp_buscod
				  and sh.stkper=@lv_stkper
				  and sh.MatCod=@lp_matcod 
				SET @lv_errcod=@@ERROR
			end

		-- actualizo costo de material 
		if @lv_update=1 and @lv_errcod=0
			BEGIN
				UPDATE STK_MAT_CST 
				SET	matcst = @lv_matcst,
					matcstcurcod = @lp_matcstcurcod,
					matcstqty = @lv_matcstqty,
					matcstuntcod = @lp_matcstuntcod, 
					MatCstLstUpd = getdate(),
					matcstlstsup = @lp_supcod,
					updusr = @lp_username,
					upddte = getdate()
				WHERE buscod=@lp_buscod
					and matcod=@lp_matcod
				SET @lv_errcod=@@ERROR
			END
				
		-- actualizo precios anclaje 
		IF @lv_errcod=0
			BEGIN
				EXECUTE SLS_PRC_LST_DEF '06_sp',@lp_username,@lp_buscod,
						null,null,null,
						'STK_MAT',@lp_matcod,
						@lp_matcstqty,@lp_matcstuntcod,null,null,null,null,@lp_matcst,null,null,@lp_matcstcurcod,
						@lp_docsts,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			END

		set @lp_errcod=isnull(@lv_errcod,0)
		IF not @lp_errcod=0
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )
		
		IF @lp_sysoperation='02'
			BEGIN
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_matcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			END
	END
	


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT mc.*, m.mattxt
		FROM STK_MAT m
			left  join STK_MAT_CST mc on mc.buscod=@lp_buscod and mc.matcod=m.matcod
		WHERE m.buscod=@lp_buscod
		  and m.matcod=@lp_matcod
		
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		-- actualizo historial de costos 
		INSERT INTO STK_MAT_CST_HST (buscod, matcod, matcstdte, matcst, matcstcurcod, matcstqty, matcstuntcod, supcod, docsts, ctedte, cteusr)
		SELECT buscod, matcod, getdate(), matcst, matcstcurcod, matcstqty, matcstuntcod, matcstlstsup, docsts, getdate(), @lp_username
		FROM STK_MAT_CST
		WHERE buscod=@lp_buscod
			and matcod=@lp_matcod
		SET @lv_errcod = @@ERROR
		  
		IF @lv_errcod=0
			BEGIN
				UPDATE STK_MAT_CST 
				SET	matcst = null,
					matcstcurcod = null,
					matcstqty = null,
					matcstuntcod = null,
					updusr = @lp_username,
					upddte = getdate()
				WHERE buscod=@lp_buscod
				  and matcod=@lp_matcod
				SET @lv_errcod=@@ERROR
			END

		-- actualizo precios anclaje 
		IF @lv_errcod=0
			BEGIN
				EXECUTE SLS_PRC_LST_DEF '06',@lp_username,@lp_buscod,
						null,null,null,
						'STK_MAT',@lp_matcod,
						@lp_matcstqty,@lp_matcstuntcod,null,null,null,null,@lp_matcst,null,null,@lp_matcstcurcod,
						@lp_docsts,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		set @lp_errcod=@lv_errcod
		IF not @lp_errcod=0
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )

		SELECT @lp_matcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END
	


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- stk_mat_cst_def '08','mdominguez','temasis_log' 

		declare @lv_flt as nvarchar(max)
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt,'stkmatcstlstupddte','convert(varchar,mc.matcstlstupd,103)')

		declare @lv_ord as nvarchar(max)
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'm.mattxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		set @lv_ord = replace(@lv_ord,'stkmatcstlstupddte','mc.matcstlstupd')

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' mc.matcst, mc.matcstcurcod, mc.matcstqty, mc.matcstuntcod, mc.matcstlstupd, mc.matcstlstsup, convert(varchar,mc.matcstlstupd,103) as stkmatcstlstupddte, '
			+ ' m.matcod, m.docsts, m.mattxt, m.matclscod, '
			+ ' c.matclstxt, '
			+ ' s.suptxt '
			+ ' FROM STK_MAT m '
			+ '  left join STK_MAT_CST mc on mc.buscod='+QUOTENAME(@lp_buscod,'''')+' and mc.matcod=m.matcod'
			+ '  left join STK_MAT_CLS c  on c.matclscod=m.matclscod '
			+ '  left join BUY_SUP s on s.buscod=mc.buscod and s.supcod=mc.matcstlstsup '
			+ ' WHERE m.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and m.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ @lv_flt
			+ @lv_ord
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   0 9    -    L I S T A R    H I S T O R I A L							
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' mh.*, m.mattxt, m.matclscod, c.matclstxt, sh.suptxt '
			+ ' FROM STK_MAT m '
			+ '  left join STK_MAT_CLS c  on c.matclscod=m.matclscod '
			+ '  left join STK_MAT_CST_HST mh on mh.buscod='+QUOTENAME(@lp_buscod,'''')+' and mh.matcod=m.matcod'
			+ '  left join BUY_SUP sh on sh.buscod=mh.buscod and sh.supcod=mh.supcod '
			+ ' WHERE m.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and m.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'mh.matcstdte DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
