USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_FSC_EXE_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_FSC_EXE_DEF]

@lp_sysoperation 	as nvarchar(02),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_fscexecod		as int			= null,	-- id
@lp_fscexecodext	as nvarchar(20)	= null,	-- codigo
@lp_fscexetxt		as nvarchar(50)	= null,	-- descripcion
@lp_fscexeyth		as int			= null,	-- aÃ±o
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista
@lp_fscper    as nvarchar(max)=null -- Datos handsontable

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtyp nvarchar(2)
DECLARE @lv_errmsg nvarchar(400)
DECLARE @lv_errtxt nvarchar(400)
DECLARE @lv_errvar nvarchar(400)
DECLARE @lv_sql as nvarchar(max)

DECLARE @lv_fscpercodext INT = 1
DECLARE @lv_fscpercod INT = 1
DECLARE @lv_row as nvarchar(max)
DECLARE @lv_fscpertxt as nvarchar(50) 
DECLARE @lv_fscperstrdte as nvarchar(14)
DECLARE @lv_fscperenddte as nvarchar(14)
DECLARE @lv_fscperdocsts as nvarchar(02)	
DECLARE @lv_fscerr as INT = 0 
DECLARE @lv_fscperdelete as nvarchar(02)
DECLARE @lv_sysoperation as nvarchar(4)




-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
IF exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'FEX'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
  IF not isnull(@lp_fscexecodext,'')='' 
    BEGIN
      IF exists(select top 1 * from FIN_FSC_EXE where buscod=@lp_buscod and not fscexecod=@lp_fscexecod and fscexecodext=@lp_fscexecodext)
        BEGIN
          SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
          RETURN
        END
    END
  END
  
  

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		INSERT INTO FIN_FSC_EXE	(buscod, fscexecodext, fscexetxt, fscexeyth, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_fscexecodext, @lp_fscexetxt, @lp_fscexeyth, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_fscexecod=@@IDENTITY
		WHILE not @lp_fscper='' and @lv_fscpercodext<500 and @lv_errcod=0
    	begin
              
        set @lv_row = dbo.gettagvalue('row',@lp_fscper)
        set @lv_fscpertxt = dbo.gettagvalue('fscpertxt',@lv_row)   
        set @lv_fscperstrdte = dbo.gettagvalue('fscperstrdte',@lv_row)   -- requerido
        set @lv_fscperenddte = dbo.gettagvalue('fscperenddte',@lv_row)   -- requerido
        set @lv_fscperdocsts =  dbo.gettagvalue('docsts',@lv_row)    -- requerido
    		exec FIN_FSC_PER_DEF '01sp',@lp_username,@lp_buscod,null,@lv_fscpercodext,@lv_fscpertxt,@lv_fscperstrdte,@lv_fscperenddte,@lp_fscexecod,@lv_fscperdocsts,null,@lv_errtyp OUTPUT, @lv_fscerr OUTPUT, @lv_errtxt OUTPUT, @lv_errmsg OUTPUT, @lv_errvar OUTPUT
        if not @lv_fscerr = 0
          begin
            set @lv_errcod=-1
            set @lv_errtxt = 'Se produjo un error al actualizar los periodos fiscales'
            set @lp_fscper = ''
          end
        else
        	begin
        	set @lp_fscper = substring(@lp_fscper,len(@lv_row)+12,len(@lp_fscper)-len(@lv_row)-10)
      		set @lv_fscpercodext = @lv_fscpercodext + 1
          end
      end
    
    IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		SELECT @lp_fscexecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE FIN_FSC_EXE 
		SET	fscexecodext=@lp_fscexecodext,
			fscexetxt=@lp_fscexetxt,
			fscexeyth=@lp_fscexeyth,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and fscexecod = @lp_fscexecod
		SET @lv_errcod=@@ERROR
    
    WHILE not @lp_fscper='' and @lv_fscpercodext<500 and @lv_errcod=0
    	begin   
        set @lv_row = dbo.gettagvalue('row',@lp_fscper)
        if dbo.gettagvalue('fscpercod',@lv_row)=''
        	set @lv_fscpercod = null
        else
        	set @lv_fscpercod = convert(decimal,dbo.gettagvalue('fscpercod',@lv_row))
        set @lv_fscpertxt = dbo.gettagvalue('fscpertxt',@lv_row)   
        set @lv_fscperstrdte = dbo.gettagvalue('fscperstrdte',@lv_row)   -- requerido
        set @lv_fscperenddte = dbo.gettagvalue('fscperenddte',@lv_row)   -- requerido
        set @lv_fscperdocsts =  dbo.gettagvalue('docsts',@lv_row)    -- requerido
        set @lv_fscperdelete =  dbo.gettagvalue('deleted',@lv_row)    
        
        if isnull(@lv_fscpercod,'')=''	
          set @lv_sysoperation = '01sp'
    		else
        	if @lv_fscperdelete = 'X'
          	set @lv_sysoperation = '04sp'
          else
        		set @lv_sysoperation = '02sp'
        exec FIN_FSC_PER_DEF @lv_sysoperation,@lp_username,@lp_buscod,@lv_fscpercod,@lv_fscpercodext,@lv_fscpertxt,@lv_fscperstrdte,@lv_fscperenddte,@lp_fscexecod,@lv_fscperdocsts,null,@lv_errtyp OUTPUT, @lv_fscerr OUTPUT, @lv_errtxt OUTPUT, @lv_errmsg OUTPUT, @lv_errvar OUTPUT
        if not @lv_fscerr = 0
          begin
            set @lv_errcod=-1
            set @lv_errtxt = 'Se produjo un error al actualizar los periodos fiscales'
            set @lp_fscper = ''
          end
        else
        	begin
            set @lp_fscper = substring(@lp_fscper,len(@lv_row)+12,len(@lp_fscper)-len(@lv_row)-10)
            set @lv_fscpercodext = @lv_fscpercodext + 1
          end
      end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_fscexecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT e.*
		FROM FIN_FSC_EXE e
		WHERE e.buscod = @lp_buscod
		  and e.fscexecod = @lp_fscexecod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		-- borro los desplazamientos del feriado
		DELETE
		FROM FIN_FSC_PER
		WHERE buscod=@lp_buscod
		  and fscexecod=@lp_fscexecod
		SET @lv_errcod=@@ERROR

		DELETE 
		FROM FIN_FSC_EXE
		WHERE buscod = @lp_buscod
		  and fscexecod = @lp_fscexecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_fscexecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg, ' e.* ',	
			'	FIN_FSC_EXE e ',
			' buscod='+QUOTENAME(@lp_buscod, ''''),
			' ctedte desc ', default )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
