USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_POS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_POS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_slsposcod	 	as int			= null,	-- id 
@lp_slsposcodext	as nvarchar(20)	= null,	-- codigo externo 
@lp_slspostxt		as nvarchar(50)	= null,	-- descripciÃ³n 
@lp_docsts			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null,	-- vista 

@lp_slsposatr		as nvarchar(max)=null	-- atributos 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'POS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-1	Codigo existente.
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
		-- valido codigo externo duplicado
		if not isnull(@lp_slsposcodext,'')=''
			begin
				IF exists(select top 1 * from SLS_POS where buscod=@lp_buscod and not slsposcod=@lp_slsposcod and slsposcodext=@lp_slsposcodext)
					BEGIN
						SELECT 'E' as errtyp, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end
 
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SLS_POS (buscod, slsposcodext, slspostxt, docsts, ctedte, cteusr, slsposatr)
		VALUES (@lp_buscod, @lp_slsposcodext, @lp_slspostxt, @lp_docsts, getdate(), @lp_username, @lp_slsposatr)
		SET @lv_errcod=@@ERROR
		SET @lp_slsposcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsposcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE SLS_POS 
		SET	slsposcodext = @lp_slsposcodext,
			slspostxt = @lp_slspostxt,
			slsposatr = @lp_slsposatr, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and slsposcod = @lp_slsposcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsposcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM SLS_POS c
		WHERE c.buscod=@lp_buscod
		  and c.slsposcod=@lp_slsposcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		DELETE
		FROM SLS_POS
		WHERE buscod = @lp_buscod
		  and slsposcod = @lp_slsposcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsposcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' sp.* '
			+ ' FROM SLS_POS sp '
			+ ' WHERE sp.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   2 3    -    L I S T A R    x    D E S C R I P C I O N					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SLS_POS
		WHERE buscod = @lp_buscod
		  and docsts = 'A'
		  and slspostxt like '%' + @lp_slspostxt + '%'
		ORDER BY slspostxt

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
