USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MED_MED_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_MED_MED_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_labid			as int			= null,	/* id laboratorio */
@lp_medid 			as int			= null,	/* id medicamento */
@lp_labtxt			as nvarchar(250)= null,	/* nombre laboratorio */
@lp_medregnum		as nvarchar(10)	= null,	/* nro registro */
@lp_medregtql		as nvarchar(10) = null, /* nro troquel */
@lp_medactpcp		as nvarchar(100)= null, /* principio activo */
@lp_medcomnme		as nvarchar(100)= null,	/* nombre comenrcial */
@lp_medprs			as nvarchar(100)= null,	/* presentacion */
@lp_medtyp			as nvarchar(1)	= null,	/* tipo: Ambulatorio/Cronicidad */
@lp_meddto			as bigint		= null,	/* descuento */
@lp_medacc			as nvarchar(100)= null,	/* accion terapeutica */
@lp_medcmt			as nvarchar(250)= null,	/* comentarios */
@lp_docsts			as nvarchar(02) = null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_labid as int
declare @lv_medid as int
declare @lv_meddto as decimal(13,3)
set @lv_meddto = dbo.ConvertNumber( @lp_meddto , 3 )




/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		set @lv_labid = (case when @lp_labid is null then (select top 1 labid from hlt_med_lab where labtxt=rtrim(ltrim(@lp_labtxt))) else @lp_labid end)

		BEGIN TRAN

		/* si no se encontró el laboratorio, se da de alta uno nuevo */
		IF @lv_labid is null
			BEGIN
				insert into hlt_med_lab (buscod, labtxt, docsts, ctedte, cteusr)
				values (@lp_buscod, @lp_labtxt, 'A', getdate(), @lp_username)
				SET @lv_errcod=@@ERROR
				SET @lv_labid=@@IDENTITY				
			END

		IF @lv_errcod=0 and @lv_labid is not null
			BEGIN
				INSERT INTO HLT_MED_MED (buscod, labid, medregnum, medregtql, medactpcp, medcomnme, medprs, medacc, medtyp, meddto, medcmt, docsts, cteusr, ctedte)
				VALUES (@lp_buscod, @lv_labid, @lp_medregnum, @lp_medregtql, @lp_medactpcp, @lp_medcomnme, @lp_medprs, @lp_medacc, @lp_medtyp, @lv_meddto, @lp_medcmt, @lp_docsts, @lp_username, getdate() )
				SET @lv_errcod=@@ERROR
				SET @lp_medid=@@IDENTITY
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		  
		SELECT @lp_medid, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R											*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE hlt_med_med
		SET	medregnum=@lp_medregnum,
			medregtql=@lp_medregtql,
			medactpcp=@lp_medactpcp,
			medcomnme=@lp_medcomnme,
			medprs=@lp_medprs,
			medacc=@lp_medacc,
			medcmt=@lp_medcmt,
			medtyp=@lp_medtyp,
			meddto=@lv_meddto,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		FROM hlt_med_med
		WHERE buscod=@lp_buscod
		  and labid=@lp_labid
		  and medid=@lp_medid
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		  
		SELECT @lp_medid, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
			
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*, l.labtxt
		FROM hlt_med_lab l
		inner join hlt_med_med m on m.buscod=l.buscod and m.labid=l.labid
		WHERE l.buscod=@lp_buscod
		  and l.labid =@lp_labid
		  and m.medid =@lp_medid		

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		DELETE
		FROM hlt_med_med
		WHERE buscod=@lp_buscod
		  and labid =@lp_labid
		  and medid =@lp_medid	
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		  
		SELECT @lp_medid, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' m.*, l.labtxt '
			+ ' FROM HLT_MED_MED m '
			+ ' inner join HLT_MED_LAB l on l.buscod=m.buscod and l.labid=m.labid '
			+ ' WHERE m.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and m.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 1    -    I M P O R T A R														*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_labid = (case when @lp_labid is null then (select top 1 labid from hlt_med_lab where labtxt=rtrim(ltrim(@lp_labtxt))) else @lp_labid end)

		BEGIN TRAN
		
		/* si no se encontró el laboratorio, se da de alta uno nuevo */
		IF @lv_labid is null
			BEGIN
				insert into hlt_med_lab (buscod, labtxt, docsts, ctedte, cteusr)
				values (@lp_buscod, @lp_labtxt, 'A', getdate(), @lp_username)
				SET @lv_errcod = @@ERROR
				set @lv_labid = @@IDENTITY				
			END

		IF (@lv_errcod=0) and (@lv_labid is not null)
			BEGIN
			
				/* busco si el medicamento existe */
				set @lv_medid = (select top 1 medid from hlt_med_med where buscod=@lp_buscod and labid=@lv_labid and medregnum=@lp_medregnum)
				IF (not @lv_medid is null)
					BEGIN
					
						/* actualizo los datos del medicamento */
						UPDATE hlt_med_med
						SET	medregtql=@lp_medregtql,
							medactpcp=@lp_medactpcp,
							medcomnme=@lp_medcomnme,
							medprs=@lp_medprs,
							medacc=@lp_medacc,
							medcmt=@lp_medcmt,
							meddto=@lv_meddto,
							upddte=getdate(),
							updusr=@lp_username
						FROM hlt_med_med
						WHERE buscod=@lp_buscod
						  and labid =@lv_labid
						  and medid =@lv_medid
						SET @lv_errcod=@@ERROR
						
					END
				ELSE
					BEGIN
						/* creo un nuevo medicamento */
						INSERT INTO HLT_MED_MED (buscod, labid, medregnum, medregtql, medactpcp, medcomnme, medprs, medacc, medtyp, meddto, medcmt, docsts, cteusr, ctedte)
						VALUES (@lp_buscod, @lv_labid, @lp_medregnum, @lp_medregtql, @lp_medactpcp, @lp_medcomnme, @lp_medprs, @lp_medacc, @lp_medtyp, @lv_meddto, @lp_medcmt, @lp_docsts, @lp_username, getdate() )
						SET @lv_errcod=@@ERROR
						SET @lv_medid=@@IDENTITY							
					END					
			END
			
			IF @lv_errcod=0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN
			
			SELECT @lv_medid, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END
	
	
	
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 4    -    B O R R A R    M E D I C A M E N T O S    s e g ú n    T I P O					*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE 
		FROM HLT_MED_MED
		WHERE buscod=@lp_buscod
		  and medtyp=@lp_medtyp
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_medtyp, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
















GO
