USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_DUE_DBT_RPT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TSR_DUE_DBT_RPT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20),
@lp_yth				as int			/* año */

AS

SET NOCOUNT ON
DECLARE @lv_validop INT
SET @lv_validop = 0



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 0    -    REPORTE 1 - Deuda vencida anual												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1

		select p.ptnnum, p.ptntxt,
		SUM(case when datepart(year, d.tsrdbtexpdte)<@lp_yth then d.tsrdefcshrst else 0 end) as ant,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=1 then d.tsrdefcshrst else 0 end) as ene,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=2 then d.tsrdefcshrst else 0 end) as feb,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=3 then d.tsrdefcshrst else 0 end) as mar,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=4 then d.tsrdefcshrst else 0 end) as abr,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=5 then d.tsrdefcshrst else 0 end) as may,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=6 then d.tsrdefcshrst else 0 end) as jun,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=7 then d.tsrdefcshrst else 0 end) as jul,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=8 then d.tsrdefcshrst else 0 end) as ago,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=9 then d.tsrdefcshrst else 0 end) as sep,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=10 then d.tsrdefcshrst else 0 end) as oct,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=11 then d.tsrdefcshrst else 0 end) as nov,
		SUM(case when datepart(year, d.tsrdbtexpdte)=@lp_yth and datepart(month, d.tsrdbtexpdte)=12 then d.tsrdefcshrst else 0 end) as dic,
		SUM(case when datepart(year, d.tsrdbtexpdte)<=@lp_yth then d.tsrdefcshrst else 0 end) as tot
		from Spt_ptn p
		left join tsr_dbt_ptn d on d.buscod=p.buscod and d.ptnnum=p.ptnnum
		where p.buscod=@lp_buscod
		  and p.docsts='A'
		  and p.deldte is null
		group by
		p.ptnnum, p.ptntxt

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
