USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRF_LST_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_TRF_LST_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_spttrflstcod	as int			= null,	/* id precio */
@lp_spttrfcod		as int			= null,	/* id arancel */
@lp_spttrfvercod	as int			= null,	/* id version */
@lp_spttrfminval	as bigint		= null,	/* valor mÃ­nimo */
@lp_spttrfmaxval	as bigint		= null,	/* valor mÃ¡ximo */
@lp_spttrfprc		as bigint		= null,	/* precio */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

DECLARE @lv_errtxt as nvarchar(400)

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max) 
declare @lv_ord as nvarchar(max)

declare @lv_spttrfminval	as decimal(9,3) = dbo.ConvertNumber( @lp_spttrfminval , 3 )

declare @lv_spttrfmaxval	as decimal(9,3) = dbo.ConvertNumber( @lp_spttrfmaxval , 3 )

declare @lv_spttrfprc		as decimal(11,5) = dbo.ConvertNumber( @lp_spttrfprc , 3)

/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
			
		INSERT INTO SPT_TRF_LST	(buscod, spttrfcod, spttrfvercod, spttrfminval, spttrfmaxval, spttrfprc, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_spttrfcod, @lp_spttrfvercod, @lv_spttrfminval, @lv_spttrfmaxval, @lv_spttrfprc, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_spttrflstcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_spttrflstcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END

/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE SPT_TRF_LST
		SET	spttrfminval = @lv_spttrfminval,
			spttrfmaxval = @lv_spttrfmaxval,
			spttrfprc = @lv_spttrfprc,
			docsts	  = @lp_docsts, 			
			updusr	  = @lp_username,
			upddte	  = getdate()
		WHERE buscod = @lp_buscod
		  and spttrflstcod = @lp_spttrflstcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_spttrflstcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_TRF_LST
		WHERE buscod = @lp_buscod
		  and spttrfcod = @lp_spttrfcod
		  and spttrfvercod = @lp_spttrfvercod
		  
	END
	
	
/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		DELETE 
		FROM SPT_TRF_LST
		WHERE buscod = @lp_buscod
		  and spttrflstcod = @lp_spttrflstcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_spttrflstcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* spt_trf_lst_def '08','temasis','temasis_spt' */

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' tl.*, t.spttrftxt '
			+ '	FROM spt_trf_lst tl '
			+ ' inner join spt_trf_ver tv on tv.buscod=tl.buscod and tv.spttrfvercod=tl.spttrfvercod '
			+ ' inner join SPT_TRF t on t.buscod=tv.buscod and t.spttrfcod=tv.spttrfcod '
			+ ' WHERE tv.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'tl.spttrfminval, tl.spttrfmaxval' else dbo.GetTagValue('veword',@lp_vewcfg) end))
		execute( @lv_sql + @lv_flt + @lv_ord )
	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
