USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_CAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_PRS_CAT_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operaciÃ³n */
@lp_username 		as nvarchar(20),			/* operaciÃ³n - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_prscod			as int			= null,		/* prestador */
@lp_hltprscatcod	as nvarchar(20) = null,		/* id de valor */
@lp_hltcatcod		as int			= null,		/* id grupo */
@lp_hltcatvalcod	as int			= null,		/* id categoria */
@lp_hltcatval		as bigint		= null,		/* valor	*/
@lp_hltcatstrdte	as nvarchar(14)	= null,		/* fecha desde */
@lp_hltcatenddte	as nvarchar(14) = null,		/* fecha hasta */

@lp_vewcfg			as nvarchar(4000)=null,		/* configuraciÃ³n vista */

@lp_vewhst			as int			= null		/* ver historico (1-si/0-no) */

AS

SET NOCOUNT ON

declare @lv_validop INT = 0

declare @lv_errcod INT = 0

declare @lv_hltcatstrdte as datetime = dbo.ConvertDate( @lp_hltcatstrdte )
declare @lv_hltcatenddte  as datetime = dbo.ConvertDate( @lp_hltcatenddte )
declare @lv_hltcatval as int = dbo.ConvertNumber( @lp_hltcatval , 3 )
declare @lv_hltcatpts as int = 0

declare @lv_sql as nvarchar(4000)		



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	No se permite agregar ANTIGUEDAD. Se calcula automÃ¡ticamente.		*/
/*	-2	No se puede duplicar la categorizaciÃ³n en el mismo perÃ­odo			*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   V A L I D A C I O N E S												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* verifico que no se estÃ© intentando agregar ANTIGUEDAD */
		IF (select top 1 hltcattxt from hlt_cat where buscod=@lp_buscod and hltcatcod=@lp_hltcatcod)='ANTIGUEDAD EMPRESA'
			BEGIN
				SELECT null, -1 as errcod, 'No se permite agregar ANTIGUEDAD. Se calcula automÃ¡ticamente.' as errtxt
				RETURN
			END

		IF (select count(*) from hlt_prs_cat where buscod=@lp_buscod 
												and prscod=@lp_prscod 
												and hltcatcod=@lp_hltcatcod 
												and hltcatvalcod=@lp_hltcatvalcod
												and not hltprscatcod=@lp_hltprscatcod
												and ( @lv_hltcatstrdte between hltcatstrdte and hltcatenddte 
													or @lv_hltcatenddte between hltcatstrdte and hltcatenddte ) )>0
			BEGIN
				SELECT null, -2 as errcod, 'No se puede duplicar la categorizaciÃ³n.' as errtxt
				RETURN
			END

		/* determino puntaje */
		set @lv_hltcatpts = ( select top 1 (case when cv.hltcatfrm=0 and cv.hltcatto=0 then isnull(cv.hltcatpts,0) else @lv_hltcatval*isnull(cv.hltcatpts,0) end) from hlt_cat_val cv where cv.buscod=@lp_buscod and cv.hltcatcod=@lp_hltcatcod and cv.hltcatvalcod=@lp_hltcatvalcod )
		
	END
	


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* agrego un nuevo registro */
		INSERT INTO hlt_prs_cat (buscod, prscod, hltcatcod, hltcatvalcod, hltcatval, hltcatstrdte, hltcatenddte, hltcatpts, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_prscod, @lp_hltcatcod, @lp_hltcatvalcod, @lv_hltcatval, @lv_hltcatstrdte, @lv_hltcatenddte, @lv_hltcatpts, 'A', getdate(), @lp_username)
		SET @lv_errcod = @@ERROR
		SET @lp_hltprscatcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltprscatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* actualizo el registro */
		UPDATE hlt_prs_cat
		SET hltcatcod	= @lp_hltcatcod,
			hltcatvalcod	= @lp_hltcatvalcod,
			hltcatstrdte	= @lv_hltcatstrdte,
			hltcatenddte	= @lv_hltcatenddte,
			hltcatval	= @lv_hltcatval,
			hltcatpts	= @lv_hltcatpts,
			upddte   = getdate(),
			updusr   = @lp_username
		WHERE buscod = @lp_buscod
		  and prscod = @lp_prscod
		  and hltprscatcod = @lp_hltprscatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltprscatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT
			a.prscod, a.hltprscatcod,
			c.hltcatcod, c.hltcattxt, c.HltCatTyp,
			v.hltcatvalcod, v.hltcatval, v.hltcatfrm, v.hltcatto, v.hltcatptr, v.hltcatpts,
			convert(varchar,a.hltcatstrdte,103) as hltcatstrdtecnv,
			convert(varchar,a.hltcatenddte,103) as hltcatenddtecnv,
			a.hltcatval as hltcatasgval,
			a.hltcatpts as hltcatasgpts
		FROM hlt_prs_cat a
		inner join hlt_cat c on c.buscod=a.buscod and c.hltcatcod=a.hltcatcod
		inner join hlt_cat_val v on v.buscod=a.buscod and v.hltcatcod=a.hltcatcod and v.hltcatvalcod=a.hltcatvalcod
		WHERE a.buscod=@lp_buscod
		  and a.prscod=@lp_prscod
		ORDER BY c.hltcattxt, v.hltcatval, a.hltcatenddte DESC, a.hltcatstrdte DESC

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM hlt_prs_cat
		WHERE buscod   = @lp_buscod 
		  and prscod   = @lp_prscod 
		  and hltprscatcod = @lp_hltprscatcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltprscatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END


-- --------------------------------------------------------------------------------------------------
--   0 8    -    L I S T A R													
-- --------------------------------------------------------------------------------------------------
IF @lp_sysoperation = '08'	or @lp_sysoperation = '18'
  BEGIN
		SET @lv_validop = 1   

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, ' p.* , c.hltcattxt, cv.hltcatval, pc.hltcatenddte, a.adrtwn, a.adrcty, r.lndregtxt', 
				' HLT_PRS_CAT pc '
        + ' inner join HLT_CAT c on c.buscod=pc.buscod and c.hltcatcod=pc.hltcatcod '
        + ' inner join  HLT_CAT_VAL cv on cv.buscod = c.buscod and cv.hltcatcod = c.hltcatcod and cv.hltcatvalcod = pc.hltcatvalcod'
        + ' inner join  HLT_PRS p on p.buscod = pc.buscod and p.prscod=pc.prscod'
				+ ' left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HLT_PRS','''')+' and a.adrsrccod=p.prscod'
				+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
				+ ' left join GRL_DAT_LND_REG r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod ',
        ' pc.buscod = ' +QUOTENAME(@lp_buscod, ''''),
				default, default)

	execute( @lv_sql )

	END
                                   
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    R E P O R T E    de    C A T E G O R I Z A C I O N    A G R U P A D O						*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
-- IF @lp_sysoperation = '18'
	-- la columna catprccod pasÃ³ a ser slsprclstcod
	/*
	BEGIN
		SET @lv_validop = 1    

		SELECT e.prscod, e.prstxt,
			isnull( (	SELECT TOP 1 v.hltcatpts 
				FROM hlt_prs_cat v
				WHERE v.buscod = e.buscod 
				and (select top 1 hltcattxt from hlt_cat where buscod=v.buscod and hltcatcod=v.hltcatcod)='ANTIGUEDAD EMPRESA'	/* 'ANTIGUEDAD' */
				and ( datediff(year, e.prsinbdte, @lv_hltcatstrdte) + 
					(case when datepart(month, @lv_hltcatstrdte)<datepart(month, e.prsinbdte) or 
						( datepart(month, @lv_hltcatstrdte) >= datepart(month, e.prsinbdte) and 
						datepart(day, @lv_hltcatstrdte)   <  datepart(day, e.prsinbdte) ) 
					then -1 else 0 end)  
					) between v.hltcatstrdte and v.hltcatenddte ) , 0 ) as antiguedad,
			sum( a.hltcatpts ) as categorizacion
		FROM hlt_prs e
		inner join hlt_prs_cat a on a.buscod=e.buscod and a.prscod=e.prscod
		WHERE a.buscod=@lp_buscod
		  and e.docsts = 'A'
		  and @lv_hltcatstrdte between a.hltcatstrdte and a.hltcatenddte
		GROUP BY e.buscod, e.prscod, e.prstxt, e.PrsInbDte
		  
	END
	*/

	
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 9    -    R E P O R T E    de    C A T E G O R I Z A C I O N    A G R U P A D O    y    V A L O R I Z A D O						*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
-- IF @lp_sysoperation = '19'
	-- la columna catprccod pasÃ³ a ser slsprclstcod
		/* 
	BEGIN
		SET @lv_validop = 1
		SELECT e.buscod, e.prscod, e.prstxt,
			isnull( (	SELECT TOP 1 v.hltcatpts 
				FROM hlt_prs_cat v
				WHERE v.buscod = e.buscod 
				and (select top 1 hltcattxt from hlt_cat where buscod=v.buscod and hltcatcod=v.hltcatcod)='ANTIGUEDAD EMPRESA'	/* 'ANTIGUEDAD' */
				and ( datediff(year, e.prsinbdte, @lv_hltcatstrdte) + 
					(case when datepart(month, @lv_hltcatstrdte)<datepart(month, e.prsinbdte) or 
						( datepart(month, @lv_hltcatstrdte) >= datepart(month, e.prsinbdte) and 
						datepart(day, @lv_hltcatstrdte)   <  datepart(day, e.prsinbdte) ) 
					then -1 else 0 end)  
					) between v.hltcatstrdte and v.hltcatenddte ) , 0 ) as antiguedad,
			sum( a.hltcatpts ) as categorizacion,
			cast(0 as decimal(13,2)) as val_hs,
			cast(0 as decimal(13,2)) as hs_mes,
			cast(0 as decimal(13,2)) as val_mes
		INTO #tmp_prs_cat_agr
		FROM hlt_prs e
		inner join hlt_prs_cat a on a.buscod=e.buscod and a.prscod=e.prscod
		WHERE a.buscod=@lp_buscod
		  and e.docsts = 'A'
		  and @lv_hltcatstrdte between a.hltcatstrdte and a.hltcatenddte
		GROUP BY e.buscod, e.prscod, e.prstxt, e.prsInbDte
		
		
		UPDATE #tmp_prs_cat_agr
		SET val_hs = ( select top 1 l.catprcprc 
							from hlt_prs e
							inner join hlt_cat_prc p on p.buscod=e.buscod and p.catprccod=e.catprccod
							inner join hlt_cat_prc_ver v on v.buscod=p.buscod and v.catprccod=p.catprccod
							inner join hlt_cat_prc_lst l on l.buscod=v.buscod and l.catprccod=v.catprccod and l.catprcver=v.catprcver
							where e.buscod = a.buscod
							  and e.catprccod is not null
							  and not e.catprccod = ''
							  and e.prscod = a.prscod
							  and p.docsts = 'A'
							  and @lv_hltcatstrdte between v.catprcfrmdte and v.catprctodte
							  and (a.antiguedad+a.categorizacion) between l.catprcpntfrm and l.catprcpntto )
		from #tmp_prs_cat_agr a
		
		select * from #tmp_prs_cat_agr
		
	END
	*/



/* -------------------------------------------------------------------------------------------------*/
/*   2 8    -    R E P O R T E    -    C A T E G O R I Z A C I O N    de   P R E S T A D O R E S	*/
/* ------------------------------------------------------------------------------------------------	*/
IF @lp_sysoperation='28'
	-- la columna catprccod pasÃ³ a ser slsprclstcod
	
	BEGIN
		SET @lv_validop=1
    
    set @lv_hltcatenddte = CONVERT(datetime, substring(dbo.GetTagValue('vewflt',@lp_vewcfg ), CHARINDEX('hltcatenddte=', dbo.GetTagValue('vewflt',@lp_vewcfg ))+ len('hltcatenddte=') +1, 10), 126)
    
		declare @lv_flt as nvarchar(max) = dbo.GetTagValue('vewflt',@lp_vewcfg )
		set @lv_flt = replace(@lv_flt, substring(@lv_flt, CHARINDEX('AND (hltcatenddte=', @lv_flt), LEN('AND (hltcatenddte=')+13), '')
    
		/* armo tabla de prestadores, categorizados y con precio */
		SELECT p.buscod, p.prscod, p.prstxt, p.prccndcod, p.prsinbdte, p.docsts, 
		(case when p.prsinbdte is null then 0 else datediff(year,p.prsinbdte,@lv_hltcatenddte)+(case when datepart(month,@lv_hltcatenddte)<datepart(month,p.prsinbdte) or ( datepart(month,@lv_hltcatenddte)=datepart(month,p.prsinbdte) and datepart(day,@lv_hltcatenddte)<datepart(day,p.prsinbdte) ) then -1 else 0 end) end) as prsjobold,
		cast(null as int) as prsjobpts, cast(null as int) as prscatpts
		INTO #tmp_28
		FROM hlt_prs p
		WHERE p.buscod=@lp_buscod
		  and p.prsinbdte <= @lv_hltcatenddte
		
		/* actualizo puntaje por antiguedad */
		UPDATE #tmp_28
		SET prsjobpts = isnull((select top 1 v.hltcatpts from hlt_cat c inner join hlt_cat_val v on v.buscod=c.buscod and v.hltcatcod=c.hltcatcod where c.buscod=x.buscod and c.hltcattxt='ANTIGUEDAD EMPRESA' and x.prsjobold between v.hltcatfrm and v.hltcatto), 0),
			prscatpts = isnull((select sum(a.hltcatpts) from hlt_prs_cat a where a.buscod=x.buscod and a.prscod=x.prscod and @lv_hltcatenddte between a.hltcatstrdte and a.hltcatenddte), 0)
		FROM #tmp_28 x

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' pr.*, '
			+ ' pr.prscatpts+pr.prsjobpts as prspts, '
			+ ' isnull((SELECT top 1 PrcCndTot 
								FROM grl_dat_prc_sca ps
								WHERE ps.buscod = pr.buscod
								and ps.prccndrowcod = (SELECT top 1 dp.PrcCndRowCod 
														FROM GRL_DAT_PRC dp 
														WHERE dp.buscod = pr.buscod
														and dp.PrcCndCod = pr.PrcCndCod 
														and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte) 
								and ps.PrcCndQty <=  ( isnull(pr.prscatpts,0)+isnull(pr.prsjobpts,0) ) 
								order by ps.PrcCndQty desc), isnull((SELECT top 1 dp.PrcCndVal 
																	FROM GRL_DAT_PRC dp 
																	WHERE dp.buscod = pr.buscod
																	and dp.PrcCndCod = pr.PrcCndCod 
																	and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte
																	and dp.PrcCndQty <=  ( isnull(pr.prscatpts,0)+isnull(pr.prsjobpts,0) ) ), 0)) as hltlqdcatprc'
			+ ' FROM #tmp_28 pr '
			+ ' WHERE 1=1 '
 			+ @lv_flt
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
      
		execute (@lv_sql)

	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
