USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PLN_CTR_DTE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PLN_CTR_DTE_DEF]

@lp_sysoperation 		as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod 					as nvarchar(20),
@lp_hltplnctrcod		as int			= null,
@lp_hltplnctrdtecod	as int			= null,
@lp_plnid 					as int			= null,	-- ID planificacion
@lp_plndteid				as int			= null,	-- ID planificacion fecha

@lp_plnyth					as int			= null, -- aÃ±o
@lp_plnmth					as int			= null, -- mes
@lp_patcod					as int			= null,	-- id paciente
@lp_spccod					as int			= null, -- id especialidad
@lp_prscod					as int			= null,	-- id prestador

@lp_hltplnctrdte		as nvarchar(14)	= null,	-- fecha control
@lp_hltplnctrinbdte	as nvarchar(14) = null,	-- hora entrada
@lp_hltplnctroutdte	as nvarchar(14) = null,	-- hora salida
@lp_hltplnctrqty		as int					= null,	-- Cantidad
@lp_hltplnctrinbgeo	as nvarchar(50)	= null,	-- geolocalizacion (lat, long) de entrada
@lp_hltplnctroutgeo	as nvarchar(50)	= null,	-- geolocalizacion (lat, long) de Salida
@lp_hltplnctrcmt		as nvarchar(250)= null,	-- comentarios

@lp_docsts 				as nvarchar(02)		= null,	-- estado
@lp_vewcfg				as nvarchar(max)	= null	-- configuracion de vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod  INT = 0
declare @lv_sql as nvarchar(max)

-- convierto fecha de planificacion desde-hasta
declare @lv_hltplnctrdte as datetime = dbo.ConvertDate( @lp_hltplnctrdte )
declare @lv_hltplnctrinbdte as datetime = dbo.ConvertDate( @lp_hltplnctrinbdte )
declare @lv_hltplnctroutdte as datetime = dbo.ConvertDate( @lp_hltplnctroutdte )
declare @lv_hltplnctrqty as int = cast( dbo.ConvertNumber( @lp_hltplnctrqty , 3 ) as int )
declare @lv_hltplnctrdtetme as decimal(5,2)
declare @lv_spcctrtyp as int
DECLARE @lv_dteprm as nvarchar(20)
DECLARE @lv_evldte as datetime
declare @lv_prscod as int



-- ------------------------------------------------------------------------
-- E R R O R E S
-- ------------------------------------------------------------------------
-- -1 Planificacion ya controlada
-- -4 No se puede borrar. Control contabilizado/liquidado
-- -5 No se puede anular. Control contabilizado/liquidado
-- -6 No se puede modificar la fecha ni el prestador de la evoluciÃ³n
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
BEGIN
    -- valida que la fecha no haya sido controlada
    IF EXISTS (SELECT TOP 1 * FROM hlt_pln_ctr_dte WHERE buscod = @lp_buscod AND PlnId = @lp_plnid AND PlnDteId = @lp_plndteid)
    BEGIN
        SELECT 'E' AS errtyp, -1 AS errcod, 'CONTROLLEDPLANNING' AS errmsg, 'PlanificaciÃ³n ya controlada.' AS errtxt
        RETURN
    END
END


-- No se puede borrar una fecha que ya haya sido contabilizada
IF @lp_sysoperation IN ('04', '02')
BEGIN
    IF (SELECT TOP 1 docsts FROM hlt_pln_ctr_dte WHERE buscod = @lp_buscod AND hltplnctrcod = @lp_hltplnctrcod AND hltplnctrdtecod = @lp_hltplnctrdtecod) = 'C'
    BEGIN
        SELECT 'E' AS errtyp, -4 AS errcod, CASE WHEN @lp_sysoperation = '04' THEN 'CANNOTDELETEACCOUNTINGDOCUMENT' ELSE 'CANNOTUPDATEACCOUNTINGDOCUMENT' END AS errmsg
        RETURN
    END
END


-- No se puede cancelar una fecha que ya haya sido contabilizada
IF @lp_sysoperation = '05'
BEGIN
    IF (SELECT TOP 1 docsts FROM hlt_pln_ctr_dte WHERE buscod = @lp_buscod AND hltplnctrcod = @lp_hltplnctrcod AND hltplnctrdtecod = @lp_hltplnctrdtecod) = 'C'
    BEGIN
        SELECT 'E' AS errtyp, -5 AS errcod, 'CANNOTCANCELACCOUNTINGDOCUMENT' AS errmsg
        RETURN
    END
END


-- En modificaciÃ³n ajusta fecha y prestador si el control es por evoluciÃ³n
IF @lp_sysoperation = '02'
BEGIN
    SET @lv_dteprm = (SELECT TOP 1 dbo.GetTagValue('STS_CTR_PLN_DTE', MdlAtrVal001) FROM SYS_APP_MDL_PRM WHERE buscod = @lp_buscod AND MdlCod = 'HLT')

    -- Dado que es control por evoluciones, la fecha y el prestador se toman SIEMPRE de la evoluciÃ³n
    IF @lv_dteprm = 'EVLDTE'
    BEGIN
        SELECT @lv_evldte = evldte, @lv_prscod = prscod FROM HLT_PAT_EVL WHERE buscod = @lp_buscod AND plnid = @lp_plnid AND plndteid = @lp_plndteid AND deldte IS NULL
        IF @lv_evldte IS NOT NULL SET @lv_hltplnctrdte = @lv_evldte
        IF @lv_prscod IS NOT NULL SET @lp_prscod = @lv_prscod
    END
    
END



-- ----------------------------------------------------------------------------
-- 0 1 - C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '01'
BEGIN
    SET @lv_validop = 1
    
    SET @lv_spcctrtyp = (SELECT TOP 1 s.spcctrtyp FROM hlt_pln_ctr c INNER JOIN HLT_SPC s ON s.buscod = c.buscod AND s.spccod = c.spccod WHERE c.BusCod = @lp_buscod AND c.hltplnctrcod = @lp_hltplnctrcod)

    -- Calcular el tiempo de entrada/salida
    SET @lv_hltplnctrdtetme = 
        (CASE 
            WHEN DATEPART(hour, @lv_hltplnctrinbdte) > DATEPART(hour, @lv_hltplnctroutdte) 
                THEN 24 - DATEPART(hour, @lv_hltplnctrinbdte) + DATEPART(hour, @lv_hltplnctroutdte)
            WHEN DATEPART(hour, @lv_hltplnctrinbdte) = DATEPART(hour, @lv_hltplnctroutdte) 
                AND DATEPART(minute, @lv_hltplnctrinbdte) >= DATEPART(minute, @lv_hltplnctroutdte) 
                THEN 24
            ELSE 
                DATEPART(hour, @lv_hltplnctroutdte) - DATEPART(hour, @lv_hltplnctrinbdte)
        END)
        + ((DATEPART(minute, @lv_hltplnctroutdte) - DATEPART(minute, @lv_hltplnctrinbdte)) / CAST(60 AS DECIMAL(5, 2)))

    BEGIN TRAN

    -- Insertar los datos en HLT_PLN_CTR_DTE
    INSERT INTO HLT_PLN_CTR_DTE (
        buscod, hltplnctrcod, plnid, plndteid, 
        hltplnctrdte, hltplnctrinbdte, hltplnctroutdte, 
        hltplnctrqty, hltplnctrtme, hltplnctrcmt, 
        prscod, hltplnctrinbgeo, hltplnctroutgeo,
        docsts, ctedte, cteusr
    )
    SELECT 
        @lp_buscod, @lp_hltplnctrcod, @lp_plnid, @lp_plndteid, 
        @lv_hltplnctrdte, @lv_hltplnctrinbdte, @lv_hltplnctroutdte, 
        CASE WHEN @lv_spcctrtyp = '2' THEN @lv_hltplnctrqty ELSE NULL END, 
        CASE WHEN @lv_spcctrtyp = '1' THEN @lv_hltplnctrdtetme ELSE NULL END, 
        @lp_hltplnctrcmt, @lp_prscod, @lp_hltplnctrinbgeo, 
        @lp_hltplnctroutgeo, @lp_docsts, GETDATE(), @lp_username

    -- Manejo de errores
    SET @lv_errcod = @@ERROR
    SET @lp_hltplnctrdtecod = @@IDENTITY

    IF @lv_errcod = 0
        COMMIT TRAN
    ELSE
        ROLLBACK TRAN

    -- Devolver el cÃ³digo y error
    SELECT @lp_hltplnctrdtecod, @lv_errcod AS errcod, dbo.GetErrorDescription(@lv_errcod) AS errtxt
END



-- ----------------------------------------------------------------------------
-- 0 2 - M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '02'
BEGIN
    SET @lv_validop = 1

    -- Calcular el tiempo de entrada/salida
    SET @lv_hltplnctrdtetme = 
        (CASE 
            WHEN DATEPART(hour, @lv_hltplnctrinbdte) > DATEPART(hour, @lv_hltplnctroutdte) 
                THEN 24 - DATEPART(hour, @lv_hltplnctrinbdte) + DATEPART(hour, @lv_hltplnctroutdte)
            WHEN DATEPART(hour, @lv_hltplnctrinbdte) = DATEPART(hour, @lv_hltplnctroutdte) 
                AND DATEPART(minute, @lv_hltplnctrinbdte) >= DATEPART(minute, @lv_hltplnctroutdte) 
                THEN 24
            ELSE 
                DATEPART(hour, @lv_hltplnctroutdte) - DATEPART(hour, @lv_hltplnctrinbdte)
        END)
        + ((DATEPART(minute, @lv_hltplnctroutdte) - DATEPART(minute, @lv_hltplnctrinbdte)) / CAST(60 AS DECIMAL(5, 2)))

    BEGIN TRAN

    -- Actualizar los datos en HLT_PLN_CTR_DTE
    UPDATE HLT_PLN_CTR_DTE
    SET 
        hltplnctrdte = @lv_hltplnctrdte,
        hltplnctrinbdte = @lv_hltplnctrinbdte,
        hltplnctroutdte = @lv_hltplnctroutdte,
        hltplnctrqty = @lv_hltplnctrqty,
        hltplnctrtme = @lv_hltplnctrdtetme,
        hltplnctrcmt = @lp_hltplnctrcmt,
        prscod = @lp_prscod,
        docsts = @lp_docsts,
        upddte = GETDATE(),
        updusr = @lp_username,
        DelDte = NULL,
        delusr = NULL
    WHERE 
        buscod = @lp_buscod
        AND hltplnctrcod = @lp_hltplnctrcod
        AND hltplnctrdtecod = @lp_hltplnctrdtecod

    -- Manejo de errores
    SET @lv_errcod = @@ERROR

    IF @lv_errcod = 0
        COMMIT TRAN
    ELSE
        ROLLBACK TRAN

    -- Devolver el cÃ³digo y el error
    SELECT @lp_hltplnctrdtecod, @lv_errcod AS errcod, dbo.GetErrorDescription(@lv_errcod) AS errtxt
END



-- ----------------------------------------------------------------------------
--   0 3    -    V I S U A L I Z A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		SELECT *
		FROM HLT_PLN_CTR_DTE
		WHERE BusCod=@lp_buscod
		  and PlnId=@lp_plnid
		  and PlnDteId=@lp_plndteid

	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		SELECT TOP 1 @lp_plnid=plnid, @lp_plndteid=plndteid FROM hlt_pln_ctr_dte WHERE buscod=@lp_buscod and hltplnctrcod=@lp_hltplnctrcod and hltplnctrdtecod=@lp_hltplnctrdtecod

		BEGIN TRAN
		
		DELETE FROM hlt_pln_ctr_dte
		WHERE buscod=@lp_buscod
			and hltplnctrcod=@lp_hltplnctrcod
			and hltplnctrdtecod=@lp_hltplnctrdtecod 
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltplnctrdtecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 5    -    A N U L A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '05'
  BEGIN
    SET @lv_validop = 1

    SELECT TOP 1 @lp_plnid=plnid, @lp_plndteid=plndteid FROM hlt_pln_ctr_dte WHERE buscod=@lp_buscod and hltplnctrcod=@lp_hltplnctrcod and hltplnctrdtecod=@lp_hltplnctrdtecod

    BEGIN TRAN
              
    UPDATE hlt_pln_ctr_dte
    SET deldte=getdate(),
        delusr=@lp_username
    WHERE buscod=@lp_buscod
            and hltplnctrcod=@lp_hltplnctrcod
            and hltplnctrdtecod=@lp_hltplnctrdtecod
    SET @lv_errcod=@@ERROR

    IF @lv_errcod=0
      COMMIT TRAN
    ELSE
      ROLLBACK TRAN

    SELECT @lp_hltplnctrdtecod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
  END



-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R												
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- HLT_PLN_CTR_DTE_DEF '08','ROCHOA','TEMASIS_HLT','112','','','','2021','5','126','11','','','','','','','','','','&lt;VIEW&gt;&lt;VEWFLT&gt;&lt;/VEWFLT&gt;&lt;VEWGRP&gt;&lt;/VEWGRP&gt;&lt;VEWGRPCAL&gt;&lt;/VEWGRPCAL&gt;&lt;VEWGRPCALFLT&gt;&lt;/VEWGRPCALFLT&gt;&lt;VEWORD&gt;&lt;/VEWORD&gt;&lt;VEWMAX&gt;101&lt;/VEWMAX&gt;&lt;/VIEW&gt;'
		-- HLT_PLN_CTR_DTE_DEF '08','TEMASIS','TEMASIS_HLT',null,null,null,null,'2021','03','8','13'
		-- select * from hlt_pln_ctr_dte
		-- hlt_pln_ctr_dte_def '08','TEMASIS','TPEDIATRICO',24137
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' s.spccod, s.spctxt, cd.plnid, cd.plndteid, 
						 convert(varchar, cd.HltPlnCtrDte,103) as dtecnv, 
						 cd.HltPlnCtrInbDte, left(cast(cd.HltPlnCtrInbDte as time),5) as inbdtecnv, 
						 cd.HltPlnCtrOutDte, left(cast(cd.HltPlnCtrOutDte as time),5) as outdtecnv, 
						 cd.HltPlnCtrQty as qty, cd.HltPlnCtrTme as tme, cd.HltPlnCtrCmt as cmt, 
						 cd.HltPlnCtrQty, cd.HltPlnCtrTme, cd.HltPlnCtrDte, c.PlnYth, c.plnmth,  
						 a.patcod, a.pattxt, 
						 pr.prscod as prscod, pr.prstxt as prstxt, 
						 cd.hltplnctrcod, cd.hltplnctrdtecod, 
						 lpd.HltPrsLqdCod, ac.cuscod, ac.custxt, 
						 cd.DelDte, convert(varchar, e.evldte, 103) as evldtecnv,
             c.docsts as ctrdocstatus',
             
						
						' hlt_pln_ctr c 
						left join hlt_pln_ctr_dte cd on cd.buscod=c.buscod and cd.HltPlnCtrCod=c.HltPlnCtrCod 
						left join HLT_PAT_EVL e on e.buscod=cd.buscod and e.plnid=cd.plnid and e.plndteid=cd.plndteid and not cd.plnid=0 and not cd.plndteid=0 and e.deldte is null
						left join HLT_PRS_LQD_DOC lpd on lpd.BusCod=cd.BusCod and lpd.RefObjTyp='+QUOTENAME('HLT_PCR','''')+' and lpd.RefObjCod001=cd.hltplnctrcod and lpd.RefObjCod002=cd.HltPlnCtrDteCod
						inner join hlt_pat a on a.buscod=c.buscod and a.patcod=c.patcod 
						inner join sls_cus ac on ac.buscod=a.buscod and ac.cuscod=a.cuscod
						inner join hlt_spc s on s.buscod=c.buscod and s.spccod=c.spccod 
						left join hlt_prs pr on pr.buscod=cd.buscod and pr.prscod=cd.prscod ',
						
						' c.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and (s.spcctrtyp=1 or s.spcctrtyp=2) '
						+ (case when isnull(@lp_hltplnctrcod,0)=0 then '' else ' and cd.HltPlnCtrCod='+QUOTENAME(@lp_hltplnctrcod,'''') end),	
						'cd.hltplnctrinbdte, a.pattxt', 'ctrdocstatus;c.docsts')	
		execute( @lv_sql)
		
	END
  
  
  
-- ----------------------------------------------------------------------------
-- 1 0 - L I S T A R P E N D I E N T E S
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '10'
BEGIN
    SET @lv_validop = 1

    -- Obtener el parÃ¡metro de fecha
    SET @lv_dteprm = (SELECT dbo.GetTagValue('STS_CTR_PLN_DTE', MdlAtrVal001) FROM SYS_APP_MDL_PRM WHERE buscod = @lp_buscod AND MdlCod = 'HLT')

    -- Crear tabla temporal con datos segÃºn la evoluciÃ³n
    SELECT 
        p.buscod, pd.plnid, pd.plndteid,
        CONVERT(varchar, (CASE WHEN @lv_dteprm = 'EVLDTE' AND e.evlcod IS NOT NULL THEN e.evldte ELSE pd.plndte END), 103) AS dtecnv,
        (CASE WHEN @lv_dteprm = 'EVLDTE' AND e.evlcod IS NOT NULL THEN pr2.prscod ELSE pr.prscod END) AS prscod, 
        (CASE WHEN @lv_dteprm = 'EVLDTE' AND e.evlcod IS NOT NULL THEN pr2.prstxt ELSE pr.prstxt END) AS prstxt,
        CONVERT(varchar, e.evldte, 103) AS evldtecnv
    INTO #tmp_pln_evl
    FROM 
        hlt_pln p
        INNER JOIN hlt_pln_dte pd ON pd.buscod = p.buscod AND pd.plnid = p.plnid
        LEFT JOIN HLT_PAT_EVL e ON e.buscod = p.buscod AND e.plnid = p.plnid AND e.plndteid = pd.plndteid
        INNER JOIN hlt_prs pr ON pr.buscod = p.buscod AND pr.prscod = p.prscod
        LEFT JOIN hlt_prs pr2 ON pr2.buscod = e.buscod AND pr2.prscod = e.prscod

    -- Construir sentencia SQL dinÃ¡mica
    SET @lv_sql = dbo.GetSQLSentence(
        @lp_vewcfg,
        ' pd.plnid, pd.plndteid, pr.dtecnv, '
        + ' pd.plninbdte, LEFT(CAST(pd.plninbdte AS TIME), 5) AS inbdtecnv, '
        + ' pd.plnoutdte, LEFT(CAST(pd.plnoutdte AS TIME), 5) AS outdtecnv, '
        + ' pd.plnqty AS qty, pd.plntme AS tme, p.plncmt AS cmt, '
        + ' pr.prscod, pr.prstxt, '
        + ' s.spccod, s.spctxt, pr.evldtecnv ',
        ' hlt_pln p '
        + ' INNER JOIN hlt_pln_dte pd ON pd.buscod = p.buscod AND pd.plnid = p.plnid '
        + ' INNER JOIN #tmp_pln_evl pr ON pr.buscod = p.buscod AND pr.plnid = pd.plnid AND pr.plndteid = pd.plndteid '
        + ' INNER JOIN hlt_pat a ON a.buscod = p.buscod AND a.patcod = p.patcod '
        + ' INNER JOIN hlt_spc s ON s.buscod = p.buscod AND s.spccod = p.spccod '
        + ' LEFT JOIN hlt_pln_ctr_dte cd ON cd.buscod = pd.buscod AND cd.plnid = pd.plnid AND cd.plndteid = pd.plndteid ',
        ' p.buscod = ' + QUOTENAME(@lp_buscod, '''')
        + ' AND pd.DelDte IS NULL '
        + ' AND (s.spcctrtyp = 1 OR s.spcctrtyp = 2) '
        + ' AND cd.HltPlnCtrCod IS NULL '
        + ' AND p.PlnYth = ISNULL(' + QUOTENAME(@lp_plnyth, '''') + ', ' + QUOTENAME('', '''') + ') '
        + ' AND p.plnmth = ISNULL(' + QUOTENAME(@lp_plnmth, '''') + ', ' + QUOTENAME('', '''') + ') '
        + ' AND p.patcod = ISNULL(' + QUOTENAME(@lp_patcod, '''') + ', 0) '
        + ' AND p.spccod = ISNULL(' + QUOTENAME(@lp_spccod, '''') + ', 0)', 
        'plninbdte, a.pattxt',
        ''
    )

    EXECUTE(@lv_sql)
END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion &lt;%s&gt; no es valido', 16, -1, @lp_sysoperation)
	END
GO
