USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_EXP_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BUY_EXP_DOC_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_buyexpcod		as int			= null,	-- id registro 
@lp_buyexpdoccod	as int			= null OUTPUT,	-- id documento 
@lp_buyexpdocdte	as nvarchar(14)	= null,	-- fecha 
@lp_BuyExpTypCod	as int			= null,	-- id tipo gasto 
@lp_BuyExpDocTot	as bigint		= null,	-- importe 
@lp_buyexpdocnum	as nvarchar(20)	= null,	-- descripcion 
@lp_supcod			as int			= null,	-- id prestador 
@lp_ImpObjTyp		as nvarchar(20)	= null,	-- objeto imputacion - tipo 
@lp_ImpObjCod		as int			= null,	-- objeto imputacion - id 
@lp_buyexpdoccmt	as nvarchar(500)= null, -- comentarios 
@lp_docsts			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista 

@lp_sysdocrejcod	as int			= null,	-- id motivo rechazo 
@lp_buyexpdocatr	as nvarchar(max)= null,	-- datos adicionales 

@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(400)= null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_buyexpdoctot as decimal(13,3) = dbo.ConvertNumber( @lp_buyexpdoctot , 3 )
declare @lv_buyexpdocdte as datetime = dbo.ConvertDate( @lp_buyexpdocdte )



-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
--   0 1    -    V A L I D A C I O N E S						
-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		SET @lv_validop = 1

		-- IMPORTE 
		IF isnull(@lv_buyexpdoctot,0)=0
			BEGIN
				SELECT null, -3 as errcod, 'Se debe ingrear un importe.' as errtxt
				RETURN
			END
		
	END
	


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='01'
			BEGIN TRAN

		-- agrego documento
		INSERT INTO BUY_EXP_DOC (buscod, buyexpcod, buyexpdocdte, buyexptypcod, buyexpdoctot, buyexpdocnum,  
			supcod, 
			impobjtyp, impobjcod, sysdocrejcod,
			buyexpdoccmt, buyexpdocatr, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_buyexpcod, @lv_buyexpdocdte, @lp_buyexptypcod, @lv_buyexpdoctot, @lp_buyexpdocnum, 
			@lp_supcod, 
			@lp_impobjtyp, @lp_impobjcod, @lp_sysdocrejcod,
			@lp_buyexpdoccmt, @lp_buyexpdocatr, 
			@lp_docsts, getdate(), @lp_username )
		SET @lp_errcod=@@ERROR
		SET @lp_buyexpdoccod = @@IDENTITY

		-- actualizo totales de cabecera
		if @lp_errcod=0
			begin
				update BUY_EXP 
				set BuyExpTot=isnull( (select SUM(buyexpdoctot) from BUY_EXP_DOC ed where ed.BusCod=@lp_buscod and ed.BuyExpCod=@lp_buyexpcod), 0)
				where BusCod=@lp_buscod
				  and BuyExpCod=@lp_buyexpcod
				set @lp_errcod=@@ERROR
			end

		if @lp_sysoperation='01'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_buyexpdoccod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- actualizo documento
		UPDATE BUY_EXP_DOC 
		SET buyexpdocdte	= @lv_buyexpdocdte,
			BuyExpTypCod	= @lp_buyexptypcod, 
			buyexpdoctot	= @lv_buyexpdoctot,
			buyexpdocnum	= @lp_buyexpdocnum,
			supcod			= @lp_supcod,
			impobjtyp		= @lp_impobjtyp, 
			impobjcod		= @lp_impobjcod,
			buyexpdoccmt	= @lp_buyexpdoccmt, 
			buyexpdocatr	= @lp_buyexpdocatr,
			sysdocrejcod	= @lp_sysdocrejcod,
			docsts			= @lp_docsts,
			upddte			= getdate(),
			updusr			= @lp_username
		WHERE buscod = @lp_buscod
		  and buyexpcod = @lp_buyexpcod 
		  and buyexpdoccod = @lp_buyexpdoccod
		SET @lp_errcod=@@ERROR

		-- actualizo totales de cabecera
		if @lp_errcod=0
			begin
				update BUY_EXP 
				set BuyExpTot=isnull( (select SUM(buyexpdoctot) from BUY_EXP_DOC ed where ed.BusCod=@lp_buscod and ed.BuyExpCod=@lp_buyexpcod), 0)
				where BusCod=@lp_buscod
				  and BuyExpCod=@lp_buyexpcod
				set @lp_errcod=@@ERROR
			end

		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyexpdoccod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt

	END
	


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT ed.*, ot.objtypcod as srcobjtxt, et.buyexptyptxt
		FROM buy_exp_doc ed 
			 inner join buy_exp e on e.buscod=ed.buscod and e.buyexpcod=ed.buyexpcod
			 left join buy_sup s on s.buscod=ed.buscod and s.supcod=ed.supcod
			 left join buy_exp_typ et on et.buscod=ed.buscod and et.buyexptypcod=ed.buyexptypcod
			 inner join sys_obj_typ ot on ot.objtypcod=e.srcobjtyp
		WHERE ed.buscod=@lp_buscod
		  and ed.buyexpcod = @lp_buyexpcod
		  and ed.buyexpdoccod = @lp_buyexpdoccod

	END


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		-- borro documento
		DELETE FROM BUY_EXP_DOC 
		WHERE buscod=@lp_buscod
		  and buyexpcod = @lp_buyexpcod
		  and buyexpdoccod = @lp_buyexpdoccod
		SET @lp_errcod=@@ERROR

		-- actualizo totales de cabecera
		if @lp_errcod=0
			begin
				update BUY_EXP 
				set BuyExpTot= isnull( (select SUM(buyexpdoctot) from BUY_EXP_DOC ed where ed.BusCod=@lp_buscod and ed.BuyExpCod=@lp_buyexpcod), 0)
				where BusCod=@lp_buscod
				  and BuyExpCod=@lp_buyexpcod
				set @lp_errcod=@@ERROR
			end

		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyexpdoccod, @lp_errcod as errcod, dbo.GetErrorDescription( @lp_errcod ) as errtxt

	END
	


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- buy_exp_doc_def '08','temasis','temasis_log' 
		
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' ed.*, ot.objtypcod as srcobjtxt, et.buyexptyptxt ',
			' buy_exp_doc ed '
			+ ' inner join buy_exp e on e.buscod=ed.buscod and e.buyexpcod=ed.buyexpcod '
			+ ' left join buy_sup s on s.buscod=ed.buscod and s.supcod=ed.supcod '
			+ ' left join buy_exp_typ et on et.buscod=ed.buscod and et.buyexptypcod=ed.buyexptypcod '
			+ ' inner join sys_obj_typ ot on ot.objtypcod=e.srcobjtyp ',
			' ed.buscod='+QUOTENAME(@lp_buscod, ''''),
			' ed.buyexpdocdte desc ', 'srcobjtxt;ot.objtypcod' )
		execute( @lv_sql )
		
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END



GO
