USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_TME_PLC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HHR_TME_PLC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrtmeplccod	as int			= null,	-- id
@lp_hhrtmeplccodext	as nvarchar(20)	= null,	-- codigo
@lp_hhrtmeplctxt	as nvarchar(50)	= null,	-- descripción
@lp_hhrtmeplcatr	as nvarchar(max)= null,	-- vista
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_wrkplccod		as int			= null	-- id lugar de trabajo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_hhrtmeplccodext=''
			if exists(select top 1 * from HHR_TME_PLC where buscod=@lp_buscod and not hhrtmeplccod=@lp_hhrtmeplccod and hhrtmeplccodext=@lp_hhrtmeplccodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_TME_PLC (buscod, hhrtmeplccodext, hhrtmeplctxt, hhrtmeplcatr, wrkplccod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrtmeplccodext, @lp_hhrtmeplctxt, @lp_hhrtmeplcatr, @lp_wrkplccod, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrtmeplccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmeplccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_TME_PLC 
		SET	hhrtmeplccodext = @lp_hhrtmeplccodext,
			hhrtmeplctxt = @lp_hhrtmeplctxt,
			hhrtmeplcatr = @lp_hhrtmeplcatr,
			wrkplccod = @lp_wrkplccod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hhrtmeplccod = @lp_hhrtmeplccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmeplccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT tp.*, wp.wrkplctxt
		FROM HHR_TME_PLC tp
		left join HHR_WRK_PLC wp on wp.buscod=tp.buscod and wp.wrkplccod=tp.wrkplccod
		WHERE tp.buscod=@lp_buscod
		  and tp.hhrtmeplccod=@lp_hhrtmeplccod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    


		BEGIN TRAN

		DELETE
		FROM HHR_TME_PLC
		WHERE buscod = @lp_buscod
		  and hhrtmeplccod = @lp_hhrtmeplccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmeplccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' tp.*, wp.wrkplctxt '
			+ ' FROM HHR_TME_PLC tp '
			+ ' left join HHR_WRK_PLC wp on wp.buscod=tp.buscod and wp.wrkplccod=tp.wrkplccod '
			+ ' WHERE tp.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
