USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_CLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[STK_MAT_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_matclscod		as int			= null,	/* codigo */
@lp_matclscodext	as nvarchar(20)	= null,	/* codigo externo */
@lp_matclstxt		as nvarchar(50)	= null,	/* descripcion */
@lp_matclsatr		as nvarchar(4000)= null,/* atributos */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	No se puede borrar la clasificación. Materiales asociados.			*/
/* ------------------------------------------------------------------------ */


IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		/* valido codigo externo duplicado */
		if not isnull(@lp_matclscodext,'')=''
			begin
				IF exists(select top 1 * from stk_mat_cls where buscod=@lp_buscod and not matclscod=@lp_matclscod and matclscodext=@lp_matclscodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO STK_MAT_CLS (buscod, matclscodext, matclstxt, matclsatr, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_matclscodext, @lp_matclstxt, @lp_matclsatr, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_matclscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matclscod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE STK_MAT_CLS 
		SET	matclscodext=@lp_matclscodext,
			matclstxt = @lp_matclstxt,
			matclsatr = @lp_matclsatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and matclscod = @lp_matclscod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matclscod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM STK_MAT_CLS c
		WHERE c.buscod = @lp_buscod
		  and c.matclscod = @lp_matclscod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		IF exists(select top 1 * from stk_mat where buscod=@lp_buscod and matclscod=@lp_matclscod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la clasificación. Materiales asociados.' as errtxt
				RETURN
			END
		
		BEGIN TRAN
		
		DELETE 
		FROM STK_MAT_CLS 
		WHERE buscod=@lp_buscod
		  and matclscod = @lp_matclscod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matclscod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM STK_MAT_CLS c '
			+ ' WHERE c.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and c.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	


/* ------------------------------------------------------------------------ */
/*   1 7    -    L I S T A    según    T E X T O							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 20 c.*
		FROM stk_mat_cls c
		WHERE c.buscod=@lp_buscod
		  and c.docsts='A'
		  and c.matclstxt like '%'+@lp_matclstxt+'%'
		
	END
	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
