USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_LNS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_PRS_LNS_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operaciÃ³n */
@lp_username 		as nvarchar(20),			/* operaciÃ³n - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_hltlnscod		as int			= null,		/* id */
@lp_hltlnscodext	as nvarchar(20)	= null,		/* codigo */
@lp_hltlnstxt		as nvarchar(100)= null,		/* texto */
@lp_hltlnsdte		as nvarchar(14) = null,		/* fecha */
@lp_prscod			as int			= null,		/* id prestador */
@lp_hltlnsqta		as nvarchar(10) = null,		/* cuotas */
@lp_hltlnsqtaint	as int			= null,		/* intervalo */
@lp_hltlnsqtaintunt	as int			= null,		/* intervalo - unidad */
@lp_hltlnsqtafrtdte	as nvarchar(14) = null,		/* fecha primera cuota */
@lp_hltlnstot		as bigint		= null,		/* total del prestamo */
@lp_buyexptypcod	as int			= null,		/* id tipo de gasto */
@lp_curcod			as nvarchar(5)			= null,		/* id de moneda */
@lp_docsts			as nvarchar(02)	= null,		/* estado */

@lp_vewcfg			as nvarchar(max)=null,		/* configuraciÃ³n vista */

@lp_sysdocclscod	as int			= null	/* id clase documento */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt nvarchar(400) = ''

declare @lv_sql as nvarchar(max)

declare @lv_buyexpcod		as int
declare @lv_buyexpdoccod	as int
declare @lv_hltnwstot		as bigint
declare @lv_hltnwsdte		as nvarchar(14)
declare @lv_curcod			as nvarchar(5)

declare @lv_hltlnsqtafrtdte as datetime = dbo.ConvertDate( @lp_hltlnsqtafrtdte )

declare @lv_hltlnsdte	as datetime = dbo.ConvertDate( @lp_hltlnsdte )

declare @lv_hltlnstot	as decimal(13,3) = dbo.ConvertNumber( @lp_hltlnstot , 3 )

declare @lv_cshmovid	as int
declare @lv_reference	as nvarchar(50)
declare @lv_count		as int



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LNS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  

/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/* ------------------------------------------------------------------------ */


IF @lp_sysoperation IN('01', '11', '02', '12')
	BEGIN
		/* valido codigo externo duplicado */
		if not isnull(@lp_hltlnscodext,'')=''
			begin
				IF exists(select top 1 * from HLT_PRS_LNS where buscod=@lp_buscod and not hltlnscod=@lp_hltlnscod and hltlnscodext=@lp_hltlnscodext)
					BEGIN
						SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
						RETURN
					END
			end

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R 													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		INSERT INTO HLT_PRS_LNS (buscod, hltlnscodext, hltlnstxt, prscod, hltlnsdte, buyexptypcod,
								hltlnsqta, hltlnsqtaint, hltlnsqtaintunt, hltlnsqtafrtdte, hltlnstot, curcod,
								docsts, ctedte, cteusr, sysdocclscod)
		VALUES (@lp_buscod, @lp_hltlnscodext, @lp_hltlnstxt, @lp_prscod, @lv_hltlnsdte, @lp_buyexptypcod,
				@lp_hltlnsqta, @lp_hltlnsqtaint, @lp_hltlnsqtaintunt, @lv_hltlnsqtafrtdte, @lv_hltlnstot, @lp_curcod,
				@lp_docsts, getdate(), @lp_username, @lp_sysdocclscod)
		SET @lv_errcod = @@ERROR
		SET @lp_hltlnscod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlnscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R 											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HLT_PRS_LNS
		SET hltlnscodext = @lp_hltlnscodext,
			hltlnstxt = @lp_hltlnstxt,
			prscod = @lp_prscod,
			hltlnsdte = @lv_hltlnsdte,
		  buyexptypcod = @lp_buyexptypcod,
			hltlnsqta = @lp_hltlnsqta,
			hltlnsqtaint = @lp_hltlnsqtaint,
			hltlnsqtaintunt = @lp_hltlnsqtaintunt,
			hltlnsqtafrtdte = @lv_hltlnsqtafrtdte,
			hltlnstot = @lv_hltlnstot,
			curcod = @lp_curcod,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and hltlnscod =@lp_hltlnscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlnscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R 														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		SELECT l.*,
			convert(varchar,l.hltlnsdte,103) as hltlnsdtecnv,
			convert(varchar,l.hltlnsqtafrtdte,103) as hltlnsqtafrtdtecnv,
			e.prstxt,
			t.buyexptyptxt,
			dc.sysdocclstxt
		FROM HLT_PRS_LNS l
		  inner join HLT_PRS e on e.buscod=l.buscod and e.prscod=l.prscod
		  inner join BUY_EXP_TYP t on t.buscod=l.buscod and t.buyexptypcod=l.buyexptypcod
		  left join SYS_DOC_CLS dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod
		WHERE l.buscod = @lp_buscod
		  and l.hltlnscod  = @lp_hltlnscod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		/* ayuda economica */
		DELETE
		FROM HLT_PRS_LNS
		WHERE buscod=@lp_buscod
			and hltlnscod=@lp_hltlnscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlnscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R										  	    */
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, convert(varchar,l.hltlnsdte,103) as hltlnsdtecnv, convert(varchar,l.hltlnsqtafrtdte,103) as hltlnsqtafrtdtecnv, '
			+ ' n.buyexptyptxt, p.prstxt '
			+ ' FROM hlt_prs_lns l '
			+ ' inner join buy_exp_typ n on n.buscod=l.buscod and n.buyexptypcod=l.buyexptypcod '
			+ ' left join hlt_prs p on p.buscod=l.buscod and p.prscod=l.prscod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'l.hltlnsdte DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END

/* ------------------------------------------------------------------------ */
/*   0 9    -    C O N T A B I L I Z A R									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '09' or @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1

		/* determino importe x cuota */
		SET @lv_hltnwstot = ( @lp_hltlnstot / @lp_hltlnsqta ) * -1
		SET @lv_curcod = (SELECT top 1 curcod
							FROM ADM_BUS
							WHERE buscod = @lp_buscod)
    declare @lv_buyexpcodext as nvarchar(20) = ''
              
		BEGIN TRAN

    -- agrega cabecera de cuota 0
		IF @lv_errcod=0
    	BEGIN
      	SET @lv_buyexpcodext = CAST(@lp_hltlnscod as varchar)+'_0'
      	EXEC BUY_EXP_DEF '21', @lp_username, @lp_buscod, @lv_buyexpcod output, @lv_buyexpcodext, @lp_hltlnstxt, @lp_hltlnsdte, 'HLT_PRS', @lp_prscod, @lp_docsts, null, 
          	@lp_sysdocclscod, @lp_hltlnstot, @lv_curcod, null, null, @lv_errcod output, @lv_errtxt output
      END
      
    -- agrega cuota 0
    IF @lv_errcod=0
      EXEC BUY_EXP_DOC_DEF '11', @lp_username, @lp_buscod, @lv_buyexpcod, @lv_buyexpdoccod output, @lp_hltlnsdte, @lp_buyexptypcod, @lp_hltlnstot,
          null, @lp_prscod, null, null, null, @lp_docsts, null, null, null, @lv_errcod output, @lv_errtxt output
      
    -- enlaza cuota 0 con ayuda
    IF @lv_errcod=0
      BEGIN
        INSERT INTO HLT_PRS_LNS_NWS (buscod, hltlnsid, hltnwsid, hltLnsQtaPos, hltLnsQtaTot)
        VALUES (@lp_buscod, @lp_hltlnscod, @lv_buyexpdoccod, '0', @lv_hltlnstot)
        SET @lv_errcod=@@ERROR
      END
          
    -- contabiliza gasto
		IF @lv_errcod=0
      EXEC BUY_EXP_DEF '09_sp', @lp_username, @lp_buscod, @lv_buyexpcod, null, null, null, null, null, null, 
          null, null, null, null, null, null, @lv_errcod output, @lv_errtxt output
    
		/* agrego el resto de las cuotas */
		IF @lv_errcod=0
			BEGIN
				set @lv_count = 1
				WHILE (@lv_count<=@lp_hltlnsqta) and (@lv_errcod=0)
					BEGIN
						set @lv_hltnwsdte = CONVERT(nvarchar(14), @lv_hltlnsqtafrtdte, 112)+'000000' 
        
            -- agrega cabecera de cuota
            IF @lv_errcod=0
              BEGIN
                SET @lv_buyexpcodext = CAST(@lp_hltlnscod as varchar)+'_'+CAST(@lv_count as varchar)
                EXEC BUY_EXP_DEF '21', @lp_username, @lp_buscod, @lv_buyexpcod output, @lv_buyexpcodext, @lp_hltlnstxt, @lv_hltnwsdte, 'HLT_PRS', @lp_prscod, @lp_docsts, null, 
                    @lp_sysdocclscod, @lv_hltnwstot, @lv_curcod, null, null, @lv_errcod output, @lv_errtxt output
              END

            -- agrega cuota
            IF @lv_errcod=0
              EXEC BUY_EXP_DOC_DEF '11', @lp_username, @lp_buscod, @lv_buyexpcod, @lv_buyexpdoccod output, @lv_hltnwsdte, @lp_buyexptypcod, @lv_hltnwstot,
                  null, @lp_prscod, null, null, null, @lp_docsts, null, null, null, @lv_errcod output, @lv_errtxt output

            -- enlaza cuota con ayuda
            IF @lv_errcod=0
              BEGIN
                INSERT INTO HLT_PRS_LNS_NWS (buscod, hltlnsid, hltnwsid, hltLnsQtaPos, hltLnsQtaTot)
                VALUES (@lp_buscod, @lp_hltlnscod, @lv_buyexpdoccod, @lv_count, @lv_hltlnstot)
                SET @lv_errcod=@@ERROR
              END
              
            -- contabiliza gasto
            IF @lv_errcod=0
              EXEC BUY_EXP_DEF '09_sp', @lp_username, @lp_buscod, @lv_buyexpcod, null, null, null, null, null, null, 
                  null, null, null, null, null, null, @lv_errcod output, @lv_errtxt output

						set @lv_count = @lv_count + 1
						/* calculo fecha de la siguiente cuota */
						IF @lp_hltlnsqtaintunt = 1
							set @lv_hltlnsqtafrtdte = dateadd(day , @lp_hltlnsqtaint ,@lv_hltlnsqtafrtdte)
						IF @lp_hltlnsqtaintunt = 30
							set @lv_hltlnsqtafrtdte = dateadd(month , @lp_hltlnsqtaint ,@lv_hltlnsqtafrtdte)
						IF @lp_hltlnsqtaintunt = 360
							set @lv_hltlnsqtafrtdte = dateadd(year , @lp_hltlnsqtaint ,@lv_hltlnsqtafrtdte)

					END
			END

		/* actualizo estado de prestamo/anticipo */
    IF @lv_errcod=0
    	BEGIN
        UPDATE HLT_PRS_LNS
        SET	docsts = 'C',
          updusr = @lp_username,
          upddte = getdate()
        WHERE buscod=@lp_buscod
          and hltlnscod=@lp_hltlnscod
          and not docsts = 'C'
        SET @lv_errcod = @@ERROR
      END
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltlnscod, @lv_errcod as errcod, (case when @lv_errtxt!='' then @lv_errtxt else dbo.GetErrorDescription( @lv_errcod ) end) as errtxt 
	END
  

/* ------------------------------------------------------------------------ */
/*   2 9    -    L I S T A R  C U O T A S									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '29'
	BEGIN
		SET @lv_validop = 1

		-- hlt_prs_lns_def '19','temasis','temasis_hlt' 
		
		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg,
      ' ed.*, d.hltprslqdcod, l.hltlnsqta ',
      ' hlt_prs_lns_nws ln '
			+ ' inner join hlt_prs_lns l on l.buscod=ln.buscod and l.hltlnscod=ln.hltlnsid '
      + ' inner join buy_exp_doc ed on ed.buscod=ln.buscod and ed.buyexpdoccod=ln.hltnwsid '
      + ' left join hlt_prs_lqd_doc d on d.buscod=ed.buscod and d.refobjcod001=ed.buyexpcod and d.refobjcod002=ed.buyexpdoccod and d.refobjtyp='+QUOTENAME('BUY_EXP',''''),
      ' ln.buscod='+QUOTENAME(@lp_buscod,'''')
      + (case when isnull(@lp_hltlnscod,'')='' then '' else ' and ln.hltlnsid='+QUOTENAME(@lp_hltlnscod,'''') end),
      'ln.HltLnsQtaPos', '')
    execute( @lv_sql )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
