USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_TAX_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[STK_MAT_TAX_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_stkmattaxcod 	as int			= null,	/* id */
@lp_matcod 			as int			= null,	/* id material */
@lp_fintaxtypcod	as int			= null,	/* id tipo impuesto */
@lp_fintaxindcod	as int			= null,	/* id indicador impuesto */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)= null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO STK_MAT_TAX (buscod, matcod, fintaxtypcod, fintaxindcod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_matcod, @lp_fintaxtypcod, @lp_fintaxindcod, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_stkmattaxcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmattaxcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE STK_MAT_TAX
		SET fintaxindcod = @lp_fintaxindcod,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and stkmattaxcod = @lp_stkmattaxcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmattaxcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT mt.*, tt.FinTaxTypTxt, ti.fintaxindtxt
		FROM STK_MAT_TAX mt
			left join FIN_TAX_TYP tt on mt.buscod=tt.buscod and mt.fintaxtypcod=tt.fintaxtypcod
			left join FIN_TAX_IND ti on mt.buscod=ti.buscod and mt.fintaxindcod=ti.fintaxindcod
		WHERE mt.buscod = @lp_buscod
		  and mt.stkmattaxcod = @lp_stkmattaxcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM STK_MAT_TAX
		WHERE buscod = @lp_buscod
		  and stkmattaxcod = @lp_stkmattaxcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmattaxcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* STK_MAT_TAX_DEF '08','temasis','temasis_log' */
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' mt.*, tt.FinTaxTypTxt, tt.FinTaxTypCodExt, tt.finacccod, tt.fintaxtyptyp, tt.fintaxtypcat, ti.fintaxindtxt, ti.fintaxindcodext '
			+ ' FROM STK_MAT_TAX mt '
			+ ' left join FIN_TAX_TYP tt on mt.buscod=tt.buscod and mt.fintaxtypcod=tt.fintaxtypcod and tt.docsts='+QUOTENAME('A','''')
			+ ' left join FIN_TAX_IND ti on mt.buscod=ti.buscod and mt.fintaxindcod=ti.fintaxindcod and ti.docsts='+QUOTENAME('A','''')
			+ ' WHERE mt.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and mt.docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
