USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_RLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_PRS_RLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_prsrlscod		as int			= null, /* id */
@lp_prsrlscodext	as nvarchar(20)	= null,	/* cod externo */
@lp_prsrlstxt 		as nvarchar(50)	= null,	/* descripcion */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null,	/* configuración vista */

@lp_prsrlsatrval001	as nvarchar(4000)=null	/* atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_prsrlscodext=''
			if exists(select top 1 * from hlt_prs_rls where buscod=@lp_buscod and not prsrlscod=@lp_prsrlscod and prsrlscodext=@lp_prsrlscodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end
	
	end


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_PRS_RLS (buscod, prsrlscodext, prsrlstxt, 
			prsrlsatrval001,
			docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_prsrlscodext, @lp_prsrlstxt, 
			@lp_prsrlsatrval001,
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_prsrlscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prsrlscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_PRS_RLS
		SET prsrlscodext = @lp_prsrlscodext,
			prsrlstxt = @lp_prsrlstxt,
			prsrlsatrval001 = @lp_prsrlsatrval001,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and prsrlscod = @lp_prsrlscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prsrlscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pr.*
		FROM HLT_PRS_RLS pr
		WHERE pr.buscod = @lp_buscod
		  and pr.prsrlscod = @lp_prsrlscod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM HLT_PRS_RLS
		WHERE buscod = @lp_buscod
		  and prsrlscod = @lp_prsrlscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prsrlscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' r.* '
			+ ' FROM HLT_PRS_RLS r '
			+ ' WHERE r.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and r.docsts='+QUOTENAME('A','''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
