USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LQD_DOC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[HHR_LQD_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_hhrlqddoccod	as int			= null, /* id liquidación-documento */
@lp_hhrlqdcod 		as int			= null,	/* id liquidación */
@lp_refobjtyp		as nvarchar(20)	= null,	/* objeto referencia */
@lp_refobjcod001	as nvarchar(20)	= null, /* id ref 001 */
@lp_refobjcod002	as nvarchar(20)	= null,	/* id ref 002 */
@lp_hhrlqddoccodext as nvarchar(20)	= null, /* cod externo */
@lp_hhrlqddoctxt	as nvarchar(50) = null,	/* descripcion */
@lp_hhrlqddocdte	as nvarchar(14)	= null,	/* fecha */
@lp_hhrlqddocqty	as bigint		= null,	/* cantidad */
@lp_hhrlqddocprc	as bigint		= null,	/* precio unitario */
@lp_hhrlqddoctot	as bigint		= null,	/* total */
@lp_curcod			as nvarchar(5)	= null,	/* moneda */
@lp_hhrlqddocatr001	as nvarchar(max)=null, /* atributos */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null	/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)

declare @lv_hhrlqddocqty as decimal(18,3)
set @lv_hhrlqddocqty = dbo.ConvertNumber( @lp_hhrlqddocqty, 3)

declare @lv_hhrlqddocprc as decimal(18,3)
set @lv_hhrlqddocprc = dbo.ConvertNumber( @lp_hhrlqddocprc, 3)

declare @lv_hhrlqddoctot as decimal(18,3)
set @lv_hhrlqddoctot = dbo.ConvertNumber( @lp_hhrlqddoctot, 3)

declare @lv_hhrlqddocdte as smalldatetime
set @lv_hhrlqddocdte = dbo.ConvertDate( @lp_hhrlqddocdte )



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		if exists(select top 1 * from HHR_LQD_DOC where BusCod=@lp_buscod and hhrlqdCod=@lp_hhrlqdcod and RefObjTyp=@lp_refobjtyp and RefObjCod001=@lp_refobjcod001 and RefObjCod002=@lp_refobjcod002)
			begin
				set @lp_sysoperation = '02'
				set @lp_hhrlqddoccod = (select top 1 hhrlqdDocCod from HHR_LQD_DOC where BusCod=@lp_buscod and hhrlqdCod=@lp_hhrlqdcod and RefObjTyp=@lp_refobjtyp and RefObjCod001=@lp_refobjcod001 and RefObjCod002=@lp_refobjcod002)
			end
		else
			set @lp_sysoperation = '01'
	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_LQD_DOC (buscod, hhrlqdcod, refobjtyp, refobjcod001, refobjcod002, 
			hhrlqddoccodext, hhrlqddoctxt, hhrlqddocdte, hhrlqddocqty, hhrlqddocprc, hhrlqddoctot, curcod, hhrlqddocatr001,
			docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrlqdcod, @lp_refobjtyp, @lp_refobjcod001, @lp_refobjcod002, 
			@lp_hhrlqddoccodext, @lp_hhrlqddoctxt, @lv_hhrlqddocdte, @lv_hhrlqddocqty, @lv_hhrlqddocprc, @lv_hhrlqddoctot, @lp_curcod, @lp_hhrlqddocatr001,
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrlqddoccod=@@IDENTITY
		
		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD
				SET hhrlqdtot = (select sum(d.hhrlqddoctot) FROM HHR_LQD_doc d where d.buscod=@lp_buscod and d.hhrlqdcod=@lp_hhrlqdcod)
				WHERE buscod=@lp_buscod 
				  and hhrlqdcod=@lp_hhrlqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HHR_LQD_DOC
		SET hhrlqddoccodext = @lp_hhrlqddoccodext, 
			hhrlqddoctxt	= @lp_hhrlqddoctxt, 
			hhrlqddocdte	= @lv_hhrlqddocdte, 
			hhrlqddocqty	= @lv_hhrlqddocqty, 
			hhrlqddocprc	= @lv_hhrlqddocprc, 
			hhrlqddoctot	= @lv_hhrlqddoctot, 
			curcod			= @lp_curcod, 
			hhrlqddocatr001 = @lp_hhrlqddocatr001,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and hhrlqddoccod = @lp_hhrlqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD
				SET hhrlqdtot = (select sum(d.hhrlqddoctot) FROM HHR_LQD_doc d where d.buscod=@lp_buscod and d.hhrlqdcod=@lp_hhrlqdcod)
				WHERE buscod=@lp_buscod 
				  and hhrlqdcod=@lp_hhrlqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ld.*
		FROM HHR_LQD_DOC ld
		WHERE ld.buscod = @lp_buscod
		  and ld.hhrlqddoccod = @lp_hhrlqddoccod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM HHR_LQD_DOC
		WHERE buscod = @lp_buscod
		  and hhrlqddoccod = @lp_hhrlqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE HHR_LQD
				SET hhrlqdtot = (select sum(d.hhrlqddoctot) FROM HHR_LQD_doc d where d.buscod=@lp_buscod and d.hhrlqdcod=@lp_hhrlqdcod)
				WHERE buscod=@lp_buscod 
				  and hhrlqdcod=@lp_hhrlqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		/* HHR_LQD_doc_def '08','mdominguez','temasis_edu' */

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(nvarchar, l.hhrlqddte, 103) as hhrlqddtecnv, convert(nvarchar, ld.hhrlqddocdte, 103) as hhrlqddocdtecnv '
			+ ' FROM HHR_LQD_doc ld '
			+ ' inner join HHR_LQD l on l.buscod=ld.buscod and l.hhrlqdcod=ld.hhrlqdcod '
			+ ' left join EDU_STU_EVL ee on ee.buscod=ld.buscod and ld.refobjtyp='+QUOTENAME('EDU_EVL','''')+' and ee.evlcod=ld.refobjcod001 '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
