USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_LQD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PRS_LQD_DEF]

@lp_sysoperation 				as nvarchar(6),							-- operaciÃ³n
@lp_username 						as nvarchar(20),						-- operaciÃ³n - usuario
@lp_buscod							as nvarchar(20)		= null,		-- empresa
@lp_hltprslqdcod				as int						= null,		-- id
@lp_hltprslqdtxt				as nvarchar(50)		= null,		-- descripcion
@lp_hltprslqddte				as nvarchar(14)		= null,		-- fecha
@lp_hltprslqdstrdte			as nvarchar(14)		= null,		-- fecha - inicio
@lp_hltprslqdenddte			as nvarchar(14)		= null,		-- fecha - fin
@lp_prscod							as int						= null,		-- prestador
@lp_hltprslqdopnsrvids	as nvarchar(max)	= null,		-- IDs de planificaciÃ³n
@lp_hltprslqdopnexpids	as nvarchar(max)	= null,		-- IDs de novedades
@lp_docsts							as nvarchar(02)		= null,		-- estado

@lp_vewcfg							as nvarchar(max)	= null,		-- vista

@lp_sysdocclscod				as int						= null,		-- clase de documento - ID
@lp_hltprslqdatr001			as nvarchar(max)	= null,		-- atributos
@lp_hltprslqdgrpcod			as int						= null,		-- ID de grupo de liquidaciÃ³n

@lp_errcod							as int						= null OUTPUT,
@lp_errtxt							as nvarchar(4000)	= null OUTPUT,

@lp_cuscod							as int						= null,		-- id financiador
@lp_paymthcod						as int				= null		-- id forma de pago

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_errtxt as nvarchar(4000) = ''
DECLARE @lp_errtyp	as nvarchar(10)=''
declare @lv_sql as nvarchar(max)

declare @lv_hltprslqddte as datetime = dbo.ConvertDate( @lp_hltprslqddte )
declare @lv_hltprslqdstrdte as datetime = dbo.ConvertDate( @lp_hltprslqdstrdte )
declare @lv_hltprslqdenddte as datetime = dbo.ConvertDate( @lp_hltprslqdenddte )

declare @lv_srcobjtyp as nvarchar(50) = ''
declare @lv_hltprslqdopnsrvids	as nvarchar(max) = ''
declare @lv_hltprslqdopnexpids	as nvarchar(max) = ''

declare @lv_prstxt as nvarchar(50)
declare @lv_custxt as nvarchar(50)
declare @lv_hltprslqdtot as decimal = 0
declare @lv_grpcuscod as nvarchar(10) = ''
declare @lv_docsts as nvarchar(02) = (select top 1 docsts from HLT_PRS_LQD where buscod=@lp_buscod and hltprslqdcod=@lp_hltprslqdcod)
declare @lv_prspts as int = 0



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N 
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQM'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   E R R O R E S														
-- ------------------------------------------------------------------------
--	-1	...																
--	-2, -12	No se puede modificar. Documento contabilizado.										
--	-4	No se puede contabilizar. Documento contabilizado.
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN('02', '12', '02_sp')
  IF (select top 1 docsts from hlt_prs_lqd where buscod=@lp_buscod and hltprslqdcod=@lp_hltprslqdcod and DelDte is null)='C'
    BEGIN
      SET @lp_errcod = -CAST(@lp_sysoperation as int)
      SELECT 'E' as errtyp, @lp_errcod as errcod, 'CANNOTUPDATEACCOUNTINGDOCUMENT' as errmsg
      RETURN
    END

IF @lp_sysoperation IN('09','19','09_sp')
	IF (select top 1 docsts from hlt_prs_lqd where buscod=@lp_buscod and hltprslqdcod=@lp_hltprslqdcod)='C'
    BEGIN
      SELECT 'E' as errtyp, -4 as errcod, 'CANNOTACCOUNTACCOUNTINGDOCUMENT' as errmsg
      RETURN
    END


-- ------------------------------------------------------------------------
--   D E T E R M I N A    P R E C I O S    de    P R E S T A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('01', '01_sp', '02', '02_sp', '23', '11', '12')
	BEGIN
		set @lv_prstxt = (select top 1 prstxt from hlt_prs where buscod=@lp_buscod and prscod=@lp_prscod)
		set @lv_custxt = (select top 1 custxt from sls_cus where buscod=@lp_buscod and cuscod=@lp_cuscod)

		-- ORIGEN. obtengo origen de datos para liquidaciÃ³n
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				select @lv_srcobjtyp=dbo.GetTagValue('srcobjtyp',sysdocclsatr), @lv_grpcuscod=dbo.GetTagValue('grpcuscod',sysdocclsatr) from sys_doc_cls where buscod=@lp_buscod and sysdocclscod= @lp_sysdocclscod
				set @lv_srcobjtyp=(case when isnull(@lv_srcobjtyp,'')='' then 'HLT_PCR' else @lv_srcobjtyp end)
			end

		-- IDs a TABLA. convierto IDs en tabla de servicios
		set @lp_hltprslqdopnsrvids = isnull(@lp_hltprslqdopnsrvids,'')
		set @lp_hltprslqdopnsrvids = (case when @lp_hltprslqdopnsrvids='' then '_' else @lp_hltprslqdopnsrvids end)
		IF not isnull(@lp_hltprslqdopnsrvids,'')=''
			BEGIN
				select cast(@lp_buscod as nvarchar(20)) as buscod, id, 
						@lv_srcobjtyp as refobjtyp, 
						substring(x.id,1,CHARINDEX('_',x.id)-1) as refobjcod001,  
						substring(x.id,charindex('_',x.id)+1,len(x.id)-charindex('_',x.id)) as refobjcod002
				into #tmpSrv
				from dbo.StringSplit(@lp_hltprslqdopnsrvids,'|') x
				where CHARINDEX('_',x.id)>0
			END

		-- IDs a TABLA. convierto IDs en tabla de gastos
		set @lp_hltprslqdopnexpids = isnull(@lp_hltprslqdopnexpids,'')
		set @lp_hltprslqdopnexpids = (case when @lp_hltprslqdopnexpids='' then '_' else @lp_hltprslqdopnexpids end)
		IF not isnull(@lp_hltprslqdopnexpids,'')=''
			BEGIN
				select cast(@lp_buscod as nvarchar(20)) as buscod, id, 
						'BUY_EXP' as refobjtyp, 
						substring(x.id,1,CHARINDEX('_',x.id)-1) as refobjcod001,  
						substring(x.id,charindex('_',x.id)+1,len(x.id)-charindex('_',x.id)) as refobjcod002
				into #tmpExp
				from dbo.StringSplit(@lp_hltprslqdopnexpids,'|') x
				where CHARINDEX('_',x.id)>0
			END

		-- FALTA: comprobar parÃ¡metro de utilizaciÃ³n de categorizacion (parÃ¡metro del mÃ³dulo? clase de documento?)

		-- 3. armo tabla de prestadores, categorizados y con precio
		SELECT p.buscod, p.prscod, p.prstxt, p.prccndcod, p.prsinbdte,
			(case when p.prsinbdte is null then 0 else datediff(year,p.prsinbdte,getdate())+(case when datepart(month,getdate())<datepart(month,p.prsinbdte) or ( datepart(month,getdate())=datepart(month,p.prsinbdte) and datepart(day,getdate())<datepart(day,p.prsinbdte) ) then -1 else 0 end) end) as prsjobold,
			cast(null as int) as prsjobpts, 
			cast(null as int) as prscatpts
		INTO #tmp_38
		FROM hlt_prs p
		WHERE p.buscod=@lp_buscod
		  and p.prscod=isnull(@lp_prscod,p.prscod)

		-- 4. actualizo puntaje por antiguedad
		UPDATE #tmp_38
		SET prsjobpts = (select top 1 v.hltcatpts from hlt_cat c inner join hlt_cat_val v on v.buscod=c.buscod and v.hltcatcod=c.hltcatcod where c.buscod=x.buscod and c.hltcattxt='ANTIGUEDAD EMPRESA' and x.prsjobold between v.hltcatfrm and v.hltcatto),
			prscatpts = (select sum(a.hltcatpts) from hlt_prs_cat a where a.buscod=x.buscod and a.prscod=x.prscod and getdate() between a.HltCatStrDte and a.HltCatEndDte)
		FROM #tmp_38 x
		
    -- determina puntaje total
    set @lv_prspts = (select top 1 isnull(x.prsjobpts, 0) + isnull(x.prscatpts, 0) from #tmp_38 x)
      
		-- 5. armo la tabla de salida (prestaciones valorizadas)
		IF @lv_srcobjtyp='HLT_PCR'
			BEGIN
				SELECT c.*,		
					@lv_srcobjtyp as refobjtyp,	cd.hltplnctrcod as refobjcod001, cd.HltPlnCtrDteCod as refobjcod002,
					c.patcod as hltprslqddoccodext, 
					p.pattxt as hltprslqddoctxt,
          pc.cuscod, pc.custxt, 
					convert(varchar,cd.hltplnctrdte,103) as hltprslqddocdtecnv,
					'ARS' as curcod,
					cd.hltplnctrdte, cd.hltplnctrinbdte, cd.hltplnctroutdte, cd.hltlqdid, cd.plnid, cd.plndteid, p.pattxt,  
					(case when datepart(hour, cd.hltplnctrinbdte)<10 then '0' else '' end) + cast( datepart(hour, cd.hltplnctrinbdte) as nvarchar(2)) + ':' + (case when datepart(minute, cd.hltplnctrinbdte)<10 then '0' else '' end) + cast( datepart(minute, cd.hltplnctrinbdte) as nvarchar(2)) as ctrinbtme, 
					(case when datepart(hour, cd.hltplnctroutdte)<10 then '0' else '' end) + cast( datepart(hour, cd.hltplnctroutdte) as nvarchar(2)) + ':' + (case when datepart(minute, cd.hltplnctroutdte)<10 then '0' else '' end) + cast( datepart(minute, cd.hltplnctroutdte) as nvarchar(2)) as ctrouttme, 
					(case s.SpcCtrTyp when 1 then cast(cd.hltplnctrtme as decimal(13,2)) else 0 end) as hltplnctrtme, (case s.SpcCtrTyp when 2 then cd.HltPlnCtrQty else 0 end) as hltplnctrqty, cd.hltplnctrcmt, cd.prscod, @lv_prspts as prspts,
					(SELECT top 1 r2.prsprcval
						FROM hlt_prs_prc r2
						WHERE r2.buscod=x.buscod
							and r2.prsprctyp=0
							and r2.docsts='A'
							and r2.spccod=c.spccod 
							and (	(r2.PrsCod=cd.prscod		and r2.PatCod=c.patcod)
								OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=c.patcod )
								OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=cd.prscod		and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=cd.prscod		and isnull(r2.PatCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								)
							and (cd.hltplnctrdte BETWEEN r2.prsPrcDtestr AND r2.prsPrcDteend)
							ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
											when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
											else 9 end)) as hltlqdspcprc, 
					(SELECT top 1 r2.prsprcval
						FROM hlt_prs_prc r2
						WHERE r2.buscod=x.buscod
							and r2.prsprctyp=1
							and r2.docsts='A'
							and r2.spccod=c.spccod 
							and (	(r2.PrsCod=cd.prscod		and r2.PatCod=c.patcod)
								OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=c.patcod )
								OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=cd.prscod		and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=cd.prscod		and isnull(r2.PatCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								)
							and (cd.hltplnctrdte BETWEEN r2.prsPrcDtestr AND r2.prsPrcDteend)
							ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
											when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
											else 9 end)) as hltlqdspcprcadd, 
						isnull((SELECT top 1 PrcCndTot 
								FROM grl_dat_prc_sca ps
								WHERE ps.buscod = x.buscod
								and ps.prccndrowcod = (SELECT top 1 dp.PrcCndRowCod 
														FROM GRL_DAT_PRC dp 
														WHERE dp.buscod = x.buscod
														and dp.PrcCndCod = x.PrcCndCod 
														and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte) 
								and ps.PrcCndQty <=  @lv_prspts 
								order by ps.PrcCndQty desc), isnull((SELECT top 1 dp.PrcCndVal 
																	FROM GRL_DAT_PRC dp 
																	WHERE dp.buscod = x.buscod
																	and dp.PrcCndCod = x.PrcCndCod 
																	and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte
																	and dp.PrcCndQty <=  @lv_prspts),0)) as hltlqdcatprc,
            isnull(cd.hltlqdprc,0) as hltlqdprc_stored, s.spctxt
					INTO #tmp_38_2_plr
					FROM hlt_pln_ctr c 
						inner join hlt_pln_ctr_dte cd on cd.buscod=c.buscod and cd.hltplnctrcod=c.hltplnctrcod
						inner join hlt_pat p on p.buscod=c.buscod and p.patcod=c.patcod 
            left join hlt_pln pd on pd.buscod=cd.buscod and pd.plnid=cd.plnid
            left join sls_cus pc on pc.buscod=pd.buscod and pc.cuscod=pd.cuscod 
						inner join #tmp_38 x on x.buscod=cd.buscod and x.prscod=cd.prscod 
						left join hlt_spc s on s.buscod=c.buscod and s.spccod=c.spccod
					WHERE c.buscod=@lp_buscod
					  and cd.docsts='C'
            and cd.deldte is null
					  -- and ( (cd.hltplnctrinbdte is not null and cd.hltplnctroutdte is not null) or (cd.hltplnctrqty is not null) )
					  and cd.prscod=(case when isnull(@lp_prscod,0)=0 then '-1' else @lp_prscod end)
						and (pc.cuscod=isnull(@lp_cuscod,0) or isnull(@lp_cuscod,0)=0)
				  	-- and ((isnull(@lv_grpcuscod,'')!='' and pc.cuscod = isnull(@lp_cuscod,0) ) or isnull(@lv_grpcuscod,'')='' )
					  -- and isnull(cd.hltlqdid,0)=(case when isnull(@lp_hltprslqdcod,0)=0 then 0 else @lp_hltprslqdcod end)
					  and cd.HltPlnCtrDte between @lv_hltprslqdstrdte and @lv_hltprslqdenddte
			END

		ELSE IF @lv_srcobjtyp='HLT_EVL'

			BEGIN
				SELECT e.buscod, 
					@lv_srcobjtyp as refobjtyp,	e.evlcod as refobjcod001, '' as refobjcod002,
					e.patcod as hltprslqddoccodext, 
					p.pattxt as hltprslqddoctxt,
          pc.cuscod, pc.custxt, 
					convert(varchar,e.evldte,103) as hltprslqddocdtecnv,
					'ARS' as curcod,
					e.evldte as hltplnctrdte, e.evldte as hltplnctrinbdte, e.evldte as hltplnctroutdte, e.hltlqdid, e.plnid, e.plndteid, p.pattxt,  
					(case when datepart(hour, e.evldte)<10 then '0' else '' end) + cast( datepart(hour, e.evldte) as nvarchar(2)) + ':' + (case when datepart(minute, e.evldte)<10 then '0' else '' end) + cast( datepart(minute, e.evldte) as nvarchar(2)) as ctrinbtme, 
					(case when datepart(hour, e.evldte)<10 then '0' else '' end) + cast( datepart(hour, e.evldte) as nvarchar(2)) + ':' + (case when datepart(minute, e.evldte)<10 then '0' else '' end) + cast( datepart(minute, e.evldte) as nvarchar(2)) as ctrouttme, 
					(case s.SpcCtrTyp when 1 then d.PlnTme else 0 end) as hltplnctrtme, (case s.SpcCtrTyp when 2 then d.PlnQty else 0 end) as hltplnctrqty, e.evlcmt as hltplnctrcmt, e.prscod, @lv_prspts as prspts,
					(SELECT top 1 r2.prsprcval
						FROM hlt_prs_prc r2
						WHERE r2.buscod=x.buscod
							and r2.prsprctyp=0
							and r2.docsts='A'
							and r2.spccod=e.spccod 
							and (	(r2.PrsCod=e.prscod			and r2.PatCod=e.patcod)
								OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=e.patcod )
								OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=e.prscod			and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=e.prscod			and isnull(r2.PatCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								)
							and (e.evldte BETWEEN r2.prsPrcDtestr AND r2.prsPrcDteend)
							ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
											when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
											else 9 end)) as hltlqdspcprc, 
					(SELECT top 1 r2.prsprcval
						FROM hlt_prs_prc r2
						WHERE r2.buscod=x.buscod
							and r2.prsprctyp=1
							and r2.docsts='A'
							and r2.spccod=e.spccod 
							and (	(r2.PrsCod=e.prscod		and r2.PatCod=e.patcod)
								OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=e.patcod )
								OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=e.prscod		and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
								OR	(r2.PrsCod=e.prscod		and isnull(r2.PatCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
								)
							and (e.evldte BETWEEN r2.prsPrcDtestr AND r2.prsPrcDteend)
							ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
											when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
											else 9 end)) as hltlqdspcprcadd, 
					isnull((SELECT top 1 PrcCndTot 
								FROM grl_dat_prc_sca ps
								WHERE ps.buscod = x.buscod
								and ps.prccndrowcod = (SELECT top 1 dp.PrcCndRowCod 
														FROM GRL_DAT_PRC dp 
														WHERE dp.buscod = x.buscod
														and dp.PrcCndCod = x.PrcCndCod 
														and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte) 
								and ps.PrcCndQty <= @lv_prspts
								order by ps.PrcCndQty desc), isnull((SELECT top 1 dp.PrcCndVal 
																	FROM GRL_DAT_PRC dp 
																	WHERE dp.buscod = x.buscod
																	and dp.PrcCndCod = x.PrcCndCod 
																	and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte
																	and dp.PrcCndQty <=  @lv_prspts),0)) as hltlqdcatprc,	
					isnull(e.hltlqdprc,0) as hltlqdprc_stored, s.spctxt
					INTO #tmp_38_2_evl
					FROM hlt_pat_evl e
						inner join hlt_pat p on p.buscod=e.buscod and p.patcod=e.patcod 
            left join hlt_pln l on l.buscod=e.buscod and l.plnid=e.plnid
						inner join hlt_pln_dte d on d.buscod=e.buscod and d.PlnId=e.plnid and d.plndteid=e.plndteid 
            left join sls_cus pc on pc.buscod=l.buscod and pc.cuscod=l.cuscod
						inner join #tmp_38 x on x.buscod=e.buscod and x.prscod=e.prscod 
						left join hlt_spc s on s.buscod=e.buscod and s.spccod=e.spccod
					WHERE e.buscod=@lp_buscod
					  and e.docsts='A'
					  -- and ( (cd.hltplnctrinbdte is not null and cd.hltplnctroutdte is not null) or (cd.hltplnctrqty is not null) )
					  and e.prscod=(case when isnull(@lp_prscod,0)=0 then '-1' else @lp_prscod end)
				  	and (pc.cuscod=isnull(@lp_cuscod,0) or isnull(@lp_cuscod,0)=0)
				  	-- and ((isnull(@lv_grpcuscod,'')!='' and pc.cuscod = isnull(@lp_cuscod,0) ) or isnull(@lv_grpcuscod,'')='' )
					  -- and isnull(cd.hltlqdid,0)=(case when isnull(@lp_hltprslqdcod,0)=0 then 0 else @lp_hltprslqdcod end)
					  and e.evldte between @lv_hltprslqdstrdte and @lv_hltprslqdenddte
		END
	END


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('01','01_sp', '11')
	BEGIN
		SET @lv_validop = 1
    
    IF @lp_sysoperation = '01' or @lp_sysoperation='11'
      BEGIN TRAN
      
		-- 1. agrego cabecera de liquidaciÃ³n
    -- recupero la descripciÃ³n del mÃ©todo de pago
    declare @lv_paymthtxt as nvarchar(30)
    SELECT TOP 1 @lv_paymthtxt = PayMthTxt FROM TSR_PAY_MTH WHERE BusCod=@lp_buscod AND PayMthCod=@lp_paymthcod
    
		INSERT INTO HLT_PRS_LQD (buscod, prscod, prstxt, hltprslqddte, hltprslqdtxt, 
														sysdocclscod, hltprslqdatr001, cuscod, custxt, HltLqdCatPts, 
                             HltLqdCatPrc, 
														docsts, ctedte, cteusr, hltprslqdgrpcod, paymthcod, paymthtxt)
    SELECT TOP 1 @lp_buscod, @lp_prscod, @lv_prstxt, @lv_hltprslqddte, @lp_hltprslqdtxt, 
				@lp_sysdocclscod, @lp_hltprslqdatr001, @lp_cuscod, @lv_custxt, (isnull(prsjobpts, 0) + isnull(prscatpts, 0)), 
        isnull((SELECT top 1 PrcCndTot 
								FROM grl_dat_prc_sca ps
								WHERE ps.buscod = x.buscod
								and ps.prccndrowcod = (SELECT top 1 dp.PrcCndRowCod 
                                      FROM GRL_DAT_PRC dp 
                                      WHERE dp.buscod = x.buscod
                                      and dp.PrcCndCod = x.PrcCndCod 
                                      and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte) 
              and ps.PrcCndQty <=  (isnull(prsjobpts, 0) + isnull(prscatpts, 0))
              order by ps.PrcCndQty desc), isnull((SELECT top 1 dp.PrcCndVal 
                                                  FROM GRL_DAT_PRC dp 
                                                  WHERE dp.buscod = x.buscod
                                                  and dp.PrcCndCod = x.PrcCndCod 
                                                  and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte
                                                  and dp.PrcCndQty <=  (isnull(prsjobpts, 0) + isnull(prscatpts, 0))),0)),
				@lp_docsts, getdate(), @lp_username, @lp_hltprslqdgrpcod, @lp_paymthcod, @lv_paymthtxt
    FROM #tmp_38 x
    WHERE prscod=@lp_prscod
		SET @lv_errcod=@@ERROR
		SET @lp_hltprslqdcod = @@IDENTITY

		-- 2. agrego documentos de liquidaciÃ³n - SERVICIOS
		IF @lv_errcod=0 and not isnull(@lp_hltprslqdopnsrvids,'')=''
			BEGIN

				IF @lv_srcobjtyp='HLT_PCR'
					BEGIN
						INSERT INTO HLT_PRS_LQD_DOC (buscod, hltprslqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
							hltprslqddoccodext, hltprslqddoctxt, hltprslqddocdte, hltprslqddoctot, curcod, hltprslqddocatr001,
							docsts, ctedte, cteusr)
						select x.buscod, @lp_hltprslqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
							x2.hltprslqddoccodext, x2.hltprslqddoctxt, cd.HltPlnCtrDte, 
							((case when isnull(x2.hltplnctrqty,0)=0 then isnull(x2.hltplnctrtme,0) else isnull(x2.hltplnctrqty,0) end) 
								* 
							((case when isnull(x2.hltlqdspcprc,0)=0 then isnull(x2.hltlqdcatprc,0) else isnull(x2.hltlqdspcprc,0) end) + isnull(x2.hltlqdspcprcadd,0))),
							 'ARS', '<hltlqdspcprc>'+(case when x2.hltlqdspcprc is null then '0' else CAST(x2.hltlqdspcprc as varchar) end)+'</hltlqdspcprc><hltlqdspcprcadd>'+(case when x2.hltlqdspcprcadd is null then '0' else CAST(x2.hltlqdspcprcadd as varchar) end)+'</hltlqdspcprcadd><ctrinbtme>'+isnull(x2.ctrinbtme,'')+'</ctrinbtme><ctrouttme>'+isnull(x2.ctrouttme,'')+'</ctrouttme>', 
							@lp_docsts, getdate(), @lp_username
						from #tmpSrv x
						inner join HLT_PLN_CTR_DTE cd on cd.buscod=@lp_buscod and cd.hltplnctrcod=x.refobjcod001 and cd.hltplnctrdtecod=x.refobjcod002 
						inner join #tmp_38_2_plr x2 on x2.buscod=x.buscod and x2.refobjtyp=x.refobjtyp and x2.refobjcod001=x.refobjcod001 and x2.refobjcod002=x.refobjcod002
						where x.buscod=@lp_buscod
						SET @lv_errcod=@@ERROR
					END

				ELSE IF @lv_srcobjtyp='HLT_EVL'

					BEGIN
						INSERT INTO HLT_PRS_LQD_DOC (buscod, hltprslqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
							hltprslqddoccodext, hltprslqddoctxt, hltprslqddocdte, hltprslqddoctot, curcod, hltprslqddocatr001,
							docsts, ctedte, cteusr)
						select x.buscod, @lp_hltprslqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
							x2.hltprslqddoccodext, x2.hltprslqddoctxt, e.evldte, 
							((case when isnull(x2.hltplnctrqty,0)=0 then isnull(x2.hltplnctrtme,0) else isnull(x2.hltplnctrqty,0) end) 
								* 
							((case when isnull(x2.hltlqdspcprc,0)=0 then isnull(x2.hltlqdcatprc,0) else isnull(x2.hltlqdspcprc,0) end) + isnull(x2.hltlqdspcprcadd,0))),
							'ARS', '<hltlqdspcprc>'+(case when x2.hltlqdspcprc is null then '0' else CAST(x2.hltlqdspcprc as varchar) end)+'</hltlqdspcprc><hltlqdspcprcadd>'+(case when x2.hltlqdspcprcadd is null then '0' else CAST(x2.hltlqdspcprcadd as varchar) end)+'</hltlqdspcprcadd><ctrinbtme>'+isnull(x2.ctrinbtme,'')+'</ctrinbtme><ctrouttme>'+isnull(x2.ctrouttme,'')+'</ctrouttme>', 
              @lp_docsts, getdate(), @lp_username
						from #tmpSrv x
						inner join HLT_PAT_EVL e on e.buscod=@lp_buscod and e.evlcod=x.refobjcod001 
						inner join #tmp_38_2_evl x2 on x2.buscod=x.buscod and x2.refobjtyp=x.refobjtyp and x2.refobjcod001=x.refobjcod001
						where x.buscod=@lp_buscod
						SET @lv_errcod=@@ERROR
					END

			END

		-- 3. agrego documentos de liquidaciÃ³n - GASTOS
		IF @lv_errcod=0 and not isnull(@lp_hltprslqdopnexpids,'')=''
			BEGIN
				INSERT INTO HLT_PRS_LQD_DOC (buscod, hltprslqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					hltprslqddoccodext, hltprslqddoctxt, hltprslqddocdte, hltprslqddoctot, 
					curcod, hltprslqddocatr001,
					docsts, ctedte, cteusr)
				select x.buscod, @lp_hltprslqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					e.buyexpcod, et.buyexptyptxt, ed.BuyExpDocDte, 
					sum(ed.BuyExpDocTot*(case et.BuyExpTypCodExt when 'DTO' then -1 else 1 end)*(isnull(ei.buyexpdocimpqty,100)/100)),
					'ARS', '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpExp x 
				inner join buy_exp_doc ed on ed.buscod=x.buscod and ed.BuyExpCod=x.refobjcod001 and ed.BuyExpDocCod=x.refobjcod002
				inner join buy_exp e on e.buscod=ed.buscod and e.buyexpcod=ed.buyexpcod 
				inner join buy_exp_typ et on et.buscod=ed.buscod and et.BuyExpTypCod=ed.BuyExpTypCod 
				left join BUY_EXP_DOC_IMP ei on ei.buscod=ed.buscod and ei.BuyExpCod=e.BuyExpCod and ei.BuyExpDocCod=ed.BuyExpDocCod
				left join HLT_PAT p on p.buscod=ei.buscod and ei.SrcObjTyp='HLT_PAT' and p.patcod=ei.SrcObjCod001
				where x.buscod=@lp_buscod
				  and e.docsts='C'
				  and et.docsts='A'
				  and ( isnull(p.cuscod,0)=isnull(@lp_cuscod,0) or isnull(@lp_cuscod,0)=0 )
				  -- and ((isnull(@lv_grpcuscod,'')!='' and isnull(p.cuscod,0) = isnull(@lp_cuscod, isnull(p.cuscod,0) )) or isnull(@lv_grpcuscod,'')='' )
				group by x.buscod, x.refobjtyp, x.refobjcod001, x.refobjcod002, e.buyexpcod, et.buyexptyptxt, ed.BuyExpDocDte

				SET @lv_errcod=@@ERROR
			END
      
      
    -- 4. actualizo precio
    IF @lv_errcod=0
			BEGIN
      	IF @lv_srcobjtyp='HLT_PCR'
        	BEGIN  
            UPDATE HLT_PRS_LQD
            SET HltLqdHrsQty = (select sum(isnull(x.hltplnctrtme, 0))
                              FROM hlt_prs_lqd_doc d 
                                inner join #tmp_38_2_plr x on x.refobjcod001=d.refobjcod001 and x.refobjcod002=d.refobjcod002
                              where d.buscod=@lp_buscod 
                                and d.hltprslqdcod=@lp_hltprslqdcod 
                                and d.RefObjTyp=@lv_srcobjtyp),
                HltLqdSesQty = (select sum(isnull(x.hltplnctrqty, 0))
                              FROM hlt_prs_lqd_doc d 
                                inner join #tmp_38_2_plr x on x.refobjcod001=d.refobjcod001 and x.refobjcod002=d.refobjcod002
                              where d.buscod=@lp_buscod 
                                and d.hltprslqdcod=@lp_hltprslqdcod 
                                and d.RefObjTyp=@lv_srcobjtyp)
            WHERE buscod=@lp_buscod 
            and hltprslqdcod=@lp_hltprslqdcod   
          END
        ELSE IF @lv_srcobjtyp='HLT_EVL'
        	BEGIN
            UPDATE HLT_PRS_LQD
            SET HltLqdHrsQty = (select sum(isnull(x.hltplnctrtme, 0))
                              FROM hlt_prs_lqd_doc d 
                                inner join #tmp_38_2_evl x on x.refobjcod001=d.refobjcod001
                              where d.buscod=@lp_buscod 
                                and d.hltprslqdcod=@lp_hltprslqdcod 
                                and d.RefObjTyp=@lv_srcobjtyp),
                HltLqdSesQty = (select sum(isnull(x.hltplnctrqty, 0))
                              FROM hlt_prs_lqd_doc d 
                                inner join #tmp_38_2_evl x on x.refobjcod001=d.refobjcod001
                              where d.buscod=@lp_buscod 
                                and d.hltprslqdcod=@lp_hltprslqdcod 
                                and d.RefObjTyp=@lv_srcobjtyp)
            WHERE buscod=@lp_buscod 
            and hltprslqdcod=@lp_hltprslqdcod  
          END
      END
    SET @lv_errcod = @@ERROR
     
		-- 5. actualizo totales
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PRS_LQD
				SET hltprslqdtot = (select sum(d.hltprslqddoctot) FROM hlt_prs_lqd_doc d where d.buscod=@lp_buscod and d.hltprslqdcod=@lp_hltprslqdcod),
						HltLqdNwsTot = (select sum(d.hltprslqddoctot) FROM hlt_prs_lqd_doc d where d.buscod=@lp_buscod and d.hltprslqdcod=@lp_hltprslqdcod and RefObjTyp='BUY_EXP'),
            HltLqdPrc = (select sum(d.hltprslqddoctot)/ (case when HltLqdHrsQty+HltLqdSesQty = 0 then 1 else  HltLqdHrsQty+HltLqdSesQty end) FROM hlt_prs_lqd_doc d where d.buscod=@lp_buscod and d.hltprslqdcod=@lp_hltprslqdcod and RefObjTyp IN ('HLT_EVL', 'HLT_PCR'))
        WHERE buscod=@lp_buscod 
        and hltprslqdcod=@lp_hltprslqdcod
				SET @lv_errcod = @@ERROR
			END
      
		IF @lp_sysoperation = '01' or @lp_sysoperation='11'
      BEGIN
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hltprslqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
      END
    ELSE
    	BEGIN
				SET @lp_errcod = @lv_errcod
				SET @lp_errtxt = dbo.GetErrorDescription(@lv_errcod)
      END

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='02_sp' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation='02' or @lp_sysoperation='12'
			BEGIN TRAN

		-- 1. borro documentos que fueron quitados de la liquidaciÃ³n - SERVICIOS
		IF @lv_errcod=0 and not isnull(@lp_hltprslqdopnsrvids,'')=''
			BEGIN
				DELETE d
				FROM HLT_PRS_LQD_DOC d
				left join #tmpSrv x on @lp_buscod=d.buscod and x.refobjtyp=d.refobjtyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002
				WHERE d.buscod=@lp_buscod
				  and d.HltPrsLqdCod=@lp_hltprslqdcod
				  and x.id is null
				SET @lv_errcod=@@ERROR
			END

		-- 2. borro documentos que fueron quitados de la liquidaciÃ³n - GASTOS
		IF @lv_errcod=0 and not isnull(@lp_hltprslqdopnexpids,'')=''
			BEGIN
				DELETE d
				FROM HLT_PRS_LQD_DOC d
				left join #tmpExp x on x.buscod=d.buscod and x.refobjtyp=d.RefObjTyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002
				WHERE d.buscod=@lp_buscod
				  and d.HltPrsLqdCod=@lp_hltprslqdcod
				  and x.id is null
				SET @lv_errcod=@@ERROR
			END

		-- 3. agrego documentos de liquidaciÃ³n - SERVICIOS
		IF @lv_errcod=0 and not isnull(@lp_hltprslqdopnsrvids,'')=''
			BEGIN

				IF @lv_srcobjtyp='HLT_PCR'
					BEGIN
						INSERT INTO HLT_PRS_LQD_DOC (buscod, hltprslqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
							hltprslqddoccodext, hltprslqddoctxt, hltprslqddocdte, hltprslqddoctot, curcod, hltprslqddocatr001,
							docsts, ctedte, cteusr)
						select x.buscod, @lp_hltprslqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
							x2.hltprslqddoccodext, x2.hltprslqddoctxt, cd.HltPlnCtrDte, 
							((case when isnull(x2.hltplnctrqty,0)=0 then isnull(x2.hltplnctrtme,0) else isnull(x2.hltplnctrqty,0) end) 
								* 
							((case when isnull(x2.hltlqdspcprc,0)=0 then isnull(x2.hltlqdcatprc,0) else isnull(x2.hltlqdspcprc,0) end) + isnull(x2.hltlqdspcprcadd,0))),
							 'ARS', '<hltlqdspcprc>'+(case when x2.hltlqdspcprc is null then '0' else CAST(x2.hltlqdspcprc as varchar) end)+'</hltlqdspcprc><hltlqdspcprcadd>'+(case when x2.hltlqdspcprcadd is null then '0' else CAST(x2.hltlqdspcprcadd as varchar) end)+'</hltlqdspcprcadd><ctrinbtme>'+isnull(x2.ctrinbtme,'')+'</ctrinbtme><ctrouttme>'+isnull(x2.ctrouttme,'')+'</ctrouttme>', 
							@lp_docsts, getdate(), @lp_username
						from #tmpSrv x
						inner join HLT_PLN_CTR_DTE cd on cd.buscod=@lp_buscod and cd.hltplnctrcod=x.refobjcod001 and cd.hltplnctrdtecod=x.refobjcod002 
						inner join #tmp_38_2_plr x2 on x2.buscod=x.buscod and x2.refobjtyp=x.refobjtyp and x2.refobjcod001=x.refobjcod001 and x2.refobjcod002=x.refobjcod002
						left join HLT_PRS_LQD_DOC d on d.buscod=x.buscod and d.RefObjTyp=x.refobjtyp and d.RefObjCod001=x.refobjcod001 and d.RefObjCod002=x.refobjcod002
						where x.buscod=@lp_buscod
						  and d.HltPrsLqdDocCod is null
						SET @lv_errcod=@@ERROR
            
						if @lv_errcod = 0 
							BEGIN
								UPDATE hlt_prs_lqd	
								SET HltLqdHrsQty = (select sum(isnull(x.hltplnctrtme,0)) FROM HLT_PRS_LQD_DOC ld inner join #tmp_38_2_plr x on x.buscod=ld.buscod and x.refobjtyp=ld.refobjtyp and x.refobjcod001=ld.refobjcod001 and x.refobjcod002=ld.RefObjCod002 where ld.buscod=@lp_buscod and ld.hltprslqdcod=@lp_hltprslqdcod),
									HltLqdSesQty = (select sum(isnull(x.hltplnctrqty,0)) FROM HLT_PRS_LQD_DOC ld inner join #tmp_38_2_plr x on x.buscod=ld.buscod and x.refobjtyp=ld.refobjtyp and x.refobjcod001=ld.refobjcod001 and x.refobjcod002=ld.RefObjCod002 where ld.buscod=@lp_buscod and ld.hltprslqdcod=@lp_hltprslqdcod),
									docsts = @lp_docsts,
									upddte = getdate(),
									updusr = @lp_username
								WHERE buscod=@lp_buscod
								  and hltprslqdcod=@lp_hltprslqdcod
								SET @lv_errcod = @@ERROR

							END
					END

				ELSE IF @lv_srcobjtyp='HLT_EVL'

					BEGIN
						INSERT INTO HLT_PRS_LQD_DOC (buscod, hltprslqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
							hltprslqddoccodext, hltprslqddoctxt, hltprslqddocdte, hltprslqddoctot, curcod, hltprslqddocatr001,
							docsts, ctedte, cteusr)
						select x.buscod, @lp_hltprslqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
							x2.hltprslqddoccodext, x2.hltprslqddoctxt, e.evldte, 
							((case when isnull(x2.hltplnctrqty,0)=0 then isnull(x2.hltplnctrtme,0) else isnull(x2.hltplnctrqty,0) end) 
								* 
             ((case when isnull(x2.hltlqdspcprc,0)=0 then isnull(x2.hltlqdcatprc,0) else isnull(x2.hltlqdspcprc,0) end) + isnull(x2.hltlqdspcprcadd,0))),
							 'ARS', '<hltlqdspcprc>'+(case when x2.hltlqdspcprc is null then '0' else CAST(x2.hltlqdspcprc as varchar) end)+'</hltlqdspcprc><hltlqdspcprcadd>'+(case when x2.hltlqdspcprcadd is null then '0' else CAST(x2.hltlqdspcprcadd as varchar) end)+'</hltlqdspcprcadd><ctrinbtme>'+isnull(x2.ctrinbtme,'')+'</ctrinbtme><ctrouttme>'+isnull(x2.ctrouttme,'')+'</ctrouttme>', 
							@lp_docsts, getdate(), @lp_username
						from #tmpSrv x
						inner join HLT_PAT_EVL e on e.buscod=@lp_buscod and e.evlcod=x.refobjcod001 
						inner join #tmp_38_2_evl x2 on x2.buscod=x.buscod and x2.refobjtyp=x.refobjtyp and x2.refobjcod001=x.refobjcod001
						left join HLT_PRS_LQD_DOC d on d.buscod=x.buscod and d.RefObjTyp=x.refobjtyp and d.RefObjCod001=x.refobjcod001 and d.RefObjCod002=x.refobjcod002
						where x.buscod=@lp_buscod
						  and d.HltPrsLqdDocCod is null
						SET @lv_errcod=@@ERROR

						if @lv_errcod = 0 
							BEGIN
								UPDATE hlt_prs_lqd	
								SET HltLqdHrsQty = (select CASE WHEN count(1) > 0 THEN sum(isnull(x.hltplnctrtme,0)) else 0 END FROM HLT_PRS_LQD_DOC ld inner join #tmp_38_2_evl x on x.buscod=ld.buscod and x.refobjtyp=ld.refobjtyp and x.refobjcod001=ld.refobjcod001 where ld.buscod=@lp_buscod and ld.hltprslqdcod=@lp_hltprslqdcod),
									HltLqdSesQty = (select CASE WHEN count(1) > 0 THEN sum(isnull(x.hltplnctrqty,0)) else 0 END FROM HLT_PRS_LQD_DOC ld inner join #tmp_38_2_evl x on x.buscod=ld.buscod and x.refobjtyp=ld.refobjtyp and x.refobjcod001=ld.refobjcod001 where ld.buscod=@lp_buscod and ld.hltprslqdcod=@lp_hltprslqdcod),
									docsts = @lp_docsts,
									upddte = getdate(),
									updusr = @lp_username
								WHERE buscod=@lp_buscod
								  and hltprslqdcod=@lp_hltprslqdcod
								SET @lv_errcod = @@ERROR
							END
					END

			END

		-- 4. agrego documentos de liquidaciÃ³n - GASTOS
		IF @lv_errcod=0 and not isnull(@lp_hltprslqdopnexpids,'')=''
			BEGIN
				INSERT INTO HLT_PRS_LQD_DOC (buscod, hltprslqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					hltprslqddoccodext, hltprslqddoctxt, hltprslqddocdte, 
					hltprslqddoctot, 
					curcod, hltprslqddocatr001,
					docsts, ctedte, cteusr)
				select @lp_buscod, @lp_hltprslqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					et.buyexptypcod, et.buyexptyptxt, ed.BuyExpDocDte, 
					sum(ed.BuyExpDocTot*(case et.BuyExpTypCodExt when 'DTO' then -1 else 1 end)*(isnull(ei.buyexpdocimpqty,100)/100)),
					'ARS', '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpExp x 
				inner join buy_exp_doc ed on ed.buscod=@lp_buscod and ed.BuyExpCod=x.refobjcod001 and ed.BuyExpDocCod=x.refobjcod002
				inner join buy_exp e on e.buscod=ed.buscod and e.buyexpcod=ed.buyexpcod 
				inner join buy_exp_typ et on et.buscod=ed.buscod and et.BuyExpTypCod=ed.BuyExpTypCod 
				left join HLT_PRS_LQD_DOC d on d.buscod=@lp_buscod and d.RefObjTyp=x.refobjtyp and d.RefObjCod001=x.refobjcod001 and d.RefObjCod002=x.refobjcod002
				left join BUY_EXP_DOC_IMP ei on ei.buscod=ed.buscod and ei.BuyExpCod=e.BuyExpCod and ei.BuyExpDocCod=ed.BuyExpDocCod
				left join HLT_PAT p on p.buscod=ei.buscod and ei.SrcObjTyp='HLT_PAT' and p.patcod=ei.SrcObjCod001
				where x.buscod=@lp_buscod
				  and e.docsts='C'
				  and et.docsts='A'
				  and d.HltPrsLqdDocCod is null
					and ( isnull(p.cuscod,0)=isnull(@lp_cuscod,0) or isnull(@lp_cuscod,0)=0 )
				  --and ((isnull(@lv_grpcuscod,'')!='' and isnull(p.cuscod,0) = isnull(@lp_cuscod, isnull(p.cuscod,0) )) or isnull(@lv_grpcuscod,'')='' )
				group by x.refobjtyp, x.refobjcod001, x.refobjcod002, et.buyexptypcod, et.buyexptyptxt, ed.BuyExpDocDte
				SET @lv_errcod=@@ERROR
			END

		-- 5. actualizo cabecera
		IF @lv_errcod=0
			BEGIN
				UPDATE hlt_prs_lqd
				SET
					hltprslqdtxt = @lp_hltprslqdtxt,
					hltprslqdtot = (select CASE WHEN count(1) > 0 THEN sum( isnull(d.hltprslqddoctot,0) ) else 0 END FROM hlt_prs_lqd_doc d where d.buscod=@lp_buscod and d.hltprslqdcod=@lp_hltprslqdcod),
					HltLqdNwsTot = (select CASE WHEN count(1) > 0 THEN sum( isnull(d.hltprslqddoctot,0) ) else 0 END FROM hlt_prs_lqd_doc d where d.buscod=@lp_buscod and d.hltprslqdcod=@lp_hltprslqdcod and RefObjTyp='BUY_EXP'),
					HltLqdPrc = (select CASE WHEN count(1) > 0 THEN (sum( isnull(d.hltprslqddoctot,0) ) / isnull(( HltLqdHrsQty + HltLqdSesQty ),1) ) else 0 END FROM hlt_prs_lqd_doc d where d.buscod=@lp_buscod and d.hltprslqdcod=@lp_hltprslqdcod and (RefObjTyp='HLT_EVL' or RefObjTyp='HLT_PCR')),
					cuscod = @lp_cuscod,
					custxt = @lv_custxt, 
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and hltprslqdcod=@lp_hltprslqdcod
				SET @lv_errcod = @@ERROR
			END
			
		IF @lp_sysoperation='02_sp'
			BEGIN
				SET @lp_errcod = @lv_errcod
				SET @lp_errtxt = dbo.GetErrorDescription(@lv_errcod)
			END
		ELSE IF @lp_sysoperation='02' or @lp_sysoperation='12'
			begin
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_hltprslqdcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			end
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1

		-- hlt_prs_lqd_def '03','mdominguez','temasis_hlt','23'

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, dc.sysdocclstxt, tc.taxcattxt, p.prscodext '
			+ ' FROM hlt_prs_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join hlt_prs p on p.buscod=l.buscod and p.prscod=l.prscod '
			+ ' left join grl_dat_tax t on t.buscod=l.buscod and t.taxsrctyp='+QUOTENAME('HLT_PRS','''')+' and t.taxsrccod=l.prscod '
			+ ' left join grl_dat_adr a on a.buscod=l.buscod and a.adrsrctyp='+QUOTENAME('HLT_PRS','''')+' and a.adrsrccod=l.prscod '
			+ ' left join fin_tax_cat tc on tc.lndcod=a.lndcod and tc.taxcatcod=t.taxcatcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and l.hltprslqdcod='+QUOTENAME(@lp_hltprslqdcod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('04', '14', '04_sp')
	BEGIN
		SET @lv_validop = 1
		
		set @lp_docsts = (select top 1 docsts from hlt_prs_lqd where buscod=@lp_buscod and hltprslqdcod=@lp_hltprslqdcod)
		
    IF @lp_sysoperation='04' or @lp_sysoperation='14'
			BEGIN TRAN
		
		-- borro los documento liquidados
		DELETE
		FROM hlt_prs_lqd_doc
		WHERE buscod=@lp_buscod
		  and hltprslqdcod=@lp_hltprslqdcod
		SET @lv_errcod=@@ERROR

		-- borro liquidaciÃ³n - cabecera
		IF @lv_errcod=0 and not @lp_docsts='C'
			BEGIN
				DELETE 
				FROM hlt_prs_lqd
				WHERE buscod=@lp_buscod
				  and hltprslqdcod=@lp_hltprslqdcod
				SET @lv_errcod=@@ERROR
			END

		-- marco la liquidaciÃ³n como borrado - cabecera
		IF @lv_errcod=0 and @lp_docsts='C'
			BEGIN
				UPDATE hlt_prs_lqd
				SET deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and hltprslqdcod=@lp_hltprslqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lp_sysoperation='04' or @lp_sysoperation='14'
    	BEGIN
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

      	SELECT @lp_hltprslqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
      END
    ELSE
      SET @lp_errcod = @lv_errcod
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- HLT_PRS_LQD_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>',''
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, l.hltprslqddte, dc.sysdocclstxt  '
			+ ' FROM hlt_prs_lqd l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and l.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'l.hltprslqddte DESC, l.hltprslqdcod DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='09' or @lp_sysoperation='19' or @lp_sysoperation='09_sp'
	BEGIN
		SET @lv_validop = 1
		
    IF @lp_sysoperation='09'
			BEGIN TRAN

		-- HLT_PRS_LQD_DEF '09','MDOMINGUEZ','TEMASIS_HLT','23'

		-- 1. actualizo cabecera
		UPDATE HLT_PRS_LQD
		SET docsts = 'C',
		accdte = getdate(),
		accusr = @lp_username
		WHERE buscod=@lp_buscod
		  and hltprslqdcod=@lp_hltprslqdcod
		SET @lv_errcod=@@ERROR

		-- 2. actualizo posiciones
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PRS_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and hltprslqdcod=@lp_hltprslqdcod
				SET @lv_errcod=@@ERROR
			END
     
    IF @lv_errcod=0
    	BEGIN 
        select top 1 @lp_prscod=prscod, @lv_hltprslqdtot=(hltprslqdtot*1000) from hlt_prs_lqd where buscod=@lp_buscod and hltprslqdcod=@lp_hltprslqdcod
      
      	-- registro cuenta corriente
        --exec FIN_SUM_DEF '11', @lp_username, @lp_buscod, null, 'HLT_PRS', @lp_prscod, @lv_hltprslqdtot, 'ARS', 'A', null,
        --			@lp_errtyp OUTPUT, @lv_errcod OUTPUT, @lp_errtxt OUTPUT
      
      	-- registro comprobante
        --IF @lv_errcod=0
        --  exec FIN_SUM_DOC_DEF '11',@lp_username,@lp_buscod,null,null,'HLT_PRS_LQD',@lp_hltprslqdcod, null, @lp_hltprslqddte, @lp_hltprslqdenddte, 
        --  null, null, null, 'HLT_PRS', @lp_prscod, @lv_hltprslqdtot,@lv_hltprslqdtot,'ARS',100000,'A',null,@lp_errtyp OUTPUT, @lv_errcod OUTPUT, @lp_errtxt OUTPUT
				
    END
      
	IF @lp_sysoperation='09'
		BEGIN
			IF @lv_errcod=0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN
			SELECT @lp_hltprslqdcod, @lv_errcod as errcod, (case when @lp_errtyp='E' then dbo.GetErrorDescription(@lv_errcod) else @lp_errtxt end) as errtxt, @lp_errtyp as errtyp
		END
	ELSE
		begin
			SET @lp_errcod = @lv_errcod
			SET @lp_errtxt = (case when @lp_errtxt='' then dbo.GetErrorDescription(@lv_errcod) else @lp_errtxt end)
		end
	END


-- ------------------------------------------------------------------------
--   2 3    -    L I S T A R    P R E S T A C I O N E S		(no liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='23'
	BEGIN
		SET @lv_validop = 1
    
		-- hlt_prs_lqd_def '23','mdominguez','temasis_hlt','','','','20170106000000','20170731000000','59'
		
		if @lv_srcobjtyp = 'HLT_PCR'

			BEGIN

				set @lv_sql = 'SELECT  '
					+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
					+ ' x.*, ld.hltprslqdcod, ld.hltprslqddoccod, '
 					+ ' isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltlqdprc, '
          + ' ((case when isnull(x.hltplnctrqty,0)=0 then isnull(x.hltplnctrtme,0) else isnull(x.hltplnctrqty,0) end) '
					+ '	* '
          + ' ((case when isnull(x.hltlqdspcprc,0)=0 then isnull(x.hltlqdcatprc,0) else isnull(x.hltlqdspcprc,0) end) + isnull(x.hltlqdspcprcadd,0))) '
					+ ' as hltprslqddoctot '
 					-- + ' isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltprslqddoctot '
					+ ' FROM #tmp_38_2_plr x '
					+ ' left join HLT_PRS_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 '
					+ ' WHERE ( ld.hltprslqddoccod is null ' + (case when isnull(@lp_hltprslqdcod,0)=0 then '' else ' OR ld.hltprslqdcod='+QUOTENAME(@lp_hltprslqdcod,'''') end) + ')'
 					+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
					+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'hltplnctrdte, hltplnctrinbdte, hltplnctroutdte' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
			END

		ELSE if @lv_srcobjtyp = 'HLT_EVL'

			BEGIN
				set @lv_sql = 'SELECT  '
					+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
					+ ' x.*, ld.hltprslqdcod, ld.hltprslqddoccod, '
 					+ 'isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltlqdprc, '
          + ' ((case when isnull(x.hltplnctrqty,0)=0 then isnull(x.hltplnctrtme,0) else isnull(x.hltplnctrqty,0) end) '
					+ '	* '
          + ' ((case when isnull(x.hltlqdspcprc,0)=0 then isnull(x.hltlqdcatprc,0) else isnull(x.hltlqdspcprc,0) end) + isnull(x.hltlqdspcprcadd,0))) '
 					+ ' as hltprslqddoctot '
 					-- + ' isnull(x.hltlqdspcprc,0)+isnull(x.hltlqdspcprcadd,0) as hltprslqddoctot '
					+ ' FROM #tmp_38_2_evl x '
					+ ' left join HLT_PRS_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 '
					+ ' WHERE ( ld.hltprslqddoccod is null ' + (case when isnull(@lp_hltprslqdcod,0)=0 then '' else ' OR ld.hltprslqdcod='+QUOTENAME(@lp_hltprslqdcod,'''') end) + ')'
 					+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
					+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'hltplnctrdte, hltplnctrinbdte, hltplnctroutdte' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
			END

		execute( @lv_sql )
		
	END


-- ------------------------------------------------------------------------
--   2 4    -    L I S T A R    G A S T O S		(no liquidados)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '24'
	BEGIN
		SET @lv_validop = 1
		
		-- hlt_prs_lqd_def '24','mdominguez','temasis_hlt','','','','20170106000000','20170731000000','59'
		
    select @lv_grpcuscod=dbo.GetTagValue('grpcuscod',sysdocclsatr) from sys_doc_cls where buscod=@lp_buscod and sysdocclscod= @lp_sysdocclscod
    
    -- 1. obtengo gastos
		SELECT b.buscod,
			'BUY_EXP' as refobjtyp, 
			b.buyexpcod as refobjcod001, 
			bd.BuyExpDocCod as refobjcod002,
			bd.BuyExpCod as hltprslqddoccodext,
      b.buyexpcodext,
			bt.BuyExpTypTxt as hltprslqddoctxt,
			bd.buyexpdocdte as hltprslqddocdte, 
			convert(varchar,bd.buyexpdocdte,103) as hltprslqddocdtecnv, 
			--bd.buyexpdoctot as hltprslqddoctot,
			sum(bd.BuyExpDocTot*(case bt.BuyExpTypCodExt when 'DTO' then -1 else 1 end)*(isnull(bi.buyexpdocimpqty,100)/100)) as hltprslqddoctot,
			'ARS' as refobjcurcod
		INTO #tmp_14
		FROM buy_exp b 
			inner join buy_exp_doc bd on bd.buscod=b.buscod and bd.buyexpcod=b.buyexpcod 
			inner join buy_exp_typ bt on bt.buscod=bd.buscod and bt.buyexptypcod=bd.buyexptypcod 
			left join buy_exp_doc_imp bi on bi.buscod=bd.buscod and bi.buyexpcod=bd.buyexpcod and bi.buyexpdoccod=bd.buyexpdoccod 
			left join HLT_PAT p on p.buscod=bi.buscod and bi.SrcObjTyp='HLT_PAT' and p.patcod=bi.SrcObjCod001
		WHERE b.buscod=@lp_buscod
		  and b.srcobjtyp='HLT_PRS'
		  and b.srcobjcod=@lp_prscod
		  and b.docsts='C'
		  and bd.buyexpdocdte between @lv_hltprslqdstrdte and @lv_hltprslqdenddte
		  and bt.docsts='A'
			and ( isnull(p.cuscod,0)=isnull(@lp_cuscod,0) or isnull(@lp_cuscod,0)=0 )
		  -- and ((isnull(@lv_grpcuscod,'')!='' and isnull(p.cuscod,0) = isnull(@lp_cuscod, isnull(p.cuscod,0) )) or isnull(@lv_grpcuscod,'')='' )
		group by b.buscod, b.buyexpcod, bd.BuyExpDocCod, bd.BuyExpCod, bt.BuyExpTypTxt, bd.buyexpdocdte, convert(varchar,bd.buyexpdocdte,103), b.buyexpcodext

		-- 9. listar gastos no liquidados
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' x.*, ld.hltprslqddoccod, ld.hltprslqdcod '
			+ ' FROM #tmp_14 x '
			+ ' left join HLT_PRS_LQD_DOC ld on ld.buscod=x.buscod and ld.refobjtyp=x.refobjtyp and ld.refobjcod001=x.refobjcod001 and ld.refobjcod002=x.refobjcod002 '
			+ ' WHERE ( ld.hltprslqddoccod is null ' + (case when isnull(@lp_hltprslqdcod,0)=0 then '' else ' OR ld.hltprslqdcod='+QUOTENAME(@lp_hltprslqdcod,'''') end) + ')'
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then ' x.hltprslqddocdte ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   3 3    -    L I S T A R    P R E S T A C I O N E S		(liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='33'
	BEGIN
		SET @lv_validop = 1
		
		-- hlt_prs_lqd_def '33','mdominguez','temasis_hlt','15'

		if ISNULL(@lp_sysdocclscod,0)=0
			select @lp_sysdocclscod=sysdocclscod from HLT_PRS_LQD where BusCod=@lp_buscod and HltPrsLqdCod=@lp_hltprslqdcod

		-- obtengo origen de datos para liquidaciÃ³n
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				SET @lv_srcobjtyp = isnull( (select top 1 dbo.getTagValue('srcobjtyp',sysdocclsatr) 
									from sys_doc_cls 
									where buscod=@lp_buscod 
									 and sysdocclscod=@lp_sysdocclscod),'')
				set @lv_srcobjtyp=(case when @lv_srcobjtyp='' then 'HLT_PCR' else @lv_srcobjtyp end) 
			end

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(varchar, ld.hltprslqddocdte, 103) as hltprslqddocdtecnv '
			+ ' FROM HLT_PRS_LQD_DOC ld '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.hltprslqdcod='+QUOTENAME(@lp_hltprslqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME(@lv_srcobjtyp,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' ld.refobjtyp, ld.hltprslqddoccodext, ld.hltprslqddocdte ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END


-- ------------------------------------------------------------------------
--   3 4    -    L I S T A R    G A S T O S					(liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='34'
	BEGIN
		SET @lv_validop = 1
		
		-- hlt_prs_lqd_def '34','mdominguez','temasis_hlt','12'
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(varchar, ld.hltprslqddocdte, 103) as hltprslqddocdtecnv '
			+ ' FROM HLT_PRS_LQD_DOC ld '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.hltprslqdcod='+QUOTENAME(@lp_hltprslqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME('BUY_EXP','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END



/* --------------------------------------------------------------------------------------	*/
/*   2 5    -    R E P O R T E    -    P R E S T A C I O N E S     V A L O R I Z A D A S	*/
/* --------------------------------------------------------------------------------------	*/
IF @lp_sysoperation ='25'
	BEGIN
		SET @lv_validop=1
    
    set @lv_sql = 'select ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
                  + ' cd.HltPlnCtrInbDte, cd.HltPlnCtrOutDte, pa.patcod, pa.pattxt, pr.prscod, pr.prstxt, cd.HltPlnCtrTme, '
                  + ' cd.HltPlnCtrQty, a.lndcod, a.lndregcod, lr.lndregtxt, dc.hltdisclscod, dc.hltdisclstxt, cus.cuscod, cus.custxt, '
                  + ' s.spccod, s.spctxt,  dbo.GetTagValue('+QUOTENAME('hltlqdspcprc', '''')+',ld.hltprslqddocatr001) as hltlqdspcprc, '
                  + ' dbo.GetTagValue('+QUOTENAME('hltlqdspcprcadd', '''')+',ld.hltprslqddocatr001) as hltlqdspcprcadd, l.hltlqdcatprc, '
                  + ' (case when dbo.GetTagValue('+QUOTENAME('hltlqdspcprc', '''')+', ld.hltprslqddocatr001)='+QUOTENAME('0', '''')+' then isnull(l.HltLqdCatPrc,0) else cast(dbo.GetTagValue('+QUOTENAME('hltlqdspcprc', '''')+', ld.hltprslqddocatr001) as decimal) end) + cast(dbo.GetTagValue('+QUOTENAME('hltlqdspcprcadd', '''')+', ld.hltprslqddocatr001) as decimal) as hltlqddocprc, ' 
                  + ' ld.hltprslqddoctot '
                  + ' from hlt_prs_lqd_doc ld '
                  + ' inner join hlt_prs_lqd l on l.buscod=ld.buscod and l.hltprslqdcod=ld.hltprslqdcod '
                  +	' inner join hlt_pln_ctr_dte cd on ld.buscod=cd.buscod and cd.hltplnctrcod=ld.refobjcod001 and cd.hltplnctrdtecod=ld.refobjcod002 and ld.refobjtyp='+QUOTENAME('HLT_PCR', '''')
                  + ' inner join hlt_pln_ctr c on c.buscod=cd.buscod and c.hltplnctrcod=cd.hltplnctrcod ' 
                  + ' inner join hlt_prs pr on pr.buscod=cd.buscod and pr.prscod=cd.prscod '
                  + ' inner join hlt_pat pa on pa.buscod=cd.buscod and pa.patcod=c.patcod '
                  + ' inner join sls_cus cus on cus.buscod=cd.buscod and cus.cuscod=pa.cuscod '
                  + ' inner join hlt_spc s on s.buscod=cd.buscod and s.spccod=c.spccod '
                  + ' left join grl_dat_adr a on a.buscod=pa.buscod and a.adrsrctyp='+QUOTENAME('HLT_PAT','''')+' and a.adrsrccod=pa.patcod '
                  + ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
                  + ' left join hlt_dis_cls dc on dc.buscod=pa.buscod and dc.hltdisclscod=pa.hltdisclscod '
                  + ' WHERE cd.buscod='+QUOTENAME(@lp_buscod,'''')
                  +	' and l.deldte is null '
                  + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
                  + dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
          
		execute (@lv_sql)
		
	END


/* ------------------------------------------------------------------------	*/
/*   2 6    -    R E P O R T E    -    P R E S T A C I O N E S     V A L O R I Z A D A S     A G R U P A D A S	*/
/* ------------------------------------------------------------------------	*/
IF @lp_sysoperation='26'
	BEGIN
		SET @lv_validop=1

		set @lv_sql = 'select ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
                    + ' pa.patcod, pa.pattxt, pr.prscod, pr.prstxt, sum(isnull(cd.HltPlnCtrTme, 0)) as tmetot, sum(isnull(cd.HltPlnCtrQty, 0)) as qtytot, '
                    + ' sum(ld.hltprslqddoctot) as hltprslqdtot '
                    + ' from hlt_prs_lqd_doc ld '
										+ ' inner join hlt_prs_lqd l on l.buscod=ld.buscod and l.hltprslqdcod=ld.hltprslqdcod '
										+	' inner join hlt_pln_ctr_dte cd on ld.buscod=cd.buscod and cd.hltplnctrcod=ld.refobjcod001 and cd.hltplnctrdtecod=ld.refobjcod002 and ld.refobjtyp='+QUOTENAME('HLT_PCR', '''')
										+ ' inner join hlt_pln_ctr c on c.buscod=cd.buscod and c.hltplnctrcod=cd.hltplnctrcod ' 
                    + ' inner join hlt_pat pa on pa.buscod=cd.buscod and pa.patcod=c.patcod '
										+ ' inner join hlt_prs pr on pr.buscod=cd.buscod and pr.prscod=cd.prscod '
                    + ' WHERE cd.buscod='+QUOTENAME(@lp_buscod,'''')
                    +	' and l.deldte is null '
                    + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
                    + ' GROUP BY pa.patcod, pr.prscod, pa.pattxt, pr.prstxt'
                    + dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
          
		execute (@lv_sql)

	END
	
	
	
/* ------------------------------------------------------------------------	*/
/*   2 7    -    R E P O R T E    -    P R E S T A C I O N E S     V A L O R I Z A D A S     x    P R E S T A D O R	*/
/* ------------------------------------------------------------------------	*/
IF @lp_sysoperation='27'
	BEGIN
		SET @lv_validop=1

		set @lv_sql = 'select ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
                    + ' pr.prscod, pr.prstxt, sum(isnull(cd.HltPlnCtrTme, 0)) as tmetot, sum(isnull(cd.HltPlnCtrQty, 0)) as qtytot, '
                    + ' sum(ld.hltprslqddoctot) as hltprslqdtot '
                    + ' from hlt_prs_lqd_doc ld '
										+ ' inner join hlt_prs_lqd l on l.buscod=ld.buscod and l.hltprslqdcod=ld.hltprslqdcod '
										+	' inner join hlt_pln_ctr_dte cd on ld.buscod=cd.buscod and cd.hltplnctrcod=ld.refobjcod001 and cd.hltplnctrdtecod=ld.refobjcod002 and ld.refobjtyp='+QUOTENAME('HLT_PCR', '''')
										+ ' inner join hlt_pln_ctr c on c.buscod=cd.buscod and c.hltplnctrcod=cd.hltplnctrcod ' 
										+ ' inner join hlt_prs pr on pr.buscod=cd.buscod and pr.prscod=cd.prscod '
                    + ' WHERE cd.buscod='+QUOTENAME(@lp_buscod,'''')
                    +	' and l.deldte is null '
                    + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
                    + ' GROUP BY pr.prscod, pr.prstxt'
                    + dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
                    
		execute (@lv_sql)
	
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
