USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_ORD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_ORD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_slsordcod		as int			= null,	-- id
@lp_slsordcodext	as nvarchar(20) = null,	-- codigo
@lp_slsordtxt		as nvarchar(50) = null,	-- descripcion
@lp_slsorddte		as nvarchar(14)	= null,	-- fecha documento
@lp_dstobjtyp 		as nvarchar(20)	= null,	-- origen - tipo
@lp_dstobjcod		as int			= null,	-- origen - id
@lp_dstcntcod		as int			= null,	-- origen - id contacto
@lp_slsordtotamt	as bigint		= null,	-- importe total (incluido iva e impuestos)
@lp_curcod			as nvarchar(5)	= null,	-- id moneda
@lp_curexcrte		as bigint		= null,	-- tipo de cambio
@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_sysdocclscod	as int			= null,	-- id clase documento
@lp_slsordstrdte	as nvarchar(14)	= null,	-- validez - inicio
@lp_slsordenddte	as nvarchar(14)	= null, -- validez - fin
@lp_slsprclstcod	as int			= null,	-- id lista precios
@lp_sysdocrejcod	as int			= null,	-- id motivo de rechazo
@lp_paytrmcod		as int			= null,	-- id condiciÃ³n pago

@lp_slsordmat	as nvarchar(max)	= null,	-- materiales del pedido
@lp_StkMovPrtCod as int			= null,	-- prioridad de entrega

@lp_slsordprc as nvarchar(max)		= null	-- precios 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtyp nvarchar(2)
DECLARE @lv_errmsg nvarchar(400)
DECLARE @lv_errtxt nvarchar(400)
DECLARE @lv_errvar nvarchar(400)

declare @lv_sql as nvarchar(max)

declare @lv_slsorddte as datetime = dbo.ConvertDate( @lp_slsorddte )
declare @lv_slsordtotamt as decimal(13,3) = dbo.ConvertNumber( @lp_slsordtotamt, 3)
declare @lv_curexcrte as decimal(9,5) = dbo.ConvertNumber( @lp_curexcrte, 5 )
declare @lv_slsordstrdte as smalldatetime = dbo.ConvertDate( @lp_slsordstrdte )
declare @lv_slsordenddte as smalldatetime = dbo.ConvertDate( @lp_slsordenddte )

declare @lv_slsorddtecnv as nvarchar(400)
declare @lv_slsordenddtecnv as nvarchar(400)
declare @lv_slsordstrdtecnv as nvarchar(400)
declare @lv_cteusr as nvarchar(20)

declare @lv_i as INT = 0

DECLARE @lv_slsordmatcod as INT = 0

declare @lv_objtyp as nvarchar(20)=null



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
    DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
    DECLARE @lv_autprgcod as nvarchar(3) = ''
    
  	if @lp_sysoperation='01' -- x clase de documento
    	set @lv_objtyp = (select top 1 objtyp from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod)
    if @lp_sysoperation='02' or @lp_sysoperation='03' or @lp_sysoperation='04' or @lp_sysoperation='09' -- x documento
    	set @lv_objtyp = (select top 1 dc.objtyp from sls_ord d inner join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod where dc.buscod=@lp_buscod and d.slsordcod=@lp_slsordcod)
  	if @lp_sysoperation='08'
    	begin
        if charindex( 'dc.objtyp='+QUOTENAME('SLS_ORD',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'SLS_ORD'
        if charindex( 'dc.objtyp='+QUOTENAME('SLS_QTA',''''), dbo.getTagValue('vewflt',@lp_vewcfg) )>0
          set @lv_objtyp = 'SLS_QTA'
  		end
    set @lv_autprgcod = (select substring(@lv_objtyp, 5, 3))
  
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- creo cabecera de documento
		INSERT INTO SLS_ORD (buscod, slsordcodext, slsordtxt, slsorddte, 
			slsordtotamt, curcod, curexcrte, slsordstrdte, slsordenddte, slsprclstcod,
			dstobjtyp, dstobjcod, dstcntcod, sysdocclscod, sysdoctrecod, paytrmcod, StkMovPrtCod,
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_slsordcodext, @lp_slsordtxt, @lv_slsorddte,  
			@lv_slsordtotamt, @lp_curcod, @lv_curexcrte, @lv_slsordstrdte, @lv_slsordenddte, @lp_slsprclstcod,
			@lp_dstobjtyp, @lp_dstobjcod, @lp_dstcntcod, @lp_sysdocclscod, 'N', @lp_paytrmcod, @lp_StkMovPrtCod,
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_slsordcod = @@IDENTITY
		
		-- MATERIALES. se asignan los materiales al pedido
    if @lv_errcod=0
      EXEC SLS_ORD_MAT_DEF @lp_sysoperation = '15_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
        @lp_slsordcod = @lp_slsordcod, @lp_curcod = @lp_curcod, @lp_docsts = 'A',
        @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT,
        @lp_slsordmat = @lp_slsordmat
        
    -- PRECIOS. se asignan los precios al material
		IF @lv_errcod=0
      EXEC GRL_DAT_PRC_DEF @lp_sysoperation = '15_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
      @lp_srcobjtyp = 'SLS_ORD', @lp_srcobjcod001 = @lp_slsordcod,  @lp_srcobjcod002 = '',
      @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT,
      @lp_grldatprc = @lp_slsordprc
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsordcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE SLS_ORD
		SET	slsordcodext = @lp_slsordcodext,
			slsordtxt = @lp_slsordtxt,
			slsorddte = @lv_slsorddte,
			dstobjtyp = @lp_dstobjtyp, 
			dstobjcod = @lp_dstobjcod,
			dstcntcod = @lp_dstcntcod,
			slsordtotamt = @lv_slsordtotamt,
			slsprclstcod = @lp_slsprclstcod,
			curcod = @lp_curcod,
			curexcrte = @lv_curexcrte, 
			slsordstrdte = @lv_slsordstrdte,
			slsordenddte = @lv_slsordenddte,
			sysdocrejcod = @lp_sysdocrejcod,
			paytrmcod = @lp_paytrmcod,
			StkMovPrtCod = @lp_StkMovPrtCod,
			docsts    = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and slsordcod=@lp_slsordcod
		SET @lv_errcod = @@ERROR
		
		-- MATERIALES. se asignan los materiales al pedido
    if @lv_errcod=0
      EXEC SLS_ORD_MAT_DEF @lp_sysoperation = '15_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
        @lp_slsordcod = @lp_slsordcod, @lp_curcod = @lp_curcod, @lp_docsts = 'A',
        @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT,
        @lp_slsordmat = @lp_slsordmat
        
    -- PRECIOS. se asignan los precios al material
		IF @lv_errcod=0
      EXEC GRL_DAT_PRC_DEF @lp_sysoperation = '15_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
        @lp_srcobjtyp = 'SLS_ORD', @lp_srcobjcod001 = @lp_slsordcod,  @lp_srcobjcod002 = '',
        @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT,
        @lp_grldatprc = @lp_slsordprc
      
    -- borro precios
    IF @lv_errcod=0 and not exists(select * from sls_ord_mat where buscod=@lp_buscod and slsordcod=@lp_slsordcod)
      EXEC GRL_DAT_PRC_DEF @lp_sysoperation = '14_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
      @lp_srcobjtyp = 'SLS_ORD', @lp_srcobjcod001 = @lp_slsordcod,  @lp_srcobjcod002 = null,
      @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT
    
    -- actualizo total en cabecera de pedido
    if @lv_errcod=0
    begin
      UPDATE SLS_ORD
      set slsordtotamt = @lv_slsordtotamt
      where buscod = @lp_buscod
        and slsordcod = @lp_slsordcod
      SET @lv_errcod = @@ERROR
    end
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slsordcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_dstobjtyp as nvarchar(20)
		declare @lv_dstobjcod as nvarchar(20)

		select top 1 @lv_dstobjtyp=dstobjtyp, @lv_dstobjcod=dstobjcod
		FROM sls_ord
		WHERE buscod=@lp_buscod
		  and slsordcod=@lp_slsordcod

		SELECT o.*, 
			dc.sysdocclstxt, 
			sa.adrnme001 as dstobjtxt, 
			sp.SlsPrcLstTxt, 
			sa.adrstr as dstobjadrstr, sa.adrcty as dstobjadrcty, 
			salr.lndregtxt as dstobjlndregtxt, 
			cn.CntTxt as dstcnttxt,
			dr.sysdocrejtxt, dt.sysdoctretxt, pt.paytrmtxt, mp.StkMovPrttxt 
		FROM sls_ord o
		left join SYS_DOC_CLS dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod
		left join sls_prc sp on sp.buscod=o.buscod and sp.SlsPrcLstCod=o.SlsPrcLstCod
		left join grl_dat_cnt cn on cn.buscod=o.buscod and cn.CntCod=o.dstCntCod
		left join grl_dat_adr sa on sa.buscod=o.buscod and sa.adrsrctyp=@lv_dstobjtyp and sa.adrsrccod=o.dstobjcod
		left join grl_dat_lnd_reg salr on salr.lndcod=sa.lndcod and salr.lndregcod=sa.lndregcod
		left join SYS_DOC_REJ dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod 
		left join SYS_DOC_TRE dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod 
		left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod 
		left join stk_mov_prt mp on mp.buscod=o.buscod and mp.StkMovPrtCod=o.StkMovPrtCod
		WHERE o.buscod = @lp_buscod
		  and o.slsordcod = @lp_slsordcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_errtxt = ''
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join sls_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slsordcod=@lp_slsordcod)

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_slsordcod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
		
		-- borro textos
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'SLS_ORD', @lp_slsordcod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro materiales del documento
    declare lc_cur cursor for select slsordmatcod from sls_ord_mat where buscod=@lp_buscod and slsordcod=@lp_slsordcod
		open lc_cur
		fetch next from lc_cur into @lv_slsordmatcod
    
    set @lv_i = 0
		while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito
    begin
      exec SLS_ORD_MAT_DEF '04_sp',@lp_username,@lp_buscod,@lp_slsordcod,@lv_slsordmatcod,
        null, null, null, null, null, null, null, null, null, 
        null, null, null, null, null, null,
        @lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT, @lv_errmsg OUTPUT, @lv_errvar OUTPUT
      
			fetch next from lc_cur into @lv_slsordmatcod
      
      set @lv_i = @lv_i + 1
    end
		
    close lc_cur
		deallocate lc_cur
		
    -- borro precios
		IF @lv_errcod=0
      EXEC GRL_DAT_PRC_DEF @lp_sysoperation = '14_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
      @lp_srcobjtyp = 'SLS_ORD', @lp_srcobjcod001 = @lp_slsordcod,  @lp_srcobjcod002 = null,
      @lp_errcod = @lv_errcod OUTPUT, @lp_errtxt = @lv_errtxt OUTPUT
      
		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_ORD
				WHERE buscod = @lp_buscod
				  and slsordcod = @lp_slsordcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_slsordcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		set @lv_slsorddtecnv = 'convert(varchar,o.slsorddte,103)'
		set @lv_slsordstrdtecnv = 'convert(varchar,o.slsordstrdte,103)'
		set @lv_slsordenddtecnv = 'convert(varchar,o.slsordenddte,103)'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' o.*, dc.sysdocclstxt, sp.SlsPrcLstTxt, cn.cnttxt as dstcnttxt, scnta.adrstr as dstcntadrstr, scnta.adrstrnum, scnta.adrstrflr, scnta.adrstrunt, scnta.adrstrbld, scnta.adrzon, scnta.adrtwn, scntl.lndtxt as dstcntlndtxt, scntlr.lndregtxt as dstcntlndregtxt, dr.sysdocrejtxt, dt.sysdoctretxt, mp.StkMovPrttxt, sa.adrnme001 as dstobjtxt, '
			+ @lv_slsorddtecnv + ' as slsorddtecnv, '
			+ @lv_slsordstrdtecnv + ' as slsordstrdtecnv, '
			+ @lv_slsordenddtecnv + ' as slsordenddtecnv, pt.paytrmtxt ',
			' sls_ord o '
			+ ' inner join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' inner join grl_dat_adr sa on sa.buscod=o.buscod and sa.adrsrctyp=o.dstobjtyp and sa.adrsrccod=cast(o.dstobjcod as nvarchar(20))'                                     
			+ ' left join sls_prc sp on sp.buscod=o.buscod and sp.SlsPrcLstCod=o.SlsPrcLstCod '
			+ ' left join grl_dat_cnt cn on cn.buscod=o.buscod and cn.CntCod=o.dstCntCod '
			+ ' left join grl_dat_adr scnta on scnta.buscod=cn.buscod and scnta.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and scnta.adrsrccod=cast(cn.cntcod as nvarchar(20)) '
			+ ' left join grl_dat_lnd scntl on scntl.lndcod=scnta.lndcod '
			+ ' left join grl_dat_lnd_reg scntlr on scntlr.lndcod=scnta.lndcod and scntlr.lndregcod=scnta.lndregcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=o.buscod and dr.sysdocrejcod=o.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=o.buscod and dt.sysdoctrecod=o.sysdoctrecod '
			+ ' left join fin_pay_trm pt on pt.buscod=o.buscod and pt.paytrmcod=o.paytrmcod '
			+ ' left join stk_mov_prt mp on mp.buscod=o.buscod and mp.StkMovPrtCod=o.StkMovPrtCod ',
			' o.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('SLS_ORD','''')+', dc.autcod)=1 '
			+ dbo.GetUserRestrictions(@lp_buscod,@lp_username,'<objref>o.dstobjtyp,o.dstobjcod</objref>'),
      ' o.ctedte desc ','dstobjtxt;sa.adrnme001'+char(10)+'dstcnttxt;cn.cnttxt'+char(10)+'slsorddtecnv;o.slsorddte'+char(10)+'slsordstrdtecnv;o.slsordstrdte'+char(10)+'slsordenddtecnv;o.slsordenddte'+char(10)+'cteusr;o.cteusr')
		execute( @lv_sql )

	END

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El codigo de operacion <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
