USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_EVL_ATR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_PAT_EVL_ATR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_evlcod			as int,					/* id evolucion */
@lp_evlatrcod		as int			= null,	/* id evol-atr */
@lp_medatrcod		as int			= null,	/* id atributo */
@lp_medatrval001	as nvarchar(10)	= null,	/* val001 */
@lp_medatrval002	as nvarchar(10)	= null,	/* val002 */
@lp_medatrval003	as nvarchar(10)	= null,	/* val003 */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)= null,/* config vista */

@lp_EvlAtrGrpCod	as int			= null	/* id grupo de atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int
SET @lv_errcod=0

declare @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_PAT_EVL_ATR (buscod, evlcod, medatrcod, medatrval001, medatrval002, medatrval003, EvlAtrGrpCod, docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_evlcod, @lp_medatrcod, @lp_medatrval001, @lp_medatrval002, @lp_medatrval003, @lp_EvlAtrGrpCod, @lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_evlatrcod=@@IDENTITY
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlatrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_PAT_EVL_ATR
		SET medatrval001 = @lp_medatrval001, 
			medatrval002 = @lp_medatrval002, 
			medatrval003 = @lp_medatrval003,
			evlatrgrpcod = @lp_EvlAtrGrpCod
		WHERE buscod = @lp_buscod
		  and evlcod = @lp_evlcod
		  and evlatrcod = @lp_evlatrcod
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlatrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt


	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SElECT a.*, ma.medatrcodext, ma.medatrtxt
		FROM hlt_pat_evl_atr a
			left join hlt_med_atr ma on ma.buscod=a.buscod and ma.medatrcod=a.medatrcod
		WHERE a.buscod=@lp_buscod
		  and a.evlcod=@lp_evlcod
		ORDER by a.EvlAtrGrpCod, ma.medatrord

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
