USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_SVC_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SLS_SVC_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_slssvccod		as int			= null,	-- id registro 
@lp_slssvcmatcod	as int			= null,	-- id documento 
@lp_matcod			as int			= null,	-- id material 
@lp_mattxt			as nvarchar(50)	= null,	-- descripcion 
@lp_matqty			as bigint		= null,	-- cantidad 
@lp_matuntcod		as nvarchar(20)	= null,	-- UM 
@lp_matprc			as bigint		= null,	-- precio unitario 
@lp_mattot			as bigint		= null,	-- total 
@lp_curcod			as nvarchar(5)	= null,	-- id moneda 
@lp_docsts			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(4000)=null,	-- configuraciÃ³n vista 
@lp_slssvcmatatr	as nvarchar(4000)=null,	-- atributos 

@lp_slssvcstrdte	as nvarchar(14)	= null,	-- fecha inicio 
@lp_slssvcenddte	as nvarchar(14)	= null	-- fecha fin 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(max)
declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty , 3 )
declare @lv_matprc as decimal(13,3) = dbo.ConvertNumber( @lp_matprc , 3 )
declare @lv_mattot as decimal(13,3) = dbo.ConvertNumber( @lp_mattot , 3 )
declare @lv_slssvcstrdte as smalldatetime = dbo.ConvertDate( @lp_slssvcstrdte )
declare @lv_slssvcenddte as smalldatetime = dbo.ConvertDate( @lp_slssvcenddte )

declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_objtyp as nvarchar(20)


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento 
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join SLS_SVC d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slssvccod=@lp_slssvccod)

		BEGIN TRAN

		INSERT INTO SLS_SVC_MAT (buscod, slssvccod, matcod, mattxt, matqty, matuntcod, matprc, mattot, curcod, slssvcmatatr, 
			slssvcstrdte, slssvcenddte, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_slssvccod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matprc, @lv_mattot, @lp_curcod, @lp_slssvcmatatr, 
			@lv_slssvcstrdte, @lv_slssvcenddte, 
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_slssvcmatcod = @@IDENTITY
    
   -- agrego la referencia (documento como posicion)
		/*IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,'SLS_SVC',@lp_slssvccod,@lp_docrefposcod,@lv_objtyp,@lp_slsinvcod,@lp_slsinvmatcod,@lp_matqty,@lp_matuntcod,@lv_srcobjclscod,@lv_refobjclscod,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT */

		-- actualizo total de cabecera 
		if @lv_errcod=0
			begin
				update SLS_SVC
				set slssvcTotAmt = (select SUM(mattot) from SLS_SVC_MAT where BusCod=@lp_buscod and slssvcCod=@lp_slssvccod)
				where BusCod=@lp_buscod
				  and slssvcCod=@lp_slssvccod
				SET @lv_errcod = @@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_slssvcmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento 
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join SLS_SVC d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slssvccod=@lp_slssvccod)

		BEGIN TRAN

		UPDATE SLS_SVC_MAT 
		SET matcod	= @lp_matcod,
			mattxt	= @lp_mattxt, 
			matqty	= @lv_matqty, 
			matuntcod	= @lp_matuntcod,
			matprc	= @lv_matprc,
			mattot	= @lv_mattot,
			CurCod	= @lp_curcod, 
			slssvcmatatr = @lp_slssvcmatatr, 
			slssvcstrdte=@lv_slssvcstrdte,
			slssvcenddte=@lv_slssvcenddte,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and slssvccod = @lp_slssvccod 
		  and slssvcmatcod = @lp_slssvcmatcod
		SET @lv_errcod=@@ERROR

		-- actualizo total de cabecera 
		if @lv_errcod=0
			begin
				update SLS_SVC
				set slssvcTotAmt = (select SUM(mattot) from SLS_SVC_MAT where BusCod=@lp_buscod and slssvcCod=@lp_slssvccod)
				where BusCod=@lp_buscod
				  and slssvcCod=@lp_slssvccod
				SET @lv_errcod = @@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_slssvcmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END
	


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT om.*
		FROM SLS_SVC_mat om 
		WHERE om.buscod=@lp_buscod
		  and om.slssvccod = @lp_slssvccod
		  and om.slssvcmatcod = @lp_slssvcmatcod
		
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento 
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join SLS_SVC d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slssvccod=@lp_slssvccod)
		
		BEGIN TRAN

		-- borro la posiciÃ³n del documento 
		IF @lv_errcod=0
			BEGIN		
				DELETE
				FROM SLS_SVC_MAT 
				WHERE buscod=@lp_buscod
				  and slssvccod = @lp_slssvccod
				  and slssvcmatcod = @lp_slssvcmatcod
				SET @lv_errcod=@@ERROR
			END

		-- actualizo total de cabecera 
		if @lv_errcod=0
			begin
				update SLS_SVC
				set slssvcTotAmt = (select SUM(mattot) from SLS_SVC_MAT where BusCod=@lp_buscod and slssvcCod=@lp_slssvccod)
				where BusCod=@lp_buscod
				  and slssvcCod=@lp_slssvccod
				SET @lv_errcod = @@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if isnull(@lv_errtxt,'')=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end
		
		SELECT @lp_slssvcmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END
	


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- SLS_SVC_mat_def '08','temasis','temasis_hlt' 

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' om.*, convert(varchar,o.slssvcdte,103) as slssvcdtecnv, convert(varchar,om.slssvcstrdte,103) as slssvcstrdtecnv, convert(varchar,om.slssvcenddte,103) as slssvcenddtecnv, o.slssvccodext, '
			+ ' m.matcodext, m.docsts as matdocsts, o.curcod, cur.cursgn ',
			' SLS_SVC_MAT om '
			+ ' left join SLS_SVC o on o.buscod=om.buscod and o.slssvccod=om.slssvccod '
			+ ' left join stk_mat m on m.buscod=om.buscod and m.matcod=om.matcod '
			+ ' left join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join adm_cur cur on cur.curcod=om.curcod ',
			' om.buscod='+QUOTENAME(@lp_buscod, ''''),
			' m.mattxt ', default )
		execute( @lv_sql )
		
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
