USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAN_ORD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAN_ORD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmanordcod as int	= null,							-- id
@lp_stkmanordcodext as nvarchar(20) = null,	-- codigo
@lp_stkmanordtxt as nvarchar(80) = null,		-- descripcion
@lp_stkmanorddte 	as nvarchar(14)	= null,		-- fecha
@lp_stkmanordatr as nvarchar(max)= null,		-- atributos
@lp_docsts 			as nvarchar(2) = null,			-- estado
@lp_sysdocclscod	as int = null,						-- id clase documento
@lp_sysdocrejcod	as int = null,						-- id motivo de rechazo
@lp_rspobjcod	as  nvarchar(20) = null,			-- responsable - id
@lp_rspobjtxt as nvarchar(250) = null,			-- responsable - nombre
@lp_rspobjtyp	as  nvarchar(20) = null,			-- responsable - tipo
@lp_vewcfg			as nvarchar(max)= null,			-- configuraciÃ³n vista
@lp_docreftyp			as nvarchar(20)	= null,		-- doc referencia - tipo
@lp_docrefcod			as int					= null,		-- doc referencia - id documento
@lp_docrefposcod	as int					= null		-- doc referencia - id posicion

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_errtxt as nvarchar(MAX) = ''

declare @lv_stkmanorddte as smalldatetime = dbo.ConvertDate( @lp_stkmanorddte )

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MCO'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		-- agrego cabecera de documento
		INSERT INTO STK_MAN_ORD (buscod, stkmanordcodext, stkmanordtxt, stkmanorddte, stkmanordatr,
                             sysdocclscod, sysdoctrecod, sysdocrejcod, rspobjcod, rspobjtxt, rspobjtyp,
                             docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stkmanordcodext, @lp_stkmanordtxt, @lv_stkmanorddte, @lp_stkmanordatr,
            @lp_sysdocclscod, 'N', @lp_sysdocrejcod, @lp_rspobjcod, @lp_rspobjtxt, @lp_rspobjtyp,
            @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmanordcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanordcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END  



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE STK_MAN_ORD
		SET	stkmanordcodext = @lp_stkmanordcodext,
			stkmanordtxt = @lp_stkmanordtxt,
			stkmanorddte = @lv_stkmanorddte,
			sysdocrejcod = @lp_sysdocrejcod,
      rspobjcod = @lp_rspobjcod,
      rspobjtxt = @lp_rspobjtxt,
      rspobjtyp = @lp_rspobjtyp,
			docsts = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmanordcod=@lp_stkmanordcod
		  and not docsts = 'C'
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmanordcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END
  
  
  
-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT sk.*, dc.sysdocclstxt, a.adrnme001 as srcobjtxt, dt.sysdoctretxt
		FROM stk_man_ord sk
		inner join sys_doc_cls dc on dc.buscod=sk.buscod and dc.sysdocclscod=sk.sysdocclscod
		left join sys_doc_tre dt on dt.buscod=sk.buscod and dt.sysdoctrecod=sk.sysdoctrecod
    left join GRL_DAT_ADR a on(a.buscod=sk.buscod or a.buscod='_SYS') and a.adrsrctyp=sk.rspobjtyp and a.adrsrccod=sk.rspobjcod
		WHERE sk.buscod=@lp_buscod
		  and sk.stkmanordcod = @lp_stkmanordcod
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		declare @lv_objtyp as nvarchar(20) = (select objtyp from SYS_DOC_CLS dc inner join STK_MAN_ORD s on s.buscod=dc.buscod and s.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and s.stkmanordcod=@lp_stkmanordcod)

		BEGIN TRAN
  
		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_stkmanordcod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro materiales del documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_ORD_MAT
				WHERE buscod = @lp_buscod
				  and stkmanordcod = @lp_stkmanordcod
				SET @lv_errcod=@@ERROR
			END

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_ORD
				WHERE buscod = @lp_buscod
				  and stkmanordcod = @lp_stkmanordcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_stkmanordcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
		
    SET @lv_sql = dbo.getSqlSentence( @lp_vewcfg, 'r.*, dc.sysdocclstxt, (case when ISNULL(r.rspobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' then r.rspobjtxt else a.adrnme001 end) as rsptxt, dt.sysdoctretxt',
                                      'STK_MAN_ORD r '
                                       + 'INNER JOIN SYS_DOC_CLS dc ON dc.buscod=r.buscod AND dc.sysdocclscod=r.sysdocclscod '
                                       + 'LEFT JOIN GRL_DAT_ADR a on(a.buscod=r.buscod or a.buscod='+QUOTENAME('_SYS', '''')+') and a.adrsrctyp=r.rspobjtyp and a.adrsrccod=r.rspobjcod '                                     
                                       + 'left join sys_doc_tre dt on dt.buscod=r.buscod and dt.sysdoctrecod=r.sysdoctrecod',
                                      'r.buscod='+QUOTENAME(@lp_buscod, ''''),
                                      'r.stkmanordcod DESC', 'rsptxt;(case when ISNULL(r.rspobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' then r.rspobjtxt else a.adrnme001 end)' )

  	execute( @lv_sql )

  END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
