USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MOD_PRC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HLT_MOD_PRC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_prclstcod		as int			= null,	/* id lista de precios */
@lp_prclstver		as int			= null,	/* id version */
@lp_prclsttxt		as nvarchar(40)	= null,	/* nombre lista precios */
@lp_curcod			as nvarchar(5)	= null, /* id moneda */
@lp_cuscod			as int			= null, /* id cliente */
@lp_prclststrdte	as nvarchar(14)	= null, /* fecha inicio */
@lp_prclstenddte	as nvarchar(14)	= null, /* fecha fin */
@lp_docsts 			as nvarchar(1)	= null, /* estado */
@lp_vewcfg			as nvarchar(400)= null  /* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_prclstver		as int

declare @lv_prclststrdte	as datetime
SET @lv_prclststrdte = dbo.ConvertDate( @lp_prclststrdte )

declare @lv_prclstenddte	as datetime
SET @lv_prclstenddte = dbo.ConvertDate( @lp_prclstenddte )

declare @lv_sql as nvarchar(4000)
	
	
	
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO HLT_MOD_PRC (buscod, prclsttxt, curcod, cuscod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_prclsttxt, @lp_curcod, @lp_cuscod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod = @@ERROR
		SET @lp_prclstcod = @@IDENTITY

		IF @lv_errcod=0
			BEGIN
				INSERT INTO HLT_MOD_PRC_VER (buscod, prclstcod, prclststrdte, prclstenddte, docsts, cteusr, ctedte )
				VALUES (@lp_buscod, @lp_prclstcod, @lv_prclststrdte, @lv_prclstenddte, @lp_docsts, @lp_username, getdate())
				SET @lv_errcod = @@ERROR
				SET @lp_prclstver = @@IDENTITY
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prclstcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt, @lp_prclstver as prclstver

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_MOD_PRC 
		SET prclsttxt = @lp_prclsttxt,
			cuscod = @lp_cuscod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and prclstcod=@lp_prclstcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prclstcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt, @lp_prclstver as prclstver

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		/* si se informó número de versión, obtengo las fechas de ese número de versión */
		if ( not isnull(@lp_prclstver,0)=0 )
			BEGIN
				SELECT	@lv_prclstver    = v.prclstver,
						@lv_prclststrdte = v.prclststrdte,
						@lv_prclstenddte = v.prclstenddte
				FROM HLT_MOD_PRC_VER v
				WHERE v.buscod=@lp_buscod
				  and v.prclstcod = @lp_prclstcod
				  and v.prclstver = @lp_prclstver
			END

		/* si no se informó número de versión busco la versión para el día actual */
		ELSE
			BEGIN
				SELECT	@lv_prclstver    = v.prclstver,
						@lv_prclststrdte = v.prclststrdte,
						@lv_prclstenddte = v.prclstenddte
				FROM HLT_MOD_PRC_VER v
				WHERE v.buscod=@lp_buscod
				  and v.prclstcod=@lp_prclstcod
				  and getdate() between v.prclststrdte and v.prclstenddte
			END

		SELECT p.*, c.custxt, m.curtxt, @lv_prclststrdte as prclststrdte, @lv_prclstenddte as prclstenddte, @lv_prclstver as prclstver
		FROM HLT_MOD_PRC p 
			left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod
			left join grl_dat_adr a on a.buscod=c.buscod and a.adrnum=c.adrnum
			left join adm_cur m on m.curcod=p.curcod
		WHERE p.buscod=@lp_buscod
		  and p.prclstcod=@lp_prclstcod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN

		SET @lv_validop = 1    

		BEGIN TRAN

		/* borro contenido de listas de precio */
		DELETE FROM HLT_MOD_PRC_LST WHERE buscod=@lp_buscod and prclstcod=@lp_prclstcod
		SET @lv_errcod = @@ERROR
		
		/* borro versiones */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM HLT_MOD_PRC_VER WHERE buscod=@lp_buscod and prclstcod=@lp_prclstcod
				SET @lv_errcod = @@ERROR
			END

		/* borro lista de precios */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM HLT_MOD_PRC WHERE buscod=@lp_buscod and prclstcod=@lp_prclstcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prclstcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt, @lp_prclstver as prclstver

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1   
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, c.custxt '
			+ '	FROM HLT_MOD_PRC p '
			+   ' left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod '
			+   ' left join grl_dat_adr a on a.buscod=c.buscod and a.adrnum=c.adrnum '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 9    -    R E P O R T E												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, 
			c.custxt, c.docsts as cusdocsts, 
			v.prclststrdte, v.prclstenddte, 
			l.prc, l.matqty, l.matuntcod, 
			m.matcod, m.mattxt, m.matcst, m.matcstcurcod, m.matcstqty, m.matcstuntcod, 
			cast( (case when l.matuntcod=m.matcstuntcod and l.matqty<>0 and m.matcst<>0 and m.matcstqty<>0 then ((l.prc/l.matqty)/(case when (m.matcst/m.matcstqty)=0 then 1 else (m.matcst/m.matcstqty) end) )-1 else 0 end) as decimal(13,4)) as prcprj
		INTO #tmp_prc
		FROM HLT_MOD p
		left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod
		left join grl_dat_adr a on a.buscod=c.buscod and a.adrnum=c.adrnum
		left join HLT_MOD_prc_ver v on v.buscod=p.buscod --and v.prclstcod=p.prclstcod
		left join HLT_MOD_lst l on l.buscod=v.buscod and l.prclstcod=v.prclstcod and l.prclstver=v.prclstver
		left join HLT_MOD m on m.buscod=p.buscod and m.hltmodcod=l.hltmodcod
		WHERE p.buscod=@lp_buscod
		  and ( convert(nvarchar,@lv_prclststrdte,120) between v.prclststrdte and v.prclstenddte )
		  and isnull(p.cuscod,0)=(case when isnull(@lp_cuscod,0)=0 then 0 else @lp_cuscod end)
		  and p.docsts='A'
		  and v.docsts='A'
		  and l.docsts='A'
		  and m.docsts='A'

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ '	FROM #tmp_prc '
			+ ' WHERE ' + (case when isnull(@lp_cuscod,0)=0 then ' 1=1 ' else ' cusdocsts='+QUOTENAME('A', '''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END
	
	
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
