USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_PRC_CND_ACC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_PRC_CND_ACC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_prccndacccod	as int			= null,	-- id
@lp_prccndacccodext	as nvarchar(20) = null,	-- codigo
@lp_prccndacctxt	as nvarchar(50)	= null,	-- descripciÃ³n
@lp_prccndaccatr	as nvarchar(max)= null,	-- atributos-campos
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- config vista


AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not isnull(@lp_prccndacccodext,'')=''
			if exists(select top 1 * from GRL_PRC_CND_ACC where buscod=@lp_buscod and not prccndacccod=@lp_prccndacccod and prccndacccodext=@lp_prccndacccodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DUPLICATEEXTCODE' as errmsg
					RETURN
				end

	end

IF @lp_sysoperation = '04'
	BEGIN
		IF exists(select top 1 * from GRL_PRC_CND_ACC_SEQ 
			where buscod=@lp_buscod and prccndacccod=@lp_prccndacccod
			and (prccndacccod IN (SELECT prccndacccod FROM GRL_PRC_CND_ACC where PrcCndAccSynCod = @lp_prccndacccod)) )
			begin
				select 'E' as errtyp, -41 as errcod, 'CANNOTDELETEUSEDINCONDITION' as errmsg
				return
			end
  END
  
    

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		-- creo acceso de condicion
		INSERT INTO GRL_PRC_CND_ACC	(buscod, prccndacccodext, prccndacctxt, prccndaccatr, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_prccndacccodext, @lp_prccndacctxt,@lp_prccndaccatr, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_prccndacccod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE GRL_PRC_CND_ACC  
		SET	prccndacccodext = @lp_prccndacccodext,
			prccndacctxt= @lp_prccndacctxt,
			prccndaccatr = @lp_prccndaccatr,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and prccndacccod = @lp_prccndacccod

		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pca.*
		FROM GRL_PRC_CND_ACC pca
		WHERE pca.buscod = @lp_buscod
		  and pca.prccndacccod = @lp_prccndacccod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM GRL_PRC_CND_ACC
		WHERE buscod = @lp_buscod
		  and prccndacccod = @lp_prccndacccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prccndacccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' pca.* ',
			' GRL_PRC_CND_ACC pca ',
			' pca.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and pca.docsts='+QUOTENAME(@lp_docsts,'''') end) ,
			default, default)
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END


GO
