USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_ORG_CHT_WRK_EMP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_ORG_CHT_WRK_EMP_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrorgchtwrkempcod	as int			= null,	-- id
@lp_hhrorgchtwrkcod		as int			= null,	-- id empleado
@lp_hhremptmecod	as int	= null,	-- fecha inicio
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_errtyp	as nvarchar(1) = null OUTPUT,
@lp_errcod	as int = null OUTPUT,
@lp_errtxt	as nvarchar(400) = null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_sql as nvarchar(max)

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '01'
			BEGIN TRAN
		
		INSERT INTO HHR_ORG_CHT_WRK_EMP (buscod, hhrorgchtwrkcod, hhremptmecod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrorgchtwrkcod, @lp_hhremptmecod, @lp_docsts, getdate(), @lp_username)
		SET @lp_errcod=@@ERROR
		SET @lp_hhrorgchtwrkempcod=@@IDENTITY
		
    IF @lp_sysoperation = '01'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkempcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '02_sp'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation = '02'
			BEGIN TRAN
		
                
                  
		UPDATE HHR_ORG_CHT_WRK_EMP
		SET	hhremptmecod = @lp_hhremptmecod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hhrorgchtwrkempcod = @lp_hhrorgchtwrkempcod
		SET @lp_errcod=@@ERROR
		
		IF @lp_sysoperation = '02'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkempcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT we.*
		FROM HHR_ORG_CHT_WRK_EMP we
		inner join HHR_ORG_CHT_WRK w on w.buscod=we.buscod and w.hhrorgchtwrkcod=we.hhrorgchtwrkcod
		inner join HHR_EMP_TME t on t.buscod=we.buscod and t.hhremptmecod=we.hhremptmecod
		WHERE we.buscod=@lp_buscod
		  and we.hhrorgchtwrkempcod=@lp_hhrorgchtwrkempcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '04_sp'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '04'
			BEGIN TRAN

    DELETE
    FROM HHR_ORG_CHT_WRK_EMP
    WHERE buscod = @lp_buscod
      and hhrorgchtwrkempcod = @lp_hhrorgchtwrkempcod
    SET @lp_errcod=@@ERROR

    IF @lp_sysoperation = '04'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkempcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' we.*, t.hhrempcod, e.hhremptxt, p.wrkplccod, p.wrkplctxt, r.hhrtmerngcod, r.hhrtmerngtxt, t.wrkstepft, t.hhremptmestr, r.hhrtmerngwekhrs '
			+ ' FROM HHR_ORG_CHT_WRK_EMP we '
			+ ' inner join HHR_ORG_CHT_WRK w on w.buscod=we.buscod and w.hhrorgchtwrkcod=we.hhrorgchtwrkcod '
			+ ' inner join HHR_EMP_TME t on t.buscod=we.buscod and t.hhremptmecod=we.hhremptmecod '
			+ ' inner join HHR_EMP e on e.buscod=t.buscod and e.hhrempcod=t.hhrempcod '
			+ ' inner join HHR_WRK_PLC p on p.buscod=t.buscod and p.wrkplccod=t.wrkplccod '
			+ ' inner join HHR_TME_RNG r on r.buscod=t.buscod and r.hhrtmerngcod=t.hhrtmerngcod '
			+ ' WHERE we.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 4    -    B O R R A D O		M A S I V O													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '14' or @lp_sysoperation = '14_sp'
	BEGIN
		SET @lv_validop = 1    
		
		IF @lp_sysoperation = '14'
			BEGIN TRAN

    
    If ( select dbo.GetTagValue('emptmedltlnk', sysdocclsatr)
      from sys_doc_cls c
        inner join hhr_org_cht o on o.buscod=c.buscod and o.sysdocclscod=c.sysdocclscod
        inner join hhr_org_cht_wrk w on w.buscod=c.buscod and w.hhrorgchtcod = o.hhrorgchtcod
      where c.buscod=@lp_buscod and w.hhrorgchtwrkcod = @lp_hhrorgchtwrkcod )!=''
      BEGIN

        DELETE t 
        FROM HHR_EMP_TME t
        inner join hhr_org_cht_wrk_emp e on e.buscod = t.buscod and e.hhremptmecod = t.hhremptmecod
        WHERE e.buscod=@lp_buscod and e.hhrorgchtwrkcod = @lp_hhrorgchtwrkcod
        SET @lp_errcod=@@ERROR

      END
      
		DELETE
		FROM HHR_ORG_CHT_WRK_EMP
		WHERE buscod = @lp_buscod
		  and hhrorgchtwrkcod = @lp_hhrorgchtwrkcod
		SET @lp_errcod=@@ERROR
		
    IF @lp_sysoperation = '14'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkempcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
