USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LAB_UNI_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HHR_LAB_UNI_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrlabunicod	as int			= null,	-- id
@lp_hhrlabunicodext	as nvarchar(20)	= null,	-- codigo externo
@lp_hhrlabunitxt	as nvarchar(50)	= null,	-- descripción
@lp_hhrlabuniatr	as nvarchar(max)= null,	-- atributos
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	Codigo externo existente
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_hhrlabunicodext=''
			if exists(select top 1 * from HHR_LAB_UNI where buscod=@lp_buscod and not hhrlabunicod=@lp_hhrlabunicod and hhrlabunicodext=@lp_hhrlabunicodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego sindicato
		INSERT INTO HHR_LAB_UNI (buscod, hhrlabunicodext, hhrlabunitxt, hhrlabuniatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrlabunicodext, @lp_hhrlabunitxt, @lp_hhrlabuniatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrlabunicod=@@IDENTITY
		
		-- agrego sindicato en empresas sincronizadas
		if @lv_errcod=0
			begin
				INSERT INTO HHR_LAB_UNI (buscod, hhrlabunicodext, hhrlabunitxt, hhrlabuniatr, docsts, ctedte, cteusr, HhrLabUniSynCod)
				SELECT buscod, @lp_hhrlabunicodext, @lp_hhrlabunitxt, @lp_hhrlabuniatr, @lp_docsts, getdate(), @lp_username, @lp_hhrlabunicod
				FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN',@lp_buscod)
				set @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlabunicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_LAB_UNI 
		SET	hhrlabunicodext = @lp_hhrlabunicodext,
			hhrlabunitxt = @lp_hhrlabunitxt,
			hhrlabuniatr = @lp_hhrlabuniatr, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE (buscod=@lp_buscod and hhrlabunicod=@lp_hhrlabunicod)
		   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and HhrLabUniSynCod=@lp_hhrlabunicod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlabunicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM HHR_LAB_UNI c
		WHERE c.buscod=@lp_buscod
		  and c.hhrlabunicod=@lp_hhrlabunicod
	
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		IF exists(select top 1 * from hhr_chr_asg where (buscod=@lp_buscod and hhrlabunicod=@lp_hhrlabunicod)
				or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_SysAppMdlPrm('HHR_DAT_SYN', @lp_buscod))
			  and (HhrLabUniCod in (select HhrLabUniCod from HHR_LAB_UNI where HhrLabUniSynCod=@lp_hhrlabunicod)) ))
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Se encuentra asignado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		DELETE
		FROM HHR_LAB_UNI
		WHERE (buscod = @lp_buscod and hhrlabunicod=@lp_hhrlabunicod)
		   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and HhrLabUniSynCod=@lp_hhrlabunicod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlabunicod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' c.* '
			+ ' FROM HHR_LAB_UNI c '
			+ ' WHERE c.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END




GO
