USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CLS_FLE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_DOC_CLS_FLE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysdocclsflecod	as int			= null,	/* id */
@lp_fletypcod		as int = null,  /* Tipo de archivo */
@lp_sysdocclscod	as int			= null,	/* id clase de documento */
@lp_sysdocclsfleatr	as nvarchar(4000)= null, /* atributos */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuraciÃ³n ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0
 
declare @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
    
		INSERT INTO SYS_DOC_CLS_FLE (buscod, sysdocclscod,  sysdocclsfleatr, docsts, cteusr, ctedte, fletypcod)
		SELECT @lp_buscod, @lp_sysdocclscod, @lp_sysdocclsfleatr, @lp_docsts, @lp_username, getdate(), @lp_fletypcod	
		SET @lv_errcod=@@ERROR
		SET @lp_sysdocclsflecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsflecod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_CLS_FLE 
		SET	sysdocclscod = @lp_sysdocclscod,
			sysdocclsfleatr = @lp_sysdocclsfleatr,
			docsts = @lp_docsts,
      fletypcod = @lp_fletypcod,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocclsflecod = @lp_sysdocclsflecod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsflecod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_CLS_FLE dcf
		WHERE dcf.buscod = @lp_buscod
		  and dcf.sysdocclsflecod = @lp_sysdocclsflecod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
	
		BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_CLS_FLE
		WHERE buscod=@lp_buscod
		  and sysdocclsflecod = @lp_sysdocclsflecod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsflecod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1
		    
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dcf.*, ct.sysdocclstxt as sysdocclstxtfle, dc.objtyp'
			+ ' FROM SYS_DOC_CLS_FLE dcf '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=dcf.buscod and dc.sysdocclscod=dcf.sysdocclscod ' 
			+ ' inner join SYS_DOC_CLS ct on ct.buscod=dcf.buscod and ct.sysdocclscod=dcf.fletypcod '
			+ ' WHERE dcf.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
      
	END
	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
