USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_BNK_CHK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TSR_BNK_CHK_DEF]

@lp_sysoperation 		as nvarchar(2),				-- operación
@lp_username 			as nvarchar(20),			-- operación - usuario
@lp_buscod				as nvarchar(20) = null,		-- empresa
@lp_bnkchkcod			as int			= null,     -- id
@lp_bnkacccod			as int			= null,		-- id cuenta
@lp_bnkchkfrtnum		as bigint		= null,		-- primer número
@lp_bnkchkqty			as bigint		= null,		-- cantidad
@lp_docsts				as nvarchar(2)	= null,		-- estado
@lp_bnkchkusdnum		as bigint		= null,		-- último número utilizado

@lp_vewcfg				as nvarchar(max)= null		-- configuración de la vista


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_bnkchkfrtnum as bigint = dbo.ConvertNumber( @lp_bnkchkfrtnum, 3 )
declare @lv_bnkchkqty as bigint = dbo.ConvertNumber( @lp_bnkchkqty, 3 )
declare @lv_bnkchkusdnum as bigint = dbo.ConvertNumber( @lp_bnkchkusdnum, 3 )
declare @lv_bnkchklstnum as bigint = isnull(@lv_bnkchkfrtnum,0) + isnull(@lv_bnkchkqty,0) - 1



-- ------------------------------------------------------------------------
--	V A L I D A C I O N E S
-- ------------------------------------------------------------------------
--	-1	La chequera ya existe o se solapan números con alguna chequera existente.
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		IF @lp_sysoperation='01'
			IF exists(select top 1 * from tsr_bnk_chk where buscod=@lp_buscod and not bnkchkcod=@lp_bnkchkcod and bnkacccod=@lp_bnkacccod and @lv_bnkchkfrtnum <= (bnkchkfrtnum+bnkchkqty-1) and @lv_bnkchklstnum >= bnkchkfrtnum)
				BEGIN
					SELECT null, -1 as errcod, 'La chequera ya existe o se solapan números con alguna chequera existente.' as errtxt
					RETURN
				END

		IF @lv_bnkchkusdnum < @lv_bnkchkfrtnum or @lv_bnkchkusdnum > @lv_bnkchklstnum
			BEGIN
				SELECT null, -1 as errcod, 'El último número utilizado debe estar dentro del rango de la chequera.' as errtxt
				RETURN
			END
			
		IF @lv_bnkchkfrtnum < 0 OR @lv_bnkchkqty < 1
			BEGIN
				SELECT null, -1 as errcod, 'No se pueden registrar números negativos.' as errtxt
				RETURN
			END

	END
	
	
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN

		INSERT INTO tsr_bnk_chk (buscod, bnkacccod, bnkchkfrtnum, bnkchkqty, bnkchklstnum, bnkchkusdnum, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_bnkacccod, @lv_bnkchkfrtnum, @lv_bnkchkqty, (@lv_bnkchkfrtnum+@lv_bnkchkqty-1), @lv_bnkchkusdnum, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_bnkchkcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkchkcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
	
		UPDATE tsr_bnk_chk
		SET bnkchkqty = @lv_bnkchkqty,
			bnkchkfrtnum = @lv_bnkchkfrtnum,
			bnkchklstnum = @lv_bnkchklstnum,
			bnkchkusdnum = @lv_bnkchkusdnum,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and bnkchkcod = @lp_bnkchkcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkchkcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*, a.bnkacctxt, b.bnktxt
		FROM tsr_bnk_chk c
		 left join tsr_bnk_acc a on a.buscod=c.buscod and a.bnkacccod=c.bnkacccod
		 left join grl_dat_bnk gb on a.buscod=gb.buscod and gb.BnkSrcTyp='TSR_BNA' and gb.BnkSrcCod=a.bnkacccod
		 left join tsr_bnk b on b.buscod=a.buscod and b.bnkcod=gb.bnkcod
		WHERE c.buscod = @lp_buscod
		and c.BnkChkCod = @lp_bnkchkcod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE
		FROM tsr_bnk_chk
		WHERE buscod = @lp_buscod
		and BnkChkCod = @lp_bnkchkcod
		SET @lv_errcod=@@ERROR
		SET @lp_bnkchkcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnkchkcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		-- tsr_bnk_chk_def '08','temasis','temasis_log'

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' c.*, a.bnkacctxt, b.bnktxt, gb.bnkcod '
			+ ' FROM tsr_bnk_chk c '
			+ ' left join tsr_bnk_acc a on a.buscod=c.buscod and a.bnkacccod=c.bnkacccod '
			+ ' left join grl_dat_bnk gb on a.buscod=gb.buscod and gb.BnkSrcTyp='+QUOTENAME('TSR_BNA','''')+' and gb.BnkSrcCod=a.bnkacccod '
			+ ' left join tsr_bnk b on b.buscod=a.buscod and b.bnkcod=gb.bnkcod '
			+ ' WHERE c.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

    END	

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
