USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAN_ORD_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[STK_MAN_ORD_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmanordmatcod as int = null,
@lp_stkmanordcod as int	= null,
@lp_matcod as int	= null, -- id material
@lp_mattxt as nvarchar(50) = null,	-- descripcion
@lp_matsercod  as int	= null,	-- serial
@lp_stkmanreqcod as int	= null,
@lp_stkmanreqmatcod as int	= null, 
@lp_stkmanordmatatr as nvarchar(max) = null,	-- atributos
@lp_docsts			as nvarchar(02)	= null,	-- estado
@lp_vewcfg			as nvarchar(max) = null,	-- configuracion vista
@lp_docreftyp			as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod			as int					= null,	-- doc referencia - id documento
@lp_docrefposcod	as int					= null	-- doc referencia - id posicion


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_matqty bigint = 1000

declare @lv_sql as nvarchar(max)
declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_objtyp as nvarchar(20)
DECLARE @lv_matuntcod as nvarchar(5) ='UN'


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		
    -- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanordcod=@lp_stkmanordcod)
    		
		BEGIN TRAN

		-- agrego cabecera de documento 
		INSERT INTO STK_MAN_ORD_MAT (buscod, stkmanordcod, matcod, mattxt, matsercod, stkmanreqcod, stkmanreqmatcod, stkmanordmatatr, 
                                 docreftyp, docrefcod, docrefposcod, sysdoctrecod, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stkmanordcod, @lp_matcod, @lp_mattxt, @lp_matsercod, @lp_stkmanreqcod, @lp_stkmanreqmatcod, @lp_stkmanordmatatr,
            @lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, 'N', @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmanordmatcod = @@IDENTITY
		
		-- agrego la referencia (documento como posicion)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanordcod,@lp_stkmanordmatcod, @lv_matqty, @lv_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanordmatcod, @lv_errcod as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription( @lv_errcod ) else @lv_errtxt end) as errtxt	

	END  
  
  
-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
			
		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanordcod=@lp_stkmanordcod)
    
		BEGIN TRAN

		UPDATE STK_MAN_ORD_MAT 
		SET matcod	= @lp_matcod,
			mattxt	= @lp_mattxt,
      matsercod = @lp_matsercod,
      stkmanreqcod = @lp_stkmanreqcod, 
      stkmanreqmatcod = @lp_stkmanreqmatcod,
			stkmanordmatatr = @lp_stkmanordmatatr, 
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and stkmanordmatcod = @lp_stkmanordmatcod
		  and stkmanordcod = @lp_stkmanordcod
		SET @lv_errcod=@@ERROR
    
		-- actualizo referencia (documento como posici0n)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanordcod,@lp_stkmanordmatcod,@lv_matqty, @lv_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanordmatcod, @lv_errcod as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription( @lv_errcod ) else @lv_errtxt end) as errtxt

	END
  
-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT sk.*
		FROM stk_man_ord_mat sk 
		WHERE sk.buscod=@lp_buscod
		  and sk.stkmanordmatcod = @lp_stkmanordmatcod
	END

-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
    
    -- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from stk_man_ord_mat where buscod=@lp_buscod and stkmanordcod=@lp_stkmanordcod and stkmanordmatcod=@lp_stkmanordmatcod

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanordcod=@lp_stkmanordcod)

		BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanordcod,@lp_stkmanordmatcod,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro la posicion del documento
		IF @lv_errcod=0
			BEGIN		
				DELETE
				FROM STK_MAN_ORD_MAT
				WHERE buscod=@lp_buscod
		  		and stkmanordcod = @lp_stkmanordcod
		  		and stkmanordmatcod = @lp_stkmanordmatcod
				SET @lv_errcod=@@ERROR
			END
 
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanordmatcod, @lv_errcod as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription( @lv_errcod ) else @lv_errtxt end) as errtxt

	END


---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1   
    set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, 'r.*, sr.matsercodext, ord.stkmanordtxt, adr.adrnme001 as rsptxt, a.adrnme001 as srcobjtxt, mat.stkmanactcod, CONVERT(VARCHAR, ord.stkmanorddte, 103) AS stkmanorddte,'
                                      + 'dt.sysdoctretxt, dr.sysdocrejtxt, fp.refposqty as refposqty',
                                      'stk_man_ord_mat r'
                                      + ' inner join stk_man_req mr on mr.buscod=r.buscod and mr.stkmanreqcod=r.stkmanreqcod '
                                      + ' inner join stk_man_ord ord on ord.buscod=r.buscod and ord.stkmanordcod=r.stkmanordcod '
                                    	+ ' left join stk_man_act_mat mat on mat.buscod=r.buscod and mat.stkmanordcod=r.stkmanordcod and mat.stkmanordmatcod=r.stkmanordmatcod'
                                      + ' left join GRL_DAT_ADR a on a.buscod=mr.buscod and a.adrsrctyp=mr.srcobjtyp and a.adrsrccod=mr.srcobjcod '
                                      + ' LEFT JOIN GRL_DAT_ADR adr on(adr.buscod=ord.buscod or adr.buscod='+QUOTENAME('_SYS', '''')+') and adr.adrsrctyp=ord.rspobjtyp and adr.adrsrccod=ord.rspobjcod'
                                      + ' left join stk_mat_ser sr on sr.buscod=r.buscod and sr.matsercod=r.matsercod '
                                      + ' left join sys_doc_tre dt on dt.buscod=r.buscod and dt.sysdoctrecod=r.sysdoctrecod '
                                      + ' left join sys_doc_rej dr on dr.buscod=r.buscod and dr.sysdocrejcod=r.sysdocrejcod '
																			+ ' left join sys_doc_cls dc on dc.buscod=ord.buscod and dc.sysdocclscod=ord.sysdocclscod '                                      
                                      + ' left join grl_doc_flw_pos fp on fp.buscod=r.buscod and fp.srcobjtyp=dc.objtyp and fp.srcobjcod=r.stkmanordcod and fp.srcposcod=r.stkmanordmatcod and isnull(fp.refobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('',''''), 
                                      'r.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                      'r.stkmanordmatcod' , 'rsptxt;adr.adrnme001')
		execute( @lv_sql )
  END



	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END


GO
