USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRN_ZNE_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_TRN_ZNE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		/* empresa */
@lp_trncod			as int			= null,		/* id torneo */
@lp_znecod			as int			= null,		/* id zona */
@lp_znetxt			as nvarchar(50)	= null,		/* descripción */
@lp_docsts 			as nvarchar(2)	= null,

@lp_vewcfg			as nvarchar(4000)=null		/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S															*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Torneo inválido														*/
/*	-2	No se puede borrar la zona, existen partidos asociados.				*/
/*	-3	El nombre de la Zona ya existe en el Torneo.						*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1 

		/* valido torneo */		
		IF (select count(*) from spt_trn where buscod=@lp_buscod and trncod=@lp_trncod)=0
			BEGIN
				SELECT null, -1 as errcod, 'Torneo inválido.' as errtxt
				RETURN
			END
		
		/* valido nombre de zona */
		IF (select count(*) from spt_trn_zne where buscod=@lp_buscod and trncod=@lp_trncod and znetxt=rtrim(ltrim(@lp_znetxt)) )>0
			BEGIN
				SELECT null, -3 as errcod, 'El nombre de la Zona ya existe en el Torneo.' as errtxt
				RETURN
			END
		
		BEGIN TRAN
		
		INSERT INTO SPT_TRN_ZNE 
			(buscod, trncod, znetxt, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_trncod, @lp_znetxt, 				
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_znecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_znecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		/* valido nombre de zona */
		IF (select count(*) from spt_trn_zne where buscod=@lp_buscod and trncod=@lp_trncod and not znecod=@lp_znecod and znetxt=rtrim(ltrim(@lp_znetxt)) )>0
			BEGIN
				SELECT null, -3 as errcod, 'El nombre de la Zona ya existe en el Torneo.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		UPDATE SPT_TRN_ZNE 
		SET	znetxt = @lp_znetxt, 
			docsts = @lp_docsts, 
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_znecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT z.*, t.trntxt
		FROM SPT_TRN t
		inner join SPT_TRN_ZNE z on z.buscod=t.buscod and z.trncod=t.trncod 
		WHERE t.buscod = @lp_buscod
		  and t.trncod = @lp_trncod
		  and z.znecod = @lp_znecod

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF (select count(*) from SPT_trn_zne_mch where buscod=@lp_buscod and trncod=@lp_trncod and znecod=@lp_znecod)>0
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la zona, existen partidos asociados.' as errtxt
				RETURN
			END
			
		BEGIN TRAN

		/* borro equipos de la zona */
		DELETE 
		FROM SPT_TRN_ZNE_EQM
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znecod = @lp_znecod
		SET @lv_errcod=@@ERROR
		
		/* borro zona */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SPT_TRN_ZNE
				WHERE buscod = @lp_buscod
				  and trncod = @lp_trncod
				  and znecod = @lp_znecod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_znecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' z.*, t.trntxt '
			+ ' FROM SPT_TRN_ZNE z '
			+ '  left join SPT_TRN t on t.buscod=z.buscod and t.trncod=z.trncod '
			+ ' WHERE z.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 't.docsts, z.znetxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
		
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SELECT z.*
		FROM SPT_TRN_ZNE z
		WHERE z.buscod=@lp_buscod
		  and z.trncod=@lp_trncod
		  and z.docsts='A'
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   2 3    -    L I S T A R	x	N O M B R E									*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM SPT_TRN_ZNE
		WHERE buscod = @lp_buscod
		  and trncod = @lp_trncod
		  and znetxt like '%'+@lp_znetxt+'%'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END















GO
