USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_CUR_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADM_CUR_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_curcodint 	as int = null, 
@lp_curcod			as nvarchar(05) = null,	-- codigo
@lp_curtxt			as nvarchar(80)	= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado
@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n ede la vista

@lp_cursgn			as nvarchar(5)  = null,	-- signo
@lp_curdec      as int          = null,	-- decimales
@lp_curtxtsht		as nvarchar(10) = null,	-- descripcion corta
@lp_curtxtmed		as nvarchar(40) = null	-- descripcion media

AS
 
SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)

DECLARE @lv_autmdlcod as nvarchar(3) = 'ADM'
DECLARE @lv_autprgcod as nvarchar(3) = 'CUR'



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('01','02','03','04','08')
	begin
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
-- VALIDACIONES. 
-- ------------------------------------------------------------------------
if @lp_sysoperation in ('02','12','03','13','04','14')
	BEGIN
  	IF isnull(@lp_curcodint,0)=0
  		BEGIN
				select 'E' as errtyp, -1 as errcod, 'El parÃ¡metro @lp_curcodint es obligatorio para esta operaciÃ³n' as errtxt
    		RETURN
  		END
  END

if @lp_sysoperation in ('01','11','02','12')
		IF exists(select top 1 * from adm_cur where curcod=@lp_curcod and not curcodint=@lp_curcodint)
			BEGIN
				select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
				RETURN
			END
      
      
      
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01', '11')
	BEGIN
		SET @lv_validop = 1

		BEGIN TRANSACTION
    	BEGIN TRY
        INSERT INTO ADM_CUR (Curcod, curtxt, docsts, cteusr, ctedte, curtxtmed, curtxtsht, cursgn, curdec)
        VALUES (@lp_curcod,@lp_curtxt, @lp_docsts, @lp_username, getdate(), @lp_curtxtmed, @lp_curtxtsht, @lp_cursgn, @lp_curdec )  
        SET @lp_curcodint = SCOPE_IDENTITY()
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH
    
    COMMIT TRANSACTION
		SELECT @lp_curcodint, 0 as errcod
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('02', '12')
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRANSACTION
			BEGIN TRY
        UPDATE ADM_CUR 
        SET CurTxt=@lp_curtxt, 
          docsts=@lp_docsts,
          updusr	= @lp_username,
          upddte	= getdate()
        WHERE CurCodInt = @lp_curcodint
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH
		
    COMMIT TRANSACTION
		SELECT @lp_curcodint, 0 as errcod
	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('03', '13')
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM ADM_CUR
		WHERE CurCodInt = @lp_curcodint
		  
	END

	

-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('04', '14')
	BEGIN
		SET @lv_validop = 1    
    
		BEGIN TRANSACTION
    	BEGIN TRY
        DELETE
        FROM ADM_CUR
        WHERE CurCodInt = @lp_curcodint
			END TRY
      BEGIN CATCH
      	ROLLBACK TRANSACTION
        -- registra el log de error
      	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      	SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      	RETURN
      END CATCH

		COMMIT TRANSACTION
		SELECT @lp_curcodint, 0 as errcod
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('08', '18')
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRY
			set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' c.* ', ' ADM_CUR c ', ' 1=1 ', ' c.curtxt ', default )
			execute( @lv_sql )
    END TRY
    BEGIN CATCH
      EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod, @lv_sql
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
	
  END	



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN
  	BEGIN TRY
			RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
    END TRY
    BEGIN CATCH
    	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
	END
GO
