USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_ORD_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_ORD_MAT_DEF]

@lp_sysoperation	as nvarchar(5),
@lp_username			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_slsordcod			as int					= null,	-- id registro
@lp_slsordmatcod	as int					= null,	-- id documento
@lp_matcod				as int					= null,	-- id material
@lp_mattxt				as nvarchar(50)	= null,	-- descripcion
@lp_matqty				as bigint				= null,	-- cantidad
@lp_matuntcod			as nvarchar(5)	= null,	-- UM
@lp_matprc				as bigint				= null,	-- precio unitario
@lp_mattot				as bigint				= null,	-- total
@lp_curcod				as nvarchar(5)	= null,	-- id moneda
@lp_docsts				as nvarchar(02)	= null,	-- estado

@lp_vewcfg				as nvarchar(max)= null,	-- configuraciÃ³n vista
@lp_slsordmatatr	as nvarchar(max)= null,	-- atributos

@lp_docreftyp			as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod			as int					= null,	-- doc referencia - id documento
@lp_docrefposcod	as int					= null,	-- doc referencia - id posicion
@lp_sysdocrejcod	as int					= null,	-- id motivo de rechazo
@lp_slsordmatcmt	as nvarchar(4000)=null,	-- comentarios

@lp_errtyp as nvarchar(2) = null OUTPUT,
@lp_errcod as int = 0 OUTPUT,
@lp_errtxt as nvarchar(400) = null OUTPUT,
@lp_errmsg as nvarchar(400) = null OUTPUT,
@lp_errvar as nvarchar(400) = null OUTPUT,

@lp_slsordmatprc as nvarchar(max)= null,	-- precios
@lp_slsordmat 		as nvarchar(max)=null -- listado de materiales para el tratamiento central


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty , 3 )
declare @lv_matprc as decimal(13,3) = dbo.ConvertNumber( @lp_matprc , 3 )
declare @lv_mattot as decimal(13,3) = dbo.ConvertNumber( @lp_mattot , 3 )
declare @lv_objtyp as nvarchar(20)

declare @lv_delete as nvarchar(2)=null


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S    /    A S I G N A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('01', '02', '01_sp', '02_sp', '04', '04_sp')
BEGIN
  -- obtengo el objeto de la clase de documento
  set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join sls_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slsordcod=@lp_slsordcod)
	
  IF @lp_sysoperation not in ('04', '04_sp')
  BEGIN
  	-- obtengo datos no obligatorios
    select @lp_mattxt = (case when isnull(@lp_mattxt,'')='' then mattxt else @lp_mattxt end),
    			@lp_matuntcod = (case when isnull(@lp_matuntcod,'')='' then matuntcod else @lp_matuntcod end)
    from stk_mat 
    where buscod=@lp_buscod and matcod=@lp_matcod
    
    if isnull(@lp_matprc, '')=''
    begin
    	declare @lv_slsorddte as datetime, @lv_dstobjcod as int
      select @lv_slsorddte = slsorddte, @lv_dstobjcod = dstobjcod from sls_ord where buscod=@lp_buscod and slsordcod=@lp_slsordcod
      set @lv_matprc = isnull((select top 1 pl.SlsPrc
                        from sls_cus c
                        inner join sls_prc_ver pv on pv.buscod=c.buscod and @lv_slsorddte between pv.slsprclststrdte and pv.slsprclstenddte 
                        inner join sls_prc_lst pl on pl.buscod=pv.buscod and pl.slsprclstcod=pv.slsprclstcod and pl.slsprclstvercod=pv.slsprclstvercod and pl.slsprcsrctyp='STK_MAT' and pl.SlsPrcSrcCod=@lp_matcod
                        where c.buscod=@lp_buscod
                          and c.cuscod=@lv_dstobjcod
                          and pv.slsprclstcod=c.SlsPrcLstCod), 0)
    end
    
   	set @lv_mattot = isnull(@lv_matprc,0) * isnull(@lv_matqty,0)
          
	END
END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('01', '01_sp')
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='01'
			BEGIN TRAN

		INSERT INTO SLS_ORD_MAT (buscod, slsordcod, matcod, mattxt, matqty, matuntcod, matprc, mattot, curcod, slsordmatatr, slsordmatcmt,
			docreftyp, docrefcod, docrefposcod, 
			docsts, ctedte, cteusr, sysdoctrecod) 
		VALUES (@lp_buscod, @lp_slsordcod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matprc, @lv_mattot, @lp_curcod, @lp_slsordmatatr,  @lp_slsordmatcmt,
			@lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, 
			@lp_docsts, getdate(), @lp_username, 'N' )
		SET @lp_errcod=@@ERROR
		SET @lp_slsordmatcod = @@IDENTITY

		-- agrego la referencia (documento como posicion)
		IF @lp_errcod=0
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_slsordcod,@lp_slsordmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT

		-- si el documento no tiene esquema de precios, actualizo el total
		IF @lp_errcod=0
			BEGIN
				IF NOT EXISTS( select top 1 * 
					from sls_ord o
					inner join sys_doc_cls d on o.BusCod=d.BusCod and o.SysDocClsCod=d.SysDocClsCod
					where o.BusCod=@lp_buscod
					and o.SlsOrdCod=@lp_slsordcod
					and dbo.GetTagValue('prcschcod', sysdocclsatr) <> ''
				)
				UPDATE SLS_ORD
				SET SlsOrdTotAmt= ( select sum(mattot) from sls_ord_mat where buscod = @lp_buscod and SlsOrdCod = @lp_slsordcod and (sysdocrejcod = 0 or sysdocrejcod is null))
				WHERE BusCod=@lp_buscod
				and SlsOrdCod=@lp_slsordcod
			END

    -- PRECIOS. se asignan los precios al material
		IF @lp_errcod=0
      EXEC GRL_DAT_PRC_DEF @lp_sysoperation = '15_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
      @lp_srcobjtyp = 'SLS_ORD', @lp_srcobjcod001 = @lp_slsordcod, @lp_srcobjcod002 = @lp_slsordmatcod,
      @lp_errcod = @lp_errcod OUTPUT, @lp_errtxt = @lp_errtxt OUTPUT,
      @lp_grldatprc = @lp_slsordmatprc
      
		if @lp_sysoperation='01'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_slsordmatcod, @lp_errcod as errcod, @lp_errtxt as errtxt
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('02', '02_sp')
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='02'
			BEGIN TRAN

		UPDATE SLS_ORD_MAT 
		SET matcod	= @lp_matcod,
			mattxt	= @lp_mattxt, 
			matqty	= @lv_matqty, 
			matuntcod	= @lp_matuntcod,
			matprc	= @lv_matprc,
			mattot	= @lv_mattot,
			CurCod	= @lp_curcod, 
			slsordmatatr = @lp_slsordmatatr, 
			slsordmatcmt = @lp_slsordmatcmt,
			sysdocrejcod = @lp_sysdocrejcod, 
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and slsordcod = @lp_slsordcod 
		  and slsordmatcod = @lp_slsordmatcod
		SET @lp_errcod=@@ERROR

		-- si el documento no tiene esquema de precios, actualizo el total
		IF @lp_errcod=0
			BEGIN
				IF NOT EXISTS( select top 1 * 
					from sls_ord o
					inner join sys_doc_cls d on o.BusCod=d.BusCod and o.SysDocClsCod=d.SysDocClsCod
					where o.BusCod=@lp_buscod
					and o.SlsOrdCod=@lp_slsordcod
					and dbo.GetTagValue('prcschcod', sysdocclsatr) <> ''
				)
				UPDATE SLS_ORD
				SET SlsOrdTotAmt= isnull( ( select sum(mattot) from sls_ord_mat where  buscod=@lp_buscod and SlsOrdCod = @lp_slsordcod and (sysdocrejcod = 0 or sysdocrejcod is null) ), 0 )
				WHERE BusCod=@lp_buscod
				and SlsOrdCod=@lp_slsordcod
			END

    -- PRECIOS. se asignan los precios al material
		IF @lp_errcod=0
      EXEC GRL_DAT_PRC_DEF @lp_sysoperation = '15_sp', @lp_username = @lp_username, @lp_buscod = @lp_buscod, 
      @lp_srcobjtyp = 'SLS_ORD', @lp_srcobjcod001 = @lp_slsordcod, @lp_srcobjcod002 = @lp_slsordmatcod,
      @lp_errcod = @lp_errcod OUTPUT, @lp_errtxt = @lp_errtxt OUTPUT,
      @lp_grldatprc = @lp_slsordmatprc
    
		-- actualizo referencia (documento como posicion)
		IF @lp_errcod=0 
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_slsordcod,@lp_slsordmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT

		if @lp_sysoperation='02'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_slsordmatcod, @lp_errcod as errcod, @lp_errtxt as errtxt
			end
		else
			set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      
	END
	


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT om.*
		FROM sls_ord_mat om 
		WHERE om.buscod=@lp_buscod
		  and om.slsordcod = @lp_slsordcod
		  and om.slsordmatcod = @lp_slsordmatcod
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('04', '04_sp')
	BEGIN
		SET @lv_validop = 1

		-- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from sls_ord_mat where buscod=@lp_buscod and slsordcod=@lp_slsordcod and slsordmatcod=@lp_slsordmatcod

		if @lp_sysoperation='04'
			BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_slsordcod,@lp_slsordmatcod,null,null,null,null,null,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT

		-- borro precios
    if @lp_errcod=0
    	exec GRL_DAT_PRC_DEF '14_sp',@lp_username,@lp_buscod,null,'SLS_ORD',@lp_slsordcod,@lp_slsordmatcod,null,null,null,null,null,null,null,null,null,null,null,null,@lp_errcod OUTPUT,@lp_errtxt OUTPUT

		-- borro la posiciÃ³n del documento
		IF @lp_errcod=0
			BEGIN		
				DELETE
				FROM SLS_ORD_MAT 
				WHERE buscod=@lp_buscod
				  and slsordcod = @lp_slsordcod
				  and slsordmatcod = @lp_slsordmatcod
				SET @lp_errcod=@@ERROR
			END
		
		if @lp_sysoperation='04'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_slsordmatcod, @lp_errcod as errcod, @lp_errtxt as errtxt
			end
		else
			return

	END
	


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' om.*, convert(varchar,o.slsorddte,103) as slsorddtecnv, o.slsordcodext, fp.refposqty as refposqty, '
			+ ' m.matcodext, m.docsts as matdocsts, m.matusebch, m.matuseser, dr.sysdocrejtxt, dt.sysdoctretxt, o.curcod '
			+ ' FROM sls_ord_mat om '
			+ ' left join sls_ord o on o.buscod=om.buscod and o.slsordcod=om.slsordcod '
			+ ' left join stk_mat m on m.buscod=om.buscod and m.matcod=om.matcod '
			+ ' left join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join grl_doc_flw_pos fp on fp.buscod=om.buscod and fp.srcobjtyp=dc.objtyp and fp.srcobjcod=om.slsordcod and fp.srcposcod=om.slsordmatcod and isnull(fp.refobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
			+ ' left join sys_doc_rej dr on dr.buscod=om.buscod and dr.sysdocrejcod=om.sysdocrejcod '
			+ ' left join sys_doc_tre dt on dt.buscod=om.buscod and dt.sysdoctrecod=om.sysdoctrecod '
			+ ' WHERE om.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
  
  
  
-- ------------------------------------------------------------------------ 
--   1 5 S P   -    T R A T A M I E N T O 		C E N T R A L
-- Tratamiento de varios precios recibidos en @lp_slsordmat. Alta, baja y modificaciÃ³n.
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '15_sp'
	BEGIN
		SET @lv_validop = 1
    
    if isnull(@lp_slsordmat,'')=''
    	set @lp_slsordmat = '[]'

		BEGIN TRY     
      select (case when slsordmatcod='' then 0 else convert(int, slsordmatcod) end) as slsordmatcod, 
      	matcod, mattxt, matqty, matuntcod, matprc, slsordmatatr, 
        docreftyp, docrefcod, docrefposcod, sysdocrejcod, slsordmatcmt, deleted, slsordmatprc
      into #tmpSlsOrdMat
      from OPENJSON(@lp_slsordmat) WITH (
        slsordmatcod nvarchar(20) '$.slsordmatcod',
        matcod int '$.matcod',
        mattxt nvarchar(50) '$.mattxt',
        matqty decimal(13,3) '$.matqty',
        matuntcod nvarchar(5) '$.matuntcod',
        matprc decimal(13,3) '$.matprc',
        slsordmatatr nvarchar(max) '$.slsordmatatr',
        docreftyp nvarchar(20) '$.docreftyp',
        docrefcod int '$.docrefcod',
        docrefposcod int '$.docrefposcod',
        sysdocrejcod int '$.sysdocrejcod',
        slsordmatcmt nvarchar(4000) '$.slsordmatcmt'
        , deleted nvarchar(2) '$.deleted'
        , slsordmatprc nvarchar(MAX) '$.slsordmatprc'
      )
    END TRY
    BEGIN CATCH
    	select @lp_errcod = ERROR_NUMBER(), @lp_errtxt = ERROR_MESSAGE()
      RETURN
    END CATCH
   
    declare lc_cur_slsordmat cursor for select slsordmatcod, matcod, mattxt, matqty, matuntcod, matprc,  
      slsordmatatr, docreftyp, docrefcod, docrefposcod, sysdocrejcod, slsordmatcmt, deleted, slsordmatprc
    from #tmpSlsOrdMat
      
    open lc_cur_slsordmat
    fetch next from lc_cur_slsordmat into 
			@lp_slsordmatcod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matprc,
			@lp_slsordmatatr, @lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, @lp_sysdocrejcod, @lp_slsordmatcmt, @lv_delete, @lp_slsordmatprc

		declare @lv_i as INT = 0
    declare @lv_op nvarchar(5)

    while @@FETCH_STATUS=0 and @lp_errcod=0 and @lv_i<10000 --previene loop infinito
    begin 
			set @lp_matqty = @lv_matqty * 1000
			set @lp_matprc = @lv_matprc * 1000
      set @lv_op = (case when not isnull(@lv_delete, '')='' then '04_sp'
                    	when isnull(@lp_slsordmatcod,'') IN ('', '0') then '01_sp'
                    	else '02_sp'
                    end)
      
      exec SLS_ORD_MAT_DEF @lv_op, @lp_username, @lp_buscod, @lp_slsordcod, @lp_slsordmatcod,
        @lp_matcod, @lp_mattxt, @lp_matqty, @lp_matuntcod, @lp_matprc, null, @lp_curcod, @lp_docsts, null, 
        @lp_slsordmatatr, @lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, @lp_sysdocrejcod, @lp_slsordmatcmt,
        @lp_errtyp OUTPUT, @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lp_errmsg OUTPUT, @lp_errvar OUTPUT, @lp_slsordmatprc

      fetch next from lc_cur_slsordmat into 
			@lp_slsordmatcod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matprc,
			@lp_slsordmatatr, @lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, @lp_sysdocrejcod, @lp_slsordmatcmt, @lv_delete, @lp_slsordmatprc

      set @lv_i = @lv_i + 1
    end

    close lc_cur_slsordmat
    deallocate lc_cur_slsordmat
    
	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
