USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_DEF_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_DEF_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,		/*empresa*/
@lp_findefcod		as nvarchar(50)  = null,		/*código */
@lp_findeftxt		as nvarchar(50)  = null,		/*descripción*/
@lp_findefcls		as nvarchar(10)	 = null,		/*clasificación: Debe o Haber */	
@lp_findeftpe		as nvarchar(10)	 = null,		/*tipo: Afecta o no afecta a caja*/
@lp_docsts 			as nvarchar(2)	 = null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod=0


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

BEGIN TRAN
		INSERT INTO FIN_DEF 
			(buscod, findefcod, findeftxt, findefcls, findeftpe,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_findefcod, @lp_findeftxt, @lp_findefcls, @lp_findeftpe,
			@lp_docsts, @lp_username, getdate() )
		
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_findefcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1  
	
	BEGIN TRAN  
	
		UPDATE FIN_DEF 
		SET	findeftxt = @lp_findeftxt,
			findefcls = @lp_findefcls,
			findeftpe = @lp_findeftpe,	
			docsts	  = @lp_docsts, 			
			updusr	  = @lp_username,
			upddte	  = getdate()
		WHERE	 buscod = @lp_buscod
		  and findefcod = @lp_findefcod	
		
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_findefcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM FIN_DEF
		WHERE buscod	= @lp_buscod
		  and findefcod = @lp_findefcod
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

BEGIN TRAN
		DELETE 
		FROM FIN_DEF
		WHERE buscod = @lp_buscod
		  and findefcod = @lp_findefcod

	SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_findefcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt


END
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM FIN_DEF
		WHERE buscod = @lp_buscod
		  and docsts = 'A'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END














GO
