USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_STE_EVT_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_STE_EVT_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,	-- empresa 
@lp_steevtdoccod 	as int			= null,	-- id 
@lp_steevtcod 		as int			= null,	-- id evento 
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- origen - tipo 
@lp_srcobjcod		as nvarchar(20)	= null,	-- origen - codigo 
@lp_srcobjtxt		as nvarchar(82)	= null,	-- origen - descripcion 
@lp_steevtdocatr 	as nvarchar(max)= null,	-- atributos adicionales 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null	-- config vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO CNS_STE_EVT_DOC (buscod, steevtcod, srcobjtyp, srcobjcod, srcobjtxt, steevtdocatr, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_steevtcod, @lp_srcobjtyp, @lp_srcobjcod, @lp_srcobjtxt, @lp_steevtdocatr, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_steevtdoccod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_steevtdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE CNS_STE_EVT_DOC
		SET	steevtdocatr = @lp_steevtdocatr,
			srcobjcod = @lp_srcobjcod,
			srcobjtyp = @lp_srcobjtyp,
      srcobjtxt = @lp_srcobjtxt,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and steevtdoccod = @lp_steevtdoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_steevtdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT sed.*
		FROM CNS_STE_EVT_DOC sed 
		WHERE sed.buscod=@lp_buscod
		  and sed.steevtdoccod = @lp_steevtdoccod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
			
		DELETE 
		FROM CNS_STE_EVT_DOC 
		WHERE buscod=@lp_buscod
			and steevtdoccod=@lp_steevtdoccod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_steevtdoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END



---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' sed.*, se.stecod '
			+ ' FROM CNS_STE_EVT_DOC sed '
			+ ' inner join CNS_STE_EVT se on se.buscod=sed.buscod and se.steevtcod=sed.steevtcod '
			+ ' inner join CNS_STE s on s.buscod=se.buscod and s.stecod=se.stecod '
			+ ' WHERE sed.buscod='+QUOTENAME(@lp_buscod, '''')
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg))
		execute( @lv_sql+@lv_flt+@lv_ord )

	END
	

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
