USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_ARG_TRZ_EVT_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HLT_ARG_TRZ_EVT_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_TrzEvtCod		as int			= null,		/* id tipo agente */
@lp_TrzEvtCodExt	as nvarchar(10) = null,		/* codigo tipo agente */
@lp_TrzEvtTxt		as nvarchar(40) = null,		/* descripción */
@lp_AgtTypCodInf	as int			= null,		/* agente - informante */
@lp_AgtTypCodSrc	as int			= null,		/* agente - origen */
@lp_AgtTypCodDst	as int			= null,		/* agente - destino */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null		/* configuracion vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_ARG_TRZ_EVT_TYP (TrzEvtCodExt, TrzEvtTxt, AgtTypCodInf, AgtTypCodSrc, AgtTypCodDst, docsts, ctedte, cteusr)
		VALUES (@lp_TrzEvtCodExt, @lp_TrzEvtTxt, @lp_AgtTypCodInf, @lp_AgtTypCodSrc, @lp_AgtTypCodDst, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_TrzEvtCod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_TrzEvtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_ARG_TRZ_EVT_TYP
		SET TrzEvtCodExt=@lp_TrzEvtCodExt,
			TrzEvtTxt = @lp_TrzEvtTxt,
			AgtTypCodInf = @lp_AgtTypCodInf,
			AgtTypCodSrc = @lp_AgtTypCodSrc,
			AgtTypCodDst = @lp_AgtTypCodDst,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE TrzEvtCod = @lp_TrzEvtCod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_TrzEvtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT e.*, 
		a1.agttypcodext as agttypcodextinf, a1.agttyptxt as agttyptxtinf, 
		a2.agttypcodext as agttypcodextsrc, a2.agttyptxt as agttyptxtsrc, 
		a3.agttypcodext as agttypcodextdst, a3.agttyptxt as agttyptxtdst
		FROM HLT_ARG_TRZ_EVT_TYP e
		left join HLT_ARG_TRZ_AGT_TYP a1 on a1.agttypcod=e.agttypcodinf
		left join HLT_ARG_TRZ_AGT_TYP a2 on a2.agttypcod=e.agttypcodsrc
		left join HLT_ARG_TRZ_AGT_TYP a3 on a3.agttypcod=e.agttypcoddst
		WHERE TrzEvtCod = @lp_TrzEvtCod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* borro evento */
		DELETE
		FROM HLT_ARG_TRZ_EVT_TYP
		WHERE TrzEvtCod=@lp_TrzEvtCod
		SET @lv_errcod=@@ERROR
		  					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_TrzEvtCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' e.*, a1.agttyptxt as agttyptxtinf, a2.agttyptxt as agttyptxtsrc, a3.agttyptxt as agttyptxtdst '
			+ ' FROM HLT_ARG_TRZ_EVT_TYP e '
			+ ' left join HLT_ARG_TRZ_AGT_TYP a1 on a1.agttypcod=e.agttypcodinf '
			+ ' left join HLT_ARG_TRZ_AGT_TYP a2 on a2.agttypcod=e.agttypcodsrc '
			+ ' left join HLT_ARG_TRZ_AGT_TYP a3 on a3.agttypcod=e.agttypcoddst '
			+ ' WHERE 1=1'
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'e.TrzEvtTxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   1 8    -    L I S T A R   por   T E X T O								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		SELECT *
		FROM HLT_ARG_TRZ_EVT_TYP
		WHERE TrzEvtTxt like '%'+@lp_TrzEvtTxt+'%'
		  and docsts='A'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
