USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_CUS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_CUS_DEF]
 
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_cuscod 			as nvarchar(20)	= null,	-- codigo 
@lp_custxt			as nvarchar(150)	= null,	-- descripciÃ³n 
@lp_cuscmt			as nvarchar(max)=null,-- comentarios 
@lp_docsts 			as nvarchar(1)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista 

@lp_cuscodext		as nvarchar(20)	= null,	-- codigo externo 
@lp_slsprclstcod	as int			= null,	-- lista precios - codigo 
@lp_slsgrpcod		as int			= null,	-- grupo de vendedores - codigo 
@lp_paytrmcod		as int			= null,	-- condiciÃ³n de venta - codigo 

@lp_sysdocclscod	as int			= null	-- ID Clase de Documento 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt nvarchar(400)=NULL

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Codigo duplicado													
--	-2	Codigo de lista de precios inexistente.								
-- ------------------------------------------------------------------------ 



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'CUS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
	
		if not @lp_cuscodext=''
			if exists(select top 1 * from sls_cus where buscod=@lp_buscod and not cuscod=@lp_cuscod and cuscodext=@lp_cuscodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

		if not isnull(@lp_slsprclstcod,0)=0
			if not exists(select top 1 * from sls_prc where buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod)
				begin
					select 0, -2 as errcod, 'Codigo de lista de precios inexistente.' as errtxt
					return
				end
				
	END
	
	
	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO SLS_CUS (buscod, custxt, cuscmt, cuscodext, slsprclstcod, slsgrpcod, paytrmcod,  
		sysdocclscod, 
		docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_custxt, @lp_cuscmt, @lp_cuscodext, @lp_slsprclstcod, @lp_slsgrpcod, @lp_paytrmcod,  
		@lp_sysdocclscod, 
		@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_cuscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cuscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SLS_CUS 
		SET	custxt = @lp_custxt,
			cuscmt = @lp_cuscmt,
			cuscodext=@lp_cuscodext,
			slsprclstcod=@lp_slsprclstcod,
			slsgrpcod=@lp_slsgrpcod,
			paytrmcod=@lp_paytrmcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and cuscod = @lp_cuscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cuscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT c.* , 
		a.adrnum, a.adrstr, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon, a.adrmapgeo, a.adrtwn, 
		lt.lndtwntxt, l.lndtxt, lr.lndregtxt,
		t.TaxNum, t.taxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum,
		f.taxcattxt,
		b.BnkNum, b.BnkCod, b.BnkAccCBU, b.bnkacccbuals, b.BnkBch, b.BnkAccNum, b.BnkAccTyp, b.PayMthCod, 
		k.bnktxt,
		pl.slsprclsttxt, sg.slsgrptxt, pt.paytrmtxt,
		sd.sysdocclstxt
		FROM SLS_CUS c 
			left join grl_dat_adr a on a.buscod=c.buscod and a.adrsrctyp='SLS_CUS' and a.adrsrccod=c.cuscod
			left join grl_dat_lnd l on l.lndcod=a.lndcod
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
			left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod
			left join grl_dat_tax t on t.buscod=c.buscod and t.taxsrctyp='SLS_CUS' and t.taxsrccod=c.cuscod
			left join fin_tax_cat f on f.lndcod=a.lndcod and f.taxcatcod = t.taxcatcod
			left join grl_dat_bnk b on b.buscod=c.buscod and b.bnksrctyp='SLS_CUS' and b.bnksrccod=c.cuscod
			left join tsr_bnk k on k.buscod=b.buscod and k.bnkcod=b.bnkcod
			left join sls_prc pl on pl.buscod=c.buscod and pl.slsprclstcod=c.slsprclstcod
			left join sls_grp sg on sg.buscod=c.buscod and sg.slsgrpcod=c.slsgrpcod
			left join fin_pay_trm pt on pt.buscod=c.buscod and pt.paytrmcod=c.paytrmcod
			left join sys_doc_cls sd on sd.buscod=c.buscod and sd.sysdocclscod=c.sysdocclscod
		WHERE c.buscod=@lp_buscod
		  and c.cuscod = @lp_cuscod
		
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
    
    IF exists(select top 1 * from hlt_pat where buscod=@lp_buscod and cuscod=@lp_cuscod)
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar el cliente. Existen pacientes asociados.' as errtxt
				RETURN
			END
    
    -- Tabla temporal para guardar tablas/objtyp donde se encontrÃ³ el cliente
    create table #slsTables (objtyptbl nvarchar(255), objtyp nvarchar(100))
    insert into #slsTables EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod=@lp_buscod, @lp_objtypcod='SLS_CUS', @lp_objcod=@lp_cuscod, @lp_fldnme='cuscod'
		
    if exists (select 1 from #slsTables)
    begin
    	declare @lv_msg nvarchar(max)
      
      /*;WITH CTE as (
      	select SUBSTRING(
          			-- Obtiene el nombre de la tabla a partir de SYS_OBJ_TYP
                o.objtyptxt, 
                CHARINDEX('-', o.objtyptxt) + 1, 
                CHARINDEX('(', o.objtyptxt) - CHARINDEX('-', o.objtyptxt) - 2
             ) as nmeTbl
        from #slsTables t
        join tmssSysDev.dbo.SYS_OBJ_TYP o on o.objtyptbl = t.objtyptbl and (o.objtypcod = t.objtyp or t.objtyp is null)
      )
      -- mensaje de error hasta 5 tablas
      select @lv_msg = CONCAT('No se puede borrar el cliente. Existe en', (select STRING_AGG(nmeTbl, ',') from (select top 5 nmeTbl FROM CTE) as nmeTbl),
      case when (select count(*) from CTE) > 5 then ', y otros documentos' else '' end, '.')*/
      
      SET @lv_msg = 'No se puede borrar el cliente. EstÃ¡ siendo usado en otros documentos.'
      
      SELECT null, -1 as errcod, @lv_msg as errtxt
      drop table #slsTables
    	return
    end
    drop table #slsTables
    
 
		BEGIN TRAN
		
		-- borro datos de impuestos del cliente
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='SLS_CUS'
				  and taxsrccod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro datos de banco del cliente
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='SLS_CUS'
				  and bnksrccod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
      
    -- Borro los contactos del cliente
			declare  @lv_i INT = 0
      select *  into #tmpSrv
          from grl_dat_cnt
          where cntsrctyp = 'SLS_CUS'
          AND cntsrccod = @lp_cuscod ;
          declare @lv_cntcod int
          declare lc_cur cursor for select cntcod
          from #tmpSrv
          open lc_cur
          
            fetch next from lc_cur into  @lv_cntcod
            
            while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito 
             begin
             
              exec dbo.GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,'SLS_CUS',@lp_cuscod,null,'00000000000000',null,null,null,'A',null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
             	
              fetch next from lc_cur into @lv_cntcod
              set @lv_i = @lv_i + 1
              end
      close lc_cur
      deallocate lc_cur
							
		-- borro datos de direcciÃ³n del cliente 
		IF @lv_errcod=0	
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrsrctyp='SLS_CUS' 
				  and adrsrccod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro datos centrales del cliente
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_CUS 
				WHERE buscod=@lp_buscod
				  and cuscod=@lp_cuscod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cuscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
    
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, 
			+ ' c.*, a.adrstr, a.adrstrnum, a.adrstrbld, a.adrstrunt, a.adrstrflr, a.adrpstcod, a.adrtwn, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adreml, '
			+ ' dc.sysdocclstxt, sp.slsprclsttxt, sp.curcod, pt.paytrmtxt, ct.taxcatcod, '
			+ ' l.lndtxt, lr.lndregtxt, lt.lndtwntxt, ltg.lndtwngrptxt, (case when a.lndtwncod is null then a.adrtwn else lt.lndtwntxt end) as adrtwntxt ',
			' sls_cus c '
			+ ' left join grl_dat_adr a on a.buscod=c.buscod and a.adrsrctyp='+QUOTENAME('SLS_CUS','''')+' and a.adrsrccod=c.cuscod '
			+ ' left join grl_dat_lnd l on l.lndcod=a.lndcod '
			+ ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
			+ ' left join grl_dat_lnd_twn lt on lt.buscod=a.buscod and lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod '
			+ ' left join grl_dat_lnd_twn_grp ltg on ltg.buscod=lt.buscod and ltg.lndtwngrpcod=lt.lndtwngrpcod '
			+ ' left join grl_dat_tax ct on ct.buscod=c.buscod and ct.taxsrctyp='+QUOTENAME('SLS_CUS','''')+' and ct.taxsrccod=c.cuscod '
			+ ' left join sls_prc sp on sp.buscod=c.buscod and sp.slsprclstcod=c.slsprclstcod '
			+ ' left join sys_doc_cls dc on dc.buscod=c.buscod and dc.sysdocclscod=c.sysdocclscod '
			+ ' left join fin_pay_trm pt on pt.buscod=c.buscod and pt.paytrmcod=c.paytrmcod ',
			' c.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('SLS_CUS','''')+', dc.autcod)=1 '
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'c.cuscod')
      + dbo.getUserRestrictions(@lp_buscod, @lp_username, 'lt.lndtwngrpcod'),
			' c.custxt ', 'adrtwntxt;(case when a.lndtwncod is null then a.adrtwn else lt.lndtwntxt end)' )

		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------ 
--   3 2    -    ACTUALIZAR CLASE DE DOCUMENTO								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '32'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SLS_CUS 
		SET	sysdocclscod = @lp_sysdocclscod,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and cuscod = @lp_cuscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cuscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
