USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_PRS_RLS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_PRS_RLS_DEF]

@lp_sysoperation 	as nvarchar(2),			-- operaciÃ³n
@lp_username 		as nvarchar(20),		-- operaciÃ³n - usuario
@lp_buscod			as nvarchar(20) = null,	-- empresa
@lp_patprsrlscod	as int			= null,	-- id
@lp_prsrlscod		as nvarchar(10) = null,	-- cod rol (CRD/APM/etc)
@lp_patcod			as int			= null,	-- id paciente
@lp_prscod			as int			= null,	-- id prestador
@lp_usrcod			as nvarchar(20) = null,	-- id usuario
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_patprsrlsatr001	as nvarchar(max)= null	-- atributos

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)

declare @lv_updusr as nvarchar(1)
declare @lv_prmval as nvarchar(max)
declare @lv_updusrcod as nvarchar(20)
declare @lv_usrprmcod as int



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='04'
	begin
		if isnull(@lp_patcod,0)=0
			begin
				select 0,-1 as errcod,'No se informÃ³ el paciente.' as errtxt
				return
			end
		
		if isnull(@lp_prscod,0)=0 and dbo.getTagValue('PATPRSRLSTXT',@lp_patprsrlsatr001)=''
			begin
				select 0,-1 as errcod,'No se informÃ³ el prestador o usuario.' as errtxt
				return
			end

		if isnull(@lp_prsrlscod,0)=0
			begin
				select 0,-1 as errcod,'No se informÃ³ el rol.' as errtxt
				return
			end

		-- determino FLAG de actualizacion de usuario
		set @lv_updusr = isnull( (select top 1 dbo.gettagvalue('updusrprm',prsrlsatrval001) from hlt_prs_rls where buscod=@lp_buscod and prsrlscod=@lp_prsrlscod) , '0')
		-- determino usuario del prestador
		if isnull(@lp_prscod,0)=0 and @lv_updusr='1'
			set @lv_updusr='0'
		else
			begin
				select @lv_updusrcod = (select top 1 usrcod from sys_sec_usr_lnk where BusCod=@lp_buscod and SrcObjTyp='HLT_PRS' and SrcObjCod=@lp_prscod)
				if isnull(@lv_updusrcod, '') = ''
					set @lv_updusr='0'
			end
		
		if isnull(@lp_patprsrlscod,0)=0 and @lp_sysoperation !='04'
			if exists(select top 1 * from HLT_PAT_PRS_RLS where buscod=@lp_buscod and patcod=@lp_patcod and prscod=@lp_prscod and dbo.getTagValue('PATPRSRLSTXT',patprsrlsatr001)=dbo.getTagValue('PATPRSRLSTXT',@lp_patprsrlsatr001) and prsrlscod=@lp_prsrlscod)				
        set @lp_sysoperation='02'
			else
				set @lp_sysoperation='01'
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
    
		BEGIN TRAN
    
		INSERT INTO hlt_pat_prs_rls (buscod, patcod, prsrlscod, prscod, usrcod, docsts, ctedte, cteusr, patprsrlsatr001)
		VALUES (@lp_buscod, @lp_patcod, @lp_prsrlscod, @lp_prscod, @lp_usrcod, @lp_docsts, getdate(), @lp_username, @lp_patprsrlsatr001)
		SET @lv_errcod=@@ERROR
		SET @lp_patprsrlscod=@@IDENTITY
		-- PARAMETRO DE USUARIO. si el flag del rol esta fijado y el prestador tiene usuario de sistema, agrego el parametro
		-- ATENCION. en algun momento migrar este inser a una llamada al SP sys_sec_usr_prm_def
		if @lv_errcod=0 and @lv_updusr='1' 
			begin
				select top 1 @lv_usrprmcod=usrprmcod, @lv_prmval=prmval from sys_sec_usr_prm where buscod=@lp_buscod and usrcod=@lv_updusrcod and prmfld='patcod' order by ctedte asc 
        if @lv_prmval is null
        	insert into SYS_SEC_USR_PRM (buscod, usrcod, UsrPrmFltKey, UsrPrmFltGrp, UsrPrmFltTyp, PrmCod, PrmFld, PrmVal, DocSts, CteDte, CteUsr, prmobjtyp ) 
					values (@lp_buscod, @lv_updusrcod, 1, '1', 'AND', 4, 'patcod', @lp_patcod, 'A', GETDATE(), @lp_username, 'HLT_PAT') 
				else
					if charindex(','+CAST(@lp_patcod AS varchar)+',',','+@lv_prmval+',')=0
          begin 
						update SYS_SEC_USR_PRM set prmval=@lv_prmval+','+CAST(@lp_patcod AS varchar) 
						where BusCod=@lp_buscod and usrprmcod=@lv_usrprmcod
					end
      end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patprsrlscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE hlt_pat_prs_rls
		SET prsrlscod = @lp_prsrlscod,
			prscod = (case when isnull(@lp_prscod,0)=0 then null else @lp_prscod end),
			patcod = @lp_patcod,
			usrcod = @lp_usrcod,
			patprsrlsatr001 = @lp_patprsrlsatr001,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and patprsrlscod = @lp_patprsrlscod
		SET @lv_errcod=@@ERROR

		-- PARAMETRO DE USUARIO. si el flag del rol esta fijado y el prestador tiene usuario de sistema, actualizo el parametro
		-- ATENCION. en algun momento migrar este inser a una llamada al SP sys_sec_usr_prm_def
		/*if @lv_errcod=0 and @lv_updusr='1'
			begin

				-- FALTA
				-- determinar si cambio el prestador (tengo que quitar el parametro del prestador anterior y agregarlo al nuevo?)
				-- determinar si cambio el paciente (tengo que quitar el paciente del prestador y agregar el paciente nuevo?)
				-- si no cambio nada, no actualizo nada
				print 'FALTA'

			end*/

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patprsrlscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, r.prsrlstxt, pr.prstxt
		FROM hlt_pat_prs_rls p
		inner join hlt_prs_rls r on r.buscod=p.buscod and r.prsrlscod=p.prsrlscod
		left join hlt_prs pr on pr.buscod=p.buscod and pr.prscod=p.prscod
		WHERE p.buscod = @lp_buscod
		  and p.patprsrlscod = @lp_patprsrlscod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		-- borro valores de categorizaciÃ³n
		DELETE 
		FROM hlt_pat_prs_rls
		WHERE buscod=@lp_buscod 
		  and patprsrlscod=@lp_patprsrlscod
		SET @lv_errcod=@@ERROR

		-- PARAMETRO DE USUARIO. si el flag del rol esta fijado y el prestador tiene usuario de sistema, quito el paciente de los parametros
		-- ATENCION. en algun momento migrar este inser a una llamada al SP sys_sec_usr_prm_def

		if @lv_errcod=0 and @lv_updusr='1'
			begin
			-- SI NO hay otro rol del mismo usuario
			if not exists(select top 1 * 
				from hlt_pat_prs_rls pr
				inner join HLT_PRS_RLS r on r.BusCod=pr.buscod and r.PrsRlsCod=pr.prsrlscod
				where pr.buscod=@lp_buscod 
				  and pr.patcod=@lp_patcod 
				  and not pr.patprsrlscod=@lp_patprsrlscod 
				  and pr.prscod=@lp_prscod 
				  and dbo.getTagValue('updusrprm',r.prsrlsatrval001)='1')
				update sys_sec_usr_prm 
				set PrmVal =  substring(REPLACE(prmval+',',','+CAST(@lp_patcod AS VARCHAR)+',',','), 1, len(REPLACE(prmval+',',','+CAST(@lp_patcod AS VARCHAR)+',',',') )-1 )
				where BusCod=@lp_buscod
				  and UsrCod=@lv_updusrcod
				  and prmfld='patcod'
			
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patprsrlscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' p.*, r.prsrlstxt, pr.prstxt, a.pattxt, isnull(p.upddte,p.ctedte) as maxupddte, r.prsrlscodext',
			' hlt_pat_prs_rls p '
			+ ' inner join hlt_prs_rls r on r.buscod=p.buscod and r.prsrlscod=p.prsrlscod '
			+ ' left join hlt_prs pr on pr.buscod=p.buscod and pr.prscod=p.prscod '
			+ ' left join hlt_pat a on a.buscod=p.buscod and a.patcod=p.patcod ',
			' p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_patcod,'')='' then '' else ' and p.patcod='+QUOTENAME(@lp_patcod,'''') end)
			+ (case when isnull(@lp_prsrlscod,'')='' then '' else ' and p.prsrlscod='+QUOTENAME(@lp_prsrlscod,'''') end),
			default, default)
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------
--   0 9    -    L I S T A R	A G R U P A D O							
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '09'
	BEGIN
		SET @lv_validop = 1

		-- hlt_pat_prs_rls_def '09','mdominguez','temasis_hlt'

		set @lv_sql = 'SELECT  '
			+ ' rl.prsrlscod, rl.PrsRlsTxt, r.prscod, r.prstxt, count(*) as qty, max( isnull(p.upddte,p.ctedte) ) as maxupddte '
			+ ' FROM hlt_pat p '
			+ ' left join HLT_PAT_PRS_RLS pr on pr.buscod=p.buscod and pr.patcod=p.patcod '
			+ ' left join hlt_prs_rls rl on rl.buscod=pr.buscod and rl.PrsRlsCod=pr.PrsRlsCod '
			+ ' left join hlt_prs r on r.buscod=pr.buscod and r.prscod=pr.prscod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_patcod,'')='' then '' else ' and p.patcod='+QUOTENAME(@lp_patcod,'''') end)
			+ (case when isnull(@lp_prsrlscod,'')='' then '' else ' and p.prsrlscod='+QUOTENAME(@lp_prsrlscod,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' GROUP BY rl.prsrlscod, rl.PrsRlsTxt, r.prscod, r.prstxt '
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
