USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CLS_WRK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DOC_CLS_WRK_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysdocclswrkcod	as int			= null,	-- id 
@lp_sysdocclscod	as int			= null,	-- id clase de documento 
@lp_wrkflwcod		as int			= null,	-- id workflow 
@lp_docsts 			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(4000)=null,	-- configuraciÃ³n ede la vista 

@lp_errcod				as int					= null OUTPUT,
@lp_errtxt				as nvarchar(max)=null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop as INT = 0

declare @lv_sql as nvarchar(max)

SET @lp_errcod=0



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_CLS_WRK (buscod, sysdocclscod, wrkflwcod, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_sysdocclscod, @lp_wrkflwcod, @lp_docsts, @lp_username, getdate()
		SET @lp_errcod=@@ERROR
		SET @lp_sysdocclswrkcod=@@IDENTITY
		
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclswrkcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_CLS_WRK 
		SET	sysdocclscod=@lp_sysdocclscod,
			wrkflwcod = @lp_wrkflwcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocclswrkcod = @lp_sysdocclswrkcod
		SET @lp_errcod=@@ERROR
				
		IF @lp_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclswrkcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_CLS_WRK dcm
		WHERE dcm.buscod = @lp_buscod
		  and dcm.sysdocclswrkcod = @lp_sysdocclswrkcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation IN ('04', '04_sp')
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation = '04'
			BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_CLS_WRK 
		WHERE buscod=@lp_buscod
		  and sysdocclswrkcod = @lp_sysdocclswrkcod
		SET @lp_errcod=@@ERROR
				
		IF @lp_sysoperation = '04'
    BEGIN
      IF @lp_errcod=0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN

      SELECT @lp_sysdocclswrkcod, @lp_errcod as errcod, dbo.getErrorDescription( @lp_errcod ) as errtxt
		END
    ELSE
    	SET @lp_errtxt = dbo.getErrorDescription( @lp_errcod ) 
	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dcw.*, dc.sysdocclstxt, dw.wrkflwtxt, dw.wrkflwcnd '
			+ ' FROM SYS_DOC_CLS_WRK dcw '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=dcw.buscod and dc.sysdocclscod=dcw.sysdocclscod '
			+ ' inner join SYS_DOC_WRK dw on dw.buscod=dcw.buscod and dw.wrkflwcod=dcw.wrkflwcod '
			+ ' WHERE dcw.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql
	END
	


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
