USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CRM_CNT_TYP_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRM_CNT_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_crmcnttypcod	as int			= null,	-- id
@lp_crmcnttypcodext	as nvarchar(20)	= null,	-- codigo
@lp_crmcnttyptxt	as nvarchar(50)	= null,	-- descripcion
@lp_docsts 			as nvarchar(02)	= null,	-- estado
@lp_vewcfg			as nvarchar(max)= null,	-- config. vista
@lp_autcod			as nvarchar(05)	= null,	-- objeto autorizacion
-- @lp_crmcnttypord	as int			= null,	-- Orden
@lp_crmcnttypatr	as nvarchar(max)= null -- detalles del color

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errcod int = 0

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CRM'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TYP'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   E R R O R E S
-- ------------------------------------------------------------------------
--	-1	Codigo externo existente.
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' OR @lp_sysoperation='02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
		IF not isnull(@lp_crmcnttypcodext,'')=''
			BEGIN
				IF exists(SELECT * from CRM_CNT_TYP where buscod=@lp_buscod and not CrmCntTypCod=@lp_crmcnttypcod and CrmCntTypCodExt=@lp_crmcnttypcodext)
					BEGIN
          	SELECT null, 'E' as errtyp, -3 as errcod, 'DuplicateExtCode' as errmsg
						RETURN
					END
			END

	END

IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		-- Verifico que no existan motivos relacionados 
		IF EXISTS(select TOP 1 * from crm_cnt_mtv where buscod=@lp_buscod and crmcnttypcod=@lp_crmcnttypcod)
			BEGIN
				SELECT 'E' as errtyp, -1 as errcod, 'CANTDELETEDRELATEDMOTIVECONTACTS' as errmsg
				RETURN
			END

		-- Verifico que no existan contactos relacionados CRM 
		IF EXISTS(select TOP 1 * from crm_cnt where buscod=@lp_buscod and crmcnttypcod=@lp_crmcnttypcod and deldte is null)
			BEGIN
				SELECT 'E' as errtyp, -2 as errcod, 'CANTDELETEDRELATEDCONTACTS' as errmsg
				RETURN
			END

	END



-- ------------------------------------------------------------------------
--  0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO CRM_CNT_TYP
			(buscod, crmcnttypcodext, crmcnttyptxt, crmcnttypatr, autcod, 
       docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_crmcnttypcodext, @lp_crmcnttyptxt, @lp_crmcnttypatr, @lp_autcod, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_crmcnttypcod=@@IDENTITY
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_crmcnttypcod as crmcnttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END		



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE CRM_CNT_TYP 
		SET	crmcnttypcodext = @lp_crmcnttypcodext,
			crmcnttyptxt = @lp_crmcnttyptxt, 
      crmcnttypatr = @lp_crmcnttypatr, -- detalles color
			autcod = @lp_autcod, 
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and crmcnttypcod = @lp_crmcnttypcod	
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_crmcnttypcod as crmcnttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM CRM_CNT_TYP 
		WHERE buscod = @lp_buscod
		  and crmcnttypcod = @lp_crmcnttypcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
			
		DELETE 
		FROM CRM_CNT_TYP
		WHERE buscod = @lp_buscod
		  and crmcnttypcod = @lp_crmcnttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcnttypcod as crmcnttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg,
										' * ',
										' CRM_CNT_TYP t ',
										'  buscod='+QUOTENAME(@lp_buscod,'''')
										+ ' and ( isnull(t.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
											+ ' or t.autcod in (select distinct autcod from sys_sec_per_aut '
											+ ' where buscod='+QUOTENAME(@lp_buscod,'''')
											+   ' and ( (usrcod='+QUOTENAME(@lp_username,'''')+' and grpcod='+QUOTENAME('**','''')+') '
											+      ' or (usrcod='+QUOTENAME('**','''')+' and grpcod in (select usrgrpcod from sys_sec_usr_grp where buscod='+QUOTENAME(@lp_buscod,'''')+' and usrcod='+QUOTENAME(@lp_username,'''')+') ) ) '
											+   ') ) ' 
										+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end),
										' t.crmcnttyptxt ', '')
	
		execute( @lv_sql )
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
