USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAN_ACT_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAN_ACT_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmanactmatcod as int	= null,
@lp_stkmanactcod	as int	= null,	-- id actividad
@lp_stkmanordcod	as int	= null,	-- id orden
@lp_stkmanordmatcod	as int	= null,	-- id orden/material
@lp_sysdocrejcod as int	= null,
@lp_docsts			as nvarchar(02)	= null,	-- estado
@lp_vewcfg			as nvarchar(max) = null, -- configuracion vista
@lp_docreftyp			as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod			as int					= null,	-- doc referencia - id documento
@lp_docrefposcod	as int					= null	-- doc referencia - id posicion

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_matqty bigint = 1000

declare @lv_sql as nvarchar(max)
declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_objtyp as nvarchar(20)
DECLARE @lv_matuntcod as nvarchar(5) ='UN'


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		
    -- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_act d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanactcod=@lp_stkmanactcod)
    		
    BEGIN TRAN
    
		-- agrego cabecera de documento
		INSERT INTO STK_MAN_ACT_MAT (buscod, stkmanactcod, stkmanordcod, stkmanordmatcod,
                                 docreftyp, docrefcod, docrefposcod, sysdoctrecod, sysdocrejcod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_stkmanactcod, @lp_stkmanordcod, @lp_stkmanordmatcod,
            @lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, 'N', @lp_sysdocrejcod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmanactmatcod = @@IDENTITY
		
		-- agrego la referencia (documento como posicion)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanactcod,@lp_stkmanactmatcod, @lv_matqty, @lv_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanactmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END  
  
 
 
-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

    -- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_act d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanactcod=@lp_stkmanactcod)
    		
		BEGIN TRAN

		UPDATE STK_MAN_ACT_MAT 
		SET stkmanactcod = @lp_stkmanactcod,
      	stkmanordcod = @lp_stkmanordcod,
        stkmanordmatcod = @lp_stkmanordmatcod,
       	sysdocrejcod = @lp_sysdocrejcod,
			  docsts = @lp_docsts,
			  upddte = getdate(),
			  updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and stkmanactmatcod = @lp_stkmanactmatcod
		  and stkmanactcod = @lp_stkmanactcod
		SET @lv_errcod=@@ERROR
    
		-- actualizo referencia (documento como posici0n)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanactcod,@lp_stkmanactmatcod,@lv_matqty, @lv_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanactmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
    
    -- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from stk_man_act_mat where buscod=@lp_buscod and stkmanactcod=@lp_stkmanactcod and stkmanactmatcod=@lp_stkmanactmatcod

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join stk_man_act d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanactcod=@lp_stkmanactcod)
    
		BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_stkmanactcod,@lp_stkmanactmatcod,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

    
		-- borro la posicion del documento
		IF @lv_errcod=0
			BEGIN		
				DELETE
				FROM STK_MAN_ACT_MAT
				WHERE buscod = @lp_buscod
		  		and stkmanactcod = @lp_stkmanactcod
		  		and stkmanactmatcod = @lp_stkmanactmatcod
				SET @lv_errcod=@@ERROR
			END
 
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanactmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END



---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1   
    set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, 'r.*, ordmat.stkmanordmatcod, ordmat.mattxt, sr.matsercodext, ordmat.stkmanordmatatr, ord.stkmanordtxt, ord.stkmanordcod ',  
                                      'stk_man_act_mat r'
                                      + ' inner join stk_man_ord ord on ord.buscod=r.buscod and ord.stkmanordcod=r.stkmanordcod'
                                      + ' inner join stk_man_ord_mat ordmat on ordmat.buscod=r.buscod and ordmat.stkmanordmatcod=r.stkmanordmatcod '
                                      + ' left join stk_mat_ser sr on sr.buscod=ordmat.buscod and sr.matsercod=ordmat.matsercod ',
                                      'r.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                      'r.stkmanactcod' , default)
		execute( @lv_sql )
  END
	
  
  
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
