USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DMS_DOC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DMS_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_grldmsdoccod 	as int			= null,	-- id
@lp_grldmsdoccodext	as nvarchar(20)	= null,	-- codigo
@lp_grldmsdoctxt	as nvarchar(250)= null,	-- descripcion
@lp_grldmsfldcod	as int			= null,	-- id carpeta
@lp_grldmsdocsrc	as nvarchar(2)	= null,	-- origen (F-file / T-text / FD-folder)
@lp_srcobjtyp		as nvarchar(20)	= null,	-- referencia - tipo 
@lp_srcobjcod		as int			= null,	-- referencia - id documento
@lp_srcobjpos		as int			= null,	-- referencia - id posiciÃ³n
@lp_srcobjdocclscod		as int	= null,	-- id clase de documento

@lp_autcod			as nvarchar(5)	= null,	-- objeto autorizacion
@lp_perusrcod		as nvarchar(max)= null,	-- usuarios
@lp_perusrrls		as nvarchar(max)= null,	-- roles
@lp_docsts 			as nvarchar(2)	= null,	-- estado
@lp_fletypcod 			as int			= null,	-- tipo de archivo

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_grldmsdocatr	as nvarchar(max)= null,	-- atributos

@lp_grldmsdocvercod 		as int						= null,	-- version - id de la version
@lp_grldmsdocvercodext	as nvarchar(20)		= null,	-- version - numero de la version
@lp_flenme 							as nvarchar(250)	= null, -- version - nombre del archivo
@lp_fleext 							as nvarchar(10)		= null, -- version - extension del archivo
@lp_fletyp 							as nvarchar(250)	= null, -- version - tipo del archivo
@lp_flesze 							as bigint					= null	-- version - tamaÃ±o del archivo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)


-- ----------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ----------------------------------------------------------------------------
--	-1	CÃ³digo externo existente
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- CODIGO EXTERNO. se valida codigo externo
		if not isnull(@lp_grldmsdoccodext,'')=''
			IF exists(select top 1 * from GRL_DMS_DOC where buscod=@lp_buscod and not grldmsdoccod=@lp_grldmsdoccod and grldmsdoccodext=@lp_grldmsdoccodext)
				begin
					select null, -1 as errcod, 'CÃ³digo externo existente.' as errgrldmsdoc
					return
				end
		
	END



-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		
		BEGIN TRAN
    
    -- creaciÃ³n de carpetas
    IF @lp_grldmsdocsrc = 'FD'
    	BEGIN
        INSERT INTO GRL_DMS_DOC (buscod, grldmsdoccodext, grldmsdoctxt, grldmsfldcod, autcod, perusrcod, perusrrls, grldmsdocatr, grldmsdocsrc, srcobjdocclscod, docsts, fletypcod, cteusr, ctedte) 
        VALUES (@lp_buscod, @lp_grldmsdoccodext, @lp_grldmsdoctxt, @lp_grldmsfldcod, @lp_autcod, @lp_username, @lp_perusrrls, @lp_grldmsdocatr, @lp_grldmsdocsrc, @lp_srcobjdocclscod, 'A', @lp_fletypcod, @lp_username, getdate())
        SET @lv_errcod=@@ERROR
        SET @lp_grldmsdoccod=@@IDENTITY
      END
    
    -- creaciÃ³n de documentos (archivos adjuntos, textos, imÃ¡genes)
    ELSE
    	BEGIN
				INSERT INTO GRL_DMS_DOC (buscod, grldmsdoccodext, grldmsdoctxt, grldmsfldcod, autcod, perusrcod, perusrrls, grldmsdocatr, grldmsdocsrc, srcobjdocclscod, docsts, fletypcod, cteusr, ctedte) 
        VALUES (@lp_buscod, @lp_grldmsdoccodext, @lp_flenme, @lp_grldmsfldcod, @lp_autcod, @lp_username, @lp_perusrrls, @lp_grldmsdocatr, @lp_grldmsdocsrc, @lp_srcobjdocclscod, 'E', @lp_fletypcod, @lp_username, getdate())
        SET @lv_errcod=@@ERROR
        SET @lp_grldmsdoccod=@@IDENTITY
      
        IF @lv_errcod=0
          INSERT INTO GRL_DMS_DOC_VER (buscod, grldmsdocvercodext, GrlDmsDocCod, flenme, fleext, fletyp, flesze, docsts, cteusr, ctedte)
          VALUES (@lp_buscod, '0', @lp_grldmsdoccod, @lp_flenme, @lp_fleext, @lp_fletyp, @lp_flesze, 'E', @lp_username, getdate())
          SET @lv_errcod=@@ERROR
          SET @lp_grldmsdocvercod=@@IDENTITY
      END
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_grldmsdoccod as grldmsdoccod, @lp_grldmsdocvercod as grldmsdocvercod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errgrldmsdoc		

	END



-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
    --select @lp_grldmsfldcod as fldcod return
    IF @lp_grldmsfldcod = 0 AND @lp_grldmsdocsrc != 'FD'
			set @lp_grldmsfldcod = NULL
    -- si es una actualizaciÃ³n (para modificar datos como el nombre, carpeta de origen, tamaÃ±o, etc.)
    IF @lp_sysoperation = '02'
    	BEGIN
      	select @lp_grldmsdoctxt as grldmsdoctxt
        UPDATE GRL_DMS_DOC
        SET	grldmsdoctxt = CASE WHEN @lp_grldmsdoctxt IS NOT NULL AND @lp_grldmsdoctxt <> '' THEN @lp_grldmsdoctxt  ELSE grldmsdoctxt END,
    				grldmsfldcod = CASE WHEN @lp_grldmsfldcod IS NOT NULL AND @lp_grldmsfldcod <> '' OR @lp_grldmsfldcod = 0 THEN @lp_grldmsfldcod ELSE grldmsfldcod END,
            updusr = @lp_username,
            upddte = getdate()
        WHERE buscod=@lp_buscod
          and grldmsdoccod = @lp_grldmsdoccod
        SET @lv_errcod=@@ERROR

        IF @lv_errcod=0
          UPDATE GRL_DMS_DOC_VER
          SET	flenme = CASE WHEN @lp_grldmsdoctxt IS NOT NULL AND @lp_grldmsdoctxt <> '' THEN @lp_grldmsdoctxt ELSE flenme END,
              flesze = CASE WHEN @lp_flesze IS NOT NULL AND @lp_flesze <> '' THEN @lp_flesze ELSE flesze END,
              updusr = @lp_username,
              upddte = getdate()
          WHERE buscod=@lp_buscod
            and grldmsdocvercod = @lp_grldmsdocvercod
          SET @lv_errcod=@@ERROR
    	END
  	
    -- si es una nueva versiÃ³n (para archivos con sistema de versiones o para actualizaciÃ³n de un archivo sin versiones)
    ELSE
    	BEGIN         	
        INSERT INTO GRL_DMS_DOC_VER (buscod, grldmsdocvercodext, grldmsdoccod, flenme, fleext, fletyp, flesze, docsts, cteusr, ctedte)
        VALUES (@lp_buscod, '0', @lp_grldmsdoccod, @lp_flenme, @lp_fleext, @lp_fletyp, @lp_flesze, 'E', @lp_username, getdate())
        SET @lv_errcod=@@ERROR
        SET @lp_grldmsdocvercod=@@IDENTITY
        
        IF @lv_errcod=0
					UPDATE GRL_DMS_DOC
          SET docsts='E'
          WHERE buscod=@lp_buscod
          	AND grldmsdoccod=@lp_grldmsdoccod
          SET @lv_errcod=@@ERROR
			END
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_grldmsdoccod as grldmsdoccod, @lp_grldmsdocvercod as grldmsdocvercod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errgrldmsdoc		

	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1
		
    -- carga el documento segÃºn su ID (versiÃ³n activa mÃ¡s reciente).
    IF @lp_sysoperation = '03'
      SELECT TOP 1 d.*, dv.*, dc.sysdocclsatr, dc.sysdocclstxt, dv.docsts AS versts, ( SELECT STRING_AGG(grldmsdocvercodext + ' - ' + FORMAT(ctedte, 'dd/MM/yyyy'), ',') FROM GRL_DMS_DOC_VER WHERE grldmsdoccod = d.grldmsdoccod) AS alldocver
      FROM GRL_DMS_DOC d
      INNER JOIN GRL_DMS_DOC_VER dv ON d.grldmsdoccod = dv.grldmsdoccod
      INNER JOIN SYS_DOC_CLS dc ON d.srcobjdocclscod = dc.sysdocclscod
      WHERE d.buscod = @lp_buscod
        AND d.grldmsdoccod = @lp_grldmsdoccod
      ORDER BY dv.grldmsdocvercod desc
    
    -- carga el documento segÃºn el ID de versiÃ³n especificado.
    ELSE
    	SELECT TOP 1 d.*, dv.*, dc.sysdocclsatr, dc.sysdocclstxt, dv.docsts AS versts, ( SELECT STRING_AGG(grldmsdocvercodext + ' - ' + FORMAT(ctedte, 'dd/MM/yyyy'), ',') FROM GRL_DMS_DOC_VER WHERE grldmsdoccod = dv.grldmsdoccod) AS alldocver
      FROM GRL_DMS_DOC d
      INNER JOIN GRL_DMS_DOC_VER dv ON d.grldmsdoccod=dv.grldmsdoccod
      INNER JOIN SYS_DOC_CLS dc ON d.srcobjdocclscod=dc.sysdocclscod
      WHERE d.buscod=@lp_buscod
        and dv.grldmsdocvercod=@lp_grldmsdocvercod
		
	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '04' OR @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
    SET @lv_errcod = 0
    
    DECLARE @lv_verqty INT = 1
    DECLARE @lv_prvdocvercod INT = NULL
		
		BEGIN TRAN
    
    -- si el GrlDmsDocCod estÃ¡ seteado, es una carpeta. Si no, es un documento y hago lo siguiente
    IF @lp_grldmsdoccod = null OR @lp_grldmsdoccod = 0
    	BEGIN
        -- recupero el ID del registro de cabecera del archivo, la carpeta de origen y el nÃºmero de versiÃ³n
        SELECT @lp_grldmsdoccod = d.grldmsdoccod, @lp_grldmsfldcod = d.grldmsfldcod, @lp_grldmsdocvercodext = dv.grldmsdocvercodext
        FROM GRL_DMS_DOC_VER dv
        INNER JOIN GRL_DMS_DOC d ON d.grldmsdoccod=dv.grldmsdoccod
        WHERE dv.buscod=@lp_buscod
          AND dv.grldmsdocvercod=@lp_grldmsdocvercod

        -- reviso la cantidad de versiones existentes para ese documento
        SELECT @lv_verqty = COUNT(grldmsdocvercod)
        FROM GRL_DMS_DOC_VER
        WHERE grldmsdoccod = @lp_grldmsdoccod

        -- borro la versiÃ³n seleccionada
        DELETE 
        FROM GRL_DMS_DOC_VER
        WHERE buscod=@lp_buscod
          AND grldmsdocvercod=@lp_grldmsdocvercod
        SET @lv_errcod=@@ERROR
        
        IF @lv_errcod=0 AND @lv_verqty>1
        	BEGIN
          	-- selecciono el ID de la Ãºltima versiÃ³n (sin contar la borrada) para cargarla en caso de que sea necesario
            SELECT TOP 1 @lv_prvdocvercod=grldmsdocvercod FROM GRL_DMS_DOC_VER
            WHERE buscod=@lp_buscod
              AND	grldmsdoccod=@lp_grldmsdoccod
              AND grldmsdocvercod!=@lp_grldmsdocvercod
          	ORDER BY grldmsdocvercod desc
						
            -- si hay otra/s versiÃ³n/es, actualizo el estado de la anterior a "A"
            UPDATE GRL_DMS_DOC_VER
            SET docsts='A'
            WHERE buscod=@lp_buscod
              AND	grldmsdocvercod=@lv_prvdocvercod
            SET @lv_errcod=@@ERROR
          END

        -- si no hay error y si se seleccionÃ³ la opciÃ³n de borrar todo y/o existe una sola version, borro la cabecera tambiÃ©n (y las otras versiones si existen)
        IF @lv_errcod=0            
          IF @lp_sysoperation='14' OR @lv_verqty=1
          	BEGIN
              DELETE 
              FROM GRL_DMS_DOC
              WHERE buscod=@lp_buscod
                AND grldmsdoccod=@lp_grldmsdoccod
              SET @lv_errcod=@@ERROR

              IF @lv_errcod=0
                DELETE 
                FROM GRL_DMS_DOC_VER
                WHERE buscod=@lp_buscod
                  AND grldmsdoccod=@lp_grldmsdoccod
                SET @lv_errcod=@@ERROR
            END

        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
      END
      
    ELSE
    	BEGIN
        -- si es una carpeta, entonces la borrÃ³
        DELETE 
        FROM GRL_DMS_DOC
        WHERE buscod=@lp_buscod
          and grldmsdoccod=@lp_grldmsdoccod
        SET @lv_errcod=@@ERROR
        
        -- luego borro sus documentos relacionados y devuelvo el resultado
        IF @lv_errcod=0
        	DELETE 
          FROM GRL_DMS_DOC
          WHERE buscod=@lp_buscod
            and grldmsfldcod=@lp_grldmsdoccod
          SET @lv_errcod=@@ERROR
        
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
      END
		
		SELECT @lp_grldmsdoccod as grldmsdoccod, @lv_prvdocvercod as grldmsdocvercod, @lp_grldmsfldcod as grldmsfldcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errgrldmsdoc
			
	END
  
  
  
  
-- ----------------------------------------------------------------------------
--   0 5    -    P U B L I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1 
		
    declare @lv_prvvercodext as int = 0
    declare @lv_hasver as nvarchar(2) = null
    
    BEGIN TRAN
    
    -- selecciono el nÃºmero de versiÃ³n de la Ãºltima versiÃ³n activa (si existe)
    SELECT TOP 1 @lv_prvvercodext = grldmsdocvercodext
    FROM GRL_DMS_DOC_VER
    WHERE buscod=@lp_buscod
    	AND grldmsdoccod=@lp_grldmsdoccod
      AND docsts='A'
    ORDER BY grldmsdocvercod DESC
  	
    -- actualizo el nÃºmero de versiÃ³n del documento publicado (a [nro. de la versiÃ³n anterior]+1, en caso de que haya versiÃ³n anterior o a 1 en caso de que sea la primera)
    UPDATE GRL_DMS_DOC_VER
    SET grldmsdocvercodext = @lv_prvvercodext+1
    WHERE buscod=@lp_buscod
      AND grldmsdocvercod=@lp_grldmsdocvercod
    SET @lv_errcod=@@ERROR

		SET @lp_grldmsdocvercodext=@lv_prvvercodext+1
    
    -- actualizo el estado de la versiÃ³n publicada a "activa"
    IF @lv_errcod = 0
      BEGIN
        UPDATE GRL_DMS_DOC_VER
        SET docsts = 'A'
        WHERE buscod=@lp_buscod
          AND grldmsdocvercod=@lp_grldmsdocvercod
        SET @lv_errcod=@@ERROR
      END
      
  	-- si existe una versiÃ³n activa anterior
   	IF @lv_errcod = 0 AND @lv_prvvercodext != 0
    	BEGIN
        -- actualizo el estado de la versiÃ³n activa anterior a "inactiva"
        UPDATE GRL_DMS_DOC_VER
        SET docsts = 'I'
        WHERE buscod=@lp_buscod
          AND grldmsdocvercodext=@lv_prvvercodext
          AND grldmsdoccod=@lp_grldmsdoccod
        SET @lv_errcod=@@ERROR
        
        SELECT @lv_hasver = dbo.GetTagValue('use_version',sysdocclsatr) FROM SYS_DOC_CLS WHERE buscod=@lp_buscod AND sysdocclscod=@lp_srcobjdocclscod
        -- si no gestiona versiones, borro la anterior
        IF @lv_errcod = 0 AND @lv_hasver!='X'
          BEGIN
            DELETE FROM GRL_DMS_DOC_VER
            WHERE buscod=@lp_buscod
              AND grldmsdocvercodext=@lv_prvvercodext
              AND grldmsdoccod=@lp_grldmsdoccod
              AND docsts='I'
            SET @lv_errcod=@@ERROR
          END
      END
    
    -- actualizo el estado de la cabecera a "activa"
    IF @lv_errcod = 0
      BEGIN
        UPDATE GRL_DMS_DOC
        SET docsts = 'A'
        WHERE buscod=@lp_buscod
          AND grldmsdoccod=@lp_grldmsdoccod
        SET @lv_errcod=@@ERROR
      END
    	
  	
    IF @lv_errcod=0
      COMMIT TRAN
    ELSE
      ROLLBACK TRAN
  	
    SELECT @lp_grldmsdoccod as grldmsdoccod, @lp_grldmsdocvercod as grldmsdocvercod, @lp_grldmsdocvercodext as grldmsdocvercodext, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errgrldmsdoc
    
  END
  
  
-- ----------------------------------------------------------------------------
--   0 7    -    D E S C A R G A R  C A R P E T A (con carpetas y archivos)
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '07'
BEGIN
  SET @lv_validop = 1;

  -- Recorro carpetas recursivamente desde la raÃ­z indicada
  WITH FolderTree AS (
    SELECT d.grldmsdoccod, d.grldmsdoctxt, d.grldmsfldcod, d.grldmsdocsrc, d.buscod, d.docsts, d.ctedte, d.upddte, 0 AS nivel
    FROM GRL_DMS_DOC d
    WHERE d.GrlDmsDocCod = @lp_grldmsdoccod AND d.GrlDmsDocSrc = 'FD'

    UNION ALL

    SELECT d.grldmsdoccod, d.grldmsdoctxt, d.grldmsfldcod, d.grldmsdocsrc, d.buscod, d.docsts, d.ctedte, d.upddte, ft.nivel + 1 AS nivel
    FROM GRL_DMS_DOC d
    INNER JOIN FolderTree ft ON d.GrlDmsFldCod = ft.GrlDmsDocCod
    WHERE d.GrlDmsDocSrc = 'FD'
  )

  -- Combino carpetas y documentos en una sola lista
  SELECT 
    d.grldmsdoccod, d.grldmsdoctxt, d.grldmsfldcod, d.grldmsdocsrc, d.buscod, d.docsts, d.ctedte, d.upddte,
    NULL AS grldmsdocvercod, NULL AS fleext, NULL AS fletyp, NULL AS flesze, NULL AS verupddte,
    ft.nivel, 0 AS esdoc
  FROM FolderTree ft
  INNER JOIN GRL_DMS_DOC d ON d.grldmsdoccod = ft.grldmsdoccod

  UNION ALL

  SELECT 
    d.grldmsdoccod, d.grldmsdoctxt, d.grldmsfldcod, d.grldmsdocsrc, d.buscod, d.docsts, d.ctedte, d.upddte,
    dv.grldmsdocvercod, dv.fleext, dv.fletyp, dv.flesze, dv.upddte AS verupddte,
    ft.nivel + 1 AS nivel, 1 AS esdoc
  FROM GRL_DMS_DOC d
  INNER JOIN FolderTree ft ON d.GrlDmsFldCod = ft.GrlDmsDocCod
  LEFT JOIN GRL_DMS_DOC_VER dv ON dv.GrlDmsDocCod = d.GrlDmsDocCod AND dv.docsts = 'A'
  WHERE d.GrlDmsDocSrc != 'FD'

  ORDER BY nivel, esdoc, grldmsdoctxt
END


-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R  C A R P E T A S
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1 

    declare @lv_cendoctbl nvarchar(30) = (case lower(DB_NAME()) WHEN 'tmsstemasisdev' then 'tmssSysDev' else 'tmssSysPrd' end)+'.dbo.GRL_DMS_DOC'
    
  	SET @lv_sql = '
    	SELECT (
    		SELECT 
          (SELECT d.*, CAST(d.grldmsdocatr AS NVARCHAR(MAX)) AS grldmsdocatr, 0 AS verificado
           FROM GRL_DMS_DOC d 
           WHERE d.buscod=' + QUOTENAME(@lp_buscod, '''') + 
           CASE WHEN ISNULL(@lp_docsts, '') = '' THEN '' ELSE ' AND d.docsts=' + QUOTENAME(@lp_docsts, '''') END +  
           dbo.GetVewTag('', dbo.GetTagValue('vewflt', @lp_vewcfg)) + 
           ' ORDER BY d.grldmsfldcod ASC FOR JSON PATH) AS BusDoc,
           
           (SELECT t.*, 0 AS verificado FROM '+@lv_cendoctbl+' t FOR JSON PATH) AS CenDoc

        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
      ) AS AllDoc;';
			
    EXECUTE(@lv_sql);
	END

-- ----------------------------------------------------------------------------
--   1 8    -    L I S T A R  D O C U M E N T O S
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1 

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, CAST(d.grldmsdocatr AS NVARCHAR(MAX)) AS grldmsdocatr, dv.grldmsdocvercod, dv.grldmsdocvercodext, dv.docsts as versts, dv.flesze as flesze, 0 AS verificado'
			+ '	FROM GRL_DMS_DOC d'
      + ' INNER JOIN GRL_DMS_DOC_VER dv ON d.grldmsdoccod=dv.grldmsdoccod'
			+ ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' ORDER BY dv.grldmsdocvercodext asc'
    
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
