USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_SUP_MAT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BUY_SUP_MAT_DEF]

@lp_sysoperation	as nvarchar(5),
@lp_username			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_buysupmatcod	as int					= null,	-- id registro
@lp_supcod				as int					= null,	-- id proveedor
@lp_matcod				as int					= null,	-- id material
@lp_supmatcod			as nvarchar(50)	= null,	-- cod material proveedor
@lp_supmattxt			as nvarchar(100)= null,	-- txt material proveedor
@lp_supmatuntcod	as nvarchar(20)	= null,	-- uni material proveedor
@lp_supmatatr			as nvarchar(max)= null,	-- atr material proveedor
@lp_docsts				as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)	= null,	-- configuracion vista

@lp_errcod			as int						= null OUTPUT,
@lp_errtxt			as nvarchar(400)	= null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='01'
			BEGIN TRAN

		INSERT INTO BUY_SUP_MAT (buscod, supcod, matcod, supmatcod, supmattxt, supmatuntcod, supmatatr, docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_supcod, @lp_matcod, @lp_supmatcod, @lp_supmattxt, @lp_supmatuntcod, @lp_supmatatr, @lp_docsts, getdate(), @lp_username )
		SET @lp_errcod=@@ERROR
		SET @lp_buysupmatcod = @@IDENTITY

		if @lp_sysoperation='01'
			begin
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				SELECT @lp_buysupmatcod, @lp_errcod as errcod, @lp_errtxt as errtxt
			end
		return

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='02_sp'
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='02'
			BEGIN TRAN

		UPDATE BUY_SUP_MAT 
		SET supcod = @lp_supcod,
				matcod = @lp_matcod,
				supmatcod = @lp_supmatcod,
				supmattxt	= @lp_supmattxt, 
				supmatuntcod	= @lp_supmatuntcod,
				supmatatr = @lp_supmatatr, 
				docsts	= @lp_docsts,
				upddte	= getdate(),
				updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and buysupmatcod = @lp_buysupmatcod 
		SET @lp_errcod=@@ERROR

		if @lp_sysoperation='02'
			begin
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN		
				SELECT @lp_buysupmatcod, @lp_errcod as errcod, @lp_errtxt as errtxt
			end
		return

	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT sm.*, s.suptxt, m.mattxt, m.matuntcod
		FROM BUY_SUP_MAT sm 
		left join buy_sup s on s.buscod=sm.buscod and s.supcod=sm.supcod
		left join stk_mat m on m.buscod=sm.buscod and m.matcod=sm.matcod
		WHERE sm.buscod=@lp_buscod
		  and sm.buysupmatcod = @lp_buysupmatcod
		
	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='04_sp'
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='04'
			BEGIN TRAN

		DELETE
		FROM BUY_SUP_MAT 
		WHERE buscod=@lp_buscod
			and buysupmatcod = @lp_buysupmatcod
		SET @lv_errcod=@@ERROR

		if @lp_sysoperation='04'
			begin
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN		
				SELECT @lp_buysupmatcod, @lp_errcod as errcod, @lp_errtxt as errtxt
			end
		return

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- BUY_SUP_MAT_def '08','temasis','temasis_hlt'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' sm.*, s.suptxt, m.mattxt, m.matuntcod ',
			' BUY_SUP_MAT sm '
			+ ' inner join buy_sup s on s.buscod=sm.buscod and s.supcod=sm.supcod '
			+ ' inner join stk_mat m on m.buscod=sm.buscod and m.matcod=sm.matcod '
			+ ' inner join sys_doc_cls dcs on dcs.buscod=s.buscod and dcs.sysdocclscod=s.sysdocclscod '
			+ ' inner join sys_doc_cls dcm on dcm.buscod=m.buscod and dcm.sysdocclscod=m.sysdocclscod ',
			' sm.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and dbo.CheckAuthorizationObject('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('BUY_SUP','''')+',dcs.autcod)=1 '
			+ ' and dbo.CheckAuthorizationObject('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('STK_MAT','''')+',dcm.autcod)=1 ',
			' sm.buysupmatcod ', default )
		execute( @lv_sql )
		
	END

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
