USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_FSC_PER_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_FSC_PER_DEF]

@lp_sysoperation 	as nvarchar(4),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		-- empresa
@lp_fscpercod		as int			= null,				-- id
@lp_fscpercodext	as nvarchar(20)	= null,	-- codigo
@lp_fscpertxt		as nvarchar(50)	= null,		-- descripcion
@lp_fscperstrdte	as nvarchar(14)	= null,	-- fecha inicio
@lp_fscperenddte	as nvarchar(14) = null, -- fecha fin
@lp_fscexecod 	as int = null,  					-- ejercicio fiscal
@lp_docsts			as nvarchar(02)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃ³n vista

@lp_errtyp as nvarchar(2) = null OUTPUT,
@lp_errcod as int = 0 OUTPUT,
@lp_errtxt as nvarchar(400) = null OUTPUT,
@lp_errmsg as nvarchar(400) = null OUTPUT,
@lp_errvar as nvarchar(400) = null OUTPUT

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_fscperstrdte as smalldatetime = dbo.ConvertDate( @lp_fscperstrdte )
declare @lv_fscperenddte as smalldatetime = dbo.ConvertDate( @lp_fscperenddte )
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
IF exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'FPR'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
	IF not isnull(@lp_fscpercodext,'')='' 
    BEGIN
      IF exists(select top 1 * from FIN_FSC_PER where buscod=@lp_buscod and not fscpercod=@lp_fscpercod and fscpercodext=@lp_fscpercodext and fscexecod=@lp_fscexecod)
        BEGIN
          SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
          RETURN
        END
    END
  END
  
  
  
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11' or @lp_sysoperation= '01sp'
	BEGIN
		SET @lv_validop = 1
		if @lp_sysoperation='01' or @lp_sysoperation='11'
			BEGIN TRAN
				
		INSERT INTO FIN_FSC_PER	(buscod, fscpercodext, fscpertxt, fscperstrdte, fscperenddte, fscexecod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_fscpercodext, @lp_fscpertxt, @lv_fscperstrdte, @lv_fscperenddte, @lp_fscexecod, @lp_docsts, @lp_username, getdate() )  
		SET @lp_errcod = @@ERROR
		SET @lp_fscpercod=@@IDENTITY
		if @lp_sysoperation='01' or @lp_sysoperation='11'
    	begin
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
        	SELECT @lp_fscpercod, @lp_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
      end
    else
			return  
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12' or @lp_sysoperation = '02sp'
	BEGIN
		SET @lv_validop = 1 
  
		IF @lp_sysoperation='02' or @lp_sysoperation='12'
			BEGIN TRAN
		
		UPDATE FIN_FSC_PER 
		SET	fscpercodext=@lp_fscpercodext,
			fscpertxt=@lp_fscpertxt,
			fscperstrdte=@lv_fscperstrdte,
			fscperenddte=@lv_fscperenddte,
      fscexecod = @lp_fscexecod,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and fscpercod = @lp_fscpercod
		SET @lp_errcod=@@ERROR
		IF @lp_sysoperation='02' or @lp_sysoperation='12'
    	BEGIN
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
        SELECT @lp_fscpercod, @lp_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
      END
		ELSE
      return
	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		SELECT p.*, convert(nvarchar, p.fscperstrdte, 103) as fscperstrdtecnv, convert(nvarchar, p.fscperenddte, 103) as fscperenddtecnv
		FROM FIN_FSC_PER p
		WHERE p.buscod = @lp_buscod
		  and p.fscpercod = @lp_fscpercod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14' or @lp_sysoperation = '04sp'
	BEGIN
		SET @lv_validop = 1
		IF @lp_sysoperation='04' or @lp_sysoperation='14'
			BEGIN TRAN

		DELETE
		FROM FIN_FSC_PER
		WHERE buscod = @lp_buscod
		  and fscpercod = @lp_fscpercod
		SET @lp_errcod=@@ERROR
		IF @lp_sysoperation='04' or @lp_sysoperation='14'
    	BEGIN
        IF @lp_errcod = 0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
          SELECT @lp_fscpercod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
		ELSE
      return
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, convert(nvarchar, p.fscperstrdte, 103) as fscperstrdtecnv, convert(nvarchar, p.fscperenddte, 103) as fscperenddtecnv '
			+ '	FROM FIN_FSC_PER p '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--  C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
