USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_LOG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SYS_SEC_USR_LOG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20) = null,	/* empresa */

@lp_vewcfg			as nvarchar(max)=null	/* configuración vista */

AS


SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)
declare @lv_grp as nvarchar(max)
declare @lv_grpcal as nvarchar(max)
declare @lv_grpcalflt as nvarchar(max)


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- SYS_SEC_USR_LOG_DEF '08','MDOMINGUEZ','TEMASIS_HLT','<view><vewflt> AND (L.USRLOGDTE&gt;=^2021-06-13^)</vewflt><vewgrp>DATEPART(HOUR,L.USRLOGDTE)</vewgrp><vewgrpcal>DATEPART(HOUR,L.USRLOGDTE) AS ACCTME, COUNT(*) AS ACCQTY</vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax></vewmax></view>'

		set @lv_grp = dbo.GetVewTag( '', dbo.GetTagValue('vewgrp',@lp_vewcfg) )
		set @lv_grpcal = dbo.GetVewTag( '', dbo.GetTagValue('vewgrpcal',@lp_vewcfg) )
		set @lv_grpcalflt = dbo.GetVewTag( '', dbo.GetTagValue('vewgrpcalflt',@lp_vewcfg) )

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ (case when @lv_grpcal='' then ' l.* ' else @lv_grpcal end)
			+ ' FROM sys_sec_usr_log l '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ (case when @lv_grpcal='' then '' else ' GROUP BY '+@lv_grp end)
			+ (case when @lv_grpcalflt='' then '' else ' HAVING '+@lv_grpcalflt end)
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
