USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_PTN_RPT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_PTN_RPT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_ptncod			as int			= null,	/* id de socio */
@lp_rptstrdte		as nvarchar(14) = null, /* fecha inicio */
@lp_rptenddte		as nvarchar(14) = null, /* fecha fin */

@lp_vewcfg			as nvarchar(4000)=null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_rptstrdte as datetime
set @lv_rptstrdte = dbo.ConvertDate( @lp_rptstrdte )

declare @lv_rptenddte as datetime
set @lv_rptenddte = dbo.ConvertDate( @lp_rptenddte )
if not @lv_rptenddte is null
	begin
		set @lv_rptenddte = dateadd(hour, 23-datepart(hour,@lv_rptenddte), @lv_rptenddte)
		set @lv_rptenddte = dateadd(minute, 59-datepart(minute,@lv_rptenddte), @lv_rptenddte)
		set @lv_rptenddte = dateadd(second, 59-datepart(second,@lv_rptenddte), @lv_rptenddte)
	end

/* obtengo información de socios */
SELECT p.ptncodext, p.ptntxt, 
		p.ptncatcod, isnull(c.ptncattxt,'***') as ptncattxt, 
		p.ptnsex as ptnsexcod, (case isnull(p.ptnsex,'***') when 'M' then 'MASCULINO' when 'F' then 'FEMENINO' else '***' end) as ptnsextxt, 
		p.ptnbrndte, p.ptndoctyp, p.ptndocnum,
		(case when p.ptnbrndte>getdate() then -1 else 
			datediff(year,p.ptnbrndte,getdate())
				+
			(case when datepart(month,p.ptnbrndte)*100+datepart(day,p.ptnbrndte) < datepart(month,getdate())*100+datepart(day,getdate()) then 1 else 0 end) 
		end) as ptnage,		
		a.lndcod, isnull(l.lndisokey,'***') as lndisokey, a.lndregcod, isnull(r.lndregtxt,'***') as lndregtxt, a.adrcty, 
		p.ptnregdte
INTO #tmp_data
FROM spt_ptn p 
left join grl_dat_adr a on a.buscod=p.buscod and a.adrnum=p.adrnum 
left join grl_dat_lnd l on l.lndcod=a.lndcod
left join grl_dat_lnd_reg r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod
left join spt_ptn_cat c on c.buscod=p.buscod and c.ptncatcod=p.ptncatcod
WHERE p.buscod=@lp_buscod 
  and p.docsts='A' 
  and p.ptnregdte is not null 
  and p.ptnbrndte is not null
  and p.ctedte between @lv_rptstrdte and @lv_rptenddte
  and p.deldte is null



/* ------------------------------------------------------------------------ */
/*   0 1    -    T O T A L    P A D R O N									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT count(*) as ptnqty
		FROM #tmp_data
		
	end

/* ------------------------------------------------------------------------ */
/*   0 2    -    D I S T R I B U C I O N    C A T E G O R I A				*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		SELECT ptncattxt, count(*) as ptncatqty
		FROM #tmp_data
		group by ptncattxt
		order by ptncattxt

	END
	
/* ------------------------------------------------------------------------ */
/*   0 3    -    D I S T R I B U C I O N    S E X O							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ptnsextxt, count(*) as ptnsexqty
		FROM #tmp_data 
		group by ptnsextxt
		order by ptnsextxt

	END

/* ------------------------------------------------------------------------ */
/*   0 4    -    D I S T R I B U C I O N    E D A D							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		select (case when ptnage=-1 then '0 Nonato' else cast(convert(int, (((ptnage-1)/10)*10)+1) as nvarchar(4))+' a '+cast(convert(int, (((ptnage-1)/10)*10)+10) as nvarchar(4)) end) as ptnagetxt, count(*) as ptnageqty
		from #tmp_data
		group by (case when ptnage=-1 then '0 Nonato' else cast(convert(int, (((ptnage-1)/10)*10)+1) as nvarchar(4))+' a '+cast(convert(int, (((ptnage-1)/10)*10)+10) as nvarchar(4)) end)
		order by (case when ptnage=-1 then '0 Nonato' else cast(convert(int, (((ptnage-1)/10)*10)+1) as nvarchar(4))+' a '+cast(convert(int, (((ptnage-1)/10)*10)+10) as nvarchar(4)) end)

	END

/* ------------------------------------------------------------------------ */
/*   0 5    -    D I S T R I B U C I O N    C I U D A D						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    

		SELECT lndregtxt + ' (' + lndisokey + ')' as ptnctytxt, count(*) as ptnctyqty
		FROM #tmp_data
		group by lndregtxt + ' (' + lndisokey + ')'
		order by lndregtxt + ' (' + lndisokey + ')'
/*
		SELECT adrcty + ' ( ' + lndregtxt + ' - ' + lndisokey + ' )', count(*) as ptnctyqty
		FROM #tmp_data
		group by adrcty + ' ( ' + lndregtxt + ' - ' + lndisokey + ' )'
		order by adrcty + ' ( ' + lndregtxt + ' - ' + lndisokey + ' )'
*/

	END
	
/* ------------------------------------------------------------------------ */
/*   0 6    -    E V O L U C I O N    I N S C R I P C I O N					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '06'
	BEGIN
		SET @lv_validop = 1    

		SELECT datepart(month,ptnregdte) as ptnregmth, count(*) as ptnregqty 
		FROM #tmp_data
		GROUP BY datepart(month,ptnregdte)
		ORDER BY datepart(month,ptnregdte)

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM #tmp_data

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
