USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LIC_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HHR_LIC_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrlictypcod	 as int			= null,	-- id
@lp_hhrlictypcodext	as nvarchar(20)	= null,	-- codigo externo
@lp_hhrlictyptxt	as nvarchar(50)	= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_hhrlictypatr	as nvarchar(max)= null	-- atributos

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_hhrlictypcodext=''
			if exists(select top 1 * from HHR_LIC_TYP where buscod=@lp_buscod and not hhrlictypcod=@lp_hhrlictypcod and hhrlictypcodext=@lp_hhrlictypcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego tipo de licencia
		INSERT INTO HHR_LIC_TYP (buscod, hhrlictypcodext, hhrlictyptxt, hhrlictypatr, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrlictypcodext, @lp_hhrlictyptxt, @lp_hhrlictypatr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrlictypcod=@@IDENTITY
		
		-- agrego tipo de licencia en empresas sincronizadas
		if @lv_errcod=0
			begin
				INSERT INTO HHR_LIC_TYP (buscod, hhrlictypcodext, hhrlictyptxt, hhrlictypatr, docsts, ctedte, cteusr, HhrLicTypSynCod)
				SELECT buscod, @lp_hhrlictypcodext, @lp_hhrlictyptxt, @lp_hhrlictypatr, @lp_docsts, getdate(), @lp_username, @lp_hhrlictypcod
				FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN',@lp_buscod)
				set @lv_errcod = @@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlictypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_LIC_TYP 
		SET	hhrlictypcodext = @lp_hhrlictypcodext,
			hhrlictyptxt = @lp_hhrlictyptxt,
			hhrlictypatr = @lp_hhrlictypatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE (buscod=@lp_buscod and hhrlictypcod=@lp_hhrlictypcod)
		   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrlictypsyncod=@lp_hhrlictypcod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlictypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM HHR_LIC_TYP c
		WHERE c.buscod=@lp_buscod
		  and c.hhrlictypcod=@lp_hhrlictypcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF exists(select top 1 * from HHR_LIC where (buscod=@lp_buscod and HhrLicTypCod=@lp_hhrlictypcod)
				or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_SysAppMdlPrm('HHR_DAT_SYN', @lp_buscod))
			  and (HhrLicTypCod in (select HhrLicTypCod from HHR_LIC_TYP where HhrLicTypSynCod=@lp_hhrlictypcod)) ))
			BEGIN
				SELECT null, -1 as errcod, 'No se puede borrar. Se encuentra asignado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		DELETE
		FROM HHR_LIC_TYP
		WHERE (buscod=@lp_buscod and hhrlictypcod=@lp_hhrlictypcod)
		   or (buscod IN (SELECT buscod FROM dbo.getBuscod_from_sysappmdlprm('HHR_DAT_SYN', @lp_buscod)) and hhrlictypsyncod=@lp_hhrlictypcod)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrlictypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_autges as nvarchar(50) = 'dbo.gettagvalue('+QUOTENAME('autges','''')+',c.hhrlictypatr)'
		declare @lv_prv as nvarchar(50) = 'dbo.gettagvalue('+QUOTENAME('prv','''')+',c.hhrlictypatr)'
    
  	set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, 
                                      ' c.*, '+@lv_autges+' as hhrlictypatrautges, '+@lv_prv+' as hhrlictypatrprv',
                                      'HHR_LIC_TYP c ',
                                      'c.buscod='+QUOTENAME(@lp_buscod, ''''),
                                     	'c.hhrlictypcod' ,
                                     	'hhrlictypatrautges;'+@lv_autges+char(10)+'hhrlictypatrprv;'+@lv_prv )
   execute( @lv_sql )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
