USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_EXC_RTE_CLS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_EXC_RTE_CLS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_excrteclscod	as int = null,	          -- id 
@lp_excrteclscodext	as nvarchar(20) = null,	-- codigo 
@lp_excrteclstxt	as nvarchar(50)	= null,	  -- descripciÃ³n 
@lp_docsts			as nvarchar(02)	= null,	    -- estado 
@lp_vewcfg			as nvarchar(max)=null      -- vista 

AS
 
SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		/* valido cÃ³digo */
		if not isnull(@lp_excrteclscodext,'')=''
			IF exists(select top 1 * from fin_exc_rte_cls where buscod=@lp_buscod and not excrteclscod=@lp_excrteclscod and excrteclscodext=@lp_excrteclscodext)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente.' as errtxt
					RETURN
				END

	END



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EXC'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_EXC_RTE_CLS (buscod, excrteclscodext, excrteclstxt, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_excrteclscodext, @lp_excrteclstxt, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_excrteclscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_excrteclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE FIN_EXC_RTE_CLS 
		SET	excrteclscodext= @lp_excrteclscodext,
			excrteclstxt= @lp_excrteclstxt,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod=@lp_buscod
		  and excrteclscod = @lp_excrteclscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_excrteclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
  
		

-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT ec.*
		FROM FIN_EXC_RTE_CLS ec
		WHERE ec.buscod=@lp_buscod
		  and ec.excrteclscod = @lp_excrteclscod
		  
	END
  


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		/* borro los tipos de cambio cargados para todas las clases */
		DELETE
		FROM FIN_EXC_RTE
		WHERE buscod=@lp_buscod
		  and excrteclscod=@lp_excrteclscod
		SET @lv_errcod=@@ERROR
		
		/* borro las clases de cambio */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM FIN_EXC_RTE_CLS
				WHERE buscod=@lp_buscod
				  and excrteclscod = @lp_excrteclscod
				SET @lv_errcod=@@ERROR
			END
					
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_excrteclscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ec.* '
			+ ' FROM fin_exc_rte_cls ec '
			+ ' WHERE ec.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
