USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_PRC_CND_ACC_SEQ_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[GRL_PRC_CND_ACC_SEQ_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod 				as nvarchar(20)	= null,	-- empresa
@lp_prccndaccseqcod	as int				= null,	-- id
@lp_prccndcod			as int					= null,	-- id condicion
@lp_prccndaccseqord	as int				= null,	-- orden
@lp_prccndacccod	as int					= null,	-- id acceso
@lp_docsts				as nvarchar(02)	= null,	-- estado

@lp_vewcfg				as nvarchar(max)= null	-- config vista

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
    
		BEGIN TRAN
		
		-- creo secuencia en acceso de condicion
		INSERT INTO GRL_PRC_CND_ACC_SEQ	(buscod, prccndcod, prccndaccseqord, prccndacccod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_prccndcod, @lp_prccndaccseqord, @lp_prccndacccod, @lp_docsts, @lp_username, getdate())  
		SET @lv_errcod = @@ERROR
		SET @lp_prccndaccseqcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndaccseqcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		-- actualizo la secuencia actual
		UPDATE GRL_PRC_CND_ACC_SEQ  
		SET	prccndaccseqord = @lp_prccndaccseqord,
			prccndacccod= @lp_prccndacccod,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and prccndaccseqcod = @lp_prccndaccseqcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_prccndaccseqcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pca.*
		FROM GRL_PRC_CND_ACC_SEQ pca
		 left join GRL_PRC_CND pc on pc.buscod=pca.buscod and pc.prccndcod=pca.PrcCndCod  
		 left join GRL_PRC_CND_ACC pa on pa.BusCod=pca.BusCod and pa.PrcCndAccCod=pca.PrcCndAccCod 
		WHERE pca.buscod = @lp_buscod
		  and pca.prccndcod = @lp_prccndcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM GRL_PRC_CND_ACC_SEQ
		WHERE buscod = @lp_buscod
		  and prccndaccseqcod = @lp_prccndaccseqcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_prccndaccseqcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' pca.*, pa.prccndacctxt ',
			' GRL_PRC_CND_ACC_SEQ pca '
			+ ' inner join GRL_PRC_CND pc on pc.buscod=pca.buscod and pc.prccndcod=pca.prccndcod '
			+ ' inner join GRL_PRC_CND_ACC pa on pa.buscod=pca.buscod and pa.prccndacccod=pca.prccndacccod ',
			' pca.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and pca.docsts='+QUOTENAME(@lp_docsts,'''') end), 
 		default, default )
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
