USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_TAX_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_DAT_TAX_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_taxnum 			as int			= null,	/* id */
@lp_taxcatcod	 	as nvarchar(20)	= null,	/* categoria fiscal */
@lp_taxcod			as nvarchar(20) = null,	/* cuit-cuil */
@lp_taxiibb 		as nvarchar(20)	= null,	/* nro ingresos brutos */
@lp_taxactstr 		as nvarchar(14)	= null,	/* fecha inicio actividades */
@lp_taxcur			as nvarchar(10)	= null,	/* cur (argentina) */
@lp_taxdoctyp		as nvarchar(05)	= null,	/* documento - tipo */
@lp_taxdocnum		as nvarchar(20)	= null,	/* documento - número */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */
@lp_taxsrctyp		as nvarchar(20)	= null,	/* origen - tipo */
@lp_taxsrccod		as nvarchar(20) = null,	/* origen - id */
@lp_lndcod			as nvarchar(5)  = null,	/* id país */

@lp_vewcfg			as nvarchar(max)= null	/* config vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0
	
DECLARE @lv_taxactstr as datetime
SET @lv_taxactstr = dbo.ConvertDate( @lp_taxactstr )

declare @lv_sql as nvarchar(max)


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		/* valido categoría impositiva */
		if not isnull(@lp_taxcatcod,'')=''
			IF not exists(select top 1 * from fin_tax_cat where lndcod=@lp_lndcod and taxcatcod=@lp_taxcatcod)
				BEGIN
					SELECT null, -1 as errcod, 'Categoría de impuesto inválida.' as errtxt
					RETURN
				END

		if not isnull(@lp_taxdoctyp,'')=''
			IF not exists(select top 1 * from ADM_IDT_TYP where lndcod=@lp_lndcod and idttypcod=@lp_taxdoctyp)
				BEGIN
					SELECT null, -1 as errcod, 'Identificacion Fiscal inválida.' as errtxt
					RETURN
				END
		
		if exists(select top 1 * from grl_dat_tax where buscod=@lp_buscod and taxsrctyp=@lp_taxsrctyp and taxsrccod=@lp_taxsrccod)
			set @lp_sysoperation='02'
		else
			set @lp_sysoperation='01'

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO GRL_DAT_TAX (buscod, 
			taxcatcod, lndcod, taxcod, taxiibb, taxactstr, taxcur,
			taxdoctyp, taxdocnum,
			taxsrctyp, taxsrccod,
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod,  
			@lp_taxcatcod, @lp_lndcod, @lp_taxcod, @lp_taxiibb, @lv_taxactstr, @lp_taxcur,
			@lp_taxdoctyp, @lp_taxdocnum,
			@lp_taxsrctyp, @lp_taxsrccod,
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_taxnum=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_taxnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_TAX
		SET	taxcatcod = @lp_taxcatcod,
			lndcod = @lp_lndcod, 
			taxcod = @lp_taxcod,
			taxiibb = @lp_taxiibb,
			taxactstr = @lv_taxactstr,
			taxcur	= @lp_taxcur,
			taxdoctyp=@lp_taxdoctyp,
			taxdocnum=@lp_taxdocnum,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and taxsrctyp=@lp_taxsrctyp
		  and taxsrccod=@lp_taxsrccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_taxnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END





/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1
		
		SELECT t.*, f.taxcattxt, i.idttyptxt
		FROM GRL_DAT_TAX t 
			left join FIN_TAX_CAT f on f.lndcod=t.lndcod and f.taxcatcod=t.taxcatcod
			left join ADM_IDT_TYP i on i.LndCod=t.LndCod and i.IdtTypCod=t.TaxDocTyp
		WHERE t.buscod=@lp_buscod
		  and taxsrctyp=@lp_taxsrctyp
		  and taxsrccod=@lp_taxsrccod
		
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		DELETE 
		FROM GRL_DAT_TAX
		WHERE buscod=@lp_buscod
		  and taxsrctyp=@lp_taxsrctyp
		  and taxsrccod=@lp_taxsrccod
		SET @lv_errcod=@@ERROR				
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_taxnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.* '
			+ ' FROM GRL_DAT_TAX t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
