USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_LND_TWN_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GRL_DAT_LND_TWN_GRP_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_lndtwngrpcod	as int          = null,	-- id 
@lp_lndtwngrpcodext	as nvarchar(20)	= null, -- codigo
@lp_lndtwngrptxt	as nvarchar(50)	= null,	-- descripciÃ³n 
@lp_docsts				as nvarchar(02) = null,	-- estado 

@lp_vewcfg				as nvarchar(max)= null	-- config vista

AS

SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TWG'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
	
		-- codigo externo duplicado
		if not isnull(@lp_lndtwngrpcodext,'')=''
			IF exists(select top 1 * from GRL_DAT_LND_TWN_GRP where buscod=@lp_buscod and not lndtwngrpcod=@lp_lndtwngrpcod and lndtwngrpcodext=@lp_lndtwngrpcodext)
				BEGIN
					SELECT null, 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
				
	END


-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO GRL_DAT_LND_TWN_GRP (buscod, lndtwngrpcodext, lndtwngrptxt, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_lndtwngrpcodext, @lp_lndtwngrptxt, 'A', getdate(), @lp_username)
		set @lv_errcod = @@ERROR
		set @lp_lndtwngrpcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lndtwngrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		UPDATE GRL_DAT_LND_TWN_GRP
		SET	lndtwngrpcodext = @lp_lndtwngrpcodext,
				lndtwngrptxt = @lp_lndtwngrptxt,
				docsts	  = @lp_docsts,
				updusr    = @lp_username,
				upddte    = getdate()
		WHERE buscod = @lp_buscod
		  and lndtwngrpcod = @lp_lndtwngrpcod
		set @lv_errcod = @@ERROR

		SELECT @lp_lndtwngrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT ltg.*
		FROM GRL_DAT_LND_TWN_GRP ltg
		WHERE ltg.buscod = @lp_buscod
		  and ltg.lndtwngrpcod = @lp_lndtwngrpcod

	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		UPDATE GRL_DAT_LND_TWN
		SET lndtwngrpcod=null
		WHERE buscod=@lp_buscod
		  and lndtwngrpcod=@lp_lndtwngrpcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			begin
				DELETE FROM GRL_DAT_LND_TWN_GRP
				WHERE buscod = @lp_buscod
					and lndtwngrpcod = @lp_lndtwngrpcod
				set @lv_errcod = @@ERROR
			end

		if @lv_errcod=0
			COMMIT TRAN
		else
			ROLLBACK TRAN

		SELECT @lp_lndtwngrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' ltg.* ',
			' GRL_DAT_LND_TWN_GRP ltg ',
			' ltg.buscod='+QUOTENAME(@lp_buscod,'''')
			+' and ltg.docsts='+QUOTENAME('A',''''),
			' ltg.lndtwngrptxt ', default )

		execute( @lv_sql )
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
