USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_NWS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_NWS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_nwscod	 		as int					= null,	-- id
@lp_nwstxt			as nvarchar(250)= null,	-- descripcion
@lp_nwsdte			as nvarchar(14)	= null,	-- fecha
@lp_lngcod			as nvarchar(02)	= null,	-- idioma
@lp_txtcod			as int					= null,	-- id texto - template
@lp_nwsmsg			as nvarchar(max)= null,	-- texto
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_sysdocclscod	as int				= null  -- id clase

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)

declare @lv_nwsdte as smalldatetime = dbo.ConvertDate( @lp_nwsdte )


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_NWS (buscod, nwstxt, nwsdte, lngcod, txtcod, nwsmsg, docsts, ctedte, cteusr, SysDocClsCod)
		VALUES (@lp_buscod, @lp_nwstxt, @lv_nwsdte, @lp_lngcod, @lp_txtcod, @lp_nwsmsg, @lp_docsts, getdate(), @lp_username, @lp_SysDocClsCod)
		SET @lv_errcod=@@ERROR
		SET @lp_nwscod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_nwscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE GRL_NWS 
		SET	nwstxt = @lp_nwstxt,
			nwsdte = @lv_nwsdte,
			lngcod = @lp_lngcod, 
			txtcod = @lp_txtcod,
			nwsmsg = @lp_nwsmsg, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and nwscod = @lp_nwscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_nwscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT n.*, t.txtcodext, t.txttxt, f.FleCod 
		FROM GRL_NWS n
		left join GRL_DAT_TXT t on t.buscod=n.buscod and t.txtsrctyp='GRL_NWS' and t.txtsrccod=cast(n.nwscod as nvarchar(20))
		left join GRL_DAT_FLE f on f.BusCod=n.BusCod and f.FleSrcTyp='GRL_NWS' and f.FleSrcCod=cast(n.nwscod as nvarchar(20)) and f.DocSts='A'
		WHERE n.buscod=@lp_buscod
		  and n.nwscod=@lp_nwscod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE
		FROM GRL_NWS
		WHERE buscod = @lp_buscod
		  and nwscod = @lp_nwscod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_nwscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg, 
						' n.*, tt.txttypcodext ',
            ' GRL_NWS n '
            + ' left join GRL_DAT_TXT t on t.buscod=n.buscod and t.txtsrctyp='+QUOTENAME('GRL_NWS','''')+' and t.txtsrccod=cast(n.nwscod as nvarchar(20)) '
            + ' left join GRL_DAT_TXT_TYP tt on tt.buscod=t.buscod and tt.txttypcod=n.txtcod ',
						' n.buscod='+QUOTENAME(@lp_buscod, ''''),
						' n.nwsdte desc ',  default)
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
