USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MOD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HLT_MOD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_hltmodcod		as int			= null,	/* id modulo */
@lp_hltmodcodext	as nvarchar(20)	= null,	/* codigo */
@lp_hltmodtxt		as nvarchar(50)	= null,	/* des modulo */
@lp_cuscod			as int			= null, /* id cliente */
@lp_docsts 			as nvarchar(2)	= null, /* estado */

@lp_vewcfg			as nvarchar(400)= null, /* configuraciÃ³n vista */

@lp_sysdocclscod	as int			= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)
	
-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MOD'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		/* valido cliente */
		if not isnull(@lp_cuscod,0)=0
			if not exists(select top 1 * from sls_cus where buscod=@lp_buscod and cuscod=@lp_cuscod)
				begin
					SELECT null, -1 as errcod, 'Codigo de cliente invÃ¡lido' as errtxt
					RETURN
				end

		/* valido cÃ³digo duplicado */		
		if not isnull(@lp_hltmodcodext,'')=''
			IF exists(select top 1 * from hlt_mod where buscod=@lp_buscod and not hltmodcod=@lp_hltmodcod and hltmodcodext=@lp_hltmodcodext and cuscod=@lp_cuscod)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo externo existente' as errtxt
					RETURN
				END
		
	END	


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' OR @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO HLT_MOD (buscod, hltmodcodext, hltmodtxt, cuscod, docsts, cteusr, ctedte, sysdocclscod) 
		VALUES (@lp_buscod, @lp_hltmodcodext, @lp_hltmodtxt, @lp_cuscod, @lp_docsts, @lp_username, getdate(), @lp_sysdocclscod)
		SET @lv_errcod = @@ERROR
		SET @lp_hltmodcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltmodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02' OR @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_MOD 
		SET hltmodcodext = @lp_hltmodcodext,
			hltmodtxt = @lp_hltmodtxt,
			cuscod = @lp_cuscod, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and hltmodcod=@lp_hltmodcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltmodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03' OR @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*, c.custxt
		FROM HLT_MOD m
			left join sls_cus c on c.buscod=m.buscod and c.cuscod=m.cuscod
		WHERE m.buscod=@lp_buscod
		  and m.hltmodcod=@lp_hltmodcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'  OR @lp_sysoperation = '14'
	BEGIN

		SET @lv_validop = 1    

		BEGIN TRAN

		/* borro modulo */
		IF @lv_errcod=0
			BEGIN
				DELETE FROM HLT_MOD WHERE buscod=@lp_buscod and hltmodcod=@lp_hltmodcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltmodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08' OR @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1   
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' m.*, c.custxt '
			+ '	FROM hlt_mod m '
			+ ' left join sls_cus c on c.buscod=m.buscod and c.cuscod=m.cuscod '
			+ ' WHERE m.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END
	
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END



GO
