USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAN_REQ_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAN_REQ_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stkmanreqcod		as int			= null,				-- id
@lp_stkmanreqcodext	as nvarchar(20) = null,	-- codigo
@lp_stkmanreqtxt as nvarchar(50) = null,		-- descripcion
@lp_stkmanreqdte		as nvarchar(14)	= null,		-- fecha
@lp_srcobjtyp 		as nvarchar(20)	= null,	-- origen - objeto
@lp_srcobjcod		as int			= null,				-- origen - id
@lp_srccntcod		as int			= null,				-- contacto
@lp_docsts 			as nvarchar(2)	= null,		-- estado
@lp_sysdocclscod	as int			= null,			-- id clase documento
@lp_sysdocrejcod	as int			= null,			-- id motivo de rechazo
@lp_vewcfg			as nvarchar(max)= null		-- configuraciÃ³n vista
AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_sql as nvarchar(max)
declare @lv_stkmanreqdte as smalldatetime = dbo.ConvertDate( @lp_stkmanreqdte )



------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MCS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	begin
   if not isnull(@lp_stkmanreqcodext,'')=''
		if exists(select top 1 * from stk_man_req where buscod=@lp_buscod and not stkmanreqcod=@lp_stkmanreqcod and stkmanreqcodext=@lp_stkmanreqcodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					return
				end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		-- agrego cabecera de documento
		INSERT INTO STK_MAN_REQ (buscod, stkmanreqcodext, stkmanreqtxt, stkmanreqdte, 
			srcobjtyp, srcobjcod, srccntcod, sysdocclscod, sysdoctrecod, sysdocrejcod,
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stkmanreqcodext, @lp_stkmanreqtxt, @lv_stkmanreqdte,  
			@lp_srcobjtyp, @lp_srcobjcod, @lp_srccntcod, @lp_sysdocclscod, 'N', @lp_sysdocrejcod,
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmanreqcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanreqcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE STK_MAN_REQ
		SET	stkmanreqcodext = @lp_stkmanreqcodext,
			stkmanreqtxt = @lp_stkmanreqtxt,
			stkmanreqdte = @lv_stkmanreqdte,
      srcobjtyp = @lp_srcobjtyp, 
      srcobjcod = @lp_srcobjcod, 
      srccntcod = @lp_srccntcod,
			sysdocrejcod = @lp_sysdocrejcod,
			docsts = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmanreqcod=@lp_stkmanreqcod
		  and not docsts = 'C'
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmanreqcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT r.*, dc.sysdocclstxt, dt.sysdoctretxt, a.adrnme001 as srcobjtxt, g.cnttxt as srccnttxt
		FROM STK_MAN_REQ r
		inner join sys_doc_cls dc on dc.buscod=r.buscod and dc.sysdocclscod=r.sysdocclscod
		left join sys_doc_tre dt on dt.buscod=r.buscod and dt.sysdoctrecod=r.sysdoctrecod
		left join grl_dat_adr a on a.buscod=r.buscod and a.adrsrctyp=r.srcobjtyp and a.adrsrccod=r.srcobjcod 
  	left join grl_dat_cnt g on g.buscod=r.buscod and g.cntcod=r.srccntcod 
		WHERE r.buscod=@lp_buscod
		  and r.stkmanreqcod=@lp_stkmanreqcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		declare @lv_objtyp as nvarchar(20)  = (select objtyp from SYS_DOC_CLS dc inner join STK_MAN_REQ s on s.buscod=dc.buscod and s.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and s.stkmanreqcod=@lp_stkmanreqcod)

		BEGIN TRAN

		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_stkmanreqcod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro materiales del documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_REQ_MAT
				WHERE buscod = @lp_buscod
				  and stkmanreqcod = @lp_stkmanreqcod
				SET @lv_errcod=@@ERROR
			END

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_REQ
				WHERE buscod = @lp_buscod
				  and stkmanreqcod = @lp_stkmanreqcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_stkmanreqcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END
  


---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
    set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, ' r.*, dc.sysdocclstxt, dt.sysdoctretxt ', 
			'stk_man_req r '
			+ ' inner join sys_doc_cls dc on dc.buscod=r.buscod and dc.sysdocclscod=r.sysdocclscod '
			+ ' left join sys_doc_tre dt on dt.buscod=r.buscod and dt.sysdoctrecod=r.sysdoctrecod ', 
			' r.buscod='+QUOTENAME(@lp_buscod, ''''), 
			' r.stkmanreqcod desc ' , default)
		execute( @lv_sql )
  END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
