USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_BNK_TJT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TSR_BNK_TJT_DEF]

@lp_sysoperation 	as nvarchar(02),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_bnktjtcod		as int			= null,	/* id */
@lp_bnktjtcodext	as nvarchar(06)	= null,	/* codigo externo */
@lp_bnktjttxt		as nvarchar(50)	= null,	/* descripcion */
@lp_bnktjtstrdte	as nvarchar(14) = null, /* fecha de emisión */
@lp_bnktjtenddte	as nvarchar(14) = null, /* fecha de vencimiento*/
@lp_bnktjtsrccod	as int			= null,	/* banco de origen */
@lp_bnktjttyp		as nvarchar(02) = null, /* tipo de tarjeta (DB/CR) */
@lp_docsts			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)=null	/* configuración vista */

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_bnktjtstrdte as smalldatetime
set @lv_bnktjtstrdte = dbo.ConvertDate( @lp_bnktjtstrdte )

declare @lv_bnktjtenddte as smalldatetime
set @lv_bnktjtenddte = dbo.ConvertDate( @lp_bnktjtenddte )

declare @lv_sql as nvarchar(max)




/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Código externo existente											*/
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		if not isnull(@lp_bnktjtcodext,'')=''
			if exists(select top 1 * from tsr_bnk_tjt where buscod=@lp_buscod and not bnktjtcod=@lp_bnktjtcod and bnktjtcodext=@lp_bnktjtcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	END

/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO TSR_BNK_TJT
			(buscod, bnktjtcodext, bnktjttxt, bnktjtstrdte, bnktjtenddte, bnktjtsrccod, bnktjttyp,
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_bnktjtcodext, @lp_bnktjttxt, @lv_bnktjtstrdte, @lv_bnktjtenddte, @lp_bnktjtsrccod, @lp_bnktjttyp,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_bnktjtcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_bnktjtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE TSR_BNK_TJT 
		SET	bnktjtcodext=@lp_bnktjtcodext,
			bnktjttxt=@lp_bnktjttxt,
			bnktjtstrdte=@lv_bnktjtstrdte,
			bnktjtenddte=@lv_bnktjtenddte,
			bnktjtsrccod=@lp_bnktjtsrccod,
			bnktjttyp=@lp_bnktjttyp,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and bnktjtcod = @lp_bnktjtcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_bnktjtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*
		FROM TSR_BNK_TJT t
		WHERE t.buscod = @lp_buscod
		  and t.bnktjtcod = @lp_bnktjtcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE 
		FROM TSR_BNK_TJT
		WHERE buscod = @lp_buscod
		  and bnktjtcod = @lp_bnktjtcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_bnktjtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.*, convert(varchar, t.bnktjtstrdte, 103) as bnktjtstrdtecnv, convert(varchar, t.bnktjtenddte, 103) as bnktjtenddtecnv '
			+ '	FROM TSR_BNK_TJT t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and t.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
