USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[LOG_DRV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOG_DRV_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		-- empresa
@lp_drvcod 			as int			= null,	-- id chofer
@lp_drvcodext		as nvarchar(20) = null,	-- cÃ³digo externo de chofer (en convenio)
@lp_drvtxt			as nvarchar(82) = null,	-- nombre de chofer
@lp_drvinbdte		as nvarchar(14)	= null,	-- fecha ingreso
@lp_drvoutdte		as nvarchar(14)	= null,	-- fecha egreso
@lp_drvoutcmt		as nvarchar(max)=null,	-- motivo egreso
@lp_drvbrndte		as nvarchar(14)	= null,	-- fecha nacimiento
@lp_drvniknme		as nvarchar(40)	= null,	-- nik name
@lp_drvnat			as nvarchar(20)	= null,	-- nacionalidad
@lp_drvcmt			as text			= null, -- comentarios
@lp_docsts			as nvarchar(02) = null, -- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_sysdocclscod	as int			= null	-- Codigo de clase de documeto

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt nvarchar(max) = null
declare @lv_sql as nvarchar(max)
declare @lv_drvbrndte as datetime = dbo.ConvertDate( @lp_drvbrndte )
declare @lv_drvinbdte as datetime = dbo.ConvertDate( @lp_drvinbdte )
declare @lv_drvoutdte as datetime = dbo.ConvertDate( @lp_drvoutdte )



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'LOG'
		DECLARE @lv_autprgcod as nvarchar(3) = 'DRV'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	begin
		if not @lp_drvcodext=''
			if exists(select top 1 * from LOG_DRV where buscod=@lp_buscod and not drvcod=@lp_drvcod and drvcodext=@lp_drvcodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					return
				end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		-- agrego el chofer
		INSERT INTO LOG_DRV (buscod, drvcodext, drvtxt, drvniknme, drvnat, drvbrndte, drvinbdte, drvoutdte, drvoutcmt, drvcmt, docsts, cteusr, ctedte, sysdocclscod)
		VALUES (@lp_buscod, @lp_drvcodext, @lp_drvtxt, @lp_drvniknme, @lp_drvnat, @lv_drvbrndte, @lv_drvinbdte, @lv_drvoutdte, @lp_drvoutcmt, @lp_drvcmt, @lp_docsts, @lp_username, getdate(), @lp_sysdocclscod)
		SET @lv_errcod=@@ERROR
		SET @lp_drvcod=@@IDENTITY
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_drvcod as drvcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE LOG_DRV 
		SET drvcodext	= @lp_drvcodext,
			drvtxt		= @lp_drvtxt,		-- nombre de chofer
			drvniknme	= @lp_drvniknme,	-- nik name
			drvnat		= @lp_drvnat,		-- nacionalidad
			drvbrndte	= @lv_drvbrndte,	-- fecha nacimiento
			drvinbdte	= @lv_drvinbdte,	-- fecha ingreso
			drvoutdte	= @lv_drvoutdte,	-- fecha egreso
			drvoutcmt	= @lp_drvoutcmt,	-- motivo egreso
			drvcmt		= @lp_drvcmt,		-- comentarios
			docsts		= @lp_docsts,
			updusr		= @lp_username,
			upddte		= getdate()
		WHERE buscod = @lp_buscod
		  and drvcod = @lp_drvcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_drvcod as drvcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT d.*, dc.SysDocClsTxt
		FROM LOG_DRV d
		inner join SYS_DOC_CLS dc on dc.BusCod = d.BusCod and dc.objtyp ='LOG_DRV' and dc.SysDocClsCod = d.SysDocClsCod
		WHERE d.buscod = @lp_buscod
		  and d.drvcod = @lp_drvcod
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- borro los datos de impuestos del chofer
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='LOG_DRV'
				  and taxsrccod=@lp_drvcod
				SET @lv_errcod=@@ERROR
			END

		-- borro los datos de banco del chofer 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='LOG_DRV'
				  and bnksrccod=@lp_drvcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro contactos del chofer 
		declare  @lv_i INT = 0
      select *  into #tmpSrv
          from grl_dat_cnt
          where cntsrctyp = 'LOG_DRV'
          AND cntsrccod = @lp_drvcod ;
          declare @lv_cntcod int
          declare lc_cur cursor for select cntcod
          from #tmpSrv
          open lc_cur
          
            fetch next from lc_cur into  @lv_cntcod
            
            while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito 
             begin
             
              exec dbo.GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,'LOG_DRV',@lp_drvcod,null,'00000000000000',null,null,null,'A',null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
             	
              fetch next from lc_cur into @lv_cntcod
              set @lv_i = @lv_i + 1
              end
      close lc_cur
      deallocate lc_cur

		-- borro los datos de direcciÃ³n del chofer
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR 
				WHERE buscod=@lp_buscod 
				  and adrsrctyp='LOG_DRV'
				  and adrsrccod=@lp_drvcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro los datos centrales del chofer
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM LOG_DRV 
				WHERE buscod=@lp_buscod 
				  and drvcod=@lp_drvcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_drvcod as drvcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' d.*, '
			+ ' a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrzon, a.adrstr, a.adreml, a.adrmapgeo, '
			+ ' l.lndtxt, r.lndregtxt, dc.sysdocclstxt, '
			+ ' t.taxcod, '
			+ ' b.paymthcod '
			+ ' FROM LOG_DRV d '
			+ ' left join GRL_DAT_ADR a on a.buscod=d.buscod and a.adrsrctyp='+QUOTENAME('LOG_DRV','''')+' and a.adrsrccod=d.drvcod'
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod '
			+ ' left join GRL_DAT_TAX t on t.buscod=d.buscod and t.taxsrctyp='+QUOTENAME('LOG_DRV','''')+' and t.taxsrccod=d.drvcod'
			+ ' left join GRL_DAT_BNK b on b.buscod=d.buscod and b.bnksrctyp='+QUOTENAME('LOG_DRV','''')+' and b.bnksrccod=d.drvcod'
			+ ' left join sys_doc_cls dc on dc.buscod=d.buscod and dc.sysdocclscod=d.sysdocclscod '
			+ ' WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and d.deldte is null '
			+ '   and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('LOG_DRV','''')+'))) '
			+ (case when  isnull(@lp_docsts,'')='' then '' else ' and d.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'd.drvtxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
