USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_EVL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_EVL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_evlcod			as int			= null,	-- id evolucion
@lp_evlnum			as int			= null,	-- num evoluciÃ³n
@lp_patcod			as int			= null,	-- id paciente
@lp_prscod			as int			= null,	-- id prestador
@lp_spccod			as int			= null,	-- id especialidad
@lp_evldte			as nvarchar(14)	= null,	-- fecha
@lp_evlusr			as nvarchar(50)	= null,	-- usuario evoluciÃ³n
@lp_evlevl			as nvarchar(max)=null,	-- evolucion
@lp_evlsub			as nvarchar(max)=null,	-- subjetivo
@lp_evlobj			as nvarchar(max)=null,	-- objetivo
@lp_evlcmt			as nvarchar(max)=null,	-- comentarios 
@lp_docsts 			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- config vista

@lp_evldtestr		as nvarchar(14)	= null,	-- fecha desde
@lp_evldteend		as nvarchar(14)	= null,	-- fecha hasta
@lp_plnid			as int			= null,	-- id planificaciÃ³n
@lp_plndteid		as int			= null,	-- id planificaciÃ³n fecha
@lp_evlatr001		as nvarchar(max)= null,	-- atributos
@lp_delcod			as int			= null,	-- id centro atencion

@lp_sysdocclscod	as int			= null	-- id clase de documento

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod as int = 0
declare @lv_errtxt as nvarchar(400)

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

DECLARE @lv_evldte as smalldatetime = dbo.ConvertDate( @lp_evldte )
DECLARE @lv_evldtestr as smalldatetime = dbo.ConvertDate( @lp_evldtestr )
DECLARE @lv_evldteend as smalldatetime = dbo.ConvertDate( @lp_evldteend )

declare @lv_pattxt as nvarchar(82)
declare @lv_prstxt as nvarchar(82)
declare @lv_spctxt as nvarchar(50)
declare @lv_deltxt as nvarchar(50)

-- variables de planificaciÃ³n de gastos
declare @lv_buyexpsysdoccls as int
declare @lv_buyexpcodsrc as int
declare @lv_buyexpcurcod as nvarchar(5)
declare @lv_buyexpcod as int
declare @lv_buyexpdoccod as int
declare @lv_buyexpdoccodold as int
declare @lv_buyexptypcod as int
declare @lv_buyexpdoctot as bigint
declare @lv_buyexpdoccmt as nvarchar(500)
declare @lv_buyexpkey as nvarchar(50)
declare @lv_grpserid as int
declare @lv_buyexpdocimpqty as int
declare @lv_srcobjcod001 as int
declare @lv_srcobjcod002 as int

declare @lv_patwgt as nvarchar(20)
declare @lv_pathgh as nvarchar(20)

-- flag para indicar si la fecha de ingreso se establece con la primer evoluciÃ³n
-- flag para indciar si la numeraciÃ³n de la evaluaciÃ³n se realiza de forma automÃ¡tica => o rango de numeraciÃ³n interno?


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'EVL'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		-- prevengo doble evoluciÃ³n (mÃºltiples post)
		if not isnull(@lp_plnid,0)=0 and not isnull(@lp_plndteid,0)=0
			if exists(select top 1 * from hlt_pat_evl where buscod=@lp_buscod and plnid=@lp_plnid and plndteid=@lp_plndteid and docsts='A')
				begin
					SELECT top 1 evlcod, 0 as errcod, '' as errtxt
					from hlt_pat_evl
					where buscod=@lp_buscod and plnid=@lp_plnid and plndteid=@lp_plndteid and docsts='A'
					return
				end

		-- busco el numero de evaluaciÃ³n a asignar (CAMBIAR !!!!!)
		declare @lv_evlnum as int
		if not exists(select top 1 * from hlt_pat_evl where buscod=@lp_buscod and patcod=@lp_patcod)
			set @lv_evlnum = 99999
		else
			set @lv_evlnum = isnull( (select max(evlnum) from hlt_pat_evl where buscod=@lp_buscod and evlnum<99999 and patcod=@lp_patcod) , 0 ) + 1

		set @lv_patwgt = dbo.getTagValue('patwgt',@lp_evlatr001)
		set @lv_pathgh = dbo.getTagValue('pathgh',@lp_evlatr001)

		BEGIN TRAN

		declare @lv_cuscod as int
    select top 1 @lv_cuscod=cuscod, @lv_pattxt=pattxt from hlt_pat where buscod=@lp_buscod and patcod=@lp_patcod

		-- EVOLUCION. agrego el registro de evolucion
		IF @lv_errcod=0
			BEGIN
				set @lv_prstxt = (select top 1 prstxt from hlt_prs where buscod=@lp_buscod and prscod=@lp_prscod)
				set @lv_spctxt = (select top 1 spctxt from hlt_spc where buscod=@lp_buscod and spccod=@lp_spccod)
				set @lv_deltxt = (select top 1 deltxt from hlt_del where buscod=@lp_buscod and delcod=@lp_delcod)

				INSERT INTO HLT_PAT_EVL (buscod, evlnum, patcod, pattxt, prscod, prstxt, spccod, spctxt, evldte, evlusr, evlevl, evlsub, evlobj, evlcmt, delcod, deltxt,
					plnid, plndteid, evlatr001, sysdocclscod,
					docsts, ctedte, cteusr)
				VALUES (@lp_buscod, @lv_evlnum, @lp_patcod, @lv_pattxt, @lp_prscod, @lv_prstxt, @lp_spccod, @lv_spctxt, @lv_evldte, @lp_evlusr, @lp_evlevl, @lp_evlsub, @lp_evlobj, @lp_evlcmt, @lp_delcod, @lv_deltxt,
					@lp_plnid, @lp_plndteid, @lp_evlatr001, @lp_sysdocclscod,
					@lp_docsts, getdate(), @lp_username )
				SET @lv_errcod=@@ERROR
				SET @lp_evlcod=@@IDENTITY
			END

		-- actualizo altura y peso de paciente si fue evaluado
		if @lv_errcod=0 and (not @lv_patwgt='' or not @lv_pathgh='')
    	begin
      	update hlt_pat 
        set patwgt = (case when @lv_patwgt='' then patwgt else @lv_patwgt end),
        		pathgh = (case when @lv_pathgh='' then pathgh else @lv_pathgh end)
        where buscod=@lp_buscod 
          and patcod=@lp_patcod
      	set @lv_errcod=@@ERROR
      end
      
		-- agrego el registro en la historia clÃ­nica
		IF @lv_errcod=0
			BEGIN
      	exec HLT_PAT_HST_DEF '01', @lp_username, @lp_buscod, null, null, @lp_evldte, 'HLT_EVL', @lp_evlcod, null, @lp_patcod, @lv_cuscod, @lp_prscod, @lp_spccod, @lp_plnid, @lp_plndteid, @lp_evlcod, @lp_docsts, null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlcod as evlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		-- si no estÃ¡ el control y no esta borrado, puedo modificar
		-- select top 1000 * from hlt_pat_hst where buscod='tinfusion' and movtyp='EVL' and evlcod=@lp_evlcod
    
		set @lv_patwgt = dbo.getTagValue('patwgt',@lp_evlatr001)
		set @lv_pathgh = dbo.getTagValue('pathgh',@lp_evlatr001)

		BEGIN TRAN

		-- actualizo evoluciÃ³n
		UPDATE hlt_pat_evl
		SET EvlDte=@lv_evldte,
			EvlEvl=isnull(@lp_evlevl,'') + isnull(evlevl,''),
			EvlSub=isnull(@lp_evlsub,'') + isnull(evlsub,''),
			EvlObj=isnull(@lp_evlobj,'') + isnull(evlobj,''),
			EvlCmt=isnull(@lp_evlcmt,'') + isnull(evlcmt,''),
			evlatr001 = @lp_evlatr001,
      updusr = @lp_username,
      upddte = getdate(),
			docsts=@lp_docsts
		WHERE buscod=@lp_buscod
		  and EvlCod=@lp_evlcod
		  and DelDte is null
		SET @lv_errcod=@@ERROR

		-- actualizo estado de evolucion-especialidad
		if @lv_errcod=0
			begin
				UPDATE hlt_pat_evl_spc
				set docsts=@lp_docsts
				where buscod=@lp_buscod
				  and evlcod=@lp_evlcod
				set @lv_errcod=@@ERROR
			end

		-- actualizo estado de evoluciÃ³n-materiales
		if @lv_errcod=0
			begin
				UPDATE hlt_pat_evl_mat
				set docsts=@lp_docsts
				where buscod=@lp_buscod
				  and evlcod=@lp_evlcod
				set @lv_errcod=@@ERROR
			end

		-- actualizo altura y peso de paciente si fue evaluado
		if @lv_errcod=0 and (not @lv_patwgt='' or not @lv_pathgh='')
    	begin
      	update hlt_pat 
        set patwgt = (case when @lv_patwgt='' then patwgt else @lv_patwgt end),
        		pathgh = (case when @lv_pathgh='' then pathgh else @lv_pathgh end)
        where buscod=@lp_buscod 
          and patcod=@lp_patcod
        set @lv_errcod=@@ERROR
      end


		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlcod as evlcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		SElECT e.*,
			p.patcod, p.pattxt, p.cuscod, c.custxt, dc.sysdocclstxt 
		FROM hlt_pat_evl e
			left join hlt_pat p on p.buscod=e.buscod and p.patcod=e.patcod
			left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod
			left join sys_doc_cls dc on dc.buscod=e.buscod and dc.sysdocclscod=e.sysdocclscod 
		WHERE e.buscod=@lp_buscod
		  and e.evlcod=@lp_evlcod
		  and e.deldte is null

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		declare @lv_key as nvarchar(50)
		
		-- obtengo clave PLNID_PLNDTEID
		set @lv_key = (select top 1 cast(x.plnid as nvarchar(50))+'_'+cast(x.plndteid as nvarchar(50))
						from hlt_pat_evl x
						where x.buscod=@lp_buscod
						  and x.evlcod=@lp_evlcod )


		-- valido que no este liquidada a prestador
		if exists(select top 1 * from HLT_PRS_LQD_DOC where buscod=@lp_buscod and refobjtyp='HLT_EVL' and refobjcod001=@lp_evlcod)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar evolucion. Ya ha sido liquidada a prestador.' as errtxt
				RETURN
			END

		-- valido que no estÃ© liquidada a cliente
		if exists(select top 1 * from HLT_LQD_DOC where buscod=@lp_buscod and refobjtyp='HLT_EVL' and refobjcod001=@lp_evlcod)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede borrar evolucion. Ya ha sido liquidada a cliente.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		-- GASTOS. borro gasto real
		select top 1 @lv_buyexpcod=BuyExpCod from BUY_EXP where buscod=@lp_buscod and BuyExpTxt='HLT_EVL_'+CAST(@lp_evlcod as nvarchar(20))
		if not ISNULL(@lv_buyexpcod,0)=0
			exec BUY_EXP_DEF '24', @lp_username, @lp_buscod, @lv_buyexpcod, null,null,null,null,null,null,null,null,null,null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT

		-- NO SE BORRAN EVOLUCIONES - SE DESACTIVAN
		-- IHABILITO LA EVOLUCION EN EL HISTORIAL
		if @lv_errcod=0
			begin
				UPDATE HLT_PAT_HST
				SET DocSts='I',
					DelDte=GETDATE(),
					DelUsr=@lp_username
				WHERE BusCod=@lp_buscod
				  and EvlCod=@lp_evlcod
				SET @lv_errcod=@@ERROR
				set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
			end

		-- INHABILITO LA EVOLUCION
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PAT_EVL
				SET docsts='I',
					deldte=GETDATE(),
					delusr=@lp_username
				WHERE buscod=@lp_buscod
					and evlcod=@lp_evlcod
				SET @lv_errcod=@@ERROR
				set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
			END

		IF @lv_errcod=0
			  COMMIT TRAN
		ELSE
			  ROLLBACK TRAN

		SELECT @lp_evlcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
    
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' e.*, p.cuscod, c.custxt, h.hltplnid, h.hltplndteid, convert(nvarchar,pl.plninbdte,103) as plninbdtecnv, it.idttyptxt as pattaxdoccod, pt.taxcod as pattaxcod, dc.sysdocclstxt, s.spcfrm ',
			' hlt_pat_evl e '
			+ ' inner join hlt_pat p on p.buscod=e.buscod and p.patcod=e.patcod '
			+ ' inner join hlt_spc s on s.buscod=e.buscod and s.spccod=e.spccod '
			+ ' inner join hlt_pat_hst h on h.buscod=e.buscod and h.evlcod=e.evlcod '
			+ ' left join grl_dat_tax pt on pt.buscod=p.buscod and pt.taxsrctyp='+QUOTENAME('HLT_PAT','''')+' and pt.taxsrccod=p.patcod '
			+ ' left join adm_idt_typ it on it.lndcod=pt.lndcod and it.idttypcod=pt.taxdoctyp '
			+ ' left join sys_doc_cls dc on dc.buscod=e.buscod and dc.sysdocclscod=e.sysdocclscod '
			+ ' inner join sys_doc_cls pdc on pdc.buscod=p.buscod and pdc.sysdocclscod=p.sysdocclscod '
			+ ' inner join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod '
			+ ' inner join sys_doc_cls cdc on cdc.buscod=c.buscod and cdc.sysdocclscod=c.sysdocclscod '
			+ ' left join hlt_pln_dte pl on pl.buscod=e.buscod and pl.plnid=e.plnid and pl.plndteid=e.plndteid ',
			' e.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and e.deldte is null '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('HLT_PAT','''')+', dc.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('SLS_CUS','''')+', cdc.autcod)=1 '
			-- + ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('HLT_PRS','''')+', rdc.autcod)=1 '
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'e.patcod')
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'e.cuscod')
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'e.prscod')
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'e.spccod'),
			' e.evldte desc ', default )
		execute( @lv_sql )

	END



-- -------------------------------------------------------------------
--   2 3    -    V E R    E V A L U A C I O N    D E L    D I A			
-- -------------------------------------------------------------------
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1

		SELECT e.*
		FROM HLT_PAT_EVL e
		WHERE buscod=@lp_buscod
		  and patcod=@lp_patcod
		  and year(evldte) = year(getdate())
		  and month(evldte) = month(getdate())
		  and day(evldte) = day(getdate())
		  and not docsts = 'I'
		  and e.deldte is null

	END



-- --------------------------------------------------------------------
--   1 4    -    V E R    U L T I M A    E V A L U A C I O N			
-- --------------------------------------------------------------------
IF @lp_sysoperation = '24'
	BEGIN
		SET @lv_validop = 1

		SELECT TOP 1 e.*,
			p.pattxt,
			c.custxt
		FROM HLT_PAT_EVL e
			inner join hlt_pat p on p.buscod=e.buscod and p.patcod=e.patcod
			inner join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod
		WHERE e.buscod=@lp_buscod
		  and e.patcod=@lp_patcod
		  and e.deldte is null
		ORDER BY e.evldte desc, e.evlcod desc

	END



-- ------------------------------------------------------------------------
--   1 5    -    V E R    E V A L U A C I O N    D E    U N    D I A		
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '15'
	BEGIN
		SET @lv_validop = 1

		SELECT e.*
		FROM HLT_PAT_EVL e
		WHERE buscod=@lp_buscod
		  and patcod=@lp_patcod
		  and year(evldte) = year(@lv_evldte)
		  and month(evldte) = month(@lv_evldte)
		  and day(evldte) = day(@lv_evldte)
		  and not docsts = 'I'
		  and e.deldte is null

	END



-- ------------------------------------------------------------------------
--   3 1    -    G A S T O S
--   registra un gasto planificado como gasto real en base a la evoluciÃ³n
--   HLT_PAT_EVL_DEF '31','TEMASIS','TEMASIS_HLT',4442
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '31'
	BEGIN
		SET @lv_validop = 1

		-- obtengo ID de planificaciÃ³n de la evoluciÃ³n
		select top 1 @lp_plnid=plnid, @lp_prscod=prscod, @lv_evldte=evldte from hlt_pat_evl where buscod=@lp_buscod and evlcod=@lp_evlcod

		-- GASTOS. si tiene planificaciÃ³n de gastos se crea el el gasto real
		set @lv_buyexpkey = 'HLT_EVL_'+ cast(@lp_evlcod as nvarchar(20))
		set @lv_grpserid = (select grpserid from hlt_pln where buscod=@lp_buscod and plnid=@lp_plnid)
		select top 1 @lv_buyexpcodsrc=BuyExpCod, @lv_buyexpcurcod=curcod from buy_exp where buscod=@lp_buscod and srcobjtyp='HLT_PLN' and srcobjcod=@lv_grpserid
		IF @lv_errcod=0 and not @lp_plnid=0 and not isnull(@lv_buyexpcodsrc,0)=0 and not exists(select top 1 * from BUY_EXP where BusCod=@lp_buscod and BuyExpTxt=@lv_buyexpkey)
			BEGIN
				-- se obtiene la clase de documento del gasto real a registrar
				set @lv_buyexpsysdoccls = (SELECT TOP 1 dbo.gettagvalue('sysdocclscodexp',dc.sysdocclsatr) FROM SYS_DOC_CLS dc WHERE dc.buscod=@lp_buscod AND dc.sysdocclscod=(SELECT TOP 1 p.sysdocclscod FROM HLT_PLN p WHERE p.buscod=@lp_buscod AND p.plnid=@lp_plnid))
				SET @lv_errcod=@@ERROR
				-- si esta configurada la clase de documento de gasto real se crea el documento
				IF @lv_errcod=0 and not isnull(@lv_buyexpsysdoccls,0)=0
					BEGIN
						-- crea registro de cabecera
						set @lp_evldte = cast( datepart(year,@lv_evldte)*10000+datepart(month,@lv_evldte)*100+datepart(day,@lv_evldte) as nvarchar(8)) + '000000'
						exec BUY_EXP_DEF '21',@lp_username,@lp_buscod,null,null,@lv_buyexpkey, @lp_evldte, 'HLT_PRS', @lp_prscod, 'A',null,@lv_buyexpsysdoccls,0,@lv_buyexpcurcod,null,null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
						set @lv_buyexpcod = @@IDENTITY
						if @lv_errcod=0
							begin
								declare @lv_doc_fetch_status int
								declare @lv_imp_fetch_status int
								declare lv_buyexp_cur cursor for select buyexpdoccod, buyexptypcod, buyexpdoctot, buyexpdoccmt from BUY_EXP_DOC where BusCod=@lp_buscod and buyexpcod=@lv_buyexpcodsrc
								open lv_buyexp_cur
								fetch next from lv_buyexp_cur into @lv_buyexpdoccodold, @lv_buyexptypcod, @lv_buyexpdoctot, @lv_buyexpdoccmt
								set @lv_doc_fetch_status = @@FETCH_STATUS
								while @lv_doc_fetch_status=0 and @lv_errcod=0
									begin
										set @lv_buyexpdoctot = @lv_buyexpdoctot * 1000
										exec BUY_EXP_DOC_DEF '11',@lp_username,@lp_buscod,@lv_buyexpcod,null,@lp_evldte,@lv_buyexptypcod,@lv_buyexpdoctot,null,0,'HLT_PAT',null,@lv_buyexpdoccmt,'A',null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
										set @lv_buyexpdoccod = @@IDENTITY

										if @lv_errcod=0
											declare lv_buyexpimp_cur cursor for select srcobjcod001, srcobjcod002, buyexpdocimpqty from BUY_EXP_DOC_IMP where BusCod=@lp_buscod and buyexpcod=@lv_buyexpcodsrc and BuyExpDocCod=@lv_buyexpdoccodold
											open lv_buyexpimp_cur
											fetch next from lv_buyexpimp_cur into @lv_srcobjcod001, @lv_srcobjcod002, @lv_buyexpdocimpqty
											set @lv_imp_fetch_status = @@FETCH_STATUS
											while @lv_imp_fetch_status=0 and @lv_errcod=0
												begin
													set @lv_buyexpdocimpqty = @lv_buyexpdocimpqty*1000
													exec BUY_EXP_DOC_IMP_DEF '11', @lp_username, @lp_buscod, @lv_buyexpcod, @lv_buyexpdoccod, null, 'HLT_PAT', @lv_srcobjcod001, @lv_srcobjcod002, 'A', @lv_buyexpdocimpqty, null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
													fetch next from lv_buyexpimp_cur into @lv_srcobjcod001, @lv_srcobjcod002, @lv_buyexpdocimpqty
													set @lv_imp_fetch_status = @@FETCH_STATUS
												end
											close lv_buyexpimp_cur
											deallocate lv_buyexpimp_cur

										fetch next from lv_buyexp_cur into @lv_buyexpdoccodold, @lv_buyexptypcod, @lv_buyexpdoctot, @lv_buyexpdoccmt
										set @lv_doc_fetch_status = @@FETCH_STATUS

									end
								close lv_buyexp_cur
								deallocate lv_buyexp_cur
							end
					END
			END
			
		SELECT @lp_evlcod, @lv_buyexpcod as buyexpcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
