USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_PRS_LQD_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_PRS_LQD_DOC_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_cnsprslqddoccod	as int			= null, /* id liquidaciÃ³n-documento */
@lp_cnsprslqdcod 		as int			= null,	/* id liquidaciÃ³n */
@lp_refobjtyp		as nvarchar(20)	= null,	/* objeto referencia */--CNS_EVT
@lp_refobjcod001	as nvarchar(20)	= null, /* id ref 001 */--steevtdoccod
@lp_refobjcod002	as nvarchar(20)	= null,	/* id ref 002 */--steevtcod
@lp_cnsprslqddocqty	as bigint		= null,	/* cantidad */
@lp_matuntcod	as nvarchar(5)			= null,	/* unidad */
@lp_cnsprslqddocprc	as bigint		= null,	/* precio */
@lp_cnsprslqddoctot	as bigint		= null,	/* total */
@lp_cnsprslqddocatr001	as nvarchar(max)=null, /* atributos */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null,	/* configuraciÃ³n vista */

@lp_errcod				as int 			= null OUTPUT,
@lp_errtxt				as nvarchar(400)= null OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)
DECLARE @lv_flt as nvarchar(max)
DECLARE @lv_ord as nvarchar(max)

declare @lv_cnsprslqddocqty as decimal(18,3) = dbo.ConvertNumber( @lp_cnsprslqddocqty, 3)
declare @lv_cnsprslqddocprc as decimal(18,3) = dbo.ConvertNumber( @lp_cnsprslqddocprc, 3)
declare @lv_cnsprslqddoctot as decimal(18,3) = dbo.ConvertNumber( @lp_cnsprslqddoctot, 3)


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		set @lp_cnsprslqddoccod = (select top 1 cnsprslqddoccod from CNS_PRS_LQD_DOC where BusCod=@lp_buscod and cnsprslqdCod=@lp_cnsprslqdcod and RefObjTyp=@lp_refobjtyp and RefObjCod001=@lp_refobjcod001 and RefObjCod002=@lp_refobjcod002 and dbo.GetTagValue('REFOBJGRPCOD',cnsprslqddocatr001)=dbo.GetTagValue('REFOBJGRPCOD',@lp_cnsprslqddocatr001) and dbo.GetTagValue('REFOBJSUBGRPCOD',cnsprslqddocatr001)=dbo.GetTagValue('REFOBJSUBGRPCOD',@lp_cnsprslqddocatr001) )
		if not @lp_cnsprslqddoccod is null
			set @lp_sysoperation = '02'
		else
			set @lp_sysoperation = '01'
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='01'
			BEGIN TRAN
		
		INSERT INTO CNS_PRS_LQD_DOC (buscod, cnsprslqdcod, refobjtyp, refobjcod001, refobjcod002, 
			cnsprslqddocqty,matuntcod,cnsprslqddocprc,cnsprslqddoctot, cnsprslqddocatr001,
			docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_cnsprslqdcod, @lp_refobjtyp, @lp_refobjcod001, @lp_refobjcod002, 
			@lv_cnsprslqddocqty,@lp_matuntcod,@lv_cnsprslqddocprc,@lv_cnsprslqddoctot, @lp_cnsprslqddocatr001,
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_cnsprslqddoccod=@@IDENTITY
		
		IF @lv_errcod=0
			BEGIN
				UPDATE CNS_PRS_LQD
				SET cnsprslqdtot = isnull( (select sum(isnull(d.cnsprslqddoctot,0)) 
												FROM CNS_PRS_LQD_DOC d 
												where d.buscod=@lp_buscod 
												  and d.cnsprslqdcod=@lp_cnsprslqdcod
												  ) , 0 )
				WHERE buscod=@lp_buscod 
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod = @@ERROR
			END
      
		if @lp_sysoperation='01'
			begin
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
          
      	SELECT @lp_cnsprslqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
			end
    
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'  or @lp_sysoperation='02_sp'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='02'
			BEGIN TRAN
		
		UPDATE CNS_PRS_LQD_DOC
		SET cnsprslqddoctot	= @lv_cnsprslqddoctot, 
			cnsprslqddocatr001 = @lp_cnsprslqddocatr001,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and cnsprslqddoccod = @lp_cnsprslqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE CNS_PRS_LQD
				SET cnsprslqdtot = isnull( (select sum(isnull(d.cnsprslqddoctot,0)) 
												FROM CNS_PRS_LQD_DOC d 
												where d.buscod=@lp_buscod 
												  and d.cnsprslqdcod=@lp_cnsprslqdcod
												  ) , 0 )
				WHERE buscod=@lp_buscod 
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod = @@ERROR
			END
		
    if @lp_sysoperation='02'
			begin
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN
          
				SELECT @lp_cnsprslqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
			end      
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM CNS_PRS_LQD_DOC
		WHERE buscod = @lp_buscod
		  and cnsprslqddoccod = @lp_cnsprslqddoccod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'  or @lp_sysoperation='04_sp'
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='04'
			BEGIN TRAN
		
		DELETE FROM CNS_PRS_LQD_DOC
		WHERE buscod = @lp_buscod
		  and cnsprslqddoccod = @lp_cnsprslqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE CNS_PRS_LQD
				SET cnsprslqdtot = isnull( (select sum(isnull(d.cnsprslqddoctot,0)) 
												FROM CNS_PRS_LQD_doc d 
												where d.buscod=@lp_buscod 
												  and d.cnsprslqdcod=@lp_cnsprslqdcod
												  and not exists(select top 1 * from cns_prs_lqd_doc lx where lx.buscod=d.buscod and lx.refobjtyp='CNS_LQP' and refobjcod001=d.cnsprslqdcod and refobjcod002=d.cnsprslqddoccod)
												) , 0 )
				WHERE buscod=@lp_buscod 
				  and cnsprslqdcod=@lp_cnsprslqdcod
				SET @lv_errcod = @@ERROR
			END
		if @lp_sysoperation='04'
			begin
        IF @lv_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_cnsprslqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
			end
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- CNS_PRS_LQD_doc_def '08','mdominguez','temasis_edu'

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*'
			+ ' FROM CNS_PRS_LQD_doc ld '
			+ ' inner join CNS_PRS_LQD l on l.buscod=ld.buscod and l.cnsprslqdcod=ld.cnsprslqdcod '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
