USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_STK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HLT_PAT_STK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,	/* empresa */
@lp_patcod 			as nvarchar(10)	= null,	/* id paciente */
@lp_matcod			as nvarchar(20)	= null,	/* id material */
@lp_matqty			as bigint		= null,	/* cantidad */
@lp_matuntcod		as nvarchar(05) = null,	/* id uni med */
@lp_movdte			as nvarchar(14)	= null, /* fecha de movimiento */
@lp_docsts 			as nvarchar(2)	= null,	/* estado */

@lp_vewcfg			as nvarchar(400)= null,	/* config vista */

@lp_errcod			as int=0		 OUTPUT,/* error - codigo */
@lp_errtxt			as nvarchar(250)=null OUTPUT	/* error - descripcion */

AS

SET NOCOUNT ON

DECLARE @lv_validop as int
SET @lv_validop = 0

DECLARE @lv_errcod as int
set @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_movdte as datetime
set @lv_movdte = dbo.ConvertDate( @lp_movdte )

declare @lv_stkper as int
set @lv_stkper = (datepart(year,@lv_movdte)*100) + datepart(month,@lv_movdte)

declare @lv_matqty as decimal(13,3)
set @lv_matqty = dbo.ConvertNumber( @lp_matqty, 3 )



/* ------------------------------------------------------------------------ */
/*   0 0    -    A C T U A L I Z A R										*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '00'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN				/* INSERT #863 */

		/* obtengo unida de medida base de material */
		declare @lv_matuntcod as nvarchar(5)
		if @lp_matcod='dummy'
			set @lv_matuntcod='UN'
		else
			set @lv_matuntcod = (select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

		/* registro total */
		if not exists(select top 1 * from hlt_pat_stk where buscod=@lp_buscod and patcod=@lp_patcod and matcod=@lp_matcod)
			begin
				INSERT INTO HLT_PAT_STK (buscod, patcod, matcod, matqty, matuntcod, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_patcod, @lp_matcod, @lv_matqty, @lv_matuntcod, @lp_docsts, getdate(), @lp_username
				set @lp_errcod = @@ERROR
			end
		else
			begin
				UPDATE HLT_PAT_STK
				SET matqty = matqty + dbo.ConvertUnit( @lv_matqty, @lp_matuntcod, @lv_matuntcod ),
				    upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and patcod=@lp_patcod
				  and matcod=@lp_matcod
				set @lp_errcod = @@ERROR
			end

		/* registro mensual */		
		IF @lp_errcod = 0				/* INSERT #863 */
			BEGIN						/* INSERT #863 */

				if not exists(select top 1 * from hlt_pat_stk_mth where buscod=@lp_buscod and patcod=@lp_patcod and stkper=@lv_stkper and matcod=@lp_matcod)
					begin
						/* obtengo saldo mes anterior */
						declare @lv_matqty_prev as decimal(13,3)
						set @lv_matqty_prev = isnull( (select top 1 matqty from hlt_pat_stk_mth where buscod=@lp_buscod and patcod=@lp_patcod and matcod=@lp_matcod order by stkper desc) , 0 )

						INSERT INTO HLT_PAT_STK_MTH (buscod, patcod, stkper, matcod, matqty, matuntcod, docsts, ctedte, cteusr)
						SELECT @lp_buscod, @lp_patcod, @lv_stkper, @lp_matcod, (@lv_matqty_prev+@lv_matqty), @lp_matuntcod, @lp_docsts, getdate(), @lp_username
						set @lp_errcod = @@ERROR
					end
				else
					begin
						UPDATE HLT_PAT_STK_MTH
						SET matqty = matqty + dbo.ConvertUnit( @lv_matqty, @lp_matuntcod, @lv_matuntcod ),
							upddte = getdate(),
							updusr = @lp_username
						WHERE buscod=@lp_buscod
						and patcod=@lp_patcod
						and stkper=@lv_stkper
						and matcod=@lp_matcod
						set @lp_errcod = @@ERROR

						/* FALTA: el stock que se da de alta en meses anteriores debe sumarse a los meses posteriores */

					end

			END							/* INSERT #863 */

		IF @lp_errcod = 0				/* INSERT #863 */
			COMMIT TRAN					/* INSERT #863 */
		ELSE							/* INSERT #863 */
			ROLLBACK TRAN				/* INSERT #863 */
		
		SET @lp_errtxt = dbo.GetErrorDescription( @lp_errcod )	/* INSERT #863 */

		RETURN

	END



GO
