USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_TCH_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_TCH_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		-- empresa
@lp_tchcod 			as int			= null,	-- id prestador
@lp_tchcnthrs		as nvarchar(50) = null, -- horario de contacto
@lp_tchcmt			as text			= null, -- comentarios
@lp_docsts			as nvarchar(02) = null, -- estado
@lp_tchcodext		as nvarchar(20) = null,	-- cÃ³digo externo de prestador (en convenio)
@lp_lndtwngrpcod	as nvarchar(10) = null,	-- zona o provincia
@lp_tchprn			as int			= null,	-- imprimible en cartilla
@lp_tchtxt			as nvarchar(82) = null,	-- nombre de prestador
@lp_prsdte			as nvarchar(14)	= null,	-- fecha de actualizaciÃ³n (exportaciÃ³n imprenta)

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_tchniknme		as nvarchar(40)	= null,	-- nik name
@lp_tchinbdte		as nvarchar(14)	= null,	-- fecha ingreso
@lp_tchoutdte		as nvarchar(14)	= null,	-- fecha egreso
@lp_tchoutcmt		as nvarchar(10)	= null,	-- motivo egreso
@lp_tchnat			as nvarchar(20)	= null,	-- nacionalidad
@lp_tchbrndte		as nvarchar(14)	= null,	-- fecha nacimiento
@lp_tchttl			as nvarchar(50)	= null,	-- estudios titulo
@lp_tchothstd		as nvarchar(max)= null,	-- estudios otros
@lp_tchjobhst		as nvarchar(max)= null,	-- antecedentes laborales
@lp_educatprccod	as int			= null,	-- lista de precios de categorizaciÃ³n
@lp_sysdocclscod	as int			= null	-- Codigo de clase de documeto

AS 

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt nvarchar(max) = null
declare @lv_sql as nvarchar(max)

declare @lv_prsclstxt as nvarchar(50)
declare @lv_prsclstyp as int
declare @lv_prsclsspc as nvarchar(250)
declare @lv_prsclsord as int
declare @lv_prsdte as datetime = dbo.ConvertDate( @lp_prsdte )
declare @lv_tchbrndte as datetime = dbo.ConvertDate( @lp_tchbrndte )
declare @lv_tchinbdte as datetime = dbo.ConvertDate( @lp_tchinbdte )
declare @lv_tchoutdte as datetime = dbo.ConvertDate( @lp_tchoutdte )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TCH'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		-- codigo externo duplicado
		if not isnull(@lp_tchcodext,'')=''
			IF exists(select top 1 * from  EDU_TCH where buscod=@lp_buscod and not tchcod=@lp_tchcod and tchcodext=@lp_tchcodext)
				BEGIN
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
	END		
  


-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* agrego el prestador */
		INSERT INTO EDU_TCH (buscod, tchcnthrs, tchcmt, tchprn, docsts, cteusr, ctedte, tchtxt, tchniknme, tchnat, tchbrndte, tchinbdte, tchoutdte, tchoutcmt, tchttl, tchothstd, tchjobhst, educatprccod, tchcodext,sysdocclscod)
		VALUES (@lp_buscod, @lp_tchcnthrs, @lp_tchcmt, @lp_tchprn, @lp_docsts, @lp_username, getdate(), @lp_tchtxt, @lp_tchniknme, @lp_tchnat, @lv_tchbrndte, @lv_tchinbdte, @lv_tchoutdte, @lp_tchoutcmt, @lp_tchttl, @lp_tchothstd, @lp_tchjobhst, @lp_educatprccod, @lp_tchcodext ,@lp_sysdocclscod)
		SET @lv_errcod=@@ERROR
		SET @lp_tchcod=@@IDENTITY
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE EDU_TCH 
		SET tchcodext	= @lp_tchcodext,
			tchcnthrs	= @lp_tchcnthrs,	-- horario de contacto 
			tchcmt		= @lp_tchcmt,		-- comentarios 
			tchprn		= @lp_tchprn,		-- en cartilla 
			docsts		= @lp_docsts,
			updusr		= @lp_username,
			upddte		= getdate(),
			tchtxt		= @lp_tchtxt,		-- nombre de prestador 
			tchniknme	= @lp_tchniknme,	-- nik name 
			tchnat		= @lp_tchnat,		-- nacionalidad 
			tchbrndte	= @lv_tchbrndte,	-- fecha nacimiento 
			tchinbdte	= @lv_tchinbdte,	-- fecha ingreso 
			tchoutdte	= @lv_tchoutdte,	-- fecha egreso 
			tchoutcmt	= @lp_tchoutcmt,	-- motivo egreso 
			tchttl		= @lp_tchttl,		-- titulo 
			tchothstd	= @lp_tchothstd,	-- otros estudios 
			tchjobhst	= @lp_tchjobhst,	-- antecedentes laborales 
			educatprccod= @lp_educatprccod		-- lista de precios - categorizaciÃ³n 
		WHERE buscod = @lp_buscod
		  and tchcod = @lp_tchcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, 
			(case when tchbrndte is null then null else datediff(year, tchbrndte, getdate()) + (case when datepart(month,getdate())<datepart(month,tchbrndte) or ( datepart(month,getdate())=datepart(month,tchbrndte) and datepart(day,getdate())<datepart(day,tchbrndte) ) then -1 else 0 end) end) as prsage, 
			(case when tchinbdte is null then null else (datediff(year, tchinbdte, getdate()) + (case when datepart(month,getdate())<datepart(month,tchinbdte) or (datepart(month,getdate())=datepart(month,tchinbdte) and datepart(day,getdate())<datepart(day,tchinbdte)) then -1 else 0 end)) end) as prsjobold,
			cast(null as int) as prsjobpts,
			cast(null as int) as prscatpts,
			cast(null as decimal(13,3)) as prscatprc,
			cast(null as int) as prspts,
			cd.SysDocClsTxt
		FROM EDU_TCH p
		inner join SYS_DOC_CLS cd on cd.BusCod = p.BusCod and cd.objtyp ='EDU_TCH' and cd.SysDocClsCod = p.SysDocClsCod
		WHERE p.buscod = @lp_buscod
		  and p.tchcod = @lp_tchcod

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
    
    -- Tabla temporal para guardar tablas/objtyp donde se encontrÃ³ el profesor
    create table #tchTables (objtyptbl nvarchar(255), objtyp nvarchar(100))
    insert into #tchTables EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod=@lp_buscod, @lp_objtypcod='EDU_TCH', @lp_objcod=@lp_tchcod, @lp_fldnme='tchcod'
		
    if exists (select 1 from #tchTables)
    begin
    	declare @lv_msg nvarchar(max)
      
      /*;WITH CTE as (
      	select SUBSTRING(
          			-- Obtiene el nombre de la tabla a partir de SYS_OBJ_TYP
                o.objtyptxt, 
                CHARINDEX('-', o.objtyptxt) + 1, 
                CHARINDEX('(', o.objtyptxt) - CHARINDEX('-', o.objtyptxt) - 2
             ) as nmeTbl
        from #tchTables t
        join tmssSysDev.dbo.SYS_OBJ_TYP o on o.objtyptbl = t.objtyptbl and (o.objtypcod = t.objtyp or t.objtyp is null)
      )
      -- mensaje de error hasta 5 tablas
      select @lv_msg = CONCAT('No se puede borrar el profesor. Existe en', (select STRING_AGG(nmeTbl, ',') from (select top 5 nmeTbl FROM CTE) as nmeTbl),
      case when (select count(*) from CTE) > 5 then ', y otros documentos' else '' end, '.')*/
      
      SET @lv_msg = 'No se puede borrar el profesor. EstÃ¡ siendo usado en otros documentos.'
      
      SELECT null, -1 as errcod, @lv_msg as errtxt
      drop table #tchTables
    	return
    end
    drop table #tchTables

		BEGIN TRAN

		-- borro los datos de impuestos del profesor
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='EDU_TCH'
				  and taxsrccod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		-- borro los datos de banco del profesor
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='EDU_TCH'
				  and bnksrccod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro las especialidades asignadas al profesor
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM EDU_TCH_PRF 
				WHERE buscod=@lp_buscod 
				  and tchcod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		-- borro categorizaciÃ³n asignada al profesor
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM EDU_TCH_CAT
				WHERE buscod=@lp_buscod
				  and tchcod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		-- borro los contactos del profesor
		declare  @lv_i INT = 0
      select *  into #tmpSrv
          from grl_dat_cnt
          where cntsrctyp = 'EDU_TCH'
          AND cntsrccod = @lp_tchcod ;
          declare @lv_cntcod int
          declare lc_cur cursor for select cntcod
          from #tmpSrv
          open lc_cur
          
            fetch next from lc_cur into  @lv_cntcod
            
            while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito 
             begin
             
              exec dbo.GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,'EDU_TCH',@lp_tchcod,null,'00000000000000',null,null,null,'A',null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
             	
              fetch next from lc_cur into @lv_cntcod
              set @lv_i = @lv_i + 1
              end
      close lc_cur
      deallocate lc_cur

		-- borro los datos de direcciÃ³n del profesor
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR 
				WHERE buscod=@lp_buscod 
				  and adrsrctyp='EDU_TCH'
				  and adrsrccod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro los datos centrales del profesor
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM EDU_TCH 
				WHERE buscod=@lp_buscod 
				  and tchcod=@lp_tchcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 5    -    D A R   d e   B A J A									
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE EDU_TCH
		set deldte = getdate(),
			delusr = @lp_username
		WHERE buscod = @lp_buscod
		  and tchcod = @lp_tchcod
		  and deldte is null
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tchcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END




-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		
		-- edu_tch_def '08','temasis','temasis_edu'

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg,
			' p.*, a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrzon, a.adrstr, a.adreml, a.adrmapgeo, '
			+ ' l.lndtxt, r.lndregtxt, dc.sysdocclstxt, t.taxcod, b.paymthcod ',
			
      ' EDU_TCH p '         
			+ ' left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('EDU_TCH','''')+' and a.adrsrccod=p.tchcod'
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod '
			+ ' left join GRL_DAT_TAX t on t.buscod=p.buscod and t.taxsrctyp='+QUOTENAME('EDU_TCH','''')+' and t.taxsrccod=p.tchcod'
			+ ' left join GRL_DAT_BNK b on b.buscod=p.buscod and b.bnksrctyp='+QUOTENAME('EDU_TCH','''')+' and b.bnksrccod=p.tchcod'
			+ ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod ',
                                     
			' p.buscod='+QUOTENAME(@lp_buscod, '''') + ' and p.deldte is null '
			+ '   and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('EDU_TCH','''')+'))) '
			+ (case when  isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end),
                                     
			' p.tchtxt ',default )
		execute( @lv_sql )

	END

/*
-- ------------------------------------------------------------------------
--   1 0    -    L I S T A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' p.*, '
			+ ' a.adrstr, a.adrcty, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrzon, a.adrstr, a.adreml, a.adrmapgeo, '
			+ ' l.lndtxt, r.lndregtxt, '
			+ ' t.taxcatcod, t.taxcod, '
			+ ' b.paymthcod, s.spctxt, s.spcclr '
			+ ' FROM EDU_TCH p '
			+ ' left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('EDU_TCH','''')+' and a.adrsrccod=p.tchcod'
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG r on r.lndcod=a.lndcod and r.lndregcod=a.lndregcod '
			+ ' left join GRL_DAT_TAX t on t.buscod=p.buscod and t.taxsrctyp='+QUOTENAME('EDU_TCH','''')+' and t.taxsrccod=p.tchcod'
			+ ' left join GRL_DAT_BNK b on b.buscod=p.buscod and b.bnksrctyp='+QUOTENAME('EDU_TCH','''')+' and b.bnksrccod=p.tchcod'
			+ ' inner join EDU_TCH_SPC ps on ps.buscod=p.buscod and ps.tchcod=p.tchcod '
			+ ' inner join HLT_SPC s on s.buscod=ps.buscod and s.spccod=ps.spccod '
			+ ' WHERE p.buscod='+QUOTENAME(@lp_buscod, '''')
			+ '   and p.deldte is null '
			+ '   and p.docsts='+QUOTENAME('A','''')
			+ '   and s.docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'p.tchtxt' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )
		
	END


-- ------------------------------------------------------------------------
--   1 8    -    L I S T A R   P R E S T A D O R E S    segÃºn    T E X T O
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1
		
		SELECT TOP 20 p.*
		FROM EDU_TCH p
		WHERE p.buscod=@lp_buscod
		  and p.docsts='A'
		  and p.tchtxt like '%'+@lp_tchtxt+'%'
		
	END	


-- ----------------------------------------------------------------------------------------------------------
--   1 9    -    L I S T A R   P R E S T A D O R E S   por   E S P E C I A L I D A D  segÃºn    T E X T O
-- ----------------------------------------------------------------------------------------------------------
IF @lp_sysoperation = '19'
	BEGIN
		SET @lv_validop = 1
		
		SELECT TOP 20 p.*
		FROM EDU_TCH p
		INNER JOIN EDU_TCH_SPC ps on ps.buscod=p.buscod and ps.tchcod=p.tchcod
		WHERE p.buscod=@lp_buscod
		  and p.docsts='A'
		  and p.tchtxt like '%'+@lp_tchtxt+'%'
		  and ps.spccod=cast(@lp_tchcodext as int)
		
	END	
*/

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O  
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
