USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_LND_TWN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_LND_TWN_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_lndtwncod			as int          = null,	-- id 
@lp_lndtwncodext	as nvarchar(20)	= null, -- codigo
@lp_lndtwntxt			as nvarchar(50)	= null,	-- descripción 
@lp_lndcod 				as nvarchar(05)	= null,	-- id país 
@lp_lndregcod			as nvarchar(05) = null,	-- id provincia 
@lp_lndtwngrpcod	as int					=	null,	-- id grupo
@lp_docsts				as nvarchar(02) = null,	-- estado 

@lp_vewcfg				as nvarchar(max)= null,	-- config vista

@lp_lndtwnpstcod	as nvarchar(max)= null	-- código postal	(separados por ; )

AS

SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TWN'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S											
-- ------------------------------------------------------------------------
--	-1	Codigo duplicado												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
	
		-- codigo externo duplicado
		if not isnull(@lp_lndtwncodext,'')=''
			IF exists(select top 1 * from GRL_DAT_LND_TWN where buscod=@lp_buscod and not lndtwncod=@lp_lndtwncod and lndtwncodext=@lp_lndtwncodext)
				BEGIN
					SELECT null, 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
				
	END


-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO GRL_DAT_LND_TWN (buscod, lndtwncodext, lndtwntxt, lndcod, lndregcod, lndtwngrpcod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_lndtwncodext, @lp_lndtwntxt, @lp_lndcod, @lp_lndregcod, @lp_lndtwngrpcod, 'A', getdate(), @lp_username)
		set @lv_errcod = @@ERROR
		set @lp_lndtwncod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_lndtwncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		UPDATE GRL_DAT_LND_TWN
		SET	lndtwncodext = @lp_lndtwncodext,
				lndtwntxt = @lp_lndtwntxt,
				lndcod = @lp_lndcod,
				lndregcod = @lp_lndregcod,
				lndtwngrpcod = @lp_lndtwngrpcod, 
				docsts	  = @lp_docsts,
				updusr    = @lp_username,
				upddte    = getdate()
		WHERE buscod = @lp_buscod
		  and lndtwncod = @lp_lndtwncod
		set @lv_errcod = @@ERROR

		SELECT @lp_lndtwncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT lt.*, lr.lndregtxt, l.lndtxt, ltg.lndtwngrptxt
		FROM GRL_DAT_LND_TWN lt
		  inner join GRL_DAT_LND_REG lr on lr.lndcod=lt.lndcod and lr.lndregcod=lt.lndregcod
			inner join GRL_DAT_LND l on l.lndcod=lr.lndcod 
			left join GRL_DAT_LND_TWN_GRP ltg on ltg.buscod=lt.buscod and ltg.lndtwngrpcod=lt.lndtwngrpcod 
		WHERE lt.buscod = @lp_buscod
		  and lt.lndtwncod = @lp_lndtwncod

	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1    

		if exists(select top 1 * from grl_dat_adr where buscod=@lp_buscod and lndtwncod=@lp_lndtwncod)
			begin
					SELECT null, 'E' as errtyp, -1 as errcod, 'CannotDeleteCodeAlreadyUsed' as errmsg
					RETURN				
			end

		DELETE FROM GRL_DAT_LND_TWN
		WHERE buscod = @lp_buscod
		  and lndtwncod = @lp_lndtwncod
		set @lv_errcod = @@ERROR

		SELECT @lp_lndtwncod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' lt.*, l.lndtxt, lr.lndregtxt, ltg.lndtwngrptxt ',
			' GRL_DAT_LND_TWN lt '
			+ ' inner join GRL_DAT_LND_REG lr on lr.lndcod=lt.lndcod and lr.lndregcod=lt.lndregcod '
			+ ' inner join GRL_DAT_LND l on l.lndcod=lr.lndcod '
			+ ' left join GRL_DAT_LND_TWN_GRP ltg on ltg.buscod=lt.buscod and ltg.lndtwngrpcod=lt.lndtwngrpcod',
			' lt.buscod='+QUOTENAME(@lp_buscod,''''),
			' lt.lndtwntxt ', default )

		execute( @lv_sql )
	END



-- ----------------------------------------------------------------------------
--   1 3    -    	B U S C A R     C P							
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='28'
	BEGIN
		SET @lv_validop = 1    

		IF len(@lp_lndtwnpstcod) = 4
			BEGIN
				SELECT t.*, p.lndtwnpstcod
				FROM GRL_DAT_LND_TWN_PST p
				inner join GRL_DAT_LND_TWN t on t.lndcod=p.lndcod and t.lndregcod=p.lndregcod and t.lndtwncod=p.lndtwncod
				WHERE p.lndcod    = @lp_lndcod
				  and p.lndregcod = @lp_lndregcod
				  and p.lndtwnpstcod like '%' + @lp_lndtwnpstcod + '%'
			END

		else 
			IF len(@lp_lndtwnpstcod) = 8
				BEGIN
					SELECT t.*, p.lndtwnpstcod
					FROM GRL_DAT_LND_TWN_PST p
					inner join GRL_DAT_LND_TWN t on t.lndcod=p.lndcod and t.lndregcod=p.lndregcod and t.lndtwncod=p.lndtwncod
					WHERE p.lndcod    = @lp_lndcod
					  and p.lndregcod = @lp_lndregcod
					  and @lp_lndtwnpstcod like '%' + p.lndtwnpstcod + '%'
				END
			ELSE
				SELECT '' WHERE 1=2
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
