USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_CHR_ASG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_CHR_ASG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrchrasgcod	as int			= null,	--  id 
@lp_hhrchrasgcodext	as nvarchar(20)	= null,	--  codigo 
@lp_srcobjtyp		as nvarchar(20)	= null,	--  objeto - tipo 
@lp_srcobjcod		as nvarchar(20)	= null,	--  objeto - codigo 
@lp_hhrchrtypcod	as int			= null,	--  id cargo 
@lp_hhrchrasgdtestr	as nvarchar(14)	= null,	--  fecha desde 
@lp_hhrchrasgdteend	as nvarchar(14)	= null,	--  fecha hasta 
@lp_hhrchrasgatr	as nvarchar(max)=null,	--  atributos 
@lp_sysdocclscod	as int			= null,	--  id clase documento 
@lp_docsts 			as nvarchar(02)	= null,	--  estado 

@lp_vewcfg			as nvarchar(max)= null,--  config vista 

@lp_hhragrcod		as int			= null,	--  id convenio 
@lp_hhrlabunicod	as int			= null,	--  id sindicato 
@lp_hhrchrasgslr	as bigint		= null,	--  salario 
@lp_curcod			as nvarchar(05)	= null,	--  moneda 
@lp_hhroutrsncod	as int			= null	-- ID motivo baja

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod as int = 0

DECLARE @lv_errtxt as nvarchar(4000)

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_hhrchrasgdtestr as smalldatetime = dbo.ConvertDate( @lp_hhrchrasgdtestr )
declare @lv_hhrchrasgdteend as smalldatetime = dbo.ConvertDate( @lp_hhrchrasgdteend )
declare @lv_hhrchrasgslr as decimal(13,3) = dbo.ConvertNumber(@lp_hhrchrasgslr, 3)
declare @lv_hhrchrclscod as int
declare @lv_hhroldasg as nvarchar(20)


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'CHA'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
-- V A L I D A C I O N E S 
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
  BEGIN
	if not @lp_hhrchrasgcodext=''
		IF EXISTS(SELECT TOP 1 * FROM HHR_CHR_ASG WHERE buscod=@lp_buscod and not hhrchrasgcod=@lp_hhrchrasgcod and hhrchrasgcodext=@lp_hhrchrasgcodext )
			BEGIN
				SELECT 'E' AS errtyp, -2 as errcod, 'DuplicateExtCode.' as errtxt
				RETURN
			END
    
    -- prevengo solapamiento de fechas para el mismo cargo 
    if @lp_sysoperation='01'
      if exists(select top 1 * from hhr_chr_asg where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and HhrChrTypCod=@lp_hhrchrtypcod and @lv_hhrchrasgdtestr<hhrchrasgdteend and @lv_hhrchrasgdteend>hhrchrasgdtestr and not hhrchrasgcod=@lp_hhrchrasgcod and deldte is null)
      begin
        SELECT 'E' AS errtyp, -1 as errcod, 'Las fechas se solapan con una asignaciÃƒÂ³n previa para el mismo cargo.' as errtxt
        RETURN
    	end

  END


-- ------------------------------------------------------------------------ 
-- 0 1 - C R E A R 
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
  BEGIN
    SET @lv_validop = 1 

    BEGIN TRAN
		
    --select @lv_validop as validop return
    
    INSERT INTO HHR_CHR_ASG (buscod, hhrchrasgcodext, srcobjtyp, srcobjcod, hhrchrtypcod, hhrchrasgdtestr, hhrchrasgdteend, hhrchrasgatr, sysdocclscod, hhragrcod, hhrlabunicod, 
                            hhrchrasgslr, CurCod, hhroutrsncod, 
                            docsts, ctedte, cteusr) 
    VALUES (@lp_buscod, @lp_hhrchrasgcodext, @lp_srcobjtyp, @lp_srcobjcod, @lp_hhrchrtypcod, @lv_hhrchrasgdtestr, @lv_hhrchrasgdteend, @lp_hhrchrasgatr, @lp_sysdocclscod, @lp_hhragrcod, @lp_hhrlabunicod, 
            @lv_hhrchrasgslr, @lp_curcod, @lp_hhroutrsncod, 
            @lp_docsts, getdate(), @lp_username )
    SET @lv_errcod=@@ERROR
    SET @lp_hhrchrasgcod=@@IDENTITY

    -- actualizo antiguedad en otros cargos (depende de la clase del cargo)
    select top 1 @lv_hhrchrclscod=ct.hhrchrclscod, @lv_hhroldasg=dbo.getTagValue('oldasg',cc.hhrchrclsatr) from HHR_CHR_TYP ct inner join HHR_CHR_CLS cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod where ct.BusCod=@lp_buscod and ct.HhrChrTypCod=@lp_hhrchrtypcod
    if @lv_hhroldasg='C' -- clase
      begin
        update HHR_CHR_ASG
        set HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+dbo.getTagValue('OLDYTH',@lp_hhrchrasgatr)+'</OLDYTH>'),
        '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+dbo.getTagValue('OLDMTH',@lp_hhrchrasgatr)+'</OLDMTH>')
        where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
        and HhrChrTypCod in (select x.HhrChrTypCod from HHR_CHR_TYP x where x.BusCod=@lp_buscod and HhrChrClsCod=@lv_hhrchrclscod) -- misma clase
        and HhrChrAsgDteEnd is null -- sin fecha de baja
        SET @lv_errcod = @@ERROR
      end
    else if @lv_hhroldasg='H' -- cargo
      begin
        update HHR_CHR_ASG
        set HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+dbo.getTagValue('OLDYTH',@lp_hhrchrasgatr)+'</OLDYTH>'),
        '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+dbo.getTagValue('OLDMTH',@lp_hhrchrasgatr)+'</OLDMTH>')
        where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
        and HhrChrTypCod=@lp_hhrchrtypcod -- mismo cargo
        and HhrChrAsgDteEnd is null -- sin fecha de baja
        SET @lv_errcod = @@ERROR
      end
    else if @lv_hhroldasg='P' -- persona
      begin
        update HHR_CHR_ASG
        set HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+dbo.getTagValue('OLDYTH',@lp_hhrchrasgatr)+'</OLDYTH>'),
        '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+dbo.getTagValue('OLDMTH',@lp_hhrchrasgatr)+'</OLDMTH>')
        where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
        and HhrChrAsgDteEnd is null -- sin fecha de baja 
        SET @lv_errcod = @@ERROR
      end

    IF @lv_errcod=0
      COMMIT TRAN
      ELSE
      ROLLBACK TRAN

    SELECT @lp_hhrchrasgcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

  END


-- ------------------------------------------------------------------------ 
-- 0 2 - M O D I F I C A R 
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
BEGIN
  SET @lv_validop = 1

  BEGIN TRAN

  -- actualizo inasistencia 
  UPDATE hhr_chr_asg
  SET hhrchrasgcodext=@lp_hhrchrasgcodext,
  hhrchrasgdtestr=@lv_hhrchrasgdtestr,
  hhrchrasgdteend=@lv_hhrchrasgdteend,
  hhrchrasgatr=@lp_hhrchrasgatr,
  hhragrcod=@lp_hhragrcod,
  hhrlabunicod=@lp_hhrlabunicod,
  hhrchrasgslr=@lv_hhrchrasgslr,
  hhroutrsncod=@lp_hhroutrsncod,
  CurCod=@lp_curcod,
  docsts=@lp_docsts,
  upddte=getdate(),
  updusr=@lp_username
  WHERE buscod=@lp_buscod
  and hhrchrasgcod=@lp_hhrchrasgcod
  SET @lv_errcod=@@ERROR

  -- actualizo antiguedad en otros cargos (depende de la clase del cargo)
  select top 1 @lv_hhrchrclscod=ct.hhrchrclscod, @lv_hhroldasg=dbo.getTagValue('oldasg',cc.hhrchrclsatr) from HHR_CHR_TYP ct inner join HHR_CHR_CLS cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod where ct.BusCod=@lp_buscod and ct.HhrChrTypCod=@lp_hhrchrtypcod

  if @lv_hhroldasg='C' -- clase
    begin
      update HHR_CHR_ASG
      set HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+dbo.getTagValue('OLDYTH',@lp_hhrchrasgatr)+'</OLDYTH>'),
      '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+dbo.getTagValue('OLDMTH',@lp_hhrchrasgatr)+'</OLDMTH>')
      where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
      and HhrChrTypCod in (select x.HhrChrTypCod from HHR_CHR_TYP x where x.BusCod=@lp_buscod and HhrChrClsCod=@lv_hhrchrclscod) -- misma clase
      and HhrChrAsgDteEnd is null -- sin fecha de baja
      SET @lv_errcod = @@ERROR
    end
  else if @lv_hhroldasg='H' -- cargo
    begin
      update HHR_CHR_ASG
      set HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+dbo.getTagValue('OLDYTH',@lp_hhrchrasgatr)+'</OLDYTH>'),
      '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+dbo.getTagValue('OLDMTH',@lp_hhrchrasgatr)+'</OLDMTH>')
      where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
      and HhrChrTypCod=@lp_hhrchrtypcod -- mismo cargo
      and HhrChrAsgDteEnd is null -- sin fecha de baja
      SET @lv_errcod = @@ERROR
    end
  else if @lv_hhroldasg='P' -- persona
    begin
      update HHR_CHR_ASG
      set HhrChrAsgAtr = REPLACE(REPLACE(HhrChrAsgAtr,'<OLDYTH>'+dbo.getTagValue('OLDYTH',hhrchrasgatr)+'</OLDYTH>', '<OLDYTH>'+dbo.getTagValue('OLDYTH',@lp_hhrchrasgatr)+'</OLDYTH>'),
      '<OLDMTH>'+dbo.getTagValue('OLDMTH',hhrchrasgatr)+'</OLDMTH>','<OLDMTH>'+dbo.getTagValue('OLDMTH',@lp_hhrchrasgatr)+'</OLDMTH>')
      where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
      and HhrChrAsgDteEnd is null -- sin fecha de baja 
      SET @lv_errcod = @@ERROR
    end

  IF @lv_errcod=0
    COMMIT TRAN
    ELSE
    ROLLBACK TRAN

  SELECT @lp_hhrchrasgcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

END


-- ------------------------------------------------------------------------ 
-- 0 3 - V E R 
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
BEGIN
  SET @lv_validop = 1 

  SElECT ca.*, 
  datediff(year,ca.hhrchrasgdtestr,GETDATE()) as hhrchrasgdtedifyth,
  ct.hhrchrtyptxt, ct.hhrchrtypatr, 
  a.AdrNme001 as srcobjtxt, 
  agr.hhragrtxt, 
  cc.hhrchrclstxt, cc.hhrchrclsatr, 
  lu.HhrLabUniTxt,
  dbo.getTagValue('HRS',ca.hhrchrasgatr) as hhrchrasgatrhrs, 
  dbo.getTagValue('OLDYTH',ca.hhrchrasgatr)+'.'+dbo.getTagValue('OLDMTH',ca.hhrchrasgatr) as hhrchrasgatrold, 
  dbo.getTagValue('OLDYTH',ca.hhrchrasgatr) as hhrchrasgatroldyth, 
  dbo.getTagValue('SITREV',ca.hhrchrasgatr) as hhrchrasgatrsitrev, 
  dbo.getTagValue('PERSUB',ca.hhrchrasgatr) as hhrchrasgatrpersub, 
  dbo.getTagValue('EXTTME',ca.hhrchrasgatr) as hhrchrasgatrexttme,
  ur.hhroutrsncodext, ur.hhroutrsntxt 
  FROM hhr_chr_asg ca
  inner join hhr_chr_typ ct on ct.buscod=ca.buscod and ct.hhrchrtypcod=ca.hhrchrtypcod
  inner join hhr_chr_cls cc on cc.buscod=ct.BusCod and cc.hhrchrclscod=ct.HhrChrClsCod 
  inner join sys_doc_cls dc on dc.buscod=ca.buscod and dc.sysdocclscod=ca.sysdocclscod 
  inner join GRL_DAT_ADR a on a.BusCod=ca.buscod and a.AdrSrcTyp=ca.srcobjtyp and a.AdrSrcCod=ca.srcobjcod 
  left join HHR_LAB_UNI lu on lu.BusCod=ca.BusCod and lu.HhrLabUniCod=ca.hhrlabunicod
  left join HHR_AGR agr on agr.BusCod=ca.BusCod and agr.HhrAgrCod=ca.HhrAgrCod
  left join HHR_OUT_RSN ur on ur.buscod=ca.buscod and ur.hhroutrsncod=ca.hhroutrsncod 
  WHERE ca.buscod=@lp_buscod
  and ca.hhrchrasgcod=@lp_hhrchrasgcod

END


-- ------------------------------------------------------------------------ 
-- 0 4 - B O R R A R 
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
BEGIN
  SET @lv_validop = 1

  BEGIN TRAN

  -- borro textos 
  exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'HHR_CHA', @lp_hhrchrasgcod, null, null, null, @lv_errcod, @lv_errtxt

  IF @lv_errcod=0
    BEGIN
      UPDATE HHR_CHR_ASG 
      SET docsts = 'I',
      deldte = getdate(),
      delusr = @lp_username
      WHERE buscod=@lp_buscod
      and hhrchrasgcod=@lp_hhrchrasgcod
      SET @lv_errcod=@@ERROR
    END

  IF @lv_errcod=0
    COMMIT TRAN
    ELSE
    ROLLBACK TRAN

  SELECT @lp_hhrchrasgcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

END


-- ------------------------------------------------------------------------ 
-- 0 8 - L I S T A R 
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
  BEGIN
    SET @lv_validop = 1

    -- hhr_chr_asg_def '08','temasis','institutoalmafuerte' 

    set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, 
    ' ca.*, ct.hhrchrtyptxt, ct.hhrchrtypcodext, ct.hhrchrtypatr, ct.hhrchrtypcmt, cc.hhrchrclstxt, cc.hhrchrclscod, cc.hhrchrclstxt, cc.hhrchrclsatr, ca.hhrchrasgdtestr, ca.hhrchrasgdteend, a.adrnme001, agr.hhragrtxt, lu.hhrlabunitxt, '
    + ' dbo.getTagValue('+QUOTENAME('HRS','''')+',ca.hhrchrasgatr) as hhrchrasgatrhrs, '
    + ' (case when dbo.getTagValue('+QUOTENAME('oldasg','''')+', cc.HhrChrClsAtr)!='+QUOTENAME('S','''')+' and dbo.getTagValue('+QUOTENAME('oldasg','''')+', cc.HhrChrClsAtr)!='+QUOTENAME('','''')+' then dbo.getTagValue('+QUOTENAME('OLDYTH','''')+',ca.hhrchrasgatr)+'+QUOTENAME('.','''')+'+dbo.getTagValue('+QUOTENAME('OLDMTH','''')+',ca.hhrchrasgatr) else '+QUOTENAME('','''')+' end) as hhrchrasgatrold, '
    + ' dbo.getTagValue('+QUOTENAME('SITREV','''')+',ca.hhrchrasgatr) as hhrchrasgatrsitrev, '
    + ' dbo.getTagValue('+QUOTENAME('PERSUB','''')+',ca.hhrchrasgatr) as hhrchrasgatrpersub, '
    + ' dbo.getTagValue('+QUOTENAME('EXTTME','''')+',ca.hhrchrasgatr) as hhrchrasgatrexttme, '
    + ' dbo.getTagValue('+QUOTENAME('STDLOCTXT','''')+',ca.hhrchrasgatr) as hhrchrasgatrstdloctxt, '
    + ' dbo.getTagValue('+QUOTENAME('SEQ','''')+',ca.hhrchrasgatr) as hhrchrasgatrseq, '
    + ' ur.hhroutrsncodext, ur.hhroutrsntxt, dc.sysdocclstxt, '
    + ' (case a.adrsrctyp when '+QUOTENAME('HHR_EMP','''')+' then e.hhrempcodext '
    + ' when '+QUOTENAME('EDU_TCH','''')+' then t.tchcodext end) as srcobjcodext ',
    ' hhr_chr_asg ca '
    + ' inner join hhr_chr_typ ct on ct.buscod=ca.buscod and ct.hhrchrtypcod=ca.hhrchrtypcod '
    + ' inner join hhr_chr_cls cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod '
    + ' inner join sys_doc_cls dc on dc.buscod=ca.buscod and dc.sysdocclscod=ca.sysdocclscod '
    + ' inner join grl_dat_adr a on a.buscod=ca.buscod and a.adrsrctyp=ca.srcobjtyp and a.adrsrccod=ca.srcobjcod '
    + ' left join HHR_LAB_UNI lu on lu.BusCod=ca.BusCod and lu.HhrLabUniCod=ca.hhrlabunicod '
    + ' left join HHR_AGR agr on agr.BusCod=ca.BusCod and agr.HhrAgrCod=ca.HhrAgrCod '
    + ' left join HHR_OUT_RSN ur on ur.buscod=ca.buscod and ur.hhroutrsncod=ca.hhroutrsncod '
    + ' left join HHR_EMP e on e.buscod=ca.buscod and e.hhrempcod=a.adrsrccod and a.adrsrctyp='+QUOTENAME('HHR_EMP','''')
    + ' left join EDU_TCH t on t.buscod=ca.buscod and t.tchcod=a.adrsrccod and a.adrsrctyp='+QUOTENAME('EDU_TCH',''''),
    ' ca.buscod='+QUOTENAME(@lp_buscod,'''')
    + ' and ca.deldte is null ',
    'ca.hhrchrasgcod',
    'hhrchrasgatrstdloctxt;dbo.getTagValue('+QUOTENAME('STDLOCTXT','''')+',ca.hhrchrasgatr)'
    + char(10)
    + 'hhrchrasgatrseq;dbo.getTagValue('+QUOTENAME('SEQ','''')+',ca.hhrchrasgatr)'
    + char(10)
    + 'hhrchrasgatrpersub;dbo.getTagValue('+QUOTENAME('PERSUB','''')+',ca.hhrchrasgatr)'
    + char(10)
    + 'srcobjcodext;(case a.adrsrctyp when '+QUOTENAME('HHR_EMP','''')+' then e.hhrempcodext '
    + ' when '+QUOTENAME('EDU_TCH','''')+' then t.tchcodext end)')

    execute( @lv_sql )

  END


-- ------------------------------------------------------------------------------------- 
-- 1 7 - L I S T A R A T R I B U T O S S E G ÃƒÅ¡ N C L A S E D E C A R G O 
-- ------------------------------------------------------------------------------------- 
IF @lp_sysoperation = '17'
  BEGIN
    SET @lv_validop = 1

    -- actualizo antiguedad en otros cargos (depende de la clase del cargo)
    select top 1 @lv_hhrchrclscod=ct.hhrchrclscod, @lv_hhroldasg=dbo.getTagValue('oldasg',cc.hhrchrclsatr) from HHR_CHR_TYP ct inner join HHR_CHR_CLS cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod where ct.BusCod=@lp_buscod and ct.HhrChrTypCod=@lp_hhrchrtypcod

    if @lv_hhroldasg='C' -- clase
      begin
        SELECT TOP 1 HhrChrAsgAtr 
        FROM HHR_CHR_ASG 
        WHERE buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
        and HhrChrTypCod in (select x.HhrChrTypCod from HHR_CHR_TYP x where x.BusCod=@lp_buscod and HhrChrClsCod=@lv_hhrchrclscod) -- misma clase
        and HhrChrAsgDteEnd is null -- sin fecha de baja
        and dbo.GetTagValue('OLDYTH', HhrChrAsgAtr) != '' -- con aÃƒÂ±o indicado
        and dbo.GetTagValue('OLDMTH', HhrChrAsgAtr) != '' -- con mes indicado
        SET @lv_errcod = @@ERROR
      end
    else if @lv_hhroldasg='H' -- cargo
      begin
        SELECT TOP 1 HhrChrAsgAtr 
        FROM HHR_CHR_ASG 
        WHERE buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
        and HhrChrTypCod=@lp_hhrchrtypcod -- mismo cargo
        and HhrChrAsgDteEnd is null -- sin fecha de baja
        and dbo.GetTagValue('OLDYTH', HhrChrAsgAtr) != '' -- con aÃƒÂ±o indicado
        and dbo.GetTagValue('OLDMTH', HhrChrAsgAtr) != '' -- con mes indicado
        SET @lv_errcod = @@ERROR
      end
    else if @lv_hhroldasg='P' -- persona
      begin
        SELECT TOP 1 HhrChrAsgAtr 
        FROM HHR_CHR_ASG 
        WHERE buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod and DocSts='A'
        and HhrChrAsgDteEnd is null -- sin fecha de baja 
        and dbo.GetTagValue('OLDYTH', HhrChrAsgAtr) != '' -- con aÃƒÂ±o indicado
        and dbo.GetTagValue('OLDMTH', HhrChrAsgAtr) != '' -- con mes indicado
        SET @lv_errcod = @@ERROR
      end

    END


  IF @lv_validop = 0 -- C O D I G O O P E R A C I O N I N V A L I D O 
    BEGIN 
      RaisError('El cÃƒÂ³digo de operaciÃƒÂ³n <%s> no es vÃƒÂ¡lido', 16, -1, @lp_sysoperation)
    END
GO
