USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_LNK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_SEC_LNK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null, -- empresa 

@lp_sysseclnkcod	as int			= null,	-- id 
@lp_objtyp			as nvarchar(20)	= null,	-- objeto 
@lp_usrgrpcod		as nvarchar(20)	= null,--	 rol 	
@lp_usrprmcod		as int			= null,	-- id parÃ¡metro
@lp_SysSecLnkSrcFld as nvarchar(20)	= null,--	 campo origen 
@lp_docsts 			as nvarchar(02)	= null,--	 estado 

@lp_vewcfg			as nvarchar(max)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SLK'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN
		
		INSERT INTO SYS_SEC_LNK 
			(buscod, objtyp, usrgrpcod, usrprmcod, SysSecLnkSrcFld, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_objtyp, @lp_usrgrpcod, @lp_usrprmcod, @lp_SysSecLnkSrcFld, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		set @lp_sysseclnkcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysseclnkcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation ='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE SYS_SEC_LNK 
		SET objtyp = @lp_objtyp, 	
    	usrgrpcod = @lp_usrgrpcod,
			usrprmcod = @lp_usrprmcod,
			SysSecLnkSrcFld = @lp_SysSecLnkSrcFld, 
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and sysseclnkcod = @lp_sysseclnkcod		
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysseclnkcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation ='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_SEC_LNK 
		WHERE buscod = @lp_buscod
		  and sysseclnkcod = @lp_sysseclnkcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation ='14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM SYS_SEC_LNK
		WHERE  buscod = @lp_buscod
		  and  sysseclnkcod = @lp_sysseclnkcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_sysseclnkcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation ='18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, g.usrgrptxt '
			+ ' FROM SYS_SEC_LNK l '
			+ ' left join SYS_SEC_GRP g on g.buscod=l.buscod and g.usrgrpcod=l.usrgrpcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and l.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'l.objtyp' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
