USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_MED_AUT_SRV_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_MED_AUT_SRV_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,	/* empresa */
@lp_medautid		as int			 = null,	/* ID de autorización*/
@lp_nnmvalid		as int			 = null,	/* id de la práctica */
@lp_nnmgrpcod		as nvarchar(5)	 = null,	/* id del grupo de prácticas */
@lp_nnmvalqty		as int			 = null,	/* cantidad */
@lp_nnmvalcmt		as nvarchar(250) = null,	/* comentarios */
@lp_docsts 			as nvarchar(02)	 = null		/* estado */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_nnmvaltxt001 NVARCHAR(1250)
SET @lv_nnmvaltxt001=(select nnmvaltxt001 from HLT_NNM_VAL WHERE buscod = @lp_buscod and nnmvalid = @lp_nnmvalid)	



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   E R R O R E S													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*	-1	Código de práctica inválido.					*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		/* valido práctica	*/
		if (select count(*) from hlt_nnm_val where buscod=@lp_buscod and nnmgrpcod=@lp_nnmgrpcod and nnmvalid=@lp_nnmvalid)=0
			BEGIN
				SELECT null, -1 as errcod, 'Código de práctica inválido.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		INSERT INTO HLT_MED_AUT_SRV	(buscod, medautid, nnmvalid, nnmvaltxt001, nnmgrpcod, nnmvalqty, nnmvalcmt, docsts)
		VALUES (@lp_buscod, @lp_medautid, @lp_nnmvalid, @lv_nnmvaltxt001, @lp_nnmgrpcod, @lp_nnmvalqty, @lp_nnmvalcmt, @lp_docsts)			
		SET @lv_errcod = @@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_nnmvalid, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HLT_MED_AUT_SRV 
		SET	nnmvalqty = @lp_nnmvalqty,
			nnmvalcmt = @lp_nnmvalcmt, 
			docsts = @lp_docsts 			
		WHERE buscod = @lp_buscod
		  and medautid = @lp_medautid
		  and nnmvalid = @lp_nnmvalid
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
					
		SELECT @lp_nnmvalid, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*, g.nnmgrptxt, v.nnmvalcod
		FROM HLT_MED_AUT_SRV m 
			left join HLT_NNM_GRP g on g.buscod=m.buscod and g.nnmgrpcod=m.nnmgrpcod
			left join HLT_NNM_VAL v on v.buscod=m.buscod and v.nnmgrpcod=m.nnmgrpcod and v.nnmvalid=m.nnmvalid
		WHERE m.buscod = @lp_buscod
		  and m.medautid = @lp_medautid
		  
	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		DELETE 
		FROM HLT_MED_AUT_SRV 
		WHERE buscod = @lp_buscod
		  and medautid = @lp_medautid
		  and nnmvalid = @lp_nnmvalid
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_nnmvalid, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM HLT_MED_AUT_SRV
		WHERE buscod = @lp_buscod
		  and docsts = 'A'

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   18    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		SELECT m.*, n.nnmvalcod 
		FROM HLT_MED_AUT_SRV m 
		left join HLT_NNM_VAL n on n.buscod=m.buscod and n.nnmvalid=m.nnmvalid
		WHERE m.buscod = @lp_buscod
		  and m.medautid = @lp_medautid
		  and m.docsts = 'A'

	END	
	

	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END











































GO
