USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_SUM_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_SUM_DEF]

@lp_sysoperation 		as nvarchar(5),				-- operaciÃ³n
@lp_username 			as nvarchar(20),			-- usuario
@lp_buscod				as nvarchar(20) = null,		-- empresa
@lp_finsumcod			as int			= null,     -- cÃ³digo de cuenta corriente
@lp_srcobjtyp			as nvarchar(20) = null,		-- tipo de origen
@lp_srcobjcod			as int			= null,		-- cÃ³digo de origen
@lp_finsumtot			as bigint			= null,		-- total de la cuenta
@lp_curcod				as nvarchar(5)	= null,		-- moneda 
@lp_docsts				as nvarchar(2)	= null,		-- estado

@lp_vewcfg				as nvarchar(max) =null,		-- configuraciÃ³n de la vista

@lp_errtyp				as nvarchar(10)	= null	OUTPUT,
@lp_errcod				as int			= null	OUTPUT,
@lp_errtxt				as nvarchar(max)= null	OUTPUT

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_finsumtot as decimal(13,3) = dbo.ConvertNumber( @lp_finsumtot , 3 )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'FSM'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  

-- ------------------------------------------------------------------------ 
--	V A L I D A C I O N E S
-- ------------------------------------------------------------------------ 
--	-1	ya existe una cuenta corriente para este tipo/cÃ³digo de origen.
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='01_sp' or @lp_sysoperation='02' or @lp_sysoperation='11'
	BEGIN

		IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp'
			IF exists(select top 1 * from fin_sum where buscod=@lp_buscod and SrcObjTyp=@lp_srcobjtyp and SrcObjCod=@lp_srcobjcod)
				BEGIN
					if @lp_sysoperation='01'
						SELECT null, -1 as errcod, 'Ya existe una cuenta corriente con este tipo/cÃ³digo de origen.' as errtxt
					else
						begin
							set @lp_errtyp = 'W'
							set @lp_errcod = 0
							set @lp_errtxt = 'Ya existe una cuenta corriente con este tipo/cÃ³digo de origen.'
						end
					RETURN
				END
			
	END
		

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1    
			
		if @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp'
			begin
        INSERT INTO fin_sum (BusCod, SrcObjTyp, SrcObjCod, FinSumTot, CurCod, DocSts, ctedte, cteusr)
        VALUES (@lp_buscod, @lp_srcobjtyp, @lp_srcobjcod, @lv_finsumtot, @lp_curcod, @lp_docsts, getdate(), @lp_username)
        SET @lv_errcod=@@ERROR
        SET @lp_finsumcod=@@IDENTITY
			end
      
		if @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='01_sp'
			begin
				IF @lv_errcod=0
				SELECT @lp_finsumcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			end
		else
			begin
				set @lp_errtyp = (case when @lv_errcod=0 then 'S' else 'E' end)
				set @lp_errcod = @lv_errcod		
				set @lp_errtxt = (case when @lv_errcod=0 then '' else 'Error al crear cabecera de cuenta corriente ['+@lp_srcobjtyp+'/'+CAST(@lp_srcobjcod as nvarchar(20))+']' end)
				return
			end
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		-- calculo el saldo de la cuenta corriente
		set @lv_finsumtot = isnull( (select SUM(isnull(FinSumDocTotRst,0)) from fin_sum_doc where BusCod=@lp_buscod and finsumcod=@lp_finsumcod), 0)

		if @lp_sysoperation='02'
			BEGIN TRAN
	
		UPDATE FIN_SUM
		SET FinSumTot = @lv_finsumtot,
			DocSts = @lp_docsts,
			UpdDte = getdate(),
			UpdUsr = @lp_username
		WHERE buscod = @lp_buscod
		  and FinSumCod = @lp_finsumcod
		SET @lp_errcod=@@ERROR
		
		if @lp_sysoperation='02'
			begin
				if @lp_errcod=0
					COMMIT TRAN
				else
					ROLLBACK TRAN
				SELECT @lp_finsumcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			end

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		SELECT f.*, a.AdrNme001 as srcobjtxt 
		 FROM FIN_SUM f 
		 left join GRL_DAT_ADR a on a.BusCod=f.BusCod and a.AdrSrcTyp=f.SrcObjTyp and cast(a.AdrSrcCod as nvarchar(20))=cast(f.SrcObjCod as nvarchar(20)) 
		WHERE f.buscod=@lp_buscod
		  and f.FinSumCod = @lp_finsumcod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE
		FROM FIN_SUM
		WHERE BusCod = @lp_buscod
		and FinSumCod = @lp_finsumcod
		SET @lv_errcod=@@ERROR
		SET @lp_finsumcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_finsumcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		-- FIN_SUM_DEF '08','TEMASIS_LOG','FDINARDO'
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' f.*, a.adrnme001 as srcobjtxt, '
			+ ' (case f.srcobjtyp ' 
			+ ' when ' + QUOTENAME('BUY_SUP','''') + ' then ' + QUOTENAME('Acreedor','''')
			+ ' when ' + QUOTENAME('EDU_STU','''') + ' then ' + QUOTENAME('Deudor','''')
			+ ' when ' + QUOTENAME('HLT_PAT','''') + ' then ' + QUOTENAME('Deudor','''')
			+ ' when ' + QUOTENAME('SLS_CUS','''') + ' then ' + QUOTENAME('Deudor','''')
			+ ' when ' + QUOTENAME('SPT_PTN','''') + ' then ' + QUOTENAME('Deudor','''')
			+ ' end) as srcobjdes ',
			' FIN_SUM f ' 
			+ ' left join GRL_DAT_ADR a on a.buscod=f.buscod and a.adrsrctyp=f.srcobjtyp and cast(a.adrsrccod as nvarchar(20))=cast(f.srcobjcod as nvarchar(20))',
			' f.buscod= ' + QUOTENAME(@lp_buscod, ''''),
			' f.ctedte desc ', 'srcobjtxt;a.adrnme001' )

		execute( @lv_sql )
  END	
  
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
