USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_OBJ_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SYS_OBJ_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_objtypcod		as nvarchar(20)	= null, /* id objeto */
@lp_objtyptxt		as nvarchar(50)	= null,	/* descripcion */
@lp_mdlcod			as nvarchar(20)	= null,	/* id modulo */
@lp_objtyptbl		as nvarchar(20) = null, /* tabla */
@lp_objtypkey		as nvarchar(20)	= null, /* id clave */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/* -3 Codigo existente.														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01'
	begin

		/* verifico que el cÃ³digo no exista */
		IF exists(select top 1 * from sys_obj_typ where objtypcod=@lp_objtypcod)
			BEGIN
				SELECT null, -3 as errcod, 'Ya existe otro documento con el mismo cÃ³digo.' as errtxt
				RETURN
			END

	end


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN
		
		INSERT INTO SYS_OBJ_TYP
			(objtypcod, objtyptxt, mdlcod, objtyptbl, objtypkey, 
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_objtypcod, @lp_objtyptxt, @lp_mdlcod, @lp_objtyptbl, @lp_objtypkey,  
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_objtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE SYS_OBJ_TYP 
		SET	objtyptxt = @lp_objtyptxt,
			mdlcod = @lp_mdlcod,
			objtyptbl = @lp_objtyptbl, 
			objtypkey = @lp_objtypkey,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE objtypcod = @lp_objtypcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_objtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SYS_OBJ_TYP 
		WHERE objtypcod = @lp_objtypcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		/* verifico que no tenga contactos asociados */
		/*
		IF exists(select top 1 * from crm_cnt where buscod=@lp_buscod and crmcntstscod=@lp_crmcntstscod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la prioridad. Existen contactos relacionados.' as errtxt
				RETURN
			END
		*/
		BEGIN TRAN
		
		DELETE 
		FROM SYS_OBJ_TYP
		WHERE  objtypcod = @lp_objtypcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_objtypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' o.* '
			+ ' FROM SYS_OBJ_TYP o '
			+ ' WHERE 1=1'
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and o.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'o.objtyptxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END



GO
