USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CLS_TXT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SYS_DOC_CLS_TXT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),
@lp_sysdocclstxtcod	as int				= null,	-- id del registro de texto
@lp_sysdocclscod	as int					= null,	-- id clase de documento
@lp_txttypcod   	as int					= null,	-- id tipo de texto
@lp_sysdocclstxtatr	as nvarchar(max)= null, -- atributos (entre tags <sysdocclstxtdef> txtcod de texto por default)
@lp_docsts 				as nvarchar(02)	= null,	-- estado

@lp_vewcfg				as nvarchar(max)= null	-- configuraciÃ³n de la vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)
declare @lv_sysdocclscod as int


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
--	-1	CÃ³digo externo existente
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' 
	BEGIN
		SELECT @lv_sysdocclscod = sysdocclscod from SYS_DOC_CLS_TXT where BusCod= @lp_buscod and SysDocClsTxtCod = @lp_sysdocclstxtcod

		IF exists(select txtcod from GRL_DAT_TXT 
				where BusCod = @lp_buscod 
					and TxtSrcTyp = (select objtyp from SYS_DOC_CLS where BusCod= @lp_buscod and SysDocClsCod = @lv_sysdocclscod) 
					and TxtTypCod = (SELECT txttypcod from SYS_DOC_CLS_TXT where BusCod= @lp_buscod and SysDocClsTxtCod = @lp_sysdocclstxtcod))
			BEGIN
				select null, -1 as errcod, 'Existen textos asociados al objeto de la clase de documento.' as errtxt
				return
			END

	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_CLS_TXT (buscod, sysdocclscod, txttypcod, sysdocclstxtatr, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_sysdocclscod, @lp_txttypcod, @lp_sysdocclstxtatr, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_sysdocclstxtcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclstxtcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_CLS_TXT 
		SET	sysdocclscod = @lp_sysdocclscod,
			txttypcod = @lp_txttypcod,
			sysdocclstxtatr = @lp_sysdocclstxtatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocclstxtcod = @lp_sysdocclstxtcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclstxtcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_CLS_TXT dct
		WHERE dct.buscod = @lp_buscod
		  and dct.sysdocclstxtcod = @lp_sysdocclstxtcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_CLS_TXT 
		WHERE buscod=@lp_buscod
		  and sysdocclstxtcod = @lp_sysdocclstxtcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclstxtcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1
		
		-- sys_doc_cls_txt_def '08','temasis','temasis_log'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' dct.*, tt.txttyptxt, gt.txtcod, gt.TxtCodExt, gt.TxtTxt ',
			' SYS_DOC_CLS dc '
      + ' inner join SYS_DOC_CLS_TXT dct on dct.buscod=dc.buscod and dct.sysdocclscod=dc.sysdocclscod '
			+ ' inner join GRL_DAT_TXT_TYP tt on tt.buscod=dct.buscod and tt.txttypcod=dct.txttypcod  '
			+ ' left join GRL_DAT_TXT gt on gt.BusCod=tt.BusCod and gt.TxtCod=dbo.GetTagValue('+QUOTENAME('sysdocclstxtdef', '''')+', dct.sysdocclstxtatr) ',
      ' dc.buscod='+QUOTENAME(@lp_buscod,''''), default, default )
		execute( @lv_sql )

	END
	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
