USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_WRK_STP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_WRK_STP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa*/
@lp_wrkflwstpdatcod	as int			= null,	/* ID */
@lp_wrkflwdatcod	as int			= null,	/* ID wrkflw - documento */
@lp_wrkflwstpcod	as int			= null,	/* ID paso */

@lp_relsts			as nvarchar(20)	= null,	/* estado liberacion */

@lp_docsts 			as nvarchar(02)	= null,	/* estado */
@lp_vewcfg			as nvarchar(4000)=null	/* config vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_errcod int = 0
declare @lv_errtxt as nvarchar(max) = ''

declare @lv_sql as nvarchar(max)



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-1	Usuario no autorizado para evaluar este documento.					*/
/*	-2	No se puede actualizar. Existen pasos previos pendientes.			*/
/*	-3	No se puede actualizar. Workflow finalizado.						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		-- Error -1
		-- separar en filas los responsables
		declare @lv_wrkflwstpatr nvarchar(max) = '';
		select @lv_wrkflwstpatr = WrkFlwStpAtr from SYS_DOC_WRK_STP where WrkFlwStpCod = (select WrkFlwStpCod from GRL_DAT_WRK_STP where WrkFlwStpDatCod = @lp_wrkflwstpdatcod)
				
		create table #tmp(resrow nvarchar(max))
		declare @lv_i as int=0

		while not rtrim(ltrim(dbo.GetTagValue('res'+CONVERT(VARCHAR(4), @lv_i), @lv_wrkflwstpatr)))=''
			begin
				insert into #tmp (resrow) values ( rtrim(ltrim(dbo.GetTagValue('res'+CONVERT(VARCHAR(4), @lv_i), @lv_wrkflwstpatr))) )
				set @lv_wrkflwstpatr = REPLACE(@lv_wrkflwstpatr,'<'+'res'+CONVERT(VARCHAR(4), @lv_i)+'>'+dbo.GetTagValue('res'+CONVERT(VARCHAR(4), @lv_i), @lv_wrkflwstpatr)+'</'+'res'+CONVERT(VARCHAR(4), @lv_i)+'>','')

				set @lv_i = @lv_i + 1
			end

		-- verificar que el usuario estÃ© en la lista
		if not(exists(select * 
					from #tmp t
						left join SYS_SEC_USR_GRP g on dbo.GetTagValue('val', t.resrow) = g.UsrGrpCod
					where dbo.GetTagValue('typ', t.resrow) = 'ROL'
						and g.UsrCod = @lp_username
						and g.BusCod=@lp_buscod)
			or exists(select * from #tmp where dbo.GetTagValue('typ', resrow) = 'USR' and dbo.GetTagValue('val', resrow) = @lp_username))
			BEGIN
				SELECT 'E' as errtyp, -1 as errcod, 'CannotEvaluateDocument' as errmsg 
				RETURN
			END

		-- Error -2
		-- verificar que no exista un paso previo pendiente de aprobaciÃ³n/rechazo
		if not (select top 1 WrkFlwStpDatCod from GRL_DAT_WRK_STP where BusCod=@lp_buscod and WrkFlwDatCod = (select WrkFlwDatCod from GRL_DAT_WRK_STP where WrkFlwStpDatCod = @lp_wrkflwstpdatcod ) and relsts='S' order by CteDte, WrkFlwStpDatCod) = @lp_wrkflwstpdatcod
			BEGIN
				SELECT 'E' as errtyp, -2 as errcod, 'CannotUpdatePendientSteps' as errmsg
				RETURN
			END

		-- Error -3
		-- verificar que el workflow no estÃ© aprobacho/rechazado
		if (select Relsts from GRL_DAT_WRK where WrkFlwDatCod = (select WrkFlwDatCod from GRL_DAT_WRK_STP where WrkFlwStpDatCod = @lp_wrkflwstpdatcod )) IN ('A', 'R')
			BEGIN
				SELECT 'E' as errtyp, -3 as errcod, 'CannotUpdateFinishedWorkflow' as errmsg 
				RETURN
			END

	END


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_DAT_WRK_STP (BusCod, WrkFlwDatCod, WrkFlwStpCod, relsts, relusr, reldte, DocSts, CteUsr, CteDte) 
		VALUES (@lp_buscod, @lp_wrkflwdatcod, @lp_wrkflwstpcod, @lp_relsts, @lp_username, getdate(), @lp_docsts, @lp_username, getdate())
		SET @lv_errcod = @@ERROR
		SET @lp_wrkflwstpdatcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_wrkflwstpdatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END		



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R                      					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    
		
		if @lp_relsts in ('A', 'R')
			BEGIN
				BEGIN TRAN

				-- actualizar paso en el doc
				UPDATE GRL_DAT_WRK_STP 
				SET RelSts = @lp_relsts,
					RelUsr = @lp_username,
					RelDte = GETDATE(),
					DocSts = @lp_docsts,
					UpdUsr = @lp_username,
					UpdDte = getdate()
				where BusCod = @lp_buscod
					and wrkflwstpdatcod = @lp_wrkflwstpdatcod
				SET @lv_errcod = @@ERROR
				
				-- grabar cambio
				IF @lv_errcod=0 
					BEGIN
						INSERT INTO SYS_DOC_CHG_ATR (BusCod, ChgDocCod, ChgDocAtrNme, ChgDocAtrOld, ChgDocAtrNew, DocSts, CteDte, CteUsr)
						SELECT top 1 @lp_buscod, chgdoccod, 'Estado', 'S', @lp_relsts, 'A', GETDATE(), @lp_username
						FROM SYS_DOC_CHG
						where buscod = @lp_buscod
							and ChgDocSrcTyp='DAT_WRK_STP'
							and ChgDocSrcCod = @lp_wrkflwstpdatcod
						order by CteDte desc
						SET @lv_errcod = @@ERROR
					END

				-- actualizar workflow en el doc si se produjo un rechazo o se aprobaron todos los pasos
				declare @lv_wrkflwdatcod int = (select WrkFlwDatCod from GRL_DAT_WRK_STP where BusCod=@lp_buscod and WrkFlwStpDatCod=@lp_wrkflwstpdatcod)
				IF @lv_errcod=0 and (@lp_relsts='R' or (select count(*) from GRL_DAT_WRK_STP where BusCod=@lp_buscod and  WrkFlwDatCod = @lv_wrkflwdatcod and RelSts='A') =
							(select count(*) from GRL_DAT_WRK_STP where BusCod=@lp_buscod and WrkFlwDatCod = @lv_wrkflwdatcod))
					BEGIN
						
						execute GRL_DAT_WRK_DEF '12', @lp_username, @lp_buscod, @lv_wrkflwdatcod, '', '', '', '', @lp_relsts, 'A', '', @lv_errcod, @lv_errtxt
					END
				
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
			END

		SELECT @lp_wrkflwstpdatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END		



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R				                      					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ws.*, s.wrkflwstptxt, s.wrkflwstpcnd, s.wrkflwstprow
		FROM GRL_DAT_WRK_STP ws
		inner join SYS_DOC_WRK_STP s on s.buscod = ws.buscod and s.wrkflwstpcod = ws.wrkflwstpcod 
		where ws.buscod = @lp_buscod
			and wrkflwstpdatcod = @lp_wrkflwstpdatcod

	END		



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R		                      					*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE from GRL_DAT_WRK_STP 
		where BusCod = @lp_buscod
			and wrkflwstpdatcod = @lp_wrkflwstpdatcod

		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_wrkflwstpdatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END		



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1  

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' ws.*, s.wrkflwstptxt, s.wrkflwstpcnd, s.wrkflwstprow, s.wrkflwstpfrmcod, s.wrkflwstpatr, w.wrkflwcod,w.srcobjtyp,w.srcobjcod001,w.srcobjcod002,w.srcobjtyp, w.relsts as wrelsts' ,
			' GRL_DAT_WRK_STP ws '
			+ ' inner join GRL_DAT_WRK w on w.buscod=ws.buscod and w.wrkflwdatcod =ws.wrkflwdatcod '
			+ ' inner join SYS_DOC_WRK_STP s on s.buscod=ws.buscod and s.wrkflwstpcod=ws.wrkflwstpcod ',
			' ws.buscod='+QUOTENAME(@lp_buscod,''''),
 			' s.wrkflwstprow ', 'wrelsts;w.relsts')
		execute( @lv_sql )
		
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
