USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_DOC_CLS_REJ_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SYS_DOC_CLS_REJ_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_sysdocclsrejcod	as int			= null,	/* id */
@lp_sysdocclscod	as int			= null,	/* id clase de documento */
@lp_sysdocrejcod	as int			= null,	/* id motivo de rechazo */
@lp_sysdocclsrejatr	as nvarchar(4000)= null, /* atributos */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Codigo existente.													*/
/*	-2	No se puede borrar la clasificación. Materiales asociados.			*/
/* ------------------------------------------------------------------------ */

/*
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	END
*/


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO SYS_DOC_CLS_REJ (buscod, sysdocclscod, sysdocrejcod, sysdocclsrejatr, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_sysdocclscod, @lp_sysdocrejcod, @lp_sysdocclsrejatr, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_sysdocclsrejcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsrejcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE SYS_DOC_CLS_REJ 
		SET	sysdocclscod = @lp_sysdocclscod,
			sysdocrejcod = @lp_sysdocrejcod,
			sysdocclsrejatr = @lp_sysdocclsrejatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and sysdocclsrejcod = @lp_sysdocclsrejcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsrejcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM SYS_DOC_CLS_REJ dcs
		WHERE dcs.buscod = @lp_buscod
		  and dcs.sysdocclsrejcod = @lp_sysdocclsrejcod
		  
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
/*	
		IF exists(select top 1 * from stk_mat where buscod=@lp_buscod and matclscod=@lp_matclscod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar la clasificación. Materiales asociados.' as errtxt
				RETURN
			END
*/	
		BEGIN TRAN
		
		DELETE 
		FROM SYS_DOC_CLS_REJ 
		WHERE buscod=@lp_buscod
		  and sysdocclsrejcod = @lp_sysdocclsrejcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_sysdocclsrejcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' dcr.*, dc.sysdocclstxt, dr.sysdocrejtxt, dr.sysdocrejatr '
			+ ' FROM SYS_DOC_CLS_REJ dcr '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=dcr.buscod and dc.sysdocclscod=dcr.sysdocclscod '
			+ ' inner join SYS_DOC_REJ dr on dr.buscod=dcr.buscod and dr.sysdocrejcod=dcr.sysdocrejcod '
			+ ' WHERE dcr.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		print @lv_sql
	END
	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END






GO
