USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DOC_RMD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_DOC_RMD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_docrmdcod		as int			= null,	/* id */
@lp_docrmdcodext	as nvarchar(20)	= null, /* codigo */
@lp_docrmdtxt		as nvarchar(50)	= null,	/* descripción */
@lp_srcobjtyp		as nvarchar(20)	= null, /* Origen - Tipo */
@lp_srcobjcod		as int			= null, /* Origen - Codigo */
@lp_docrmdtyp		as nvarchar(02)	= null,	/* tipo */
@lp_docrmdstrdte	as nvarchar(14)	= null,	/* fecha inicio */
@lp_docrmdenddte	as nvarchar(14)	= null,	/* fecha fin */
@lp_docrmdstrtme	as nvarchar(14)= null,	/* hora */
@lp_docrmdlngtxt	as nvarchar(4000)= null,/* texto largo */
@lp_docrmddst		as nvarchar(4000)= null,/* lista distribución */
@lp_docrmdfrq		as nvarchar(4000)= null,/* configuración de frecuencia */
@lp_docsts			as nvarchar(02) = null,	/* estado */

@lp_vewcfg			as nvarchar(4000)=null,	/* vista */
@lp_docrmdlogcod	as int			= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
set @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_docrmdstrdte as smalldatetime
set @lv_docrmdstrdte = dbo.ConvertDate( @lp_docrmdstrdte )

declare @lv_docrmdenddte as smalldatetime
set @lv_docrmdenddte = dbo.ConvertDate( @lp_docrmdenddte )

declare @lv_docrmdstrtme as smalldatetime
set @lv_docrmdstrtme = dbo.ConvertDate( @lp_docrmdstrtme )

declare @lv_dte as smalldatetime


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_DOC_RMD (buscod, docrmdcodext, docrmdtxt, srcobjtyp, srcobjcod, docrmdtyp, docrmdstrdte, docrmdenddte, docrmdstrtme, docrmdlngtxt, docrmddst, docrmdfrq, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_docrmdcodext, @lp_docrmdtxt, @lp_srcobjtyp, @lp_srcobjcod, @lp_docrmdtyp, @lv_docrmdstrdte, @lv_docrmdenddte, @lv_docrmdstrtme, @lp_docrmdlngtxt, @lp_docrmddst, @lp_docrmdfrq, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_docrmdcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_docrmdcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE GRL_DOC_RMD 
		SET	docrmdcodext = @lp_docrmdcodext,
			docrmdtxt = @lp_docrmdtxt,
			srcobjtyp = @lp_srcobjtyp,
			srcobjcod = @lp_srcobjcod,
			docrmdtyp = @lp_docrmdtyp,
			docrmdstrdte = @lv_docrmdstrdte,
			docrmdenddte = @lv_docrmdenddte,
			docrmdstrtme = @lv_docrmdstrtme,
			docrmdlngtxt = @lp_docrmdlngtxt,
			docrmddst = @lp_docrmddst,
			docrmdfrq = @lp_docrmdfrq,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and docrmdcod = @lp_docrmdcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_docrmdcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT r.*, rl.docrmdlogcod
		FROM GRL_DOC_RMD r
		left join grl_doc_rmd_log rl on rl.buscod=r.buscod and rl.docrmdcod=r.docrmdcod and datepart(year,rl.docrmddte)=datepart(year,@lv_docrmdstrdte) and datepart(month,rl.docrmddte)=datepart(month,@lv_docrmdstrdte) and datepart(day,rl.docrmddte)=datepart(day,@lv_docrmdstrdte)
		WHERE r.buscod=@lp_buscod
		  and r.docrmdcod=@lp_docrmdcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
				
		BEGIN TRAN

		DELETE
		FROM GRL_DOC_RMD_LOG
		WHERE buscod = @lp_buscod
		  and docrmdcod = @lp_docrmdcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DOC_RMD
				WHERE buscod = @lp_buscod
				  and docrmdcod = @lp_docrmdcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_docrmdcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM GRL_DOC_RMD r '
			+ ' WHERE r.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'r.docrmdstrdte' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END


/* ------------------------------------------------------------------------ */
/*   1 0    -    C H E C K    R E M I N D E R								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='10'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_DOC_RMD_LOG (buscod, docrmdcod, docrmddte, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_docrmdcod, @lv_docrmdstrdte, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_docrmdlogcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_docrmdlogcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   1 1    -    U N C H E C K    R E M I N D E R							*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE
		FROM GRL_DOC_RMD_LOG
		WHERE buscod=@lp_buscod
		  and docrmdlogcod=@lp_docrmdlogcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_docrmdlogcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   1 8    -    O B T E N E R    R E C O R D A T O R I O S    C A L E N D A R I O   */
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		/* grl_doc_rmd_def '18', 'mdominguez','temasis_log',null,null,null,null,null,null,'20181219000000','20181219000000' */

		select cast(null as nvarchar(20)) as buscod, cast(null as int) as docrmdcod, cast(null as nvarchar(50)) as docrmdtxt, cast(null as smalldatetime) as docrmdstrtme
		into #tmp_data
		where 1=2

		set @lv_dte = @lv_docrmdstrdte

		while @lv_dte<=@lv_docrmdenddte
			begin
				insert into #tmp_data
				select r.buscod, r.docrmdcod, r.docrmdtxt, cast(cast(datepart(year,@lv_dte) as nvarchar(4))+'-'+cast(datepart(month,@lv_dte) as nvarchar(2))+'-'+cast(datepart(day,@lv_dte) as nvarchar(2))+ ' '+cast(datepart(hour,r.docrmdstrtme) as nvarchar(2))+':'+cast(datepart(minute,r.docrmdstrtme) as nvarchar(2)) as smalldatetime)
				from grl_doc_rmd r
				where buscod=@lp_buscod
				and (
						( r.docrmdtyp='U' and convert(nvarchar,r.docrmdstrdte,103)=convert(nvarchar,@lv_dte,103) )
					or  ( r.docrmdtyp='PD' and @lv_dte between r.docrmdstrdte and r.docrmdenddte and (dbo.GetTagValue('rmdech',r.docrmdfrq)='0' or datediff(day,r.docrmdstrdte,@lv_dte)%cast(dbo.getTagValue('rmdech',r.docrmdfrq) as int)=0 ))
					or  ( r.docrmdtyp='PS' and @lv_dte between r.docrmdstrdte and r.docrmdenddte and cast(dbo.GetTagValue('rmdech',r.docrmdfrq) as int)>0 and datediff(week,r.docrmdstrdte,@lv_dte)%cast(dbo.GetTagValue('rmdech',r.docrmdfrq) as int)=0 and substring(dbo.getTagValue('rmdwekday',r.docrmdfrq),datepart(weekday,@lv_dte),1)='1' )
					or  ( r.docrmdtyp='PM' and @lv_dte between r.docrmdstrdte and r.docrmdenddte and
							(
								(dbo.GetTagValue('rmdtyp',r.docrmdfrq)='1' and datepart(day,@lv_dte)=convert(int,dbo.getTagValue('rmdday',r.docrmdfrq)) and datediff(month,r.docrmdstrdte,@lv_dte)%cast(dbo.GetTagValue('rmdech',r.docrmdfrq) as int)=0)
								or
								(dbo.GetTagValue('rmdtyp',r.docrmdfrq)='2' and (case when datepart(day,@lv_dte)<=7 then 1 else floor(datepart(day,@lv_dte)/7)+1 end)=convert(int,dbo.getTagValue('rmddaytyp',r.docrmdfrq)) and datediff(week,r.docrmdstrdte,@lv_dte)%cast(dbo.GetTagValue('rmdech',r.docrmdfrq) as int)=0 and substring(dbo.getTagValue('rmdwekday',r.docrmdfrq),datepart(weekday,@lv_dte),1)='1')
							)
						)
					or  ( r.docrmdtyp='PA' and @lv_dte between r.docrmdstrdte and r.docrmdenddte and
							(
								(dbo.GetTagValue('rmdtyp',r.docrmdfrq)='1' and datediff(year,r.docrmdstrdte,@lv_dte)%cast(dbo.GetTagValue('rmdech',r.docrmdfrq) as int)=0 and datepart(day,@lv_dte)=convert(int,dbo.gettagvalue('rmdday',r.docrmdfrq)) and datepart(month,@lv_dte)=convert(int,dbo.gettagvalue('rmdmth',r.docrmdfrq)))
								or
								(dbo.GetTagValue('rmdtyp',r.docrmdfrq)='2' and datediff(year,r.docrmdstrdte,@lv_dte)%cast(dbo.GetTagValue('rmdech',r.docrmdfrq) as int)=0 and (case when datepart(day,@lv_dte)<=7 then 1 else floor(datepart(day,@lv_dte)/7)+1 end)=convert(int,dbo.getTagValue('rmddaytyp',r.docrmdfrq)) and substring(dbo.getTagValue('rmdwekday',r.docrmdfrq),datepart(weekday,@lv_dte),1)='1' and datepart(month,@lv_dte)=convert(int,dbo.gettagvalue('rmdmth',r.docrmdfrq)))
							)			
						)
					)
				and r.docsts='A'
				and r.cteusr = @lp_username

				set @lv_dte = dateadd( day, 1, @lv_dte )
			end

		SELECT x.*, xl.docrmdlogcod
		FROM #tmp_data x
		left join grl_doc_rmd_log xl on xl.buscod=x.buscod and xl.docrmdcod=x.docrmdcod and datepart(year,xl.docrmddte)=datepart(year,x.docrmdstrtme) and datepart(month,xl.docrmddte)=datepart(month,x.docrmdstrtme) and datepart(day,xl.docrmddte)=datepart(day,x.docrmdstrtme)

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
