USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_ARG_TRZ_TRX_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HLT_ARG_TRZ_TRX_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */

@lp_TrzTrxCod		as int			= null,		/* id transaccion */
@lp_TrzTrxNum		as nvarchar(20)	= null,		/* id transaccion (ANMAT) */
@lp_TrzTrxDte		as nvarchar(14)	= null,		/* fecha-hora evento */

@lp_TrzEvtCod		as int			= null,		/* id evento */
@lp_TrzEvtCodExt	as nvarchar(10) = null,		/* cod evento */

@lp_srctyp			as nvarchar(20)	= null,		/* origen - tipo */
@lp_srccod			as nvarchar(20) = null,		/* origen - codigo */

@lp_dsttyp			as nvarchar(20)	= null,		/* destino - tipo */
@lp_dstcod			as nvarchar(20) = null,		/* destino - codigo */

@lp_matcod			as nvarchar(20)	= null,		/* material - codigo */
@lp_matbchcodext	as nvarchar(20)	= null,		/* material - lote - codigo */
@lp_matbchduedte	as nvarchar(14)	= null,		/* material - lote - vencimiento */
@lp_matsercodext001	as nvarchar(10)	= null,		/* material - serie - desde */
@lp_matsercodext002	as nvarchar(10)	= null,		/* material - serie - hasta */

@lp_trztrxinvnum	as nvarchar(20)	= null,		/* factura */
@lp_trztrxdlvnum	as nvarchar(20)	= null,		/* remito */

@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null,		/* configuracion vista */

@lp_stkmovdoccod	as int			= null,		/* id movimiento stock */
@lp_TrzTrxErrTxt	as nvarchar(4000)=null		/* descripcion de errores */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)

declare @lv_dstagttypcod as int
declare @lv_dstagtglncod as nvarchar(20)

declare @lv_TrzTrxDte as datetime
set @lv_TrzTrxDte = dbo.ConvertDate( @lp_TrzTrxDte )

declare @lv_matbchduedte as datetime
set @lv_matbchduedte = dbo.ConvertDate( @lp_matbchduedte )


	
/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
	
		/* verifico si la sociedad está disponible para trazabilidad */
		select top 1 @lv_dstagttypcod=agttypcod, @lv_dstagtglncod=agtglncod 
		from hlt_arg_trz_agt_asg 
		where buscod=@lp_buscod 
		  and srctyp='ADM_BUS' 
		  and srccod=(select top 1 buscodext from adm_bus where buscod=@lp_buscod)
		if @lv_dstagttypcod is null
			begin
				select null, 0 as errcod, '' as errtxt
				return
			end
		
		/* valido el código de evento */
		if not exists(select top 1 * from hlt_arg_trz_evt_typ where trzevtcod=@lp_trzevtcod and trzevtcodext=@lp_trzevtcodext)
			begin
				select null, -9 as errcod, 'Debe ingresar un código de evento válido.' as errtxt
				return
			end
		
	END

		
	/* 52 DESDE PACIENTE */
/* 6 EGRESO STOCK */
	/* 61 HACIA PROVEEDOR */
	/* 62 HACIA PACIENTE */


/* ------------------------------------------------------------------------ */
/*   1 1    -    C R E A R    M O V   S T O C K								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
		
		/* recupero los datos del movimiento de stock */

		/* si no es ajuste */
		if not (select top 1 stkdocclstyp from stk_doc_cls where buscod=@lp_buscod and stkdocclscod=(select top 1 stkdocclscod from stk_mov_doc where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod))='A'
			BEGIN
			declare @lv_srcagttypcod as int
			declare @lv_srcagtglncod as int
				/* verifico si el proveedor está disponible para trazabilidad */
				select top 1 @lv_srcagttypcod=agttypcod, @lv_srcagtglncod=agtglncod from hlt_arg_trz_agt_asg where buscod=@lp_buscod and srctyp='BUY_SUP' and srccod=(select top 1 srcobjcod from stk_mov_doc where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod and SrcObjTyp='BUY_SUP')
				if @lv_srcagttypcod is null
					begin
						select null, 0, ''
						return
					end
			END
					
		/* verifico si al menos un material está disponible para trazabilidad */
			if not exists (select top 1 * from hlt_arg_trz_agt_asg where buscod=@lp_buscod and srctyp='STK_MAT' and srccod in (select distinct matcod from stk_mov_doc_mat where buscod=@lp_buscod and stkmovdoccod=@lp_stkmovdoccod))
				begin
					select null, 0, ''
					return
				end 
	
		/* obtengo el evento a informar (según el tipo de agente que informa y el motivo de movimiento) */
		declare @lv_trzevtcod as int
		declare @lv_trzevtcodext as nvarchar(05)
			select top 1 @lv_trzevtcod=trzevtcod, @lv_trzevtcodext=trzevtcodext 
 			from hlt_arg_trz_evt_typ 
			where agttypcodinf=@lv_dstagttypcod 
			  and agttypcodsrc=@lv_srcagttypcod 
			  and agttypcoddst=@lv_dstagttypcod
			  /* and trzevtcodext=(select top 1 movrsncodext from stk_mov_rsn where buscod=@lp_buscod and movrsncod=(select top 1 movrsncod from stk_mov_doc where buscod=@lp_buscod and stkmovdocid=@lp_stkmovdocid)) */
	
		/* agrego el evento al monitor */
		BEGIN TRAN
		/*
		INSERT INTO HLT_ARG_TRZ_TRX (buscod, TrzEvtDte, 
			SrcTyp, SrcCod, TrzEvtSrcGln, TrzEvtSrcTaxNum, 
			DstTyp, DstCod, TrzEvtDstGln, TrzEvtDstTaxNum, 
			TrzEvtInvNum, TrzEvtDlvNum
			TrzEvtMedDueDte, TrzEvtMedGtn, TrzEvtMedBchNum, TrzEvtMedSerNum, 
			TrzEvtCod, TrzEvtCodExt,
			TrzEvtRef, DocSts, CteDte, CteUsr, StkMovCod )
		SELECT @lp_buscod, getdate(), 
			'BUY_SUP', @lp_????, @lv_agtsrcglncod, @lv_agtsrctaxnum,
			'ADM_BUS', @lp_buscod, @lv_agtdstglncod, @lv_agtdsttaxnum,
			?????, ??????,
			?????, ??????, ???????, ???????,
			@lv_trzevtcod, @lv_trzevtcodext
			null, 'A', getdate(), @lp_username, ?????
		*/
		SET @lv_errcod = @@ERROR
		SET @lp_trztrxcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_trztrxcod , @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END

	
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R   M A N U A L									*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
/* TrzEvtSrcGln, TrzEvtSrcTaxNum, */
/* TrzEvtDstGln, TrzEvtDstTaxNum, */
/* MatTxt, */
/* TrzEvtMedGtn, */
/*PatLstNme, PatFrtNme, PatDocNum, PatSex, PatDocTyp, PatAdr, PatAdrLoc, PatAdrNum, PatAdrFlr, PatAdrUnt, PatAdrPstCod, PatPhn001, PatAflCus, PatAflNum*/
/*TrzEvtRef, TrzTrxErrTxt */
		INSERT INTO HLT_ARG_TRZ_TRX (buscod, TrztrxDte, 
			SrcTyp, SrcCod, 
			DstTyp, DstCod, 
			TrztrxInvNum, TrztrxDlvNum,
			MatCod, MatBchDueDte, MatBchCodExt, MatSerCodExt001, MatSerCodExt002, 
			TrzEvtCod, TrzEvtCodExt, 
			DocSts, CteDte, CteUsr )
		VALUES(@lp_buscod, @lv_trztrxdte,
			@lp_srctyp, @lp_srccod,
			@lp_dsttyp, @lp_dstcod,
			@lp_trztrxinvnum, @lp_trztrxdlvnum,
			@lp_matcod, @lv_matbchduedte, @lp_matbchcodext, @lp_matsercodext001, @lp_matsercodext002,
			@lp_trzevtcod, @lp_trzevtcodext, 
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_TrzTrxCod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_TrzTrxCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_ARG_TRZ_TRX
		SET TrzTrxDte = @lv_trztrxdte,
			TrzEvtCod = @lp_trzevtcod,
			SrcTyp = @lp_srctyp,
			SrcCod = @lp_srccod,
			DstTyp = @lp_dsttyp,
			DstCod = @lp_dstcod,
			TrztrxInvNum=@lp_trztrxinvnum,
			TrztrxDlvNum=@lp_trztrxdlvnum,
			MatCod = @lp_matcod,
			MatBchDueDte=@lv_matbchduedte,
			MatBchCodExt=@lp_matbchcodext,
			MatSerCodExt001=@lp_matsercodext001,
			MatSerCodExt002=@lp_matsercodext002,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and trztrxcod = @lp_trztrxcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_trztrxcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 1 @lp_srctyp=srctyp, @lp_srccod=srccod, @lp_dsttyp=dsttyp, @lp_dstcod=dstcod
		FROM HLT_ARG_TRZ_TRX
		WHERE buscod=@lp_buscod
		  and trztrxcod=@lp_trztrxcod
/*
      lv_sdat(53)   = trim(ucase(lo_rs("taxdocnum")))    ' paciente - nro documento
      lv_sdat(54)   = trim(ucase(lo_rs("patsex")))       ' paicente - sexo
      'lv_sdat(55)   = trim(ucase(lo_rs("agttyptxtdst"))) ' paciente - tipo documento (convertido)
      'lv_sdat(63)   = trim(ucase(lo_rs("agttyptxtdst"))) ' paciente - id obra social (convertido)
      lv_sdat(64)   = trim(ucase(lo_rs("pataflnum")))    ' paciente - nro afiliado
*/
		set @lv_sql = 'SELECT x.*, et.trzevttxt '
			+ (case when @lp_srctyp='STK_MAT' or @lp_srctyp='' then ', null as srctxt ' else ', sa.adrnme001 as srctxt' end)
			+ (case when @lp_dsttyp='STK_MAT' or @lp_dsttyp='' then ', null as dsttxt ' else ', da.adrnme001 as dsttxt, da.adrlstnme, da.adrfrtnme, da.adrstr, da.adrcty, da.adrpstcod, da.adrphn001 ' end)
			+ ' FROM HLT_ARG_TRZ_TRX x '
			+ ' left join HLT_ARG_TRZ_EVT_TYP et on et.trzevtcod=x.trzevtcod '
			+ (case when @lp_srctyp='BUY_SUP' then ' left join BUY_SUP s on s.buscod=x.buscod and s.supcod=x.srccod' else '' end)
			+ (case when @lp_srctyp='SLS_CUS' then ' left join SLS_CUS s on s.buscod=x.buscod and s.cuscod=x.srccod' else '' end)
			+ (case when @lp_srctyp='ADM_BUS' then ' left join ADM_BUS s on s.buscod=x.buscod and s.buscodext=x.srccod' else '' end)
			+ (case when @lp_srctyp='HLT_PAT' then ' left join HLT_PAT s on s.buscod=x.buscod and s.patcod=x.srccod' else '' end)
			+ (case when @lp_srctyp='STK_MAT' then ' left join STK_MAT s on s.buscod=x.buscod and s.matcod=x.srccod' else '' end)
			+ (case when @lp_srctyp='STK_MAT' or @lp_srctyp='' then '' else ' left join GRL_DAT_ADR sa on sa.buscod=s.buscod and sa.adrnum=s.adrnum ' end)
			+ (case when @lp_dsttyp='BUY_SUP' then ' left join BUY_SUP d on d.buscod=x.buscod and d.supcod=x.dstcod' else '' end)
			+ (case when @lp_dsttyp='SLS_CUS' then ' left join SLS_CUS d on d.buscod=x.buscod and d.cuscod=x.dstcod' else '' end)
			+ (case when @lp_dsttyp='ADM_BUS' then ' left join ADM_BUS d on d.buscod=x.buscod and d.buscodext=x.dstcod' else '' end)
			+ (case when @lp_dsttyp='HLT_PAT' then ' left join HLT_PAT d on d.buscod=x.buscod and d.patcod=x.dstcod' else '' end)
			+ (case when @lp_dsttyp='STK_MAT' then ' left join STK_MAT d on d.buscod=x.buscod and d.matcod=x.dstcod' else '' end)
			+ (case when @lp_dsttyp='STK_MAT' or @lp_dsttyp='' then '' else ' left join GRL_DAT_ADR da on da.buscod=d.buscod and da.adrnum=d.adrnum ' end)
			+ ' WHERE x.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and x.trztrxcod='+QUOTENAME(@lp_trztrxcod,'''')
		execute( @lv_sql )

print @lv_sql
	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    
/*
		BEGIN TRAN
		
		/ * borro asignacion * /
		DELETE
		FROM HLT_ARG_TRZ_AGT_ASG
		WHERE buscod=@lp_buscod
		  and AgtasgCod=@lp_AgtAsgCod
		SET @lv_errcod=@@ERROR
		  					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtAsgCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
*/
	END


/* ------------------------------------------------------------------------ */
/*   0 7    -    P R O C E S A R    E J E C U C I O N						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '07'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE HLT_ARG_TRZ_TRX
		SET TrzTrxNum = @lp_trzTrxNum,
			DocSts = @lp_docsts,
			TrzTrxErrTxt = @lp_TrzTrxErrTxt
		WHERE buscod=@lp_buscod
		  and TrzTrxCod = @lp_trztrxcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_trztrxcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errxt
		
	END

/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.* '
			+ ' FROM HLT_ARG_TRZ_TRX t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 't.TrzTrxNum DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
