USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CRM_CNT_STS_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRM_CNT_STS_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null, -- empresa 
@lp_crmcntstscod	as int			= null,	-- id 
@lp_crmcntstscodext	as nvarchar(10)	= null,	-- Codigo 
@lp_crmcntststxt	as nvarchar(50)	= null,	-- Descripcion 	
@lp_crmcntstscls	as nvarchar(02)	= null,	-- Cerrado 
@lp_crmcntstsant	as nvarchar(50)	= null,	-- Estado Precedente 
@lp_crmcntstspos	as nvarchar(50)	= null,	-- Estado Consecuente 
@lp_docsts 			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(4000)=null,

@lp_crmcntstsatr	as nvarchar(max) =null	-- atributos

AS

SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CRM'
		DECLARE @lv_autprgcod as nvarchar(3) = 'STS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
-- -2 No se puede borrar. Contactos CRM relacionados						
-- -3 Codigo existente.														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
		-- verifico que el codigo no exista 
		if not @lp_crmcntstscodext=''
			IF exists(select top 1 * from crm_cnt_sts where buscod=@lp_buscod and not crmcntstscod=@lp_crmcntstscod and crmcntstscodext=@lp_crmcntstscodext)
				BEGIN
					SELECT null, 'E' as errtyp, -3 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END
	END

IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		-- Se valida que no tenga contactos asociados - CRM 
		IF exists(select top 1 * from crm_cnt where buscod=@lp_buscod and crmcntstscod=@lp_crmcntstscod)
			BEGIN
				SELECT null, 'E' as errtyp, -2 as errcod, 'CantDeletedRelatedContacts' as errmsg
				RETURN
			END
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    
			
		BEGIN TRAN
		
		INSERT INTO CRM_CNT_STS
			(buscod, crmcntstscodext, crmcntststxt, 
			crmcntstscls, crmcntstsant, crmcntstspos, crmcntstsatr,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_crmcntstscodext, @lp_crmcntststxt, 
			@lp_crmcntstscls, @lp_crmcntstsant, @lp_crmcntstspos, @lp_crmcntstsatr, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		set @lp_crmcntstscod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntstscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE CRM_CNT_STS 
		SET	crmcntstscodext = @lp_crmcntstscodext,
			crmcntststxt = @lp_crmcntststxt,
			crmcntstscls = @lp_crmcntstscls, 
			crmcntstsant = @lp_crmcntstsant, 
			crmcntstspos = @lp_crmcntstspos,
			crmcntstsatr = @lp_crmcntstsatr,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and crmcntstscod = @lp_crmcntstscod		
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntstscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM CRM_CNT_STS 
		WHERE buscod = @lp_buscod
		  and crmcntstscod = @lp_crmcntstscod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM CRM_CNT_STS
		WHERE  buscod = @lp_buscod
		  and  crmcntstscod = @lp_crmcntstscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntstscod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg, 
										' s.* ',
										' CRM_CNT_STS s ',
										' s.buscod='+QUOTENAME(@lp_buscod,''''),
										' s.crmcntststxt ', '')

		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
