USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CRM_CNT_PRT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRM_CNT_PRT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa
@lp_crmcntprtcod	as int			= null,	-- ID 
@lp_crmcntprtcodext	as nvarchar(10)	= null,	-- Codigo 
@lp_crmcntprttxt	as nvarchar(50)	= null,	-- Descripcion 	
@lp_crmcntprtord	as int			= null,	-- Orden 
@lp_docsts 			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null,

@lp_crmcntprtatr	as nvarchar(max)= null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_errcod int = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CRM'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PRT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
-- -1 No se puede borrar. Motivos relacionados								
-- -2 No se puede borrar. Contactos CRM relacionados						
-- -3 Codigo existente.														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN

		-- valido que el codigo no exista 
		if not isnull(@lp_crmcntprtcodext,'')=''
			IF exists(select top 1 * from crm_cnt_prt where buscod=@lp_buscod and not crmcntprtcod=@lp_crmcntprtcod and crmcntprtcodext=@lp_crmcntprtcodext)
				BEGIN
        	SELECT null, 'E' as errtyp, -3 as errcod, 'DuplicateExtCode' as errmsg
					RETURN
				END

	END

IF @lp_sysoperation = '04'  or @lp_sysoperation = '14'
	BEGIN
		-- verifico que no tenga motivos asociados 
		IF exists(select top 1 * from crm_CNT_mtv where buscod=@lp_buscod and crmcntprtcod=@lp_crmcntprtcod)
			BEGIN	
      			SELECT null, 'E' as errtyp, -1 as errcod, 'CantDeletedRelatedMotiveContacts' as errmsg
				RETURN
			END

		-- verifico que no tenga contactos asociados - CRM 
		IF exists(select top 1 * from crm_cnt where buscod=@lp_buscod and crmcntprtcod=@lp_crmcntprtcod)
			BEGIN
      			SELECT null, 'E' as errtyp, -2 as errcod, 'CantDeletedRelatedContacts' as errmsg
				RETURN
			END
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO CRM_CNT_PRT
			(buscod, crmcntprtcodext, crmcntprttxt, crmcntprtord, crmcntprtatr,
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_crmcntprtcodext, @lp_crmcntprttxt, @lp_crmcntprtord, @lp_crmcntprtatr, 
			@lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_crmcntprtcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_crmcntprtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END		



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'  or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE CRM_CNT_PRT 
		SET	crmcntprtcodext = @lp_crmcntprtcodext,
			crmcntprttxt = @lp_crmcntprttxt, 
			crmcntprtord = @lp_crmcntprtord,
			crmcntprtatr=@lp_crmcntprtatr,
			docsts = @lp_docsts, 			
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod  = @lp_buscod
		  and crmcntprtcod = @lp_crmcntprtcod
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_crmcntprtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'  or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM CRM_CNT_PRT 
		WHERE buscod = @lp_buscod
		  and crmcntprtcod = @lp_crmcntprtcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'  or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM CRM_CNT_PRT
		WHERE buscod = @lp_buscod
		  and crmcntprtcod = @lp_crmcntprtcod
		SET @lv_errcod=@@ERROR
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntprtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg,
										' p.* ',
										' CRM_CNT_PRT p ',
										' p.buscod='+QUOTENAME(@lp_buscod,''''),
										'p.crmcntprtord', '')
		
		execute( @lv_sql )
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
