USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_DBT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TSR_DBT_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,		/*empresa*/
@lp_tsrdbtcod		as int			 = null,		/*código de débito */
@lp_tsrdefcod		as nvarchar(20)  = null,		/*código de definición*/
@lp_tsrdbtper		as nvarchar(20)  = null,		/*período*/
@lp_tsrdbtexpdte	as nvarchar(14)	 = null,		/*fecha de vencimiento*/
@lp_tsrdbtapl		as nvarchar(20)  = null,		/*aplicar a*/
@lp_tsrdbtptnin		as int			 = null,		/*desde*/
@lp_tsrdbtptnout	as int			 = null,		/*hasta*/
@lp_docsts 			as nvarchar(2)	 = null,
@lp_vewcfg			as nvarchar(4000)=null	/* configuración ede la vista */

AS

SET NOCOUNT ON
DECLARE @lv_validop INT
DECLARE @lv_errcod INT
SET @lv_validop = 0
SET @lv_errcod = 0

DECLARE @lv_tsrdbtexpdte as datetime
set @lv_tsrdbtexpdte = dbo.ConvertDate( @lp_tsrdbtexpdte )


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		/* validar obligatoriedad de socio según la opción seleccionada */
		
		INSERT INTO TSR_DBT
			(buscod, tsrdefcod, tsrdbtper, tsrdbtexpdte,
			tsrdbtapl, tsrdbtptnin, tsrdbtptnout,	
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_tsrdefcod, @lp_tsrdbtper, @lv_tsrdbtexpdte,
			@lp_tsrdbtapl, @lp_tsrdbtptnin, @lp_tsrdbtptnout,
			'A', @lp_username, getdate() )  				
		SET @lv_errcod=@@ERROR
		SET @lp_tsrdbtcod=@@IDENTITY
			
		/* si no se produjo error */
		IF @lv_errcod=0
			BEGIN
				/* si se aplica a todos los socios */
				IF @lp_tsrdbtapl='T'
					BEGIN
						INSERT INTO TSR_DBT_PTN (buscod, 
							PtnCod, TsrDbtCod, TsrDefCod, TsrDefTxt, TsrDefCsh, TsrDefCshRst, TsrDbtExpDte,
							DocSts, CteUsr, CteDte)
						SELECT @lp_buscod, 
							p.ptnCod, @lp_tsrdbtcod, d.tsrdefcod, d.tsrdeftxt, d.tsrdefcsh, d.tsrdefcsh, @lv_tsrdbtexpdte, 
							'A', @lp_username, getdate()
							FROM spt_ptn p
							  inner join tsr_def_ptn f on f.buscod=p.buscod and f.ptnCod=p.ptncod
							  inner join tsr_def d on d.buscod=f.buscod and d.tsrdefcod=f.tsrdefcod
							WHERE p.buscod=@lp_buscod 
							  and p.docsts='A'
							  and d.tsrdefcod=@lp_tsrdefcod
							  and p.deldte is null
						SET @lv_errcod=@@ERROR
					END
				ELSE
					/* si se aplica a un rango de socios */
					BEGIN
						declare @lv_ptntxt001 as nvarchar(82)
						declare @lv_ptntxt002 as nvarchar(82)
						/* obtengo los nombres de los socios desde/hasta */
						set @lv_ptntxt001 = (select top 1 ptntxt from spt_ptn where buscod=@lp_buscod and ptncod=@lp_tsrdbtptnin and deldte is null)
						set @lv_ptntxt002 = (select top 1 ptntxt from spt_ptn where buscod=@lp_buscod and ptncod=@lp_tsrdbtptnout and deldte is null)
						/* aplico conceptos */
						INSERT INTO TSR_DBT_PTN (buscod, 
							PtnCod, TsrDbtCod, TsrDefCod, TsrDefTxt, TsrDefCsh, TsrDefCshRst, TsrDbtExpDte,
							DocSts, CteUsr, CteDte)
						SELECT @lp_buscod, 
							p.ptncod, @lp_tsrdbtcod, d.tsrdefcod, d.tsrdeftxt, d.tsrdefcsh, d.tsrdefcsh, @lv_tsrdbtexpdte, 
							'A', @lp_username, getdate()
							FROM spt_ptn p
							  inner join tsr_def_ptn f on f.buscod=p.buscod and f.ptncod=p.ptncod
							  inner join tsr_def d on d.buscod=f.buscod and d.tsrdefcod=f.tsrdefcod
							WHERE p.buscod=@lp_buscod 
							  and p.docsts='A'
							  and d.tsrdefcod=@lp_tsrdefcod
							  and p.ptntxt between @lv_ptntxt001 and @lv_ptntxt002
							  and p.deldte is null
						SET @lv_errcod=@@ERROR
					END
			END
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_tsrdbtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END

		


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT d.*, f.tsrdeftxt, p1.ptntxt as ptntxtin, p2.ptntxt as ptntxtout
		FROM TSR_DBT d
			inner join TSR_DEF f on f.buscod=d.buscod and f.tsrdefcod=d.tsrdefcod
			left join spt_ptn p1 on p1.buscod=d.buscod and p1.ptncod=d.tsrdbtptnin
			left join spt_ptn p2 on p2.buscod=d.buscod and p2.ptncod=d.tsrdbtptnout
		WHERE d.buscod	= @lp_buscod
		  and d.tsrdbtcod = @lp_tsrdbtcod
		  
	END

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_sql as nvarchar(4000)
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ 'd.*, f.tsrdeftxt, p1.ptntxt as ptntxtin, p2.ptntxt as ptntxtout
			FROM TSR_DBT d inner join TSR_DEF f on f.tsrdefcod=d.tsrdefcod left join SPT_PTN p1 on  p1.ptncod=d.tsrdbtptnin left join SPT_PTN p2 on p2.ptncod=d.tsrdbtptnout
			WHERE d.buscod='+QUOTENAME(@lp_buscod, '''')+' and d.docsts='+QUOTENAME('A','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
    END
	
	


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
