USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[LOG_TRA_ROU_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOG_TRA_ROU_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_traroucod		as int			= null,	-- codigo
@lp_traroucodext	as nvarchar(20)	= null,	-- codigo externo 
@lp_traroutxt		as nvarchar(50)	= null,	-- descripcion 
@lp_trarouatr		as nvarchar(max)= null, -- atributos
@lp_docsts 			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null	-- configuraciÃ³n ede la vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'LOG'
		DECLARE @lv_autprgcod as nvarchar(3) = 'ROU'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   E R R O R E S
-- ------------------------------------------------------------------------
--	-1	Codigo existente.
-- ------------------------------------------------------------------------

IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		/* valido codigo externo duplicado */
		if not isnull(@lp_traroucodext,'')=''
			begin
				IF exists(select top 1 * from LOG_TRA_ROU where buscod=@lp_buscod and not traroucod=@lp_traroucod and traroucodext=@lp_traroucodext)
					BEGIN
						SELECT 'E' as errtyp, -1 as errcod, 'DuplicateExtCode.' as errtxt
						RETURN
					END
			end
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO LOG_TRA_ROU (buscod, traroucodext, traroutxt, trarouatr, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_traroucodext, @lp_traroutxt, @lp_trarouatr, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_traroucod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_traroucod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE LOG_TRA_ROU 
		SET	traroucodext=@lp_traroucodext,
			traroutxt = @lp_traroutxt,
			trarouatr = @lp_trarouatr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and traroucod = @lp_traroucod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_traroucod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM LOG_TRA_ROU z
		WHERE z.buscod = @lp_buscod
		  and z.traroucod = @lp_traroucod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		DELETE 
		FROM LOG_TRA_ROU 
		WHERE buscod=@lp_buscod
		  and traroucod = @lp_traroucod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_traroucod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM LOG_TRA_ROU r '
			+ ' WHERE r.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and r.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END
	


-- ------------------------------------------------------------------------
--   1 7    -    L I S T A    segÃºn    T E X T O
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    

		SELECT TOP 20 z.*
		FROM LOG_TRA_ROU z
		WHERE z.buscod=@lp_buscod
		  and z.docsts='A'
		  and z.traroutxt like '%'+@lp_traroutxt+'%'
		
	END
	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
