USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_ASS_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[HHR_ASS_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrasscod		as int			= null,	/* id */
@lp_hhrasscodext	as nvarchar(20)	= null,	/* codigo */
@lp_srcobjtyp		as nvarchar(20)	= null,	/* objeto - tipo */
@lp_srcobjcod		as nvarchar(20)	= null,	/* objeto - codigo */
@lp_hhrassflg		as int			= null,	/* (1-asistiÃ³ / 0-no asistiÃ³) */
@lp_hhrchrasgcodlst	as nvarchar(max)= null,	/* IDs asignaciÃ³n de cargos (separados x tab) */
@lp_hhrassdte		as nvarchar(14)	= null,	/* fecha */
@lp_hhrasscmt		as nvarchar(max)=null,	/* comentarios */
@lp_sysdocclscod	as int			= null,	/* id clase documento */
@lp_docsts 			as nvarchar(02)	= null,	/* estado */

@lp_vewcfg			as nvarchar(max)= null,	/* config vista */

@lp_hhrassatr		as nvarchar(max)= null	/* atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod as int = 0

declare @lv_sql as nvarchar(max)
declare @lv_sel as nvarchar(max)
declare @lv_frm as nvarchar(max)
declare @lv_grp as nvarchar(max)
declare @lv_grpcal as nvarchar(max)
declare @lv_grpcalflt as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_hhrassdte as smalldatetime
set @lv_hhrassdte = dbo.ConvertDate( @lp_hhrassdte )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'ASS'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ * /
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		-- prevengo solapamiento de fechas para el mismo cargo
		if exists(select top 1 * from HHR_ASS where buscod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod=@lp_srcobjcod and @lv_hhrassdtestr<hhrassdteend and @lv_hhrassdteend>hhrassdtestr and not hhrasscod=@lp_hhrasscod and deldte is null)
			begin
				SELECT -1 as errcod, 'Las fechas se solapan con una asignaciÃ³n previa para el mismo cargo.' as errtxt
				RETURN
			end

	END
*/


/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego licencia (cabecera)
		INSERT INTO HHR_ASS (buscod, hhrasscodext, srcobjtyp, srcobjcod, hhrassdte, hhrasscmt, sysdocclscod, hhrassflg, hhrassatr,
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_hhrasscodext, @lp_srcobjtyp, @lp_srcobjcod, @lv_hhrassdte, @lp_hhrasscmt, @lp_sysdocclscod, @lp_hhrassflg, @lp_hhrassatr, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_hhrasscod=@@IDENTITY

		-- agrego cargos (posiciones)
		if @lv_errcod=0
			BEGIN
				INSERT INTO HHR_ASS_CHR (buscod, hhrasscod, hhrchrasgcod, hhrasschratr, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_hhrasscod, dbo.getTagValue('hhrchrasgcod',x.id), '<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>', @lp_docsts, GETDATE(), @lp_username
				FROM dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrasscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			
	END


/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- actualizo licencia (cabecera)
		UPDATE HHR_ASS
		SET hhrasscodext=@lp_hhrasscodext,
			hhrassdte=@lv_hhrassdte,
			hhrassflg=@lp_hhrassflg,
			hhrasscmt=@lp_hhrasscmt,
			hhrassatr=@lp_hhrassatr,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and hhrasscod=@lp_hhrasscod
		SET @lv_errcod=@@ERROR

		-- agrego cargos no existente (posiciones)
		if @lv_errcod=0
			BEGIN
				INSERT INTO HHR_ASS_CHR (buscod, hhrasscod, hhrchrasgcod, hhrasschratr, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_hhrasscod, dbo.getTagValue('hhrchrasgcod',x.id), '<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>', @lp_docsts, GETDATE(), @lp_username
				FROM dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x
				RIGHT JOIN HHR_ASS_CHR lc on lc.BusCod=@lp_buscod and lc.hhrassCod=@lp_hhrasscod and lc.HhrChrasgCod=dbo.getTagValue('hhrchrasgcod',x.id)
				where lc.BusCod is null
				SET @lv_errcod=@@ERROR
			END

		-- actualizo cargos existentes (posiciones)
		if @lv_errcod=0
			BEGIN
				UPDATE lc
					SET hhrasschratr='<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>',
						docsts='A',
						UpdDte=getdate(),
						updusr=@lp_username
				FROM HHR_ASS_CHR lc
				inner join dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x on lc.BusCod=@lp_buscod and lc.HhrassCod=@lp_hhrasscod and lc.HhrChrasgCod=dbo.getTagValue('hhrchrasgcod',x.id)
				where lc.BusCod=@lp_buscod
				  and lc.HhrAssCod=@lp_hhrasscod
				SET @lv_errcod=@@ERROR
			END

		-- quito cargos no informados (posiciones)
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM HHR_ASS_CHR
				WHERE BusCod=@lp_buscod
				  and hhrassCod=@lp_hhrasscod
				  and HhrChrAsgCod not in (select dbo.getTagValue('hhrchrasgcod',id) from dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ))
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrasscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    
		
		SElECT l.*, a.AdrNme001 as srcobjtxt
		FROM HHR_ASS l
		inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod 
		inner join GRL_DAT_ADR a on a.BusCod=l.buscod and a.AdrSrcTyp=l.srcobjtyp and a.AdrSrcCod=l.srcobjcod 
		WHERE l.buscod=@lp_buscod
		  and l.hhrasscod=@lp_hhrasscod

	END





/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R                                                 */
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HHR_ASS 
		SET docsts = 'I',
			deldte = getdate(),
			delusr = @lp_username
		WHERE buscod=@lp_buscod
			and hhrasscod=@lp_hhrasscod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			  COMMIT TRAN
		ELSE
			  ROLLBACK TRAN

		SELECT @lp_hhrasscod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
		
		/* hhr_ass_def '08','temasis','temasis_edu' */

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, convert(nvarchar, l.hhrassdte, 103) as hhrassdtecnv, a.adrnme001 as srcobjtxt, t.taxcod '
		  	+ ' FROM HHR_ASS l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' inner join grl_dat_adr a on a.buscod=l.buscod and a.adrsrctyp=l.srcobjtyp and a.adrsrccod=l.srcobjcod '
			+ ' left join grl_dat_tax t on t.buscod=l.buscod and t.taxsrctyp=l.srcobjtyp and t.taxsrccod=l.srcobjcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and l.deldte is null '

 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt,'hhrassdtecnv','l.hhrassdte')
		set @lv_flt = replace(@lv_flt,'srcobjtxt','a.adrnme001')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = replace(@lv_ord,'hhrassdtecnv','l.hhrassdte')
		set @lv_ord = replace(@lv_ord,'srcobjtxt','a.adrnme001')

		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END
	


/* ------------------------------------------------------------------------ */
/*   2 3    -    L I S T A R	C A R G O S 								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '23'
	BEGIN
		SET @lv_validop = 1

		/* hhr_ass_def '23','temasis','temasis_edu','52' */

		set @lv_sel = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' lc.*, ca.hhrchrtypcod, ca.hhrchrasgatr, ct.hhrchrtyptxt, ct.hhrchrtypatr, cc.hhrchrclsatr, ag.hhragrtxt '
		set @lv_grp = dbo.GetVewTag( '', dbo.GetTagValue('vewgrp',@lp_vewcfg) )
		set @lv_grpcal = dbo.GetVewTag( '', dbo.GetTagValue('vewgrpcal',@lp_vewcfg) )
		set @lv_frm = ' FROM HHR_ASS l '
			+ ' inner join HHR_ASS_CHR lc on lc.buscod=l.buscod and lc.hhrasscod=l.hhrasscod '
			+ ' inner join HHR_CHR_ASG ca on ca.buscod=lc.buscod and ca.hhrchrasgcod=lc.hhrchrasgcod '
			+ ' inner join hhr_chr_typ ct on ct.buscod=lc.buscod and ct.hhrchrtypcod=ca.hhrchrtypcod '
			+ ' inner join hhr_chr_cls cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod '
			+ ' left join hhr_agr ag on ag.buscod=ca.buscod and ag.hhragrcod=ca.hhragrcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and l.deldte is null '
			+ (case when isnull(@lp_hhrasscod,0)=0 then '' else ' and l.hhrasscod='+cast(@lp_hhrasscod as nvarchar(20)) end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )		
		set @lv_grpcalflt = dbo.GetVewTag( '', (case when dbo.GetTagValue('vewgrpcalflt',@lp_vewcfg)='' then '' else ' HAVING '+dbo.GetTagValue('vewgrpcalflt',@lp_vewcfg) end) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_sql = (case when @lv_grp+@lv_grpcal='' then @lv_sel else ' SELECT ' + @lv_grp+(case when not @lv_grp='' and not @lv_grpcal='' then ', ' else '' end)+@lv_grpcal end) 
					+ @lv_frm 
					+ @lv_flt 
					+ (case when @lv_grp='' then '' else ' GROUP BY ' + @lv_grp end) 
					+ @lv_grpcalflt
					+ @lv_ord
		execute( @lv_sql )
		
	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
