USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_PTN_TRF_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_PTN_TRF_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	 = null,	-- empresa 
@lp_PtnTrfCod		as int			 = null,	-- id concepto aplicado al socio 
@lp_ptncod			as int			 = null,	-- id socio 
@lp_spttrfcod		as int			 = null,	-- id definiciÃ³n de concepto 
@lp_docsts 			as nvarchar(2)	 = null, -- estado

@lp_vewcfg			as nvarchar(max) = null -- config. vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)

-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R													
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
			
		INSERT INTO SPT_PTN_TRF
			(buscod, ptncod, spttrfcod, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_ptncod, @lp_spttrfcod,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_ptntrfcod=@@IDENTITY 
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptntrfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg

	END

-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R												
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE SPT_PTN_TRF 
		SET	ptncod	  = @lp_ptncod,
			spttrfcod = @lp_spttrfcod,
			docsts	  = @lp_docsts, 			
			updusr	  = @lp_username,
			upddte	  = getdate()
		WHERE buscod = @lp_buscod
		  and ptntrfcod = @lp_ptntrfcod	
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptntrfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg
	END

-- ----------------------------------------------------------------------------
--   0 3    -    V E R													
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_PTN_TRF
		WHERE buscod = @lp_buscod
		  and ptntrfcod = @lp_ptntrfcod
		  
	END

-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R												
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM SPT_PTN_TRF
		WHERE buscod = @lp_buscod
		  and ptntrfcod = @lp_ptntrfcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_ptntrfcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg

	END

-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' p.*, t.spttrftxt ',
		' SPT_PTN_TRF p inner join SPT_TRF t on t.buscod=p.buscod and t.spttrfcod=p.spttrfcod ',
		' p.buscod='+QUOTENAME(@lp_buscod,'''')
		 +'and p.docsts='+QUOTENAME('A','''')
		 +'and t.docsts='+QUOTENAME('A',''''),
		' p.ptncod ', default)

		execute( @lv_sql )

	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
