USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CRM_CNT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRM_CNT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_crmcntcod		as int			= null,	-- ID 
@lp_crmcnttxt		as nvarchar(50)	= null,	-- titulo 
@lp_crmcntrqs		as nvarchar(max)= null,	-- solicitud 
@lp_crmcnttypcod	as int			= null,	-- tipo de contacto 
@lp_crmcntmtvcod	as int			= null,	-- motivo de contacto 
@lp_crmcntprtcod	as nvarchar(20)	= null,	-- Prioridad 
@lp_crmcntstscod	as nvarchar(20)	= null,	-- estado de contacto 

@lp_crmcntsrctyp	as nvarchar(20)	= null,	-- Tipo origen (AFL) 
@lp_crmcntsrccod	as nvarchar(20)	= null,	-- Codigo origen 
@lp_crmcntdte		as nvarchar(14)= null,	-- comentarios 
@lp_crmcntcmt		as nvarchar(999)= null,	-- comentarios 
@lp_crmcntrequsr	as nvarchar(82)	= null,	-- solicitado por 
@lp_seccod			as int			= null,	-- sector 
@lp_usrcod			as nvarchar(20)	= null,	-- asignado a 
@lp_empcod			as int			= null,	-- id empleado 
@lp_crmcntrefdoc	as nvarchar(20) = null,	-- documento de referencia 
@lp_crmcntatr		as nvarchar(max)= null,	-- atributos 

@lp_docsts 			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null,	-- config vista 

@lp_sysdocclscod	as int			= null,	-- id clase documento 
@lp_crmcntsrccntcod	as nvarchar(20)	= null,	-- ID contacto origen 
@lp_crmcntduedte as nvarchar(14) = null,	-- fecha vencimiento
@lp_crmcntkanusrord	 as nvarchar(max)	= null,	-- JSON orden kanban usuario
@lp_crmcntkanstsord as nvarchar(max) = null  -- JSON orden kanban estado

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql nvarchar(max)
DECLARE @lv_crmcntdte datetime = dbo.ConvertDate( @lp_crmcntdte ) 
DECLARE @lv_crmcntduedte datetime = dbo.ConvertDate( @lp_crmcntduedte ) 
DECLARE @lv_crmcntcod int
DECLARE @lv_i int


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CRM'
		DECLARE @lv_autprgcod as nvarchar(3) = 'CNT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S
-- validar si el contacto puede modificarse al estado de destino
-- ------------------------------------------------------------------------ 
if @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	begin
		-- validar si el contacto puede modificarse al estado de destino
		declare @lv_crmcntmtvcod as int
		declare @lv_crmcntstscod as int
		
    -- valido que el contacto sea valido
		if not exists(select top 1 * from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=@lp_crmcntsrctyp and adrsrccod=@lp_crmcntsrccod)
			begin
				select null, 'E' as errtyp, -1 as errcod, 'InvalidSource' as errmsg, 'El origen de contacto es invalido.' as errtxt
				return
			end
		
		-- valido contacto
		if not isnull(@lp_crmcntsrccntcod,0)=0
			if not exists(select top 1 * from grl_dat_cnt where buscod=@lp_buscod and cntsrctyp=@lp_crmcntsrctyp and cntsrccod=@lp_crmcntsrccod and cntcod=@lp_crmcntsrccntcod)
				begin
					select null, 'E' as errtyp, -1 as errcod, 'InvalidContact' as errtxt, 'El contacto del origen es invalido.' errtxt
					return
				end
    
		-- obtengo info del contacto
		set @lv_crmcntmtvcod=@lp_crmcntmtvcod
		set @lv_crmcntstscod=@lp_crmcntstscod 

		-- verifico si el motivo tiene contactos definidos
		if(exists(select top 1 * from CRM_CNT_MTV_STS where BusCod=@lp_buscod and CrmCntMtvCod=@lv_crmcntmtvcod))
			begin

				-- si el estado cambio, verifico si es factible el cambio
				if not @lv_crmcntstscod=@lp_crmcntstscod
					begin

						if not exists(select top 1 * 
							from CRM_CNT_MTV_STS s
							where s.BusCod=@lp_buscod
							  and s.CrmCntMtvCod=@lv_crmcntmtvcod
							  and s.CrmCntStsCodStr=@lv_crmcntstscod
							  and ( s.CrmCntStsCodEnd=@lp_crmcntstscod or s.crmcntstscodend=0 )
						      and ( s.CrmCntStsUsrCod='' or dbo.checkUserRole( @lp_buscod, @lp_username, s.CrmCntStsUsrCod )=1 )
							)
							begin
								SELECT @lp_crmcntcod, 'E' as errtyp, -1 as errcod, 'El estado de destino no esta en la lista de estados del motivo de contacto o bien no tiene autorizacion para realizar el cambio de estado.' as errtxt
								return
							end

					end 
			end
	end



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R												
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		-- valido tipo de contacto
		IF not exists(select top 1 * from crm_cnt_typ where buscod=@lp_buscod and crmcnttypcod=@lp_crmcnttypcod and docsts='A')
			BEGIN
				SELECT null, 'E' as errtyp, -1 as errcod, 'Tipo de Contacto invalido.' as errtxt
				RETURN
			END				
		
		-- valido motivo de contacto
		IF not exists(select top 1 * from crm_cnt_mtv where buscod=@lp_buscod and crmcntmtvcod=@lp_crmcntmtvcod and docsts='A')
			BEGIN
				SELECT null, 'E' as errtyp, -2 as errcod, 'Motivo de Contacto ['+cast(@lp_crmcntmtvcod as nvarchar(20))+'] invÃ¡lido.' as errtxt
				RETURN
			END

		BEGIN TRAN
		
		INSERT INTO CRM_CNT
			(buscod, crmcnttxt, crmcntrqs, crmcnttypcod, crmcntmtvcod, crmcntprtcod, crmcntstscod, 
			crmcntsrctyp, crmcntsrccod, crmcntsrccntcod, crmcntreqdte, UsrCod, CrmCntDueDte, 
			crmcntatr, sysdocclscod, crmcntkanusrord, crmcntkanstsord, crmcntrefdoc, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_crmcnttxt, @lp_crmcntrqs, @lp_crmcnttypcod, @lp_crmcntmtvcod, @lp_crmcntprtcod, @lp_crmcntstscod,
			@lp_crmcntsrctyp, @lp_crmcntsrccod, @lp_crmcntsrccntcod, @lv_crmcntdte, @lp_usrcod, @lv_crmcntduedte, 
			@lp_crmcntatr, @lp_sysdocclscod, @lp_crmcntkanusrord, @lp_crmcntkanstsord, @lp_crmcntrefdoc, 
			'A', @lp_username, getdate() )
		SET @lv_errcod = @@ERROR
		SET @lp_crmcntcod=@@IDENTITY 
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		if @lv_errcod=0
			begin
				UPDATE CRM_CNT
				SET	crmcnttxt	= @lp_crmcnttxt,
					crmcntrqs	= @lp_crmcntrqs,
					crmcnttypcod= @lp_crmcnttypcod, 
					crmcntmtvcod= @lp_crmcntmtvcod,
					crmcntprtcod= @lp_crmcntprtcod,
					crmcntstscod= @lp_crmcntstscod,
					crmcntatr	= @lp_crmcntatr,
					CrmCntSrcCod= @lp_crmcntsrccod,
					CrmcntSrcCntCod=@lp_crmcntsrccntcod,
          crmcntreqdte=@lv_crmcntdte,
					CrmCntDueDte = @lv_crmcntduedte,
					crmcntrefdoc = @lp_crmcntrefdoc,
					usrcod = @lp_usrcod, 
					updusr		= @lp_username,
					upddte		= getdate()
				WHERE buscod = @lp_buscod
					and crmcntcod=@lp_crmcntcod
				SET @lv_errcod = @@ERROR
			end
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END

-- ------------------------------------------------------------------------
--   Q L F    -    C A L I F I C A R										
-- ------------------------------------------------------------------------
IF @lp_sysoperation='30'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

      if @lv_errcod=0
        begin
          UPDATE CRM_CNT
          SET crmcntatr	= @lp_crmcntatr
          WHERE buscod = @lp_buscod
            and crmcntcod=@lp_crmcntcod
          SET @lv_errcod = @@ERROR
        end
      
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END

-- ------------------------------------------------------------------------
--   1 6    -    R E O R D E N A M I E N  T O   D E   T  I C K E T S										
-- ------------------------------------------------------------------------
IF @lp_sysoperation='16'
	BEGIN
		SET @lv_validop = 1   
    
    BEGIN TRAN
      -- reordenamiento de tickets por usuario
      IF @lv_errcod=0 and not @lp_crmcntkanusrord=''
        begin
          select value as crmcntcod into #tmpUsrOrd from OPENJSON(@lp_crmcntkanusrord) -- WITH ( crmcntcod int )
          declare lc_curUsrOrd cursor for select crmcntcod from #tmpUsrOrd
          open lc_curUsrOrd
          fetch next from lc_curUsrOrd into @lv_crmcntcod
          set @lv_i = 0
          while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito
            begin
              update crm_cnt set crmcntkanusrord=@lv_i where buscod=@lp_buscod and crmcntcod=@lv_crmcntcod
              fetch next from lc_curUsrOrd into @lv_crmcntcod
              set @lv_i = @lv_i + 1
            end
          close lc_curUsrOrd
          deallocate lc_curUsrOrd
        end
        
      -- reordenamiento de tickets por estado
      IF @lv_errcod=0 and not @lp_crmcntkanstsord=''
        begin
          select value as crmcntcod into #tmpStsOrd from OPENJSON(@lp_crmcntkanstsord) --WITH ( crmcntcod int )
          declare lc_curStsOrd cursor for select crmcntcod from #tmpStsOrd
          open lc_curStsOrd
          fetch next from lc_curStsOrd into @lv_crmcntcod
          set @lv_i = 0
          while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito
            begin
              update crm_cnt set crmcntkanstsord=@lv_i where buscod=@lp_buscod and crmcntcod=@lv_crmcntcod
              fetch next from lc_curStsOrd into @lv_crmcntcod
              set @lv_i = @lv_i + 1
            end
          close lc_curStsOrd
          deallocate lc_curStsOrd      	
        end
        
    		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END   
  
  
  
-- ------------------------------------------------------------------------
--   0 3    -    V E R													
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		-- crm_cnt_def '03','temasis','temasis_hlt',467
		
		SELECT c.*, c.crmcntreqdte as crmcntdte, 
				t.crmcnttyptxt,t.crmcnttypatr,
				m.crmcntmtvtxt, m.crmcntmtvact, m.crmcntmtvfrm, dbo.getTagValue('crmcntmtvfrmnme',m.crmcntmtvatr) as crmcntmtvfrmnme, 
				p.crmcntprttxt, 
				s.crmcntststxt, s.crmcntstsatr, a.adrnme001 as crmcntsrctxt, (case when isnull(s.CrmCntStsCls,'')='' then '' else '1' end) as crmcntstscls, 
				ac.AdrNme001 as crmcntsrccnttxt, (case when gc.cntcod IS NULL THEN '' ELSE c.CrmCntSrccntCod END) AS CrmCntSrccntCod
		FROM CRM_CNT c
		left join CRM_CNT_TYP t on t.buscod=c.buscod and t.crmcnttypcod=c.crmcnttypcod
		left join CRM_CNT_MTV m on m.buscod=c.buscod and m.crmcntmtvcod=c.crmcntmtvcod
		left join CRM_CNT_PRT p on p.buscod=c.buscod and p.crmcntprtcod=c.crmcntprtcod
		left join CRM_CNT_STS s on s.buscod=c.buscod and s.crmcntstscod=c.crmcntstscod
		left join GRL_DAT_ADR a on a.buscod=c.buscod and a.adrsrctyp=c.crmcntsrctyp and a.adrsrccod=cast(c.crmcntsrccod as nvarchar(20))
		left join GRL_DAT_ADR ac on ac.BusCod=c.BusCod and ac.AdrSrcTyp='GRL_CCT' and ac.AdrSrcCod=cast(c.crmcntsrccntcod as nvarchar(20))
    left join GRL_DAT_CNT gc on gc.buscod = c.buscod and gc.CntCod = c.crmcntsrccntcod
		WHERE c.buscod= @lp_buscod
		  and c.crmcntcod = @lp_crmcntcod	
		
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R											
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE CRM_CNT
		SET deldte = getdate(),
			delusr = @lp_username
		WHERE buscod=@lp_buscod
		  and crmcntcod=@lp_crmcntcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_crmcntcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		
		-- CRM_CNT_DEF '08','mdominguez','TEMASIS_HLT',null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,'','',''
		-- CRM_CNT_DEF '08','ROCHOA','TEMASIS_HLT','','','','','','','','','','','','','','','','','','','<VIEW><VEWFLT> AND (C.DOCSTS=^A^) AND (C.USRCOD=^ACHAVES^)</VEWFLT><VEWGRP>C.CRMCNTSTSCOD</VEWGRP><VEWGRPCAL>COUNT(C.CRMCNTSTSCOD) AS CRMCNTSTSQTY</VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD></VEWORD><VEWMAX></VEWMAX></VIEW>',''
		-- CRM_CNT_DEF '18','DALVAREZ','TEMASIS_LOG','','','','','','','','','','00000000000000','','','','','','','','','<view><vewflt></vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>101</vewmax><vewpge></vewmax><extra></extra></view>','','','00000000000000','',''
    
		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg,
			' c.*, t.crmcnttyptxt,t.crmcnttypatr, m.crmcntmtvtxt, m.crmcntmtvact, '
			+ ' p.crmcntprttxt, p.crmcntprtatr, s.crmcntststxt, s.crmcntstsatr, s.crmcntstscls, '
			+	QUOTENAME('css: background-color:var(','''')+'+dbo.gettagvalue('+QUOTENAME('clr','''')+',s.crmcntstsatr)+'
			+ QUOTENAME(');color:var(','''')+'+dbo.gettagvalue('+QUOTENAME('clr','''')+',s.crmcntstsatr)+'+QUOTENAME('-text)','''')
			+ ' as rowstyle, a.adrnme001 as crmcntsrctxt, '
			+ ' ac.adrnme001 as crmcntsrccnttxt, u.usrtxt, '
			+ ' a.adrcty, l.lndtxt, lr.lndregtxt, lt.lndtwntxt, ltg.lndtwngrptxt, (case when lt.lndtwntxt is null then a.adrtwn else lt.lndtwntxt end) as adrtwntxt, lt.lndtwngrpcod, '
			+ ' a.adrphn001 as crmcntsrcphn001, a.adrphn002 as crmcntsrcphn002, a.adreml as crmcntsrceml, a.adrmblphn as crmcntsrcmblphn, '
			+ ' ac.adrphn001 as crmcntcntphn001, ac.adrphn002 as crmcntcntphn002, ac.adreml as crmcntcnteml, ac.adrmblphn as crmcntcntmblphn ',
			' CRM_CNT c '
			+ ' inner join CRM_CNT_TYP t on t.buscod=c.buscod and t.crmcnttypcod=c.crmcnttypcod '
			+ ' inner join CRM_CNT_MTV m on m.buscod=c.buscod and m.crmcntmtvcod=c.crmcntmtvcod '
			+ ' inner join CRM_CNT_STS s on s.buscod=c.buscod and s.crmcntstscod=c.crmcntstscod '
			+ ' left join CRM_CNT_PRT p on p.buscod=c.buscod and p.crmcntprtcod=c.crmcntprtcod '
			+ ' left join GRL_DAT_ADR a on a.buscod=c.buscod and a.adrsrctyp=c.crmcntsrctyp and a.adrsrccod=c.crmcntsrccod '
			+ ' left join grl_dat_lnd l on l.lndcod=a.lndcod '
			+ ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
			+ ' left join grl_dat_lnd_twn lt on lt.buscod=a.buscod and lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod '
			+ ' left join grl_dat_lnd_twn_grp ltg on ltg.buscod=lt.buscod and ltg.lndtwngrpcod=lt.lndtwngrpcod '
			+ ' left join GRL_DAT_ADR ac on ac.buscod=c.buscod and ac.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and ac.adrsrccod=c.crmcntsrccntcod '
			+ ' left join GRL_DAT_TAX ta on ta.buscod=c.buscod and ta.taxsrctyp=c.crmcntsrctyp and ta.taxsrccod=c.crmcntsrccod '
      + ' left join GRL_DAT_CNT cnt on cnt.buscod=c.buscod and cnt.cntcod=c.crmcntsrccntcod '
			+ ' left join SYS_DOC_CLS dccc on dccc.buscod=cnt.buscod and dccc.sysdocclscod=cnt.sysdocclscodcnt '
			+ ' left join sys_doc_cls dc on dc.buscod=c.buscod and dc.sysdocclscod=c.sysdocclscod '
			+ ' left join sys_sec_usr u on u.usrcod=c.usrcod ',
			' c.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' where c.deldte is null '
			+ ' and t.docsts = '+QUOTENAME('A','''')
			+ ' and m.docsts = '+QUOTENAME('A','''')
			+ ' and isnull(p.docsts,'+QUOTENAME('A','''')+') = '+QUOTENAME('A','''')
			+ ' and s.docsts = '+QUOTENAME('A','''')
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', t.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', m.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', dc.autcod)=1 '
			+ ' and ( ( 1=1 ' + dbo.getUserRestrictions(@lp_buscod,@lp_username,'<objref>c.crmcntsrctyp,c.crmcntsrccod</objref>') + ') OR '
			+ '       ( 1=1 ' + dbo.getUserRestrictions(@lp_buscod, @lp_username, 'lt.lndtwngrpcod') + ') )',
			'c.ctedte desc', 'crmcntsrctxt;a.adrnme001'+char(10)+'crmcntsrccnttxt;ac.adrnme001'+char(10)
      								+'crmcntsrcphn001;a.adrphn001'+char(10)+'crmcntsrcphn002;a.adrphn002'+char(10)+'crmcntsrcmblphn;a.adrmblphn'+char(10)+'crmcntsrceml;a.adreml'+char(10)
      								+'crmcntcntphn001;ac.adrphn001'+char(10)+'crmcntcntphn002;ac.adrphn002'+char(10)+'crmcntcntmblphn;ac.adrmblphn'+char(10)+'crmcntcnteml;ac.adreml'+char(10)
											+'adrtwntxt;(case when lt.lndtwntxt is null then a.adrtwn else lt.lndtwntxt end)'
      )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R	 (SOLO PARA KANBAN)											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='28' 
	BEGIN
		SET @lv_validop = 1    
		
		-- CRM_CNT_DEF '28','mdominguez','TEMASIS_HLT',null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,'','',''
		-- CRM_CNT_DEF '28','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','','','00000000000000','','','','','','','','','<view><vewflt> AND (row_num_sts LIKE ^%%^) AND (c.usrcod LIKE ^%ROCHOA%^)</vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword>crmcntststxt</veword><vewmax>101</vewmax><vewpge></vewmax></view>','','','00000000000000'

		declare @lv_fltrownumusr as int=0
		declare @lv_fltrownumsts as int=0
		declare @lv_flt as nvarchar(max) = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		if not charindex('row_num_usr',@lp_vewcfg)=0
			begin
        set @lv_flt = replace(@lv_flt, 'AND (row_num_usr LIKE '+QUOTENAME('%%','''')+')', '')
        set @lv_fltrownumusr=1
			end
		else if not charindex('row_num_sts',@lp_vewcfg)=0
			begin
        set @lv_flt = replace(@lv_flt, 'AND (row_num_sts LIKE '+QUOTENAME('%%','''')+')', '')
        set @lv_fltrownumsts=1
			end

		declare @lv_ord as nvarchar(max) = ' ORDER BY '+(case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 
                                                     	(case when @lv_fltrownumusr=1 then ' crmcntkanusrord, ' when @lv_fltrownumsts=1 then ' crmcntkanstsord, ' else '' end) + ' ctedte desc ' 
                                                     else 
                                                     	dbo.GetTagValue('veword',@lp_vewcfg) 
                                                    end)


		-- ************************************************************************************
		-- NO MIGRAR a dbo.getSQLSentence ya que se utiliza CTE (common table expresion) !!!!!!
		-- ************************************************************************************
		set @lv_sql = 'SELECT c.*, t.crmcnttyptxt,t.crmcnttypatr, m.crmcntmtvtxt, m.crmcntmtvact, '
			+ ' p.crmcntprttxt, p.crmcntprtatr, s.crmcntststxt, s.crmcntstsatr, a.adrnme001 as crmcntsrctxt, '
		    + ' a.adrcty, l.lndtxt, lr.lndregtxt, lt.lndtwntxt, ltg.lndtwngrptxt, (case when lt.lndtwntxt is null then a.adrtwn else lt.lndtwntxt end) as adrtwntxt, '
			+ ' ac.adrnme001 as crmcntsrccnttxt, u.usrtxt, row_number() OVER (PARTITION BY c.crmcntstscod ORDER BY c.ctedte DESC) as row_num_sts, row_number() OVER (PARTITION BY c.usrcod ORDER BY c.ctedte DESC) as row_num_usr  '
			+ ' FROM CRM_CNT c '
			+ ' inner join CRM_CNT_TYP t on t.buscod=c.buscod and t.crmcnttypcod=c.crmcnttypcod '
			+ ' inner join CRM_CNT_MTV m on m.buscod=c.buscod and m.crmcntmtvcod=c.crmcntmtvcod '
			+ ' inner join CRM_CNT_STS s on s.buscod=c.buscod and s.crmcntstscod=c.crmcntstscod '
			+ ' left join CRM_CNT_PRT p on p.buscod=c.buscod and p.crmcntprtcod=c.crmcntprtcod '
			+ ' left join GRL_DAT_ADR a on a.buscod=c.buscod and a.adrsrctyp=c.crmcntsrctyp and a.adrsrccod=c.crmcntsrccod '
			+ ' left join grl_dat_lnd l on l.lndcod=a.lndcod '
			+ ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
			+ ' left join grl_dat_lnd_twn lt on lt.buscod=a.buscod and lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod '
			+ ' left join grl_dat_lnd_twn_grp ltg on ltg.buscod=lt.buscod and ltg.lndtwngrpcod=lt.lndtwngrpcod '
			+ ' left join GRL_DAT_ADR ac on ac.buscod=c.buscod and ac.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and ac.adrsrccod=c.crmcntsrccntcod '
			+ ' left join GRL_DAT_TAX ta on ta.buscod=c.buscod and ta.taxsrctyp=c.crmcntsrctyp and ta.taxsrccod=c.crmcntsrccod '
      + ' left join GRL_DAT_CNT cnt on cnt.buscod=c.buscod and cnt.cntcod=c.crmcntsrccntcod '
			+ ' left join SYS_DOC_CLS dccc on dccc.buscod=cnt.buscod and dccc.sysdocclscod=cnt.sysdocclscodcnt '
			+ ' left join sys_doc_cls dc on dc.buscod=c.buscod and dc.sysdocclscod=c.sysdocclscod '
			+ ' left join sys_sec_usr u on u.usrcod=c.usrcod '
			+ ' WHERE c.buscod='+QUOTENAME(@lp_buscod, '''') 
			+ ' and c.deldte is null '
			+ ' and t.docsts = '+QUOTENAME('A','''')
			+ ' and m.docsts = '+QUOTENAME('A','''')
			+ ' and isnull(p.docsts,'+QUOTENAME('A','''')+') = '+QUOTENAME('A','''')
			+ ' and s.docsts = '+QUOTENAME('A','''')
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', t.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', m.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', dc.autcod)=1 '
			+ ' and ( ( 1=1 ' + dbo.getUserRestrictions(@lp_buscod,@lp_username,'<objref>c.crmcntsrctyp,c.crmcntsrccod</objref>') + ') OR '
			+ '       ( 1=1 ' + dbo.getUserRestrictions(@lp_buscod, @lp_username, 'lt.lndtwngrpcod') + ') )'
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and c.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ @lv_flt
		declare @lv_sql2 as nvarchar(max) = ';with tmssCTE as ( '+@lv_sql+' ) SELECT * FROM tmssCTE WHERE row_num_'+(case when @lv_fltrownumusr=1 then 'usr' else 'sts' end) + '<=' + (case when dbo.GetTagValue('vewmax',@lp_vewcfg)='' then '100' else dbo.GetTagValue('vewmax',@lp_vewcfg)+'-1' end) + @lv_ord
		-- ************************************************************************************
		execute( @lv_sql2 )
	END



-- ------------------------------------------------------------------------ 
--   3 8    -    L I S T A R		I N A C T I V O S (tipo, motivo, prioridad o estado)											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='38'
	BEGIN
		SET @lv_validop = 1    
    
		set @lv_sql = dbo.GetSQLSentence(@lp_vewcfg,
			' c.*, t.crmcnttyptxt,t.crmcnttypatr, m.crmcntmtvtxt, m.crmcntmtvact, '
			+ ' p.crmcntprttxt, p.crmcntprtatr, s.crmcntststxt, s.crmcntstsatr, s.crmcntstscls, '
			+	QUOTENAME('css: background-color:var(','''')+'+dbo.gettagvalue('+QUOTENAME('clr','''')+',s.crmcntstsatr)+'
			+ QUOTENAME(');color:var(','''')+'+dbo.gettagvalue('+QUOTENAME('clr','''')+',s.crmcntstsatr)+'+QUOTENAME('-text)','''')
			+ ' as rowstyle, a.adrnme001 as crmcntsrctxt, '
			+ ' ac.adrnme001 as crmcntsrccnttxt, u.usrtxt, '
			+ ' a.adrcty, l.lndtxt, lr.lndregtxt, lt.lndtwntxt, ltg.lndtwngrptxt, (case when a.lndtwncod is null then a.adrtwn else lt.lndtwntxt end) as adrtwntxt, lt.lndtwngrpcod ',
			' CRM_CNT c '
			+ ' left join CRM_CNT_TYP t on t.buscod=c.buscod and t.crmcnttypcod=c.crmcnttypcod '
			+ ' left join CRM_CNT_MTV m on m.buscod=c.buscod and m.crmcntmtvcod=c.crmcntmtvcod '
			+ ' left join CRM_CNT_PRT p on p.buscod=c.buscod and p.crmcntprtcod=c.crmcntprtcod '
			+ ' left join CRM_CNT_STS s on s.buscod=c.buscod and s.crmcntstscod=c.crmcntstscod '
			+ ' left join GRL_DAT_ADR a on a.buscod=c.buscod and a.adrsrctyp=c.crmcntsrctyp and a.adrsrccod=c.crmcntsrccod '
			+ ' left join grl_dat_lnd l on l.lndcod=a.lndcod '
			+ ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
			+ ' left join grl_dat_lnd_twn lt on lt.buscod=a.buscod and lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod '
			+ ' left join grl_dat_lnd_twn_grp ltg on ltg.buscod=lt.buscod and ltg.lndtwngrpcod=lt.lndtwngrpcod '
			+ ' left join GRL_DAT_ADR ac on ac.buscod=c.buscod and ac.adrsrctyp='+QUOTENAME('GRL_CCT','''')+' and ac.adrsrccod=c.crmcntsrccntcod '
			+ ' left join GRL_DAT_TAX ta on ta.buscod=c.buscod and ta.taxsrctyp=c.crmcntsrctyp and ta.taxsrccod=c.crmcntsrccod '
			+ ' left join sys_doc_cls dc on dc.buscod=c.buscod and dc.sysdocclscod=c.sysdocclscod '
			+ ' left join sys_sec_usr u on u.usrcod=c.usrcod ',
			' c.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and c.deldte is null '
			+ ' and (t.docsts = '+QUOTENAME('I','''') +' OR m.docsts = '+QUOTENAME('I','''')+' OR p.docsts = '+QUOTENAME('I','''')+' OR s.docsts = '+QUOTENAME('I','''') +')'
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', t.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', m.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('CRM_CNT','''')+', dc.autcod)=1 '
			+ ' and ( ( 1=1 ' + dbo.getUserRestrictions(@lp_buscod,@lp_username,'<objref>c.crmcntsrctyp,c.crmcntsrccod</objref>') + ') OR '
			+ '       ( 1=1 ' + dbo.getUserRestrictions(@lp_buscod, @lp_username, 'lt.lndtwngrpcod') + ') )',
			'c.ctedte desc', 'crmcntsrctxt;a.adrnme001'+char(10)+'crmcntsrccnttxt;ac.adrnme001')

		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
