USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_LIC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HHR_LIC_DEF]
@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrliccod		as int			= null,	-- id
@lp_hhrliccodext	as nvarchar(20)	= null,	-- codigo
@lp_srcobjtyp		as nvarchar(20)	= null,	-- objeto - tipo
@lp_srcobjcod		as nvarchar(20)	= null,	-- objeto - codigo
@lp_hhrchrasgcodlst	as nvarchar(max)= null,	-- ids asignacion de cargos (separados x tab)
@lp_hhrlictypcod	as int			= null,	-- id licencia
@lp_hhrlicdtestr	as nvarchar(14)	= null,	-- fecha desde
@lp_hhrlicdteend	as nvarchar(14)	= null,	-- fecha hasta
@lp_hhrlicatr		as nvarchar(max)=null,	-- atributos
@lp_sysdocclscod	as int			= null,	-- id clase documento
@lp_docsts 			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- config vista


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod as int = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_hhrlicdtestr as smalldatetime = dbo.ConvertDate( @lp_hhrlicdtestr )
declare @lv_hhrlicdteend as smalldatetime = dbo.ConvertDate( @lp_hhrlicdteend )


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LIC'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		-- valido rango de fechas
		if @lv_hhrlicdtestr > @lv_hhrlicdteend
			begin
				select -1 as errcod, 'La fecha DESDE debe ser menor que la fecha HASTA.' as errtxt
				return
			end
		-- valido solapamiento de licencias por cargo
		if exists(select top 1 * 
					from HHR_LIC l 
					inner join HHR_LIC_CHR lc on lc.BusCod=l.BusCod and lc.HhrLicCod=l.HhrLicCod
					where l.buscod=@lp_buscod 
						and l.srcobjtyp=@lp_srcobjtyp 
						and l.srcobjcod=@lp_srcobjcod 
						and not l.hhrliccod=@lp_hhrliccod
						and l.deldte is null
						and @lv_hhrlicdtestr<=hhrlicdteend and @lv_hhrlicdteend>=hhrlicdtestr
						and lc.hhrchrasgcod in (select dbo.getTagValue('hhrchrasgcod',id) from dbo.StringSplit(@lp_hhrchrasgcodlst,char(9))))
			begin
				SELECT -1 as errcod, 'Al menos un cargo ya se encuentra en otra licencia para la misma fecha.' as errtxt
				RETURN
			end
	END


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- agrego licencia (cabecera)
		INSERT INTO HHR_LIC (buscod, hhrliccodext, srcobjtyp, srcobjcod, hhrlictypcod, hhrlicdtestr, hhrlicdteend, hhrlicatr, sysdocclscod, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_hhrliccodext, @lp_srcobjtyp, @lp_srcobjcod, @lp_hhrlictypcod, @lv_hhrlicdtestr, @lv_hhrlicdteend, @lp_hhrlicatr, @lp_sysdocclscod, 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_hhrliccod=@@IDENTITY
		
		-- agrego cargos (posiciones)
		if @lv_errcod=0
			BEGIN
				INSERT INTO HHR_LIC_CHR (buscod, hhrliccod, hhrchrasgcod, hhrlicchratr, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_hhrliccod, dbo.getTagValue('hhrchrasgcod',x.id), '<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>', @lp_docsts, GETDATE(), @lp_username
				FROM dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrliccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt			
	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- actualizo licencia (cabecera)
		UPDATE HHR_LIC
		SET hhrliccodext=@lp_hhrliccodext,
			hhrlicdtestr=@lv_hhrlicdtestr,
			hhrlicdteend=@lv_hhrlicdteend,
			hhrlicatr=@lp_hhrlicatr,
			docsts=@lp_docsts,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
		  and hhrliccod=@lp_hhrliccod
		SET @lv_errcod=@@ERROR

		-- agrego cargos no existente (posiciones)
		if @lv_errcod=0
			BEGIN
				INSERT INTO HHR_LIC_CHR (buscod, hhrliccod, hhrchrasgcod, hhrlicchratr, docsts, ctedte, cteusr)
				SELECT @lp_buscod, @lp_hhrliccod, dbo.getTagValue('hhrchrasgcod',x.id), '<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>', @lp_docsts, GETDATE(), @lp_username
				FROM dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x
				RIGHT JOIN HHR_LIC_CHR lc on lc.BusCod=@lp_buscod and lc.HhrLicCod=@lp_hhrliccod and lc.HhrChrasgCod=dbo.getTagValue('hhrchrasgcod',x.id)
				where lc.BusCod is null
				SET @lv_errcod=@@ERROR
			END

		-- actualizo cargos existentes (posiciones)
		if @lv_errcod=0
			BEGIN
				UPDATE lc
					SET hhrlicchratr='<hrs>'+dbo.getTagValue('hrs',x.id)+'</hrs>',
						docsts='A',
						UpdDte=getdate(),
						updusr=@lp_username
				FROM HHR_LIC_CHR lc
				inner join dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ) x on lc.BusCod=@lp_buscod and lc.HhrLicCod=@lp_hhrliccod and lc.HhrChrasgCod=dbo.getTagValue('hhrchrasgcod',x.id)
				where lc.BusCod=@lp_buscod
				  and lc.HhrLicCod=@lp_hhrliccod
				SET @lv_errcod=@@ERROR
			END

		-- quito cargos no informados (posiciones)
		if @lv_errcod=0
			BEGIN
				DELETE 
				FROM HHR_LIC_CHR
				WHERE BusCod=@lp_buscod
				  and HhrLicCod=@lp_hhrliccod
				  and HhrChrasgCod not in (select dbo.getTagValue('hhrchrasgcod',id) from dbo.StringSplit( @lp_hhrchrasgcodlst, CHAR(9) ))
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hhrliccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    
		
		SElECT l.*, lt.HhrLicTypTxt, a.AdrNme001 as srcobjtxt
		FROM HHR_LIC l
		inner join HHR_LIC_TYP lt on lt.BusCod=l.BusCod and lt.HhrLicTypCod=l.HhrLicTypCod 
		inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod 
		inner join GRL_DAT_ADR a on a.BusCod=l.buscod and a.AdrSrcTyp=l.srcobjtyp and a.AdrSrcCod=l.srcobjcod 
		WHERE l.buscod=@lp_buscod
		  and l.hhrliccod=@lp_hhrliccod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HHR_LIC 
		SET docsts = 'I',
			deldte = getdate(),
			delusr = @lp_username
		WHERE buscod=@lp_buscod
			and hhrliccod=@lp_hhrliccod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			  COMMIT TRAN
		ELSE
			  ROLLBACK TRAN

		SELECT @lp_hhrliccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
		
		/* hhr_lic_def '08','temasis','temasis_edu' */

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, lt.hhrlictyptxt, convert(nvarchar, l.hhrlicdtestr, 103) as hhrlicdtestrcnv, convert(nvarchar, l.hhrlicdteend, 103) as hhrlicdteendcnv, a.adrnme001, lt.hhrlictypatr, ISNULL(gw.relsts,'+QUOTENAME('S','''')+') as relsts '
		  + ' FROM HHR_LIC l '
			+ ' inner join hhr_lic_typ lt on lt.buscod=l.buscod and lt.hhrlictypcod=l.hhrlictypcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' inner join grl_dat_adr a on a.buscod=l.buscod and a.adrsrctyp=l.srcobjtyp and a.adrsrccod=l.srcobjcod '
      + ' left join sys_doc_cls_wrk w on w.buscod = l.buscod and w.sysdocclscod = dc.sysdocclscod'
      + ' left join sys_doc_wrk sw on sw.buscod = l.buscod and sw.wrkflwcod = w.wrkflwcod and (sw.wrkflwcodext ='+QUOTENAME('LOGLICWRK','''')+'or sw.wrkflwcodext ='+QUOTENAME('EDULICWRK','''')+')'
      + ' left join grl_dat_wrk gw on gw.buscod = l.buscod and gw.wrkflwcod = w.wrkflwcod and gw.srcobjcod001 = l.hhrliccod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and l.deldte is null '
      
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = REPLACE(@lv_flt,'hhrlicdtestrcnv','l.hhrlicdtestr')
		set @lv_flt = REPLACE(@lv_flt,'hhrlicdteendcnv','l.hhrlicdteend')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = REPLACE(@lv_ord,'hhrlicdtestrcnv','l.hhrlicdtestr')
		set @lv_ord = REPLACE(@lv_ord,'hhrlicdteendcnv','l.hhrlicdteend')
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



-- ------------------------------------------------------------------------
--  23    -    L I S T A R	C A R G O S 	A S I G N A D O S
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '23' 
	BEGIN
		SET @lv_validop = 1

		-- hhr_lic_def '13','temasis','temasis_edu',76

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' lc.*, ca.hhrchrtypcod, ca.hhrchrasgatr, ct.hhrchrtyptxt, ct.hhrchrtypatr, cc.hhrchrclsatr, ag.hhragrtxt '
		  	+ ' FROM HHR_LIC l '
			+ ' inner join HHR_LIC_CHR lc on lc.buscod=l.buscod and lc.hhrliccod=l.hhrliccod '
			+ ' inner join hhr_chr_asg ca on ca.buscod=lc.buscod and ca.hhrchrasgcod=lc.hhrchrasgcod '
			+ ' inner join hhr_chr_typ ct on ct.buscod=ca.buscod and ct.hhrchrtypcod=ca.hhrchrtypcod '
			+ ' inner join hhr_chr_cls cc on cc.buscod=ct.buscod and cc.hhrchrclscod=ct.hhrchrclscod '
			+ ' left join hhr_agr ag on ag.buscod=ca.buscod and ag.hhragrcod=ca.hhragrcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
			+ '   and l.deldte is null '
			+ (case when isnull(@lp_hhrliccod,0)=0 then '' else ' and l.hhrliccod='+cast(@lp_hhrliccod as nvarchar(20)) end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )

		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
