USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_PRC_SCA_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[GRL_DAT_PRC_SCA_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_prccndrowscacod	as int			= null,	/* id */
@lp_prccndqty		as bigint		= null, /* cantidad */
@lp_prccndtot		as bigint		= null,	/* precio total */
@lp_prccndrowcod	as int			= null,	/* id registro */
@lp_docsts			as nvarchar(02) = null,	/* estado */

@lp_vewcfg			as nvarchar(max)=null,	/* config vista */

@lp_errcod				as int					= null OUTPUT,
@lp_errtxt				as nvarchar(max)=null OUTPUT,

@lp_grldatprcsca as nvarchar(max)=null /* lista de escalas */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
declare @lv_sql as nvarchar(max)

declare @lv_prccndqty as decimal(13,3) = dbo.ConvertNumber( @lp_prccndqty, 3 )
declare @lv_prccndtot as decimal(13,3) = dbo.ConvertNumber( @lp_prccndtot, 3 )



/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
/*	-1	Escala de precio existente para este registro.						*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation IN ('01', '01_sp', '02', '02_sp')
	BEGIN
		IF exists(SELECT TOP 1 PrcCndRowScaCod from GRL_DAT_PRC_SCA where BusCod = @lp_buscod and not PrcCndRowScaCod=(case when @lp_sysoperation in ('02', '02_sp') then @lp_prccndrowscacod else '' end) and PrcCndRowCod = @lp_prccndrowcod and PrcCndQty = @lv_prccndqty and PrcCndTot = @lv_prccndtot)
		BEGIN
			-- SELECT null, -1 as errcod, 'Escala de precio existente para este registro.' as errtxt
			RETURN
		END
	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation IN ('01', '01_sp')
	BEGIN
		SET @lv_validop = 1    

		if @lp_sysoperation='01'
			BEGIN TRAN
		
		INSERT INTO GRL_DAT_PRC_SCA(BusCod, PrcCndQty, PrcCndTot, PrcCndRowCod, DocSts, cteusr, ctedte)
		VALUES (@lp_buscod, @lv_prccndqty, @lv_prccndtot, @lp_prccndrowcod, @lp_docsts, @lp_username, getdate())
		SET @lp_errcod=@@ERROR
		SET @lp_prccndrowscacod=@@IDENTITY
		      
		if @lp_sysoperation='01'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_prccndrowscacod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end
		else
      set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
			
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation IN ('02', '02_sp')
	BEGIN
		SET @lv_validop = 1    
		
		if @lp_sysoperation='02'
			BEGIN TRAN

		UPDATE GRL_DAT_PRC_SCA 
		SET PrcCndQty = @lv_prccndqty,
			PrcCndTot = @lv_prccndtot,
			DocSts= @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and prccndrowscacod=@lp_prccndrowscacod
		SET @lp_errcod = @@ERROR
					      
		if @lp_sysoperation='02'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_prccndrowscacod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end
		else
      set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
			
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.* '
			+ ' FROM GRL_DAT_PRC_SCA s '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' s.prccndqty asc ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation IN ('04', '04_sp')
	BEGIN
		SET @lv_validop = 1    
				
		if @lp_sysoperation='04'
			BEGIN TRAN

		DELETE s
		FROM GRL_DAT_PRC_SCA s
			left join GRL_DAT_PRC p on p.BusCod=s.BusCod and p.PrcCndRowCod=s.PrcCndRowCod
			left join GRL_PRC_CND c on c.BusCod=s.BusCod and c.PrcCndCod=p.PrcCndCod
		WHERE s.buscod = @lp_buscod
			and s.PrcCndRowScaCod = @lp_prccndrowscacod
		SET @lp_errcod=@@ERROR
		
		if @lp_sysoperation='04'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_prccndrowscacod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
			end
		else
      set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.* '
			+ ' FROM GRL_DAT_PRC_SCA s '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' s.prccndqty asc ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 5 S P   -    T R A T A M I E N T O 		C E N T R A L
-- Tratamiento de varias escalas recibidos en @@lp_grldatprcsca. Alta, baja y modificaciÃ³n.
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '15_sp'
	BEGIN
		SET @lv_validop = 1
    
    if not isnull(@lp_grldatprcsca,'')=''
      BEGIN TRY
        select  (case when prccndrowscacod='' then 0 else convert(int, prccndrowscacod) end) as prccndrowscacod,  
              (case when prccndqty='' then 0 else convert(decimal(13,3), prccndqty) end) as prccndqty, 
              (case when prccndtot='' then 0 else convert(decimal(13,3), prccndtot) end) as prccndtot, isnull(docsts, 'A') as docsts, deleted
        into #tmpGrlDatPrcSca
        from OPENJSON(@lp_grldatprcsca) WITH (
          prccndrowscacod nvarchar(20) '$.prccndrowscacod',
          prccndqty nvarchar(17) '$.prccndqty',
          prccndtot nvarchar(17) '$.prccndtot',
        	docsts nvarchar(2) '$.docsts',
          deleted nvarchar(1) '$.deleted'
        )
      END TRY
      BEGIN CATCH
      select ERROR_MESSAGE()
        select @lp_errcod = ERROR_NUMBER(), @lp_errtxt = ERROR_MESSAGE()
        RETURN
      END CATCH
    
    declare lc_cur_grldatprcsca cursor for select prccndrowscacod, prccndqty, prccndtot, docsts, deleted
    from #tmpGrlDatPrcSca
      
		declare @lv_i as INT = 0
    declare @lv_op nvarchar(5)
    declare @lv_deleted nvarchar(1)
    
    open lc_cur_grldatprcsca
    fetch next from lc_cur_grldatprcsca into 
      @lp_prccndrowscacod, @lv_prccndqty, @lv_prccndtot, @lp_docsts, @lv_deleted

    while @@FETCH_STATUS=0 and @lp_errcod=0 and @lv_i<10000 --previene loop infinito
    begin 
      set @lp_prccndqty = @lv_prccndqty * 1000
      set @lp_prccndtot = @lv_prccndtot * 1000
      set @lv_op = (case when isnull(@lp_prccndrowscacod,'') IN ('', '0') then '01_sp'
                       	when isnull(@lv_deleted, '') = '' then '02_sp'
                    		else '04_sp'
                    end)
          
      EXEC GRL_DAT_PRC_SCA_DEF @lv_op, @lp_username, @lp_buscod, @lp_prccndrowscacod, @lp_prccndqty, @lp_prccndtot, @lp_prccndrowcod,
      @lp_docsts, null, @lp_errcod OUTPUT, @lp_errtxt OUTPUT
      
    	fetch next from lc_cur_grldatprcsca into 
        @lp_prccndrowscacod, @lv_prccndqty, @lv_prccndtot, @lp_docsts, @lv_deleted

      set @lv_i = @lv_i + 1
    end

    close lc_cur_grldatprcsca
    deallocate lc_cur_grldatprcsca
    
    return
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
