USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_HST_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_HST_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_pathstcod		as int					= null,	-- id
@lp_pathstcodext as nvarchar(20)= null,	-- codigo
@lp_pathstdte		as nvarchar(14) = null,	-- fecha
@lp_srcobjtyp		as nvarchar(20)	= null,	-- origen - tipo
@lp_srcobjcod001 as nvarchar(20)= null,	-- origen - id 1
@lp_srcobjcod002 as nvarchar(20)= null,	-- origen - id 2

@lp_patcod			as int					= null,	-- id paciente
@lp_cuscod			as int					= null,	-- id cliente
@lp_prscod			as int					= null,	-- id prestador
@lp_spccod			as int					= null,	-- id especialidad

@lp_hltplnid		as int					= null,	-- id planificaciÃ³n
@lp_hltplndteid	as int					= null,	-- id planificaciÃ³n fecha
@lp_evlcod			as int					= null,	-- id evolucion
@lp_docsts 			as nvarchar(1)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null, -- configuraciÃ³n vista

@lp_errcod			as int 					= null OUTPUT,	-- error id
@lp_errtxt			as nvarchar(400)= null OUTPUT		-- error texto

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)

declare @lv_pathstdte as datetime = dbo.ConvertDate( @lp_pathstdte )


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1
		
    INSERT INTO HLT_PAT_HST (BusCod, pathstcodext, pathstdte, srcobjtyp, srcobjcod001, srcobjcod002, patcod, cuscod, prscod, spccod, hltplnid, hltplndteid, evlcod, DocSts, CteDte, CteUsr)
    SELECT @lp_buscod, @lp_pathstcodext, @lv_pathstdte, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_patcod, @lp_cuscod, @lp_prscod, @lp_spccod, @lp_hltplnid, @lp_hltplndteid, @lp_evlcod, @lp_docsts, GETDATE(), @lp_username
    SET @lp_pathstcod = @@IDENTITY
    SET @lp_errcod = @@ERROR

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		--hlt_pat_hst_def '08','temasis','temasis_hlt'
		
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' h.*, p.pattxt, c.custxt, r.prstxt, s.spctxt ',
			' hlt_pat_hst h '
      + ' inner join hlt_pat p on p.buscod=h.buscod and p.patcod=h.patcod '
    	+ ' inner join sys_doc_cls pdc on pdc.buscod=p.buscod and pdc.sysdocclscod=p.sysdocclscod '
      + ' inner join sls_cus c on c.buscod=h.buscod and c.cuscod=h.cuscod '
    	+ ' inner join sys_doc_cls cdc on cdc.buscod=c.buscod and cdc.sysdocclscod=c.sysdocclscod '
      + ' inner join hlt_prs r on r.buscod=h.buscod and r.prscod=h.prscod '
    	+ ' inner join sys_doc_cls rdc on rdc.buscod=r.buscod and rdc.sysdocclscod=r.sysdocclscod '
      + ' inner join hlt_spc s on s.buscod=h.buscod and s.spccod=h.spccod ',
			' p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and p.deldte is null '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('HLT_PAT','''')+', pdc.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('SLS_CUS','''')+', cdc.autcod)=1 '
			+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('HLT_PRS','''')+', rdc.autcod)=1 '
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'h.patcod')
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'h.cuscod')
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'h.prscod')
			+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'h.spccod'),
      ' h.ctedte desc ', default )                               
		execute( @lv_sql )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
