USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_ARG_TRZ_AGT_ASG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HLT_ARG_TRZ_AGT_ASG_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_AgtAsgCod		as int			= null,		/* id asignacion */
@lp_srctyp			as nvarchar(20)	= null,		/* object type */
@lp_srccod			as int			= null,		/* object id */
@lp_AgtTypCod		as int			= null,		/* id tipo agente */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(4000)=null,		/* configuracion vista */

@lp_agtglncod		as nvarchar(20)	= null		/* GLN objeto */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HLT_ARG_TRZ_AGT_ASG (BusCod, SrcTyp, SrcCod, AgtTypCod, docsts, ctedte, cteusr, agtglncod)
		VALUES (@lp_busCod, @lp_SrcTyp, @lp_SrcCod, @lp_AgtTypCod, @lp_docsts, getdate(), @lp_username, @lp_agtglncod)
		SET @lv_errcod=@@ERROR
		SET @lp_AgtAsgCod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtAsgCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE HLT_ARG_TRZ_AGT_ASG
		SET AgtTypCod=@lp_AgtTypCod,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username,
			agtglncod=@lp_agtglncod
		WHERE buscod = @lp_buscod
		  and AgtAsgCod = @lp_AgtAsgCod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtAsgCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, t.agttyptxt,
			(case a.srctyp 
				when 'ADM_BUS' then (select top 1 bustxt from adm_bus where buscod=@lp_buscod and buscodext=a.srccod)
				when 'STK_MAT' then (select top 1 mattxt from stk_mat where buscod=@lp_buscod and matcod=a.srccod)
				when 'BUY_SUP' then (select top 1 suptxt from buy_sup where buscod=@lp_buscod and supcod=a.srccod)
			else '' end) as srctxt
		FROM HLT_ARG_TRZ_AGT_ASG a
		  left join HLT_ARG_TRZ_AGT_TYP t on t.agttypcod=a.agttypcod
		WHERE a.buscod=@lp_buscod
		  and AgtasgCod = @lp_AgtasgCod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		/* borro asignacion */
		DELETE
		FROM HLT_ARG_TRZ_AGT_ASG
		WHERE buscod=@lp_buscod
		  and AgtasgCod=@lp_AgtAsgCod
		SET @lv_errcod=@@ERROR
		  					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_AgtAsgCod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		SELECT a.*, t.agttyptxt,
			(case a.srctyp
				when 'ADM_BUS' then (select top 1 bustxt from adm_bus where buscod=@lp_buscod and buscodext=a.srccod) 
				when 'STK_MAT' then (select top 1 mattxt from stk_mat where buscod=@lp_buscod and matcod=a.srccod) 
				when 'BUY_SUP' then (select top 1 suptxt from buy_sup where buscod=@lp_buscod and supcod=a.srccod) 
			else '' end) as srctxt
			INTO #tmp_dat_08
			FROM HLT_ARG_TRZ_AGT_ASG a
			left join HLT_ARG_TRZ_AGT_TYP t on t.agttypcod=a.agttypcod
			WHERE a.buscod=@lp_buscod

		set @lv_sql = 'SELECT ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.* '
			+ ' FROM #tmp_dat_08 a '
			+ ' WHERE 1=1'
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 'AgtTypTxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END




IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
