USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_MOD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_PAT_MOD_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_hltpatmodcod	as int			= null,	/* id asignación */
@lp_patcod			as int			= null,	/* id paciente */
@lp_hltmodcod		as int			= null,	/* id modulo */
@lp_hltpatmodstrdte	as nvarchar(14)	= null, /* fecha desde */
@lp_hltpatmodenddte	as nvarchar(14)	= null,	/* fecha hasta */
@lp_docsts 			as nvarchar(1)	= null, /* estado */

@lp_vewcfg			as nvarchar(4000)= null, /* configuración vista */

@lp_hltpatmodaut	as nvarchar(50)	= null,	/* cod autorización */
@lp_hltpatmodcmt	as nvarchar(4000)= null /* comentarios */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)
	
declare @lv_hltpatmodstrdte as datetime
set @lv_hltpatmodstrdte = dbo.ConvertDate( @lp_hltpatmodstrdte )

declare @lv_hltpatmodenddte as datetime
set @lv_hltpatmodenddte = dbo.ConvertDate( @lp_hltpatmodenddte )
	
	
		
/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO HLT_PAT_MOD (buscod, patcod, hltmodcod, hltpatmodstrdte, hltpatmodenddte, docsts, cteusr, ctedte, hltpatmodaut, hltpatmodcmt)
		VALUES (@lp_buscod, @lp_patcod, @lp_hltmodcod, @lv_hltpatmodstrdte, @lv_hltpatmodenddte, @lp_docsts, @lp_username, getdate(), @lp_hltpatmodaut, @lp_hltpatmodcmt)
		SET @lv_errcod = @@ERROR
		SET @lp_hltpatmodcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltpatmodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_PAT_MOD 
		SET hltpatmodstrdte=@lv_hltpatmodstrdte, 
			hltpatmodenddte=@lv_hltpatmodenddte,
			hltpatmodaut=@lp_hltpatmodaut,
			hltpatmodcmt=@lp_hltpatmodcmt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and hltpatmodcod=@lp_hltpatmodcod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltpatmodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT pm.*, m.hltmodcodext, m.hltmodtxt, m.sysdocclscod as hltmod_sysdocclscod, c.custxt, p.pattxt
		FROM HLT_PAT_MOD pm
			left join HLT_MOD m on m.buscod=pm.buscod and m.hltmodcod=pm.hltmodcod
			left join hlt_pat p on p.buscod=pm.buscod and p.patcod=pm.patcod
			left join sls_cus c on c.buscod=pm.buscod and c.cuscod=m.cuscod
		WHERE pm.buscod=@lp_buscod
		  and pm.hltpatmodcod=@lp_hltpatmodcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN

		SET @lv_validop = 1    

		BEGIN TRAN

		/* borro asignación */
		DELETE FROM HLT_PAT_MOD 
		WHERE buscod=@lp_buscod 
		  and hltpatmodcod=@lp_hltpatmodcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltpatmodcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1   
		
		/* hlt_pat_mod_def '08','mdominguez','temasis_hlt' */

		declare @lv_ord as nvarchar(4000)
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = replace(@lv_ord, 'hltpatmodstrdtecnv', ' pm.hltpatmodstrdte')
		set @lv_ord = replace(@lv_ord, 'hltpatmodenddtecnv', 'pm.hltpatmodenddte')

		declare @lv_flt as nvarchar(4000)
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'hltpatmodstrdtecnv', ' pm.hltpatmodstrdte')
		set @lv_flt = replace(@lv_flt, 'hltpatmodenddtecnv', 'pm.hltpatmodenddte')

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' pm.*, m.hltmodcodext, m.hltmodtxt, m.sysdocclscod as hltmod_sysdocclscod, c.custxt, p.pattxt, '
			+ ' convert(varchar, pm.hltpatmodstrdte, 103) as hltpatmodstrdtecnv, '
			+ ' convert(varchar, pm.hltpatmodenddte, 103) as hltpatmodenddtecnv '
			+ '	FROM hlt_pat_mod pm '
			+ ' left join hlt_mod m on m.buscod=pm.buscod and m.hltmodcod=pm.hltmodcod '
			+ ' left join hlt_pat p on p.buscod=pm.buscod and p.patcod=pm.patcod '
			+ ' left join sls_cus c on c.buscod=pm.buscod and c.cuscod=m.cuscod '
			+ ' WHERE pm.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ @lv_flt
			+ @lv_ord
		execute( @lv_sql )
		
	END
	
	
	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END



GO
