USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_APP_FNC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Martin Dominguez
-- Create date: 2025-05-31
-- Description:	SP multiproposito de funcionalidades generales del sistema
-- =============================================
CREATE PROCEDURE [dbo].[SYS_APP_FNC_DEF]
	@lp_sysoperation 	as nvarchar(20),
	@lp_username 		as nvarchar(20),
	@lp_buscod			as nvarchar(20),
	@lp_value1			as nvarchar(max)='',
	@lp_value2			as nvarchar(max)='',	
	@lp_value3			as nvarchar(max)='',
	@lp_value4			as nvarchar(max)='',
	@lp_value5			as nvarchar(max)='',
	@lp_return			as nvarchar(max)='' OUTPUT
AS
BEGIN
	declare @lv_sql as nvarchar(max)

	-- Verifica si un documento (registro) esta siendo utilizado en alguna otra tabla del sistema
	-- previene falta de claves foraneas en el borrado como asi tambien referencias genericas de tablas (srcobjtyp/srcobjcod)
	-- ejemplo: SYS_APP_FNC_DEF 'checkFieldUsage', 'mdominguez', 'temasis_log', 'ADM_CUR', 'curcod','ARS', 'ADM_CUR'
	--          SYS_APP_FNC_DEF 'checkFieldUsage', 'mdominguez', 'temasis_log', 'SLS_ORD', 'slsordcod','3084', 'SLS_ORD;SLS_ORD_MAT'
	if @lp_sysoperation='checkFieldUsage'
		begin
    			-- @lp_value1 OBJETO relacionado
			-- @lp_value2	NOMBRE del campo a verificar
			-- @lp_value3	VALOR del campo a verificar
			-- @lp_value4	TABLAS A EXLCUIR (separadas por ;)

			declare @lv_table as nvarchar(128)
			declare @lv_objtyp as nvarchar(max) = @lp_value1
			declare @lv_fld as nvarchar(max) = @lp_value2
			declare @lv_val as nvarchar(max) = rtrim(ltrim(@lp_value3))
			declare @lv_exclude as nvarchar(max) = ';'+isnull(@lp_value4,'')+';'

			-- armo cursor para recorrer todas las tablas que usan ese campo directamente
	      -- recorro todas las tablas o hasta que se haya encontrado una tabla que usa ese campo/valor
			declare lv_cur cursor for 
				select t.name 
				from sys.tables t 
				inner join sys.columns c on c.object_id = t.object_id
				where c.name = @lv_fld
				  AND CHARINDEX(';' + t.name + ';', @lv_exclude) = 0
				order by t.name
			open lv_cur
			fetch lv_cur into @lv_table
			while @@FETCH_STATUS=0 and @lp_return=''
        begin
					set @lv_sql = 'if exists(select 1 from '+QUOTENAME(@lv_table)+' where '+QUOTENAME(@lv_fld)+'= @value ) set @res=@table_name'
	
					EXEC sp_executesql 
						@lv_sql,
						N'@value NVARCHAR(max), @res NVARCHAR(max) OUTPUT, @table_name NVARCHAR(128)',
						@value = @lv_val,
						@res = @lp_return OUTPUT,
						@table_name = @lv_table;
			
      		fetch next from lv_cur into @lv_table
				end
			close lv_cur
			deallocate lv_cur
	
      -- armo cursor para recorrer todas las tablas con srcobjtyp=@lv_objtyp y srcobjcod=@lp_val
			-- recorro todas las tablas o hasta que se haya encontrado una tabla que usa ese campo/valor
  		if @lp_return=''
  			begin
	        declare lv_cur2 cursor for
  	      	select t.name
    	    	from sys.tables t
      	  	where t.object_id in (select object_id from sys.columns where name='srcobjtyp')
        			and t.object_id in (select object_id from sys.columns where name='srcobjcod')
				  		AND CHARINDEX(';' + t.name + ';', @lv_exclude) = 0
						order by t.name
					open lv_cur2
					fetch lv_cur2 into @lv_table
          while @@FETCH_STATUS=0 and @lp_return=''
            begin
              set @lv_sql = 'if exists(select 1 from '+QUOTENAME(@lv_table)+' where srcobjtyp='+QUOTENAME(@lv_objtyp,'''')+' and srcobjcod=@value ) set @res=@table_name'

							EXEC sp_executesql 
                @lv_sql,
                N'@value NVARCHAR(max), @res NVARCHAR(max) OUTPUT, @table_name NVARCHAR(128)',
                @value = @lv_val,
                @res = @lp_return OUTPUT,
                @table_name = @lv_table;
							
              fetch next from lv_cur2 into @lv_table
            end
          close lv_cur2
          deallocate lv_cur2
  		end
  		
		end
END

GO
