USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_SVC_LQD_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SLS_SVC_LQD_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operaciÃ³n
@lp_username 		as nvarchar(20),			-- operaciÃ³n - usuario
@lp_buscod			as nvarchar(20) = null,		-- empresa
@lp_slssvclqdcod	as int			= null,		-- id
@lp_slssvclqdtxt	as nvarchar(50) = null,		-- descripcion
@lp_slssvclqddte	as nvarchar(14) = null,		-- fecha
@lp_slssvclqdstrdte	as nvarchar(14) = null,		-- fecha - inicio
@lp_slssvclqdenddte	as nvarchar(14) = null,		-- fecha - fin
@lp_cuscod			as int			= null,		-- cliente
@lp_slssvclqdopnsrvids	as nvarchar(max)= null,	-- IDs de planificaciÃ³n
@lp_slssvclqdopnexpids	as nvarchar(max)= null,	-- IDs de novedades
@lp_docsts			as nvarchar(02)	= null,		-- estado

@lp_vewcfg			as nvarchar(max)=null,		-- vista

@lp_sysdocclscod	as int			= null,		-- clase de documento - ID
@lp_slssvclqdatr001	as nvarchar(max)=null,		-- atributos
@lp_sysdocrejcod	as int			= null		-- id motivo de rechazo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_slssvclqddte as datetime = dbo.ConvertDate( @lp_slssvclqddte )
declare @lv_slssvclqdstrdte as datetime = dbo.ConvertDate( @lp_slssvclqdstrdte )
declare @lv_slssvclqdenddte as datetime = dbo.ConvertDate( @lp_slssvclqdenddte )

declare @lv_srcobjtyp as nvarchar(50)
set @lv_srcobjtyp = ''



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SLS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SVL'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ----------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ----------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='11' OR @lp_sysoperation='02' or @lp_sysoperation='12'
	begin

		-- 1. convierto IDs en tabla de servicios
		select cast(@lp_buscod as nvarchar(20)) as buscod,  x.id, CHARINDEX('-',x.id) as inx1, CHARINDEX('-',x.id,CHARINDEX('-',x.id)+1) as inx2, CAST(null as nvarchar(20)) as refobjtyp, CAST(null as nvarchar(20)) as refobjcod001, CAST(null as nvarchar(20)) as refobjcod002
		into #tmpSrv
		from dbo.StringSplit(@lp_slssvclqdopnsrvids,'|') x
		where CHARINDEX('_',x.id)>0
		IF not isnull(@lp_slssvclqdopnsrvids,'')=''
			BEGIN
				update #tmpSrv
				set refobjtyp = SUBSTRING(id, 1, inx1-1),
					refobjcod001 = SUBSTRING(id, inx1+1, inx2-inx1-1),
					refobjcod002 = SUBSTRING(id, inx2+1, LEN(id)-inx2)
			END

	end



-- ----------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		declare @lv_custxt as nvarchar(250)
		set @lv_custxt = (select top 1 custxt from SLS_CUS where buscod=@lp_buscod and cuscod=@lp_cuscod)

		BEGIN TRAN

		-- 1. agrego cabecera de liquidaciÃ³n
		INSERT INTO SLS_SVC_LQD (buscod, cuscod, custxt, slssvclqddte, slssvclqdtxt, 
								sysdocclscod, slssvclqdatr001, 
								docsts, ctedte, cteusr)
		VALUES( @lp_buscod, @lp_cuscod, @lv_custxt, @lv_slssvclqddte, @lp_slssvclqdtxt, 
				@lp_sysdocclscod, @lp_slssvclqdatr001, 
				@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_slssvclqdcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slssvclqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ----------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from SLS_SVC_LQD where buscod=@lp_buscod and slssvclqdcod=@lp_slssvclqdcod)='C'
			BEGIN
				SELECT null, -2 as errcod, 'No se puede modificar. Documento contabilizado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- 1. borro documentos que fueron quitados de la liquidaciÃ³n - SERVICIOS
		IF @lv_errcod=0 and not isnull(@lp_slssvclqdopnsrvids,'')=''
			BEGIN
				DELETE d
				FROM SLS_SVC_LQD_DOC d
				left join #tmpSrv x on @lp_buscod=d.buscod and x.refobjtyp=d.refobjtyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002
				WHERE d.buscod=@lp_buscod
				  and d.slssvclqdCod=@lp_slssvclqdcod
				  and x.id is null
				SET @lv_errcod=@@ERROR
			END

		-- 2. borro documentos que fueron quitados de la liquidaciÃ³n - GASTOS
		IF @lv_errcod=0 and not isnull(@lp_slssvclqdopnexpids,'')=''
			BEGIN
				DELETE d
				FROM SLS_SVC_LQD_DOC d
				left join #tmpExp x on x.buscod=d.buscod and x.refobjtyp=d.RefObjTyp and x.refobjcod001=d.RefObjCod001 and x.refobjcod002=d.RefObjCod002
				WHERE d.buscod=@lp_buscod
				  and d.slssvclqdCod=@lp_slssvclqdcod
				  and x.id is null
				SET @lv_errcod=@@ERROR
			END

		-- 3. agrego documentos de liquidaciÃ³n - SERVICIOS
		IF @lv_errcod=0 and not isnull(@lp_slssvclqdopnsrvids,'')=''
			BEGIN

				INSERT INTO SLS_SVC_LQD_DOC (buscod, slssvclqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					slssvclqddoccodext, slssvclqddoctxt, slssvclqddocdte, slssvclqddoctot, curcod, slssvclqddocatr001,
					docsts, ctedte, cteusr)
				select x.buscod, @lp_slssvclqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					x2.slssvclqddoccodext, x2.slssvclqddoctxt, cd.HltPlnCtrDte, isnull(x2.hltlqdspcprc,0)+isnull(x2.hltlqdspcprcadd,0), 'ARS', '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpSrv x
				inner join HLT_PLN_CTR_DTE cd on cd.buscod=@lp_buscod and cd.hltplnctrcod=x.refobjcod001 and cd.hltplnctrdtecod=x.refobjcod002 
				inner join #tmp_38_2_plr x2 on x2.buscod=x.buscod and x2.refobjtyp=x.refobjtyp and x2.refobjcod001=x.refobjcod001 and x2.refobjcod002=x.refobjcod002
				left join SLS_SVC_LQD_DOC d on d.buscod=x.buscod and d.RefObjTyp=x.refobjtyp and d.RefObjCod001=x.refobjcod001 and d.RefObjCod002=x.refobjcod002
				where x.buscod=@lp_buscod
					and d.slssvclqdDocCod is null
				SET @lv_errcod=@@ERROR

			END

		/* 4. agrego documentos de liquidaciÃ³n - GASTOS * /
		IF @lv_errcod=0 and not isnull(@lp_slssvclqdopnexpids,'')=''
			BEGIN
				INSERT INTO SLS_SVC_LQD_DOC (buscod, slssvclqdcod, RefObjTyp, RefObjCod001, RefObjCod002, 
					slssvclqddoccodext, slssvclqddoctxt, slssvclqddocdte, slssvclqddoctot, curcod, slssvclqddocatr001,
					docsts, ctedte, cteusr)
				select @lp_buscod, @lp_slssvclqdcod, x.refobjtyp, x.refobjcod001, x.refobjcod002, 
					et.buyexptypcod, et.buyexptyptxt, ed.BuyExpDocDte, ed.BuyExpDocTot, 'ARS', '', 
					@lp_docsts, getdate(), @lp_username
				from #tmpExp x 
				inner join buy_exp_doc ed on ed.buscod=@lp_buscod and ed.BuyExpCod=x.refobjcod001 and ed.BuyExpDocCod=x.refobjcod002
				inner join buy_exp e on e.buscod=ed.buscod and e.buyexpcod=ed.buyexpcod 
				inner join buy_exp_typ et on et.buscod=ed.buscod and et.BuyExpTypCod=ed.BuyExpTypCod 
				left join SLS_SVC_LQD_DOC d on d.buscod=@lp_buscod and d.RefObjTyp=x.refobjtyp and d.RefObjCod001=x.refobjcod001 and d.RefObjCod002=x.refobjcod002
				where x.buscod=@lp_buscod
				  and e.docsts='C'
				  and et.docsts='A'
				  and d.slssvclqdDocCod is null
				SET @lv_errcod=@@ERROR
			END
			*/

		-- 5. actualizo cabecera
		IF @lv_errcod=0
			BEGIN
				UPDATE SLS_SVC_LQD
				SET --slssvclqddte = @lv_slssvclqddte,
					slssvclqdtxt = @lp_slssvclqdtxt,
					slssvclqdtot = (select sum(d.slssvclqddoctot) FROM SLS_SVC_LQD_doc d where d.buscod=@lp_buscod and d.slssvclqdcod=@lp_slssvclqdcod),
					--cuscod = @lp_cuscod,
					--custxt = @lv_custxt,
					sysdocrejcod = @lp_sysdocrejcod,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod=@lp_buscod
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slssvclqdcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ----------------------------------------------------------------------------
--   0 3    -    V E R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1

		-- SLS_SVC_LQD_def '03','mdominguez','temasis_edu','10'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' l.*, dc.sysdocclstxt, tc.taxcattxt, c.cuscodext, dr.sysdocrejtxt, dt.sysdoctretxt ',
			' SLS_SVC_LQD l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join SLS_CUS c on c.buscod=l.buscod and c.cuscod=l.cuscod '
			+ ' left join grl_dat_tax t on t.buscod=l.buscod and t.taxsrctyp='+QUOTENAME('EDU','''')+' and t.taxsrccod=l.cuscod '
			+ ' left join grl_dat_adr a on a.buscod=l.buscod and a.adrsrctyp='+QUOTENAME('EDU','''')+' and a.adrsrccod=l.cuscod '
			+ ' left join fin_tax_cat tc on tc.lndcod=a.lndcod and tc.taxcatcod=t.taxcatcod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=l.buscod and dr.sysdocrejcod=l.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=l.buscod and dt.sysdoctrecod=l.sysdoctrecod ',
			' l.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and l.slssvclqdcod='+QUOTENAME(@lp_slssvclqdcod,''''),
      default, default)
		execute( @lv_sql )

	END



-- ----------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		set @lp_docsts = (select top 1 docsts from SLS_SVC_LQD where buscod=@lp_buscod and slssvclqdcod=@lp_slssvclqdcod)
    
    -- obtengo el objeto de la clase de documento
		/*declare @lv_objtyp as nvarchar(20)
		declare @lv_errtxt as nvarchar(50)
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join SLS_SVC_LQD d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.slssvclqdcod=@lp_slssvclqdcod)*/

		BEGIN TRAN
		
		-- borro los documento liquidados
		DELETE
		FROM SLS_SVC_LQD_doc
		WHERE buscod=@lp_buscod
		  and slssvclqdcod=@lp_slssvclqdcod
		SET @lv_errcod=@@ERROR

		-- borro liquidaciÃ³n - cabecera
		IF @lv_errcod=0 and not @lp_docsts='C'
			BEGIN
				DELETE 
				FROM SLS_SVC_LQD
				WHERE buscod=@lp_buscod
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod=@@ERROR
			END

		-- marco la liquidaciÃ³n como borrado - cabecera
		IF @lv_errcod=0 and @lp_docsts='C'
			BEGIN
				UPDATE SLS_SVC_LQD
				SET deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slssvclqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END




-- ----------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1

		-- SLS_SVC_LQD_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','','','<VIEW><VEWORD></VEWORD><VEWMAX>101</VEWMAX><VEWFLT></VEWFLT></VIEW>',''
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, convert(varchar,l.slssvclqddte,103) as slssvclqddtecnv, dc.sysdocclstxt, dr.sysdocrejtxt, dt.sysdoctretxt '
			+ ' FROM SLS_SVC_LQD l '
			+ ' inner join sys_doc_cls dc on dc.buscod=l.buscod and dc.sysdocclscod=l.sysdocclscod '
			+ ' left join SYS_DOC_REJ dr on dr.buscod=l.buscod and dr.sysdocrejcod=l.sysdocrejcod '
			+ ' left join SYS_DOC_TRE dt on dt.buscod=l.buscod and dt.sysdoctrecod=l.sysdoctrecod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and l.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'l.slssvclqddte DESC, l.slssvclqdcod DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



-- ----------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ----------------------------------------------------------------------------
IF @lp_sysoperation='09' or @lp_sysoperation='19'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from SLS_SVC_LQD where buscod=@lp_buscod and slssvclqdcod=@lp_slssvclqdcod)='C'
			BEGIN
				SELECT null, -4 as errcod, 'No se puede contabilizar. Documento ya contabilizado.' as errtxt
				RETURN
			END
		
		BEGIN TRAN

		-- 1. actualizo cabecera
		UPDATE SLS_SVC_LQD
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and slssvclqdcod=@lp_slssvclqdcod
		SET @lv_errcod=@@ERROR

		-- 2. actualizo posiciones
		IF @lv_errcod=0
			BEGIN
				UPDATE SLS_SVC_LQD_DOC
				SET docsts = 'C'
				WHERE buscod=@lp_buscod
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slssvclqdcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
