USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAN_PLN_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[STK_MAN_PLN_DEF]
@lp_sysoperation 		as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod					as nvarchar(20),
@lp_stkmanplncod		as int					= null,	-- id
@lp_stkmanplncodext	as nvarchar(20) = null,	-- codigo
@lp_stkmanplntxt		as nvarchar(50) = null,	-- descripcion
@lp_stkmanplnatr		as nvarchar(max)= null,	-- atributos
@lp_docsts 					as nvarchar(2)	= null,	-- estado
@lp_sysdocclscod		as int					= null,	-- id clase documento

@lp_vewcfg					as nvarchar(max)= null	-- configuracion vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(4000)
declare @lv_sql as nvarchar(max)


------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MPL'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------
--   V A L I D A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	begin
   if not isnull(@lp_stkmanplncodext,'')=''
		if exists(select top 1 * from STK_MAN_PLN where buscod=@lp_buscod and not stkmanplncod=@lp_stkmanplncod and stkmanplncodext=@lp_stkmanplncodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					return
				end
	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		-- agrego cabecera de documento
		INSERT INTO STK_MAN_PLN (buscod, stkmanplncodext, stkmanplntxt, sysdocclscod, stkmanplnatr, 
			docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stkmanplncodext, @lp_stkmanplntxt, @lp_sysdocclscod, @lp_stkmanplnatr, 
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmanplncod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanplncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE STK_MAN_PLN
		SET	stkmanplncodext = @lp_stkmanplncodext,
			stkmanplntxt = @lp_stkmanplntxt,
			stkmanplnatr = @lp_stkmanplnatr,
			docsts = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmanplncod=@lp_stkmanplncod
		  and not docsts = 'C'
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmanplncod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*, dc.sysdocclstxt
		FROM STK_MAN_PLN p
		inner join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod
		WHERE p.buscod=@lp_buscod
		  and p.stkmanplncod=@lp_stkmanplncod

	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1


		BEGIN TRAN

		-- borro materiales del documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_PLN_MAT
				WHERE buscod = @lp_buscod
				  and stkmanplncod = @lp_stkmanplncod
				SET @lv_errcod=@@ERROR
			END

		-- borro documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_PLN
				WHERE buscod = @lp_buscod
				  and stkmanplncod = @lp_stkmanplncod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_stkmanplncod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END


---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
    set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, ' p.* ', 
			'STK_MAN_PLN p '
			+ ' inner join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod ',
			' p.buscod='+QUOTENAME(@lp_buscod, ''''), 
			' p.ctedte desc ' , default)
		execute( @lv_sql )
  END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
