USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_CAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPT_CAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)		= null,		/*empresa*/
@lp_actcod			as nvarchar(20)		= null,		/*código del torneo*/
@lp_plycat			as nvarchar(20)		= null,		/*categoría del jugador*/
@lp_cattxt			as nvarchar(50)		= null,		/*descripción de la categoría*/
@lp_docsts 			as nvarchar(2)		= null

AS

SET NOCOUNT ON
DECLARE @lv_validop INT
DECLARE @lv_ErrorSave INT
SET @lv_validop = 0
SET @lv_ErrorSave = 0
IF (@@ERROR <> 0)
	SET @lv_ErrorSave = @@ERROR



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 1    -    C R E A R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		INSERT INTO SPT_CAT
			(buscod, actcod, plycat, cattxt, 			
			docsts, cteusr, ctedte) 
		VALUES 
			(@lp_buscod, @lp_actcod, @lp_plycat, @lp_cattxt, 			
			@lp_docsts, @lp_username, getdate() )

		IF @@ERROR = 0
			SELECT @lp_plycat
		ELSE
			SELECT '' WHERE 1=2

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		UPDATE SPT_CAT
		SET	cattxt = @lp_cattxt,
			docsts = @lp_docsts, 
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and actcod = @lp_actcod 
		  and plycat = @lp_plycat  
		
		IF @@ERROR = 0
			SELECT @lp_plycat
		ELSE
			SELECT '' WHERE 1=2		

	END


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_CAT
		WHERE buscod = @lp_buscod
		  and actcod = @lp_actcod 
		  and plycat = @lp_plycat

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 4    -    B O R R A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		DELETE 
		FROM SPT_CAT
		WHERE buscod = @lp_buscod
		  and actcod = @lp_actcod 
		  and plycat = @lp_plycat

		IF @@ERROR = 0
			SELECT @lp_plycat
		ELSE
			SELECT '' WHERE 1=2

	END



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   0 8    -    L I S T A R												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM SPT_CAT
		WHERE buscod = @lp_buscod
		  and docsts = 'A'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END







GO
