USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_TSK_MAT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CNS_TSK_MAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_cnstskmatcod	as int				= null, /* id */
@lp_cnstskcod 		as int				= null,	/* id lista */
@lp_srcobjtyp		as nvarchar(20)		= null,	/* objeto origen - tipo */
@lp_srcobjcod001	as nvarchar(20)		= null,	/* objeto origen - codigo 1 */
@lp_srcobjcod002	as nvarchar(20)		= null,	/* objeto origen - codigo 2 */
@lp_matqty			as bigint			= null,	/* cantidad */
@lp_matuntcod		as nvarchar(05)		= null,	/* unidad de medida */
@lp_docsts 			as nvarchar(02)		= null,	/* estado */

@lp_vewcfg			as nvarchar(max)	= null	/* configuración vista */


AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_errtxt as nvarchar(250)

declare @lv_sql as nvarchar(max)

declare @lv_matqty as decimal(13,3)
set @lv_matqty = dbo.ConvertNumber( @lp_matqty , 3 )


/* ------------------------------------------------------------------------ */
/* FALTA: evitar la recursividad hacia adelante y hacia atras				*/
/* ==> hacia adelante: para cada lista de material de la lista actual,		*/
/*							guardar el id									*/
/*							obtener las listas de materiales siguientes		*/
/*								si se repite alguno entonces es recursivo	*/
/* ==> hacia atras: para la lista de material actual, buscar las listas de materiales que lo contienen y guardar los id. si se repiten entonces es recursivo */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* creo registro de material */
		INSERT INTO CNS_TSK_MAT (buscod, cnstskcod, srcobjtyp, srcobjcod001, srcobjcod002, matqty, matuntcod, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_cnstskcod, @lp_srcobjtyp, @lp_srcobjcod001, @lp_srcobjcod002, @lv_matqty, @lp_matuntcod, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod=@@ERROR
		SET @lp_cnstskmatcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnstskmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* actualizo registro de material */
		UPDATE CNS_TSK_MAT
		SET	srcobjtyp=@lp_srcobjtyp,
			srcobjcod001=@lp_srcobjcod001,
			srcobjcod002=@lp_srcobjcod002,
			matqty = @lv_matqty,
			matuntcod = @lp_matuntcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
			and cnstskmatcod=@lp_cnstskmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnstskmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT tm.*, (case tm.srcobjtyp 
							when 'BUY_SUP' then bs.suptxt
							when 'STK_MAT' then sm.mattxt 
							when 'LOG_VHC' then sv.vhctxt 
							when 'HHR_EMP' then se.hhremptxt 
							when 'CNS_TSK' then st.cnstsktxt 
							else '' end) as srcobjtxt,
					(case tm.srcobjtyp 
							when 'BUY_SUP' then bs.supcodext 
							when 'STK_MAT' then sm.matcodext 
							when 'LOG_VHC' then sv.vhccodext 
							when 'HHR_EMP' then se.hhrempcodext 
							when 'CNS_TSK' then st.cnstskcodext 
							else '' end) as srcobjcodext
		FROM CNS_TSK_MAT tm
		left join STK_MAT sm on sm.buscod=tm.buscod and tm.srcobjtyp='STK_MAT' and sm.matcod=tm.srcobjcod001
		left join LOG_VHC sv on sv.buscod=tm.buscod and tm.srcobjtyp='LOG_VHC' and sv.vhccod=tm.srcobjcod001
		left join HHR_EMP se on se.buscod=tm.buscod and tm.srcobjtyp='HHR_EMP' and se.hhrempcod=tm.srcobjcod001
		left join CNS_TSK st on st.buscod=tm.buscod and tm.srcobjtyp='CNS_TSK' and st.cnstskcod=tm.srcobjcod001
		left join BUY_SUP bs on bs.buscod=tm.buscod and tm.srcobjtyp='BUY_SUP' and bs.supcod=tm.srcobjcod001
		WHERE tm.buscod=@lp_buscod
		  and tm.cnstskcod = @lp_cnstskcod
		
	END




/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM CNS_TSK_MAT
		WHERE buscod=@lp_buscod
			and cnstskmatcod=@lp_cnstskmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnstskmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		/* CNS_TSK_MAT_def '08','mdominguez','temasis_log' */

		declare @lv_srcobjsts as nvarchar(4000)
		set @lv_srcobjsts = '(case tm.srcobjtyp when '+QUOTENAME('BUY_SUP','''')+' then bs.docsts when '+QUOTENAME('STK_MAT','''')+' then sm.docsts when '+QUOTENAME('LOG_VHC','''')+' then sv.docsts when '+QUOTENAME('HHR_EMP','''')+' then se.docsts  when '+QUOTENAME('CNS_TSK','''')+' then st.docsts else '+QUOTENAME('','''')+' end)'

		declare @lv_flt as nvarchar(max)
		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_flt = replace(@lv_flt,'srcobjsts',@lv_srcobjsts)

		declare @lv_ord as nvarchar(max)
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		set @lv_ord = replace(@lv_ord,'srcobjsts',@lv_srcobjsts)

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' tm.*, '
			+ ' (case tm.srcobjtyp when '+QUOTENAME('BUY_SUP','''')+' then bs.suptxt when '+QUOTENAME('STK_MAT','''')+' then sm.mattxt when '+QUOTENAME('LOG_VHC','''')+' then sv.vhctxt when '+QUOTENAME('HHR_EMP','''')+' then se.hhremptxt  when '+QUOTENAME('CNS_TSK','''')+' then st.cnstsktxt else '+QUOTENAME('','''')+' end) as srcobjtxt, '
			+ ' (case tm.srcobjtyp when '+QUOTENAME('BUY_SUP','''')+' then bs.supcodext when '+QUOTENAME('STK_MAT','''')+' then sm.matcodext when '+QUOTENAME('LOG_VHC','''')+' then sv.vhccodext when '+QUOTENAME('HHR_EMP','''')+' then se.hhrempcodext  when '+QUOTENAME('CNS_TSK','''')+' then st.cnstskcodext else '+QUOTENAME('','''')+' end) as srcobjcodext, '
			+ @lv_srcobjsts + ' as srcobjsts '
			+ ' FROM CNS_TSK_MAT tm '
			+ ' inner join CNS_TSK t on t.buscod=tm.buscod and t.cnstskcod=tm.cnstskcod '
			+ ' left join STK_MAT sm on sm.buscod=tm.buscod and tm.srcobjtyp='+QUOTENAME('STK_MAT','''')+' and sm.matcod=tm.srcobjcod001 '
			+ ' left join LOG_VHC sv on sv.buscod=tm.buscod and tm.srcobjtyp='+QUOTENAME('LOG_VHC','''')+' and sv.vhccod=tm.srcobjcod001 '
			+ ' left join HHR_EMP se on se.buscod=tm.buscod and tm.srcobjtyp='+QUOTENAME('HHR_EMP','''')+' and se.hhrempcod=tm.srcobjcod001 '
			+ ' left join CNS_TSK st on st.buscod=tm.buscod and tm.srcobjtyp='+QUOTENAME('CNS_TSK','''')+' and st.cnstskcod=tm.srcobjcod001 '
			+ ' left join BUY_SUP bs on bs.buscod=tm.buscod and tm.srcobjtyp='+QUOTENAME('BUY_SUP','''')+' and bs.supcod=tm.srcobjcod001 '
			+ ' WHERE tm.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and '+@lv_srcobjsts+'='+QUOTENAME('A','''')
		execute( @lv_sql + @lv_flt + @lv_ord )

	END


	
IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
