USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_SGN_DOC_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[ADM_SGN_DOC_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operación 
@lp_username 		as nvarchar(20),			-- operación - usuario 
@lp_buscod			as nvarchar(20) = null,		-- empresa 
@lp_sgndoccod		as int			= null,		-- id 
@lp_sgncod			as int			= null,		-- id firma 
@lp_flecod			as int			= null,		-- id archivo 
@lp_sgndocsrctyp	as nvarchar(20)	= null,		-- id origen firma - tipo 
@lp_sgndocsrccod001	as nvarchar(20)	= null,		-- id origen firma - codigo 1 
@lp_sgndocsrccod002	as nvarchar(20)	= null,		-- id origen firma - codigo 2 
@lp_fletxt			as nvarchar(max)= null,		-- nombre fisico del archivo 
@lp_flenme			as nvarchar(max)= null,		-- nombre logico del larchivo 
@lp_flesrcurl		as nvarchar(max)= null,		-- url utilizada para generar el archivo - opcional 
@lp_flesrcpst		as nvarchar(max)= null,		-- datos post para generar el archivo - opcional 
@lp_sgnpwd			as nvarchar(512)= null,		-- clave 
@lp_docsts			as nvarchar(2)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)= null		-- configuración vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------	
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------	
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		-- valida existencia de firma
		if not exists(select top 1 * from ADM_SGN where BusCod=@lp_buscod and SgnCod=@lp_sgncod and CteUsr=@lp_username and DocSts='A')
			begin
				select null, -1 as errcod, 'Firma inválida o inexistente.' as errtxt
				return
			end

		-- valida existencia de archivo
		if not exists(select top 1 * from GRL_DAT_FLE where BusCod=@lp_buscod and FleCod=@lp_flecod and DocSts='A')
			begin
				select null, -2 as errcod, 'Archivo inválido o inexistente.' as errtxt
				return
			end

		-- valida contraseña
		if not exists(select top 1 * from ADM_SGN where BusCod=@lp_buscod and SgnCod=@lp_sgncod and CteUsr=@lp_username and DocSts='A' and SgnPwd=@lp_sgnpwd)
			begin
				select null, -3 as errcod, 'Error de autenticación.' as errtxt
				return
			end

		BEGIN TRAN
		
		-- creo un nuevo registro de firma de documento
		INSERT INTO ADM_SGN_DOC (buscod, sgncod, flecod, sgndocsrctyp, sgndocsrccod001, sgndocsrccod002, fletxt, flenme, flesrcurl, flesrcpst, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_sgncod, @lp_flecod, @lp_sgndocsrctyp, @lp_sgndocsrccod001, @lp_sgndocsrccod002, @lp_fletxt, @lp_flenme, @lp_flesrcurl, @lp_flesrcpst, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_sgndoccod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_sgndoccod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT sd.*
		FROM ADM_SGN_DOC sd
		inner join ADM_SGN s on s.BusCod=sd.BusCod and s.SgnCod=sd.sgncod
		LEFT join GRL_DAT_FLE f on f.BusCod=sd.BusCod and f.FleCod=sd.FleCod
		WHERE sd.buscod = @lp_buscod
		  and sd.SgndocCod = @lp_sgndoccod 

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = dbo.getSQLSentece( @lp_vewcfg, ' sd.* ',
			' ADM_SGN_DOC sd '
			+ ' inner join ADM_SGN s on s.BusCod=sd.BusCod and s.SgnCod=sd.sgncod '
			+ ' LEFT join GRL_DAT_FLE f on f.BusCod=sd.BusCod and f.FleCod=sd.FleCod ',
			' 1=1 ', ' s.sgncod ', default )
		execute( @lv_sql )
		
    END	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
