USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_PRC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_PRC_DEF] 

@lp_sysoperation 	as nvarchar(5),
@lp_username 			as nvarchar(20),
@lp_buscod 				as nvarchar(20)	= null,	-- empresa 
@lp_PrcCndRowCod	as int					= null,	-- # fila 
@lp_srcobjtyp			as nvarchar(20)	= null, -- id tipo objeto 
@lp_srcobjcod001	as nvarchar(200)= null, -- id objeto 1 
@lp_srcobjcod002	as nvarchar(200)= null, -- id objeto 2 
@lp_prcschcndrow	as int					= null,	-- nro fila en esquema 
@lp_prcschcod			as int					= null,	-- id esquema 
@lp_prccndcod			as int					= null,	-- id condicion 
@lp_prccndval			as bigint				= null, -- valor de la condicion 
@lp_prccndcurcod	as nvarchar(5)	= null,	-- id moneda 
@lp_prccndqty			as bigint				= null, -- cantidad de condicion 
@lp_prccnduntcod	as nvarchar(5)	= null, -- unidad medida condicion 
@lp_prccndtot			as bigint				= null,	-- total condicion 
@lp_curcod				as nvarchar(5)	= null, -- moneda del documento 
@lp_docsts				as nvarchar(02)	= null,	-- estado 

@lp_vewcfg				as nvarchar(max)= null,	-- config vista 

@lp_prcchgman			as nvarchar(1)	= null,	-- indicador de modificado manualmente 

@lp_errcod				as int					= null OUTPUT,
@lp_errtxt				as nvarchar(max)=null OUTPUT,

@lp_PrcCndStrDte	as nvarchar(14)	= null,	-- fecha inicio 
@lp_PrcCndEndDte	as nvarchar(14)	= null,	-- fecha fin 
@lp_prccndacccod	as int					= null,	-- id secuencia acceso 
@lp_prccndtxt			as nvarchar(50)	= null,	-- texto condicion 
@lp_prccndstd			as nvarchar(02)	= null,	-- indicador condicion estadistica 
@lp_grldatprc			as nvarchar(max)= null, -- listado de precios para el tratamiento central
@lp_grldatprcsca 	as nvarchar(max)= null -- listado de escalas

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
SET @lp_errcod = 0
declare @lv_errtxt as nvarchar(max) = ''
declare @lv_sql as nvarchar(max)

declare @lv_prccndval as decimal(13,3) = dbo.ConvertNumber( @lp_prccndval, 3)
declare @lv_prccndqty as decimal(13,3) = dbo.ConvertNumber( @lp_prccndqty, 3)
declare @lv_prccndtot as decimal(18,3) = dbo.ConvertNumber( @lp_prccndtot, 3)
declare @lv_prccndstrdte as datetime = dbo.ConvertDate( @lp_PrcCndStrDte ) 
declare @lv_prccndenddte as datetime = dbo.ConvertDate( @lp_PrcCndEndDte )
declare @lv_slsprcsrctyp as nvarchar(20)
declare @lv_slsprcsrccod as nvarchar(20)



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
-- -1. CANNOT UPDATE CENTRALIZED DOCUMENT
-- ------------------------------------------------------------------------
if @lp_sysoperation='01' or @lp_sysoperation='01_sp' or @lp_sysoperation='02' or @lp_sysoperation='02_sp'
	begin
		if isnull(@lp_PrcCndRowCod,0)=0
			begin
				set @lp_PrcCndRowCod = (select top 1 prccndrowcod 
											from grl_dat_prc 
											where buscod=@lp_buscod 
											  and srcobjtyp=@lp_srcobjtyp 
											  and srcobjcod001=@lp_srcobjcod001 
											  and srcobjcod002=@lp_srcobjcod002 
											  and prcschcndrow=@lp_prcschcndrow
											  and PrcCndCod=@lp_prccndcod
											  and isnull(prccndstrdte,'')=isnull(@lv_prccndstrdte,'')
											  and isnull(prccndenddte,'')=isnull(@lv_prccndenddte,'') )
				if not @lp_PrcCndRowCod is null
					set @lp_sysoperation = (case when @lp_sysoperation='01_sp' or @lp_sysoperation='02_sp' then '02_sp' else '02' end)
				else
					set @lp_sysoperation = (case when @lp_sysoperation='01_sp' or @lp_sysoperation='02_sp' then '01_sp' else '01' end)
			end
	end
  

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='01_sp'
	BEGIN
		SET @lv_validop = 1

		if @lp_sysoperation='01'
			BEGIN TRAN

		INSERT INTO GRL_DAT_PRC (buscod, SrcObjTyp, SrcObjCod001, SrcObjCod002, PrcSchCndRow, PrcSchCod, PrcCndCod, PrcCndVal, PrcCndCurCod, PrcCndQty, PrcCndUntCod, PrcCndTot, CurCod, docsts, cteusr, ctedte, prcchgman, prccndstrdte, prccndenddte, prccndacccod, prccndtxt, prccndstd)
		VALUES (@lp_buscod, @lp_SrcObjTyp, @lp_srcobjcod001, @lp_srcobjcod002, @lp_prcschcndrow, @lp_PrcSchCod, @lp_PrcCndCod, @lv_PrcCndVal, @lp_PrcCndCurCod, @lv_PrcCndQty, @lp_PrcCndUntCod, @lv_prccndtot, @lp_curcod, @lp_docsts, @lp_username, getdate(), @lp_prcchgman, @lv_prccndstrdte, @lv_prccndenddte, @lp_prccndacccod, @lp_prccndtxt, @lp_prccndstd  )
		SET @lp_errcod = @@ERROR
		SET @lp_PrcCndRowCod = @@IDENTITY		

		-- actualizo escalas
		IF @lp_errcod=0 and not isnull(@lp_grldatprcsca, '') = ''
      EXEC GRL_DAT_PRC_SCA_DEF @lp_sysoperation='15_sp', @lp_buscod=@lp_buscod, @lp_username=@lp_username, @lp_grldatprcsca=@lp_grldatprcsca,@lp_prccndrowcod=@lp_prccndrowcod,
        @lp_errcod=@lp_errcod OUTPUT, @lp_errtxt=@lp_errtxt OUTPUT

		if @lp_sysoperation='01'
			begin
				IF @lp_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN

				SELECT @lp_PrcCndRowCod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt, (case when @lp_errcod=0 then 'S' else 'E' end) as errtyp
			end
		else
			begin
				set @lp_errcod = @lp_errcod
				set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
			end

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='02_sp'
	BEGIN
		SET @lv_validop = 1
		
		if @lp_sysoperation='02'
			BEGIN TRAN
		
		UPDATE GRL_DAT_PRC 
		SET	prccndcod = @lp_prccndcod,
			prccndacccod = @lp_prccndacccod, 
			prccndval = @lv_prccndval,
			prccndcurcod = @lp_prccndcurcod,
			prccndqty = @lv_prccndqty,
			prccnduntcod = @lp_prccnduntcod,
			prccndtot = @lv_prccndtot,
			prcchgman = @lp_prcchgman,
			prccndstrdte = @lv_prccndstrdte,
			prccndenddte = @lv_prccndenddte,
			prccndtxt = @lp_prccndtxt,
			prccndstd = @lp_prccndstd, 
			curcod = @lp_curcod,  
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and PrcCndRowCod = @lp_PrcCndRowCod
		SET @lp_errcod=@@ERROR

	-- actualizo escalas
  IF @lp_errcod=0 and not isnull(@lp_grldatprcsca, '') = ''
    EXEC GRL_DAT_PRC_SCA_DEF @lp_sysoperation='15_sp', @lp_buscod=@lp_buscod, @lp_username=@lp_username, @lp_grldatprcsca=@lp_grldatprcsca,@lp_prccndrowcod=@lp_prccndrowcod,
      @lp_errcod=@lp_errcod OUTPUT, @lp_errtxt=@lp_errtxt OUTPUT

	if @lp_sysoperation='02'
		begin
			IF @lp_errcod=0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN

			SELECT @lp_PrcCndRowCod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt, (case when @lp_errcod=0 then 'S' else 'E' end) as errtyp
		end
	else
		begin
			set @lp_errcod = @lp_errcod
			set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
		end

	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT p.*
		FROM GRL_DAT_PRC p
		WHERE p.buscod = @lp_buscod
		  and p.srcobjtyp = @lp_srcobjtyp
		  and p.srcobjcod001 = @lp_srcobjcod001
		  and p.srcobjcod002 = @lp_srcobjcod002
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='04_sp'
	BEGIN
		SET @lv_validop = 1

		-- determino el ID a borrar
		if @lp_sysoperation='04_sp' and isnull(@lp_prccndrowcod,0)=0
			set @lp_prccndrowcod = (select PrcCndRowCod from GRL_DAT_PRC where BusCod=@lp_buscod and srcobjtyp=@lp_srcobjtyp and srcobjcod001=@lp_srcobjcod001)
		
		if @lp_sysoperation='04'
			BEGIN TRAN

		-- borro escalas de precios
		if @lp_errcod = 0
			begin
				DELETE s
				FROM GRL_DAT_PRC_SCA s
					inner join GRL_DAT_PRC p on p.BusCod=s.BusCod and p.PrcCndRowCod=s.PrcCndRowCod
					inner join GRL_PRC_CND_ACC_SEQ seq on seq.buscod=p.buscod and seq.PrcCndAccCod=p.PrcCndAccCod and seq.PrcCndCod=p.PrcCndCod
				WHERE s.BusCod=@lp_buscod
					and s.PrcCndRowCod = @lp_prccndrowcod
				SET @lp_errcod=@@ERROR
			end

		-- borro registro de precios	
		IF @lp_errcod = 0	
			BEGIN
				DELETE p
				FROM GRL_DAT_PRC p
				inner join GRL_PRC_CND_ACC_SEQ seq on seq.buscod=p.buscod and seq.PrcCndAccCod=p.PrcCndAccCod and seq.PrcCndCod=p.PrcCndCod
				WHERE p.buscod = @lp_buscod
					and p.prccndrowcod = @lp_prccndrowcod
				SET @lp_errcod=@@ERROR
			END
		
		if @lp_sysoperation='04'
			begin
				IF @lp_errcod = 0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
		
				SELECT @lp_prccndrowcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt, (case when @lp_errcod=0 then 'S' else 'E' end) as errtyp
			end
		else
			begin
				set @lp_errcod = @lp_errcod
				set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
			end

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg,
			' p.*, (case when p.prccndtxt='+QUOTENAME('','''')+' then pc.prccndtxt else p.prccndtxt end) as prccndtxt, pf.prccndfortxt, pc.prccndcodext, tt.fintaxtypcat, convert(nvarchar,p.prccndstrdte,103) as prccndstrdtecnv, convert(nvarchar,p.prccndenddte,103) as prccndenddtecnv, pca.prccndaccatr, pca.prccndacctxt, pcc.prccndcattxt, pcc.prccndcatcodext  ',
			' GRL_DAT_PRC p '
			+ ' left join GRL_PRC_SCH ps on ps.buscod=p.buscod and ps.prcschcod=p.prcschcod '
			+ ' left join GRL_PRC_SCH_CND psc on psc.buscod=ps.buscod and psc.prcschcod=ps.prcschcod and psc.prcschcndrow=p.prcschcndrow '
			+ ' left join GRL_PRC_CND pc on pc.buscod=psc.buscod and pc.prccndcod=psc.prccndcod '
			+ ' left join GRL_PRC_CND_CAT pcc on pcc.buscod=pc.buscod and pcc.prccndcatcod=pc.prccndcatcod '
			+ ' left join GRL_PRC_CND_FOR pf on pf.buscod=psc.buscod and pf.prccndforcod=psc.prccndforcod '
			+ ' left join GRL_PRC_CND_ACC pca on pca.buscod=p.buscod and pca.prccndacccod=p.prccndacccod '
			+ ' left join FIN_TAX_TYP tt on tt.buscod=pc.buscod and tt.fintaxtypcod=pc.fintaxtypcod ',
			' p.buscod='+QUOTENAME(@lp_buscod, ''''),
			' p.prccndrowcod ', default )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 8    -    L I S T A R	x	 S E C U E N C I A						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
			' p.*, (case when p.prccndtxt='+QUOTENAME('','''')+' then pc.prccndtxt else p.prccndtxt end) as prccndtxt, pf.prccndfortxt, pc.prccndcodext, tt.fintaxtypcat, convert(nvarchar,p.prccndstrdte,103) as prccndstrdtecnv, convert(nvarchar,p.prccndenddte,103) as prccndenddtecnv, pca.prccndaccatr, pca.prccndacctxt, pcc.prccndcattxt, pcc.prccndcatcodext ',
			' GRL_DAT_PRC p '
			+ ' left join GRL_PRC_SCH ps on ps.buscod=p.buscod and ps.prcschcod=p.prcschcod '
			+ ' left join GRL_PRC_SCH_CND psc on psc.buscod=ps.buscod and psc.prcschcod=ps.prcschcod and psc.prcschcndrow=p.prcschcndrow '
			+ ' left join GRL_PRC_CND pc on pc.buscod=psc.buscod and pc.prccndcod=psc.prccndcod '
			+ ' left join GRL_PRC_CND_CAT pcc on pcc.buscod=pc.buscod and pcc.prccndcatcod=pc.prccndcatcod '
			+ ' left join GRL_PRC_CND_FOR pf on pf.buscod=psc.buscod and pf.prccndforcod=psc.prccndforcod '
			+ ' left join GRL_PRC_CND_ACC pca on pca.buscod=p.buscod and pca.prccndacccod=p.prccndacccod '
			+ ' left join GRL_PRC_CND_ACC_SEQ pcaq on pcaq.buscod=pca.buscod and pcaq.prccndacccod=pca.prccndacccod and pcaq.prccndcod=p.prccndcod '
			+ ' left join FIN_TAX_TYP tt on tt.buscod=pc.buscod and tt.fintaxtypcod=pc.fintaxtypcod ',
			' p.buscod='+QUOTENAME(@lp_buscod, ''''),
			' p.prccndrowcod ', default )
		execute( @lv_sql )
		
	END



-- ------------------------------------------------------------------------ 
--   1 4 S P   -    B O R R A R												
-- borrado masivo de precios. se utiliza LIKE en la clave
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '14_sp'
	BEGIN
		SET @lv_validop = 1
		
		-- borro escalas de precios
		DELETE
		FROM GRL_DAT_PRC_SCA
		WHERE BusCod=@lp_buscod
		  and PrcCndRowCod in (select PrcCndRowCod from GRL_DAT_PRC where BusCod=@lp_buscod and srcobjtyp = @lp_srcobjtyp and srcobjcod001 LIKE @lp_srcobjcod001 and (isnull(@lp_srcobjcod002,'')='' or (srcobjcod002=@lp_srcobjcod002)))
		set @lp_errcod=@@ERROR

		-- borro registro de condicion
		if @lp_errcod=0
			begin
				DELETE 
				FROM GRL_DAT_PRC
				WHERE buscod = @lp_buscod
				  and srcobjtyp = @lp_srcobjtyp
				  and srcobjcod001 LIKE @lp_srcobjcod001
          and (isnull(@lp_srcobjcod002,'')='' or (srcobjcod002=@lp_srcobjcod002))
				SET @lp_errcod=@@ERROR
			end

		set @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)

	END



-- ------------------------------------------------------------------------ 
--   1 5 S P   -    T R A T A M I E N T O 		C E N T R A L
-- Tratamiento de varios precios recibidos en @lp_grldatprc. Alta, baja y modificaciÃ³n.
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '15_sp'
	BEGIN
		SET @lv_validop = 1
    
    if not isnull(@lp_grldatprc,'')=''
      BEGIN TRY
        select  (case when prccndrowcod='' then 0 else convert(int, prccndrowcod) end) as prccndrowcod, prcschcndrow, prcschcod, prccndcod, 
              (case when prccndval='' then 0 else convert(decimal(13,3), prccndval) end) as prccndval, 
              prccndcurcod, (case when prccndqty='' then 0 else convert(decimal(13,3), prccndqty) end) as prccndqty, prccnduntcod, 
              prccndtot, curcod, prcchgman, prccndtxt, prccndstd, srcobjcod001, srcobjcod002, deleted, grldatprcsca
        into #tmpGrlDatPrc
        from OPENJSON(@lp_grldatprc) WITH (
          prccndrowcod nvarchar(20) '$.prccndrowcod',
          prcschcndrow int '$.prcschcndrow',
          prcschcod int '$.prcschcod',
          prccndcod int '$.prccndcod',
          prccndval nvarchar(17) '$.prccndval',
          prccndcurcod nvarchar(5) '$.prccndcurcod',
          prccndqty nvarchar(17) '$.prccndqty',
          prccnduntcod nvarchar(5) '$.prccnduntcod',
          prccndtot decimal(18,3) '$.prccndtot',
          curcod nvarchar(5) '$.curcod',
          prcchgman nvarchar(1) '$.prcchgman',
          prccndtxt nvarchar(50) '$.prccndtxt',
          prccndstd	nvarchar(2) '$.prccndstd',
          srcobjcod001 nvarchar(200) '$.srcobjcod001',
          srcobjcod002 nvarchar(200) '$.srcobjcod002',
          deleted nvarchar(1) '$.deleted',
          grldatprcsca nvarchar(max) '$.grldatprcsca'
        )
      END TRY
      BEGIN CATCH
        select @lp_errcod = ERROR_NUMBER(), @lp_errtxt = ERROR_MESSAGE()
        RETURN
      END CATCH
      
    -- si no existe la tabla, quiere decir que no entraron precios ni por parÃ¡metro ni se armÃ³ la tabla en otro SP
    IF OBJECT_ID('tempdb..#tmpGrlDatPrc') IS NULL
    	RETURN
    
    declare lc_cur_grldatprc cursor for select prccndrowcod, prcschcndrow, prcschcod, prccndcod, prccndval, 
      prccndcurcod, prccndqty, prccnduntcod, prccndtot, curcod, prcchgman, prccndtxt, prccndstd,
      srcobjcod001, srcobjcod002, deleted, grldatprcsca
    from #tmpGrlDatPrc
      
    declare @lv_srcobjcod001 nvarchar(200), @lv_srcobjcod002 nvarchar(200), @lv_deleted nvarchar(1)
    
    open lc_cur_grldatprc
    fetch next from lc_cur_grldatprc into 
      @lp_prccndrowcod, @lp_prcschcndrow, @lp_prcschcod, @lp_prccndcod, @lv_prccndval, 
      @lp_prccndcurcod, @lv_prccndqty, @lp_prccnduntcod, @lv_prccndtot, @lp_curcod, @lp_prcchgman, @lp_prccndtxt, @lp_prccndstd,
      @lv_srcobjcod001, @lv_srcobjcod002, @lv_deleted, @lp_grldatprcsca
      
		declare @lv_i as INT = 0
    declare @lv_op nvarchar(5)

    while @@FETCH_STATUS=0 and @lp_errcod=0 and @lv_i<10000 --previene loop infinito
    begin 
      set @lp_prccndval = @lv_prccndval * 1000
      set @lp_prccndqty = @lv_prccndqty * 1000
      set @lp_prccndtot = @lv_prccndtot * 1000
      set @lv_srcobjcod001 = isnull(@lv_srcobjcod001, @lp_srcobjcod001);
      set @lv_srcobjcod002 = isnull(@lv_srcobjcod002, @lp_srcobjcod002);
      set @lv_op = (case when isnull(@lp_prccndrowcod,'') IN ('', '0') then '01_sp'
                       	when isnull(@lv_deleted, '') = '' then '02_sp'
                    		else '04_sp'
                    end)
          
      EXEC GRL_DAT_PRC_DEF @lv_op, @lp_username, @lp_buscod, @lp_prccndrowcod, @lp_srcobjtyp, @lv_srcobjcod001, @lv_srcobjcod002,
      @lp_prcschcndrow, @lp_prcschcod, @lp_prccndcod, @lp_prccndval, 
      @lp_prccndcurcod, @lp_prccndqty, @lp_prccnduntcod, @lp_prccndtot, @lp_curcod, 'A', null, @lp_prcchgman,
      @lp_errcod OUTPUT, @lp_errtxt OUTPUT, @lp_PrcCndStrDte, @lp_PrcCndEndDte, @lp_prccndacccod, @lp_prccndtxt, @lp_prccndstd, 
      null, @lp_grldatprcsca
      
      fetch next from lc_cur_grldatprc into 
        @lp_prccndrowcod, @lp_prcschcndrow, @lp_prcschcod, @lp_prccndcod, @lv_prccndval, 
        @lp_prccndcurcod, @lv_prccndqty, @lp_prccnduntcod, @lv_prccndtot, @lp_curcod, @lp_prcchgman, @lp_prccndtxt, @lp_prccndstd,
      	@lv_srcobjcod001, @lv_srcobjcod002, @lv_deleted, @lp_grldatprcsca

      set @lv_i = @lv_i + 1
    end

    close lc_cur_grldatprc
    deallocate lc_cur_grldatprc
    
    return
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es vaÂ¡lido', 16, -1, @lp_sysoperation)
	END
GO
