USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_ORG_CHT_WRK_CAP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HHR_ORG_CHT_WRK_CAP_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrorgchtwrkcapcod		as int	= null, -- id
@lp_hhrorgchtwrkcod	 as int			= null,	-- id entegrama
@lp_wrkplccod	as int	= null,	-- id lugar de trabajo
@lp_hhrorgchtwrknonpft	as int	= null,	-- horas no prd
@lp_hhrorgchtwrkpft	as int = null,	-- horas prd
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_errtyp	as nvarchar(1) = null OUTPUT,
@lp_errcod	as int = null OUTPUT,
@lp_errtxt	as nvarchar(400) = null OUTPUT,
@lp_hhrorgchtwrkcaptyp as int = null

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1    

		IF @lp_sysoperation = '01'
			BEGIN TRAN
		
		INSERT INTO HHR_ORG_CHT_WRK_CAP (buscod, hhrorgchtwrkcod, wrkplccod, hhrorgchtwrknonpft, hhrorgchtwrkpft, hhrorgchtwrkcaptyp, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrorgchtwrkcod, @lp_wrkplccod, @lp_hhrorgchtwrknonpft, @lp_hhrorgchtwrkpft, @lp_hhrorgchtwrkcaptyp, @lp_docsts, getdate(), @lp_username)
		SET @lp_errcod=@@ERROR
		SET @lp_hhrorgchtwrkcapcod=@@IDENTITY
		
    IF @lp_sysoperation = '01'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcapcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
		
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '02_sp'
	BEGIN
		SET @lv_validop = 1
    
    IF @lp_sysoperation = '02'
        BEGIN TRAN      	
                  
		UPDATE HHR_ORG_CHT_WRK_CAP 
		SET	wrkplccod = @lp_wrkplccod,
			hhrorgchtwrknonpft = @lp_hhrorgchtwrknonpft,
      hhrorgchtwrkpft = @lp_hhrorgchtwrkpft,
      hhrorgchtwrkcaptyp = @lp_hhrorgchtwrkcaptyp,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hhrorgchtwrkcapcod = @lp_hhrorgchtwrkcapcod
		SET @lp_errcod=@@ERROR
    
    IF @lp_sysoperation = '02'
    	BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcapcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END
      
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM HHR_ORG_CHT_WRK_CAP c
		WHERE c.buscod=@lp_buscod
		  and c.hhrorgchtwrkcapcod=@lp_hhrorgchtwrkcapcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '04_sp'
	BEGIN
		SET @lv_validop = 1    
		
		IF @lp_sysoperation = '04'
			BEGIN TRAN

		DELETE
		FROM HHR_ORG_CHT_WRK_CAP
		WHERE buscod = @lp_buscod
		  and hhrorgchtwrkcapcod = @lp_hhrorgchtwrkcapcod
		SET @lp_errcod=@@ERROR
		
    IF @lp_sysoperation = '04'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcapcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END

	END



-- ------------------------------------------------------------------------ 
--   1 4    -    B O R R A D O		M A S I V O													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '14' or @lp_sysoperation = '14_sp'
	BEGIN
		SET @lv_validop = 1    
		
		IF @lp_sysoperation = '14'
			BEGIN TRAN

		DELETE
		FROM HHR_ORG_CHT_WRK_CAP
		WHERE buscod = @lp_buscod
		  and hhrorgchtwrkcod = @lp_hhrorgchtwrkcod
		SET @lp_errcod=@@ERROR
		
    IF @lp_sysoperation = '14'
      BEGIN
        IF @lp_errcod=0
          COMMIT TRAN
        ELSE
          ROLLBACK TRAN

        SELECT @lp_hhrorgchtwrkcapcod, @lp_errcod as errcod, dbo.GetErrorDescription(@lp_errcod) as errtxt
      END
    ELSE
    	BEGIN
      	SET @lp_errtyp = case when @lp_errcod=0 then 'S' else 'E' end
				SET @lp_errtxt = dbo.GetErrorDescription(@lp_errcod)
      END

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' c.*, p.wrkplctxt '
			+ ' FROM HHR_ORG_CHT_WRK_CAP c '
			+ ' inner join HHR_WRK_PLC p on p.buscod=c.buscod and p.wrkplccod=c.wrkplccod '
			+ ' WHERE c.buscod='+QUOTENAME(@lp_buscod, '''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute ( @lv_sql + @lv_flt + @lv_ord )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END




GO
