USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_TAX_IND_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_TAX_IND_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	     -- empresa 
@lp_fintaxindcod	as int			= null,	       -- id 
@lp_fintaxindcodext as nvarchar(20)	= null,	 -- codigo 
@lp_fintaxindtxt	as nvarchar(50)	= null,	   -- descripcion 
@lp_docsts			as nvarchar(02)	= null,	     -- estado 
@lp_vewcfg			as nvarchar(max)=null	     -- configuraciÃ³n vista 

AS
 
SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TIN'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '02' or @lp_sysoperation = '11' or @lp_sysoperation = '12'
	BEGIN
    IF not isnull(@lp_fintaxindcodext,'')='' 
      BEGIN
        IF exists(select top 1 * from FIN_TAX_IND where buscod=@lp_buscod and not fintaxindcod=@lp_fintaxindcod and fintaxindcodext=@lp_fintaxindcodext)
          BEGIN
            SELECT null, -1 as errcod,  'Codigo externo existente' as errtxt
            RETURN
          END
      END
  END
  
  
  
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_TAX_IND
			(buscod, fintaxindcodext, fintaxindtxt, 
			docsts, cteusr, ctedte)
		VALUES 
			(@lp_buscod, @lp_fintaxindcodext, @lp_fintaxindtxt,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_fintaxindcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_fintaxindcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE FIN_TAX_IND 
		SET	fintaxindcodext=@lp_fintaxindcodext,
			fintaxindtxt=@lp_fintaxindtxt,
			docsts	= @lp_docsts, 			
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and fintaxindcod = @lp_fintaxindcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_fintaxindcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'  or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT i.*
		FROM FIN_TAX_IND i
		WHERE i.buscod = @lp_buscod
		  and i.fintaxindcod = @lp_fintaxindcod
		  
	END
  


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'  or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		DELETE 
		FROM FIN_TAX_IND
		WHERE buscod = @lp_buscod
		  and fintaxindcod = @lp_fintaxindcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_fintaxindcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'  or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' i.* '
			+ '	FROM FIN_TAX_IND i '
			+ ' WHERE i.buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and i.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
