USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_NNM_GRP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_NNM_GRP_DEF]


@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	/* empresa */
@lp_nnmgrpcod		as nvarchar(5)	= null,	/* ID */
@lp_nnmgrptxt		as nvarchar(50)	= null,	/* Descripción del grupo */
@lp_spc001			as nvarchar(50)	= null,
@lp_spc001qty		as int			= null,
@lp_spc002			as nvarchar(50)	= null,
@lp_spc002qty		as int			= null,
@lp_spc003			as nvarchar(50)	= null,
@lp_spc003qty		as int			= null,
@lp_spc004			as nvarchar(50)	= null,
@lp_spc004qty		as int			= null,
@lp_docsts			as nvarchar(02)	= null	/* estado */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*   1 8    -    L I S T A R  G R U P O  según    T E X T O												*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
IF @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1
		
		SELECT TOP 20 *
		FROM HLT_NNM_GRP 
		WHERE buscod=@lp_buscod
		  and docsts='A'
		  and nnmgrptxt like '%'+isnull(@lp_nnmgrptxt,'')+'%'
			ORDER BY nnmgrptxt
		
	END

IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END







































GO
