USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_EVL_MAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_EVL_MAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_evlmatcod		as int			= null,	/* id */
@lp_evlcod			as int			= null,	/* id evolución */
@lp_matcod			as int			= null,	/* id material */
@lp_mattxt			as nvarchar(50)	= null,	/* texto material */
@lp_matqty			as bigint		= null,	/* cantidad */
@lp_matuntcod		as nvarchar(05)	= null,	/* uni med */
@lp_matfrq			as nvarchar(03)	= null,	/* frecuencia */
@lp_docsts			as nvarchar(02) = null,	/* estado */

@lp_vewcfg			as nvarchar(max)=null, /* config vista */

@lp_matbchcod		as int			= null,	/* lote - id */
@lp_matbchcodext	as nvarchar(20)	= null, /* lote - codigo */
@lp_matbchduedte	as nvarchar(14)	= null, /* lote - vencimiento */
@lp_matsercod		as int			= null, /* nro serie - id */
@lp_matsercodext	as nvarchar(14)	= null, /* nro serie - codigo */
@lp_matcmt			as nvarchar(4000)=null,	/* comentarios */
@lp_matatrval001	as nvarchar(4000)=null	/* atributos */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql nvarchar(max)

declare @lv_matqty as decimal(9,3) = dbo.ConvertNumber( @lp_matqty, 3 )
declare @lv_matbchduedte as datetime = dbo.ConvertDate( @lp_matbchduedte )



/* ---------------------------------------------------------------------------- */
/*   V A L I D A C I O N E S													*/
/* ---------------------------------------------------------------------------- */
IF @lp_sysoperation='01' or @lp_sysoperation = '02'
	BEGIN

		if isnull(@lp_mattxt,'')='' and not isnull(@lp_matcod,0)=0
			set @lp_mattxt = (select top 1 mattxt from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

		if isnull(@lp_matuntcod,'')='' and not isnull(@lp_matcod,0)=0
			set @lp_matuntcod = (select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

	END



/* ---------------------------------------------------------------------------- */
/*   0 1    -    C R E A R														*/
/* ---------------------------------------------------------------------------- */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO hlt_pat_evl_mat ( buscod, evlcod, matcod, mattxt, matqty, matuntcod, matfrq,
			matbchcod, matbchcodext, matbchduedte, matsercod, matsercodext, matcmt, matatrval001, 
			docsts, ctedte, cteusr )
		VALUES ( @lp_buscod, @lp_evlcod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lp_matfrq,
			@lp_matbchcod, @lp_matbchcodext, @lv_matbchduedte, @lp_matsercod, @lp_matsercodext, @lp_matcmt, @lp_matatrval001, 
			'A', getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_evlmatcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ---------------------------------------------------------------------------- */
/*   0 2    -    M O D I F I C A R												*/
/* ---------------------------------------------------------------------------- */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE hlt_pat_evl_mat
		SET matcod=@lp_matcod,
			mattxt=@lp_mattxt,
			matqty=@lv_matqty, 
			matuntcod=@lp_matuntcod,
			matfrq=@lp_matfrq,
			matbchcod=@lp_matbchcod,
			matbchcodext=@lp_matbchcodext,
			matbchduedte=@lv_matbchduedte,
			matsercod=@lp_matsercod,
			matsercodext=@lp_matsercodext,
			matcmt=@lp_matcmt,
			matatrval001=@lp_matatrval001,
			upddte=getdate(),
			updusr=@lp_username
		WHERE buscod=@lp_buscod
			and evlmatcod=@lp_evlmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* -------------------------------------------------------------------- */
/*   0 3    -    V E R													*/
/* -------------------------------------------------------------------- */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT em.*
		FROM hlt_pat_evl e
			inner join hlt_pat_evl_mat em on em.buscod=e.buscod and em.evlcod=e.evlcod
		WHERE e.buscod=@lp_buscod
		  and em.evlmatcod=@lp_evlmatcod
		ORDER BY em.mattxt

	END



/* -------------------------------------------------------------------- */
/*   0 4    -    B O R R A R											*/
/* -------------------------------------------------------------------- */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		DELETE FROM hlt_pat_evl_mat
		WHERE buscod=@lp_buscod
			and evlmatcod=@lp_evlmatcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_evlmatcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' em.* '
			+ ' FROM hlt_pat_evl e '
			+ ' inner join hlt_pat_evl_mat em on em.buscod=e.buscod and em.evlcod=e.evlcod '
			+ ' WHERE e.buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and e.docsts='+QUOTENAME(@lp_docsts,'''') end)
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
