USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_STE_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_STE_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20) = null,	-- empresa 
@lp_stecod 			as int					= null,	-- codigo 
@lp_stecodext 	as nvarchar(20)	= null,	-- codigo externo 
@lp_stetxt			as nvarchar(50)	= null,	-- desripciÃ³n 
@lp_cuscod			as int					= null, -- id cliente 
@lp_stecmt			as nvarchar(max)= null,	-- comentarios 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null,	-- config vista 

@lp_sysdocclscod	as int				= null,	-- id clase documento 
@lp_cnssteatr		as nvarchar(max)= null	-- atributos 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt nvarchar(max) = null
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CNS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'STE'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-1	Codigo duplicado													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11' or @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
	
		-- codigo externo duplicado 
		if not isnull(@lp_stecodext,'')=''
			IF exists(select top 1 * from cns_ste where buscod=@lp_buscod and not stecod=@lp_stecod and stecodext=@lp_stecodext and deldte is null)
				BEGIN
					SELECT null, -1 as errcod, 'CÃ³digo duplicado.' as errtxt
					RETURN
				END
				
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO CNS_STE (buscod, stecodext, stetxt, cuscod, stecmt, sysdocclscod, cnssteatr, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_stecodext, @lp_stetxt, @lp_cuscod, @lp_stecmt, @lp_sysdocclscod, @lp_cnssteatr, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stecod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE CNS_STE
		SET	stecodext= @lp_stecodext,
			stetxt	= @lp_stetxt,
			stecmt	= @lp_stecmt,
			cuscod	= @lp_cuscod,
			cnssteatr = @lp_cnssteatr,
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and stecod = @lp_stecod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT s.*, c.custxt, dc.SysDocClsTxt, a.AdrMapGeo
		FROM CNS_STE s 
			left join sls_cus c on c.buscod=s.buscod and c.cuscod=s.cuscod
			inner join SYS_DOC_CLS dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod
			left join grl_dat_adr a on a.buscod=s.buscod and a.adrsrctyp='CNS_STE' and a.adrsrccod=s.stecod
		WHERE s.buscod=@lp_buscod
		  and s.stecod = @lp_stecod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1

		-- verificar que no tenga presupuestos
		IF exists(select top 1 * from cns_bud where buscod=@lp_buscod and stecod=@lp_stecod)
			BEGIN
				SELECT @lp_stecod, -1 as errcod, 'Obra con presupuestos. No se puede borrar.' as errtxt
				RETURN
			END

		-- verificar que no tenga eventos
		IF exists(select top 1 * from cns_ste_evt where buscod=@lp_buscod and stecod=@lp_stecod)
			BEGIN
				SELECT @lp_stecod, -1 as errcod, 'Obra con eventos. No se puede borrar.' as errtxt
				RETURN
			END

		BEGIN TRAN
			
		-- borro la direcciÃ³n de la obra
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR 
				WHERE buscod=@lp_buscod
				  and adrsrctyp='CNS_STE'
				  and adrsrccod=@lp_stecod
				SET @lv_errcod=@@ERROR
			END
		
	-- borro los contactos de la obra
			declare  @lv_i INT = 0
      select *  into #tmpSrv
          from grl_dat_cnt
          where cntsrctyp = 'CNS_STE'
          AND cntsrccod = @lp_stecod ;
          declare @lv_cntcod int
          declare lc_cur cursor for select cntcod
          from #tmpSrv
          open lc_cur
          
            fetch next from lc_cur into  @lv_cntcod
            
            while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito 
             begin
             
              exec dbo.GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,'CNS_STE',@lp_stecod,null,'00000000000000',null,null,null,'A',null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
             	
              fetch next from lc_cur into @lv_cntcod
              set @lv_i = @lv_i + 1
              end
      close lc_cur
      deallocate lc_cur


		-- borro los datos centrales de la obra 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM CNS_STE 
				WHERE buscod=@lp_buscod
				  and stecod=@lp_stecod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stecod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		--- cns_ste_def '08','temasis','temasis_log'
		
		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg,
			' s.*, a.adrstr, a.adrstrnum, a.adrstrflr, a.adrstrbld, a.adrstrunt, a.adrtwn, a.adrphn001, a.adrphn002, l.lndtxt, lr.lndregtxt, c.custxt, dc.sysdocclstxt ',
			' CNS_STE s '
			+ ' left join GRL_DAT_ADR a on a.buscod=s.buscod and a.adrsrctyp='+QUOTENAME('CNS_STE','''')+' and a.adrsrccod=s.stecod '
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '  
			+ ' left join sls_cus c on c.buscod=s.buscod and c.cuscod=s.cuscod '
			+ ' inner join SYS_DOC_CLS dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod ',
			' s.buscod='+QUOTENAME(@lp_buscod, ''''), ' s.stecod desc ', default)
		execute( @lv_sql )

	END

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion %s; no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
