USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PLN_CTR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PLN_CTR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20),
@lp_hltplnctrcod	as int				= null,
@lp_plnyth			as int					= null, -- aÃƒÂ±o 
@lp_plnmth			as int					= null, -- mes 
@lp_patcod			as int					= null,	-- id paciente 
@lp_spccod			as int					= null, -- id especialidad 
@lp_prscod			as int					= null,	-- id prestador 
@lp_docsts 			as nvarchar(02)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null,	-- configuraciÃƒÂ³n de vista 

@lp_errcod			as int			=null,	-- configuraciÃƒÂ³n de vista 
@lp_errtxt			as nvarchar(max)=null	-- configuraciÃƒÂ³n de vista 

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod  INT = 0
declare @lv_sql as nvarchar(max)


-- ---------------------------------------------------------------------------- 
--   E R R O R E S																
-- ---------------------------------------------------------------------------- 
--   -1. No se puede borrar. Control ya contabilizado/liquidado.				
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation IN ('04','02')
	BEGIN
		IF exists(select top 1 * from hlt_pln_ctr where buscod=@lp_buscod and hltplnctrcod=@lp_hltplnctrcod and docsts='C')
			begin
				select @lp_hltplnctrcod, 'E' as errtyp, -1 as errcod, (case when @lp_sysoperation='04' then 'CANNOTDELETEACCOUNTINGDOCUMENT' else 'CANNOTUPDATEACCOUNTINGDOCUMENT' end) as errmsg
				return
			end
	END

-- ---------------------------------------------------------------------------- 
--   V A L I D A C I O N E S													
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		-- si ya existe un control de prestaciÃƒÂ³n lo utilizo 
		if isnull(@lp_hltplnctrcod,0)=0
			begin
				set @lp_hltplnctrcod = (select top 1 hltplnctrcod from hlt_pln_ctr where buscod=@lp_buscod and plnyth=@lp_plnyth and plnmth=@lp_plnmth and patcod=@lp_patcod and SpcCod=@lp_spccod and docsts!='C')
				IF not @lp_hltplnctrcod is null
					set @lp_sysoperation='02'
				ELSE
					SET @lp_sysoperation='01'
			end
		else
			SET @lp_sysoperation='02'

	END
	


-- ---------------------------------------------------------------------------- 
--   0 1    -    C R E A R														
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN 
		SET @lv_validop = 1

		IF @lp_sysoperation = '01'
			BEGIN TRAN
		
		INSERT INTO HLT_PLN_CTR (buscod, plnyth, plnmth, patcod, spccod, docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_plnyth, @lp_plnmth, @lp_patcod, @lp_spccod, @lp_docsts, @lp_username, getdate()
		SET @lv_errcod = @@ERROR
		SET @lp_hltplnctrcod = @@IDENTITY
	
		IF @lp_sysoperation = '01'
			BEGIN
				IF @lv_errcod=0
					COMMIT TRAN
				ELSE
					ROLLBACK TRAN
				
				SELECT @lp_hltplnctrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
			END
		ELSE
			SET @lp_errcod = @lv_errcod
			SET @lp_errtxt = dbo.GetErrorDescription( @lv_errcod )

	END



-- ---------------------------------------------------------------------------- 
--   0 2    -    M O D I F I C A R                  							
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation='02'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		UPDATE HLT_PLN_CTR
		SET upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and hltplnctrcod = @lp_hltplnctrcod
		set @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltplnctrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ---------------------------------------------------------------------------- 
--   0 3    -    V E R                  										
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    


		SELECT c.*, a.pattxt, s.spctxt, sc.cuscod, sc.custxt, s.SpcCtrTyp
		FROM hlt_pln_ctr c
			inner join hlt_pat a on a.buscod=c.buscod and a.patcod=c.patcod
			inner join SLS_CUS sc on sc.BusCod=a.BusCod and sc.cuscod=a.CusCod 
			inner join hlt_spc s on s.buscod=c.buscod and s.spccod=c.spccod
		WHERE c.buscod=@lp_buscod
			and c.hltplnctrcod=@lp_hltplnctrcod

	END
	

	
-- ---------------------------------------------------------------------------- 
--   0 4    -    B O R R A R                  									
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- borro cabecera
		DELETE
		FROM HLT_PLN_CTR
		WHERE buscod=@lp_buscod
			and hltplnctrcod=@lp_hltplnctrcod
		SET @lv_errcod = @@ERROR

		-- borro posiciones
		if @lv_errcod=0
			begin
				DELETE 
				FROM HLT_PLN_CTR_DTE
				WHERE buscod=@lp_buscod
				  and hltplnctrcod=@lp_hltplnctrcod
				SET @lv_errcod = @@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltplnctrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ---------------------------------------------------------------------------- 
--   0 8    -    L I S T A R		C O N T R O L A D O S						
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- HLT_PLN_CTR_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','<VIEW><VEWFLT></VEWFLT><VEWGRP></VEWGRP><VEWGRPCAL></VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD></VEWORD><VEWMAX>101</VEWMAX></VIEW>' 
		-- HLT_PLN_CTR_DEF '08','MDOMINGUEZ','TEMASIS_HLT','','','','','','','','<VIEW><VEWFLT> AND (P.PLNYTH LIKE ^%2021%^) AND (P.PLNMTH LIKE ^%6%^) AND (PATTXT LIKE ^%ALMA%^) AND (SPCTXT LIKE ^%ENFER%^)</VEWFLT><VEWGRP></VEWGRP><VEWGRPCAL></VEWGRPCAL><VEWGRPCALFLT></VEWGRPCALFLT><VEWORD></VEWORD><VEWMAX>101</VEWMAX></VIEW>'
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' cc.hltplnctrcod, cc.plnyth, cc.plnmth, cc.patcod, a.pattxt, c.cuscod, c.custxt, cc.spccod, s.spctxt, s.spcctrtyp, cc.docsts ',
						' HLT_PLN_CTR cc '
						+ '  inner join hlt_pat a on a.buscod=cc.buscod and a.patcod=cc.patcod '
						+ '  inner join sls_cus c on c.buscod=a.buscod and c.cuscod=a.cuscod '
						+ '  inner join hlt_spc s on s.buscod=cc.buscod and s.spccod=cc.spccod ',
						' cc.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and s.spcctrtyp IN(1,2) '
          	+ dbo.getUserRestrictions(@lp_buscod,@lp_username,'a.patcod')
            + dbo.getUserRestrictions(@lp_buscod,@lp_username,'c.cuscod')
            + dbo.GetUserRestrictions(@lp_buscod,@lp_username,'s.spccod'),
						'cc.hltplnctrcod DESC, cc.plnyth DESC, cc.plnmth DESC, a.pattxt ', '')
			--select @lv_sql
		execute( @lv_sql)
	END



-- ---------------------------------------------------------------------------- 
--   0 9    -    C O N T A B I L I Z A R               							
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation='09'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- actualizo posiciones sin contabilizar/liquidar 
		UPDATE HLT_PLN_CTR_DTE
		SET docsts = 'C',
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and hltplnctrcod = @lp_hltplnctrcod
		  and docsts = 'A'
		set @lv_errcod=@@ERROR
		
		-- actualizo cabecera 
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PLN_CTR
				SET docsts = 'C',
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod = @lp_buscod
				  and hltplnctrcod = @lp_hltplnctrcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltplnctrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ---------------------------------------------------------------------------- 
--   2 9    -    D E S C O N T A B I L I Z A R
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation='29'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		-- actualizo posiciones contabilizadas 
		UPDATE HLT_PLN_CTR_DTE
		SET docsts = 'A',
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and hltplnctrcod = @lp_hltplnctrcod
		  and docsts = 'C'
			-- NO se deberÃ­a descontabilizar algo que se encuentra en una liquidaciÃ³n de prestador
			and not exists(select top 1 * from hlt_prs_lqd_doc where buscod=@lp_buscod and refobjtyp='HLT_PCR' and refobjcod001=hltplnctrcod and refobjcod002=hltplnctrdtecod)
			-- NO se deberÃ­a descontabilizar algo que se encuentra en una liquidaciÃ³n de cliente
			and not exists(select top 1 * from hlt_lqd_doc where buscod=@lp_buscod and refobjtyp='HLT_PCR' and refobjcod001=hltplnctrcod and refobjcod002=hltplnctrdtecod)
		set @lv_errcod=@@ERROR
		
		-- actualizo cabecera 
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PLN_CTR
				SET docsts = 'A',
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod = @lp_buscod
				  and hltplnctrcod = @lp_hltplnctrcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hltplnctrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ---------------------------------------------------------------------------- 
--   1 0    -    L I S T A R		P E N D I E N T E S 						
-- ---------------------------------------------------------------------------- 
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg,
						' p.plnyth, p.plnmth, p.patcod, a.pattxt, c.cuscod, c.custxt, p.spccod, s.spctxt, s.spcctrtyp ',
						' hlt_pln_dte pd '
						+ ' inner join hlt_pln p on p.BusCod = pd.BusCod and p.PlnId = pd.PlnId '
						+ ' left join HLT_PLN_CTR_DTE cd on cd.BusCod=pd.BusCod and cd.PlnId=pd.PlnId and cd.PlnDteId=pd.PlnDteId '
						+ ' inner join hlt_pat a on a.buscod=p.buscod and a.patcod=p.patcod '
						+ ' inner join sls_cus c on c.buscod=a.buscod and c.cuscod=a.cuscod '
						+ ' inner join hlt_spc s on s.buscod=p.buscod and s.spccod=p.spccod ',		
						' pd.buscod='+QUOTENAME(@lp_buscod,'''')
						+ ' and pd.DelDte is null '
						+ ' and s.spcctrtyp IN(1,2) '
						+ ' and cd.HltPlnCtrDteCod is null ' ,	
						'',	'')
		
		execute( @lv_sql )
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃƒÂ³digo de operaciÃƒÂ³n <%s> no es vÃƒÂ¡lido', 16, -1, @lp_sysoperation)
	END
GO
