USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[TSR_MOV_DOC_CMP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TSR_MOV_DOC_CMP_DEF]

@lp_sysoperation 		as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod					as nvarchar(20),
@lp_tsrmovdoccmpcod	as int					= null, -- id
@lp_tsrmovdoccod 		as int					= null,	-- id doc tesorerÃ­a
@lp_srcobjtyp				as nvarchar(20)	= null,	-- origen - tipo
@lp_srcobjcod				as int					= null,	-- origen - id
@lp_tsrmovdoccmpamt	as bigint				= null,	-- importe
@lp_docsts 					as nvarchar(02)	= null,	-- estado

@lp_vewcfg					as nvarchar(max)	= null	-- configuraciÃ³n vista


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_errtxt as nvarchar(250)
declare @lv_sql as nvarchar(max)

declare @lv_tsrmovdoccmpamt as decimal(13,3) = dbo.ConvertNumber( @lp_tsrmovdoccmpamt , 3 )
declare @lv_tsrmovdoccmpamt_tmp as decimal(13,3)
declare @lv_srcobjtot as decimal(13,3)

declare @lv_objtyp as nvarchar(20)
declare @lv_finsumcod as int
declare @lv_finsumdoccod as int



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- obtengo tipo de la clase de documento del movimiento
		select @lv_objtyp = (select objtyp from TSR_MOV_DOC td inner join SYS_DOC_CLS dc on dc.BusCod=td.BusCod and dc.SysDocClsCod=td.SysDocClsCod where td.BusCod=@lp_buscod and td.TsrMovDocCod=@lp_tsrmovdoccod)
    BEGIN TRAN

		-- inserto documento
		INSERT INTO TSR_MOV_DOC_CMP (buscod, TsrMovDocCod, srcobjtyp, srcobjcod, TsrMovDocCmpAmt, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_tsrmovdoccod, @lp_srcobjtyp, @lp_srcobjcod, @lv_tsrmovdoccmpamt, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_tsrmovdoccmpcod=@@IDENTITY
    
		-- FLUJO. agrego documento a flujo de documentos si el documento referenciado es de cuenta corriente
		if (@lv_objtyp='TSR_TIN' or @lv_objtyp='TSR_TOU') and @lv_errcod=0 
			begin
      	set @lv_tsrmovdoccmpamt = isnull(@lv_tsrmovdoccmpamt,0) * 1000
        exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,0,@lv_objtyp,@lp_tsrmovdoccod,@lp_tsrmovdoccmpcod,@lv_tsrmovdoccmpamt,'',null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
      end
      
		-- CUENTA CORRIENTE. agrego documento a cuenta corriente
		if (@lv_objtyp='TSR_TIN' or @lv_objtyp='TSR_TOU') and @lv_errcod=0
			begin
				declare @lv_paysrctyp as nvarchar(20)
				declare @lv_paysrccod as int
				declare @lv_curcod as nvarchar(5)
				declare @lv_errtyp as nvarchar(5)
				declare @lv_curexcrte as decimal(13,5)
				declare @lv_tsrmovdocdte as datetime
				declare @lv_tsrmovdocdte2 as nvarchar(14)
				declare @lv_paysrctxt as nvarchar(82)
				
				-- obtengo datos del pagador
				select top 1 @lv_paysrctyp=srcobjtyp, @lv_paysrccod=srcobjcod, @lv_tsrmovdocdte=tsrmovdocdte, @lv_curcod=curcod, @lv_curexcrte=CurExcRte
				from TSR_MOV_DOC
				where buscod=@lp_buscod and tsrmovdoccod=@lp_tsrmovdoccod
				set @lv_tsrmovdocdte2 = convert(varchar,@lv_tsrmovdocdte,112)+'000000'
				set @lv_paysrctxt = (select adrnme001 from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=@lv_paysrctyp and adrsrccod=@lv_paysrccod)

				-- creo cabecera de cuenta corriente (si no existe)
				exec FIN_SUM_DEF '11',@lp_username,@lp_buscod,null,@lv_paysrctyp,@lv_paysrccod,0,@lv_curcod,'A',null,@lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
				
				-- obtengo id de cuenta corriente
				if @lv_errcod=0
					set @lv_finsumcod = (select top 1 finsumcod from fin_sum where buscod=@lp_buscod and SrcObjTyp=@lv_paysrctyp and srcobjcod=@lv_paysrccod)
				
				-- agrego comprobante de cuenta corriente
				if @lv_errcod=0
					exec FIN_SUM_DOC_DEF '11',@lp_username,@lp_buscod,@lv_finsumcod,null,
						@lv_objtyp,@lp_tsrmovdoccod,null,@lv_tsrmovdocdte2,null,
						@lv_paysrctyp,@lv_paysrccod,@lv_paysrctxt,
						@lp_srcobjtyp,@lp_srcobjcod,@lp_tsrmovdoccmpamt,null,@lv_curcod,@lv_curexcrte,'A',null,@lv_errtyp OUTPUT,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdoccmpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1   
		
		-- obtengo total anterior del comprobante
		select top 1 @lv_tsrmovdoccmpamt_tmp=isnull(tsrmovdoccmpamt,0) from TSR_MOV_DOC_CMP where BusCod=@lp_buscod and tsrmovdoccmpcod=@lp_tsrmovdoccmpcod 

		BEGIN TRAN

		UPDATE TSR_MOV_DOC_CMP
		SET	TsrMovDocCmpAmt = @lv_tsrmovdoccmpamt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
			and TsrMovDocCmpCod = @lp_tsrmovdoccmpcod
		SET @lv_errcod=@@ERROR

		-- actualizo total de cabecera
		if @lv_errcod=0
			begin
				declare @lv_tot as decimal(13,3) = (select sum( isnull(TsrMovDocCmpAmt,0) ) from tsr_mov_doc_cmp where buscod=@lp_buscod and TsrMovDocCod=@lp_tsrmovdoccod)

				update TSR_MOV_DOC 
				set TsrMovDocTotAmt=@lv_tot
				where BusCod=@lp_buscod
				  and TsrMovDocCod=@lp_tsrmovdoccod
				SET @lv_errcod=@@ERROR
			end

		-- FLUJO. no se actualiza porque el documento referencia a todas las posiciones y por lo tanto la cantidad siempre es 1

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdoccmpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT c.*
		FROM TSR_MOV_DOC_CMP c
		WHERE c.buscod=@lp_buscod
		  and c.TsrMovDocCmpCod = @lp_tsrmovdoccmpcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		-- obtengo total anterior del comprobante
		select top 1 @lv_tsrmovdoccmpamt_tmp=isnull(tsrmovdoccmpamt,0) from TSR_MOV_DOC_CMP where BusCod=@lp_buscod and tsrmovdoccmpcod=@lp_tsrmovdoccmpcod 

		BEGIN TRAN

		-- FLUJO. borro documento del flujo de documentos
		select @lv_objtyp=dc.objtyp from TSR_MOV_DOC td inner join SYS_DOC_CLS dc on dc.BusCod=td.BusCod and dc.SysDocClsCod=td.SysDocClsCod where td.BusCod=@lp_buscod and td.TsrMovDocCod=@lp_tsrmovdoccod
		select @lp_srcobjtyp=srcobjtyp, @lp_srcobjcod=srcobjcod FROM TSR_MOV_DOC_CMP WHERE buscod=@lp_buscod and TsrMovDocCmpCod = @lp_tsrmovdoccmpcod
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_srcobjtyp,@lp_srcobjcod,0,@lv_objtyp,@lp_tsrmovdoccod,@lp_tsrmovdoccmpcod,null,null,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT
		
		-- borro comprobante en cuenta corriente
		if @lv_errcod=0
			begin
				select @lv_finsumcod=finsumcod, @lv_finsumdoccod=finsumdoccod from fin_sum_doc where buscod=@lp_buscod and docobjtyp in ('TSR_TIN','TSR_TOU') and docobjcod=@lp_tsrmovdoccod and impobjtyp=@lp_srcobjtyp and impobjcod=@lp_srcobjcod
        exec FIN_SUM_DOC_DEF '14',@lp_username,@lp_buscod,@lv_finsumcod,@lv_finsumdoccod,@lp_srcobjtyp,@lp_srcobjcod,null,null,null,null,null,null,null,null,null,null,null,null,null,null,@lv_errtyp OUTPUT, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
			end
      
		-- borro el comprobante
		if @lv_errcod=0
			begin
				DELETE FROM TSR_MOV_DOC_CMP
				WHERE buscod=@lp_buscod
					and TsrMovDocCmpCod = @lp_tsrmovdoccmpcod
				SET @lv_errcod=@@ERROR
			end

		-- actualizo total de cabecera
		if @lv_errcod=0
			begin
				update TSR_MOV_DOC 
				set TsrMovDocTotAmt=ISNULL(TsrMovDocTotAmt,0)-@lv_tsrmovdoccmpamt_tmp
				where BusCod=@lp_buscod
				  and TsrMovDocCod=@lp_tsrmovdoccod
				SET @lv_errcod=@@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tsrmovdoccmpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1
		
		-- TSR_MOV_DOC_CMP_DEF '08', 'ROCHOA','TEMASIS' 
		
		set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, 
			+ ' dc.*, fd.refobjtxt, fd.docobjtyp, fd.docobjcod, fd.docobjcodext, fd.docobjdte, fd.docobjduedte, fd.finsumdoctot ',
			+ ' TSR_MOV_DOC_CMP dc '
			+ ' left join fin_sum_doc fd on fd.buscod=dc.buscod and fd.docobjtyp=dc.srcobjtyp and fd.docobjcod=dc.srcobjcod ',
			' dc.buscod='+QUOTENAME(@lp_buscod, ''''),
			' dc.tsrmovdoccmpcod ', default )			
		execute( @lv_sql )

	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
