USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[BUY_ORD_MAT_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUY_ORD_MAT_DEF]

@lp_sysoperation	as nvarchar(2),
@lp_username		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_buyordcod		as int			= null,	-- id registro
@lp_buyordmatcod	as int			= null,	-- id documento
@lp_matcod			as int			= null,	-- id material
@lp_mattxt			as nvarchar(50)	= null,	-- descripcion
@lp_matqty			as bigint		= null,	-- cantidad
@lp_matuntcod		as nvarchar(20)	= null,	-- UM
@lp_matprc			as bigint		= null,	-- precio unitario
@lp_mattot			as bigint		= null,	-- total
@lp_curcod			as nvarchar(5)	= null,	-- id moneda
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)=null,	-- configuracion vista
@lp_buyordmatatr	as nvarchar(max)=null,	-- atributos

@lp_docreftyp		as nvarchar(20)	= null,	-- doc referencia - tipo
@lp_docrefcod		as int			= null,	-- doc referencia - id documento
@lp_docrefposcod	as int			= null,	-- doc referencia - id posicion
@lp_sysdocrejcod	as int			= null	-- id motivo de rechazo

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty , 3 )
declare @lv_matprc as decimal(13,3) = dbo.ConvertNumber( @lp_matprc , 3 )
declare @lv_mattot as decimal(13,3) = dbo.ConvertNumber( @lp_mattot , 3 )
declare @lv_errtxt as nvarchar(4000) = ''
declare @lv_objtyp as nvarchar(20)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyordcod=@lp_buyordcod)

		BEGIN TRAN

		INSERT INTO BUY_ORD_MAT (buscod, buyordcod, matcod, mattxt, matqty, matuntcod, matprc, mattot, curcod, buyordmatatr, 
			docreftyp, docrefcod, docrefposcod, sysdoctrecod, 
			docsts, ctedte, cteusr) 
		VALUES (@lp_buscod, @lp_buyordcod, @lp_matcod, @lp_mattxt, @lv_matqty, @lp_matuntcod, @lv_matprc, @lv_mattot, @lp_curcod, @lp_buyordmatatr,   
			@lp_docreftyp, @lp_docrefcod, @lp_docrefposcod, 'N', 
			@lp_docsts, getdate(), @lp_username )
		SET @lv_errcod=@@ERROR
		SET @lp_buyordmatcod = @@IDENTITY

		-- agrego la referencia (documento como posicion)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '01',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_buyordcod,@lp_buyordmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyordmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END


-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyordcod=@lp_buyordcod)

		BEGIN TRAN

		UPDATE BUY_ORD_MAT 
		SET matcod	= @lp_matcod,
			mattxt	= @lp_mattxt, 
			matqty	= @lv_matqty, 
			matuntcod	= @lp_matuntcod,
			matprc	= @lv_matprc,
			mattot	= @lv_mattot,
			CurCod	= @lp_curcod, 
			buyordmatatr = @lp_buyordmatatr, 
			sysdocrejcod = @lp_sysdocrejcod, 
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and buyordcod = @lp_buyordcod 
		  and buyordmatcod = @lp_buyordmatcod
		SET @lv_errcod=@@ERROR

		-- actualizo referencia (documento como posicion)
		IF @lv_errcod=0
			exec GRL_DOC_FLW_POS_DEF '02',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_buyordcod,@lp_buyordmatcod,@lp_matqty,@lp_matuntcod,null,null,'A',null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyordmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT om.*
		FROM buy_ord_mat om 
		WHERE om.buscod=@lp_buscod
		  and om.buyordcod = @lp_buyordcod
		  and om.buyordmatcod = @lp_buyordmatcod
		
	END


-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		-- obtengo los datos de referencia
		select @lp_docreftyp=docreftyp, @lp_docrefcod=docrefcod, @lp_docrefposcod=docrefposcod from buy_ord_mat where buscod=@lp_buscod and buyordcod=@lp_buyordcod and buyordmatcod=@lp_buyordmatcod

		-- obtengo el objeto de la clase de documento
		set @lv_objtyp = (select objtyp from SYS_DOC_CLS dc inner join buy_ord d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.buyordcod=@lp_buyordcod)

		BEGIN TRAN

		-- borro/controlo referencias referencia
		exec GRL_DOC_FLW_POS_DEF '04',@lp_username,@lp_buscod,null,@lp_docreftyp,@lp_docrefcod,@lp_docrefposcod,@lv_objtyp,@lp_buyordcod,@lp_buyordmatcod,null,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

		-- borro la posicion del documento
		IF @lv_errcod=0
			BEGIN		
				DELETE
				FROM BUY_ORD_MAT 
				WHERE buscod=@lp_buscod
				  and buyordcod = @lp_buyordcod
				  and buyordmatcod = @lp_buyordmatcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_buyordmatcod, @lv_errcod as errcod, @lv_errtxt as errtxt

	END


-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		-- buy_ord_mat_def '08','temasis','temasis_log'
		-- BUY_ORD_MAT_DEF '08','MDOMINGUEZ','TEMASIS_LOG','','','','','','','','','','','<view><vewflt> AND (dc.objtyp=^BUY_ORD^) AND (dc.objtyp=^BUY_ORD^)</vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>101</vewmax><vewpge></vewmax><extra></extra></view>','','','','',''

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' om.*, o.buyordcodext, o.buyorddte, o.srcobjtyp, o.srcobjcod, a.adrnme001 as srcobjtxt, o.buyordtxt, o.buyordtotamt, o.curcod, fp.refposqty as refposqty, '
			+ ' m.matcodext, m.docsts as matdocsts, m.matusebch, m.matuseser, dt.sysdoctretxt, dr.sysdocrejtxt, fc.fincectxt, dc.sysdocclstxt   ',
			' buy_ord_mat om '
			+ ' left join buy_ord o on o.buscod=om.buscod and o.buyordcod=om.buyordcod '
			+ ' left join grl_dat_adr a on a.buscod=o.buscod and a.adrsrctyp=o.srcobjtyp and a.adrsrccod=cast(o.srcobjcod as nvarchar(20)) '
			+ ' left join stk_mat m on m.buscod=om.buscod and m.matcod=om.matcod '
			+ ' left join sys_doc_cls dc on dc.buscod=o.buscod and dc.sysdocclscod=o.sysdocclscod '
			+ ' left join fin_cec fc on fc.buscod=o.buscod and fc.finceccod=o.finceccod '
			+ ' left join grl_doc_flw_pos fp on fp.buscod=om.buscod and fp.srcobjtyp=dc.objtyp and fp.srcobjcod=om.buyordcod and fp.srcposcod=om.buyordmatcod and isnull(fp.refobjtyp,'+QUOTENAME('','''')+')='+QUOTENAME('','''')
			+ ' left join sys_doc_rej dr on dr.buscod=om.buscod and dr.sysdocrejcod=om.sysdocrejcod '
			+ ' left join sys_doc_tre dt on dt.buscod=om.buscod and dt.sysdoctrecod=om.sysdoctrecod ',
			' om.buscod='+QUOTENAME(@lp_buscod, ''''),
			'', 'srcobjtxt;a.adrnme001' )
		execute( @lv_sql )
		
	END

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
