USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_TME_RNG_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HHR_TME_RNG_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrtmerngcod	as int			= null,	-- id
@lp_hhrtmerngcodext	as nvarchar(20)	= null,	-- codigo
@lp_hhrtmerngtxt	as nvarchar(50)	= null,	-- descripciÃ³n
@lp_hhrtmerngatr	as nvarchar(max)= null,	-- vista
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max) = null,	-- vista

@lp_hhrtmerngwekhrs		as bigint = null,	-- horas semanales

@lp_hhrtmerngfrq		as int = null	-- frecuencia

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

declare @lv_hhrtmerngwekhrs	as decimal(4,1) = dbo.ConvertNumber( @lp_hhrtmerngwekhrs , 1 )


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	begin

		if not @lp_hhrtmerngcodext=''
			if exists(select top 1 * from HHR_TME_RNG where buscod=@lp_buscod and not hhrtmerngcod=@lp_hhrtmerngcod and hhrtmerngcodext=@lp_hhrtmerngcodext)
				begin
					select 0, -1 as errcod, 'Codigo externo existente' as errtxt
					return
				end

	end


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_TME_RNG (buscod, hhrtmerngcodext, hhrtmerngtxt, hhrtmerngatr, hhrtmerngwekhrs, hhrtmerngfrq, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrtmerngcodext, @lp_hhrtmerngtxt, @lp_hhrtmerngatr, @lv_hhrtmerngwekhrs, @lp_hhrtmerngfrq, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrtmerngcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmerngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_TME_RNG 
		SET	hhrtmerngcodext = @lp_hhrtmerngcodext,
			hhrtmerngtxt = @lp_hhrtmerngtxt,
			hhrtmerngatr = @lp_hhrtmerngatr,
      hhrtmerngwekhrs = @lv_hhrtmerngwekhrs,
      hhrtmerngfrq = @lp_hhrtmerngfrq,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hhrtmerngcod = @lp_hhrtmerngcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmerngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT tr.*
		FROM HHR_TME_RNG tr
		WHERE tr.buscod=@lp_buscod
		  and tr.hhrtmerngcod=@lp_hhrtmerngcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    


		BEGIN TRAN

		DELETE
		FROM HHR_TME_RNG
		WHERE buscod = @lp_buscod
		  and hhrtmerngcod = @lp_hhrtmerngcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrtmerngcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' tr.* '
			+ ' FROM HHR_TME_RNG tr '
			+ ' WHERE tr.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

GO
