USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[EDU_STU_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EDU_STU_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_stucod			as int			= null,				-- codigo 
@lp_stutxt			as nvarchar(82) = null,		-- nombre 
@lp_stucodext		as nvarchar(10)	= null, 	-- cod externo 
@lp_cuscod			as int			= null,				-- cliente 
@lp_stubrndte		as nvarchar(14)	= null,		-- fecha de nacimiento 
@lp_stuinbdte		as nvarchar(20)	= null,		-- fecha de ingreso 
@lp_stuoutdte		as nvarchar(20)	= null,		-- fecha de egreso 
@lp_stureqdte		as nvarchar(14)	= null,		-- fecha solicitud 
@lp_stuevldte		as nvarchar(14)	= null,		-- fecha evaluacion 

@lp_stusex			as nvarchar(01)	= null,		-- sexo 
@lp_stuatrval001	as nvarchar(max)=null,	-- atributos 1 
@lp_stuatrval002	as nvarchar(max)=null,	-- atributos 2 
@lp_stucmt			as nvarchar(max)=null,		-- comentarios 

@lp_docsts 			as nvarchar(2)	= null,		-- estado 
@lp_vewcfg			as nvarchar(max)=null,		-- configuraciÃ³n vista 

@lp_SysDocClsCod	as int			= null, 		-- Codigo clase de documento

@lp_StuMedCovCod	as int			= null,			-- cobertura mÃ©dica - id 
@lp_StuMedCovnum	as nvarchar(20)	= null,	-- cobertura medica - numero afiliado 
@lp_StuMedCovpln	as nvarchar(20)	= null	-- cobertura medica - plan 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)

DECLARE @lv_errtxt as nvarchar(max)

declare @lv_stubrndte as datetime = dbo.ConvertDate( @lp_stubrndte )
declare @lv_stuinbdte as datetime = dbo.ConvertDate( @lp_stuinbdte )
declare @lv_stuoutdte as datetime = dbo.ConvertDate( @lp_stuoutdte )
declare @lv_stureqdte as datetime = dbo.ConvertDate( @lp_stureqdte )
declare @lv_stuevldte as datetime = dbo.ConvertDate( @lp_stuevldte )



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Cliente invÃ¡lido.													
--	-2	Entidad derivadora invÃ¡lida.										
--	-3	No se puede borrar el paciente. Existen evoluciones asociadas.		
--	-4	Clasif.Enfermedades invÃ¡lido										
--	-5  DiagnÃ³stico invÃ¡lido												
--	-6  Cronicidad invÃ¡lida													
--	-7  CÃ³digo externo existente											
-- ------------------------------------------------------------------------ 

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'EDU'
		DECLARE @lv_autprgcod as nvarchar(3) = 'STU'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12' 
	BEGIN

		if not isnull(@lp_StuMedCovCod,0)=0
			if not exists(select top 1 * from sls_cus where buscod=@lp_buscod and cuscod=@lp_StuMedCovCod)
				begin
					select 0, -1 as errcod, 'CÃ³digo de cobertura invÃ¡lido.' as errtxt
					return
				end

		if not isnull(@lp_stucodext,'')=''
			if exists(select top 1 * from EDU_STU where buscod=@lp_buscod and not stucod=@lp_stucod and stucodext=@lp_stucodext)
				begin
					select 0, -7 as errcod, 'Codigo externo existente' as errtxt
					return
				end

		IF not isnull(@lp_cuscod,0)=0
			if not exists(select top 1 * from sls_cus where buscod=@lp_buscod and cuscod=@lp_cuscod)
				BEGIN
					SELECT null, -1 as errcod, 'Cliente invÃ¡lido.' as errtxt
					RETURN
				END

	END



-- ------------------------------------------------------------------------
--   C R E A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		INSERT INTO EDU_STU (buscod, stutxt, cuscod, 
			stubrndte, stuinbdte, stuoutdte,  stucmt,
			stusex, stucodext, stuatrval001, stuatrval002, stureqdte,stuevldte,
			StuMedCovCod, StuMedCovNum, StuMedCovPln,
			docsts, cteusr, ctedte,SysDocClsCod) 
		VALUES (@lp_buscod, @lp_stutxt, @lp_cuscod, 
			@lv_stubrndte, @lv_stuinbdte, @lv_stuoutdte,  @lp_stucmt,
			@lp_stusex, @lp_stucodext, @lp_stuatrval001, @lp_stuatrval002,@lv_stureqdte,@lv_stuevldte,
			@lp_StuMedCovCod, @lp_StuMedCovNum, @lp_StuMedCovPln, 
			@lp_docsts, @lp_username, getdate(),@lp_SysDocClsCod )
		SET @lv_errcod=@@ERROR
		SET @lp_stucod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stucod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		 
		BEGIN TRAN
		
		UPDATE EDU_STU 
		SET	stutxt = @lp_stutxt,
			stucodext = @lp_stucodext,
			stureqdte = @lv_stureqdte,
			stuevldte = @lv_stuevldte,
			stuinbdte = @lv_stuinbdte,
			stuoutdte = @lv_stuoutdte,
			stubrndte = @lv_stubrndte,
			stusex = @lp_stusex,
			StuMedCovCod=@lp_StuMedCovCod,
			StuMedCovNum=@lp_StuMedCovNum,
			StuMedCovPln=@lp_StuMedCovPln,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate(),
			stucmt = @lp_stucmt,
			stuatrval001=@lp_stuatrval001,
			stuatrval002=@lp_stuatrval002
		WHERE buscod=@lp_buscod
		  and stucod=@lp_stucod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stucod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1 

		SELECT p.*, 
				c1.custxt,  
				(case when isnull(p.stubrndte,getdate())>=getdate() then 0 else 
					cast( round( (datediff(mm, p.stubrndte, getdate())+(case when datepart(day,p.stubrndte)>datepart(day,getdate()) then -1 else 0 end)) / 12  , 0, 1 )  as decimal(5,2) ) +
					( cast( ( datediff(mm, p.stubrndte, getdate())+(case when datepart(day,p.stubrndte)>datepart(day,getdate()) then -1 else 0 end) ) % 12 as decimal(5,2)) / 100 )
				end) as patage, c2.custxt as StuMedCovTxt, 
				p.SysDocClsCod, cd.SysDocClsTxt
		FROM EDU_STU p 
			left join sls_cus c1 on c1.buscod=p.buscod and c1.cuscod=p.cuscod
			left join sls_cus c2 on c2.buscod=p.buscod and c2.cuscod=p.StuMedCovCod
			inner join SYS_DOC_CLS cd on cd.BusCod = p.BusCod and cd.objtyp ='EDU_STU' and cd.SysDocClsCod = p.SysDocClsCod
		WHERE p.buscod=@lp_buscod
		  and p.stucod=@lp_stucod

	END



-- ------------------------------------------------------------------------
--   B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1 
      
    -- Tabla temporal para guardar tablas/objtyp donde se encontrÃ³ el alumno
    create table #stuTables (objtyptbl nvarchar(255), objtyp nvarchar(100))
    insert into #stuTables EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod=@lp_buscod, @lp_objtypcod='EDU_STU', @lp_objcod=@lp_stucod, @lp_fldnme='stucod'
		
    if exists (select 1 from #stuTables)
    begin
    	declare @lv_msg nvarchar(max)
      
      /*;WITH CTE as (
      	select SUBSTRING(
          			-- Obtiene el nombre de la tabla a partir de SYS_OBJ_TYP
                o.objtyptxt, 
                CHARINDEX('-', o.objtyptxt) + 1, 
                CHARINDEX('(', o.objtyptxt) - CHARINDEX('-', o.objtyptxt) - 2
             ) as nmeTbl
        from #stuTables t
        join tmssSysDev.dbo.SYS_OBJ_TYP o on o.objtyptbl = t.objtyptbl and (o.objtypcod = t.objtyp or t.objtyp is null)
      )
      -- mensaje de error hasta 5 tablas
      select @lv_msg = CONCAT('No se puede borrar el alumno. Existe en', (select STRING_AGG(nmeTbl, ',') from (select top 5 nmeTbl FROM CTE) as nmeTbl),
      case when (select count(*) from CTE) > 5 then ', y otros documentos' else '' end, '.')*/
      
      SET @lv_msg = 'No se puede borrar el alumno. EstÃ¡ siendo usado en otros documentos.'
      
      SELECT null, -1 as errcod, @lv_msg as errtxt
      drop table #stuTables
    	return
    end
    drop table #stuTables
		
		BEGIN TRAN

		-- borro datos de impuestos del alumno 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='EDU_STU'
				  and taxsrccod=@lp_stucod
				SET @lv_errcod=@@ERROR
			END

		-- borro datos de banco del alumno 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_BNK
				WHERE buscod=@lp_buscod
				  and bnksrctyp='EDU_STU'
				  and bnksrccod=@lp_stucod
				SET @lv_errcod=@@ERROR
			END
      
	-- borro los contactos del alumno
			declare  @lv_i INT = 0
      select *  into #tmpSrv
          from grl_dat_cnt
          where cntsrctyp = 'EDU_STU'
          AND cntsrccod = @lp_stucod ;
          declare @lv_cntcod int
          declare lc_cur cursor for select cntcod
          from #tmpSrv
          open lc_cur
          
            fetch next from lc_cur into  @lv_cntcod
            
            while @@FETCH_STATUS=0 and @lv_errcod=0 and @lv_i<10000 --previene loop infinito 
             begin
             
              exec dbo.GRL_DAT_CNT_DEF '04_sp',@lp_username,@lp_buscod,@lv_cntcod,null,null,'EDU_STU',@lp_stucod,null,'00000000000000',null,null,null,'A',null,null,null,@lv_errcod OUTPUT, @lv_errtxt OUTPUT
             	
              fetch next from lc_cur into @lv_cntcod
              set @lv_i = @lv_i + 1
              end
      close lc_cur
      deallocate lc_cur


		
		-- borro direccion del alumno 
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_ADR
				WHERE buscod=@lp_buscod
				  and adrsrctyp='EDU_STU'
				  and adrsrccod=@lp_stucod
				SET @lv_errcod=@@ERROR
			END
		
		-- PLANIFICACION 
		-- PLANIFICACION - FECHAS 
		-- EVALUACIONES 
		-- EVALUACIONES - ATRIBUTOS 
		-- EVALUACIONES - MATERIALES 
		-- EVALUACIONES - ESPECIALIDADES 
		-- HISTORIA CLINICA 


		-- borro pre-inscripciones del alumno
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM EDU_PLN_PRE 
				WHERE buscod=@lp_buscod
				  and stucod=@lp_stucod
				SET @lv_errcod=@@ERROR
			END

		-- borro textos del alumno
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'EDU_STU', @lp_stucod, null, null, null, @lv_errcod, @lv_errtxt

		-- borro datos centrales del alumno 
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM EDU_STU 
				WHERE buscod=@lp_buscod
				  and stucod=@lp_stucod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stucod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		-- EDU_STU_DEF '08','MDOMINGUEZ','TEMASIS_EDU' 
		    
    set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, 
      ' p.*, c.custxt, '
			+ ' a.adrphn001, a.adrphn002, a.adrmblphn, a.adrtwn, a.adrcty, a.adrstr, a.adrmapgeo, a.adrfrtnme, a.adrlstnme, a.adreml, a.adrwebpge, a.adrpstcod, a.adrzon, a.lndcod, a.lndregcod, '
			+ ' t.TaxNum, t.TaxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum, t.TaxActStr, '
			+ ' b.bnkNum, b.bnkcod, b.bnkbch, b.bnkacctyp, b.bnkaccnum, b.bnkacccbu, b.paymthcod, b.bnkdoctyp, b.bnkdocnum, b.bnkacccbuals, '
			+ ' tb.bnktxt, fp.paymthtxt, '
			+ ' dp.hhrmedcovtxt as StuMedCovTxt, '
			+ ' l.lndtxt, lr.lndregtxt, dc.sysdocclscodext, dc.sysdocclstxt, '
			+ ' dp.hhrmedcovcod, dp.hhrmedcovtxt, dp.hhrmedcovaflpln, dp.hhrmedcovaflnum, dp.civstscod, convert(varchar,dp.perbrndte,103) as perbrndte, dp.persex, dp.pernatcod', 
      ' EDU_STU p '
			+ ' left join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('EDU_STU','''')+' and a.adrsrccod=p.stucod'
			+ ' left join grl_dat_tax t on t.buscod=p.buscod and t.taxsrctyp='+QUOTENAME('EDU_STU','''')+' and t.taxsrccod=p.stucod'
			+ ' left join grl_dat_bnk b on b.buscod=p.buscod and b.bnksrctyp='+QUOTENAME('EDU_STU','''')+' and b.bnksrccod=p.stucod'
			+ ' left join grl_dat_per dp on dp.buscod=p.buscod and dp.persrctyp='+QUOTENAME('EDU_STU','''')+' and dp.persrccod=p.stucod'
			+ ' left join tsr_bnk tb on tb.buscod=b.buscod and tb.bnkcod=b.bnkcod '
			+ ' left join tsr_pay_mth fp on fp.buscod=p.buscod and fp.paymthcod=b.paymthcod '
			+ ' left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod '
			+ ' left join grl_dat_lnd l on l.lndcod=a.lndcod '
			+ ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
			+ ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod ',                                                                                     
      ' p.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and (isnull(dc.autcod,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' or dc.autcod in (select autcod from dbo.getAuthorizationObjects('+QUOTENAME(@lp_username,'''')+','+QUOTENAME(@lp_buscod,'''')+','+QUOTENAME('EDU_STU','''')+'))) '
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end),
			' p.stutxt ', default)
			execute( @lv_sql )
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
