USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_TSK_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRL_DAT_TSK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,
@lp_tskcod 			as int			= null,	-- id 
@lp_tskcodext		as nvarchar(20)	= null,	-- codigo 
@lp_tsktxt	 		as nvarchar(50) = null,	-- texto 
@lp_tskstrdte		as nvarchar(14)	= null, -- fecha inicio 
@lp_tskenddte		as nvarchar(14) = null,	-- fecha fin 
@lp_tskfrqtyp		as nvarchar(10) = null,	-- frecuencia - tipo (U-unica / PD-Programada Diaria / PW-programada semanal / PM-programada mensual / PA-programada anual) 
@lp_tskfrqatr		as nvarchar(max)=null,	-- frecuencia - atributos programaciÃ³n 
@lp_tsklstruntme		as nvarchar(14)=null,	-- ultima ejecucion  - fecha 
@lp_tsklstrunsts		as nvarchar(2)=null,	-- ultima ejecucion - estado 
@lp_tsklstrunatr		as nvarchar(max)=null,	-- ultima ejecucion - atributos  
@lp_srcobjtyp		as nvarchar(20)	= null,	-- origen - tipo 
@lp_srcobjcod001	as nvarchar(20) = null,	-- origen - id 
@lp_tskprg			as nvarchar(max)=null, -- controlador 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)=null	-- config vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)

declare @lv_tskstrdte as datetime = dbo.ConvertDate( @lp_tskstrdte )
declare @lv_tskenddte as datetime = dbo.ConvertDate( @lp_tskenddte )
declare @lv_TskLstRunTme	as datetime = dbo.ConvertDate( @lp_tsklstruntme )


declare @lv_TskCod 			as int					= null	-- id 
--declare @lv_TskStrDte		as nvarchar(14)	= null -- fecha inicio 
--declare @lv_TskEndDte		as nvarchar(14) = null	-- fecha fin 
declare @lv_TskFrqTyp	as nvarchar(10)=null	-- Tipo de frecuencia 
declare @lv_TskFrqAtr		as nvarchar(MAX) = null	-- frecuencia - tipo (U-unica / PD-Programada Diaria / PW-programada semanal / PM-programada mensual / PA-programada anual) 

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		INSERT INTO GRL_DAT_TSK (buscod, tskcodext, tsktxt, tskstrdte, tskenddte, tskfrqtyp, tskfrqatr, srcobjtyp, srcobjcod001, tskprg, docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lp_tskcodext, @lp_tsktxt, @lv_tskstrdte, @lv_tskenddte, @lp_tskfrqtyp, @lp_tskfrqatr, @lp_srcobjtyp, @lp_srcobjcod001, @lp_tskprg, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_tskcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tskcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_TSK
		SET	tskcodext  = @lp_tskcodext,
			tsktxt  = @lp_tsktxt,
			tskstrdte = @lv_tskstrdte,
			tskenddte = @lv_tskenddte,
			tskfrqtyp = @lp_tskfrqtyp, 
			tskfrqatr = @lp_tskfrqatr, 
			tskprg = @lp_tskprg, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and tskcod = @lp_tskcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tskcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT t.*
		FROM GRL_DAT_TSK t 
		WHERE t.buscod=@lp_buscod
		  and t.tskcod=@lp_tskcod
		
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1 

		BEGIN TRAN
		
		-- borro contactos 
		DELETE 
		FROM GRL_DAT_TSK
		WHERE buscod=@lp_buscod
		  and tskcod=@lp_tskcod
		SET @lv_errcod=@@ERROR				
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_tskcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END
	


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1 

		-- GRL_DAT_TSK_def '08','temasis','temasis_log' 
    set @lv_sql = dbo.GetSQLSentence( @lp_vewcfg, ' T.* ', ' GRL_DAT_TSK T ',' T.buscod='+QUOTENAME(@lp_buscod,''''), ' T.tskcod ', default)
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 0    -    L I S T A R   T A R E A S 																	
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1 
    DECLARE @lv_frqstrtme AS nvarchar(5) --inicio de horario
    DECLARE @lv_frqendtme AS nvarchar(5) --fin de horario
    DECLARE @lv_frqtmeqty AS int --cada cuantos minutos
    DECLARE @lv_frqqty AS int --cada cuanto D/W/M
    DECLARE @lv_frqnday AS int --cada cuantos dias 
    DECLARE @lv_frqwday AS nvarchar(7) --dia de la semana DLMXJVS
    DECLARE @lv_frqnwek AS int --cada cuantas semanas
    DECLARE @lv_frqwnum AS nvarchar(5) --numero de semana ej: 1234L
    DECLARE @lv_frqnmth AS int --cada cuantos meses
    DECLARE @lv_frqtyp AS nvarchar(2) --tipo de mes --dia calendario  o dia de la semana
    DECLARE @lv_frqday AS int --dia del calendario
    DECLARE @lv_validdte AS int
    DECLARE @lv_validtme AS int
    DECLARE @lv_weknow AS int 
    set @lv_weknow= CEILING(CAST(DATEPART(DAY,  GETDATE()) AS FLOAT) / 7);

    --filtrar cuales son las interfaces a candidatas que tenga fecha/hora de inicio hoy o antes de la fecha actual
    --SELECT * INTO #tbl_tmp FROM GRL_DAT_TSK where 1=2
    CREATE TABLE #tbl_tmp (buscod nvarchar(20), tskcod INT, tskcodext nvarchar(20), tsktxt VARCHAR(50), tskstrdte DATETIME, 
                                tskenddte DATETIME, tskfrqtyp nvarchar(10), tskfrqatr nvarchar(max), srcobjtyp nvarchar(20), srcobjcod001 nvarchar(20), 
                                tskprg nvarchar(max), docsts VARCHAR(50), ctedte smalldatetime, cteusr VARCHAR(50), upddte smalldatetime, 
                                updusr VARCHAR(50), tsklstruntme datetime, tsklstrunsts nvarchar(max), tsklstrunatr nvarchar(max));
    DECLARE lc_tsk_u CURSOR FOR  SELECT TskCod,tskfrqtyp,TskStrDte,TskEndDte,TskFrqAtr,TskLstRunTme FROM GRL_DAT_TSK WHERE  buscod=@lp_buscod AND tskstrdte <= GETDATE()
				OPEN lc_tsk_u
				FETCH NEXT FROM lc_tsk_u INTO @lv_TskCod,@lv_TskFrqTyp, @lv_TskStrDte,@lv_TskEndDte,@lv_TskFrqAtr,@lv_TskLstRunTme
				WHILE @@FETCH_STATUS=0
					BEGIN
            set @lv_validdte=0
            set @lv_validtme=0
            set @lv_frqstrtme = dbo.GetTagValue('frqstrtme', @lv_TskFrqAtr)
            set @lv_frqendtme = dbo.GetTagValue('frqendtme',@lv_TskFrqAtr)
            set @lv_frqtmeqty = dbo.GetTagValue('frqtmeqty',@lv_TskFrqAtr)
            set @lv_frqqty = dbo.GetTagValue('frqqty',@lv_TskFrqAtr)
            set @lv_frqnday = dbo.GetTagValue('frqqty',@lv_TskFrqAtr)
            set @lv_frqwday = dbo.GetTagValue('wekday',@lv_TskFrqAtr)
            set @lv_frqnwek= dbo.GetTagValue('frqqty',@lv_TskFrqAtr)
						set @lv_frqwnum= dbo.GetTagValue('weknum',@lv_TskFrqAtr)
						set @lv_frqtyp= dbo.GetTagValue('frqtyp',@lv_TskFrqAtr)
						set @lv_frqday= dbo.GetTagValue('frqday',@lv_TskFrqAtr)
						set @lv_frqnmth= dbo.GetTagValue('nmth',@lv_TskFrqAtr)
						-- VALIDO FECHA UNICA VEZ
            IF @lv_TskFrqTyp='U' AND @lv_TskLstRunTme IS NULL
							set  @lv_validdte =1
						-- VALIDAR FECHA DIARIO
            IF  @lv_TskFrqTyp='D' AND ( @lv_TskLstRunTme IS NULL OR CONVERT(DATE, DATEADD(DAY, @lv_frqnday, @lv_TskLstRunTme)) <= CONVERT(DATE, GETDATE())) 
            	set  @lv_validdte =1
            -- VALIDAR FECHA SEMANAL
            IF @lv_TskFrqTyp='W'  AND SUBSTRING(@lv_frqwday, DATEPART(WEEKDAY, GETDATE()), 1)  = '1'
          	--IF @lv_TskFrqTyp='W'  AND CHARINDEX(SUBSTRING('DLMXJVS', DATEPART(WEEKDAY, GETDATE()), 1), @lv_frqwday) > 0 
            	AND (@lv_TskLstRunTme IS NULL 
                  OR CONVERT(DATE, DATEADD(DAY, (7 * @lv_frqnwek - (DATEPART(WEEKDAY, @lv_TskLstRunTme)-DATEPART(WEEKDAY, GETDATE())) ), @lv_TskLstRunTme)) <= CONVERT(DATE, GETDATE()) 
                  OR CONVERT(DATE, DATEADD(DAY, (7 - (DATEPART(WEEKDAY, @lv_TskLstRunTme)- DATEPART(WEEKDAY, GETDATE())) ), @lv_TskLstRunTme)) >= CONVERT(DATE, GETDATE()))
           		set  @lv_validdte =1
           -- VALIDAR FECHA MENSUAL
            IF @lv_TskFrqTyp='M' AND SUBSTRING(@lv_frqwday, DATEPART(WEEKDAY, GETDATE()), 1)  = '1'
            		AND @lv_weknow = (CASE WHEN ISNUMERIC(@lv_frqwnum) = 1 THEN CAST(@lv_frqwnum AS INT) ELSE 0 END) 
                AND (@lv_TskLstRunTme is null OR DATEDIFF(MONTH,@lv_TskLstRunTme ,GETDATE())=@lv_frqqty )
							set  @lv_validdte =1
            IF @lv_TskFrqTyp='M' AND SUBSTRING(@lv_frqwday, DATEPART(WEEKDAY, GETDATE()), 1)  = '1'
                AND @lv_frqwnum='L' AND ( (@lv_weknow = 4 AND  CEILING(CAST(DATEPART(DAY,  DATEADD(DAY,7,GETDATE())) AS FLOAT) / 7)<>5) OR @lv_weknow = 5)
                AND (@lv_TskLstRunTme is null OR DATEDIFF(MONTH,@lv_TskLstRunTme ,GETDATE())=@lv_frqqty )
              set  @lv_validdte =1
						IF @lv_TskFrqTyp='M' AND DATEPART(DAY, GETDATE())=@lv_frqday 
            	set  @lv_validdte =1
                    
            -- VALIDAR HORARIO
            IF  @lv_frqstrtme='' AND @lv_frqendtme='' AND @lv_TskLstRunTme IS NULL
							set  @lv_validtme =1
						ELSE IF  	NOT @lv_frqstrtme = '' AND NOT @lv_frqendtme = '' 
                      AND CAST( @lv_frqstrtme AS TIME)<= CAST( GETDATE() AS TIME) AND CAST( @lv_frqstrtme AS TIME)>= CAST( GETDATE() AS TIME)
                      AND  ((@lv_TskLstRunTme IS NULL) OR (DATEADD(MINUTE, @lv_frqtmeqty, @lv_TskLstRunTme) <= GETDATE()))
							set  @lv_validtme =1

            --valida si la fecha y el horario esta bien 
						IF @lv_validdte=1 AND @lv_validtme=1 
            	INSERT INTO #tbl_tmp SELECT * FROM  GRL_DAT_TSK   WHERE TskCod = @lv_TskCod

            FETCH NEXT FROM lc_tsk_u INTO @lv_TskCod,@lv_TskFrqTyp, @lv_TskStrDte,@lv_TskEndDte,@lv_TskFrqAtr,@lv_TskLstRunTme
					END
				CLOSE lc_tsk_u
				DEALLOCATE lc_tsk_u
        SELECT * FROM #tbl_tmp
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
