USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_DEL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_DEL_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),		/* empresa */
@lp_delcod 			as int			= null,	/* id */
@lp_delcodext 		as nvarchar(20)	= null,	/* codigo */
@lp_deltxt			as nvarchar(50)	= null,	/* descripcion */
@lp_delcnthrs		as nvarchar(4000)=null, /* horarios */
@lp_deltypcod		as nvarchar(01)	= null,	/* tipo de delegaciÃ³n */
@lp_delcmt			as nvarchar(4000)=null, /* comentarios */
@lp_docsts			as nvarchar(02) = null, /* estado */

@lp_vewcfg			as nvarchar(4000)=null, /* config vista */

@lp_sysdocclscod	as int			= null	/* id clase documento */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(4000)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'DEL'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* agrego el prestador */
		INSERT INTO HLT_DEL (buscod, delcodext, deltxt, delcnthrs, deltypcod, delcmt, SysDocClsCod, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_delcodext, @lp_deltxt, @lp_delcnthrs, @lp_deltypcod, @lp_delcmt, @lp_sysdocclscod, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod=@@ERROR
		SET @lp_delcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_delcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		UPDATE HLT_DEL
		SET delcodext = @lp_delcodext,
			deltxt	= @lp_deltxt,
			delcnthrs= @lp_delcnthrs,	/* horario de contacto */
			deltypcod= @lp_deltypcod,	/* tipo delegaciÃ³n */
			delcmt	= @lp_delcmt,		/* comentarios */
			docsts	= @lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod = @lp_buscod
		  and delcod = @lp_delcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_delcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		
		SELECT p.*, 
			a.adrnum, a.adrstr, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon, a.adrmapgeo, a.adrtwn, 
			l.LndTxt, lr.lndregtxt, t.lndtwntxt,
			x.taxnum, x.taxcod, x.taxiibb, x.taxactstr, x.taxcur, x.taxdoctyp, x.taxdocnum, x.taxcatcod,
			f.taxcattxt,
			b.bnknum, b.bnkcod, b.bnkacccbu, b.bnkbch, b.bnkaccnum, b.bnkacctyp, b.paymthcod,
			k.bnktxt,
			dc.sysdocclstxt
		FROM HLT_DEL p
		left join GRL_DAT_ADR a on a.buscod=p.buscod and a.adrsrctyp='HLT_DEL' and a.adrsrccod=p.delcod
		left join GRL_DAT_LND l on l.LndCod = a.LndCod
		left join GRL_DAT_LND_REG lr on lr.LndCod = a.LndCod and lr.lndregcod = a.LndRegCod
		left join GRL_DAT_LND_TWN t on t.lndcod=a.lndcod and t.lndregcod=a.lndregcod and t.lndtwncod=a.lndtwncod
		left join GRL_DAT_TAX x on x.buscod=p.buscod and x.taxsrctyp='HLT_DEL' and x.taxsrccod=p.delcod
		left join GRL_DAT_BNK b on b.buscod=p.buscod and b.bnksrctyp='HLT_DEL' and b.bnksrccod=p.delcod
		left join TSR_BNK k on k.buscod=b.buscod and k.bnkcod=b.bnkcod
		left join FIN_TAX_CAT f on f.lndcod=a.lndcod and f.taxcatcod=x.taxcatcod
		inner join SYS_DOC_CLS dc on dc.BusCod=p.buscod and dc.sysdocclscod=p.sysdocclscod
		WHERE p.buscod = @lp_buscod
		  and p.delcod = @lp_delcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    

		/* valido si existen afiliados relacionados */
		/*
		IF exists(select top 1 * from hlt_afl where buscod=@lp_buscod and delcod=@lp_delcod)
			BEGIN
				SELECT null, -4 as errcod, 'Existen afiliados asignados. No se puede borrar.' as errtxt
				RETURN
			END
		*/

		BEGIN TRAN

		/* borro datos bancarios */
		DELETE
		FROM GRL_DAT_BNK
		WHERE buscod=@lp_buscod
		  and bnksrctyp='HLT_DEL'
		  and bnksrccod=@lp_delcod
		SET @lv_errcod=@@ERROR
		
		/* borro datos de impuestos */
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM GRL_DAT_TAX
				WHERE buscod=@lp_buscod
				  and taxsrctyp='HLT_DEL'
				  and taxsrccod=@lp_delcod
				SET @lv_errcod=@@ERROR
			END
			
		/* borro los datos de direcciÃ³n */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM GRL_DAT_ADR 
				WHERE buscod=@lp_buscod 
				  and adrsrctyp='HLT_DEL'
				  and adrsrccod=@lp_delcod
				SET @lv_errcod=@@ERROR
			END
			
		/* borro datos de delegaciÃ³n */
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM HLT_DEL 
				WHERE buscod=@lp_buscod 
				  and delcod=@lp_delcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_delcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSqlSentence( @lp_vewcfg, 
			+ ' d.*, a.adrstr, a.adrstrnum, a.adrpstcod, a.adrcty, a.lndtwncod, a.adrtwn, a.lndcod, a.lndregcod, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, a.adrzon, a.adrmapgeo, a.adrtwn, '
			+ ' l.LndTxt, lr.lndregtxt, t.lndtwntxt, '
			+ ' x.taxnum, x.taxcod, x.taxiibb, x.taxactstr, x.taxcur, x.taxdoctyp, x.taxdocnum, x.taxcatcod, '
			+ ' b.bnknum, b.bnkcod, b.bnkacccbu, b.bnkbch, b.bnkaccnum, b.bnkacctyp, b.paymthcod, '
			+ ' f.taxcattxt, k.bnktxt, dc.sysdocclstxt ',
			' HLT_DEL d '
			+ ' left join GRL_DAT_ADR a on a.buscod=d.buscod and a.adrsrctyp='+QUOTENAME('HLT_DEL','''')+' and a.adrsrccod=d.delcod '
			+ ' left join GRL_DAT_LND l on l.LndCod = a.LndCod '
			+ ' left join GRL_DAT_LND_REG lr on lr.LndCod = a.LndCod and lr.lndregcod = a.LndRegCod '
			+ ' left join GRL_DAT_LND_TWN t on t.lndcod=a.lndcod and t.lndregcod=a.lndregcod and t.lndtwncod=a.lndtwncod '
			+ ' left join GRL_DAT_TAX x on x.buscod=d.buscod and x.taxsrctyp='+QUOTENAME('HLT_DEL','''')+' and x.taxsrccod=d.delcod '
			+ ' left join GRL_DAT_BNK b on b.buscod=d.buscod and b.bnksrctyp='+QUOTENAME('HLT_DEL','''')+' and b.bnksrccod=d.delcod '
			+ ' left join TSR_BNK k on k.buscod=b.buscod and k.bnkcod=b.bnkcod '
			+ ' left join FIN_TAX_CAT f on f.lndcod=a.lndcod and f.taxcatcod=x.taxcatcod '
			+ ' inner join SYS_DOC_CLS dc on dc.BusCod=d.buscod and dc.sysdocclscod=d.sysdocclscod ',
			' d.buscod='+QUOTENAME(@lp_buscod, ''''),
 			' d.deltxt ', default)
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END

















GO
