USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SPT_TRF_TYP_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPT_TRF_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,	-- empresa 
@lp_spttrftypcod	as int			= null,	-- id 
@lp_spttrftypcodext	as nvarchar(20)	= null,	-- codigo 
@lp_spttrftyptxt	as nvarchar(50) = null,	-- descripciÃ³n 
@lp_spttrftypatr	as nvarchar(max) = null,	-- atributos 
@lp_docsts 			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max) = null	-- configuraciÃ³n de la vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SPT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TRT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1
		
		INSERT INTO SPT_TRF_TYP (buscod, spttrftypcodext, spttrftyptxt, spttrftypatr, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_spttrftypcodext,@lp_spttrftyptxt, @lp_spttrftypatr, @lp_docsts, @lp_username, getdate() )
		SET @lv_errcod = @@ERROR
		set @lp_spttrftypcod = @@IDENTITY
		
		SELECT @lp_spttrftypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg
	END

-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
				
		UPDATE SPT_TRF_TYP 
		SET spttrftypcodext=@lp_spttrftypcodext, 
    	spttrftypTxt=@lp_spttrftyptxt, 
			spttrftypatr=@lp_spttrftypatr,
			docsts=@lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE buscod=@lp_buscod
		  and spttrftypCod = @lp_spttrftypcod
		SET @lv_errcod=@@ERROR
		
		SELECT @lp_spttrftypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg
	END
		
-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT *
		FROM SPT_TRF_TYP
		WHERE buscod=@lp_buscod
		  and spttrftypcod=@lp_spttrftypcod
		  
	END

-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
				
		DELETE SPT_TRF_TYP 
		WHERE buscod=@lp_buscod
		  and spttrftypCod = @lp_spttrftypcod
		SET @lv_errcod=@@ERROR
		
		SELECT @lp_spttrftypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errmsg
	END

-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    
		
		set @lv_sql = 'SELECT '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM SPT_TRF_TYP '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
			+ (case when isnull(@lp_docsts,'')='' then '' else ' and docsts='+QUOTENAME(@lp_docsts,'''') end)
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
