USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAN_ACT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAN_ACT_DEF]

@lp_sysoperation 	  as nvarchar(2),
@lp_username 		    as nvarchar(20),
@lp_buscod			    as nvarchar(20),
@lp_stkmanactcod		as int			= null,			-- id
@lp_stkmanactdte	  as nvarchar(20) = null,	-- fecha
@lp_stkmanacttxt 		as nvarchar(80) = null,	-- descripcion
@lp_stkmanactcmt 		as nvarchar(80) = null,	-- comentario
@lp_stkmovdoccod		as int	= null,					-- documento movdoc
@lp_sysdocclscod		as int	= null,					-- documento
@lp_docsts 			    as nvarchar(2)	= null,	-- estado
@lp_vewcfg			    as nvarchar(max)= null	-- configuraciÃ³n vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_errtxt as nvarchar(4000) = ''

declare @lv_stkmanactdte as smalldatetime = dbo.ConvertDate( @lp_stkmanactdte )

declare @lv_stkmovdoccod as nvarchar(max)
declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
		DECLARE @lv_autprgcod as nvarchar(3) = 'MCA'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end

-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1
				
		BEGIN TRAN

		-- agrego cabecera de documento
		INSERT INTO STK_MAN_ACT (buscod, stkmanactdte, stkmanacttxt, stkmanactcmt, stkmovdoccod, sysdocclscod ,docsts, cteusr, ctedte) 
		VALUES (@lp_buscod, @lv_stkmanactdte, @lp_stkmanacttxt, @lp_stkmanactcmt, @lp_stkmovdoccod, @lp_sysdocclscod, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmanactcod = @@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_stkmanactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt	

	END  

-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE STK_MAN_ACT
		SET	stkmanactdte = @lv_stkmanactdte, 
    	stkmanacttxt = @lp_stkmanacttxt,
      stkmanactcmt = @lp_stkmanactcmt,
    	stkmovdoccod = @lp_stkmovdoccod,
			docsts = @lp_docsts,
			updusr = @lp_username, 
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmanactcod=@lp_stkmanactcod
		  and not docsts = 'C'
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmanactcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
				
	END
  
-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1 
		   
		SELECT sk.*
		FROM stk_man_act sk 
		WHERE sk.buscod=@lp_buscod
		  and sk.stkmanactcod = @lp_stkmanactcod
	END

-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		IF (select top 1 docsts from stk_man_act where buscod=@lp_buscod and stkmanactcod=@lp_stkmanactcod)='C'
			BEGIN
				SELECT null, -10 as errcod, 'No se puede borrar el documento. Ya se encuentra contabilizado.' as errtxt
				RETURN
			END
      
    declare @lv_objtyp as nvarchar(20) = (select objtyp from SYS_DOC_CLS dc inner join stk_man_act d on d.buscod=dc.buscod and d.sysdocclscod=dc.sysdocclscod where dc.buscod=@lp_buscod and d.stkmanactcod=@lp_stkmanactcod)
		
		BEGIN TRAN
    
		-- borro las referencias
		exec GRL_DOC_FLW_DEF '04',@lp_username,@lp_buscod,null,@lv_objtyp,@lp_stkmanactcod,null,null,null,null,null,@lv_errcod OUTPUT,@lv_errtxt OUTPUT

    -- borro textos 
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'STK_MCA', @lp_stkmanactcod, null, null, null, @lv_errcod, @lv_errtxt
    
    -- borro documento inventario 
    IF @lv_errcod=0
      set @lv_stkmovdoccod = (select top 1 stkmovdoccod from stk_man_act where buscod=@lp_buscod and stkmanactcod=@lp_stkmanactcod)
      exec stk_mov_doc_def @lp_sysoperation='04', @lp_username=@lp_username, @lp_buscod=@lp_buscod, @lp_stkmovdoccod=@lv_stkmovdoccod, @lp_errcod=@lv_errcod output, @lp_errtxt=@lv_errtxt output 
  
		-- borro materiales del documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_ACT_MAT
				WHERE buscod = @lp_buscod
				  and stkmanactcod = @lp_stkmanactcod
				SET @lv_errcod=@@ERROR
			END

		-- borro actividades documento
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM STK_MAN_ACT
				WHERE buscod = @lp_buscod
				  and stkmanactcod = @lp_stkmanactcod
				SET @lv_errcod=@@ERROR
			END
						  
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			begin
				if not @lv_errtxt=''
					set @lv_errtxt = dbo.GetErrorDescription( @lv_errcod )
				ROLLBACK TRAN
			end

		SELECT @lp_stkmanactcod, @lv_errcod as errcod, @lv_errtxt as errtxt
	END

---------------------------------------------------------------------------
--   0 8    -   L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1   
    set @lv_sql = dbo.getSqlSentence ( @lp_vewcfg, 'o.*', 
                                      'stk_man_act o ',
                                      'o.buscod='+QUOTENAME(@lp_buscod, ''''), 
                                      'o.stkmanactcod desc' , default)
		execute( @lv_sql )
  END
  
-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R								
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '09' or @lp_sysoperation='19' or @lp_sysoperation='09_sp'
	BEGIN
		SET @lv_validop = 1

		IF @lp_sysoperation='09'
			BEGIN TRAN
      
    --contabilizo documento de inventario asociado
    set @lv_stkmovdoccod = (select top 1 stkmovdoccod from stk_man_act where buscod=@lp_buscod and stkmanactcod=@lp_stkmanactcod)
    declare @lv_errmat as nvarchar(max) = ''
    exec stk_mov_doc_def @lp_sysoperation='09_sp', @lp_username=@lp_username, @lp_buscod=@lp_buscod, @lp_stkmovdoccod=@lv_stkmovdoccod, @lp_errcod=@lv_errcod output, @lp_errtxt=@lv_errtxt output, @lp_errmat = @lv_errmat output
		
    IF @lv_errcod=0
    	BEGIN
				UPDATE STK_MAN_ACT
				SET	docsts = 'C',
					updusr = @lp_username, 
					upddte = getdate()
				WHERE buscod=@lp_buscod
			  	and stkmanactcod = @lp_stkmanactcod
					and not docsts = 'C'
				SET @lv_errcod = @@ERROR
    	END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_stkmanactcod, @lv_errcod as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription( @lv_errcod ) else @lv_errtxt end) as errtxt, @lv_errmat as errmat
	END

	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
