USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_SVC_LQD_DOC_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SLS_SVC_LQD_DOC_DEF]

@lp_sysoperation 		as nvarchar(2),
@lp_username 			as nvarchar(20),
@lp_buscod				as nvarchar(20),		-- empresa
@lp_slssvclqddoccod		as int			= null, -- id liquidaciÃ³n-documento
@lp_slssvclqdcod 		as int			= null,	-- id liquidaciÃ³n
@lp_refobjtyp			as nvarchar(20)	= null,	-- objeto referencia
@lp_refobjcod001		as nvarchar(20)	= null, -- id ref 001
@lp_refobjcod002		as nvarchar(20)	= null,	-- id ref 002
@lp_slssvclqddoccodext	as nvarchar(20)	= null, -- cod externo
@lp_slssvclqddoctxt		as nvarchar(50) = null,	-- descripcion
@lp_slssvclqddocdte		as nvarchar(14)	= null,	-- fecha
@lp_slssvclqddocqty		as bigint		= null,	-- cantidad
@lp_slssvclqddocday		as int			= null,	-- cantidad de dÃ­as
@lp_slssvclqddocprc		as bigint		= null,	-- precio unitario
@lp_slssvclqddoctot		as bigint		= null,	-- total
@lp_curcod				as nvarchar(5)	= null,	-- moneda
@lp_slssvclqddocatr001	as nvarchar(max)=null,	-- atributos
@lp_docsts 				as nvarchar(2)	= null,	-- estado

@lp_vewcfg				as nvarchar(max)= null,	-- configuraciÃ³n vista

@lp_cuscod				as int			= null,	-- id cliente
@lp_slssvclqdstrdte		as nvarchar(14)	= null,	-- fecha desde
@lp_slssvclqdenddte		as nvarchar(14)	= null,	-- fecha hasta
@lp_slssvclqddockey		as nvarchar(max)= null	-- claves (para insert)

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_sql as nvarchar(max)
DECLARE @lv_flt as nvarchar(max)
DECLARE @lv_ord as nvarchar(max)

declare @lv_slssvclqddocqty as decimal(18,3) = dbo.ConvertNumber( @lp_slssvclqddocqty, 3)
declare @lv_slssvclqddocprc as decimal(18,3) = dbo.ConvertNumber( @lp_slssvclqddocprc, 3)
declare @lv_slssvclqddoctot as decimal(18,3) = dbo.ConvertNumber( @lp_slssvclqddoctot, 3)
declare @lv_slssvclqddocdte as smalldatetime = dbo.ConvertDate( @lp_slssvclqddocdte )

declare @lv_slssvclqdstrdte as smalldatetime = dbo.ConvertDate( @lp_slssvclqdstrdte )
declare @lv_slssvclqdenddte as smalldatetime = dbo.ConvertDate( @lp_slssvclqdenddte )


-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
		set @lp_slssvclqddoccod = (select top 1 slssvclqddoccod from SLS_SVC_LQD_DOC where BusCod=@lp_buscod and slssvclqdCod=@lp_slssvclqdcod and RefObjTyp=@lp_refobjtyp and RefObjCod001=@lp_refobjcod001 and RefObjCod002=@lp_refobjcod002 and dbo.GetTagValue('REFOBJGRPCOD',slssvclqddocatr001)=dbo.GetTagValue('REFOBJGRPCOD',@lp_slssvclqddocatr001) and dbo.GetTagValue('REFOBJSUBGRPCOD',slssvclqddocatr001)=dbo.GetTagValue('REFOBJSUBGRPCOD',@lp_slssvclqddocatr001) )
		if not @lp_slssvclqddoccod is null
			set @lp_sysoperation = '02'
		else
			set @lp_sysoperation = '01'
	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO SLS_SVC_LQD_DOC (buscod, slssvclqdcod, refobjtyp, refobjcod001, refobjcod002, 
			slssvclqddoccodext, slssvclqddoctxt, slssvclqddocdte, slssvclqddocqty,slssvclqddocday, slssvclqddocprc, slssvclqddoctot, curcod, slssvclqddocatr001,
			docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_slssvclqdcod, @lp_refobjtyp, @lp_refobjcod001, @lp_refobjcod002, 
			@lp_slssvclqddoccodext, @lp_slssvclqddoctxt, @lv_slssvclqddocdte, @lv_slssvclqddocqty, @lp_slssvclqddocday, @lv_slssvclqddocprc, @lv_slssvclqddoctot, @lp_curcod, @lp_slssvclqddocatr001,
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_slssvclqddoccod=@@IDENTITY
		
		IF @lv_errcod=0
			BEGIN
				UPDATE SLS_SVC_LQD
				SET slssvclqdtot = isnull( (select sum(isnull(d.slssvclqddoctot,0)) 
												FROM SLS_SVC_LQD_doc d 
												where d.buscod=@lp_buscod 
												  and d.slssvclqdcod=@lp_slssvclqdcod
												  and not exists(select top 1 * from sls_svc_lqd_doc lx where lx.buscod=d.buscod and lx.refobjtyp='SLS_SVL' and refobjcod001=d.slssvclqdcod and refobjcod002=d.slssvclqddoccod)
												  ) , 0 )
				WHERE buscod=@lp_buscod 
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slssvclqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE SLS_SVC_LQD_DOC
		SET slssvclqddoccodext = @lp_slssvclqddoccodext, 
			slssvclqddoctxt	= @lp_slssvclqddoctxt, 
			slssvclqddocdte	= @lv_slssvclqddocdte, 
			slssvclqddocqty	= @lv_slssvclqddocqty,
			slssvclqddocday = @lp_slssvclqddocday,
			slssvclqddocprc	= @lv_slssvclqddocprc, 
			slssvclqddoctot	= @lv_slssvclqddoctot, 
			curcod			= @lp_curcod, 
			slssvclqddocatr001 = @lp_slssvclqddocatr001,
			docsts	= @lp_docsts,
			upddte	= getdate(),
			updusr	= @lp_username
		WHERE buscod = @lp_buscod
		  and slssvclqddoccod = @lp_slssvclqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE SLS_SVC_LQD
				SET slssvclqdtot = isnull( (select sum(isnull(d.slssvclqddoctot,0)) 
												FROM SLS_SVC_LQD_doc d 
												where d.buscod=@lp_buscod 
												  and d.slssvclqdcod=@lp_slssvclqdcod
												  and not exists(select top 1 * from sls_svc_lqd_doc lx where lx.buscod=d.buscod and lx.refobjtyp='SLS_SVL' and refobjcod001=d.slssvclqdcod and refobjcod002=d.slssvclqddoccod) 
												  ) , 0 )
				WHERE buscod=@lp_buscod 
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slssvclqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT ld.*
		FROM SLS_SVC_LQD_DOC ld
		WHERE ld.buscod = @lp_buscod
		  and ld.slssvclqddoccod = @lp_slssvclqddoccod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE FROM SLS_SVC_LQD_DOC
		WHERE buscod = @lp_buscod
		  and slssvclqddoccod = @lp_slssvclqddoccod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			BEGIN
				UPDATE SLS_SVC_LQD
				SET slssvclqdtot = isnull( (select sum(isnull(d.slssvclqddoctot,0)) 
												FROM SLS_SVC_LQD_doc d 
												where d.buscod=@lp_buscod 
												  and d.slssvclqdcod=@lp_slssvclqdcod
												  and not exists(select top 1 * from sls_svc_lqd_doc lx where lx.buscod=d.buscod and lx.refobjtyp='SLS_SVL' and refobjcod001=d.slssvclqdcod and refobjcod002=d.slssvclqddoccod)
												) , 0 )
				WHERE buscod=@lp_buscod 
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slssvclqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		-- SLS_SVC_LQD_doc_def '08','mdominguez','temasis_edu'

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(nvarchar, l.slssvclqddte, 103) as slssvclqddtecnv, convert(nvarchar, ld.slssvclqddocdte, 103) as slssvclqddocdtecnv '
			+ ' FROM SLS_SVC_LQD_doc ld '
			+ ' inner join SLS_SVC_LQD l on l.buscod=ld.buscod and l.slssvclqdcod=ld.slssvclqdcod '
			+ ' left join EDU_STU_EVL ee on ee.buscod=ld.buscod and ld.refobjtyp='+QUOTENAME('EDU_EVL','''')+' and ee.evlcod=ld.refobjcod001 '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END




-- ------------------------------------------------------------------------
--   1 3    -   P R E S T A C I O N E S     N O    L I Q U I D A D A S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='11' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1
		
		-- SLS_SVC_LQD_def '13','temasis','login','','','','20220301000000','20220331000000', '39'
		-- SLS_SVC_LQD_def '13','ROCHOA','TEMASIS_LOG','37', '', '20210511000000', '20210501000000', '20210531000000', '51'

		declare @lv_enddte as datetime
		--set @lv_enddte = (case when @lv_slssvclqdenddte>GETDATE() then GETDATE() else @lv_slssvclqdenddte end)
		set @lv_enddte = @lv_slssvclqdenddte

		-- CONTRATOS. obtener contrato de servicios de clientes
		SELECT sv.buscod, sv.slssvccod, sv.slssvccodext, sv.slssvctxt, sv.dstobjtyp, sv.dstobjcod, svm.matcod, svm.matqty, svm.matuntcod, svm.matprc, svm.curcod, svm.mattot, svm.SlsSvcMatAtr, svm.SlsSvcStrDte, svm.SlsSvcEndDte,
			ROW_NUMBER() OVER(PARTITION BY sv.dstobjcod, svm.matcod ORDER BY sv.slssvccod ASC) as fila
		INTO #tmp_svc
		FROM SLS_SVC sv
		inner join SLS_SVC_MAT svm on svm.BusCod=sv.buscod and svm.slssvccod=sv.slssvccod
		WHERE sv.buscod=@lp_buscod
		  and sv.docsts='A'
		  and ( (@lv_slssvclqdstrdte between sv.slssvcstrdte and sv.slssvcenddte) or (@lv_slssvclqdenddte between sv.slssvcstrdte and sv.slssvcenddte) )
		  and svm.docsts='A'
		  and sv.DstObjTyp='SLS_CUS'
		  and sv.DstObjCod=@lp_cuscod
		
		-- 2. para cada material con unidad de medida distinto de "tiempo" se liquida esa cantidad (ver mas adelante si eso es en funcion de los movimietos de stock)
		-- 3. para cada material dependiente del tiempo

		-- STOCK. obtengo el stock al inicio del perÃ­odo para determinar los materiales que no tuvieron movimientos
		select mk.BusCod, 
			mk.StkObjTyp, mk.StkObjCod, d.adrnme001 as stkobjtxt, mk.StkCntCod, dc1.adrnme001 as stkcnttxt, 
			mk.MatCod, m.MatTxt, SUM(mk.matqty) as matqty, mk.MatUntCod, 
			cast(null as datetime) as stkmovdocdte, 
			cast(null as nvarchar) as stkmovdocdtecnv,
			datediff( day, @lv_slssvclqdstrdte, @lv_enddte )+1  as days, 
			cast('' as nvarchar(2)) as docrev, 
			cast('STK_HST' as nvarchar(20)) as refobjtyp, 
			cast('Stock Inicial' as nvarchar(50)) as refobjtyptxt, 
			cast(mk.stkper as int) as refobjcod001, 
			cast(mk.matcod as int) as refobjcod002,
			sv.matqty as svcmatqty, sv.matuntcod as svcmatuntcod, sv.matprc as svcmatprc, sv.curcod as svccurcod
		into #tmp_stk
		from stk_mat_stk_hst mk
		inner join stk_mat m on m.buscod=mk.buscod and m.matcod=mk.matcod
		left join #tmp_svc sv on sv.buscod=m.buscod and sv.dstobjtyp=mk.stkobjtyp and sv.dstobjcod=mk.stkobjcod and sv.matcod=m.matcod
		inner join GRL_DAT_ADR d on d.BusCod=mk.BusCod and d.adrsrctyp=mk.stkobjtyp and d.adrsrccod=cast(mk.stkObjCod as nvarchar(20))
		left join GRL_DAT_ADR dc1 on dc1.BusCod=mk.BusCod and dc1.AdrSrcTyp='GRL_CCT' and dc1.AdrSrcCod=cast(mk.StkCntCod as nvarchar(20))
		where mk.buscod=@lp_buscod
		and sv.fila = 1
		--and not isnull(mk.stkcntcod,0)=0
		and mk.stkper = cast(datepart(year,dateadd(month, -1, @lv_slssvclqdstrdte ))*100 + datepart(month,dateadd(month, -1, @lv_slssvclqdstrdte )) as nvarchar(6))
		and m.docsts='A'
		and not ISNULL(mk.matqty,0)=0
		and mk.StkObjTyp='SLS_CUS'
		and mk.StkObjCod=@lp_cuscod
		group by mk.BusCod, 
				mk.StkObjTyp, mk.StkObjCod, d.adrnme001, mk.StkCntCod, dc1.adrnme001, 
				mk.MatCod, m.mattxt, mk.MatUntCod, mk.stkper,
				sv.matqty, sv.matuntcod, sv.matprc, sv.curcod

		-- STOCK REMANENTE. si la liquidaciÃ³n no comienza el 1ero, calculo el stcok hasta el inicio de la liquidaciÃ³n
		if not DATEPART(day,@lv_slssvclqdstrdte)=1
			BEGIN
				print 'FALTA'
				-- actualizo el stock a la fecha anterior del inicio de liquidacion
				/*
				update #tmp_stk
				set matqty = ??
				from #tmp_stk x
				inner join STK_MOV_DOC d on d.BusCod=x.BusCod and ( (d.SrcObjTyp=x.StkObjTyp and d.SrcObjCod=x.stk
				_MAT dm on dm.BusCod=x.BusCod and dm.MatCod=
				*/
			END
		
		-- MOVIMIENTOS. obtengo todos los movimientos del perÃ­odo (entradas y salidas) y determino los tiempos de permanencia
		select	md.BusCod,
			sv.DstObjTyp as stkobjtyp, sv.Dstobjcod as stkobjcod, d.adrnme001 as stkobjtxt,
			(case when not ISNULL(md.srccntcod,0)=0 then md.srccntcod else md.dstcntcod end) as stkcntcod, 
			(case when not isnull(md.srccntcod,0)=0 then dc1.adrnme001 else dc2.adrnme001 end) as stkcnttxt,
				mdm.matcod,
				mdm.mattxt,
				mdm.matqty,
				mdm.matuntcod,
			md.stkmovdocdte,
			convert(nvarchar, md.stkmovdocdte, 103) as stkmovdocdtecnv, 
			(case when dbo.gettagvalue( 'docrev', mdc.SysDocClsAtr )='X' then
				datediff( day, md.stkmovdocdte, @lv_enddte )*-1 
			else
				datediff( day, md.stkmovdocdte, @lv_enddte ) -- +1 (se anula el dia de salida de la mcia. es decir, no se toma para la liquidacion)
			end) as days,
			dbo.gettagvalue( 'docrev', mdc.SysDocClsAtr ) as docrev,
			mdc.ObjTyp as refobjtyp,
			mdc.SysDocClsTxt as refobjtyptxt, 
			mdm.stkmovdoccod as refobjcod001, 
			mdm.stkmovdocmatcod as refobjcod002,
			sv.matqty as svcmatqty, sv.matuntcod as svcmatuntcod, sv.matprc as svcmatprc, sv.curcod as svccurcod
		into #tmp_mov
		from STK_MOV_DOC md
		inner join STK_MOV_DOC_MAT mdm on mdm.BusCod=md.BusCod and mdm.StkMovDocCod=md.StkMovDocCod
		inner join SYS_DOC_CLS mdc on mdc.buscod=md.buscod and mdc.SysDocClsCod=md.SysDocClsCod
		left join #tmp_svc sv on sv.BusCod=mdm.BusCod and ( (sv.DstObjTyp=md.SrcObjTyp and sv.DstObjCod=md.SrcObjCod) or (sv.DstObjTyp=md.DstObjTyp and sv.DstObjCod=md.DstObjCod) ) and sv.matcod=mdm.matcod
		inner join GRL_DAT_ADR d on d.BusCod=sv.BusCod and d.adrsrctyp=sv.dstobjtyp and d.adrsrccod=cast(sv.DstObjCod as nvarchar(20))
		left join GRL_DAT_ADR dc1 on dc1.BusCod=md.BusCod and dc1.AdrSrcTyp='GRL_CCT' and dc1.AdrSrcCod=cast(md.SrcCntCod as nvarchar(20))
		left join GRL_DAT_ADR dc2 on dc2.BusCod=md.BusCod and dc2.AdrSrcTyp='GRL_CCT' and dc2.AdrSrcCod=cast(md.DstCntCod as nvarchar(20))
		where md.buscod=@lp_buscod
		  and sv.fila = 1
		  and md.StkMovDocDte between @lv_slssvclqdstrdte and @lv_slssvclqdenddte
		  and dbo.gettagvalue('matstkmgmdst',mdc.SysDocClsAtr) = 'X'
		  and md.DocSts='C'				  
		  and md.StkMovDocDte between isnull(sv.SlsSvcStrDte,@lv_slssvclqdstrdte) and isnull(sv.SlsSvcEndDte,@lv_slssvclqdenddte)
		  and ( (md.SrcObjTyp='SLS_CUS' and md.SrcObjCod=@lp_cuscod) or (md.DstObjTyp='SLS_CUS' and md.DstObjCod=@lp_cuscod) )
		
		-- AJUSTES. obtengo todos los equipamientos ajustados
		select buscod, refobjtyp as stkobjtyp,
				dbo.getTagValue('refobjgrpcod', slssvclqddocatr001) as stkobjcod,
				dbo.getTagValue('refobjgrptxt', slssvclqddocatr001) as stkobjtxt, 
				dbo.getTagValue('refobjsubgrpcod', slssvclqddocatr001) as stkcntcod, 
				dbo.getTagValue('refobjsubgrptxt', slssvclqddocatr001) as stkcnttxt, 
				slssvclqddoccodext as matcod,
				slssvclqddoctxt as mattxt,
				0 as matqty,
				'' as matuntcod,
				slssvclqddocdte,
				convert(varchar, slssvclqddocdte, 103) as stkmovdocdtecnv,
				0 as days,
				dbo.getTagValue('docrev', slssvclqddocatr001) as docrev,
				RefObjTyp, '' as refobjtyptxt, RefObjCod001, RefObjCod002, 
				0 as svcmatqty,
				'' as svcmatuntcod,
				0 as svcmatprc,
				CurCod as svccurcod
				into #tmp_svl
		from SLS_SVC_LQD_DOC ld
		WHERE buscod=@lp_buscod
			and slssvclqdcod = isnull(@lp_slssvclqdcod ,0) 
			and refobjtyp = 'SLS_SVL'

		-- UNIFICO. unifico tabla de stocks y movimientos
		insert into #tmp_stk
		select * from #tmp_mov
		
		-- UNIFICO. unifico tabla de stocks y ajuste
		insert into #tmp_stk
		select * from #tmp_svl
		
		if @lp_sysoperation='13'
			-- DEVUELVO. devuelvo el resultado ordenado por codigos y fechas de movimientos (incuyendo liquidaciones relacionadas)
			select k.*, ld.SlsSvcLqdDocCod, ld.SlsSvcLqdDocqty, ld.SlsSvcLqdDoctot, ld.slssvclqddocatr001, ld.slssvclqddocday, ld.SlsSvcLqdDocPrc, ld.SlsSvcLqdDocCodExt
			from #tmp_stk k
			left join SLS_SVC_LQD_DOC ld on ld.BusCod=k.BusCod 
						and ld.RefObjTyp=k.refobjtyp and ld.RefObjCod001=k.refobjcod001 and ld.RefObjCod002=k.refobjcod002
						and cast(k.StkObjCod as nvarchar(20))=cast(dbo.GetTagValue('REFOBJGRPCOD',ld.SlsSvcLqdDocAtr001) as nvarchar(20))
						and cast(k.StkCntCod as nvarchar(20))=cast(dbo.GetTagValue('REFOBJSUBGRPCOD', ld.SlsSvcLqdDocAtr001) as nvarchar(20))
			where k.BusCod=@lp_buscod
			and (ld.SlsSvcLqdCod is null or ld.SlsSvcLqdCod = @lp_slssvclqdcod)
			order by k.stkobjtyp, k.stkobjtxt, k.stkobjcod, k.stkcnttxt, k.stkcntcod, k.mattxt, k.stkmovdocdte

	END


-- ------------------------------------------------------------------------
--   1 1    -    C R E A R	(masivo)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		/*
		exec SLS_SVC_LQD_DOC_DEF '11','TEMASIS','LOGIN','','292','','','','','','00000000000000','','','','','','','','','270','20221001000000','20221031000000','SLS_CUS|270|6166|STK_HST|202209|525
		SLS_CUS|270|6166|STK_HST|202209|525
		SLS_CUS|270|6166|STK_HST|202209|525
		SLS_CUS|270|6166|STK_HST|202209|525'
		*/

		BEGIN TRAN
		

		-- AGREGO. agrego los documentos indicados que no estaban en la liquidacion
		INSERT INTO SLS_SVC_LQD_DOC (buscod, slssvclqdcod, refobjtyp, refobjcod001, refobjcod002, 
			slssvclqddoccodext, slssvclqddoctxt, slssvclqddocdte, slssvclqddocqty,slssvclqddocday, slssvclqddocprc, slssvclqddoctot, curcod, 
			slssvclqddocatr001,
			docsts, ctedte, cteusr)
		SELECT k.BusCod, @lp_slssvclqdcod, k.refobjtyp, k.refobjcod001, k.refobjcod002,
			k.matcod, k.mattxt, null, k.matqty, k.days, k.svcmatprc, (isnull(k.days,0)*isnull(k.matqty,0)*isnull(k.svcmatprc,0)), '', 
			'<REFOBJGRPCOD>'+CAST(isnull(k.stkobjcod,'') as nvarchar(20))+'</REFOBJGRPCOD><REFOBJGRPTXT>'+CAST(isnull(k.stkobjtxt,'') as nvarchar(100))+'</REFOBJGRPTXT>'+
			'<REFOBJSUBGRPCOD>'+CAST(isnull(k.stkcntcod,'') as nvarchar(20))+'</REFOBJSUBGRPCOD><REFOBJSUBGRPTXT>'+CAST(isnull(k.stkcnttxt,'') as nvarchar(100))+'</REFOBJSUBGRPTXT>'+
			'<REFOBJTYPTXT>'+cast(isnull(k.refobjtyptxt,'') as nvarchar(50))+'</REFOBJTYPTXT><STKMOVDOCDTECNV>'+cast(isnull(k.stkmovdocdtecnv,'') as nvarchar(20))+'</STKMOVDOCDTECNV>'+
			'<STRDTE></STRDTE><ENDDTE></ENDDTE><MTV></MTV>',
			'A', getdate(), @lp_username
		from #tmp_stk k
		inner join dbo.stringsplit(@lp_slssvclqddockey,CHAR(10)) on id=
			CAST(isnull(k.StkObjTyp,'') as nvarchar(20))+'|'+CAST(isnull(k.StkObjCod,'') as nvarchar(20))+'|'+CAST(isnull(k.StkCntCod,'') as nvarchar(20))+'|'+
			CAST(isnull(k.refobjtyp,'') as nvarchar(20))+'|'+CAST(isnull(k.refobjcod001,'') as nvarchar(20))+'|'+CAST(isnull(k.refobjcod002,'') as nvarchar(20))
		left join SLS_SVC_LQD_DOC ld on ld.BusCod=k.BusCod and ld.RefObjTyp=k.refobjtyp and ld.RefObjCod001=k.refobjcod001 and ld.RefObjCod002=k.refobjcod002 
				and k.StkObjCod=dbo.GetTagValue('REFOBJGRPCOD',ld.SlsSvcLqdDocAtr001)
				and k.StkCntCod=dbo.GetTagValue('REFOBJSUBGRPCOD', ld.SlsSvcLqdDocAtr001)			
		where k.BusCod=@lp_buscod
		and ( ld.SlsSvcLqdCod is null or ( ld.SlsSvcLqdCod = @lp_slssvclqdcod and ld.SlsSvcLqdDocCod is null ) )
		SET @lv_errcod = @@ERROR


		-- MODIFICO. modfico valores de los servicios que ya estaban en la liquidacion
		if @lv_errcod=0
			begin
				UPDATE ld
				SET slssvclqddoccodext=k.matcod, 
					slssvclqddoctxt=k.mattxt,
					slssvclqddocqty=k.matqty, 
					slssvclqddocday=k.days, 
					slssvclqddocprc=k.svcmatprc, 
					slssvclqddoctot=(isnull(k.days,0)*isnull(k.matqty,0)*isnull(k.svcmatprc,0)),
					slssvclqddocatr001 ='<REFOBJGRPCOD>'+CAST(isnull(k.stkobjcod,'') as nvarchar(20))+'</REFOBJGRPCOD><REFOBJGRPTXT>'+CAST(isnull(k.stkobjtxt,'') as nvarchar(100))+'</REFOBJGRPTXT>'+
										'<REFOBJSUBGRPCOD>'+CAST(isnull(k.stkcntcod,'') as nvarchar(20))+'</REFOBJSUBGRPCOD><REFOBJSUBGRPTXT>'+CAST(isnull(k.stkcnttxt,'') as nvarchar(100))+'</REFOBJSUBGRPTXT>'+
										'<REFOBJTYPTXT>'+cast(isnull(k.refobjtyptxt,'') as nvarchar(50))+'</REFOBJTYPTXT><STKMOVDOCDTECNV>'+cast(isnull(k.stkmovdocdtecnv,'') as nvarchar(20))+'</STKMOVDOCDTECNV>'+
										'<STRDTE></STRDTE><ENDDTE></ENDDTE><MTV></MTV>'
				from #tmp_stk k
				inner join dbo.stringsplit(@lp_slssvclqddockey,CHAR(10)) on id=
					CAST(isnull(k.StkObjTyp,'') as nvarchar(20))+'|'+CAST(isnull(k.StkObjCod,'') as nvarchar(20))+'|'+CAST(isnull(k.StkCntCod,'') as nvarchar(20))+'|'+
					CAST(isnull(k.refobjtyp,'') as nvarchar(20))+'|'+CAST(isnull(k.refobjcod001,'') as nvarchar(20))+'|'+CAST(isnull(k.refobjcod002,'') as nvarchar(20))
				inner join SLS_SVC_LQD_DOC ld on ld.BusCod=k.BusCod and ld.RefObjTyp=k.refobjtyp and ld.RefObjCod001=k.refobjcod001 and ld.RefObjCod002=k.refobjcod002 
						and k.StkObjCod=dbo.GetTagValue('REFOBJGRPCOD',ld.SlsSvcLqdDocAtr001)
						and k.StkCntCod=dbo.GetTagValue('REFOBJSUBGRPCOD', ld.SlsSvcLqdDocAtr001)
				where k.BusCod=@lp_buscod
				and ld.SlsSvcLqdCod = @lp_slssvclqdcod
				and ld.SlsSvcLqdDocCod is not null
				set @lv_errcod = @@ERROR
			end
		

		-- BORRO. quito servicios que fueron quitados de la liquidaciÃ³n
		IF @lv_errcod=0
			begin
				DELETE ld
				FROM SLS_SVC_LQD_DOC ld
				inner join SLS_SVC_LQD l on l.buscod=ld.buscod and ld.slssvclqdcod=l.slssvclqdcod
				WHERE ld.BusCod=@lp_buscod
				  and ld.SlsSvcLqdCod = @lp_slssvclqdcod
				  and not exists(select top 1 * from dbo.stringsplit(@lp_slssvclqddockey,CHAR(10)) x where x.id=
					'SLS_CUS|'+CAST(dbo.GetTagValue('REFOBJGRPCOD',ld.SlsSvcLqdDocAtr001) as nvarchar(20))+'|'+CAST(dbo.GetTagValue('REFOBJSUBGRPCOD',ld.SlsSvcLqdDocAtr001) as nvarchar(20))+'|'+
					CAST(isnull(ld.refobjtyp,'') as nvarchar(20))+'|'+CAST(isnull(ld.refobjcod001,'') as nvarchar(20))+'|'+CAST(isnull(ld.refobjcod002,'') as nvarchar(20))
					)
				set @lv_errcod = @@ERROR
			end
		

		-- TOTALES. actualizo totales
		IF @lv_errcod=0
			BEGIN
				UPDATE SLS_SVC_LQD
				SET slssvclqdtot = isnull( (select sum(isnull(d.slssvclqddoctot,0)) 
												FROM SLS_SVC_LQD_doc d 
												where d.buscod=@lp_buscod 
												  and d.slssvclqdcod=@lp_slssvclqdcod
												  and not exists(select top 1 * from sls_svc_lqd_doc lx where lx.buscod=d.buscod and lx.refobjtyp='SLS_SVL' and refobjcod001=d.slssvclqdcod and refobjcod002=d.slssvclqddoccod)
												  ) , 0 )
				WHERE buscod=@lp_buscod 
				  and slssvclqdcod=@lp_slssvclqdcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slssvclqddoccod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------
--   2 3    -    P R E S T A C I O N E S    L I Q U I D A D A S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='23'
	BEGIN
		SET @lv_validop = 1
		
		-- SLS_SVC_LQD_DOC_DEF '23','temasis','login','11'

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, ld.refobjtyp as stkobjtyp, '+QUOTENAME('','''')+' as refobjtyptxt, '
			+ ' ld.slssvclqddoccodext as matcod, '
			+ ' ld.slssvclqddoctxt as mattxt, '
			+ ' 0 as matqty, '
			+ ' 0 as days, '
			+ ' 0 as svcmatprc, '
			+ ' convert(varchar, ld.slssvclqddocdte, 103) as stkmovdocdtecnv, '
			+ ' dbo.getTagValue('+QUOTENAME('refobjgrpcod','''')+', slssvclqddocatr001) as stkobjcod, '
			+ ' dbo.getTagValue('+QUOTENAME('refobjgrptxt','''')+', slssvclqddocatr001) as stkobjtxt, '
			+ ' dbo.getTagValue('+QUOTENAME('refobjsubgrpcod','''')+', slssvclqddocatr001) as stkcntcod, '
			+ ' dbo.getTagValue('+QUOTENAME('refobjsubgrptxt','''')+', slssvclqddocatr001) as stkcnttxt, '
			+ ' dbo.getTagValue('+QUOTENAME('docrev','''')+', slssvclqddocatr001) as docrev '
			+ ' FROM SLS_SVC_LQD_DOC ld '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+ ' and ld.slssvclqdcod='+QUOTENAME(@lp_slssvclqdcod,'''')
 		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
		--set @lv_ord =  dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then ' ld.refobjtyp, dbo.getTagValue('+QUOTENAME('refobjgrptxt','''')+', slssvclqddocatr001), dbo.getTagValue('+QUOTENAME('refobjgrpcod','''')+', slssvclqddocatr001), dbo.getTagValue('+QUOTENAME('refobjsubgrptxt','''')+', slssvclqddocatr001), dbo.getTagValue('+QUOTENAME('refobjsubgrpcod','''')+', slssvclqddocatr001) ' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		set @lv_ord =  dbo.GetVewTag( ' ORDER BY ', (case when dbo.GetTagValue('veword',@lp_vewcfg)='' then 
                                                 ' dbo.getTagValue('+QUOTENAME('refobjgrptxt','''')+', slssvclqddocatr001),'+
                                                 ' dbo.getTagValue('+QUOTENAME('refobjgrpcod','''')+', slssvclqddocatr001),'+
                                                 ' dbo.getTagValue('+QUOTENAME('refobjsubgrptxt','''')+', slssvclqddocatr001),'+
                                                 ' dbo.getTagValue('+QUOTENAME('refobjsubgrpcod','''')+', slssvclqddocatr001),'+ 
                                                 ' ld.slssvclqddoctxt,'+
                                                 ' ld.slssvclqddoccodext,'+
                                                 'dbo.gettagvalue('+QUOTENAME('STKMOVDOCDTECNV','''')+', ld.SlsSvcLqdDocAtr001)'
																									 else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql + @lv_flt + @lv_ord )
		
	END



/* FUNCIONALIDAD DISCONTINUADA ********************************************
-- ------------------------------------------------------------------------
--   2 4    -    L I S T A R    G A S T O S					(liquidadas)
-- ------------------------------------------------------------------------
IF @lp_sysoperation='24'
	BEGIN
		SET @lv_validop = 1
		
		-- SLS_SVC_LQD_def '24','mdominguez','temasis_hlt','12'
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' ld.*, convert(varchar, ld.slssvclqddocdte, 103) as slssvclqddocdtecnv '
			+ ' FROM SLS_SVC_LQD_DOC ld '
			+ ' WHERE ld.buscod='+QUOTENAME(@lp_buscod,'''')
			+   ' and ld.slssvclqdcod='+QUOTENAME(@lp_slssvclqdcod,'''')
			+   ' and ld.refobjtyp='+QUOTENAME('BUY_EXP','''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )
		
	END
************************************************************************ */


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
