USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PAT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HLT_PAT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_patcod			as int			= null,	-- codigo
@lp_pattxt			as nvarchar(82) = null,	-- nombre
@lp_patcodext		as nvarchar(20)	= null, -- cod externo
@lp_cuscod			as int			= null,	-- cliente
@lp_patbrndte		as nvarchar(14)	= null,	-- fecha de nacimiento
@lp_patinbdte		as nvarchar(20)	= null,	-- fecha de ingreso
@lp_patoutdte		as nvarchar(20)	= null,	-- fecha de egreso

@lp_cushsp			as int			= null,	-- hospital derivador
@lp_cusdocder		as nvarchar(20)	= null,	-- medico   derivador
@lp_patdiacod		as int			= null,	-- codigo de diagnostico
@lp_patcpx			as nvarchar(1)	= null,	-- complejidad
@lp_pataflnum		as nvarchar(20)	= null,	-- nro de afiliado
@lp_pataflpln		as nvarchar(10)	= null,	-- nro de plan

@lp_docsts 			as nvarchar(2)	= null,	-- estado

@lp_evldte			as nvarchar(14)	= null,	-- fecha de evaluaciÃ³n
@lp_evlplc			as nvarchar(40)	= null,	-- lugar de evaluaciÃ³n
@lp_evldia			as nvarchar(400)= null,	-- diagnostico de evaluaciÃ³n
@lp_EvlIntDayHme	as bigint		= null,	-- dÃ­as de internaciiÃ³n en hogar
@lp_EvlIntEstDte	as nvarchar(14) = null,	-- fecha estimada de internaciÃ³n domiciliaria
@lp_evldoc			as nvarchar(20)	= null,	-- mÃ©dico evaluador
@lp_evldoc001		as nvarchar(20)	= null,	-- medico evaluador 2
@lp_evldoc002		as nvarchar(20)	= null,	-- medico evaluador 3
@lp_patcmt			as nvarchar(max)=null,	-- comentarios

@lp_vewcfg			as nvarchar(max)=null,	-- configuraciÃ³n vista

@lp_patsex			as nvarchar(01)	= null,	-- sexo
@lp_hltdisclscod	as int			= null,	-- clasificaciÃ³n de enfermedades - codigo
@lp_hltdisclscodext as nvarchar(10)	= null,	-- clasificaciÃ³n de enfermedades - codigo externo
@lp_patatrval001	as nvarchar(max)=null,	-- atributos 1
@lp_patatrval002	as nvarchar(max)=null,	-- atributos 2
@lp_patreqdte		as nvarchar(14)	= null,	-- fecha solicitud
@lp_patevldte		as nvarchar(14)	= null,	-- fecha evaluacion
@lp_SysDocClsCod	as int			= null, -- Codigo clase de documento
@lp_patcrocod		as int			= null,	-- id cronicidad
@lp_patpro			as nvarchar(20)	= null,	-- protocolo

@lp_PatWgt				as bigint = null,	-- peso (kg)
@lp_PatHgh				as bigint	= null,	-- altura (cm)
@lp_HltPatClsCod 	as int = null -- id clasificacion paciente


AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt as nvarchar(max)
declare @lv_sql as nvarchar(max)
declare @lv_patbrndte as datetime = dbo.ConvertDate( @lp_patbrndte )
declare @lv_patinbdte as datetime = dbo.ConvertDate( @lp_patinbdte )
declare @lv_patoutdte as datetime = dbo.ConvertDate( @lp_patoutdte )
declare @lv_evlintestdte as datetime = dbo.ConvertDate( @lp_evlintestdte )
declare @lv_evldte as datetime = dbo.ConvertDate( @lp_evldte )
declare @lv_patreqdte as datetime = dbo.ConvertDate( @lp_patreqdte )
declare @lv_patevldte as datetime = dbo.ConvertDate( @lp_patevldte )
declare @lv_patwgt as decimal(13,3) = dbo.convertnumber(@lp_patwgt,3)
declare @lv_pathgh as decimal(13,3) = dbo.convertnumber(@lp_pathgh,3)



/* ------------------------------------------------------------------------ */
/*   E R R O R E S															*/
/* ------------------------------------------------------------------------ */
/*	-1	Cliente invÃ¡lido.													*/
/*	-2	Entidad derivadora invÃ¡lida.										*/
/*	-3	No se puede borrar el paciente. Existen evoluciones asociadas.		*/
/*	-4	Clasif.Enfermedades invÃ¡lido										*/
/*	-5  DiagnÃ³stico invÃ¡lido												*/
/*	-6  Cronicidad invÃ¡lida													*/
/*	-7  CÃ³digo externo existente											*/
/* ------------------------------------------------------------------------ */



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'PAT'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   V A L I D A C I O N E S
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12' or @lp_sysoperation='22'
	BEGIN

		if not isnull(@lp_patcodext,'')=''
			if exists(select top 1 * from hlt_pat where buscod=@lp_buscod and not patcod=@lp_patcod and patcodext=@lp_patcodext)
				begin
					select 'E' as errtyp, -7 as errcod, 'DuplicateExtCode' as errmsg
					return
				end

		IF not isnull(@lp_cuscod,0)=0
			if not exists(select top 1 * from sls_cus where buscod=@lp_buscod and cuscod=@lp_cuscod)
				BEGIN
					select 'E' as errtyp, -1 as errcod, 'InvalidClient' as errmsg
					RETURN
				END

		IF not isnull(@lp_cushsp,0)=0
			IF not exists(select top 1 * from sls_cus where buscod=@lp_buscod and cuscod=@lp_cushsp)
				BEGIN
					select 'E' as errtyp, -2 as errcod, 'InvalidDerivatorEntity' as errmsg
					RETURN
				END

		if not isnull(@lp_hltdisclscod,0)=0
			IF not exists(select top 1 * from hlt_dis_cls where buscod=@lp_buscod and hltdisclscod=@lp_hltdisclscod)
				begin
					select 'E' as errtyp, -4 as errcod, 'InvalidDiseaseClassification' as errmsg
					return
				end

		if not isnull(@lp_patdiacod,0)=0
			IF not exists(select top 1 * from hlt_pat_dia where buscod=@lp_buscod and patdiacod=@lp_patdiacod)
				begin
					select 'E' as errtyp, -5 as errcod, 'InvalidDiagnosis' as errmsg
					return
				end

		if not isnull(@lp_patcrocod,0)=0
			IF not exists(select top 1 * from hlt_pat_cro where buscod=@lp_buscod and patcrocod=@lp_patcrocod)
				begin
					select 'E' as errtyp, -6 as errcod, 'InvalidChronicCondition' as errmsg
					return
				end

		-- valido esquema de interlocutor de paciente (al menos una direccion de destino de facturas)
		/*if not exists(select top 1 * from SYS_DOC_CLS_CNT c 
						inner join sys_doc_cls ct on ct.BusCod=c.BusCod and ct.sysdocclscod=c.SysDocClsCodCnt
						where c.buscod=@lp_buscod and c.sysdocclscod=@lp_sysdocclscod
							and not dbo.gettagvalue('invadr',ct.SysDocClsAtr)='')
				begin
					select 'E' as errtyp, -7 as errcod, 'InvalidPartnerConfiguration' as errmsg
					return
				end*/
        
        

		/* **********************************************************************
		 * R E V I S A R
		 * este comportamiento deberÃ­a ser una configuraciÃ³n del mÃ³dulo
		 ************************************************************************ */
		/* verificamos el estado del paciene*/
		/*
		if @lv_patoutdte is not null 
			set @lp_docsts = 'I'
		else if  @lv_patinbdte is not null  
			set @lp_docsts = 'A'
		else  if @lv_evldte is not null 
			set @lp_docsts = 'E'
		else 
			set @lp_docsts = 'P'
		*/

	END



-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		/* busco el codigo de numeracion de pacientes */
		/* *********************************** */
		/* QUITAR - dejar como cÃ³digo interno  */
		/* *********************************** */
		/* el nÃºmero de versiÃ³n deberÃ­a quedar */
		/* en la historia clÃ­nica			   */
		/* *********************************** */
		/*
		set @lv_pathstcod = isnull( ( select top 1 zold_cuspathstcod from sls_cus where buscod=@lp_buscod and cuscod=@lp_cuscod ), '0' )
		set @lv_pathstcod = (case when @lv_pathstcod='' then '0' else @lv_pathstcod end)
		set @lv_pathstnum = isnull( ( select top 1 substring(patcod,2,4) from hlt_pat where buscod=@lp_buscod and patcod like '0%' order by substring(patcod,2,4) desc ), '0' )
		set @lv_pathstnum = @lv_pathstnum + 1
		set @lv_pathstnum = right ( '0000' + @lv_pathstnum , 4 )
		set @lv_patcod = @lv_pathstcod + @lv_pathstnum + '0001'
		*/
		/* *********************************** */

		BEGIN TRAN

		INSERT INTO HLT_PAT (buscod, patcodext, pattxt, cuscod, 
			patbrndte, patinbdte, patoutdte, cushsp, cusdocder, patdiacod, patcrocod, patcpx, pataflnum, pataflpln, 
			evldte, evlplc, evldia, EvlIntDayHme, EvlIntEstDte, evldoc, evldoc001, evldoc002, patcmt,
			patsex, hltdisclscod, PatCodExt001, patatrval001, patatrval002,patreqdte,patevldte, patpro, patwgt, pathgh, hltpatclscod, 
			docsts, cteusr, ctedte,SysDocClsCod) 
		VALUES (@lp_buscod, @lp_patcodext, @lp_pattxt, @lp_cuscod, 
			@lv_patbrndte, @lv_patinbdte, @lv_patoutdte, @lp_cushsp, @lp_cusdocder, @lp_patdiacod, @lp_patcrocod, @lp_patcpx, @lp_pataflnum, @lp_pataflpln, 
			@lv_evldte, @lp_evlplc, @lp_evldia, @lp_evlintdayhme, @lv_EvlIntEstDte, @lp_evldoc, @lp_evldoc001, @lp_evldoc002, @lp_patcmt,
			@lp_patsex, @lp_hltdisclscod, @lp_patcodext, @lp_patatrval001, @lp_patatrval002,@lv_patreqdte,@lv_patevldte, @lp_patpro, @lv_patwgt, @lv_pathgh, @lp_hltpatclscod, 
			@lp_docsts, @lp_username, getdate(),@lp_SysDocClsCod )
		SET @lv_errcod=@@ERROR
		SET @lp_patcod = @@IDENTITY
		
		-- agrego contacto financiador
		if @lv_errcod=0
			BEGIN
				-- se obtiene el nombre del financiador
				declare @lv_custxt as nvarchar(82)
				set @lv_custxt = ( select top 1 custxt from sls_cus where BusCod=@lp_buscod and CusCod=@lp_cuscod)
				
				-- se obtiene la clase de documento del contacto financiador (destinatario de factura)
				declare @lv_sysdocclscod_fnc as int
				select top 1 @lv_sysdocclscod_fnc=dcc.sysdocclscod 
				from sys_doc_cls dcp
				inner join sys_doc_cls_cnt dcpc on dcpc.buscod=dcp.buscod and dcpc.sysdocclscod=dcp.sysdocclscod
				inner join sys_doc_cls dcc on dcc.buscod=dcpc.buscod and dcc.sysdocclscod=dcpc.sysdocclscodcnt
				where dcp.buscod=@lp_buscod
					and dcp.sysdocclscod=@lp_sysdocclscod
					and not dbo.getTagValue('invadr',dcc.sysdocclsatr)=''
				        
        -- creo el grl_dat_adr
        exec GRL_DAT_ADR_DEF '01_sp',@lp_username,@lp_buscod,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,'AR',null,null,null,null,null,null,null,'A', null,'HLT_PAT', @lp_patcod, null, null, null, null, null, @lv_errcod OUTPUT, @lv_errtxt OUTPUT
				-- creo contacto
				exec GRL_DAT_CNT_DEF '01_sp',@lp_username,@lp_buscod,null,null,@lv_custxt,'HLT_PAT',@lp_patcod,@lv_sysdocclscod_fnc,null,null,null,null,'A',null,'SLS_CUS',@lp_cuscod, @lv_errcod OUTPUT, @lv_errtxt OUTPUT

      END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation='12' or @lp_sysoperation='22'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE HLT_PAT 
		SET	pattxt = @lp_pattxt,
			patcodext = @lp_patcodext,
			patreqdte = @lv_patreqdte,
			patevldte = @lv_patevldte,
			patinbdte = @lv_patinbdte,
			patoutdte = @lv_patoutdte,
			patbrndte = @lv_patbrndte,
			CusCod = @lp_cuscod, 
			cushsp = @lp_cushsp,
			cusdocder = @lp_cusdocder,
			patdiacod = @lp_patdiacod,
			patcrocod = @lp_patcrocod, 
			patcpx = @lp_patcpx,
			pataflnum = @lp_pataflnum,
			pataflpln = @lp_pataflpln,
			patsex = @lp_patsex,
			hltdisclscod=@lp_hltdisclscod,
			patpro = @lp_patpro,
      patwgt = (case when isnull(@lv_patwgt,0)=0 then patwgt else @lv_patwgt end),
      pathgh = (case when isnull(@lv_pathgh,0)=0 then pathgh else @lv_pathgh end),
      hltpatclscod = @lp_hltpatclscod, 
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate(),
			evldte = @lv_evldte,
			evlplc = @lp_evlplc,
			evldia = @lp_evldia,
			EvlIntDayHme = @lp_EvlIntDayHme,
			evlintestdte = @lv_evlintestdte,
			evldoc = @lp_evldoc,
			evldoc001 = @lp_evldoc001,
			evldoc002 = @lp_evldoc002,
			patcmt = @lp_patcmt,
			patatrval001=@lp_patatrval001,
			patatrval002=@lp_patatrval002
		WHERE buscod=@lp_buscod
		  and patcod=@lp_patcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1 

		SELECT p.*,
			c.custxt, pc.patcrotxt, pd.patdiatxt, pdc.hltdisclstxt, pdc.hltdisclscodext,
			t.TaxNum, t.TaxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum, convert(varchar,t.TaxActStr,103) as TaxActStrCnv, id.idttyptxt, 
			b.bnkNum, b.bnkcod, b.bnkbch, b.bnkacctyp, b.bnkaccnum, b.bnkacccbu, b.paymthcod, b.bnkdoctyp, b.bnkdocnum, b.bnkacccbuals, 
			tb.bnktxt, fp.paymthtxt, ch.custxt as cushsptxt, 
			l.lndtxt, lr.lndregtxt, 
			convert(varchar,p.patreqdte,103) as patreqdtecnv, -- QUITAR
			convert(varchar,p.patevldte,103) as patevldtecnv, -- QUITAR
			convert(varchar,p.patinbdte,103) as patinbdtecnv, -- QUITAR
			convert(varchar,p.patoutdte,103) as patoutdtecnv, -- QUITAR
			convert(varchar,p.patbrndte,103) as patbrndtecnv,  -- QUITAR
			convert(varchar,p.evldte,103) as evldtecnv,				-- QUITAR
			c.custxt, ch.custxt as custxthsp, 
			(case when isnull(p.patbrndte,getdate())>=getdate() then 0 else 
			cast( round( (datediff(mm, p.patbrndte, getdate())+(case when datepart(day,p.patbrndte)>datepart(day,getdate()) then -1 else 0 end)) / 12  , 0, 1 )  as decimal(5,2) ) +
			( cast( ( datediff(mm, p.patbrndte, getdate())+(case when datepart(day,p.patbrndte)>datepart(day,getdate()) then -1 else 0 end) ) % 12 as decimal(5,2)) / 100 )
			end) as patage,
			pd.patdiatxt, pc.patcrotxt, pcl.hltpatclstxt, 
			a.adrphn001, a.adrphn002, a.adrmblphn, a.adrtwn, a.adrcty, a.adrstr, a.adrmapgeo, a.adrfrtnme, a.adrlstnme, a.adreml, a.adrwebpge, a.adrpstcod, a.adrzon,
			p.SysDocClsCod,cd.SysDocClsTxt 
		FROM HLT_PAT p 
			left join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp='HLT_PAT' and a.adrsrccod=p.patcod
			left join grl_dat_tax t on t.buscod=p.buscod and t.taxsrctyp='HLT_PAT' and t.taxsrccod=p.patcod
			left join adm_idt_typ id on id.lndcod=a.lndcod and id.idttypcod=t.taxdoctyp 
			left join grl_dat_bnk b on b.buscod=p.buscod and b.bnksrctyp='HLT_PAT' and b.bnksrccod=p.patcod
			left join tsr_bnk tb on tb.buscod=b.buscod and tb.bnkcod=b.bnkcod 
			left join tsr_pay_mth fp on fp.buscod=p.buscod and fp.paymthcod=b.paymthcod 			 
			left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod 
			left join sls_cus ch on ch.buscod=p.buscod and ch.cuscod=p.cushsp 
			left join grl_dat_lnd l on l.lndcod=a.lndcod 
			left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod 
			left join hlt_dis_cls pdc on pdc.buscod=p.buscod and pdc.hltdisclscod=p.hltdisclscod
			left join hlt_pat_dia pd on pd.buscod=p.buscod and pd.patdiacod=p.patdiacod
			left join hlt_pat_cro pc on pc.buscod=p.buscod and pc.patcrocod=p.patcrocod 
      left join hlt_pat_cls pcl on pcl.buscod=p.buscod and pcl.hltpatclscod=p.hltpatclscod 
			inner join SYS_DOC_CLS cd on cd.BusCod = p.BusCod and cd.objtyp ='HLT_PAT' and cd.SysDocClsCod = p.SysDocClsCod
		WHERE p.buscod=@lp_buscod
		  and p.patcod=@lp_patcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1 
    
    -- Tabla temporal para guardar tablas/objtyp donde se encontrÃ³ el paciente
    create table #patTables (objtyptbl nvarchar(255), objtyp nvarchar(100))
    insert into #patTables EXEC dbo.SYS_APP_CHK_USE_DEF @lp_buscod=@lp_buscod, @lp_objtypcod='HLT_PAT', @lp_objcod=@lp_patcod, @lp_fldnme='patcod'
		
    if exists (select 1 from #patTables)
    begin
    	declare @lv_msg nvarchar(max)
      
      /*;WITH CTE as (
      	select SUBSTRING(
          			-- Obtiene el nombre de la tabla a partir de SYS_OBJ_TYP
                o.objtyptxt, 
                CHARINDEX('-', o.objtyptxt) + 1, 
                CHARINDEX('(', o.objtyptxt) - CHARINDEX('-', o.objtyptxt) - 2
             ) as nmeTbl
        from #patTables t
        join tmssSysDev.dbo.SYS_OBJ_TYP o on o.objtyptbl = t.objtyptbl and (o.objtypcod = t.objtyp or t.objtyp is null)
      )
      -- mensaje de error hasta 5 tablas
      select @lv_msg = CONCAT('No se puede borrar el paciente. Existe en', (select STRING_AGG(nmeTbl, ',') from (select top 5 nmeTbl FROM CTE) as nmeTbl),
      case when (select count(*) from CTE) > 5 then ', y otros documentos' else '' end, '.')*/
      
      SET @lv_msg = 'No se puede borrar el paciente. EstÃ¡ siendo usado en otros documentos.'
      
      SELECT null, -1 as errcod, @lv_msg as errtxt
      drop table #patTables
    	return
    end
    drop table #patTables
		
		BEGIN TRAN
		
		-- borro textos
		exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'HLT_PAT', @lp_patcod, null, null, null, @lv_errcod, @lv_errtxt

		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PAT
				set DocSts = 'I',
					DelDte = GETDATE(),
					DelUsr = @lp_username
				WHERE BusCod=@lp_buscod
				  and PatCod=@lp_patcod
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    

		-- HLT_PAT_DEF '08','MDOMINGUEZ','TEMASIS_HLT'
		-- HLT_PAT_DEF '18','DALVAREZ','TEMASIS_HLT','','','','','00000000000000','00000000000000','00000000000000','','','','','','','','00000000000000','','','','00000000000000','','','','','<view><vewflt></vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax>51</vewmax><vewpge></vewmax><extra></extra></view>','','','','','','00000000000000','00000000000000','','',''
		
   	declare @lv_docststxt as nvarchar(250) = '(case p.docsts when '+QUOTENAME('A','''')+' then '+QUOTENAME('ACTIVO','''')+' when '+QUOTENAME('I','''')+' then '+QUOTENAME('INACTIVO','''')+' when '+QUOTENAME('N','''')+' then '+QUOTENAME('NUEVO','''')+' when '+QUOTENAME('E','''')+' then '+QUOTENAME('EVOLUCIONADO','''')+' else p.docsts end)'
    
		-- Obtener las restricciones de usuario
  	declare  @lv_prmcuscod as nvarchar(max) = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'c.cuscod')
    
    
    --Obtengo si ya contiene o no parametros de pacientes.
   	declare @lv_prmpatcod as nvarchar(max)  = dbo.GetUserRestrictions(@lp_buscod, @lp_username, 'p.patcod') -- p.patcod
   	declare @lv_prmprscod as nvarchar(max)  = '' 
    declare  @lv_prstxt as nvarchar(max) = ' ' 
    --Si tiene pacientes como parametros es lo unico que le muestro.
		if (@lv_prmpatcod = '')
    	begin
        -- Obtengo si tiene prestador asociado como parametro
        set @lv_prmprscod = dbo.getUserRestrictions(@lp_buscod, @lp_username, 'p.prscod')
        --Si no tiene le muestro todos los pacientes
        if (@lv_prmprscod = '') 
          begin
          	set  @lv_prmpatcod = '*'
          end
        else
          begin
          --Si tiene prestador, busco si requiere parametro de pacientes
              set @lv_sql = 'SELECT TOP 1 @lv_prstxt = p.prstxt
                            FROM hlt_prs p INNER JOIN sys_doc_cls dc ON dc.buscod = p.buscod AND dc.sysdocclscod = p.sysdocclscod
                            WHERE p.buscod = @lp_buscod ' + @lv_prmprscod + 'and not dbo.gettagvalue(' + QUOTENAME('usrprmreqvewpat', '''') + ', dc.sysdocclsatr) = ' + QUOTENAME('', '''')
              EXEC sp_executesql @lv_sql, 
              N'@lp_buscod NVARCHAR(50),
                @lv_prstxt NVARCHAR(30) OUTPUT', 
              @lp_buscod = @lp_buscod,
              @lv_prstxt = @lv_prstxt OUTPUT
            --Si no requiere parametro de pacientes le muestro todos
              if(@lv_prstxt = '')
              	set @lv_prmpatcod = '*'
          end
      end


		set @lv_sql = dbo.getSqlSentence(@lp_vewcfg, 
        ' p.*, c.custxt, pc.patcrotxt, pd.patdiatxt, pdc.hltdisclstxt, a.adrphn001, a.adrphn002, a.adrmblphn, a.adrtwn, a.adrcty, a.adrstrbld,'
        + ' a.adrstr, a.adrmapgeo, a.adrfrtnme, a.adrlstnme, a.adreml, a.adrwebpge, a.adrpstcod, a.adrzon, a.adrzoncod, a.adrstrflr, a.adrstrunt ,pdz.adrzontxt, '
        + ' t.TaxNum, t.TaxCatCod, t.TaxCod, t.TaxIIBB, t.TaxActStr, t.TaxCur, t.TaxDocTyp, t.TaxDocNum, id.idttyptxt, '
        + ' b.bnkNum, b.bnkcod, b.bnkbch, b.bnkacctyp, b.bnkaccnum, b.bnkacccbu, b.paymthcod, b.bnkdoctyp, b.bnkdocnum, b.bnkacccbuals, '
        + ' tb.bnktxt, fp.paymthtxt, ch.custxt as cushsptxt, l.lndtxt, lr.lndregtxt, dc.sysdocclstxt,'+@lv_docststxt+' as docststxt, '
				+ ' convert(varchar,p.evldte,103) as evldtecnv, '
        + ' pp.perbrndte, pp.persex, pp.civstscod, pp.pernatcod, pp.hhrmedcovcod, pp.hhrmedcovtxt, pp.hhrmedcovaflpln, pp.hhrmedcovaflnum, '
        + ' (a.adrstr + '+QUOTENAME(' ','''')+' + a.adrstrnum) as adrdom, pcl.hltpatclstxt ',
        ' hlt_pat p '
        + ' left join grl_dat_adr a on a.buscod=p.buscod and a.adrsrctyp='+QUOTENAME('HLT_PAT','''')+' and a.adrsrccod=p.patcod'
        + ' left join grl_dat_tax t on t.buscod=p.buscod and t.taxsrctyp='+QUOTENAME('HLT_PAT','''')+' and t.taxsrccod=p.patcod'
        + ' left join grl_dat_per pp on pp.buscod=p.buscod and pp.persrctyp='+QUOTENAME('HLT_PAT','''')+' and pp.persrccod=p.patcod'
        + ' left join adm_idt_typ id on id.lndcod=a.lndcod and id.idttypcod=t.taxdoctyp '
        + ' left join grl_dat_bnk b on b.buscod=p.buscod and b.bnksrctyp='+QUOTENAME('HLT_PAT','''')+' and b.bnksrccod=p.patcod'
        + ' left join tsr_bnk tb on tb.buscod=b.buscod and tb.bnkcod=b.bnkcod '
        + ' left join tsr_pay_mth fp on fp.buscod=p.buscod and fp.paymthcod=b.paymthcod '
        + ' left join sls_cus c on c.buscod=p.buscod and c.cuscod=p.cuscod '
        + ' left join sls_cus ch on ch.buscod=p.buscod and ch.cuscod=p.cushsp '
        + ' left join grl_dat_lnd l on l.lndcod=a.lndcod '
        + ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
        + ' left join sys_doc_cls dc on dc.buscod=p.buscod and dc.sysdocclscod=p.sysdocclscod '
        + ' left join hlt_pat_cro pc on pc.buscod=p.buscod and pc.patcrocod=p.patcrocod '
        + ' left join hlt_pat_dia pd on pd.buscod=p.buscod and pd.patdiacod=p.patdiacod '
        + ' left join hlt_dis_cls pdc on pdc.buscod=p.buscod and pdc.hltdisclscod=p.hltdisclscod '
        + ' left join grl_dat_zon pdz on pdz.buscod=a.buscod and pdz.adrzoncod=a.adrzoncod '
        + ' left join hlt_pat_cls pcl on pcl.buscod=p.buscod and pcl.hltpatclscod=p.hltpatclscod ',
        ' p.buscod='+QUOTENAME(@lp_buscod,'''')
        + ' and p.deldte is null '
				+ ' and dbo.checkAuthorizationObject('+QUOTENAME(@lp_username,'''')+', '+QUOTENAME(@lp_buscod,'''')+', '+QUOTENAME('HLT_PAT','''')+', dc.autcod)=1 '
        + (case when isnull(@lp_docsts,'')='' then '' else ' and p.docsts='+QUOTENAME(@lp_docsts,'''') end) + @lv_prmcuscod 
				+(CASE WHEN @lv_prmpatcod = '*' THEN '' WHEN @lv_prmpatcod = '' THEN 'AND 1=2' ELSE @lv_prmpatcod END),
        ' p.ctedte desc ','docststxt;'+@lv_docststxt)
			execute( @lv_sql )

	END




-- ------------------------------------------------------------------------
--   3 2    -    ACTUALIZAR CLASE DE DOCUMENTO
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '32'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE HLT_PAT 
		SET	sysdocclscod = @lp_sysdocclscod,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and patcod = @lp_patcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_patcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt		

	END




IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
