USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DOC_FLT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GRL_DOC_FLT_DEF]

@lp_sysoperation 	as nvarchar(2),				-- operación 
@lp_username 		as nvarchar(20),				-- operación - usuario 
@lp_buscod			as nvarchar(20) = null,	-- empresa 
@lp_vewfltcod		as int					= null,	-- id 
@lp_vewflttxt		as nvarchar(50) = null,	-- descripción 
@lp_usrcod			as nvarchar(20)	= null,	-- id usuario 
@lp_vewcod			as nvarchar(30) = null,	-- id vista 
@lp_VewFltPub		as int					= null,	-- 1-publico / 0-privado 
@lp_VewFltDef		as int					= null,	-- 1-default / 0-no default 
@lp_VewFltDat		as nvarchar(max)= null,	-- valores del filtro 
@lp_docsts			as nvarchar(2)	= null,	-- estado 

@lp_vewcfg			as nvarchar(max)= null	-- configuración vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO GRL_DOC_FLT (buscod, vewflttxt, usrcod, vewcod, VewFltPub, VewFltDef, VewFltDat, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_vewflttxt, @lp_usrcod, @lp_vewcod, @lp_VewFltPub, @lp_VewFltDef, @lp_VewFltDat, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_vewfltcod=@@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_vewfltcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		-- actualizo el filtro actual 
		UPDATE GRL_DOC_FLT
		SET vewflttxt = @lp_vewflttxt,
			vewfltpub = @lp_VewFltPub, 
			vewfltdef = @lp_VewFltDef,
			vewfltdat = @lp_VewFltDat,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod = @lp_buscod
		  and vewfltcod = @lp_vewfltcod
		SET @lv_errcod=@@ERROR

		-- actualizo el default de las otras vistas del usuario 
		if @lv_errcod=0 and @lp_vewfltdef=1
			begin
				UPDATE GRL_DOC_FLT
				SET vewfltdef = 0,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod = @lp_buscod
				  and vewcod = @lp_vewcod
				  and usrcod = @lp_usrcod
				  and not vewfltcod=@lp_vewfltcod
				SET @lv_errcod=@@ERROR
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_vewfltcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT f.*
		FROM GRL_DOC_FLT f
		WHERE f.buscod = @lp_buscod
		  and f.vewfltcod = @lp_vewfltcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE
		FROM GRL_DOC_FLT
		WHERE buscod = @lp_buscod
		  and vewfltcod = @lp_vewfltcod
		SET @lv_errcod=@@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_vewfltcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    
	
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' f.* ', ' GRL_DOC_FLT f ', ' f.buscod='+QUOTENAME(@lp_buscod,''''), ' f.vewflttxt ', default )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
