USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_PRS_LQD_AUT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_PRS_LQD_AUT_DEF]

@lp_sysoperation 			as nvarchar(2),	
@lp_username 					as nvarchar(20),
@lp_buscod						as nvarchar(20),
@lp_hltprslqdgrpcod		as int						= null,		-- id liquidacion grupo
@lp_hltprslqdgrptxt		as nvarchar(100)	= null,		-- texto de liquidacion
@lp_hltprslqdgrpdte		as nvarchar(14)		= null,		-- fecha liquidacion
@lp_hltprslqdgrpstrdte	as nvarchar(14)	= null,		-- fecha desde
@lp_hltprslqdgrpenddte	as nvarchar(14)	= null,		-- fecha hasta
@lp_paymthcod					as int						= null,		-- id forma de pago
@lp_docsts						as nvarchar(02)		= null,		-- estado
@lp_sysdocclscod			as int						= null,		-- clase de documento - ID
@lp_hltprslqdids			as nvarchar(max)	= null,		-- IDs de planificacion

@lp_vewcfg						as nvarchar(max)	= null,		-- configuracion vista

@lp_cuscod						as int						= null		-- id financiador

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(4000) = ''
DECLARE @lv_sql as nvarchar(max)

declare @lv_srcobjtyp as nvarchar(50) = ''
declare @lv_grpcuscod as nvarchar(10) = ''
declare @lv_prslqdsysdocclscod as int = 0
declare @lv_rowcount as int = 1
declare @lv_hltprslqdcod as int = 0
declare @lv_prscod as int = 0
declare @lv_custxt as nvarchar(50)
declare @lv_hltprslqdatr001	as nvarchar(70) = ''
declare @lv_sysoplqd	as nvarchar(6) = ''
declare @lv_paymthcod as int

DECLARE @lv_hltprslqdgrpdte as datetime = dbo.ConvertDate( @lp_hltprslqdgrpdte )
declare @lv_hltprslqdgrpstrdte as datetime = dbo.ConvertDate( @lp_hltprslqdgrpstrdte )
declare @lv_hltprslqdgrpenddte  as datetime = dbo.ConvertDate( @lp_hltprslqdgrpenddte )

-- normalizo los parametros de seleccion de FECHA -- ???????
if not isnull(@lv_hltprslqdgrpstrdte,'')='' and isnull(@lv_hltprslqdgrpenddte,'')=''
	set @lv_hltprslqdgrpstrdte = @lv_hltprslqdgrpenddte
if isnull(@lv_hltprslqdgrpstrdte,'')='' and not isnull(@lv_hltprslqdgrpenddte,'')=''
	set @lv_hltprslqdgrpstrdte = @lv_hltprslqdgrpenddte



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N 
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08-09','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HLT'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LQA'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  

-- ------------------------------------------------------------------------
--   1 0  /  0 1   -    P R O C E S O    A U T O M A T I C O
--						seleccion de datos
-- ------------------------------------------------------------------------
IF @lp_sysoperation='10' or @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN

		set @lv_custxt = (Select top 1 custxt from SLS_CUS where BusCod=@lp_buscod and CusCod=@lp_cuscod)

		-- HLT_PRS_LQD_AUT_DEF '10','MDOMINGUEZ','TEMASIS_HLT','','','00000000000000','20220601000000','20220731000000','','','','','263','','<view><vewflt></vewflt><vewgrp></vewgrp><vewgrpcal></vewgrpcal><vewgrpcalflt></vewgrpcalflt><veword></veword><vewmax></vewmax></view>',''

		-- 0. obtengo origen de datos para liquidacion
		if not isnull(@lp_sysdocclscod,0)=0
			begin
				select @lv_prslqdsysdocclscod=dbo.getTagValue('lqdsysdocclscod',sysdocclsatr) from sys_doc_cls where buscod=@lp_buscod and sysdocclscod=@lp_sysdocclscod
				select @lv_srcobjtyp=dbo.GetTagValue('srcobjtyp',sysdocclsatr), @lv_grpcuscod=dbo.GetTagValue('grpcuscod',sysdocclsatr) from sys_doc_cls where buscod=@lp_buscod and sysdocclscod= @lv_prslqdsysdocclscod
				set @lv_srcobjtyp=(case when isnull(@lv_srcobjtyp,'')='' then 'HLT_PCR' else @lv_srcobjtyp end)
			end

		-- 1. armo tabla de prestadores con antiguedad (al dia de hoy)
		SELECT p.buscod, p.prscod, p.prstxt, p.PrcCndCod, p.prsinbdte,
			(case when p.prsinbdte is null then 0 else datediff(year,p.prsinbdte,getdate())+(case when datepart(month,getdate())<datepart(month,p.prsinbdte) or ( datepart(month,getdate())=datepart(month,p.prsinbdte) and datepart(day,getdate())<datepart(day,p.prsinbdte) ) then -1 else 0 end) end) as prsjobold,
			cast(null as int)			as prsjobpts, 
			cast(null as int)			as prscatpts,
			cast(null as int)			as prspts,
			cast(null as decimal(13,2)) as hltlqdhrsqty,
			cast(null as int)			as hltlqdsesqty,
			cast(null as decimal(13,2)) as prscatprc,
			cast(null as decimal(13,2)) as hltlqdspcprcadd,
			cast(null as decimal(13,2)) as hltlqdspcprc,
			cast(null as decimal(13,2)) as hltlqdprc,
			cast(null as decimal(13,2)) as hltlqdnwstot,
			cast(null as decimal(13,2)) as hltlqdtot,
			pb.paymthcod, y.paymthtxt, y.PayMthCodExt,
			pb.bnkcod, b.bnktxt, pb.bnkbch, pb.bnkacctyp, pb.bnkaccnum, pb.bnkdoctyp, pb.bnkdocnum, pb.bnkacccbu,
			cast(null as int) as cuscod, cast(null as nvarchar(82)) as custxt, cast(null as int) as price_control
		INTO #tmp_prs
		FROM hlt_prs p
		 -- left  join hlt_cat_prc c on c.buscod=p.buscod and c.catprccod=p.catprccod
		  left join grl_dat_bnk pb on pb.buscod=p.buscod and pb.bnksrctyp='HLT_PRS' and pb.bnksrccod=p.prscod
		  left join tsr_bnk b on b.buscod=pb.buscod and b.bnkcod=isnull(pb.bnkcod, 0)
		  left join tsr_pay_mth y on y.buscod=pb.buscod and y.paymthcod=pb.paymthcod
		WHERE p.buscod=@lp_buscod
		  and not p.prstxt like 'ENFERMERIA%'
		  and pb.paymthcod=case when isnull(@lp_paymthcod,'') = '' or @lp_paymthcod = '' then pb.paymthcod else @lp_paymthcod end
		  and p.docsts='A'
		select * into #tmp_prs2 from #tmp_prs where 1=2

		-- 2. actualizo puntajes (de antiguedad y categoria) (al dia de hoy)
		UPDATE #tmp_prs
		SET prsjobpts = (select top 1 v.hltcatpts from hlt_cat c inner join hlt_cat_val v on v.buscod=c.buscod and v.hltcatcod=c.hltcatcod where c.buscod=x.buscod and c.hltcattxt='ANTIGUEDAD EMPRESA' and x.prsjobold between v.hltcatfrm and v.hltcatto),
			prscatpts = (select sum(isnull(a.hltcatpts,0)) from hlt_prs_cat a where a.buscod=x.buscod and a.prscod=x.prscod and getdate() between a.HltCatStrDte and a.HltCatEndDte)
		FROM #tmp_prs x

		-- 3. actualizo puntaje total, precio categoria (segun puntaje) y total de novedades
		UPDATE #tmp_prs
		SET prspts	= isnull(x.prsjobpts,0)+isnull(x.prscatpts,0),
			prscatprc = isnull((SELECT top 1 PrcCndTot 
								FROM grl_dat_prc_sca ps
								WHERE ps.buscod = x.buscod
								and ps.prccndrowcod = (SELECT top 1 dp.PrcCndRowCod 
														FROM GRL_DAT_PRC dp 
														WHERE dp.buscod = x.buscod
														and dp.PrcCndCod = x.PrcCndCod 
														and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte) 
								and ps.PrcCndQty <= ( isnull(x.prsjobpts,0)+isnull(x.prscatpts,0) )
								order by ps.PrcCndQty desc), isnull((SELECT top 1 dp.PrcCndVal 
																	FROM GRL_DAT_PRC dp 
																	WHERE dp.buscod = x.buscod
																	and dp.PrcCndCod = x.PrcCndCod 
																	and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte
																	and dp.PrcCndQty <=  ( isnull(x.prsjobpts,0)+isnull(x.prscatpts,0) )),0))
		FROM #tmp_prs x	 

		-- 4. actualizo total de sesiones, horas y precios especiales (normal y adicional)
		IF @lv_srcobjtyp='HLT_PCR'
			BEGIN
				SELECT	x.buscod, cd.PrsCod, (case s.SpcCtrTyp when 2 then cd.HltPlnCtrQty else 0 end) as hltlqdsesqty, (case s.SpcCtrTyp when 1 then cd.HltPlnCtrTme else 0 end)  as hltlqdhrsqty,
				d.plnid, d.plndteid, cd.hltplnctrdtecod, cd.hltplnctrcod,
				x.prspts, x.prscatprc,
				(case when isnull(@lv_grpcuscod,'')='' then 0 else pc.cuscod end) as cuscod,
				(case when isnull(@lv_grpcuscod,'')='' then '' else pc.custxt end) as custxt, 
				(select top 1 r2.prsprcval 
					FROM hlt_prs_prc r2 
					WHERE r2.buscod=x.buscod 
					  and r2.prsprctyp=0 
					  and r2.docsts='A' 
					  and r2.spccod=l.spccod
						and (	(r2.PrsCod=l.prscod			and r2.PatCod=l.patcod)
							OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=l.patcod )
							OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0)
							OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
							)
					  and (cd.hltplnctrdte BETWEEN r2.PrsPrcDteStr AND r2.PrsPrcDteEnd) 
						ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
											when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
											when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
											when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
											else 9 end)) as hltlqdspcprc, 
				(select top 1 r2.prsprcval 
					FROM hlt_prs_prc r2 
					WHERE r2.buscod=x.buscod 
					  and r2.prsprctyp=1 
					  and r2.docsts='A'
					  and r2.spccod=l.spccod 
						and (	(r2.PrsCod=l.prscod			and r2.PatCod=l.patcod)
							OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=l.patcod )
							OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0)
							OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
							)
					  and (cd.hltplnctrdte between r2.PrsPrcDteStr and r2.PrsPrcDteEnd)
						ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
										when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
										when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
										when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
										when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
										when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
										else 9 end)) as hltlqdspcprcadd, 
					lq.HltPrsLqdCod
				INTO #tmp_prs_qty_pcr
				FROM #tmp_prs x
				inner join HLT_PLN_CTR_DTE cd on cd.BusCod=x.buscod and cd.PrsCod=x.PrsCod and cd.HltPlnCtrDte between @lv_hltprslqdgrpstrdte and @lv_hltprslqdgrpenddte and cd.DocSts='C'
				inner join hlt_pln_dte d on d.buscod=cd.buscod and d.PlnId=cd.plnid and d.plndteid=cd.plndteid
				inner join hlt_pln l on l.buscod=d.buscod and l.plnid=d.plnid
				inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod 
				inner join sls_cus pc on pc.buscod=l.buscod and pc.cuscod=l.cuscod 
				inner join HLT_SPC s on s.BusCod=l.BusCod and s.SpcCod=l.SpcCod
				left join HLT_PRS_LQD_DOC ld on ld.BusCod=cd.BusCod and ld.refobjtyp=@lv_srcobjtyp and ld.RefObjCod001=cd.HltPlnCtrCod and ld.RefObjCod002=cd.HltPlnCtrDteCod
				--left join hlt_prs_lqd lq on lq.BusCod=x.BusCod and lq.PrsCod=x.PrsCod and (lq.hltprslqdgrpcod is null or lq.hltprslqdgrpcod=@lp_hltprslqdgrpcod) and lq.deldte is null
				left join hlt_prs_lqd lq on lq.BusCod=ld.BusCod and lq.hltprslqdcod=ld.hltprslqdcod and lq.deldte is null
				WHERE x.buscod=@lp_buscod
				  and cd.HltPlnCtrDte between @lv_hltprslqdgrpstrdte and @lv_hltprslqdgrpenddte
				  and cd.DocSts='C'
				  and cd.DelUsr is null
				  and d.plndte is not null 
				  --and l.plnid = cd.plnid
				  and ((isnull(@lv_grpcuscod,'')!='' and pc.cuscod = isnull(@lp_cuscod,0) ) or isnull(@lv_grpcuscod,'')='' )
          -- trae las posiciones que pertenezcan a una liq. manual que es de la automatica O las posiciones que no existan
          and ((lq.hltprslqdcod is not null and lq.hltprslqdgrpcod=@lp_hltprslqdgrpcod) or ld.hltprslqddoccod is null)
			END
		
		ELSE IF @lv_srcobjtyp='HLT_EVL'
			BEGIN
				SELECT	x.buscod, x.prscod,	(case s.SpcCtrTyp when 2 then d.PlnQty else 0 end) as hltlqdsesqty, (case s.SpcCtrTyp when 1 then d.PlnTme else 0 end) as hltlqdhrsqty,
				d.plnid, d.plndteid,
				x.prspts, x.prscatprc, e.evlcod,
				(case when isnull(@lv_grpcuscod,'')='' then 0 else pc.cuscod end) as cuscod,
				(case when isnull(@lv_grpcuscod,'')='' then '' else pc.custxt end) as custxt,
				(select top 1 r2.prsprcval 
					FROM hlt_prs_prc r2 
					WHERE r2.buscod=x.buscod 
					  and r2.prsprctyp=0 
					  and r2.docsts='A' 
					  and r2.spccod=l.spccod
						and (	(r2.PrsCod=l.prscod			and r2.PatCod=l.patcod)
							OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=l.patcod )
							OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0)
							OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
							)
					  and (e.evldte BETWEEN r2.PrsPrcDteStr AND r2.PrsPrcDteEnd) 
						ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
										when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
										when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
										when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
										when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
										when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
										else 9 end)) as hltlqdspcprc, 
				(select top 1 r2.prsprcval 
					FROM hlt_prs_prc r2 
					WHERE r2.buscod=x.buscod 
					  and r2.prsprctyp=1 
					  and r2.docsts='A'
					  and r2.spccod=l.spccod 
						and (	(r2.PrsCod=l.prscod			and r2.PatCod=l.patcod)
							OR	(isnull(r2.PrsCod,0)=0	and r2.PatCod=l.patcod )
							OR	(isnull(r2.PrsCod,0)=0	and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0 and r2.hltdisclscod=p.hltdisclscod )
							OR	(r2.PrsCod=l.prscod			and isnull(r2.PatCod,0)=0)
							OR	(isnull(r2.PatCod,0)=0	and isnull(r2.PrsCod,0)=0 and isnull(r2.hltdisclscod,0)=0)
							)
					  and (e.evldte between r2.PrsPrcDteStr and r2.PrsPrcDteEnd)
						ORDER BY (case when not isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 1
										when     isnull(r2.prscod,0)=0 and not isnull(r2.patcod,0)=0 then 2
										when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 3
										when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and not isnull(r2.hltdisclscod,0)=0 then 4
										when not isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 5
										when     isnull(r2.prscod,0)=0 and     isnull(r2.patcod,0)=0 and     isnull(r2.hltdisclscod,0)=0 then 6
										else 9 end)) as hltlqdspcprcadd
				INTO #tmp_prs_qty_evl
				FROM #tmp_prs x
				inner join hlt_pln l on l.buscod=x.buscod and l.PrsCod=x.PrsCod
				inner join hlt_pat p on p.buscod=l.buscod and p.patcod=l.patcod 
				left join sls_cus pc on pc.buscod=l.buscod and pc.cuscod=l.cuscod 
				inner join HLT_SPC s on s.BusCod=l.BusCod and s.SpcCod=l.SpcCod
				inner join hlt_pln_dte d on d.buscod=l.buscod and d.PlnId=l.plnid
				inner join HLT_PAT_EVL e on e.BusCod=d.BusCod and e.PlnId=d.PlnId and e.PlnDteId=d.plndteid        
        left join HLT_PRS_LQD_DOC ld on ld.BusCod=x.BusCod and ld.refobjtyp=@lv_srcobjtyp and ld.RefObjCod001=e.EvlCod and ld.RefObjCod002=''
				--left join hlt_prs_lqd lq on lq.BusCod=x.BusCod and lq.PrsCod=x.PrsCod and (lq.hltprslqdgrpcod is null or lq.hltprslqdgrpcod=@lp_hltprslqdgrpcod) and lq.deldte is null 
				left join hlt_prs_lqd lq on lq.BusCod=ld.BusCod and lq.hltprslqdcod=ld.hltprslqdcod and lq.deldte is null 
				WHERE x.buscod=@lp_buscod
				  and d.plndte is not null 
				  and d.plndte between @lv_hltprslqdgrpstrdte and @lv_hltprslqdgrpenddte
				  and l.plnid = e.plnid
				  and e.DocSts = 'A'
					and ((isnull(@lv_grpcuscod,'')!='' and pc.cuscod = isnull(@lp_cuscod,0) ) or isnull(@lv_grpcuscod,'')='' )
          and ((lq.hltprslqdcod is not null and lq.hltprslqdgrpcod=@lp_hltprslqdgrpcod) or (lq.hltprslqdcod is null and ld.hltprslqddoccod is null))

			END

		
		-- GASTOS. armo tabla de gastos con imputaciÃ³n de prestadores
		SELECT e.buscod, e.srcobjcod as prscod, pr.prstxt, (case when isnull(@lv_grpcuscod,'')='' then 0 else p.cuscod end) as cuscod, sum(ed.BuyExpDocTot*(case et.BuyExpTypCodExt when 'DTO' then -1 else 1 end)*(isnull(ei.buyexpdocimpqty,100)/100)) as hltlqdnwstot,
			pb.paymthcod, y.paymthtxt, y.PayMthCodExt,
			pb.bnkcod, b.bnktxt, pb.bnkbch, pb.bnkacctyp, pb.bnkaccnum, pb.bnkdoctyp, pb.bnkdocnum, pb.bnkacccbu
		INTO #tmp_prs_nws
		FROM #tmp_prs x 
			inner join BUY_EXP e on e.buscod=x.buscod and e.srcobjtyp='HLT_PRS' and e.srcobjcod=x.prscod
			inner join BUY_EXP_DOC ed on ed.buscod=e.buscod and ed.buyexpcod=e.BuyExpCod
			left join BUY_EXP_DOC_IMP ei on ei.buscod=ed.buscod and ei.BuyExpCod=e.BuyExpCod and ei.BuyExpDocCod=ed.BuyExpDocCod
			left join HLT_PAT p on p.buscod=ei.buscod and ei.SrcObjTyp='HLT_PAT' and p.patcod=ei.SrcObjCod001
			left join HLT_PRS pr on pr.buscod=e.buscod and pr.prscod=e.SrcObjCod
			left join grl_dat_bnk pb on pb.buscod=pr.buscod and pb.bnksrctyp='HLT_PRS' and pb.bnksrccod=pr.prscod
			left join tsr_bnk b on b.buscod=pb.buscod and b.bnkcod=pb.bnkcod
			left join tsr_pay_mth y on y.buscod=pb.buscod and y.paymthcod=pb.paymthcod
			inner join BUY_EXP_TYP et on et.buscod=ed.buscod and et.BuyExpTypCod=ed.BuyExpTypCod 
			left join HLT_PRS_LQD_DOC ld on ld.buscod=ed.buscod and ld.RefObjTyp='BUY_EXP' and ld.RefObjCod001=e.BuyExpCod and ld.RefObjCod002=ed.BuyExpDocCod
      left join HLT_PRS_LQD lq on lq.buscod=ld.buscod and lq.hltprslqdcod=ld.hltprslqdcod and lq.deldte is null
		WHERE e.buscod=@lp_buscod 
			and e.DocSts='C'
			and ed.BuyExpDocDte between @lv_hltprslqdgrpstrdte and @lv_hltprslqdgrpenddte
			and et.DocSts='A'
			and ((isnull(@lv_grpcuscod,'')!='' and isnull(p.cuscod,0) = isnull(@lp_cuscod, isnull(p.cuscod,0) )) or isnull(@lv_grpcuscod,'')='' )
      and (ld.HltPrsLqdDocCod is null or lq.hltprslqdgrpcod=isnull(@lp_hltprslqdgrpcod,0))
		group by e.buscod, e.srcobjcod, pr.prstxt, (case when isnull(@lv_grpcuscod,'')='' then 0 else p.cuscod end),
			pb.paymthcod, y.paymthtxt, y.PayMthCodExt,
			pb.bnkcod, b.bnktxt, pb.bnkbch, pb.bnkacctyp, pb.bnkaccnum, pb.bnkdoctyp, pb.bnkdocnum, pb.bnkacccbu
      
      
		-- 5. actualizo precios de sesion, horas, liquidacion
		IF @lv_srcobjtyp = 'HLT_PCR'
			BEGIN
				INSERT INTO #tmp_prs2
				SELECT x.buscod, x.prscod, x.prstxt, x.PrcCndCod, x.prsinbdte,
				x.prsjobold, x.prsjobpts, x.prscatpts, x.prspts,
				sum( isnull(q.hltlqdhrsqty,0) ) as hltlqdhrsqty,
				sum( isnull(q.hltlqdsesqty,0) ) as hltlqdsesqty,
				x.prscatprc,
				sum( isnull(q.hltlqdspcprcadd,0) ) as hltlqdspcprcadd,
				sum( isnull(q.hltlqdspcprc,0) ) as hltlqdspcprc,
				x.hltlqdprc,
				x.hltlqdnwstot,
				sum( (case when isnull(q.hltlqdsesqty,0)=0 then isnull(q.hltlqdhrsqty,0) else isnull(q.hltlqdsesqty,0) end) 
					*(isnull(q.hltlqdspcprc, isnull(q.prscatprc,0))+isnull(q.hltlqdspcprcadd,0))
					) as hltlqdtot,
				x.paymthcod, x.paymthtxt, x.PayMthCodExt,
				x.bnkcod, x.bnktxt, x.bnkbch, x.bnkacctyp, x.bnkaccnum, x.bnkdoctyp, x.bnkdocnum, x.bnkacccbu,
				q.cuscod, q.custxt,
				sum( (case when (isnull(q.hltlqdspcprc, isnull(q.prscatprc,0))+isnull(q.hltlqdspcprcadd,0))=0 then 1 else 0 end) ) as price_control
				FROM #tmp_prs x
				inner join #tmp_prs_qty_pcr q on q.buscod=x.buscod and q.prscod=x.prscod
				GROUP BY x.buscod, x.prscod, x.prstxt,x.PrcCndCod, x.prsinbdte,
				x.prsjobold, x.prsjobpts, x.prscatpts, x.prspts,
				x.prscatprc,x.hltlqdspcprcadd,x.hltlqdspcprc,x.hltlqdprc,x.hltlqdnwstot,
				x.paymthcod, x.paymthtxt, x.PayMthCodExt,
				x.bnkcod, x.bnktxt, x.bnkbch, x.bnkacctyp, x.bnkaccnum, x.bnkdoctyp, x.bnkdocnum, x.bnkacccbu,
				q.cuscod, q.custxt
        
			END
		ELSE IF @lv_srcobjtyp = 'HLT_EVL'
			BEGIN
				INSERT INTO #tmp_prs2
				SELECT x.buscod, x.prscod, x.prstxt, x.PrcCndCod, x.prsinbdte,
				x.prsjobold, x.prsjobpts, x.prscatpts, x.prspts,
				sum( isnull(q.hltlqdhrsqty,0) ) as hltlqdhrsqty,
				sum( isnull(q.hltlqdsesqty,0) ) as hltlqdsesqty,
				x.prscatprc,
				sum( isnull(q.hltlqdspcprcadd,0) ) as hltlqdspcprcadd,
				sum( isnull(q.hltlqdspcprc,0) ) as hltlqdspcprc,
				x.hltlqdprc,
				x.hltlqdnwstot,
				sum((case when isnull(q.hltlqdsesqty,0)=0 then isnull(q.hltlqdhrsqty,0) else isnull(q.hltlqdsesqty,0) end) 
					*isnull(q.hltlqdspcprc,isnull(q.hltlqdspcprcadd,0)+isnull(q.prscatprc,0)) 
					) as hltlqdtot,
				x.paymthcod, x.paymthtxt, x.PayMthCodExt,
				x.bnkcod, x.bnktxt, x.bnkbch, x.bnkacctyp, x.bnkaccnum, x.bnkdoctyp, x.bnkdocnum, x.bnkacccbu,
				q.cuscod, q.custxt,
				sum( (case when (isnull(q.hltlqdspcprc, isnull(q.prscatprc,0))+isnull(q.hltlqdspcprcadd,0))=0 then 1 else 0 end) ) as price_control
				FROM #tmp_prs x
				inner join #tmp_prs_qty_evl q on q.buscod=x.buscod and q.prscod=x.prscod
				GROUP BY x.buscod, x.prscod, x.prstxt,x.PrcCndCod, x.prsinbdte,
				x.prsjobold, x.prsjobpts, x.prscatpts, x.prspts,
				x.prscatprc,x.hltlqdspcprcadd,x.hltlqdspcprc,x.hltlqdprc,x.hltlqdnwstot,
				x.paymthcod, x.paymthtxt, x.PayMthCodExt,
				x.bnkcod, x.bnktxt, x.bnkbch, x.bnkacctyp, x.bnkaccnum, x.bnkdoctyp, x.bnkdocnum, x.bnkacccbu,
				q.cuscod, q.custxt
			END

		-- actualizo novedades de financiadores con atenciones
		UPDATE x
		set x.hltlqdnwstot = xn.hltlqdnwstot
		from #tmp_prs2 x
		inner join #tmp_prs_nws xn on xn.buscod=x.buscod and xn.prscod=x.prscod and xn.cuscod=x.cuscod

		-- agrego novedades de financiadores que no tienen atenciones
		INSERT INTO #tmp_prs2 (buscod,prscod,prstxt,cuscod,hltlqdnwstot,pb.paymthcod, y.paymthtxt, y.PayMthCodExt,
			pb.bnkcod, b.bnktxt, pb.bnkbch, pb.bnkacctyp, pb.bnkaccnum, pb.bnkdoctyp, pb.bnkdocnum, pb.bnkacccbu)
		SELECT xn.buscod, xn.prscod, xn.prstxt, xn.cuscod, xn.hltlqdnwstot,xn.paymthcod, xn.paymthtxt, xn.PayMthCodExt,
			xn.bnkcod, xn.bnktxt, xn.bnkbch, xn.bnkacctyp, xn.bnkaccnum, xn.bnkdoctyp, xn.bnkdocnum, xn.bnkacccbu
		FROM #tmp_prs_nws xn
		where not exists(select top 1 * from #tmp_prs2 x2 where x2.buscod=xn.buscod and x2.prscod=xn.prscod and x2.cuscod=xn.cuscod)
			
		-- 6. actualizo totales
		update #tmp_prs2
		SET hltlqdprc  = ( isnull(hltlqdtot,0) / isnull( (case when (hltlqdsesqty+hltlqdhrsqty)=0 then 1 else (hltlqdsesqty+hltlqdhrsqty) end), 1) ),
				hltlqdtot	 = ( isnull(hltlqdtot,0) + isnull( hltlqdnwstot , 0 ) )

		-- 7. borro los registros de prestadores que no registran horas/sesiones/novedades
		DELETE FROM #tmp_prs2 
		WHERE isnull(hltlqdhrsqty,0)=0 
		  and isnull(hltlqdsesqty,0)=0
		  and isnull(hltlqdnwstot,0)=0
		  and isnull(hltlqdtot,0)=0
		
		-- 8. convierto IDs en tabla de liquidaciones de prestadores
		set @lp_hltprslqdids = (case when isnull(@lp_hltprslqdids,'')='' then '|' else @lp_hltprslqdids end) 
    select cast(@lp_buscod as nvarchar(20)) as buscod, id as prscod, ROW_NUMBER() OVER (ORDER BY id) as rownumber
    into #tmp_lqd
    from dbo.StringSplit(@lp_hltprslqdids,'|') x
    where x.id!=''
    
	END



-- ------------------------------------------------------------------------------------
--   0 1    -    P R O C E S O    A U T O M A T I C O
--				 procesamiento
-- ------------------------------------------------------------------------------------
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1
    declare @lv_srvids as nvarchar(max) = ''
    declare @lv_expids as nvarchar(max) = ''
    
		BEGIN TRAN
		
		-- GRUPO - actualizo registro de grupo de liquidaciones
		IF isnull(@lp_hltprslqdgrpcod,0)=0
			BEGIN
				INSERT INTO HLT_PRS_LQD_GRP (buscod, HltPrsLqdGrpTxt, HltPrsLqdGrpDte, HltPrsLqdGrpTot, HltPrsLqdGrpStrDte, HltPrsLqdGrpEndDte, 
					paymthcod, docsts, ctedte, cteusr, SysDocClsCod, cuscod, custxt)
				SELECT @lp_buscod, @lp_hltprslqdgrptxt, @lv_hltprslqdgrpdte, sum(e.hltlqdtot), @lv_hltprslqdgrpstrdte, @lv_hltprslqdgrpenddte, 
					@lp_paymthcod, @lp_docsts, getdate(), @lp_username, @lp_sysdocclscod, @lp_cuscod, @lv_custxt
				FROM #tmp_lqd x
				inner join #tmp_prs2 e on e.buscod=x.buscod and e.prscod=x.prscod
				SET @lv_errcod=@@ERROR
				SET @lp_hltprslqdgrpcod=@@IDENTITY
			END
      	
    SET @lv_hltprslqdatr001 ='<STRDTE>'+convert(varchar,@lv_hltprslqdgrpstrdte,103)+'</STRDTE><ENDDTE>'+convert(varchar,@lv_hltprslqdgrpenddte,103)+'</ENDDTE>'
      
    -- selecciono todas las prestaciones y gastos para grabar cada liquidaciÃ³n individual
    while (@lv_rowcount <= (select count(rownumber) from #tmp_lqd)) and @lv_errcod=0
    	BEGIN
        Select @lv_prscod=prscod from #tmp_lqd where rownumber = @lv_rowcount
      	select @lv_paymthcod=paymthcod from #tmp_prs2 where prscod=@lv_prscod
        
        IF @lv_srcobjtyp = 'HLT_PCR'
        	BEGIN
            ;WITH CTE as(
              SELECT (SELECT CAST(x.hltplnctrcod as nvarchar(20))+ '_' +  CAST(x.hltplnctrdtecod as nvarchar(20)) + '|' 
                  FROM #tmp_prs_qty_pcr x 
                  where x.prscod=@lv_prscod
                  FOR XML PATH(''),TYPE).value('.', 'nvarchar(max)') as ref 
            ) 
            select top 1 @lv_srvids = ref from CTE
          END
        ELSE IF @lv_srcobjtyp = 'HLT_EVL'
        	BEGIN
            ;WITH CTE as(
              SELECT (SELECT CAST(x.evlcod as nvarchar(20))+ '_|' 
                  FROM #tmp_prs_qty_evl x 
                  where x.prscod=@lv_prscod
                  FOR XML PATH(''),TYPE).value('.', 'nvarchar(max)') as ref 
            ) 
            select top 1 @lv_srvids = ref from CTE
          END
        
       ;WITH CTE as(
					SELECT (SELECT DISTINCT CAST(b.buyexpcod as nvarchar(20)) + '_' +  CAST(bd.BuyExpDocCod as nvarchar(20)) + '|' 
							FROM buy_exp b 
                inner join buy_exp_doc bd on bd.buscod=b.buscod and bd.buyexpcod=b.buyexpcod 
                inner join buy_exp_typ bt on bt.buscod=bd.buscod and bt.buyexptypcod=bd.buyexptypcod 
                left join buy_exp_doc_imp bi on bi.buscod=bd.buscod and bi.buyexpcod=bd.buyexpcod and bi.buyexpdoccod=bd.buyexpdoccod 
                left join HLT_PAT p on p.buscod=bi.buscod and bi.SrcObjTyp='HLT_PAT' and p.patcod=bi.SrcObjCod001
                left join HLT_PRS_LQD_DOC ld on ld.buscod=b.buscod and ld.refobjtyp='BUY_EXP' and ld.refobjcod001=bd.buyexpcod and ld.refobjcod002=bd.buyexpdoccod 
								left join hlt_prs_lqd lq on lq.buscod=ld.buscod and lq.hltprslqdcod=ld.hltprslqdcod and lq.deldte is null
							WHERE b.buscod=@lp_buscod
                and b.srcobjtyp='HLT_PRS'
                and b.SrcObjCod=@lv_prscod
								and b.docsts='C'
								and bd.buyexpdocdte between @lv_hltprslqdgrpstrdte and @lv_hltprslqdgrpenddte
								and bt.docsts='A'
          			and ((isnull(@lv_grpcuscod,'')!='' and isnull(p.cuscod,0) = isnull(@lp_cuscod, isnull(p.cuscod,0) )) or isnull(@lv_grpcuscod,'')='' )
                and ld.HltPrsLqdDocCod is null
							FOR XML PATH(''),TYPE).value('.', 'nvarchar(max)') as ref 
				) 
				select top 1 @lv_expids = ref from CTE

        EXEC HLT_PRS_LQD_DEF '01_sp', @lp_username, @lp_buscod, null, @lp_hltprslqdgrptxt, @lp_hltprslqdgrpdte, @lp_hltprslqdgrpstrdte,
          @lp_hltprslqdgrpenddte, @lv_prscod, @lv_srvids, @lv_expids, @lp_docsts, null, @lv_prslqdsysdocclscod, @lv_hltprslqdatr001,
          @lp_hltprslqdgrpcod, @lv_errcod output, @lv_errtxt output, @lp_cuscod, @lv_paymthcod
      	
        SET @lv_rowcount = @lv_rowcount + 1
      END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltprslqdgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN 

		-- borro liquidaciones que ya no pertenecen a la grupal
		while (0 < ( select count(l.hltprslqdcod) 
                            FROM HLT_PRS_LQD l 
                            left join #tmp_lqd x on x.buscod=l.buscod and x.prscod=l.prscod
                            WHERE l.buscod=@lp_buscod
                              and l.HltPrsLqdGrpCod=@lp_hltprslqdgrpcod
															and l.deldte is null 
                              and x.prscod is null)) and @lv_errcod=0
    	BEGIN
      	select top 1 @lv_hltprslqdcod = l.hltprslqdcod
        FROM HLT_PRS_LQD l 
        	left join #tmp_lqd x on x.buscod=l.buscod and x.prscod=l.prscod
        WHERE l.buscod=@lp_buscod
          and l.HltPrsLqdGrpCod=@lp_hltprslqdgrpcod
					and l.deldte is null 
          and x.prscod is null
      
      	EXEC HLT_PRS_LQD_DEF @lp_sysoperation='04_sp', @lp_username=@lp_username, @lp_buscod=@lp_buscod, @lp_hltprslqdcod=@lv_hltprslqdcod, 
                              @lp_errcod=@lv_errcod output, @lp_errtxt=@lv_errtxt output
                              
        SET @lv_rowcount = @lv_rowcount + 1
      END
      
    SET @lv_rowcount=1
    
    -- selecciono todas las prestaciones y gastos para grabar cada liquidaciÃ³n individual
    SET @lv_hltprslqdatr001 ='<STRDTE>'+convert(varchar,@lv_hltprslqdgrpstrdte,103)+'</STRDTE><ENDDTE>'+convert(varchar,@lv_hltprslqdgrpenddte,103)+'</ENDDTE>'
    
    while (@lv_rowcount <= (select count(rownumber) from #tmp_lqd x left join hlt_prs_lqd l on l.buscod=x.buscod and l.prscod=x.prscod and l.hltprslqdgrpcod=@lp_hltprslqdgrpcod and l.deldte is null)) and @lv_errcod=0
    	BEGIN
        Select @lv_prscod=x.prscod, @lv_sysoplqd=(case when l.prscod is null then '01_sp' else '02_sp' end), @lv_hltprslqdcod=(case when l.prscod is null then 0 else l.hltprslqdcod end) from #tmp_lqd x left join hlt_prs_lqd l on l.buscod=x.buscod and l.prscod=x.prscod and l.hltprslqdgrpcod=@lp_hltprslqdgrpcod and l.deldte is null where rownumber = @lv_rowcount
      	select @lv_paymthcod=paymthcod from #tmp_prs2 where prscod=@lv_prscod
      	
        IF @lv_srcobjtyp = 'HLT_PCR'
        	BEGIN
            ;WITH CTE as(
              SELECT (SELECT CAST(x.hltplnctrcod as nvarchar(20))+ '_' +  CAST(x.hltplnctrdtecod as nvarchar(20)) + '|' 
                  FROM #tmp_prs_qty_pcr x 
                  where x.prscod=@lv_prscod
                  FOR XML PATH(''),TYPE).value('.', 'nvarchar(max)') as ref 
            ) 
            select top 1 @lv_srvids = ref from CTE
          END
        ELSE IF @lv_srcobjtyp = 'HLT_EVL'
        	BEGIN
            ;WITH CTE as(
              SELECT (SELECT CAST(x.evlcod as nvarchar(20))+ '_|' 
                  FROM #tmp_prs_qty_evl x 
                  where x.prscod=@lv_prscod
                  FOR XML PATH(''),TYPE).value('.', 'nvarchar(max)') as ref 
            ) 
            select top 1 @lv_srvids = ref from CTE
          END
        
       ;WITH CTE as(
					SELECT (SELECT DISTINCT CAST(b.buyexpcod as nvarchar(20)) + '_' +  CAST(bd.BuyExpDocCod as nvarchar(20)) + '|' 
							FROM buy_exp b 
                inner join buy_exp_doc bd on bd.buscod=b.buscod and bd.buyexpcod=b.buyexpcod 
                inner join buy_exp_typ bt on bt.buscod=bd.buscod and bt.buyexptypcod=bd.buyexptypcod 
                left join buy_exp_doc_imp bi on bi.buscod=bd.buscod and bi.buyexpcod=bd.buyexpcod and bi.buyexpdoccod=bd.buyexpdoccod 
                left join HLT_PAT p on p.buscod=bi.buscod and bi.SrcObjTyp='HLT_PAT' and p.patcod=bi.SrcObjCod001
                left join HLT_PRS_LQD_DOC ld on ld.buscod=b.buscod and ld.refobjtyp='BUY_EXP' and ld.refobjcod001=bd.buyexpcod and ld.refobjcod002=bd.buyexpdoccod
                --left join hlt_prs_lqd lq on lq.BusCod=b.BusCod and lq.PrsCod=b.SrcObjCod and lq.hltprslqdcod=ld.hltprslqdcod
                left join hlt_prs_lqd lq on lq.BusCod=ld.BusCod and lq.hltprslqdcod=ld.hltprslqdcod and lq.deldte is null 
							WHERE b.buscod=@lp_buscod
                and b.srcobjtyp='HLT_PRS'
                and b.SrcObjCod=@lv_prscod
								and b.docsts='C'
								and bd.buyexpdocdte between @lv_hltprslqdgrpstrdte and @lv_hltprslqdgrpenddte
								and bt.docsts='A'
          			and ((isnull(@lv_grpcuscod,'')!='' and isnull(p.cuscod,0) = isnull(@lp_cuscod, isnull(p.cuscod,0) )) or isnull(@lv_grpcuscod,'')='' )
                and (ld.HltPrsLqdDocCod is null or lq.hltprslqdgrpcod=@lp_hltprslqdgrpcod)
							FOR XML PATH(''),TYPE).value('.', 'nvarchar(max)') as ref 
				) 
				select top 1 @lv_expids = ref from CTE
          
        EXEC HLT_PRS_LQD_DEF @lv_sysoplqd, @lp_username, @lp_buscod, @lv_hltprslqdcod, @lp_hltprslqdgrptxt, @lp_hltprslqdgrpdte, @lp_hltprslqdgrpstrdte,
          @lp_hltprslqdgrpenddte, @lv_prscod, @lv_srvids, @lv_expids, @lp_docsts, null, @lv_prslqdsysdocclscod, @lv_hltprslqdatr001,
          @lp_hltprslqdgrpcod, @lv_errcod output, @lv_errtxt output, @lp_cuscod, @lv_paymthcod
      	
        SET @lv_rowcount = @lv_rowcount + 1
      END

		-- 4. actualizo cabecera
		IF @lv_errcod=0
			BEGIN
				UPDATE HLT_PRS_LQD_GRP
				SET HltPrsLqdGrpTxt = @lp_hltprslqdgrptxt,
					HltPrsLqdGrpTot = (select sum(e.hltlqdtot) FROM #tmp_lqd x inner join #tmp_prs2 e on e.buscod=x.buscod and e.prscod=x.prscod where x.buscod=@lp_buscod),
					cuscod = @lp_cuscod,
					custxt = @lv_custxt,
          paymthcod = @lp_paymthcod,
					docsts = @lp_docsts,
					upddte = getdate(),
					updusr = @lp_username
				WHERE buscod = @lp_buscod
				  and hltprslqdgrpcod = @lp_hltprslqdgrpcod
				SET @lv_errcod = @@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltprslqdgrpcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 3    -    V E R    L I Q U I D A C I O N    A U T O M A T I C A
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03' or @lp_sysoperation='13'

	BEGIN
		SET @lv_validop = 1

		SELECT g.*
		FROM hlt_prs_lqd_grp g
		WHERE g.buscod=@lp_buscod
		  and g.hltprslqdgrpcod =@lp_hltprslqdgrpcod

	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
    -- borro liquidaciones del grupo
		while (0 < ( select count(l.hltprslqdcod) 
                            FROM HLT_PRS_LQD l 
                            WHERE l.buscod=@lp_buscod
														  and l.deldte is null 
                              and l.HltPrsLqdGrpCod=@lp_hltprslqdgrpcod)) and @lv_errcod=0
    	BEGIN
      	select top 1 @lv_hltprslqdcod = l.hltprslqdcod
        FROM HLT_PRS_LQD l 
        WHERE l.buscod=@lp_buscod
          and l.HltPrsLqdGrpCod=@lp_hltprslqdgrpcod
          and l.deldte is null

      	EXEC HLT_PRS_LQD_DEF @lp_sysoperation='04_sp', @lp_username=@lp_username, @lp_buscod=@lp_buscod, @lp_hltprslqdcod=@lv_hltprslqdcod, 
                              @lp_errcod=@lv_errcod output, @lp_errtxt=@lv_errtxt output
                              
        SET @lv_rowcount = @lv_rowcount + 1
      END

		-- borro grupo
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM hlt_prs_lqd_grp 
				WHERE buscod=@lp_buscod
				  and HltPrsLqdGrpCod=@lp_hltprslqdgrpcod
				SET @lv_errcod=@@ERROR
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltprslqdgrpcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, p.paymthtxt '
			+ ' FROM hlt_prs_lqd_grp l '
			+ ' left join TSR_PAY_MTH p on p.buscod=l.buscod and p.paymthcod=l.paymthcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'l.hltprslqdgrpdte DESC, l.hltprslqdgrpstrdte DESC' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
			
	END



-- ------------------------------------------------------------------------
--   0 9    -    C O N T A B I L I Z A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='09' or @lp_sysoperation='19'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		-- 1. actualizo cabecera
		UPDATE HLT_PRS_LQD_GRP
		SET docsts = 'C'
		WHERE buscod=@lp_buscod
		  and HltPrsLqdGrpCod=@lp_hltprslqdgrpcod
		SET @lv_errcod=@@ERROR	

		-- 2. actualizo cabecera de liquidaciones manuales
		IF @lv_errcod=0
			BEGIN
      			select hltprslqdcod, ROW_NUMBER() OVER (ORDER BY hltprslqdcod) as rownumber
						into #tmp_prs_lqd
						from HLT_PRS_LQD
				WHERE buscod=@lp_buscod
				  and HltPrsLqdGrpCod=@lp_hltprslqdgrpcod
          and deldte is null
				while (@lv_rowcount <= (select count(rownumber) from #tmp_prs_lqd)) and @lv_errcod=0
				  BEGIN
					Select @lv_hltprslqdcod=hltprslqdcod from #tmp_prs_lqd where rownumber = @lv_rowcount
          
					exec HLT_PRS_LQD_DEF '09_sp', @lp_username, @lp_buscod, @lv_hltprslqdcod, null, @lp_hltprslqdgrpdte, null,
          @lp_hltprslqdgrpenddte,null,null,null,null,null,null,null,null,
            			@lv_errcod OUTPUT, @lv_errtxt OUTPUT, null
					SET @lv_rowcount = @lv_rowcount + 1
				END
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltprslqdgrpcod, @lv_errcod as errcod, (case when @lv_errtxt='' then dbo.GetErrorDescription(@lv_errcod) else @lv_errtxt end) as errtxt

	END



-- --------------------------------------------------------------------------------------------------
--   1 0    -    P R E - S E L E C C I O N    A U T O M A T I C A
-- --------------------------------------------------------------------------------------------------
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1

		-- armo la estructura de salida
		select	cast(null as nvarchar(20))	as buscod,
				cast(null as int)			as hltprslqdcod,
				cast(null as nvarchar(20))	as prscod,
				cast(null as nvarchar(82))	as prstxt,
				cast(null as int)			as prccndcod,
				cast(null as nvarchar(40))	as hltlqdsts,
				cast(null as nvarchar(10))	as paymthcod,
				cast(null as nvarchar(50))	as paymthtxt,
				cast(null as nvarchar(20))	as paymthcodext,
				cast(null as nvarchar(20))	as bnkcod,
				cast(null as nvarchar(40))	as bnktxt,
				cast(null as nvarchar(40))	as bnkaccchknum,
				cast(null as datetime)		as bnkaccchkdte,
				cast(null as decimal(13,3)) as hltlqdnwstot,
				cast(null as decimal(13,3)) as hltlqdcatpts,
				cast(null as decimal(13,3)) as hltlqdcatprc,
				cast(null as decimal(13,3)) as hltlqdhrsqty,
				cast(null as decimal(13,3)) as hltlqdsesqty,
				cast(null as decimal(13,3)) as hltlqdprc,
				cast(null as decimal(13,3)) as hltlqdtot,
				cast(null as nvarchar(1))	as errtyp,
				cast(null as nvarchar(4000))	as errtxt,
				cast(null as int) as cuscod,
				cast(null as nvarchar(80)) as custxt,
				cast(null as int) as price_control
		into #tmp_data

		-- transfiero los datos a la tabla de salida
		INSERT INTO #tmp_data
		SELECT e.buscod, 
				l.HltPrsLqdCod,
				e.prscod, 
				e.prstxt, 
				e.PrcCndCod,
				null as lqdsts,
				e.paymthcod, 
				e.PayMthTxt, 
				e.PayMthCodExt,
				(case when e.PayMthCodExt='TRF' then e.bnkcod else null end) as bnkcod, 
				(case when e.PayMthCodExt='TRF' then e.bnktxt else null end) as bnktxt,
				(case when e.PayMthCodExt='CHQ' then '*****' else null end) as bnkaccchknum,
				(case when e.PayMthCodExt='CHQ' then @lv_hltprslqdgrpdte else null end) as bnkaccchkdte,
				e.hltlqdnwstot,
				e.prspts,
				e.prscatprc,
				e.hltlqdhrsqty,
				e.hltlqdsesqty,
				e.hltlqdprc,
				e.hltlqdtot,
				'S' as errtyp,
				null as errtxt,
				e.cuscod, e.custxt,
				e.price_control
		FROM #tmp_prs2 e
		left join HLT_PRS_LQD l on l.buscod=e.buscod and l.PrsCod=e.prscod and l.HltPrsLqdGrpCod=isnull(@lp_hltprslqdgrpcod,0)  and l.deldte is null
			where e.buscod=@lp_buscod
			and l.HltPrsLqdCod is null or (not l.HltPrsLqdCod is null and HltPrsLqdGrpCod=@lp_hltprslqdgrpcod	)

		-- advertencias
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'Prestador sin categorizar. ' + char(10), errtyp='W' WHERE hltlqdprc=0 and hltlqdcatpts=0 and (hltlqdhrsqty>0 or hltlqdsesqty>0)
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'Prestador sin lista de precios o lista de precios no vigente. ' + char(10), errtyp='W' WHERE hltlqdprc=0 and not exists(SELECT * FROM GRL_DAT_PRC dp WHERE dp.buscod=@lp_buscod and dp.PrcCndCod = #tmp_data.PrcCndCod and GETDATE() between dp.PrcCndStrDte and dp.PrcCndEndDte)
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'No se registran horas/sesiones pendientes. ' + char(10), errtyp='W' WHERE hltlqdprc=0 and hltlqdhrsqty=0 and hltlqdsesqty=0
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'Prestador con horas/sesiones parciales sin lista de precios. ' + char(10), errtyp='W' WHERE price_control>0 and not hltlqdprc=0 and (hltlqdhrsqty>0 or hltlqdsesqty>0)
		
		-- errores
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'Prestador sin Banco/Cuenta de destino actualizados. ' + char(10), errtyp='E' WHERE isnull(paymthcodext,'')='TRF' and isnull(bnkcod,0)=0
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'Prestador sin medio de pago. ' + char(10), errtyp='E' WHERE isnull(paymthcod,'')=''
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'Prestador sin categorizar con horas/sesiones pendientes. ' + char(10), errtyp='E' WHERE hltlqdprc=0 and hltlqdcatpts=0 and (hltlqdhrsqty>0 or hltlqdsesqty>0) 
		UPDATE #tmp_data SET errtxt=isnull(errtxt,'')+'Prestador sin lista de precios o lista de precios no vigente, con horas/sesiones pendientes. ' + char(10), errtyp='E' WHERE hltlqdprc=0 and hltlqdcatprc=0 and (hltlqdhrsqty>0 or hltlqdsesqty>0)
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM #tmp_data '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'prstxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )

	END



-- --------------------------------------------------------------------------------------------------
--   2 1    -    L I S T A R   	L I Q U I D A C I O N E S   D E L   G R U P O
-- --------------------------------------------------------------------------------------------------
IF @lp_sysoperation = '21'
	BEGIN
		SET @lv_validop = 1
		
		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, l.hltprslqdtot as hltlqdtot, pm.paymthtxt '
			+ ' FROM hlt_prs_lqd l '
			+ ' left join tsr_pay_mth pm on pm.buscod=l.buscod and pm.paymthcod=l.paymthcod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and l.deldte is null '
			+ ' and l.hltprslqdgrpcod='+QUOTENAME(@lp_hltprslqdgrpcod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (case when isnull(dbo.GetTagValue('veword',@lp_vewcfg),'')='' then 'l.prstxt' else dbo.GetTagValue('veword',@lp_vewcfg) end) )
		execute( @lv_sql )
			
	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El codigo de operacion <%s> no es vÃƒÂ¡lido', 16, -1, @lp_sysoperation)
	END
GO
