USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_RSK_CTR_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_RSK_CTR_DEF]

@lp_sysoperation 	  as nvarchar(2),
@lp_username 		    as nvarchar(20),
@lp_buscod 			    as nvarchar(20) = null,	-- empresa

@lp_cnsrskctrcod    as int = null,   -- id
@lp_cnsrskctrcodext as nvarchar(20) = null, -- codigo externo
@lp_cnsrskctrtxt    as nvarchar(50)= null, -- descripcion
@lp_cnsrskctrtyp    as nvarchar(1)= null,   -- tipo / riesgo o control

@lp_docsts 			    as nvarchar(2)	= null,	-- estado

@lp_vewcfg			    as nvarchar(max)= null	-- config vista

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_sql as nvarchar(max)
DECLARE @lv_autmdlcod NVARCHAR(3)      = 'CNS'
DECLARE @lv_autprgcod NVARCHAR(3)      = 'RAC'



-----------------------------------------------------------------------
--   A U T O R I Z A C I O N												
-----------------------------------------------------------------------											
-----------------------------------------------------------------------
if @lp_sysoperation in ('01','02','03','04','08')
	begin
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-----------------------------------------------------------------------
--   V A L I D A C I O N E S												
-----------------------------------------------------------------------											
-----------------------------------------------------------------------
IF @lp_sysoperation in ('01','02','11','12')
	BEGIN
    -- CÃ³digo externo duplicado
    IF NOT ISNULL(@lp_cnsrskctrcodext, '') = ''
    BEGIN
        IF EXISTS (
            SELECT TOP 1 *
            FROM CNS_RSK_CTR
            WHERE buscod = @lp_buscod
              AND NOT cnsrskctrcod = ISNULL(@lp_cnsrskctrcod, 0)
              AND cnsrskctrcodext = @lp_cnsrskctrcodext
        )
        BEGIN
            SELECT NULL, 'E' AS errtyp, -1 AS errcod, 'DuplicateExtCode' AS errmsg
            RETURN
        END
    END
	END
  
  
  
  -------------------------------------------------------------------------- 
  --   0 1    -    C R E A R														
  -------------------------------------------------------------------------- 
IF @lp_sysoperation in ('01', '11')
  BEGIN
    SET @lv_validop = 1;

    BEGIN TRANSACTION

      BEGIN TRY
        INSERT INTO CNS_RSK_CTR (buscod, cnsrskctrcodext, cnsrskctrtxt, cnsrskctrtyp, docsts, cteusr, ctedte)
        VALUES (@lp_buscod, @lp_cnsrskctrcodext, @lp_cnsrskctrtxt, @lp_cnsrskctrtyp, @lp_docsts, @lp_username, getdate())

        SET @lp_cnsrskctrcod = SCOPE_IDENTITY()
      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        -- registra el log de error
        exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH

    COMMIT TRANSACTION
    SELECT @lp_cnsrskctrcod as cnsrskctrcod, 0 as errcod
  END



  -------------------------------------------------------------------------- 
  --   0 2    -    M O D I F I C A R 													
  -------------------------------------------------------------------------- 
IF @lp_sysoperation in ('02','12')
  BEGIN
    SET @lv_validop = 1;

    BEGIN TRANSACTION

      BEGIN TRY
        UPDATE CNS_RSK_CTR
          SET cnsrskctrcodext = @lp_cnsrskctrcodext,
              cnsrskctrtxt    = @lp_cnsrskctrtxt,
              cnsrskctrtyp    = @lp_cnsrskctrtyp,
              docsts          = @lp_docsts,
              updusr          = @lp_username,
              upddte          = GETDATE()
        WHERE buscod = @lp_buscod and cnsrskctrcod = @lp_cnsrskctrcod
      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH

    COMMIT TRANSACTION
    SELECT @lp_cnsrskctrcod as cnsrskctrcod, 0 as errcod
  END
  
  
  
  -------------------------------------------------------------------------- 
  --   0 3    -    V E R														
  -------------------------------------------------------------------------- 
IF @lp_sysoperation in ('03', '13')
  BEGIN
        SET @lv_validop = 1;
        SELECT CnsRskCtrCod,CnsRskCtrCodExt,CnsRskCtrTxt,CnsRskCtrTyp,DocSts,CteDte,CteUsr,UpdDte,UpdUsr
        FROM CNS_RSK_CTR
        WHERE BusCod = @lp_buscod and CnsRskCtrCod = @lp_cnsrskctrcod;
        RETURN;
  END
  
  
  
  -------------------------------------------------------------------------- 
  --   0 4    -    B O R R A R														
  -------------------------------------------------------------------------- 
IF @lp_sysoperation in ('04','14')
  BEGIN
    SET @lv_validop = 1;

    BEGIN TRANSACTION

      BEGIN TRY
        DELETE FROM CNS_RSK_CTR
        WHERE buscod = @lp_buscod and cnsrskctrcod = @lp_cnsrskctrcod
      END TRY
      BEGIN CATCH
        ROLLBACK TRANSACTION
        exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + cast(ERROR_LINE() as nvarchar(20)) as errtch
        RETURN
      END CATCH

    COMMIT TRANSACTION
    SELECT @lp_cnsrskctrcod, 0 AS errcod
  END
  
  
  
  -------------------------------------------------------------------------- 
  --   0 8    -    L I S T A R 												
  -------------------------------------------------------------------------- 
IF @lp_sysoperation in ('08','18')
  BEGIN
    SET @lv_validop = 1;

    BEGIN TRY
      SET @lv_sql = dbo.getSQLSentence(@lp_vewcfg,
        'cnsrskctrcod, cnsrskctrcodext, cnsrskctrtxt, cnsrskctrtyp, docsts',
        'CNS_RSK_CTR',
        'buscod=' + QUOTENAME(@lp_buscod, ''''),
        'cnsrskctrtxt',default)
      execute(@lv_sql)
    END TRY
    BEGIN CATCH
      exec SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod, @lv_sql
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
  END
  


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O 
	BEGIN
  	BEGIN TRY
			RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
    END TRY
    BEGIN CATCH
    	EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod
      SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE()+' '+cast(ERROR_LINE() as nvarchar(20)) as errtch
      RETURN
    END CATCH
	END
GO
