USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_GRP_PER_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SYS_SEC_GRP_PER_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20) = null,	/* empresa */
@lp_grpcod			as nvarchar(20)	= null,	/* grupo */
@lp_mdlcod			as nvarchar(05)	= null,	/* cod modulo */
@lp_prgcod			as nvarchar(05)	= null,	/* cod programa */
@lp_oprcod			as nvarchar(05)	= null,	/* cod operacion */
@lp_usrpertyp		as nvarchar(01)	= null	/* tipo de permiso */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		/* verifico si la operación existe */
		IF (select count(*) from sys_sec_per where buscod=@lp_buscod and grpcod=@lp_grpcod and usrcod='**' and mdlcod=@lp_mdlcod and prgcod=@lp_prgcod and oprcod=@lp_oprcod)=0
			BEGIN

				INSERT INTO sys_sec_per (BusCod, GrpCod, UsrCod, MdlCod, PrgCod, OprCod, UsrPerTyp)
				VALUES ( @lp_buscod, @lp_grpcod, '**', @lp_mdlcod, @lp_prgcod, @lp_oprcod, @lp_usrpertyp)
				SET @lv_errcod=@@ERROR
			
				/* si no existe el permiso del módulo lo agrego */
				IF @lv_errcod=0
					BEGIN
						IF (select count(*) from sys_sec_per where buscod=@lp_buscod and grpcod=@lp_grpcod and usrcod='**' and mdlcod=@lp_mdlcod and prgcod='**' and oprcod='**')=0
							BEGIN						
								INSERT INTO sys_sec_per (BusCod, GrpCod, UsrCod, MdlCod, PrgCod, OprCod, UsrPerTyp)
								VALUES ( @lp_buscod, @lp_grpcod, '**', @lp_mdlcod, '**', '**', @lp_usrpertyp)
								SET @lv_errcod=@@ERROR
							END
					END
			END
		ELSE
			BEGIN
				UPDATE sys_sec_per 
				SET UsrPerTyp = @lp_UsrPerTyp
				WHERE buscod = @lp_buscod
				and grpcod = @lp_grpcod
				and usrcod = '**'
				and mdlcod = @lp_mdlcod
				and prgcod = @lp_prgcod
				and oprcod = @lp_oprcod
				SET @lv_errcod=@@ERROR
			END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM sys_sec_per 
		WHERE buscod=@lp_buscod
		  and grpcod = @lp_grpcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		DELETE 
		FROM sys_sec_per
		WHERE buscod = @lp_buscod
		  and grpcod = @lp_grpcod
		  and usrcod = '**'
		  and mdlcod = @lp_mdlcod
		  and prgcod = @lp_prgcod
		  and oprcod = @lp_oprcod
		SET @lv_errcod=@@ERROR
		
		/* si borro el último id de operación, borro id del módulo */
		IF @lv_errcod=0
			BEGIN
				IF (select count(*) from sys_sec_per where buscod=@lp_buscod and grpcod=@lp_grpcod and usrcod='**' and mdlcod=@lp_mdlcod and prgcod='**' and oprcod='**')=0
					BEGIN
						DELETE 
						FROM sys_sec_per
						WHERE buscod=@lp_buscod 
						  and grpcod=@lp_grpcod
						  and usrcod='**'  
						  and mdlcod=@lp_mdlcod 
						  and prgcod='**' 
						  and oprcod='**'
						SET @lv_errcod=@@ERROR
					END
			END

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_oprcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		SELECT o.buscod, o.grpcod, o.usrcod, o.mdlcod, o.prgcod, o.oprcod, o.usrpertyp
		FROM sys_sec_per o
		WHERE o.buscod = @lp_buscod
		  and o.grpcod = @lp_grpcod
		  and o.usrcod = '**'

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
