USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HLT_CAT_VAL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HLT_CAT_VAL_DEF]

@lp_sysoperation 	as nvarchar(2),				/* operación */
@lp_username 		as nvarchar(20),			/* operación - usuario */
@lp_buscod			as nvarchar(20) = null,		/* empresa */
@lp_hltcatvalcod	as int			= null,		/* ID valor */
@lp_hltcatcod		as int			= null,		/* ID categoria */
@lp_hltcatval		as nvarchar(50) = null,		/* valor	*/
@lp_hltcatfrm		as nvarchar(10)	= null,		/* desde */
@lp_hltcatto		as nvarchar(10) = null,		/* hasta */
@lp_hltcatptr		as nvarchar(20) = null,		/* pattern (patrón) */
@lp_hltcatpts		as nvarchar(10)	= null,		/* puntos */
@lp_docsts			as nvarchar(2)	= null,		/* estado */

@lp_vewcfg			as nvarchar(max)= null		/* configuración vista */

AS

SET NOCOUNT ON

DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

DECLARE @lv_sql as nvarchar(max)




/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO hlt_cat_val ( buscod, hltcatcod, hltcatval, hltcatfrm, hltcatto, hltcatpts, hltcatptr, docsts, ctedte, cteusr )
		VALUES ( @lp_buscod, @lp_hltcatcod, @lp_hltcatval, @lp_hltcatfrm, @lp_hltcatto, @lp_hltcatpts, @lp_hltcatptr, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hltcatvalcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltcatvalcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		UPDATE hlt_cat_val
		SET hltcatval = @lp_hltcatval,
			hltcatfrm = @lp_hltcatfrm,
			hltcatto  = @lp_hltcatto,
			hltcatpts = @lp_hltcatpts,
			hltcatptr = @lp_hltcatptr,
			docsts = @lp_docsts,
			upddte	  = getdate(),
			updusr	  = @lp_username
		WHERE buscod=@lp_buscod
		  and hltcatcod=@lp_hltcatcod
		  and hltcatvalcod=@lp_hltcatvalcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltcatvalcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT * 
		FROM hlt_cat_val
		WHERE buscod = @lp_buscod
		  and hltcatcod = @lp_hltcatcod
		  and hltcatvalcod = @lp_hltcatvalcod

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R     V A L O R E S								*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		DELETE 
		FROM hlt_cat_val
		WHERE buscod = @lp_buscod
		  and hltcatcod = @lp_hltcatcod
		  and hltcatvalcod=@lp_hltcatvalcod			
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_hltcatvalcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' * '
			+ ' FROM hlt_cat_val '
			+ ' WHERE buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when isnull(@lp_hltcatcod,'')='' then '' else ' and hltcatcod='+QUOTENAME(@lp_hltcatcod,'''') end)
 			+ ' ' + dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END


GO
