USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MAT_SER_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[STK_MAT_SER_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_matsercod		as int			= null,				-- id 
@lp_matsercodext	as nvarchar(20)	= null,	-- codigo - nÃºmero de serie 
@lp_matcod			as int			= null,				-- id material 
@lp_matbchcod		as int			= null,				-- id lote 
@lp_stkobjstrdte	as nvarchar(14)	= null,	-- inicio garantia cliente 
@lp_stkobjenddte	as nvarchar(14)	= null,	-- fin garantia cliente 
@lp_supcod			as int			= null,				-- id proveedor 
@lp_supwrtstrdte	as nvarchar(14)	= null,	-- inicio garantÃ­a proveedor 
@lp_supwrtenddte	as nvarchar(14)	= null,	-- fin garantÃ­a proveedor 
@lp_docsts 			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)= null,		-- configuraciÃ³n de vista 

@lp_sysdocclscod	as int			= null, 		-- id clase documento 
@lp_stkmatseratr	as nvarchar(max)= null	-- atributos 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0

DECLARE @lv_errcod INT = 0

declare @lv_stkobjstrdte as datetime = dbo.ConvertDate( @lp_stkobjstrdte )

declare @lv_stkobjenddte as datetime = dbo.ConvertDate( @lp_stkobjenddte )

declare @lv_supwrtstrdte as datetime = dbo.ConvertDate( @lp_supwrtstrdte )

declare @lv_supwrtenddte as datetime = dbo.ConvertDate( @lp_supwrtenddte )

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)

declare @lv_srcobjtxt as nvarchar(500)
declare @lv_dstobjtxt as nvarchar(500)
declare @lv_matuntcod as nvarchar(5)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'STK'
		DECLARE @lv_autprgcod as nvarchar(3) = 'SER'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end




-- ------------------------------------------------------------------------- 
--   E R R O R E S													
-- ------------------------------------------------------------------------- 
--	-1	Material invÃ¡lido.										
--	-2	Proveedor invÃ¡lido.											
--	-3	Cliente invÃ¡lido.											
--	-4	Almacen invÃ¡lido.											
--	-5	Codigo existente.											
--	-6	No se puede borrar el numero de serie. Stock pendiente.		
--	-7	GarantÃ­a de Cliente. Fecha inicio debe ser menor que fecha fin.		
--	-8	GarantÃ­a de Proveedor. Fecha inicio debe ser menor que fecha fin.	
--	-9	Destino invÃ¡lido.											
-- ------------------------------------------------------------------------


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation IN ('01', '11', '02', '12')
	BEGIN
	
		-- valido material 
		IF not exists(select top 1 * from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)
			BEGIN
				SELECT null, -1 as errcod, 'Material invÃ¡lido.' as errtxt
				RETURN
			END


		-- proveedor 
		IF not isnull(@lp_supcod,0)=0
			IF not exists(select top 1 * from buy_sup where buscod=@lp_buscod and supcod=@lp_supcod)
				BEGIN
					SELECT null, -3 as errcod, 'Proveedor invÃ¡lido.' as errtxt
					RETURN
				END

		-- valido codigo duplicado 
		IF exists(select top 1 * from stk_mat_ser where buscod=@lp_buscod and matcod=@lp_matcod and not matsercod=@lp_matsercod and matsercodext=@lp_matsercodext and DelDte is null)
			BEGIN
				SELECT null, -2 as errcod, 'NÃºmero de serie existente.' as errtxt
				RETURN
			END

		-- garantÃ­a de cliente. fecha inicio <= fecha fin 
		IF not @lv_stkobjstrdte is null and not @lv_stkobjenddte is null
			IF @lv_stkobjstrdte > @lv_stkobjenddte
				BEGIN
					SELECT null, -8 as errcod, 'GarantÃ­a de Cliente. Fecha inicio debe ser menor que fecha fin.' as errtxt
					RETURN
				END
			
		-- garantÃ­a de proveedor. fecha inicio <= fecha fin 
		IF not @lv_supwrtstrdte is null and not @lv_supwrtenddte is null
			IF @lv_supwrtstrdte > @lv_supwrtenddte
				BEGIN
					SELECT null, -9 as errcod, 'GarantÃ­a de Proveedor. Fecha inicio debe ser menor que fecha fin.' as errtxt
					RETURN
				END

	END
	
	
	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1   

		set @lv_matuntcod = (select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

		BEGIN TRAN
		
		INSERT INTO STK_MAT_SER (buscod, matsercodext, matcod, matbchcod, stkobjstrdte, stkobjenddte, 
			supcod, supwrtstrdte, supwrtenddte, sysdocclscod, stkmatseratr, 
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_matsercodext, @lp_matcod, @lp_matbchcod, @lv_stkobjstrdte, @lv_stkobjenddte, 
			@lp_supcod, @lv_supwrtstrdte, @lv_supwrtenddte, @lp_sysdocclscod, @lp_stkmatseratr,
			@lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_matsercod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matsercod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		set @lv_matuntcod = (select top 1 matuntcod from stk_mat where buscod=@lp_buscod and matcod=@lp_matcod)

		BEGIN TRAN
				
		UPDATE STK_MAT_SER
		SET	matsercodext = @lp_matsercodext,
			matbchcod = @lp_matbchcod,
			stkobjstrdte = @lv_stkobjstrdte,
			stkobjenddte = @lv_stkobjenddte,
			supcod = @lp_supcod,
			supwrtstrdte = @lv_supwrtstrdte,
			supwrtenddte = @lv_supwrtenddte,
			stkmatseratr = @lp_stkmatseratr,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and matsercod = @lp_matsercod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matsercod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
			
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1   

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.*, '
			+ ' convert(varchar,s.stkobjstrdte,103) as stkobjstrdtecnv, convert(varchar,s.stkobjenddte,103) as stkobjenddtecnv, ' 
			+ ' convert(varchar,s.supwrtstrdte,103) as supwrtstrdtecnv, convert(varchar,s.supwrtenddte,103) as supwrtenddtecnv, ' 
			+ ' ms.stkobjtyp, ms.stkobjcod, a.adrnme001 as stkobjtxt, ms.stkcntcod, scnt.cnttxt as stkcnttxt, '
			+ ' m.mattxt, m.matuntcod, mb.matbchcodext, convert(varchar,mb.matbchduedte,103) as matbchduedtecnv, bs.suptxt, dc.sysdocclstxt '
			
			+ ' FROM stk_mat_ser s '
			+ ' left join stk_mat m on m.buscod=s.buscod and m.matcod=s.matcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod '
			+ ' left join stk_mat_bch mb on mb.buscod=s.buscod and mb.matbchcod=s.matbchcod ' 
			+ ' left join buy_sup bs on bs.buscod=s.buscod and bs.supcod=s.supcod '

			+ ' left join stk_mat_stk ms on ms.buscod=s.buscod and ms.matcod=s.matcod and ms.matsercod=s.matsercod and not ms.matqty=0 '
			+ ' left join grl_dat_adr a on a.buscod=ms.buscod and a.adrsrctyp=ms.stkobjtyp and a.adrsrccod=cast(ms.stkobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt scnt on scnt.buscod=ms.buscod and scnt.cntcod=ms.stkcntcod '
			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod, '''')
			+   ' and s.matsercod='+QUOTENAME(@lp_matsercod,'''')
			+   ' and s.deldte is null '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' s.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )
		execute( @lv_sql )
				  
	END


-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1

		IF exists(select top 1 * from stk_mov_doc d inner join stk_mov_doc_mat dm on dm.buscod=d.buscod and dm.stkmovdoccod=d.stkmovdoccod where d.buscod=@lp_buscod and dm.matcod=@lp_matcod and dm.matsercod=@lp_matsercod and not d.docsts='C')
			BEGIN
				SELECT null, -41 as errcod, 'No se puede borrar el nro de serie. Existen movimientos pendientes.' as errtxt
				RETURN
			END

		IF exists(select top 1 * from stk_mat_stk where buscod=@lp_buscod and matsercod=@lp_matsercod and matqty>0)
			BEGIN
				SELECT null, -42 as errcod, 'No se puede borrar el nro de serie. Existe stock asociado.' as errtxt
				RETURN
			END

		BEGIN TRAN

		-- borro registro de stock 
		delete from stk_mat_stk
		where buscod=@lp_buscod
		  and matsercod=@lp_matsercod
		SET @lv_errcod=@@ERROR

		-- marco nÃºmero de serie como borrado 
		IF @lv_errcod=0
			BEGIN
				UPDATE STK_MAT_SER
				SET docsts = 'I',
					deldte = getdate(),
					delusr = @lp_username
				WHERE buscod=@lp_buscod
				  and matsercod = @lp_matsercod
				SET @lv_errcod=@@ERROR
			END
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_matsercod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
		
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1

		-- stk_mat_ser_def '08','mdominguez','temasis_hlt' 

		set @lv_flt = dbo.GetVewTag( '', dbo.GetTagValue('vewflt', @lp_vewcfg) )
		set @lv_flt = replace(@lv_flt, 'stkobjtxt', 'a.adrnme001')
		set @lv_flt = replace(@lv_flt, 'stkcnttxt', 'scnt.cnttxt')

		set @lv_ord = dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN ' s.ctedte DESC ' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END) )

		set @lv_sql = 'SELECT  '
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' s.*, '
			+ ' convert(varchar,s.stkobjstrdte,103) as stkobjstrdtecnv, convert(varchar,s.stkobjenddte,103) as stkobjenddtecnv, ' 
			+ ' convert(varchar,s.supwrtstrdte,103) as supwrtstrdtecnv, convert(varchar,s.supwrtenddte,103) as supwrtenddtecnv, ' 
			+ ' ms.stkobjtyp, ms.stkobjcod, a.adrnme001 as stkobjtxt, ms.stkcntcod, scnt.cnttxt as stkcnttxt, '
			+ ' m.mattxt, m.matuntcod, m.matcodext, mb.matbchcodext, mb.matbchduedte, convert(varchar,mb.matbchduedte,103) as matbchduedtecnv, bs.suptxt, so.objtyptxt as stkobjtyptxt, '
			+ ' m.matusebch, m.matuseser, dc.sysdocclstxt '

			+ ' FROM stk_mat_ser s '
			+ ' left join stk_mat m on m.buscod=s.buscod and m.matcod=s.matcod '
			+ ' inner join sys_doc_cls dc on dc.buscod=s.buscod and dc.sysdocclscod=s.sysdocclscod '

			+ ' left join stk_mat_bch mb on mb.buscod=s.buscod and mb.matbchcod=s.matbchcod ' 
			+ ' left join buy_sup bs on bs.buscod=s.buscod and bs.supcod=s.supcod '

			+ ' left join stk_mat_stk ms on ms.buscod=s.buscod and ms.matcod=s.matcod and ms.matsercod=s.matsercod and not ms.matqty=0 '
			+ ' left join sys_obj_typ so on so.objtypcod=ms.stkobjtyp '
			+ ' left join grl_dat_adr a on a.buscod=ms.buscod and a.adrsrctyp=ms.stkobjtyp and a.adrsrccod=cast(ms.stkobjcod as nvarchar(20)) '
			+ ' left join grl_dat_cnt scnt on scnt.buscod=ms.buscod and scnt.cntcod=ms.stkcntcod '

			+ ' WHERE s.buscod='+QUOTENAME(@lp_buscod, '''')
			+ ' and s.deldte is null '
		execute( @lv_sql + @lv_flt + @lv_ord )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
