USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GAS_SLN_TBL_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GAS_SLN_TBL_DEF] 

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),				-- empresa
@lp_slntblcod		as int				= null,		-- id
@lp_slncod			as int				= null,		-- id salon
@lp_slntblcodext	as nvarchar(20)		= null,		-- mesa
@lp_slntblqty		as int				= null,		-- cantidad
@lp_docsts			as nvarchar(02)		= null,		-- estado
@lp_vewcfg			as nvarchar(max)	= null		-- config vista

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)


-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO GAS_SLN_TBL (buscod, slncod, slntblcodext, slntblqty, 
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_slncod,@lp_slntblcodext,@lp_slntblqty,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_slntblcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slntblcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
				
		UPDATE GAS_SLN_TBL
		SET slntblcodext=@lp_slntblcodext,
			slntblqty=@lp_slntblqty,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE buscod=@lp_buscod
		  and slntblcod=@lp_slntblcod
		SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_slntblcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R	(grupal)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT t.*  
		 FROM GAS_SLN_TBL t 
		WHERE t.buscod=@lp_buscod
		  and t.slntblcod=@lp_slntblcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE FROM GAS_SLN_TBL
		WHERE buscod = @lp_buscod
		  and slntblcod = @lp_slntblcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slntblcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
		
	END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R	(grupal)
-- ------------------------------------------------------------------------
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' t.* '
			+ ' FROM GAS_SLN_TBL t '
			+ ' WHERE t.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END



IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END
GO
