USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[STK_MOV_PRT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[STK_MOV_PRT_DEF]

@lp_sysoperation 		as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod					as nvarchar(20),
@lp_stkmovprtcod		as int					= null,	-- codigo 
@lp_stkmovprtcodext	as nvarchar(05) = null,	-- codigo externo 
@lp_stkmovprttxt		as nvarchar(40)	= null,	-- descripcion 
@lp_docsts 					as nvarchar(02)	= null,	-- estado 

@lp_vewcfg					as nvarchar(max)=null	-- configuración ede la vista 

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Codigo existente.													
--	-2	No se puede borrar. Movimientos asociados.			
-- ------------------------------------------------------------------------ 



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1   
				 
		BEGIN TRAN
		
		INSERT INTO STK_MOV_PRT (buscod, stkmovprtcodext, stkmovprttxt, docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_stkmovprtcodext, @lp_stkmovprttxt, @lp_docsts, @lp_username, getdate())
		SET @lv_errcod=@@ERROR
		SET @lp_stkmovprtcod=@@IDENTITY
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_stkmovprtcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		UPDATE STK_MOV_PRT 
		SET	stkmovprtcodext = @lp_stkmovprtcodext,
			stkmovprttxt = @lp_stkmovprttxt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and stkmovprtcod = @lp_stkmovprtcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_stkmovprtcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1   
		 
		SELECT * 
		FROM STK_MOV_PRT
		WHERE buscod=@lp_buscod
		  and stkmovprtcod = @lp_stkmovprtcod
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		IF EXISTS (select top 1 * from sls_ord where buscod=@lp_buscod and stkmovprtcod=@lp_stkmovprtcod)
			BEGIN
				SELECT null, -2 as errcod, 'No se puede borrar. Pedidos asociados.' as errtxt
				RETURN
			END
		
		BEGIN TRAN
		
		DELETE 
		FROM STK_MOV_PRT
		WHERE buscod=@lp_buscod
		  and stkmovprtcod = @lp_stkmovprtcod
		SET @lv_errcod=@@ERROR
				
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_stkmovprtcod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END


-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' * ', 
			' STK_MOV_PRT ', 
			' buscod='+QUOTENAME(@lp_buscod,'''')
			+ (case when not isnull(@lp_docsts,'')='' then ' and docsts='+QUOTENAME(@lp_docsts,'''') else '' end), 
			' stkmovprtcod ', default )
		execute( @lv_sql )

	END
	

IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El código de operación <%s> no es válido', 16, -1, @lp_sysoperation)
	END

GO
