USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SLS_PRC_VER_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SLS_PRC_VER_DEF]

@lp_sysoperation 		as nvarchar(2),
@lp_username 				as nvarchar(20),
@lp_buscod					as nvarchar(20),
@lp_slsprclstcod		as int					= null,	-- id lista 
@lp_slsprclstvercod	as int					= null,	-- id version 
@lp_slsprclststrdte	as nvarchar(14)	= null,	-- fecha inicio 
@lp_slsprclstenddte	as nvarchar(14)	= null,	-- fecha fin 
@lp_docsts					as nvarchar(2)	= null,	-- estado 

@lp_vewcfg					as nvarchar(max)=null,	-- configuraciÃ³n vista 

@lp_slsprclstancsrc	as int					= null,	-- anclaje - origen (1-costo/2-precios/3-manual) 
@lp_slsprclstancprccod	as int			= null,	-- anclaje - ID lista de precios 
@lp_slsprclstancvar	as bigint				= null,	-- anclaje - variacion % 
@lp_slsprclstancupd	as int					= null,	-- anclaje - actualizaciÃ³n (1-manual/2-automatico) 
@lp_slsprclstanctyp	as int					= null	-- anclaje - tipo (1-limitada/2-total)

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_errtxt as nvarchar(max) = ''
declare @lv_sql as nvarchar(max)

declare @lv_prccndcod as int
declare @lv_slsprclststrdte as datetime = dbo.ConvertDate( @lp_slsprclststrdte )
declare @lv_slsprclstenddte as datetime = dbo.ConvertDate( @lp_slsprclstenddte )
declare @lv_slsprclstancvar as decimal(7,3) = dbo.ConvertNumber( @lp_slsprclstancvar, 3 )
declare @lv_srcobjcod001 as nvarchar(max)
declare @lv_slsprclstvercod_tmp as int
declare @lv_slsprclststrdte_tmp as datetime
declare @lv_slsprclstenddte_tmp as datetime




-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--	-1	Ya existe otra versiÃ³n con la misma fecha.							
--	-2	Debe indicar tipo de actualizaciÃ³n de anclaje.						
--	-3	Debe indicar la lista de precios de anclaje.						
--	-4	No puede eliminar la unica version existente.						
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='04'
	begin
				
		-- valido que no se solapen las fechas 
		if exists(select top 1 * from sls_prc_ver where buscod=@lp_buscod 
													and slsprclstcod=@lp_slsprclstcod 
													and not slsprclstvercod=@lp_slsprclstvercod
													and slsprclststrdte=@lv_slsprclstenddte )
			begin
				select null, -1 as errcod, 'Ya existe otra validez con la misma fecha de inicio.' as errtxt
				return
			end

		-- si no hay anclaje, vacÃ­o el resto de los campos 
		if isnull(@lp_slsprclstancsrc,0)=0
			begin
				set @lp_slsprclstancprccod = null
				set @lv_slsprclstancvar = null
				set @lp_slsprclstancupd = null
			end
		-- si se indico origen de anclaje (prclstancsrc), actualizaciÃ³n (prclstancupd) es obligatorio 
		if not isnull(@lp_slsprclstancsrc,0)=0 and isnull(@lp_slsprclstancupd,0)=0 and not @lp_slsprclstancsrc=3
			begin
				select null, -2 as errcod, 'Debe indicar tipo de actualizaciÃ³n de anclaje.' as errtxt
				return
			end
			
		-- si el origen del anclaje (prclstancsrc) es precios (2), lista de precios es obligatorio (prclstancprccod) 
		if isnull(@lp_slsprclstancsrc,0)=2 and isnull(@lp_slsprclstancprccod,-1)=-1
			begin
				select null, -3 as errcod, 'Debe indicar la lista de precios de anclaje.' as errtxt
				return
			end
		
		-- si el origen es costo - lista de precios no se utiliza 
		if @lp_slsprclstancsrc=1
			set @lp_slsprclstancprccod = null

	end



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		-- al agregar una version nueva, se limita la vigencia de la versiÃ³n anterior
		set @lv_slsprclstvercod_tmp =(select top 1 slsprclstvercod 
																	from sls_prc_ver 
																	where buscod=@lp_buscod 
																		and slsprclstcod=@lp_slsprclstcod	
																		and slsprclststrdte<@lv_slsprclststrdte
																	order by slsprclstenddte desc)
		set @lv_slsprclstenddte_tmp = dateadd(day, -1, @lv_slsprclststrdte)
    
		-- si no existe versiÃ³n posterior, la fecha de fin se determina como 31.12.9999
		select top 1 @lv_slsprclstenddte=dateadd(day,-1,slsprclststrdte)
																	from sls_prc_ver 
																	where buscod=@lp_buscod 
																		and slsprclstcod=@lp_slsprclstcod	
																		and slsprclststrdte>@lv_slsprclststrdte
																	order by slsprclststrdte
		if @lv_slsprclstenddte is null
			set @lv_slsprclstenddte = '9999-12-31'

		BEGIN TRAN
		
		-- creo nueva version
		INSERT INTO SLS_PRC_VER (buscod, slsprclstcod, slsprclststrdte, slsprclstenddte, docsts, ctedte, cteusr, slsprclstancsrc, slsprclstancprccod, slsprclstancvar, slsprclstancupd, slsprclstanctyp )
		VALUES (@lp_buscod, @lp_slsprclstcod, @lv_slsprclststrdte, @lv_slsprclstenddte, @lp_docsts, getdate(), @lp_username, @lp_slsprclstancsrc, @lp_slsprclstancprccod, @lv_slsprclstancvar, @lp_slsprclstancupd, @lp_slsprclstanctyp )
		SET @lv_errcod = @@ERROR
		SET @lp_slsprclstvercod = @@IDENTITY
		
		-- actualizo version anterior
		if @lv_errcod=0 and not isnull(@lv_slsprclstvercod_tmp,0)=0 
			begin
				UPDATE SLS_PRC_VER 
				SET slsprclstenddte = @lv_slsprclstenddte_tmp
				where buscod=@lp_buscod
				  and slsprclstcod=@lp_slsprclstcod
					and slsprclstvercod=@lv_slsprclstvercod_tmp
				SET @lv_errcod = @@ERROR
			end
		--si es con anclaje a precios total con desvio, copio los precios de la ultima version de la lista de precios de origen
    IF @lv_errcod=0 and isnull(@lp_slsprclstancsrc,0)=2 AND isnull(@lp_slsprclstanctyp,0)=2
      BEGIN
        INSERT INTO sls_prc_lst (buscod, slsprclstcod, slsprclstvercod, slsprcsrctyp, slsprcsrccod, slsprcqty, slsprcuntcod, slsprcminval, slsprcmaxval, slsprcminrng, slsprcmaxrng, slsprc, slsprcref, slsprcvar, curcod, docsts, ctedte, cteusr)
        (
        select @lp_buscod, @lp_slsprclstcod, @lp_slsprclstvercod, slsprcsrctyp, slsprcsrccod, slsprcqty, slsprcuntcod, slsprcminval, slsprcmaxval, slsprcminrng, slsprcmaxrng, (slsprc*(1+(@lv_slsprclstancvar/100))), slsprc, @lv_slsprclstancvar, curcod, @lp_docsts, getdate(), @lp_username
        from sls_prc_lst where buscod=@lp_buscod and slsprclstcod= @lp_slsprclstancprccod and slsprclstvercod in (select top(1)  slsprclstvercod from sls_prc_ver where buscod=@lp_buscod and slsprclstcod= @lp_slsprclstancprccod order by slsprclststrdte desc)
        )
        SET @lv_errcod = @@ERROR
      END
      
      --si es con anclaje a precios total con desvio, copio los precios de costos
    IF @lv_errcod=0 and isnull(@lp_slsprclstancsrc,0)=1 AND isnull(@lp_slsprclstanctyp,0)=2
      BEGIN
        INSERT INTO sls_prc_lst (buscod, slsprclstcod, slsprclstvercod, slsprcsrctyp, slsprcsrccod, slsprcqty, slsprcuntcod, slsprcminval, slsprcmaxval, slsprcminrng, slsprcmaxrng, slsprc, slsprcref, slsprcvar, curcod, docsts, ctedte, cteusr)
        (
        select @lp_buscod, @lp_slsprclstcod, @lp_slsprclstvercod, 'STK_MAT', m.MatCod, mc.matcstqty, mc.matcstuntcod, null, null, null, null, (mc.MatCst*(1+(@lv_slsprclstancvar/100))), mc.MatCst, @lv_slsprclstancvar, mc.matcstcurcod, @lp_docsts, getdate(), @lp_username
        from STK_MAT_CST mc
				inner join stk_mat m on m.buscod=mc.BusCod and m.matcod=mc.matcod
				where mc.buscod=@lp_buscod 
			  and isnull(mc.matcstqty,0)>0
			  and not isnull(mc.matcstuntcod,'')=''
			  and isnull(mc.MatCst,0)>0
			  and not isnull(mc.matcstcurcod,'')=''
        )
        SET @lv_errcod = @@ERROR
      END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsprclstvercod, @lv_errcod as errcod, dbo.ConvertDate( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		-- no se permite modificar la fecha de inicio de una version una vez grabado

		BEGIN TRAN
		
		UPDATE SLS_PRC_VER 
		SET	slsprclstancsrc = @lp_slsprclstancsrc,
			slsprclstancprccod=@lp_slsprclstancprccod,
			slsprclstancvar = @lv_slsprclstancvar,
			slsprclstancupd = @lp_slsprclstancupd,
			slsprclstanctyp = @lp_slsprclstanctyp,
			docsts		= @lp_docsts,
			upddte		= getdate(),
			updusr		= @lp_username
		WHERE buscod=@lp_buscod
		  and slsprclstcod = @lp_slsprclstcod
		  and slsprclstvercod = @lp_slsprclstvercod
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsprclstvercod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT	v.*, p.slsprclsttxt, ap.slsprclsttxt as slsprclstancprctxt
		FROM	SLS_PRC p 
			inner join SLS_PRC_VER v on v.buscod=p.buscod and v.slsprclstcod=p.slsprclstcod
			left join sls_prc ap on ap.buscod=v.buscod and ap.slsprclstcod=v.slsprclstancprccod
		WHERE   p.buscod=@lp_buscod
			and p.slsprclstcod = @lp_slsprclstcod
			and v.slsprclstvercod = @lp_slsprclstvercod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		-- si borro una version, la fecha de fin de validez de la version anterior se actualiza
		set @lv_slsprclstvercod_tmp =(select top 1 slsprclstvercod 
																	from sls_prc_ver 
																	where buscod=@lp_buscod 
																		and slsprclstcod=@lp_slsprclstcod	
																		and slsprclstenddte<(select top 1 slsprclststrdte from sls_prc_ver where buscod=@lp_buscod and slsprclstcod=@lp_slsprclstcod and slsprclstvercod=@lp_slsprclstvercod)
																	order by slsprclstenddte desc)
		
		select top 1 @lv_slsprclstenddte_tmp=slsprclstenddte, @lv_slsprclstenddte_tmp=slsprclstenddte
		from sls_prc_ver 
		where buscod=@lp_buscod 
		  and slsprclstcod=@lp_slsprclstcod 
			and slsprclstvercod=@lp_slsprclstvercod

		BEGIN TRAN

		-- borro precios de la versiÃ³n
		DELETE 
		FROM SLS_PRC_LST 
		WHERE buscod=@lp_buscod 
		  and slsprclstcod=@lp_slsprclstcod 
		  and slsprclstvercod=@lp_slsprclstvercod
		SET @lv_errcod = @@ERROR

		-- borro registros de precios (preios espejados)
		if @lv_errcod=0
			begin
				set @lv_prccndcod = (select dbo.GetTagValue('prccndcod',dc.sysdocclsatr) from SLS_PRC p inner join SYS_DOC_CLS dc on dc.BusCod=p.BusCod and dc.SysDocClsCod=p.SysDocClsCod where p.BusCod=@lp_buscod and p.SlsPrcLstCod=@lp_slsprclstcod)
				set @lv_srcobjcod001 = CAST(@lp_slsprclstcod as nvarchar(10))+';'+CAST(@lp_slsprclstvercod as nvarchar(10))+';%'
				if not ISNULL(@lv_prccndcod,0)=0
					EXECUTE GRL_DAT_PRC_DEF '14_sp', @lp_username,@lp_buscod,
							null, 'SYS_PCN', @lv_srcobjcod001,'','0','0',@lv_prccndcod,null,null,
							null,null,null,null,@lp_docsts, null, null,
							@lv_errcod OUTPUT,@lv_errtxt OUTPUT,null,null,null
			end
		
		-- borro versiÃ³n
		IF @lv_errcod=0
			BEGIN
				DELETE 
				FROM SLS_PRC_VER 
				WHERE buscod=@lp_buscod 
				  and slsprclstcod=@lp_slsprclstcod 
				  and slsprclstvercod=@lp_slsprclstvercod
				SET @lv_errcod = @@ERROR
			END

		-- actualizo la version anterior
		if @lv_errcod=0 and not isnull(@lv_slsprclstvercod_tmp,0)=0
			begin
				update sls_prc_ver
				set slsprclstenddte=@lv_slsprclstenddte_tmp
				where buscod=@lp_buscod
				  and slsprclstcod=@lp_slsprclstcod
					and slsprclstvercod=@lv_slsprclstvercod_tmp
				set @lv_errcod=@@ERROR
			end
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_slsprclstvercod, @lv_errcod as errcod, dbo.getErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' pv.* ',
			'	sls_prc p inner join sls_prc_ver pv on pv.buscod=p.buscod and pv.slsprclstcod=p.slsprclstcod ',
			' p.buscod='+QUOTENAME(@lp_buscod, ''''), '', default )
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
