USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[CNS_TSK_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CNS_TSK_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_cnstskcod 	as int						= null,	-- id 
@lp_cnstskcodext as nvarchar(20)	= null,	-- codigo 
@lp_cnstsktxt		as nvarchar(150)	= null,	-- descripcion 
@lp_matqty			as bigint					= null,	-- cantidad 
@lp_matuntcod		as nvarchar(05)		= null,	-- unidad de medida 
@lp_docsts 			as nvarchar(02)		= null,	-- estado 

@lp_vewcfg			as nvarchar(max)	= null,	-- configuraciÃ³n vista 

@lp_sysdocclscod	as int					= null,	-- id clase documento 
@lp_cnstskclscod	as int					= null,	-- id clasificacion 
@lp_cnstskatr		as nvarchar(max)	= null,	-- atributos 

@lp_rspobjtyp		as nvarchar(20)		= null,	-- Responsable - tipo origen
@lp_rspobjcod		as int						= null,	-- Responsable - codigo origen

@lp_cnstskrskctr as nvarchar(max) = null -- riesgos y controles (JSON)


 
AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0

DECLARE @lv_errtxt as nvarchar(max)

declare @lv_sql as nvarchar(max)
declare @lv_matcod as nvarchar(20)
declare @lv_matqty as decimal(13,3) = dbo.ConvertNumber( @lp_matqty , 3 )
DECLARE @lp_cnstskrsk nvarchar(max)  -- riesgos
DECLARE @lp_cnstskctr nvarchar(max) -- controles


-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'CNS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'TSK'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end


-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
--  -1  codigo duplicado													
--	-2	Codigo de material invÃ¡lido.										
--	-3	Unidad de medida invÃ¡lida.											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation = '12'
	BEGIN

		if not isnull(@lp_cnstskcodext,'')=''
			IF exists(select top 1 * from cns_tsk where buscod=@lp_buscod and not cnstskcod=@lp_cnstskcod and cnstskcodext=@lp_cnstskcodext)
				BEGIN
					SELECT null, -1 as errcod, 'Codigo duplicado.' as errtxt
					RETURN
				END

		if not isnull(@lp_matuntcod,'')=''
			IF not exists(select top 1 * from stk_mat_unt where buscod=@lp_buscod and matuntcod=@lp_matuntcod)
				BEGIN
					SELECT null, -3 as errcod, 'Unidad de medida invÃ¡lida.' as errtxt
					RETURN
				END

	END

-- ------------------------------------------------------------------------
-- P R E P A R A C I O N
-- ------------------------------------------------------------------------
IF @lp_sysoperation in ('01','11','02','12')
BEGIN
    BEGIN TRY
        -- preparo variable JSON vacÃ­a
        IF isnull(@lp_cnstskrskctr,'') = ''
            SET @lp_cnstskrskctr = '[]'

        -- elimino tabla temporal previa si existe
        IF OBJECT_ID('tempdb..#tmpCnsTskRskCtr') is not null
            DROP TABLE #tmpCnsTskRskCtr
        -- Desescapa las comillas y backslashes
        set @lp_cnstskrskctr = REPLACE(REPLACE(REPLACE(@lp_cnstskrskctr, '\"', '"'), '\\', ''), '"#', '#');

        -- cargo el JSON en tabla temporal
        SELECT * INTO #tmpCnsTskRskCtr FROM OPENJSON(@lp_cnstskrskctr) WITH (
            cnstskrskctrcod int          '$.cnstskrskctrcod',
            cnsrskctrcod    int          '$.cnsrskctrcod',
            docsts          nvarchar(2)  '$.docsts'
        );

    END TRY
    BEGIN CATCH
        EXEC SYS_APP_LOG_SQL_DEF @lp_username, @lp_buscod;
        SELECT null, 'E' as errtyp, ERROR_NUMBER() as errcod, ERROR_MESSAGE() as errtxt, ERROR_PROCEDURE() + ' ' + CAST(ERROR_LINE() as nvarchar(20)) AS errtch;
        RETURN
    END CATCH
END;
	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN

		-- creo registro de stock 
		INSERT INTO CNS_TSK (buscod, cnstskcodext, cnstsktxt, matqty, matuntcod, sysdocclscod, CnsTskClsCod, CnsTskAtr, RspObjTyp, RspObjCod, 
			docsts, cteusr, ctedte)
		SELECT @lp_buscod, @lp_cnstskcodext, @lp_cnstsktxt, @lv_matqty, @lp_matuntcod, @lp_sysdocclscod, @lp_cnstskclscod, @lp_cnstskatr, @lp_rspobjtyp, @lp_rspobjcod,
			@lp_docsts, @lp_username, getdate()
		SET @lp_cnstskcod=@@IDENTITY
    
     -- inserto riesgos y controles
    INSERT INTO CNS_TSK_RSK_CTR (buscod, cnstskcod, cnsrskctrcod, docsts, cteusr, ctedte)
    SELECT @lp_buscod, @lp_cnstskcod, t.cnsrskctrcod, t.docsts, @lp_username, GETDATE()
    FROM #tmpCnsTskRskCtr t;
    
		SET @lv_errcod=@@ERROR
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnstskcod as cnstskcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1  

		BEGIN TRAN
		  
		UPDATE CNS_TSK
		SET	cnstskcodext = @lp_cnstskcodext,
			cnstsktxt = @lp_cnstsktxt,
			matqty = @lv_matqty,
			matuntcod = @lp_matuntcod,
			CnsTskClsCod = @lp_cnstskclscod,
			CnsTskAtr = @lp_cnstskatr, 
			RspObjTyp = @lp_rspobjtyp,
			rspobjcod = @lp_rspobjcod,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod=@lp_buscod
		  and cnstskcod=@lp_cnstskcod
		SET @lv_errcod=@@ERROR

		-- borro los elementos INACTIVOS para que no se sigan acumulando en la tarea
		if @lv_errcod=0
			BEGIN
				DELETE tm
				FROM CNS_TSK_MAT tm
				left join STK_MAT sm on sm.buscod=tm.buscod and tm.srcobjtyp='STK_MAT' and sm.matcod=tm.srcobjcod001 
				left join LOG_VHC sv on sv.buscod=tm.buscod and tm.srcobjtyp='LOG_VHC' and sv.vhccod=tm.srcobjcod001 
				left join HHR_EMP se on se.buscod=tm.buscod and tm.srcobjtyp='HHR_EMP' and se.hhrempcod=tm.srcobjcod001 
				left join CNS_TSK st on st.buscod=tm.buscod and tm.srcobjtyp='CNS_TSK' and st.cnstskcod=tm.srcobjcod001 
				left join BUY_SUP bs on st.buscod=tm.buscod and tm.srcobjtyp='BUY_SUP' and st.cnstskcod=tm.srcobjcod001 
				WHERE tm.buscod=@lp_buscod
				  and tm.cnstskcod=@lp_cnstskcod
				  and (case tm.srcobjtyp when 'BUY_SUP' then bs.docsts when 'STK_MAT' then sm.docsts when 'LOG_VHC' then sv.docsts when 'HHR_EMP' then se.docsts when 'CNS_TSK' then st.docsts else 'I' end) = 'I'
				SET @lv_errcod=@@ERROR
			END
      
    -- borro riesgos y controles que no vinieron en el json
     DELETE FROM CNS_TSK_RSK_CTR
     WHERE buscod = @lp_buscod 
      AND cnstskcod = @lp_cnstskcod
      AND cnstskrskctrcod not in (
          SELECT t.cnstskrskctrcod
          FROM #tmpCnsTskRskCtr t
          WHERE ISNULL(t.cnstskrskctrcod, 0) <> 0
      );
    
    -- actualizar lÃ­neas con id existente
    UPDATE d
       SET d.cnsrskctrcod = t.cnsrskctrcod,
           d.docsts       = t.docsts,
           d.updusr       = @lp_username,
           d.upddte       = getdate()
    FROM CNS_TSK_RSK_CTR d
    INNER JOIN #tmpCnsTskRskCtr t 
        ON t.cnstskrskctrcod = d.cnstskrskctrcod
    WHERE d.buscod = @lp_buscod
      AND d.cnstskcod = @lp_cnstskcod;

    -- insertar nuevas lÃ­neas (sin id)
    INSERT INTO CNS_TSK_RSK_CTR (buscod, cnstskcod, cnsrskctrcod, docsts, cteusr, ctedte)
    SELECT @lp_buscod, @lp_cnstskcod, t.cnsrskctrcod, t.docsts, @lp_username, getdate()
    FROM #tmpCnsTskRskCtr t
    WHERE ISNULL(t.cnstskrskctrcod, 0) = 0;
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnstskcod as cnstskcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    
		--json riesgos
		SET @lp_cnstskrsk = (SELECT rc.cnstskrskctrcod, rc.cnsrskctrcod,r.cnsrskctrtxt, rc.docsts
                         FROM CNS_TSK_RSK_CTR rc
                         left join CNS_RSK_CTR r on r.buscod = rc.buscod 
                          and r.cnsrskctrcod = rc.cnsrskctrcod
                         WHERE rc.buscod = @lp_buscod
                          and rc.cnstskcod = @lp_cnstskcod
                          and r.cnsrskctrtyp = 'R'
                         FOR JSON PATH
                       );
		if @lp_cnstskrsk is null set @lp_cnstskrsk = N'[]';
		if @lp_cnstskctr is null set @lp_cnstskctr = N'[]';
    --json controles
    SET @lp_cnstskctr = (SELECT rc.cnstskrskctrcod, rc.cnsrskctrcod, r.cnsrskctrtxt, rc.docsts
                         FROM CNS_TSK_RSK_CTR rc
                         left join CNS_RSK_CTR r on r.buscod = rc.buscod 
                           and r.cnsrskctrcod = rc.cnsrskctrcod
                         WHERE rc.buscod = @lp_buscod
                           and rc.cnstskcod = @lp_cnstskcod
                           and r.cnsrskctrtyp = 'C'
                         FOR JSON PATH
                        );
		IF @lp_cnstskctr IS NULL SET @lp_cnstskctr = N'[]';

    

    -- Devuelvo cabecera (tarea) + Ambos JSON de riesgos y controles
    SELECT t.*, tc.cnstskclstxt, a.adrnme001 as rspobjtxt, @lp_cnstskrsk as cnstskrsk, @lp_cnstskctr as cnstskctr
		FROM CNS_TSK t
		left join CNS_TSK_CLS tc on tc.buscod = t.buscod 
		 and tc.cnstskclscod = t.cnstskclscod
		left join GRL_DAT_ADR a on a.BusCod = t.BusCod 
		 and a.adrsrcTyp = t.rspobjtyp 
		 and a.adrsrccod = t.rspobjcod
		WHERE t.buscod = @lp_buscod
		  and t.cnstskcod = @lp_cnstskcod;
      
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
					
		BEGIN TRAN
		
		-- MATERIALES
		DELETE
		FROM CNS_TSK_mat
		WHERE buscod=@lp_buscod
		  and cnstskcod=@lp_cnstskcod
		SET @lv_errcod=@@ERROR
		
		-- borro textos
		IF @lv_errcod=0
			exec GRL_DAT_TXT_DEF '14', @lp_username, @lp_buscod, null, null, null, null, 'CNS_TSK', @lp_cnstskcod, null, null, null, @lv_errcod, @lv_errtxt

		-- TAREA
		IF @lv_errcod=0
			BEGIN
				DELETE
				FROM CNS_TSK
				WHERE buscod=@lp_buscod
				  and cnstskcod=@lp_cnstskcod
				SET @lv_errcod=@@ERROR
			END
							
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_cnstskcod as cnstskcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, 
      		'  t.*, dc.sysdocclstxt, tc.cnstskclstxt, a.adrnme001 as rspobjtxt  ',
      		'  CNS_TSK t '
			+ ' left join CNS_TSK_CLS tc on tc.buscod=t.BusCod and tc.cnstskclscod=t.CnsTskClsCod '
			+ ' left join GRL_DAT_ADR a on a.BusCod=t.BusCod and a.AdrSrcTyp=t.RspObjTyp and cast(a.AdrSrcCod as nvarchar(20))=cast(t.RspObjCod as nvarchar(20)) '
			+ ' inner join sys_doc_cls dc on dc.buscod=t.buscod and dc.sysdocclscod=t.sysdocclscod ',
			' t.buscod='+QUOTENAME(@lp_buscod, ''''), ' t.cnstsktxt asc ', default )		
		execute( @lv_sql )

	END


-- ------------------------------------------------------------------------ 
--   1 3    -    G E T    C O M P O N E N T S								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1

		-- CNS_TSK_def '13','mdominguez','temasis_log',35 

		declare @lv_srcobjtyp as nvarchar(20)
		declare @lv_cnstskcod as int
		declare @lv_i as int
		declare @lv_rowkey as nvarchar(400)

		-- creo estructua inicial con los componentes
		select tm.cnstskcod, tm.srcobjtyp, tm.srcobjcod001, tm.srcobjcod002, tm.matqty, tm.matuntcod, cast( 1000+ROW_NUMBER() OVER(ORDER BY tm.cnstskmatcod ASC) as nvarchar(400)) AS rowkey,
			(case tm.srcobjtyp when 'BUY_SUP' then bs.suptxt when 'STK_MAT' then sm.mattxt when 'LOG_VHC' then sv.vhctxt when 'HHR_EMP' then se.hhremptxt  when 'CNS_TSK' then st.cnstsktxt else '' end) as srcobjtxt, 
			(case tm.srcobjtyp when 'BUY_SUP' then bs.supcodext when 'STK_MAT' then sm.matcodext when 'LOG_VHC' then sv.vhccodext when 'HHR_EMP' then se.hhrempcodext  when 'CNS_TSK' then st.cnstskcodext else '' end) as srcobjcodext 
		into #tmp_data 
		from cns_tsk_mat tm
			 left join STK_MAT sm on sm.buscod=tm.buscod and tm.srcobjtyp='STK_MAT' and sm.matcod=tm.srcobjcod001 
			 left join LOG_VHC sv on sv.buscod=tm.buscod and tm.srcobjtyp='LOG_VHC' and sv.vhccod=tm.srcobjcod001 
			 left join HHR_EMP se on se.buscod=tm.buscod and tm.srcobjtyp='HHR_EMP' and se.hhrempcod=tm.srcobjcod001 
			 left join CNS_TSK st on st.buscod=tm.buscod and tm.srcobjtyp='CNS_TSK' and st.cnstskcod=tm.srcobjcod001 
			 left join BUY_SUP bs on bs.buscod=tm.buscod and tm.srcobjtyp='BUY_SUP' and bs.supcod=tm.srcobjcod001 
		where tm.buscod=@lp_buscod
		  and tm.cnstskcod=@lp_cnstskcod
		set @lv_i = 0

		-- declaro cursor
		declare lv_cur cursor for select srcobjcod001, srcobjtyp, rowkey from #tmp_data
		open lv_cur
		fetch next from lv_cur into @lv_cnstskcod, @lv_srcobjtyp, @lv_rowkey
		while @@FETCH_STATUS=0 and @lv_i<5
			begin
				if @lv_srcobjtyp='CNS_TSK'
					begin
						insert into #tmp_data
							select tm.cnstskcod, tm.srcobjtyp, tm.srcobjcod001, tm.srcobjcod002, tm.matqty, tm.matuntcod, @lv_rowkey+'.'+cast(1000+ROW_NUMBER() OVER(ORDER BY tm.cnstskmatcod ASC) as nvarchar(400)),
								(case tm.srcobjtyp when 'BUY_SUP' then bs.suptxt when 'STK_MAT' then sm.mattxt when 'LOG_VHC' then sv.vhctxt when 'HHR_EMP' then se.hhremptxt  when 'CNS_TSK' then st.cnstsktxt else '' end) as srcobjtxt, 
								(case tm.srcobjtyp when 'BUY_SUP' then bs.supcodext when 'STK_MAT' then sm.matcodext when 'LOG_VHC' then sv.vhccodext when 'HHR_EMP' then se.hhrempcodext  when 'CNS_TSK' then st.cnstskcodext else '' end) as srcobjcodext 
							from cns_tsk_mat tm
							left join STK_MAT sm on sm.buscod=tm.buscod and tm.srcobjtyp='STK_MAT' and sm.matcod=tm.srcobjcod001 
							left join LOG_VHC sv on sv.buscod=tm.buscod and tm.srcobjtyp='LOG_VHC' and sv.vhccod=tm.srcobjcod001 
							left join HHR_EMP se on se.buscod=tm.buscod and tm.srcobjtyp='HHR_EMP' and se.hhrempcod=tm.srcobjcod001 
							left join CNS_TSK st on st.buscod=tm.buscod and tm.srcobjtyp='CNS_TSK' and st.cnstskcod=tm.srcobjcod001 
							left join BUY_SUP bs on bs.buscod=tm.buscod and tm.srcobjtyp='BUY_SUP' and bs.supcod=tm.srcobjcod001 
							where tm.buscod=@lp_buscod 
							  and tm.cnstskcod=@lv_cnstskcod
					end
				fetch next from lv_cur into @lv_cnstskcod, @lv_srcobjtyp, @lv_rowkey
				-- evito recursividad de tareas
				set @lv_i = len(@lv_rowkey)-len(replace(@lv_rowkey,'.',''))
			end
		close lv_cur
		deallocate lv_cur
		
		select * from #tmp_data order by rowkey

	END


	
IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
