USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[ADM_IDT_TYP_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADM_IDT_TYP_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_lndcod			as nvarchar(05),				-- codigo pais
@lp_idttypcod		as nvarchar(05) = null,	-- codigo
@lp_idttyptxt		as nvarchar(40)	= null,	-- descripcion
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null	-- configuracion ede la vista


AS

SET NOCOUNT ON
DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'SYS'
		DECLARE @lv_autprgcod as nvarchar(3) = 'LNI'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------
--   E R R O R E S
-- ------------------------------------------------------------------------
--	-1	PaÃ­s inexistente.
--	-2	CÃ³digo existente.
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation='11'
	BEGIN

		-- valido paÃ­s
		IF not exists (select top 1 * from grl_dat_lnd where lndcod=@lp_lndcod)
			BEGIN
				SELECT null, 'E' as errtyp, -1 as errcod, 'CountryNotFound' as errmsg
				RETURN
			END

		-- valido codigo
		IF exists (select top 1 * from adm_idt_typ where lndcod=@lp_lndcod and idttypcod=@lp_idttypcod)
			BEGIN
				SELECT null, 'E' as errtyp, -2 as errcod, 'CodeAlreadyExists' as errmsg
				RETURN
			END
			
	END
	
	
	
-- ------------------------------------------------------------------------
--   0 1    -    C R E A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO ADM_IDT_TYP (lndcod, idttypcod, idttyptxt, docsts, cteusr, ctedte)
		VALUES (@lp_lndcod, @lp_idttypcod,@lp_idttyptxt, @lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_idttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------
--   0 2    -    M O D I F I C A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
		
		UPDATE ADM_IDT_TYP 
		SET idttypTxt=@lp_idttyptxt, 
			docsts=@lp_docsts,
			updusr	= @lp_username,
			upddte	= getdate()
		WHERE lndcod=@lp_lndcod
		  and idttypCod = @lp_idttypcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_idttypcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END
		


-- ------------------------------------------------------------------------
--   0 3    -    V E R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1

		SELECT t.*, l.lndtxt
		FROM ADM_IDT_TYP t
    inner join GRL_DAT_LND l on l.lndcod=t.lndcod
		WHERE t.lndcod=@lp_lndcod
		  and t.idttypcod=@lp_idttypcod
		  
	END



-- ------------------------------------------------------------------------
--   0 4    -    B O R R A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1
			BEGIN TRAN
      
			DELETE
      FROM ADM_IDT_TYP
      WHERE lndcod=@lp_lndcod
      and idttypcod=@lp_idttypcod
      SET @lv_errcod = @@ERROR
      
      IF @lv_errcod=0
				COMMIT TRAN
			ELSE
				ROLLBACK TRAN
        
    	SELECT @lp_idttypcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
      
  END



-- ------------------------------------------------------------------------
--   0 8    -    L I S T A R
-- ------------------------------------------------------------------------
IF @lp_sysoperation='08' or @lp_sysoperation = '18'
	BEGIN
		SET @lv_validop = 1    
		
		-- adm_idt_typ_def '18','temasis','temasis_hlt', 'AR'

		set @lv_sql = dbo.getSQLSentence( @lp_vewcfg, ' t.*, l.lndtxt ',
			' ADM_IDT_TYP t '
			+ ' inner join GRL_DAT_LND l on l.lndcod=t.lndcod ',
			' 1=1 ', ' t.idttyptxt ', default )
		execute( @lv_sql )
		
  END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END
GO
