USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[FIN_LOC_ARG_LTR_DEF]    Script Date: 24/4/2026 14:02:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIN_LOC_ARG_LTR_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),					-- empresa 
@lp_argltrcod		as int			= null,				-- id 
@lp_argltrcodext	as nvarchar(02)	= null,	-- letra 
@lp_taxcatcodsrc	as nvarchar(10) = null,	-- categoria fiscal origen 
@lp_taxcatcoddst	as nvarchar(10) = null,	-- categoria fiscal destino 
@lp_argltroprtyp	as nvarchar(02)	= null,	-- tipo de operaciÃ³n 
@lp_docsts			as nvarchar(02)	= null,		-- estado 

@lp_vewcfg			as nvarchar(max)=null		-- config vista 

AS
 
SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
declare @lv_sql as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'FIN'
		DECLARE @lv_autprgcod as nvarchar(5) = 'ARLTR'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end
  
  
  
-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
if @lp_sysoperation='01' or @lp_sysoperation='02' or @lp_sysoperation='11' or @lp_sysoperation='12'
	BEGIN
		IF exists(select top 1 * from FIN_LOC_ARG_LTR where buscod=@lp_buscod and argltrcodext=@lp_argltrcodext and taxcatcodsrc=@lp_taxcatcodsrc and taxcatcoddst=@lp_taxcatcoddst and argltroprtyp=@lp_argltroprtyp) OR exists(select top 1 * from FIN_LOC_ARG_LTR where buscod=@lp_buscod and argltrcod=@lp_argltrcod)
			SET @lp_sysoperation = '02'
		ELSE
			SET @lp_sysoperation = '01'
	END



-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation='11'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
				
		INSERT INTO FIN_LOC_ARG_LTR (buscod,argltrcodext, taxcatcodsrc, taxcatcoddst, argltroprtyp,
			docsts, cteusr, ctedte)
		VALUES (@lp_buscod, @lp_argltrcodext,@lp_taxcatcodsrc,@lp_taxcatcoddst,@lp_argltroprtyp,
			@lp_docsts, @lp_username, getdate() )  
		SET @lv_errcod = @@ERROR
		SET @lp_argltrcod = @@IDENTITY

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_argltrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation='12'
	BEGIN
		SET @lv_validop = 1
    
		BEGIN TRAN
    -- si es un registro de la tabla de Reglas (tiene seteado @lp_argltrcod):
    IF (@lp_argltrcod IS NOT NULL AND LTRIM(RTRIM(@lp_argltrcod)) <> '')
      BEGIN
        UPDATE FIN_LOC_ARG_LTR
        SET argltroprtyp = @lp_argltroprtyp,
            taxcatcodsrc = @lp_taxcatcodsrc,
            taxcatcoddst = @lp_taxcatcoddst
        WHERE buscod = @lp_buscod
          AND argltrcod = @lp_argltrcod
        SET @lv_errcod = @@ERROR
      END
    
    IF @lv_errcod=0
      -- actualizo el resto de campos para todos los registros de la letra
      UPDATE FIN_LOC_ARG_LTR
      SET docsts       = @lp_docsts,
          upddte       = GETDATE(),
          updusr       = @lp_username
      WHERE buscod = @lp_buscod
        AND argltrcodext = @lp_argltrcodext
      SET @lv_errcod = @@ERROR

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		SELECT @lp_argltrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END
		


-- ------------------------------------------------------------------------ 
--   0 3    -    V E R	(grupal)											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation='13'
	BEGIN
		SET @lv_validop = 1    

		SELECT l.*, ts.taxcattxt as taxcattxtsrc, td.taxcattxt as taxcattxtdst 
		FROM FIN_LOC_ARG_LTR l 
		inner join ADM_BUS b on b.buscod=l.buscod
		inner join GRL_DAT_ADR ba on ba.buscod=b.buscod and ba.adrsrctyp='ADM_BUS' and ba.adrsrccod=l.buscod
		left join FIN_TAX_CAT ts on ts.lndcod=ba.lndcod and ts.taxcatcod=l.taxcatcodsrc 
		left join FIN_TAX_CAT td on td.lndcod=ba.lndcod and td.taxcatcod=l.taxcatcoddst 
		WHERE l.buscod=@lp_buscod
		  and l.ArgLtrCodExt=@lp_argltrcodext
		  
	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation='14'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN

		DELETE 
		FROM FIN_LOC_ARG_LTR
		WHERE buscod = @lp_buscod
		  and argltrcod = @lp_argltrcod
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_argltrcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R	(grupal)									
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation='18'
	BEGIN
		SET @lv_validop = 1    

		-- fin_loc_arg_ltr_def '08','temasis','temasis_log' 
		
		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.argltrcodext, l.docsts '
			+ ' FROM FIN_LOC_ARG_LTR l '
			+ ' inner join ADM_BUS b on b.buscod=l.buscod '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod, '''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ ' group by l.argltrcodext, l.docsts '
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'l.argltrcodext' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   2 4    -    B O R R A R	(grupal)									
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '24'
	BEGIN
		SET @lv_validop = 1
		
		BEGIN TRAN
			
		DELETE 
		FROM FIN_LOC_ARG_LTR
		WHERE buscod = @lp_buscod
		  and argltrcodext = @lp_argltrcodext
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod = 0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_argltrcodext, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt
	END



-- ------------------------------------------------------------------------ 
--   2 8    -    L I S T A R	(individual)								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '28'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT ' 
			+ dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' l.*, ts.taxcattxt as taxcattxtsrc, td.taxcattxt as taxcattxtdst '
			+ ' FROM FIN_LOC_ARG_LTR l '
			+ ' inner join ADM_BUS b on b.buscod=l.buscod '
			+ ' inner join GRL_DAT_ADR ba on ba.buscod=b.buscod and ba.adrsrctyp='+QUOTENAME('ADM_BUS','''')+' and ba.adrsrccod=l.buscod '
			+ ' left join FIN_TAX_CAT ts on ts.lndcod=ba.lndcod and ts.taxcatcod=l.taxcatcodsrc '
			+ ' left join FIN_TAX_CAT td on td.lndcod=ba.lndcod and td.taxcatcod=l.taxcatcoddst '
			+ ' WHERE l.buscod='+QUOTENAME(@lp_buscod,'''')
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', (CASE WHEN dbo.GetTagValue('veword',@lp_vewcfg)='' THEN 'l.argltrcodext' ELSE dbo.GetTagValue('veword',@lp_vewcfg) END ))
		execute( @lv_sql )
		
	END


IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END
GO
