USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[SYS_SEC_USR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_SEC_USR_DEF]

@lp_sysoperation 		as nvarchar(2),					-- operaciÃƒÂ³n 
@lp_username 			as nvarchar(20),					-- operaciÃƒÂ³n - usuario 
@lp_usrcod				as nvarchar(20)	= null,		-- cÃƒÂ³digo suario 
@lp_usrtxt				as nvarchar(82) = null,		-- nombre usuario 
@lp_adrnum				as int			= null,				-- id direcciÃƒÂ³n 
@lp_usrpwd				as nvarchar(512)= null,		-- constraseÃƒÂ±a 
@lp_lngcod				as nvarchar(2)	= null,		-- idioma 
@lp_usrcnthrs			as nvarchar(35) = null,		-- horario de contacto 
@lp_usrprfwndrfh		as bigint		= null,			-- intervalo de actualizaciÃƒÂ³n de listas 
@lp_usrprfwndsty		as nvarchar(50) = null,	-- estilo 
@lp_usrautlvl			as int			= null,				-- nivel de autorizaciÃƒÂ³n 
@lp_docsts				as nvarchar(1)	= null,		-- estado 

@lp_vewcfg				as nvarchar(4000)=null,		-- configuraciÃƒÂ³n vista 

@lp_usratr001			as nvarchar(4000)=null,		-- atributos 
@lp_usratr002			as nvarchar(4000)=null,		-- atributos 
@lp_usratr003			as nvarchar(4000)=null,		-- atributos 
@lp_usrsysacc			as int					= null		-- usuario de sistema (1-si / 0-no)

AS


SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtxt nvarchar(max) = 0

declare @lv_sql as nvarchar(max)

declare @lv_usrprfwndrfh as decimal(13,3) = dbo.ConvertNumber( @lp_usrprfwndrfh, 3 )



-- ------------------------------------------------------------------------ 
--   E R R O R E S															
-- ------------------------------------------------------------------------ 
--	-1	Usuario/contrasena invalido
--	-2	Usuario bloqueado
--	-3	Codigo de usuario existente
--	-4	No se puede asignar un nivel de autorizacion al propio
--	-5 No se puede repetir la contrasena
-- ------------------------------------------------------------------------ 



-- ------------------------------------------------------------------------ 
--   V A L I D A C I O N E S												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN
	
		-- valido el nivel de autorizaciÃƒÂ³n 
		IF isnull(@lp_usrautlvl,0)>isnull((select top 1 usrautlvl from sys_sec_usr where usrcod=@lp_username),0)
			BEGIN
				SELECT null, -4 as errcod, 'No se puede asignar un nivel de autorizacion al propio.' as errtxt
				RETURN
			END

		if @lp_sysoperation='01'
			IF exists(select top 1 * from sys_sec_usr where usrcod=@lp_usrcod)
				BEGIN
					SELECT null, -2 as errcod, 'Codigo de usuario existente.' as errtxt
					RETURN
				END
	
		if exists( select top 1 * from sys_sec_usr where usrcod=@lp_usrcod )
			set @lp_sysoperation='02'
		else
			set @lp_sysoperation='01'

	END
	
	
	
-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01'
	BEGIN
		SET @lv_validop = 1    

		declare @lv_tmppwd as nvarchar(20)
		set @lv_tmppwd = '@#TMP' + cast ( cast( (rand()*100000) as int ) as nvarchar(5) )

		BEGIN TRAN

		INSERT INTO sys_sec_usr (usrcod, usrtxt, usrpwd, lngcod, usrcnthrs, usrprfwndrfh, usrprfwndsty, usrautlvl, usratr001, usracclck, docsts, ctedte, cteusr, usrsysacc)
		VALUES (@lp_usrcod, @lp_usrtxt, @lv_tmppwd, @lp_lngcod, @lp_usrcnthrs, @lv_usrprfwndrfh, @lp_usrprfwndsty, @lp_usrautlvl, @lp_usratr001, '', @lp_docsts, getdate(), @lp_username, @lp_usrsysacc)
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE sys_sec_usr 
		SET usrtxt = @lp_usrtxt,
			lngcod = @lp_lngcod,
			usrcnthrs = @lp_usrcnthrs,
			usrprfwndrfh = @lv_usrprfwndrfh,
			usrprfwndsty = @lp_usrprfwndsty,
			usrautlvl = @lp_usrautlvl,
			usratr001 = @lp_usratr001, 
			usrsysacc = @lp_usrsysacc,
			docsts = @lp_docsts,
			upddte = getdate(),
			updusr = @lp_username
		WHERE usrcod = @lp_usrcod
		SET @lv_errcod=@@ERROR
					
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		select @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT u.UsrCod, u.UsrTxt, u.LngCod, u.UsrAccLck, u.usratr001, u.usrprfwndsty, u.DocSts, u.CteDte, u.CteUsr, u.UpdUsr, u.UpdDte, u.usrsysacc, 
		a.AdrNum, a.adrlstnme, a.adrfrtnme, 
		a.adrstr, a.adrpstcod, a.AdrCty, a.AdrTwn as adrtwntxt,
		a.adrzon, a.lndcod, a.lndregcod, a.adrmapgeo, 
		a.AdrPhn001, a.AdrPhn002, a.AdrMblPhn, a.AdrFax, a.AdrEml, a.AdrWebPge, 
		l.LndTxt, lr.lndregtxt
		FROM sys_sec_usr u
		left join GRL_DAT_ADR a on a.BusCod='_SYS' and a.adrsrctyp='SYS_USR' and a.adrsrccod=u.usrcod
		left join GRL_DAT_LND l on l.LndCod=a.lndcod
		left join GRL_DAT_LND_REG lr on lr.LndCod=a.LndCod and lr.LndRegCod=a.lndregcod
		WHERE u.usrcod = @lp_usrcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN

		-- borro token de usuario 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_usr_tkn WHERE usrcod=@lp_usrcod
				SET @lv_errcod=@@ERROR
			END

		-- borro enlaces de objetos del usuario 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_usr_lnk WHERE usrcod=@lp_usrcod
				SET @lv_errcod=@@ERROR
			END

		-- borro permisos de usuario 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_per WHERE usrcod = @lp_usrcod
				SET @lv_errcod=@@ERROR
			END
					
		-- borro parametros de usuario 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_usr_prm WHERE usrcod = @lp_usrcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro asignacion de grupos 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_usr_grp WHERE usrcod = @lp_usrcod
				SET @lv_errcod=@@ERROR
			END
			
		-- borro asignacion de empresas 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_usr_bus WHERE usrcod = @lp_usrcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro direccion de usuarios 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM grl_dat_adr WHERE buscod='_SYS' and adrsrctyp='SYS_USR' and adrsrccod=@lp_usrcod
				SET @lv_errcod=@@ERROR
			END
		
		-- borro asignacion de directivas 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_drt_grp_asg WHERE srcobjtyp='SYS_USR' and srcobjcod001=@lp_usrcod
				SET @lv_errcod=@@ERROR
			END

		-- borro historial de contrasenas
		IF @lv_errcod=0
			BEGIN
				DELETE FROM SYS_SEC_USR_PWD_HST WHERE UsrCod=@lp_usrcod
				SET @lv_errcod=@@ERROR
			END

		-- borro usuarios 
		IF @lv_errcod=0
			BEGIN
				DELETE FROM sys_sec_usr WHERE usrcod = @lp_usrcod
				SET @lv_errcod=@@ERROR
			END
			
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN

		select @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END
	
	
	
-- ------------------------------------------------------------------------ 
--   0 7    -    L I S T A R	x	N O M B R E								
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '07'
	BEGIN
		SET @lv_validop = 1    

		SELECT usrcod
		FROM sys_sec_usr 
		WHERE usrcod like '%'+@lp_usrcod+'%'
		  and docsts='A'

	END
	
	
	
-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = dbo.getSQLSentence(@lp_vewcfg, ' u.UsrCod, u.UsrTxt, u.LngCod, u.DocSts, u.usrsysacc, '
			+ ' a.adrlstnme, a.adrfrtnme, a.adrstr, a.adrpstcod, a.AdrCty, a.AdrTwn as adrtwntxt, '
			+ ' a.adrzon, a.lndcod, a.lndregcod, '
			+ ' a.adrphn001, a.adrphn002, a.adrmblphn, a.adrfax, a.adreml, a.adrwebpge, '
			+ ' l.LndTxt, lr.lndregtxt, (case when isnull(usracclck,'+QUOTENAME('','''')+')='+QUOTENAME('','''')+' then '+QUOTENAME('','''')+' else '+QUOTENAME('<i class="fa fa-lock"></i>','''')+' end) as usrsts',
			' sys_sec_usr u '
			+ ' left join GRL_DAT_ADR a on a.buscod='+QUOTENAME('_SYS','''')+' and a.adrsrctyp='+QUOTENAME('SYS_USR','''')+' and a.adrsrccod=u.usrcod '
			+ ' left join GRL_DAT_LND l on l.lndcod=a.lndcod '
			+ ' left join GRL_DAT_LND_REG lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod ',
			' 1=1 '	+ (case when isnull(@lp_usrcod,'')='' then '' else ' and u.usrcod='+QUOTENAME(@lp_usrcod,'''') end),
			' usrtxt ', 'usrsts;u.usracclck' )
		execute( @lv_sql )

	END



-- ------------------------------------------------------------------------ 
--   1 0    -    C A M B I A R     P A S S W O R D							
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '10'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN
		
		if not isnull(@lp_usratr003, '')=''
			BEGIN
				-- 1. Buscar la contraseÃƒÂ±a ingresada entre las ÃƒÂºltimas contraseÃƒÂ±as del usuario 
				if exists(select usrpwd from(select top (CONVERT(int, @lp_usratr003)) usrpwd from SYS_SEC_USR_PWD_HST where UsrCod=@lp_usrcod order by CteDte desc) p where UsrPwd=@lp_usrpwd)
					BEGIN
						SELECT null, -5 as errcod, 'No se pueden repetir las ÃƒÂºltimas '+ @lp_usratr003 +' contraseÃƒÂ±as.' as errtxt
						ROLLBACK TRAN
						RETURN
					END

				-- 2. Eliminar las ultimas contrasenas que excedan el valor 
				;WITH cte(rownumber)AS(
					select ROW_NUMBER() OVER (ORDER BY usrcod, ctedte desc) as rownumber FROM sys_sec_usr_pwd_hst where usrcod=@lp_usrcod
				)
				delete from cte where rownumber > (CONVERT(int, @lp_usratr003))
				SET @lv_errcod=@@ERROR
				
			END
		
		IF @lv_errcod=0
			BEGIN
				UPDATE sys_sec_usr 
				SET usrpwd = @lp_usrpwd,
					UsrPwdChg = (case when isnull(@lp_usratr003,'')='' then '1' else '0' end),
					UsrPwdChgDte = getdate(),
					upddte = getdate(),
					updusr = @lp_username
				WHERE usrcod = @lp_usrcod
				SET @lv_errcod=@@ERROR
			END
			
		-- se graba la contrasena en la tabla de historial de contrasenas 
		IF @lv_errcod=0
			BEGIN
				INSERT INTO SYS_SEC_USR_PWD_HST(UsrCod, UsrPwd, docsts, CteDte, CteUsr) 
				VALUES (@lp_usrcod, @lp_usrpwd, 'A', getdate(), @lp_username)
				SET @lv_errcod=@@ERROR
			END

		-- se borran todos los token del usuario 		
		IF @lv_errcod=0
			begin
				DELETE 
				FROM sys_sec_usr_tkn
				WHERE usrcod=@lp_usrcod
			end

		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		select @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   1 1    -    V A L I D A R   L O G I N									
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    
		
		declare @lv_accqty as int
		declare @lv_acctme as int
		declare @lv_usrnme as nvarchar(20)
		declare @lv_docsts as nvarchar(02)
		declare @lv_usracclck as nvarchar(1)

		declare @lv_adreml as nvarchar(250)
		set @lv_adreml = dbo.GetTagValue('adreml',@lp_usratr001)

		-- obtengo datos del usuario 
		if ( isnull(@lv_adreml,'')='' )
			begin
				SELECT TOP 1 @lv_usrnme=usrcod, @lv_docsts=docsts, @lv_usracclck=usracclck 
				FROM sys_sec_usr 
				WHERE usrcod=@lp_usrcod 
					and usrpwd=@lp_usrpwd
			end
		else
			begin
				-- login Facebook
				if(dbo.getTagValue('lgnfcb',@lp_usratr001)='1')
					BEGIN					
						SELECT TOP 1 @lv_usrnme=u.usrcod, @lv_docsts=u.docsts, @lv_usracclck=u.usracclck 
						FROM sys_sec_usr u
						inner join grl_dat_adr a on a.buscod='_SYS' and a.AdrSrcTyp='SYS_USR' and a.AdrSrcCod=u.usrcod
						WHERE a.adreml=@lv_adreml
					END
				else
					BEGIN
						SELECT TOP 1 @lv_usrnme=u.usrcod, @lv_docsts=u.docsts, @lv_usracclck=u.usracclck 
						FROM sys_sec_usr u
						inner join grl_dat_adr a on a.buscod='_SYS' and a.AdrSrcTyp='SYS_USR' and a.AdrSrcCod=u.usrcod
						WHERE a.adreml=@lv_adreml
						  and u.usrpwd=@lp_usrpwd
					END

				set @lp_usrcod = @lv_usrnme
			end
				
		-- valido si el usuario existe 
		IF @lv_usrnme is null
			BEGIN
				
				-- obtengo cantidad de reintentos 
				select @lv_accqty=prmval from sys_app_prm where mdlcod='SYS' and prmcodext='LgnAccTryQty'
				set @lv_accqty = isnull(@lv_accqty, 99999)
				select @lv_acctme=prmval from sys_app_prm where mdlcod='SYS' and prmcodext='LgnAccTryTme'
				set @lv_acctme = isnull(@lv_acctme, 10)
				
				-- actualizo acceso de usuario 
				UPDATE sys_sec_usr
				SET UsrAccErrLstDte=getdate(),
					UsrAccErrQty=(case when datediff(minute, UsrAccErrLstDte, getdate())<=@lv_acctme then isnull(UsrAccErrQty,0) else 0 end) + 1,
					UsrAccLck=(case when datediff(minute, UsrAccErrLstDte, getdate())<=@lv_acctme then (case when isnull(UsrAccErrQty,0)+1>=@lv_accqty then 'X' else '' end) else '' end)
				FROM sys_sec_usr
				WHERE usrcod=@lp_usrcod
				  and docsts='A'

				-- verifico si el usuario esta bloqueado 
				SELECT TOP 1 @lv_usrnme=usrcod, @lv_usracclck=usracclck FROM sys_sec_usr WHERE usrcod=@lp_usrcod
				
				IF isnull(@lv_usracclck,'')=''
					BEGIN
						SELECT null, -1 as errcod, 'Usuario/contraseÃ±a invalido.' as errtxt, @lp_usrcod as usrcod
						RETURN
					END
				ELSE IF @lv_usracclck='X'
					BEGIN
						SELECT null, -2 as errcod, 'Usuario bloqueado.' as errtxt, @lp_usrcod as usrcod
						RETURN
					END
					
			END
		-- usuario existente e inhabilitado 
		ELSE IF	@lv_docsts='I' or isnull(@lv_usracclck,'')='X'
			BEGIN
				SELECT null, -2 as errcod, 'Usuario bloqueado.' as errtxt, @lp_usrcod as usrcod
				RETURN
			END
		-- usuario existente y habilitado 
		ELSE
			BEGIN
				-- reinicializo contador de accesos invalidos 
				UPDATE sys_sec_usr 
				SET UsrAccErrLstDte=null, 
					UsrAccErrQty=null 
				FROM sys_sec_usr 
				WHERE usrcod=@lp_usrcod
				
				-- agrego log de acceso 
				INSERT INTO SYS_SEC_USR_LOG (usrcod, usrlogdte, usrlogadr, usrlogatrval001)
				VALUES(@lp_usrcod, getdate(), substring(@lp_usratr003,0,20), @lp_usratr002)
        
        IF @lp_usrcod='ROCHOA' or @lp_usrcod='HHR_EMP_21150' or @lp_usrcod='HHR_EMP_21130'
        	BEGIN
          -- creo/verifico existencia de token
          EXECUTE SYS_SEC_USR_TKN_DEF '01_sp', @lp_usrcod, NULL, @lp_usrcod, NULL, NULL, @lv_errcod, @lv_errtxt

          IF @lv_errcod != 0
            SELECT null, @lv_errcod as errcod, 'Error al generar token:'+@lv_errtxt as errtxt, @lp_usrcod as usrcod

          -- devuelvo respuesta 
          SELECT top 1 null, 0 as errcod, '' as errtxt, u.usrcod, usrtxt, usrprfwndsty as usrsty, usratr001,
            isnull(u.UsrPwdChg, '0') as usrpwdchg, datediff(day, isnull(u.usrpwdchgdte, '01-01-2000'), getdate()) as pwddays, usrsysacc,
            t.acctkn
          FROM sys_sec_usr u
          inner join sys_sec_usr_tkn t on t.usrcod = u.usrcod
          WHERE u.usrcod=@lp_usrcod 
            and t.acctknenddte>getdate() 
            and t.docsts='A'
          order by t.acctknenddte desc
          
          END
        ELSE
          -- devuelvo respuesta 
          SELECT top 1 null, 0 as errcod, '' as errtxt, u.usrcod, usrtxt, usrprfwndsty as usrsty, usratr001,
            isnull(u.UsrPwdChg, '0') as usrpwdchg, datediff(day, isnull(u.usrpwdchgdte, '01-01-2000'), getdate()) as pwddays, usrsysacc
          FROM sys_sec_usr u
          WHERE u.usrcod=@lp_usrcod 
        

			END
			
	END



-- ------------------------------------------------------------------------ 
--   1 2    -    V E R I F I C A R      C O N T R A S E ÃƒÂ‘ A					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1    

		SELECT usrcod, usrtxt
		FROM sys_sec_usr 
		WHERE usrcod=@lp_usrcod
		  and ( usrpwd=@lp_usrpwd or (@lp_usrpwd='' and left(usrpwd,5)='@#TMP'))

	END



-- ------------------------------------------------------------------------ 
--   1 7    -    D E S B L O Q U E A R     U S U A R I O					
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '17'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		UPDATE sys_sec_usr
		SET usracclck='',
		    usraccerrlstdte=null,
		    usraccerrqty=null,
			updusr=@lp_username,
			upddte=getdate()
		WHERE usrcod=@lp_usrcod
		  and usracclck='X'
		SET @lv_errcod=@@ERROR
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
			
		SELECT @lp_usrcod, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
		
	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El codigo de operacion <%s> no es valido', 16, -1, @lp_sysoperation)
	END

GO
