USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[GRL_DAT_ADR_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[GRL_DAT_ADR_DEF]

@lp_sysoperation 	as nvarchar(5),
@lp_username 		as nvarchar(20),
@lp_buscod 			as nvarchar(20)	= null,		/* empresa */
@lp_adrnum			as int			= null,		/* id direcciÃ³n */
@lp_adrlstnme		as nvarchar(50) = null,		/* apellido */
@lp_adrfrtnme		as nvarchar(50)	= null,		/* nombre */
@lp_adrnme001	 	as nvarchar(150)= null,		/* nombre y apellido */
@lp_adrstrnme		as nvarchar(50)	= null,		/* calle */
@lp_adrstrnum	 	as nvarchar(10)	= null,		/* nÃºmero */
@lp_adrstrflr 		as nvarchar(5)	= null,		/* piso */
@lp_adrstrunt 		as nvarchar(5)	= null,		/* departamento */
@lp_adrstrbld 		as nvarchar(10) = null,		/* edificio */
@lp_adrstr	 		as nvarchar(84) = null,		/* calle completa */
@lp_adrpstcod		as nvarchar(10) = null,		/* cÃ³digo postal */
@lp_adrcty 			as nvarchar(40)	= null,		/* ciudad/barrio */
@lp_lndtwncod		as nvarchar(5)	= null,		/* cÃ³digo de localidad */
@lp_adrtwntxt		as nvarchar(50) = null,		/* localidad */
@lp_lndregcod		as nvarchar(5)  = null, 	/* cÃ³digo de provincia */
@lp_lndcod			as nvarchar(5)  = null,		/* cÃ³digo de paÃ­s */
@lp_adrphn001		as nvarchar(40) = null,		/* telÃ©fono 1 */
@lp_adrphn002		as nvarchar(40) = null,		/* telÃ©fono 2 */
@lp_adrfax			as nvarchar(40)	= null,		/* fax */
@lp_adreml			as nvarchar(250)= null,		/* email */
@lp_adrwebpge		as nvarchar(250)= null,		/* pÃ¡gina web */
@lp_adrmblphn		as nvarchar(40) = null,		/* telÃ©fono celular */
@lp_adremgphn		as nvarchar(40) = null,		/* telÃ©fono urgencias */
@lp_docsts			as nvarchar(2)  = null,  	/* estado */
@lp_adrzon			as nvarchar(50) = null,		/* zona */

@lp_adrsrctyp		as nvarchar(20) = null,		/* origen - tipo */
@lp_adrsrccod		as nvarchar(20)	= null,		/* origen - codigo */

@lp_adrmapgeo		as nvarchar(50)	= null,		/* geolocalizaciÃ³n (lat, long) */

@lp_vewcfg			as nvarchar(4000)=null,		/* configuraciÃ³n vista */

@lp_trazoncod		as int			= null,		/* id zona de transporte */
@lp_adrzoncod		as int			= null,		/* id zona */

@lp_errtyp			as nvarchar(10)	= null OUTPUT,
@lp_errcod			as int			= null OUTPUT,
@lp_errtxt			as nvarchar(max)= null OUTPUT

AS

SET NOCOUNT ON
DECLARE @lv_validop INT
SET @lv_validop = 0

DECLARE @lv_errcod INT
SET @lv_errcod = 0

declare @lv_sql as nvarchar(4000)


/* ------------------------------------------------------------------------ */
/*   V A L I D A C I O N E S												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation='01' or @lp_sysoperation='02'
	BEGIN

		set @lp_adrnum = (select top 1 adrnum from grl_dat_adr where buscod=@lp_buscod and adrsrctyp=@lp_adrsrctyp and adrsrccod=@lp_adrsrccod)
		if isnull(@lp_adrnum,0)=0
			set @lp_sysoperation='01'
		else
			set @lp_sysoperation='02'

	END



/* ------------------------------------------------------------------------ */
/*   0 1    -    C R E A R													*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '01' or @lp_sysoperation = '01_sp'
	BEGIN
		SET @lv_validop = 1    
		if @lp_sysoperation = '01'
			BEGIN TRAN
    
		INSERT INTO GRL_DAT_ADR 
			(buscod, adrlstnme, adrfrtnme, adrnme001, 
			adrstrnme, adrstrnum, adrstrflr, adrstrunt, adrstrbld, adrstr, 
			adrpstcod, adrcty, lndtwncod, adrtwn, lndregcod, lndcod, 
			adrphn001, adrphn002, adrfax, adreml, adrwebpge, adrmblphn, adremgphn, 
			adrzon, adrsrctyp, adrsrccod, adrmapgeo, trazoncod, adrzoncod,
			docsts, ctedte, cteusr)
		VALUES 
			(@lp_buscod, @lp_adrlstnme, @lp_adrfrtnme, @lp_adrnme001, 
			@lp_adrstrnme, @lp_adrstrnum, @lp_adrstrflr, @lp_adrstrunt, @lp_adrstrbld, @lp_adrstr, 
			@lp_adrpstcod, @lp_adrcty, @lp_lndtwncod, @lp_adrtwntxt, @lp_lndregcod, @lp_lndcod, 
			@lp_adrphn001, @lp_adrphn002, @lp_adrfax, @lp_adreml, @lp_adrwebpge, @lp_adrmblphn, @lp_adremgphn, 
			@lp_adrzon, @lp_adrsrctyp, @lp_adrsrccod, @lp_adrmapgeo, @lp_trazoncod, @lp_adrzoncod,
			@lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_adrnum=@@IDENTITY
		
    IF @lp_sysoperation = '01'
			BEGIN
      If @lv_errcod=0
        COMMIT TRAN
      ELSE
        ROLLBACK TRAN
			SELECT @lp_adrnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt
      END
		ELSE
    	BEGIN
      set @lp_errcod = @lv_errcod
      set @lp_errtxt = dbo.GetErrorDescription( @lv_errcod )
      if @lp_errcod = 0
        set @lp_errtyp = 'S'
      else
        set @lp_errtyp = 'E'
    	RETURN
      END
	END



/* ------------------------------------------------------------------------ */
/*   0 2    -    M O D I F I C A R											*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '02'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		UPDATE GRL_DAT_ADR 
		SET	adrlstnme = @lp_adrlstnme,
			adrfrtnme = @lp_adrfrtnme,
			adrnme001 = @lp_adrnme001, 
			adrstrnme = @lp_adrstrnme, 
			adrstrnum = @lp_adrstrnum, 
			adrstrflr = @lp_adrstrflr, 
			adrstrunt = @lp_adrstrunt, 
			adrstrbld = @lp_adrstrbld, 
			adrstr    = @lp_adrstr, 
			adrpstcod = @lp_adrpstcod, 
			adrcty    = @lp_adrcty, 
			lndtwncod = @lp_lndtwncod, 
			adrtwn    = @lp_adrtwntxt, 
			lndregcod = @lp_lndregcod,
			lndcod    = @lp_lndcod, 
			adrphn001 = @lp_adrphn001, 
			adrphn002 = @lp_adrphn002, 
			adrfax    = @lp_adrfax, 
			adreml    = @lp_adreml, 
			adrwebpge = @lp_adrwebpge, 
			adrmblphn = @lp_adrmblphn, 
			adremgphn = @lp_adremgphn, 
			adrzon	  = @lp_adrzon,
			adrmapgeo = @lp_adrmapgeo,
			trazoncod = @lp_trazoncod, 
			adrzoncod = @lp_adrzoncod,
			docsts    = @lp_docsts,	
			updusr    = @lp_username,
			upddte    = getdate()
		WHERE buscod = @lp_buscod
		  and adrnum = @lp_adrnum
		SET @lv_errcod=@@ERROR

		If @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_adrnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END



/* ------------------------------------------------------------------------ */
/*   0 3    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '03'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, a.adrtwn as adrtwntxt, l.lndtxt, lr.lndregtxt, lt.lndtwntxt, tz.trazontxt, dz.adrzontxt 
		FROM GRL_DAT_ADR a
		left join grl_dat_lnd l on l.lndcod=a.lndcod
		left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
		left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod
		left join log_tra_zon tz on tz.buscod=a.buscod and tz.trazoncod=a.trazoncod 
		LEFT JOIN GRL_DAT_ZON dz on dz.buscod=a.BusCod and dz.adrzoncod=a.adrzoncod 
		WHERE a.buscod = @lp_buscod
		  and a.adrnum = @lp_adrnum

	END



/* ------------------------------------------------------------------------ */
/*   0 4    -    B O R R A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '04'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		DELETE 
		FROM GRL_DAT_ADR
		WHERE buscod = @lp_buscod
		  and adrnum = @lp_adrnum
		SET @lv_errcod=@@ERROR
		
		If @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_adrnum, @lv_errcod as errcod, dbo.GetErrorDescription( @lv_errcod ) as errtxt

	END


/* ------------------------------------------------------------------------ */
/*   0 5    -    V E R														*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '05'
	BEGIN
		SET @lv_validop = 1    

		SELECT a.*, a.adrtwn as adrtwntxt, l.lndtxt, lr.lndregtxt, lt.lndtwntxt, tz.trazontxt, dz.adrzontxt  
		FROM GRL_DAT_ADR a
		left join grl_dat_lnd l on l.lndcod=a.lndcod
		left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod
		left join grl_dat_lnd_twn lt on lt.lndcod=a.lndcod and lt.lndregcod=a.lndregcod and lt.lndtwncod=a.lndtwncod
		left join log_tra_zon tz on tz.buscod=a.buscod and tz.trazoncod=a.trazoncod 
		LEFT JOIN GRL_DAT_ZON dz on dz.buscod=a.BusCod and dz.adrzoncod=a.adrzoncod 
		WHERE a.buscod = @lp_buscod
		  and a.adrsrctyp = @lp_adrsrctyp
		  and a.adrsrccod = @lp_adrsrccod

	END

/* ------------------------------------------------------------------------ */
/*   0 8    -    L I S T A R												*/
/* ------------------------------------------------------------------------ */
IF @lp_sysoperation = '08'
	BEGIN
		SET @lv_validop = 1    

		set @lv_sql = 'SELECT  ' + dbo.GetVewTag( ' TOP ', dbo.GetTagValue('vewmax',@lp_vewcfg) )
			+ ' a.*, a.adrtwn as adrtwntxt, l.lndtxt, lr.lndregtxt, tz.trazontxt, dz.adrzontxt '
			+ ' FROM grl_dat_adr a '
			+ ' left join grl_dat_lnd l on l.lndcod=a.lndcod '
			+ ' left join grl_dat_lnd_reg lr on lr.lndcod=a.lndcod and lr.lndregcod=a.lndregcod '
			+ ' left join log_tra_zon tz on tz.buscod=a.buscod and tz.trazoncod=a.trazoncod '
			+ ' left join grl_dat_zon dz on dz.buscod=a.BusCod and dz.adrzoncod=a.adrzoncod '
			+ ' WHERE 1=1 '
 			+ dbo.GetVewTag( '', dbo.GetTagValue('vewflt',@lp_vewcfg) )
			+ dbo.GetVewTag( ' ORDER BY ', dbo.GetTagValue('veword',@lp_vewcfg) )
		execute( @lv_sql )

	END


IF @lv_validop = 0		/*   C O D I G O    O P E R A C I O N    I N V A L I D O   */
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END



GO
