USE [tmssTeam2]
GO
/****** Object:  StoredProcedure [dbo].[HHR_ORG_CHT_DEF]    Script Date: 24/4/2026 14:02:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HHR_ORG_CHT_DEF]

@lp_sysoperation 	as nvarchar(2),
@lp_username 		as nvarchar(20),
@lp_buscod			as nvarchar(20),
@lp_hhrorgchtcod	 as int			= null,	-- id
@lp_hhrorgchtcodext	as nvarchar(20)	= null,	-- codigo
@lp_hhrorgchttxt	as nvarchar(50)	= null,	-- descripciÃ³n
@lp_docsts			as nvarchar(02)	= null,	-- estado

@lp_vewcfg			as nvarchar(max)= null,	-- vista

@lp_sysdocclscod	as int

AS

SET NOCOUNT ON

DECLARE @lv_validop INT = 0
DECLARE @lv_errcod INT = 0
DECLARE @lv_errtyp nvarchar(1) = ''
DECLARE @lv_errtxt nvarchar(400) = ''

declare @lv_sql as nvarchar(max)
declare @lv_flt as nvarchar(max)
declare @lv_ord as nvarchar(max)



-- ------------------------------------------------------------------------
--   A U T O R I Z A C I O N
-- ------------------------------------------------------------------------
if exists(select top 1 * from dbo.StringSplit('01-02-03-04-08','-') where id=@lp_sysoperation)
	begin
		DECLARE @lv_autmdlcod as nvarchar(3) = 'HHR'
		DECLARE @lv_autprgcod as nvarchar(3) = 'ORG'
		if dbo.checkAuthorization(@lp_username,@lp_buscod,@lv_autmdlcod,@lv_autprgcod,(case when @lp_sysoperation='08' then '**' else @lp_sysoperation end) )=0
			begin
				select 'E' as errtyp, -9 as errcod, @lv_autmdlcod+char(9)+@lv_autprgcod+char(9)+@lp_sysoperation as errvar, 'InvalidAuthorization' as errmsg
				return
			end
	end



-- ------------------------------------------------------------------------ 
--   E R R O R E S											
-- ------------------------------------------------------------------------ 
--  - 1	Duplicate Ext Code						
-- ------------------------------------------------------------------------
IF @lp_sysoperation IN ('01', '11', '02', '12')
	begin

		if not isnull(@lp_hhrorgchtcodext, '')=''
			if exists(select top 1 * from HHR_ORG_CHT where buscod=@lp_buscod and not hhrorgchtcod=@lp_hhrorgchtcod and hhrorgchtcodext=@lp_hhrorgchtcodext)
				begin
					select 'E' as errtyp, -1 as errcod, 'DuplicateExtCode' as errmsg
					return
				end

	end


-- ------------------------------------------------------------------------ 
--   0 1    -    C R E A R													
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '01' or @lp_sysoperation = '11'
	BEGIN
		SET @lv_validop = 1    

		BEGIN TRAN
		
		INSERT INTO HHR_ORG_CHT (buscod, hhrorgchtcodext, hhrorgchttxt, sysdocclscod, docsts, ctedte, cteusr)
		VALUES (@lp_buscod, @lp_hhrorgchtcodext, @lp_hhrorgchttxt, @lp_sysdocclscod, @lp_docsts, getdate(), @lp_username)
		SET @lv_errcod=@@ERROR
		SET @lp_hhrorgchtcod=@@IDENTITY
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrorgchtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 2    -    M O D I F I C A R											
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '02' or @lp_sysoperation = '12'
	BEGIN
		SET @lv_validop = 1

		BEGIN TRAN
		
		UPDATE HHR_ORG_CHT 
		SET	hhrorgchtcodext = @lp_hhrorgchtcodext,
			hhrorgchttxt = @lp_hhrorgchttxt,
			docsts = @lp_docsts,
			updusr = @lp_username,
			upddte = getdate()
		WHERE buscod = @lp_buscod
		  and hhrorgchtcod = @lp_hhrorgchtcod
		SET @lv_errcod=@@ERROR
    
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrorgchtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 3    -    V E R														
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '03' or @lp_sysoperation = '13'
	BEGIN
		SET @lv_validop = 1    

		SELECT r.*
		FROM HHR_ORG_CHT r
		WHERE r.buscod=@lp_buscod
		  and r.hhrorgchtcod=@lp_hhrorgchtcod

	END



-- ------------------------------------------------------------------------ 
--   0 4    -    B O R R A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '04' or @lp_sysoperation = '14'
	BEGIN
		SET @lv_validop = 1    
		
		BEGIN TRAN

		EXECUTE HHR_ORG_CHT_WRK_DEF @lp_sysoperation 	= '14_sp', 
                                @lp_username 			= @lp_username, 
                                @lp_buscod 				= @lp_buscod, 
                                @lp_hhrorgchtcod 	= @lp_hhrorgchtcod, 
                                @lp_errtyp 				= @lv_errtyp OUTPUT, 
                                @lp_errcod 				= @lv_errcod OUTPUT, 
                                @lp_errtxt 				= @lv_errtxt OUTPUT
		IF @lv_errcod=0
			BEGIN
      
      DELETE
      FROM HHR_ORG_CHT
      WHERE buscod = @lp_buscod
        and hhrorgchtcod = @lp_hhrorgchtcod
      SET @lv_errcod=@@ERROR
      
    	END
		
		IF @lv_errcod=0
			COMMIT TRAN
		ELSE
			ROLLBACK TRAN
		
		SELECT @lp_hhrorgchtcod, @lv_errcod as errcod, dbo.GetErrorDescription(@lv_errcod) as errtxt

	END



-- ------------------------------------------------------------------------ 
--   0 8    -    L I S T A R												
-- ------------------------------------------------------------------------ 
IF @lp_sysoperation = '08' or @lp_sysoperation = '18' 
	BEGIN
		SET @lv_validop = 1    
		set @lv_sql = 
    dbo.GetSQLSentence( @lp_vewcfg, 
                  			' r.*',
                				' HHR_ORG_CHT r '
                       	+' inner join sys_doc_cls dc on dc.buscod=r.buscod and dc.sysdocclscod=r.sysdocclscod ',
                				' r.buscod='+QUOTENAME(@lp_buscod,''''),
                				'r.hhrorgchtcod desc', default)		
		
		execute( @lv_sql )

	END



IF @lv_validop = 0		--   C O D I G O    O P E R A C I O N    I N V A L I D O   
	BEGIN			
		RaisError('El cÃ³digo de operaciÃ³n <%s> no es vÃ¡lido', 16, -1, @lp_sysoperation)
	END





GO
