USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[GRL_DAT_CNT] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_CNT](
	[BusCod] [nvarchar](20) NOT NULL,
	[CntCod] [int] IDENTITY(1,1) NOT NULL,
	[CntTxt] [nvarchar](82) NOT NULL,
	[CntSrcTyp] [nvarchar](20) NOT NULL,
	[CntSrcCod] [nvarchar](20) NOT NULL,
	[AdrNum] [int] NULL,
	[CntBrnDte] [datetime] NULL,
	[CntSec] [nvarchar](20) NULL,
	[CntRel] [nvarchar](30) NULL,
	[CntCmt] [nvarchar](255) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[CntExtCod] [nvarchar](20) NULL,
	[CntTypCod] [nvarchar](10) NULL,
 CONSTRAINT [PK_GRL_DAT_CNT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CntCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
