USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[GRL_DAT_TXT] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_TXT](
	[BusCod] [nvarchar](20) NOT NULL,
	[TxtCod] [int] IDENTITY(1,1) NOT NULL,
	[TxtCodExt] [nvarchar](20) NULL,
	[TxtDes] [nvarchar](50) NULL,
	[LngCod] [nvarchar](2) NOT NULL,
	[TxtTxt] [nvarchar](max) NOT NULL,
	[TxtSrcTyp] [nvarchar](20) NOT NULL,
	[TxtSrcCod] [nvarchar](20) NOT NULL,
	[docsts] [nvarchar](2) NOT NULL,
	[ctedte] [smalldatetime] NOT NULL,
	[cteusr] [nvarchar](20) NOT NULL,
	[upddte] [smalldatetime] NULL,
	[updusr] [nvarchar](20) NULL,
	[TxtTypCod] [int] NULL,
 CONSTRAINT [PK_GRL_DAT_TXT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TxtCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
