USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_OBJ_VER] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OBJ_VER](
	[SysObjCod] [int] NOT NULL,
	[SysObjVerCod] [int] IDENTITY(1,1) NOT NULL,
	[SysObjVer] [int] NOT NULL,
	[SysObjCnt] [nvarchar](max) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_OBJ_VER] PRIMARY KEY CLUSTERED 
(
	[SysObjCod] ASC,
	[SysObjVerCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
