USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_SEC_DRT_TYP] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_DRT_TYP](
	[SysSecDrtTypCod] [int] IDENTITY(1,1) NOT NULL,
	[SysSecDrtTypCodExt] [nvarchar](40) NULL,
	[SysSecDrtTypTxt] [nvarchar](150) NOT NULL,
	[SysSecDrtTypTyp] [nvarchar](20) NULL,
	[SysSecDrtTypMin] [decimal](18, 2) NULL,
	[SysSecDrtTypMax] [decimal](18, 2) NULL,
	[SysSecDrtTypDef] [nvarchar](max) NULL,
	[SysSecDrtTypReq] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysSecDrtTypAtr] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYS_SEC_DRT_TYP] PRIMARY KEY CLUSTERED 
(
	[SysSecDrtTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
