USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_GRL_FLD] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GRL_FLD](
	[sysfld] [nvarchar](20) NOT NULL,
	[sysfldtxt] [nvarchar](20) NULL,
	[sysfldinptyp] [nvarchar](20) NOT NULL,
	[sysfldoutsze] [int] NOT NULL,
	[sysfldmaxlng] [int] NOT NULL,
	[sysfldico] [nvarchar](50) NULL,
	[sysfldbtnjs] [nvarchar](max) NULL,
	[sysfldkeyprs] [nvarchar](800) NULL,
	[sysfldkeyup] [nvarchar](800) NULL,
	[sysfldonBlur] [nvarchar](800) NULL,
	[sysfldonFocus] [nvarchar](800) NULL,
	[sysfldonKeydown] [nvarchar](800) NULL,
	[DocSts] [nvarchar](1) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_FLD] PRIMARY KEY CLUSTERED 
(
	[sysfld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
