USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_DOC_FRM_FLD_ATR] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_FRM_FLD_ATR](
	[SysDocFrmFldAtrCod] [int] IDENTITY(1,1) NOT NULL,
	[SysDocFrmFldAtrCodExt] [nvarchar](20) NULL,
	[SysDocFrmFldAtrTxt] [nvarchar](50) NOT NULL,
	[SysDocFrmFldAtrTag] [nvarchar](20) NULL,
	[SysDocFrmFldAtrOrd] [int] NULL,
	[SysDocFrmFldAtrElm] [nvarchar](400) NOT NULL,
	[SysDocFrmFldAtrObj] [nvarchar](20) NOT NULL,
	[SysDocFrmFldAtrTgt] [nvarchar](50) NULL,
	[SysDocFrmFldAtrDef] [nvarchar](50) NULL,
	[SysDocFrmFldAtrRpl] [int] NULL,
	[SysFld] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NULL,
	[CteDte] [smalldatetime] NULL,
	[CteUsr] [nvarchar](20) NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_DOC_FRM_FLD_ATR] PRIMARY KEY CLUSTERED 
(
	[SysDocFrmFldAtrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
