USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_FNC] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_FNC](
	[SysFncCod] [int] IDENTITY(1,1) NOT NULL,
	[SysFncCodExt] [nvarchar](20) NULL,
	[SysFncTxt] [nvarchar](50) NOT NULL,
	[SysFncTtl] [nvarchar](400) NULL,
	[SysFncDes] [nvarchar](max) NOT NULL,
	[AutLvl] [int] NULL,
	[SysFncHde] [int] NULL,
	[MdlCod] [nvarchar](20) NOT NULL,
	[SysFncPic] [nvarchar](250) NULL,
	[SysFncAtrVal001] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_FNC] PRIMARY KEY CLUSTERED 
(
	[SysFncCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
