USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_OBJ] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OBJ](
	[SysObjCod] [int] IDENTITY(1,1) NOT NULL,
	[SysObjCodExt] [nvarchar](250) NULL,
	[SysObjTxt] [nvarchar](250) NOT NULL,
	[SysObjClsCod] [int] NOT NULL,
	[SysObjVer] [int] NOT NULL,
	[SysObjLck] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysObjSys] [int] NULL,
	[SysDevGrp] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYS_OBJ] PRIMARY KEY CLUSTERED 
(
	[SysObjCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
