USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_IAA_ACT] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_IAA_ACT](
	[SysAppIaaActCod] [int] IDENTITY(1,1) NOT NULL,
	[SysAppIaaActCodExt] [nvarchar](20) NOT NULL,
	[SysAppIaaActTxt] [nvarchar](50) NULL,
	[SysAppIaaCod] [int] NOT NULL,
	[SysAppIaaActCmt] [nvarchar](4000) NULL,
	[SysAppIaaActPrmPpt] [nvarchar](max) NULL,
	[SysAppIaaActPrmJsn] [nvarchar](max) NULL,
	[SysAppIaaActAtr] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_APP_IAA_ACT] PRIMARY KEY CLUSTERED 
(
	[SysAppIaaActCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
