USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_SEC_USR_PRM] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_USR_PRM](
	[SecUsrPrmCod] [int] IDENTITY(1,1) NOT NULL,
	[SecUsrPrmTxt] [nvarchar](20) NOT NULL,
	[SecUsrPrmRefFld] [nvarchar](20) NOT NULL,
	[SecUsrPrmFltVal] [int] NOT NULL,
	[SecUsrPrmDefVal] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[ObjTypCod] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SYS_SEC_USR_PRM] PRIMARY KEY CLUSTERED 
(
	[SecUsrPrmCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
