USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_MDL] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_MDL](
	[codMDL] [nvarchar](20) NOT NULL,
	[desMDL] [varchar](255) NOT NULL,
	[ObjOrd] [int] NULL,
	[OBJLng] [nvarchar](2) NOT NULL,
	[OBJSts] [nvarchar](1) NOT NULL,
	[KeyMDL] [varchar](255) NULL,
	[DocSts] [nvarchar](2) NULL,
	[CteDte] [smalldatetime] NULL,
	[CteUsr] [nvarchar](20) NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[mdlpic] [nvarchar](255) NULL,
 CONSTRAINT [PK_SYS_APP_MDL] PRIMARY KEY CLUSTERED 
(
	[codMDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
