USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[ADM_BUS] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_BUS](
	[BusCod] [nvarchar](10) NOT NULL,
	[BusCodExt] [nvarchar](20) NULL,
	[BusTxt] [nvarchar](50) NULL,
	[AdrNum] [int] NULL,
	[BusTaxCat] [nvarchar](20) NOT NULL,
	[BusTaxCod] [nvarchar](18) NOT NULL,
	[BusActStr] [datetime] NOT NULL,
	[BusIIBB] [nvarchar](20) NULL,
	[BusCmt] [text] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_ADM_BUS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
