USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[GRL_RPT] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_RPT](
	[BusCod] [nvarchar](20) NOT NULL,
	[RptCod] [int] IDENTITY(1,1) NOT NULL,
	[RptTxt] [nvarchar](50) NOT NULL,
	[RptHieTxt] [nvarchar](4000) NULL,
	[RptSrcCod] [int] NULL,
	[RptSrcSys] [int] NULL,
	[RptAtr] [nvarchar](max) NULL,
	[RptShwRpm] [int] NULL,
	[RptPerUsr] [nvarchar](max) NULL,
	[RptPerRls] [nvarchar](max) NULL,
	[AutCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_RPT] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[RptCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
