USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_OBJ_CLS] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OBJ_CLS](
	[SysObjClsCod] [int] IDENTITY(1,1) NOT NULL,
	[SysObjClsCodExt] [nvarchar](20) NULL,
	[SysObjClsTxt] [nvarchar](50) NOT NULL,
	[SysObjClsTyp] [nvarchar](20) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysObjClsPth] [nvarchar](50) NULL,
	[SysObjClsFleExt] [nvarchar](20) NULL,
	[SysObjClsSys] [int] NULL,
 CONSTRAINT [PK_SYS_OBJ_CLS] PRIMARY KEY CLUSTERED 
(
	[SysObjClsCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
