USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[GRL_DMS_DOC] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DMS_DOC](
	[BusCod] [nvarchar](20) NOT NULL,
	[GrlDmsDocCod] [int] IDENTITY(1,1) NOT NULL,
	[GrlDmsDocCodExt] [nvarchar](20) NULL,
	[GrlDmsDocTxt] [nvarchar](250) NOT NULL,
	[GrlDmsFldCod] [int] NOT NULL,
	[GrlDmsDocSrc] [nvarchar](2) NOT NULL,
	[GrlDmsDocAtr] [nvarchar](max) NULL,
	[SrcObjTyp] [nvarchar](20) NULL,
	[SrcObjCod] [int] NULL,
	[SrcObjPos] [int] NULL,
	[SrcObjDocClsCod] [int] NULL,
	[PerUsrCod] [nvarchar](max) NULL,
	[PerUsrRls] [nvarchar](max) NULL,
	[AutCod] [nvarchar](5) NULL,
	[DocSts] [nvarchar](20) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DMS_DOC] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[GrlDmsDocCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
