USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_TRA] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_TRA](
	[SysTraCod] [int] IDENTITY(1,1) NOT NULL,
	[SysTraCodExt] [nvarchar](20) NULL,
	[SysTraTxt] [nvarchar](50) NOT NULL,
	[SrcBusCod] [nvarchar](20) NOT NULL,
	[SrcObjTyp] [nvarchar](20) NOT NULL,
	[SrcObjCod001] [nvarchar](20) NOT NULL,
	[SrcObjCod002] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDevGrpCod] [int] NULL,
 CONSTRAINT [PK_SYS_TRA] PRIMARY KEY CLUSTERED 
(
	[SysTraCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
