USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_INT_CNV] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_INT_CNV](
	[BusCod] [nvarchar](20) NOT NULL,
	[SysIntCnvCod] [int] IDENTITY(1,1) NOT NULL,
	[SysIntCod] [int] NOT NULL,
	[SysIntCnvKey] [nvarchar](50) NOT NULL,
	[SysIntCnvInb001] [nvarchar](20) NULL,
	[SysIntCnvInb002] [nvarchar](20) NULL,
	[SysIntCnvOut001] [nvarchar](20) NULL,
	[SysIntCnvOut002] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_INT_CNV] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[SysIntCnvCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
