USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_GRL_RPT_SRC] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GRL_RPT_SRC](
	[RptSrcCod] [int] IDENTITY(1,1) NOT NULL,
	[RptSrcTxt] [nvarchar](50) NOT NULL,
	[RptSrcSrc] [nvarchar](4000) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[RptSrcTyp] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_GRL_RPT_SRC] PRIMARY KEY CLUSTERED 
(
	[RptSrcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
