USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_PRG_VEW] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_PRG_VEW](
	[VewCod] [nvarchar](30) NOT NULL,
	[VewTtl] [nvarchar](40) NOT NULL,
	[VewSrc] [nvarchar](4000) NOT NULL,
	[VewSrcSys] [int] NOT NULL,
	[VewPic] [nvarchar](255) NOT NULL,
	[VewDefMaxRec] [int] NOT NULL,
	[VewAlwSrt] [int] NOT NULL,
	[VewAlwFlt] [int] NOT NULL,
	[VewSelMod] [nvarchar](1) NOT NULL,
	[VewSlc] [int] NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[VewAtr] [nvarchar](250) NULL,
 CONSTRAINT [PK_SYS_APP_PRG_VEW] PRIMARY KEY CLUSTERED 
(
	[VewCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
