USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_OBJ_TYP] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OBJ_TYP](
	[ObjTypCod] [nvarchar](20) NOT NULL,
	[ObjTypTxt] [nvarchar](50) NOT NULL,
	[MdlCod] [nvarchar](20) NOT NULL,
	[ObjTypTbl] [nvarchar](50) NULL,
	[ObjTypTblPos] [nvarchar](50) NULL,
	[ObjTypTblPosKey] [nvarchar](50) NULL,
	[ObjTypKey] [nvarchar](20) NULL,
	[ObjTypKeyTxt] [nvarchar](20) NULL,
	[ObjTypAtr] [nvarchar](max) NULL,
	[ObjTypCtr] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_OBJ_TYP] PRIMARY KEY CLUSTERED 
(
	[ObjTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
