USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_SEC_OPR] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SEC_OPR](
	[codMDL] [nvarchar](20) NOT NULL,
	[codPRG] [nvarchar](20) NOT NULL,
	[codOPR] [nvarchar](20) NOT NULL,
	[OprTxt] [nvarchar](40) NOT NULL,
	[OprPctNme] [nvarchar](50) NULL,
	[OprShwInGrd] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[OprNavUrl] [nvarchar](250) NULL,
 CONSTRAINT [PK_SYS_SEC_OPR] PRIMARY KEY CLUSTERED 
(
	[codMDL] ASC,
	[codPRG] ASC,
	[codOPR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
