USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_LOG_SQL] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_LOG_SQL](
	[ctedte] [smalldatetime] NOT NULL,
	[cteusr] [nvarchar](20) NOT NULL,
	[buscod] [nvarchar](20) NULL,
	[errornumber] [int] NULL,
	[errorseverity] [nvarchar](10) NULL,
	[errorstate] [nvarchar](10) NULL,
	[errorprocedure] [nvarchar](50) NULL,
	[errorline] [int] NULL,
	[errormessage] [nvarchar](max) NULL,
	[data] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
