USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[GRL_DAT_TAX] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_TAX](
	[BusCod] [nvarchar](20) NOT NULL,
	[TaxNum] [int] IDENTITY(1,1) NOT NULL,
	[FscCatCod] [nvarchar](10) NULL,
	[TaxCod] [nvarchar](18) NULL,
	[TaxIIBB] [nvarchar](20) NULL,
	[TaxActStr] [datetime] NULL,
	[TaxCur] [nvarchar](10) NULL,
	[TaxDocTyp] [nvarchar](5) NULL,
	[TaxDocNum] [nvarchar](10) NULL,
	[TaxSrcTyp] [nvarchar](20) NOT NULL,
	[TaxSrcCod] [nvarchar](10) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_GRL_DAT_TAX] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TaxNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
