USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_PRM] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_PRM](
	[PrmCod] [int] IDENTITY(1,1) NOT NULL,
	[PrmTxt] [nvarchar](50) NOT NULL,
	[PrmCodExt] [nvarchar](20) NOT NULL,
	[MdlCod] [nvarchar](20) NOT NULL,
	[PrmHie] [int] NULL,
	[PrmChg] [int] NULL,
	[PrmSys] [int] NULL,
	[PrmRefFld] [nvarchar](40) NULL,
	[PrmRstVal] [int] NULL,
	[PrmVal] [nvarchar](250) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_APP_PRM] PRIMARY KEY CLUSTERED 
(
	[PrmCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
