USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_LNG_TXT] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_LNG_TXT](
	[LngCod] [nvarchar](2) NOT NULL,
	[LngVar] [nvarchar](30) NOT NULL,
	[LngTxt] [nvarchar](400) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[LngTxtSht] [nvarchar](40) NULL,
	[LngTxtPls] [nvarchar](40) NULL,
 CONSTRAINT [PK_SYS_LNG_TXT] PRIMARY KEY CLUSTERED 
(
	[LngCod] ASC,
	[LngVar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
