USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_FNC_SUB] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_FNC_SUB](
	[SysFncSubCod] [int] IDENTITY(1,1) NOT NULL,
	[SysFncCod] [int] NOT NULL,
	[CusCod] [int] NOT NULL,
	[SysFncSubStrDte] [datetime] NOT NULL,
	[SysFncSubEndDte] [datetime] NOT NULL,
	[DocSts] [nvarchar](50) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_FNC_SUB] PRIMARY KEY CLUSTERED 
(
	[SysFncSubCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
