USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_DOC_CLS_ATR] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DOC_CLS_ATR](
	[SysDocClsAtrCod] [int] IDENTITY(1,1) NOT NULL,
	[ObjTyp] [nvarchar](10) NOT NULL,
	[SysDocClsAtrCodExt] [nvarchar](20) NOT NULL,
	[SysDocClsAtrTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsAtrHlp] [nvarchar](4000) NULL,
 CONSTRAINT [PK_SYS_DOC_CLS_ATR] PRIMARY KEY CLUSTERED 
(
	[SysDocClsAtrCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
