USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[GRL_DAT_TSK] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRL_DAT_TSK](
	[BusCod] [nvarchar](20) NOT NULL,
	[TskCod] [int] IDENTITY(1,1) NOT NULL,
	[TskCodExt] [nvarchar](20) NULL,
	[TskTxt] [nvarchar](50) NOT NULL,
	[TskStrDte] [datetime] NULL,
	[TskEndDte] [datetime] NULL,
	[TskFrqTyp] [nvarchar](10) NULL,
	[TskFrqAtr] [nvarchar](max) NULL,
	[SrcObjTyp] [nvarchar](20) NULL,
	[SrcObjCod001] [nvarchar](20) NULL,
	[TskUrl] [nvarchar](max) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[TskLstRunTme] [datetime] NULL,
	[TskLstRunSts] [nvarchar](20) NULL,
	[TskLstRunAtr] [nvarchar](max) NULL,
	[TskAtr] [nvarchar](max) NULL,
	[TskNxtRunTme] [datetime] NULL,
 CONSTRAINT [PK_GRL_DAT_TSK] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[TskCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
