USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_CNX] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CNX](
	[SysCnxCod] [int] IDENTITY(1,1) NOT NULL,
	[SysCnxCodExt] [nvarchar](10) NULL,
	[SysCnxTxt] [nvarchar](50) NOT NULL,
	[SysCnxPth] [nvarchar](50) NULL,
	[SysCnxSrv] [nvarchar](50) NULL,
	[SysCnxDb] [nvarchar](50) NULL,
	[SysCnxUsr] [nvarchar](50) NULL,
	[SysCnxPwd] [nvarchar](50) NULL,
	[SysCnxFlePth] [nvarchar](250) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_CNX] PRIMARY KEY CLUSTERED 
(
	[SysCnxCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
