USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[ADM_IDT_TYP] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADM_IDT_TYP](
	[LndCod] [nvarchar](5) NOT NULL,
	[IdtTypCod] [nvarchar](5) NOT NULL,
	[IdtTypTxt] [nvarchar](40) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_ADM_IDT_TYP] PRIMARY KEY CLUSTERED 
(
	[LndCod] ASC,
	[IdtTypCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
