USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_PRG_VEW_COL] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_PRG_VEW_COL](
	[VewFldCod] [int] IDENTITY(1,1) NOT NULL,
	[VewCod] [nvarchar](30) NOT NULL,
	[VewFld] [nvarchar](40) NOT NULL,
	[VewFldOrd] [int] NOT NULL,
	[VewFldTtl] [nvarchar](40) NOT NULL,
	[VewFldWth] [int] NULL,
	[VewFldAlg] [nvarchar](50) NULL,
	[VewFldDatPas] [int] NULL,
	[VewFldFlt] [int] NULL,
	[SysAppFld] [nvarchar](20) NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[VewFldAtr] [nvarchar](250) NULL,
 CONSTRAINT [PK_SYS_APP_PRG_VEW_COL] PRIMARY KEY CLUSTERED 
(
	[VewFldCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
