USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_API] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_API](
	[SysAppApiCod] [int] IDENTITY(1,1) NOT NULL,
	[SysAppApiCodExt] [nvarchar](50) NULL,
	[SysAppApiTxt] [nvarchar](50) NOT NULL,
	[SysAppApiVer] [int] NOT NULL,
	[SysAppApiUrl] [nvarchar](max) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysAppApiCmt] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYS_APP_API] PRIMARY KEY CLUSTERED 
(
	[SysAppApiCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'declaraciones de APIs del sistema' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SYS_APP_API'
GO
