USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_APP_PRG] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_APP_PRG](
	[codMDL] [nvarchar](20) NOT NULL,
	[codPRG] [nvarchar](20) NOT NULL,
	[desPRG] [nvarchar](40) NULL,
	[PRGFrmDat] [varchar](255) NULL,
	[PRGPictName] [varchar](255) NULL,
	[OBJLng] [nvarchar](2) NOT NULL,
	[OBJSts] [nvarchar](1) NOT NULL,
	[OBJOrd] [int] NULL,
	[PRGMnuChl] [nvarchar](50) NULL,
	[PRGMnuPar] [nvarchar](50) NULL,
	[PRGGrp] [varchar](255) NULL,
	[VewCod] [nvarchar](250) NULL,
	[PrgMnuHde] [int] NULL,
	[DocSts] [nvarchar](2) NULL,
	[CteDte] [smalldatetime] NULL,
	[CteUsr] [nvarchar](20) NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[PrgTypCod] [nvarchar](1) NULL,
	[SysObjId] [int] NULL,
	[PrgTrx] [nvarchar](5) NULL,
	[SysCfgObj] [int] NULL,
	[PrgCodExt] [int] IDENTITY(1,1) NOT NULL,
	[prgnavurl] [nvarchar](400) NULL,
 CONSTRAINT [PK_SYS_APP_PRG] PRIMARY KEY CLUSTERED 
(
	[codMDL] ASC,
	[codPRG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
