USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_GRL_RPT_SRC_COL] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_GRL_RPT_SRC_COL](
	[RptSrcCod] [int] NOT NULL,
	[RptSrcColCod] [int] IDENTITY(1,1) NOT NULL,
	[RptSrcColCodExt] [nvarchar](400) NOT NULL,
	[RptSrcColCodInt] [nvarchar](400) NULL,
	[RptSrcColTxt] [nvarchar](50) NOT NULL,
	[RptSrcColAtr] [nvarchar](max) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
 CONSTRAINT [PK_SYS_GRL_RPT_SRC_COL] PRIMARY KEY CLUSTERED 
(
	[RptSrcColCod] ASC,
	[RptSrcCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
