USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SYS_DEV_GRP] Fecha de script: 07/09/2026 17:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DEV_GRP](
	[SysDevGrpCod] [int] IDENTITY(1,1) NOT NULL,
	[SysDevGrpCodExt] [nvarchar](20) NULL,
	[SysDevGrpTxt] [nvarchar](50) NOT NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDevGrpUsr] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYS_DEV_GRP] PRIMARY KEY CLUSTERED 
(
	[SysDevGrpCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
