USE [tmssSysPrd]
GO
/****** Objeto: Table [dbo].[SLS_CUS] Fecha de script: 07/09/2026 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLS_CUS](
	[BusCod] [nvarchar](20) NOT NULL,
	[CusCod] [int] IDENTITY(1,1) NOT NULL,
	[CusCodExt] [nvarchar](20) NULL,
	[CusTxt] [nvarchar](50) NOT NULL,
	[AdrNum] [int] NULL,
	[CusCmt] [nvarchar](4000) NULL,
	[SlsPrcLstCod] [int] NULL,
	[SlsGrpCod] [int] NULL,
	[PayTrmCod] [int] NULL,
	[CusTypCod] [int] NULL,
	[DocSts] [nvarchar](2) NOT NULL,
	[CteDte] [smalldatetime] NOT NULL,
	[CteUsr] [nvarchar](20) NOT NULL,
	[UpdDte] [smalldatetime] NULL,
	[UpdUsr] [nvarchar](20) NULL,
	[SysDocClsCod] [int] NULL,
 CONSTRAINT [PK_SLS_CUS] PRIMARY KEY CLUSTERED 
(
	[BusCod] ASC,
	[CusCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
